{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-06-23",
        "endpointPrefix": "b2bi",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "protocolSettings": {
            "h2": "optional"
        },
        "serviceFullName": "AWS B2B Data Interchange",
        "serviceId": "b2bi",
        "signatureVersion": "v4",
        "signingName": "b2bi",
        "uid": "b2bi-2022-06-23",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/T6YJHHJNAXVWUJMGTTT5HKL5HUSXSCF6WECTGUONPRVDGPSDWJ2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D6C4GTCYM5WXQBTXYYKNK6TJX5MJCLE4MU7IOYV6KBQC4GCFR56Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MMRKOJJFMQIJEVX67BQWNFZSIDYTG5G7DIIRYAO7HBEAH7IK7ZOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4JV3EBQRLPKM37UKA7MJKR6X3UBPKNU4KWX3KZHLNFOUGUHSWNVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3T5IRYQACFBIZGUEOTUXIMEHA3RD357JVMF3LLQP3XF5NZ2LTB6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PPCRAWD4MZUZVP5LKRSJNZEL53TQ6J3477TAT5JJIPMMW7LIOSSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMEFK7P2WZJTKLBNHBBIOJVUCDYTCTJRBV7H2ZBWFWIHYIB6VDEQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/2PBSO53IDOXNIF75AVQICCMOMD5U2FAQFWIRHBZUQ4CYJCPU2IVA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CDSVQU53JWSTJ7P73XRKK66H5YF2EXJ75BO5ZCFUBOCLOULI75OA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EGM7JRDEII37VTNODTCNODIQ3MCFCQGCKO5I46KEUY2Y4M5ROL7A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/W5OEVQXR4V7PHNV4DF4KU7GKCONAEUDVKVBE27STWA5QPJTLLQGA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/T5WXG7NP6UZLHX2PWVSTJFDX3BYUIFCFCCDL4BORYAH7PJ4SV3DA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/A7X7GILKXXLYF6TPNB2FZCIAB2KFTGLTZVVADUTMLXW4MOR5DI4A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4BMFKTBAY2PMU4NGDCM57VLRDOLMLOMFC225HPDR7V7H6S33ZKDQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X2ZG5IR3SNMVTSJKR3ADHDK44WWGEPFLKDJOJHRXRTEKLEKYIOYQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GDWIP3XLW4UT7WINEEHLC3BNTEMRUZHCQHVUP2T5MRGOUYQUF5IA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/R33SILAOSUGUDBC2MVXID2O7PLTZZ2TVZY62OEF5HQJP4I53KVVQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3R4NM47ZUCBL4UKMSXZGKPQXRQBZ5A7HDQNKVJDRFDXZZJCF23ZA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/WJ2XY4G7IAK56USIDZGQM6L3TTA6LT3DVXJEMAHAG3HZ4GBGZHFQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RTHYJY7TNVKZHRFRFZAWXGQHHWQCJZAU563ERIZ3PGUK6TVSV5VQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XAZSKKUJZFF2DITJ5RPE3PX7Y447QKKKPDVUVC25N6EEJ76U66EQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6E6JF4ZRXZ4LGWGPKBPL4MV25E6AZGVMS3BDZXDWPLCARDSAZ3WA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3HNZFMIMRAKPODS2Y24GCT3HSQI3ZMCJYZXMURWITNVXXVZR3BBQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/FZIF6YFZHVGQYZE37XVUWZL7FQLPKJE6EM2V4AU6EWKKGXWE5JCQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
        ]
    },
    "operations": {
        "CreateCapability": {
            "http": {
                "requestUri": "/capabilities",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "type",
                    "configuration"
                ],
                "members": {
                    "name": {},
                    "type": {},
                    "configuration": {
                        "shape": "S4"
                    },
                    "instructionsDocuments": {
                        "shape": "Se"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "capabilityId",
                    "capabilityArn",
                    "name",
                    "type",
                    "configuration",
                    "createdAt"
                ],
                "members": {
                    "capabilityId": {},
                    "capabilityArn": {},
                    "name": {},
                    "type": {},
                    "configuration": {
                        "shape": "S4"
                    },
                    "instructionsDocuments": {
                        "shape": "Se"
                    },
                    "createdAt": {
                        "shape": "Sn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6C4GTCYM5WXQBTXYYKNK6TJX5MJCLE4MU7IOYV6KBQC4GCFR56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMRKOJJFMQIJEVX67BQWNFZSIDYTG5G7DIIRYAO7HBEAH7IK7ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JV3EBQRLPKM37UKA7MJKR6X3UBPKNU4KWX3KZHLNFOUGUHSWNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3T5IRYQACFBIZGUEOTUXIMEHA3RD357JVMF3LLQP3XF5NZ2LTB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPCRAWD4MZUZVP5LKRSJNZEL53TQ6J3477TAT5JJIPMMW7LIOSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMEFK7P2WZJTKLBNHBBIOJVUCDYTCTJRBV7H2ZBWFWIHYIB6VDEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2PBSO53IDOXNIF75AVQICCMOMD5U2FAQFWIRHBZUQ4CYJCPU2IVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CDSVQU53JWSTJ7P73XRKK66H5YF2EXJ75BO5ZCFUBOCLOULI75OA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EGM7JRDEII37VTNODTCNODIQ3MCFCQGCKO5I46KEUY2Y4M5ROL7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W5OEVQXR4V7PHNV4DF4KU7GKCONAEUDVKVBE27STWA5QPJTLLQGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5WXG7NP6UZLHX2PWVSTJFDX3BYUIFCFCCDL4BORYAH7PJ4SV3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A7X7GILKXXLYF6TPNB2FZCIAB2KFTGLTZVVADUTMLXW4MOR5DI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BMFKTBAY2PMU4NGDCM57VLRDOLMLOMFC225HPDR7V7H6S33ZKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X2ZG5IR3SNMVTSJKR3ADHDK44WWGEPFLKDJOJHRXRTEKLEKYIOYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GDWIP3XLW4UT7WINEEHLC3BNTEMRUZHCQHVUP2T5MRGOUYQUF5IA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R33SILAOSUGUDBC2MVXID2O7PLTZZ2TVZY62OEF5HQJP4I53KVVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3R4NM47ZUCBL4UKMSXZGKPQXRQBZ5A7HDQNKVJDRFDXZZJCF23ZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJ2XY4G7IAK56USIDZGQM6L3TTA6LT3DVXJEMAHAG3HZ4GBGZHFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RTHYJY7TNVKZHRFRFZAWXGQHHWQCJZAU563ERIZ3PGUK6TVSV5VQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAZSKKUJZFF2DITJ5RPE3PX7Y447QKKKPDVUVC25N6EEJ76U66EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6E6JF4ZRXZ4LGWGPKBPL4MV25E6AZGVMS3BDZXDWPLCARDSAZ3WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HNZFMIMRAKPODS2Y24GCT3HSQI3ZMCJYZXMURWITNVXXVZR3BBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZIF6YFZHVGQYZE37XVUWZL7FQLPKJE6EM2V4AU6EWKKGXWE5JCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreatePartnership": {
            "http": {
                "requestUri": "/partnerships",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "profileId",
                    "name",
                    "email"
                ],
                "members": {
                    "profileId": {},
                    "name": {},
                    "email": {
                        "shape": "Sr"
                    },
                    "phone": {
                        "shape": "Ss"
                    },
                    "capabilities": {
                        "shape": "St"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profileId",
                    "partnershipId",
                    "partnershipArn",
                    "createdAt"
                ],
                "members": {
                    "profileId": {},
                    "partnershipId": {},
                    "partnershipArn": {},
                    "name": {},
                    "email": {
                        "shape": "Sr"
                    },
                    "phone": {
                        "shape": "Ss"
                    },
                    "capabilities": {
                        "shape": "St"
                    },
                    "tradingPartnerId": {},
                    "createdAt": {
                        "shape": "Sn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6C4GTCYM5WXQBTXYYKNK6TJX5MJCLE4MU7IOYV6KBQC4GCFR56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMRKOJJFMQIJEVX67BQWNFZSIDYTG5G7DIIRYAO7HBEAH7IK7ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JV3EBQRLPKM37UKA7MJKR6X3UBPKNU4KWX3KZHLNFOUGUHSWNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3T5IRYQACFBIZGUEOTUXIMEHA3RD357JVMF3LLQP3XF5NZ2LTB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPCRAWD4MZUZVP5LKRSJNZEL53TQ6J3477TAT5JJIPMMW7LIOSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMEFK7P2WZJTKLBNHBBIOJVUCDYTCTJRBV7H2ZBWFWIHYIB6VDEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2PBSO53IDOXNIF75AVQICCMOMD5U2FAQFWIRHBZUQ4CYJCPU2IVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CDSVQU53JWSTJ7P73XRKK66H5YF2EXJ75BO5ZCFUBOCLOULI75OA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EGM7JRDEII37VTNODTCNODIQ3MCFCQGCKO5I46KEUY2Y4M5ROL7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W5OEVQXR4V7PHNV4DF4KU7GKCONAEUDVKVBE27STWA5QPJTLLQGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5WXG7NP6UZLHX2PWVSTJFDX3BYUIFCFCCDL4BORYAH7PJ4SV3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A7X7GILKXXLYF6TPNB2FZCIAB2KFTGLTZVVADUTMLXW4MOR5DI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BMFKTBAY2PMU4NGDCM57VLRDOLMLOMFC225HPDR7V7H6S33ZKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X2ZG5IR3SNMVTSJKR3ADHDK44WWGEPFLKDJOJHRXRTEKLEKYIOYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GDWIP3XLW4UT7WINEEHLC3BNTEMRUZHCQHVUP2T5MRGOUYQUF5IA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R33SILAOSUGUDBC2MVXID2O7PLTZZ2TVZY62OEF5HQJP4I53KVVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3R4NM47ZUCBL4UKMSXZGKPQXRQBZ5A7HDQNKVJDRFDXZZJCF23ZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJ2XY4G7IAK56USIDZGQM6L3TTA6LT3DVXJEMAHAG3HZ4GBGZHFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RTHYJY7TNVKZHRFRFZAWXGQHHWQCJZAU563ERIZ3PGUK6TVSV5VQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAZSKKUJZFF2DITJ5RPE3PX7Y447QKKKPDVUVC25N6EEJ76U66EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6E6JF4ZRXZ4LGWGPKBPL4MV25E6AZGVMS3BDZXDWPLCARDSAZ3WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HNZFMIMRAKPODS2Y24GCT3HSQI3ZMCJYZXMURWITNVXXVZR3BBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZIF6YFZHVGQYZE37XVUWZL7FQLPKJE6EM2V4AU6EWKKGXWE5JCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateProfile": {
            "http": {
                "requestUri": "/profiles",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "phone",
                    "businessName",
                    "logging"
                ],
                "members": {
                    "name": {},
                    "email": {
                        "shape": "Sr"
                    },
                    "phone": {
                        "shape": "Ss"
                    },
                    "businessName": {},
                    "logging": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profileId",
                    "profileArn",
                    "name",
                    "businessName",
                    "phone",
                    "createdAt"
                ],
                "members": {
                    "profileId": {},
                    "profileArn": {},
                    "name": {},
                    "businessName": {},
                    "phone": {
                        "shape": "Ss"
                    },
                    "email": {
                        "shape": "Sr"
                    },
                    "logging": {},
                    "logGroupName": {},
                    "createdAt": {
                        "shape": "Sn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6C4GTCYM5WXQBTXYYKNK6TJX5MJCLE4MU7IOYV6KBQC4GCFR56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMRKOJJFMQIJEVX67BQWNFZSIDYTG5G7DIIRYAO7HBEAH7IK7ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JV3EBQRLPKM37UKA7MJKR6X3UBPKNU4KWX3KZHLNFOUGUHSWNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3T5IRYQACFBIZGUEOTUXIMEHA3RD357JVMF3LLQP3XF5NZ2LTB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPCRAWD4MZUZVP5LKRSJNZEL53TQ6J3477TAT5JJIPMMW7LIOSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMEFK7P2WZJTKLBNHBBIOJVUCDYTCTJRBV7H2ZBWFWIHYIB6VDEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2PBSO53IDOXNIF75AVQICCMOMD5U2FAQFWIRHBZUQ4CYJCPU2IVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CDSVQU53JWSTJ7P73XRKK66H5YF2EXJ75BO5ZCFUBOCLOULI75OA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EGM7JRDEII37VTNODTCNODIQ3MCFCQGCKO5I46KEUY2Y4M5ROL7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W5OEVQXR4V7PHNV4DF4KU7GKCONAEUDVKVBE27STWA5QPJTLLQGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5WXG7NP6UZLHX2PWVSTJFDX3BYUIFCFCCDL4BORYAH7PJ4SV3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A7X7GILKXXLYF6TPNB2FZCIAB2KFTGLTZVVADUTMLXW4MOR5DI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BMFKTBAY2PMU4NGDCM57VLRDOLMLOMFC225HPDR7V7H6S33ZKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X2ZG5IR3SNMVTSJKR3ADHDK44WWGEPFLKDJOJHRXRTEKLEKYIOYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GDWIP3XLW4UT7WINEEHLC3BNTEMRUZHCQHVUP2T5MRGOUYQUF5IA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R33SILAOSUGUDBC2MVXID2O7PLTZZ2TVZY62OEF5HQJP4I53KVVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3R4NM47ZUCBL4UKMSXZGKPQXRQBZ5A7HDQNKVJDRFDXZZJCF23ZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJ2XY4G7IAK56USIDZGQM6L3TTA6LT3DVXJEMAHAG3HZ4GBGZHFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RTHYJY7TNVKZHRFRFZAWXGQHHWQCJZAU563ERIZ3PGUK6TVSV5VQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAZSKKUJZFF2DITJ5RPE3PX7Y447QKKKPDVUVC25N6EEJ76U66EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6E6JF4ZRXZ4LGWGPKBPL4MV25E6AZGVMS3BDZXDWPLCARDSAZ3WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HNZFMIMRAKPODS2Y24GCT3HSQI3ZMCJYZXMURWITNVXXVZR3BBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZIF6YFZHVGQYZE37XVUWZL7FQLPKJE6EM2V4AU6EWKKGXWE5JCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateTransformer": {
            "http": {
                "requestUri": "/transformers",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "fileFormat",
                    "mappingTemplate",
                    "ediType"
                ],
                "members": {
                    "name": {},
                    "fileFormat": {},
                    "mappingTemplate": {},
                    "ediType": {
                        "shape": "S6"
                    },
                    "sampleDocument": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "transformerId",
                    "transformerArn",
                    "name",
                    "fileFormat",
                    "mappingTemplate",
                    "status",
                    "ediType",
                    "createdAt"
                ],
                "members": {
                    "transformerId": {},
                    "transformerArn": {},
                    "name": {},
                    "fileFormat": {},
                    "mappingTemplate": {},
                    "status": {},
                    "ediType": {
                        "shape": "S6"
                    },
                    "sampleDocument": {},
                    "createdAt": {
                        "shape": "Sn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6C4GTCYM5WXQBTXYYKNK6TJX5MJCLE4MU7IOYV6KBQC4GCFR56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMRKOJJFMQIJEVX67BQWNFZSIDYTG5G7DIIRYAO7HBEAH7IK7ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JV3EBQRLPKM37UKA7MJKR6X3UBPKNU4KWX3KZHLNFOUGUHSWNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3T5IRYQACFBIZGUEOTUXIMEHA3RD357JVMF3LLQP3XF5NZ2LTB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPCRAWD4MZUZVP5LKRSJNZEL53TQ6J3477TAT5JJIPMMW7LIOSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMEFK7P2WZJTKLBNHBBIOJVUCDYTCTJRBV7H2ZBWFWIHYIB6VDEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2PBSO53IDOXNIF75AVQICCMOMD5U2FAQFWIRHBZUQ4CYJCPU2IVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CDSVQU53JWSTJ7P73XRKK66H5YF2EXJ75BO5ZCFUBOCLOULI75OA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EGM7JRDEII37VTNODTCNODIQ3MCFCQGCKO5I46KEUY2Y4M5ROL7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W5OEVQXR4V7PHNV4DF4KU7GKCONAEUDVKVBE27STWA5QPJTLLQGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5WXG7NP6UZLHX2PWVSTJFDX3BYUIFCFCCDL4BORYAH7PJ4SV3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A7X7GILKXXLYF6TPNB2FZCIAB2KFTGLTZVVADUTMLXW4MOR5DI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BMFKTBAY2PMU4NGDCM57VLRDOLMLOMFC225HPDR7V7H6S33ZKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X2ZG5IR3SNMVTSJKR3ADHDK44WWGEPFLKDJOJHRXRTEKLEKYIOYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GDWIP3XLW4UT7WINEEHLC3BNTEMRUZHCQHVUP2T5MRGOUYQUF5IA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R33SILAOSUGUDBC2MVXID2O7PLTZZ2TVZY62OEF5HQJP4I53KVVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3R4NM47ZUCBL4UKMSXZGKPQXRQBZ5A7HDQNKVJDRFDXZZJCF23ZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJ2XY4G7IAK56USIDZGQM6L3TTA6LT3DVXJEMAHAG3HZ4GBGZHFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RTHYJY7TNVKZHRFRFZAWXGQHHWQCJZAU563ERIZ3PGUK6TVSV5VQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAZSKKUJZFF2DITJ5RPE3PX7Y447QKKKPDVUVC25N6EEJ76U66EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6E6JF4ZRXZ4LGWGPKBPL4MV25E6AZGVMS3BDZXDWPLCARDSAZ3WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HNZFMIMRAKPODS2Y24GCT3HSQI3ZMCJYZXMURWITNVXXVZR3BBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZIF6YFZHVGQYZE37XVUWZL7FQLPKJE6EM2V4AU6EWKKGXWE5JCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteCapability": {
            "http": {
                "method": "DELETE",
                "requestUri": "/capabilities/{capabilityId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "capabilityId"
                ],
                "members": {
                    "capabilityId": {
                        "location": "uri",
                        "locationName": "capabilityId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6C4GTCYM5WXQBTXYYKNK6TJX5MJCLE4MU7IOYV6KBQC4GCFR56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMRKOJJFMQIJEVX67BQWNFZSIDYTG5G7DIIRYAO7HBEAH7IK7ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JV3EBQRLPKM37UKA7MJKR6X3UBPKNU4KWX3KZHLNFOUGUHSWNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3T5IRYQACFBIZGUEOTUXIMEHA3RD357JVMF3LLQP3XF5NZ2LTB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPCRAWD4MZUZVP5LKRSJNZEL53TQ6J3477TAT5JJIPMMW7LIOSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMEFK7P2WZJTKLBNHBBIOJVUCDYTCTJRBV7H2ZBWFWIHYIB6VDEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2PBSO53IDOXNIF75AVQICCMOMD5U2FAQFWIRHBZUQ4CYJCPU2IVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CDSVQU53JWSTJ7P73XRKK66H5YF2EXJ75BO5ZCFUBOCLOULI75OA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EGM7JRDEII37VTNODTCNODIQ3MCFCQGCKO5I46KEUY2Y4M5ROL7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W5OEVQXR4V7PHNV4DF4KU7GKCONAEUDVKVBE27STWA5QPJTLLQGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5WXG7NP6UZLHX2PWVSTJFDX3BYUIFCFCCDL4BORYAH7PJ4SV3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A7X7GILKXXLYF6TPNB2FZCIAB2KFTGLTZVVADUTMLXW4MOR5DI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BMFKTBAY2PMU4NGDCM57VLRDOLMLOMFC225HPDR7V7H6S33ZKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X2ZG5IR3SNMVTSJKR3ADHDK44WWGEPFLKDJOJHRXRTEKLEKYIOYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GDWIP3XLW4UT7WINEEHLC3BNTEMRUZHCQHVUP2T5MRGOUYQUF5IA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R33SILAOSUGUDBC2MVXID2O7PLTZZ2TVZY62OEF5HQJP4I53KVVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3R4NM47ZUCBL4UKMSXZGKPQXRQBZ5A7HDQNKVJDRFDXZZJCF23ZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJ2XY4G7IAK56USIDZGQM6L3TTA6LT3DVXJEMAHAG3HZ4GBGZHFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RTHYJY7TNVKZHRFRFZAWXGQHHWQCJZAU563ERIZ3PGUK6TVSV5VQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAZSKKUJZFF2DITJ5RPE3PX7Y447QKKKPDVUVC25N6EEJ76U66EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6E6JF4ZRXZ4LGWGPKBPL4MV25E6AZGVMS3BDZXDWPLCARDSAZ3WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HNZFMIMRAKPODS2Y24GCT3HSQI3ZMCJYZXMURWITNVXXVZR3BBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZIF6YFZHVGQYZE37XVUWZL7FQLPKJE6EM2V4AU6EWKKGXWE5JCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeletePartnership": {
            "http": {
                "method": "DELETE",
                "requestUri": "/partnerships/{partnershipId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "partnershipId"
                ],
                "members": {
                    "partnershipId": {
                        "location": "uri",
                        "locationName": "partnershipId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6C4GTCYM5WXQBTXYYKNK6TJX5MJCLE4MU7IOYV6KBQC4GCFR56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMRKOJJFMQIJEVX67BQWNFZSIDYTG5G7DIIRYAO7HBEAH7IK7ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JV3EBQRLPKM37UKA7MJKR6X3UBPKNU4KWX3KZHLNFOUGUHSWNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3T5IRYQACFBIZGUEOTUXIMEHA3RD357JVMF3LLQP3XF5NZ2LTB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPCRAWD4MZUZVP5LKRSJNZEL53TQ6J3477TAT5JJIPMMW7LIOSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMEFK7P2WZJTKLBNHBBIOJVUCDYTCTJRBV7H2ZBWFWIHYIB6VDEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2PBSO53IDOXNIF75AVQICCMOMD5U2FAQFWIRHBZUQ4CYJCPU2IVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CDSVQU53JWSTJ7P73XRKK66H5YF2EXJ75BO5ZCFUBOCLOULI75OA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EGM7JRDEII37VTNODTCNODIQ3MCFCQGCKO5I46KEUY2Y4M5ROL7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W5OEVQXR4V7PHNV4DF4KU7GKCONAEUDVKVBE27STWA5QPJTLLQGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5WXG7NP6UZLHX2PWVSTJFDX3BYUIFCFCCDL4BORYAH7PJ4SV3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A7X7GILKXXLYF6TPNB2FZCIAB2KFTGLTZVVADUTMLXW4MOR5DI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BMFKTBAY2PMU4NGDCM57VLRDOLMLOMFC225HPDR7V7H6S33ZKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X2ZG5IR3SNMVTSJKR3ADHDK44WWGEPFLKDJOJHRXRTEKLEKYIOYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GDWIP3XLW4UT7WINEEHLC3BNTEMRUZHCQHVUP2T5MRGOUYQUF5IA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R33SILAOSUGUDBC2MVXID2O7PLTZZ2TVZY62OEF5HQJP4I53KVVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3R4NM47ZUCBL4UKMSXZGKPQXRQBZ5A7HDQNKVJDRFDXZZJCF23ZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJ2XY4G7IAK56USIDZGQM6L3TTA6LT3DVXJEMAHAG3HZ4GBGZHFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RTHYJY7TNVKZHRFRFZAWXGQHHWQCJZAU563ERIZ3PGUK6TVSV5VQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAZSKKUJZFF2DITJ5RPE3PX7Y447QKKKPDVUVC25N6EEJ76U66EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6E6JF4ZRXZ4LGWGPKBPL4MV25E6AZGVMS3BDZXDWPLCARDSAZ3WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HNZFMIMRAKPODS2Y24GCT3HSQI3ZMCJYZXMURWITNVXXVZR3BBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZIF6YFZHVGQYZE37XVUWZL7FQLPKJE6EM2V4AU6EWKKGXWE5JCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/profiles/{profileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "profileId"
                ],
                "members": {
                    "profileId": {
                        "location": "uri",
                        "locationName": "profileId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6C4GTCYM5WXQBTXYYKNK6TJX5MJCLE4MU7IOYV6KBQC4GCFR56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMRKOJJFMQIJEVX67BQWNFZSIDYTG5G7DIIRYAO7HBEAH7IK7ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JV3EBQRLPKM37UKA7MJKR6X3UBPKNU4KWX3KZHLNFOUGUHSWNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3T5IRYQACFBIZGUEOTUXIMEHA3RD357JVMF3LLQP3XF5NZ2LTB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPCRAWD4MZUZVP5LKRSJNZEL53TQ6J3477TAT5JJIPMMW7LIOSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMEFK7P2WZJTKLBNHBBIOJVUCDYTCTJRBV7H2ZBWFWIHYIB6VDEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2PBSO53IDOXNIF75AVQICCMOMD5U2FAQFWIRHBZUQ4CYJCPU2IVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CDSVQU53JWSTJ7P73XRKK66H5YF2EXJ75BO5ZCFUBOCLOULI75OA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EGM7JRDEII37VTNODTCNODIQ3MCFCQGCKO5I46KEUY2Y4M5ROL7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W5OEVQXR4V7PHNV4DF4KU7GKCONAEUDVKVBE27STWA5QPJTLLQGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5WXG7NP6UZLHX2PWVSTJFDX3BYUIFCFCCDL4BORYAH7PJ4SV3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A7X7GILKXXLYF6TPNB2FZCIAB2KFTGLTZVVADUTMLXW4MOR5DI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BMFKTBAY2PMU4NGDCM57VLRDOLMLOMFC225HPDR7V7H6S33ZKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X2ZG5IR3SNMVTSJKR3ADHDK44WWGEPFLKDJOJHRXRTEKLEKYIOYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GDWIP3XLW4UT7WINEEHLC3BNTEMRUZHCQHVUP2T5MRGOUYQUF5IA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R33SILAOSUGUDBC2MVXID2O7PLTZZ2TVZY62OEF5HQJP4I53KVVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3R4NM47ZUCBL4UKMSXZGKPQXRQBZ5A7HDQNKVJDRFDXZZJCF23ZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJ2XY4G7IAK56USIDZGQM6L3TTA6LT3DVXJEMAHAG3HZ4GBGZHFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RTHYJY7TNVKZHRFRFZAWXGQHHWQCJZAU563ERIZ3PGUK6TVSV5VQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAZSKKUJZFF2DITJ5RPE3PX7Y447QKKKPDVUVC25N6EEJ76U66EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6E6JF4ZRXZ4LGWGPKBPL4MV25E6AZGVMS3BDZXDWPLCARDSAZ3WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HNZFMIMRAKPODS2Y24GCT3HSQI3ZMCJYZXMURWITNVXXVZR3BBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZIF6YFZHVGQYZE37XVUWZL7FQLPKJE6EM2V4AU6EWKKGXWE5JCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteTransformer": {
            "http": {
                "method": "DELETE",
                "requestUri": "/transformers/{transformerId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "transformerId"
                ],
                "members": {
                    "transformerId": {
                        "location": "uri",
                        "locationName": "transformerId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6C4GTCYM5WXQBTXYYKNK6TJX5MJCLE4MU7IOYV6KBQC4GCFR56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMRKOJJFMQIJEVX67BQWNFZSIDYTG5G7DIIRYAO7HBEAH7IK7ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JV3EBQRLPKM37UKA7MJKR6X3UBPKNU4KWX3KZHLNFOUGUHSWNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3T5IRYQACFBIZGUEOTUXIMEHA3RD357JVMF3LLQP3XF5NZ2LTB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPCRAWD4MZUZVP5LKRSJNZEL53TQ6J3477TAT5JJIPMMW7LIOSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMEFK7P2WZJTKLBNHBBIOJVUCDYTCTJRBV7H2ZBWFWIHYIB6VDEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2PBSO53IDOXNIF75AVQICCMOMD5U2FAQFWIRHBZUQ4CYJCPU2IVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CDSVQU53JWSTJ7P73XRKK66H5YF2EXJ75BO5ZCFUBOCLOULI75OA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EGM7JRDEII37VTNODTCNODIQ3MCFCQGCKO5I46KEUY2Y4M5ROL7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W5OEVQXR4V7PHNV4DF4KU7GKCONAEUDVKVBE27STWA5QPJTLLQGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5WXG7NP6UZLHX2PWVSTJFDX3BYUIFCFCCDL4BORYAH7PJ4SV3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A7X7GILKXXLYF6TPNB2FZCIAB2KFTGLTZVVADUTMLXW4MOR5DI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BMFKTBAY2PMU4NGDCM57VLRDOLMLOMFC225HPDR7V7H6S33ZKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X2ZG5IR3SNMVTSJKR3ADHDK44WWGEPFLKDJOJHRXRTEKLEKYIOYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GDWIP3XLW4UT7WINEEHLC3BNTEMRUZHCQHVUP2T5MRGOUYQUF5IA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R33SILAOSUGUDBC2MVXID2O7PLTZZ2TVZY62OEF5HQJP4I53KVVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3R4NM47ZUCBL4UKMSXZGKPQXRQBZ5A7HDQNKVJDRFDXZZJCF23ZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJ2XY4G7IAK56USIDZGQM6L3TTA6LT3DVXJEMAHAG3HZ4GBGZHFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RTHYJY7TNVKZHRFRFZAWXGQHHWQCJZAU563ERIZ3PGUK6TVSV5VQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAZSKKUJZFF2DITJ5RPE3PX7Y447QKKKPDVUVC25N6EEJ76U66EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6E6JF4ZRXZ4LGWGPKBPL4MV25E6AZGVMS3BDZXDWPLCARDSAZ3WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HNZFMIMRAKPODS2Y24GCT3HSQI3ZMCJYZXMURWITNVXXVZR3BBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZIF6YFZHVGQYZE37XVUWZL7FQLPKJE6EM2V4AU6EWKKGXWE5JCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "GetCapability": {
            "http": {
                "method": "GET",
                "requestUri": "/capabilities/{capabilityId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "capabilityId"
                ],
                "members": {
                    "capabilityId": {
                        "location": "uri",
                        "locationName": "capabilityId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "capabilityId",
                    "capabilityArn",
                    "name",
                    "type",
                    "configuration",
                    "createdAt"
                ],
                "members": {
                    "capabilityId": {},
                    "capabilityArn": {},
                    "name": {},
                    "type": {},
                    "configuration": {
                        "shape": "S4"
                    },
                    "instructionsDocuments": {
                        "shape": "Se"
                    },
                    "createdAt": {
                        "shape": "Sn"
                    },
                    "modifiedAt": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6C4GTCYM5WXQBTXYYKNK6TJX5MJCLE4MU7IOYV6KBQC4GCFR56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMRKOJJFMQIJEVX67BQWNFZSIDYTG5G7DIIRYAO7HBEAH7IK7ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JV3EBQRLPKM37UKA7MJKR6X3UBPKNU4KWX3KZHLNFOUGUHSWNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3T5IRYQACFBIZGUEOTUXIMEHA3RD357JVMF3LLQP3XF5NZ2LTB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPCRAWD4MZUZVP5LKRSJNZEL53TQ6J3477TAT5JJIPMMW7LIOSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMEFK7P2WZJTKLBNHBBIOJVUCDYTCTJRBV7H2ZBWFWIHYIB6VDEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2PBSO53IDOXNIF75AVQICCMOMD5U2FAQFWIRHBZUQ4CYJCPU2IVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CDSVQU53JWSTJ7P73XRKK66H5YF2EXJ75BO5ZCFUBOCLOULI75OA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EGM7JRDEII37VTNODTCNODIQ3MCFCQGCKO5I46KEUY2Y4M5ROL7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W5OEVQXR4V7PHNV4DF4KU7GKCONAEUDVKVBE27STWA5QPJTLLQGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5WXG7NP6UZLHX2PWVSTJFDX3BYUIFCFCCDL4BORYAH7PJ4SV3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A7X7GILKXXLYF6TPNB2FZCIAB2KFTGLTZVVADUTMLXW4MOR5DI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BMFKTBAY2PMU4NGDCM57VLRDOLMLOMFC225HPDR7V7H6S33ZKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X2ZG5IR3SNMVTSJKR3ADHDK44WWGEPFLKDJOJHRXRTEKLEKYIOYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GDWIP3XLW4UT7WINEEHLC3BNTEMRUZHCQHVUP2T5MRGOUYQUF5IA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R33SILAOSUGUDBC2MVXID2O7PLTZZ2TVZY62OEF5HQJP4I53KVVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3R4NM47ZUCBL4UKMSXZGKPQXRQBZ5A7HDQNKVJDRFDXZZJCF23ZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJ2XY4G7IAK56USIDZGQM6L3TTA6LT3DVXJEMAHAG3HZ4GBGZHFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RTHYJY7TNVKZHRFRFZAWXGQHHWQCJZAU563ERIZ3PGUK6TVSV5VQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAZSKKUJZFF2DITJ5RPE3PX7Y447QKKKPDVUVC25N6EEJ76U66EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6E6JF4ZRXZ4LGWGPKBPL4MV25E6AZGVMS3BDZXDWPLCARDSAZ3WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HNZFMIMRAKPODS2Y24GCT3HSQI3ZMCJYZXMURWITNVXXVZR3BBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZIF6YFZHVGQYZE37XVUWZL7FQLPKJE6EM2V4AU6EWKKGXWE5JCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "GetPartnership": {
            "http": {
                "method": "GET",
                "requestUri": "/partnerships/{partnershipId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "partnershipId"
                ],
                "members": {
                    "partnershipId": {
                        "location": "uri",
                        "locationName": "partnershipId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profileId",
                    "partnershipId",
                    "partnershipArn",
                    "createdAt"
                ],
                "members": {
                    "profileId": {},
                    "partnershipId": {},
                    "partnershipArn": {},
                    "name": {},
                    "email": {
                        "shape": "Sr"
                    },
                    "phone": {
                        "shape": "Ss"
                    },
                    "capabilities": {
                        "shape": "St"
                    },
                    "tradingPartnerId": {},
                    "createdAt": {
                        "shape": "Sn"
                    },
                    "modifiedAt": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6C4GTCYM5WXQBTXYYKNK6TJX5MJCLE4MU7IOYV6KBQC4GCFR56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMRKOJJFMQIJEVX67BQWNFZSIDYTG5G7DIIRYAO7HBEAH7IK7ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JV3EBQRLPKM37UKA7MJKR6X3UBPKNU4KWX3KZHLNFOUGUHSWNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3T5IRYQACFBIZGUEOTUXIMEHA3RD357JVMF3LLQP3XF5NZ2LTB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPCRAWD4MZUZVP5LKRSJNZEL53TQ6J3477TAT5JJIPMMW7LIOSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMEFK7P2WZJTKLBNHBBIOJVUCDYTCTJRBV7H2ZBWFWIHYIB6VDEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2PBSO53IDOXNIF75AVQICCMOMD5U2FAQFWIRHBZUQ4CYJCPU2IVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CDSVQU53JWSTJ7P73XRKK66H5YF2EXJ75BO5ZCFUBOCLOULI75OA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EGM7JRDEII37VTNODTCNODIQ3MCFCQGCKO5I46KEUY2Y4M5ROL7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W5OEVQXR4V7PHNV4DF4KU7GKCONAEUDVKVBE27STWA5QPJTLLQGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5WXG7NP6UZLHX2PWVSTJFDX3BYUIFCFCCDL4BORYAH7PJ4SV3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A7X7GILKXXLYF6TPNB2FZCIAB2KFTGLTZVVADUTMLXW4MOR5DI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BMFKTBAY2PMU4NGDCM57VLRDOLMLOMFC225HPDR7V7H6S33ZKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X2ZG5IR3SNMVTSJKR3ADHDK44WWGEPFLKDJOJHRXRTEKLEKYIOYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GDWIP3XLW4UT7WINEEHLC3BNTEMRUZHCQHVUP2T5MRGOUYQUF5IA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R33SILAOSUGUDBC2MVXID2O7PLTZZ2TVZY62OEF5HQJP4I53KVVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3R4NM47ZUCBL4UKMSXZGKPQXRQBZ5A7HDQNKVJDRFDXZZJCF23ZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJ2XY4G7IAK56USIDZGQM6L3TTA6LT3DVXJEMAHAG3HZ4GBGZHFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RTHYJY7TNVKZHRFRFZAWXGQHHWQCJZAU563ERIZ3PGUK6TVSV5VQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAZSKKUJZFF2DITJ5RPE3PX7Y447QKKKPDVUVC25N6EEJ76U66EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6E6JF4ZRXZ4LGWGPKBPL4MV25E6AZGVMS3BDZXDWPLCARDSAZ3WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HNZFMIMRAKPODS2Y24GCT3HSQI3ZMCJYZXMURWITNVXXVZR3BBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZIF6YFZHVGQYZE37XVUWZL7FQLPKJE6EM2V4AU6EWKKGXWE5JCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "GetProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/profiles/{profileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "profileId"
                ],
                "members": {
                    "profileId": {
                        "location": "uri",
                        "locationName": "profileId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profileId",
                    "profileArn",
                    "name",
                    "phone",
                    "businessName",
                    "createdAt"
                ],
                "members": {
                    "profileId": {},
                    "profileArn": {},
                    "name": {},
                    "email": {
                        "shape": "Sr"
                    },
                    "phone": {
                        "shape": "Ss"
                    },
                    "businessName": {},
                    "logging": {},
                    "logGroupName": {},
                    "createdAt": {
                        "shape": "Sn"
                    },
                    "modifiedAt": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6C4GTCYM5WXQBTXYYKNK6TJX5MJCLE4MU7IOYV6KBQC4GCFR56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMRKOJJFMQIJEVX67BQWNFZSIDYTG5G7DIIRYAO7HBEAH7IK7ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JV3EBQRLPKM37UKA7MJKR6X3UBPKNU4KWX3KZHLNFOUGUHSWNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3T5IRYQACFBIZGUEOTUXIMEHA3RD357JVMF3LLQP3XF5NZ2LTB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPCRAWD4MZUZVP5LKRSJNZEL53TQ6J3477TAT5JJIPMMW7LIOSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMEFK7P2WZJTKLBNHBBIOJVUCDYTCTJRBV7H2ZBWFWIHYIB6VDEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2PBSO53IDOXNIF75AVQICCMOMD5U2FAQFWIRHBZUQ4CYJCPU2IVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CDSVQU53JWSTJ7P73XRKK66H5YF2EXJ75BO5ZCFUBOCLOULI75OA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EGM7JRDEII37VTNODTCNODIQ3MCFCQGCKO5I46KEUY2Y4M5ROL7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W5OEVQXR4V7PHNV4DF4KU7GKCONAEUDVKVBE27STWA5QPJTLLQGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5WXG7NP6UZLHX2PWVSTJFDX3BYUIFCFCCDL4BORYAH7PJ4SV3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A7X7GILKXXLYF6TPNB2FZCIAB2KFTGLTZVVADUTMLXW4MOR5DI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BMFKTBAY2PMU4NGDCM57VLRDOLMLOMFC225HPDR7V7H6S33ZKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X2ZG5IR3SNMVTSJKR3ADHDK44WWGEPFLKDJOJHRXRTEKLEKYIOYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GDWIP3XLW4UT7WINEEHLC3BNTEMRUZHCQHVUP2T5MRGOUYQUF5IA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R33SILAOSUGUDBC2MVXID2O7PLTZZ2TVZY62OEF5HQJP4I53KVVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3R4NM47ZUCBL4UKMSXZGKPQXRQBZ5A7HDQNKVJDRFDXZZJCF23ZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJ2XY4G7IAK56USIDZGQM6L3TTA6LT3DVXJEMAHAG3HZ4GBGZHFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RTHYJY7TNVKZHRFRFZAWXGQHHWQCJZAU563ERIZ3PGUK6TVSV5VQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAZSKKUJZFF2DITJ5RPE3PX7Y447QKKKPDVUVC25N6EEJ76U66EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6E6JF4ZRXZ4LGWGPKBPL4MV25E6AZGVMS3BDZXDWPLCARDSAZ3WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HNZFMIMRAKPODS2Y24GCT3HSQI3ZMCJYZXMURWITNVXXVZR3BBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZIF6YFZHVGQYZE37XVUWZL7FQLPKJE6EM2V4AU6EWKKGXWE5JCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "GetTransformer": {
            "http": {
                "method": "GET",
                "requestUri": "/transformers/{transformerId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "transformerId"
                ],
                "members": {
                    "transformerId": {
                        "location": "uri",
                        "locationName": "transformerId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "transformerId",
                    "transformerArn",
                    "name",
                    "fileFormat",
                    "mappingTemplate",
                    "status",
                    "ediType",
                    "createdAt"
                ],
                "members": {
                    "transformerId": {},
                    "transformerArn": {},
                    "name": {},
                    "fileFormat": {},
                    "mappingTemplate": {},
                    "status": {},
                    "ediType": {
                        "shape": "S6"
                    },
                    "sampleDocument": {},
                    "createdAt": {
                        "shape": "Sn"
                    },
                    "modifiedAt": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6C4GTCYM5WXQBTXYYKNK6TJX5MJCLE4MU7IOYV6KBQC4GCFR56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMRKOJJFMQIJEVX67BQWNFZSIDYTG5G7DIIRYAO7HBEAH7IK7ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JV3EBQRLPKM37UKA7MJKR6X3UBPKNU4KWX3KZHLNFOUGUHSWNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3T5IRYQACFBIZGUEOTUXIMEHA3RD357JVMF3LLQP3XF5NZ2LTB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPCRAWD4MZUZVP5LKRSJNZEL53TQ6J3477TAT5JJIPMMW7LIOSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMEFK7P2WZJTKLBNHBBIOJVUCDYTCTJRBV7H2ZBWFWIHYIB6VDEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2PBSO53IDOXNIF75AVQICCMOMD5U2FAQFWIRHBZUQ4CYJCPU2IVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CDSVQU53JWSTJ7P73XRKK66H5YF2EXJ75BO5ZCFUBOCLOULI75OA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EGM7JRDEII37VTNODTCNODIQ3MCFCQGCKO5I46KEUY2Y4M5ROL7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W5OEVQXR4V7PHNV4DF4KU7GKCONAEUDVKVBE27STWA5QPJTLLQGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5WXG7NP6UZLHX2PWVSTJFDX3BYUIFCFCCDL4BORYAH7PJ4SV3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A7X7GILKXXLYF6TPNB2FZCIAB2KFTGLTZVVADUTMLXW4MOR5DI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BMFKTBAY2PMU4NGDCM57VLRDOLMLOMFC225HPDR7V7H6S33ZKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X2ZG5IR3SNMVTSJKR3ADHDK44WWGEPFLKDJOJHRXRTEKLEKYIOYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GDWIP3XLW4UT7WINEEHLC3BNTEMRUZHCQHVUP2T5MRGOUYQUF5IA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R33SILAOSUGUDBC2MVXID2O7PLTZZ2TVZY62OEF5HQJP4I53KVVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3R4NM47ZUCBL4UKMSXZGKPQXRQBZ5A7HDQNKVJDRFDXZZJCF23ZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJ2XY4G7IAK56USIDZGQM6L3TTA6LT3DVXJEMAHAG3HZ4GBGZHFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RTHYJY7TNVKZHRFRFZAWXGQHHWQCJZAU563ERIZ3PGUK6TVSV5VQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAZSKKUJZFF2DITJ5RPE3PX7Y447QKKKPDVUVC25N6EEJ76U66EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6E6JF4ZRXZ4LGWGPKBPL4MV25E6AZGVMS3BDZXDWPLCARDSAZ3WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HNZFMIMRAKPODS2Y24GCT3HSQI3ZMCJYZXMURWITNVXXVZR3BBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZIF6YFZHVGQYZE37XVUWZL7FQLPKJE6EM2V4AU6EWKKGXWE5JCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "GetTransformerJob": {
            "http": {
                "method": "GET",
                "requestUri": "/transformer-jobs/{transformerJobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "transformerJobId",
                    "transformerId"
                ],
                "members": {
                    "transformerJobId": {
                        "location": "uri",
                        "locationName": "transformerJobId"
                    },
                    "transformerId": {
                        "location": "querystring",
                        "locationName": "transformerId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {},
                    "outputFiles": {
                        "type": "list",
                        "member": {
                            "shape": "Sa"
                        }
                    },
                    "message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6C4GTCYM5WXQBTXYYKNK6TJX5MJCLE4MU7IOYV6KBQC4GCFR56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMRKOJJFMQIJEVX67BQWNFZSIDYTG5G7DIIRYAO7HBEAH7IK7ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JV3EBQRLPKM37UKA7MJKR6X3UBPKNU4KWX3KZHLNFOUGUHSWNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3T5IRYQACFBIZGUEOTUXIMEHA3RD357JVMF3LLQP3XF5NZ2LTB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPCRAWD4MZUZVP5LKRSJNZEL53TQ6J3477TAT5JJIPMMW7LIOSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMEFK7P2WZJTKLBNHBBIOJVUCDYTCTJRBV7H2ZBWFWIHYIB6VDEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2PBSO53IDOXNIF75AVQICCMOMD5U2FAQFWIRHBZUQ4CYJCPU2IVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CDSVQU53JWSTJ7P73XRKK66H5YF2EXJ75BO5ZCFUBOCLOULI75OA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EGM7JRDEII37VTNODTCNODIQ3MCFCQGCKO5I46KEUY2Y4M5ROL7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W5OEVQXR4V7PHNV4DF4KU7GKCONAEUDVKVBE27STWA5QPJTLLQGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5WXG7NP6UZLHX2PWVSTJFDX3BYUIFCFCCDL4BORYAH7PJ4SV3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A7X7GILKXXLYF6TPNB2FZCIAB2KFTGLTZVVADUTMLXW4MOR5DI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BMFKTBAY2PMU4NGDCM57VLRDOLMLOMFC225HPDR7V7H6S33ZKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X2ZG5IR3SNMVTSJKR3ADHDK44WWGEPFLKDJOJHRXRTEKLEKYIOYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GDWIP3XLW4UT7WINEEHLC3BNTEMRUZHCQHVUP2T5MRGOUYQUF5IA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R33SILAOSUGUDBC2MVXID2O7PLTZZ2TVZY62OEF5HQJP4I53KVVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3R4NM47ZUCBL4UKMSXZGKPQXRQBZ5A7HDQNKVJDRFDXZZJCF23ZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJ2XY4G7IAK56USIDZGQM6L3TTA6LT3DVXJEMAHAG3HZ4GBGZHFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RTHYJY7TNVKZHRFRFZAWXGQHHWQCJZAU563ERIZ3PGUK6TVSV5VQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAZSKKUJZFF2DITJ5RPE3PX7Y447QKKKPDVUVC25N6EEJ76U66EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6E6JF4ZRXZ4LGWGPKBPL4MV25E6AZGVMS3BDZXDWPLCARDSAZ3WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HNZFMIMRAKPODS2Y24GCT3HSQI3ZMCJYZXMURWITNVXXVZR3BBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZIF6YFZHVGQYZE37XVUWZL7FQLPKJE6EM2V4AU6EWKKGXWE5JCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "ListCapabilities": {
            "http": {
                "method": "GET",
                "requestUri": "/capabilities",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "capabilities"
                ],
                "members": {
                    "capabilities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "capabilityId",
                                "name",
                                "type",
                                "createdAt"
                            ],
                            "members": {
                                "capabilityId": {},
                                "name": {},
                                "type": {},
                                "createdAt": {
                                    "shape": "Sn"
                                },
                                "modifiedAt": {
                                    "shape": "S1g"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6C4GTCYM5WXQBTXYYKNK6TJX5MJCLE4MU7IOYV6KBQC4GCFR56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMRKOJJFMQIJEVX67BQWNFZSIDYTG5G7DIIRYAO7HBEAH7IK7ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JV3EBQRLPKM37UKA7MJKR6X3UBPKNU4KWX3KZHLNFOUGUHSWNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3T5IRYQACFBIZGUEOTUXIMEHA3RD357JVMF3LLQP3XF5NZ2LTB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPCRAWD4MZUZVP5LKRSJNZEL53TQ6J3477TAT5JJIPMMW7LIOSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMEFK7P2WZJTKLBNHBBIOJVUCDYTCTJRBV7H2ZBWFWIHYIB6VDEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2PBSO53IDOXNIF75AVQICCMOMD5U2FAQFWIRHBZUQ4CYJCPU2IVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CDSVQU53JWSTJ7P73XRKK66H5YF2EXJ75BO5ZCFUBOCLOULI75OA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EGM7JRDEII37VTNODTCNODIQ3MCFCQGCKO5I46KEUY2Y4M5ROL7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W5OEVQXR4V7PHNV4DF4KU7GKCONAEUDVKVBE27STWA5QPJTLLQGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5WXG7NP6UZLHX2PWVSTJFDX3BYUIFCFCCDL4BORYAH7PJ4SV3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A7X7GILKXXLYF6TPNB2FZCIAB2KFTGLTZVVADUTMLXW4MOR5DI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BMFKTBAY2PMU4NGDCM57VLRDOLMLOMFC225HPDR7V7H6S33ZKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X2ZG5IR3SNMVTSJKR3ADHDK44WWGEPFLKDJOJHRXRTEKLEKYIOYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GDWIP3XLW4UT7WINEEHLC3BNTEMRUZHCQHVUP2T5MRGOUYQUF5IA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R33SILAOSUGUDBC2MVXID2O7PLTZZ2TVZY62OEF5HQJP4I53KVVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3R4NM47ZUCBL4UKMSXZGKPQXRQBZ5A7HDQNKVJDRFDXZZJCF23ZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJ2XY4G7IAK56USIDZGQM6L3TTA6LT3DVXJEMAHAG3HZ4GBGZHFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RTHYJY7TNVKZHRFRFZAWXGQHHWQCJZAU563ERIZ3PGUK6TVSV5VQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAZSKKUJZFF2DITJ5RPE3PX7Y447QKKKPDVUVC25N6EEJ76U66EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6E6JF4ZRXZ4LGWGPKBPL4MV25E6AZGVMS3BDZXDWPLCARDSAZ3WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HNZFMIMRAKPODS2Y24GCT3HSQI3ZMCJYZXMURWITNVXXVZR3BBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZIF6YFZHVGQYZE37XVUWZL7FQLPKJE6EM2V4AU6EWKKGXWE5JCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "ListPartnerships": {
            "http": {
                "method": "GET",
                "requestUri": "/partnerships",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "profileId": {
                        "location": "querystring",
                        "locationName": "profileId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "partnerships"
                ],
                "members": {
                    "partnerships": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "profileId",
                                "partnershipId",
                                "createdAt"
                            ],
                            "members": {
                                "profileId": {},
                                "partnershipId": {},
                                "name": {},
                                "capabilities": {
                                    "shape": "St"
                                },
                                "tradingPartnerId": {},
                                "createdAt": {
                                    "shape": "Sn"
                                },
                                "modifiedAt": {
                                    "shape": "S1g"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6C4GTCYM5WXQBTXYYKNK6TJX5MJCLE4MU7IOYV6KBQC4GCFR56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMRKOJJFMQIJEVX67BQWNFZSIDYTG5G7DIIRYAO7HBEAH7IK7ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JV3EBQRLPKM37UKA7MJKR6X3UBPKNU4KWX3KZHLNFOUGUHSWNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3T5IRYQACFBIZGUEOTUXIMEHA3RD357JVMF3LLQP3XF5NZ2LTB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPCRAWD4MZUZVP5LKRSJNZEL53TQ6J3477TAT5JJIPMMW7LIOSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMEFK7P2WZJTKLBNHBBIOJVUCDYTCTJRBV7H2ZBWFWIHYIB6VDEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2PBSO53IDOXNIF75AVQICCMOMD5U2FAQFWIRHBZUQ4CYJCPU2IVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CDSVQU53JWSTJ7P73XRKK66H5YF2EXJ75BO5ZCFUBOCLOULI75OA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EGM7JRDEII37VTNODTCNODIQ3MCFCQGCKO5I46KEUY2Y4M5ROL7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W5OEVQXR4V7PHNV4DF4KU7GKCONAEUDVKVBE27STWA5QPJTLLQGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5WXG7NP6UZLHX2PWVSTJFDX3BYUIFCFCCDL4BORYAH7PJ4SV3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A7X7GILKXXLYF6TPNB2FZCIAB2KFTGLTZVVADUTMLXW4MOR5DI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BMFKTBAY2PMU4NGDCM57VLRDOLMLOMFC225HPDR7V7H6S33ZKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X2ZG5IR3SNMVTSJKR3ADHDK44WWGEPFLKDJOJHRXRTEKLEKYIOYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GDWIP3XLW4UT7WINEEHLC3BNTEMRUZHCQHVUP2T5MRGOUYQUF5IA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R33SILAOSUGUDBC2MVXID2O7PLTZZ2TVZY62OEF5HQJP4I53KVVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3R4NM47ZUCBL4UKMSXZGKPQXRQBZ5A7HDQNKVJDRFDXZZJCF23ZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJ2XY4G7IAK56USIDZGQM6L3TTA6LT3DVXJEMAHAG3HZ4GBGZHFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RTHYJY7TNVKZHRFRFZAWXGQHHWQCJZAU563ERIZ3PGUK6TVSV5VQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAZSKKUJZFF2DITJ5RPE3PX7Y447QKKKPDVUVC25N6EEJ76U66EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6E6JF4ZRXZ4LGWGPKBPL4MV25E6AZGVMS3BDZXDWPLCARDSAZ3WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HNZFMIMRAKPODS2Y24GCT3HSQI3ZMCJYZXMURWITNVXXVZR3BBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZIF6YFZHVGQYZE37XVUWZL7FQLPKJE6EM2V4AU6EWKKGXWE5JCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "ListProfiles": {
            "http": {
                "method": "GET",
                "requestUri": "/profiles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profiles"
                ],
                "members": {
                    "profiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "profileId",
                                "name",
                                "businessName",
                                "createdAt"
                            ],
                            "members": {
                                "profileId": {},
                                "name": {},
                                "businessName": {},
                                "logging": {},
                                "logGroupName": {},
                                "createdAt": {
                                    "shape": "Sn"
                                },
                                "modifiedAt": {
                                    "shape": "S1g"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6C4GTCYM5WXQBTXYYKNK6TJX5MJCLE4MU7IOYV6KBQC4GCFR56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMRKOJJFMQIJEVX67BQWNFZSIDYTG5G7DIIRYAO7HBEAH7IK7ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JV3EBQRLPKM37UKA7MJKR6X3UBPKNU4KWX3KZHLNFOUGUHSWNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3T5IRYQACFBIZGUEOTUXIMEHA3RD357JVMF3LLQP3XF5NZ2LTB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPCRAWD4MZUZVP5LKRSJNZEL53TQ6J3477TAT5JJIPMMW7LIOSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMEFK7P2WZJTKLBNHBBIOJVUCDYTCTJRBV7H2ZBWFWIHYIB6VDEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2PBSO53IDOXNIF75AVQICCMOMD5U2FAQFWIRHBZUQ4CYJCPU2IVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CDSVQU53JWSTJ7P73XRKK66H5YF2EXJ75BO5ZCFUBOCLOULI75OA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EGM7JRDEII37VTNODTCNODIQ3MCFCQGCKO5I46KEUY2Y4M5ROL7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W5OEVQXR4V7PHNV4DF4KU7GKCONAEUDVKVBE27STWA5QPJTLLQGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5WXG7NP6UZLHX2PWVSTJFDX3BYUIFCFCCDL4BORYAH7PJ4SV3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A7X7GILKXXLYF6TPNB2FZCIAB2KFTGLTZVVADUTMLXW4MOR5DI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BMFKTBAY2PMU4NGDCM57VLRDOLMLOMFC225HPDR7V7H6S33ZKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X2ZG5IR3SNMVTSJKR3ADHDK44WWGEPFLKDJOJHRXRTEKLEKYIOYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GDWIP3XLW4UT7WINEEHLC3BNTEMRUZHCQHVUP2T5MRGOUYQUF5IA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R33SILAOSUGUDBC2MVXID2O7PLTZZ2TVZY62OEF5HQJP4I53KVVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3R4NM47ZUCBL4UKMSXZGKPQXRQBZ5A7HDQNKVJDRFDXZZJCF23ZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJ2XY4G7IAK56USIDZGQM6L3TTA6LT3DVXJEMAHAG3HZ4GBGZHFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RTHYJY7TNVKZHRFRFZAWXGQHHWQCJZAU563ERIZ3PGUK6TVSV5VQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAZSKKUJZFF2DITJ5RPE3PX7Y447QKKKPDVUVC25N6EEJ76U66EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6E6JF4ZRXZ4LGWGPKBPL4MV25E6AZGVMS3BDZXDWPLCARDSAZ3WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HNZFMIMRAKPODS2Y24GCT3HSQI3ZMCJYZXMURWITNVXXVZR3BBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZIF6YFZHVGQYZE37XVUWZL7FQLPKJE6EM2V4AU6EWKKGXWE5JCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceARN}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {
                        "location": "uri",
                        "locationName": "ResourceARN"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6C4GTCYM5WXQBTXYYKNK6TJX5MJCLE4MU7IOYV6KBQC4GCFR56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMRKOJJFMQIJEVX67BQWNFZSIDYTG5G7DIIRYAO7HBEAH7IK7ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JV3EBQRLPKM37UKA7MJKR6X3UBPKNU4KWX3KZHLNFOUGUHSWNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3T5IRYQACFBIZGUEOTUXIMEHA3RD357JVMF3LLQP3XF5NZ2LTB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPCRAWD4MZUZVP5LKRSJNZEL53TQ6J3477TAT5JJIPMMW7LIOSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMEFK7P2WZJTKLBNHBBIOJVUCDYTCTJRBV7H2ZBWFWIHYIB6VDEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2PBSO53IDOXNIF75AVQICCMOMD5U2FAQFWIRHBZUQ4CYJCPU2IVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CDSVQU53JWSTJ7P73XRKK66H5YF2EXJ75BO5ZCFUBOCLOULI75OA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EGM7JRDEII37VTNODTCNODIQ3MCFCQGCKO5I46KEUY2Y4M5ROL7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W5OEVQXR4V7PHNV4DF4KU7GKCONAEUDVKVBE27STWA5QPJTLLQGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5WXG7NP6UZLHX2PWVSTJFDX3BYUIFCFCCDL4BORYAH7PJ4SV3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A7X7GILKXXLYF6TPNB2FZCIAB2KFTGLTZVVADUTMLXW4MOR5DI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BMFKTBAY2PMU4NGDCM57VLRDOLMLOMFC225HPDR7V7H6S33ZKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X2ZG5IR3SNMVTSJKR3ADHDK44WWGEPFLKDJOJHRXRTEKLEKYIOYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GDWIP3XLW4UT7WINEEHLC3BNTEMRUZHCQHVUP2T5MRGOUYQUF5IA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R33SILAOSUGUDBC2MVXID2O7PLTZZ2TVZY62OEF5HQJP4I53KVVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3R4NM47ZUCBL4UKMSXZGKPQXRQBZ5A7HDQNKVJDRFDXZZJCF23ZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJ2XY4G7IAK56USIDZGQM6L3TTA6LT3DVXJEMAHAG3HZ4GBGZHFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RTHYJY7TNVKZHRFRFZAWXGQHHWQCJZAU563ERIZ3PGUK6TVSV5VQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAZSKKUJZFF2DITJ5RPE3PX7Y447QKKKPDVUVC25N6EEJ76U66EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6E6JF4ZRXZ4LGWGPKBPL4MV25E6AZGVMS3BDZXDWPLCARDSAZ3WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HNZFMIMRAKPODS2Y24GCT3HSQI3ZMCJYZXMURWITNVXXVZR3BBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZIF6YFZHVGQYZE37XVUWZL7FQLPKJE6EM2V4AU6EWKKGXWE5JCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "ListTransformers": {
            "http": {
                "method": "GET",
                "requestUri": "/transformers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "transformers"
                ],
                "members": {
                    "transformers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "transformerId",
                                "name",
                                "fileFormat",
                                "mappingTemplate",
                                "status",
                                "ediType",
                                "createdAt"
                            ],
                            "members": {
                                "transformerId": {},
                                "name": {},
                                "fileFormat": {},
                                "mappingTemplate": {},
                                "status": {},
                                "ediType": {
                                    "shape": "S6"
                                },
                                "sampleDocument": {},
                                "createdAt": {
                                    "shape": "Sn"
                                },
                                "modifiedAt": {
                                    "shape": "S1g"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6C4GTCYM5WXQBTXYYKNK6TJX5MJCLE4MU7IOYV6KBQC4GCFR56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMRKOJJFMQIJEVX67BQWNFZSIDYTG5G7DIIRYAO7HBEAH7IK7ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JV3EBQRLPKM37UKA7MJKR6X3UBPKNU4KWX3KZHLNFOUGUHSWNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3T5IRYQACFBIZGUEOTUXIMEHA3RD357JVMF3LLQP3XF5NZ2LTB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPCRAWD4MZUZVP5LKRSJNZEL53TQ6J3477TAT5JJIPMMW7LIOSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMEFK7P2WZJTKLBNHBBIOJVUCDYTCTJRBV7H2ZBWFWIHYIB6VDEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2PBSO53IDOXNIF75AVQICCMOMD5U2FAQFWIRHBZUQ4CYJCPU2IVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CDSVQU53JWSTJ7P73XRKK66H5YF2EXJ75BO5ZCFUBOCLOULI75OA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EGM7JRDEII37VTNODTCNODIQ3MCFCQGCKO5I46KEUY2Y4M5ROL7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W5OEVQXR4V7PHNV4DF4KU7GKCONAEUDVKVBE27STWA5QPJTLLQGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5WXG7NP6UZLHX2PWVSTJFDX3BYUIFCFCCDL4BORYAH7PJ4SV3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A7X7GILKXXLYF6TPNB2FZCIAB2KFTGLTZVVADUTMLXW4MOR5DI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BMFKTBAY2PMU4NGDCM57VLRDOLMLOMFC225HPDR7V7H6S33ZKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X2ZG5IR3SNMVTSJKR3ADHDK44WWGEPFLKDJOJHRXRTEKLEKYIOYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GDWIP3XLW4UT7WINEEHLC3BNTEMRUZHCQHVUP2T5MRGOUYQUF5IA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R33SILAOSUGUDBC2MVXID2O7PLTZZ2TVZY62OEF5HQJP4I53KVVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3R4NM47ZUCBL4UKMSXZGKPQXRQBZ5A7HDQNKVJDRFDXZZJCF23ZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJ2XY4G7IAK56USIDZGQM6L3TTA6LT3DVXJEMAHAG3HZ4GBGZHFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RTHYJY7TNVKZHRFRFZAWXGQHHWQCJZAU563ERIZ3PGUK6TVSV5VQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAZSKKUJZFF2DITJ5RPE3PX7Y447QKKKPDVUVC25N6EEJ76U66EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6E6JF4ZRXZ4LGWGPKBPL4MV25E6AZGVMS3BDZXDWPLCARDSAZ3WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HNZFMIMRAKPODS2Y24GCT3HSQI3ZMCJYZXMURWITNVXXVZR3BBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZIF6YFZHVGQYZE37XVUWZL7FQLPKJE6EM2V4AU6EWKKGXWE5JCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "StartTransformerJob": {
            "http": {
                "requestUri": "/transformer-jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "inputFile",
                    "outputLocation",
                    "transformerId"
                ],
                "members": {
                    "inputFile": {
                        "shape": "Sa"
                    },
                    "outputLocation": {
                        "shape": "Sa"
                    },
                    "transformerId": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "transformerJobId"
                ],
                "members": {
                    "transformerJobId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6C4GTCYM5WXQBTXYYKNK6TJX5MJCLE4MU7IOYV6KBQC4GCFR56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMRKOJJFMQIJEVX67BQWNFZSIDYTG5G7DIIRYAO7HBEAH7IK7ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JV3EBQRLPKM37UKA7MJKR6X3UBPKNU4KWX3KZHLNFOUGUHSWNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3T5IRYQACFBIZGUEOTUXIMEHA3RD357JVMF3LLQP3XF5NZ2LTB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPCRAWD4MZUZVP5LKRSJNZEL53TQ6J3477TAT5JJIPMMW7LIOSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMEFK7P2WZJTKLBNHBBIOJVUCDYTCTJRBV7H2ZBWFWIHYIB6VDEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2PBSO53IDOXNIF75AVQICCMOMD5U2FAQFWIRHBZUQ4CYJCPU2IVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CDSVQU53JWSTJ7P73XRKK66H5YF2EXJ75BO5ZCFUBOCLOULI75OA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EGM7JRDEII37VTNODTCNODIQ3MCFCQGCKO5I46KEUY2Y4M5ROL7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W5OEVQXR4V7PHNV4DF4KU7GKCONAEUDVKVBE27STWA5QPJTLLQGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5WXG7NP6UZLHX2PWVSTJFDX3BYUIFCFCCDL4BORYAH7PJ4SV3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A7X7GILKXXLYF6TPNB2FZCIAB2KFTGLTZVVADUTMLXW4MOR5DI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BMFKTBAY2PMU4NGDCM57VLRDOLMLOMFC225HPDR7V7H6S33ZKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X2ZG5IR3SNMVTSJKR3ADHDK44WWGEPFLKDJOJHRXRTEKLEKYIOYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GDWIP3XLW4UT7WINEEHLC3BNTEMRUZHCQHVUP2T5MRGOUYQUF5IA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R33SILAOSUGUDBC2MVXID2O7PLTZZ2TVZY62OEF5HQJP4I53KVVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3R4NM47ZUCBL4UKMSXZGKPQXRQBZ5A7HDQNKVJDRFDXZZJCF23ZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJ2XY4G7IAK56USIDZGQM6L3TTA6LT3DVXJEMAHAG3HZ4GBGZHFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RTHYJY7TNVKZHRFRFZAWXGQHHWQCJZAU563ERIZ3PGUK6TVSV5VQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAZSKKUJZFF2DITJ5RPE3PX7Y447QKKKPDVUVC25N6EEJ76U66EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6E6JF4ZRXZ4LGWGPKBPL4MV25E6AZGVMS3BDZXDWPLCARDSAZ3WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HNZFMIMRAKPODS2Y24GCT3HSQI3ZMCJYZXMURWITNVXXVZR3BBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZIF6YFZHVGQYZE37XVUWZL7FQLPKJE6EM2V4AU6EWKKGXWE5JCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceARN}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {
                        "location": "uri",
                        "locationName": "ResourceARN"
                    },
                    "Tags": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6C4GTCYM5WXQBTXYYKNK6TJX5MJCLE4MU7IOYV6KBQC4GCFR56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMRKOJJFMQIJEVX67BQWNFZSIDYTG5G7DIIRYAO7HBEAH7IK7ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JV3EBQRLPKM37UKA7MJKR6X3UBPKNU4KWX3KZHLNFOUGUHSWNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3T5IRYQACFBIZGUEOTUXIMEHA3RD357JVMF3LLQP3XF5NZ2LTB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPCRAWD4MZUZVP5LKRSJNZEL53TQ6J3477TAT5JJIPMMW7LIOSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMEFK7P2WZJTKLBNHBBIOJVUCDYTCTJRBV7H2ZBWFWIHYIB6VDEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2PBSO53IDOXNIF75AVQICCMOMD5U2FAQFWIRHBZUQ4CYJCPU2IVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CDSVQU53JWSTJ7P73XRKK66H5YF2EXJ75BO5ZCFUBOCLOULI75OA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EGM7JRDEII37VTNODTCNODIQ3MCFCQGCKO5I46KEUY2Y4M5ROL7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W5OEVQXR4V7PHNV4DF4KU7GKCONAEUDVKVBE27STWA5QPJTLLQGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5WXG7NP6UZLHX2PWVSTJFDX3BYUIFCFCCDL4BORYAH7PJ4SV3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A7X7GILKXXLYF6TPNB2FZCIAB2KFTGLTZVVADUTMLXW4MOR5DI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BMFKTBAY2PMU4NGDCM57VLRDOLMLOMFC225HPDR7V7H6S33ZKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X2ZG5IR3SNMVTSJKR3ADHDK44WWGEPFLKDJOJHRXRTEKLEKYIOYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GDWIP3XLW4UT7WINEEHLC3BNTEMRUZHCQHVUP2T5MRGOUYQUF5IA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R33SILAOSUGUDBC2MVXID2O7PLTZZ2TVZY62OEF5HQJP4I53KVVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3R4NM47ZUCBL4UKMSXZGKPQXRQBZ5A7HDQNKVJDRFDXZZJCF23ZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJ2XY4G7IAK56USIDZGQM6L3TTA6LT3DVXJEMAHAG3HZ4GBGZHFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RTHYJY7TNVKZHRFRFZAWXGQHHWQCJZAU563ERIZ3PGUK6TVSV5VQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAZSKKUJZFF2DITJ5RPE3PX7Y447QKKKPDVUVC25N6EEJ76U66EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6E6JF4ZRXZ4LGWGPKBPL4MV25E6AZGVMS3BDZXDWPLCARDSAZ3WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HNZFMIMRAKPODS2Y24GCT3HSQI3ZMCJYZXMURWITNVXXVZR3BBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZIF6YFZHVGQYZE37XVUWZL7FQLPKJE6EM2V4AU6EWKKGXWE5JCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "TestMapping": {
            "http": {
                "requestUri": "/testmapping",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "inputFileContent",
                    "mappingTemplate",
                    "fileFormat"
                ],
                "members": {
                    "inputFileContent": {},
                    "mappingTemplate": {},
                    "fileFormat": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "mappedFileContent"
                ],
                "members": {
                    "mappedFileContent": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6C4GTCYM5WXQBTXYYKNK6TJX5MJCLE4MU7IOYV6KBQC4GCFR56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMRKOJJFMQIJEVX67BQWNFZSIDYTG5G7DIIRYAO7HBEAH7IK7ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JV3EBQRLPKM37UKA7MJKR6X3UBPKNU4KWX3KZHLNFOUGUHSWNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3T5IRYQACFBIZGUEOTUXIMEHA3RD357JVMF3LLQP3XF5NZ2LTB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPCRAWD4MZUZVP5LKRSJNZEL53TQ6J3477TAT5JJIPMMW7LIOSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMEFK7P2WZJTKLBNHBBIOJVUCDYTCTJRBV7H2ZBWFWIHYIB6VDEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2PBSO53IDOXNIF75AVQICCMOMD5U2FAQFWIRHBZUQ4CYJCPU2IVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CDSVQU53JWSTJ7P73XRKK66H5YF2EXJ75BO5ZCFUBOCLOULI75OA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EGM7JRDEII37VTNODTCNODIQ3MCFCQGCKO5I46KEUY2Y4M5ROL7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W5OEVQXR4V7PHNV4DF4KU7GKCONAEUDVKVBE27STWA5QPJTLLQGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5WXG7NP6UZLHX2PWVSTJFDX3BYUIFCFCCDL4BORYAH7PJ4SV3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A7X7GILKXXLYF6TPNB2FZCIAB2KFTGLTZVVADUTMLXW4MOR5DI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BMFKTBAY2PMU4NGDCM57VLRDOLMLOMFC225HPDR7V7H6S33ZKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X2ZG5IR3SNMVTSJKR3ADHDK44WWGEPFLKDJOJHRXRTEKLEKYIOYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GDWIP3XLW4UT7WINEEHLC3BNTEMRUZHCQHVUP2T5MRGOUYQUF5IA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R33SILAOSUGUDBC2MVXID2O7PLTZZ2TVZY62OEF5HQJP4I53KVVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3R4NM47ZUCBL4UKMSXZGKPQXRQBZ5A7HDQNKVJDRFDXZZJCF23ZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJ2XY4G7IAK56USIDZGQM6L3TTA6LT3DVXJEMAHAG3HZ4GBGZHFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RTHYJY7TNVKZHRFRFZAWXGQHHWQCJZAU563ERIZ3PGUK6TVSV5VQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAZSKKUJZFF2DITJ5RPE3PX7Y447QKKKPDVUVC25N6EEJ76U66EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6E6JF4ZRXZ4LGWGPKBPL4MV25E6AZGVMS3BDZXDWPLCARDSAZ3WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HNZFMIMRAKPODS2Y24GCT3HSQI3ZMCJYZXMURWITNVXXVZR3BBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZIF6YFZHVGQYZE37XVUWZL7FQLPKJE6EM2V4AU6EWKKGXWE5JCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "TestParsing": {
            "http": {
                "requestUri": "/testparsing",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "inputFile",
                    "fileFormat",
                    "ediType"
                ],
                "members": {
                    "inputFile": {
                        "shape": "Sa"
                    },
                    "fileFormat": {},
                    "ediType": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "parsedFileContent"
                ],
                "members": {
                    "parsedFileContent": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6C4GTCYM5WXQBTXYYKNK6TJX5MJCLE4MU7IOYV6KBQC4GCFR56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMRKOJJFMQIJEVX67BQWNFZSIDYTG5G7DIIRYAO7HBEAH7IK7ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JV3EBQRLPKM37UKA7MJKR6X3UBPKNU4KWX3KZHLNFOUGUHSWNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3T5IRYQACFBIZGUEOTUXIMEHA3RD357JVMF3LLQP3XF5NZ2LTB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPCRAWD4MZUZVP5LKRSJNZEL53TQ6J3477TAT5JJIPMMW7LIOSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMEFK7P2WZJTKLBNHBBIOJVUCDYTCTJRBV7H2ZBWFWIHYIB6VDEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2PBSO53IDOXNIF75AVQICCMOMD5U2FAQFWIRHBZUQ4CYJCPU2IVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CDSVQU53JWSTJ7P73XRKK66H5YF2EXJ75BO5ZCFUBOCLOULI75OA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EGM7JRDEII37VTNODTCNODIQ3MCFCQGCKO5I46KEUY2Y4M5ROL7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W5OEVQXR4V7PHNV4DF4KU7GKCONAEUDVKVBE27STWA5QPJTLLQGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5WXG7NP6UZLHX2PWVSTJFDX3BYUIFCFCCDL4BORYAH7PJ4SV3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A7X7GILKXXLYF6TPNB2FZCIAB2KFTGLTZVVADUTMLXW4MOR5DI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BMFKTBAY2PMU4NGDCM57VLRDOLMLOMFC225HPDR7V7H6S33ZKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X2ZG5IR3SNMVTSJKR3ADHDK44WWGEPFLKDJOJHRXRTEKLEKYIOYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GDWIP3XLW4UT7WINEEHLC3BNTEMRUZHCQHVUP2T5MRGOUYQUF5IA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R33SILAOSUGUDBC2MVXID2O7PLTZZ2TVZY62OEF5HQJP4I53KVVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3R4NM47ZUCBL4UKMSXZGKPQXRQBZ5A7HDQNKVJDRFDXZZJCF23ZA/vendors.js",
[...]
