{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-01-01",
        "endpointPrefix": "backup-gateway",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS Backup Gateway",
        "serviceId": "Backup Gateway",
        "signatureVersion": "v4",
        "signingName": "backup-gateway",
        "targetPrefix": "BackupOnPremises_v20210101",
        "uid": "backup-gateway-2021-01-01",
        "download_location": [
            "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
            "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
        ]
    },
    "operations": {
        "AssociateGatewayToServer": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn",
                    "ServerArn"
                ],
                "members": {
                    "GatewayArn": {},
                    "ServerArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "CreateGateway": {
            "input": {
                "type": "structure",
                "required": [
                    "ActivationKey",
                    "GatewayDisplayName",
                    "GatewayType"
                ],
                "members": {
                    "ActivationKey": {},
                    "GatewayDisplayName": {},
                    "GatewayType": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "DeleteGateway": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn"
                ],
                "members": {
                    "GatewayArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "DeleteHypervisor": {
            "input": {
                "type": "structure",
                "required": [
                    "HypervisorArn"
                ],
                "members": {
                    "HypervisorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HypervisorArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "DisassociateGatewayFromServer": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn"
                ],
                "members": {
                    "GatewayArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "GetGateway": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn"
                ],
                "members": {
                    "GatewayArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Gateway": {
                        "type": "structure",
                        "members": {
                            "GatewayArn": {},
                            "GatewayDisplayName": {},
                            "GatewayType": {},
                            "HypervisorId": {},
                            "LastSeenTime": {
                                "type": "timestamp"
                            },
                            "MaintenanceStartTime": {
                                "type": "structure",
                                "required": [
                                    "HourOfDay",
                                    "MinuteOfHour"
                                ],
                                "members": {
                                    "DayOfMonth": {
                                        "type": "integer"
                                    },
                                    "DayOfWeek": {
                                        "type": "integer"
                                    },
                                    "HourOfDay": {
                                        "type": "integer"
                                    },
                                    "MinuteOfHour": {
                                        "type": "integer"
                                    }
                                }
                            },
                            "NextUpdateAvailabilityTime": {
                                "type": "timestamp"
                            },
                            "VpcEndpoint": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "GetVirtualMachine": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "VirtualMachine": {
                        "type": "structure",
                        "members": {
                            "HostName": {},
                            "HypervisorId": {},
                            "LastBackupDate": {
                                "type": "timestamp"
                            },
                            "Name": {},
                            "Path": {},
                            "ResourceArn": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "ImportHypervisorConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "Host",
                    "Name"
                ],
                "members": {
                    "Host": {},
                    "KmsKeyArn": {},
                    "Name": {},
                    "Password": {
                        "shape": "S14"
                    },
                    "Tags": {
                        "shape": "S9"
                    },
                    "Username": {
                        "shape": "S15"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HypervisorArn": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "ListGateways": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Gateways": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "GatewayArn": {},
                                "GatewayDisplayName": {},
                                "GatewayType": {},
                                "HypervisorId": {},
                                "LastSeenTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "ListHypervisors": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Hypervisors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Host": {},
                                "HypervisorArn": {},
                                "KmsKeyArn": {},
                                "Name": {},
                                "State": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "ListVirtualMachines": {
            "input": {
                "type": "structure",
                "members": {
                    "HypervisorArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "VirtualMachines": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "HostName": {},
                                "HypervisorId": {},
                                "LastBackupDate": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "Path": {},
                                "ResourceArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "PutMaintenanceStartTime": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn",
                    "HourOfDay",
                    "MinuteOfHour"
                ],
                "members": {
                    "DayOfMonth": {
                        "type": "integer"
                    },
                    "DayOfWeek": {
                        "type": "integer"
                    },
                    "GatewayArn": {},
                    "HourOfDay": {
                        "type": "integer"
                    },
                    "MinuteOfHour": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceARN": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "TestHypervisorConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn",
                    "Host"
                ],
                "members": {
                    "GatewayArn": {},
                    "Host": {},
                    "Password": {
                        "shape": "S14"
                    },
                    "Username": {
                        "shape": "S15"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceARN": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "UpdateGatewayInformation": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn"
                ],
                "members": {
                    "GatewayArn": {},
                    "GatewayDisplayName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "UpdateGatewaySoftwareNow": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn"
                ],
                "members": {
                    "GatewayArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "UpdateHypervisor": {
            "input": {
                "type": "structure",
                "required": [
                    "HypervisorArn"
                ],
                "members": {
                    "Host": {},
                    "HypervisorArn": {},
                    "Name": {},
                    "Password": {
                        "shape": "S14"
                    },
                    "Username": {
                        "shape": "S15"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HypervisorArn": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "GetBandwidthRateLimitSchedule": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn"
                ],
                "members": {
                    "GatewayArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {},
                    "BandwidthRateLimitIntervals": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TOYQGGJ64Y36NNYTRPIH7P42AZKMUSJ5HPJKGL7NQNTB7RRK6VCQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "GetFileShare": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FileShare": {
                        "type": "structure",
                        "members": {
                            "StorageVirtualMachine": {},
                            "LastBackupDate": {
                                "type": "timestamp"
                            },
                            "Name": {},
                            "Path": {},
                            "ResourceArn": {},
                            "ServerArn": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TOYQGGJ64Y36NNYTRPIH7P42AZKMUSJ5HPJKGL7NQNTB7RRK6VCQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js"
            ]
        },
        "GetHypervisor": {
            "input": {
                "type": "structure",
                "required": [
                    "HypervisorArn"
                ],
                "members": {
                    "HypervisorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Hypervisor": {
                        "type": "structure",
                        "members": {
                            "Host": {},
                            "HypervisorArn": {},
                            "KmsKeyArn": {},
                            "Name": {},
                            "LogGroupArn": {},
                            "State": {},
                            "LastSuccessfulMetadataSyncTime": {
                                "type": "timestamp"
                            },
                            "LatestMetadataSyncStatusMessage": {},
                            "LatestMetadataSyncStatus": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TOYQGGJ64Y36NNYTRPIH7P42AZKMUSJ5HPJKGL7NQNTB7RRK6VCQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "GetHypervisorPropertyMappings": {
            "input": {
                "type": "structure",
                "required": [
                    "HypervisorArn"
                ],
                "members": {
                    "HypervisorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HypervisorArn": {},
                    "VmwareToAwsTagMappings": {
                        "shape": "S1i"
                    },
                    "IamRoleArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TOYQGGJ64Y36NNYTRPIH7P42AZKMUSJ5HPJKGL7NQNTB7RRK6VCQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "ImportFileServerConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Host"
                ],
                "members": {
                    "Name": {},
                    "Host": {},
                    "Username": {
                        "shape": "S1t"
                    },
                    "Password": {
                        "shape": "S1u"
                    },
                    "ProductType": {},
                    "Tags": {
                        "shape": "S9"
                    },
                    "KmsKeyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServerArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TOYQGGJ64Y36NNYTRPIH7P42AZKMUSJ5HPJKGL7NQNTB7RRK6VCQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js"
            ]
        },
        "ListFileServers": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "FileServers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Host": {},
                                "ServerArn": {},
                                "KmsKeyArn": {},
                                "Name": {},
                                "State": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TOYQGGJ64Y36NNYTRPIH7P42AZKMUSJ5HPJKGL7NQNTB7RRK6VCQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js"
            ]
        },
        "ListFileShares": {
            "input": {
                "type": "structure",
                "members": {
                    "ServerArn": {},
                    "ResourceType": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "FileShares": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StorageVirtualMachine": {},
                                "LastBackupDate": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "Path": {},
                                "ResourceArn": {},
                                "ServerArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TOYQGGJ64Y36NNYTRPIH7P42AZKMUSJ5HPJKGL7NQNTB7RRK6VCQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js"
            ]
        },
        "PutBandwidthRateLimitSchedule": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn",
                    "BandwidthRateLimitIntervals"
                ],
                "members": {
                    "GatewayArn": {},
                    "BandwidthRateLimitIntervals": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TOYQGGJ64Y36NNYTRPIH7P42AZKMUSJ5HPJKGL7NQNTB7RRK6VCQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "PutHypervisorPropertyMappings": {
            "input": {
                "type": "structure",
                "required": [
                    "HypervisorArn",
                    "VmwareToAwsTagMappings",
                    "IamRoleArn"
                ],
                "members": {
                    "HypervisorArn": {},
                    "VmwareToAwsTagMappings": {
                        "shape": "S1i"
                    },
                    "IamRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HypervisorArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TOYQGGJ64Y36NNYTRPIH7P42AZKMUSJ5HPJKGL7NQNTB7RRK6VCQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "StartVirtualMachinesMetadataSync": {
            "input": {
                "type": "structure",
                "required": [
                    "HypervisorArn"
                ],
                "members": {
                    "HypervisorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HypervisorArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TOYQGGJ64Y36NNYTRPIH7P42AZKMUSJ5HPJKGL7NQNTB7RRK6VCQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        }
    },
    "shapes": {
        "S9": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S14": {
            "type": "string",
            "sensitive": true
        },
        "S15": {
            "type": "string",
            "sensitive": true
        },
        "Sm": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "StartHourOfDay",
                    "EndHourOfDay",
                    "StartMinuteOfHour",
                    "EndMinuteOfHour",
                    "DaysOfWeek"
                ],
                "members": {
                    "AverageUploadRateLimitInBitsPerSec": {
                        "type": "long"
                    },
                    "StartHourOfDay": {
                        "type": "integer"
                    },
                    "EndHourOfDay": {
                        "type": "integer"
                    },
                    "StartMinuteOfHour": {
                        "type": "integer"
                    },
                    "EndMinuteOfHour": {
                        "type": "integer"
                    },
                    "DaysOfWeek": {
                        "type": "list",
                        "member": {
                            "type": "integer"
                        }
                    }
                }
            }
        },
        "S1i": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "VmwareCategory",
                    "VmwareTagName",
                    "AwsTagKey",
                    "AwsTagValue"
                ],
                "members": {
                    "VmwareCategory": {},
                    "VmwareTagName": {},
                    "AwsTagKey": {},
                    "AwsTagValue": {}
                }
            }
        },
        "S1t": {
            "type": "string",
            "sensitive": true
        },
        "S1u": {
            "type": "string",
            "sensitive": true
        },
        "S1d": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AwsTagKey",
                    "AwsTagValue",
                    "VmwareCategory",
                    "VmwareTagName"
                ],
                "members": {
                    "AwsTagKey": {},
                    "AwsTagValue": {},
                    "VmwareCategory": {},
                    "VmwareTagName": {}
                }
            }
        },
        "S1p": {
            "type": "string",
            "sensitive": true
        },
        "S1q": {
            "type": "string",
            "sensitive": true
        },
        "Sn": {
            "type": "string",
            "sensitive": true
        },
        "So": {
            "type": "string",
            "sensitive": true
        }
    }
}