{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-15",
        "endpointPrefix": "backup",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Backup",
        "serviceId": "Backup",
        "signatureVersion": "v4",
        "uid": "backup-2018-11-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CancelLegalHold": {
            "http": {
                "method": "DELETE",
                "requestUri": "/legal-holds/{legalHoldId}",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "LegalHoldId",
                    "CancelDescription"
                ],
                "members": {
                    "LegalHoldId": {
                        "location": "uri",
                        "locationName": "legalHoldId"
                    },
                    "CancelDescription": {
                        "location": "querystring",
                        "locationName": "cancelDescription"
                    },
                    "RetainRecordInDays": {
                        "location": "querystring",
                        "locationName": "retainRecordInDays",
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateBackupPlan": {
            "http": {
                "method": "PUT",
                "requestUri": "/backup/plans/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "BackupPlan"
                ],
                "members": {
                    "BackupPlan": {
                        "shape": "S6"
                    },
                    "BackupPlanTags": {
                        "shape": "Sf"
                    },
                    "CreatorRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BackupPlanId": {},
                    "BackupPlanArn": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "VersionId": {},
                    "AdvancedBackupSettings": {
                        "shape": "Sm"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateBackupSelection": {
            "http": {
                "method": "PUT",
                "requestUri": "/backup/plans/{backupPlanId}/selections/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "BackupPlanId",
                    "BackupSelection"
                ],
                "members": {
                    "BackupPlanId": {
                        "location": "uri",
                        "locationName": "backupPlanId"
                    },
                    "BackupSelection": {
                        "shape": "Sv"
                    },
                    "CreatorRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SelectionId": {},
                    "BackupPlanId": {},
                    "CreationDate": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateBackupVault": {
            "http": {
                "method": "PUT",
                "requestUri": "/backup-vaults/{backupVaultName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "BackupVaultName"
                ],
                "members": {
                    "BackupVaultName": {
                        "location": "uri",
                        "locationName": "backupVaultName"
                    },
                    "BackupVaultTags": {
                        "shape": "Sf"
                    },
                    "EncryptionKeyArn": {},
                    "CreatorRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BackupVaultName": {},
                    "BackupVaultArn": {},
                    "CreationDate": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateFramework": {
            "http": {
                "requestUri": "/audit/frameworks"
            },
            "input": {
                "type": "structure",
                "required": [
                    "FrameworkName",
                    "FrameworkControls"
                ],
                "members": {
                    "FrameworkName": {},
                    "FrameworkDescription": {},
                    "FrameworkControls": {
                        "shape": "S1d"
                    },
                    "IdempotencyToken": {
                        "idempotencyToken": true
                    },
                    "FrameworkTags": {
                        "shape": "S1n"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FrameworkName": {},
                    "FrameworkArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateLegalHold": {
            "http": {
                "requestUri": "/legal-holds/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Title",
                    "Description"
                ],
                "members": {
                    "Title": {},
                    "Description": {},
                    "IdempotencyToken": {},
                    "RecoveryPointSelection": {
                        "shape": "S1q"
                    },
                    "Tags": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Title": {},
                    "Status": {},
                    "Description": {},
                    "LegalHoldId": {},
                    "LegalHoldArn": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "RecoveryPointSelection": {
                        "shape": "S1q"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateReportPlan": {
            "http": {
                "requestUri": "/audit/report-plans"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ReportPlanName",
                    "ReportDeliveryChannel",
                    "ReportSetting"
                ],
                "members": {
                    "ReportPlanName": {},
                    "ReportPlanDescription": {},
                    "ReportDeliveryChannel": {
                        "shape": "S1z"
                    },
                    "ReportSetting": {
                        "shape": "S21"
                    },
                    "ReportPlanTags": {
                        "shape": "S1n"
                    },
                    "IdempotencyToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReportPlanName": {},
                    "ReportPlanArn": {},
                    "CreationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteBackupPlan": {
            "http": {
                "method": "DELETE",
                "requestUri": "/backup/plans/{backupPlanId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "BackupPlanId"
                ],
                "members": {
                    "BackupPlanId": {
                        "location": "uri",
                        "locationName": "backupPlanId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BackupPlanId": {},
                    "BackupPlanArn": {},
                    "DeletionDate": {
                        "type": "timestamp"
                    },
                    "VersionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteBackupSelection": {
            "http": {
                "method": "DELETE",
                "requestUri": "/backup/plans/{backupPlanId}/selections/{selectionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "BackupPlanId",
                    "SelectionId"
                ],
                "members": {
                    "BackupPlanId": {
                        "location": "uri",
                        "locationName": "backupPlanId"
                    },
                    "SelectionId": {
                        "location": "uri",
                        "locationName": "selectionId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteBackupVault": {
            "http": {
                "method": "DELETE",
                "requestUri": "/backup-vaults/{backupVaultName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "BackupVaultName"
                ],
                "members": {
                    "BackupVaultName": {
                        "location": "uri",
                        "locationName": "backupVaultName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteBackupVaultAccessPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/backup-vaults/{backupVaultName}/access-policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "BackupVaultName"
                ],
                "members": {
                    "BackupVaultName": {
                        "location": "uri",
                        "locationName": "backupVaultName"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteBackupVaultLockConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/backup-vaults/{backupVaultName}/vault-lock"
            },
            "input": {
                "type": "structure",
                "required": [
                    "BackupVaultName"
                ],
                "members": {
                    "BackupVaultName": {
                        "location": "uri",
                        "locationName": "backupVaultName"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteBackupVaultNotifications": {
            "http": {
                "method": "DELETE",
                "requestUri": "/backup-vaults/{backupVaultName}/notification-configuration"
            },
            "input": {
                "type": "structure",
                "required": [
                    "BackupVaultName"
                ],
                "members": {
                    "BackupVaultName": {
                        "location": "uri",
                        "locationName": "backupVaultName"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteFramework": {
            "http": {
                "method": "DELETE",
                "requestUri": "/audit/frameworks/{frameworkName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "FrameworkName"
                ],
                "members": {
                    "FrameworkName": {
                        "location": "uri",
                        "locationName": "frameworkName"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteRecoveryPoint": {
            "http": {
                "method": "DELETE",
                "requestUri": "/backup-vaults/{backupVaultName}/recovery-points/{recoveryPointArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "BackupVaultName",
                    "RecoveryPointArn"
                ],
                "members": {
                    "BackupVaultName": {
                        "location": "uri",
                        "locationName": "backupVaultName"
                    },
                    "RecoveryPointArn": {
                        "location": "uri",
                        "locationName": "recoveryPointArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteReportPlan": {
            "http": {
                "method": "DELETE",
                "requestUri": "/audit/report-plans/{reportPlanName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ReportPlanName"
                ],
                "members": {
                    "ReportPlanName": {
                        "location": "uri",
                        "locationName": "reportPlanName"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeBackupJob": {
            "http": {
                "method": "GET",
                "requestUri": "/backup-jobs/{backupJobId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "BackupJobId"
                ],
                "members": {
                    "BackupJobId": {
                        "location": "uri",
                        "locationName": "backupJobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "BackupJobId": {},
                    "BackupVaultName": {},
                    "BackupVaultArn": {},
                    "RecoveryPointArn": {},
                    "ResourceArn": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "CompletionDate": {
                        "type": "timestamp"
                    },
                    "State": {},
                    "StatusMessage": {},
                    "PercentDone": {},
                    "BackupSizeInBytes": {
                        "type": "long"
                    },
                    "IamRoleArn": {},
                    "CreatedBy": {
                        "shape": "S2j"
                    },
                    "ResourceType": {},
                    "BytesTransferred": {
                        "type": "long"
                    },
                    "ExpectedCompletionDate": {
                        "type": "timestamp"
                    },
                    "StartBy": {
                        "type": "timestamp"
                    },
                    "BackupOptions": {
                        "shape": "Sp"
                    },
                    "BackupType": {},
                    "ParentJobId": {},
                    "IsParent": {
                        "type": "boolean"
                    },
                    "NumberOfChildJobs": {
                        "type": "long"
                    },
                    "ChildJobsInState": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "long"
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeBackupVault": {
            "http": {
                "method": "GET",
                "requestUri": "/backup-vaults/{backupVaultName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "BackupVaultName"
                ],
                "members": {
                    "BackupVaultName": {
                        "location": "uri",
                        "locationName": "backupVaultName"
                    },
                    "BackupVaultAccountId": {
                        "location": "querystring",
                        "locationName": "backupVaultAccountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BackupVaultName": {},
                    "BackupVaultArn": {},
                    "EncryptionKeyArn": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "CreatorRequestId": {},
                    "NumberOfRecoveryPoints": {
                        "type": "long"
                    },
                    "Locked": {
                        "type": "boolean"
                    },
                    "MinRetentionDays": {
                        "type": "long"
                    },
                    "MaxRetentionDays": {
                        "type": "long"
                    },
                    "LockDate": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeCopyJob": {
            "http": {
                "method": "GET",
                "requestUri": "/copy-jobs/{copyJobId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CopyJobId"
                ],
                "members": {
                    "CopyJobId": {
                        "location": "uri",
                        "locationName": "copyJobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CopyJob": {
                        "shape": "S2r"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeFramework": {
            "http": {
                "method": "GET",
                "requestUri": "/audit/frameworks/{frameworkName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "FrameworkName"
                ],
                "members": {
                    "FrameworkName": {
                        "location": "uri",
                        "locationName": "frameworkName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FrameworkName": {},
                    "FrameworkArn": {},
                    "FrameworkDescription": {},
                    "FrameworkControls": {
                        "shape": "S1d"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "DeploymentStatus": {},
                    "FrameworkStatus": {},
                    "IdempotencyToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeGlobalSettings": {
            "http": {
                "method": "GET",
                "requestUri": "/global-settings"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "GlobalSettings": {
                        "shape": "S2y"
                    },
                    "LastUpdateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeProtectedResource": {
            "http": {
                "method": "GET",
                "requestUri": "/resources/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceArn": {},
                    "ResourceType": {},
                    "LastBackupTime": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeRecoveryPoint": {
            "http": {
                "method": "GET",
                "requestUri": "/backup-vaults/{backupVaultName}/recovery-points/{recoveryPointArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "BackupVaultName",
                    "RecoveryPointArn"
                ],
                "members": {
                    "BackupVaultName": {
                        "location": "uri",
                        "locationName": "backupVaultName"
                    },
                    "RecoveryPointArn": {
                        "location": "uri",
                        "locationName": "recoveryPointArn"
                    },
                    "BackupVaultAccountId": {
                        "location": "querystring",
                        "locationName": "backupVaultAccountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RecoveryPointArn": {},
                    "BackupVaultName": {},
                    "BackupVaultArn": {},
                    "SourceBackupVaultArn": {},
                    "ResourceArn": {},
                    "ResourceType": {},
                    "CreatedBy": {
                        "shape": "S2j"
                    },
                    "IamRoleArn": {},
                    "Status": {},
                    "StatusMessage": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "CompletionDate": {
                        "type": "timestamp"
                    },
                    "BackupSizeInBytes": {
                        "type": "long"
                    },
                    "CalculatedLifecycle": {
                        "shape": "S36"
                    },
                    "Lifecycle": {
                        "shape": "Se"
                    },
                    "EncryptionKeyArn": {},
                    "IsEncrypted": {
                        "type": "boolean"
                    },
                    "StorageClass": {},
                    "LastRestoreTime": {
                        "type": "timestamp"
                    },
                    "ParentRecoveryPointArn": {},
                    "CompositeMemberIdentifier": {},
                    "IsParent": {
                        "type": "boolean"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeRegionSettings": {
            "http": {
                "method": "GET",
                "requestUri": "/account-settings"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceTypeOptInPreference": {
                        "shape": "S3a"
                    },
                    "ResourceTypeManagementPreference": {
                        "shape": "S3c"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
[...]
