{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "backup-search",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "Cryo/search",
        "serviceFullName": "AWS Backup Search API Model",
        "serviceId": "BackupSearch",
        "signatureVersion": "v4",
        "signingName": "backup-search",
        "uid": "backupsearch-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/2JWBMTWVQLMEUZYGK3TDUXZV5CIPQ2FNPYWMPYXE724MTH62N2YQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GH7PTEVJIG6ZYQJWCKNGUCZ5D2SWWPLAEI6RL5PNZTZUXL7MKYEA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJB4ZV63SDQYGOXEG6VJCNL2MYN4SCJ4M76FHSI7IMOPMWZFTOEA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4OPR2WJ7PNIKPBQANCZMCBIGB4345Z6LENSBTWBXIXYXOJR4WTQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XWKQXOI5PSN3FOVZSJLAY4DNC4CLHYOGJ2J44VBH44CBAZC6B5LQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TVDCV3S3SUBUN4HWXO44YPZY2ZD3LLMBYWDFSVP2ZMDWJWLMPGXA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4YTEE6FGLMXQVLQOSOTKTCM5ZT536QQ3DUO4FOLCYXTXRPCQK7RA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BVBM6RH4EUZHCJQP2DDYXZOXVJWATTWT5CAJ5S4GKGLLM6CYZLXQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IXN62TIYPVKHLPEA5V7BFAPRTQY4J4PVBGS4EB6A3CGNSQCJSUVQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DQ3THMUIJIVTE226PTKLQHRM57GZX6Z5MDHYBYYLEW63WM23Y35A/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js"
        ]
    },
    "operations": {
        "GetSearchJob": {
            "http": {
                "method": "GET",
                "requestUri": "/search-jobs/{searchJobIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "searchJobIdentifier"
                ],
                "members": {
                    "searchJobIdentifier": {
                        "location": "uri",
                        "locationName": "searchJobIdentifier"
                    },
                    "SearchJobIdentifier": {
                        "location": "uri",
                        "locationName": "SearchJobIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "searchJobType",
                    "status",
                    "recoveryPointScope",
                    "itemFilters",
                    "creationTime",
                    "searchJobIdentifier",
                    "searchJobArn"
                ],
                "members": {
                    "searchJobName": {},
                    "searchRoleArn": {},
                    "searchScopeSummary": {
                        "shape": "S6"
                    },
                    "currentSearchProgress": {
                        "type": "structure",
                        "members": {
                            "recoverypointsScannedcount": {
                                "type": "long"
                            },
                            "indicesScannedSize": {
                                "type": "long"
                            },
                            "itemsMatchedCount": {
                                "type": "long"
                            }
                        }
                    },
                    "statusMessage": {},
                    "searchJobType": {},
                    "status": {},
                    "recoveryPointScope": {
                        "shape": "Sc"
                    },
                    "itemFilters": {
                        "shape": "Sl"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "searchJobIdentifier": {},
                    "searchJobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH7PTEVJIG6ZYQJWCKNGUCZ5D2SWWPLAEI6RL5PNZTZUXL7MKYEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJB4ZV63SDQYGOXEG6VJCNL2MYN4SCJ4M76FHSI7IMOPMWZFTOEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4OPR2WJ7PNIKPBQANCZMCBIGB4345Z6LENSBTWBXIXYXOJR4WTQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWKQXOI5PSN3FOVZSJLAY4DNC4CLHYOGJ2J44VBH44CBAZC6B5LQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVDCV3S3SUBUN4HWXO44YPZY2ZD3LLMBYWDFSVP2ZMDWJWLMPGXA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YTEE6FGLMXQVLQOSOTKTCM5ZT536QQ3DUO4FOLCYXTXRPCQK7RA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBM6RH4EUZHCJQP2DDYXZOXVJWATTWT5CAJ5S4GKGLLM6CYZLXQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXN62TIYPVKHLPEA5V7BFAPRTQY4J4PVBGS4EB6A3CGNSQCJSUVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQ3THMUIJIVTE226PTKLQHRM57GZX6Z5MDHYBYYLEW63WM23Y35A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js"
            ]
        },
        "GetSearchResultExportJob": {
            "http": {
                "method": "GET",
                "requestUri": "/export-search-jobs/{searchResultExportJobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "searchResultExportJobId"
                ],
                "members": {
                    "searchResultExportJobId": {
                        "location": "uri",
                        "locationName": "searchResultExportJobId"
                    },
                    "SearchResultExportJobIdentifier": {
                        "location": "uri",
                        "locationName": "SearchResultExportJobIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "downloadUrls": {
                        "type": "list",
                        "member": {}
                    },
                    "statusMessage": {},
                    "exportSpecification": {
                        "shape": "S11"
                    },
                    "searchJobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH7PTEVJIG6ZYQJWCKNGUCZ5D2SWWPLAEI6RL5PNZTZUXL7MKYEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJB4ZV63SDQYGOXEG6VJCNL2MYN4SCJ4M76FHSI7IMOPMWZFTOEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4OPR2WJ7PNIKPBQANCZMCBIGB4345Z6LENSBTWBXIXYXOJR4WTQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWKQXOI5PSN3FOVZSJLAY4DNC4CLHYOGJ2J44VBH44CBAZC6B5LQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVDCV3S3SUBUN4HWXO44YPZY2ZD3LLMBYWDFSVP2ZMDWJWLMPGXA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YTEE6FGLMXQVLQOSOTKTCM5ZT536QQ3DUO4FOLCYXTXRPCQK7RA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBM6RH4EUZHCJQP2DDYXZOXVJWATTWT5CAJ5S4GKGLLM6CYZLXQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXN62TIYPVKHLPEA5V7BFAPRTQY4J4PVBGS4EB6A3CGNSQCJSUVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQ3THMUIJIVTE226PTKLQHRM57GZX6Z5MDHYBYYLEW63WM23Y35A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js"
            ]
        },
        "ListSearchJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/search-jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "byStatus": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "ByStatus": {
                        "location": "querystring",
                        "locationName": "Status"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "searchJobs"
                ],
                "members": {
                    "searchJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "searchJobIdentifier": {},
                                "searchJobName": {},
                                "searchRoleArn": {},
                                "status": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "searchScopeSummary": {
                                    "shape": "S6"
                                },
                                "statusMessage": {},
                                "searchJobType": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH7PTEVJIG6ZYQJWCKNGUCZ5D2SWWPLAEI6RL5PNZTZUXL7MKYEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJB4ZV63SDQYGOXEG6VJCNL2MYN4SCJ4M76FHSI7IMOPMWZFTOEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4OPR2WJ7PNIKPBQANCZMCBIGB4345Z6LENSBTWBXIXYXOJR4WTQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWKQXOI5PSN3FOVZSJLAY4DNC4CLHYOGJ2J44VBH44CBAZC6B5LQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVDCV3S3SUBUN4HWXO44YPZY2ZD3LLMBYWDFSVP2ZMDWJWLMPGXA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YTEE6FGLMXQVLQOSOTKTCM5ZT536QQ3DUO4FOLCYXTXRPCQK7RA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBM6RH4EUZHCJQP2DDYXZOXVJWATTWT5CAJ5S4GKGLLM6CYZLXQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXN62TIYPVKHLPEA5V7BFAPRTQY4J4PVBGS4EB6A3CGNSQCJSUVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQ3THMUIJIVTE226PTKLQHRM57GZX6Z5MDHYBYYLEW63WM23Y35A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js"
            ]
        },
        "ListSearchResultExportJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/export-search-jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "byStatus": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "ByStatus": {
                        "location": "querystring",
                        "locationName": "Status"
                    },
                    "BySearchJobIdentifier": {
                        "location": "querystring",
                        "locationName": "SearchJobIdentifier"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "exportJobs"
                ],
                "members": {
                    "exportJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "exportJobArn": {},
                                "status": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "statusMessage": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH7PTEVJIG6ZYQJWCKNGUCZ5D2SWWPLAEI6RL5PNZTZUXL7MKYEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJB4ZV63SDQYGOXEG6VJCNL2MYN4SCJ4M76FHSI7IMOPMWZFTOEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4OPR2WJ7PNIKPBQANCZMCBIGB4345Z6LENSBTWBXIXYXOJR4WTQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWKQXOI5PSN3FOVZSJLAY4DNC4CLHYOGJ2J44VBH44CBAZC6B5LQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVDCV3S3SUBUN4HWXO44YPZY2ZD3LLMBYWDFSVP2ZMDWJWLMPGXA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YTEE6FGLMXQVLQOSOTKTCM5ZT536QQ3DUO4FOLCYXTXRPCQK7RA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBM6RH4EUZHCJQP2DDYXZOXVJWATTWT5CAJ5S4GKGLLM6CYZLXQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXN62TIYPVKHLPEA5V7BFAPRTQY4J4PVBGS4EB6A3CGNSQCJSUVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQ3THMUIJIVTE226PTKLQHRM57GZX6Z5MDHYBYYLEW63WM23Y35A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js"
            ]
        },
        "ListSearchResults": {
            "http": {
                "method": "GET",
                "requestUri": "/search-jobs/{searchJobIdentifier}/search-results",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "searchJobIdentifier"
                ],
                "members": {
                    "searchJobIdentifier": {
                        "location": "uri",
                        "locationName": "searchJobIdentifier"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "SearchJobIdentifier": {
                        "location": "uri",
                        "locationName": "SearchJobIdentifier"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "searchJobIdentifier",
                    "status",
                    "results"
                ],
                "members": {
                    "searchJobIdentifier": {},
                    "status": {},
                    "results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "resourceIdentifier": {},
                                "resourceType": {},
                                "s3ResultItem": {
                                    "type": "structure",
                                    "members": {
                                        "objectSize": {
                                            "type": "integer"
                                        },
                                        "recoveryPointArn": {},
                                        "backupCreationTime": {
                                            "type": "timestamp"
                                        },
                                        "lastModifiedTime": {
                                            "type": "timestamp"
                                        },
                                        "resourceArn": {},
                                        "storageClass": {},
                                        "etag": {}
                                    }
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH7PTEVJIG6ZYQJWCKNGUCZ5D2SWWPLAEI6RL5PNZTZUXL7MKYEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJB4ZV63SDQYGOXEG6VJCNL2MYN4SCJ4M76FHSI7IMOPMWZFTOEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4OPR2WJ7PNIKPBQANCZMCBIGB4345Z6LENSBTWBXIXYXOJR4WTQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWKQXOI5PSN3FOVZSJLAY4DNC4CLHYOGJ2J44VBH44CBAZC6B5LQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVDCV3S3SUBUN4HWXO44YPZY2ZD3LLMBYWDFSVP2ZMDWJWLMPGXA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YTEE6FGLMXQVLQOSOTKTCM5ZT536QQ3DUO4FOLCYXTXRPCQK7RA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBM6RH4EUZHCJQP2DDYXZOXVJWATTWT5CAJ5S4GKGLLM6CYZLXQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXN62TIYPVKHLPEA5V7BFAPRTQY4J4PVBGS4EB6A3CGNSQCJSUVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQ3THMUIJIVTE226PTKLQHRM57GZX6Z5MDHYBYYLEW63WM23Y35A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js"
            ]
        },
        "StartSearchJob": {
            "http": {
                "method": "PUT",
                "requestUri": "/search-jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "searchJobType",
                    "recoveryPointScope",
                    "itemFilters"
                ],
                "members": {
                    "searchJobName": {},
                    "searchRoleArn": {},
                    "searchJobTags": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "searchJobType": {},
                    "recoveryPointScope": {
                        "shape": "Sc"
                    },
                    "itemFilters": {
                        "shape": "Sl"
                    },
                    "SearchRoleArn": {},
                    "SearchJobTags": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    },
                    "SearchJobName": {},
                    "ClientToken": {},
                    "SearchJobType": {},
                    "RecoveryPointScope": {
                        "shape": "Sc"
                    },
                    "ItemFilters": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "searchJobArn": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "searchJobIdentifier": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH7PTEVJIG6ZYQJWCKNGUCZ5D2SWWPLAEI6RL5PNZTZUXL7MKYEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJB4ZV63SDQYGOXEG6VJCNL2MYN4SCJ4M76FHSI7IMOPMWZFTOEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4OPR2WJ7PNIKPBQANCZMCBIGB4345Z6LENSBTWBXIXYXOJR4WTQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWKQXOI5PSN3FOVZSJLAY4DNC4CLHYOGJ2J44VBH44CBAZC6B5LQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVDCV3S3SUBUN4HWXO44YPZY2ZD3LLMBYWDFSVP2ZMDWJWLMPGXA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YTEE6FGLMXQVLQOSOTKTCM5ZT536QQ3DUO4FOLCYXTXRPCQK7RA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBM6RH4EUZHCJQP2DDYXZOXVJWATTWT5CAJ5S4GKGLLM6CYZLXQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXN62TIYPVKHLPEA5V7BFAPRTQY4J4PVBGS4EB6A3CGNSQCJSUVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQ3THMUIJIVTE226PTKLQHRM57GZX6Z5MDHYBYYLEW63WM23Y35A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js"
            ]
        },
        "StartSearchResultExportJob": {
            "http": {
                "method": "PUT",
                "requestUri": "/export-search-jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "searchJobIdentifier",
                    "exportSpecification"
                ],
                "members": {
                    "searchJobIdentifier": {},
                    "exportSpecification": {
                        "shape": "S11"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "SearchJobIdentifier": {},
                    "ExportSpecification": {
                        "shape": "S12"
                    },
                    "ClientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportJobArn": {},
                    "exportJobId": {},
                    "creationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH7PTEVJIG6ZYQJWCKNGUCZ5D2SWWPLAEI6RL5PNZTZUXL7MKYEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJB4ZV63SDQYGOXEG6VJCNL2MYN4SCJ4M76FHSI7IMOPMWZFTOEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4OPR2WJ7PNIKPBQANCZMCBIGB4345Z6LENSBTWBXIXYXOJR4WTQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWKQXOI5PSN3FOVZSJLAY4DNC4CLHYOGJ2J44VBH44CBAZC6B5LQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVDCV3S3SUBUN4HWXO44YPZY2ZD3LLMBYWDFSVP2ZMDWJWLMPGXA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YTEE6FGLMXQVLQOSOTKTCM5ZT536QQ3DUO4FOLCYXTXRPCQK7RA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBM6RH4EUZHCJQP2DDYXZOXVJWATTWT5CAJ5S4GKGLLM6CYZLXQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXN62TIYPVKHLPEA5V7BFAPRTQY4J4PVBGS4EB6A3CGNSQCJSUVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQ3THMUIJIVTE226PTKLQHRM57GZX6Z5MDHYBYYLEW63WM23Y35A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js"
            ]
        },
        "StopSearchJob": {
            "http": {
                "method": "PUT",
                "requestUri": "/search-jobs/{searchJobIdentifier}/actions/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "searchJobIdentifier"
                ],
                "members": {
                    "searchJobIdentifier": {
                        "location": "uri",
                        "locationName": "searchJobIdentifier"
                    },
                    "SearchJobIdentifier": {
                        "location": "uri",
                        "locationName": "SearchJobIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "searchJobStoppedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH7PTEVJIG6ZYQJWCKNGUCZ5D2SWWPLAEI6RL5PNZTZUXL7MKYEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJB4ZV63SDQYGOXEG6VJCNL2MYN4SCJ4M76FHSI7IMOPMWZFTOEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4OPR2WJ7PNIKPBQANCZMCBIGB4345Z6LENSBTWBXIXYXOJR4WTQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWKQXOI5PSN3FOVZSJLAY4DNC4CLHYOGJ2J44VBH44CBAZC6B5LQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVDCV3S3SUBUN4HWXO44YPZY2ZD3LLMBYWDFSVP2ZMDWJWLMPGXA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YTEE6FGLMXQVLQOSOTKTCM5ZT536QQ3DUO4FOLCYXTXRPCQK7RA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBM6RH4EUZHCJQP2DDYXZOXVJWATTWT5CAJ5S4GKGLLM6CYZLXQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXN62TIYPVKHLPEA5V7BFAPRTQY4J4PVBGS4EB6A3CGNSQCJSUVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQ3THMUIJIVTE226PTKLQHRM57GZX6Z5MDHYBYYLEW63WM23Y35A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "structure",
            "members": {
                "totalRecoveryPointsToScanCount": {
                    "type": "integer"
                },
                "totalIndicesToScanSize": {
                    "type": "integer"
                }
            }
        },
        "Sc": {
            "type": "structure",
            "members": {
                "resourceTypeList": {
                    "type": "list",
                    "member": {}
                },
                "recoveryPointCreationTimeFilter": {
                    "type": "structure",
                    "members": {
                        "startTime": {
                            "type": "timestamp"
                        },
                        "endTime": {
                            "type": "timestamp"
                        }
                    }
                },
                "resourceArnList": {
                    "type": "list",
                    "member": {}
                },
                "recoveryPointArnList": {
                    "type": "list",
                    "member": {}
                },
                "recoveryPointTags": {
                    "type": "list",
                    "member": {
                        "shape": "Sk"
                    }
                }
            }
        },
        "Sk": {
            "type": "structure",
            "members": {
                "key": {},
                "value": {}
            }
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "names": {
                        "shape": "Sn"
                    },
                    "sizes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "value"
                            ],
                            "members": {
                                "value": {
                                    "type": "long"
                                },
                                "operator": {}
                            }
                        }
                    },
                    "creationTimes": {
                        "shape": "St"
                    },
                    "lastModificationTimes": {
                        "shape": "St"
                    },
                    "versionIds": {
                        "shape": "Sn"
                    },
                    "eTags": {
                        "shape": "Sn"
                    }
                }
            }
        },
        "Sn": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "value"
                ],
                "members": {
                    "value": {},
                    "operator": {}
                }
            }
        },
        "St": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "value"
                ],
                "members": {
                    "value": {
                        "type": "timestamp"
                    },
                    "operator": {}
                }
            }
        },
        "S11": {
            "type": "structure",
            "members": {
                "fileFormat": {},
                "exportMethod": {}
            }
        },
        "S12": {
            "type": "structure",
            "members": {
                "FileFormat": {},
                "ExportMethod": {}
            }
        }
    }
}