{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-01-01",
        "endpointPrefix": "backup-gateway",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS Backup Gateway",
        "serviceId": "Backup Gateway",
        "signatureVersion": "v4",
        "signingName": "backup-gateway",
        "targetPrefix": "BackupOnPremises_v20210101",
        "uid": "backup-gateway-2021-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
        ]
    },
    "operations": {
        "AssociateGatewayToServer": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn",
                    "ServerArn"
                ],
                "members": {
                    "GatewayArn": {},
                    "ServerArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "CreateGateway": {
            "input": {
                "type": "structure",
                "required": [
                    "ActivationKey",
                    "GatewayDisplayName",
                    "GatewayType"
                ],
                "members": {
                    "ActivationKey": {},
                    "GatewayDisplayName": {},
                    "GatewayType": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "DeleteGateway": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn"
                ],
                "members": {
                    "GatewayArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "DeleteHypervisor": {
            "input": {
                "type": "structure",
                "required": [
                    "HypervisorArn"
                ],
                "members": {
                    "HypervisorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HypervisorArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "DisassociateGatewayFromServer": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn"
                ],
                "members": {
                    "GatewayArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "GetGateway": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn"
                ],
                "members": {
                    "GatewayArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Gateway": {
                        "type": "structure",
                        "members": {
                            "GatewayArn": {},
                            "GatewayDisplayName": {},
                            "GatewayType": {},
                            "HypervisorId": {},
                            "LastSeenTime": {
                                "type": "timestamp"
                            },
                            "MaintenanceStartTime": {
                                "type": "structure",
                                "required": [
                                    "HourOfDay",
                                    "MinuteOfHour"
                                ],
                                "members": {
                                    "DayOfMonth": {
                                        "type": "integer"
                                    },
                                    "DayOfWeek": {
                                        "type": "integer"
                                    },
                                    "HourOfDay": {
                                        "type": "integer"
                                    },
                                    "MinuteOfHour": {
                                        "type": "integer"
                                    }
                                }
                            },
                            "NextUpdateAvailabilityTime": {
                                "type": "timestamp"
                            },
                            "VpcEndpoint": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "GetVirtualMachine": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "VirtualMachine": {
                        "type": "structure",
                        "members": {
                            "HostName": {},
                            "HypervisorId": {},
                            "LastBackupDate": {
                                "type": "timestamp"
                            },
                            "Name": {},
                            "Path": {},
                            "ResourceArn": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "ImportHypervisorConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "Host",
                    "Name"
                ],
                "members": {
                    "Host": {},
                    "KmsKeyArn": {},
                    "Name": {},
                    "Password": {
                        "shape": "S14"
                    },
                    "Tags": {
                        "shape": "S9"
                    },
                    "Username": {
                        "shape": "S15"
                    },
                    "Virtual": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HypervisorArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "ListGateways": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Gateways": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "GatewayArn": {},
                                "GatewayDisplayName": {},
                                "GatewayType": {},
                                "HypervisorId": {},
                                "LastSeenTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "ListHypervisors": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Hypervisors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Host": {},
                                "HypervisorArn": {},
                                "KmsKeyArn": {},
                                "Name": {},
                                "State": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "ListVirtualMachines": {
            "input": {
                "type": "structure",
                "members": {
                    "HypervisorArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "VirtualMachines": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "HostName": {},
                                "HypervisorId": {},
                                "LastBackupDate": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "Path": {},
                                "ResourceArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "PutMaintenanceStartTime": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn",
                    "HourOfDay",
                    "MinuteOfHour"
                ],
                "members": {
                    "DayOfMonth": {
                        "type": "integer"
                    },
                    "DayOfWeek": {
                        "type": "integer"
                    },
                    "GatewayArn": {},
                    "HourOfDay": {
                        "type": "integer"
                    },
                    "MinuteOfHour": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "TestHypervisorConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn",
                    "Host"
                ],
                "members": {
                    "GatewayArn": {},
                    "Host": {},
                    "Password": {
                        "shape": "S14"
                    },
                    "Username": {
                        "shape": "S15"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "UpdateGatewayInformation": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn"
                ],
                "members": {
                    "GatewayArn": {},
                    "GatewayDisplayName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "UpdateGatewaySoftwareNow": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn"
                ],
                "members": {
                    "GatewayArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "UpdateHypervisor": {
            "input": {
                "type": "structure",
                "required": [
                    "HypervisorArn"
                ],
                "members": {
                    "Host": {},
                    "HypervisorArn": {},
                    "Name": {},
                    "Password": {
                        "shape": "S14"
                    },
                    "Username": {
                        "shape": "S15"
                    },
                    "LogGroupArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HypervisorArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "GetBandwidthRateLimitSchedule": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn"
                ],
                "members": {
                    "GatewayArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {},
                    "BandwidthRateLimitIntervals": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "GetFileShare": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FileShare": {
                        "type": "structure",
                        "members": {
                            "StorageVirtualMachine": {},
                            "LastBackupDate": {
                                "type": "timestamp"
                            },
                            "Name": {},
                            "Path": {},
                            "ResourceArn": {},
                            "ServerArn": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "GetHypervisor": {
            "input": {
                "type": "structure",
                "required": [
                    "HypervisorArn"
                ],
                "members": {
                    "HypervisorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Hypervisor": {
                        "type": "structure",
                        "members": {
                            "Host": {},
                            "HypervisorArn": {},
                            "KmsKeyArn": {},
                            "Name": {},
                            "LogGroupArn": {},
                            "State": {},
                            "LastSuccessfulMetadataSyncTime": {
                                "type": "timestamp"
                            },
                            "LatestMetadataSyncStatusMessage": {},
                            "LatestMetadataSyncStatus": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "GetHypervisorPropertyMappings": {
            "input": {
                "type": "structure",
                "required": [
                    "HypervisorArn"
                ],
                "members": {
                    "HypervisorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HypervisorArn": {},
                    "VmwareToAwsTagMappings": {
                        "shape": "S1i"
                    },
                    "IamRoleArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "ImportFileServerConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Host"
                ],
                "members": {
                    "Name": {},
                    "Host": {},
                    "Username": {
                        "shape": "S1t"
                    },
                    "Password": {
                        "shape": "S1u"
                    },
                    "ProductType": {},
                    "Tags": {
                        "shape": "S9"
                    },
                    "KmsKeyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServerArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "ListFileServers": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "FileServers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Host": {},
                                "ServerArn": {},
                                "KmsKeyArn": {},
                                "Name": {},
                                "State": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
[...]
