{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-01-01",
        "endpointPrefix": "backup-gateway",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS Backup Gateway",
        "serviceId": "Backup Gateway",
        "signatureVersion": "v4",
        "signingName": "backup-gateway",
        "targetPrefix": "BackupOnPremises_v20210101",
        "uid": "backup-gateway-2021-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateGatewayToServer": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn",
                    "ServerArn"
                ],
                "members": {
                    "GatewayArn": {},
                    "ServerArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateGateway": {
            "input": {
                "type": "structure",
                "required": [
                    "ActivationKey",
                    "GatewayDisplayName",
                    "GatewayType"
                ],
                "members": {
                    "ActivationKey": {},
                    "GatewayDisplayName": {},
                    "GatewayType": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteGateway": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn"
                ],
                "members": {
                    "GatewayArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteHypervisor": {
            "input": {
                "type": "structure",
                "required": [
                    "HypervisorArn"
                ],
                "members": {
                    "HypervisorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HypervisorArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisassociateGatewayFromServer": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn"
                ],
                "members": {
                    "GatewayArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetGateway": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn"
                ],
                "members": {
                    "GatewayArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Gateway": {
                        "type": "structure",
                        "members": {
                            "GatewayArn": {},
                            "GatewayDisplayName": {},
                            "GatewayType": {},
                            "HypervisorId": {},
                            "LastSeenTime": {
                                "type": "timestamp"
                            },
                            "MaintenanceStartTime": {
                                "type": "structure",
                                "required": [
                                    "HourOfDay",
                                    "MinuteOfHour"
                                ],
                                "members": {
                                    "DayOfMonth": {
                                        "type": "integer"
                                    },
                                    "DayOfWeek": {
                                        "type": "integer"
                                    },
                                    "HourOfDay": {
                                        "type": "integer"
                                    },
                                    "MinuteOfHour": {
                                        "type": "integer"
                                    }
                                }
                            },
                            "NextUpdateAvailabilityTime": {
                                "type": "timestamp"
                            },
                            "VpcEndpoint": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetVirtualMachine": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "VirtualMachine": {
                        "type": "structure",
                        "members": {
                            "HostName": {},
                            "HypervisorId": {},
                            "LastBackupDate": {
                                "type": "timestamp"
                            },
                            "Name": {},
                            "Path": {},
                            "ResourceArn": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ImportHypervisorConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "Host",
                    "Name"
                ],
                "members": {
                    "Host": {},
                    "KmsKeyArn": {},
                    "Name": {},
                    "Password": {
                        "shape": "S14"
                    },
                    "Tags": {
                        "shape": "S9"
                    },
                    "Username": {
                        "shape": "S15"
                    },
                    "Virtual": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HypervisorArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListGateways": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Gateways": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "GatewayArn": {},
                                "GatewayDisplayName": {},
                                "GatewayType": {},
                                "HypervisorId": {},
                                "LastSeenTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListHypervisors": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Hypervisors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Host": {},
                                "HypervisorArn": {},
                                "KmsKeyArn": {},
                                "Name": {},
                                "State": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListVirtualMachines": {
            "input": {
                "type": "structure",
                "members": {
                    "HypervisorArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "VirtualMachines": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "HostName": {},
                                "HypervisorId": {},
                                "LastBackupDate": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "Path": {},
                                "ResourceArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "PutMaintenanceStartTime": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn",
                    "HourOfDay",
                    "MinuteOfHour"
                ],
                "members": {
                    "DayOfMonth": {
                        "type": "integer"
                    },
                    "DayOfWeek": {
                        "type": "integer"
                    },
                    "GatewayArn": {},
                    "HourOfDay": {
                        "type": "integer"
                    },
                    "MinuteOfHour": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "TestHypervisorConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn",
                    "Host"
                ],
                "members": {
                    "GatewayArn": {},
                    "Host": {},
                    "Password": {
                        "shape": "S14"
                    },
                    "Username": {
                        "shape": "S15"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateGatewayInformation": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn"
                ],
                "members": {
                    "GatewayArn": {},
                    "GatewayDisplayName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateGatewaySoftwareNow": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn"
                ],
                "members": {
                    "GatewayArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateHypervisor": {
            "input": {
                "type": "structure",
                "required": [
                    "HypervisorArn"
                ],
                "members": {
                    "Host": {},
                    "HypervisorArn": {},
                    "Name": {},
                    "Password": {
                        "shape": "S14"
                    },
                    "Username": {
                        "shape": "S15"
                    },
                    "LogGroupArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HypervisorArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetBandwidthRateLimitSchedule": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn"
                ],
                "members": {
                    "GatewayArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {},
                    "BandwidthRateLimitIntervals": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetFileShare": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FileShare": {
                        "type": "structure",
                        "members": {
                            "StorageVirtualMachine": {},
                            "LastBackupDate": {
                                "type": "timestamp"
                            },
                            "Name": {},
                            "Path": {},
                            "ResourceArn": {},
                            "ServerArn": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js"
            ]
        },
        "GetHypervisor": {
            "input": {
                "type": "structure",
                "required": [
                    "HypervisorArn"
                ],
                "members": {
                    "HypervisorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Hypervisor": {
                        "type": "structure",
                        "members": {
                            "Host": {},
                            "HypervisorArn": {},
                            "KmsKeyArn": {},
                            "Name": {},
                            "LogGroupArn": {},
                            "State": {},
                            "LastSuccessfulMetadataSyncTime": {
                                "type": "timestamp"
                            },
                            "LatestMetadataSyncStatusMessage": {},
                            "LatestMetadataSyncStatus": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetHypervisorPropertyMappings": {
            "input": {
                "type": "structure",
                "required": [
                    "HypervisorArn"
                ],
                "members": {
                    "HypervisorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HypervisorArn": {},
                    "VmwareToAwsTagMappings": {
                        "shape": "S1i"
                    },
                    "IamRoleArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ImportFileServerConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Host"
                ],
                "members": {
                    "Name": {},
                    "Host": {},
                    "Username": {
                        "shape": "S1t"
                    },
                    "Password": {
                        "shape": "S1u"
                    },
                    "ProductType": {},
                    "Tags": {
                        "shape": "S9"
                    },
                    "KmsKeyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServerArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
[...]
