{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "backup-search",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "Cryo/search",
        "serviceFullName": "AWS Backup Search API Model",
        "serviceId": "BackupSearch",
        "signatureVersion": "v4",
        "signingName": "backup-search",
        "uid": "backupsearch-2018-05-10",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
        ]
    },
    "operations": {
        "GetSearchJob": {
            "http": {
                "method": "GET",
                "requestUri": "/search-jobs/{searchJobIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "searchJobIdentifier"
                ],
                "members": {
                    "searchJobIdentifier": {
                        "location": "uri",
                        "locationName": "searchJobIdentifier"
                    },
                    "SearchJobIdentifier": {
                        "location": "uri",
                        "locationName": "SearchJobIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "searchJobType",
                    "status",
                    "recoveryPointScope",
                    "itemFilters",
                    "creationTime",
                    "searchJobIdentifier",
                    "searchJobArn"
                ],
                "members": {
                    "searchJobName": {},
                    "searchRoleArn": {},
                    "searchScopeSummary": {
                        "shape": "S6"
                    },
                    "currentSearchProgress": {
                        "type": "structure",
                        "members": {
                            "recoverypointsScannedcount": {
                                "type": "long"
                            },
                            "indicesScannedSize": {
                                "type": "long"
                            },
                            "itemsMatchedCount": {
                                "type": "long"
                            }
                        }
                    },
                    "statusMessage": {},
                    "searchJobType": {},
                    "status": {},
                    "recoveryPointScope": {
                        "shape": "Sc"
                    },
                    "itemFilters": {
                        "shape": "Sl"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "searchJobIdentifier": {},
                    "searchJobArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "GetSearchResultExportJob": {
            "http": {
                "method": "GET",
                "requestUri": "/export-search-jobs/{searchResultExportJobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "searchResultExportJobId"
                ],
                "members": {
                    "searchResultExportJobId": {
                        "location": "uri",
                        "locationName": "searchResultExportJobId"
                    },
                    "SearchResultExportJobIdentifier": {
                        "location": "uri",
                        "locationName": "SearchResultExportJobIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "downloadUrls": {
                        "type": "list",
                        "member": {}
                    },
                    "statusMessage": {},
                    "exportSpecification": {
                        "shape": "S11"
                    },
                    "searchJobArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "ListSearchJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/search-jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "byStatus": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "ByStatus": {
                        "location": "querystring",
                        "locationName": "Status"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "searchJobs"
                ],
                "members": {
                    "searchJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "searchJobIdentifier": {},
                                "searchJobName": {},
                                "searchRoleArn": {},
                                "status": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "searchScopeSummary": {
                                    "shape": "S6"
                                },
                                "statusMessage": {},
                                "searchJobType": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "ListSearchResultExportJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/export-search-jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "byStatus": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "ByStatus": {
                        "location": "querystring",
                        "locationName": "Status"
                    },
                    "BySearchJobIdentifier": {
                        "location": "querystring",
                        "locationName": "SearchJobIdentifier"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "exportJobs"
                ],
                "members": {
                    "exportJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "exportJobArn": {},
                                "status": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "statusMessage": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "ListSearchResults": {
            "http": {
                "method": "GET",
                "requestUri": "/search-jobs/{searchJobIdentifier}/search-results",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "searchJobIdentifier"
                ],
                "members": {
                    "searchJobIdentifier": {
                        "location": "uri",
                        "locationName": "searchJobIdentifier"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "SearchJobIdentifier": {
                        "location": "uri",
                        "locationName": "SearchJobIdentifier"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "searchJobIdentifier",
                    "status",
                    "results"
                ],
                "members": {
                    "searchJobIdentifier": {},
                    "status": {},
                    "results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "resourceIdentifier": {},
                                "resourceType": {},
                                "s3ResultItem": {
                                    "type": "structure",
                                    "members": {
                                        "objectSize": {
                                            "type": "integer"
                                        },
                                        "recoveryPointArn": {},
                                        "backupCreationTime": {
                                            "type": "timestamp"
                                        },
                                        "lastModifiedTime": {
                                            "type": "timestamp"
                                        },
                                        "resourceArn": {},
                                        "storageClass": {},
                                        "etag": {}
                                    }
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "StartSearchJob": {
            "http": {
                "method": "PUT",
                "requestUri": "/search-jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "searchJobType",
                    "recoveryPointScope",
                    "itemFilters"
                ],
                "members": {
                    "searchJobName": {},
                    "searchRoleArn": {},
                    "searchJobTags": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "searchJobType": {},
                    "recoveryPointScope": {
                        "shape": "Sc"
                    },
                    "itemFilters": {
                        "shape": "Sl"
                    },
                    "SearchRoleArn": {},
                    "SearchJobTags": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    },
                    "SearchJobName": {},
                    "ClientToken": {},
                    "SearchJobType": {},
                    "RecoveryPointScope": {
                        "shape": "Sc"
                    },
                    "ItemFilters": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "searchJobArn": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "searchJobIdentifier": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "StartSearchResultExportJob": {
            "http": {
                "method": "PUT",
                "requestUri": "/export-search-jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "searchJobIdentifier",
                    "exportSpecification"
                ],
                "members": {
                    "searchJobIdentifier": {},
                    "exportSpecification": {
                        "shape": "S11"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "SearchJobIdentifier": {},
                    "ExportSpecification": {
                        "shape": "S12"
                    },
                    "ClientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportJobArn": {},
                    "exportJobId": {},
                    "creationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "StopSearchJob": {
            "http": {
                "method": "PUT",
                "requestUri": "/search-jobs/{searchJobIdentifier}/actions/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "searchJobIdentifier"
                ],
                "members": {
                    "searchJobIdentifier": {
                        "location": "uri",
                        "locationName": "searchJobIdentifier"
                    },
                    "SearchJobIdentifier": {
                        "location": "uri",
                        "locationName": "SearchJobIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "searchJobStoppedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "structure",
            "members": {
                "totalRecoveryPointsToScanCount": {
                    "type": "integer"
                },
                "totalIndicesToScanSize": {
                    "type": "integer"
                }
            }
        },
        "Sc": {
            "type": "structure",
            "members": {
                "resourceTypeList": {
                    "type": "list",
                    "member": {}
                },
                "recoveryPointCreationTimeFilter": {
                    "type": "structure",
                    "members": {
                        "startTime": {
                            "type": "timestamp"
                        },
                        "endTime": {
                            "type": "timestamp"
                        }
                    }
                },
                "resourceArnList": {
                    "type": "list",
                    "member": {}
                },
                "recoveryPointArnList": {
                    "type": "list",
                    "member": {}
                },
                "recoveryPointTags": {
                    "type": "list",
                    "member": {
                        "shape": "Sk"
                    }
                }
            }
        },
        "Sk": {
            "type": "structure",
            "members": {
                "key": {},
                "value": {}
            }
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "names": {
                        "shape": "Sn"
                    },
                    "sizes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "value"
                            ],
                            "members": {
                                "value": {
                                    "type": "long"
                                },
                                "operator": {}
                            }
                        }
                    },
                    "creationTimes": {
                        "shape": "St"
                    },
                    "lastModificationTimes": {
                        "shape": "St"
                    },
                    "versionIds": {
                        "shape": "Sn"
                    },
                    "eTags": {
                        "shape": "Sn"
                    }
                }
            }
        },
        "Sn": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "value"
                ],
                "members": {
                    "value": {},
                    "operator": {}
                }
            }
        },
        "St": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "value"
                ],
                "members": {
                    "value": {
                        "type": "timestamp"
                    },
                    "operator": {}
                }
            }
        },
        "S11": {
            "type": "structure",
            "members": {
                "fileFormat": {},
                "exportMethod": {}
            }
        },
        "S12": {
            "type": "structure",
            "members": {
                "FileFormat": {},
                "ExportMethod": {}
            }
        }
    }
}