{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "backup-search",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "Cryo/search",
        "serviceFullName": "AWS Backup Search API Model",
        "serviceId": "BackupSearch",
        "signatureVersion": "v4",
        "signingName": "backup-search",
        "uid": "backupsearch-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3ARG6K6TF5XGYJCJZBANLILBVEUMRTIY5PY3ON6FGMWZ7JGGWGGA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
        ]
    },
    "operations": {
        "GetSearchJob": {
            "http": {
                "method": "GET",
                "requestUri": "/search-jobs/{searchJobIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "searchJobIdentifier"
                ],
                "members": {
                    "searchJobIdentifier": {
                        "location": "uri",
                        "locationName": "searchJobIdentifier"
                    },
                    "SearchJobIdentifier": {
                        "location": "uri",
                        "locationName": "SearchJobIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "searchJobType",
                    "status",
                    "recoveryPointScope",
                    "itemFilters",
                    "creationTime",
                    "searchJobIdentifier",
                    "searchJobArn"
                ],
                "members": {
                    "searchJobName": {},
                    "searchRoleArn": {},
                    "searchScopeSummary": {
                        "shape": "S6"
                    },
                    "currentSearchProgress": {
                        "type": "structure",
                        "members": {
                            "recoverypointsScannedcount": {
                                "type": "long"
                            },
                            "indicesScannedSize": {
                                "type": "long"
                            },
                            "itemsMatchedCount": {
                                "type": "long"
                            }
                        }
                    },
                    "statusMessage": {},
                    "searchJobType": {},
                    "status": {},
                    "recoveryPointScope": {
                        "shape": "Sc"
                    },
                    "itemFilters": {
                        "shape": "Sl"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "searchJobIdentifier": {},
                    "searchJobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "GetSearchResultExportJob": {
            "http": {
                "method": "GET",
                "requestUri": "/export-search-jobs/{searchResultExportJobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "searchResultExportJobId"
                ],
                "members": {
                    "searchResultExportJobId": {
                        "location": "uri",
                        "locationName": "searchResultExportJobId"
                    },
                    "SearchResultExportJobIdentifier": {
                        "location": "uri",
                        "locationName": "SearchResultExportJobIdentifier"
                    },
                    "ExportJobIdentifier": {
                        "location": "uri",
                        "locationName": "ExportJobIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "downloadUrls": {
                        "type": "list",
                        "member": {}
                    },
                    "statusMessage": {},
                    "exportSpecification": {
                        "shape": "S11"
                    },
                    "searchJobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "ListSearchJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/search-jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "byStatus": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "ByStatus": {
                        "location": "querystring",
                        "locationName": "Status"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "searchJobs"
                ],
                "members": {
                    "searchJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "searchJobIdentifier": {},
                                "searchJobName": {},
                                "searchRoleArn": {},
                                "status": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "searchScopeSummary": {
                                    "shape": "S6"
                                },
                                "statusMessage": {},
                                "searchJobType": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "ListSearchResultExportJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/export-search-jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "byStatus": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "ByStatus": {
                        "location": "querystring",
                        "locationName": "Status"
                    },
                    "BySearchJobIdentifier": {
                        "location": "querystring",
                        "locationName": "SearchJobIdentifier"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "Status": {
                        "location": "querystring",
                        "locationName": "Status"
                    },
                    "SearchJobIdentifier": {
                        "location": "querystring",
                        "locationName": "SearchJobIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "exportJobs"
                ],
                "members": {
                    "exportJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "exportJobArn": {},
                                "status": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "statusMessage": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "ListSearchResults": {
            "http": {
                "method": "GET",
                "requestUri": "/search-jobs/{searchJobIdentifier}/search-results",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "searchJobIdentifier"
                ],
                "members": {
                    "searchJobIdentifier": {
                        "location": "uri",
                        "locationName": "searchJobIdentifier"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "SearchJobIdentifier": {
                        "location": "uri",
                        "locationName": "SearchJobIdentifier"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "searchJobIdentifier",
                    "status",
                    "results"
                ],
                "members": {
                    "searchJobIdentifier": {},
                    "status": {},
                    "results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "resourceIdentifier": {},
                                "resourceType": {},
                                "s3ResultItem": {
                                    "type": "structure",
                                    "members": {
                                        "objectSize": {
                                            "type": "integer"
                                        },
                                        "recoveryPointArn": {},
                                        "backupCreationTime": {
                                            "type": "timestamp"
                                        },
                                        "lastModifiedTime": {
                                            "type": "timestamp"
                                        },
                                        "resourceArn": {},
                                        "storageClass": {},
                                        "etag": {}
                                    }
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH7PTEVJIG6ZYQJWCKNGUCZ5D2SWWPLAEI6RL5PNZTZUXL7MKYEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJB4ZV63SDQYGOXEG6VJCNL2MYN4SCJ4M76FHSI7IMOPMWZFTOEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4OPR2WJ7PNIKPBQANCZMCBIGB4345Z6LENSBTWBXIXYXOJR4WTQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWKQXOI5PSN3FOVZSJLAY4DNC4CLHYOGJ2J44VBH44CBAZC6B5LQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVDCV3S3SUBUN4HWXO44YPZY2ZD3LLMBYWDFSVP2ZMDWJWLMPGXA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YTEE6FGLMXQVLQOSOTKTCM5ZT536QQ3DUO4FOLCYXTXRPCQK7RA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBM6RH4EUZHCJQP2DDYXZOXVJWATTWT5CAJ5S4GKGLLM6CYZLXQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXN62TIYPVKHLPEA5V7BFAPRTQY4J4PVBGS4EB6A3CGNSQCJSUVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQ3THMUIJIVTE226PTKLQHRM57GZX6Z5MDHYBYYLEW63WM23Y35A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
            ]
        },
        "StartSearchJob": {
            "http": {
                "method": "PUT",
                "requestUri": "/search-jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "searchJobType",
                    "recoveryPointScope",
                    "itemFilters"
                ],
                "members": {
                    "searchJobName": {},
                    "searchRoleArn": {},
                    "searchJobTags": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "searchJobType": {},
                    "recoveryPointScope": {
                        "shape": "Sc"
                    },
                    "itemFilters": {
                        "shape": "Sl"
                    },
                    "SearchRoleArn": {},
                    "SearchJobTags": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    },
                    "SearchJobName": {},
                    "ClientToken": {},
                    "SearchJobType": {},
                    "RecoveryPointScope": {
                        "shape": "Sc"
                    },
                    "ItemFilters": {
                        "shape": "Sl"
                    },
                    "Tags": {
                        "shape": "Sj"
                    },
                    "Name": {},
                    "EncryptionKeyArn": {},
                    "SearchScope": {
                        "shape": "Sc"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "searchJobArn": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "searchJobIdentifier": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "StartSearchResultExportJob": {
            "http": {
                "method": "PUT",
                "requestUri": "/export-search-jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "searchJobIdentifier",
                    "exportSpecification"
                ],
                "members": {
                    "searchJobIdentifier": {},
                    "exportSpecification": {
                        "shape": "S11"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "SearchJobIdentifier": {},
                    "ExportSpecification": {
                        "shape": "S12"
                    },
                    "ClientToken": {},
                    "Tags": {
                        "shape": "Sj"
                    },
                    "RoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportJobArn": {},
                    "exportJobId": {},
                    "creationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "StopSearchJob": {
            "http": {
                "method": "PUT",
                "requestUri": "/search-jobs/{searchJobIdentifier}/actions/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "searchJobIdentifier"
                ],
                "members": {
                    "searchJobIdentifier": {
                        "location": "uri",
                        "locationName": "searchJobIdentifier"
                    },
                    "SearchJobIdentifier": {
                        "location": "uri",
                        "locationName": "SearchJobIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "searchJobStoppedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "ListSearchJobBackups": {
            "http": {
                "method": "GET",
                "requestUri": "/search-jobs/{SearchJobIdentifier}/backups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SearchJobIdentifier"
                ],
                "members": {
                    "SearchJobIdentifier": {
                        "location": "uri",
                        "locationName": "SearchJobIdentifier"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SearchJobIdentifier",
                    "Results"
                ],
                "members": {
                    "SearchJobIdentifier": {},
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Status": {},
                                "StatusMessage": {},
                                "ResourceType": {},
                                "BackupResourceArn": {},
                                "SourceResourceArn": {},
                                "IndexCreationTime": {
                                    "type": "timestamp"
                                },
                                "BackupCreationTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "ListSearchJobResults": {
            "http": {
                "method": "GET",
                "requestUri": "/search-jobs/{SearchJobIdentifier}/search-results",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SearchJobIdentifier"
                ],
                "members": {
                    "SearchJobIdentifier": {
                        "location": "uri",
                        "locationName": "SearchJobIdentifier"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SearchJobIdentifier",
                    "Status",
                    "Results"
                ],
                "members": {
                    "SearchJobIdentifier": {},
                    "Status": {},
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "S3ResultItem": {
                                    "type": "structure",
                                    "members": {
                                        "BackupResourceArn": {},
                                        "SourceResourceArn": {},
                                        "ObjectKey": {},
                                        "ObjectSize": {
                                            "type": "long"
                                        },
                                        "CreationTime": {
                                            "type": "timestamp"
                                        },
                                        "ETag": {},
                                        "VersionId": {},
                                        "IsLatestVersion": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "EBSResultItem": {
                                    "type": "structure",
                                    "members": {
                                        "BackupResourceArn": {},
                                        "SourceResourceArn": {},
                                        "FilePath": {},
                                        "FileSize": {
                                            "type": "long"
                                        },
                                        "CreationTime": {
                                            "type": "timestamp"
                                        },
                                        "LastModifiedTime": {
                                            "type": "timestamp"
                                        }
                                    }
                                }
                            },
                            "union": true
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "UnTagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "TagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "structure",
            "members": {
                "totalRecoveryPointsToScanCount": {
                    "type": "integer"
                },
                "totalIndicesToScanSize": {
                    "type": "integer"
                }
            }
        },
        "Sc": {
            "type": "structure",
            "members": {
                "resourceTypeList": {
                    "type": "list",
                    "member": {}
                },
                "recoveryPointCreationTimeFilter": {
                    "type": "structure",
                    "members": {
                        "startTime": {
                            "type": "timestamp"
                        },
                        "endTime": {
                            "type": "timestamp"
                        }
                    }
                },
                "resourceArnList": {
                    "type": "list",
                    "member": {}
                },
                "recoveryPointArnList": {
                    "type": "list",
                    "member": {}
                },
                "recoveryPointTags": {
                    "type": "list",
                    "member": {
                        "shape": "Sk"
                    }
                }
            }
        },
        "Sk": {
            "type": "structure",
            "members": {
                "key": {},
                "value": {}
            }
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "names": {
                        "shape": "Sn"
                    },
                    "sizes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "value"
                            ],
                            "members": {
                                "value": {
                                    "type": "long"
                                },
                                "operator": {}
                            }
                        }
                    },
                    "creationTimes": {
                        "shape": "St"
                    },
                    "lastModificationTimes": {
                        "shape": "St"
                    },
                    "versionIds": {
                        "shape": "Sn"
                    },
                    "eTags": {
                        "shape": "Sn"
                    }
                }
            }
        },
        "Sn": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "value"
                ],
                "members": {
                    "value": {},
                    "operator": {}
                }
            }
        },
        "St": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "value"
                ],
                "members": {
                    "value": {
                        "type": "timestamp"
                    },
                    "operator": {}
                }
            }
        },
        "S11": {
            "type": "structure",
            "members": {
                "fileFormat": {},
                "exportMethod": {}
            }
        },
        "S12": {
            "type": "structure",
            "members": {
                "FileFormat": {},
                "ExportMethod": {}
            }
        },
        "S5": {
            "type": "structure",
            "members": {
                "TotalRecoveryPointsToScanCount": {
                    "type": "integer"
                },
                "TotalIndicesToScanSize": {
                    "type": "long"
                }
            }
        },
        "Sj": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "So": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Value"
                ],
                "members": {
                    "Value": {},
                    "Operator": {}
                }
            }
        },
        "Sr": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Value"
                ],
                "members": {
                    "Value": {
                        "type": "long"
                    },
                    "Operator": {}
                }
            }
        },
        "Su": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Value"
                ],
                "members": {
                    "Value": {
                        "type": "timestamp"
                    },
                    "Operator": {}
                }
            }
        },
        "S14": {
            "type": "structure",
            "members": {
                "s3ExportSpecification": {
                    "type": "structure",
                    "required": [
                        "DestinationBucket"
                    ],
                    "members": {
                        "DestinationBucket": {},
                        "DestinationPrefix": {}
                    }
                }
            },
            "union": true
        },
        "Sq": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Value"
                ],
                "members": {
                    "Value": {
                        "type": "long"
                    },
                    "Operator": {}
                }
            }
        },
        "S13": {
            "type": "structure",
            "members": {
                "s3ExportSpecification": {
                    "type": "structure",
                    "required": [
                        "DestinationBucket"
                    ],
                    "members": {
                        "DestinationBucket": {},
                        "DestinationPrefix": {}
                    }
                }
            },
            "union": true
        }
    }
}