{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-01-01",
        "endpointPrefix": "backup-gateway",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS Backup Gateway",
        "serviceId": "Backup Gateway",
        "signatureVersion": "v4",
        "signingName": "backup-gateway",
        "targetPrefix": "BackupOnPremises_v20210101",
        "uid": "backup-gateway-2021-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
        ]
    },
    "operations": {
        "AssociateGatewayToServer": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn",
                    "ServerArn"
                ],
                "members": {
                    "GatewayArn": {},
                    "ServerArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
            ]
        },
        "CreateGateway": {
            "input": {
                "type": "structure",
                "required": [
                    "ActivationKey",
                    "GatewayDisplayName",
                    "GatewayType"
                ],
                "members": {
                    "ActivationKey": {},
                    "GatewayDisplayName": {},
                    "GatewayType": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
            ]
        },
        "DeleteGateway": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn"
                ],
                "members": {
                    "GatewayArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
            ]
        },
        "DeleteHypervisor": {
            "input": {
                "type": "structure",
                "required": [
                    "HypervisorArn"
                ],
                "members": {
                    "HypervisorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HypervisorArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
            ]
        },
        "DisassociateGatewayFromServer": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn"
                ],
                "members": {
                    "GatewayArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
            ]
        },
        "GetGateway": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn"
                ],
                "members": {
                    "GatewayArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Gateway": {
                        "type": "structure",
                        "members": {
                            "GatewayArn": {},
                            "GatewayDisplayName": {},
                            "GatewayType": {},
                            "HypervisorId": {},
                            "LastSeenTime": {
                                "type": "timestamp"
                            },
                            "MaintenanceStartTime": {
                                "type": "structure",
                                "required": [
                                    "HourOfDay",
                                    "MinuteOfHour"
                                ],
                                "members": {
                                    "DayOfMonth": {
                                        "type": "integer"
                                    },
                                    "DayOfWeek": {
                                        "type": "integer"
                                    },
                                    "HourOfDay": {
                                        "type": "integer"
                                    },
                                    "MinuteOfHour": {
                                        "type": "integer"
                                    }
                                }
                            },
                            "NextUpdateAvailabilityTime": {
                                "type": "timestamp"
                            },
                            "VpcEndpoint": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
            ]
        },
        "GetVirtualMachine": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "VirtualMachine": {
                        "type": "structure",
                        "members": {
                            "HostName": {},
                            "HypervisorId": {},
                            "LastBackupDate": {
                                "type": "timestamp"
                            },
                            "Name": {},
                            "Path": {},
                            "ResourceArn": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
            ]
        },
        "ImportHypervisorConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "Host",
                    "Name"
                ],
                "members": {
                    "Host": {},
                    "KmsKeyArn": {},
                    "Name": {},
                    "Password": {
                        "shape": "S14"
                    },
                    "Tags": {
                        "shape": "S9"
                    },
                    "Username": {
                        "shape": "S15"
                    },
                    "Virtual": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HypervisorArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
            ]
        },
        "ListGateways": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Gateways": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "GatewayArn": {},
                                "GatewayDisplayName": {},
                                "GatewayType": {},
                                "HypervisorId": {},
                                "LastSeenTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
            ]
        },
        "ListHypervisors": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Hypervisors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Host": {},
                                "HypervisorArn": {},
                                "KmsKeyArn": {},
                                "Name": {},
                                "State": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
            ]
        },
        "ListVirtualMachines": {
            "input": {
                "type": "structure",
                "members": {
                    "HypervisorArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "VirtualMachines": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "HostName": {},
                                "HypervisorId": {},
                                "LastBackupDate": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "Path": {},
                                "ResourceArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
            ]
        },
        "PutMaintenanceStartTime": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn",
                    "HourOfDay",
                    "MinuteOfHour"
                ],
                "members": {
                    "DayOfMonth": {
                        "type": "integer"
                    },
                    "DayOfWeek": {
                        "type": "integer"
                    },
                    "GatewayArn": {},
                    "HourOfDay": {
                        "type": "integer"
                    },
                    "MinuteOfHour": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
            ]
        },
        "TestHypervisorConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn",
                    "Host"
                ],
                "members": {
                    "GatewayArn": {},
                    "Host": {},
                    "Password": {
                        "shape": "S14"
                    },
                    "Username": {
                        "shape": "S15"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
            ]
        },
        "UpdateGatewayInformation": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn"
                ],
                "members": {
                    "GatewayArn": {},
                    "GatewayDisplayName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
            ]
        },
        "UpdateGatewaySoftwareNow": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn"
                ],
                "members": {
                    "GatewayArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
            ]
        },
        "UpdateHypervisor": {
            "input": {
                "type": "structure",
                "required": [
                    "HypervisorArn"
                ],
                "members": {
                    "Host": {},
                    "HypervisorArn": {},
                    "Name": {},
                    "Password": {
                        "shape": "S14"
                    },
                    "Username": {
                        "shape": "S15"
                    },
                    "LogGroupArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HypervisorArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
            ]
        },
        "GetBandwidthRateLimitSchedule": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayArn"
                ],
                "members": {
                    "GatewayArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayArn": {},
                    "BandwidthRateLimitIntervals": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
            ]
        },
        "GetFileShare": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FileShare": {
                        "type": "structure",
                        "members": {
                            "StorageVirtualMachine": {},
                            "LastBackupDate": {
                                "type": "timestamp"
                            },
                            "Name": {},
                            "Path": {},
                            "ResourceArn": {},
                            "ServerArn": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH7PTEVJIG6ZYQJWCKNGUCZ5D2SWWPLAEI6RL5PNZTZUXL7MKYEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJB4ZV63SDQYGOXEG6VJCNL2MYN4SCJ4M76FHSI7IMOPMWZFTOEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4OPR2WJ7PNIKPBQANCZMCBIGB4345Z6LENSBTWBXIXYXOJR4WTQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWKQXOI5PSN3FOVZSJLAY4DNC4CLHYOGJ2J44VBH44CBAZC6B5LQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVDCV3S3SUBUN4HWXO44YPZY2ZD3LLMBYWDFSVP2ZMDWJWLMPGXA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YTEE6FGLMXQVLQOSOTKTCM5ZT536QQ3DUO4FOLCYXTXRPCQK7RA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBM6RH4EUZHCJQP2DDYXZOXVJWATTWT5CAJ5S4GKGLLM6CYZLXQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXN62TIYPVKHLPEA5V7BFAPRTQY4J4PVBGS4EB6A3CGNSQCJSUVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQ3THMUIJIVTE226PTKLQHRM57GZX6Z5MDHYBYYLEW63WM23Y35A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
            ]
        },
        "GetHypervisor": {
            "input": {
                "type": "structure",
                "required": [
                    "HypervisorArn"
                ],
                "members": {
                    "HypervisorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Hypervisor": {
                        "type": "structure",
                        "members": {
                            "Host": {},
                            "HypervisorArn": {},
                            "KmsKeyArn": {},
                            "Name": {},
                            "LogGroupArn": {},
                            "State": {},
                            "LastSuccessfulMetadataSyncTime": {
                                "type": "timestamp"
                            },
                            "LatestMetadataSyncStatusMessage": {},
                            "LatestMetadataSyncStatus": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
            ]
        },
        "GetHypervisorPropertyMappings": {
            "input": {
                "type": "structure",
                "required": [
                    "HypervisorArn"
                ],
                "members": {
                    "HypervisorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HypervisorArn": {},
                    "VmwareToAwsTagMappings": {
                        "shape": "S1i"
                    },
                    "IamRoleArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
            ]
        },
        "ImportFileServerConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Host"
                ],
                "members": {
                    "Name": {},
                    "Host": {},
                    "Username": {
                        "shape": "S1t"
                    },
                    "Password": {
                        "shape": "S1u"
                    },
                    "ProductType": {},
                    "Tags": {
                        "shape": "S9"
                    },
                    "KmsKeyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServerArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH7PTEVJIG6ZYQJWCKNGUCZ5D2SWWPLAEI6RL5PNZTZUXL7MKYEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJB4ZV63SDQYGOXEG6VJCNL2MYN4SCJ4M76FHSI7IMOPMWZFTOEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4OPR2WJ7PNIKPBQANCZMCBIGB4345Z6LENSBTWBXIXYXOJR4WTQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWKQXOI5PSN3FOVZSJLAY4DNC4CLHYOGJ2J44VBH44CBAZC6B5LQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVDCV3S3SUBUN4HWXO44YPZY2ZD3LLMBYWDFSVP2ZMDWJWLMPGXA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YTEE6FGLMXQVLQOSOTKTCM5ZT536QQ3DUO4FOLCYXTXRPCQK7RA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBM6RH4EUZHCJQP2DDYXZOXVJWATTWT5CAJ5S4GKGLLM6CYZLXQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXN62TIYPVKHLPEA5V7BFAPRTQY4J4PVBGS4EB6A3CGNSQCJSUVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQ3THMUIJIVTE226PTKLQHRM57GZX6Z5MDHYBYYLEW63WM23Y35A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js"
            ]
        },
        "ListFileServers": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "FileServers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Host": {},
                                "ServerArn": {},
                                "KmsKeyArn": {},
                                "Name": {},
                                "State": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
[...]
