{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2014-02-03",
        "endpointPrefix": "baldr",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS CloudHSM",
        "signatureVersion": "v4",
        "signingName": "cloudhsm",
        "targetPrefix": "BaldrApiService",
        "uid": "baldr-2014-02-03",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/476HY23WZ5MA5VZCLY2OU2KZVWFDMMPAGTNH4MOUQ64Y6SAILTGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IOJD327K6GKO23AO4ZJMPOLVS2ZX5TOSEVUXCEMWTYSYTZ2GB5HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDK2YN4KVCROI3UX6AO2F6NHX33DPTNZH2VPUIJ34GS7D7FYTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LCKT5WOYSFYT4YQBX63DCN26YZQ35HJPYCNSIWWAPFSRQLVAAQ2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QS3IM6ERIORP3R4PPY56RC3XYAODLU4TQ3S42Z5RGR66X6CWHZCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MP6WXQTKHJM56ZK2MREPHSKYMFMCBBQE4DYOUKWI7MMN7JGGYY6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CIANFRJIRQXVJZB23JL6GHXAXNFVDLYS7BL6CANYQM2L4FAP32CQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
        ]
    },
    "operations": {
        "CopyBackupToRegion": {
            "input": {
                "type": "structure",
                "required": [
                    "DestinationRegion",
                    "BackupId"
                ],
                "members": {
                    "DestinationRegion": {},
                    "BackupId": {},
                    "TagList": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DestinationBackup": {
                        "type": "structure",
                        "members": {
                            "CreateTimestamp": {
                                "type": "timestamp"
                            },
                            "SourceRegion": {},
                            "SourceBackup": {},
                            "SourceCluster": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOJD327K6GKO23AO4ZJMPOLVS2ZX5TOSEVUXCEMWTYSYTZ2GB5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDK2YN4KVCROI3UX6AO2F6NHX33DPTNZH2VPUIJ34GS7D7FYTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCKT5WOYSFYT4YQBX63DCN26YZQ35HJPYCNSIWWAPFSRQLVAAQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS3IM6ERIORP3R4PPY56RC3XYAODLU4TQ3S42Z5RGR66X6CWHZCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP6WXQTKHJM56ZK2MREPHSKYMFMCBBQE4DYOUKWI7MMN7JGGYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIANFRJIRQXVJZB23JL6GHXAXNFVDLYS7BL6CANYQM2L4FAP32CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "CreateCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "HsmType",
                    "SubnetIds"
                ],
                "members": {
                    "BackupRetentionPolicy": {
                        "shape": "Sd"
                    },
                    "HsmType": {},
                    "SourceBackupId": {},
                    "SubnetIds": {
                        "type": "list",
                        "member": {}
                    },
                    "TagList": {
                        "shape": "S4"
                    },
                    "Mode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOJD327K6GKO23AO4ZJMPOLVS2ZX5TOSEVUXCEMWTYSYTZ2GB5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDK2YN4KVCROI3UX6AO2F6NHX33DPTNZH2VPUIJ34GS7D7FYTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCKT5WOYSFYT4YQBX63DCN26YZQ35HJPYCNSIWWAPFSRQLVAAQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS3IM6ERIORP3R4PPY56RC3XYAODLU4TQ3S42Z5RGR66X6CWHZCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP6WXQTKHJM56ZK2MREPHSKYMFMCBBQE4DYOUKWI7MMN7JGGYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIANFRJIRQXVJZB23JL6GHXAXNFVDLYS7BL6CANYQM2L4FAP32CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "CreateHsm": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId",
                    "AvailabilityZone"
                ],
                "members": {
                    "ClusterId": {},
                    "AvailabilityZone": {},
                    "IpAddress": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Hsm": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOJD327K6GKO23AO4ZJMPOLVS2ZX5TOSEVUXCEMWTYSYTZ2GB5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDK2YN4KVCROI3UX6AO2F6NHX33DPTNZH2VPUIJ34GS7D7FYTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCKT5WOYSFYT4YQBX63DCN26YZQ35HJPYCNSIWWAPFSRQLVAAQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS3IM6ERIORP3R4PPY56RC3XYAODLU4TQ3S42Z5RGR66X6CWHZCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP6WXQTKHJM56ZK2MREPHSKYMFMCBBQE4DYOUKWI7MMN7JGGYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIANFRJIRQXVJZB23JL6GHXAXNFVDLYS7BL6CANYQM2L4FAP32CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "DeleteBackup": {
            "input": {
                "type": "structure",
                "required": [
                    "BackupId"
                ],
                "members": {
                    "BackupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Backup": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOJD327K6GKO23AO4ZJMPOLVS2ZX5TOSEVUXCEMWTYSYTZ2GB5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDK2YN4KVCROI3UX6AO2F6NHX33DPTNZH2VPUIJ34GS7D7FYTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCKT5WOYSFYT4YQBX63DCN26YZQ35HJPYCNSIWWAPFSRQLVAAQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS3IM6ERIORP3R4PPY56RC3XYAODLU4TQ3S42Z5RGR66X6CWHZCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP6WXQTKHJM56ZK2MREPHSKYMFMCBBQE4DYOUKWI7MMN7JGGYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIANFRJIRQXVJZB23JL6GHXAXNFVDLYS7BL6CANYQM2L4FAP32CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "DeleteCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId"
                ],
                "members": {
                    "ClusterId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOJD327K6GKO23AO4ZJMPOLVS2ZX5TOSEVUXCEMWTYSYTZ2GB5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDK2YN4KVCROI3UX6AO2F6NHX33DPTNZH2VPUIJ34GS7D7FYTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCKT5WOYSFYT4YQBX63DCN26YZQ35HJPYCNSIWWAPFSRQLVAAQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS3IM6ERIORP3R4PPY56RC3XYAODLU4TQ3S42Z5RGR66X6CWHZCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP6WXQTKHJM56ZK2MREPHSKYMFMCBBQE4DYOUKWI7MMN7JGGYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIANFRJIRQXVJZB23JL6GHXAXNFVDLYS7BL6CANYQM2L4FAP32CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "DeleteHsm": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId"
                ],
                "members": {
                    "ClusterId": {},
                    "HsmId": {},
                    "EniId": {},
                    "EniIp": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HsmId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOJD327K6GKO23AO4ZJMPOLVS2ZX5TOSEVUXCEMWTYSYTZ2GB5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDK2YN4KVCROI3UX6AO2F6NHX33DPTNZH2VPUIJ34GS7D7FYTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCKT5WOYSFYT4YQBX63DCN26YZQ35HJPYCNSIWWAPFSRQLVAAQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS3IM6ERIORP3R4PPY56RC3XYAODLU4TQ3S42Z5RGR66X6CWHZCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP6WXQTKHJM56ZK2MREPHSKYMFMCBBQE4DYOUKWI7MMN7JGGYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIANFRJIRQXVJZB23JL6GHXAXNFVDLYS7BL6CANYQM2L4FAP32CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "DescribeBackups": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "shape": "S1g"
                    },
                    "SortAscending": {
                        "type": "boolean"
                    },
                    "Shared": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Backups": {
                        "type": "list",
                        "member": {
                            "shape": "S16"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOJD327K6GKO23AO4ZJMPOLVS2ZX5TOSEVUXCEMWTYSYTZ2GB5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDK2YN4KVCROI3UX6AO2F6NHX33DPTNZH2VPUIJ34GS7D7FYTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCKT5WOYSFYT4YQBX63DCN26YZQ35HJPYCNSIWWAPFSRQLVAAQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS3IM6ERIORP3R4PPY56RC3XYAODLU4TQ3S42Z5RGR66X6CWHZCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP6WXQTKHJM56ZK2MREPHSKYMFMCBBQE4DYOUKWI7MMN7JGGYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIANFRJIRQXVJZB23JL6GHXAXNFVDLYS7BL6CANYQM2L4FAP32CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "DescribeClusters": {
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "S1g"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Clusters": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOJD327K6GKO23AO4ZJMPOLVS2ZX5TOSEVUXCEMWTYSYTZ2GB5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDK2YN4KVCROI3UX6AO2F6NHX33DPTNZH2VPUIJ34GS7D7FYTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCKT5WOYSFYT4YQBX63DCN26YZQ35HJPYCNSIWWAPFSRQLVAAQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS3IM6ERIORP3R4PPY56RC3XYAODLU4TQ3S42Z5RGR66X6CWHZCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP6WXQTKHJM56ZK2MREPHSKYMFMCBBQE4DYOUKWI7MMN7JGGYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIANFRJIRQXVJZB23JL6GHXAXNFVDLYS7BL6CANYQM2L4FAP32CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "InitializeCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId",
                    "SignedCert",
                    "TrustAnchor"
                ],
                "members": {
                    "ClusterId": {},
                    "SignedCert": {},
                    "TrustAnchor": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "State": {},
                    "StateMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOJD327K6GKO23AO4ZJMPOLVS2ZX5TOSEVUXCEMWTYSYTZ2GB5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDK2YN4KVCROI3UX6AO2F6NHX33DPTNZH2VPUIJ34GS7D7FYTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCKT5WOYSFYT4YQBX63DCN26YZQ35HJPYCNSIWWAPFSRQLVAAQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS3IM6ERIORP3R4PPY56RC3XYAODLU4TQ3S42Z5RGR66X6CWHZCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP6WXQTKHJM56ZK2MREPHSKYMFMCBBQE4DYOUKWI7MMN7JGGYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIANFRJIRQXVJZB23JL6GHXAXNFVDLYS7BL6CANYQM2L4FAP32CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "ListTags": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId"
                ],
                "members": {
                    "ResourceId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagList"
                ],
                "members": {
                    "TagList": {
                        "shape": "S4"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOJD327K6GKO23AO4ZJMPOLVS2ZX5TOSEVUXCEMWTYSYTZ2GB5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDK2YN4KVCROI3UX6AO2F6NHX33DPTNZH2VPUIJ34GS7D7FYTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCKT5WOYSFYT4YQBX63DCN26YZQ35HJPYCNSIWWAPFSRQLVAAQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS3IM6ERIORP3R4PPY56RC3XYAODLU4TQ3S42Z5RGR66X6CWHZCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP6WXQTKHJM56ZK2MREPHSKYMFMCBBQE4DYOUKWI7MMN7JGGYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIANFRJIRQXVJZB23JL6GHXAXNFVDLYS7BL6CANYQM2L4FAP32CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "ModifyBackupAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "BackupId",
                    "NeverExpires"
                ],
                "members": {
                    "BackupId": {},
                    "NeverExpires": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Backup": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TQXKWP6NAURLWHJZFXPOEMD6MP4XPF6CUZIPZJMBRRFD7UIHZSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMIBVNUBFOTZZT7ETDWWBN7MRFQNV3SSJAVD5WNNBSW6S2TRI6IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDK2YN4KVCROI3UX6AO2F6NHX33DPTNZH2VPUIJ34GS7D7FYTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCKT5WOYSFYT4YQBX63DCN26YZQ35HJPYCNSIWWAPFSRQLVAAQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP6WXQTKHJM56ZK2MREPHSKYMFMCBBQE4DYOUKWI7MMN7JGGYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIANFRJIRQXVJZB23JL6GHXAXNFVDLYS7BL6CANYQM2L4FAP32CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "ModifyCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "BackupRetentionPolicy",
                    "ClusterId"
                ],
                "members": {
                    "BackupRetentionPolicy": {
                        "shape": "Sd"
                    },
                    "ClusterId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TQXKWP6NAURLWHJZFXPOEMD6MP4XPF6CUZIPZJMBRRFD7UIHZSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMIBVNUBFOTZZT7ETDWWBN7MRFQNV3SSJAVD5WNNBSW6S2TRI6IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDK2YN4KVCROI3UX6AO2F6NHX33DPTNZH2VPUIJ34GS7D7FYTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCKT5WOYSFYT4YQBX63DCN26YZQ35HJPYCNSIWWAPFSRQLVAAQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP6WXQTKHJM56ZK2MREPHSKYMFMCBBQE4DYOUKWI7MMN7JGGYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIANFRJIRQXVJZB23JL6GHXAXNFVDLYS7BL6CANYQM2L4FAP32CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "RestoreBackup": {
            "input": {
                "type": "structure",
                "required": [
                    "BackupId"
                ],
                "members": {
                    "BackupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Backup": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOJD327K6GKO23AO4ZJMPOLVS2ZX5TOSEVUXCEMWTYSYTZ2GB5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDK2YN4KVCROI3UX6AO2F6NHX33DPTNZH2VPUIJ34GS7D7FYTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCKT5WOYSFYT4YQBX63DCN26YZQ35HJPYCNSIWWAPFSRQLVAAQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS3IM6ERIORP3R4PPY56RC3XYAODLU4TQ3S42Z5RGR66X6CWHZCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP6WXQTKHJM56ZK2MREPHSKYMFMCBBQE4DYOUKWI7MMN7JGGYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIANFRJIRQXVJZB23JL6GHXAXNFVDLYS7BL6CANYQM2L4FAP32CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "TagList"
                ],
                "members": {
                    "ResourceId": {},
                    "TagList": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOJD327K6GKO23AO4ZJMPOLVS2ZX5TOSEVUXCEMWTYSYTZ2GB5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDK2YN4KVCROI3UX6AO2F6NHX33DPTNZH2VPUIJ34GS7D7FYTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCKT5WOYSFYT4YQBX63DCN26YZQ35HJPYCNSIWWAPFSRQLVAAQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS3IM6ERIORP3R4PPY56RC3XYAODLU4TQ3S42Z5RGR66X6CWHZCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP6WXQTKHJM56ZK2MREPHSKYMFMCBBQE4DYOUKWI7MMN7JGGYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIANFRJIRQXVJZB23JL6GHXAXNFVDLYS7BL6CANYQM2L4FAP32CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "TagKeyList"
                ],
                "members": {
                    "ResourceId": {},
                    "TagKeyList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOJD327K6GKO23AO4ZJMPOLVS2ZX5TOSEVUXCEMWTYSYTZ2GB5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDK2YN4KVCROI3UX6AO2F6NHX33DPTNZH2VPUIJ34GS7D7FYTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCKT5WOYSFYT4YQBX63DCN26YZQ35HJPYCNSIWWAPFSRQLVAAQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS3IM6ERIORP3R4PPY56RC3XYAODLU4TQ3S42Z5RGR66X6CWHZCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP6WXQTKHJM56ZK2MREPHSKYMFMCBBQE4DYOUKWI7MMN7JGGYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIANFRJIRQXVJZB23JL6GHXAXNFVDLYS7BL6CANYQM2L4FAP32CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "CheckInInstanceInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceInternal"
                ],
                "members": {
                    "InstanceInternal": {
                        "shape": "S2"
                    },
                    "RebootRequested": {
                        "type": "boolean"
                    },
                    "InvasiveDeploymentPending": {
                        "type": "boolean"
                    },
                    "UpdateNullValues": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Pillar": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "ClaimDropletInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "IpAddress",
                    "AvailabilityZone"
                ],
                "members": {
                    "IpAddress": {},
                    "AvailabilityZone": {},
                    "SkipTestDroplet": {
                        "type": "boolean"
                    },
                    "SuccessState": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkflowId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "CreateBackupInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId"
                ],
                "members": {
                    "ClusterId": {},
                    "AvailabilityZone": {},
                    "Type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Backup": {
                        "shape": "S1a"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "CreateBackupRecordInternal": {
            "input": {
                "type": "structure",
                "members": {
                    "HsmId": {},
                    "ClusterId": {},
                    "SourceBackupId": {},
                    "CustomerId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "S3Location": {},
                    "BackupId": {},
                    "ClusterObjectsS3Location": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "CreateClusterInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "InnerRequest"
                ],
                "members": {
                    "InnerRequest": {
                        "shape": "S1p"
                    },
                    "SkipCreateBackup": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "shape": "S1y"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "CreateHsmInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "InnerRequest"
                ],
                "members": {
                    "InnerRequest": {
                        "shape": "S2d"
                    },
                    "BifrostAmiId": {},
                    "ImageId": {},
                    "DropletIp": {},
                    "BackupId": {},
                    "IgnoreLaunchingDisabled": {
                        "type": "boolean"
                    },
                    "FwVersion": {},
                    "DriverVersion": {}
                }
            },
            "output": {
                "shape": "S2e"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "CreatePillarInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId"
                ],
                "members": {
                    "ClusterId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Pillar": {},
                    "Top": {},
                    "PillarDataS3Bucket": {},
                    "PillarDataS3Key": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "CreateRepairInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "HostId"
                ],
                "members": {
                    "HostId": {},
                    "RootCause": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RepairInternal": {
                        "shape": "S2q"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "DeleteBackupInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "InnerRequest",
                    "Owner"
                ],
                "members": {
                    "InnerRequest": {
                        "shape": "S2t"
                    },
                    "Owner": {},
                    "Force": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BackupInternal": {
                        "shape": "S1a"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "DeleteClusterInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "InnerRequest",
                    "Owner"
                ],
                "members": {
                    "InnerRequest": {
                        "shape": "S2z"
                    },
                    "Owner": {},
                    "Force": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "shape": "S30"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "DeleteHsmInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "InnerRequest",
                    "Owner"
                ],
                "members": {
                    "InnerRequest": {
                        "shape": "S32"
                    },
                    "Owner": {},
                    "SkipCreateBackup": {
                        "type": "boolean"
                    },
                    "Force": {
                        "type": "boolean"
                    },
                    "KeepState": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "shape": "S33"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "DeleteResourcePolicy": {
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceArn": {},
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP6WXQTKHJM56ZK2MREPHSKYMFMCBBQE4DYOUKWI7MMN7JGGYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIANFRJIRQXVJZB23JL6GHXAXNFVDLYS7BL6CANYQM2L4FAP32CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "DescribeAutomatedProcessesInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "Filters"
                ],
                "members": {
                    "Filters": {
                        "shape": "S3a"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AutomatedProcessesInternal": {
                        "type": "list",
                        "member": {
                            "shape": "S3h"
                        },
                        "internalonly": true
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "DescribeBackupsInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "InnerRequest",
                    "Owner"
                ],
                "members": {
                    "InnerRequest": {
                        "shape": "S3r"
                    },
                    "Owner": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Backups": {
                        "shape": "S3x"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "DescribeBifrostAmisInternal": {
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "S3a"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BifrostAmisInternal": {
                        "type": "list",
                        "member": {
                            "shape": "S41"
                        },
                        "internalonly": true
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "DescribeCardsInternal": {
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "S3a"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CardsInternal": {
                        "type": "list",
                        "member": {
                            "shape": "S47"
                        },
                        "internalonly": true
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "DescribeClustersInternal": {
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "S3a"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClustersInternal": {
                        "type": "list",
                        "member": {
                            "shape": "S4r"
                        },
                        "internalonly": true
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "DescribeCustomerInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "CustomerId"
                ],
                "members": {
                    "CustomerId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Customer": {
                        "shape": "S56"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "DescribeCustomersInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "Filters"
                ],
                "members": {
                    "Filters": {
                        "shape": "S3a"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CustomersInternal": {
                        "type": "list",
                        "member": {
                            "shape": "S56"
                        },
                        "internalonly": true
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "DescribeDropletsInternal": {
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "S3a"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DropletsInternal": {
                        "type": "list",
                        "member": {
                            "shape": "S5g"
                        },
                        "internalonly": true
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "DescribeEventsInternal": {
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "S3a"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventsInternal": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "EventId": {},
                                "CreateTimestamp": {
                                    "type": "timestamp"
                                },
                                "ObjectId": {},
                                "ObjectName": {},
                                "UpdatedFields": {
                                    "type": "list",
                                    "member": {},
                                    "internalonly": true
                                },
                                "OriginalValues": {
                                    "type": "list",
                                    "member": {},
                                    "internalonly": true
                                },
                                "OriginalObject": {},
                                "UpdatedValues": {
                                    "type": "list",
                                    "member": {},
                                    "internalonly": true
                                },
                                "UpdatedObject": {}
                            }
                        },
                        "internalonly": true
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGXTCC2T3M67WWC6I2R7G2KMPP5MRITWWY5YDB3FFDUW675G5TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "DescribeHsmInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "HsmId"
                ],
                "members": {
                    "HsmId": {},
                    "CheckBillingRecord": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Hsm": {
                        "shape": "S4w"
                    },
                    "BillingStartTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP7HHEOO73WVSIOUP34P47UXKGNKMKWZGQKKVHMSWIH3HFIKW36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
[...]
