{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2014-02-03",
        "endpointPrefix": "baldr",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS CloudHSM",
        "signatureVersion": "v4",
        "signingName": "cloudhsm",
        "targetPrefix": "BaldrApiService",
        "uid": "baldr-2014-02-03",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6TQXKWP6NAURLWHJZFXPOEMD6MP4XPF6CUZIPZJMBRRFD7UIHZSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BMIBVNUBFOTZZT7ETDWWBN7MRFQNV3SSJAVD5WNNBSW6S2TRI6IA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IKKGLCYSPH6LTQV2DLYI6J6JPPHBFFYPP42BQYSZV7ZSSMYZ6U3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SNUVZBSGTWLEZZR5X4Z3DCCTCICZVEFT7C7PLFC34DCAVYXKT3AA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L5OMJV2EBBU473R6X44PRTGTMME5WEQ2NBDWKTHNUO5T5NGYYBSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/476HY23WZ5MA5VZCLY2OU2KZVWFDMMPAGTNH4MOUQ64Y6SAILTGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js"
        ]
    },
    "operations": {
        "CopyBackupToRegion": {
            "input": {
                "type": "structure",
                "required": [
                    "DestinationRegion",
                    "BackupId"
                ],
                "members": {
                    "DestinationRegion": {},
                    "BackupId": {},
                    "TagList": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DestinationBackup": {
                        "type": "structure",
                        "members": {
                            "CreateTimestamp": {
                                "type": "timestamp"
                            },
                            "SourceRegion": {},
                            "SourceBackup": {},
                            "SourceCluster": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TQXKWP6NAURLWHJZFXPOEMD6MP4XPF6CUZIPZJMBRRFD7UIHZSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMIBVNUBFOTZZT7ETDWWBN7MRFQNV3SSJAVD5WNNBSW6S2TRI6IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKKGLCYSPH6LTQV2DLYI6J6JPPHBFFYPP42BQYSZV7ZSSMYZ6U3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNUVZBSGTWLEZZR5X4Z3DCCTCICZVEFT7C7PLFC34DCAVYXKT3AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5OMJV2EBBU473R6X44PRTGTMME5WEQ2NBDWKTHNUO5T5NGYYBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/476HY23WZ5MA5VZCLY2OU2KZVWFDMMPAGTNH4MOUQ64Y6SAILTGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js"
            ]
        },
        "CreateCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "HsmType",
                    "SubnetIds"
                ],
                "members": {
                    "BackupRetentionPolicy": {
                        "shape": "Sd"
                    },
                    "HsmType": {},
                    "SourceBackupId": {},
                    "SubnetIds": {
                        "type": "list",
                        "member": {}
                    },
                    "TagList": {
                        "shape": "S4"
                    },
                    "Mode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TQXKWP6NAURLWHJZFXPOEMD6MP4XPF6CUZIPZJMBRRFD7UIHZSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMIBVNUBFOTZZT7ETDWWBN7MRFQNV3SSJAVD5WNNBSW6S2TRI6IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKKGLCYSPH6LTQV2DLYI6J6JPPHBFFYPP42BQYSZV7ZSSMYZ6U3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNUVZBSGTWLEZZR5X4Z3DCCTCICZVEFT7C7PLFC34DCAVYXKT3AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5OMJV2EBBU473R6X44PRTGTMME5WEQ2NBDWKTHNUO5T5NGYYBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/476HY23WZ5MA5VZCLY2OU2KZVWFDMMPAGTNH4MOUQ64Y6SAILTGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js"
            ]
        },
        "CreateHsm": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId",
                    "AvailabilityZone"
                ],
                "members": {
                    "ClusterId": {},
                    "AvailabilityZone": {},
                    "IpAddress": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Hsm": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TQXKWP6NAURLWHJZFXPOEMD6MP4XPF6CUZIPZJMBRRFD7UIHZSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMIBVNUBFOTZZT7ETDWWBN7MRFQNV3SSJAVD5WNNBSW6S2TRI6IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKKGLCYSPH6LTQV2DLYI6J6JPPHBFFYPP42BQYSZV7ZSSMYZ6U3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNUVZBSGTWLEZZR5X4Z3DCCTCICZVEFT7C7PLFC34DCAVYXKT3AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5OMJV2EBBU473R6X44PRTGTMME5WEQ2NBDWKTHNUO5T5NGYYBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/476HY23WZ5MA5VZCLY2OU2KZVWFDMMPAGTNH4MOUQ64Y6SAILTGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js"
            ]
        },
        "DeleteBackup": {
            "input": {
                "type": "structure",
                "required": [
                    "BackupId"
                ],
                "members": {
                    "BackupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Backup": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TQXKWP6NAURLWHJZFXPOEMD6MP4XPF6CUZIPZJMBRRFD7UIHZSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMIBVNUBFOTZZT7ETDWWBN7MRFQNV3SSJAVD5WNNBSW6S2TRI6IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKKGLCYSPH6LTQV2DLYI6J6JPPHBFFYPP42BQYSZV7ZSSMYZ6U3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNUVZBSGTWLEZZR5X4Z3DCCTCICZVEFT7C7PLFC34DCAVYXKT3AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5OMJV2EBBU473R6X44PRTGTMME5WEQ2NBDWKTHNUO5T5NGYYBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/476HY23WZ5MA5VZCLY2OU2KZVWFDMMPAGTNH4MOUQ64Y6SAILTGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js"
            ]
        },
        "DeleteCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId"
                ],
                "members": {
                    "ClusterId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TQXKWP6NAURLWHJZFXPOEMD6MP4XPF6CUZIPZJMBRRFD7UIHZSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMIBVNUBFOTZZT7ETDWWBN7MRFQNV3SSJAVD5WNNBSW6S2TRI6IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKKGLCYSPH6LTQV2DLYI6J6JPPHBFFYPP42BQYSZV7ZSSMYZ6U3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNUVZBSGTWLEZZR5X4Z3DCCTCICZVEFT7C7PLFC34DCAVYXKT3AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5OMJV2EBBU473R6X44PRTGTMME5WEQ2NBDWKTHNUO5T5NGYYBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/476HY23WZ5MA5VZCLY2OU2KZVWFDMMPAGTNH4MOUQ64Y6SAILTGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js"
            ]
        },
        "DeleteHsm": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId"
                ],
                "members": {
                    "ClusterId": {},
                    "HsmId": {},
                    "EniId": {},
                    "EniIp": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HsmId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TQXKWP6NAURLWHJZFXPOEMD6MP4XPF6CUZIPZJMBRRFD7UIHZSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMIBVNUBFOTZZT7ETDWWBN7MRFQNV3SSJAVD5WNNBSW6S2TRI6IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKKGLCYSPH6LTQV2DLYI6J6JPPHBFFYPP42BQYSZV7ZSSMYZ6U3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNUVZBSGTWLEZZR5X4Z3DCCTCICZVEFT7C7PLFC34DCAVYXKT3AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5OMJV2EBBU473R6X44PRTGTMME5WEQ2NBDWKTHNUO5T5NGYYBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/476HY23WZ5MA5VZCLY2OU2KZVWFDMMPAGTNH4MOUQ64Y6SAILTGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js"
            ]
        },
        "DescribeBackups": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "shape": "S1g"
                    },
                    "SortAscending": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Backups": {
                        "type": "list",
                        "member": {
                            "shape": "S16"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TQXKWP6NAURLWHJZFXPOEMD6MP4XPF6CUZIPZJMBRRFD7UIHZSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMIBVNUBFOTZZT7ETDWWBN7MRFQNV3SSJAVD5WNNBSW6S2TRI6IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKKGLCYSPH6LTQV2DLYI6J6JPPHBFFYPP42BQYSZV7ZSSMYZ6U3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNUVZBSGTWLEZZR5X4Z3DCCTCICZVEFT7C7PLFC34DCAVYXKT3AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5OMJV2EBBU473R6X44PRTGTMME5WEQ2NBDWKTHNUO5T5NGYYBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/476HY23WZ5MA5VZCLY2OU2KZVWFDMMPAGTNH4MOUQ64Y6SAILTGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js"
            ]
        },
        "DescribeClusters": {
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "S1g"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Clusters": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TQXKWP6NAURLWHJZFXPOEMD6MP4XPF6CUZIPZJMBRRFD7UIHZSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMIBVNUBFOTZZT7ETDWWBN7MRFQNV3SSJAVD5WNNBSW6S2TRI6IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKKGLCYSPH6LTQV2DLYI6J6JPPHBFFYPP42BQYSZV7ZSSMYZ6U3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNUVZBSGTWLEZZR5X4Z3DCCTCICZVEFT7C7PLFC34DCAVYXKT3AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5OMJV2EBBU473R6X44PRTGTMME5WEQ2NBDWKTHNUO5T5NGYYBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/476HY23WZ5MA5VZCLY2OU2KZVWFDMMPAGTNH4MOUQ64Y6SAILTGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js"
            ]
        },
        "InitializeCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId",
                    "SignedCert",
                    "TrustAnchor"
                ],
                "members": {
                    "ClusterId": {},
                    "SignedCert": {},
                    "TrustAnchor": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "State": {},
                    "StateMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TQXKWP6NAURLWHJZFXPOEMD6MP4XPF6CUZIPZJMBRRFD7UIHZSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMIBVNUBFOTZZT7ETDWWBN7MRFQNV3SSJAVD5WNNBSW6S2TRI6IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKKGLCYSPH6LTQV2DLYI6J6JPPHBFFYPP42BQYSZV7ZSSMYZ6U3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNUVZBSGTWLEZZR5X4Z3DCCTCICZVEFT7C7PLFC34DCAVYXKT3AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5OMJV2EBBU473R6X44PRTGTMME5WEQ2NBDWKTHNUO5T5NGYYBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/476HY23WZ5MA5VZCLY2OU2KZVWFDMMPAGTNH4MOUQ64Y6SAILTGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js"
            ]
        },
        "ListTags": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId"
                ],
                "members": {
                    "ResourceId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagList"
                ],
                "members": {
                    "TagList": {
                        "shape": "S4"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TQXKWP6NAURLWHJZFXPOEMD6MP4XPF6CUZIPZJMBRRFD7UIHZSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMIBVNUBFOTZZT7ETDWWBN7MRFQNV3SSJAVD5WNNBSW6S2TRI6IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKKGLCYSPH6LTQV2DLYI6J6JPPHBFFYPP42BQYSZV7ZSSMYZ6U3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNUVZBSGTWLEZZR5X4Z3DCCTCICZVEFT7C7PLFC34DCAVYXKT3AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5OMJV2EBBU473R6X44PRTGTMME5WEQ2NBDWKTHNUO5T5NGYYBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/476HY23WZ5MA5VZCLY2OU2KZVWFDMMPAGTNH4MOUQ64Y6SAILTGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js"
            ]
        },
        "ModifyBackupAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "BackupId",
                    "NeverExpires"
                ],
                "members": {
                    "BackupId": {},
                    "NeverExpires": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Backup": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TQXKWP6NAURLWHJZFXPOEMD6MP4XPF6CUZIPZJMBRRFD7UIHZSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMIBVNUBFOTZZT7ETDWWBN7MRFQNV3SSJAVD5WNNBSW6S2TRI6IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js"
            ]
        },
        "ModifyCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "BackupRetentionPolicy",
                    "ClusterId"
                ],
                "members": {
                    "BackupRetentionPolicy": {
                        "shape": "Sd"
                    },
                    "ClusterId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TQXKWP6NAURLWHJZFXPOEMD6MP4XPF6CUZIPZJMBRRFD7UIHZSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMIBVNUBFOTZZT7ETDWWBN7MRFQNV3SSJAVD5WNNBSW6S2TRI6IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js"
            ]
        },
        "RestoreBackup": {
            "input": {
                "type": "structure",
                "required": [
                    "BackupId"
                ],
                "members": {
                    "BackupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Backup": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TQXKWP6NAURLWHJZFXPOEMD6MP4XPF6CUZIPZJMBRRFD7UIHZSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMIBVNUBFOTZZT7ETDWWBN7MRFQNV3SSJAVD5WNNBSW6S2TRI6IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKKGLCYSPH6LTQV2DLYI6J6JPPHBFFYPP42BQYSZV7ZSSMYZ6U3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNUVZBSGTWLEZZR5X4Z3DCCTCICZVEFT7C7PLFC34DCAVYXKT3AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5OMJV2EBBU473R6X44PRTGTMME5WEQ2NBDWKTHNUO5T5NGYYBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/476HY23WZ5MA5VZCLY2OU2KZVWFDMMPAGTNH4MOUQ64Y6SAILTGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "TagList"
                ],
                "members": {
                    "ResourceId": {},
                    "TagList": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TQXKWP6NAURLWHJZFXPOEMD6MP4XPF6CUZIPZJMBRRFD7UIHZSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMIBVNUBFOTZZT7ETDWWBN7MRFQNV3SSJAVD5WNNBSW6S2TRI6IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKKGLCYSPH6LTQV2DLYI6J6JPPHBFFYPP42BQYSZV7ZSSMYZ6U3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNUVZBSGTWLEZZR5X4Z3DCCTCICZVEFT7C7PLFC34DCAVYXKT3AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5OMJV2EBBU473R6X44PRTGTMME5WEQ2NBDWKTHNUO5T5NGYYBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/476HY23WZ5MA5VZCLY2OU2KZVWFDMMPAGTNH4MOUQ64Y6SAILTGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "TagKeyList"
                ],
                "members": {
                    "ResourceId": {},
                    "TagKeyList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TQXKWP6NAURLWHJZFXPOEMD6MP4XPF6CUZIPZJMBRRFD7UIHZSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMIBVNUBFOTZZT7ETDWWBN7MRFQNV3SSJAVD5WNNBSW6S2TRI6IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKKGLCYSPH6LTQV2DLYI6J6JPPHBFFYPP42BQYSZV7ZSSMYZ6U3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNUVZBSGTWLEZZR5X4Z3DCCTCICZVEFT7C7PLFC34DCAVYXKT3AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5OMJV2EBBU473R6X44PRTGTMME5WEQ2NBDWKTHNUO5T5NGYYBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/476HY23WZ5MA5VZCLY2OU2KZVWFDMMPAGTNH4MOUQ64Y6SAILTGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFRIYCGCNLZSBTCLYUDF3DZ7A5OD5VZQYZ3DPOHK3Y2URCU46F2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EE6X4D5MXVXPBQIOAEBNG3RKLF4V6EHBR6HOXCSCUYBNKNHP6SSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUF42Y45AP2FQAH5AZUNB3CY2HLWZSMAQGZBV6FI6SCLAC2FBIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TDVL525CWH2ANDMEBJLCEBW4HYQO6G2MKMJNFTIYAS6BILBYLNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR6UVFAG4BVCOLBTSSUG2MWQXKE3E5WQVLLOA22CSFOVQ3ASRSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOKWIEH2ZNW7QJJUPOC2TASTZVRTMAI7ZSM6IM2DT2CHOAJTVC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD54PRRFFPJPWMAQO5PK76GAUL72G77GAVN4HT5EKRDZC3FV5V6Q/main.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sd": {
            "type": "structure",
            "members": {
                "Type": {},
                "Value": {}
            }
        },
        "Sk": {
            "type": "structure",
            "members": {
                "BackupPolicy": {},
                "BackupRetentionPolicy": {
                    "shape": "Sd"
                },
                "ClusterId": {},
                "CreateTimestamp": {
                    "type": "timestamp"
                },
                "Hsms": {
                    "type": "list",
                    "member": {
                        "shape": "Sn"
                    }
                },
                "HsmType": {},
                "PreCoPassword": {},
                "SecurityGroup": {},
                "SourceBackupId": {},
                "State": {},
                "StateMessage": {},
                "SubnetMapping": {
                    "type": "map",
                    "key": {},
                    "value": {}
                },
                "VpcId": {},
                "Certificates": {
                    "type": "structure",
                    "members": {
                        "ClusterCsr": {},
                        "HsmCertificate": {},
                        "AwsHardwareCertificate": {},
                        "ManufacturerHardwareCertificate": {},
                        "ClusterCertificate": {}
                    }
                },
                "TagList": {
                    "shape": "S4"
                }
            }
        },
        "Sn": {
            "type": "structure",
            "required": [
                "HsmId"
            ],
            "members": {
                "AvailabilityZone": {},
                "ClusterId": {},
                "SubnetId": {},
                "EniId": {},
                "EniIp": {},
                "HsmId": {},
                "State": {},
                "StateMessage": {}
            }
        },
        "S16": {
            "type": "structure",
            "required": [
                "BackupId"
            ],
            "members": {
                "BackupId": {},
                "BackupState": {},
                "ClusterId": {},
                "CreateTimestamp": {
                    "type": "timestamp"
                },
                "CopyTimestamp": {
                    "type": "timestamp"
                },
                "NeverExpires": {
                    "type": "boolean"
                },
                "SourceRegion": {},
                "SourceBackup": {},
                "SourceCluster": {},
                "DeleteTimestamp": {
                    "type": "timestamp"
                },
                "TagList": {
                    "shape": "S4"
                }
            }
        },
        "S1g": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {}
            }
        },
        "Sh": {
            "type": "structure",
            "members": {
                "BackupPolicy": {},
                "ClusterId": {},
                "CreateTimestamp": {
                    "type": "timestamp"
                },
                "Hsms": {
                    "type": "list",
                    "member": {
                        "shape": "Sk"
                    }
                },
                "HsmType": {},
                "PreCoPassword": {},
                "SecurityGroup": {},
                "SourceBackupId": {},
                "State": {},
                "StateMessage": {},
                "SubnetMapping": {
                    "type": "map",
                    "key": {},
                    "value": {}
                },
                "VpcId": {},
                "Certificates": {
                    "type": "structure",
                    "members": {
                        "ClusterCsr": {},
                        "HsmCertificate": {},
                        "AwsHardwareCertificate": {},
                        "ManufacturerHardwareCertificate": {},
                        "ClusterCertificate": {}
                    }
                },
                "TagList": {
                    "shape": "S4"
                }
            }
        },
        "S13": {
            "type": "structure",
            "required": [
                "BackupId"
            ],
            "members": {
                "BackupId": {},
                "BackupState": {},
                "ClusterId": {},
                "CreateTimestamp": {
                    "type": "timestamp"
                },
                "CopyTimestamp": {
                    "type": "timestamp"
                },
                "SourceRegion": {},
                "SourceBackup": {},
                "SourceCluster": {},
                "DeleteTimestamp": {
                    "type": "timestamp"
                },
                "TagList": {
                    "shape": "S4"
                }
            }
        },
        "S1c": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {}
            }
        },
        "Sl": {
            "type": "structure",
            "members": {
                "BackupPolicy": {},
                "BackupRetentionPolicy": {
                    "shape": "Sd"
                },
                "ClusterId": {},
                "CreateTimestamp": {
                    "type": "timestamp"
                },
                "Hsms": {
                    "type": "list",
                    "member": {
                        "shape": "So"
                    }
                },
                "HsmType": {},
                "PreCoPassword": {},
                "SecurityGroup": {},
                "SourceBackupId": {},
                "State": {},
                "StateMessage": {},
                "SubnetMapping": {
                    "type": "map",
                    "key": {},
                    "value": {}
                },
                "VpcId": {},
                "Certificates": {
                    "type": "structure",
                    "members": {
                        "ClusterCsr": {},
                        "HsmCertificate": {},
                        "AwsHardwareCertificate": {},
                        "ManufacturerHardwareCertificate": {},
                        "ClusterCertificate": {}
                    }
                },
                "TagList": {
                    "shape": "S4"
                },
                "Mode": {}
            }
        },
        "So": {
            "type": "structure",
            "required": [
                "HsmId"
            ],
            "members": {
                "AvailabilityZone": {},
                "ClusterId": {},
                "SubnetId": {},
                "EniId": {},
                "EniIp": {},
                "HsmId": {},
                "State": {},
                "StateMessage": {}
            }
        },
        "S17": {
            "type": "structure",
            "required": [
                "BackupId"
            ],
            "members": {
                "BackupId": {},
                "BackupState": {},
                "ClusterId": {},
                "CreateTimestamp": {
                    "type": "timestamp"
                },
                "CopyTimestamp": {
                    "type": "timestamp"
                },
                "NeverExpires": {
                    "type": "boolean"
                },
                "SourceRegion": {},
                "SourceBackup": {},
                "SourceCluster": {},
                "DeleteTimestamp": {
                    "type": "timestamp"
                },
                "TagList": {
                    "shape": "S4"
                },
                "HsmType": {},
                "Mode": {}
            }
        },
        "S1h": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {}
            }
        }
    }
}