{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2014-02-03",
        "endpointPrefix": "baldr",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS CloudHSM",
        "signatureVersion": "v4",
        "signingName": "cloudhsm",
        "targetPrefix": "BaldrApiService",
        "uid": "baldr-2014-02-03",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
        ]
    },
    "operations": {
        "CopyBackupToRegion": {
            "input": {
                "type": "structure",
                "required": [
                    "DestinationRegion",
                    "BackupId"
                ],
                "members": {
                    "DestinationRegion": {},
                    "BackupId": {},
                    "TagList": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DestinationBackup": {
                        "type": "structure",
                        "members": {
                            "CreateTimestamp": {
                                "type": "timestamp"
                            },
                            "SourceRegion": {},
                            "SourceBackup": {},
                            "SourceCluster": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "CreateCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "HsmType",
                    "SubnetIds"
                ],
                "members": {
                    "BackupRetentionPolicy": {
                        "shape": "Sd"
                    },
                    "HsmType": {},
                    "SourceBackupId": {},
                    "SubnetIds": {
                        "type": "list",
                        "member": {}
                    },
                    "TagList": {
                        "shape": "S4"
                    },
                    "Mode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "CreateHsm": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId",
                    "AvailabilityZone"
                ],
                "members": {
                    "ClusterId": {},
                    "AvailabilityZone": {},
                    "IpAddress": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Hsm": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "DeleteBackup": {
            "input": {
                "type": "structure",
                "required": [
                    "BackupId"
                ],
                "members": {
                    "BackupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Backup": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "DeleteCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId"
                ],
                "members": {
                    "ClusterId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "DeleteHsm": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId"
                ],
                "members": {
                    "ClusterId": {},
                    "HsmId": {},
                    "EniId": {},
                    "EniIp": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HsmId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "DescribeBackups": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "shape": "S1g"
                    },
                    "SortAscending": {
                        "type": "boolean"
                    },
                    "Shared": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Backups": {
                        "type": "list",
                        "member": {
                            "shape": "S16"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "DescribeClusters": {
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "S1g"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Clusters": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "InitializeCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId",
                    "SignedCert",
                    "TrustAnchor"
                ],
                "members": {
                    "ClusterId": {},
                    "SignedCert": {},
                    "TrustAnchor": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "State": {},
                    "StateMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "ListTags": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId"
                ],
                "members": {
                    "ResourceId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagList"
                ],
                "members": {
                    "TagList": {
                        "shape": "S4"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "ModifyBackupAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "BackupId",
                    "NeverExpires"
                ],
                "members": {
                    "BackupId": {},
                    "NeverExpires": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Backup": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "ModifyCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "BackupRetentionPolicy",
                    "ClusterId"
                ],
                "members": {
                    "BackupRetentionPolicy": {
                        "shape": "Sd"
                    },
                    "ClusterId": {},
                    "HsmType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "RestoreBackup": {
            "input": {
                "type": "structure",
                "required": [
                    "BackupId"
                ],
                "members": {
                    "BackupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Backup": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "TagList"
                ],
                "members": {
                    "ResourceId": {},
                    "TagList": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "TagKeyList"
                ],
                "members": {
                    "ResourceId": {},
                    "TagKeyList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "CheckInInstanceInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceInternal"
                ],
                "members": {
                    "InstanceInternal": {
                        "shape": "S2"
                    },
                    "RebootRequested": {
                        "type": "boolean"
                    },
                    "InvasiveDeploymentPending": {
                        "type": "boolean"
                    },
                    "UpdateNullValues": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Pillar": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "ClaimDropletInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "IpAddress",
                    "AvailabilityZone"
                ],
                "members": {
                    "IpAddress": {},
                    "AvailabilityZone": {},
                    "SkipTestDroplet": {
                        "type": "boolean"
                    },
                    "SuccessState": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkflowId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "CreateBackupInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId"
                ],
                "members": {
                    "ClusterId": {},
                    "AvailabilityZone": {},
                    "Type": {},
                    "HsmId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Backup": {
                        "shape": "S1a"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "CreateBackupRecordInternal": {
            "input": {
                "type": "structure",
                "members": {
                    "HsmId": {},
                    "ClusterId": {},
                    "SourceBackupId": {},
                    "CustomerId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "S3Location": {},
                    "BackupId": {},
                    "ClusterObjectsS3Location": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "CreateClusterInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "InnerRequest"
                ],
                "members": {
                    "InnerRequest": {
                        "shape": "S1p"
                    },
                    "SkipCreateBackup": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "shape": "S1y"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "CreateHsmInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "InnerRequest"
                ],
                "members": {
                    "InnerRequest": {
                        "shape": "S2d"
                    },
                    "BifrostAmiId": {},
                    "ImageId": {},
                    "DropletIp": {},
                    "BackupId": {},
                    "IgnoreLaunchingDisabled": {
                        "type": "boolean"
                    },
                    "FwVersion": {},
                    "DriverVersion": {},
                    "Owner": {},
                    "IpAddressCidr": {},
                    "ReuseInterconnectEni": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "shape": "S2e"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "CreatePillarInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId"
                ],
                "members": {
                    "ClusterId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Pillar": {},
                    "Top": {},
                    "PillarDataS3Bucket": {},
                    "PillarDataS3Key": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "CreateRepairInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "HostId"
                ],
                "members": {
                    "HostId": {},
                    "RootCause": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RepairInternal": {
                        "shape": "S2q"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "DeleteBackupInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "InnerRequest",
                    "Owner"
                ],
                "members": {
                    "InnerRequest": {
                        "shape": "S2t"
                    },
                    "Owner": {},
                    "Force": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BackupInternal": {
                        "shape": "S1a"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "DeleteClusterInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "InnerRequest",
                    "Owner"
                ],
                "members": {
                    "InnerRequest": {
                        "shape": "S2z"
                    },
                    "Owner": {},
                    "Force": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "shape": "S30"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "DeleteHsmInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "InnerRequest",
                    "Owner"
                ],
                "members": {
                    "InnerRequest": {
                        "shape": "S32"
                    },
                    "Owner": {},
                    "SkipCreateBackup": {
                        "type": "boolean"
                    },
                    "Force": {
                        "type": "boolean"
                    },
                    "KeepState": {
                        "type": "boolean"
                    },
                    "SkipDeleteEni": {
                        "type": "boolean"
                    },
                    "DeleteEni": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "shape": "S33"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWRTEB6OJZDTU2ZVZMZSJTXRZPKCX2UOMAUCSMLIFDC6LHMTLM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJUCSJ2EZCD5XTJJL5QKC6FSWLXB7Q6UJ2XB7DJ4T4AGJ7GLCZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPMNSXSAVPLK25KSUIPUTAKXIWCZLD7FW65LTLVYUE26F3FWS7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQKEZGKZZYYSKUEWWVHEUU3SJBJFB6YKTA62FFVLAXNPDWUQXTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5P4QE4Q6ZCVF6E3H2YDJDMELMNHA7TL3N5NGHL7CSYWDPIAVRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQE4JKLLZ3UVJX4DC54HIKJHGCCL7PNU2ETODAZTMHM3V27KNKKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67WAB7F4RBEFD6TX6JXCRCW3B33U7U7ZNH5PD7XNX5OPY72GA2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAT7RYCZILQUECPGKQW6MYZ53X2WYPIIIH6CKP4AFBRISKFOV55A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "DeleteResourcePolicy": {
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
[...]
