{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-08-10",
        "endpointPrefix": "batch",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AWS Batch",
        "serviceFullName": "AWS Batch",
        "serviceId": "Batch",
        "signatureVersion": "v4",
        "uid": "batch-2016-08-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/SBZLRMKAIB6LKZXLWRMNFQDC7FKILXUZLH33L3YWXJIRDHHJ7U6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LJW5F4OHUKOOMMRKHXEM3STRBNKAVSH6P5ALERZED57GAV4KH7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
        ]
    },
    "operations": {
        "CancelJob": {
            "http": {
                "requestUri": "/v1/canceljob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId",
                    "reason"
                ],
                "members": {
                    "jobId": {},
                    "reason": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LJW5F4OHUKOOMMRKHXEM3STRBNKAVSH6P5ALERZED57GAV4KH7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateComputeEnvironment": {
            "http": {
                "requestUri": "/v1/createcomputeenvironment"
            },
            "input": {
                "type": "structure",
                "required": [
                    "computeEnvironmentName",
                    "type"
                ],
                "members": {
                    "computeEnvironmentName": {},
                    "type": {},
                    "state": {},
                    "unmanagedvCpus": {
                        "type": "integer"
                    },
                    "computeResources": {
                        "shape": "S8"
                    },
                    "serviceRole": {},
                    "tags": {
                        "shape": "Sj"
                    },
                    "eksConfiguration": {
                        "shape": "Sm"
                    },
                    "multiNodeParallelConfiguration": {
                        "internalonly": true,
                        "type": "structure",
                        "members": {
                            "disableNodeReuse": {
                                "type": "boolean"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "computeEnvironmentName": {},
                    "computeEnvironmentArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LJW5F4OHUKOOMMRKHXEM3STRBNKAVSH6P5ALERZED57GAV4KH7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateJobQueue": {
            "http": {
                "requestUri": "/v1/createjobqueue"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobQueueName",
                    "priority",
                    "computeEnvironmentOrder"
                ],
                "members": {
                    "jobQueueName": {},
                    "state": {},
                    "schedulingPolicyArn": {},
                    "priority": {
                        "type": "integer"
                    },
                    "computeEnvironmentOrder": {
                        "shape": "Sq"
                    },
                    "tags": {
                        "shape": "Sj"
                    },
                    "serviceEnvironmentOrder": {
                        "shape": "Ss",
                        "internalonly": true
                    },
                    "serviceType": {
                        "shape": "Su",
                        "internalonly": true
                    },
                    "resourcePolicy": {},
                    "jobQueueType": {
                        "shape": "Su",
                        "internalonly": true
                    },
                    "jobStateTimeLimitActions": {
                        "shape": "Sv",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobQueueName",
                    "jobQueueArn"
                ],
                "members": {
                    "jobQueueName": {},
                    "jobQueueArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LJW5F4OHUKOOMMRKHXEM3STRBNKAVSH6P5ALERZED57GAV4KH7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateSchedulingPolicy": {
            "http": {
                "requestUri": "/v1/createschedulingpolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "fairsharePolicy": {
                        "shape": "Su"
                    },
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "arn"
                ],
                "members": {
                    "name": {},
                    "arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JP2KFGVUDKUJFV4SG7XR26WXFWOEIZG7CSKJPJZGLHCXJS4JANMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOG3RXZESQWBN5KS35JO3HT5DUI4K7Q24NS5MRC2ZWPEI7UWIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISQH3J5MP5BV5QYBCKSNMQDRJPEZXIUKH3JKBXFE6XCLNMF4GSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHTQPR3GRV4ZPKA4HPLFJW4SDHNCJBQZNIRWZ2QPM7KY3I7PI77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7I4FCDVBUI4GS4NIIAOZ3JW3GC5CF3KL43NIFVNS7CBP2B5HKF7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NC2AH7VTSQAJTZPWXZGOFSVYKZEW6YPEYWRPV74DHDEGICG5A63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242BWY5NPUF7WSG3OVF5LU6PFX6UKQJBMQRPA7HNIIYMBXDVSGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FZFWX7QUKCCIXTTHCHJU24KPAVGDOQT7B5IBZ5Y36PADKIMWYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZLRMKAIB6LKZXLWRMNFQDC7FKILXUZLH33L3YWXJIRDHHJ7U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LJW5F4OHUKOOMMRKHXEM3STRBNKAVSH6P5ALERZED57GAV4KH7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js"
            ]
        },
        "DeleteComputeEnvironment": {
            "http": {
                "requestUri": "/v1/deletecomputeenvironment"
            },
            "input": {
                "type": "structure",
                "required": [
                    "computeEnvironment"
                ],
                "members": {
                    "computeEnvironment": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LJW5F4OHUKOOMMRKHXEM3STRBNKAVSH6P5ALERZED57GAV4KH7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteJobQueue": {
            "http": {
                "requestUri": "/v1/deletejobqueue"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobQueue"
                ],
                "members": {
                    "jobQueue": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LJW5F4OHUKOOMMRKHXEM3STRBNKAVSH6P5ALERZED57GAV4KH7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteSchedulingPolicy": {
            "http": {
                "requestUri": "/v1/deleteschedulingpolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JP2KFGVUDKUJFV4SG7XR26WXFWOEIZG7CSKJPJZGLHCXJS4JANMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOG3RXZESQWBN5KS35JO3HT5DUI4K7Q24NS5MRC2ZWPEI7UWIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISQH3J5MP5BV5QYBCKSNMQDRJPEZXIUKH3JKBXFE6XCLNMF4GSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHTQPR3GRV4ZPKA4HPLFJW4SDHNCJBQZNIRWZ2QPM7KY3I7PI77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7I4FCDVBUI4GS4NIIAOZ3JW3GC5CF3KL43NIFVNS7CBP2B5HKF7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NC2AH7VTSQAJTZPWXZGOFSVYKZEW6YPEYWRPV74DHDEGICG5A63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242BWY5NPUF7WSG3OVF5LU6PFX6UKQJBMQRPA7HNIIYMBXDVSGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FZFWX7QUKCCIXTTHCHJU24KPAVGDOQT7B5IBZ5Y36PADKIMWYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZLRMKAIB6LKZXLWRMNFQDC7FKILXUZLH33L3YWXJIRDHHJ7U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LJW5F4OHUKOOMMRKHXEM3STRBNKAVSH6P5ALERZED57GAV4KH7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js"
            ]
        },
        "DeregisterJobDefinition": {
            "http": {
                "requestUri": "/v1/deregisterjobdefinition"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobDefinition"
                ],
                "members": {
                    "jobDefinition": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LJW5F4OHUKOOMMRKHXEM3STRBNKAVSH6P5ALERZED57GAV4KH7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeComputeEnvironments": {
            "http": {
                "requestUri": "/v1/describecomputeenvironments"
            },
            "input": {
                "type": "structure",
                "members": {
                    "computeEnvironments": {
                        "shape": "Sb"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "computeEnvironments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "computeEnvironmentName",
                                "computeEnvironmentArn"
                            ],
                            "members": {
                                "computeEnvironmentName": {},
                                "computeEnvironmentArn": {},
                                "unmanagedvCpus": {
                                    "type": "integer"
                                },
                                "ecsClusterArn": {},
                                "tags": {
                                    "shape": "Sj"
                                },
                                "type": {},
                                "state": {},
                                "status": {},
                                "statusReason": {},
                                "computeResources": {
                                    "shape": "S8"
                                },
                                "serviceRole": {},
                                "updatePolicy": {
                                    "shape": "S1c"
                                },
                                "eksConfiguration": {
                                    "shape": "Sm"
                                },
                                "containerOrchestrationType": {},
                                "uuid": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LJW5F4OHUKOOMMRKHXEM3STRBNKAVSH6P5ALERZED57GAV4KH7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeJobDefinitions": {
            "http": {
                "requestUri": "/v1/describejobdefinitions"
            },
            "input": {
                "type": "structure",
                "members": {
                    "jobDefinitions": {
                        "shape": "Sb"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "jobDefinitionName": {},
                    "status": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobDefinitions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobDefinitionName",
                                "jobDefinitionArn",
                                "revision",
                                "type"
                            ],
                            "members": {
                                "jobDefinitionName": {},
                                "jobDefinitionArn": {},
                                "revision": {
                                    "type": "integer"
                                },
                                "status": {},
                                "type": {},
                                "schedulingPriority": {
                                    "type": "integer"
                                },
                                "parameters": {
                                    "shape": "S1k"
                                },
                                "retryStrategy": {
                                    "shape": "S1l"
                                },
                                "containerProperties": {
                                    "shape": "S1p"
                                },
                                "timeout": {
                                    "shape": "S2l"
                                },
                                "nodeProperties": {
                                    "shape": "S2m"
                                },
                                "tags": {
                                    "shape": "Sj"
                                },
                                "propagateTags": {
                                    "type": "boolean"
                                },
                                "platformCapabilities": {
                                    "shape": "S2p"
                                },
                                "eksProperties": {
                                    "shape": "S2r"
                                },
                                "containerOrchestrationType": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LJW5F4OHUKOOMMRKHXEM3STRBNKAVSH6P5ALERZED57GAV4KH7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeJobQueues": {
            "http": {
                "requestUri": "/v1/describejobqueues"
            },
            "input": {
                "type": "structure",
                "members": {
                    "jobQueues": {
                        "shape": "Sb"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobQueues": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobQueueName",
                                "jobQueueArn",
                                "state",
                                "priority",
                                "computeEnvironmentOrder"
                            ],
                            "members": {
                                "jobQueueName": {},
                                "jobQueueArn": {},
                                "state": {},
                                "schedulingPolicyArn": {},
                                "status": {},
                                "statusReason": {},
                                "priority": {
                                    "type": "integer"
                                },
                                "computeEnvironmentOrder": {
                                    "shape": "Sq"
                                },
                                "tags": {
                                    "shape": "Sj"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LJW5F4OHUKOOMMRKHXEM3STRBNKAVSH6P5ALERZED57GAV4KH7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeJobs": {
            "http": {
                "requestUri": "/v1/describejobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobs"
                ],
                "members": {
                    "jobs": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobName",
                                "jobId",
                                "jobQueue",
                                "status",
                                "startedAt",
                                "jobDefinition"
                            ],
                            "members": {
                                "jobArn": {},
                                "jobName": {},
                                "jobId": {},
                                "jobQueue": {},
                                "status": {},
                                "shareIdentifier": {},
                                "schedulingPriority": {
                                    "type": "integer"
                                },
                                "attempts": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "container": {
                                                "type": "structure",
                                                "members": {
                                                    "containerInstanceArn": {},
                                                    "taskArn": {},
                                                    "exitCode": {
                                                        "type": "integer"
                                                    },
                                                    "reason": {},
                                                    "logStreamName": {},
                                                    "networkInterfaces": {
                                                        "shape": "S3n"
                                                    }
                                                }
                                            },
                                            "startedAt": {
                                                "type": "long"
                                            },
                                            "stoppedAt": {
                                                "type": "long"
                                            },
                                            "statusReason": {}
                                        }
                                    }
                                },
                                "statusReason": {},
                                "createdAt": {
                                    "type": "long"
                                },
                                "retryStrategy": {
                                    "shape": "S1l"
                                },
                                "startedAt": {
                                    "type": "long"
                                },
                                "stoppedAt": {
                                    "type": "long"
                                },
                                "dependsOn": {
                                    "shape": "S3p"
                                },
                                "jobDefinition": {},
                                "parameters": {
                                    "shape": "S1k"
                                },
                                "container": {
                                    "type": "structure",
                                    "members": {
                                        "image": {},
                                        "vcpus": {
                                            "type": "integer"
                                        },
                                        "memory": {
                                            "type": "integer"
                                        },
                                        "command": {
                                            "shape": "Sb"
                                        },
                                        "jobRoleArn": {},
                                        "executionRoleArn": {},
                                        "volumes": {
                                            "shape": "S1q"
                                        },
                                        "environment": {
                                            "shape": "S1x"
                                        },
                                        "mountPoints": {
                                            "shape": "S1z"
                                        },
                                        "readonlyRootFilesystem": {
                                            "type": "boolean"
                                        },
                                        "ulimits": {
                                            "shape": "S21"
                                        },
                                        "privileged": {
                                            "type": "boolean"
                                        },
                                        "user": {},
                                        "exitCode": {
                                            "type": "integer"
                                        },
                                        "reason": {},
                                        "containerInstanceArn": {},
                                        "taskArn": {},
                                        "logStreamName": {},
                                        "instanceType": {},
                                        "networkInterfaces": {
                                            "shape": "S3n"
                                        },
                                        "resourceRequirements": {
                                            "shape": "S23"
                                        },
                                        "linuxParameters": {
                                            "shape": "S26"
                                        },
                                        "logConfiguration": {
                                            "shape": "S2d"
                                        },
                                        "secrets": {
                                            "shape": "S2g"
                                        },
                                        "networkConfiguration": {
                                            "shape": "S2i"
                                        },
                                        "fargatePlatformConfiguration": {
                                            "shape": "S2k"
                                        }
                                    }
                                },
                                "nodeDetails": {
                                    "type": "structure",
                                    "members": {
                                        "nodeIndex": {
                                            "type": "integer"
                                        },
                                        "isMainNode": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "nodeProperties": {
                                    "shape": "S2m"
                                },
                                "arrayProperties": {
                                    "type": "structure",
                                    "members": {
                                        "statusSummary": {
                                            "type": "map",
                                            "key": {},
                                            "value": {
                                                "type": "integer"
                                            }
                                        },
                                        "size": {
                                            "type": "integer"
                                        },
                                        "index": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "timeout": {
                                    "shape": "S2l"
                                },
                                "tags": {
                                    "shape": "Sj"
                                },
                                "propagateTags": {
                                    "type": "boolean"
                                },
                                "platformCapabilities": {
                                    "shape": "S2p"
                                },
                                "eksProperties": {
                                    "type": "structure",
                                    "members": {
                                        "podProperties": {
                                            "type": "structure",
                                            "members": {
                                                "serviceAccountName": {},
                                                "hostNetwork": {
                                                    "type": "boolean"
                                                },
                                                "dnsPolicy": {},
                                                "containers": {
                                                    "type": "list",
                                                    "member": {
                                                        "type": "structure",
                                                        "members": {
                                                            "name": {},
                                                            "image": {},
                                                            "imagePullPolicy": {},
                                                            "command": {
                                                                "shape": "Sb"
                                                            },
                                                            "args": {
                                                                "shape": "Sb"
                                                            },
                                                            "env": {
                                                                "shape": "S2v"
                                                            },
                                                            "resources": {
                                                                "shape": "S2x"
                                                            },
                                                            "exitCode": {
                                                                "type": "integer"
                                                            },
                                                            "reason": {},
                                                            "volumeMounts": {
                                                                "shape": "S31"
                                                            },
                                                            "securityContext": {
                                                                "shape": "S33"
                                                            }
                                                        }
                                                    }
                                                },
                                                "volumes": {
                                                    "shape": "S35"
                                                },
                                                "podName": {},
                                                "nodeName": {}
                                            }
                                        }
                                    }
                                },
                                "eksAttempts": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "containers": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "exitCode": {
                                                            "type": "integer"
                                                        },
                                                        "reason": {}
                                                    }
                                                }
                                            },
                                            "podName": {},
                                            "nodeName": {},
                                            "startedAt": {
                                                "type": "long"
                                            },
                                            "stoppedAt": {
                                                "type": "long"
                                            },
                                            "statusReason": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LJW5F4OHUKOOMMRKHXEM3STRBNKAVSH6P5ALERZED57GAV4KH7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeSchedulingPolicies": {
            "http": {
                "requestUri": "/v1/describeschedulingpolicies"
            },
            "input": {
                "type": "structure",
                "required": [
                    "arns"
                ],
                "members": {
                    "arns": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "schedulingPolicies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "arn"
                            ],
                            "members": {
                                "name": {},
                                "arn": {},
                                "fairsharePolicy": {
                                    "shape": "Su"
                                },
                                "tags": {
                                    "shape": "Sj"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JP2KFGVUDKUJFV4SG7XR26WXFWOEIZG7CSKJPJZGLHCXJS4JANMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOG3RXZESQWBN5KS35JO3HT5DUI4K7Q24NS5MRC2ZWPEI7UWIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISQH3J5MP5BV5QYBCKSNMQDRJPEZXIUKH3JKBXFE6XCLNMF4GSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHTQPR3GRV4ZPKA4HPLFJW4SDHNCJBQZNIRWZ2QPM7KY3I7PI77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7I4FCDVBUI4GS4NIIAOZ3JW3GC5CF3KL43NIFVNS7CBP2B5HKF7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NC2AH7VTSQAJTZPWXZGOFSVYKZEW6YPEYWRPV74DHDEGICG5A63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242BWY5NPUF7WSG3OVF5LU6PFX6UKQJBMQRPA7HNIIYMBXDVSGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FZFWX7QUKCCIXTTHCHJU24KPAVGDOQT7B5IBZ5Y36PADKIMWYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZLRMKAIB6LKZXLWRMNFQDC7FKILXUZLH33L3YWXJIRDHHJ7U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LJW5F4OHUKOOMMRKHXEM3STRBNKAVSH6P5ALERZED57GAV4KH7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js"
            ]
        },
        "ListJobs": {
            "http": {
                "requestUri": "/v1/listjobs"
            },
            "input": {
                "type": "structure",
                "members": {
                    "jobQueue": {},
                    "arrayJobId": {},
                    "multiNodeJobId": {},
                    "jobStatus": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "shape": "Sb"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobSummaryList"
                ],
                "members": {
                    "jobSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobId",
                                "jobName"
                            ],
                            "members": {
                                "jobArn": {},
                                "jobId": {},
                                "jobName": {},
                                "createdAt": {
                                    "type": "long"
                                },
                                "status": {},
                                "statusReason": {},
                                "startedAt": {
                                    "type": "long"
                                },
                                "stoppedAt": {
                                    "type": "long"
                                },
                                "container": {
                                    "type": "structure",
                                    "members": {
                                        "exitCode": {
                                            "type": "integer"
                                        },
                                        "reason": {}
                                    }
                                },
                                "arrayProperties": {
                                    "type": "structure",
                                    "members": {
                                        "size": {
                                            "type": "integer"
                                        },
                                        "index": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "nodeProperties": {
                                    "type": "structure",
                                    "members": {
                                        "isMainNode": {
                                            "type": "boolean"
                                        },
                                        "numNodes": {
                                            "type": "integer"
                                        },
                                        "nodeIndex": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "jobDefinition": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LJW5F4OHUKOOMMRKHXEM3STRBNKAVSH6P5ALERZED57GAV4KH7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ListSchedulingPolicies": {
            "http": {
                "requestUri": "/v1/listschedulingpolicies"
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "schedulingPolicies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn"
                            ],
                            "members": {
                                "arn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JP2KFGVUDKUJFV4SG7XR26WXFWOEIZG7CSKJPJZGLHCXJS4JANMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOG3RXZESQWBN5KS35JO3HT5DUI4K7Q24NS5MRC2ZWPEI7UWIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISQH3J5MP5BV5QYBCKSNMQDRJPEZXIUKH3JKBXFE6XCLNMF4GSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHTQPR3GRV4ZPKA4HPLFJW4SDHNCJBQZNIRWZ2QPM7KY3I7PI77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7I4FCDVBUI4GS4NIIAOZ3JW3GC5CF3KL43NIFVNS7CBP2B5HKF7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NC2AH7VTSQAJTZPWXZGOFSVYKZEW6YPEYWRPV74DHDEGICG5A63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242BWY5NPUF7WSG3OVF5LU6PFX6UKQJBMQRPA7HNIIYMBXDVSGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FZFWX7QUKCCIXTTHCHJU24KPAVGDOQT7B5IBZ5Y36PADKIMWYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZLRMKAIB6LKZXLWRMNFQDC7FKILXUZLH33L3YWXJIRDHHJ7U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LJW5F4OHUKOOMMRKHXEM3STRBNKAVSH6P5ALERZED57GAV4KH7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZLRMKAIB6LKZXLWRMNFQDC7FKILXUZLH33L3YWXJIRDHHJ7U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LJW5F4OHUKOOMMRKHXEM3STRBNKAVSH6P5ALERZED57GAV4KH7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "RegisterJobDefinition": {
            "http": {
                "requestUri": "/v1/registerjobdefinition"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobDefinitionName",
                    "type"
                ],
                "members": {
                    "jobDefinitionName": {},
                    "type": {},
                    "parameters": {
                        "shape": "S1k"
                    },
                    "schedulingPriority": {
                        "type": "integer"
                    },
                    "containerProperties": {
                        "shape": "S1p"
                    },
                    "nodeProperties": {
                        "shape": "S2m"
                    },
                    "retryStrategy": {
                        "shape": "S1l"
                    },
                    "propagateTags": {
                        "type": "boolean"
                    },
                    "timeout": {
                        "shape": "S2l"
                    },
                    "tags": {
                        "shape": "Sj"
                    },
                    "platformCapabilities": {
                        "shape": "S2p"
                    },
                    "eksProperties": {
                        "shape": "S2r"
                    },
                    "ecsProperties": {
                        "shape": "S3a",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobDefinitionName",
                    "jobDefinitionArn",
                    "revision"
                ],
                "members": {
                    "jobDefinitionName": {},
                    "jobDefinitionArn": {},
                    "revision": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LJW5F4OHUKOOMMRKHXEM3STRBNKAVSH6P5ALERZED57GAV4KH7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "SubmitJob": {
            "http": {
                "requestUri": "/v1/submitjob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobName",
                    "jobQueue",
                    "jobDefinition"
                ],
                "members": {
                    "jobName": {},
                    "jobQueue": {},
                    "shareIdentifier": {},
                    "schedulingPriorityOverride": {
                        "type": "integer"
                    },
                    "arrayProperties": {
                        "type": "structure",
                        "members": {
                            "size": {
                                "type": "integer"
                            }
                        }
                    },
                    "dependsOn": {
                        "shape": "S3p"
                    },
                    "jobDefinition": {},
                    "parameters": {
                        "shape": "S1k"
                    },
                    "containerOverrides": {
                        "shape": "S4s"
                    },
                    "nodeOverrides": {
                        "type": "structure",
                        "members": {
                            "numNodes": {
                                "type": "integer"
                            },
                            "nodePropertyOverrides": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "targetNodes"
                                    ],
                                    "members": {
                                        "targetNodes": {},
                                        "containerOverrides": {
                                            "shape": "S4s"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "retryStrategy": {
                        "shape": "S1l"
                    },
                    "propagateTags": {
                        "type": "boolean"
                    },
                    "timeout": {
                        "shape": "S2l"
                    },
                    "tags": {
                        "shape": "Sj"
                    },
                    "eksPropertiesOverride": {
                        "type": "structure",
                        "members": {
                            "podProperties": {
                                "type": "structure",
                                "members": {
                                    "containers": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "image": {},
                                                "command": {
                                                    "shape": "Sb"
                                                },
                                                "args": {
                                                    "shape": "Sb"
                                                },
                                                "env": {
                                                    "shape": "S2v"
                                                },
                                                "resources": {
                                                    "shape": "S2x"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "ecsPropertiesOverride": {
                        "internalonly": true,
                        "type": "structure",
                        "members": {
                            "taskProperties": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "containers": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "command": {
                                                        "shape": "Sb"
                                                    },
                                                    "environment": {
                                                        "shape": "S2c"
                                                    },
                                                    "resourceRequirements": {
                                                        "shape": "S2i"
                                                    },
                                                    "originator": {
                                                        "shape": "S6o",
                                                        "internalonly": true
                                                    },
[...]
