{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-08-10",
        "endpointPrefix": "batch",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AWS Batch",
        "serviceFullName": "AWS Batch",
        "serviceId": "Batch",
        "signatureVersion": "v4",
        "uid": "batch-2016-08-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/MHWBVW52AFL22BUSNLG5SHD6YFNNJB2WAYMNL5ICJTNAUVFKZHUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M4ZLWWJ3JFOTFSAQZD7F7EI6BOLNG7YQPYRNRUQU7LUNGTPNKXEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CQYSMRBNZKGTJ7Q7RMX2VYZNGEGQJ5PDKVGNXSIAQBDBIVJAX3UQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FCNUVCQTZOD3V6KF6RP4RYJNRYE6MN6JYZN2G43C6SGATIXQPJIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SIUQ7Y42PEBK6BTJ2G6BA5IL5YZEU4TYGFVNXXPGOOG425NGDABQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMIBAPUH7P57PXBRIM4OCC2YNNNPROHMH7XLDVJWWRBTKSWNDLKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JGSCAVGTF7CXGMCGSLWNPJRKYKEYQTIZHVSZGJW43KI2UYNXBAOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OG7S35EZZVU2SJZ4TOS5JOTK7ZH7CZR2A2WYTBWCT2ZYU5E2FWJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RY6BVZYTDPTIW7P2HR222ZJ27T4QSYIYCXHFI5NVYLGZ3TNURB7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KTBOPXQDX2CSVUFRZ4TY4K5C5LWRRVPAZWVZIB7XJOR46BA55XYQ/vendors.js"
        ]
    },
    "operations": {
        "CancelJob": {
            "http": {
                "requestUri": "/v1/canceljob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId",
                    "reason"
                ],
                "members": {
                    "jobId": {},
                    "reason": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4ZLWWJ3JFOTFSAQZD7F7EI6BOLNG7YQPYRNRUQU7LUNGTPNKXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQYSMRBNZKGTJ7Q7RMX2VYZNGEGQJ5PDKVGNXSIAQBDBIVJAX3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCNUVCQTZOD3V6KF6RP4RYJNRYE6MN6JYZN2G43C6SGATIXQPJIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIUQ7Y42PEBK6BTJ2G6BA5IL5YZEU4TYGFVNXXPGOOG425NGDABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMIBAPUH7P57PXBRIM4OCC2YNNNPROHMH7XLDVJWWRBTKSWNDLKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGSCAVGTF7CXGMCGSLWNPJRKYKEYQTIZHVSZGJW43KI2UYNXBAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG7S35EZZVU2SJZ4TOS5JOTK7ZH7CZR2A2WYTBWCT2ZYU5E2FWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY6BVZYTDPTIW7P2HR222ZJ27T4QSYIYCXHFI5NVYLGZ3TNURB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTBOPXQDX2CSVUFRZ4TY4K5C5LWRRVPAZWVZIB7XJOR46BA55XYQ/vendors.js"
            ]
        },
        "CreateComputeEnvironment": {
            "http": {
                "requestUri": "/v1/createcomputeenvironment"
            },
            "input": {
                "type": "structure",
                "required": [
                    "computeEnvironmentName",
                    "type"
                ],
                "members": {
                    "computeEnvironmentName": {},
                    "type": {},
                    "state": {},
                    "unmanagedvCpus": {
                        "type": "integer"
                    },
                    "computeResources": {
                        "shape": "S8"
                    },
                    "serviceRole": {},
                    "tags": {
                        "shape": "Sj"
                    },
                    "eksConfiguration": {
                        "shape": "Sm"
                    },
                    "multiNodeParallelConfiguration": {
                        "internalonly": true,
                        "type": "structure",
                        "members": {
                            "disableNodeReuse": {
                                "type": "boolean"
                            }
                        }
                    },
                    "context": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "computeEnvironmentName": {},
                    "computeEnvironmentArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4ZLWWJ3JFOTFSAQZD7F7EI6BOLNG7YQPYRNRUQU7LUNGTPNKXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQYSMRBNZKGTJ7Q7RMX2VYZNGEGQJ5PDKVGNXSIAQBDBIVJAX3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCNUVCQTZOD3V6KF6RP4RYJNRYE6MN6JYZN2G43C6SGATIXQPJIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIUQ7Y42PEBK6BTJ2G6BA5IL5YZEU4TYGFVNXXPGOOG425NGDABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMIBAPUH7P57PXBRIM4OCC2YNNNPROHMH7XLDVJWWRBTKSWNDLKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGSCAVGTF7CXGMCGSLWNPJRKYKEYQTIZHVSZGJW43KI2UYNXBAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG7S35EZZVU2SJZ4TOS5JOTK7ZH7CZR2A2WYTBWCT2ZYU5E2FWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY6BVZYTDPTIW7P2HR222ZJ27T4QSYIYCXHFI5NVYLGZ3TNURB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTBOPXQDX2CSVUFRZ4TY4K5C5LWRRVPAZWVZIB7XJOR46BA55XYQ/vendors.js"
            ]
        },
        "CreateJobQueue": {
            "http": {
                "requestUri": "/v1/createjobqueue"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobQueueName",
                    "priority",
                    "computeEnvironmentOrder"
                ],
                "members": {
                    "jobQueueName": {},
                    "state": {},
                    "schedulingPolicyArn": {},
                    "priority": {
                        "type": "integer"
                    },
                    "computeEnvironmentOrder": {
                        "shape": "Sq"
                    },
                    "tags": {
                        "shape": "Sj"
                    },
                    "serviceEnvironmentOrder": {
                        "shape": "Ss",
                        "internalonly": true
                    },
                    "serviceType": {
                        "shape": "Su",
                        "internalonly": true
                    },
                    "resourcePolicy": {},
                    "jobQueueType": {
                        "shape": "Su",
                        "internalonly": true
                    },
                    "jobStateTimeLimitActions": {
                        "shape": "Sv",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobQueueName",
                    "jobQueueArn"
                ],
                "members": {
                    "jobQueueName": {},
                    "jobQueueArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4ZLWWJ3JFOTFSAQZD7F7EI6BOLNG7YQPYRNRUQU7LUNGTPNKXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQYSMRBNZKGTJ7Q7RMX2VYZNGEGQJ5PDKVGNXSIAQBDBIVJAX3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCNUVCQTZOD3V6KF6RP4RYJNRYE6MN6JYZN2G43C6SGATIXQPJIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIUQ7Y42PEBK6BTJ2G6BA5IL5YZEU4TYGFVNXXPGOOG425NGDABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMIBAPUH7P57PXBRIM4OCC2YNNNPROHMH7XLDVJWWRBTKSWNDLKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGSCAVGTF7CXGMCGSLWNPJRKYKEYQTIZHVSZGJW43KI2UYNXBAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG7S35EZZVU2SJZ4TOS5JOTK7ZH7CZR2A2WYTBWCT2ZYU5E2FWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY6BVZYTDPTIW7P2HR222ZJ27T4QSYIYCXHFI5NVYLGZ3TNURB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTBOPXQDX2CSVUFRZ4TY4K5C5LWRRVPAZWVZIB7XJOR46BA55XYQ/vendors.js"
            ]
        },
        "CreateSchedulingPolicy": {
            "http": {
                "requestUri": "/v1/createschedulingpolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "fairsharePolicy": {
                        "shape": "Su"
                    },
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "arn"
                ],
                "members": {
                    "name": {},
                    "arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/33F4QWSVMSMCGXPIV4QFIBDNNIA2MD6E34BRPPLUSWECULPTYX5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAZIT2E6Q7OFGHHM3WFULUO4NNZJMIKTWQU26Q3JHTAUEITTIBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVHHTAKIYB7ZNTW3LQJV2TOM4OJPOEHI73NWLEBFEH4Z7DJBXFOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWBVW52AFL22BUSNLG5SHD6YFNNJB2WAYMNL5ICJTNAUVFKZHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4ZLWWJ3JFOTFSAQZD7F7EI6BOLNG7YQPYRNRUQU7LUNGTPNKXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQYSMRBNZKGTJ7Q7RMX2VYZNGEGQJ5PDKVGNXSIAQBDBIVJAX3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCNUVCQTZOD3V6KF6RP4RYJNRYE6MN6JYZN2G43C6SGATIXQPJIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIUQ7Y42PEBK6BTJ2G6BA5IL5YZEU4TYGFVNXXPGOOG425NGDABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMIBAPUH7P57PXBRIM4OCC2YNNNPROHMH7XLDVJWWRBTKSWNDLKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGSCAVGTF7CXGMCGSLWNPJRKYKEYQTIZHVSZGJW43KI2UYNXBAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG7S35EZZVU2SJZ4TOS5JOTK7ZH7CZR2A2WYTBWCT2ZYU5E2FWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY6BVZYTDPTIW7P2HR222ZJ27T4QSYIYCXHFI5NVYLGZ3TNURB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTBOPXQDX2CSVUFRZ4TY4K5C5LWRRVPAZWVZIB7XJOR46BA55XYQ/vendors.js"
            ]
        },
        "DeleteComputeEnvironment": {
            "http": {
                "requestUri": "/v1/deletecomputeenvironment"
            },
            "input": {
                "type": "structure",
                "required": [
                    "computeEnvironment"
                ],
                "members": {
                    "computeEnvironment": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4ZLWWJ3JFOTFSAQZD7F7EI6BOLNG7YQPYRNRUQU7LUNGTPNKXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQYSMRBNZKGTJ7Q7RMX2VYZNGEGQJ5PDKVGNXSIAQBDBIVJAX3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCNUVCQTZOD3V6KF6RP4RYJNRYE6MN6JYZN2G43C6SGATIXQPJIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIUQ7Y42PEBK6BTJ2G6BA5IL5YZEU4TYGFVNXXPGOOG425NGDABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMIBAPUH7P57PXBRIM4OCC2YNNNPROHMH7XLDVJWWRBTKSWNDLKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGSCAVGTF7CXGMCGSLWNPJRKYKEYQTIZHVSZGJW43KI2UYNXBAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG7S35EZZVU2SJZ4TOS5JOTK7ZH7CZR2A2WYTBWCT2ZYU5E2FWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY6BVZYTDPTIW7P2HR222ZJ27T4QSYIYCXHFI5NVYLGZ3TNURB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTBOPXQDX2CSVUFRZ4TY4K5C5LWRRVPAZWVZIB7XJOR46BA55XYQ/vendors.js"
            ]
        },
        "DeleteJobQueue": {
            "http": {
                "requestUri": "/v1/deletejobqueue"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobQueue"
                ],
                "members": {
                    "jobQueue": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4ZLWWJ3JFOTFSAQZD7F7EI6BOLNG7YQPYRNRUQU7LUNGTPNKXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQYSMRBNZKGTJ7Q7RMX2VYZNGEGQJ5PDKVGNXSIAQBDBIVJAX3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCNUVCQTZOD3V6KF6RP4RYJNRYE6MN6JYZN2G43C6SGATIXQPJIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIUQ7Y42PEBK6BTJ2G6BA5IL5YZEU4TYGFVNXXPGOOG425NGDABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMIBAPUH7P57PXBRIM4OCC2YNNNPROHMH7XLDVJWWRBTKSWNDLKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGSCAVGTF7CXGMCGSLWNPJRKYKEYQTIZHVSZGJW43KI2UYNXBAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG7S35EZZVU2SJZ4TOS5JOTK7ZH7CZR2A2WYTBWCT2ZYU5E2FWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY6BVZYTDPTIW7P2HR222ZJ27T4QSYIYCXHFI5NVYLGZ3TNURB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTBOPXQDX2CSVUFRZ4TY4K5C5LWRRVPAZWVZIB7XJOR46BA55XYQ/vendors.js"
            ]
        },
        "DeleteSchedulingPolicy": {
            "http": {
                "requestUri": "/v1/deleteschedulingpolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/33F4QWSVMSMCGXPIV4QFIBDNNIA2MD6E34BRPPLUSWECULPTYX5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAZIT2E6Q7OFGHHM3WFULUO4NNZJMIKTWQU26Q3JHTAUEITTIBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVHHTAKIYB7ZNTW3LQJV2TOM4OJPOEHI73NWLEBFEH4Z7DJBXFOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWBVW52AFL22BUSNLG5SHD6YFNNJB2WAYMNL5ICJTNAUVFKZHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4ZLWWJ3JFOTFSAQZD7F7EI6BOLNG7YQPYRNRUQU7LUNGTPNKXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQYSMRBNZKGTJ7Q7RMX2VYZNGEGQJ5PDKVGNXSIAQBDBIVJAX3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCNUVCQTZOD3V6KF6RP4RYJNRYE6MN6JYZN2G43C6SGATIXQPJIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIUQ7Y42PEBK6BTJ2G6BA5IL5YZEU4TYGFVNXXPGOOG425NGDABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMIBAPUH7P57PXBRIM4OCC2YNNNPROHMH7XLDVJWWRBTKSWNDLKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGSCAVGTF7CXGMCGSLWNPJRKYKEYQTIZHVSZGJW43KI2UYNXBAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG7S35EZZVU2SJZ4TOS5JOTK7ZH7CZR2A2WYTBWCT2ZYU5E2FWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY6BVZYTDPTIW7P2HR222ZJ27T4QSYIYCXHFI5NVYLGZ3TNURB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTBOPXQDX2CSVUFRZ4TY4K5C5LWRRVPAZWVZIB7XJOR46BA55XYQ/vendors.js"
            ]
        },
        "DeregisterJobDefinition": {
            "http": {
                "requestUri": "/v1/deregisterjobdefinition"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobDefinition"
                ],
                "members": {
                    "jobDefinition": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4ZLWWJ3JFOTFSAQZD7F7EI6BOLNG7YQPYRNRUQU7LUNGTPNKXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQYSMRBNZKGTJ7Q7RMX2VYZNGEGQJ5PDKVGNXSIAQBDBIVJAX3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCNUVCQTZOD3V6KF6RP4RYJNRYE6MN6JYZN2G43C6SGATIXQPJIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIUQ7Y42PEBK6BTJ2G6BA5IL5YZEU4TYGFVNXXPGOOG425NGDABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMIBAPUH7P57PXBRIM4OCC2YNNNPROHMH7XLDVJWWRBTKSWNDLKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGSCAVGTF7CXGMCGSLWNPJRKYKEYQTIZHVSZGJW43KI2UYNXBAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG7S35EZZVU2SJZ4TOS5JOTK7ZH7CZR2A2WYTBWCT2ZYU5E2FWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY6BVZYTDPTIW7P2HR222ZJ27T4QSYIYCXHFI5NVYLGZ3TNURB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTBOPXQDX2CSVUFRZ4TY4K5C5LWRRVPAZWVZIB7XJOR46BA55XYQ/vendors.js"
            ]
        },
        "DescribeComputeEnvironments": {
            "http": {
                "requestUri": "/v1/describecomputeenvironments"
            },
            "input": {
                "type": "structure",
                "members": {
                    "computeEnvironments": {
                        "shape": "Sb"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "computeEnvironments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "computeEnvironmentName",
                                "computeEnvironmentArn"
                            ],
                            "members": {
                                "computeEnvironmentName": {},
                                "computeEnvironmentArn": {},
                                "unmanagedvCpus": {
                                    "type": "integer"
                                },
                                "ecsClusterArn": {},
                                "tags": {
                                    "shape": "Sj"
                                },
                                "type": {},
                                "state": {},
                                "status": {},
                                "statusReason": {},
                                "computeResources": {
                                    "shape": "S8"
                                },
                                "serviceRole": {},
                                "updatePolicy": {
                                    "shape": "S1c"
                                },
                                "eksConfiguration": {
                                    "shape": "Sm"
                                },
                                "containerOrchestrationType": {},
                                "uuid": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4ZLWWJ3JFOTFSAQZD7F7EI6BOLNG7YQPYRNRUQU7LUNGTPNKXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQYSMRBNZKGTJ7Q7RMX2VYZNGEGQJ5PDKVGNXSIAQBDBIVJAX3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCNUVCQTZOD3V6KF6RP4RYJNRYE6MN6JYZN2G43C6SGATIXQPJIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIUQ7Y42PEBK6BTJ2G6BA5IL5YZEU4TYGFVNXXPGOOG425NGDABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMIBAPUH7P57PXBRIM4OCC2YNNNPROHMH7XLDVJWWRBTKSWNDLKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGSCAVGTF7CXGMCGSLWNPJRKYKEYQTIZHVSZGJW43KI2UYNXBAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG7S35EZZVU2SJZ4TOS5JOTK7ZH7CZR2A2WYTBWCT2ZYU5E2FWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY6BVZYTDPTIW7P2HR222ZJ27T4QSYIYCXHFI5NVYLGZ3TNURB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTBOPXQDX2CSVUFRZ4TY4K5C5LWRRVPAZWVZIB7XJOR46BA55XYQ/vendors.js"
            ]
        },
        "DescribeJobDefinitions": {
            "http": {
                "requestUri": "/v1/describejobdefinitions"
            },
            "input": {
                "type": "structure",
                "members": {
                    "jobDefinitions": {
                        "shape": "Sb"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "jobDefinitionName": {},
                    "status": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobDefinitions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobDefinitionName",
                                "jobDefinitionArn",
                                "revision",
                                "type"
                            ],
                            "members": {
                                "jobDefinitionName": {},
                                "jobDefinitionArn": {},
                                "revision": {
                                    "type": "integer"
                                },
                                "status": {},
                                "type": {},
                                "schedulingPriority": {
                                    "type": "integer"
                                },
                                "parameters": {
                                    "shape": "S1k"
                                },
                                "retryStrategy": {
                                    "shape": "S1l"
                                },
                                "containerProperties": {
                                    "shape": "S1p"
                                },
                                "timeout": {
                                    "shape": "S2l"
                                },
                                "nodeProperties": {
                                    "shape": "S2m"
                                },
                                "tags": {
                                    "shape": "Sj"
                                },
                                "propagateTags": {
                                    "type": "boolean"
                                },
                                "platformCapabilities": {
                                    "shape": "S2p"
                                },
                                "eksProperties": {
                                    "shape": "S2r"
                                },
                                "containerOrchestrationType": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4ZLWWJ3JFOTFSAQZD7F7EI6BOLNG7YQPYRNRUQU7LUNGTPNKXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQYSMRBNZKGTJ7Q7RMX2VYZNGEGQJ5PDKVGNXSIAQBDBIVJAX3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCNUVCQTZOD3V6KF6RP4RYJNRYE6MN6JYZN2G43C6SGATIXQPJIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIUQ7Y42PEBK6BTJ2G6BA5IL5YZEU4TYGFVNXXPGOOG425NGDABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMIBAPUH7P57PXBRIM4OCC2YNNNPROHMH7XLDVJWWRBTKSWNDLKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGSCAVGTF7CXGMCGSLWNPJRKYKEYQTIZHVSZGJW43KI2UYNXBAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG7S35EZZVU2SJZ4TOS5JOTK7ZH7CZR2A2WYTBWCT2ZYU5E2FWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY6BVZYTDPTIW7P2HR222ZJ27T4QSYIYCXHFI5NVYLGZ3TNURB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTBOPXQDX2CSVUFRZ4TY4K5C5LWRRVPAZWVZIB7XJOR46BA55XYQ/vendors.js"
            ]
        },
        "DescribeJobQueues": {
            "http": {
                "requestUri": "/v1/describejobqueues"
            },
            "input": {
                "type": "structure",
                "members": {
                    "jobQueues": {
                        "shape": "Sb"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobQueues": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobQueueName",
                                "jobQueueArn",
                                "state",
                                "priority",
                                "computeEnvironmentOrder"
                            ],
                            "members": {
                                "jobQueueName": {},
                                "jobQueueArn": {},
                                "state": {},
                                "schedulingPolicyArn": {},
                                "status": {},
                                "statusReason": {},
                                "priority": {
                                    "type": "integer"
                                },
                                "computeEnvironmentOrder": {
                                    "shape": "Sq"
                                },
                                "tags": {
                                    "shape": "Sj"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4ZLWWJ3JFOTFSAQZD7F7EI6BOLNG7YQPYRNRUQU7LUNGTPNKXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQYSMRBNZKGTJ7Q7RMX2VYZNGEGQJ5PDKVGNXSIAQBDBIVJAX3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCNUVCQTZOD3V6KF6RP4RYJNRYE6MN6JYZN2G43C6SGATIXQPJIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIUQ7Y42PEBK6BTJ2G6BA5IL5YZEU4TYGFVNXXPGOOG425NGDABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMIBAPUH7P57PXBRIM4OCC2YNNNPROHMH7XLDVJWWRBTKSWNDLKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGSCAVGTF7CXGMCGSLWNPJRKYKEYQTIZHVSZGJW43KI2UYNXBAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG7S35EZZVU2SJZ4TOS5JOTK7ZH7CZR2A2WYTBWCT2ZYU5E2FWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY6BVZYTDPTIW7P2HR222ZJ27T4QSYIYCXHFI5NVYLGZ3TNURB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTBOPXQDX2CSVUFRZ4TY4K5C5LWRRVPAZWVZIB7XJOR46BA55XYQ/vendors.js"
            ]
        },
        "DescribeJobs": {
            "http": {
                "requestUri": "/v1/describejobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobs"
                ],
                "members": {
                    "jobs": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobName",
                                "jobId",
                                "jobQueue",
                                "status",
                                "startedAt",
                                "jobDefinition"
                            ],
                            "members": {
                                "jobArn": {},
                                "jobName": {},
                                "jobId": {},
                                "jobQueue": {},
                                "status": {},
                                "shareIdentifier": {},
                                "schedulingPriority": {
                                    "type": "integer"
                                },
                                "attempts": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "container": {
                                                "type": "structure",
                                                "members": {
                                                    "containerInstanceArn": {},
                                                    "taskArn": {},
                                                    "exitCode": {
                                                        "type": "integer"
                                                    },
                                                    "reason": {},
                                                    "logStreamName": {},
                                                    "networkInterfaces": {
                                                        "shape": "S3n"
                                                    }
                                                }
                                            },
                                            "startedAt": {
                                                "type": "long"
                                            },
                                            "stoppedAt": {
                                                "type": "long"
                                            },
                                            "statusReason": {}
                                        }
                                    }
                                },
                                "statusReason": {},
                                "createdAt": {
                                    "type": "long"
                                },
                                "retryStrategy": {
                                    "shape": "S1l"
                                },
                                "startedAt": {
                                    "type": "long"
                                },
                                "stoppedAt": {
                                    "type": "long"
                                },
                                "dependsOn": {
                                    "shape": "S3p"
                                },
                                "jobDefinition": {},
                                "parameters": {
                                    "shape": "S1k"
                                },
                                "container": {
                                    "type": "structure",
                                    "members": {
                                        "image": {},
                                        "vcpus": {
                                            "type": "integer"
                                        },
                                        "memory": {
                                            "type": "integer"
                                        },
                                        "command": {
                                            "shape": "Sb"
                                        },
                                        "jobRoleArn": {},
                                        "executionRoleArn": {},
                                        "volumes": {
                                            "shape": "S1q"
                                        },
                                        "environment": {
                                            "shape": "S1x"
                                        },
                                        "mountPoints": {
                                            "shape": "S1z"
                                        },
                                        "readonlyRootFilesystem": {
                                            "type": "boolean"
                                        },
                                        "ulimits": {
                                            "shape": "S21"
                                        },
                                        "privileged": {
                                            "type": "boolean"
                                        },
                                        "user": {},
                                        "exitCode": {
                                            "type": "integer"
                                        },
                                        "reason": {},
                                        "containerInstanceArn": {},
                                        "taskArn": {},
                                        "logStreamName": {},
                                        "instanceType": {},
                                        "networkInterfaces": {
                                            "shape": "S3n"
                                        },
                                        "resourceRequirements": {
                                            "shape": "S23"
                                        },
                                        "linuxParameters": {
                                            "shape": "S26"
                                        },
                                        "logConfiguration": {
                                            "shape": "S2d"
                                        },
                                        "secrets": {
                                            "shape": "S2g"
                                        },
                                        "networkConfiguration": {
                                            "shape": "S2i"
                                        },
                                        "fargatePlatformConfiguration": {
                                            "shape": "S2k"
                                        }
                                    }
                                },
                                "nodeDetails": {
                                    "type": "structure",
                                    "members": {
                                        "nodeIndex": {
                                            "type": "integer"
                                        },
                                        "isMainNode": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "nodeProperties": {
                                    "shape": "S2m"
                                },
                                "arrayProperties": {
                                    "type": "structure",
                                    "members": {
                                        "statusSummary": {
                                            "type": "map",
                                            "key": {},
                                            "value": {
                                                "type": "integer"
                                            }
                                        },
                                        "size": {
                                            "type": "integer"
                                        },
                                        "index": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "timeout": {
                                    "shape": "S2l"
                                },
                                "tags": {
                                    "shape": "Sj"
                                },
                                "propagateTags": {
                                    "type": "boolean"
                                },
                                "platformCapabilities": {
                                    "shape": "S2p"
                                },
                                "eksProperties": {
                                    "type": "structure",
                                    "members": {
                                        "podProperties": {
                                            "type": "structure",
                                            "members": {
                                                "serviceAccountName": {},
                                                "hostNetwork": {
                                                    "type": "boolean"
                                                },
                                                "dnsPolicy": {},
                                                "containers": {
                                                    "type": "list",
                                                    "member": {
                                                        "type": "structure",
                                                        "members": {
                                                            "name": {},
                                                            "image": {},
                                                            "imagePullPolicy": {},
                                                            "command": {
                                                                "shape": "Sb"
                                                            },
                                                            "args": {
                                                                "shape": "Sb"
                                                            },
                                                            "env": {
                                                                "shape": "S2v"
                                                            },
                                                            "resources": {
                                                                "shape": "S2x"
                                                            },
                                                            "exitCode": {
                                                                "type": "integer"
                                                            },
                                                            "reason": {},
                                                            "volumeMounts": {
                                                                "shape": "S31"
                                                            },
                                                            "securityContext": {
                                                                "shape": "S33"
                                                            }
                                                        }
                                                    }
                                                },
                                                "volumes": {
                                                    "shape": "S35"
                                                },
                                                "podName": {},
                                                "nodeName": {}
                                            }
                                        }
                                    }
                                },
                                "eksAttempts": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "containers": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "exitCode": {
                                                            "type": "integer"
                                                        },
                                                        "reason": {}
                                                    }
                                                }
                                            },
                                            "podName": {},
                                            "nodeName": {},
                                            "startedAt": {
                                                "type": "long"
                                            },
                                            "stoppedAt": {
                                                "type": "long"
                                            },
                                            "statusReason": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4ZLWWJ3JFOTFSAQZD7F7EI6BOLNG7YQPYRNRUQU7LUNGTPNKXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQYSMRBNZKGTJ7Q7RMX2VYZNGEGQJ5PDKVGNXSIAQBDBIVJAX3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCNUVCQTZOD3V6KF6RP4RYJNRYE6MN6JYZN2G43C6SGATIXQPJIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIUQ7Y42PEBK6BTJ2G6BA5IL5YZEU4TYGFVNXXPGOOG425NGDABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMIBAPUH7P57PXBRIM4OCC2YNNNPROHMH7XLDVJWWRBTKSWNDLKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGSCAVGTF7CXGMCGSLWNPJRKYKEYQTIZHVSZGJW43KI2UYNXBAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG7S35EZZVU2SJZ4TOS5JOTK7ZH7CZR2A2WYTBWCT2ZYU5E2FWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY6BVZYTDPTIW7P2HR222ZJ27T4QSYIYCXHFI5NVYLGZ3TNURB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTBOPXQDX2CSVUFRZ4TY4K5C5LWRRVPAZWVZIB7XJOR46BA55XYQ/vendors.js"
            ]
        },
        "DescribeSchedulingPolicies": {
            "http": {
                "requestUri": "/v1/describeschedulingpolicies"
            },
            "input": {
                "type": "structure",
                "required": [
                    "arns"
                ],
                "members": {
                    "arns": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "schedulingPolicies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "arn"
                            ],
                            "members": {
                                "name": {},
                                "arn": {},
                                "fairsharePolicy": {
                                    "shape": "Su"
                                },
                                "tags": {
                                    "shape": "Sj"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/33F4QWSVMSMCGXPIV4QFIBDNNIA2MD6E34BRPPLUSWECULPTYX5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAZIT2E6Q7OFGHHM3WFULUO4NNZJMIKTWQU26Q3JHTAUEITTIBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVHHTAKIYB7ZNTW3LQJV2TOM4OJPOEHI73NWLEBFEH4Z7DJBXFOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWBVW52AFL22BUSNLG5SHD6YFNNJB2WAYMNL5ICJTNAUVFKZHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4ZLWWJ3JFOTFSAQZD7F7EI6BOLNG7YQPYRNRUQU7LUNGTPNKXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQYSMRBNZKGTJ7Q7RMX2VYZNGEGQJ5PDKVGNXSIAQBDBIVJAX3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCNUVCQTZOD3V6KF6RP4RYJNRYE6MN6JYZN2G43C6SGATIXQPJIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIUQ7Y42PEBK6BTJ2G6BA5IL5YZEU4TYGFVNXXPGOOG425NGDABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMIBAPUH7P57PXBRIM4OCC2YNNNPROHMH7XLDVJWWRBTKSWNDLKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGSCAVGTF7CXGMCGSLWNPJRKYKEYQTIZHVSZGJW43KI2UYNXBAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG7S35EZZVU2SJZ4TOS5JOTK7ZH7CZR2A2WYTBWCT2ZYU5E2FWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY6BVZYTDPTIW7P2HR222ZJ27T4QSYIYCXHFI5NVYLGZ3TNURB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTBOPXQDX2CSVUFRZ4TY4K5C5LWRRVPAZWVZIB7XJOR46BA55XYQ/vendors.js"
            ]
        },
        "ListJobs": {
            "http": {
                "requestUri": "/v1/listjobs"
            },
            "input": {
                "type": "structure",
                "members": {
                    "jobQueue": {},
                    "arrayJobId": {},
                    "multiNodeJobId": {},
                    "jobStatus": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "shape": "Sb"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobSummaryList"
                ],
                "members": {
                    "jobSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobId",
                                "jobName"
                            ],
                            "members": {
                                "jobArn": {},
                                "jobId": {},
                                "jobName": {},
                                "createdAt": {
                                    "type": "long"
                                },
                                "status": {},
                                "statusReason": {},
                                "startedAt": {
                                    "type": "long"
                                },
                                "stoppedAt": {
                                    "type": "long"
                                },
                                "container": {
                                    "type": "structure",
                                    "members": {
                                        "exitCode": {
                                            "type": "integer"
                                        },
                                        "reason": {}
                                    }
                                },
                                "arrayProperties": {
                                    "type": "structure",
                                    "members": {
                                        "size": {
                                            "type": "integer"
                                        },
                                        "index": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "nodeProperties": {
                                    "type": "structure",
                                    "members": {
                                        "isMainNode": {
                                            "type": "boolean"
                                        },
                                        "numNodes": {
                                            "type": "integer"
                                        },
                                        "nodeIndex": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "jobDefinition": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4ZLWWJ3JFOTFSAQZD7F7EI6BOLNG7YQPYRNRUQU7LUNGTPNKXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQYSMRBNZKGTJ7Q7RMX2VYZNGEGQJ5PDKVGNXSIAQBDBIVJAX3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCNUVCQTZOD3V6KF6RP4RYJNRYE6MN6JYZN2G43C6SGATIXQPJIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIUQ7Y42PEBK6BTJ2G6BA5IL5YZEU4TYGFVNXXPGOOG425NGDABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMIBAPUH7P57PXBRIM4OCC2YNNNPROHMH7XLDVJWWRBTKSWNDLKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGSCAVGTF7CXGMCGSLWNPJRKYKEYQTIZHVSZGJW43KI2UYNXBAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG7S35EZZVU2SJZ4TOS5JOTK7ZH7CZR2A2WYTBWCT2ZYU5E2FWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY6BVZYTDPTIW7P2HR222ZJ27T4QSYIYCXHFI5NVYLGZ3TNURB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTBOPXQDX2CSVUFRZ4TY4K5C5LWRRVPAZWVZIB7XJOR46BA55XYQ/vendors.js"
            ]
        },
        "ListSchedulingPolicies": {
            "http": {
                "requestUri": "/v1/listschedulingpolicies"
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "schedulingPolicies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn"
                            ],
                            "members": {
                                "arn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/33F4QWSVMSMCGXPIV4QFIBDNNIA2MD6E34BRPPLUSWECULPTYX5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAZIT2E6Q7OFGHHM3WFULUO4NNZJMIKTWQU26Q3JHTAUEITTIBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVHHTAKIYB7ZNTW3LQJV2TOM4OJPOEHI73NWLEBFEH4Z7DJBXFOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWBVW52AFL22BUSNLG5SHD6YFNNJB2WAYMNL5ICJTNAUVFKZHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4ZLWWJ3JFOTFSAQZD7F7EI6BOLNG7YQPYRNRUQU7LUNGTPNKXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQYSMRBNZKGTJ7Q7RMX2VYZNGEGQJ5PDKVGNXSIAQBDBIVJAX3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCNUVCQTZOD3V6KF6RP4RYJNRYE6MN6JYZN2G43C6SGATIXQPJIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIUQ7Y42PEBK6BTJ2G6BA5IL5YZEU4TYGFVNXXPGOOG425NGDABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMIBAPUH7P57PXBRIM4OCC2YNNNPROHMH7XLDVJWWRBTKSWNDLKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGSCAVGTF7CXGMCGSLWNPJRKYKEYQTIZHVSZGJW43KI2UYNXBAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG7S35EZZVU2SJZ4TOS5JOTK7ZH7CZR2A2WYTBWCT2ZYU5E2FWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY6BVZYTDPTIW7P2HR222ZJ27T4QSYIYCXHFI5NVYLGZ3TNURB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTBOPXQDX2CSVUFRZ4TY4K5C5LWRRVPAZWVZIB7XJOR46BA55XYQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWBVW52AFL22BUSNLG5SHD6YFNNJB2WAYMNL5ICJTNAUVFKZHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4ZLWWJ3JFOTFSAQZD7F7EI6BOLNG7YQPYRNRUQU7LUNGTPNKXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQYSMRBNZKGTJ7Q7RMX2VYZNGEGQJ5PDKVGNXSIAQBDBIVJAX3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCNUVCQTZOD3V6KF6RP4RYJNRYE6MN6JYZN2G43C6SGATIXQPJIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIUQ7Y42PEBK6BTJ2G6BA5IL5YZEU4TYGFVNXXPGOOG425NGDABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMIBAPUH7P57PXBRIM4OCC2YNNNPROHMH7XLDVJWWRBTKSWNDLKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGSCAVGTF7CXGMCGSLWNPJRKYKEYQTIZHVSZGJW43KI2UYNXBAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG7S35EZZVU2SJZ4TOS5JOTK7ZH7CZR2A2WYTBWCT2ZYU5E2FWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY6BVZYTDPTIW7P2HR222ZJ27T4QSYIYCXHFI5NVYLGZ3TNURB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTBOPXQDX2CSVUFRZ4TY4K5C5LWRRVPAZWVZIB7XJOR46BA55XYQ/vendors.js"
            ]
        },
        "RegisterJobDefinition": {
            "http": {
                "requestUri": "/v1/registerjobdefinition"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobDefinitionName",
                    "type"
                ],
                "members": {
                    "jobDefinitionName": {},
                    "type": {},
                    "parameters": {
                        "shape": "S1k"
                    },
                    "schedulingPriority": {
                        "type": "integer"
                    },
                    "containerProperties": {
                        "shape": "S1p"
                    },
                    "nodeProperties": {
                        "shape": "S2m"
                    },
                    "retryStrategy": {
                        "shape": "S1l"
                    },
                    "propagateTags": {
                        "type": "boolean"
                    },
                    "timeout": {
                        "shape": "S2l"
                    },
                    "tags": {
                        "shape": "Sj"
                    },
                    "platformCapabilities": {
                        "shape": "S2p"
                    },
                    "eksProperties": {
                        "shape": "S2r"
                    },
                    "ecsProperties": {
                        "shape": "S3a",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobDefinitionName",
                    "jobDefinitionArn",
                    "revision"
                ],
                "members": {
                    "jobDefinitionName": {},
                    "jobDefinitionArn": {},
                    "revision": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4ZLWWJ3JFOTFSAQZD7F7EI6BOLNG7YQPYRNRUQU7LUNGTPNKXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQYSMRBNZKGTJ7Q7RMX2VYZNGEGQJ5PDKVGNXSIAQBDBIVJAX3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCNUVCQTZOD3V6KF6RP4RYJNRYE6MN6JYZN2G43C6SGATIXQPJIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIUQ7Y42PEBK6BTJ2G6BA5IL5YZEU4TYGFVNXXPGOOG425NGDABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMIBAPUH7P57PXBRIM4OCC2YNNNPROHMH7XLDVJWWRBTKSWNDLKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGSCAVGTF7CXGMCGSLWNPJRKYKEYQTIZHVSZGJW43KI2UYNXBAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG7S35EZZVU2SJZ4TOS5JOTK7ZH7CZR2A2WYTBWCT2ZYU5E2FWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY6BVZYTDPTIW7P2HR222ZJ27T4QSYIYCXHFI5NVYLGZ3TNURB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTBOPXQDX2CSVUFRZ4TY4K5C5LWRRVPAZWVZIB7XJOR46BA55XYQ/vendors.js"
            ]
        },
        "SubmitJob": {
            "http": {
                "requestUri": "/v1/submitjob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobName",
                    "jobQueue",
                    "jobDefinition"
                ],
                "members": {
                    "jobName": {},
                    "jobQueue": {},
                    "shareIdentifier": {},
                    "schedulingPriorityOverride": {
                        "type": "integer"
                    },
                    "arrayProperties": {
                        "type": "structure",
                        "members": {
                            "size": {
                                "type": "integer"
                            }
                        }
                    },
                    "dependsOn": {
                        "shape": "S3p"
                    },
                    "jobDefinition": {},
                    "parameters": {
                        "shape": "S1k"
                    },
                    "containerOverrides": {
                        "shape": "S4s"
                    },
                    "nodeOverrides": {
                        "type": "structure",
                        "members": {
                            "numNodes": {
                                "type": "integer"
                            },
                            "nodePropertyOverrides": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "targetNodes"
                                    ],
                                    "members": {
                                        "targetNodes": {},
                                        "containerOverrides": {
                                            "shape": "S4s"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "retryStrategy": {
                        "shape": "S1l"
                    },
                    "propagateTags": {
                        "type": "boolean"
                    },
                    "timeout": {
                        "shape": "S2l"
                    },
                    "tags": {
                        "shape": "Sj"
                    },
                    "eksPropertiesOverride": {
                        "type": "structure",
                        "members": {
                            "podProperties": {
                                "type": "structure",
                                "members": {
                                    "containers": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "image": {},
                                                "command": {
                                                    "shape": "Sb"
                                                },
                                                "args": {
                                                    "shape": "Sb"
                                                },
                                                "env": {
                                                    "shape": "S2v"
                                                },
                                                "resources": {
                                                    "shape": "S2x"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "ecsPropertiesOverride": {
                        "internalonly": true,
                        "type": "structure",
                        "members": {
                            "taskProperties": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "containers": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "command": {
                                                        "shape": "Sb"
                                                    },
                                                    "environment": {
                                                        "shape": "S2c"
                                                    },
                                                    "resourceRequirements": {
                                                        "shape": "S2i"
                                                    },
                                                    "originator": {
                                                        "shape": "S6o",
                                                        "internalonly": true
                                                    },
                                                    "networkConfiguration": {
                                                        "shape": "S2x",
[...]
