{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-08-10",
        "endpointPrefix": "batch",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AWS Batch",
        "serviceFullName": "AWS Batch",
        "serviceId": "Batch",
        "signatureVersion": "v4",
        "uid": "batch-2016-08-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js"
        ]
    },
    "operations": {
        "CancelJob": {
            "http": {
                "requestUri": "/v1/canceljob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId",
                    "reason"
                ],
                "members": {
                    "jobId": {},
                    "reason": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js"
            ]
        },
        "CreateComputeEnvironment": {
            "http": {
                "requestUri": "/v1/createcomputeenvironment"
            },
            "input": {
                "type": "structure",
                "required": [
                    "computeEnvironmentName",
                    "type"
                ],
                "members": {
                    "computeEnvironmentName": {},
                    "type": {},
                    "state": {},
                    "unmanagedvCpus": {
                        "type": "integer"
                    },
                    "computeResources": {
                        "shape": "S8"
                    },
                    "serviceRole": {},
                    "tags": {
                        "shape": "Sj"
                    },
                    "eksConfiguration": {
                        "shape": "Sm"
                    },
                    "multiNodeParallelConfiguration": {
                        "internalonly": true,
                        "type": "structure",
                        "members": {
                            "disableNodeReuse": {
                                "type": "boolean"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "computeEnvironmentName": {},
                    "computeEnvironmentArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js"
            ]
        },
        "CreateJobQueue": {
            "http": {
                "requestUri": "/v1/createjobqueue"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobQueueName",
                    "priority",
                    "computeEnvironmentOrder"
                ],
                "members": {
                    "jobQueueName": {},
                    "state": {},
                    "schedulingPolicyArn": {},
                    "priority": {
                        "type": "integer"
                    },
                    "computeEnvironmentOrder": {
                        "shape": "Sq"
                    },
                    "tags": {
                        "shape": "Sj"
                    },
                    "serviceEnvironmentOrder": {
                        "shape": "Ss",
                        "internalonly": true
                    },
                    "serviceType": {
                        "shape": "Su",
                        "internalonly": true
                    },
                    "resourcePolicy": {},
                    "jobQueueType": {
                        "shape": "Su",
                        "internalonly": true
                    },
                    "jobStateTimeLimitActions": {
                        "shape": "Sv",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobQueueName",
                    "jobQueueArn"
                ],
                "members": {
                    "jobQueueName": {},
                    "jobQueueArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js"
            ]
        },
        "CreateSchedulingPolicy": {
            "http": {
                "requestUri": "/v1/createschedulingpolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "fairsharePolicy": {
                        "shape": "Su"
                    },
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "arn"
                ],
                "members": {
                    "name": {},
                    "arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U76UEOJTKOUWGXA2D3AVRJYKTY7ISC6Q4BGVLRZXTECPG2QRS5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS7WW55QNEBQAXVN6LSKHDKYRDXHRXQ36TUYJ4JGBWQUGYAHJT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF6CRMJJNXHOCSOI2IBFOJGIFZX7WJ67VXP56FBYOJUTD3CBCQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ3H34V5HFNZHTN6TYQAEBX3PQB66NCP33DVBEWGBO7DS4GBXAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XZ2SHUQETQTSKNE7O25NHP743HVCC6XDCDJKTBY4RBXLE4UYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js"
            ]
        },
        "DeleteComputeEnvironment": {
            "http": {
                "requestUri": "/v1/deletecomputeenvironment"
            },
            "input": {
                "type": "structure",
                "required": [
                    "computeEnvironment"
                ],
                "members": {
                    "computeEnvironment": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js"
            ]
        },
        "DeleteJobQueue": {
            "http": {
                "requestUri": "/v1/deletejobqueue"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobQueue"
                ],
                "members": {
                    "jobQueue": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js"
            ]
        },
        "DeleteSchedulingPolicy": {
            "http": {
                "requestUri": "/v1/deleteschedulingpolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U76UEOJTKOUWGXA2D3AVRJYKTY7ISC6Q4BGVLRZXTECPG2QRS5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS7WW55QNEBQAXVN6LSKHDKYRDXHRXQ36TUYJ4JGBWQUGYAHJT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF6CRMJJNXHOCSOI2IBFOJGIFZX7WJ67VXP56FBYOJUTD3CBCQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ3H34V5HFNZHTN6TYQAEBX3PQB66NCP33DVBEWGBO7DS4GBXAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XZ2SHUQETQTSKNE7O25NHP743HVCC6XDCDJKTBY4RBXLE4UYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js"
            ]
        },
        "DeregisterJobDefinition": {
            "http": {
                "requestUri": "/v1/deregisterjobdefinition"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobDefinition"
                ],
                "members": {
                    "jobDefinition": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js"
            ]
        },
        "DescribeComputeEnvironments": {
            "http": {
                "requestUri": "/v1/describecomputeenvironments"
            },
            "input": {
                "type": "structure",
                "members": {
                    "computeEnvironments": {
                        "shape": "Sb"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "computeEnvironments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "computeEnvironmentName",
                                "computeEnvironmentArn"
                            ],
                            "members": {
                                "computeEnvironmentName": {},
                                "computeEnvironmentArn": {},
                                "unmanagedvCpus": {
                                    "type": "integer"
                                },
                                "ecsClusterArn": {},
                                "tags": {
                                    "shape": "Sj"
                                },
                                "type": {},
                                "state": {},
                                "status": {},
                                "statusReason": {},
                                "computeResources": {
                                    "shape": "S8"
                                },
                                "serviceRole": {},
                                "updatePolicy": {
                                    "shape": "S1c"
                                },
                                "eksConfiguration": {
                                    "shape": "Sm"
                                },
                                "containerOrchestrationType": {},
                                "uuid": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js"
            ]
        },
        "DescribeJobDefinitions": {
            "http": {
                "requestUri": "/v1/describejobdefinitions"
            },
            "input": {
                "type": "structure",
                "members": {
                    "jobDefinitions": {
                        "shape": "Sb"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "jobDefinitionName": {},
                    "status": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobDefinitions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobDefinitionName",
                                "jobDefinitionArn",
                                "revision",
                                "type"
                            ],
                            "members": {
                                "jobDefinitionName": {},
                                "jobDefinitionArn": {},
                                "revision": {
                                    "type": "integer"
                                },
                                "status": {},
                                "type": {},
                                "schedulingPriority": {
                                    "type": "integer"
                                },
                                "parameters": {
                                    "shape": "S1k"
                                },
                                "retryStrategy": {
                                    "shape": "S1l"
                                },
                                "containerProperties": {
                                    "shape": "S1p"
                                },
                                "timeout": {
                                    "shape": "S2l"
                                },
                                "nodeProperties": {
                                    "shape": "S2m"
                                },
                                "tags": {
                                    "shape": "Sj"
                                },
                                "propagateTags": {
                                    "type": "boolean"
                                },
                                "platformCapabilities": {
                                    "shape": "S2p"
                                },
                                "eksProperties": {
                                    "shape": "S2r"
                                },
                                "containerOrchestrationType": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js"
            ]
        },
        "DescribeJobQueues": {
            "http": {
                "requestUri": "/v1/describejobqueues"
            },
            "input": {
                "type": "structure",
                "members": {
                    "jobQueues": {
                        "shape": "Sb"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobQueues": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobQueueName",
                                "jobQueueArn",
                                "state",
                                "priority",
                                "computeEnvironmentOrder"
                            ],
                            "members": {
                                "jobQueueName": {},
                                "jobQueueArn": {},
                                "state": {},
                                "schedulingPolicyArn": {},
                                "status": {},
                                "statusReason": {},
                                "priority": {
                                    "type": "integer"
                                },
                                "computeEnvironmentOrder": {
                                    "shape": "Sq"
                                },
                                "tags": {
                                    "shape": "Sj"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js"
            ]
        },
        "DescribeJobs": {
            "http": {
                "requestUri": "/v1/describejobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobs"
                ],
                "members": {
                    "jobs": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobName",
                                "jobId",
                                "jobQueue",
                                "status",
                                "startedAt",
                                "jobDefinition"
                            ],
                            "members": {
                                "jobArn": {},
                                "jobName": {},
                                "jobId": {},
                                "jobQueue": {},
                                "status": {},
                                "shareIdentifier": {},
                                "schedulingPriority": {
                                    "type": "integer"
                                },
                                "attempts": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "container": {
                                                "type": "structure",
                                                "members": {
                                                    "containerInstanceArn": {},
                                                    "taskArn": {},
                                                    "exitCode": {
                                                        "type": "integer"
                                                    },
                                                    "reason": {},
                                                    "logStreamName": {},
                                                    "networkInterfaces": {
                                                        "shape": "S3n"
                                                    }
                                                }
                                            },
                                            "startedAt": {
                                                "type": "long"
                                            },
                                            "stoppedAt": {
                                                "type": "long"
                                            },
                                            "statusReason": {}
                                        }
                                    }
                                },
                                "statusReason": {},
                                "createdAt": {
                                    "type": "long"
                                },
                                "retryStrategy": {
                                    "shape": "S1l"
                                },
                                "startedAt": {
                                    "type": "long"
                                },
                                "stoppedAt": {
                                    "type": "long"
                                },
                                "dependsOn": {
                                    "shape": "S3p"
                                },
                                "jobDefinition": {},
                                "parameters": {
                                    "shape": "S1k"
                                },
                                "container": {
                                    "type": "structure",
                                    "members": {
                                        "image": {},
                                        "vcpus": {
                                            "type": "integer"
                                        },
                                        "memory": {
                                            "type": "integer"
                                        },
                                        "command": {
                                            "shape": "Sb"
                                        },
                                        "jobRoleArn": {},
                                        "executionRoleArn": {},
                                        "volumes": {
                                            "shape": "S1q"
                                        },
                                        "environment": {
                                            "shape": "S1x"
                                        },
                                        "mountPoints": {
                                            "shape": "S1z"
                                        },
                                        "readonlyRootFilesystem": {
                                            "type": "boolean"
                                        },
                                        "ulimits": {
                                            "shape": "S21"
                                        },
                                        "privileged": {
                                            "type": "boolean"
                                        },
                                        "user": {},
                                        "exitCode": {
                                            "type": "integer"
                                        },
                                        "reason": {},
                                        "containerInstanceArn": {},
                                        "taskArn": {},
                                        "logStreamName": {},
                                        "instanceType": {},
                                        "networkInterfaces": {
                                            "shape": "S3n"
                                        },
                                        "resourceRequirements": {
                                            "shape": "S23"
                                        },
                                        "linuxParameters": {
                                            "shape": "S26"
                                        },
                                        "logConfiguration": {
                                            "shape": "S2d"
                                        },
                                        "secrets": {
                                            "shape": "S2g"
                                        },
                                        "networkConfiguration": {
                                            "shape": "S2i"
                                        },
                                        "fargatePlatformConfiguration": {
                                            "shape": "S2k"
                                        }
                                    }
                                },
                                "nodeDetails": {
                                    "type": "structure",
                                    "members": {
                                        "nodeIndex": {
                                            "type": "integer"
                                        },
                                        "isMainNode": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "nodeProperties": {
                                    "shape": "S2m"
                                },
                                "arrayProperties": {
                                    "type": "structure",
                                    "members": {
                                        "statusSummary": {
                                            "type": "map",
                                            "key": {},
                                            "value": {
                                                "type": "integer"
                                            }
                                        },
                                        "size": {
                                            "type": "integer"
                                        },
                                        "index": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "timeout": {
                                    "shape": "S2l"
                                },
                                "tags": {
                                    "shape": "Sj"
                                },
                                "propagateTags": {
                                    "type": "boolean"
                                },
                                "platformCapabilities": {
                                    "shape": "S2p"
                                },
                                "eksProperties": {
                                    "type": "structure",
                                    "members": {
                                        "podProperties": {
                                            "type": "structure",
                                            "members": {
                                                "serviceAccountName": {},
                                                "hostNetwork": {
                                                    "type": "boolean"
                                                },
                                                "dnsPolicy": {},
                                                "containers": {
                                                    "type": "list",
                                                    "member": {
                                                        "type": "structure",
                                                        "members": {
                                                            "name": {},
                                                            "image": {},
                                                            "imagePullPolicy": {},
                                                            "command": {
                                                                "shape": "Sb"
                                                            },
                                                            "args": {
                                                                "shape": "Sb"
                                                            },
                                                            "env": {
                                                                "shape": "S2v"
                                                            },
                                                            "resources": {
                                                                "shape": "S2x"
                                                            },
                                                            "exitCode": {
                                                                "type": "integer"
                                                            },
                                                            "reason": {},
                                                            "volumeMounts": {
                                                                "shape": "S31"
                                                            },
                                                            "securityContext": {
                                                                "shape": "S33"
                                                            }
                                                        }
                                                    }
                                                },
                                                "volumes": {
                                                    "shape": "S35"
                                                },
                                                "podName": {},
                                                "nodeName": {}
                                            }
                                        }
                                    }
                                },
                                "eksAttempts": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "containers": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "exitCode": {
                                                            "type": "integer"
                                                        },
                                                        "reason": {}
                                                    }
                                                }
                                            },
                                            "podName": {},
                                            "nodeName": {},
                                            "startedAt": {
                                                "type": "long"
                                            },
                                            "stoppedAt": {
                                                "type": "long"
                                            },
                                            "statusReason": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js"
            ]
        },
        "DescribeSchedulingPolicies": {
            "http": {
                "requestUri": "/v1/describeschedulingpolicies"
            },
            "input": {
                "type": "structure",
                "required": [
                    "arns"
                ],
                "members": {
                    "arns": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "schedulingPolicies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "arn"
                            ],
                            "members": {
                                "name": {},
                                "arn": {},
                                "fairsharePolicy": {
                                    "shape": "Su"
                                },
                                "tags": {
                                    "shape": "Sj"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U76UEOJTKOUWGXA2D3AVRJYKTY7ISC6Q4BGVLRZXTECPG2QRS5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS7WW55QNEBQAXVN6LSKHDKYRDXHRXQ36TUYJ4JGBWQUGYAHJT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF6CRMJJNXHOCSOI2IBFOJGIFZX7WJ67VXP56FBYOJUTD3CBCQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ3H34V5HFNZHTN6TYQAEBX3PQB66NCP33DVBEWGBO7DS4GBXAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XZ2SHUQETQTSKNE7O25NHP743HVCC6XDCDJKTBY4RBXLE4UYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js"
            ]
        },
        "ListJobs": {
            "http": {
                "requestUri": "/v1/listjobs"
            },
            "input": {
                "type": "structure",
                "members": {
                    "jobQueue": {},
                    "arrayJobId": {},
                    "multiNodeJobId": {},
                    "jobStatus": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "shape": "Sb"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobSummaryList"
                ],
                "members": {
                    "jobSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobId",
                                "jobName"
                            ],
                            "members": {
                                "jobArn": {},
                                "jobId": {},
                                "jobName": {},
                                "createdAt": {
                                    "type": "long"
                                },
                                "status": {},
                                "statusReason": {},
                                "startedAt": {
                                    "type": "long"
                                },
                                "stoppedAt": {
                                    "type": "long"
                                },
                                "container": {
                                    "type": "structure",
                                    "members": {
                                        "exitCode": {
                                            "type": "integer"
                                        },
                                        "reason": {}
                                    }
                                },
                                "arrayProperties": {
                                    "type": "structure",
                                    "members": {
                                        "size": {
                                            "type": "integer"
                                        },
                                        "index": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "nodeProperties": {
                                    "type": "structure",
                                    "members": {
                                        "isMainNode": {
                                            "type": "boolean"
                                        },
                                        "numNodes": {
                                            "type": "integer"
                                        },
                                        "nodeIndex": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "jobDefinition": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js"
            ]
        },
        "ListSchedulingPolicies": {
            "http": {
                "requestUri": "/v1/listschedulingpolicies"
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "schedulingPolicies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn"
                            ],
                            "members": {
                                "arn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U76UEOJTKOUWGXA2D3AVRJYKTY7ISC6Q4BGVLRZXTECPG2QRS5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS7WW55QNEBQAXVN6LSKHDKYRDXHRXQ36TUYJ4JGBWQUGYAHJT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF6CRMJJNXHOCSOI2IBFOJGIFZX7WJ67VXP56FBYOJUTD3CBCQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ3H34V5HFNZHTN6TYQAEBX3PQB66NCP33DVBEWGBO7DS4GBXAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XZ2SHUQETQTSKNE7O25NHP743HVCC6XDCDJKTBY4RBXLE4UYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js"
            ]
        },
        "RegisterJobDefinition": {
            "http": {
                "requestUri": "/v1/registerjobdefinition"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobDefinitionName",
                    "type"
                ],
                "members": {
                    "jobDefinitionName": {},
                    "type": {},
                    "parameters": {
                        "shape": "S1k"
                    },
                    "schedulingPriority": {
                        "type": "integer"
                    },
                    "containerProperties": {
                        "shape": "S1p"
                    },
                    "nodeProperties": {
                        "shape": "S2m"
                    },
                    "retryStrategy": {
                        "shape": "S1l"
                    },
                    "propagateTags": {
                        "type": "boolean"
                    },
                    "timeout": {
                        "shape": "S2l"
                    },
                    "tags": {
                        "shape": "Sj"
                    },
                    "platformCapabilities": {
                        "shape": "S2p"
                    },
                    "eksProperties": {
                        "shape": "S2r"
                    },
                    "ecsProperties": {
                        "shape": "S3a",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobDefinitionName",
                    "jobDefinitionArn",
                    "revision"
                ],
                "members": {
                    "jobDefinitionName": {},
                    "jobDefinitionArn": {},
                    "revision": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js"
            ]
        },
        "SubmitJob": {
            "http": {
                "requestUri": "/v1/submitjob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobName",
                    "jobQueue",
                    "jobDefinition"
                ],
                "members": {
                    "jobName": {},
                    "jobQueue": {},
                    "shareIdentifier": {},
                    "schedulingPriorityOverride": {
                        "type": "integer"
                    },
                    "arrayProperties": {
                        "type": "structure",
                        "members": {
                            "size": {
                                "type": "integer"
                            }
                        }
                    },
                    "dependsOn": {
                        "shape": "S3p"
                    },
                    "jobDefinition": {},
                    "parameters": {
                        "shape": "S1k"
                    },
                    "containerOverrides": {
                        "shape": "S4s"
                    },
                    "nodeOverrides": {
                        "type": "structure",
                        "members": {
                            "numNodes": {
                                "type": "integer"
                            },
                            "nodePropertyOverrides": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "targetNodes"
                                    ],
                                    "members": {
                                        "targetNodes": {},
                                        "containerOverrides": {
                                            "shape": "S4s"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "retryStrategy": {
                        "shape": "S1l"
                    },
                    "propagateTags": {
                        "type": "boolean"
                    },
                    "timeout": {
                        "shape": "S2l"
                    },
                    "tags": {
                        "shape": "Sj"
                    },
                    "eksPropertiesOverride": {
                        "type": "structure",
                        "members": {
                            "podProperties": {
                                "type": "structure",
                                "members": {
                                    "containers": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "image": {},
                                                "command": {
                                                    "shape": "Sb"
                                                },
                                                "args": {
                                                    "shape": "Sb"
                                                },
                                                "env": {
                                                    "shape": "S2v"
                                                },
                                                "resources": {
                                                    "shape": "S2x"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "ecsPropertiesOverride": {
                        "internalonly": true,
                        "type": "structure",
                        "members": {
                            "taskProperties": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "containers": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "command": {
                                                        "shape": "Sb"
                                                    },
                                                    "environment": {
                                                        "shape": "S2c"
                                                    },
                                                    "resourceRequirements": {
                                                        "shape": "S2i"
                                                    },
                                                    "originator": {
                                                        "shape": "S6o",
                                                        "internalonly": true
                                                    },
[...]
