{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-08-10",
        "endpointPrefix": "batch",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AWS Batch",
        "serviceFullName": "AWS Batch",
        "serviceId": "Batch",
        "signatureVersion": "v4",
        "uid": "batch-2016-08-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJKFXPIBYBD272V3QR6VMUZONFQ5FZVISEGGXJVVJFVJLZEQJTNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSY2W43VUVI7IAQFEEYBRF4FU4BHKFLJGBENEDOCMEA4346RNS4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JSB5OP7W56B4LKCGODJCCPKCMOAUHU22WMWEWPQ5NC42XEN2HXYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NRPUA7YTMOLND4VHAC5QDHUYB5JYWONOQJ2UK452BPZJXECJHTLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SJDXPDB5MCGYMTLCPGRSW6AQUNKY4IEXU5W3MBNOAMAMJX32HQJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6AVSSEH35OJU6NGDS3NOW4PGOUVUQIYJZIKKZD7M66LEVS4UJD5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YL5YVNMBTU4ZAJO5DWACQZ4AG7WCGEOUUEGE3ATT6A7HSZPJ4I2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CancelJob": {
            "http": {
                "requestUri": "/v1/canceljob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId",
                    "reason"
                ],
                "members": {
                    "jobId": {},
                    "reason": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSY2W43VUVI7IAQFEEYBRF4FU4BHKFLJGBENEDOCMEA4346RNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSB5OP7W56B4LKCGODJCCPKCMOAUHU22WMWEWPQ5NC42XEN2HXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRPUA7YTMOLND4VHAC5QDHUYB5JYWONOQJ2UK452BPZJXECJHTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJDXPDB5MCGYMTLCPGRSW6AQUNKY4IEXU5W3MBNOAMAMJX32HQJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AVSSEH35OJU6NGDS3NOW4PGOUVUQIYJZIKKZD7M66LEVS4UJD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL5YVNMBTU4ZAJO5DWACQZ4AG7WCGEOUUEGE3ATT6A7HSZPJ4I2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateComputeEnvironment": {
            "http": {
                "requestUri": "/v1/createcomputeenvironment"
            },
            "input": {
                "type": "structure",
                "required": [
                    "computeEnvironmentName",
                    "type"
                ],
                "members": {
                    "computeEnvironmentName": {},
                    "type": {},
                    "state": {},
                    "unmanagedvCpus": {
                        "type": "integer"
                    },
                    "computeResources": {
                        "shape": "S8"
                    },
                    "serviceRole": {},
                    "tags": {
                        "shape": "Sj"
                    },
                    "eksConfiguration": {
                        "shape": "Sm"
                    },
                    "multiNodeParallelConfiguration": {
                        "internalonly": true,
                        "type": "structure",
                        "members": {
                            "disableNodeReuse": {
                                "type": "boolean"
                            }
                        }
                    },
                    "context": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "computeEnvironmentName": {},
                    "computeEnvironmentArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSY2W43VUVI7IAQFEEYBRF4FU4BHKFLJGBENEDOCMEA4346RNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSB5OP7W56B4LKCGODJCCPKCMOAUHU22WMWEWPQ5NC42XEN2HXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRPUA7YTMOLND4VHAC5QDHUYB5JYWONOQJ2UK452BPZJXECJHTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJDXPDB5MCGYMTLCPGRSW6AQUNKY4IEXU5W3MBNOAMAMJX32HQJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AVSSEH35OJU6NGDS3NOW4PGOUVUQIYJZIKKZD7M66LEVS4UJD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL5YVNMBTU4ZAJO5DWACQZ4AG7WCGEOUUEGE3ATT6A7HSZPJ4I2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateJobQueue": {
            "http": {
                "requestUri": "/v1/createjobqueue"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobQueueName",
                    "priority",
                    "computeEnvironmentOrder"
                ],
                "members": {
                    "jobQueueName": {},
                    "state": {},
                    "schedulingPolicyArn": {},
                    "priority": {
                        "type": "integer"
                    },
                    "computeEnvironmentOrder": {
                        "shape": "Sq"
                    },
                    "tags": {
                        "shape": "Sj"
                    },
                    "serviceEnvironmentOrder": {
                        "shape": "Ss",
                        "internalonly": true
                    },
                    "serviceType": {
                        "shape": "Su",
                        "internalonly": true
                    },
                    "resourcePolicy": {},
                    "jobQueueType": {
                        "shape": "Su",
                        "internalonly": true
                    },
                    "jobStateTimeLimitActions": {
                        "shape": "Sv",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobQueueName",
                    "jobQueueArn"
                ],
                "members": {
                    "jobQueueName": {},
                    "jobQueueArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSY2W43VUVI7IAQFEEYBRF4FU4BHKFLJGBENEDOCMEA4346RNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSB5OP7W56B4LKCGODJCCPKCMOAUHU22WMWEWPQ5NC42XEN2HXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRPUA7YTMOLND4VHAC5QDHUYB5JYWONOQJ2UK452BPZJXECJHTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJDXPDB5MCGYMTLCPGRSW6AQUNKY4IEXU5W3MBNOAMAMJX32HQJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AVSSEH35OJU6NGDS3NOW4PGOUVUQIYJZIKKZD7M66LEVS4UJD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL5YVNMBTU4ZAJO5DWACQZ4AG7WCGEOUUEGE3ATT6A7HSZPJ4I2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateSchedulingPolicy": {
            "http": {
                "requestUri": "/v1/createschedulingpolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "fairsharePolicy": {
                        "shape": "Su"
                    },
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "arn"
                ],
                "members": {
                    "name": {},
                    "arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/44PM7PW77YZMBEN62R74RDHBV3OMTIVEII6BMEG4BWUJ33GW5MYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDNMYKAJJBBCQJFIHWBN5RGE4ESZ6IO62OQ23W5VPUWMIBUHIVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRNYDZZ4PFHEWWCWGC3UNN5AAXRQGT5RMSLHUE3CEDIJCRWETP5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLVGAOI66Q5YYDGCAINAU5BNRYFVQPK3RC6C4NMS2QPQ3ZIRSXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVGGK2LOLMVTTRHDQPU54OFENXOES3XOT5K4WFGTVIR2GVOLITPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2C7I3N5MYGVNHRPMUWH642J7TU6LV3YDG6VWQR4KYZQUGCIJ3RQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FUYGB327CNS52EEJJAMP2JNNW7ZYN4JRDCJRFSHQBH47KSNSQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATKAUK3KKEL7RYIQPAI3HJ6KGUC3N47IBMGDCFYCX33RLEBQ3R7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJKFXPIBYBD272V3QR6VMUZONFQ5FZVISEGGXJVVJFVJLZEQJTNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSY2W43VUVI7IAQFEEYBRF4FU4BHKFLJGBENEDOCMEA4346RNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSB5OP7W56B4LKCGODJCCPKCMOAUHU22WMWEWPQ5NC42XEN2HXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRPUA7YTMOLND4VHAC5QDHUYB5JYWONOQJ2UK452BPZJXECJHTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJDXPDB5MCGYMTLCPGRSW6AQUNKY4IEXU5W3MBNOAMAMJX32HQJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AVSSEH35OJU6NGDS3NOW4PGOUVUQIYJZIKKZD7M66LEVS4UJD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL5YVNMBTU4ZAJO5DWACQZ4AG7WCGEOUUEGE3ATT6A7HSZPJ4I2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteComputeEnvironment": {
            "http": {
                "requestUri": "/v1/deletecomputeenvironment"
            },
            "input": {
                "type": "structure",
                "required": [
                    "computeEnvironment"
                ],
                "members": {
                    "computeEnvironment": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSY2W43VUVI7IAQFEEYBRF4FU4BHKFLJGBENEDOCMEA4346RNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSB5OP7W56B4LKCGODJCCPKCMOAUHU22WMWEWPQ5NC42XEN2HXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRPUA7YTMOLND4VHAC5QDHUYB5JYWONOQJ2UK452BPZJXECJHTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJDXPDB5MCGYMTLCPGRSW6AQUNKY4IEXU5W3MBNOAMAMJX32HQJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AVSSEH35OJU6NGDS3NOW4PGOUVUQIYJZIKKZD7M66LEVS4UJD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL5YVNMBTU4ZAJO5DWACQZ4AG7WCGEOUUEGE3ATT6A7HSZPJ4I2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteJobQueue": {
            "http": {
                "requestUri": "/v1/deletejobqueue"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobQueue"
                ],
                "members": {
                    "jobQueue": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSY2W43VUVI7IAQFEEYBRF4FU4BHKFLJGBENEDOCMEA4346RNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSB5OP7W56B4LKCGODJCCPKCMOAUHU22WMWEWPQ5NC42XEN2HXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRPUA7YTMOLND4VHAC5QDHUYB5JYWONOQJ2UK452BPZJXECJHTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJDXPDB5MCGYMTLCPGRSW6AQUNKY4IEXU5W3MBNOAMAMJX32HQJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AVSSEH35OJU6NGDS3NOW4PGOUVUQIYJZIKKZD7M66LEVS4UJD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL5YVNMBTU4ZAJO5DWACQZ4AG7WCGEOUUEGE3ATT6A7HSZPJ4I2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteSchedulingPolicy": {
            "http": {
                "requestUri": "/v1/deleteschedulingpolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/44PM7PW77YZMBEN62R74RDHBV3OMTIVEII6BMEG4BWUJ33GW5MYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDNMYKAJJBBCQJFIHWBN5RGE4ESZ6IO62OQ23W5VPUWMIBUHIVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRNYDZZ4PFHEWWCWGC3UNN5AAXRQGT5RMSLHUE3CEDIJCRWETP5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLVGAOI66Q5YYDGCAINAU5BNRYFVQPK3RC6C4NMS2QPQ3ZIRSXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVGGK2LOLMVTTRHDQPU54OFENXOES3XOT5K4WFGTVIR2GVOLITPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2C7I3N5MYGVNHRPMUWH642J7TU6LV3YDG6VWQR4KYZQUGCIJ3RQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FUYGB327CNS52EEJJAMP2JNNW7ZYN4JRDCJRFSHQBH47KSNSQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATKAUK3KKEL7RYIQPAI3HJ6KGUC3N47IBMGDCFYCX33RLEBQ3R7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJKFXPIBYBD272V3QR6VMUZONFQ5FZVISEGGXJVVJFVJLZEQJTNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSY2W43VUVI7IAQFEEYBRF4FU4BHKFLJGBENEDOCMEA4346RNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSB5OP7W56B4LKCGODJCCPKCMOAUHU22WMWEWPQ5NC42XEN2HXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRPUA7YTMOLND4VHAC5QDHUYB5JYWONOQJ2UK452BPZJXECJHTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJDXPDB5MCGYMTLCPGRSW6AQUNKY4IEXU5W3MBNOAMAMJX32HQJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AVSSEH35OJU6NGDS3NOW4PGOUVUQIYJZIKKZD7M66LEVS4UJD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL5YVNMBTU4ZAJO5DWACQZ4AG7WCGEOUUEGE3ATT6A7HSZPJ4I2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeregisterJobDefinition": {
            "http": {
                "requestUri": "/v1/deregisterjobdefinition"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobDefinition"
                ],
                "members": {
                    "jobDefinition": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSY2W43VUVI7IAQFEEYBRF4FU4BHKFLJGBENEDOCMEA4346RNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSB5OP7W56B4LKCGODJCCPKCMOAUHU22WMWEWPQ5NC42XEN2HXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRPUA7YTMOLND4VHAC5QDHUYB5JYWONOQJ2UK452BPZJXECJHTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJDXPDB5MCGYMTLCPGRSW6AQUNKY4IEXU5W3MBNOAMAMJX32HQJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AVSSEH35OJU6NGDS3NOW4PGOUVUQIYJZIKKZD7M66LEVS4UJD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL5YVNMBTU4ZAJO5DWACQZ4AG7WCGEOUUEGE3ATT6A7HSZPJ4I2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeComputeEnvironments": {
            "http": {
                "requestUri": "/v1/describecomputeenvironments"
            },
            "input": {
                "type": "structure",
                "members": {
                    "computeEnvironments": {
                        "shape": "Sb"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "computeEnvironments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "computeEnvironmentName",
                                "computeEnvironmentArn"
                            ],
                            "members": {
                                "computeEnvironmentName": {},
                                "computeEnvironmentArn": {},
                                "unmanagedvCpus": {
                                    "type": "integer"
                                },
                                "ecsClusterArn": {},
                                "tags": {
                                    "shape": "Sj"
                                },
                                "type": {},
                                "state": {},
                                "status": {},
                                "statusReason": {},
                                "computeResources": {
                                    "shape": "S8"
                                },
                                "serviceRole": {},
                                "updatePolicy": {
                                    "shape": "S1c"
                                },
                                "eksConfiguration": {
                                    "shape": "Sm"
                                },
                                "containerOrchestrationType": {},
                                "uuid": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSY2W43VUVI7IAQFEEYBRF4FU4BHKFLJGBENEDOCMEA4346RNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSB5OP7W56B4LKCGODJCCPKCMOAUHU22WMWEWPQ5NC42XEN2HXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRPUA7YTMOLND4VHAC5QDHUYB5JYWONOQJ2UK452BPZJXECJHTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJDXPDB5MCGYMTLCPGRSW6AQUNKY4IEXU5W3MBNOAMAMJX32HQJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AVSSEH35OJU6NGDS3NOW4PGOUVUQIYJZIKKZD7M66LEVS4UJD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL5YVNMBTU4ZAJO5DWACQZ4AG7WCGEOUUEGE3ATT6A7HSZPJ4I2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeJobDefinitions": {
            "http": {
                "requestUri": "/v1/describejobdefinitions"
            },
            "input": {
                "type": "structure",
                "members": {
                    "jobDefinitions": {
                        "shape": "Sb"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "jobDefinitionName": {},
                    "status": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobDefinitions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobDefinitionName",
                                "jobDefinitionArn",
                                "revision",
                                "type"
                            ],
                            "members": {
                                "jobDefinitionName": {},
                                "jobDefinitionArn": {},
                                "revision": {
                                    "type": "integer"
                                },
                                "status": {},
                                "type": {},
                                "schedulingPriority": {
                                    "type": "integer"
                                },
                                "parameters": {
                                    "shape": "S1k"
                                },
                                "retryStrategy": {
                                    "shape": "S1l"
                                },
                                "containerProperties": {
                                    "shape": "S1p"
                                },
                                "timeout": {
                                    "shape": "S2l"
                                },
                                "nodeProperties": {
                                    "shape": "S2m"
                                },
                                "tags": {
                                    "shape": "Sj"
                                },
                                "propagateTags": {
                                    "type": "boolean"
                                },
                                "platformCapabilities": {
                                    "shape": "S2p"
                                },
                                "eksProperties": {
                                    "shape": "S2r"
                                },
                                "containerOrchestrationType": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSY2W43VUVI7IAQFEEYBRF4FU4BHKFLJGBENEDOCMEA4346RNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSB5OP7W56B4LKCGODJCCPKCMOAUHU22WMWEWPQ5NC42XEN2HXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRPUA7YTMOLND4VHAC5QDHUYB5JYWONOQJ2UK452BPZJXECJHTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJDXPDB5MCGYMTLCPGRSW6AQUNKY4IEXU5W3MBNOAMAMJX32HQJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AVSSEH35OJU6NGDS3NOW4PGOUVUQIYJZIKKZD7M66LEVS4UJD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL5YVNMBTU4ZAJO5DWACQZ4AG7WCGEOUUEGE3ATT6A7HSZPJ4I2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeJobQueues": {
            "http": {
                "requestUri": "/v1/describejobqueues"
            },
            "input": {
                "type": "structure",
                "members": {
                    "jobQueues": {
                        "shape": "Sb"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobQueues": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobQueueName",
                                "jobQueueArn",
                                "state",
                                "priority",
                                "computeEnvironmentOrder"
                            ],
                            "members": {
                                "jobQueueName": {},
                                "jobQueueArn": {},
                                "state": {},
                                "schedulingPolicyArn": {},
                                "status": {},
                                "statusReason": {},
                                "priority": {
                                    "type": "integer"
                                },
                                "computeEnvironmentOrder": {
                                    "shape": "Sq"
                                },
                                "tags": {
                                    "shape": "Sj"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSY2W43VUVI7IAQFEEYBRF4FU4BHKFLJGBENEDOCMEA4346RNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSB5OP7W56B4LKCGODJCCPKCMOAUHU22WMWEWPQ5NC42XEN2HXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRPUA7YTMOLND4VHAC5QDHUYB5JYWONOQJ2UK452BPZJXECJHTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJDXPDB5MCGYMTLCPGRSW6AQUNKY4IEXU5W3MBNOAMAMJX32HQJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AVSSEH35OJU6NGDS3NOW4PGOUVUQIYJZIKKZD7M66LEVS4UJD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL5YVNMBTU4ZAJO5DWACQZ4AG7WCGEOUUEGE3ATT6A7HSZPJ4I2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeJobs": {
            "http": {
                "requestUri": "/v1/describejobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobs"
                ],
                "members": {
                    "jobs": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobName",
                                "jobId",
                                "jobQueue",
                                "status",
                                "startedAt",
                                "jobDefinition"
                            ],
                            "members": {
                                "jobArn": {},
                                "jobName": {},
                                "jobId": {},
                                "jobQueue": {},
                                "status": {},
                                "shareIdentifier": {},
                                "schedulingPriority": {
                                    "type": "integer"
                                },
                                "attempts": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "container": {
                                                "type": "structure",
                                                "members": {
                                                    "containerInstanceArn": {},
                                                    "taskArn": {},
                                                    "exitCode": {
                                                        "type": "integer"
                                                    },
                                                    "reason": {},
                                                    "logStreamName": {},
                                                    "networkInterfaces": {
                                                        "shape": "S3n"
                                                    }
                                                }
                                            },
                                            "startedAt": {
                                                "type": "long"
                                            },
                                            "stoppedAt": {
                                                "type": "long"
                                            },
                                            "statusReason": {}
                                        }
                                    }
                                },
                                "statusReason": {},
                                "createdAt": {
                                    "type": "long"
                                },
                                "retryStrategy": {
                                    "shape": "S1l"
                                },
                                "startedAt": {
                                    "type": "long"
                                },
                                "stoppedAt": {
                                    "type": "long"
                                },
                                "dependsOn": {
                                    "shape": "S3p"
                                },
                                "jobDefinition": {},
                                "parameters": {
                                    "shape": "S1k"
                                },
                                "container": {
                                    "type": "structure",
                                    "members": {
                                        "image": {},
                                        "vcpus": {
                                            "type": "integer"
                                        },
                                        "memory": {
                                            "type": "integer"
                                        },
                                        "command": {
                                            "shape": "Sb"
                                        },
                                        "jobRoleArn": {},
                                        "executionRoleArn": {},
                                        "volumes": {
                                            "shape": "S1q"
                                        },
                                        "environment": {
                                            "shape": "S1x"
                                        },
                                        "mountPoints": {
                                            "shape": "S1z"
                                        },
                                        "readonlyRootFilesystem": {
                                            "type": "boolean"
                                        },
                                        "ulimits": {
                                            "shape": "S21"
                                        },
                                        "privileged": {
                                            "type": "boolean"
                                        },
                                        "user": {},
                                        "exitCode": {
                                            "type": "integer"
                                        },
                                        "reason": {},
                                        "containerInstanceArn": {},
                                        "taskArn": {},
                                        "logStreamName": {},
                                        "instanceType": {},
                                        "networkInterfaces": {
                                            "shape": "S3n"
                                        },
                                        "resourceRequirements": {
                                            "shape": "S23"
                                        },
                                        "linuxParameters": {
                                            "shape": "S26"
                                        },
                                        "logConfiguration": {
                                            "shape": "S2d"
                                        },
                                        "secrets": {
                                            "shape": "S2g"
                                        },
                                        "networkConfiguration": {
                                            "shape": "S2i"
                                        },
                                        "fargatePlatformConfiguration": {
                                            "shape": "S2k"
                                        }
                                    }
                                },
                                "nodeDetails": {
                                    "type": "structure",
                                    "members": {
                                        "nodeIndex": {
                                            "type": "integer"
                                        },
                                        "isMainNode": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "nodeProperties": {
                                    "shape": "S2m"
                                },
                                "arrayProperties": {
                                    "type": "structure",
                                    "members": {
                                        "statusSummary": {
                                            "type": "map",
                                            "key": {},
                                            "value": {
                                                "type": "integer"
                                            }
                                        },
                                        "size": {
                                            "type": "integer"
                                        },
                                        "index": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "timeout": {
                                    "shape": "S2l"
                                },
                                "tags": {
                                    "shape": "Sj"
                                },
                                "propagateTags": {
                                    "type": "boolean"
                                },
                                "platformCapabilities": {
                                    "shape": "S2p"
                                },
                                "eksProperties": {
                                    "type": "structure",
                                    "members": {
                                        "podProperties": {
                                            "type": "structure",
                                            "members": {
                                                "serviceAccountName": {},
                                                "hostNetwork": {
                                                    "type": "boolean"
                                                },
                                                "dnsPolicy": {},
                                                "containers": {
                                                    "type": "list",
                                                    "member": {
                                                        "type": "structure",
                                                        "members": {
                                                            "name": {},
                                                            "image": {},
                                                            "imagePullPolicy": {},
                                                            "command": {
                                                                "shape": "Sb"
                                                            },
                                                            "args": {
                                                                "shape": "Sb"
                                                            },
                                                            "env": {
                                                                "shape": "S2v"
                                                            },
                                                            "resources": {
                                                                "shape": "S2x"
                                                            },
                                                            "exitCode": {
                                                                "type": "integer"
                                                            },
                                                            "reason": {},
                                                            "volumeMounts": {
                                                                "shape": "S31"
                                                            },
                                                            "securityContext": {
                                                                "shape": "S33"
                                                            }
                                                        }
                                                    }
                                                },
                                                "volumes": {
                                                    "shape": "S35"
                                                },
                                                "podName": {},
                                                "nodeName": {}
                                            }
                                        }
                                    }
                                },
                                "eksAttempts": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "containers": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "exitCode": {
                                                            "type": "integer"
                                                        },
                                                        "reason": {}
                                                    }
                                                }
                                            },
                                            "podName": {},
                                            "nodeName": {},
                                            "startedAt": {
                                                "type": "long"
                                            },
                                            "stoppedAt": {
                                                "type": "long"
                                            },
                                            "statusReason": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSY2W43VUVI7IAQFEEYBRF4FU4BHKFLJGBENEDOCMEA4346RNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSB5OP7W56B4LKCGODJCCPKCMOAUHU22WMWEWPQ5NC42XEN2HXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRPUA7YTMOLND4VHAC5QDHUYB5JYWONOQJ2UK452BPZJXECJHTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJDXPDB5MCGYMTLCPGRSW6AQUNKY4IEXU5W3MBNOAMAMJX32HQJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AVSSEH35OJU6NGDS3NOW4PGOUVUQIYJZIKKZD7M66LEVS4UJD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL5YVNMBTU4ZAJO5DWACQZ4AG7WCGEOUUEGE3ATT6A7HSZPJ4I2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeSchedulingPolicies": {
            "http": {
                "requestUri": "/v1/describeschedulingpolicies"
            },
            "input": {
                "type": "structure",
                "required": [
                    "arns"
                ],
                "members": {
                    "arns": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "schedulingPolicies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "arn"
                            ],
                            "members": {
                                "name": {},
                                "arn": {},
                                "fairsharePolicy": {
                                    "shape": "Su"
                                },
                                "tags": {
                                    "shape": "Sj"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/44PM7PW77YZMBEN62R74RDHBV3OMTIVEII6BMEG4BWUJ33GW5MYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDNMYKAJJBBCQJFIHWBN5RGE4ESZ6IO62OQ23W5VPUWMIBUHIVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRNYDZZ4PFHEWWCWGC3UNN5AAXRQGT5RMSLHUE3CEDIJCRWETP5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLVGAOI66Q5YYDGCAINAU5BNRYFVQPK3RC6C4NMS2QPQ3ZIRSXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVGGK2LOLMVTTRHDQPU54OFENXOES3XOT5K4WFGTVIR2GVOLITPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2C7I3N5MYGVNHRPMUWH642J7TU6LV3YDG6VWQR4KYZQUGCIJ3RQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FUYGB327CNS52EEJJAMP2JNNW7ZYN4JRDCJRFSHQBH47KSNSQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATKAUK3KKEL7RYIQPAI3HJ6KGUC3N47IBMGDCFYCX33RLEBQ3R7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJKFXPIBYBD272V3QR6VMUZONFQ5FZVISEGGXJVVJFVJLZEQJTNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSY2W43VUVI7IAQFEEYBRF4FU4BHKFLJGBENEDOCMEA4346RNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSB5OP7W56B4LKCGODJCCPKCMOAUHU22WMWEWPQ5NC42XEN2HXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRPUA7YTMOLND4VHAC5QDHUYB5JYWONOQJ2UK452BPZJXECJHTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJDXPDB5MCGYMTLCPGRSW6AQUNKY4IEXU5W3MBNOAMAMJX32HQJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AVSSEH35OJU6NGDS3NOW4PGOUVUQIYJZIKKZD7M66LEVS4UJD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL5YVNMBTU4ZAJO5DWACQZ4AG7WCGEOUUEGE3ATT6A7HSZPJ4I2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListJobs": {
            "http": {
                "requestUri": "/v1/listjobs"
            },
            "input": {
                "type": "structure",
                "members": {
                    "jobQueue": {},
                    "arrayJobId": {},
                    "multiNodeJobId": {},
                    "jobStatus": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "shape": "Sb"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobSummaryList"
                ],
                "members": {
                    "jobSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobId",
                                "jobName"
                            ],
                            "members": {
                                "jobArn": {},
                                "jobId": {},
                                "jobName": {},
                                "createdAt": {
                                    "type": "long"
                                },
                                "status": {},
                                "statusReason": {},
                                "startedAt": {
                                    "type": "long"
                                },
                                "stoppedAt": {
                                    "type": "long"
                                },
                                "container": {
                                    "type": "structure",
                                    "members": {
                                        "exitCode": {
                                            "type": "integer"
                                        },
                                        "reason": {}
                                    }
                                },
                                "arrayProperties": {
                                    "type": "structure",
                                    "members": {
                                        "size": {
                                            "type": "integer"
                                        },
                                        "index": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "nodeProperties": {
                                    "type": "structure",
                                    "members": {
                                        "isMainNode": {
                                            "type": "boolean"
                                        },
                                        "numNodes": {
                                            "type": "integer"
                                        },
                                        "nodeIndex": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "jobDefinition": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSY2W43VUVI7IAQFEEYBRF4FU4BHKFLJGBENEDOCMEA4346RNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSB5OP7W56B4LKCGODJCCPKCMOAUHU22WMWEWPQ5NC42XEN2HXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRPUA7YTMOLND4VHAC5QDHUYB5JYWONOQJ2UK452BPZJXECJHTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJDXPDB5MCGYMTLCPGRSW6AQUNKY4IEXU5W3MBNOAMAMJX32HQJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AVSSEH35OJU6NGDS3NOW4PGOUVUQIYJZIKKZD7M66LEVS4UJD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL5YVNMBTU4ZAJO5DWACQZ4AG7WCGEOUUEGE3ATT6A7HSZPJ4I2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListSchedulingPolicies": {
            "http": {
                "requestUri": "/v1/listschedulingpolicies"
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "schedulingPolicies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn"
                            ],
                            "members": {
                                "arn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/44PM7PW77YZMBEN62R74RDHBV3OMTIVEII6BMEG4BWUJ33GW5MYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDNMYKAJJBBCQJFIHWBN5RGE4ESZ6IO62OQ23W5VPUWMIBUHIVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRNYDZZ4PFHEWWCWGC3UNN5AAXRQGT5RMSLHUE3CEDIJCRWETP5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLVGAOI66Q5YYDGCAINAU5BNRYFVQPK3RC6C4NMS2QPQ3ZIRSXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVGGK2LOLMVTTRHDQPU54OFENXOES3XOT5K4WFGTVIR2GVOLITPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2C7I3N5MYGVNHRPMUWH642J7TU6LV3YDG6VWQR4KYZQUGCIJ3RQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FUYGB327CNS52EEJJAMP2JNNW7ZYN4JRDCJRFSHQBH47KSNSQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATKAUK3KKEL7RYIQPAI3HJ6KGUC3N47IBMGDCFYCX33RLEBQ3R7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJKFXPIBYBD272V3QR6VMUZONFQ5FZVISEGGXJVVJFVJLZEQJTNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSY2W43VUVI7IAQFEEYBRF4FU4BHKFLJGBENEDOCMEA4346RNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSB5OP7W56B4LKCGODJCCPKCMOAUHU22WMWEWPQ5NC42XEN2HXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRPUA7YTMOLND4VHAC5QDHUYB5JYWONOQJ2UK452BPZJXECJHTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJDXPDB5MCGYMTLCPGRSW6AQUNKY4IEXU5W3MBNOAMAMJX32HQJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AVSSEH35OJU6NGDS3NOW4PGOUVUQIYJZIKKZD7M66LEVS4UJD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL5YVNMBTU4ZAJO5DWACQZ4AG7WCGEOUUEGE3ATT6A7HSZPJ4I2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSY2W43VUVI7IAQFEEYBRF4FU4BHKFLJGBENEDOCMEA4346RNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSB5OP7W56B4LKCGODJCCPKCMOAUHU22WMWEWPQ5NC42XEN2HXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRPUA7YTMOLND4VHAC5QDHUYB5JYWONOQJ2UK452BPZJXECJHTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJDXPDB5MCGYMTLCPGRSW6AQUNKY4IEXU5W3MBNOAMAMJX32HQJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AVSSEH35OJU6NGDS3NOW4PGOUVUQIYJZIKKZD7M66LEVS4UJD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL5YVNMBTU4ZAJO5DWACQZ4AG7WCGEOUUEGE3ATT6A7HSZPJ4I2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "RegisterJobDefinition": {
            "http": {
                "requestUri": "/v1/registerjobdefinition"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobDefinitionName",
                    "type"
                ],
                "members": {
                    "jobDefinitionName": {},
                    "type": {},
                    "parameters": {
                        "shape": "S1k"
                    },
                    "schedulingPriority": {
                        "type": "integer"
                    },
                    "containerProperties": {
                        "shape": "S1p"
                    },
                    "nodeProperties": {
                        "shape": "S2m"
                    },
                    "retryStrategy": {
                        "shape": "S1l"
                    },
                    "propagateTags": {
                        "type": "boolean"
                    },
                    "timeout": {
                        "shape": "S2l"
                    },
                    "tags": {
                        "shape": "Sj"
                    },
                    "platformCapabilities": {
                        "shape": "S2p"
                    },
                    "eksProperties": {
                        "shape": "S2r"
                    },
                    "ecsProperties": {
                        "shape": "S3a",
                        "internalonly": true
                    },
                    "consumableResourceProperties": {
                        "shape": "S4k",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobDefinitionName",
                    "jobDefinitionArn",
                    "revision"
                ],
                "members": {
                    "jobDefinitionName": {},
                    "jobDefinitionArn": {},
                    "revision": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSY2W43VUVI7IAQFEEYBRF4FU4BHKFLJGBENEDOCMEA4346RNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSB5OP7W56B4LKCGODJCCPKCMOAUHU22WMWEWPQ5NC42XEN2HXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRPUA7YTMOLND4VHAC5QDHUYB5JYWONOQJ2UK452BPZJXECJHTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJDXPDB5MCGYMTLCPGRSW6AQUNKY4IEXU5W3MBNOAMAMJX32HQJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AVSSEH35OJU6NGDS3NOW4PGOUVUQIYJZIKKZD7M66LEVS4UJD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL5YVNMBTU4ZAJO5DWACQZ4AG7WCGEOUUEGE3ATT6A7HSZPJ4I2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "SubmitJob": {
            "http": {
                "requestUri": "/v1/submitjob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobName",
                    "jobQueue",
                    "jobDefinition"
                ],
                "members": {
                    "jobName": {},
                    "jobQueue": {},
                    "shareIdentifier": {},
                    "schedulingPriorityOverride": {
                        "type": "integer"
                    },
                    "arrayProperties": {
                        "type": "structure",
                        "members": {
                            "size": {
                                "type": "integer"
                            }
                        }
                    },
                    "dependsOn": {
                        "shape": "S3p"
                    },
                    "jobDefinition": {},
                    "parameters": {
                        "shape": "S1k"
                    },
                    "containerOverrides": {
                        "shape": "S4s"
                    },
                    "nodeOverrides": {
                        "type": "structure",
                        "members": {
                            "numNodes": {
                                "type": "integer"
                            },
                            "nodePropertyOverrides": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "targetNodes"
                                    ],
                                    "members": {
                                        "targetNodes": {},
                                        "containerOverrides": {
                                            "shape": "S4s"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "retryStrategy": {
                        "shape": "S1l"
                    },
                    "propagateTags": {
                        "type": "boolean"
                    },
                    "timeout": {
                        "shape": "S2l"
                    },
                    "tags": {
                        "shape": "Sj"
                    },
                    "eksPropertiesOverride": {
                        "type": "structure",
                        "members": {
                            "podProperties": {
                                "type": "structure",
                                "members": {
                                    "containers": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "image": {},
                                                "command": {
                                                    "shape": "Sb"
                                                },
                                                "args": {
                                                    "shape": "Sb"
                                                },
                                                "env": {
                                                    "shape": "S2v"
                                                },
                                                "resources": {
                                                    "shape": "S2x"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "ecsPropertiesOverride": {
                        "internalonly": true,
                        "type": "structure",
                        "members": {
                            "taskProperties": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "containers": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "command": {
                                                        "shape": "Sb"
                                                    },
                                                    "environment": {
                                                        "shape": "S2c"
                                                    },
                                                    "resourceRequirements": {
                                                        "shape": "S2i"
                                                    },
                                                    "originator": {
                                                        "shape": "S6o",
                                                        "internalonly": true
[...]
