{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-04-20",
        "endpointPrefix": "bedrock",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Bedrock",
        "serviceId": "bedrock",
        "signatureVersion": "v4",
        "signingName": "bedrock",
        "uid": "bedrock-2023-04-20",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LUHXCIOB7SFTQ2TIGBQ63KAPPWCYMFA4TYZUGYB2L6Y5TVV352PA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js"
        ]
    },
    "operations": {
        "AcceptAcknowledgement": {
            "http": {
                "requestUri": "/accept-acknowledgement",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "acknowledgementType",
                    "acknowledgementFormVersion",
                    "formData"
                ],
                "members": {
                    "acknowledgementType": {},
                    "acknowledgementFormVersion": {
                        "type": "integer"
                    },
                    "formData": {
                        "type": "structure",
                        "required": [
                            "formData"
                        ],
                        "members": {
                            "formData": {
                                "type": "blob"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js"
            ]
        },
        "CreateFineTuningJob": {
            "http": {
                "requestUri": "/fine-tuning-jobs",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobName",
                    "customModelName",
                    "roleArn",
                    "baseModelIdentifier",
                    "trainingDataConfig",
                    "outputDataConfig"
                ],
                "members": {
                    "jobName": {},
                    "customModelName": {},
                    "roleArn": {},
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "baseModelIdentifier": {},
                    "hyperParameters": {
                        "shape": "Sd"
                    },
                    "trainingDataConfig": {
                        "shape": "Sj"
                    },
                    "validationDataConfig": {
                        "shape": "Sl"
                    },
                    "outputDataConfig": {
                        "shape": "Sp"
                    },
                    "jobTags": {
                        "shape": "Sq"
                    },
                    "customModelTags": {
                        "shape": "Sq"
                    },
                    "customizationType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobArn"
                ],
                "members": {
                    "jobArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js"
            ]
        },
        "DeleteCustomModel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/custom-models/{modelIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "modelIdentifier"
                ],
                "members": {
                    "modelIdentifier": {
                        "location": "uri",
                        "locationName": "modelIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js"
            ]
        },
        "DeletePrompt": {
            "http": {
                "method": "DELETE",
                "requestUri": "/playgrounds/prompts/{promptId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "promptId"
                ],
                "members": {
                    "promptId": {
                        "location": "uri",
                        "locationName": "promptId"
                    },
                    "playgroundId": {
                        "location": "querystring",
                        "locationName": "httpQuery"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js"
            ]
        },
        "GenerateText": {
            "http": {
                "requestUri": "/generateText",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "inputText",
                    "modelIdentifier"
                ],
                "members": {
                    "inputText": {
                        "shape": "S13"
                    },
                    "textGenerationConfig": {
                        "shape": "S14"
                    },
                    "modelIdentifier": {},
                    "playgroundId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "results": {
                        "shape": "S1h"
                    },
                    "inputTextTokenCount": {
                        "type": "integer"
                    },
                    "promptId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js"
            ]
        },
        "GetCustomModel": {
            "http": {
                "method": "GET",
                "requestUri": "/custom-models/{modelIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "modelIdentifier"
                ],
                "members": {
                    "modelIdentifier": {
                        "location": "uri",
                        "locationName": "modelIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "modelArn",
                    "modelName",
                    "jobArn",
                    "baseModelArn",
                    "trainingDataConfig",
                    "outputDataConfig",
                    "creationTime"
                ],
                "members": {
                    "modelArn": {},
                    "modelName": {},
                    "jobName": {},
                    "jobArn": {},
                    "baseModelArn": {},
                    "hyperParameters": {
                        "shape": "Sd"
                    },
                    "trainingDataConfig": {
                        "shape": "Sj"
                    },
                    "validationDataConfig": {
                        "shape": "Sl"
                    },
                    "outputDataConfig": {
                        "shape": "Sp"
                    },
                    "trainingMetrics": {
                        "shape": "S1p"
                    },
                    "validationMetrics": {
                        "shape": "S1r"
                    },
                    "realTimeInferenceStatus": {},
                    "creationTime": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js"
            ]
        },
        "GetFineTuningJob": {
            "http": {
                "method": "GET",
                "requestUri": "/fine-tuning-jobs/{jobIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobIdentifier"
                ],
                "members": {
                    "jobIdentifier": {
                        "location": "uri",
                        "locationName": "jobIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobArn",
                    "jobName",
                    "roleArn",
                    "outputModelName",
                    "baseModelArn",
                    "baseModelName",
                    "trainingDataConfig",
                    "outputDataConfig",
                    "creationTime"
                ],
                "members": {
                    "jobArn": {},
                    "jobName": {},
                    "roleArn": {},
                    "outputModelName": {},
                    "outputModelArn": {},
                    "baseModelArn": {},
                    "baseModelName": {},
                    "trainingDataConfig": {
                        "shape": "Sj"
                    },
                    "validationDataConfig": {
                        "shape": "Sl"
                    },
                    "outputDataConfig": {
                        "shape": "Sp"
                    },
                    "hyperParameters": {
                        "shape": "Sd"
                    },
                    "clientRequestToken": {},
                    "trainingMetrics": {
                        "shape": "S1p"
                    },
                    "validationMetrics": {
                        "shape": "S1r"
                    },
                    "status": {},
                    "failureMessage": {},
                    "creationTime": {
                        "type": "long"
                    },
                    "lastModifiedTime": {
                        "type": "long"
                    },
                    "endTime": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js"
            ]
        },
        "GetModelPermission": {
            "http": {
                "method": "GET",
                "requestUri": "/model-permission/{modelIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "modelIdentifier"
                ],
                "members": {
                    "modelIdentifier": {
                        "location": "uri",
                        "locationName": "modelIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "modelId",
                    "hasModelPermission",
                    "acknowledgedFTU"
                ],
                "members": {
                    "modelId": {},
                    "hasModelPermission": {
                        "type": "boolean"
                    },
                    "acknowledgedFTU": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js"
            ]
        },
        "GetPrompt": {
            "http": {
                "method": "GET",
                "requestUri": "/playgrounds/prompts/{promptId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "promptId"
                ],
                "members": {
                    "promptId": {
                        "location": "uri",
                        "locationName": "promptId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "prompt"
                ],
                "members": {
                    "prompt": {
                        "shape": "S29"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js"
            ]
        },
        "GetTextEmbedding": {
            "http": {
                "requestUri": "/getTextEmbedding",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "inputText",
                    "modelIdentifier"
                ],
                "members": {
                    "inputText": {
                        "type": "string",
                        "sensitive": true
                    },
                    "modelIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "embedding": {
                        "type": "list",
                        "member": {
                            "type": "float",
                            "sensitive": true
                        }
                    },
                    "inputTextTokenCount": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js"
            ]
        },
        "GetUserFeedback": {
            "http": {
                "method": "GET",
                "requestUri": "/user-feedback/{playgroundId}/{promptId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "playgroundId",
                    "promptId"
                ],
                "members": {
                    "playgroundId": {
                        "location": "uri",
                        "locationName": "playgroundId"
                    },
                    "promptId": {
                        "location": "uri",
                        "locationName": "promptId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userFeedbackType"
                ],
                "members": {
                    "userFeedbackType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js"
            ]
        },
        "InvokeModel": {
            "http": {
                "requestUri": "/model/{modelId}/invoke",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "body",
                    "modelId"
                ],
                "members": {
                    "body": {
                        "shape": "S2e"
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "accept": {
                        "location": "header",
                        "locationName": "Accept"
                    },
                    "modelId": {
                        "location": "uri",
                        "locationName": "modelId"
                    },
                    "save": {
                        "location": "header",
                        "locationName": "X-Amzn-Bedrock-Save",
                        "type": "boolean"
                    }
                },
                "payload": "body"
            },
            "output": {
                "type": "structure",
                "required": [
                    "body"
                ],
                "members": {
                    "body": {
                        "shape": "S2e"
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "promptId": {
                        "location": "header",
                        "locationName": "X-Amzn-Bedrock-PromptId"
                    }
                },
                "payload": "body"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js"
            ]
        },
        "ListBuiltInModels": {
            "http": {
                "method": "GET",
                "requestUri": "/builtin-models",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "creationTimeBefore": {
                        "shape": "S2u",
                        "location": "querystring",
                        "locationName": "creationTimeBefore"
                    },
                    "creationTimeAfter": {
                        "shape": "S2u",
                        "location": "querystring",
                        "locationName": "creationTimeAfter"
                    },
                    "nameContains": {
                        "location": "querystring",
                        "locationName": "nameContains"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "modelSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "modelArn",
                                "modelName",
                                "creationTime",
                                "description"
                            ],
                            "members": {
                                "modelArn": {},
                                "modelName": {},
                                "creationTime": {
                                    "type": "long"
                                },
                                "description": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js"
            ]
        },
        "ListCustomModels": {
            "http": {
                "method": "GET",
                "requestUri": "/custom-models",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "creationTimeBefore": {
                        "shape": "S2u",
                        "location": "querystring",
                        "locationName": "creationTimeBefore"
                    },
                    "creationTimeAfter": {
                        "shape": "S2u",
                        "location": "querystring",
                        "locationName": "creationTimeAfter"
                    },
                    "nameContains": {
                        "location": "querystring",
                        "locationName": "nameContains"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "sortBy": {
                        "location": "querystring",
                        "locationName": "sortBy"
                    },
                    "sortOrder": {
                        "location": "querystring",
                        "locationName": "sortOrder"
                    },
                    "baseModelArnEquals": {
                        "location": "querystring",
                        "locationName": "baseModelArnEquals"
                    },
                    "foundationModelArnEquals": {
                        "location": "querystring",
                        "locationName": "foundationModelArnEquals"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "modelSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "modelArn",
                                "modelName",
                                "creationTime",
                                "baseModelArn",
                                "baseModelName"
                            ],
                            "members": {
                                "modelArn": {},
                                "modelName": {},
                                "creationTime": {
                                    "type": "long"
                                },
                                "baseModelArn": {},
                                "baseModelName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js"
            ]
        },
        "ListFineTuningJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/fine-tuning-jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "creationTimeAfter": {
                        "shape": "S2u",
                        "location": "querystring",
                        "locationName": "creationTimeAfter"
                    },
                    "creationTimeBefore": {
                        "shape": "S2u",
                        "location": "querystring",
                        "locationName": "creationTimeBefore"
                    },
                    "statusEquals": {
                        "location": "querystring",
                        "locationName": "statusEquals"
                    },
                    "nameContains": {
                        "location": "querystring",
                        "locationName": "nameContains"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "sortBy": {
                        "location": "querystring",
                        "locationName": "sortBy"
                    },
                    "sortOrder": {
                        "location": "querystring",
                        "locationName": "sortOrder"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "fineTuningJobSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobArn",
                                "baseModelArn",
                                "baseModelName",
                                "jobName",
                                "status",
                                "customModelName",
                                "lastModifiedTime",
                                "creationTime"
                            ],
                            "members": {
                                "jobArn": {},
                                "baseModelArn": {},
                                "baseModelName": {},
                                "jobName": {},
                                "status": {},
                                "customModelArn": {},
                                "customModelName": {},
                                "lastModifiedTime": {
                                    "type": "long"
                                },
                                "creationTime": {
                                    "type": "long"
                                },
                                "endTime": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js"
            ]
        },
        "ListFoundationModels": {
            "http": {
                "method": "GET",
                "requestUri": "/foundation-models",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "byProvider": {
                        "location": "querystring",
                        "locationName": "byProvider"
                    },
                    "byCustomizationType": {
                        "location": "querystring",
                        "locationName": "byCustomizationType"
                    },
                    "byInferenceType": {
                        "location": "querystring",
                        "locationName": "byInferenceType"
                    },
                    "byOutputModality": {
                        "location": "querystring",
                        "locationName": "byOutputModality"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "modelSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "modelArn",
                                "modelId"
                            ],
                            "members": {
                                "modelArn": {},
                                "modelId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js"
            ]
        },
        "ListPrompts": {
            "http": {
                "method": "GET",
                "requestUri": "/playgrounds/prompts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "playgroundId": {
                        "location": "querystring",
                        "locationName": "playgroundId"
                    },
                    "modality": {
                        "location": "querystring",
                        "locationName": "Modality"
                    },
                    "bookmarked": {
                        "location": "querystring",
                        "locationName": "bookmarked",
                        "type": "boolean"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "prompts": {
                        "type": "list",
                        "member": {
                            "shape": "S29"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js"
            ]
        },
        "SendUserFeedback": {
            "http": {
                "requestUri": "/user-feedback",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "promptId",
                    "playgroundId",
                    "modelId",
                    "feedback"
                ],
                "members": {
                    "promptId": {},
                    "playgroundId": {},
                    "modelId": {},
                    "feedback": {
                        "type": "structure",
                        "required": [
                            "feedbackType",
                            "metadata"
                        ],
                        "members": {
                            "feedbackType": {},
                            "metadata": {
                                "type": "structure",
                                "members": {
                                    "negativeFeedback": {
                                        "type": "structure",
                                        "members": {
                                            "idealResponse": {},
                                            "responseTraits": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "harmfulTraitReasons": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "positiveFeedback": {
                                        "type": "structure",
                                        "members": {
                                            "idealResponse": {}
                                        }
                                    }
                                },
                                "union": true
                            }
                        }
                    },
                    "prompt": {
                        "type": "structure",
                        "members": {
                            "promptId": {},
                            "inputText": {
                                "shape": "S13"
                            },
                            "textGenerationConfig": {
                                "shape": "S14"
                            },
                            "modelIdentifier": {},
                            "playgroundId": {},
                            "results": {
                                "shape": "S1h"
                            },
                            "inputTokenCount": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js"
            ]
        },
        "StopFineTuningJob": {
            "http": {
                "requestUri": "/fine-tuning-jobs/{jobIdentifier}/stop",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobIdentifier"
                ],
                "members": {
                    "jobIdentifier": {
                        "location": "uri",
                        "locationName": "jobIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js"
            ]
        },
        "UpdatePrompt": {
            "http": {
                "method": "PATCH",
                "requestUri": "/playgrounds/prompts/{promptId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "promptId",
                    "bookmarked"
                ],
                "members": {
                    "playgroundId": {},
                    "promptId": {
                        "location": "uri",
                        "locationName": "promptId"
                    },
                    "bookmarked": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "prompt": {
                        "shape": "S29"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js"
            ]
        },
        "CreateModelCustomizationJob": {
            "http": {
                "requestUri": "/model-customization-jobs",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobName",
                    "customModelName",
                    "roleArn",
                    "baseModelIdentifier",
                    "trainingDataConfig",
                    "outputDataConfig",
                    "hyperParameters"
                ],
                "members": {
                    "jobName": {},
                    "customModelName": {},
                    "roleArn": {},
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "baseModelIdentifier": {},
                    "customizationType": {},
                    "jobTags": {
                        "shape": "Sr"
                    },
                    "customModelTags": {
                        "shape": "Sr"
                    },
                    "trainingDataConfig": {
                        "shape": "Sk"
                    },
                    "validationDataConfig": {
                        "shape": "Sm"
                    },
                    "outputDataConfig": {
                        "shape": "Sq"
                    },
                    "hyperParameters": {
                        "shape": "Sy"
                    },
                    "customModelKmsKeyId": {},
                    "vpcConfig": {
                        "shape": "S11"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobArn"
                ],
                "members": {
                    "jobArn": {}
                }
            },
            "idempotent": true,
[...]
