{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-07-26",
        "endpointPrefix": "bedrock-agent-runtime",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Agents for Amazon Bedrock Runtime",
        "serviceId": "Bedrock Agent Runtime",
        "signatureVersion": "v4",
        "signingName": "bedrock",
        "uid": "bedrock-agent-runtime-2023-07-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "InvokeAgent": {
            "http": {
                "requestUri": "/agents/{agentId}/agentAliases/{agentAliasId}/sessions/{sessionId}/text",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentAliasId",
                    "sessionId",
                    "inputText"
                ],
                "members": {
                    "sessionState": {
                        "type": "structure",
                        "members": {
                            "sessionAttributes": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "promptSessionAttributes": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        }
                    },
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "agentAliasId": {
                        "location": "uri",
                        "locationName": "agentAliasId"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "endSession": {
                        "type": "boolean"
                    },
                    "enableTrace": {
                        "type": "boolean"
                    },
                    "inputText": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "completion",
                    "contentType",
                    "sessionId"
                ],
                "members": {
                    "completion": {
                        "type": "structure",
                        "members": {
                            "chunk": {
                                "type": "structure",
                                "members": {
                                    "bytes": {
                                        "type": "blob",
                                        "sensitive": true
                                    },
                                    "attribution": {
                                        "type": "structure",
                                        "members": {
                                            "citations": {
                                                "shape": "Sg"
                                            }
                                        }
                                    }
                                },
                                "event": true,
                                "sensitive": true
                            },
                            "trace": {
                                "type": "structure",
                                "members": {
                                    "agentId": {},
                                    "agentAliasId": {},
                                    "sessionId": {},
                                    "trace": {
                                        "type": "structure",
                                        "members": {
                                            "preProcessingTrace": {
                                                "type": "structure",
                                                "members": {
                                                    "modelInvocationInput": {
                                                        "shape": "Sw"
                                                    },
                                                    "modelInvocationOutput": {
                                                        "type": "structure",
                                                        "members": {
                                                            "traceId": {},
                                                            "parsedResponse": {
                                                                "type": "structure",
                                                                "members": {
                                                                    "rationale": {
                                                                        "shape": "S1a"
                                                                    },
                                                                    "isValid": {
                                                                        "type": "boolean"
                                                                    }
                                                                },
                                                                "sensitive": true
                                                            }
                                                        },
                                                        "sensitive": true
                                                    }
                                                },
                                                "sensitive": true,
                                                "union": true
                                            },
                                            "orchestrationTrace": {
                                                "type": "structure",
                                                "members": {
                                                    "rationale": {
                                                        "type": "structure",
                                                        "members": {
                                                            "traceId": {},
                                                            "text": {
                                                                "shape": "S1a"
                                                            }
                                                        },
                                                        "sensitive": true
                                                    },
                                                    "invocationInput": {
                                                        "type": "structure",
                                                        "members": {
                                                            "traceId": {},
                                                            "invocationType": {},
                                                            "actionGroupInvocationInput": {
                                                                "type": "structure",
                                                                "members": {
                                                                    "actionGroupName": {
                                                                        "type": "string",
                                                                        "sensitive": true
                                                                    },
                                                                    "verb": {
                                                                        "type": "string",
                                                                        "sensitive": true
                                                                    },
                                                                    "apiPath": {
                                                                        "type": "string",
                                                                        "sensitive": true
                                                                    },
                                                                    "parameters": {
                                                                        "shape": "S1j"
                                                                    },
                                                                    "requestBody": {
                                                                        "type": "structure",
                                                                        "members": {
                                                                            "content": {
                                                                                "type": "map",
                                                                                "key": {},
                                                                                "value": {
                                                                                    "shape": "S1j"
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "knowledgeBaseLookupInput": {
                                                                "type": "structure",
                                                                "members": {
                                                                    "text": {
                                                                        "type": "string",
                                                                        "sensitive": true
                                                                    },
                                                                    "knowledgeBaseId": {
                                                                        "type": "string",
                                                                        "sensitive": true
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "sensitive": true
                                                    },
                                                    "observation": {
                                                        "type": "structure",
                                                        "members": {
                                                            "traceId": {},
                                                            "type": {},
                                                            "actionGroupInvocationOutput": {
                                                                "type": "structure",
                                                                "members": {
                                                                    "text": {
                                                                        "type": "string",
                                                                        "sensitive": true
                                                                    }
                                                                }
                                                            },
                                                            "knowledgeBaseLookupOutput": {
                                                                "type": "structure",
                                                                "members": {
                                                                    "retrievedReferences": {
                                                                        "shape": "Sn"
                                                                    }
                                                                }
                                                            },
                                                            "finalResponse": {
                                                                "type": "structure",
                                                                "members": {
                                                                    "text": {
                                                                        "type": "string",
                                                                        "sensitive": true
                                                                    }
                                                                }
                                                            },
                                                            "repromptResponse": {
                                                                "type": "structure",
                                                                "members": {
                                                                    "text": {},
                                                                    "source": {
                                                                        "type": "string",
                                                                        "sensitive": true
                                                                    }
                                                                },
                                                                "sensitive": true
                                                            }
                                                        },
                                                        "sensitive": true
                                                    },
                                                    "modelInvocationInput": {
                                                        "shape": "Sw"
                                                    }
                                                },
                                                "sensitive": true,
                                                "union": true
                                            },
                                            "postProcessingTrace": {
                                                "type": "structure",
                                                "members": {
                                                    "modelInvocationInput": {
                                                        "shape": "Sw"
                                                    },
                                                    "modelInvocationOutput": {
                                                        "type": "structure",
                                                        "members": {
                                                            "traceId": {},
                                                            "parsedResponse": {
                                                                "type": "structure",
                                                                "members": {
                                                                    "text": {
                                                                        "type": "string",
                                                                        "sensitive": true
                                                                    }
                                                                },
                                                                "sensitive": true
                                                            }
                                                        },
                                                        "sensitive": true
                                                    }
                                                },
                                                "sensitive": true,
                                                "union": true
                                            },
                                            "failureTrace": {
                                                "type": "structure",
                                                "members": {
                                                    "traceId": {},
                                                    "failureReason": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    }
                                                },
                                                "sensitive": true
                                            }
                                        },
                                        "sensitive": true,
                                        "union": true
                                    }
                                },
                                "event": true,
                                "sensitive": true
                            },
                            "internalServerException": {
                                "type": "structure",
                                "members": {
                                    "message": {}
                                },
                                "error": {
                                    "httpStatusCode": 500
                                },
                                "exception": true,
                                "fault": true
                            },
                            "validationException": {
                                "type": "structure",
                                "members": {
                                    "message": {}
                                },
                                "error": {
                                    "httpStatusCode": 400,
                                    "senderFault": true
                                },
                                "exception": true
                            },
                            "resourceNotFoundException": {
                                "type": "structure",
                                "members": {
                                    "message": {}
                                },
                                "error": {
                                    "httpStatusCode": 404,
                                    "senderFault": true
                                },
                                "exception": true
                            },
                            "serviceQuotaExceededException": {
                                "type": "structure",
                                "members": {
                                    "message": {}
                                },
                                "error": {
                                    "httpStatusCode": 400,
                                    "senderFault": true
                                },
                                "exception": true
                            },
                            "throttlingException": {
                                "type": "structure",
                                "members": {
                                    "message": {}
                                },
                                "error": {
                                    "httpStatusCode": 429,
                                    "senderFault": true
                                },
                                "exception": true
                            },
                            "accessDeniedException": {
                                "type": "structure",
                                "members": {
                                    "message": {}
                                },
                                "error": {
                                    "httpStatusCode": 403,
                                    "senderFault": true
                                },
                                "exception": true
                            },
                            "conflictException": {
                                "type": "structure",
                                "members": {
                                    "message": {}
                                },
                                "error": {
                                    "httpStatusCode": 409,
                                    "senderFault": true
                                },
                                "exception": true
                            },
                            "dependencyFailedException": {
                                "type": "structure",
                                "members": {
                                    "message": {},
                                    "resourceName": {}
                                },
                                "error": {
                                    "httpStatusCode": 424,
                                    "senderFault": true
                                },
                                "exception": true
                            },
                            "badGatewayException": {
                                "type": "structure",
                                "members": {
                                    "message": {},
                                    "resourceName": {}
                                },
                                "error": {
                                    "httpStatusCode": 502
                                },
                                "exception": true,
                                "fault": true
                            }
                        },
                        "eventstream": true
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "x-amzn-bedrock-agent-content-type"
                    },
                    "sessionId": {
                        "location": "header",
                        "locationName": "x-amz-bedrock-agent-session-id"
                    }
                },
                "payload": "completion"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "Retrieve": {
            "http": {
                "requestUri": "/knowledgebases/{knowledgeBaseId}/retrieve",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "knowledgeBaseId",
                    "retrievalQuery"
                ],
                "members": {
                    "knowledgeBaseId": {
                        "location": "uri",
                        "locationName": "knowledgeBaseId"
                    },
                    "retrievalQuery": {
                        "type": "structure",
                        "required": [
                            "text"
                        ],
                        "members": {
                            "text": {}
                        },
                        "sensitive": true
                    },
                    "retrievalConfiguration": {
                        "type": "structure",
                        "required": [
                            "vectorSearchConfiguration"
                        ],
                        "members": {
                            "vectorSearchConfiguration": {
                                "type": "structure",
                                "required": [
                                    "numberOfResults"
                                ],
                                "members": {
                                    "numberOfResults": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "retrievalResults"
                ],
                "members": {
                    "retrievalResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "content"
                            ],
                            "members": {
                                "content": {
                                    "shape": "Sp"
                                },
                                "location": {
                                    "shape": "Sq"
                                },
                                "score": {
                                    "type": "double"
                                }
                            }
                        },
                        "sensitive": true
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "RetrieveAndGenerate": {
            "http": {
                "requestUri": "/retrieveAndGenerate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "input"
                ],
                "members": {
                    "sessionId": {},
                    "input": {
                        "type": "structure",
                        "required": [
                            "text"
                        ],
                        "members": {
                            "text": {}
                        },
                        "sensitive": true
                    },
                    "retrieveAndGenerateConfiguration": {
                        "type": "structure",
                        "required": [
                            "type"
                        ],
                        "members": {
                            "type": {},
                            "knowledgeBaseConfiguration": {
                                "type": "structure",
                                "required": [
                                    "knowledgeBaseId",
                                    "modelArn"
                                ],
                                "members": {
                                    "knowledgeBaseId": {},
                                    "modelArn": {}
                                }
                            }
                        }
                    },
                    "sessionConfiguration": {
                        "type": "structure",
                        "required": [
                            "kmsKeyArn"
                        ],
                        "members": {
                            "kmsKeyArn": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "output"
                ],
                "members": {
                    "sessionId": {},
                    "output": {
                        "type": "structure",
                        "required": [
                            "text"
                        ],
                        "members": {
                            "text": {}
                        },
                        "sensitive": true
                    },
                    "citations": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        }
    },
    "shapes": {
        "Sg": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "generatedResponsePart": {
                        "type": "structure",
                        "members": {
                            "textResponsePart": {
                                "type": "structure",
                                "members": {
                                    "text": {},
                                    "span": {
                                        "type": "structure",
                                        "members": {
                                            "start": {
                                                "type": "integer"
                                            },
                                            "end": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "retrievedReferences": {
                        "shape": "Sn"
                    }
                }
            }
        },
        "Sn": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "content": {
                        "shape": "Sp"
                    },
                    "location": {
                        "shape": "Sq"
                    }
                }
            }
        },
        "Sp": {
            "type": "structure",
            "required": [
                "text"
            ],
            "members": {
                "text": {}
            }
        },
        "Sq": {
            "type": "structure",
            "required": [
                "type"
            ],
            "members": {
                "type": {},
                "s3Location": {
                    "type": "structure",
                    "members": {
                        "uri": {}
                    }
                }
            }
        },
        "Sw": {
            "type": "structure",
            "members": {
                "traceId": {},
                "text": {
                    "type": "string",
                    "sensitive": true
                },
                "type": {},
                "inferenceConfiguration": {
                    "type": "structure",
                    "members": {
                        "temperature": {
                            "type": "float"
                        },
                        "topP": {
                            "type": "float"
                        },
                        "topK": {
                            "type": "integer"
                        },
                        "maximumLength": {
                            "type": "integer"
                        },
                        "stopSequences": {
                            "type": "list",
                            "member": {}
                        }
                    }
                },
                "overrideLambda": {},
                "promptCreationMode": {},
                "parserMode": {}
            },
            "sensitive": true
        },
        "S1a": {
            "type": "string",
            "sensitive": true
        },
        "S1j": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "name": {},
                    "type": {},
                    "value": {}
                }
            }
        },
        "Si": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "generatedResponsePart": {
                        "type": "structure",
                        "members": {
                            "textResponsePart": {
                                "type": "structure",
                                "members": {
                                    "span": {
                                        "type": "structure",
                                        "members": {
                                            "end": {
                                                "type": "integer"
                                            },
                                            "start": {
                                                "type": "integer"
                                            }
                                        }
                                    },
                                    "text": {}
                                },
                                "sensitive": true
                            }
                        }
                    },
                    "retrievedReferences": {
                        "shape": "Sp"
                    }
                }
            }
        },
        "Sr": {
            "type": "structure",
            "required": [
                "text"
            ],
            "members": {
                "text": {}
            },
            "sensitive": true
        },
        "Ss": {
            "type": "structure",
            "required": [
                "type"
            ],
            "members": {
                "s3Location": {
                    "type": "structure",
                    "members": {
                        "uri": {}
                    }
                },
                "type": {}
            },
            "sensitive": true
        },
        "S1c": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "name": {},
                    "type": {},
                    "value": {}
                }
            }
        },
        "S1l": {
            "type": "structure",
            "members": {
                "inferenceConfiguration": {
                    "type": "structure",
                    "members": {
                        "maximumLength": {
                            "type": "integer"
                        },
                        "stopSequences": {
                            "type": "list",
                            "member": {}
                        },
                        "temperature": {
                            "type": "float"
                        },
                        "topK": {
                            "type": "integer"
                        },
                        "topP": {
                            "type": "float"
                        }
                    }
                },
                "overrideLambda": {},
                "parserMode": {},
                "promptCreationMode": {},
                "text": {
                    "type": "string",
                    "sensitive": true
                },
                "traceId": {},
                "type": {}
            },
            "sensitive": true
        },
        "S26": {
            "type": "string",
            "sensitive": true
        },
        "S2j": {
            "type": "structure",
            "required": [
                "vectorSearchConfiguration"
            ],
            "members": {
                "vectorSearchConfiguration": {
                    "type": "structure",
                    "members": {
                        "numberOfResults": {
                            "type": "integer"
                        },
                        "overrideSearchType": {}
                    }
                }
            }
        },
        "Sv": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {},
                "document": true
            },
            "sensitive": true
        },
        "S1f": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "name": {},
                    "type": {},
                    "value": {}
                }
            }
        },
        "S1o": {
            "type": "structure",
            "members": {
                "inferenceConfiguration": {
                    "type": "structure",
                    "members": {
                        "maximumLength": {
                            "type": "integer"
                        },
                        "stopSequences": {
                            "type": "list",
                            "member": {}
                        },
                        "temperature": {
                            "type": "float"
                        },
                        "topK": {
                            "type": "integer"
                        },
                        "topP": {
                            "type": "float"
                        }
                    }
                },
                "overrideLambda": {},
                "parserMode": {},
                "promptCreationMode": {},
                "text": {
                    "type": "string",
                    "sensitive": true
                },
                "traceId": {},
                "type": {}
            },
            "sensitive": true
        },
        "S29": {
            "type": "string",
            "sensitive": true
        },
        "S2m": {
            "type": "structure",
            "required": [
                "vectorSearchConfiguration"
            ],
            "members": {
                "vectorSearchConfiguration": {
                    "type": "structure",
                    "members": {
                        "filter": {
                            "shape": "S2o"
                        },
                        "numberOfResults": {
                            "type": "integer"
                        },
                        "overrideSearchType": {}
                    }
                }
            }
        },
        "S2o": {
            "type": "structure",
            "members": {
                "andAll": {
                    "shape": "S2p"
                },
                "equals": {
                    "shape": "S2q"
                },
                "greaterThan": {
                    "shape": "S2q"
                },
                "greaterThanOrEquals": {
                    "shape": "S2q"
                },
                "in": {
                    "shape": "S2q"
                },
                "lessThan": {
                    "shape": "S2q"
                },
                "lessThanOrEquals": {
                    "shape": "S2q"
                },
                "notEquals": {
                    "shape": "S2q"
                },
                "notIn": {
                    "shape": "S2q"
                },
                "orAll": {
                    "shape": "S2p"
                },
                "startsWith": {
                    "shape": "S2q"
                }
            },
            "sensitive": true,
            "union": true
        },
        "S2p": {
            "type": "list",
            "member": {
                "shape": "S2o"
            }
        },
        "S2q": {
            "type": "structure",
            "required": [
                "key",
                "value"
            ],
            "members": {
                "key": {},
                "value": {
                    "type": "structure",
                    "members": {},
                    "document": true
                }
            }
        },
        "Sd": {
            "type": "string",
            "sensitive": true
        },
        "Sf": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "body": {}
                }
            }
        },
        "Sy": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "content": {
                        "shape": "S10"
                    },
                    "location": {
                        "shape": "S11"
                    },
                    "metadata": {
                        "shape": "S14"
                    }
                }
            }
        },
        "S10": {
            "type": "structure",
            "required": [
                "text"
            ],
            "members": {
                "text": {}
            },
            "sensitive": true
        },
        "S11": {
            "type": "structure",
            "required": [
                "type"
            ],
            "members": {
                "s3Location": {
                    "type": "structure",
                    "members": {
                        "uri": {}
                    }
                },
                "type": {}
            },
            "sensitive": true
        },
        "S14": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {},
                "document": true
            },
            "sensitive": true
        },
        "S1m": {
            "type": "structure",
            "members": {
                "name": {},
                "type": {},
                "value": {}
            }
        },
        "S20": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "contentPolicy": {
                        "type": "structure",
                        "members": {
                            "filters": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "action": {},
                                        "confidence": {},
                                        "type": {}
                                    },
                                    "sensitive": true
                                },
                                "sensitive": true
                            }
                        },
                        "sensitive": true
                    },
                    "sensitiveInformationPolicy": {
                        "type": "structure",
                        "members": {
                            "piiEntities": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "action": {},
                                        "match": {},
                                        "type": {}
                                    },
                                    "sensitive": true
                                },
                                "sensitive": true
                            },
                            "regexes": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "action": {},
                                        "match": {},
                                        "name": {},
                                        "regex": {}
                                    },
                                    "sensitive": true
                                },
                                "sensitive": true
                            }
                        },
                        "sensitive": true
                    },
                    "topicPolicy": {
                        "type": "structure",
                        "members": {
                            "topics": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "action": {},
                                        "name": {},
                                        "type": {}
                                    },
                                    "sensitive": true
                                },
                                "sensitive": true
                            }
                        },
                        "sensitive": true
                    },
                    "wordPolicy": {
                        "type": "structure",
                        "members": {
                            "customWords": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "action": {},
                                        "match": {}
                                    },
                                    "sensitive": true
                                },
                                "sensitive": true
                            },
                            "managedWordLists": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "action": {},
                                        "match": {},
                                        "type": {}
                                    },
                                    "sensitive": true
                                },
                                "sensitive": true
                            }
                        },
                        "sensitive": true
                    }
                },
                "sensitive": true
            }
        },
        "S2w": {
            "type": "list",
            "member": {
                "shape": "S1m"
            }
        },
        "S34": {
            "type": "structure",
            "members": {
                "inferenceConfiguration": {
                    "type": "structure",
                    "members": {
                        "maximumLength": {
                            "type": "integer"
                        },
                        "stopSequences": {
                            "type": "list",
                            "member": {}
                        },
                        "temperature": {
                            "type": "float"
                        },
                        "topK": {
                            "type": "integer"
                        },
                        "topP": {
                            "type": "float"
                        }
                    }
                },
                "overrideLambda": {},
                "parserMode": {},
                "promptCreationMode": {},
                "text": {
                    "type": "string",
                    "sensitive": true
                },
                "traceId": {},
                "type": {}
            },
            "sensitive": true
        },
        "S3p": {
            "type": "string",
            "sensitive": true
        },
        "S42": {
            "type": "structure",
            "required": [
                "vectorSearchConfiguration"
            ],
            "members": {
                "vectorSearchConfiguration": {
                    "type": "structure",
                    "members": {
                        "filter": {
                            "shape": "S44"
                        },
                        "numberOfResults": {
                            "type": "integer"
                        },
                        "overrideSearchType": {}
                    }
                }
            }
        },
        "S44": {
            "type": "structure",
            "members": {
                "andAll": {
                    "shape": "S45"
                },
                "equals": {
                    "shape": "S46"
                },
                "greaterThan": {
                    "shape": "S46"
                },
                "greaterThanOrEquals": {
                    "shape": "S46"
                },
                "in": {
                    "shape": "S46"
                },
                "lessThan": {
                    "shape": "S46"
                },
                "lessThanOrEquals": {
                    "shape": "S46"
                },
                "listContains": {
                    "shape": "S46"
                },
                "notEquals": {
                    "shape": "S46"
                },
                "notIn": {
                    "shape": "S46"
                },
                "orAll": {
                    "shape": "S45"
                },
                "startsWith": {
                    "shape": "S46"
                },
                "stringContains": {
                    "shape": "S46"
                }
            },
            "sensitive": true,
            "union": true
        },
        "S45": {
            "type": "list",
            "member": {
                "shape": "S44"
            }
        },
        "S46": {
            "type": "structure",
            "required": [
                "key",
                "value"
            ],
            "members": {
                "key": {},
                "value": {
                    "type": "structure",
                    "members": {},
                    "document": true
                }
            }
        },
        "S4n": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {},
                "document": true
            }
        },
        "S4q": {
            "type": "structure",
            "required": [
                "guardrailId",
                "guardrailVersion"
            ],
            "members": {
                "guardrailId": {},
                "guardrailVersion": {}
            }
        },
        "S4t": {
            "type": "structure",
            "members": {
                "textInferenceConfig": {
                    "type": "structure",
                    "members": {
                        "maxTokens": {
                            "type": "integer"
                        },
                        "stopSequences": {
                            "type": "list",
                            "member": {}
                        },
                        "temperature": {
                            "type": "float"
                        },
                        "topP": {
                            "type": "float"
                        }
                    }
                }
            }
        },
        "S4y": {
            "type": "structure",
            "members": {
                "textPromptTemplate": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S23": {
            "type": "list",
            "member": {
                "shape": "S1m"
            }
        },
        "S2b": {
            "type": "structure",
            "members": {
                "inferenceConfiguration": {
                    "type": "structure",
                    "members": {
                        "maximumLength": {
                            "type": "integer"
                        },
                        "stopSequences": {
                            "type": "list",
                            "member": {}
                        },
                        "temperature": {
                            "type": "float"
                        },
                        "topK": {
                            "type": "integer"
                        },
                        "topP": {
                            "type": "float"
                        }
                    }
                },
                "overrideLambda": {},
                "parserMode": {},
                "promptCreationMode": {},
                "text": {
                    "type": "string",
                    "sensitive": true
                },
                "traceId": {},
                "type": {}
            },
            "sensitive": true
        },
        "S39": {
            "type": "structure",
            "required": [
                "vectorSearchConfiguration"
            ],
            "members": {
                "vectorSearchConfiguration": {
                    "type": "structure",
                    "members": {
                        "filter": {
                            "shape": "S3b"
                        },
                        "numberOfResults": {
                            "type": "integer"
                        },
                        "overrideSearchType": {}
                    }
                }
            }
        },
        "S3b": {
            "type": "structure",
            "members": {
                "andAll": {
                    "shape": "S3c"
                },
                "equals": {
                    "shape": "S3d"
                },
                "greaterThan": {
                    "shape": "S3d"
                },
                "greaterThanOrEquals": {
                    "shape": "S3d"
                },
                "in": {
                    "shape": "S3d"
                },
                "lessThan": {
                    "shape": "S3d"
                },
                "lessThanOrEquals": {
                    "shape": "S3d"
                },
                "listContains": {
                    "shape": "S3d"
                },
                "notEquals": {
                    "shape": "S3d"
                },
                "notIn": {
                    "shape": "S3d"
                },
                "orAll": {
                    "shape": "S3c"
                },
                "startsWith": {
                    "shape": "S3d"
                },
                "stringContains": {
                    "shape": "S3d"
                }
            },
            "sensitive": true,
            "union": true
        },
        "S3c": {
            "type": "list",
            "member": {
                "shape": "S3b"
            }
        },
        "S3d": {
            "type": "structure",
            "required": [
                "key",
                "value"
            ],
            "members": {
                "key": {},
                "value": {
                    "type": "structure",
                    "members": {},
                    "document": true
                }
            }
        },
        "S3u": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {},
                "document": true
            }
        },
        "S3x": {
            "type": "structure",
            "required": [
                "guardrailId",
                "guardrailVersion"
            ],
            "members": {
                "guardrailId": {},
                "guardrailVersion": {}
            }
        },
        "S40": {
            "type": "structure",
            "members": {
                "textInferenceConfig": {
                    "type": "structure",
                    "members": {
                        "maxTokens": {
                            "type": "integer"
                        },
                        "stopSequences": {
                            "type": "list",
                            "member": {}
                        },
                        "temperature": {
                            "type": "float"
                        },
                        "topP": {
                            "type": "float"
                        }
                    }
                }
            }
        }
    }
}