{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-04-20",
        "endpointPrefix": "bedrock",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "Amazon Bedrock",
        "serviceId": "bedrock",
        "signatureVersion": "v4",
        "signingName": "bedrock",
        "targetPrefix": "AmazonBedrockFrontendService",
        "uid": "bedrock-2023-04-20",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/PNDL5OMC232C35LHWM3ZA5RWEGYNW652ZOZR7WWYTRLDXQAEI6LQ/vendors.js"
        ]
    },
    "operations": {
        "CreateFineTuningJob": {
            "input": {
                "type": "structure",
                "required": [
                    "jobName",
                    "customModelName",
                    "roleArn",
                    "baseModelIdentifier",
                    "trainingDataConfig",
                    "outputDataConfig"
                ],
                "members": {
                    "jobName": {},
                    "customModelName": {},
                    "roleArn": {},
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "baseModelIdentifier": {},
                    "hyperParameters": {
                        "shape": "S7"
                    },
                    "trainingDataConfig": {
                        "shape": "Sd"
                    },
                    "validationDataConfig": {
                        "shape": "Sf"
                    },
                    "outputDataConfig": {
                        "shape": "Sj"
                    },
                    "jobTags": {
                        "shape": "Sk"
                    },
                    "customModelTags": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobArn"
                ],
                "members": {
                    "jobArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDL5OMC232C35LHWM3ZA5RWEGYNW652ZOZR7WWYTRLDXQAEI6LQ/vendors.js"
            ]
        },
        "DeleteCustomModel": {
            "input": {
                "type": "structure",
                "required": [
                    "modelIdentifier"
                ],
                "members": {
                    "modelIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDL5OMC232C35LHWM3ZA5RWEGYNW652ZOZR7WWYTRLDXQAEI6LQ/vendors.js"
            ]
        },
        "DeletePrompt": {
            "input": {
                "type": "structure",
                "required": [
                    "playgroundId",
                    "promptId"
                ],
                "members": {
                    "playgroundId": {},
                    "promptId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDL5OMC232C35LHWM3ZA5RWEGYNW652ZOZR7WWYTRLDXQAEI6LQ/vendors.js"
            ]
        },
        "GenerateText": {
            "input": {
                "shape": "Sw"
            },
            "output": {
                "shape": "S1a"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDL5OMC232C35LHWM3ZA5RWEGYNW652ZOZR7WWYTRLDXQAEI6LQ/vendors.js"
            ]
        },
        "GetCustomModel": {
            "input": {
                "type": "structure",
                "required": [
                    "modelIdentifier"
                ],
                "members": {
                    "modelIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "modelArn",
                    "modelName",
                    "jobArn",
                    "baseModelArn",
                    "trainingDataConfig",
                    "outputDataConfig",
                    "creationTime"
                ],
                "members": {
                    "modelArn": {},
                    "modelName": {},
                    "jobName": {},
                    "jobArn": {},
                    "baseModelArn": {},
                    "hyperParameters": {
                        "shape": "S7"
                    },
                    "trainingDataConfig": {
                        "shape": "Sd"
                    },
                    "validationDataConfig": {
                        "shape": "Sf"
                    },
                    "outputDataConfig": {
                        "shape": "Sj"
                    },
                    "trainingMetrics": {
                        "shape": "S1j"
                    },
                    "validationMetrics": {
                        "shape": "S1l"
                    },
                    "realTimeInferenceStatus": {},
                    "creationTime": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDL5OMC232C35LHWM3ZA5RWEGYNW652ZOZR7WWYTRLDXQAEI6LQ/vendors.js"
            ]
        },
        "GetFineTuningJob": {
            "input": {
                "type": "structure",
                "required": [
                    "jobIdentifier"
                ],
                "members": {
                    "jobIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobArn",
                    "jobName",
                    "roleArn",
                    "outputModelName",
                    "baseModelArn",
                    "baseModelName",
                    "trainingDataConfig",
                    "outputDataConfig",
                    "creationTime"
                ],
                "members": {
                    "jobArn": {},
                    "jobName": {},
                    "roleArn": {},
                    "outputModelName": {},
                    "outputModelArn": {},
                    "baseModelArn": {},
                    "baseModelName": {},
                    "trainingDataConfig": {
                        "shape": "Sd"
                    },
                    "validationDataConfig": {
                        "shape": "Sf"
                    },
                    "outputDataConfig": {
                        "shape": "Sj"
                    },
                    "hyperParameters": {
                        "shape": "S7"
                    },
                    "clientRequestToken": {},
                    "trainingMetrics": {
                        "shape": "S1j"
                    },
                    "validationMetrics": {
                        "shape": "S1l"
                    },
                    "status": {},
                    "failureMessage": {},
                    "creationTime": {
                        "type": "long"
                    },
                    "lastModifiedTime": {
                        "type": "long"
                    },
                    "endTime": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDL5OMC232C35LHWM3ZA5RWEGYNW652ZOZR7WWYTRLDXQAEI6LQ/vendors.js"
            ]
        },
        "GetTextEmbedding": {
            "input": {
                "type": "structure",
                "required": [
                    "inputText",
                    "modelIdentifier"
                ],
                "members": {
                    "inputText": {
                        "type": "string",
                        "sensitive": true
                    },
                    "modelIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "embedding": {
                        "type": "list",
                        "member": {
                            "type": "float",
                            "sensitive": true
                        }
                    },
                    "inputTextTokenCount": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDL5OMC232C35LHWM3ZA5RWEGYNW652ZOZR7WWYTRLDXQAEI6LQ/vendors.js"
            ]
        },
        "GetUserFeedback": {
            "input": {
                "type": "structure",
                "required": [
                    "playgroundId",
                    "promptId"
                ],
                "members": {
                    "playgroundId": {},
                    "promptId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userFeedbackType"
                ],
                "members": {
                    "userFeedbackType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDL5OMC232C35LHWM3ZA5RWEGYNW652ZOZR7WWYTRLDXQAEI6LQ/vendors.js"
            ]
        },
        "InvokeModel": {
            "input": {
                "type": "structure",
                "required": [
                    "body",
                    "modelId"
                ],
                "members": {
                    "body": {
                        "shape": "S26"
                    },
                    "contentType": {},
                    "accept": {},
                    "modelId": {},
                    "playgroundId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "body"
                ],
                "members": {
                    "body": {
                        "shape": "S26"
                    },
                    "contentType": {},
                    "promptId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDL5OMC232C35LHWM3ZA5RWEGYNW652ZOZR7WWYTRLDXQAEI6LQ/vendors.js"
            ]
        },
        "ListBuiltInModels": {
            "input": {
                "type": "structure",
                "members": {
                    "creationTimeBefore": {
                        "shape": "S2a"
                    },
                    "creationTimeAfter": {
                        "shape": "S2a"
                    },
                    "nameContains": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "modelSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "modelArn",
                                "modelName",
                                "creationTime",
                                "description"
                            ],
                            "members": {
                                "modelArn": {},
                                "modelName": {},
                                "creationTime": {
                                    "type": "long"
                                },
                                "description": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDL5OMC232C35LHWM3ZA5RWEGYNW652ZOZR7WWYTRLDXQAEI6LQ/vendors.js"
            ]
        },
        "ListCustomModels": {
            "input": {
                "type": "structure",
                "members": {
                    "creationTimeBefore": {
                        "shape": "S2a"
                    },
                    "creationTimeAfter": {
                        "shape": "S2a"
                    },
                    "nameContains": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "sortBy": {},
                    "sortOrder": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "modelSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "modelArn",
                                "modelName",
                                "creationTime",
                                "baseModelArn",
                                "baseModelName"
                            ],
                            "members": {
                                "modelArn": {},
                                "modelName": {},
                                "creationTime": {
                                    "type": "long"
                                },
                                "baseModelArn": {},
                                "baseModelName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDL5OMC232C35LHWM3ZA5RWEGYNW652ZOZR7WWYTRLDXQAEI6LQ/vendors.js"
            ]
        },
        "ListFineTuningJobs": {
            "input": {
                "type": "structure",
                "members": {
                    "creationTimeAfter": {
                        "shape": "S2a"
                    },
                    "creationTimeBefore": {
                        "shape": "S2a"
                    },
                    "statusEquals": {},
                    "nameContains": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "sortBy": {},
                    "sortOrder": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "fineTuningJobSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobArn",
                                "baseModelArn",
                                "baseModelName",
                                "jobName",
                                "status",
                                "customModelName",
                                "lastModifiedTime",
                                "creationTime"
                            ],
                            "members": {
                                "jobArn": {},
                                "baseModelArn": {},
                                "baseModelName": {},
                                "jobName": {},
                                "status": {},
                                "customModelArn": {},
                                "customModelName": {},
                                "lastModifiedTime": {
                                    "type": "long"
                                },
                                "creationTime": {
                                    "type": "long"
                                },
                                "endTime": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDL5OMC232C35LHWM3ZA5RWEGYNW652ZOZR7WWYTRLDXQAEI6LQ/vendors.js"
            ]
        },
        "ListPrompts": {
            "input": {
                "type": "structure",
                "required": [
                    "playgroundId"
                ],
                "members": {
                    "playgroundId": {},
                    "bookmarked": {
                        "type": "boolean"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "prompts"
                ],
                "members": {
                    "prompts": {
                        "type": "list",
                        "member": {
                            "shape": "S2y"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDL5OMC232C35LHWM3ZA5RWEGYNW652ZOZR7WWYTRLDXQAEI6LQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDL5OMC232C35LHWM3ZA5RWEGYNW652ZOZR7WWYTRLDXQAEI6LQ/vendors.js"
            ]
        },
        "SendUserFeedback": {
            "input": {
                "type": "structure",
                "required": [
                    "promptId",
                    "playgroundId",
                    "modelId",
                    "feedback"
                ],
                "members": {
                    "promptId": {},
                    "playgroundId": {},
                    "modelId": {},
                    "feedback": {
                        "type": "structure",
                        "required": [
                            "feedbackType",
                            "metadata"
                        ],
                        "members": {
                            "feedbackType": {},
                            "metadata": {
                                "type": "structure",
                                "members": {
                                    "negativeFeedback": {
                                        "type": "structure",
                                        "members": {
                                            "idealResponse": {},
                                            "responseTraits": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "harmfulTraitReasons": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "positiveFeedback": {
                                        "type": "structure",
                                        "members": {
                                            "idealResponse": {}
                                        }
                                    }
                                },
                                "union": true
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDL5OMC232C35LHWM3ZA5RWEGYNW652ZOZR7WWYTRLDXQAEI6LQ/vendors.js"
            ]
        },
        "StopFineTuningJob": {
            "input": {
                "type": "structure",
                "required": [
                    "jobIdentifier"
                ],
                "members": {
                    "jobIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDL5OMC232C35LHWM3ZA5RWEGYNW652ZOZR7WWYTRLDXQAEI6LQ/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDL5OMC232C35LHWM3ZA5RWEGYNW652ZOZR7WWYTRLDXQAEI6LQ/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDL5OMC232C35LHWM3ZA5RWEGYNW652ZOZR7WWYTRLDXQAEI6LQ/vendors.js"
            ]
        },
        "UpdatePrompt": {
            "input": {
                "type": "structure",
                "required": [
                    "playgroundId",
                    "promptId",
                    "bookmarked"
                ],
                "members": {
                    "playgroundId": {},
                    "promptId": {},
                    "bookmarked": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "prompt"
                ],
                "members": {
                    "prompt": {
                        "shape": "S2y"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDL5OMC232C35LHWM3ZA5RWEGYNW652ZOZR7WWYTRLDXQAEI6LQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "structure",
            "members": {
                "epochCount": {
                    "type": "integer"
                },
                "batchSize": {
                    "type": "integer"
                },
                "learningRateConfig": {
                    "type": "structure",
                    "members": {
                        "learningRate": {
                            "type": "float"
                        },
                        "learningRateWarmupSteps": {
                            "type": "integer"
                        }
                    }
                }
            }
        },
        "Sd": {
            "type": "structure",
            "required": [
                "s3Uri"
            ],
            "members": {
                "s3Uri": {}
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "validators"
            ],
            "members": {
                "validators": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "name",
                            "s3Uri"
                        ],
                        "members": {
                            "name": {},
                            "s3Uri": {}
                        }
                    }
                }
            }
        },
        "Sj": {
            "type": "structure",
            "required": [
                "s3Uri"
            ],
            "members": {
                "s3Uri": {}
            }
        },
        "Sk": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sw": {
            "type": "structure",
            "required": [
                "inputText",
                "modelIdentifier"
            ],
            "members": {
                "inputText": {
                    "type": "string",
                    "sensitive": true
                },
                "textGenerationConfig": {
                    "type": "structure",
                    "members": {
                        "maxTokenCount": {
                            "type": "integer"
                        },
                        "minTokenCount": {
                            "type": "integer"
                        },
                        "stopSequences": {
                            "type": "list",
                            "member": {
                                "type": "string",
                                "sensitive": true
                            }
                        },
                        "temperature": {
                            "type": "float"
                        },
                        "topP": {
                            "type": "float"
                        },
                        "beamCount": {
                            "type": "integer"
                        },
                        "topK": {
                            "type": "integer"
                        },
                        "repetitionPenalty": {
                            "type": "float"
                        },
                        "lengthPenalty": {
                            "type": "float"
                        },
                        "noRepeatNgramSize": {
                            "type": "integer"
                        }
                    },
                    "sensitive": true
                },
                "modelIdentifier": {},
                "playgroundId": {}
            }
        },
        "S1a": {
            "type": "structure",
            "members": {
                "results": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "tokenCount",
                            "outputText"
                        ],
                        "members": {
                            "tokenCount": {
                                "type": "integer"
                            },
                            "outputText": {
                                "type": "string",
                                "sensitive": true
                            }
                        }
                    }
                },
                "inputTextTokenCount": {
                    "type": "integer"
                },
                "promptId": {}
            }
        },
        "S1j": {
            "type": "structure",
            "members": {
                "trainingLoss": {
                    "type": "float"
                }
            }
        },
        "S1l": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "validatorName": {},
                    "validationLoss": {
                        "type": "float"
                    }
                }
            }
        },
        "S26": {
            "type": "blob",
            "sensitive": true
        },
        "S2a": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S2y": {
            "type": "structure",
            "required": [
                "playgroundId",
                "promptId",
                "createdAt",
                "generateTextRequest",
                "generateTextResponse",
                "bookmarked"
            ],
            "members": {
                "playgroundId": {},
                "promptId": {},
                "createdAt": {
                    "type": "long"
                },
                "generateTextRequest": {
                    "shape": "Sw"
                },
                "generateTextResponse": {
                    "shape": "S1a"
                },
                "bookmarked": {
                    "type": "boolean"
                }
            }
        }
    }
}