{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-04-20",
        "endpointPrefix": "bedrock",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Bedrock",
        "serviceId": "bedrock",
        "signatureVersion": "v4",
        "signingName": "bedrock",
        "uid": "bedrock-2023-04-20",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6JQNYZUU24R7MA7Q2ZQBJPHF54KEICFSLTCOFIBU3YYXWICPS75A/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4OOGV3R2Q4RQWZNUYU6IHMOZMHLNGT5MNX4IEU72JNVQSKBXHS7Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WATGOFQOQF5AP4FIRFRSWZMNEUHYGTPJWAWQRBMW5XTRCHL55FJA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AZ3GQJVC6X7IX5FY7VTCTMZSNUFWFGTBHKMY7AXTIXBVFLDAIMRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
        ]
    },
    "operations": {
        "AcceptAcknowledgement": {
            "http": {
                "requestUri": "/accept-acknowledgement",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "acknowledgementType",
                    "acknowledgementFormVersion",
                    "formData"
                ],
                "members": {
                    "acknowledgementType": {},
                    "acknowledgementFormVersion": {
                        "type": "integer"
                    },
                    "formData": {
                        "type": "structure",
                        "required": [
                            "formData"
                        ],
                        "members": {
                            "formData": {
                                "type": "blob"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHB22D4M27A6ZLJ3FGIJNLYTO4RCP5HASFRE6TKCHJUNCLLS4HSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMC3DG64Z67DQVCAVDAH37KGPT7X2AHDLQVMKESD3XAES7PAF6ZA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JQNYZUU24R7MA7Q2ZQBJPHF54KEICFSLTCOFIBU3YYXWICPS75A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OOGV3R2Q4RQWZNUYU6IHMOZMHLNGT5MNX4IEU72JNVQSKBXHS7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATGOFQOQF5AP4FIRFRSWZMNEUHYGTPJWAWQRBMW5XTRCHL55FJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ3GQJVC6X7IX5FY7VTCTMZSNUFWFGTBHKMY7AXTIXBVFLDAIMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js"
            ]
        },
        "CreateFineTuningJob": {
            "http": {
                "requestUri": "/fine-tuning-jobs",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobName",
                    "customModelName",
                    "roleArn",
                    "baseModelIdentifier",
                    "trainingDataConfig",
                    "outputDataConfig"
                ],
                "members": {
                    "jobName": {},
                    "customModelName": {},
                    "roleArn": {},
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "baseModelIdentifier": {},
                    "hyperParameters": {
                        "shape": "Sd"
                    },
                    "trainingDataConfig": {
                        "shape": "Sj"
                    },
                    "validationDataConfig": {
                        "shape": "Sl"
                    },
                    "outputDataConfig": {
                        "shape": "Sp"
                    },
                    "jobTags": {
                        "shape": "Sq"
                    },
                    "customModelTags": {
                        "shape": "Sq"
                    },
                    "customizationType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobArn"
                ],
                "members": {
                    "jobArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHB22D4M27A6ZLJ3FGIJNLYTO4RCP5HASFRE6TKCHJUNCLLS4HSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMC3DG64Z67DQVCAVDAH37KGPT7X2AHDLQVMKESD3XAES7PAF6ZA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JQNYZUU24R7MA7Q2ZQBJPHF54KEICFSLTCOFIBU3YYXWICPS75A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OOGV3R2Q4RQWZNUYU6IHMOZMHLNGT5MNX4IEU72JNVQSKBXHS7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATGOFQOQF5AP4FIRFRSWZMNEUHYGTPJWAWQRBMW5XTRCHL55FJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ3GQJVC6X7IX5FY7VTCTMZSNUFWFGTBHKMY7AXTIXBVFLDAIMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js"
            ]
        },
        "DeleteCustomModel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/custom-models/{modelIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "modelIdentifier"
                ],
                "members": {
                    "modelIdentifier": {
                        "location": "uri",
                        "locationName": "modelIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JQNYZUU24R7MA7Q2ZQBJPHF54KEICFSLTCOFIBU3YYXWICPS75A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OOGV3R2Q4RQWZNUYU6IHMOZMHLNGT5MNX4IEU72JNVQSKBXHS7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATGOFQOQF5AP4FIRFRSWZMNEUHYGTPJWAWQRBMW5XTRCHL55FJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ3GQJVC6X7IX5FY7VTCTMZSNUFWFGTBHKMY7AXTIXBVFLDAIMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "DeletePrompt": {
            "http": {
                "method": "DELETE",
                "requestUri": "/playgrounds/prompts/{promptId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "promptId"
                ],
                "members": {
                    "promptId": {
                        "location": "uri",
                        "locationName": "promptId"
                    },
                    "playgroundId": {
                        "location": "querystring",
                        "locationName": "httpQuery"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHB22D4M27A6ZLJ3FGIJNLYTO4RCP5HASFRE6TKCHJUNCLLS4HSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMC3DG64Z67DQVCAVDAH37KGPT7X2AHDLQVMKESD3XAES7PAF6ZA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JQNYZUU24R7MA7Q2ZQBJPHF54KEICFSLTCOFIBU3YYXWICPS75A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OOGV3R2Q4RQWZNUYU6IHMOZMHLNGT5MNX4IEU72JNVQSKBXHS7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATGOFQOQF5AP4FIRFRSWZMNEUHYGTPJWAWQRBMW5XTRCHL55FJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ3GQJVC6X7IX5FY7VTCTMZSNUFWFGTBHKMY7AXTIXBVFLDAIMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js"
            ]
        },
        "GenerateText": {
            "http": {
                "requestUri": "/generateText",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "inputText",
                    "modelIdentifier"
                ],
                "members": {
                    "inputText": {
                        "shape": "S13"
                    },
                    "textGenerationConfig": {
                        "shape": "S14"
                    },
                    "modelIdentifier": {},
                    "playgroundId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "results": {
                        "shape": "S1h"
                    },
                    "inputTextTokenCount": {
                        "type": "integer"
                    },
                    "promptId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHB22D4M27A6ZLJ3FGIJNLYTO4RCP5HASFRE6TKCHJUNCLLS4HSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMC3DG64Z67DQVCAVDAH37KGPT7X2AHDLQVMKESD3XAES7PAF6ZA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JQNYZUU24R7MA7Q2ZQBJPHF54KEICFSLTCOFIBU3YYXWICPS75A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OOGV3R2Q4RQWZNUYU6IHMOZMHLNGT5MNX4IEU72JNVQSKBXHS7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATGOFQOQF5AP4FIRFRSWZMNEUHYGTPJWAWQRBMW5XTRCHL55FJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ3GQJVC6X7IX5FY7VTCTMZSNUFWFGTBHKMY7AXTIXBVFLDAIMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js"
            ]
        },
        "GetCustomModel": {
            "http": {
                "method": "GET",
                "requestUri": "/custom-models/{modelIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "modelIdentifier"
                ],
                "members": {
                    "modelIdentifier": {
                        "location": "uri",
                        "locationName": "modelIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "modelArn",
                    "modelName",
                    "jobArn",
                    "baseModelArn",
                    "trainingDataConfig",
                    "outputDataConfig",
                    "creationTime"
                ],
                "members": {
                    "modelArn": {},
                    "modelName": {},
                    "jobName": {},
                    "jobArn": {},
                    "baseModelArn": {},
                    "hyperParameters": {
                        "shape": "Sd"
                    },
                    "trainingDataConfig": {
                        "shape": "Sj"
                    },
                    "validationDataConfig": {
                        "shape": "Sl"
                    },
                    "outputDataConfig": {
                        "shape": "Sp"
                    },
                    "trainingMetrics": {
                        "shape": "S1p"
                    },
                    "validationMetrics": {
                        "shape": "S1r"
                    },
                    "realTimeInferenceStatus": {},
                    "creationTime": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JQNYZUU24R7MA7Q2ZQBJPHF54KEICFSLTCOFIBU3YYXWICPS75A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OOGV3R2Q4RQWZNUYU6IHMOZMHLNGT5MNX4IEU72JNVQSKBXHS7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATGOFQOQF5AP4FIRFRSWZMNEUHYGTPJWAWQRBMW5XTRCHL55FJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ3GQJVC6X7IX5FY7VTCTMZSNUFWFGTBHKMY7AXTIXBVFLDAIMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "GetFineTuningJob": {
            "http": {
                "method": "GET",
                "requestUri": "/fine-tuning-jobs/{jobIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobIdentifier"
                ],
                "members": {
                    "jobIdentifier": {
                        "location": "uri",
                        "locationName": "jobIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobArn",
                    "jobName",
                    "roleArn",
                    "outputModelName",
                    "baseModelArn",
                    "baseModelName",
                    "trainingDataConfig",
                    "outputDataConfig",
                    "creationTime"
                ],
                "members": {
                    "jobArn": {},
                    "jobName": {},
                    "roleArn": {},
                    "outputModelName": {},
                    "outputModelArn": {},
                    "baseModelArn": {},
                    "baseModelName": {},
                    "trainingDataConfig": {
                        "shape": "Sj"
                    },
                    "validationDataConfig": {
                        "shape": "Sl"
                    },
                    "outputDataConfig": {
                        "shape": "Sp"
                    },
                    "hyperParameters": {
                        "shape": "Sd"
                    },
                    "clientRequestToken": {},
                    "trainingMetrics": {
                        "shape": "S1p"
                    },
                    "validationMetrics": {
                        "shape": "S1r"
                    },
                    "status": {},
                    "failureMessage": {},
                    "creationTime": {
                        "type": "long"
                    },
                    "lastModifiedTime": {
                        "type": "long"
                    },
                    "endTime": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHB22D4M27A6ZLJ3FGIJNLYTO4RCP5HASFRE6TKCHJUNCLLS4HSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMC3DG64Z67DQVCAVDAH37KGPT7X2AHDLQVMKESD3XAES7PAF6ZA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JQNYZUU24R7MA7Q2ZQBJPHF54KEICFSLTCOFIBU3YYXWICPS75A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OOGV3R2Q4RQWZNUYU6IHMOZMHLNGT5MNX4IEU72JNVQSKBXHS7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATGOFQOQF5AP4FIRFRSWZMNEUHYGTPJWAWQRBMW5XTRCHL55FJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ3GQJVC6X7IX5FY7VTCTMZSNUFWFGTBHKMY7AXTIXBVFLDAIMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js"
            ]
        },
        "GetModelPermission": {
            "http": {
                "method": "GET",
                "requestUri": "/model-permission/{modelIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "modelIdentifier"
                ],
                "members": {
                    "modelIdentifier": {
                        "location": "uri",
                        "locationName": "modelIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "modelId",
                    "hasModelPermission",
                    "acknowledgedFTU"
                ],
                "members": {
                    "modelId": {},
                    "hasModelPermission": {
                        "type": "boolean"
                    },
                    "acknowledgedFTU": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHB22D4M27A6ZLJ3FGIJNLYTO4RCP5HASFRE6TKCHJUNCLLS4HSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMC3DG64Z67DQVCAVDAH37KGPT7X2AHDLQVMKESD3XAES7PAF6ZA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JQNYZUU24R7MA7Q2ZQBJPHF54KEICFSLTCOFIBU3YYXWICPS75A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OOGV3R2Q4RQWZNUYU6IHMOZMHLNGT5MNX4IEU72JNVQSKBXHS7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATGOFQOQF5AP4FIRFRSWZMNEUHYGTPJWAWQRBMW5XTRCHL55FJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ3GQJVC6X7IX5FY7VTCTMZSNUFWFGTBHKMY7AXTIXBVFLDAIMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js"
            ]
        },
        "GetPrompt": {
            "http": {
                "method": "GET",
                "requestUri": "/playgrounds/prompts/{promptId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "promptId"
                ],
                "members": {
                    "promptId": {
                        "location": "uri",
                        "locationName": "promptId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "prompt"
                ],
                "members": {
                    "prompt": {
                        "shape": "S29"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHB22D4M27A6ZLJ3FGIJNLYTO4RCP5HASFRE6TKCHJUNCLLS4HSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMC3DG64Z67DQVCAVDAH37KGPT7X2AHDLQVMKESD3XAES7PAF6ZA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JQNYZUU24R7MA7Q2ZQBJPHF54KEICFSLTCOFIBU3YYXWICPS75A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OOGV3R2Q4RQWZNUYU6IHMOZMHLNGT5MNX4IEU72JNVQSKBXHS7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATGOFQOQF5AP4FIRFRSWZMNEUHYGTPJWAWQRBMW5XTRCHL55FJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ3GQJVC6X7IX5FY7VTCTMZSNUFWFGTBHKMY7AXTIXBVFLDAIMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js"
            ]
        },
        "GetTextEmbedding": {
            "http": {
                "requestUri": "/getTextEmbedding",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "inputText",
                    "modelIdentifier"
                ],
                "members": {
                    "inputText": {
                        "type": "string",
                        "sensitive": true
                    },
                    "modelIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "embedding": {
                        "type": "list",
                        "member": {
                            "type": "float",
                            "sensitive": true
                        }
                    },
                    "inputTextTokenCount": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHB22D4M27A6ZLJ3FGIJNLYTO4RCP5HASFRE6TKCHJUNCLLS4HSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMC3DG64Z67DQVCAVDAH37KGPT7X2AHDLQVMKESD3XAES7PAF6ZA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JQNYZUU24R7MA7Q2ZQBJPHF54KEICFSLTCOFIBU3YYXWICPS75A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OOGV3R2Q4RQWZNUYU6IHMOZMHLNGT5MNX4IEU72JNVQSKBXHS7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATGOFQOQF5AP4FIRFRSWZMNEUHYGTPJWAWQRBMW5XTRCHL55FJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ3GQJVC6X7IX5FY7VTCTMZSNUFWFGTBHKMY7AXTIXBVFLDAIMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js"
            ]
        },
        "GetUserFeedback": {
            "http": {
                "method": "GET",
                "requestUri": "/user-feedback/{playgroundId}/{promptId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "playgroundId",
                    "promptId"
                ],
                "members": {
                    "playgroundId": {
                        "location": "uri",
                        "locationName": "playgroundId"
                    },
                    "promptId": {
                        "location": "uri",
                        "locationName": "promptId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userFeedbackType"
                ],
                "members": {
                    "userFeedbackType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHB22D4M27A6ZLJ3FGIJNLYTO4RCP5HASFRE6TKCHJUNCLLS4HSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMC3DG64Z67DQVCAVDAH37KGPT7X2AHDLQVMKESD3XAES7PAF6ZA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JQNYZUU24R7MA7Q2ZQBJPHF54KEICFSLTCOFIBU3YYXWICPS75A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OOGV3R2Q4RQWZNUYU6IHMOZMHLNGT5MNX4IEU72JNVQSKBXHS7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATGOFQOQF5AP4FIRFRSWZMNEUHYGTPJWAWQRBMW5XTRCHL55FJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ3GQJVC6X7IX5FY7VTCTMZSNUFWFGTBHKMY7AXTIXBVFLDAIMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js"
            ]
        },
        "InvokeModel": {
            "http": {
                "requestUri": "/model/{modelId}/invoke",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "body",
                    "modelId"
                ],
                "members": {
                    "body": {
                        "shape": "S2e"
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "accept": {
                        "location": "header",
                        "locationName": "Accept"
                    },
                    "modelId": {
                        "location": "uri",
                        "locationName": "modelId"
                    },
                    "save": {
                        "location": "header",
                        "locationName": "X-Amzn-Bedrock-Save",
                        "type": "boolean"
                    }
                },
                "payload": "body"
            },
            "output": {
                "type": "structure",
                "required": [
                    "body"
                ],
                "members": {
                    "body": {
                        "shape": "S2e"
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "promptId": {
                        "location": "header",
                        "locationName": "X-Amzn-Bedrock-PromptId"
                    }
                },
                "payload": "body"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHB22D4M27A6ZLJ3FGIJNLYTO4RCP5HASFRE6TKCHJUNCLLS4HSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMC3DG64Z67DQVCAVDAH37KGPT7X2AHDLQVMKESD3XAES7PAF6ZA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JQNYZUU24R7MA7Q2ZQBJPHF54KEICFSLTCOFIBU3YYXWICPS75A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OOGV3R2Q4RQWZNUYU6IHMOZMHLNGT5MNX4IEU72JNVQSKBXHS7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATGOFQOQF5AP4FIRFRSWZMNEUHYGTPJWAWQRBMW5XTRCHL55FJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ3GQJVC6X7IX5FY7VTCTMZSNUFWFGTBHKMY7AXTIXBVFLDAIMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js"
            ]
        },
        "ListBuiltInModels": {
            "http": {
                "method": "GET",
                "requestUri": "/builtin-models",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "creationTimeBefore": {
                        "shape": "S2u",
                        "location": "querystring",
                        "locationName": "creationTimeBefore"
                    },
                    "creationTimeAfter": {
                        "shape": "S2u",
                        "location": "querystring",
                        "locationName": "creationTimeAfter"
                    },
                    "nameContains": {
                        "location": "querystring",
                        "locationName": "nameContains"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "modelSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "modelArn",
                                "modelName",
                                "creationTime",
                                "description"
                            ],
                            "members": {
                                "modelArn": {},
                                "modelName": {},
                                "creationTime": {
                                    "type": "long"
                                },
                                "description": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHB22D4M27A6ZLJ3FGIJNLYTO4RCP5HASFRE6TKCHJUNCLLS4HSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMC3DG64Z67DQVCAVDAH37KGPT7X2AHDLQVMKESD3XAES7PAF6ZA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JQNYZUU24R7MA7Q2ZQBJPHF54KEICFSLTCOFIBU3YYXWICPS75A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OOGV3R2Q4RQWZNUYU6IHMOZMHLNGT5MNX4IEU72JNVQSKBXHS7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATGOFQOQF5AP4FIRFRSWZMNEUHYGTPJWAWQRBMW5XTRCHL55FJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ3GQJVC6X7IX5FY7VTCTMZSNUFWFGTBHKMY7AXTIXBVFLDAIMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js"
            ]
        },
        "ListCustomModels": {
            "http": {
                "method": "GET",
                "requestUri": "/custom-models",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "creationTimeBefore": {
                        "shape": "S2u",
                        "location": "querystring",
                        "locationName": "creationTimeBefore"
                    },
                    "creationTimeAfter": {
                        "shape": "S2u",
                        "location": "querystring",
                        "locationName": "creationTimeAfter"
                    },
                    "nameContains": {
                        "location": "querystring",
                        "locationName": "nameContains"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "sortBy": {
                        "location": "querystring",
                        "locationName": "sortBy"
                    },
                    "sortOrder": {
                        "location": "querystring",
                        "locationName": "sortOrder"
                    },
                    "baseModelArnEquals": {
                        "location": "querystring",
                        "locationName": "baseModelArnEquals"
                    },
                    "foundationModelArnEquals": {
                        "location": "querystring",
                        "locationName": "foundationModelArnEquals"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "modelSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "modelArn",
                                "modelName",
                                "creationTime",
                                "baseModelArn",
                                "baseModelName"
                            ],
                            "members": {
                                "modelArn": {},
                                "modelName": {},
                                "creationTime": {
                                    "type": "long"
                                },
                                "baseModelArn": {},
                                "baseModelName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JQNYZUU24R7MA7Q2ZQBJPHF54KEICFSLTCOFIBU3YYXWICPS75A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OOGV3R2Q4RQWZNUYU6IHMOZMHLNGT5MNX4IEU72JNVQSKBXHS7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATGOFQOQF5AP4FIRFRSWZMNEUHYGTPJWAWQRBMW5XTRCHL55FJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ3GQJVC6X7IX5FY7VTCTMZSNUFWFGTBHKMY7AXTIXBVFLDAIMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "ListFineTuningJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/fine-tuning-jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "creationTimeAfter": {
                        "shape": "S2u",
                        "location": "querystring",
                        "locationName": "creationTimeAfter"
                    },
                    "creationTimeBefore": {
                        "shape": "S2u",
                        "location": "querystring",
                        "locationName": "creationTimeBefore"
                    },
                    "statusEquals": {
                        "location": "querystring",
                        "locationName": "statusEquals"
                    },
                    "nameContains": {
                        "location": "querystring",
                        "locationName": "nameContains"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "sortBy": {
                        "location": "querystring",
                        "locationName": "sortBy"
                    },
                    "sortOrder": {
                        "location": "querystring",
                        "locationName": "sortOrder"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "fineTuningJobSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobArn",
                                "baseModelArn",
                                "baseModelName",
                                "jobName",
                                "status",
                                "customModelName",
                                "lastModifiedTime",
                                "creationTime"
                            ],
                            "members": {
                                "jobArn": {},
                                "baseModelArn": {},
                                "baseModelName": {},
                                "jobName": {},
                                "status": {},
                                "customModelArn": {},
                                "customModelName": {},
                                "lastModifiedTime": {
                                    "type": "long"
                                },
                                "creationTime": {
                                    "type": "long"
                                },
                                "endTime": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHB22D4M27A6ZLJ3FGIJNLYTO4RCP5HASFRE6TKCHJUNCLLS4HSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMC3DG64Z67DQVCAVDAH37KGPT7X2AHDLQVMKESD3XAES7PAF6ZA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JQNYZUU24R7MA7Q2ZQBJPHF54KEICFSLTCOFIBU3YYXWICPS75A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OOGV3R2Q4RQWZNUYU6IHMOZMHLNGT5MNX4IEU72JNVQSKBXHS7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATGOFQOQF5AP4FIRFRSWZMNEUHYGTPJWAWQRBMW5XTRCHL55FJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ3GQJVC6X7IX5FY7VTCTMZSNUFWFGTBHKMY7AXTIXBVFLDAIMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js"
            ]
        },
        "ListFoundationModels": {
            "http": {
                "method": "GET",
                "requestUri": "/foundation-models",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "byProvider": {
                        "location": "querystring",
                        "locationName": "byProvider"
                    },
                    "byCustomizationType": {
                        "location": "querystring",
                        "locationName": "byCustomizationType"
                    },
                    "byInferenceType": {
                        "location": "querystring",
                        "locationName": "byInferenceType"
                    },
                    "byOutputModality": {
                        "location": "querystring",
                        "locationName": "byOutputModality"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "modelSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "modelArn",
                                "modelId"
                            ],
                            "members": {
                                "modelArn": {},
                                "modelId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JQNYZUU24R7MA7Q2ZQBJPHF54KEICFSLTCOFIBU3YYXWICPS75A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OOGV3R2Q4RQWZNUYU6IHMOZMHLNGT5MNX4IEU72JNVQSKBXHS7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATGOFQOQF5AP4FIRFRSWZMNEUHYGTPJWAWQRBMW5XTRCHL55FJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ3GQJVC6X7IX5FY7VTCTMZSNUFWFGTBHKMY7AXTIXBVFLDAIMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "ListPrompts": {
            "http": {
                "method": "GET",
                "requestUri": "/playgrounds/prompts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "playgroundId": {
                        "location": "querystring",
                        "locationName": "playgroundId"
                    },
                    "modality": {
                        "location": "querystring",
                        "locationName": "Modality"
                    },
                    "bookmarked": {
                        "location": "querystring",
                        "locationName": "bookmarked",
                        "type": "boolean"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "prompts": {
                        "type": "list",
                        "member": {
                            "shape": "S29"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHB22D4M27A6ZLJ3FGIJNLYTO4RCP5HASFRE6TKCHJUNCLLS4HSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMC3DG64Z67DQVCAVDAH37KGPT7X2AHDLQVMKESD3XAES7PAF6ZA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JQNYZUU24R7MA7Q2ZQBJPHF54KEICFSLTCOFIBU3YYXWICPS75A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OOGV3R2Q4RQWZNUYU6IHMOZMHLNGT5MNX4IEU72JNVQSKBXHS7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATGOFQOQF5AP4FIRFRSWZMNEUHYGTPJWAWQRBMW5XTRCHL55FJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ3GQJVC6X7IX5FY7VTCTMZSNUFWFGTBHKMY7AXTIXBVFLDAIMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js"
            ]
        },
        "SendUserFeedback": {
            "http": {
                "requestUri": "/user-feedback",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "promptId",
                    "playgroundId",
                    "modelId",
                    "feedback"
                ],
                "members": {
                    "promptId": {},
                    "playgroundId": {},
                    "modelId": {},
                    "feedback": {
                        "type": "structure",
                        "required": [
                            "feedbackType",
                            "metadata"
                        ],
                        "members": {
                            "feedbackType": {},
                            "metadata": {
                                "type": "structure",
                                "members": {
                                    "negativeFeedback": {
                                        "type": "structure",
                                        "members": {
                                            "idealResponse": {},
                                            "responseTraits": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "harmfulTraitReasons": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "positiveFeedback": {
                                        "type": "structure",
                                        "members": {
                                            "idealResponse": {}
                                        }
                                    }
                                },
                                "union": true
                            }
                        }
                    },
                    "prompt": {
                        "type": "structure",
                        "members": {
                            "promptId": {},
                            "inputText": {
                                "shape": "S13"
                            },
                            "textGenerationConfig": {
                                "shape": "S14"
                            },
                            "modelIdentifier": {},
                            "playgroundId": {},
                            "results": {
                                "shape": "S1h"
                            },
                            "inputTokenCount": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHB22D4M27A6ZLJ3FGIJNLYTO4RCP5HASFRE6TKCHJUNCLLS4HSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMC3DG64Z67DQVCAVDAH37KGPT7X2AHDLQVMKESD3XAES7PAF6ZA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JQNYZUU24R7MA7Q2ZQBJPHF54KEICFSLTCOFIBU3YYXWICPS75A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OOGV3R2Q4RQWZNUYU6IHMOZMHLNGT5MNX4IEU72JNVQSKBXHS7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATGOFQOQF5AP4FIRFRSWZMNEUHYGTPJWAWQRBMW5XTRCHL55FJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ3GQJVC6X7IX5FY7VTCTMZSNUFWFGTBHKMY7AXTIXBVFLDAIMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js"
            ]
        },
        "StopFineTuningJob": {
            "http": {
                "requestUri": "/fine-tuning-jobs/{jobIdentifier}/stop",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobIdentifier"
                ],
                "members": {
                    "jobIdentifier": {
                        "location": "uri",
                        "locationName": "jobIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHB22D4M27A6ZLJ3FGIJNLYTO4RCP5HASFRE6TKCHJUNCLLS4HSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMC3DG64Z67DQVCAVDAH37KGPT7X2AHDLQVMKESD3XAES7PAF6ZA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JQNYZUU24R7MA7Q2ZQBJPHF54KEICFSLTCOFIBU3YYXWICPS75A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OOGV3R2Q4RQWZNUYU6IHMOZMHLNGT5MNX4IEU72JNVQSKBXHS7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATGOFQOQF5AP4FIRFRSWZMNEUHYGTPJWAWQRBMW5XTRCHL55FJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ3GQJVC6X7IX5FY7VTCTMZSNUFWFGTBHKMY7AXTIXBVFLDAIMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js"
            ]
        },
        "UpdatePrompt": {
            "http": {
                "method": "PATCH",
                "requestUri": "/playgrounds/prompts/{promptId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "promptId",
                    "bookmarked"
                ],
                "members": {
                    "playgroundId": {},
                    "promptId": {
                        "location": "uri",
                        "locationName": "promptId"
                    },
                    "bookmarked": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "prompt": {
                        "shape": "S29"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHB22D4M27A6ZLJ3FGIJNLYTO4RCP5HASFRE6TKCHJUNCLLS4HSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMC3DG64Z67DQVCAVDAH37KGPT7X2AHDLQVMKESD3XAES7PAF6ZA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JQNYZUU24R7MA7Q2ZQBJPHF54KEICFSLTCOFIBU3YYXWICPS75A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OOGV3R2Q4RQWZNUYU6IHMOZMHLNGT5MNX4IEU72JNVQSKBXHS7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATGOFQOQF5AP4FIRFRSWZMNEUHYGTPJWAWQRBMW5XTRCHL55FJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ3GQJVC6X7IX5FY7VTCTMZSNUFWFGTBHKMY7AXTIXBVFLDAIMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js"
            ]
        },
        "CreateModelCustomizationJob": {
            "http": {
                "requestUri": "/model-customization-jobs",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobName",
                    "customModelName",
                    "roleArn",
                    "baseModelIdentifier",
                    "trainingDataConfig",
                    "outputDataConfig",
                    "hyperParameters"
                ],
                "members": {
                    "jobName": {},
                    "customModelName": {},
                    "roleArn": {},
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "baseModelIdentifier": {},
                    "customizationType": {},
                    "jobTags": {
                        "shape": "Sr"
                    },
                    "customModelTags": {
                        "shape": "Sr"
                    },
                    "trainingDataConfig": {
                        "shape": "Sk"
                    },
                    "validationDataConfig": {
                        "shape": "Sm"
                    },
                    "outputDataConfig": {
                        "shape": "Sq"
                    },
                    "hyperParameters": {
                        "shape": "Sy"
                    },
                    "customModelKmsKeyId": {},
                    "vpcConfig": {
                        "shape": "S11"
                    }
                }
            },
[...]
