{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-07-26",
        "endpointPrefix": "bedrock-agent-runtime",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Agents for Amazon Bedrock Runtime",
        "serviceId": "Bedrock Agent Runtime",
        "signatureVersion": "v4",
        "signingName": "bedrock",
        "uid": "bedrock-agent-runtime-2023-07-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/VDIPGRMMIJFDGWIH2B7JCWFVII22LSIHBSDICBN44Z22462W67RQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
        ]
    },
    "operations": {
        "InvokeAgent": {
            "http": {
                "requestUri": "/agents/{agentId}/agentAliases/{agentAliasId}/sessions/{sessionId}/text",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentAliasId",
                    "sessionId",
                    "inputText"
                ],
                "members": {
                    "sessionState": {
                        "type": "structure",
                        "members": {
                            "sessionAttributes": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "promptSessionAttributes": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        }
                    },
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "agentAliasId": {
                        "location": "uri",
                        "locationName": "agentAliasId"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "endSession": {
                        "type": "boolean"
                    },
                    "enableTrace": {
                        "type": "boolean"
                    },
                    "inputText": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "completion",
                    "contentType",
                    "sessionId"
                ],
                "members": {
                    "completion": {
                        "type": "structure",
                        "members": {
                            "chunk": {
                                "type": "structure",
                                "members": {
                                    "bytes": {
                                        "type": "blob",
                                        "sensitive": true
                                    },
                                    "attribution": {
                                        "type": "structure",
                                        "members": {
                                            "citations": {
                                                "shape": "Sg"
                                            }
                                        }
                                    }
                                },
                                "event": true,
                                "sensitive": true
                            },
                            "trace": {
                                "type": "structure",
                                "members": {
                                    "agentId": {},
                                    "agentAliasId": {},
                                    "sessionId": {},
                                    "trace": {
                                        "type": "structure",
                                        "members": {
                                            "preProcessingTrace": {
                                                "type": "structure",
                                                "members": {
                                                    "modelInvocationInput": {
                                                        "shape": "Sw"
                                                    },
                                                    "modelInvocationOutput": {
                                                        "type": "structure",
                                                        "members": {
                                                            "traceId": {},
                                                            "parsedResponse": {
                                                                "type": "structure",
                                                                "members": {
                                                                    "rationale": {
                                                                        "shape": "S1a"
                                                                    },
                                                                    "isValid": {
                                                                        "type": "boolean"
                                                                    }
                                                                },
                                                                "sensitive": true
                                                            }
                                                        },
                                                        "sensitive": true
                                                    }
                                                },
                                                "sensitive": true,
                                                "union": true
                                            },
                                            "orchestrationTrace": {
                                                "type": "structure",
                                                "members": {
                                                    "rationale": {
                                                        "type": "structure",
                                                        "members": {
                                                            "traceId": {},
                                                            "text": {
                                                                "shape": "S1a"
                                                            }
                                                        },
                                                        "sensitive": true
                                                    },
                                                    "invocationInput": {
                                                        "type": "structure",
                                                        "members": {
                                                            "traceId": {},
                                                            "invocationType": {},
                                                            "actionGroupInvocationInput": {
                                                                "type": "structure",
                                                                "members": {
                                                                    "actionGroupName": {
                                                                        "type": "string",
                                                                        "sensitive": true
                                                                    },
                                                                    "verb": {
                                                                        "type": "string",
                                                                        "sensitive": true
                                                                    },
                                                                    "apiPath": {
                                                                        "type": "string",
                                                                        "sensitive": true
                                                                    },
                                                                    "parameters": {
                                                                        "shape": "S1j"
                                                                    },
                                                                    "requestBody": {
                                                                        "type": "structure",
                                                                        "members": {
                                                                            "content": {
                                                                                "type": "map",
                                                                                "key": {},
                                                                                "value": {
                                                                                    "shape": "S1j"
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "knowledgeBaseLookupInput": {
                                                                "type": "structure",
                                                                "members": {
                                                                    "text": {
                                                                        "type": "string",
                                                                        "sensitive": true
                                                                    },
                                                                    "knowledgeBaseId": {
                                                                        "type": "string",
                                                                        "sensitive": true
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "sensitive": true
                                                    },
                                                    "observation": {
                                                        "type": "structure",
                                                        "members": {
                                                            "traceId": {},
                                                            "type": {},
                                                            "actionGroupInvocationOutput": {
                                                                "type": "structure",
                                                                "members": {
                                                                    "text": {
                                                                        "type": "string",
                                                                        "sensitive": true
                                                                    }
                                                                }
                                                            },
                                                            "knowledgeBaseLookupOutput": {
                                                                "type": "structure",
                                                                "members": {
                                                                    "retrievedReferences": {
                                                                        "shape": "Sn"
                                                                    }
                                                                }
                                                            },
                                                            "finalResponse": {
                                                                "type": "structure",
                                                                "members": {
                                                                    "text": {
                                                                        "type": "string",
                                                                        "sensitive": true
                                                                    }
                                                                }
                                                            },
                                                            "repromptResponse": {
                                                                "type": "structure",
                                                                "members": {
                                                                    "text": {},
                                                                    "source": {
                                                                        "type": "string",
                                                                        "sensitive": true
                                                                    }
                                                                },
                                                                "sensitive": true
                                                            }
                                                        },
                                                        "sensitive": true
                                                    },
                                                    "modelInvocationInput": {
                                                        "shape": "Sw"
                                                    }
                                                },
                                                "sensitive": true,
                                                "union": true
                                            },
                                            "postProcessingTrace": {
                                                "type": "structure",
                                                "members": {
                                                    "modelInvocationInput": {
                                                        "shape": "Sw"
                                                    },
                                                    "modelInvocationOutput": {
                                                        "type": "structure",
                                                        "members": {
                                                            "traceId": {},
                                                            "parsedResponse": {
                                                                "type": "structure",
                                                                "members": {
                                                                    "text": {
                                                                        "type": "string",
                                                                        "sensitive": true
                                                                    }
                                                                },
                                                                "sensitive": true
                                                            }
                                                        },
                                                        "sensitive": true
                                                    }
                                                },
                                                "sensitive": true,
                                                "union": true
                                            },
                                            "failureTrace": {
                                                "type": "structure",
                                                "members": {
                                                    "traceId": {},
                                                    "failureReason": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    }
                                                },
                                                "sensitive": true
                                            }
                                        },
                                        "sensitive": true,
                                        "union": true
                                    }
                                },
                                "event": true,
                                "sensitive": true
                            },
                            "internalServerException": {
                                "type": "structure",
                                "members": {
                                    "message": {}
                                },
                                "error": {
                                    "httpStatusCode": 500
                                },
                                "exception": true,
                                "fault": true
                            },
                            "validationException": {
                                "type": "structure",
                                "members": {
                                    "message": {}
                                },
                                "error": {
                                    "httpStatusCode": 400,
                                    "senderFault": true
                                },
                                "exception": true
                            },
                            "resourceNotFoundException": {
                                "type": "structure",
                                "members": {
                                    "message": {}
                                },
                                "error": {
                                    "httpStatusCode": 404,
                                    "senderFault": true
                                },
                                "exception": true
                            },
                            "serviceQuotaExceededException": {
                                "type": "structure",
                                "members": {
                                    "message": {}
                                },
                                "error": {
                                    "httpStatusCode": 400,
                                    "senderFault": true
                                },
                                "exception": true
                            },
                            "throttlingException": {
                                "type": "structure",
                                "members": {
                                    "message": {}
                                },
                                "error": {
                                    "httpStatusCode": 429,
                                    "senderFault": true
                                },
                                "exception": true
                            },
                            "accessDeniedException": {
                                "type": "structure",
                                "members": {
                                    "message": {}
                                },
                                "error": {
                                    "httpStatusCode": 403,
                                    "senderFault": true
                                },
                                "exception": true
                            },
                            "conflictException": {
                                "type": "structure",
                                "members": {
                                    "message": {}
                                },
                                "error": {
                                    "httpStatusCode": 409,
                                    "senderFault": true
                                },
                                "exception": true
                            },
                            "dependencyFailedException": {
                                "type": "structure",
                                "members": {
                                    "message": {},
                                    "resourceName": {}
                                },
                                "error": {
                                    "httpStatusCode": 424,
                                    "senderFault": true
                                },
                                "exception": true
                            },
                            "badGatewayException": {
                                "type": "structure",
                                "members": {
                                    "message": {},
                                    "resourceName": {}
                                },
                                "error": {
                                    "httpStatusCode": 502
                                },
                                "exception": true,
                                "fault": true
                            }
                        },
                        "eventstream": true
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "x-amzn-bedrock-agent-content-type"
                    },
                    "sessionId": {
                        "location": "header",
                        "locationName": "x-amz-bedrock-agent-session-id"
                    }
                },
                "payload": "completion"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "Retrieve": {
            "http": {
                "requestUri": "/knowledgebases/{knowledgeBaseId}/retrieve",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "knowledgeBaseId",
                    "retrievalQuery"
                ],
                "members": {
                    "knowledgeBaseId": {
                        "location": "uri",
                        "locationName": "knowledgeBaseId"
                    },
                    "retrievalQuery": {
                        "type": "structure",
                        "required": [
                            "text"
                        ],
                        "members": {
                            "text": {}
                        },
                        "sensitive": true
                    },
                    "retrievalConfiguration": {
                        "type": "structure",
                        "required": [
                            "vectorSearchConfiguration"
                        ],
                        "members": {
                            "vectorSearchConfiguration": {
                                "type": "structure",
                                "required": [
                                    "numberOfResults"
                                ],
                                "members": {
                                    "numberOfResults": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "retrievalResults"
                ],
                "members": {
                    "retrievalResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "content"
                            ],
                            "members": {
                                "content": {
                                    "shape": "Sp"
                                },
                                "location": {
                                    "shape": "Sq"
                                },
                                "score": {
                                    "type": "double"
                                }
                            }
                        },
                        "sensitive": true
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "RetrieveAndGenerate": {
            "http": {
                "requestUri": "/retrieveAndGenerate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "input"
                ],
                "members": {
                    "sessionId": {},
                    "input": {
                        "type": "structure",
                        "required": [
                            "text"
                        ],
                        "members": {
                            "text": {}
                        },
                        "sensitive": true
                    },
                    "retrieveAndGenerateConfiguration": {
                        "type": "structure",
                        "required": [
                            "type"
                        ],
                        "members": {
                            "type": {},
                            "knowledgeBaseConfiguration": {
                                "type": "structure",
                                "required": [
                                    "knowledgeBaseId",
                                    "modelArn"
                                ],
                                "members": {
                                    "knowledgeBaseId": {},
                                    "modelArn": {}
                                }
                            }
                        }
                    },
                    "sessionConfiguration": {
                        "type": "structure",
                        "required": [
                            "kmsKeyArn"
                        ],
                        "members": {
                            "kmsKeyArn": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "output"
                ],
                "members": {
                    "sessionId": {},
                    "output": {
                        "type": "structure",
                        "required": [
                            "text"
                        ],
                        "members": {
                            "text": {}
                        },
                        "sensitive": true
                    },
                    "citations": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        }
    },
    "shapes": {
        "Sg": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "generatedResponsePart": {
                        "type": "structure",
                        "members": {
                            "textResponsePart": {
                                "type": "structure",
                                "members": {
                                    "text": {},
                                    "span": {
                                        "type": "structure",
                                        "members": {
                                            "start": {
                                                "type": "integer"
                                            },
                                            "end": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "retrievedReferences": {
                        "shape": "Sn"
                    }
                }
            }
        },
        "Sn": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "content": {
                        "shape": "Sp"
                    },
                    "location": {
                        "shape": "Sq"
                    }
                }
            }
        },
        "Sp": {
            "type": "structure",
            "required": [
                "text"
            ],
            "members": {
                "text": {}
            }
        },
        "Sq": {
            "type": "structure",
            "required": [
                "type"
            ],
            "members": {
                "type": {},
                "s3Location": {
                    "type": "structure",
                    "members": {
                        "uri": {}
                    }
                }
            }
        },
        "Sw": {
            "type": "structure",
            "members": {
                "traceId": {},
                "text": {
                    "type": "string",
                    "sensitive": true
                },
                "type": {},
                "inferenceConfiguration": {
                    "type": "structure",
                    "members": {
                        "temperature": {
                            "type": "float"
                        },
                        "topP": {
                            "type": "float"
                        },
                        "topK": {
                            "type": "integer"
                        },
                        "maximumLength": {
                            "type": "integer"
                        },
                        "stopSequences": {
                            "type": "list",
                            "member": {}
                        }
                    }
                },
                "overrideLambda": {},
                "promptCreationMode": {},
                "parserMode": {}
            },
            "sensitive": true
        },
        "S1a": {
            "type": "string",
            "sensitive": true
        },
        "S1j": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "name": {},
                    "type": {},
                    "value": {}
                }
            }
        },
        "Si": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "generatedResponsePart": {
                        "type": "structure",
                        "members": {
                            "textResponsePart": {
                                "type": "structure",
                                "members": {
                                    "span": {
                                        "type": "structure",
                                        "members": {
                                            "end": {
                                                "type": "integer"
                                            },
                                            "start": {
                                                "type": "integer"
                                            }
                                        }
                                    },
                                    "text": {}
                                },
                                "sensitive": true
                            }
                        }
                    },
                    "retrievedReferences": {
                        "shape": "Sp"
                    }
                }
            }
        },
        "Sr": {
            "type": "structure",
            "required": [
                "text"
            ],
            "members": {
                "text": {}
            },
            "sensitive": true
        },
        "Ss": {
            "type": "structure",
            "required": [
                "type"
            ],
            "members": {
                "s3Location": {
                    "type": "structure",
                    "members": {
                        "uri": {}
                    }
                },
                "type": {}
            },
            "sensitive": true
        },
        "S1c": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "name": {},
                    "type": {},
                    "value": {}
                }
            }
        },
        "S1l": {
            "type": "structure",
            "members": {
                "inferenceConfiguration": {
                    "type": "structure",
                    "members": {
                        "maximumLength": {
                            "type": "integer"
                        },
                        "stopSequences": {
                            "type": "list",
                            "member": {}
                        },
                        "temperature": {
                            "type": "float"
                        },
                        "topK": {
                            "type": "integer"
                        },
                        "topP": {
                            "type": "float"
                        }
                    }
                },
                "overrideLambda": {},
                "parserMode": {},
                "promptCreationMode": {},
                "text": {
                    "type": "string",
                    "sensitive": true
                },
                "traceId": {},
                "type": {}
            },
            "sensitive": true
        },
        "S26": {
            "type": "string",
            "sensitive": true
        },
        "S2j": {
            "type": "structure",
            "required": [
                "vectorSearchConfiguration"
            ],
            "members": {
                "vectorSearchConfiguration": {
                    "type": "structure",
                    "members": {
                        "numberOfResults": {
                            "type": "integer"
                        },
                        "overrideSearchType": {}
                    }
                }
            }
        },
        "Sv": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {},
                "document": true
            },
            "sensitive": true
        },
        "S1f": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "name": {},
                    "type": {},
                    "value": {}
                }
            }
        },
        "S1o": {
            "type": "structure",
            "members": {
                "inferenceConfiguration": {
                    "type": "structure",
                    "members": {
                        "maximumLength": {
                            "type": "integer"
                        },
                        "stopSequences": {
                            "type": "list",
                            "member": {}
                        },
                        "temperature": {
                            "type": "float"
                        },
                        "topK": {
                            "type": "integer"
                        },
                        "topP": {
                            "type": "float"
                        }
                    }
                },
                "overrideLambda": {},
                "parserMode": {},
                "promptCreationMode": {},
                "text": {
                    "type": "string",
                    "sensitive": true
                },
                "traceId": {},
                "type": {}
            },
            "sensitive": true
        },
        "S29": {
            "type": "string",
            "sensitive": true
        },
        "S2m": {
            "type": "structure",
            "required": [
                "vectorSearchConfiguration"
            ],
            "members": {
                "vectorSearchConfiguration": {
                    "type": "structure",
                    "members": {
                        "filter": {
                            "shape": "S2o"
                        },
                        "numberOfResults": {
                            "type": "integer"
                        },
                        "overrideSearchType": {}
                    }
                }
            }
        },
        "S2o": {
            "type": "structure",
            "members": {
                "andAll": {
                    "shape": "S2p"
                },
                "equals": {
                    "shape": "S2q"
                },
                "greaterThan": {
                    "shape": "S2q"
                },
                "greaterThanOrEquals": {
                    "shape": "S2q"
                },
                "in": {
                    "shape": "S2q"
                },
                "lessThan": {
                    "shape": "S2q"
                },
                "lessThanOrEquals": {
                    "shape": "S2q"
                },
                "notEquals": {
                    "shape": "S2q"
                },
                "notIn": {
                    "shape": "S2q"
                },
                "orAll": {
                    "shape": "S2p"
                },
                "startsWith": {
                    "shape": "S2q"
                }
            },
            "sensitive": true,
            "union": true
        },
        "S2p": {
            "type": "list",
            "member": {
                "shape": "S2o"
            }
        },
        "S2q": {
            "type": "structure",
            "required": [
                "key",
                "value"
            ],
            "members": {
                "key": {},
                "value": {
                    "type": "structure",
                    "members": {},
                    "document": true
                }
            }
        }
    }
}