{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-06-05",
        "endpointPrefix": "amazonbedrockagentbuildtimelambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Bedrock Agent BuildTime Lambda",
        "serviceId": "BedrockAgentBuildTimeLambda",
        "signatureVersion": "v4",
        "signingName": "bedrock",
        "uid": "bedrockagentbuildtimelambda-2023-06-05",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/HVFRKFZAZL3SVAYMSJI5EO2DYRIIUJAVLWZNPWBYD5JHSWJBCOUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LXWGJRI67HGWI2HF27E4JSIH6GP274AI5COXNKLFIOBJXWRMYMYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KY3KQDI24RCQGRVCI4FLUEYWXSWREEPTNWMZDHYUNDGISF3MDQNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YZHKCLJVZQJ563M7NWLKA5ZRGYWIOXKMQQX7RU6SBDWK73NZI3FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2SC5ZHYKM4ITSXXW22URUYK32U5NODLCOBZLD554EB5IKAHYOWCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js"
        ]
    },
    "operations": {
        "CreateAgent": {
            "http": {
                "method": "PUT",
                "requestUri": "/agents/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentName",
                    "agentResourceRoleArn"
                ],
                "members": {
                    "agentName": {},
                    "instruction": {},
                    "foundationalModel": {},
                    "description": {},
                    "idleSessionTTLInSeconds": {
                        "type": "integer"
                    },
                    "agentResourceRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentName",
                    "agentArn",
                    "agentVersion",
                    "agentStatus",
                    "idleSessionTTLInSeconds",
                    "agentResourceRoleArn",
                    "createdAt"
                ],
                "members": {
                    "agentId": {},
                    "agentName": {},
                    "agentArn": {},
                    "agentVersion": {},
                    "instruction": {},
                    "agentStatus": {},
                    "foundationalModel": {},
                    "description": {},
                    "idleSessionTTLInSeconds": {
                        "type": "integer"
                    },
                    "agentResourceRoleArn": {},
                    "createdAt": {
                        "shape": "Sd"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVFRKFZAZL3SVAYMSJI5EO2DYRIIUJAVLWZNPWBYD5JHSWJBCOUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXWGJRI67HGWI2HF27E4JSIH6GP274AI5COXNKLFIOBJXWRMYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY3KQDI24RCQGRVCI4FLUEYWXSWREEPTNWMZDHYUNDGISF3MDQNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHKCLJVZQJ563M7NWLKA5ZRGYWIOXKMQQX7RU6SBDWK73NZI3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SC5ZHYKM4ITSXXW22URUYK32U5NODLCOBZLD554EB5IKAHYOWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js"
            ]
        },
        "CreateAgentActionGroup": {
            "http": {
                "method": "PUT",
                "requestUri": "/agents/{agentId}/agentversions/DRAFT/actiongroups/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "actionGroupName"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "actionGroupName": {},
                    "description": {},
                    "parentActionGroupSignature": {},
                    "actionGroupExecutor": {
                        "shape": "Sg"
                    },
                    "apiSchema": {
                        "shape": "Si"
                    },
                    "actionGroupState": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "actionGroupId",
                    "actionGroupName",
                    "createdAt",
                    "actionGroupState"
                ],
                "members": {
                    "actionGroupId": {},
                    "actionGroupName": {},
                    "description": {},
                    "createdAt": {
                        "shape": "Sd"
                    },
                    "parentActionSignature": {},
                    "actionGroupExecutor": {
                        "shape": "Sg"
                    },
                    "apiSchema": {
                        "shape": "Si"
                    },
                    "actionGroupState": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVFRKFZAZL3SVAYMSJI5EO2DYRIIUJAVLWZNPWBYD5JHSWJBCOUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXWGJRI67HGWI2HF27E4JSIH6GP274AI5COXNKLFIOBJXWRMYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY3KQDI24RCQGRVCI4FLUEYWXSWREEPTNWMZDHYUNDGISF3MDQNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHKCLJVZQJ563M7NWLKA5ZRGYWIOXKMQQX7RU6SBDWK73NZI3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SC5ZHYKM4ITSXXW22URUYK32U5NODLCOBZLD554EB5IKAHYOWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js"
            ]
        },
        "CreateAgentAlias": {
            "http": {
                "method": "PUT",
                "requestUri": "/agents/{agentId}/agentaliases/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentAliasName"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "agentAliasName": {},
                    "description": {},
                    "routingConfiguration": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentAliasId",
                    "agentAliasName",
                    "routingConfiguration",
                    "createdAt",
                    "agentAliasStatus"
                ],
                "members": {
                    "agentId": {},
                    "agentAliasId": {},
                    "agentAliasName": {},
                    "description": {},
                    "routingConfiguration": {
                        "shape": "Sq"
                    },
                    "createdAt": {
                        "shape": "Sd"
                    },
                    "agentAliasStatus": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVFRKFZAZL3SVAYMSJI5EO2DYRIIUJAVLWZNPWBYD5JHSWJBCOUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXWGJRI67HGWI2HF27E4JSIH6GP274AI5COXNKLFIOBJXWRMYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY3KQDI24RCQGRVCI4FLUEYWXSWREEPTNWMZDHYUNDGISF3MDQNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHKCLJVZQJ563M7NWLKA5ZRGYWIOXKMQQX7RU6SBDWK73NZI3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SC5ZHYKM4ITSXXW22URUYK32U5NODLCOBZLD554EB5IKAHYOWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js"
            ]
        },
        "CreateAgentDraftSnapshot": {
            "http": {
                "requestUri": "/agents/{agentId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentStatus",
                    "agentVersion",
                    "savedAt"
                ],
                "members": {
                    "agentId": {},
                    "agentStatus": {},
                    "agentVersion": {},
                    "savedAt": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVFRKFZAZL3SVAYMSJI5EO2DYRIIUJAVLWZNPWBYD5JHSWJBCOUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXWGJRI67HGWI2HF27E4JSIH6GP274AI5COXNKLFIOBJXWRMYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY3KQDI24RCQGRVCI4FLUEYWXSWREEPTNWMZDHYUNDGISF3MDQNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHKCLJVZQJ563M7NWLKA5ZRGYWIOXKMQQX7RU6SBDWK73NZI3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SC5ZHYKM4ITSXXW22URUYK32U5NODLCOBZLD554EB5IKAHYOWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js"
            ]
        },
        "GetAgent": {
            "http": {
                "method": "GET",
                "requestUri": "/agents/{agentId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentName",
                    "agentArn",
                    "agentVersion",
                    "agentStatus",
                    "idleSessionTTLInSeconds",
                    "agentResourceRoleArn",
                    "createdAt"
                ],
                "members": {
                    "agentId": {},
                    "agentName": {},
                    "agentArn": {},
                    "agentVersion": {},
                    "instruction": {},
                    "agentStatus": {},
                    "foundationalModel": {},
                    "description": {},
                    "idleSessionTTLInSeconds": {
                        "type": "integer"
                    },
                    "agentResourceRoleArn": {},
                    "createdAt": {
                        "shape": "Sd"
                    },
                    "updatedAt": {
                        "shape": "Sd"
                    },
                    "savedAt": {
                        "shape": "Sd"
                    },
                    "failureReasons": {
                        "shape": "S10"
                    },
                    "recommendedActions": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVFRKFZAZL3SVAYMSJI5EO2DYRIIUJAVLWZNPWBYD5JHSWJBCOUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXWGJRI67HGWI2HF27E4JSIH6GP274AI5COXNKLFIOBJXWRMYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY3KQDI24RCQGRVCI4FLUEYWXSWREEPTNWMZDHYUNDGISF3MDQNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHKCLJVZQJ563M7NWLKA5ZRGYWIOXKMQQX7RU6SBDWK73NZI3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SC5ZHYKM4ITSXXW22URUYK32U5NODLCOBZLD554EB5IKAHYOWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js"
            ]
        },
        "GetAgentActionGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/agents/{agentId}/agentversions/{agentVersion}/actiongroups/{actionGroupId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentVersion",
                    "actionGroupId"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "agentVersion": {
                        "location": "uri",
                        "locationName": "agentVersion"
                    },
                    "actionGroupId": {
                        "location": "uri",
                        "locationName": "actionGroupId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentVersion",
                    "actionGroupId",
                    "actionGroupName",
                    "actionGroupState"
                ],
                "members": {
                    "agentId": {},
                    "agentVersion": {},
                    "actionGroupId": {},
                    "actionGroupName": {},
                    "actionGroupState": {},
                    "description": {},
                    "actionGroupExecutor": {
                        "shape": "Sg"
                    },
                    "parentActionGroupSignature": {},
                    "createdAt": {
                        "shape": "Sd"
                    },
                    "updatedAt": {
                        "shape": "Sd"
                    },
                    "apiSchema": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVFRKFZAZL3SVAYMSJI5EO2DYRIIUJAVLWZNPWBYD5JHSWJBCOUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXWGJRI67HGWI2HF27E4JSIH6GP274AI5COXNKLFIOBJXWRMYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY3KQDI24RCQGRVCI4FLUEYWXSWREEPTNWMZDHYUNDGISF3MDQNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHKCLJVZQJ563M7NWLKA5ZRGYWIOXKMQQX7RU6SBDWK73NZI3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SC5ZHYKM4ITSXXW22URUYK32U5NODLCOBZLD554EB5IKAHYOWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js"
            ]
        },
        "GetAgentAlias": {
            "http": {
                "method": "GET",
                "requestUri": "/agents/{agentId}/agentaliases/{agentAliasId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentAliasId"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "agentAliasId": {
                        "location": "uri",
                        "locationName": "agentAliasId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentAliasId",
                    "agentAliasName",
                    "routingConfiguration",
                    "agentAliasStatus",
                    "createdAt",
                    "updatedAt"
                ],
                "members": {
                    "agentId": {},
                    "agentAliasId": {},
                    "agentAliasName": {},
                    "description": {},
                    "routingConfiguration": {
                        "shape": "Sq"
                    },
                    "agentAliasStatus": {},
                    "agentAliasHistoryEvents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "routingConfiguration": {
                                    "shape": "Sq"
                                },
                                "endDate": {
                                    "shape": "Sd"
                                },
                                "startDate": {
                                    "shape": "Sd"
                                }
                            }
                        }
                    },
                    "createdAt": {
                        "shape": "Sd"
                    },
                    "updatedAt": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVFRKFZAZL3SVAYMSJI5EO2DYRIIUJAVLWZNPWBYD5JHSWJBCOUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXWGJRI67HGWI2HF27E4JSIH6GP274AI5COXNKLFIOBJXWRMYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY3KQDI24RCQGRVCI4FLUEYWXSWREEPTNWMZDHYUNDGISF3MDQNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHKCLJVZQJ563M7NWLKA5ZRGYWIOXKMQQX7RU6SBDWK73NZI3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SC5ZHYKM4ITSXXW22URUYK32U5NODLCOBZLD554EB5IKAHYOWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js"
            ]
        },
        "GetAgentVersion": {
            "http": {
                "method": "GET",
                "requestUri": "/agents/{agentId}/agentversions/{agentVersion}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentVersion"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "agentVersion": {
                        "location": "uri",
                        "locationName": "agentVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentName",
                    "agentArn",
                    "agentVersion",
                    "agentStatus",
                    "idleSessionTTLInSeconds",
                    "agentResourceRoleArn",
                    "createdAt",
                    "updatedAt"
                ],
                "members": {
                    "agentId": {},
                    "agentName": {},
                    "agentArn": {},
                    "agentVersion": {},
                    "instruction": {},
                    "agentStatus": {},
                    "foundationalModel": {},
                    "description": {},
                    "idleSessionTTLInSeconds": {
                        "type": "integer"
                    },
                    "agentResourceRoleArn": {},
                    "createdAt": {
                        "shape": "Sd"
                    },
                    "updatedAt": {
                        "shape": "Sd"
                    },
                    "failureReasons": {
                        "shape": "S10"
                    },
                    "recommendedActions": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVFRKFZAZL3SVAYMSJI5EO2DYRIIUJAVLWZNPWBYD5JHSWJBCOUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXWGJRI67HGWI2HF27E4JSIH6GP274AI5COXNKLFIOBJXWRMYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY3KQDI24RCQGRVCI4FLUEYWXSWREEPTNWMZDHYUNDGISF3MDQNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHKCLJVZQJ563M7NWLKA5ZRGYWIOXKMQQX7RU6SBDWK73NZI3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SC5ZHYKM4ITSXXW22URUYK32U5NODLCOBZLD554EB5IKAHYOWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js"
            ]
        },
        "ListAgentActionGroups": {
            "http": {
                "requestUri": "/agents/{agentId}/agentversions/{agentVersion}/actiongroups/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentVersion"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "agentVersion": {
                        "location": "uri",
                        "locationName": "agentVersion"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentVersion",
                    "actionGroupSummaries"
                ],
                "members": {
                    "agentId": {},
                    "agentVersion": {},
                    "actionGroupSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "actionGroupId": {},
                                "actionGroupName": {},
                                "actionGroupState": {},
                                "description": {},
                                "updatedAt": {
                                    "shape": "Sd"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVFRKFZAZL3SVAYMSJI5EO2DYRIIUJAVLWZNPWBYD5JHSWJBCOUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXWGJRI67HGWI2HF27E4JSIH6GP274AI5COXNKLFIOBJXWRMYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY3KQDI24RCQGRVCI4FLUEYWXSWREEPTNWMZDHYUNDGISF3MDQNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHKCLJVZQJ563M7NWLKA5ZRGYWIOXKMQQX7RU6SBDWK73NZI3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SC5ZHYKM4ITSXXW22URUYK32U5NODLCOBZLD554EB5IKAHYOWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js"
            ]
        },
        "ListAgentAliases": {
            "http": {
                "requestUri": "/agents/{agentId}/agentaliases/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentAliasSummaries",
                    "agentId"
                ],
                "members": {
                    "agentAliasSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agentAliasId": {},
                                "agentAliasName": {},
                                "description": {},
                                "routingConfiguration": {
                                    "shape": "Sq"
                                },
                                "agentAliasStatus": {},
                                "createdAt": {
                                    "shape": "Sd"
                                },
                                "updatedAt": {
                                    "shape": "Sd"
                                }
                            }
                        }
                    },
                    "agentId": {},
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVFRKFZAZL3SVAYMSJI5EO2DYRIIUJAVLWZNPWBYD5JHSWJBCOUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXWGJRI67HGWI2HF27E4JSIH6GP274AI5COXNKLFIOBJXWRMYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY3KQDI24RCQGRVCI4FLUEYWXSWREEPTNWMZDHYUNDGISF3MDQNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHKCLJVZQJ563M7NWLKA5ZRGYWIOXKMQQX7RU6SBDWK73NZI3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SC5ZHYKM4ITSXXW22URUYK32U5NODLCOBZLD554EB5IKAHYOWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js"
            ]
        },
        "ListAgentVersions": {
            "http": {
                "requestUri": "/agents/{agentId}/agentversions/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentVersionSummaries"
                ],
                "members": {
                    "agentId": {},
                    "agentVersionSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agentName": {},
                                "agentStatus": {},
                                "agentVersion": {},
                                "createdAt": {
                                    "shape": "Sd"
                                },
                                "updatedAt": {
                                    "shape": "Sd"
                                },
                                "description": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVFRKFZAZL3SVAYMSJI5EO2DYRIIUJAVLWZNPWBYD5JHSWJBCOUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXWGJRI67HGWI2HF27E4JSIH6GP274AI5COXNKLFIOBJXWRMYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY3KQDI24RCQGRVCI4FLUEYWXSWREEPTNWMZDHYUNDGISF3MDQNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHKCLJVZQJ563M7NWLKA5ZRGYWIOXKMQQX7RU6SBDWK73NZI3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SC5ZHYKM4ITSXXW22URUYK32U5NODLCOBZLD554EB5IKAHYOWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js"
            ]
        },
        "ListAgents": {
            "http": {
                "requestUri": "/agents/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentSummaries"
                ],
                "members": {
                    "agentSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agentId": {},
                                "agentName": {},
                                "agentStatus": {},
                                "description": {},
                                "updatedAt": {
                                    "shape": "Sd"
                                },
                                "latestAgentVersion": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVFRKFZAZL3SVAYMSJI5EO2DYRIIUJAVLWZNPWBYD5JHSWJBCOUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXWGJRI67HGWI2HF27E4JSIH6GP274AI5COXNKLFIOBJXWRMYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY3KQDI24RCQGRVCI4FLUEYWXSWREEPTNWMZDHYUNDGISF3MDQNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHKCLJVZQJ563M7NWLKA5ZRGYWIOXKMQQX7RU6SBDWK73NZI3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SC5ZHYKM4ITSXXW22URUYK32U5NODLCOBZLD554EB5IKAHYOWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js"
            ]
        },
        "UpdateAgent": {
            "http": {
                "method": "PUT",
                "requestUri": "/agents/{agentId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentName",
                    "agentResourceRoleArn"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "agentName": {},
                    "instruction": {},
                    "foundationalModel": {},
                    "description": {},
                    "idleSessionTTLInSeconds": {
                        "type": "integer"
                    },
                    "agentResourceRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentName",
                    "agentArn",
                    "agentVersion",
                    "agentStatus",
                    "idleSessionTTLInSeconds",
                    "agentResourceRoleArn",
                    "createdAt",
                    "updatedAt"
                ],
                "members": {
                    "agentId": {},
                    "agentName": {},
                    "agentArn": {},
                    "agentVersion": {},
                    "instruction": {},
                    "foundationalModel": {},
                    "agentStatus": {},
                    "description": {},
                    "idleSessionTTLInSeconds": {
                        "type": "integer"
                    },
                    "agentResourceRoleArn": {},
                    "createdAt": {
                        "shape": "Sd"
                    },
                    "updatedAt": {
                        "shape": "Sd"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVFRKFZAZL3SVAYMSJI5EO2DYRIIUJAVLWZNPWBYD5JHSWJBCOUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXWGJRI67HGWI2HF27E4JSIH6GP274AI5COXNKLFIOBJXWRMYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY3KQDI24RCQGRVCI4FLUEYWXSWREEPTNWMZDHYUNDGISF3MDQNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHKCLJVZQJ563M7NWLKA5ZRGYWIOXKMQQX7RU6SBDWK73NZI3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SC5ZHYKM4ITSXXW22URUYK32U5NODLCOBZLD554EB5IKAHYOWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js"
            ]
        },
        "UpdateAgentActionGroup": {
            "http": {
                "method": "PUT",
                "requestUri": "/agents/{agentId}/agentversions/DRAFT/actiongroups/{actionGroupId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "actionGroupId",
                    "actionGroupName"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "actionGroupId": {
                        "location": "uri",
                        "locationName": "actionGroupId"
                    },
                    "actionGroupName": {},
                    "description": {},
                    "parentActionGroupSignature": {},
                    "actionGroupExecutor": {
                        "shape": "Sg"
                    },
                    "actionGroupState": {},
                    "apiSchema": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "actionGroupId",
                    "actionGroupName",
                    "createdAt",
                    "updatedAt",
                    "actionGroupState"
                ],
                "members": {
                    "actionGroupId": {},
                    "actionGroupName": {},
                    "description": {},
                    "parentActionGroupSignature": {},
                    "createdAt": {
                        "shape": "Sd"
                    },
                    "updatedAt": {
                        "shape": "Sd"
                    },
                    "actionGroupExecutor": {
                        "shape": "Sg"
                    },
                    "apiSchema": {
                        "shape": "Si"
                    },
                    "actionGroupState": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVFRKFZAZL3SVAYMSJI5EO2DYRIIUJAVLWZNPWBYD5JHSWJBCOUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXWGJRI67HGWI2HF27E4JSIH6GP274AI5COXNKLFIOBJXWRMYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY3KQDI24RCQGRVCI4FLUEYWXSWREEPTNWMZDHYUNDGISF3MDQNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHKCLJVZQJ563M7NWLKA5ZRGYWIOXKMQQX7RU6SBDWK73NZI3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SC5ZHYKM4ITSXXW22URUYK32U5NODLCOBZLD554EB5IKAHYOWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js"
            ]
        },
        "UpdateAgentAlias": {
            "http": {
                "method": "PUT",
                "requestUri": "/agents/{agentId}/agentaliases/{agentAliasId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentAliasId",
                    "agentAliasName"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "agentAliasId": {
                        "location": "uri",
                        "locationName": "agentAliasId"
                    },
                    "agentAliasName": {},
                    "description": {},
                    "routingConfiguration": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentAliasId",
                    "agentAliasName",
                    "routingConfiguration",
                    "agentAliasStatus",
                    "createdAt",
                    "updatedAt"
                ],
                "members": {
                    "agentId": {},
                    "agentAliasId": {},
                    "agentAliasName": {},
                    "description": {},
                    "routingConfiguration": {
                        "shape": "Sq"
                    },
                    "agentAliasStatus": {},
                    "createdAt": {
                        "shape": "Sd"
                    },
                    "updatedAt": {
                        "shape": "Sd"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVFRKFZAZL3SVAYMSJI5EO2DYRIIUJAVLWZNPWBYD5JHSWJBCOUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXWGJRI67HGWI2HF27E4JSIH6GP274AI5COXNKLFIOBJXWRMYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY3KQDI24RCQGRVCI4FLUEYWXSWREEPTNWMZDHYUNDGISF3MDQNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHKCLJVZQJ563M7NWLKA5ZRGYWIOXKMQQX7RU6SBDWK73NZI3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SC5ZHYKM4ITSXXW22URUYK32U5NODLCOBZLD554EB5IKAHYOWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4U6U5UOKJ5U6ZIEEGMRM3X5UWSQPNY27WKSN5BGCJ5UFBPD4NNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5LVANTMEVBT4NROUMPGGWIU5POAAL7IUJEEBVLI5UXFJZ6A76MQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sd": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "Sg": {
            "type": "structure",
            "members": {
                "lambda": {}
            },
            "union": true
        },
        "Si": {
            "type": "structure",
            "members": {
                "dataSource": {
                    "type": "structure",
                    "members": {
                        "s3": {
                            "type": "structure",
                            "required": [
                                "s3BucketName"
                            ],
                            "members": {
                                "s3BucketName": {},
                                "s3ObjectKey": {}
                            }
                        }
                    },
                    "union": true
                }
            }
        },
        "Sq": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "agentVersion"
                ],
                "members": {
                    "agentVersion": {}
                }
            }
        },
        "S10": {
            "type": "list",
            "member": {}
        },
        "S12": {
            "type": "list",
            "member": {}
        }
    }
}