{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-04-20",
        "endpointPrefix": "bedrock",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Bedrock",
        "serviceId": "bedrock",
        "signatureVersion": "v4",
        "signingName": "bedrock",
        "uid": "bedrock-2023-04-20",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LOD6Y6EVDL555JKQG7MI5JV6S6JU425JJHD634PAOKRP55GAAI2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EUQMN3P55B33YCC43LVFY6ZGPKIVJPMWKDB5DQRRC4YBIJVOI3CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SXDEFSV5EFMKKMETDSGJQHM3HA5CHPBY2YUWXI4MFKAOTOR6MZHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IYZH7ABXXISSOFJ33UJNQR33WVE6LRYV3OHJPAGTIIPM43KIHLYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJLP37VVREVETFAZNK2AHNO5AN3LHEYFXZXKDEQ635GKAJPQFAOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
        ]
    },
    "operations": {
        "AcceptAcknowledgement": {
            "http": {
                "requestUri": "/accept-acknowledgement",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "acknowledgementType",
                    "acknowledgementFormVersion",
                    "formData"
                ],
                "members": {
                    "acknowledgementType": {},
                    "acknowledgementFormVersion": {
                        "type": "integer"
                    },
                    "formData": {
                        "type": "structure",
                        "required": [
                            "formData"
                        ],
                        "members": {
                            "formData": {
                                "type": "blob"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLQFCFGPWAUX4VFNI3F7YRFVKWCATWO6FOOELFREJQYGPGDBOAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVFXGREUCDVODIT2IUSNRV2X7U2R5PAGEKRAON3H72HTI62Y6XDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RROVSAVGTTKLBVESSY6ZU6F2BW5RUW6OCXXGQVJQ23JRMUGMQNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7FYOE4JPCYVP6FN44J3TFZPWL5VO7O4EVRL32PW2IHQJXED46QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NREG3G27GMJ46KH5R4U3OGHI3BESLX35VYQR6YZVPN6BALPWW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KMK3TM5ZGSGLCKYT5K3C3TZFJV2ZV4DK6SWZFREMDRCDHAXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NM4FF5FMFUJ3ETNAWJV3SIABFMWUVB2FK7ECXEZSH3L3T7FJEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOD6Y6EVDL555JKQG7MI5JV6S6JU425JJHD634PAOKRP55GAAI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQMN3P55B33YCC43LVFY6ZGPKIVJPMWKDB5DQRRC4YBIJVOI3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXDEFSV5EFMKKMETDSGJQHM3HA5CHPBY2YUWXI4MFKAOTOR6MZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZH7ABXXISSOFJ33UJNQR33WVE6LRYV3OHJPAGTIIPM43KIHLYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJLP37VVREVETFAZNK2AHNO5AN3LHEYFXZXKDEQ635GKAJPQFAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "CreateFineTuningJob": {
            "http": {
                "requestUri": "/fine-tuning-jobs",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobName",
                    "customModelName",
                    "roleArn",
                    "baseModelIdentifier",
                    "trainingDataConfig",
                    "outputDataConfig"
                ],
                "members": {
                    "jobName": {},
                    "customModelName": {},
                    "roleArn": {},
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "baseModelIdentifier": {},
                    "hyperParameters": {
                        "shape": "Sd"
                    },
                    "trainingDataConfig": {
                        "shape": "Sj"
                    },
                    "validationDataConfig": {
                        "shape": "Sl"
                    },
                    "outputDataConfig": {
                        "shape": "Sp"
                    },
                    "jobTags": {
                        "shape": "Sq"
                    },
                    "customModelTags": {
                        "shape": "Sq"
                    },
                    "customizationType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobArn"
                ],
                "members": {
                    "jobArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "DeleteCustomModel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/custom-models/{modelIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "modelIdentifier"
                ],
                "members": {
                    "modelIdentifier": {
                        "location": "uri",
                        "locationName": "modelIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOD6Y6EVDL555JKQG7MI5JV6S6JU425JJHD634PAOKRP55GAAI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQMN3P55B33YCC43LVFY6ZGPKIVJPMWKDB5DQRRC4YBIJVOI3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXDEFSV5EFMKKMETDSGJQHM3HA5CHPBY2YUWXI4MFKAOTOR6MZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZH7ABXXISSOFJ33UJNQR33WVE6LRYV3OHJPAGTIIPM43KIHLYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJLP37VVREVETFAZNK2AHNO5AN3LHEYFXZXKDEQ635GKAJPQFAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "DeletePrompt": {
            "http": {
                "method": "DELETE",
                "requestUri": "/playgrounds/prompts/{promptId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "promptId"
                ],
                "members": {
                    "promptId": {
                        "location": "uri",
                        "locationName": "promptId"
                    },
                    "playgroundId": {
                        "location": "querystring",
                        "locationName": "httpQuery"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLQFCFGPWAUX4VFNI3F7YRFVKWCATWO6FOOELFREJQYGPGDBOAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVFXGREUCDVODIT2IUSNRV2X7U2R5PAGEKRAON3H72HTI62Y6XDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RROVSAVGTTKLBVESSY6ZU6F2BW5RUW6OCXXGQVJQ23JRMUGMQNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7FYOE4JPCYVP6FN44J3TFZPWL5VO7O4EVRL32PW2IHQJXED46QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NREG3G27GMJ46KH5R4U3OGHI3BESLX35VYQR6YZVPN6BALPWW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KMK3TM5ZGSGLCKYT5K3C3TZFJV2ZV4DK6SWZFREMDRCDHAXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NM4FF5FMFUJ3ETNAWJV3SIABFMWUVB2FK7ECXEZSH3L3T7FJEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOD6Y6EVDL555JKQG7MI5JV6S6JU425JJHD634PAOKRP55GAAI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQMN3P55B33YCC43LVFY6ZGPKIVJPMWKDB5DQRRC4YBIJVOI3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXDEFSV5EFMKKMETDSGJQHM3HA5CHPBY2YUWXI4MFKAOTOR6MZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZH7ABXXISSOFJ33UJNQR33WVE6LRYV3OHJPAGTIIPM43KIHLYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJLP37VVREVETFAZNK2AHNO5AN3LHEYFXZXKDEQ635GKAJPQFAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "GenerateText": {
            "http": {
                "requestUri": "/generateText",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "inputText",
                    "modelIdentifier"
                ],
                "members": {
                    "inputText": {
                        "shape": "S13"
                    },
                    "textGenerationConfig": {
                        "shape": "S14"
                    },
                    "modelIdentifier": {},
                    "playgroundId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "results": {
                        "shape": "S1h"
                    },
                    "inputTextTokenCount": {
                        "type": "integer"
                    },
                    "promptId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "GetCustomModel": {
            "http": {
                "method": "GET",
                "requestUri": "/custom-models/{modelIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "modelIdentifier"
                ],
                "members": {
                    "modelIdentifier": {
                        "location": "uri",
                        "locationName": "modelIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "modelArn",
                    "modelName",
                    "jobArn",
                    "baseModelArn",
                    "trainingDataConfig",
                    "outputDataConfig",
                    "creationTime"
                ],
                "members": {
                    "modelArn": {},
                    "modelName": {},
                    "jobName": {},
                    "jobArn": {},
                    "baseModelArn": {},
                    "hyperParameters": {
                        "shape": "Sd"
                    },
                    "trainingDataConfig": {
                        "shape": "Sj"
                    },
                    "validationDataConfig": {
                        "shape": "Sl"
                    },
                    "outputDataConfig": {
                        "shape": "Sp"
                    },
                    "trainingMetrics": {
                        "shape": "S1p"
                    },
                    "validationMetrics": {
                        "shape": "S1r"
                    },
                    "realTimeInferenceStatus": {},
                    "creationTime": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOD6Y6EVDL555JKQG7MI5JV6S6JU425JJHD634PAOKRP55GAAI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQMN3P55B33YCC43LVFY6ZGPKIVJPMWKDB5DQRRC4YBIJVOI3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXDEFSV5EFMKKMETDSGJQHM3HA5CHPBY2YUWXI4MFKAOTOR6MZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZH7ABXXISSOFJ33UJNQR33WVE6LRYV3OHJPAGTIIPM43KIHLYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJLP37VVREVETFAZNK2AHNO5AN3LHEYFXZXKDEQ635GKAJPQFAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "GetFineTuningJob": {
            "http": {
                "method": "GET",
                "requestUri": "/fine-tuning-jobs/{jobIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobIdentifier"
                ],
                "members": {
                    "jobIdentifier": {
                        "location": "uri",
                        "locationName": "jobIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobArn",
                    "jobName",
                    "roleArn",
                    "outputModelName",
                    "baseModelArn",
                    "baseModelName",
                    "trainingDataConfig",
                    "outputDataConfig",
                    "creationTime"
                ],
                "members": {
                    "jobArn": {},
                    "jobName": {},
                    "roleArn": {},
                    "outputModelName": {},
                    "outputModelArn": {},
                    "baseModelArn": {},
                    "baseModelName": {},
                    "trainingDataConfig": {
                        "shape": "Sj"
                    },
                    "validationDataConfig": {
                        "shape": "Sl"
                    },
                    "outputDataConfig": {
                        "shape": "Sp"
                    },
                    "hyperParameters": {
                        "shape": "Sd"
                    },
                    "clientRequestToken": {},
                    "trainingMetrics": {
                        "shape": "S1p"
                    },
                    "validationMetrics": {
                        "shape": "S1r"
                    },
                    "status": {},
                    "failureMessage": {},
                    "creationTime": {
                        "type": "long"
                    },
                    "lastModifiedTime": {
                        "type": "long"
                    },
                    "endTime": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "GetModelPermission": {
            "http": {
                "method": "GET",
                "requestUri": "/model-permission/{modelIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "modelIdentifier"
                ],
                "members": {
                    "modelIdentifier": {
                        "location": "uri",
                        "locationName": "modelIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "modelId",
                    "hasModelPermission",
                    "acknowledgedFTU"
                ],
                "members": {
                    "modelId": {},
                    "hasModelPermission": {
                        "type": "boolean"
                    },
                    "acknowledgedFTU": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLQFCFGPWAUX4VFNI3F7YRFVKWCATWO6FOOELFREJQYGPGDBOAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVFXGREUCDVODIT2IUSNRV2X7U2R5PAGEKRAON3H72HTI62Y6XDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RROVSAVGTTKLBVESSY6ZU6F2BW5RUW6OCXXGQVJQ23JRMUGMQNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7FYOE4JPCYVP6FN44J3TFZPWL5VO7O4EVRL32PW2IHQJXED46QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NREG3G27GMJ46KH5R4U3OGHI3BESLX35VYQR6YZVPN6BALPWW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KMK3TM5ZGSGLCKYT5K3C3TZFJV2ZV4DK6SWZFREMDRCDHAXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NM4FF5FMFUJ3ETNAWJV3SIABFMWUVB2FK7ECXEZSH3L3T7FJEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOD6Y6EVDL555JKQG7MI5JV6S6JU425JJHD634PAOKRP55GAAI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQMN3P55B33YCC43LVFY6ZGPKIVJPMWKDB5DQRRC4YBIJVOI3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXDEFSV5EFMKKMETDSGJQHM3HA5CHPBY2YUWXI4MFKAOTOR6MZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZH7ABXXISSOFJ33UJNQR33WVE6LRYV3OHJPAGTIIPM43KIHLYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJLP37VVREVETFAZNK2AHNO5AN3LHEYFXZXKDEQ635GKAJPQFAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "GetPrompt": {
            "http": {
                "method": "GET",
                "requestUri": "/playgrounds/prompts/{promptId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "promptId"
                ],
                "members": {
                    "promptId": {
                        "location": "uri",
                        "locationName": "promptId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "prompt"
                ],
                "members": {
                    "prompt": {
                        "shape": "S29"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLQFCFGPWAUX4VFNI3F7YRFVKWCATWO6FOOELFREJQYGPGDBOAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVFXGREUCDVODIT2IUSNRV2X7U2R5PAGEKRAON3H72HTI62Y6XDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RROVSAVGTTKLBVESSY6ZU6F2BW5RUW6OCXXGQVJQ23JRMUGMQNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7FYOE4JPCYVP6FN44J3TFZPWL5VO7O4EVRL32PW2IHQJXED46QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NREG3G27GMJ46KH5R4U3OGHI3BESLX35VYQR6YZVPN6BALPWW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KMK3TM5ZGSGLCKYT5K3C3TZFJV2ZV4DK6SWZFREMDRCDHAXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NM4FF5FMFUJ3ETNAWJV3SIABFMWUVB2FK7ECXEZSH3L3T7FJEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOD6Y6EVDL555JKQG7MI5JV6S6JU425JJHD634PAOKRP55GAAI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQMN3P55B33YCC43LVFY6ZGPKIVJPMWKDB5DQRRC4YBIJVOI3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXDEFSV5EFMKKMETDSGJQHM3HA5CHPBY2YUWXI4MFKAOTOR6MZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZH7ABXXISSOFJ33UJNQR33WVE6LRYV3OHJPAGTIIPM43KIHLYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJLP37VVREVETFAZNK2AHNO5AN3LHEYFXZXKDEQ635GKAJPQFAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "GetTextEmbedding": {
            "http": {
                "requestUri": "/getTextEmbedding",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "inputText",
                    "modelIdentifier"
                ],
                "members": {
                    "inputText": {
                        "type": "string",
                        "sensitive": true
                    },
                    "modelIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "embedding": {
                        "type": "list",
                        "member": {
                            "type": "float",
                            "sensitive": true
                        }
                    },
                    "inputTextTokenCount": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "GetUserFeedback": {
            "http": {
                "method": "GET",
                "requestUri": "/user-feedback/{playgroundId}/{promptId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "playgroundId",
                    "promptId"
                ],
                "members": {
                    "playgroundId": {
                        "location": "uri",
                        "locationName": "playgroundId"
                    },
                    "promptId": {
                        "location": "uri",
                        "locationName": "promptId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userFeedbackType"
                ],
                "members": {
                    "userFeedbackType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLQFCFGPWAUX4VFNI3F7YRFVKWCATWO6FOOELFREJQYGPGDBOAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVFXGREUCDVODIT2IUSNRV2X7U2R5PAGEKRAON3H72HTI62Y6XDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RROVSAVGTTKLBVESSY6ZU6F2BW5RUW6OCXXGQVJQ23JRMUGMQNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7FYOE4JPCYVP6FN44J3TFZPWL5VO7O4EVRL32PW2IHQJXED46QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NREG3G27GMJ46KH5R4U3OGHI3BESLX35VYQR6YZVPN6BALPWW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KMK3TM5ZGSGLCKYT5K3C3TZFJV2ZV4DK6SWZFREMDRCDHAXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NM4FF5FMFUJ3ETNAWJV3SIABFMWUVB2FK7ECXEZSH3L3T7FJEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOD6Y6EVDL555JKQG7MI5JV6S6JU425JJHD634PAOKRP55GAAI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQMN3P55B33YCC43LVFY6ZGPKIVJPMWKDB5DQRRC4YBIJVOI3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXDEFSV5EFMKKMETDSGJQHM3HA5CHPBY2YUWXI4MFKAOTOR6MZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZH7ABXXISSOFJ33UJNQR33WVE6LRYV3OHJPAGTIIPM43KIHLYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJLP37VVREVETFAZNK2AHNO5AN3LHEYFXZXKDEQ635GKAJPQFAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "InvokeModel": {
            "http": {
                "requestUri": "/model/{modelId}/invoke",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "body",
                    "modelId"
                ],
                "members": {
                    "body": {
                        "shape": "S2e"
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "accept": {
                        "location": "header",
                        "locationName": "Accept"
                    },
                    "modelId": {
                        "location": "uri",
                        "locationName": "modelId"
                    },
                    "save": {
                        "location": "header",
                        "locationName": "X-Amzn-Bedrock-Save",
                        "type": "boolean"
                    }
                },
                "payload": "body"
            },
            "output": {
                "type": "structure",
                "required": [
                    "body"
                ],
                "members": {
                    "body": {
                        "shape": "S2e"
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "promptId": {
                        "location": "header",
                        "locationName": "X-Amzn-Bedrock-PromptId"
                    }
                },
                "payload": "body"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "ListBuiltInModels": {
            "http": {
                "method": "GET",
                "requestUri": "/builtin-models",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "creationTimeBefore": {
                        "shape": "S2u",
                        "location": "querystring",
                        "locationName": "creationTimeBefore"
                    },
                    "creationTimeAfter": {
                        "shape": "S2u",
                        "location": "querystring",
                        "locationName": "creationTimeAfter"
                    },
                    "nameContains": {
                        "location": "querystring",
                        "locationName": "nameContains"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "modelSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "modelArn",
                                "modelName",
                                "creationTime",
                                "description"
                            ],
                            "members": {
                                "modelArn": {},
                                "modelName": {},
                                "creationTime": {
                                    "type": "long"
                                },
                                "description": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "ListCustomModels": {
            "http": {
                "method": "GET",
                "requestUri": "/custom-models",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "creationTimeBefore": {
                        "shape": "S2u",
                        "location": "querystring",
                        "locationName": "creationTimeBefore"
                    },
                    "creationTimeAfter": {
                        "shape": "S2u",
                        "location": "querystring",
                        "locationName": "creationTimeAfter"
                    },
                    "nameContains": {
                        "location": "querystring",
                        "locationName": "nameContains"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "sortBy": {
                        "location": "querystring",
                        "locationName": "sortBy"
                    },
                    "sortOrder": {
                        "location": "querystring",
                        "locationName": "sortOrder"
                    },
                    "baseModelArnEquals": {
                        "location": "querystring",
                        "locationName": "baseModelArnEquals"
                    },
                    "foundationModelArnEquals": {
                        "location": "querystring",
                        "locationName": "foundationModelArnEquals"
                    },
                    "isOwned": {
                        "location": "querystring",
                        "locationName": "isOwned",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "modelSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "modelArn",
                                "modelName",
                                "creationTime",
                                "baseModelArn",
                                "baseModelName"
                            ],
                            "members": {
                                "modelArn": {},
                                "modelName": {},
                                "creationTime": {
                                    "type": "long"
                                },
                                "baseModelArn": {},
                                "baseModelName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOD6Y6EVDL555JKQG7MI5JV6S6JU425JJHD634PAOKRP55GAAI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQMN3P55B33YCC43LVFY6ZGPKIVJPMWKDB5DQRRC4YBIJVOI3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXDEFSV5EFMKKMETDSGJQHM3HA5CHPBY2YUWXI4MFKAOTOR6MZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZH7ABXXISSOFJ33UJNQR33WVE6LRYV3OHJPAGTIIPM43KIHLYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJLP37VVREVETFAZNK2AHNO5AN3LHEYFXZXKDEQ635GKAJPQFAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "ListFineTuningJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/fine-tuning-jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "creationTimeAfter": {
                        "shape": "S2u",
                        "location": "querystring",
                        "locationName": "creationTimeAfter"
                    },
                    "creationTimeBefore": {
                        "shape": "S2u",
                        "location": "querystring",
                        "locationName": "creationTimeBefore"
                    },
                    "statusEquals": {
                        "location": "querystring",
                        "locationName": "statusEquals"
                    },
                    "nameContains": {
                        "location": "querystring",
                        "locationName": "nameContains"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "sortBy": {
                        "location": "querystring",
                        "locationName": "sortBy"
                    },
                    "sortOrder": {
                        "location": "querystring",
                        "locationName": "sortOrder"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "fineTuningJobSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobArn",
                                "baseModelArn",
                                "baseModelName",
                                "jobName",
                                "status",
                                "customModelName",
                                "lastModifiedTime",
                                "creationTime"
                            ],
                            "members": {
                                "jobArn": {},
                                "baseModelArn": {},
                                "baseModelName": {},
                                "jobName": {},
                                "status": {},
                                "customModelArn": {},
                                "customModelName": {},
                                "lastModifiedTime": {
                                    "type": "long"
                                },
                                "creationTime": {
                                    "type": "long"
                                },
                                "endTime": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "ListFoundationModels": {
            "http": {
                "method": "GET",
                "requestUri": "/foundation-models",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "byProvider": {
                        "location": "querystring",
                        "locationName": "byProvider"
                    },
                    "byCustomizationType": {
                        "location": "querystring",
                        "locationName": "byCustomizationType"
                    },
                    "byInferenceType": {
                        "location": "querystring",
                        "locationName": "byInferenceType"
                    },
                    "byOutputModality": {
                        "location": "querystring",
                        "locationName": "byOutputModality"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "modelSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "modelArn",
                                "modelId"
                            ],
                            "members": {
                                "modelArn": {},
                                "modelId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOD6Y6EVDL555JKQG7MI5JV6S6JU425JJHD634PAOKRP55GAAI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQMN3P55B33YCC43LVFY6ZGPKIVJPMWKDB5DQRRC4YBIJVOI3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXDEFSV5EFMKKMETDSGJQHM3HA5CHPBY2YUWXI4MFKAOTOR6MZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZH7ABXXISSOFJ33UJNQR33WVE6LRYV3OHJPAGTIIPM43KIHLYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJLP37VVREVETFAZNK2AHNO5AN3LHEYFXZXKDEQ635GKAJPQFAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "ListPrompts": {
            "http": {
                "method": "GET",
                "requestUri": "/playgrounds/prompts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "playgroundId": {
                        "location": "querystring",
                        "locationName": "playgroundId"
                    },
                    "modality": {
                        "location": "querystring",
                        "locationName": "Modality"
                    },
                    "bookmarked": {
                        "location": "querystring",
                        "locationName": "bookmarked",
                        "type": "boolean"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "prompts": {
                        "type": "list",
                        "member": {
                            "shape": "S29"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLQFCFGPWAUX4VFNI3F7YRFVKWCATWO6FOOELFREJQYGPGDBOAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVFXGREUCDVODIT2IUSNRV2X7U2R5PAGEKRAON3H72HTI62Y6XDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RROVSAVGTTKLBVESSY6ZU6F2BW5RUW6OCXXGQVJQ23JRMUGMQNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7FYOE4JPCYVP6FN44J3TFZPWL5VO7O4EVRL32PW2IHQJXED46QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NREG3G27GMJ46KH5R4U3OGHI3BESLX35VYQR6YZVPN6BALPWW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KMK3TM5ZGSGLCKYT5K3C3TZFJV2ZV4DK6SWZFREMDRCDHAXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NM4FF5FMFUJ3ETNAWJV3SIABFMWUVB2FK7ECXEZSH3L3T7FJEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOD6Y6EVDL555JKQG7MI5JV6S6JU425JJHD634PAOKRP55GAAI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQMN3P55B33YCC43LVFY6ZGPKIVJPMWKDB5DQRRC4YBIJVOI3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXDEFSV5EFMKKMETDSGJQHM3HA5CHPBY2YUWXI4MFKAOTOR6MZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZH7ABXXISSOFJ33UJNQR33WVE6LRYV3OHJPAGTIIPM43KIHLYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJLP37VVREVETFAZNK2AHNO5AN3LHEYFXZXKDEQ635GKAJPQFAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "SendUserFeedback": {
            "http": {
                "requestUri": "/user-feedback",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "promptId",
                    "playgroundId",
                    "modelId",
                    "feedback"
                ],
                "members": {
                    "promptId": {},
                    "playgroundId": {},
                    "modelId": {},
                    "feedback": {
                        "type": "structure",
                        "required": [
                            "feedbackType",
                            "metadata"
                        ],
                        "members": {
                            "feedbackType": {},
                            "metadata": {
                                "type": "structure",
                                "members": {
                                    "negativeFeedback": {
                                        "type": "structure",
                                        "members": {
                                            "idealResponse": {},
                                            "responseTraits": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "harmfulTraitReasons": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "positiveFeedback": {
                                        "type": "structure",
                                        "members": {
                                            "idealResponse": {}
                                        }
                                    }
                                },
                                "union": true
                            }
                        }
                    },
                    "prompt": {
                        "type": "structure",
                        "members": {
                            "promptId": {},
                            "inputText": {
                                "shape": "S13"
                            },
                            "textGenerationConfig": {
                                "shape": "S14"
                            },
                            "modelIdentifier": {},
                            "playgroundId": {},
                            "results": {
                                "shape": "S1h"
                            },
                            "inputTokenCount": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLQFCFGPWAUX4VFNI3F7YRFVKWCATWO6FOOELFREJQYGPGDBOAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVFXGREUCDVODIT2IUSNRV2X7U2R5PAGEKRAON3H72HTI62Y6XDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RROVSAVGTTKLBVESSY6ZU6F2BW5RUW6OCXXGQVJQ23JRMUGMQNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7FYOE4JPCYVP6FN44J3TFZPWL5VO7O4EVRL32PW2IHQJXED46QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NREG3G27GMJ46KH5R4U3OGHI3BESLX35VYQR6YZVPN6BALPWW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KMK3TM5ZGSGLCKYT5K3C3TZFJV2ZV4DK6SWZFREMDRCDHAXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NM4FF5FMFUJ3ETNAWJV3SIABFMWUVB2FK7ECXEZSH3L3T7FJEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOD6Y6EVDL555JKQG7MI5JV6S6JU425JJHD634PAOKRP55GAAI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQMN3P55B33YCC43LVFY6ZGPKIVJPMWKDB5DQRRC4YBIJVOI3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXDEFSV5EFMKKMETDSGJQHM3HA5CHPBY2YUWXI4MFKAOTOR6MZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZH7ABXXISSOFJ33UJNQR33WVE6LRYV3OHJPAGTIIPM43KIHLYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJLP37VVREVETFAZNK2AHNO5AN3LHEYFXZXKDEQ635GKAJPQFAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "StopFineTuningJob": {
            "http": {
                "requestUri": "/fine-tuning-jobs/{jobIdentifier}/stop",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobIdentifier"
                ],
                "members": {
                    "jobIdentifier": {
                        "location": "uri",
                        "locationName": "jobIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "UpdatePrompt": {
            "http": {
                "method": "PATCH",
                "requestUri": "/playgrounds/prompts/{promptId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "promptId",
                    "bookmarked"
                ],
                "members": {
                    "playgroundId": {},
                    "promptId": {
                        "location": "uri",
                        "locationName": "promptId"
                    },
                    "bookmarked": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "prompt": {
                        "shape": "S29"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLQFCFGPWAUX4VFNI3F7YRFVKWCATWO6FOOELFREJQYGPGDBOAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVFXGREUCDVODIT2IUSNRV2X7U2R5PAGEKRAON3H72HTI62Y6XDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RROVSAVGTTKLBVESSY6ZU6F2BW5RUW6OCXXGQVJQ23JRMUGMQNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7FYOE4JPCYVP6FN44J3TFZPWL5VO7O4EVRL32PW2IHQJXED46QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NREG3G27GMJ46KH5R4U3OGHI3BESLX35VYQR6YZVPN6BALPWW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KMK3TM5ZGSGLCKYT5K3C3TZFJV2ZV4DK6SWZFREMDRCDHAXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NM4FF5FMFUJ3ETNAWJV3SIABFMWUVB2FK7ECXEZSH3L3T7FJEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOD6Y6EVDL555JKQG7MI5JV6S6JU425JJHD634PAOKRP55GAAI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQMN3P55B33YCC43LVFY6ZGPKIVJPMWKDB5DQRRC4YBIJVOI3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXDEFSV5EFMKKMETDSGJQHM3HA5CHPBY2YUWXI4MFKAOTOR6MZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZH7ABXXISSOFJ33UJNQR33WVE6LRYV3OHJPAGTIIPM43KIHLYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJLP37VVREVETFAZNK2AHNO5AN3LHEYFXZXKDEQ635GKAJPQFAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "CreateModelCustomizationJob": {
            "http": {
                "requestUri": "/model-customization-jobs",
                "responseCode": 201
            },
            "input": {
[...]
