{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-09-30",
        "endpointPrefix": "bedrock-runtime",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Bedrock Runtime",
        "serviceId": "Bedrock Runtime",
        "signatureVersion": "v4",
        "signingName": "bedrock",
        "uid": "bedrock-runtime-2023-09-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "InvokeModel": {
            "http": {
                "requestUri": "/model/{modelId}/invoke",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "body",
                    "modelId"
                ],
                "members": {
                    "accept": {
                        "location": "header",
                        "locationName": "Accept"
                    },
                    "body": {
                        "shape": "S3"
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "modelId": {
                        "location": "uri",
                        "locationName": "modelId"
                    },
                    "trace": {
                        "location": "header",
                        "locationName": "X-Amzn-Bedrock-Trace"
                    },
                    "guardrailIdentifier": {
                        "location": "header",
                        "locationName": "X-Amzn-Bedrock-GuardrailIdentifier"
                    },
                    "guardrailVersion": {
                        "location": "header",
                        "locationName": "X-Amzn-Bedrock-GuardrailVersion"
                    }
                },
                "payload": "body"
            },
            "output": {
                "type": "structure",
                "required": [
                    "body",
                    "contentType"
                ],
                "members": {
                    "body": {
                        "shape": "S3"
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    }
                },
                "payload": "body"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "InvokeModelWithResponseStream": {
            "http": {
                "requestUri": "/model/{modelId}/invoke-with-response-stream",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "body",
                    "modelId"
                ],
                "members": {
                    "accept": {
                        "location": "header",
                        "locationName": "X-Amzn-Bedrock-Accept"
                    },
                    "body": {
                        "shape": "S3"
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "modelId": {
                        "location": "uri",
                        "locationName": "modelId"
                    },
                    "trace": {
                        "location": "header",
                        "locationName": "X-Amzn-Bedrock-Trace"
                    },
                    "guardrailIdentifier": {
                        "location": "header",
                        "locationName": "X-Amzn-Bedrock-GuardrailIdentifier"
                    },
                    "guardrailVersion": {
                        "location": "header",
                        "locationName": "X-Amzn-Bedrock-GuardrailVersion"
                    }
                },
                "payload": "body"
            },
            "output": {
                "type": "structure",
                "required": [
                    "body",
                    "contentType"
                ],
                "members": {
                    "body": {
                        "type": "structure",
                        "members": {
                            "chunk": {
                                "type": "structure",
                                "members": {
                                    "bytes": {
                                        "type": "blob",
                                        "sensitive": true
                                    }
                                },
                                "event": true,
                                "sensitive": true
                            },
                            "internalServerException": {
                                "type": "structure",
                                "members": {
                                    "message": {}
                                },
                                "error": {
                                    "httpStatusCode": 500
                                },
                                "exception": true,
                                "fault": true
                            },
                            "modelStreamErrorException": {
                                "type": "structure",
                                "members": {
                                    "message": {},
                                    "originalMessage": {},
                                    "originalStatusCode": {
                                        "type": "integer"
                                    }
                                },
                                "error": {
                                    "httpStatusCode": 424,
                                    "senderFault": true
                                },
                                "exception": true
                            },
                            "throttlingException": {
                                "type": "structure",
                                "members": {
                                    "message": {}
                                },
                                "error": {
                                    "httpStatusCode": 429,
                                    "senderFault": true
                                },
                                "exception": true
                            },
                            "validationException": {
                                "type": "structure",
                                "members": {
                                    "message": {}
                                },
                                "error": {
                                    "httpStatusCode": 400,
                                    "senderFault": true
                                },
                                "exception": true
                            }
                        },
                        "eventstream": true
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "X-Amzn-Bedrock-Content-Type"
                    }
                },
                "payload": "body"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "Converse": {
            "http": {
                "requestUri": "/model/{modelId}/converse",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "modelId",
                    "messages"
                ],
                "members": {
                    "modelId": {
                        "location": "uri",
                        "locationName": "modelId"
                    },
                    "messages": {
                        "shape": "S3"
                    },
                    "system": {
                        "shape": "Sl"
                    },
                    "inferenceConfig": {
                        "shape": "So"
                    },
                    "toolConfig": {
                        "shape": "St"
                    },
                    "additionalModelRequestFields": {
                        "shape": "Sg"
                    },
                    "additionalModelResponseFieldPaths": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "output",
                    "stopReason",
                    "usage",
                    "metrics"
                ],
                "members": {
                    "output": {
                        "type": "structure",
                        "members": {
                            "message": {
                                "shape": "S4"
                            }
                        },
                        "union": true
                    },
                    "stopReason": {},
                    "usage": {
                        "shape": "S17"
                    },
                    "metrics": {
                        "type": "structure",
                        "required": [
                            "latencyMs"
                        ],
                        "members": {
                            "latencyMs": {
                                "type": "long"
                            }
                        }
                    },
                    "additionalModelResponseFields": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js"
            ]
        },
        "ConverseStream": {
            "http": {
                "requestUri": "/model/{modelId}/converse-stream",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "modelId",
                    "messages"
                ],
                "members": {
                    "modelId": {
                        "location": "uri",
                        "locationName": "modelId"
                    },
                    "messages": {
                        "shape": "S3"
                    },
                    "system": {
                        "shape": "Sl"
                    },
                    "inferenceConfig": {
                        "shape": "So"
                    },
                    "toolConfig": {
                        "shape": "St"
                    },
                    "additionalModelRequestFields": {
                        "shape": "Sg"
                    },
                    "additionalModelResponseFieldPaths": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "stream": {
                        "type": "structure",
                        "members": {
                            "messageStart": {
                                "type": "structure",
                                "required": [
                                    "role"
                                ],
                                "members": {
                                    "role": {}
                                },
                                "event": true
                            },
                            "contentBlockStart": {
                                "type": "structure",
                                "required": [
                                    "start",
                                    "contentBlockIndex"
                                ],
                                "members": {
                                    "start": {
                                        "type": "structure",
                                        "members": {
                                            "toolUse": {
                                                "type": "structure",
                                                "required": [
                                                    "toolUseId",
                                                    "name"
                                                ],
                                                "members": {
                                                    "toolUseId": {},
                                                    "name": {}
                                                }
                                            }
                                        },
                                        "union": true
                                    },
                                    "contentBlockIndex": {
                                        "type": "integer"
                                    }
                                },
                                "event": true
                            },
                            "contentBlockDelta": {
                                "type": "structure",
                                "required": [
                                    "delta",
                                    "contentBlockIndex"
                                ],
                                "members": {
                                    "delta": {
                                        "type": "structure",
                                        "members": {
                                            "text": {},
                                            "toolUse": {
                                                "type": "structure",
                                                "required": [
                                                    "input"
                                                ],
                                                "members": {
                                                    "input": {}
                                                }
                                            }
                                        },
                                        "union": true
                                    },
                                    "contentBlockIndex": {
                                        "type": "integer"
                                    }
                                },
                                "event": true
                            },
                            "contentBlockStop": {
                                "type": "structure",
                                "required": [
                                    "contentBlockIndex"
                                ],
                                "members": {
                                    "contentBlockIndex": {
                                        "type": "integer"
                                    }
                                },
                                "event": true
                            },
                            "messageStop": {
                                "type": "structure",
                                "required": [
                                    "stopReason"
                                ],
                                "members": {
                                    "stopReason": {},
                                    "additionalModelResponseFields": {
                                        "shape": "Sg"
                                    }
                                },
                                "event": true
                            },
                            "metadata": {
                                "type": "structure",
                                "required": [
                                    "usage",
                                    "metrics"
                                ],
                                "members": {
                                    "usage": {
                                        "shape": "S17"
                                    },
                                    "metrics": {
                                        "type": "structure",
                                        "required": [
                                            "latencyMs"
                                        ],
                                        "members": {
                                            "latencyMs": {
                                                "type": "long"
                                            }
                                        }
                                    }
                                },
                                "event": true
                            },
                            "internalServerException": {
                                "shape": "S1u"
                            },
                            "modelStreamErrorException": {
                                "shape": "S1w"
                            },
                            "validationException": {
                                "shape": "S1y"
                            },
                            "throttlingException": {
                                "shape": "S1z"
                            }
                        },
                        "eventstream": true
                    }
                },
                "payload": "stream"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "blob",
            "sensitive": true
        },
        "S2": {
            "type": "blob",
            "sensitive": true
        },
        "S4": {
            "type": "structure",
            "required": [
                "role",
                "content"
            ],
            "members": {
                "role": {},
                "content": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "text": {},
                            "image": {
                                "shape": "S9"
                            },
                            "toolUse": {
                                "type": "structure",
                                "required": [
                                    "toolUseId",
                                    "name",
                                    "input"
                                ],
                                "members": {
                                    "toolUseId": {},
                                    "name": {},
                                    "input": {
                                        "shape": "Sg"
                                    }
                                }
                            },
                            "toolResult": {
                                "type": "structure",
                                "required": [
                                    "toolUseId",
                                    "content"
                                ],
                                "members": {
                                    "toolUseId": {},
                                    "content": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "json": {
                                                    "shape": "Sg"
                                                },
                                                "text": {},
                                                "image": {
                                                    "shape": "S9"
                                                }
                                            },
                                            "union": true
                                        }
                                    },
                                    "status": {}
                                }
                            }
                        },
                        "union": true
                    }
                }
            }
        },
        "S9": {
            "type": "structure",
            "required": [
                "format",
                "source"
            ],
            "members": {
                "format": {},
                "source": {
                    "type": "structure",
                    "members": {
                        "bytes": {
                            "type": "blob"
                        }
                    },
                    "union": true
                }
            }
        },
        "Sg": {
            "type": "structure",
            "members": {},
            "document": true
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "text": {}
                },
                "union": true
            }
        },
        "So": {
            "type": "structure",
            "members": {
                "maxTokens": {
                    "type": "integer"
                },
                "temperature": {
                    "type": "float"
                },
                "topP": {
                    "type": "float"
                },
                "stopSequences": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "St": {
            "type": "structure",
            "required": [
                "tools"
            ],
            "members": {
                "tools": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "toolSpec": {
                                "type": "structure",
                                "required": [
                                    "name",
                                    "inputSchema"
                                ],
                                "members": {
                                    "name": {},
                                    "description": {},
                                    "inputSchema": {
                                        "type": "structure",
                                        "members": {
                                            "json": {
                                                "shape": "Sg"
                                            }
                                        },
                                        "union": true
                                    }
                                }
                            }
                        },
                        "union": true
                    }
                },
                "toolChoice": {
                    "type": "structure",
                    "members": {
                        "auto": {
                            "type": "structure",
                            "members": {}
                        },
                        "any": {
                            "type": "structure",
                            "members": {}
                        },
                        "tool": {
                            "type": "structure",
                            "required": [
                                "name"
                            ],
                            "members": {
                                "name": {}
                            }
                        }
                    },
                    "union": true
                }
            }
        },
        "S17": {
            "type": "structure",
            "required": [
                "inputTokens",
                "outputTokens",
                "totalTokens"
            ],
            "members": {
                "inputTokens": {
                    "type": "integer"
                },
                "outputTokens": {
                    "type": "integer"
                },
                "totalTokens": {
                    "type": "integer"
                }
            }
        },
        "S1u": {
            "type": "structure",
            "members": {
                "message": {}
            },
            "error": {
                "httpStatusCode": 500
            },
            "exception": true,
            "fault": true
        },
        "S1w": {
            "type": "structure",
            "members": {
                "message": {},
                "originalStatusCode": {
                    "type": "integer"
                },
                "originalMessage": {}
            },
            "error": {
                "httpStatusCode": 424,
                "senderFault": true
            },
            "exception": true
        },
        "S1y": {
            "type": "structure",
            "members": {
                "message": {}
            },
            "error": {
                "httpStatusCode": 400,
                "senderFault": true
            },
            "exception": true
        },
        "S1z": {
            "type": "structure",
            "members": {
                "message": {}
            },
            "error": {
                "httpStatusCode": 429,
                "senderFault": true
            },
            "exception": true
        },
        "S21": {
            "type": "blob",
            "sensitive": true
        }
    }
}