{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-09-07",
        "endpointPrefix": "billing",
        "jsonVersion": "1.0",
        "protocol": "json",
        "protocols": [
            "json"
        ],
        "serviceFullName": "AWSBilling",
        "serviceId": "Billing",
        "signatureVersion": "v4",
        "signingName": "billing",
        "targetPrefix": "AWSBilling",
        "uid": "billing-2023-09-07",
        "auth": [
            "aws.auth#sigv4"
        ],
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TAAOP5ZYPZWZ2IXAC5MSAV724KNTLCQXQJ5GQBS32UZGSL657O2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
        ]
    },
    "operations": {
        "CreateBillingView": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "sourceViews"
                ],
                "members": {
                    "name": {
                        "shape": "S2"
                    },
                    "description": {
                        "shape": "S3"
                    },
                    "sourceViews": {
                        "shape": "S4"
                    },
                    "dataFilterExpression": {
                        "shape": "S6"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "resourceTags": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {},
                    "createdAt": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "DeleteBillingView": {
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {},
                    "deletedAt": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "GetBillingNotifications": {
            "input": {
                "type": "structure",
                "required": [
                    "billingPeriod",
                    "notificationType"
                ],
                "members": {
                    "nextToken": {},
                    "billingPeriod": {
                        "shape": "Sp"
                    },
                    "notificationType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "notificationSummaries"
                ],
                "members": {
                    "notificationSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "code"
                            ],
                            "members": {
                                "code": {},
                                "attributes": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "GetBillingPreferences": {
            "input": {
                "type": "structure",
                "required": [
                    "features"
                ],
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "features": {
                        "type": "list",
                        "member": {}
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "value": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "billingPreferences"
                ],
                "members": {
                    "billingPreferences": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "feature",
                                "key",
                                "value"
                            ],
                            "members": {
                                "feature": {},
                                "key": {},
                                "value": {},
                                "accountName": {},
                                "accountId": {},
                                "billingPeriod": {
                                    "shape": "Sp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "GetBillingView": {
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "billingView"
                ],
                "members": {
                    "billingView": {
                        "type": "structure",
                        "members": {
                            "arn": {},
                            "name": {
                                "shape": "S2"
                            },
                            "description": {
                                "shape": "S3"
                            },
                            "billingViewType": {},
                            "ownerAccountId": {},
                            "dataFilterExpression": {
                                "shape": "S6"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "GetCredits": {
            "input": {
                "type": "structure",
                "required": [
                    "startDate",
                    "endDate"
                ],
                "members": {
                    "startDate": {
                        "type": "timestamp"
                    },
                    "endDate": {
                        "type": "timestamp"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "creditSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "creditId",
                                "name",
                                "accountId",
                                "startDate",
                                "initialAmount",
                                "remainingAmount"
                            ],
                            "members": {
                                "creditId": {},
                                "name": {},
                                "accountId": {},
                                "applicationType": {},
                                "startDate": {
                                    "type": "timestamp"
                                },
                                "endDate": {
                                    "type": "timestamp"
                                },
                                "exhaustDate": {
                                    "type": "timestamp"
                                },
                                "initialAmount": {
                                    "shape": "S1l"
                                },
                                "remainingAmount": {
                                    "shape": "S1l"
                                },
                                "applicableProducts": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "GetResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {},
                    "policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "ListBillingViews": {
            "input": {
                "type": "structure",
                "required": [
                    "activeTimeRange"
                ],
                "members": {
                    "activeTimeRange": {
                        "type": "structure",
                        "required": [
                            "activeAfterInclusive",
                            "activeBeforeInclusive"
                        ],
                        "members": {
                            "activeAfterInclusive": {
                                "shape": "S1w"
                            },
                            "activeBeforeInclusive": {
                                "shape": "S1w"
                            }
                        }
                    },
                    "arns": {
                        "type": "list",
                        "member": {}
                    },
                    "billingViewTypes": {
                        "type": "list",
                        "member": {}
                    },
                    "ownerAccountId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "name": {
                        "type": "structure",
                        "members": {
                            "operation": {},
                            "expression": {}
                        }
                    },
                    "sourceAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "billingViews"
                ],
                "members": {
                    "billingViews": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "name": {
                                    "shape": "S2"
                                },
                                "ownerAccountId": {},
                                "billingViewType": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "ListSourceViewsForBillingView": {
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "sourceViews"
                ],
                "members": {
                    "sourceViews": {
                        "shape": "S4"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceTags": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "RedeemCredits": {
            "input": {
                "type": "structure",
                "required": [
                    "promoCode"
                ],
                "members": {
                    "promoCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "resourceTags"
                ],
                "members": {
                    "resourceArn": {},
                    "resourceTags": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "resourceTagKeys"
                ],
                "members": {
                    "resourceArn": {},
                    "resourceTagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "UpdateBillingPreferences": {
            "input": {
                "type": "structure",
                "required": [
                    "feature",
                    "billingPreferencesPerKey"
                ],
                "members": {
                    "feature": {},
                    "billingPreferencesPerKey": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "key",
                                "value"
                            ],
                            "members": {
                                "key": {},
                                "value": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "UpdateBillingView": {
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {},
                    "name": {
                        "shape": "S2"
                    },
                    "description": {
                        "shape": "S3"
                    },
                    "dataFilterExpression": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {},
                    "updatedAt": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "DeleteResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "PutResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "policy"
                ],
                "members": {
                    "resourceArn": {},
                    "policy": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "string",
            "sensitive": true
        },
        "S3": {
            "type": "string",
            "sensitive": true
        },
        "S4": {
            "type": "list",
            "member": {}
        },
        "S6": {
            "type": "structure",
            "members": {
                "dimensions": {
                    "type": "structure",
                    "required": [
                        "key",
                        "values"
                    ],
                    "members": {
                        "key": {},
                        "values": {
                            "shape": "S9"
                        }
                    }
                },
                "tags": {
                    "type": "structure",
                    "required": [
                        "key",
                        "values"
                    ],
                    "members": {
                        "key": {},
                        "values": {
                            "shape": "S9"
                        }
                    }
                }
            }
        },
        "S9": {
            "type": "list",
            "member": {}
        },
        "Se": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "key",
                    "value"
                ],
                "members": {
                    "key": {},
                    "value": {}
                }
            }
        },
        "Sp": {
            "type": "structure",
            "required": [
                "year",
                "month"
            ],
            "members": {
                "year": {
                    "type": "integer"
                },
                "month": {
                    "type": "integer"
                }
            }
        },
        "S1l": {
            "type": "structure",
            "required": [
                "currencyCode",
                "currencyAmount"
            ],
            "members": {
                "currencyCode": {},
                "currencyAmount": {}
            }
        },
        "S1w": {
            "type": "timestamp",
            "timestampFormat": "unixTimestamp"
        },
        "Ss": {
            "type": "structure",
            "required": [
                "year",
                "month"
            ],
            "members": {
                "year": {
                    "type": "integer"
                },
                "month": {
                    "type": "integer"
                }
            }
        },
        "S1o": {
            "type": "structure",
            "required": [
                "currencyCode",
                "currencyAmount"
            ],
            "members": {
                "currencyCode": {},
                "currencyAmount": {}
            }
        },
        "S1y": {
            "type": "timestamp",
            "timestampFormat": "unixTimestamp"
        },
        "Sk": {
            "type": "timestamp",
            "timestampFormat": "unixTimestamp"
        },
        "S1p": {
            "type": "structure",
            "required": [
                "currencyCode",
                "currencyAmount"
            ],
            "members": {
                "currencyCode": {},
                "currencyAmount": {}
            }
        },
        "Sr": {
            "type": "structure",
            "required": [
                "year",
                "month"
            ],
            "members": {
                "year": {
                    "type": "integer"
                },
                "month": {
                    "type": "integer"
                }
            }
        },
        "S1n": {
            "type": "structure",
            "required": [
                "currencyCode",
                "currencyAmount"
            ],
            "members": {
                "currencyCode": {},
                "currencyAmount": {}
            }
        },
        "S1s": {
            "type": "structure",
            "required": [
                "currencyCode",
                "currencyAmount"
            ],
            "members": {
                "currencyCode": {},
                "currencyAmount": {}
            }
        }
    }
}