{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-07-30",
        "endpointPrefix": "billingconductor",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWSBillingConductor",
        "serviceId": "billingconductor",
        "signatureVersion": "v4",
        "signingName": "billingconductor",
        "uid": "billingconductor-2021-07-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YIB7BOCYOIW4KSFM5LHYFTKJ6UCFH7LRXFLCT3I7OYNGWSZF5RXA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TCY3NXFKQZ26ZIOP3SDKCAP2HBCNNWZHZTPNXA5SWUIHLO4FZJCQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H3S3CKGJRTRL43HIG345K5EBRY67IN6ME6IVLFSO4VK56SL53VRQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/36Y2M6YYRADYTIORN7AB2FUUR6VELNPGYKSEH5MBYGGF7WV53BPA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HFY3DUOE3BWWYJZW5DF7BJ4F5RA5SMIBANHJFIC7767BEVI7UNWA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VI7UDE4R7Q7PXLOVQTKZ3SU5RCIAELA3HGCRUMPMZN6BFTQJCSVQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5I3QUJ3KD7LUUTQKDIIC6MIFAEN2WTSDF6HJTMLSYOG23PPJ3PDQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YG7R3TDN2H34R7VES63FOBLAMVEHGW3G4NJQNQV7L73QJZFTSWDA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQEMWFUWXLSKMVHNUTLHHYO44K4PY5LFGOSYCHZVKWZHOPPI3Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MJEG5IUN2Z4LB3LXEQ7XSUFYZ6F5H4ZGO6EO7BPTACLYZ27NPYRQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A45OGOIKNV57PCFKGVLYQGLYI2VS3LLVLV4LSAFYAQZYCSIS2S4Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4UAWDL2LB7GJCOCJLC6JKZ36OWTRSPAVLL4PGHEJ3PDH2D26QONQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SM25YX5K5RIIPLCWPK6X5RXU5AD2VB3V56CSTTLLRD3CSAPACQEQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T4G3SJUOVU5WHEMG6J5WNPW7WT5FW36TI4KFVORLA5Y66UED775A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HIM6WSTWFH75EW62YDBVEGA5LMYAOEKHTHKEH3ECJAZYMDS56N4A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R3J6IQYGC4UTR4YFQQKQ7DED36IWOB7ZTJXZHL4BQMZ36HPJG4BA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ZXEQDYJ23L6HANGKRFWYDAPK3ZEYD7URHTO6JEAAXRV7CYSH3EQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateAccounts": {
            "http": {
                "requestUri": "/associate-accounts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "AccountIds"
                ],
                "members": {
                    "Arn": {},
                    "AccountIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIB7BOCYOIW4KSFM5LHYFTKJ6UCFH7LRXFLCT3I7OYNGWSZF5RXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCY3NXFKQZ26ZIOP3SDKCAP2HBCNNWZHZTPNXA5SWUIHLO4FZJCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3S3CKGJRTRL43HIG345K5EBRY67IN6ME6IVLFSO4VK56SL53VRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36Y2M6YYRADYTIORN7AB2FUUR6VELNPGYKSEH5MBYGGF7WV53BPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFY3DUOE3BWWYJZW5DF7BJ4F5RA5SMIBANHJFIC7767BEVI7UNWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI7UDE4R7Q7PXLOVQTKZ3SU5RCIAELA3HGCRUMPMZN6BFTQJCSVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5I3QUJ3KD7LUUTQKDIIC6MIFAEN2WTSDF6HJTMLSYOG23PPJ3PDQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG7R3TDN2H34R7VES63FOBLAMVEHGW3G4NJQNQV7L73QJZFTSWDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQEMWFUWXLSKMVHNUTLHHYO44K4PY5LFGOSYCHZVKWZHOPPI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJEG5IUN2Z4LB3LXEQ7XSUFYZ6F5H4ZGO6EO7BPTACLYZ27NPYRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45OGOIKNV57PCFKGVLYQGLYI2VS3LLVLV4LSAFYAQZYCSIS2S4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAWDL2LB7GJCOCJLC6JKZ36OWTRSPAVLL4PGHEJ3PDH2D26QONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM25YX5K5RIIPLCWPK6X5RXU5AD2VB3V56CSTTLLRD3CSAPACQEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4G3SJUOVU5WHEMG6J5WNPW7WT5FW36TI4KFVORLA5Y66UED775A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIM6WSTWFH75EW62YDBVEGA5LMYAOEKHTHKEH3ECJAZYMDS56N4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3J6IQYGC4UTR4YFQQKQ7DED36IWOB7ZTJXZHL4BQMZ36HPJG4BA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZXEQDYJ23L6HANGKRFWYDAPK3ZEYD7URHTO6JEAAXRV7CYSH3EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AssociatePricingRules": {
            "http": {
                "method": "PUT",
                "requestUri": "/associate-pricing-rules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "PricingRuleArns"
                ],
                "members": {
                    "Arn": {},
                    "PricingRuleArns": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIB7BOCYOIW4KSFM5LHYFTKJ6UCFH7LRXFLCT3I7OYNGWSZF5RXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCY3NXFKQZ26ZIOP3SDKCAP2HBCNNWZHZTPNXA5SWUIHLO4FZJCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3S3CKGJRTRL43HIG345K5EBRY67IN6ME6IVLFSO4VK56SL53VRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36Y2M6YYRADYTIORN7AB2FUUR6VELNPGYKSEH5MBYGGF7WV53BPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFY3DUOE3BWWYJZW5DF7BJ4F5RA5SMIBANHJFIC7767BEVI7UNWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI7UDE4R7Q7PXLOVQTKZ3SU5RCIAELA3HGCRUMPMZN6BFTQJCSVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5I3QUJ3KD7LUUTQKDIIC6MIFAEN2WTSDF6HJTMLSYOG23PPJ3PDQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG7R3TDN2H34R7VES63FOBLAMVEHGW3G4NJQNQV7L73QJZFTSWDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQEMWFUWXLSKMVHNUTLHHYO44K4PY5LFGOSYCHZVKWZHOPPI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJEG5IUN2Z4LB3LXEQ7XSUFYZ6F5H4ZGO6EO7BPTACLYZ27NPYRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45OGOIKNV57PCFKGVLYQGLYI2VS3LLVLV4LSAFYAQZYCSIS2S4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAWDL2LB7GJCOCJLC6JKZ36OWTRSPAVLL4PGHEJ3PDH2D26QONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM25YX5K5RIIPLCWPK6X5RXU5AD2VB3V56CSTTLLRD3CSAPACQEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4G3SJUOVU5WHEMG6J5WNPW7WT5FW36TI4KFVORLA5Y66UED775A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIM6WSTWFH75EW62YDBVEGA5LMYAOEKHTHKEH3ECJAZYMDS56N4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3J6IQYGC4UTR4YFQQKQ7DED36IWOB7ZTJXZHL4BQMZ36HPJG4BA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZXEQDYJ23L6HANGKRFWYDAPK3ZEYD7URHTO6JEAAXRV7CYSH3EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "BatchAssociateResourcesToCustomLineItem": {
            "http": {
                "method": "PUT",
                "requestUri": "/batch-associate-resources-to-custom-line-item",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TargetArn",
                    "ResourceArns"
                ],
                "members": {
                    "TargetArn": {},
                    "ResourceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "BillingPeriodRange": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SuccessfullyAssociatedResources": {
                        "shape": "Si"
                    },
                    "FailedAssociatedResources": {
                        "shape": "Si"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIB7BOCYOIW4KSFM5LHYFTKJ6UCFH7LRXFLCT3I7OYNGWSZF5RXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCY3NXFKQZ26ZIOP3SDKCAP2HBCNNWZHZTPNXA5SWUIHLO4FZJCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3S3CKGJRTRL43HIG345K5EBRY67IN6ME6IVLFSO4VK56SL53VRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36Y2M6YYRADYTIORN7AB2FUUR6VELNPGYKSEH5MBYGGF7WV53BPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFY3DUOE3BWWYJZW5DF7BJ4F5RA5SMIBANHJFIC7767BEVI7UNWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI7UDE4R7Q7PXLOVQTKZ3SU5RCIAELA3HGCRUMPMZN6BFTQJCSVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5I3QUJ3KD7LUUTQKDIIC6MIFAEN2WTSDF6HJTMLSYOG23PPJ3PDQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG7R3TDN2H34R7VES63FOBLAMVEHGW3G4NJQNQV7L73QJZFTSWDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQEMWFUWXLSKMVHNUTLHHYO44K4PY5LFGOSYCHZVKWZHOPPI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJEG5IUN2Z4LB3LXEQ7XSUFYZ6F5H4ZGO6EO7BPTACLYZ27NPYRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45OGOIKNV57PCFKGVLYQGLYI2VS3LLVLV4LSAFYAQZYCSIS2S4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAWDL2LB7GJCOCJLC6JKZ36OWTRSPAVLL4PGHEJ3PDH2D26QONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM25YX5K5RIIPLCWPK6X5RXU5AD2VB3V56CSTTLLRD3CSAPACQEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4G3SJUOVU5WHEMG6J5WNPW7WT5FW36TI4KFVORLA5Y66UED775A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIM6WSTWFH75EW62YDBVEGA5LMYAOEKHTHKEH3ECJAZYMDS56N4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3J6IQYGC4UTR4YFQQKQ7DED36IWOB7ZTJXZHL4BQMZ36HPJG4BA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZXEQDYJ23L6HANGKRFWYDAPK3ZEYD7URHTO6JEAAXRV7CYSH3EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "BatchDisassociateResourcesFromCustomLineItem": {
            "http": {
                "method": "PUT",
                "requestUri": "/batch-disassociate-resources-from-custom-line-item",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TargetArn",
                    "ResourceArns"
                ],
                "members": {
                    "TargetArn": {},
                    "ResourceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "BillingPeriodRange": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SuccessfullyDisassociatedResources": {
                        "shape": "Sq"
                    },
                    "FailedDisassociatedResources": {
                        "shape": "Sq"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIB7BOCYOIW4KSFM5LHYFTKJ6UCFH7LRXFLCT3I7OYNGWSZF5RXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCY3NXFKQZ26ZIOP3SDKCAP2HBCNNWZHZTPNXA5SWUIHLO4FZJCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3S3CKGJRTRL43HIG345K5EBRY67IN6ME6IVLFSO4VK56SL53VRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36Y2M6YYRADYTIORN7AB2FUUR6VELNPGYKSEH5MBYGGF7WV53BPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFY3DUOE3BWWYJZW5DF7BJ4F5RA5SMIBANHJFIC7767BEVI7UNWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI7UDE4R7Q7PXLOVQTKZ3SU5RCIAELA3HGCRUMPMZN6BFTQJCSVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5I3QUJ3KD7LUUTQKDIIC6MIFAEN2WTSDF6HJTMLSYOG23PPJ3PDQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG7R3TDN2H34R7VES63FOBLAMVEHGW3G4NJQNQV7L73QJZFTSWDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQEMWFUWXLSKMVHNUTLHHYO44K4PY5LFGOSYCHZVKWZHOPPI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJEG5IUN2Z4LB3LXEQ7XSUFYZ6F5H4ZGO6EO7BPTACLYZ27NPYRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45OGOIKNV57PCFKGVLYQGLYI2VS3LLVLV4LSAFYAQZYCSIS2S4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAWDL2LB7GJCOCJLC6JKZ36OWTRSPAVLL4PGHEJ3PDH2D26QONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM25YX5K5RIIPLCWPK6X5RXU5AD2VB3V56CSTTLLRD3CSAPACQEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4G3SJUOVU5WHEMG6J5WNPW7WT5FW36TI4KFVORLA5Y66UED775A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIM6WSTWFH75EW62YDBVEGA5LMYAOEKHTHKEH3ECJAZYMDS56N4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3J6IQYGC4UTR4YFQQKQ7DED36IWOB7ZTJXZHL4BQMZ36HPJG4BA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZXEQDYJ23L6HANGKRFWYDAPK3ZEYD7URHTO6JEAAXRV7CYSH3EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateBillingGroup": {
            "http": {
                "requestUri": "/create-billing-group",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "AccountGrouping",
                    "ComputationPreference"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    },
                    "Name": {
                        "shape": "Su"
                    },
                    "AccountGrouping": {
                        "type": "structure",
                        "required": [
                            "LinkedAccountIds"
                        ],
                        "members": {
                            "LinkedAccountIds": {
                                "shape": "S3"
                            }
                        }
                    },
                    "ComputationPreference": {
                        "shape": "Sw"
                    },
                    "PrimaryAccountId": {},
                    "Description": {
                        "shape": "Sy"
                    },
                    "Tags": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIB7BOCYOIW4KSFM5LHYFTKJ6UCFH7LRXFLCT3I7OYNGWSZF5RXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCY3NXFKQZ26ZIOP3SDKCAP2HBCNNWZHZTPNXA5SWUIHLO4FZJCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3S3CKGJRTRL43HIG345K5EBRY67IN6ME6IVLFSO4VK56SL53VRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36Y2M6YYRADYTIORN7AB2FUUR6VELNPGYKSEH5MBYGGF7WV53BPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFY3DUOE3BWWYJZW5DF7BJ4F5RA5SMIBANHJFIC7767BEVI7UNWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI7UDE4R7Q7PXLOVQTKZ3SU5RCIAELA3HGCRUMPMZN6BFTQJCSVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5I3QUJ3KD7LUUTQKDIIC6MIFAEN2WTSDF6HJTMLSYOG23PPJ3PDQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG7R3TDN2H34R7VES63FOBLAMVEHGW3G4NJQNQV7L73QJZFTSWDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQEMWFUWXLSKMVHNUTLHHYO44K4PY5LFGOSYCHZVKWZHOPPI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJEG5IUN2Z4LB3LXEQ7XSUFYZ6F5H4ZGO6EO7BPTACLYZ27NPYRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45OGOIKNV57PCFKGVLYQGLYI2VS3LLVLV4LSAFYAQZYCSIS2S4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAWDL2LB7GJCOCJLC6JKZ36OWTRSPAVLL4PGHEJ3PDH2D26QONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM25YX5K5RIIPLCWPK6X5RXU5AD2VB3V56CSTTLLRD3CSAPACQEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4G3SJUOVU5WHEMG6J5WNPW7WT5FW36TI4KFVORLA5Y66UED775A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIM6WSTWFH75EW62YDBVEGA5LMYAOEKHTHKEH3ECJAZYMDS56N4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3J6IQYGC4UTR4YFQQKQ7DED36IWOB7ZTJXZHL4BQMZ36HPJG4BA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZXEQDYJ23L6HANGKRFWYDAPK3ZEYD7URHTO6JEAAXRV7CYSH3EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateCustomLineItem": {
            "http": {
                "requestUri": "/create-custom-line-item",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Description",
                    "BillingGroupArn",
                    "ChargeDetails"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    },
                    "Name": {
                        "shape": "S14"
                    },
                    "Description": {
                        "shape": "S15"
                    },
                    "BillingGroupArn": {},
                    "BillingPeriodRange": {
                        "shape": "Sf"
                    },
                    "Tags": {
                        "shape": "Sz"
                    },
                    "ChargeDetails": {
                        "type": "structure",
                        "required": [
                            "Type"
                        ],
                        "members": {
                            "Flat": {
                                "type": "structure",
                                "required": [
                                    "ChargeValue"
                                ],
                                "members": {
                                    "ChargeValue": {
                                        "type": "double"
                                    }
                                }
                            },
                            "Percentage": {
                                "type": "structure",
                                "required": [
                                    "PercentageValue"
                                ],
                                "members": {
                                    "PercentageValue": {
                                        "type": "double"
                                    },
                                    "AssociatedValues": {
                                        "type": "list",
                                        "member": {}
                                    }
                                }
                            },
                            "Type": {}
                        }
                    },
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIB7BOCYOIW4KSFM5LHYFTKJ6UCFH7LRXFLCT3I7OYNGWSZF5RXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCY3NXFKQZ26ZIOP3SDKCAP2HBCNNWZHZTPNXA5SWUIHLO4FZJCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3S3CKGJRTRL43HIG345K5EBRY67IN6ME6IVLFSO4VK56SL53VRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36Y2M6YYRADYTIORN7AB2FUUR6VELNPGYKSEH5MBYGGF7WV53BPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFY3DUOE3BWWYJZW5DF7BJ4F5RA5SMIBANHJFIC7767BEVI7UNWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI7UDE4R7Q7PXLOVQTKZ3SU5RCIAELA3HGCRUMPMZN6BFTQJCSVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5I3QUJ3KD7LUUTQKDIIC6MIFAEN2WTSDF6HJTMLSYOG23PPJ3PDQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG7R3TDN2H34R7VES63FOBLAMVEHGW3G4NJQNQV7L73QJZFTSWDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQEMWFUWXLSKMVHNUTLHHYO44K4PY5LFGOSYCHZVKWZHOPPI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJEG5IUN2Z4LB3LXEQ7XSUFYZ6F5H4ZGO6EO7BPTACLYZ27NPYRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45OGOIKNV57PCFKGVLYQGLYI2VS3LLVLV4LSAFYAQZYCSIS2S4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAWDL2LB7GJCOCJLC6JKZ36OWTRSPAVLL4PGHEJ3PDH2D26QONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM25YX5K5RIIPLCWPK6X5RXU5AD2VB3V56CSTTLLRD3CSAPACQEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4G3SJUOVU5WHEMG6J5WNPW7WT5FW36TI4KFVORLA5Y66UED775A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIM6WSTWFH75EW62YDBVEGA5LMYAOEKHTHKEH3ECJAZYMDS56N4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3J6IQYGC4UTR4YFQQKQ7DED36IWOB7ZTJXZHL4BQMZ36HPJG4BA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZXEQDYJ23L6HANGKRFWYDAPK3ZEYD7URHTO6JEAAXRV7CYSH3EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreatePricingPlan": {
            "http": {
                "requestUri": "/create-pricing-plan",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    },
                    "Name": {
                        "shape": "S1f"
                    },
                    "Description": {
                        "shape": "S1g"
                    },
                    "PricingRuleArns": {
                        "type": "list",
                        "member": {}
                    },
                    "Tags": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIB7BOCYOIW4KSFM5LHYFTKJ6UCFH7LRXFLCT3I7OYNGWSZF5RXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCY3NXFKQZ26ZIOP3SDKCAP2HBCNNWZHZTPNXA5SWUIHLO4FZJCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3S3CKGJRTRL43HIG345K5EBRY67IN6ME6IVLFSO4VK56SL53VRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36Y2M6YYRADYTIORN7AB2FUUR6VELNPGYKSEH5MBYGGF7WV53BPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFY3DUOE3BWWYJZW5DF7BJ4F5RA5SMIBANHJFIC7767BEVI7UNWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI7UDE4R7Q7PXLOVQTKZ3SU5RCIAELA3HGCRUMPMZN6BFTQJCSVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5I3QUJ3KD7LUUTQKDIIC6MIFAEN2WTSDF6HJTMLSYOG23PPJ3PDQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG7R3TDN2H34R7VES63FOBLAMVEHGW3G4NJQNQV7L73QJZFTSWDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQEMWFUWXLSKMVHNUTLHHYO44K4PY5LFGOSYCHZVKWZHOPPI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJEG5IUN2Z4LB3LXEQ7XSUFYZ6F5H4ZGO6EO7BPTACLYZ27NPYRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45OGOIKNV57PCFKGVLYQGLYI2VS3LLVLV4LSAFYAQZYCSIS2S4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAWDL2LB7GJCOCJLC6JKZ36OWTRSPAVLL4PGHEJ3PDH2D26QONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM25YX5K5RIIPLCWPK6X5RXU5AD2VB3V56CSTTLLRD3CSAPACQEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4G3SJUOVU5WHEMG6J5WNPW7WT5FW36TI4KFVORLA5Y66UED775A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIM6WSTWFH75EW62YDBVEGA5LMYAOEKHTHKEH3ECJAZYMDS56N4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3J6IQYGC4UTR4YFQQKQ7DED36IWOB7ZTJXZHL4BQMZ36HPJG4BA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZXEQDYJ23L6HANGKRFWYDAPK3ZEYD7URHTO6JEAAXRV7CYSH3EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreatePricingRule": {
            "http": {
                "requestUri": "/create-pricing-rule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "Type",
                    "ModifierPercentage"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    },
                    "Name": {
                        "shape": "S1k"
                    },
                    "Description": {
                        "shape": "S1l"
                    },
                    "Scope": {},
                    "Type": {},
                    "ModifierPercentage": {
                        "type": "double"
                    },
                    "Service": {},
                    "Tags": {
                        "shape": "Sz"
                    },
                    "BillingEntity": {},
                    "Tiering": {
                        "type": "structure",
                        "required": [
                            "FreeTier"
                        ],
                        "members": {
                            "FreeTier": {
                                "type": "structure",
                                "required": [
                                    "Activated"
                                ],
                                "members": {
                                    "Activated": {
                                        "type": "boolean"
                                    }
                                }
                            }
                        }
                    },
                    "UsageType": {},
                    "Operation": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIB7BOCYOIW4KSFM5LHYFTKJ6UCFH7LRXFLCT3I7OYNGWSZF5RXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCY3NXFKQZ26ZIOP3SDKCAP2HBCNNWZHZTPNXA5SWUIHLO4FZJCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3S3CKGJRTRL43HIG345K5EBRY67IN6ME6IVLFSO4VK56SL53VRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36Y2M6YYRADYTIORN7AB2FUUR6VELNPGYKSEH5MBYGGF7WV53BPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFY3DUOE3BWWYJZW5DF7BJ4F5RA5SMIBANHJFIC7767BEVI7UNWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI7UDE4R7Q7PXLOVQTKZ3SU5RCIAELA3HGCRUMPMZN6BFTQJCSVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5I3QUJ3KD7LUUTQKDIIC6MIFAEN2WTSDF6HJTMLSYOG23PPJ3PDQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG7R3TDN2H34R7VES63FOBLAMVEHGW3G4NJQNQV7L73QJZFTSWDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQEMWFUWXLSKMVHNUTLHHYO44K4PY5LFGOSYCHZVKWZHOPPI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJEG5IUN2Z4LB3LXEQ7XSUFYZ6F5H4ZGO6EO7BPTACLYZ27NPYRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45OGOIKNV57PCFKGVLYQGLYI2VS3LLVLV4LSAFYAQZYCSIS2S4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAWDL2LB7GJCOCJLC6JKZ36OWTRSPAVLL4PGHEJ3PDH2D26QONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM25YX5K5RIIPLCWPK6X5RXU5AD2VB3V56CSTTLLRD3CSAPACQEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4G3SJUOVU5WHEMG6J5WNPW7WT5FW36TI4KFVORLA5Y66UED775A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIM6WSTWFH75EW62YDBVEGA5LMYAOEKHTHKEH3ECJAZYMDS56N4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3J6IQYGC4UTR4YFQQKQ7DED36IWOB7ZTJXZHL4BQMZ36HPJG4BA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZXEQDYJ23L6HANGKRFWYDAPK3ZEYD7URHTO6JEAAXRV7CYSH3EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteBillingGroup": {
            "http": {
                "requestUri": "/delete-billing-group",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIB7BOCYOIW4KSFM5LHYFTKJ6UCFH7LRXFLCT3I7OYNGWSZF5RXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCY3NXFKQZ26ZIOP3SDKCAP2HBCNNWZHZTPNXA5SWUIHLO4FZJCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3S3CKGJRTRL43HIG345K5EBRY67IN6ME6IVLFSO4VK56SL53VRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36Y2M6YYRADYTIORN7AB2FUUR6VELNPGYKSEH5MBYGGF7WV53BPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFY3DUOE3BWWYJZW5DF7BJ4F5RA5SMIBANHJFIC7767BEVI7UNWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI7UDE4R7Q7PXLOVQTKZ3SU5RCIAELA3HGCRUMPMZN6BFTQJCSVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5I3QUJ3KD7LUUTQKDIIC6MIFAEN2WTSDF6HJTMLSYOG23PPJ3PDQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG7R3TDN2H34R7VES63FOBLAMVEHGW3G4NJQNQV7L73QJZFTSWDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQEMWFUWXLSKMVHNUTLHHYO44K4PY5LFGOSYCHZVKWZHOPPI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJEG5IUN2Z4LB3LXEQ7XSUFYZ6F5H4ZGO6EO7BPTACLYZ27NPYRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45OGOIKNV57PCFKGVLYQGLYI2VS3LLVLV4LSAFYAQZYCSIS2S4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAWDL2LB7GJCOCJLC6JKZ36OWTRSPAVLL4PGHEJ3PDH2D26QONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM25YX5K5RIIPLCWPK6X5RXU5AD2VB3V56CSTTLLRD3CSAPACQEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4G3SJUOVU5WHEMG6J5WNPW7WT5FW36TI4KFVORLA5Y66UED775A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIM6WSTWFH75EW62YDBVEGA5LMYAOEKHTHKEH3ECJAZYMDS56N4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3J6IQYGC4UTR4YFQQKQ7DED36IWOB7ZTJXZHL4BQMZ36HPJG4BA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZXEQDYJ23L6HANGKRFWYDAPK3ZEYD7URHTO6JEAAXRV7CYSH3EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteCustomLineItem": {
            "http": {
                "requestUri": "/delete-custom-line-item",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {},
                    "BillingPeriodRange": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIB7BOCYOIW4KSFM5LHYFTKJ6UCFH7LRXFLCT3I7OYNGWSZF5RXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCY3NXFKQZ26ZIOP3SDKCAP2HBCNNWZHZTPNXA5SWUIHLO4FZJCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3S3CKGJRTRL43HIG345K5EBRY67IN6ME6IVLFSO4VK56SL53VRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36Y2M6YYRADYTIORN7AB2FUUR6VELNPGYKSEH5MBYGGF7WV53BPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFY3DUOE3BWWYJZW5DF7BJ4F5RA5SMIBANHJFIC7767BEVI7UNWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI7UDE4R7Q7PXLOVQTKZ3SU5RCIAELA3HGCRUMPMZN6BFTQJCSVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5I3QUJ3KD7LUUTQKDIIC6MIFAEN2WTSDF6HJTMLSYOG23PPJ3PDQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG7R3TDN2H34R7VES63FOBLAMVEHGW3G4NJQNQV7L73QJZFTSWDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQEMWFUWXLSKMVHNUTLHHYO44K4PY5LFGOSYCHZVKWZHOPPI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJEG5IUN2Z4LB3LXEQ7XSUFYZ6F5H4ZGO6EO7BPTACLYZ27NPYRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45OGOIKNV57PCFKGVLYQGLYI2VS3LLVLV4LSAFYAQZYCSIS2S4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAWDL2LB7GJCOCJLC6JKZ36OWTRSPAVLL4PGHEJ3PDH2D26QONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM25YX5K5RIIPLCWPK6X5RXU5AD2VB3V56CSTTLLRD3CSAPACQEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4G3SJUOVU5WHEMG6J5WNPW7WT5FW36TI4KFVORLA5Y66UED775A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIM6WSTWFH75EW62YDBVEGA5LMYAOEKHTHKEH3ECJAZYMDS56N4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3J6IQYGC4UTR4YFQQKQ7DED36IWOB7ZTJXZHL4BQMZ36HPJG4BA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZXEQDYJ23L6HANGKRFWYDAPK3ZEYD7URHTO6JEAAXRV7CYSH3EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeletePricingPlan": {
            "http": {
                "requestUri": "/delete-pricing-plan",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIB7BOCYOIW4KSFM5LHYFTKJ6UCFH7LRXFLCT3I7OYNGWSZF5RXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCY3NXFKQZ26ZIOP3SDKCAP2HBCNNWZHZTPNXA5SWUIHLO4FZJCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3S3CKGJRTRL43HIG345K5EBRY67IN6ME6IVLFSO4VK56SL53VRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36Y2M6YYRADYTIORN7AB2FUUR6VELNPGYKSEH5MBYGGF7WV53BPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFY3DUOE3BWWYJZW5DF7BJ4F5RA5SMIBANHJFIC7767BEVI7UNWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI7UDE4R7Q7PXLOVQTKZ3SU5RCIAELA3HGCRUMPMZN6BFTQJCSVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5I3QUJ3KD7LUUTQKDIIC6MIFAEN2WTSDF6HJTMLSYOG23PPJ3PDQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG7R3TDN2H34R7VES63FOBLAMVEHGW3G4NJQNQV7L73QJZFTSWDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQEMWFUWXLSKMVHNUTLHHYO44K4PY5LFGOSYCHZVKWZHOPPI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJEG5IUN2Z4LB3LXEQ7XSUFYZ6F5H4ZGO6EO7BPTACLYZ27NPYRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45OGOIKNV57PCFKGVLYQGLYI2VS3LLVLV4LSAFYAQZYCSIS2S4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAWDL2LB7GJCOCJLC6JKZ36OWTRSPAVLL4PGHEJ3PDH2D26QONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM25YX5K5RIIPLCWPK6X5RXU5AD2VB3V56CSTTLLRD3CSAPACQEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4G3SJUOVU5WHEMG6J5WNPW7WT5FW36TI4KFVORLA5Y66UED775A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIM6WSTWFH75EW62YDBVEGA5LMYAOEKHTHKEH3ECJAZYMDS56N4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3J6IQYGC4UTR4YFQQKQ7DED36IWOB7ZTJXZHL4BQMZ36HPJG4BA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZXEQDYJ23L6HANGKRFWYDAPK3ZEYD7URHTO6JEAAXRV7CYSH3EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeletePricingRule": {
            "http": {
                "requestUri": "/delete-pricing-rule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIB7BOCYOIW4KSFM5LHYFTKJ6UCFH7LRXFLCT3I7OYNGWSZF5RXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCY3NXFKQZ26ZIOP3SDKCAP2HBCNNWZHZTPNXA5SWUIHLO4FZJCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3S3CKGJRTRL43HIG345K5EBRY67IN6ME6IVLFSO4VK56SL53VRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36Y2M6YYRADYTIORN7AB2FUUR6VELNPGYKSEH5MBYGGF7WV53BPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFY3DUOE3BWWYJZW5DF7BJ4F5RA5SMIBANHJFIC7767BEVI7UNWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI7UDE4R7Q7PXLOVQTKZ3SU5RCIAELA3HGCRUMPMZN6BFTQJCSVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5I3QUJ3KD7LUUTQKDIIC6MIFAEN2WTSDF6HJTMLSYOG23PPJ3PDQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG7R3TDN2H34R7VES63FOBLAMVEHGW3G4NJQNQV7L73QJZFTSWDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQEMWFUWXLSKMVHNUTLHHYO44K4PY5LFGOSYCHZVKWZHOPPI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJEG5IUN2Z4LB3LXEQ7XSUFYZ6F5H4ZGO6EO7BPTACLYZ27NPYRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45OGOIKNV57PCFKGVLYQGLYI2VS3LLVLV4LSAFYAQZYCSIS2S4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAWDL2LB7GJCOCJLC6JKZ36OWTRSPAVLL4PGHEJ3PDH2D26QONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM25YX5K5RIIPLCWPK6X5RXU5AD2VB3V56CSTTLLRD3CSAPACQEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4G3SJUOVU5WHEMG6J5WNPW7WT5FW36TI4KFVORLA5Y66UED775A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIM6WSTWFH75EW62YDBVEGA5LMYAOEKHTHKEH3ECJAZYMDS56N4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3J6IQYGC4UTR4YFQQKQ7DED36IWOB7ZTJXZHL4BQMZ36HPJG4BA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZXEQDYJ23L6HANGKRFWYDAPK3ZEYD7URHTO6JEAAXRV7CYSH3EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisassociateAccounts": {
            "http": {
                "requestUri": "/disassociate-accounts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "AccountIds"
                ],
                "members": {
                    "Arn": {},
                    "AccountIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIB7BOCYOIW4KSFM5LHYFTKJ6UCFH7LRXFLCT3I7OYNGWSZF5RXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCY3NXFKQZ26ZIOP3SDKCAP2HBCNNWZHZTPNXA5SWUIHLO4FZJCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3S3CKGJRTRL43HIG345K5EBRY67IN6ME6IVLFSO4VK56SL53VRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36Y2M6YYRADYTIORN7AB2FUUR6VELNPGYKSEH5MBYGGF7WV53BPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFY3DUOE3BWWYJZW5DF7BJ4F5RA5SMIBANHJFIC7767BEVI7UNWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI7UDE4R7Q7PXLOVQTKZ3SU5RCIAELA3HGCRUMPMZN6BFTQJCSVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5I3QUJ3KD7LUUTQKDIIC6MIFAEN2WTSDF6HJTMLSYOG23PPJ3PDQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG7R3TDN2H34R7VES63FOBLAMVEHGW3G4NJQNQV7L73QJZFTSWDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQEMWFUWXLSKMVHNUTLHHYO44K4PY5LFGOSYCHZVKWZHOPPI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJEG5IUN2Z4LB3LXEQ7XSUFYZ6F5H4ZGO6EO7BPTACLYZ27NPYRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45OGOIKNV57PCFKGVLYQGLYI2VS3LLVLV4LSAFYAQZYCSIS2S4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAWDL2LB7GJCOCJLC6JKZ36OWTRSPAVLL4PGHEJ3PDH2D26QONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM25YX5K5RIIPLCWPK6X5RXU5AD2VB3V56CSTTLLRD3CSAPACQEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4G3SJUOVU5WHEMG6J5WNPW7WT5FW36TI4KFVORLA5Y66UED775A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIM6WSTWFH75EW62YDBVEGA5LMYAOEKHTHKEH3ECJAZYMDS56N4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3J6IQYGC4UTR4YFQQKQ7DED36IWOB7ZTJXZHL4BQMZ36HPJG4BA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZXEQDYJ23L6HANGKRFWYDAPK3ZEYD7URHTO6JEAAXRV7CYSH3EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisassociatePricingRules": {
            "http": {
                "method": "PUT",
                "requestUri": "/disassociate-pricing-rules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "PricingRuleArns"
                ],
                "members": {
                    "Arn": {},
                    "PricingRuleArns": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIB7BOCYOIW4KSFM5LHYFTKJ6UCFH7LRXFLCT3I7OYNGWSZF5RXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCY3NXFKQZ26ZIOP3SDKCAP2HBCNNWZHZTPNXA5SWUIHLO4FZJCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3S3CKGJRTRL43HIG345K5EBRY67IN6ME6IVLFSO4VK56SL53VRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36Y2M6YYRADYTIORN7AB2FUUR6VELNPGYKSEH5MBYGGF7WV53BPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFY3DUOE3BWWYJZW5DF7BJ4F5RA5SMIBANHJFIC7767BEVI7UNWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI7UDE4R7Q7PXLOVQTKZ3SU5RCIAELA3HGCRUMPMZN6BFTQJCSVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5I3QUJ3KD7LUUTQKDIIC6MIFAEN2WTSDF6HJTMLSYOG23PPJ3PDQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG7R3TDN2H34R7VES63FOBLAMVEHGW3G4NJQNQV7L73QJZFTSWDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQEMWFUWXLSKMVHNUTLHHYO44K4PY5LFGOSYCHZVKWZHOPPI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJEG5IUN2Z4LB3LXEQ7XSUFYZ6F5H4ZGO6EO7BPTACLYZ27NPYRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45OGOIKNV57PCFKGVLYQGLYI2VS3LLVLV4LSAFYAQZYCSIS2S4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAWDL2LB7GJCOCJLC6JKZ36OWTRSPAVLL4PGHEJ3PDH2D26QONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM25YX5K5RIIPLCWPK6X5RXU5AD2VB3V56CSTTLLRD3CSAPACQEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4G3SJUOVU5WHEMG6J5WNPW7WT5FW36TI4KFVORLA5Y66UED775A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIM6WSTWFH75EW62YDBVEGA5LMYAOEKHTHKEH3ECJAZYMDS56N4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3J6IQYGC4UTR4YFQQKQ7DED36IWOB7ZTJXZHL4BQMZ36HPJG4BA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZXEQDYJ23L6HANGKRFWYDAPK3ZEYD7URHTO6JEAAXRV7CYSH3EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListAccountAssociations": {
            "http": {
                "requestUri": "/list-account-associations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "BillingPeriod": {},
                    "Filters": {
                        "type": "structure",
                        "members": {
                            "Association": {},
                            "AccountId": {}
                        }
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LinkedAccounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AccountId": {},
                                "BillingGroupArn": {},
                                "AccountName": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "AccountEmail": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIB7BOCYOIW4KSFM5LHYFTKJ6UCFH7LRXFLCT3I7OYNGWSZF5RXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCY3NXFKQZ26ZIOP3SDKCAP2HBCNNWZHZTPNXA5SWUIHLO4FZJCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3S3CKGJRTRL43HIG345K5EBRY67IN6ME6IVLFSO4VK56SL53VRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36Y2M6YYRADYTIORN7AB2FUUR6VELNPGYKSEH5MBYGGF7WV53BPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFY3DUOE3BWWYJZW5DF7BJ4F5RA5SMIBANHJFIC7767BEVI7UNWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI7UDE4R7Q7PXLOVQTKZ3SU5RCIAELA3HGCRUMPMZN6BFTQJCSVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5I3QUJ3KD7LUUTQKDIIC6MIFAEN2WTSDF6HJTMLSYOG23PPJ3PDQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG7R3TDN2H34R7VES63FOBLAMVEHGW3G4NJQNQV7L73QJZFTSWDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQEMWFUWXLSKMVHNUTLHHYO44K4PY5LFGOSYCHZVKWZHOPPI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJEG5IUN2Z4LB3LXEQ7XSUFYZ6F5H4ZGO6EO7BPTACLYZ27NPYRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45OGOIKNV57PCFKGVLYQGLYI2VS3LLVLV4LSAFYAQZYCSIS2S4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAWDL2LB7GJCOCJLC6JKZ36OWTRSPAVLL4PGHEJ3PDH2D26QONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM25YX5K5RIIPLCWPK6X5RXU5AD2VB3V56CSTTLLRD3CSAPACQEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4G3SJUOVU5WHEMG6J5WNPW7WT5FW36TI4KFVORLA5Y66UED775A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIM6WSTWFH75EW62YDBVEGA5LMYAOEKHTHKEH3ECJAZYMDS56N4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3J6IQYGC4UTR4YFQQKQ7DED36IWOB7ZTJXZHL4BQMZ36HPJG4BA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZXEQDYJ23L6HANGKRFWYDAPK3ZEYD7URHTO6JEAAXRV7CYSH3EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListBillingGroupCostReports": {
            "http": {
                "requestUri": "/list-billing-group-cost-reports",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "BillingPeriod": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "type": "structure",
                        "members": {
                            "BillingGroupArns": {
                                "shape": "S2g"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BillingGroupCostReports": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "AWSCost": {},
                                "ProformaCost": {},
                                "Margin": {},
                                "MarginPercentage": {},
                                "Currency": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIB7BOCYOIW4KSFM5LHYFTKJ6UCFH7LRXFLCT3I7OYNGWSZF5RXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCY3NXFKQZ26ZIOP3SDKCAP2HBCNNWZHZTPNXA5SWUIHLO4FZJCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3S3CKGJRTRL43HIG345K5EBRY67IN6ME6IVLFSO4VK56SL53VRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36Y2M6YYRADYTIORN7AB2FUUR6VELNPGYKSEH5MBYGGF7WV53BPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFY3DUOE3BWWYJZW5DF7BJ4F5RA5SMIBANHJFIC7767BEVI7UNWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI7UDE4R7Q7PXLOVQTKZ3SU5RCIAELA3HGCRUMPMZN6BFTQJCSVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5I3QUJ3KD7LUUTQKDIIC6MIFAEN2WTSDF6HJTMLSYOG23PPJ3PDQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG7R3TDN2H34R7VES63FOBLAMVEHGW3G4NJQNQV7L73QJZFTSWDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQEMWFUWXLSKMVHNUTLHHYO44K4PY5LFGOSYCHZVKWZHOPPI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJEG5IUN2Z4LB3LXEQ7XSUFYZ6F5H4ZGO6EO7BPTACLYZ27NPYRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45OGOIKNV57PCFKGVLYQGLYI2VS3LLVLV4LSAFYAQZYCSIS2S4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAWDL2LB7GJCOCJLC6JKZ36OWTRSPAVLL4PGHEJ3PDH2D26QONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM25YX5K5RIIPLCWPK6X5RXU5AD2VB3V56CSTTLLRD3CSAPACQEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4G3SJUOVU5WHEMG6J5WNPW7WT5FW36TI4KFVORLA5Y66UED775A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIM6WSTWFH75EW62YDBVEGA5LMYAOEKHTHKEH3ECJAZYMDS56N4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3J6IQYGC4UTR4YFQQKQ7DED36IWOB7ZTJXZHL4BQMZ36HPJG4BA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZXEQDYJ23L6HANGKRFWYDAPK3ZEYD7URHTO6JEAAXRV7CYSH3EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListBillingGroups": {
            "http": {
                "requestUri": "/list-billing-groups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "BillingPeriod": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "type": "structure",
                        "members": {
                            "Arns": {
                                "shape": "S2g"
                            },
                            "PricingPlan": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BillingGroups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {
                                    "shape": "Su"
                                },
                                "Arn": {},
                                "Description": {
                                    "shape": "Sy"
                                },
                                "PrimaryAccountId": {},
                                "ComputationPreference": {
                                    "shape": "Sw"
                                },
                                "Size": {
                                    "type": "long"
                                },
                                "CreationTime": {
                                    "type": "long"
                                },
                                "LastModifiedTime": {
                                    "type": "long"
                                },
                                "Status": {},
                                "StatusReason": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIB7BOCYOIW4KSFM5LHYFTKJ6UCFH7LRXFLCT3I7OYNGWSZF5RXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCY3NXFKQZ26ZIOP3SDKCAP2HBCNNWZHZTPNXA5SWUIHLO4FZJCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3S3CKGJRTRL43HIG345K5EBRY67IN6ME6IVLFSO4VK56SL53VRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36Y2M6YYRADYTIORN7AB2FUUR6VELNPGYKSEH5MBYGGF7WV53BPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFY3DUOE3BWWYJZW5DF7BJ4F5RA5SMIBANHJFIC7767BEVI7UNWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI7UDE4R7Q7PXLOVQTKZ3SU5RCIAELA3HGCRUMPMZN6BFTQJCSVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5I3QUJ3KD7LUUTQKDIIC6MIFAEN2WTSDF6HJTMLSYOG23PPJ3PDQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG7R3TDN2H34R7VES63FOBLAMVEHGW3G4NJQNQV7L73QJZFTSWDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQEMWFUWXLSKMVHNUTLHHYO44K4PY5LFGOSYCHZVKWZHOPPI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJEG5IUN2Z4LB3LXEQ7XSUFYZ6F5H4ZGO6EO7BPTACLYZ27NPYRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45OGOIKNV57PCFKGVLYQGLYI2VS3LLVLV4LSAFYAQZYCSIS2S4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAWDL2LB7GJCOCJLC6JKZ36OWTRSPAVLL4PGHEJ3PDH2D26QONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM25YX5K5RIIPLCWPK6X5RXU5AD2VB3V56CSTTLLRD3CSAPACQEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4G3SJUOVU5WHEMG6J5WNPW7WT5FW36TI4KFVORLA5Y66UED775A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIM6WSTWFH75EW62YDBVEGA5LMYAOEKHTHKEH3ECJAZYMDS56N4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3J6IQYGC4UTR4YFQQKQ7DED36IWOB7ZTJXZHL4BQMZ36HPJG4BA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZXEQDYJ23L6HANGKRFWYDAPK3ZEYD7URHTO6JEAAXRV7CYSH3EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListCustomLineItemVersions": {
            "http": {
                "requestUri": "/list-custom-line-item-versions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "type": "structure",
                        "members": {
                            "BillingPeriodRange": {
                                "type": "structure",
                                "members": {
                                    "StartBillingPeriod": {},
                                    "EndBillingPeriod": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CustomLineItemVersions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {
                                    "shape": "S14"
                                },
                                "ChargeDetails": {
                                    "shape": "S35"
                                },
                                "CurrencyCode": {},
                                "Description": {
                                    "shape": "S15"
                                },
                                "ProductCode": {},
                                "BillingGroupArn": {},
                                "CreationTime": {
                                    "type": "long"
                                },
                                "LastModifiedTime": {
                                    "type": "long"
                                },
                                "AssociationSize": {
                                    "type": "long"
                                },
                                "StartBillingPeriod": {},
                                "EndBillingPeriod": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIB7BOCYOIW4KSFM5LHYFTKJ6UCFH7LRXFLCT3I7OYNGWSZF5RXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCY3NXFKQZ26ZIOP3SDKCAP2HBCNNWZHZTPNXA5SWUIHLO4FZJCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3S3CKGJRTRL43HIG345K5EBRY67IN6ME6IVLFSO4VK56SL53VRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36Y2M6YYRADYTIORN7AB2FUUR6VELNPGYKSEH5MBYGGF7WV53BPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFY3DUOE3BWWYJZW5DF7BJ4F5RA5SMIBANHJFIC7767BEVI7UNWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI7UDE4R7Q7PXLOVQTKZ3SU5RCIAELA3HGCRUMPMZN6BFTQJCSVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5I3QUJ3KD7LUUTQKDIIC6MIFAEN2WTSDF6HJTMLSYOG23PPJ3PDQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG7R3TDN2H34R7VES63FOBLAMVEHGW3G4NJQNQV7L73QJZFTSWDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQEMWFUWXLSKMVHNUTLHHYO44K4PY5LFGOSYCHZVKWZHOPPI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJEG5IUN2Z4LB3LXEQ7XSUFYZ6F5H4ZGO6EO7BPTACLYZ27NPYRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45OGOIKNV57PCFKGVLYQGLYI2VS3LLVLV4LSAFYAQZYCSIS2S4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAWDL2LB7GJCOCJLC6JKZ36OWTRSPAVLL4PGHEJ3PDH2D26QONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM25YX5K5RIIPLCWPK6X5RXU5AD2VB3V56CSTTLLRD3CSAPACQEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4G3SJUOVU5WHEMG6J5WNPW7WT5FW36TI4KFVORLA5Y66UED775A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIM6WSTWFH75EW62YDBVEGA5LMYAOEKHTHKEH3ECJAZYMDS56N4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3J6IQYGC4UTR4YFQQKQ7DED36IWOB7ZTJXZHL4BQMZ36HPJG4BA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZXEQDYJ23L6HANGKRFWYDAPK3ZEYD7URHTO6JEAAXRV7CYSH3EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListCustomLineItems": {
            "http": {
                "requestUri": "/list-custom-line-items",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "BillingPeriod": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "type": "structure",
                        "members": {
                            "Names": {
                                "type": "list",
                                "member": {
                                    "shape": "S14"
                                }
                            },
                            "BillingGroups": {
                                "shape": "S2g"
                            },
                            "Arns": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CustomLineItems": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "Name": {
                                    "shape": "S14"
                                },
                                "ChargeDetails": {
                                    "shape": "S35"
                                },
                                "CurrencyCode": {},
                                "Description": {
                                    "shape": "S15"
                                },
                                "ProductCode": {},
                                "BillingGroupArn": {},
                                "CreationTime": {
                                    "type": "long"
                                },
                                "LastModifiedTime": {
                                    "type": "long"
                                },
                                "AssociationSize": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIB7BOCYOIW4KSFM5LHYFTKJ6UCFH7LRXFLCT3I7OYNGWSZF5RXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCY3NXFKQZ26ZIOP3SDKCAP2HBCNNWZHZTPNXA5SWUIHLO4FZJCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3S3CKGJRTRL43HIG345K5EBRY67IN6ME6IVLFSO4VK56SL53VRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36Y2M6YYRADYTIORN7AB2FUUR6VELNPGYKSEH5MBYGGF7WV53BPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFY3DUOE3BWWYJZW5DF7BJ4F5RA5SMIBANHJFIC7767BEVI7UNWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI7UDE4R7Q7PXLOVQTKZ3SU5RCIAELA3HGCRUMPMZN6BFTQJCSVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5I3QUJ3KD7LUUTQKDIIC6MIFAEN2WTSDF6HJTMLSYOG23PPJ3PDQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG7R3TDN2H34R7VES63FOBLAMVEHGW3G4NJQNQV7L73QJZFTSWDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQEMWFUWXLSKMVHNUTLHHYO44K4PY5LFGOSYCHZVKWZHOPPI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJEG5IUN2Z4LB3LXEQ7XSUFYZ6F5H4ZGO6EO7BPTACLYZ27NPYRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45OGOIKNV57PCFKGVLYQGLYI2VS3LLVLV4LSAFYAQZYCSIS2S4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAWDL2LB7GJCOCJLC6JKZ36OWTRSPAVLL4PGHEJ3PDH2D26QONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM25YX5K5RIIPLCWPK6X5RXU5AD2VB3V56CSTTLLRD3CSAPACQEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4G3SJUOVU5WHEMG6J5WNPW7WT5FW36TI4KFVORLA5Y66UED775A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIM6WSTWFH75EW62YDBVEGA5LMYAOEKHTHKEH3ECJAZYMDS56N4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3J6IQYGC4UTR4YFQQKQ7DED36IWOB7ZTJXZHL4BQMZ36HPJG4BA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZXEQDYJ23L6HANGKRFWYDAPK3ZEYD7URHTO6JEAAXRV7CYSH3EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListPricingPlans": {
            "http": {
                "requestUri": "/list-pricing-plans",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "BillingPeriod": {},
                    "Filters": {
                        "type": "structure",
                        "members": {
                            "Arns": {
                                "shape": "S3k"
                            }
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BillingPeriod": {},
                    "PricingPlans": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {
                                    "shape": "S1f"
                                },
                                "Arn": {},
                                "Description": {
                                    "shape": "S1g"
                                },
                                "Size": {
                                    "type": "long"
                                },
                                "CreationTime": {
                                    "type": "long"
                                },
                                "LastModifiedTime": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIB7BOCYOIW4KSFM5LHYFTKJ6UCFH7LRXFLCT3I7OYNGWSZF5RXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCY3NXFKQZ26ZIOP3SDKCAP2HBCNNWZHZTPNXA5SWUIHLO4FZJCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3S3CKGJRTRL43HIG345K5EBRY67IN6ME6IVLFSO4VK56SL53VRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36Y2M6YYRADYTIORN7AB2FUUR6VELNPGYKSEH5MBYGGF7WV53BPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFY3DUOE3BWWYJZW5DF7BJ4F5RA5SMIBANHJFIC7767BEVI7UNWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI7UDE4R7Q7PXLOVQTKZ3SU5RCIAELA3HGCRUMPMZN6BFTQJCSVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5I3QUJ3KD7LUUTQKDIIC6MIFAEN2WTSDF6HJTMLSYOG23PPJ3PDQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG7R3TDN2H34R7VES63FOBLAMVEHGW3G4NJQNQV7L73QJZFTSWDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQEMWFUWXLSKMVHNUTLHHYO44K4PY5LFGOSYCHZVKWZHOPPI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJEG5IUN2Z4LB3LXEQ7XSUFYZ6F5H4ZGO6EO7BPTACLYZ27NPYRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45OGOIKNV57PCFKGVLYQGLYI2VS3LLVLV4LSAFYAQZYCSIS2S4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAWDL2LB7GJCOCJLC6JKZ36OWTRSPAVLL4PGHEJ3PDH2D26QONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM25YX5K5RIIPLCWPK6X5RXU5AD2VB3V56CSTTLLRD3CSAPACQEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4G3SJUOVU5WHEMG6J5WNPW7WT5FW36TI4KFVORLA5Y66UED775A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIM6WSTWFH75EW62YDBVEGA5LMYAOEKHTHKEH3ECJAZYMDS56N4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3J6IQYGC4UTR4YFQQKQ7DED36IWOB7ZTJXZHL4BQMZ36HPJG4BA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZXEQDYJ23L6HANGKRFWYDAPK3ZEYD7URHTO6JEAAXRV7CYSH3EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListPricingPlansAssociatedWithPricingRule": {
            "http": {
                "requestUri": "/list-pricing-plans-associated-with-pricing-rule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "PricingRuleArn"
                ],
                "members": {
                    "BillingPeriod": {},
                    "PricingRuleArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BillingPeriod": {},
                    "PricingRuleArn": {},
                    "PricingPlanArns": {
                        "shape": "S3k"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIB7BOCYOIW4KSFM5LHYFTKJ6UCFH7LRXFLCT3I7OYNGWSZF5RXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCY3NXFKQZ26ZIOP3SDKCAP2HBCNNWZHZTPNXA5SWUIHLO4FZJCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3S3CKGJRTRL43HIG345K5EBRY67IN6ME6IVLFSO4VK56SL53VRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36Y2M6YYRADYTIORN7AB2FUUR6VELNPGYKSEH5MBYGGF7WV53BPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFY3DUOE3BWWYJZW5DF7BJ4F5RA5SMIBANHJFIC7767BEVI7UNWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI7UDE4R7Q7PXLOVQTKZ3SU5RCIAELA3HGCRUMPMZN6BFTQJCSVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5I3QUJ3KD7LUUTQKDIIC6MIFAEN2WTSDF6HJTMLSYOG23PPJ3PDQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG7R3TDN2H34R7VES63FOBLAMVEHGW3G4NJQNQV7L73QJZFTSWDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQEMWFUWXLSKMVHNUTLHHYO44K4PY5LFGOSYCHZVKWZHOPPI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJEG5IUN2Z4LB3LXEQ7XSUFYZ6F5H4ZGO6EO7BPTACLYZ27NPYRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45OGOIKNV57PCFKGVLYQGLYI2VS3LLVLV4LSAFYAQZYCSIS2S4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAWDL2LB7GJCOCJLC6JKZ36OWTRSPAVLL4PGHEJ3PDH2D26QONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM25YX5K5RIIPLCWPK6X5RXU5AD2VB3V56CSTTLLRD3CSAPACQEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4G3SJUOVU5WHEMG6J5WNPW7WT5FW36TI4KFVORLA5Y66UED775A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIM6WSTWFH75EW62YDBVEGA5LMYAOEKHTHKEH3ECJAZYMDS56N4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3J6IQYGC4UTR4YFQQKQ7DED36IWOB7ZTJXZHL4BQMZ36HPJG4BA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZXEQDYJ23L6HANGKRFWYDAPK3ZEYD7URHTO6JEAAXRV7CYSH3EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListPricingRules": {
            "http": {
                "requestUri": "/list-pricing-rules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "BillingPeriod": {},
                    "Filters": {
                        "type": "structure",
[...]
