{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-01-01",
        "endpointPrefix": "blitzenservicelambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "BlitzenServiceLambda",
        "serviceFullName": "BlitzenServiceLambda",
        "serviceId": "BlitzenServiceLambda",
        "signatureVersion": "v4",
        "signingName": "elemental-activations",
        "uid": "blitzenservicelambda-2017-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js"
        ]
    },
    "operations": {
        "AbandonSalesOrder": {
            "name": "AbandonSalesOrder",
            "http": {
                "method": "PUT",
                "requestUri": "/sales_orders/{sonum}/abandon"
            },
            "input": {
                "shape": "AbandonSalesOrderRequest"
            },
            "output": {
                "shape": "AbandonSalesOrderResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js"
            ]
        },
        "AcceptOnlySalesOrder": {
            "name": "AcceptOnlySalesOrder",
            "http": {
                "method": "PUT",
                "requestUri": "/sales_orders/{sonum}/accept_only"
            },
            "input": {
                "shape": "AcceptOnlySalesOrderRequest"
            },
            "output": {
                "shape": "AcceptOnlySalesOrderResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js"
            ]
        },
        "AcceptSalesOrder": {
            "name": "AcceptSalesOrder",
            "http": {
                "method": "PUT",
                "requestUri": "/sales_orders/{sonum}/accept"
            },
            "input": {
                "shape": "AcceptSalesOrderRequest"
            },
            "output": {
                "shape": "AcceptSalesOrderResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js"
            ]
        },
        "AddActivationPrincipal": {
            "name": "AddActivationPrincipal",
            "http": {
                "method": "POST",
                "requestUri": "/principals"
            },
            "input": {
                "shape": "Principal"
            },
            "output": {
                "shape": "AddActivationPrincipalResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js"
            ]
        },
        "AddActivationsSalesOrder": {
            "name": "AddActivationsSalesOrder",
            "http": {
                "method": "POST",
                "requestUri": "/activations/sales_orders/{sonum}"
            },
            "input": {
                "shape": "AddActivationsSalesOrderRequest"
            },
            "output": {
                "shape": "AddActivationsSalesOrderResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js"
            ]
        },
        "AddProdInfo": {
            "name": "AddProdInfo",
            "http": {
                "method": "POST",
                "requestUri": "/prodinfo"
            },
            "input": {
                "shape": "ProductionInfo"
            },
            "output": {
                "shape": "AddProdInfoResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js"
            ]
        },
        "AddProductAdvisory": {
            "name": "AddProductAdvisory",
            "http": {
                "method": "POST",
                "requestUri": "/product_advisories"
            },
            "input": {
                "shape": "AddProductAdvisoryRequest"
            },
            "output": {
                "shape": "AddProductAdvisoryResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js"
            ]
        },
        "AddSupportExpiry": {
            "name": "AddSupportExpiry",
            "http": {
                "method": "POST",
                "requestUri": "/support_permissions"
            },
            "input": {
                "shape": "AddSupportExpiryRequest"
            },
            "output": {
                "shape": "AddSupportExpiryResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js"
            ]
        },
        "CompleteAccountRegistration": {
            "name": "CompleteAccountRegistration",
            "http": {
                "method": "PUT",
                "requestUri": "/accounts/registration"
            },
            "input": {
                "shape": "CompleteAccountRegistrationRequest"
            },
            "output": {
                "shape": "Account"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js"
            ]
        },
        "CompleteFileUpload": {
            "name": "CompleteFileUpload",
            "http": {
                "method": "PUT",
                "requestUri": "/files/{category}/{file_name}"
            },
            "input": {
                "shape": "CompleteFileUploadRequest"
            },
            "output": {
                "shape": "CompleteFileUploadResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js"
            ]
        },
        "CompleteKickstartUpload": {
            "name": "CompleteKickstartUpload",
            "http": {
                "method": "PUT",
                "requestUri": "/kickstart_versions/{kickstart_name}/file"
            },
            "input": {
                "shape": "CompleteKickstartUploadRequest"
            },
            "output": {
                "shape": "CompleteKickstartUploadResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js"
            ]
        },
        "CompleteKickstartUploadV1": {
            "name": "CompleteKickstartUploadV1",
            "http": {
                "method": "PUT",
                "requestUri": "/v1/kickstart_versions/{kickstart_name}/file"
            },
            "input": {
                "shape": "CompleteKickstartUploadV1Request"
            },
            "output": {
                "shape": "CompleteKickstartUploadV1Response"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js"
            ]
        },
        "CompletePictureUpload": {
            "name": "CompletePictureUpload",
            "http": {
                "method": "PUT",
                "requestUri": "/appliances/{sku}/pictures/{name}"
            },
            "output": {
                "shape": "CompletePictureUploadResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js"
            ]
        },
        "CompleteSoftwareUpload": {
            "name": "CompleteSoftwareUpload",
            "http": {
                "method": "PUT",
                "requestUri": "/software_versions/{software_version_name}/file"
            },
            "input": {
                "shape": "CompleteSoftwareUploadRequest"
            },
            "output": {
                "shape": "CompleteSoftwareUploadResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js"
            ]
        },
        "CompleteSoftwareUploadV1": {
            "name": "CompleteSoftwareUploadV1",
            "http": {
                "method": "PUT",
                "requestUri": "/v1/software_versions/{software_version_name}/file"
            },
            "input": {
                "shape": "CompleteSoftwareUploadV1Request"
            },
            "output": {
                "shape": "CompleteSoftwareUploadV1Response"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js"
            ]
        },
        "ConfirmAccount": {
            "name": "ConfirmAccount",
            "http": {
                "method": "POST",
                "requestUri": "/accounts"
            },
            "input": {
                "shape": "ConfirmAccountRequest"
            },
            "output": {
                "shape": "ConfirmAccountResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js"
            ]
        },
        "DeleteActivationPrincipal": {
            "name": "DeleteActivationPrincipal",
            "http": {
                "method": "DELETE",
                "requestUri": "/principals/{activation_key}/{principal}"
            },
            "input": {
                "shape": "DeleteActivationPrincipalRequest"
            },
            "output": {
                "shape": "DeleteActivationPrincipalResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js"
            ]
        },
        "DownloadFile": {
            "name": "DownloadFile",
            "http": {
                "method": "POST",
                "requestUri": "/files"
            },
            "input": {
                "shape": "DownloadFileRequest"
            },
            "output": {
                "shape": "DownloadFileResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js"
            ]
        },
        "DownloadKickstart": {
            "name": "DownloadKickstart",
            "http": {
                "method": "GET",
                "requestUri": "/kickstart_versions/{kickstart_name}/file"
            },
            "input": {
                "shape": "DownloadKickstartRequest"
            },
            "output": {
                "shape": "DownloadKickstartResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js"
            ]
        },
        "DownloadLicenseFile": {
            "name": "DownloadLicenseFile",
            "http": {
                "method": "GET",
                "requestUri": "/license_files/{activation_key}"
            },
            "input": {
                "shape": "DownloadLicenseFileRequest"
            },
            "output": {
                "shape": "DownloadLicenseFileResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js"
            ]
        },
        "DownloadPictures": {
            "name": "DownloadPictures",
            "http": {
                "method": "GET",
                "requestUri": "/appliances/{sku}/pictures"
            },
            "input": {
                "shape": "DownloadPicturesRequest"
            },
            "output": {
                "shape": "DownloadPicturesResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js"
            ]
        },
        "DownloadSoftware": {
            "name": "DownloadSoftware",
            "http": {
                "method": "GET",
                "requestUri": "/software_versions/{software_version_name}/file"
            },
            "input": {
                "shape": "DownloadSoftwareRequest"
            },
            "output": {
                "shape": "DownloadSoftwareResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js"
            ]
        },
        "GenerateLicense": {
            "name": "GenerateLicense",
            "http": {
                "method": "POST",
                "requestUri": "/licenses/{activation_key}"
            },
            "input": {
                "shape": "GenerateLicenseRequest"
            },
            "output": {
                "shape": "GeneratedLicense"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js"
            ]
        },
        "GenerateLicenses": {
            "name": "GenerateLicenses",
            "http": {
                "method": "POST",
                "requestUri": "/licenses"
            },
            "input": {
                "shape": "GenerateLicensesRequest"
            },
            "output": {
                "shape": "GenerateLicensesResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js"
            ]
        },
        "GetActivation": {
            "name": "GetActivation",
            "http": {
                "method": "GET",
                "requestUri": "/activations/{activation_key}"
            },
            "input": {
                "shape": "GetActivationRequest"
            },
            "output": {
                "shape": "GetActivationResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js"
            ]
        },
        "GetActivationPrincipal": {
            "name": "GetActivationPrincipal",
            "http": {
                "method": "GET",
                "requestUri": "/principals/{activation_key}/{principal}"
            },
            "input": {
                "shape": "GetActivationPrincipalRequest"
            },
            "output": {
                "shape": "GetActivationPrincipalResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js"
            ]
        },
        "GetActivationsSalesOrder": {
            "name": "GetActivationsSalesOrder",
            "http": {
                "method": "GET",
                "requestUri": "/activations_sales_orders/{sonum}"
            },
            "input": {
                "shape": "GetActivationsSalesOrderRequest"
            },
            "output": {
                "shape": "GetActivationsSalesOrderResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js"
            ]
        },
        "GetArtifactGroupSoftwareVersions": {
            "name": "GetArtifactGroupSoftwareVersions",
            "http": {
                "method": "GET",
                "requestUri": "/artifact_groups/{artifact_group}/software_versions"
            },
            "input": {
                "shape": "GetArtifactGroupSoftwareVersionsRequest"
            },
            "output": {
                "shape": "GetArtifactGroupSoftwareVersionsResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js"
            ]
        },
        "GetAsset": {
            "name": "GetAsset",
            "http": {
                "method": "GET",
                "requestUri": "/assets/{asset_id}"
            },
            "input": {
                "shape": "GetAssetRequest"
            },
            "output": {
                "shape": "Asset"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
[...]
