{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-02-01",
        "assembly": "com.amazon.pancetta",
        "endpointPrefix": "ses",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "Email border service",
        "serviceId": "Pancetta",
        "signatureVersion": "v4",
        "signingName": "ses",
        "targetPrefix": "com.amazon.pancetta.PancettaFrontendSvc",
        "uid": "border-2023-10-17",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js"
        ]
    },
    "operations": {
        "CreateArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveName"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ArchiveName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ArchiveId"
                ],
                "members": {
                    "ArchiveId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js"
            ]
        },
        "CreateFilterSet": {
            "input": {
                "type": "structure",
                "required": [
                    "FilterSetName",
                    "FilterStatements",
                    "DefaultAction"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "FilterSetName": {},
                    "FilterStatements": {
                        "shape": "S8"
                    },
                    "DefaultAction": {},
                    "MaxMessageSizeBytes": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FilterSetId"
                ],
                "members": {
                    "FilterSetId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js"
            ]
        },
        "CreateIngressPoint": {
            "input": {
                "type": "structure",
                "required": [
                    "IngressPointName",
                    "Type",
                    "RuleSetId",
                    "FilterSetId"
                ],
                "members": {
                    "IngressPointName": {},
                    "Type": {},
                    "RuleSetId": {},
                    "FilterSetId": {},
                    "IngressPointConfiguration": {
                        "shape": "S11"
                    },
                    "TrafficPolicyId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IngressPointId"
                ],
                "members": {
                    "IngressPointId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js"
            ]
        },
        "CreateRelay": {
            "input": {
                "type": "structure",
                "required": [
                    "RelayName",
                    "ServerName",
                    "ServerPort",
                    "Authentication"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "RelayName": {},
                    "ServerName": {},
                    "ServerPort": {
                        "type": "integer"
                    },
                    "Authentication": {
                        "shape": "S19"
                    },
                    "Tags": {
                        "shape": "S1d"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RelayId"
                ],
                "members": {
                    "RelayId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js"
            ]
        },
        "CreateRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "Description",
                    "Rules"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "RuleSetName": {},
                    "Description": {},
                    "Rules": {
                        "shape": "S1m"
                    },
                    "Tags": {
                        "shape": "S1d"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RuleSetId"
                ],
                "members": {
                    "RuleSetId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js"
            ]
        },
        "DeleteArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveId"
                ],
                "members": {
                    "ArchiveId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js"
            ]
        },
        "DeleteFilterSet": {
            "input": {
                "type": "structure",
                "required": [
                    "FilterSetId"
                ],
                "members": {
                    "FilterSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js"
            ]
        },
        "DeleteIngressPoint": {
            "input": {
                "type": "structure",
                "required": [
                    "IngressPointId"
                ],
                "members": {
                    "IngressPointId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js"
            ]
        },
        "DeleteRelay": {
            "input": {
                "type": "structure",
                "required": [
                    "RelayId"
                ],
                "members": {
                    "RelayId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js"
            ]
        },
        "DeleteRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetId"
                ],
                "members": {
                    "RuleSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js"
            ]
        },
        "GetArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveId"
                ],
                "members": {
                    "ArchiveId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ArchiveId",
                    "MessageRetentionPeriodDays",
                    "ArchiveArn",
                    "ArchiveName"
                ],
                "members": {
                    "ArchiveId": {},
                    "MessageRetentionPeriodDays": {
                        "type": "integer"
                    },
                    "ArchiveArn": {},
                    "ArchiveName": {},
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    },
                    "LastUpdatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js"
            ]
        },
        "GetFilterSet": {
            "input": {
                "type": "structure",
                "required": [
                    "FilterSetId"
                ],
                "members": {
                    "FilterSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FilterSetName",
                    "FilterSetId"
                ],
                "members": {
                    "FilterSetName": {},
                    "FilterSetId": {},
                    "FilterSetArn": {},
                    "FilterStatements": {
                        "shape": "S8"
                    },
                    "MaxMessageSizeBytes": {
                        "type": "integer"
                    },
                    "DefaultAction": {},
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    },
                    "LastUpdatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js"
            ]
        },
        "GetIngressPoint": {
            "input": {
                "type": "structure",
                "required": [
                    "IngressPointId"
                ],
                "members": {
                    "IngressPointId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IngressPointId",
                    "IngressPointName"
                ],
                "members": {
                    "IngressPointId": {},
                    "IngressPointName": {},
                    "IngressPointArn": {},
                    "Status": {},
                    "Type": {},
                    "ARecord": {},
                    "RuleSetId": {},
                    "FilterSetId": {},
                    "IngressPointConfiguration": {
                        "shape": "S11"
                    },
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    },
                    "LastUpdatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js"
            ]
        },
        "GetMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchivedMessageId"
                ],
                "members": {
                    "ArchivedMessageId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MessageDownloadLink": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js"
            ]
        },
        "GetRelay": {
            "input": {
                "type": "structure",
                "required": [
                    "RelayId"
                ],
                "members": {
                    "RelayId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RelayARN": {},
                    "RelayName": {},
                    "ServerName": {},
                    "ServerPort": {
                        "type": "integer"
                    },
                    "Authentication": {
                        "shape": "S19"
                    },
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    },
                    "LastModifiedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js"
            ]
        },
        "GetRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetId"
                ],
                "members": {
                    "RuleSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RuleSetARN",
                    "RuleSetName",
                    "Description",
                    "CreatedDate",
                    "LastModificationDate",
                    "Rules"
                ],
                "members": {
                    "RuleSetARN": {},
                    "RuleSetName": {},
                    "Description": {},
                    "CreatedDate": {
                        "type": "timestamp"
                    },
                    "LastModificationDate": {
                        "type": "timestamp"
                    },
                    "Rules": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js"
            ]
        },
        "GetSearch": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveId",
                    "SearchId"
                ],
                "members": {
                    "ArchiveId": {},
                    "SearchId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "S40"
                    },
                    "FromTimestamp": {
                        "type": "timestamp"
                    },
                    "ToTimestamp": {
                        "type": "timestamp"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Status": {
                        "shape": "S49"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js"
            ]
        },
        "GetSearchResults": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveId",
                    "SearchId"
                ],
                "members": {
                    "ArchiveId": {},
                    "SearchId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Rows": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ArchivedMessageId": {},
                                "BorderReceivedTimestamp": {
                                    "type": "timestamp"
                                },
                                "Date": {},
                                "To": {},
                                "From": {},
                                "Cc": {},
                                "Subject": {},
                                "MessageId": {},
                                "ReceivedHeaders": {
                                    "type": "list",
                                    "member": {}
                                },
                                "InReplyTo": {},
                                "XMailer": {},
                                "XOriginalMailer": {},
                                "XPriority": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js"
            ]
        },
        "ListArchives": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "PageSize": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Archives"
                ],
                "members": {
                    "Archives": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ArchiveId"
                            ],
                            "members": {
                                "ArchiveId": {},
                                "ArchiveName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js"
            ]
        },
        "ListFilterSets": {
            "input": {
                "type": "structure",
                "members": {
                    "PageSize": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FilterSets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "FilterSetName",
                                "FilterSetId",
                                "DefaultAction"
                            ],
                            "members": {
                                "FilterSetName": {},
                                "FilterSetId": {},
                                "DefaultAction": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js"
            ]
        },
        "ListIngressPoints": {
            "input": {
                "type": "structure",
                "members": {
                    "PageSize": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IngressPoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "IngressPointName",
                                "IngressPointId",
                                "Status",
                                "Type"
                            ],
                            "members": {
                                "IngressPointName": {},
                                "IngressPointId": {},
                                "Status": {},
                                "Type": {},
                                "ARecord": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js"
            ]
        },
        "ListRelays": {
            "input": {
                "type": "structure",
                "members": {
                    "PageSize": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Relays"
                ],
                "members": {
                    "Relays": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RelayId": {},
                                "RelayName": {},
                                "CreatedTimestamp": {
                                    "type": "timestamp"
                                },
                                "LastModifiedTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js"
            ]
        },
        "ListRuleSets": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "PageSize": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RuleSets"
                ],
                "members": {
                    "RuleSets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RuleSetId": {},
                                "RuleSetName": {},
                                "Description": {},
                                "CreatedDate": {
                                    "type": "timestamp"
                                },
                                "LastModificationDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js"
            ]
        },
        "ListSearches": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveId"
                ],
                "members": {
                    "ArchiveId": {},
                    "NextToken": {},
                    "PageSize": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Searches": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SearchId": {},
                                "Filters": {
                                    "shape": "S40"
                                },
                                "FromTimestamp": {
                                    "type": "timestamp"
                                },
                                "ToTimestamp": {
                                    "type": "timestamp"
                                },
                                "MaxResults": {
                                    "type": "integer"
                                },
                                "Status": {
                                    "shape": "S49"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js"
            ]
        },
        "StartSearch": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveId",
                    "FromTimestamp",
                    "ToTimestamp",
                    "MaxResults"
                ],
                "members": {
                    "ArchiveId": {},
                    "Filters": {
                        "shape": "S40"
                    },
                    "FromTimestamp": {
                        "type": "timestamp"
                    },
                    "ToTimestamp": {
                        "type": "timestamp"
                    },
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SearchId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js"
            ]
        },
        "StopSearch": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveId",
                    "SearchId"
                ],
                "members": {
                    "ArchiveId": {},
                    "SearchId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js"
            ]
        },
        "UpdateArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveId"
                ],
                "members": {
                    "ArchiveId": {},
                    "ArchiveName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js"
            ]
        },
        "UpdateFilterSet": {
            "input": {
                "type": "structure",
                "required": [
                    "FilterSetId"
                ],
                "members": {
                    "FilterSetId": {},
                    "FilterSetName": {},
                    "FilterStatements": {
                        "shape": "S8"
                    },
                    "DefaultAction": {},
                    "MaxMessageSizeBytes": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js"
            ]
        },
        "UpdateIngressPoint": {
            "input": {
                "type": "structure",
                "required": [
                    "IngressPointId"
                ],
                "members": {
                    "IngressPointId": {},
                    "Status": {},
                    "RuleSetId": {},
                    "FilterSetId": {},
                    "IngressPointConfiguration": {
                        "shape": "S11"
                    },
                    "TrafficPolicyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SP5NDAYXHJCNDPFX7EKBJRDP6AYGOCF2URSPP7N6ICCE5VIOVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQFRO6VHGUHLHT6WVYFXOZA2CEB4TL4YLVKZNFUWVF4AKZO6NRRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOL3D27QX2LAAKQ4442EEYQHGPR3OF2OIZGYIR26ZXICZZUHN7VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYTBFXGUGCZSKEWPYJTDMEWJQYH77CNHBWV6OI22TNZR2CN7OZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJRCI4ZQNVFGYBEE2R64FLK7S6VWP3N3TKHK7CCMOP7CXMBZBVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIAPLFSHLM6DED7XHRHQSZT6L32XEQELIYXRN55FTCM2Q36IZOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZYNMTASQQIL4DVIVLG3HYW4YOHWF6X6MBXV5SJV6E37FJ7BBPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXHM36J6PLNWRGC2TGUOOJ2KSLYR3Q6SC7TJUBYCWQJK4SPCZRMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js"
            ]
        },
        "UpdateRelay": {
            "input": {
                "type": "structure",
                "required": [
                    "RelayId"
                ],
                "members": {
                    "RelayId": {},
                    "RelayName": {},
                    "ServerName": {},
                    "ServerPort": {
                        "type": "integer"
                    },
                    "Authentication": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DI2JGTJAP7J6J6FMSIJAHHUTKMYLWYSZQOOKXTSGLZTO63VEH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDRUBJ2PLB6VQAJ33UNEFR3D26DL77OQSMAMKRJLPHKHH3G3XVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6A47WH5XDM4ZGLP6XUJBR4PIKYP5JIOOLLORSFYCGNU7U2EWL4Q/vendors.js",
[...]
