{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-02-01",
        "assembly": "com.amazon.pancetta",
        "endpointPrefix": "ses",
        "jsonVersion": "1.0",
        "protocol": "rest-json",
        "serviceFullName": "Email border service",
        "serviceId": "Pancetta",
        "signatureVersion": "v4",
        "signingName": "ses",
        "targetPrefix": "com.amazon.pancetta.PancettaFrontendSvc",
        "uid": "border-2023-10-17",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
        ]
    },
    "operations": {
        "CreateArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveName"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ArchiveName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ArchiveId"
                ],
                "members": {
                    "ArchiveId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "CreateFilterSet": {
            "input": {
                "type": "structure",
                "required": [
                    "FilterSetName",
                    "FilterStatements",
                    "DefaultAction"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "FilterSetName": {},
                    "FilterStatements": {
                        "shape": "S8"
                    },
                    "DefaultAction": {},
                    "MaxMessageSizeBytes": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FilterSetId"
                ],
                "members": {
                    "FilterSetId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "CreateIngressPoint": {
            "input": {
                "type": "structure",
                "required": [
                    "IngressPointName",
                    "Type",
                    "RuleSetId",
                    "FilterSetId"
                ],
                "members": {
                    "IngressPointName": {},
                    "Type": {},
                    "RuleSetId": {},
                    "FilterSetId": {},
                    "IngressPointConfiguration": {
                        "shape": "S11"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IngressPointId"
                ],
                "members": {
                    "IngressPointId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "CreateRelay": {
            "input": {
                "type": "structure",
                "required": [
                    "RelayName",
                    "ServerName",
                    "ServerPort",
                    "Authentication"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "RelayName": {},
                    "ServerName": {},
                    "ServerPort": {
                        "type": "integer"
                    },
                    "Authentication": {
                        "shape": "S19"
                    },
                    "Tags": {
                        "shape": "S1d"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RelayId"
                ],
                "members": {
                    "RelayId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "CreateRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "Description",
                    "Rules"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "RuleSetName": {},
                    "Description": {},
                    "Rules": {
                        "shape": "S1m"
                    },
                    "Tags": {
                        "shape": "S1d"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RuleSetId"
                ],
                "members": {
                    "RuleSetId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "CreateSolutionInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "SolutionSubscriptionId"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "SolutionSubscriptionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SolutionInstanceId"
                ],
                "members": {
                    "SolutionInstanceId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "CreateSolutionSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "SolutionName"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "SolutionName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SolutionSubscriptionId"
                ],
                "members": {
                    "SolutionSubscriptionId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "DeleteArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveId"
                ],
                "members": {
                    "ArchiveId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "DeleteFilterSet": {
            "input": {
                "type": "structure",
                "required": [
                    "FilterSetId"
                ],
                "members": {
                    "FilterSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "DeleteIngressPoint": {
            "input": {
                "type": "structure",
                "required": [
                    "IngressPointId"
                ],
                "members": {
                    "IngressPointId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "DeleteRelay": {
            "input": {
                "type": "structure",
                "required": [
                    "RelayId"
                ],
                "members": {
                    "RelayId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "DeleteRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetId"
                ],
                "members": {
                    "RuleSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "DeleteSolutionInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "SolutionInstanceId"
                ],
                "members": {
                    "SolutionInstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "DeleteSolutionSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "SolutionSubscriptionId"
                ],
                "members": {
                    "SolutionSubscriptionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "GetArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveId"
                ],
                "members": {
                    "ArchiveId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ArchiveId",
                    "MessageRetentionPeriodDays",
                    "ArchiveArn",
                    "ArchiveName"
                ],
                "members": {
                    "ArchiveId": {},
                    "MessageRetentionPeriodDays": {
                        "type": "integer"
                    },
                    "ArchiveArn": {},
                    "ArchiveName": {},
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    },
                    "LastUpdatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "GetFilterSet": {
            "input": {
                "type": "structure",
                "required": [
                    "FilterSetId"
                ],
                "members": {
                    "FilterSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FilterSetName",
                    "FilterSetId"
                ],
                "members": {
                    "FilterSetName": {},
                    "FilterSetId": {},
                    "FilterSetArn": {},
                    "FilterStatements": {
                        "shape": "S8"
                    },
                    "MaxMessageSizeBytes": {
                        "type": "integer"
                    },
                    "DefaultAction": {},
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    },
                    "LastUpdatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "GetIngressPoint": {
            "input": {
                "type": "structure",
                "required": [
                    "IngressPointId"
                ],
                "members": {
                    "IngressPointId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IngressPointId",
                    "IngressPointName"
                ],
                "members": {
                    "IngressPointId": {},
                    "IngressPointName": {},
                    "IngressPointArn": {},
                    "Status": {},
                    "Type": {},
                    "ARecord": {},
                    "RuleSetId": {},
                    "FilterSetId": {},
                    "IngressPointConfiguration": {
                        "shape": "S11"
                    },
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    },
                    "LastUpdatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "GetMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchivedMessageId"
                ],
                "members": {
                    "ArchivedMessageId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MessageDownloadLink": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "GetRelay": {
            "input": {
                "type": "structure",
                "required": [
                    "RelayId"
                ],
                "members": {
                    "RelayId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RelayARN": {},
                    "RelayName": {},
                    "ServerName": {},
                    "ServerPort": {
                        "type": "integer"
                    },
                    "Authentication": {
                        "shape": "S19"
                    },
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    },
                    "LastModifiedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "GetRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetId"
                ],
                "members": {
                    "RuleSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RuleSetARN",
                    "RuleSetName",
                    "Description",
                    "CreatedDate",
                    "LastModificationDate",
                    "Rules"
                ],
                "members": {
                    "RuleSetARN": {},
                    "RuleSetName": {},
                    "Description": {},
                    "CreatedDate": {
                        "type": "timestamp"
                    },
                    "LastModificationDate": {
                        "type": "timestamp"
                    },
                    "Rules": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "GetSearch": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveId",
                    "SearchId"
                ],
                "members": {
                    "ArchiveId": {},
                    "SearchId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "S4m"
                    },
                    "FromTimestamp": {
                        "type": "timestamp"
                    },
                    "ToTimestamp": {
                        "type": "timestamp"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Status": {
                        "shape": "S4v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "GetSearchResults": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveId",
                    "SearchId"
                ],
                "members": {
                    "ArchiveId": {},
                    "SearchId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Rows": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ArchivedMessageId": {},
                                "ReceivedTimestamp": {
                                    "type": "timestamp"
                                },
                                "Date": {},
                                "To": {},
                                "From": {},
                                "Cc": {},
                                "Subject": {},
                                "MessageId": {},
                                "ReceivedHeaders": {
                                    "type": "list",
                                    "member": {}
                                },
                                "InReplyTo": {},
                                "XMailer": {},
                                "XOriginalMailer": {},
                                "XPriority": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "GetSolutionInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "SolutionInstanceId"
                ],
                "members": {
                    "SolutionInstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SolutionSubscriptionId": {},
                    "SolutionName": {},
                    "SolutionInstanceArn": {},
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "GetSolutionSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "SolutionSubscriptionId"
                ],
                "members": {
                    "SolutionSubscriptionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SolutionName": {},
                    "SolutionSubscriptionArn": {},
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "ListArchives": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "PageSize": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Archives"
                ],
                "members": {
                    "Archives": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ArchiveId"
                            ],
                            "members": {
                                "ArchiveId": {},
                                "ArchiveName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "ListFilterSets": {
            "input": {
                "type": "structure",
                "members": {
                    "PageSize": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FilterSets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "FilterSetName",
                                "FilterSetId",
                                "DefaultAction"
                            ],
                            "members": {
                                "FilterSetName": {},
                                "FilterSetId": {},
                                "DefaultAction": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "ListIngressPoints": {
            "input": {
                "type": "structure",
                "members": {
                    "PageSize": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IngressPoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "IngressPointName",
                                "IngressPointId",
                                "Status",
                                "Type"
                            ],
                            "members": {
                                "IngressPointName": {},
                                "IngressPointId": {},
                                "Status": {},
                                "Type": {},
                                "ARecord": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "ListRelays": {
            "input": {
                "type": "structure",
                "members": {
                    "PageSize": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Relays"
                ],
                "members": {
                    "Relays": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RelayId": {},
                                "RelayName": {},
                                "CreatedTimestamp": {
                                    "type": "timestamp"
                                },
                                "LastModifiedTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "ListRuleSets": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "PageSize": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RuleSets"
                ],
                "members": {
                    "RuleSets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RuleSetId": {},
                                "RuleSetName": {},
                                "Description": {},
                                "CreatedDate": {
                                    "type": "timestamp"
                                },
                                "LastModificationDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "ListSearches": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveId"
                ],
                "members": {
                    "ArchiveId": {},
                    "NextToken": {},
                    "PageSize": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Searches": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SearchId": {},
                                "Filters": {
                                    "shape": "S4m"
                                },
                                "FromTimestamp": {
                                    "type": "timestamp"
                                },
                                "ToTimestamp": {
                                    "type": "timestamp"
                                },
                                "MaxResults": {
                                    "type": "integer"
                                },
                                "Status": {
                                    "shape": "S4v"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "ListSolutionInstances": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "PageSize": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SolutionInstances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SolutionInstanceId": {},
                                "SolutionSubscriptionId": {},
                                "SolutionName": {},
                                "SolutionInstanceArn": {},
                                "CreatedTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "ListSolutionSubscriptions": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "PageSize": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SolutionSubscriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SolutionSubscriptionId": {},
                                "SolutionName": {},
                                "SolutionSubscriptionArn": {},
                                "CreatedTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "StartSearch": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveId",
                    "FromTimestamp",
                    "ToTimestamp",
                    "MaxResults"
                ],
                "members": {
                    "ArchiveId": {},
                    "Filters": {
                        "shape": "S4m"
                    },
                    "FromTimestamp": {
                        "type": "timestamp"
                    },
                    "ToTimestamp": {
                        "type": "timestamp"
                    },
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SearchId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "StopSearch": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveId",
                    "SearchId"
                ],
                "members": {
                    "ArchiveId": {},
                    "SearchId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "UpdateArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveId"
                ],
                "members": {
                    "ArchiveId": {},
                    "ArchiveName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "UpdateFilterSet": {
            "input": {
                "type": "structure",
                "required": [
                    "FilterSetId"
                ],
                "members": {
                    "FilterSetId": {},
                    "FilterSetName": {},
                    "FilterStatements": {
                        "shape": "S8"
                    },
                    "DefaultAction": {},
                    "MaxMessageSizeBytes": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "UpdateIngressPoint": {
            "input": {
                "type": "structure",
                "required": [
                    "IngressPointId"
                ],
                "members": {
                    "IngressPointId": {},
                    "Status": {},
                    "RuleSetId": {},
                    "FilterSetId": {},
                    "IngressPointConfiguration": {
                        "shape": "S11"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "UpdateRelay": {
            "input": {
                "type": "structure",
                "required": [
                    "RelayId"
                ],
                "members": {
                    "RelayId": {},
                    "RelayName": {},
                    "ServerName": {},
                    "ServerPort": {
                        "type": "integer"
                    },
                    "Authentication": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        },
        "UpdateRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetId"
                ],
                "members": {
                    "RuleSetId": {},
                    "RuleSetName": {},
                    "Description": {},
                    "Rules": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S8": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Conditions",
                    "Action"
                ],
                "members": {
                    "Conditions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StringExpression": {
                                    "type": "structure",
                                    "required": [
                                        "Evaluate",
                                        "Operator",
                                        "Value"
                                    ],
                                    "members": {
                                        "Evaluate": {
                                            "type": "structure",
                                            "members": {
                                                "Attribute": {}
                                            },
                                            "union": true
                                        },
                                        "Operator": {},
                                        "Value": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                },
                                "IpExpression": {
                                    "type": "structure",
                                    "required": [
                                        "Evaluate",
                                        "Operator",
                                        "Value"
                                    ],
                                    "members": {
                                        "Evaluate": {
                                            "type": "structure",
                                            "members": {
                                                "Attribute": {}
                                            },
                                            "union": true
                                        },
                                        "Operator": {},
                                        "Value": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                },
                                "TlsExpression": {
                                    "type": "structure",
                                    "required": [
                                        "Evaluate",
                                        "Operator",
                                        "Value"
                                    ],
                                    "members": {
                                        "Evaluate": {
                                            "type": "structure",
                                            "members": {
                                                "Attribute": {}
                                            },
                                            "union": true
                                        },
                                        "Operator": {},
                                        "Value": {}
                                    }
                                }
                            },
                            "union": true
                        }
                    },
                    "Action": {}
                }
            }
        },
        "S11": {
            "type": "structure",
            "members": {
                "SmtpPassword": {}
            }
        },
        "S19": {
            "type": "structure",
            "members": {
                "PasswordAuthentication": {
                    "type": "structure",
                    "required": [
                        "Username",
                        "Password"
                    ],
                    "members": {
                        "Username": {},
                        "Password": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                }
            },
            "union": true
        },
        "S1d": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S1m": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Actions"
                ],
                "members": {
                    "Name": {},
                    "Conditions": {
                        "shape": "S1p"
                    },
                    "Unless": {
                        "shape": "S1p"
                    },
                    "Actions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Drop": {
                                    "type": "structure",
                                    "members": {}
                                },
                                "Relay": {
                                    "type": "structure",
                                    "required": [
                                        "Relay"
                                    ],
                                    "members": {
                                        "Relay": {},
                                        "MailFrom": {}
                                    }
                                },
                                "Archive": {
                                    "type": "structure",
                                    "required": [
                                        "TargetArchive"
                                    ],
                                    "members": {
                                        "TargetArchive": {}
                                    }
                                },
                                "WriteToS3": {
                                    "type": "structure",
                                    "required": [
                                        "S3Bucket"
                                    ],
                                    "members": {
                                        "S3Bucket": {},
                                        "S3Prefix": {},
                                        "S3SseKmsKeyId": {}
                                    }
                                },
                                "Send": {
                                    "type": "structure",
                                    "required": [
                                        "RoleArn"
                                    ],
                                    "members": {
                                        "RoleArn": {}
                                    }
                                },
                                "AddHeader": {
                                    "type": "structure",
                                    "required": [
                                        "HeaderKey",
                                        "HeaderValue"
                                    ],
                                    "members": {
                                        "HeaderKey": {},
                                        "HeaderValue": {}
                                    }
                                },
                                "ReplaceRecipient": {
                                    "type": "structure",
                                    "members": {
                                        "ReplaceWith": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                },
                                "DeliverToMailbox": {
                                    "type": "structure",
                                    "required": [
                                        "MailboxArn",
                                        "RoleArn"
                                    ],
                                    "members": {
                                        "MailboxArn": {},
                                        "RoleArn": {}
                                    }
                                }
                            },
                            "union": true
                        }
                    }
                }
            }
        },
        "S1p": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "BooleanExpression": {
                        "type": "structure",
                        "required": [
                            "Evaluate",
                            "Operator"
                        ],
                        "members": {
                            "Evaluate": {
                                "type": "structure",
                                "members": {
                                    "Attribute": {},
                                    "Analysis": {
                                        "shape": "S1u"
                                    }
                                },
                                "union": true
                            },
                            "Operator": {}
                        }
                    },
                    "StringExpression": {
                        "type": "structure",
                        "required": [
                            "Evaluate",
                            "Operator",
                            "Value"
                        ],
                        "members": {
                            "Evaluate": {
                                "type": "structure",
                                "members": {
                                    "Attribute": {}
                                },
                                "union": true
                            },
                            "Operator": {},
                            "Value": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "NumberExpression": {
                        "type": "structure",
                        "required": [
                            "Evaluate",
                            "Operator",
                            "Value"
                        ],
                        "members": {
                            "Evaluate": {
                                "type": "structure",
                                "members": {
                                    "Attribute": {},
                                    "Analysis": {
                                        "shape": "S1u"
                                    }
                                },
                                "union": true
                            },
                            "Operator": {},
                            "Value": {
                                "type": "double"
                            }
                        }
                    },
                    "IpExpression": {
                        "type": "structure",
                        "required": [
                            "Evaluate",
                            "Operator",
                            "Value"
                        ],
                        "members": {
                            "Evaluate": {
                                "type": "structure",
                                "members": {
                                    "Attribute": {},
                                    "Analysis": {
                                        "shape": "S1u"
                                    }
                                },
                                "union": true
                            },
                            "Operator": {},
                            "Value": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "VerdictExpression": {
                        "type": "structure",
                        "required": [
                            "Evaluate",
                            "Operator",
                            "Value"
                        ],
                        "members": {
                            "Evaluate": {
                                "type": "structure",
                                "members": {
                                    "Attribute": {},
                                    "Analysis": {
                                        "shape": "S1u"
                                    }
                                },
                                "union": true
                            },
                            "Operator": {},
                            "Value": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "DmarcExpression": {
                        "type": "structure",
                        "required": [
                            "Operator",
                            "Value"
                        ],
                        "members": {
                            "Operator": {},
                            "Value": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                },
                "union": true
            }
        },
        "S1u": {
            "type": "structure",
            "required": [
                "Analyzer"
            ],
            "members": {
                "Analyzer": {},
                "ResultField": {}
            }
        },
        "S4m": {
            "type": "structure",
            "members": {
                "Include": {
                    "shape": "S4n"
                },
                "Unless": {
                    "shape": "S4n"
                }
            }
        },
        "S4n": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "StringExpression": {
                        "type": "structure",
                        "required": [
                            "Evaluate",
                            "Operator",
                            "Value"
                        ],
                        "members": {
                            "Evaluate": {
                                "type": "structure",
                                "members": {
                                    "Attribute": {}
                                },
                                "union": true
                            },
                            "Operator": {},
                            "Value": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                },
                "union": true
            }
        },
        "S4v": {
            "type": "structure",
            "members": {
                "SubmissionTimestamp": {
                    "type": "timestamp"
                },
                "CompletionTimestamp": {
                    "type": "timestamp"
                },
                "State": {},
                "ErrorType": {
                    "type": "long"
                },
                "ErrorMessage": {}
            }
        }
    }
}