{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-09-01",
        "endpointPrefix": "braket",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Braket",
        "serviceId": "Braket",
        "signatureVersion": "v4",
        "signingName": "braket",
        "uid": "braket-2019-09-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/UBNAIHVMX4WP2BFYOTX3H55JKWN6KFNN6LHL6IYHQXEOIJ7S7D6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7JZ4I7UEINU36UWMH6RJXUGZ6ABIDRDXSKFXSW2DFQXIRRF7HVMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NJQMBMZBZ5HCEGV2Z4BTAWQLEXVTKCVBK7WCFZ6NMHZAW4AZNBSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OIJ6MEXGJMHFEV6SKTCKBY3QBMQPTXYFJIPU36TNXIRMURJ25EKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YCNK2K6VSPC4UNZIGNNZDJDTS6XHEED6LYJVMDOBQUMS222XZNXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ3AW2TRQAFUKQNYVUEAPS4ROXU4UROJ5I3JMRVZJ6HWV5DAWFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4VPQ5AFV5WQPKMG5IBF7SMXYEXAQ6MHYYPUBBTF7IB2BG5BCHM3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HCY4ZKTNKDI4OHLEUUORTQI7LEHQOZGZVT57JQC64SGFOA7HJANA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CancelJob": {
            "http": {
                "method": "PUT",
                "requestUri": "/job/{jobArn}/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobArn"
                ],
                "members": {
                    "jobArn": {
                        "location": "uri",
                        "locationName": "jobArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cancellationStatus",
                    "jobArn"
                ],
                "members": {
                    "cancellationStatus": {},
                    "jobArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ2B6UMNZ5FTRQQRJ7FLFHWPKU5F2IBHWMEOKPXN7KHQCXDII2RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWKGGFV5VG6YYH6RTYBF5ADQEGY5THNBUEJNCQ73N5QPQDRM7FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UED5M5DND3TNNVGYQH2VS3KY5SS4GOALBYECVSNORN2GN5AREPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBNAIHVMX4WP2BFYOTX3H55JKWN6KFNN6LHL6IYHQXEOIJ7S7D6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JZ4I7UEINU36UWMH6RJXUGZ6ABIDRDXSKFXSW2DFQXIRRF7HVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJQMBMZBZ5HCEGV2Z4BTAWQLEXVTKCVBK7WCFZ6NMHZAW4AZNBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIJ6MEXGJMHFEV6SKTCKBY3QBMQPTXYFJIPU36TNXIRMURJ25EKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCNK2K6VSPC4UNZIGNNZDJDTS6XHEED6LYJVMDOBQUMS222XZNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ3AW2TRQAFUKQNYVUEAPS4ROXU4UROJ5I3JMRVZJ6HWV5DAWFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VPQ5AFV5WQPKMG5IBF7SMXYEXAQ6MHYYPUBBTF7IB2BG5BCHM3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCY4ZKTNKDI4OHLEUUORTQI7LEHQOZGZVT57JQC64SGFOA7HJANA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CancelQuantumTask": {
            "http": {
                "method": "PUT",
                "requestUri": "/quantum-task/{quantumTaskArn}/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "quantumTaskArn"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "quantumTaskArn": {
                        "location": "uri",
                        "locationName": "quantumTaskArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cancellationStatus",
                    "quantumTaskArn"
                ],
                "members": {
                    "cancellationStatus": {},
                    "quantumTaskArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JZ4I7UEINU36UWMH6RJXUGZ6ABIDRDXSKFXSW2DFQXIRRF7HVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJQMBMZBZ5HCEGV2Z4BTAWQLEXVTKCVBK7WCFZ6NMHZAW4AZNBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIJ6MEXGJMHFEV6SKTCKBY3QBMQPTXYFJIPU36TNXIRMURJ25EKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCNK2K6VSPC4UNZIGNNZDJDTS6XHEED6LYJVMDOBQUMS222XZNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ3AW2TRQAFUKQNYVUEAPS4ROXU4UROJ5I3JMRVZJ6HWV5DAWFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VPQ5AFV5WQPKMG5IBF7SMXYEXAQ6MHYYPUBBTF7IB2BG5BCHM3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCY4ZKTNKDI4OHLEUUORTQI7LEHQOZGZVT57JQC64SGFOA7HJANA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateJob": {
            "http": {
                "requestUri": "/job",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "algorithmSpecification",
                    "clientToken",
                    "deviceConfig",
                    "instanceConfig",
                    "jobName",
                    "outputDataConfig",
                    "roleArn"
                ],
                "members": {
                    "algorithmSpecification": {
                        "shape": "Sa"
                    },
                    "checkpointConfig": {
                        "shape": "Sh"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "deviceConfig": {
                        "shape": "Sj"
                    },
                    "hyperParameters": {
                        "shape": "Sl"
                    },
                    "inputDataConfig": {
                        "type": "list",
                        "member": {
                            "shape": "So"
                        }
                    },
                    "instanceConfig": {
                        "shape": "Ss"
                    },
                    "jobName": {},
                    "outputDataConfig": {
                        "shape": "Sx"
                    },
                    "roleArn": {},
                    "stoppingCondition": {
                        "shape": "S10"
                    },
                    "tags": {
                        "shape": "S12"
                    },
                    "associationConfig": {
                        "shape": "S1a"
                    },
                    "associations": {
                        "type": "list",
                        "member": {
                            "shape": "S1b"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobArn"
                ],
                "members": {
                    "jobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ2B6UMNZ5FTRQQRJ7FLFHWPKU5F2IBHWMEOKPXN7KHQCXDII2RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWKGGFV5VG6YYH6RTYBF5ADQEGY5THNBUEJNCQ73N5QPQDRM7FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UED5M5DND3TNNVGYQH2VS3KY5SS4GOALBYECVSNORN2GN5AREPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBNAIHVMX4WP2BFYOTX3H55JKWN6KFNN6LHL6IYHQXEOIJ7S7D6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JZ4I7UEINU36UWMH6RJXUGZ6ABIDRDXSKFXSW2DFQXIRRF7HVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJQMBMZBZ5HCEGV2Z4BTAWQLEXVTKCVBK7WCFZ6NMHZAW4AZNBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIJ6MEXGJMHFEV6SKTCKBY3QBMQPTXYFJIPU36TNXIRMURJ25EKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCNK2K6VSPC4UNZIGNNZDJDTS6XHEED6LYJVMDOBQUMS222XZNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ3AW2TRQAFUKQNYVUEAPS4ROXU4UROJ5I3JMRVZJ6HWV5DAWFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VPQ5AFV5WQPKMG5IBF7SMXYEXAQ6MHYYPUBBTF7IB2BG5BCHM3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCY4ZKTNKDI4OHLEUUORTQI7LEHQOZGZVT57JQC64SGFOA7HJANA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateQuantumTask": {
            "http": {
                "requestUri": "/quantum-task",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "action",
                    "clientToken",
                    "deviceArn",
                    "outputS3Bucket",
                    "outputS3KeyPrefix",
                    "shots"
                ],
                "members": {
                    "action": {
                        "jsonvalue": true
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "deviceArn": {},
                    "deviceParameters": {
                        "jsonvalue": true
                    },
                    "jobToken": {},
                    "outputS3Bucket": {},
                    "outputS3KeyPrefix": {},
                    "shots": {
                        "type": "long"
                    },
                    "tags": {
                        "shape": "S12"
                    },
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "associationConfig": {
                        "shape": "S1a"
                    },
                    "associations": {
                        "type": "list",
                        "member": {
                            "shape": "S1b"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "quantumTaskArn"
                ],
                "members": {
                    "quantumTaskArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JZ4I7UEINU36UWMH6RJXUGZ6ABIDRDXSKFXSW2DFQXIRRF7HVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJQMBMZBZ5HCEGV2Z4BTAWQLEXVTKCVBK7WCFZ6NMHZAW4AZNBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIJ6MEXGJMHFEV6SKTCKBY3QBMQPTXYFJIPU36TNXIRMURJ25EKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCNK2K6VSPC4UNZIGNNZDJDTS6XHEED6LYJVMDOBQUMS222XZNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ3AW2TRQAFUKQNYVUEAPS4ROXU4UROJ5I3JMRVZJ6HWV5DAWFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VPQ5AFV5WQPKMG5IBF7SMXYEXAQ6MHYYPUBBTF7IB2BG5BCHM3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCY4ZKTNKDI4OHLEUUORTQI7LEHQOZGZVT57JQC64SGFOA7HJANA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetDevice": {
            "http": {
                "method": "GET",
                "requestUri": "/device/{deviceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceArn"
                ],
                "members": {
                    "deviceArn": {
                        "location": "uri",
                        "locationName": "deviceArn"
                    },
                    "originatingAccountId": {
                        "internalonly": true,
                        "location": "querystring",
                        "locationName": "originatingAccountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "deviceArn",
                    "deviceCapabilities",
                    "deviceName",
                    "deviceStatus",
                    "deviceType",
                    "providerName"
                ],
                "members": {
                    "deviceArn": {},
                    "deviceCapabilities": {
                        "jsonvalue": true
                    },
                    "deviceName": {},
                    "deviceStatus": {},
                    "deviceType": {},
                    "providerName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JZ4I7UEINU36UWMH6RJXUGZ6ABIDRDXSKFXSW2DFQXIRRF7HVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJQMBMZBZ5HCEGV2Z4BTAWQLEXVTKCVBK7WCFZ6NMHZAW4AZNBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIJ6MEXGJMHFEV6SKTCKBY3QBMQPTXYFJIPU36TNXIRMURJ25EKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCNK2K6VSPC4UNZIGNNZDJDTS6XHEED6LYJVMDOBQUMS222XZNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ3AW2TRQAFUKQNYVUEAPS4ROXU4UROJ5I3JMRVZJ6HWV5DAWFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VPQ5AFV5WQPKMG5IBF7SMXYEXAQ6MHYYPUBBTF7IB2BG5BCHM3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCY4ZKTNKDI4OHLEUUORTQI7LEHQOZGZVT57JQC64SGFOA7HJANA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetJob": {
            "http": {
                "method": "GET",
                "requestUri": "/job/{jobArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobArn"
                ],
                "members": {
                    "jobArn": {
                        "location": "uri",
                        "locationName": "jobArn"
                    },
                    "additionalAttributeNames": {
                        "location": "querystring",
                        "locationName": "additionalAttributeNames",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "algorithmSpecification",
                    "createdAt",
                    "instanceConfig",
                    "jobArn",
                    "jobName",
                    "outputDataConfig",
                    "roleArn",
                    "status"
                ],
                "members": {
                    "algorithmSpecification": {
                        "shape": "Sa"
                    },
                    "billableDuration": {
                        "type": "integer"
                    },
                    "checkpointConfig": {
                        "shape": "Sh"
                    },
                    "createdAt": {
                        "shape": "S1k"
                    },
                    "deviceConfig": {
                        "shape": "Sj"
                    },
                    "endedAt": {
                        "shape": "S1k"
                    },
                    "events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "eventType": {},
                                "message": {},
                                "timeOfEvent": {
                                    "shape": "S1k"
                                }
                            }
                        }
                    },
                    "failureReason": {},
                    "hyperParameters": {
                        "shape": "Sl"
                    },
                    "inputDataConfig": {
                        "type": "list",
                        "member": {
                            "shape": "So"
                        }
                    },
                    "instanceConfig": {
                        "shape": "Ss"
                    },
                    "jobArn": {},
                    "jobName": {},
                    "outputDataConfig": {
                        "shape": "Sx"
                    },
                    "roleArn": {},
                    "startedAt": {
                        "shape": "S1k"
                    },
                    "status": {},
                    "stoppingCondition": {
                        "shape": "S10"
                    },
                    "tags": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ2B6UMNZ5FTRQQRJ7FLFHWPKU5F2IBHWMEOKPXN7KHQCXDII2RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWKGGFV5VG6YYH6RTYBF5ADQEGY5THNBUEJNCQ73N5QPQDRM7FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UED5M5DND3TNNVGYQH2VS3KY5SS4GOALBYECVSNORN2GN5AREPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBNAIHVMX4WP2BFYOTX3H55JKWN6KFNN6LHL6IYHQXEOIJ7S7D6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JZ4I7UEINU36UWMH6RJXUGZ6ABIDRDXSKFXSW2DFQXIRRF7HVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJQMBMZBZ5HCEGV2Z4BTAWQLEXVTKCVBK7WCFZ6NMHZAW4AZNBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIJ6MEXGJMHFEV6SKTCKBY3QBMQPTXYFJIPU36TNXIRMURJ25EKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCNK2K6VSPC4UNZIGNNZDJDTS6XHEED6LYJVMDOBQUMS222XZNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ3AW2TRQAFUKQNYVUEAPS4ROXU4UROJ5I3JMRVZJ6HWV5DAWFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VPQ5AFV5WQPKMG5IBF7SMXYEXAQ6MHYYPUBBTF7IB2BG5BCHM3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCY4ZKTNKDI4OHLEUUORTQI7LEHQOZGZVT57JQC64SGFOA7HJANA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetQuantumTask": {
            "http": {
                "method": "GET",
                "requestUri": "/quantum-task/{quantumTaskArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "quantumTaskArn"
                ],
                "members": {
                    "quantumTaskArn": {
                        "location": "uri",
                        "locationName": "quantumTaskArn"
                    },
                    "additionalAttributeNames": {
                        "location": "querystring",
                        "locationName": "additionalAttributeNames",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createdAt",
                    "deviceArn",
                    "deviceParameters",
                    "outputS3Bucket",
                    "outputS3Directory",
                    "quantumTaskArn",
                    "shots",
                    "status"
                ],
                "members": {
                    "createdAt": {
                        "shape": "S1k"
                    },
                    "deviceArn": {},
                    "deviceParameters": {
                        "jsonvalue": true
                    },
                    "endedAt": {
                        "shape": "S1k"
                    },
                    "failureReason": {},
                    "jobArn": {},
                    "outputS3Bucket": {},
                    "outputS3Directory": {},
                    "quantumTaskArn": {},
                    "shots": {
                        "type": "long"
                    },
                    "status": {},
                    "tags": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JZ4I7UEINU36UWMH6RJXUGZ6ABIDRDXSKFXSW2DFQXIRRF7HVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJQMBMZBZ5HCEGV2Z4BTAWQLEXVTKCVBK7WCFZ6NMHZAW4AZNBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIJ6MEXGJMHFEV6SKTCKBY3QBMQPTXYFJIPU36TNXIRMURJ25EKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCNK2K6VSPC4UNZIGNNZDJDTS6XHEED6LYJVMDOBQUMS222XZNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ3AW2TRQAFUKQNYVUEAPS4ROXU4UROJ5I3JMRVZJ6HWV5DAWFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VPQ5AFV5WQPKMG5IBF7SMXYEXAQ6MHYYPUBBTF7IB2BG5BCHM3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCY4ZKTNKDI4OHLEUUORTQI7LEHQOZGZVT57JQC64SGFOA7HJANA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JZ4I7UEINU36UWMH6RJXUGZ6ABIDRDXSKFXSW2DFQXIRRF7HVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJQMBMZBZ5HCEGV2Z4BTAWQLEXVTKCVBK7WCFZ6NMHZAW4AZNBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIJ6MEXGJMHFEV6SKTCKBY3QBMQPTXYFJIPU36TNXIRMURJ25EKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCNK2K6VSPC4UNZIGNNZDJDTS6XHEED6LYJVMDOBQUMS222XZNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ3AW2TRQAFUKQNYVUEAPS4ROXU4UROJ5I3JMRVZJ6HWV5DAWFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VPQ5AFV5WQPKMG5IBF7SMXYEXAQ6MHYYPUBBTF7IB2BG5BCHM3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCY4ZKTNKDI4OHLEUUORTQI7LEHQOZGZVT57JQC64SGFOA7HJANA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "SearchDevices": {
            "http": {
                "requestUri": "/devices",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "filters"
                ],
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "values"
                            ],
                            "members": {
                                "name": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "devices"
                ],
                "members": {
                    "devices": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "deviceArn",
                                "deviceName",
                                "deviceStatus",
                                "deviceType",
                                "providerName"
                            ],
                            "members": {
                                "deviceArn": {},
                                "deviceName": {},
                                "deviceStatus": {},
                                "deviceType": {},
                                "providerName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JZ4I7UEINU36UWMH6RJXUGZ6ABIDRDXSKFXSW2DFQXIRRF7HVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJQMBMZBZ5HCEGV2Z4BTAWQLEXVTKCVBK7WCFZ6NMHZAW4AZNBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIJ6MEXGJMHFEV6SKTCKBY3QBMQPTXYFJIPU36TNXIRMURJ25EKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCNK2K6VSPC4UNZIGNNZDJDTS6XHEED6LYJVMDOBQUMS222XZNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ3AW2TRQAFUKQNYVUEAPS4ROXU4UROJ5I3JMRVZJ6HWV5DAWFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VPQ5AFV5WQPKMG5IBF7SMXYEXAQ6MHYYPUBBTF7IB2BG5BCHM3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCY4ZKTNKDI4OHLEUUORTQI7LEHQOZGZVT57JQC64SGFOA7HJANA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "SearchJobs": {
            "http": {
                "requestUri": "/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "filters"
                ],
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "operator",
                                "values"
                            ],
                            "members": {
                                "name": {},
                                "operator": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobs"
                ],
                "members": {
                    "jobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createdAt",
                                "device",
                                "jobArn",
                                "jobName",
                                "status"
                            ],
                            "members": {
                                "createdAt": {
                                    "shape": "S1k"
                                },
                                "device": {},
                                "endedAt": {
                                    "shape": "S1k"
                                },
                                "jobArn": {},
                                "jobName": {},
                                "startedAt": {
                                    "shape": "S1k"
                                },
                                "status": {},
                                "tags": {
                                    "shape": "S12"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ2B6UMNZ5FTRQQRJ7FLFHWPKU5F2IBHWMEOKPXN7KHQCXDII2RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWKGGFV5VG6YYH6RTYBF5ADQEGY5THNBUEJNCQ73N5QPQDRM7FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UED5M5DND3TNNVGYQH2VS3KY5SS4GOALBYECVSNORN2GN5AREPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBNAIHVMX4WP2BFYOTX3H55JKWN6KFNN6LHL6IYHQXEOIJ7S7D6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JZ4I7UEINU36UWMH6RJXUGZ6ABIDRDXSKFXSW2DFQXIRRF7HVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJQMBMZBZ5HCEGV2Z4BTAWQLEXVTKCVBK7WCFZ6NMHZAW4AZNBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIJ6MEXGJMHFEV6SKTCKBY3QBMQPTXYFJIPU36TNXIRMURJ25EKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCNK2K6VSPC4UNZIGNNZDJDTS6XHEED6LYJVMDOBQUMS222XZNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ3AW2TRQAFUKQNYVUEAPS4ROXU4UROJ5I3JMRVZJ6HWV5DAWFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VPQ5AFV5WQPKMG5IBF7SMXYEXAQ6MHYYPUBBTF7IB2BG5BCHM3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCY4ZKTNKDI4OHLEUUORTQI7LEHQOZGZVT57JQC64SGFOA7HJANA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "SearchQuantumTasks": {
            "http": {
                "requestUri": "/quantum-tasks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "filters"
                ],
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "operator",
                                "values"
                            ],
                            "members": {
                                "name": {},
                                "operator": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "quantumTasks"
                ],
                "members": {
                    "nextToken": {},
                    "quantumTasks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createdAt",
                                "deviceArn",
                                "outputS3Bucket",
                                "outputS3Directory",
                                "quantumTaskArn",
                                "shots",
                                "status"
                            ],
                            "members": {
                                "createdAt": {
                                    "shape": "S1k"
                                },
                                "deviceArn": {},
                                "endedAt": {
                                    "shape": "S1k"
                                },
                                "outputS3Bucket": {},
                                "outputS3Directory": {},
                                "quantumTaskArn": {},
                                "shots": {
                                    "type": "long"
                                },
                                "status": {},
                                "tags": {
                                    "shape": "S12"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JZ4I7UEINU36UWMH6RJXUGZ6ABIDRDXSKFXSW2DFQXIRRF7HVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJQMBMZBZ5HCEGV2Z4BTAWQLEXVTKCVBK7WCFZ6NMHZAW4AZNBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIJ6MEXGJMHFEV6SKTCKBY3QBMQPTXYFJIPU36TNXIRMURJ25EKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCNK2K6VSPC4UNZIGNNZDJDTS6XHEED6LYJVMDOBQUMS222XZNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ3AW2TRQAFUKQNYVUEAPS4ROXU4UROJ5I3JMRVZJ6HWV5DAWFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VPQ5AFV5WQPKMG5IBF7SMXYEXAQ6MHYYPUBBTF7IB2BG5BCHM3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCY4ZKTNKDI4OHLEUUORTQI7LEHQOZGZVT57JQC64SGFOA7HJANA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JZ4I7UEINU36UWMH6RJXUGZ6ABIDRDXSKFXSW2DFQXIRRF7HVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJQMBMZBZ5HCEGV2Z4BTAWQLEXVTKCVBK7WCFZ6NMHZAW4AZNBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIJ6MEXGJMHFEV6SKTCKBY3QBMQPTXYFJIPU36TNXIRMURJ25EKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCNK2K6VSPC4UNZIGNNZDJDTS6XHEED6LYJVMDOBQUMS222XZNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ3AW2TRQAFUKQNYVUEAPS4ROXU4UROJ5I3JMRVZJ6HWV5DAWFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VPQ5AFV5WQPKMG5IBF7SMXYEXAQ6MHYYPUBBTF7IB2BG5BCHM3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCY4ZKTNKDI4OHLEUUORTQI7LEHQOZGZVT57JQC64SGFOA7HJANA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JZ4I7UEINU36UWMH6RJXUGZ6ABIDRDXSKFXSW2DFQXIRRF7HVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJQMBMZBZ5HCEGV2Z4BTAWQLEXVTKCVBK7WCFZ6NMHZAW4AZNBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIJ6MEXGJMHFEV6SKTCKBY3QBMQPTXYFJIPU36TNXIRMURJ25EKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCNK2K6VSPC4UNZIGNNZDJDTS6XHEED6LYJVMDOBQUMS222XZNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ3AW2TRQAFUKQNYVUEAPS4ROXU4UROJ5I3JMRVZJ6HWV5DAWFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VPQ5AFV5WQPKMG5IBF7SMXYEXAQ6MHYYPUBBTF7IB2BG5BCHM3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCY4ZKTNKDI4OHLEUUORTQI7LEHQOZGZVT57JQC64SGFOA7HJANA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AcceptUserAgreement": {
            "http": {
                "method": "PUT",
                "requestUri": "/user-agreement",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFZHSTMQGR6OJGFVG7JPP6U2EHESZV3GE6UDBVLYZF6QYSVLT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3A4O2XVT4S4YJ2SHY7XHHYU6XVURKAZ2TISCCN5RKNSSYGA4M7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FJ62H3YH5AQTBZJQYVN5QF527ZGBP5UBQB3TRZOCRWRHQX2GJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y247DBW32XTTWC5SWVXIJD664VAC7YWJ7ZSHAX3QAR5CIM7B6QKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ2B6UMNZ5FTRQQRJ7FLFHWPKU5F2IBHWMEOKPXN7KHQCXDII2RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWKGGFV5VG6YYH6RTYBF5ADQEGY5THNBUEJNCQ73N5QPQDRM7FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UED5M5DND3TNNVGYQH2VS3KY5SS4GOALBYECVSNORN2GN5AREPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBNAIHVMX4WP2BFYOTX3H55JKWN6KFNN6LHL6IYHQXEOIJ7S7D6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JZ4I7UEINU36UWMH6RJXUGZ6ABIDRDXSKFXSW2DFQXIRRF7HVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJQMBMZBZ5HCEGV2Z4BTAWQLEXVTKCVBK7WCFZ6NMHZAW4AZNBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIJ6MEXGJMHFEV6SKTCKBY3QBMQPTXYFJIPU36TNXIRMURJ25EKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCNK2K6VSPC4UNZIGNNZDJDTS6XHEED6LYJVMDOBQUMS222XZNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ3AW2TRQAFUKQNYVUEAPS4ROXU4UROJ5I3JMRVZJ6HWV5DAWFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VPQ5AFV5WQPKMG5IBF7SMXYEXAQ6MHYYPUBBTF7IB2BG5BCHM3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCY4ZKTNKDI4OHLEUUORTQI7LEHQOZGZVT57JQC64SGFOA7HJANA/main.js"
            ]
        },
        "AccessBraketFeature": {
            "http": {
                "requestUri": "/feature",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "featureName",
                    "accountId"
                ],
                "members": {
                    "featureName": {},
                    "accountId": {},
                    "servicePrincipals": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "enabled"
                ],
                "members": {
                    "enabled": {
                        "type": "boolean"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFZHSTMQGR6OJGFVG7JPP6U2EHESZV3GE6UDBVLYZF6QYSVLT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3A4O2XVT4S4YJ2SHY7XHHYU6XVURKAZ2TISCCN5RKNSSYGA4M7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FJ62H3YH5AQTBZJQYVN5QF527ZGBP5UBQB3TRZOCRWRHQX2GJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y247DBW32XTTWC5SWVXIJD664VAC7YWJ7ZSHAX3QAR5CIM7B6QKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ2B6UMNZ5FTRQQRJ7FLFHWPKU5F2IBHWMEOKPXN7KHQCXDII2RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWKGGFV5VG6YYH6RTYBF5ADQEGY5THNBUEJNCQ73N5QPQDRM7FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UED5M5DND3TNNVGYQH2VS3KY5SS4GOALBYECVSNORN2GN5AREPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBNAIHVMX4WP2BFYOTX3H55JKWN6KFNN6LHL6IYHQXEOIJ7S7D6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JZ4I7UEINU36UWMH6RJXUGZ6ABIDRDXSKFXSW2DFQXIRRF7HVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJQMBMZBZ5HCEGV2Z4BTAWQLEXVTKCVBK7WCFZ6NMHZAW4AZNBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIJ6MEXGJMHFEV6SKTCKBY3QBMQPTXYFJIPU36TNXIRMURJ25EKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCNK2K6VSPC4UNZIGNNZDJDTS6XHEED6LYJVMDOBQUMS222XZNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ3AW2TRQAFUKQNYVUEAPS4ROXU4UROJ5I3JMRVZJ6HWV5DAWFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VPQ5AFV5WQPKMG5IBF7SMXYEXAQ6MHYYPUBBTF7IB2BG5BCHM3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCY4ZKTNKDI4OHLEUUORTQI7LEHQOZGZVT57JQC64SGFOA7HJANA/main.js"
            ]
        },
        "CreateCompilation": {
            "http": {
                "requestUri": "/compilation",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceArn",
                    "action"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "deviceArn": {},
                    "action": {
                        "jsonvalue": true
                    },
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "compilationArn"
                ],
                "members": {
                    "compilationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFFBFZ2UUPNZC67JQLW65TR5AJA7IIADMYWPCQQTDAQQB3B5F4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMB2K2NKXVM5RF4X67DE7TPO2R5SCYEXHGLEXOUKZAFHHM2T6JYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UASJMIEGNQ6PWX5UCKMTR6WQZS62RIS72YVQ66BO7DWIXAN6W2WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSH5O4R4QJX3DG2PXMDHXQZV5FXBRDCXLDYNMUXDSBX3QZODWMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMWMXP7FUR3O7FKLUTC35HODC7ZMIEEVCQ6LSDPBHLIFRI4UR4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN734C2Y2TEDXW65WJQ2ELALOZTX664RA3OLFJYPJ2E5GXTMMWLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQO222E3YUEBKZLEL5SMU45MQFHGBM7PRV4LTOFUQFT6JO6OHXVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6YJ7N2L4Y73533BR7K5QO3LEBQXHERW4VWGG7GQD7TZ5RD33VLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZSUKI2N3VIM54AMVSJ6C52IUT46NY5WF6VM4KJNVU7VHK6PZN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQNXP6W3W4IWMEFQVFXCJYLQWNYAKYSEDS6UTGGBGQUWSRGYIVUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E63CIH55GCG42ECHACFI6BDUVRCKHHLO2ZPI4P5WKO5GTSORLY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KDWSMCOYFPNPSOLBRZOHVT36EODDDAXVRCWJQ4YS4FEYWGYI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICGI5QVQT32AAD3PZADZ3Q77MFBN4VWVDQKOJTBMJJIDOPSBVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USUX4O5BZVUJI24MUQHHWX2I5FBHYY2DTOO66ZS43P64X4NRBC3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GDBVVKMSDI75XLSBQ7Y7CEYMY5K2ROVKMEDWGWJW2DR6ASVPNFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZ5MQMBPMCOBZE7XDETKYZQT3OPIB5YMMLIVJVXTD5NGYLPONCTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYW6SJTDLKJVVU7432JZ2PTONWRJHGGBKTPFWN6XL6HBXYQIB2UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPLQSHYE4DX2TVBBEGFGX34WQ32J6JP2YACR3XGQNFDYT74XHOLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRPETGWMKY6KFHRPDGLNPQO5JLXIDQSOFVECISABOY2KHNMKR6JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVBPZNHA56GYF7JU3KWPCXGHF2Y7TTX7LFC2NG3RPCLN5YPPEMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX7HGHX6XFASMOPKDVUHGIT3OQVOZKIYRLBYRBOI3ZKTWMGKCPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHTV6NVXFQ23QGNXTQ7WWN2FEQDYH7GHS734OOVMCDDI5GU64DHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34VFGAIWIYNNJSU24WT7WWARXHWO63ZWQUFKKNUXKQI5ZDC2FCKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHCCSXVFJNK3GUK7E43XBGLVYF6C47XRVPIBYF77UAR5V5KA7FQQ/main.js"
            ]
        },
        "DeleteAccountResources": {
            "http": {
                "method": "DELETE",
                "requestUri": "/account-resources",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "required": [
                    "deleteRequestId",
                    "deletionStatus"
                ],
                "members": {
                    "deleteRequestId": {},
                    "deletionStatus": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFZHSTMQGR6OJGFVG7JPP6U2EHESZV3GE6UDBVLYZF6QYSVLT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3A4O2XVT4S4YJ2SHY7XHHYU6XVURKAZ2TISCCN5RKNSSYGA4M7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FJ62H3YH5AQTBZJQYVN5QF527ZGBP5UBQB3TRZOCRWRHQX2GJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y247DBW32XTTWC5SWVXIJD664VAC7YWJ7ZSHAX3QAR5CIM7B6QKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ2B6UMNZ5FTRQQRJ7FLFHWPKU5F2IBHWMEOKPXN7KHQCXDII2RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWKGGFV5VG6YYH6RTYBF5ADQEGY5THNBUEJNCQ73N5QPQDRM7FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UED5M5DND3TNNVGYQH2VS3KY5SS4GOALBYECVSNORN2GN5AREPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBNAIHVMX4WP2BFYOTX3H55JKWN6KFNN6LHL6IYHQXEOIJ7S7D6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JZ4I7UEINU36UWMH6RJXUGZ6ABIDRDXSKFXSW2DFQXIRRF7HVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJQMBMZBZ5HCEGV2Z4BTAWQLEXVTKCVBK7WCFZ6NMHZAW4AZNBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIJ6MEXGJMHFEV6SKTCKBY3QBMQPTXYFJIPU36TNXIRMURJ25EKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCNK2K6VSPC4UNZIGNNZDJDTS6XHEED6LYJVMDOBQUMS222XZNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ3AW2TRQAFUKQNYVUEAPS4ROXU4UROJ5I3JMRVZJ6HWV5DAWFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VPQ5AFV5WQPKMG5IBF7SMXYEXAQ6MHYYPUBBTF7IB2BG5BCHM3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCY4ZKTNKDI4OHLEUUORTQI7LEHQOZGZVT57JQC64SGFOA7HJANA/main.js"
            ]
        },
        "GetCompilation": {
            "http": {
                "method": "GET",
                "requestUri": "/compilation/{compilationArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "compilationArn"
                ],
                "members": {
                    "compilationArn": {
                        "location": "uri",
                        "locationName": "compilationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "compilationArn",
                    "status",
                    "deviceArn",
                    "createdAt"
                ],
                "members": {
                    "compilationArn": {},
                    "status": {},
                    "deviceArn": {},
                    "createdAt": {
                        "shape": "S1s"
                    },
                    "compiledAt": {
                        "shape": "S1s"
                    },
                    "failureReason": {},
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFFBFZ2UUPNZC67JQLW65TR5AJA7IIADMYWPCQQTDAQQB3B5F4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMB2K2NKXVM5RF4X67DE7TPO2R5SCYEXHGLEXOUKZAFHHM2T6JYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UASJMIEGNQ6PWX5UCKMTR6WQZS62RIS72YVQ66BO7DWIXAN6W2WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSH5O4R4QJX3DG2PXMDHXQZV5FXBRDCXLDYNMUXDSBX3QZODWMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMWMXP7FUR3O7FKLUTC35HODC7ZMIEEVCQ6LSDPBHLIFRI4UR4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN734C2Y2TEDXW65WJQ2ELALOZTX664RA3OLFJYPJ2E5GXTMMWLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQO222E3YUEBKZLEL5SMU45MQFHGBM7PRV4LTOFUQFT6JO6OHXVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6YJ7N2L4Y73533BR7K5QO3LEBQXHERW4VWGG7GQD7TZ5RD33VLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZSUKI2N3VIM54AMVSJ6C52IUT46NY5WF6VM4KJNVU7VHK6PZN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQNXP6W3W4IWMEFQVFXCJYLQWNYAKYSEDS6UTGGBGQUWSRGYIVUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E63CIH55GCG42ECHACFI6BDUVRCKHHLO2ZPI4P5WKO5GTSORLY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KDWSMCOYFPNPSOLBRZOHVT36EODDDAXVRCWJQ4YS4FEYWGYI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICGI5QVQT32AAD3PZADZ3Q77MFBN4VWVDQKOJTBMJJIDOPSBVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USUX4O5BZVUJI24MUQHHWX2I5FBHYY2DTOO66ZS43P64X4NRBC3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GDBVVKMSDI75XLSBQ7Y7CEYMY5K2ROVKMEDWGWJW2DR6ASVPNFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZ5MQMBPMCOBZE7XDETKYZQT3OPIB5YMMLIVJVXTD5NGYLPONCTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYW6SJTDLKJVVU7432JZ2PTONWRJHGGBKTPFWN6XL6HBXYQIB2UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPLQSHYE4DX2TVBBEGFGX34WQ32J6JP2YACR3XGQNFDYT74XHOLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRPETGWMKY6KFHRPDGLNPQO5JLXIDQSOFVECISABOY2KHNMKR6JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVBPZNHA56GYF7JU3KWPCXGHF2Y7TTX7LFC2NG3RPCLN5YPPEMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX7HGHX6XFASMOPKDVUHGIT3OQVOZKIYRLBYRBOI3ZKTWMGKCPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHTV6NVXFQ23QGNXTQ7WWN2FEQDYH7GHS734OOVMCDDI5GU64DHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34VFGAIWIYNNJSU24WT7WWARXHWO63ZWQUFKKNUXKQI5ZDC2FCKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHCCSXVFJNK3GUK7E43XBGLVYF6C47XRVPIBYF77UAR5V5KA7FQQ/main.js"
            ]
        },
        "GetServiceLinkedRoleStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/service-linked-role",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFZHSTMQGR6OJGFVG7JPP6U2EHESZV3GE6UDBVLYZF6QYSVLT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3A4O2XVT4S4YJ2SHY7XHHYU6XVURKAZ2TISCCN5RKNSSYGA4M7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FJ62H3YH5AQTBZJQYVN5QF527ZGBP5UBQB3TRZOCRWRHQX2GJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y247DBW32XTTWC5SWVXIJD664VAC7YWJ7ZSHAX3QAR5CIM7B6QKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ2B6UMNZ5FTRQQRJ7FLFHWPKU5F2IBHWMEOKPXN7KHQCXDII2RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWKGGFV5VG6YYH6RTYBF5ADQEGY5THNBUEJNCQ73N5QPQDRM7FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UED5M5DND3TNNVGYQH2VS3KY5SS4GOALBYECVSNORN2GN5AREPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBNAIHVMX4WP2BFYOTX3H55JKWN6KFNN6LHL6IYHQXEOIJ7S7D6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JZ4I7UEINU36UWMH6RJXUGZ6ABIDRDXSKFXSW2DFQXIRRF7HVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJQMBMZBZ5HCEGV2Z4BTAWQLEXVTKCVBK7WCFZ6NMHZAW4AZNBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIJ6MEXGJMHFEV6SKTCKBY3QBMQPTXYFJIPU36TNXIRMURJ25EKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCNK2K6VSPC4UNZIGNNZDJDTS6XHEED6LYJVMDOBQUMS222XZNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ3AW2TRQAFUKQNYVUEAPS4ROXU4UROJ5I3JMRVZJ6HWV5DAWFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VPQ5AFV5WQPKMG5IBF7SMXYEXAQ6MHYYPUBBTF7IB2BG5BCHM3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCY4ZKTNKDI4OHLEUUORTQI7LEHQOZGZVT57JQC64SGFOA7HJANA/main.js"
            ]
        },
        "GetUserAgreementStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/user-agreement",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFZHSTMQGR6OJGFVG7JPP6U2EHESZV3GE6UDBVLYZF6QYSVLT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3A4O2XVT4S4YJ2SHY7XHHYU6XVURKAZ2TISCCN5RKNSSYGA4M7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FJ62H3YH5AQTBZJQYVN5QF527ZGBP5UBQB3TRZOCRWRHQX2GJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y247DBW32XTTWC5SWVXIJD664VAC7YWJ7ZSHAX3QAR5CIM7B6QKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ2B6UMNZ5FTRQQRJ7FLFHWPKU5F2IBHWMEOKPXN7KHQCXDII2RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWKGGFV5VG6YYH6RTYBF5ADQEGY5THNBUEJNCQ73N5QPQDRM7FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UED5M5DND3TNNVGYQH2VS3KY5SS4GOALBYECVSNORN2GN5AREPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBNAIHVMX4WP2BFYOTX3H55JKWN6KFNN6LHL6IYHQXEOIJ7S7D6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JZ4I7UEINU36UWMH6RJXUGZ6ABIDRDXSKFXSW2DFQXIRRF7HVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJQMBMZBZ5HCEGV2Z4BTAWQLEXVTKCVBK7WCFZ6NMHZAW4AZNBSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIJ6MEXGJMHFEV6SKTCKBY3QBMQPTXYFJIPU36TNXIRMURJ25EKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCNK2K6VSPC4UNZIGNNZDJDTS6XHEED6LYJVMDOBQUMS222XZNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ3AW2TRQAFUKQNYVUEAPS4ROXU4UROJ5I3JMRVZJ6HWV5DAWFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VPQ5AFV5WQPKMG5IBF7SMXYEXAQ6MHYYPUBBTF7IB2BG5BCHM3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCY4ZKTNKDI4OHLEUUORTQI7LEHQOZGZVT57JQC64SGFOA7HJANA/main.js"
            ]
        },
        "SearchCompilations": {
            "http": {
                "requestUri": "/compilations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "filters"
                ],
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "values",
                                "operator"
                            ],
                            "members": {
                                "name": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                },
                                "operator": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "compilations"
                ],
                "members": {
                    "compilations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "compilationArn",
                                "status",
                                "deviceArn",
                                "createdAt"
                            ],
                            "members": {
                                "compilationArn": {},
                                "status": {},
                                "deviceArn": {},
                                "createdAt": {
                                    "shape": "S1s"
                                },
                                "compiledAt": {
                                    "shape": "S1s"
                                },
                                "tags": {
                                    "shape": "Sj"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFFBFZ2UUPNZC67JQLW65TR5AJA7IIADMYWPCQQTDAQQB3B5F4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMB2K2NKXVM5RF4X67DE7TPO2R5SCYEXHGLEXOUKZAFHHM2T6JYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UASJMIEGNQ6PWX5UCKMTR6WQZS62RIS72YVQ66BO7DWIXAN6W2WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSH5O4R4QJX3DG2PXMDHXQZV5FXBRDCXLDYNMUXDSBX3QZODWMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMWMXP7FUR3O7FKLUTC35HODC7ZMIEEVCQ6LSDPBHLIFRI4UR4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN734C2Y2TEDXW65WJQ2ELALOZTX664RA3OLFJYPJ2E5GXTMMWLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQO222E3YUEBKZLEL5SMU45MQFHGBM7PRV4LTOFUQFT6JO6OHXVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6YJ7N2L4Y73533BR7K5QO3LEBQXHERW4VWGG7GQD7TZ5RD33VLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZSUKI2N3VIM54AMVSJ6C52IUT46NY5WF6VM4KJNVU7VHK6PZN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQNXP6W3W4IWMEFQVFXCJYLQWNYAKYSEDS6UTGGBGQUWSRGYIVUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E63CIH55GCG42ECHACFI6BDUVRCKHHLO2ZPI4P5WKO5GTSORLY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KDWSMCOYFPNPSOLBRZOHVT36EODDDAXVRCWJQ4YS4FEYWGYI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICGI5QVQT32AAD3PZADZ3Q77MFBN4VWVDQKOJTBMJJIDOPSBVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USUX4O5BZVUJI24MUQHHWX2I5FBHYY2DTOO66ZS43P64X4NRBC3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GDBVVKMSDI75XLSBQ7Y7CEYMY5K2ROVKMEDWGWJW2DR6ASVPNFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZ5MQMBPMCOBZE7XDETKYZQT3OPIB5YMMLIVJVXTD5NGYLPONCTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYW6SJTDLKJVVU7432JZ2PTONWRJHGGBKTPFWN6XL6HBXYQIB2UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPLQSHYE4DX2TVBBEGFGX34WQ32J6JP2YACR3XGQNFDYT74XHOLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRPETGWMKY6KFHRPDGLNPQO5JLXIDQSOFVECISABOY2KHNMKR6JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVBPZNHA56GYF7JU3KWPCXGHF2Y7TTX7LFC2NG3RPCLN5YPPEMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX7HGHX6XFASMOPKDVUHGIT3OQVOZKIYRLBYRBOI3ZKTWMGKCPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHTV6NVXFQ23QGNXTQ7WWN2FEQDYH7GHS734OOVMCDDI5GU64DHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34VFGAIWIYNNJSU24WT7WWARXHWO63ZWQUFKKNUXKQI5ZDC2FCKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHCCSXVFJNK3GUK7E43XBGLVYF6C47XRVPIBYF77UAR5V5KA7FQQ/main.js"
            ]
        }
    },
    "shapes": {
        "Sa": {
            "type": "structure",
            "members": {
                "containerImage": {
                    "type": "structure",
                    "required": [
                        "uri"
                    ],
                    "members": {
                        "uri": {}
                    }
                },
                "scriptModeConfig": {
                    "type": "structure",
                    "required": [
                        "entryPoint",
                        "s3Uri"
                    ],
                    "members": {
                        "compressionType": {},
                        "entryPoint": {},
                        "s3Uri": {}
                    }
                }
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "s3Uri"
            ],
            "members": {
[...]
