{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-09-01",
        "endpointPrefix": "braket",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Braket",
        "serviceId": "Braket",
        "signatureVersion": "v4",
        "signingName": "braket",
        "uid": "braket-2019-09-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J6U5WUHCCFN7FMIFKMCVLNQXUVNUSOXMG3MN24HZZ4VYKEFEIQMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SANELRPYCYWI6ZJD7LZ2JVS6PS424LWTXIY46YQHV22WO4X7IK2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IPFNJDHJXMCQNXVQET6YNO76Y4GAOHJDN2TVF4W2RVAZHACCRPWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RYTLW4RC7CQWRJN4KAJAZKUICVH7VQ7WTY6CF4HZAC3OYLMVYTLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HLNGT3QCAC2AWFJFQFQOPMSJZOZKUI67UL37ALH5KJYQE54RWCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZ4DOV44YW5RRQHGHTRPZVVZEAYRDQKAYY5WXUIATEVNMMTJ3AVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4IITRV5IEHDZKCZQH56HRSCRFKLP3VTDOPAURSRCBZJ6VYSAFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QHWSXPP7D52XR4QMS5BVE3HPC7GY6Y2WKGXJ6ABZRLFDKLXEIDVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2XDQSPERFMWIECVSO6SZC3SDR7FUMB7T3DEMRXX35NNYVZUSAVMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LTFLKWGX5R4X74TMSRU2J7C72TNATUW6NNE6ACGVSQYTQXPHND5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FD7XZCQOFD2CPZWBGBTPOI45RDYSZGQOSVFA62S5HHZPQPDCYYEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CJ6I2HIGOESUV46VO36XRBEYDDO2X4BLTLO6WTSZJRXTM4AG2J7Q/dynamic-common-9714.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2QAZ25NYB67FJPDLDARZWYYAAV3PASURETEUGURYSZMMROGVGOQA/dynamic-common-9714.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CHUKUAZUABE3CB5D3ELMXIFFSWPHTOCSYVWFOMTDYSV4W5IFWPUQ/dynamic-common-9714.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RVDI4THWTHYKJXVFSZMALM5JLOFMSSA7NGDKCIP3AURBZZDOY46Q/dynamic-common-9714.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4DXBPPXMMXSG7XY2O2LHN77BF7PYMTB456HSBORLSEJYQZQDTAKA/dynamic-common-9714.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W3KWTWT7NR2LOY7F6JQJWARHINCNUQF2BYVM4IQIBZ4SNCSA5ATA/dynamic-common-9714.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ENCTS3GKDBXHUH44UJ2HSSA7T2DB2QX3YW363XD6UCNAY64MWOQQ/dynamic-common-9714.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "CancelJob": {
            "http": {
                "method": "PUT",
                "requestUri": "/job/{jobArn}/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobArn"
                ],
                "members": {
                    "jobArn": {
                        "location": "uri",
                        "locationName": "jobArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cancellationStatus",
                    "jobArn"
                ],
                "members": {
                    "cancellationStatus": {},
                    "jobArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNEP3USHUYVYGP2UTTI44HBLJ3GZ5AWIGM73YWQOQGOTXST5AIWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAVHRXEYPFSZQWMZGV2QCPXCLEOIAGJVKUTVZRLMYLJECMUDDIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6U5WUHCCFN7FMIFKMCVLNQXUVNUSOXMG3MN24HZZ4VYKEFEIQMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SANELRPYCYWI6ZJD7LZ2JVS6PS424LWTXIY46YQHV22WO4X7IK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPFNJDHJXMCQNXVQET6YNO76Y4GAOHJDN2TVF4W2RVAZHACCRPWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYTLW4RC7CQWRJN4KAJAZKUICVH7VQ7WTY6CF4HZAC3OYLMVYTLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLNGT3QCAC2AWFJFQFQOPMSJZOZKUI67UL37ALH5KJYQE54RWCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ4DOV44YW5RRQHGHTRPZVVZEAYRDQKAYY5WXUIATEVNMMTJ3AVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4IITRV5IEHDZKCZQH56HRSCRFKLP3VTDOPAURSRCBZJ6VYSAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHWSXPP7D52XR4QMS5BVE3HPC7GY6Y2WKGXJ6ABZRLFDKLXEIDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XDQSPERFMWIECVSO6SZC3SDR7FUMB7T3DEMRXX35NNYVZUSAVMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTFLKWGX5R4X74TMSRU2J7C72TNATUW6NNE6ACGVSQYTQXPHND5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD7XZCQOFD2CPZWBGBTPOI45RDYSZGQOSVFA62S5HHZPQPDCYYEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ6I2HIGOESUV46VO36XRBEYDDO2X4BLTLO6WTSZJRXTM4AG2J7Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QAZ25NYB67FJPDLDARZWYYAAV3PASURETEUGURYSZMMROGVGOQA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHUKUAZUABE3CB5D3ELMXIFFSWPHTOCSYVWFOMTDYSV4W5IFWPUQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVDI4THWTHYKJXVFSZMALM5JLOFMSSA7NGDKCIP3AURBZZDOY46Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DXBPPXMMXSG7XY2O2LHN77BF7PYMTB456HSBORLSEJYQZQDTAKA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3KWTWT7NR2LOY7F6JQJWARHINCNUQF2BYVM4IQIBZ4SNCSA5ATA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENCTS3GKDBXHUH44UJ2HSSA7T2DB2QX3YW363XD6UCNAY64MWOQQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CancelQuantumTask": {
            "http": {
                "method": "PUT",
                "requestUri": "/quantum-task/{quantumTaskArn}/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "quantumTaskArn"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "quantumTaskArn": {
                        "location": "uri",
                        "locationName": "quantumTaskArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cancellationStatus",
                    "quantumTaskArn"
                ],
                "members": {
                    "cancellationStatus": {},
                    "quantumTaskArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6U5WUHCCFN7FMIFKMCVLNQXUVNUSOXMG3MN24HZZ4VYKEFEIQMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SANELRPYCYWI6ZJD7LZ2JVS6PS424LWTXIY46YQHV22WO4X7IK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPFNJDHJXMCQNXVQET6YNO76Y4GAOHJDN2TVF4W2RVAZHACCRPWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYTLW4RC7CQWRJN4KAJAZKUICVH7VQ7WTY6CF4HZAC3OYLMVYTLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLNGT3QCAC2AWFJFQFQOPMSJZOZKUI67UL37ALH5KJYQE54RWCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ4DOV44YW5RRQHGHTRPZVVZEAYRDQKAYY5WXUIATEVNMMTJ3AVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4IITRV5IEHDZKCZQH56HRSCRFKLP3VTDOPAURSRCBZJ6VYSAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHWSXPP7D52XR4QMS5BVE3HPC7GY6Y2WKGXJ6ABZRLFDKLXEIDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XDQSPERFMWIECVSO6SZC3SDR7FUMB7T3DEMRXX35NNYVZUSAVMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTFLKWGX5R4X74TMSRU2J7C72TNATUW6NNE6ACGVSQYTQXPHND5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD7XZCQOFD2CPZWBGBTPOI45RDYSZGQOSVFA62S5HHZPQPDCYYEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ6I2HIGOESUV46VO36XRBEYDDO2X4BLTLO6WTSZJRXTM4AG2J7Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QAZ25NYB67FJPDLDARZWYYAAV3PASURETEUGURYSZMMROGVGOQA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHUKUAZUABE3CB5D3ELMXIFFSWPHTOCSYVWFOMTDYSV4W5IFWPUQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVDI4THWTHYKJXVFSZMALM5JLOFMSSA7NGDKCIP3AURBZZDOY46Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DXBPPXMMXSG7XY2O2LHN77BF7PYMTB456HSBORLSEJYQZQDTAKA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3KWTWT7NR2LOY7F6JQJWARHINCNUQF2BYVM4IQIBZ4SNCSA5ATA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENCTS3GKDBXHUH44UJ2HSSA7T2DB2QX3YW363XD6UCNAY64MWOQQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateJob": {
            "http": {
                "requestUri": "/job",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "algorithmSpecification",
                    "clientToken",
                    "deviceConfig",
                    "instanceConfig",
                    "jobName",
                    "outputDataConfig",
                    "roleArn"
                ],
                "members": {
                    "algorithmSpecification": {
                        "shape": "Sa"
                    },
                    "checkpointConfig": {
                        "shape": "Sh"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "deviceConfig": {
                        "shape": "Sj"
                    },
                    "hyperParameters": {
                        "shape": "Sl"
                    },
                    "inputDataConfig": {
                        "type": "list",
                        "member": {
                            "shape": "So"
                        }
                    },
                    "instanceConfig": {
                        "shape": "Ss"
                    },
                    "jobName": {},
                    "outputDataConfig": {
                        "shape": "Sx"
                    },
                    "roleArn": {},
                    "stoppingCondition": {
                        "shape": "S10"
                    },
                    "tags": {
                        "shape": "S12"
                    },
                    "associationConfig": {
                        "shape": "S1a"
                    },
                    "associations": {
                        "type": "list",
                        "member": {
                            "shape": "S1b"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobArn"
                ],
                "members": {
                    "jobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNEP3USHUYVYGP2UTTI44HBLJ3GZ5AWIGM73YWQOQGOTXST5AIWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAVHRXEYPFSZQWMZGV2QCPXCLEOIAGJVKUTVZRLMYLJECMUDDIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6U5WUHCCFN7FMIFKMCVLNQXUVNUSOXMG3MN24HZZ4VYKEFEIQMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SANELRPYCYWI6ZJD7LZ2JVS6PS424LWTXIY46YQHV22WO4X7IK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPFNJDHJXMCQNXVQET6YNO76Y4GAOHJDN2TVF4W2RVAZHACCRPWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYTLW4RC7CQWRJN4KAJAZKUICVH7VQ7WTY6CF4HZAC3OYLMVYTLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLNGT3QCAC2AWFJFQFQOPMSJZOZKUI67UL37ALH5KJYQE54RWCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ4DOV44YW5RRQHGHTRPZVVZEAYRDQKAYY5WXUIATEVNMMTJ3AVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4IITRV5IEHDZKCZQH56HRSCRFKLP3VTDOPAURSRCBZJ6VYSAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHWSXPP7D52XR4QMS5BVE3HPC7GY6Y2WKGXJ6ABZRLFDKLXEIDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XDQSPERFMWIECVSO6SZC3SDR7FUMB7T3DEMRXX35NNYVZUSAVMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTFLKWGX5R4X74TMSRU2J7C72TNATUW6NNE6ACGVSQYTQXPHND5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD7XZCQOFD2CPZWBGBTPOI45RDYSZGQOSVFA62S5HHZPQPDCYYEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ6I2HIGOESUV46VO36XRBEYDDO2X4BLTLO6WTSZJRXTM4AG2J7Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QAZ25NYB67FJPDLDARZWYYAAV3PASURETEUGURYSZMMROGVGOQA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHUKUAZUABE3CB5D3ELMXIFFSWPHTOCSYVWFOMTDYSV4W5IFWPUQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVDI4THWTHYKJXVFSZMALM5JLOFMSSA7NGDKCIP3AURBZZDOY46Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DXBPPXMMXSG7XY2O2LHN77BF7PYMTB456HSBORLSEJYQZQDTAKA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3KWTWT7NR2LOY7F6JQJWARHINCNUQF2BYVM4IQIBZ4SNCSA5ATA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENCTS3GKDBXHUH44UJ2HSSA7T2DB2QX3YW363XD6UCNAY64MWOQQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateQuantumTask": {
            "http": {
                "requestUri": "/quantum-task",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "action",
                    "clientToken",
                    "deviceArn",
                    "outputS3Bucket",
                    "outputS3KeyPrefix",
                    "shots"
                ],
                "members": {
                    "action": {
                        "jsonvalue": true
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "deviceArn": {},
                    "deviceParameters": {
                        "jsonvalue": true
                    },
                    "jobToken": {},
                    "outputS3Bucket": {},
                    "outputS3KeyPrefix": {},
                    "shots": {
                        "type": "long"
                    },
                    "tags": {
                        "shape": "S12"
                    },
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "associationConfig": {
                        "shape": "S1a"
                    },
                    "associations": {
                        "type": "list",
                        "member": {
                            "shape": "S1b"
                        }
                    },
                    "experimentalCapabilities": {
                        "internalonly": true,
                        "type": "structure",
                        "required": [
                            "enabled"
                        ],
                        "members": {
                            "enabled": {
                                "type": "string",
                                "internalonly": true
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "quantumTaskArn"
                ],
                "members": {
                    "quantumTaskArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6U5WUHCCFN7FMIFKMCVLNQXUVNUSOXMG3MN24HZZ4VYKEFEIQMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SANELRPYCYWI6ZJD7LZ2JVS6PS424LWTXIY46YQHV22WO4X7IK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPFNJDHJXMCQNXVQET6YNO76Y4GAOHJDN2TVF4W2RVAZHACCRPWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYTLW4RC7CQWRJN4KAJAZKUICVH7VQ7WTY6CF4HZAC3OYLMVYTLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLNGT3QCAC2AWFJFQFQOPMSJZOZKUI67UL37ALH5KJYQE54RWCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ4DOV44YW5RRQHGHTRPZVVZEAYRDQKAYY5WXUIATEVNMMTJ3AVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4IITRV5IEHDZKCZQH56HRSCRFKLP3VTDOPAURSRCBZJ6VYSAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHWSXPP7D52XR4QMS5BVE3HPC7GY6Y2WKGXJ6ABZRLFDKLXEIDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XDQSPERFMWIECVSO6SZC3SDR7FUMB7T3DEMRXX35NNYVZUSAVMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTFLKWGX5R4X74TMSRU2J7C72TNATUW6NNE6ACGVSQYTQXPHND5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD7XZCQOFD2CPZWBGBTPOI45RDYSZGQOSVFA62S5HHZPQPDCYYEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ6I2HIGOESUV46VO36XRBEYDDO2X4BLTLO6WTSZJRXTM4AG2J7Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QAZ25NYB67FJPDLDARZWYYAAV3PASURETEUGURYSZMMROGVGOQA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHUKUAZUABE3CB5D3ELMXIFFSWPHTOCSYVWFOMTDYSV4W5IFWPUQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVDI4THWTHYKJXVFSZMALM5JLOFMSSA7NGDKCIP3AURBZZDOY46Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DXBPPXMMXSG7XY2O2LHN77BF7PYMTB456HSBORLSEJYQZQDTAKA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3KWTWT7NR2LOY7F6JQJWARHINCNUQF2BYVM4IQIBZ4SNCSA5ATA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENCTS3GKDBXHUH44UJ2HSSA7T2DB2QX3YW363XD6UCNAY64MWOQQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetDevice": {
            "http": {
                "method": "GET",
                "requestUri": "/device/{deviceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceArn"
                ],
                "members": {
                    "deviceArn": {
                        "location": "uri",
                        "locationName": "deviceArn"
                    },
                    "originatingAccountId": {
                        "internalonly": true,
                        "location": "querystring",
                        "locationName": "originatingAccountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "deviceArn",
                    "deviceCapabilities",
                    "deviceName",
                    "deviceStatus",
                    "deviceType",
                    "providerName"
                ],
                "members": {
                    "deviceArn": {},
                    "deviceCapabilities": {
                        "jsonvalue": true
                    },
                    "deviceName": {},
                    "deviceStatus": {},
                    "deviceType": {},
                    "providerName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6U5WUHCCFN7FMIFKMCVLNQXUVNUSOXMG3MN24HZZ4VYKEFEIQMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SANELRPYCYWI6ZJD7LZ2JVS6PS424LWTXIY46YQHV22WO4X7IK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPFNJDHJXMCQNXVQET6YNO76Y4GAOHJDN2TVF4W2RVAZHACCRPWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYTLW4RC7CQWRJN4KAJAZKUICVH7VQ7WTY6CF4HZAC3OYLMVYTLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLNGT3QCAC2AWFJFQFQOPMSJZOZKUI67UL37ALH5KJYQE54RWCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ4DOV44YW5RRQHGHTRPZVVZEAYRDQKAYY5WXUIATEVNMMTJ3AVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4IITRV5IEHDZKCZQH56HRSCRFKLP3VTDOPAURSRCBZJ6VYSAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHWSXPP7D52XR4QMS5BVE3HPC7GY6Y2WKGXJ6ABZRLFDKLXEIDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XDQSPERFMWIECVSO6SZC3SDR7FUMB7T3DEMRXX35NNYVZUSAVMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTFLKWGX5R4X74TMSRU2J7C72TNATUW6NNE6ACGVSQYTQXPHND5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD7XZCQOFD2CPZWBGBTPOI45RDYSZGQOSVFA62S5HHZPQPDCYYEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ6I2HIGOESUV46VO36XRBEYDDO2X4BLTLO6WTSZJRXTM4AG2J7Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QAZ25NYB67FJPDLDARZWYYAAV3PASURETEUGURYSZMMROGVGOQA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHUKUAZUABE3CB5D3ELMXIFFSWPHTOCSYVWFOMTDYSV4W5IFWPUQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVDI4THWTHYKJXVFSZMALM5JLOFMSSA7NGDKCIP3AURBZZDOY46Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DXBPPXMMXSG7XY2O2LHN77BF7PYMTB456HSBORLSEJYQZQDTAKA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3KWTWT7NR2LOY7F6JQJWARHINCNUQF2BYVM4IQIBZ4SNCSA5ATA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENCTS3GKDBXHUH44UJ2HSSA7T2DB2QX3YW363XD6UCNAY64MWOQQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetJob": {
            "http": {
                "method": "GET",
                "requestUri": "/job/{jobArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobArn"
                ],
                "members": {
                    "jobArn": {
                        "location": "uri",
                        "locationName": "jobArn"
                    },
                    "additionalAttributeNames": {
                        "location": "querystring",
                        "locationName": "additionalAttributeNames",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "algorithmSpecification",
                    "createdAt",
                    "instanceConfig",
                    "jobArn",
                    "jobName",
                    "outputDataConfig",
                    "roleArn",
                    "status"
                ],
                "members": {
                    "algorithmSpecification": {
                        "shape": "Sa"
                    },
                    "billableDuration": {
                        "type": "integer"
                    },
                    "checkpointConfig": {
                        "shape": "Sh"
                    },
                    "createdAt": {
                        "shape": "S1k"
                    },
                    "deviceConfig": {
                        "shape": "Sj"
                    },
                    "endedAt": {
                        "shape": "S1k"
                    },
                    "events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "eventType": {},
                                "message": {},
                                "timeOfEvent": {
                                    "shape": "S1k"
                                }
                            }
                        }
                    },
                    "failureReason": {},
                    "hyperParameters": {
                        "shape": "Sl"
                    },
                    "inputDataConfig": {
                        "type": "list",
                        "member": {
                            "shape": "So"
                        }
                    },
                    "instanceConfig": {
                        "shape": "Ss"
                    },
                    "jobArn": {},
                    "jobName": {},
                    "outputDataConfig": {
                        "shape": "Sx"
                    },
                    "roleArn": {},
                    "startedAt": {
                        "shape": "S1k"
                    },
                    "status": {},
                    "stoppingCondition": {
                        "shape": "S10"
                    },
                    "tags": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNEP3USHUYVYGP2UTTI44HBLJ3GZ5AWIGM73YWQOQGOTXST5AIWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAVHRXEYPFSZQWMZGV2QCPXCLEOIAGJVKUTVZRLMYLJECMUDDIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6U5WUHCCFN7FMIFKMCVLNQXUVNUSOXMG3MN24HZZ4VYKEFEIQMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SANELRPYCYWI6ZJD7LZ2JVS6PS424LWTXIY46YQHV22WO4X7IK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPFNJDHJXMCQNXVQET6YNO76Y4GAOHJDN2TVF4W2RVAZHACCRPWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYTLW4RC7CQWRJN4KAJAZKUICVH7VQ7WTY6CF4HZAC3OYLMVYTLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLNGT3QCAC2AWFJFQFQOPMSJZOZKUI67UL37ALH5KJYQE54RWCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ4DOV44YW5RRQHGHTRPZVVZEAYRDQKAYY5WXUIATEVNMMTJ3AVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4IITRV5IEHDZKCZQH56HRSCRFKLP3VTDOPAURSRCBZJ6VYSAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHWSXPP7D52XR4QMS5BVE3HPC7GY6Y2WKGXJ6ABZRLFDKLXEIDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XDQSPERFMWIECVSO6SZC3SDR7FUMB7T3DEMRXX35NNYVZUSAVMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTFLKWGX5R4X74TMSRU2J7C72TNATUW6NNE6ACGVSQYTQXPHND5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD7XZCQOFD2CPZWBGBTPOI45RDYSZGQOSVFA62S5HHZPQPDCYYEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ6I2HIGOESUV46VO36XRBEYDDO2X4BLTLO6WTSZJRXTM4AG2J7Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QAZ25NYB67FJPDLDARZWYYAAV3PASURETEUGURYSZMMROGVGOQA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHUKUAZUABE3CB5D3ELMXIFFSWPHTOCSYVWFOMTDYSV4W5IFWPUQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVDI4THWTHYKJXVFSZMALM5JLOFMSSA7NGDKCIP3AURBZZDOY46Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DXBPPXMMXSG7XY2O2LHN77BF7PYMTB456HSBORLSEJYQZQDTAKA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3KWTWT7NR2LOY7F6JQJWARHINCNUQF2BYVM4IQIBZ4SNCSA5ATA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENCTS3GKDBXHUH44UJ2HSSA7T2DB2QX3YW363XD6UCNAY64MWOQQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetQuantumTask": {
            "http": {
                "method": "GET",
                "requestUri": "/quantum-task/{quantumTaskArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "quantumTaskArn"
                ],
                "members": {
                    "quantumTaskArn": {
                        "location": "uri",
                        "locationName": "quantumTaskArn"
                    },
                    "additionalAttributeNames": {
                        "location": "querystring",
                        "locationName": "additionalAttributeNames",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createdAt",
                    "deviceArn",
                    "deviceParameters",
                    "outputS3Bucket",
                    "outputS3Directory",
                    "quantumTaskArn",
                    "shots",
                    "status"
                ],
                "members": {
                    "createdAt": {
                        "shape": "S1k"
                    },
                    "deviceArn": {},
                    "deviceParameters": {
                        "jsonvalue": true
                    },
                    "endedAt": {
                        "shape": "S1k"
                    },
                    "failureReason": {},
                    "jobArn": {},
                    "outputS3Bucket": {},
                    "outputS3Directory": {},
                    "quantumTaskArn": {},
                    "shots": {
                        "type": "long"
                    },
                    "status": {},
                    "tags": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6U5WUHCCFN7FMIFKMCVLNQXUVNUSOXMG3MN24HZZ4VYKEFEIQMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SANELRPYCYWI6ZJD7LZ2JVS6PS424LWTXIY46YQHV22WO4X7IK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPFNJDHJXMCQNXVQET6YNO76Y4GAOHJDN2TVF4W2RVAZHACCRPWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYTLW4RC7CQWRJN4KAJAZKUICVH7VQ7WTY6CF4HZAC3OYLMVYTLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLNGT3QCAC2AWFJFQFQOPMSJZOZKUI67UL37ALH5KJYQE54RWCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ4DOV44YW5RRQHGHTRPZVVZEAYRDQKAYY5WXUIATEVNMMTJ3AVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4IITRV5IEHDZKCZQH56HRSCRFKLP3VTDOPAURSRCBZJ6VYSAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHWSXPP7D52XR4QMS5BVE3HPC7GY6Y2WKGXJ6ABZRLFDKLXEIDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XDQSPERFMWIECVSO6SZC3SDR7FUMB7T3DEMRXX35NNYVZUSAVMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTFLKWGX5R4X74TMSRU2J7C72TNATUW6NNE6ACGVSQYTQXPHND5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD7XZCQOFD2CPZWBGBTPOI45RDYSZGQOSVFA62S5HHZPQPDCYYEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ6I2HIGOESUV46VO36XRBEYDDO2X4BLTLO6WTSZJRXTM4AG2J7Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QAZ25NYB67FJPDLDARZWYYAAV3PASURETEUGURYSZMMROGVGOQA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHUKUAZUABE3CB5D3ELMXIFFSWPHTOCSYVWFOMTDYSV4W5IFWPUQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVDI4THWTHYKJXVFSZMALM5JLOFMSSA7NGDKCIP3AURBZZDOY46Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DXBPPXMMXSG7XY2O2LHN77BF7PYMTB456HSBORLSEJYQZQDTAKA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3KWTWT7NR2LOY7F6JQJWARHINCNUQF2BYVM4IQIBZ4SNCSA5ATA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENCTS3GKDBXHUH44UJ2HSSA7T2DB2QX3YW363XD6UCNAY64MWOQQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6U5WUHCCFN7FMIFKMCVLNQXUVNUSOXMG3MN24HZZ4VYKEFEIQMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SANELRPYCYWI6ZJD7LZ2JVS6PS424LWTXIY46YQHV22WO4X7IK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPFNJDHJXMCQNXVQET6YNO76Y4GAOHJDN2TVF4W2RVAZHACCRPWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYTLW4RC7CQWRJN4KAJAZKUICVH7VQ7WTY6CF4HZAC3OYLMVYTLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLNGT3QCAC2AWFJFQFQOPMSJZOZKUI67UL37ALH5KJYQE54RWCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ4DOV44YW5RRQHGHTRPZVVZEAYRDQKAYY5WXUIATEVNMMTJ3AVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4IITRV5IEHDZKCZQH56HRSCRFKLP3VTDOPAURSRCBZJ6VYSAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHWSXPP7D52XR4QMS5BVE3HPC7GY6Y2WKGXJ6ABZRLFDKLXEIDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XDQSPERFMWIECVSO6SZC3SDR7FUMB7T3DEMRXX35NNYVZUSAVMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTFLKWGX5R4X74TMSRU2J7C72TNATUW6NNE6ACGVSQYTQXPHND5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD7XZCQOFD2CPZWBGBTPOI45RDYSZGQOSVFA62S5HHZPQPDCYYEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ6I2HIGOESUV46VO36XRBEYDDO2X4BLTLO6WTSZJRXTM4AG2J7Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QAZ25NYB67FJPDLDARZWYYAAV3PASURETEUGURYSZMMROGVGOQA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHUKUAZUABE3CB5D3ELMXIFFSWPHTOCSYVWFOMTDYSV4W5IFWPUQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVDI4THWTHYKJXVFSZMALM5JLOFMSSA7NGDKCIP3AURBZZDOY46Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DXBPPXMMXSG7XY2O2LHN77BF7PYMTB456HSBORLSEJYQZQDTAKA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3KWTWT7NR2LOY7F6JQJWARHINCNUQF2BYVM4IQIBZ4SNCSA5ATA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENCTS3GKDBXHUH44UJ2HSSA7T2DB2QX3YW363XD6UCNAY64MWOQQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "SearchDevices": {
            "http": {
                "requestUri": "/devices",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "filters"
                ],
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "values"
                            ],
                            "members": {
                                "name": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "devices"
                ],
                "members": {
                    "devices": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "deviceArn",
                                "deviceName",
                                "deviceStatus",
                                "deviceType",
                                "providerName"
                            ],
                            "members": {
                                "deviceArn": {},
                                "deviceName": {},
                                "deviceStatus": {},
                                "deviceType": {},
                                "providerName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6U5WUHCCFN7FMIFKMCVLNQXUVNUSOXMG3MN24HZZ4VYKEFEIQMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SANELRPYCYWI6ZJD7LZ2JVS6PS424LWTXIY46YQHV22WO4X7IK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPFNJDHJXMCQNXVQET6YNO76Y4GAOHJDN2TVF4W2RVAZHACCRPWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYTLW4RC7CQWRJN4KAJAZKUICVH7VQ7WTY6CF4HZAC3OYLMVYTLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLNGT3QCAC2AWFJFQFQOPMSJZOZKUI67UL37ALH5KJYQE54RWCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ4DOV44YW5RRQHGHTRPZVVZEAYRDQKAYY5WXUIATEVNMMTJ3AVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4IITRV5IEHDZKCZQH56HRSCRFKLP3VTDOPAURSRCBZJ6VYSAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHWSXPP7D52XR4QMS5BVE3HPC7GY6Y2WKGXJ6ABZRLFDKLXEIDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XDQSPERFMWIECVSO6SZC3SDR7FUMB7T3DEMRXX35NNYVZUSAVMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTFLKWGX5R4X74TMSRU2J7C72TNATUW6NNE6ACGVSQYTQXPHND5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD7XZCQOFD2CPZWBGBTPOI45RDYSZGQOSVFA62S5HHZPQPDCYYEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ6I2HIGOESUV46VO36XRBEYDDO2X4BLTLO6WTSZJRXTM4AG2J7Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QAZ25NYB67FJPDLDARZWYYAAV3PASURETEUGURYSZMMROGVGOQA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHUKUAZUABE3CB5D3ELMXIFFSWPHTOCSYVWFOMTDYSV4W5IFWPUQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVDI4THWTHYKJXVFSZMALM5JLOFMSSA7NGDKCIP3AURBZZDOY46Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DXBPPXMMXSG7XY2O2LHN77BF7PYMTB456HSBORLSEJYQZQDTAKA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3KWTWT7NR2LOY7F6JQJWARHINCNUQF2BYVM4IQIBZ4SNCSA5ATA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENCTS3GKDBXHUH44UJ2HSSA7T2DB2QX3YW363XD6UCNAY64MWOQQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "SearchJobs": {
            "http": {
                "requestUri": "/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "filters"
                ],
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "operator",
                                "values"
                            ],
                            "members": {
                                "name": {},
                                "operator": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobs"
                ],
                "members": {
                    "jobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createdAt",
                                "device",
                                "jobArn",
                                "jobName",
                                "status"
                            ],
                            "members": {
                                "createdAt": {
                                    "shape": "S1k"
                                },
                                "device": {},
                                "endedAt": {
                                    "shape": "S1k"
                                },
                                "jobArn": {},
                                "jobName": {},
                                "startedAt": {
                                    "shape": "S1k"
                                },
                                "status": {},
                                "tags": {
                                    "shape": "S12"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNEP3USHUYVYGP2UTTI44HBLJ3GZ5AWIGM73YWQOQGOTXST5AIWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAVHRXEYPFSZQWMZGV2QCPXCLEOIAGJVKUTVZRLMYLJECMUDDIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6U5WUHCCFN7FMIFKMCVLNQXUVNUSOXMG3MN24HZZ4VYKEFEIQMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SANELRPYCYWI6ZJD7LZ2JVS6PS424LWTXIY46YQHV22WO4X7IK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPFNJDHJXMCQNXVQET6YNO76Y4GAOHJDN2TVF4W2RVAZHACCRPWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYTLW4RC7CQWRJN4KAJAZKUICVH7VQ7WTY6CF4HZAC3OYLMVYTLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLNGT3QCAC2AWFJFQFQOPMSJZOZKUI67UL37ALH5KJYQE54RWCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ4DOV44YW5RRQHGHTRPZVVZEAYRDQKAYY5WXUIATEVNMMTJ3AVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4IITRV5IEHDZKCZQH56HRSCRFKLP3VTDOPAURSRCBZJ6VYSAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHWSXPP7D52XR4QMS5BVE3HPC7GY6Y2WKGXJ6ABZRLFDKLXEIDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XDQSPERFMWIECVSO6SZC3SDR7FUMB7T3DEMRXX35NNYVZUSAVMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTFLKWGX5R4X74TMSRU2J7C72TNATUW6NNE6ACGVSQYTQXPHND5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD7XZCQOFD2CPZWBGBTPOI45RDYSZGQOSVFA62S5HHZPQPDCYYEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ6I2HIGOESUV46VO36XRBEYDDO2X4BLTLO6WTSZJRXTM4AG2J7Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QAZ25NYB67FJPDLDARZWYYAAV3PASURETEUGURYSZMMROGVGOQA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHUKUAZUABE3CB5D3ELMXIFFSWPHTOCSYVWFOMTDYSV4W5IFWPUQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVDI4THWTHYKJXVFSZMALM5JLOFMSSA7NGDKCIP3AURBZZDOY46Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DXBPPXMMXSG7XY2O2LHN77BF7PYMTB456HSBORLSEJYQZQDTAKA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3KWTWT7NR2LOY7F6JQJWARHINCNUQF2BYVM4IQIBZ4SNCSA5ATA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENCTS3GKDBXHUH44UJ2HSSA7T2DB2QX3YW363XD6UCNAY64MWOQQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "SearchQuantumTasks": {
            "http": {
                "requestUri": "/quantum-tasks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "filters"
                ],
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "operator",
                                "values"
                            ],
                            "members": {
                                "name": {},
                                "operator": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "quantumTasks"
                ],
                "members": {
                    "nextToken": {},
                    "quantumTasks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createdAt",
                                "deviceArn",
                                "outputS3Bucket",
                                "outputS3Directory",
                                "quantumTaskArn",
                                "shots",
                                "status"
                            ],
                            "members": {
                                "createdAt": {
                                    "shape": "S1k"
                                },
                                "deviceArn": {},
                                "endedAt": {
                                    "shape": "S1k"
                                },
                                "outputS3Bucket": {},
                                "outputS3Directory": {},
                                "quantumTaskArn": {},
                                "shots": {
                                    "type": "long"
                                },
                                "status": {},
                                "tags": {
                                    "shape": "S12"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6U5WUHCCFN7FMIFKMCVLNQXUVNUSOXMG3MN24HZZ4VYKEFEIQMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SANELRPYCYWI6ZJD7LZ2JVS6PS424LWTXIY46YQHV22WO4X7IK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPFNJDHJXMCQNXVQET6YNO76Y4GAOHJDN2TVF4W2RVAZHACCRPWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYTLW4RC7CQWRJN4KAJAZKUICVH7VQ7WTY6CF4HZAC3OYLMVYTLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLNGT3QCAC2AWFJFQFQOPMSJZOZKUI67UL37ALH5KJYQE54RWCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ4DOV44YW5RRQHGHTRPZVVZEAYRDQKAYY5WXUIATEVNMMTJ3AVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4IITRV5IEHDZKCZQH56HRSCRFKLP3VTDOPAURSRCBZJ6VYSAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHWSXPP7D52XR4QMS5BVE3HPC7GY6Y2WKGXJ6ABZRLFDKLXEIDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XDQSPERFMWIECVSO6SZC3SDR7FUMB7T3DEMRXX35NNYVZUSAVMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTFLKWGX5R4X74TMSRU2J7C72TNATUW6NNE6ACGVSQYTQXPHND5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD7XZCQOFD2CPZWBGBTPOI45RDYSZGQOSVFA62S5HHZPQPDCYYEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ6I2HIGOESUV46VO36XRBEYDDO2X4BLTLO6WTSZJRXTM4AG2J7Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QAZ25NYB67FJPDLDARZWYYAAV3PASURETEUGURYSZMMROGVGOQA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHUKUAZUABE3CB5D3ELMXIFFSWPHTOCSYVWFOMTDYSV4W5IFWPUQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVDI4THWTHYKJXVFSZMALM5JLOFMSSA7NGDKCIP3AURBZZDOY46Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DXBPPXMMXSG7XY2O2LHN77BF7PYMTB456HSBORLSEJYQZQDTAKA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3KWTWT7NR2LOY7F6JQJWARHINCNUQF2BYVM4IQIBZ4SNCSA5ATA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENCTS3GKDBXHUH44UJ2HSSA7T2DB2QX3YW363XD6UCNAY64MWOQQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6U5WUHCCFN7FMIFKMCVLNQXUVNUSOXMG3MN24HZZ4VYKEFEIQMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SANELRPYCYWI6ZJD7LZ2JVS6PS424LWTXIY46YQHV22WO4X7IK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPFNJDHJXMCQNXVQET6YNO76Y4GAOHJDN2TVF4W2RVAZHACCRPWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYTLW4RC7CQWRJN4KAJAZKUICVH7VQ7WTY6CF4HZAC3OYLMVYTLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLNGT3QCAC2AWFJFQFQOPMSJZOZKUI67UL37ALH5KJYQE54RWCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ4DOV44YW5RRQHGHTRPZVVZEAYRDQKAYY5WXUIATEVNMMTJ3AVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4IITRV5IEHDZKCZQH56HRSCRFKLP3VTDOPAURSRCBZJ6VYSAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHWSXPP7D52XR4QMS5BVE3HPC7GY6Y2WKGXJ6ABZRLFDKLXEIDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XDQSPERFMWIECVSO6SZC3SDR7FUMB7T3DEMRXX35NNYVZUSAVMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTFLKWGX5R4X74TMSRU2J7C72TNATUW6NNE6ACGVSQYTQXPHND5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD7XZCQOFD2CPZWBGBTPOI45RDYSZGQOSVFA62S5HHZPQPDCYYEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ6I2HIGOESUV46VO36XRBEYDDO2X4BLTLO6WTSZJRXTM4AG2J7Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QAZ25NYB67FJPDLDARZWYYAAV3PASURETEUGURYSZMMROGVGOQA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHUKUAZUABE3CB5D3ELMXIFFSWPHTOCSYVWFOMTDYSV4W5IFWPUQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVDI4THWTHYKJXVFSZMALM5JLOFMSSA7NGDKCIP3AURBZZDOY46Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DXBPPXMMXSG7XY2O2LHN77BF7PYMTB456HSBORLSEJYQZQDTAKA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3KWTWT7NR2LOY7F6JQJWARHINCNUQF2BYVM4IQIBZ4SNCSA5ATA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENCTS3GKDBXHUH44UJ2HSSA7T2DB2QX3YW363XD6UCNAY64MWOQQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6U5WUHCCFN7FMIFKMCVLNQXUVNUSOXMG3MN24HZZ4VYKEFEIQMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SANELRPYCYWI6ZJD7LZ2JVS6PS424LWTXIY46YQHV22WO4X7IK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPFNJDHJXMCQNXVQET6YNO76Y4GAOHJDN2TVF4W2RVAZHACCRPWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYTLW4RC7CQWRJN4KAJAZKUICVH7VQ7WTY6CF4HZAC3OYLMVYTLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLNGT3QCAC2AWFJFQFQOPMSJZOZKUI67UL37ALH5KJYQE54RWCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ4DOV44YW5RRQHGHTRPZVVZEAYRDQKAYY5WXUIATEVNMMTJ3AVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4IITRV5IEHDZKCZQH56HRSCRFKLP3VTDOPAURSRCBZJ6VYSAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHWSXPP7D52XR4QMS5BVE3HPC7GY6Y2WKGXJ6ABZRLFDKLXEIDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XDQSPERFMWIECVSO6SZC3SDR7FUMB7T3DEMRXX35NNYVZUSAVMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTFLKWGX5R4X74TMSRU2J7C72TNATUW6NNE6ACGVSQYTQXPHND5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD7XZCQOFD2CPZWBGBTPOI45RDYSZGQOSVFA62S5HHZPQPDCYYEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ6I2HIGOESUV46VO36XRBEYDDO2X4BLTLO6WTSZJRXTM4AG2J7Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QAZ25NYB67FJPDLDARZWYYAAV3PASURETEUGURYSZMMROGVGOQA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHUKUAZUABE3CB5D3ELMXIFFSWPHTOCSYVWFOMTDYSV4W5IFWPUQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVDI4THWTHYKJXVFSZMALM5JLOFMSSA7NGDKCIP3AURBZZDOY46Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DXBPPXMMXSG7XY2O2LHN77BF7PYMTB456HSBORLSEJYQZQDTAKA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3KWTWT7NR2LOY7F6JQJWARHINCNUQF2BYVM4IQIBZ4SNCSA5ATA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENCTS3GKDBXHUH44UJ2HSSA7T2DB2QX3YW363XD6UCNAY64MWOQQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "AcceptUserAgreement": {
            "http": {
                "method": "PUT",
                "requestUri": "/user-agreement",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IWRL7NO7WMR7V4J3FPNWBMZRK463DPYVH3ZRUVQCUICZY7VJ5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETYRUSEV7JIJWMZYHC3G7MFXR5JWEZ7KEA5AVLAXLQUOH4WPNLSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT4T2WGWGHASIBGJSKC7OFYVISPZ3MKT3ZL4F52C26ASAZC4TEAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP2TE46IXJIOEKLAT6PCQO52AC3MPTA65TYTGPN3BR2TWNBGAHKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNEP3USHUYVYGP2UTTI44HBLJ3GZ5AWIGM73YWQOQGOTXST5AIWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAVHRXEYPFSZQWMZGV2QCPXCLEOIAGJVKUTVZRLMYLJECMUDDIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6U5WUHCCFN7FMIFKMCVLNQXUVNUSOXMG3MN24HZZ4VYKEFEIQMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SANELRPYCYWI6ZJD7LZ2JVS6PS424LWTXIY46YQHV22WO4X7IK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPFNJDHJXMCQNXVQET6YNO76Y4GAOHJDN2TVF4W2RVAZHACCRPWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYTLW4RC7CQWRJN4KAJAZKUICVH7VQ7WTY6CF4HZAC3OYLMVYTLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLNGT3QCAC2AWFJFQFQOPMSJZOZKUI67UL37ALH5KJYQE54RWCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ4DOV44YW5RRQHGHTRPZVVZEAYRDQKAYY5WXUIATEVNMMTJ3AVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4IITRV5IEHDZKCZQH56HRSCRFKLP3VTDOPAURSRCBZJ6VYSAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHWSXPP7D52XR4QMS5BVE3HPC7GY6Y2WKGXJ6ABZRLFDKLXEIDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XDQSPERFMWIECVSO6SZC3SDR7FUMB7T3DEMRXX35NNYVZUSAVMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTFLKWGX5R4X74TMSRU2J7C72TNATUW6NNE6ACGVSQYTQXPHND5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD7XZCQOFD2CPZWBGBTPOI45RDYSZGQOSVFA62S5HHZPQPDCYYEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ6I2HIGOESUV46VO36XRBEYDDO2X4BLTLO6WTSZJRXTM4AG2J7Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QAZ25NYB67FJPDLDARZWYYAAV3PASURETEUGURYSZMMROGVGOQA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHUKUAZUABE3CB5D3ELMXIFFSWPHTOCSYVWFOMTDYSV4W5IFWPUQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVDI4THWTHYKJXVFSZMALM5JLOFMSSA7NGDKCIP3AURBZZDOY46Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DXBPPXMMXSG7XY2O2LHN77BF7PYMTB456HSBORLSEJYQZQDTAKA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3KWTWT7NR2LOY7F6JQJWARHINCNUQF2BYVM4IQIBZ4SNCSA5ATA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENCTS3GKDBXHUH44UJ2HSSA7T2DB2QX3YW363XD6UCNAY64MWOQQ/dynamic-common-9714.js"
            ]
        },
        "AccessBraketFeature": {
            "http": {
                "requestUri": "/feature",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "featureName",
                    "accountId"
                ],
                "members": {
                    "featureName": {},
                    "accountId": {},
                    "servicePrincipals": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "enabled"
                ],
                "members": {
                    "enabled": {
                        "type": "boolean"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6EZ72RT7CYWR7QWAPZWTA7QWBLUPNKENLI5ETINSZVUIXH6SGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44DMDXSJL6M6MMRZFAZO24LBY27Q3RJDGPKNBPM4PNNYHFCTFCLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6E4ELGE346FQFSYQNR3QXV5YYKJWDKCNVUHRQSVHL3WTFM352OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25NBNWF2BOW6YZ7FZNJ3H4K7STAU5MBQM5SAG4SM45GCD3PD4JLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3GOJXL2DDT46UJHSBL3HK3SLBIG3LP7DNKBQH3GJS5IKORF6MYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWGLEX3H4VLCA2GAEXA7RQUSFI4NCCEGPBKPCDSLCIFVNKFA6G3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWXFADYOD5QX4AFY5BLTSXJIPILA7SHT6TZJQPXSOH4PHTX3VW4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZUXKAJX4HKFZR3BWVLRILT5GKSZCUTXVTCP54N74VRC2TVJPDOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FI27H2LWNB636BXBP7Z3SS7WAQ7Q2R7K64ST24KFGPFWMC5XGZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJVC76EXRVSNEDFDN43YOYSHTPVZK7BXKAKUGWMCWIJLYICKY3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZFISHVUZWZA3X4BLDBORP3E6ESATZHNHZKKV7COY6H6LN2TGLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW5CIP2P4DBWG2ITUHNXKV26H4BM7VU2KWD34EPPVXEUXCCCCN6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAQFNPSAOTBUN452RTFB22WRHGFE2VNTC3BZRVSABABA7FCZHSUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMUJBOWJJHNGJDDPVPRFUNRUYMHSXZDN6IX4VDP77CES2SCPH73Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24OBTQZ2KNR4TPJLR2YE2L45JCLEFDOSPPH42WIVVKDY32CSQK6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOBLSWDUXE4WBR2KOIIO7AXZ2TNYHFUTOREYRY5W56JXTABLUT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM4NYXRGT4TMY3C5NSNJJMZQZYFT3J5V2AUIWPM3QCVZOYDGUSCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFUM7CYXH5R5F4CD5UO67SDYMMSPYMEEMV42SXYN4KHDQHDLRQGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCUTMA2XXL76YGTXVRPOK5NB54UB2GGHHOV4XSKDCN6U6NIZWM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUSYJPQJSRJ65UIWWZZFYGD3TZYJFE7CL5WZ63T75UME4OSG5HHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHMUWVUKP4J6I5GJC5KXEQ33AJOMVM4CCOZX3XUYG6S3PMOZ7LBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGB7DYTW6E4D7XVR6KAHBGQ6PJEETKOTNDH4TOTCZXDCBVA6YTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTLDSF5HATXZP2I5S232LD3D42JQGC666UI5OADNLGCRA5PJSGXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLFTF3ZP6CJ6YV3A6BWSPZGGL6BNTLY7TEV3D42Z77RMTDD22FRQ/main.js"
            ]
        },
        "CreateCompilation": {
            "http": {
                "requestUri": "/compilation",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceArn",
                    "action"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "deviceArn": {},
                    "action": {
                        "jsonvalue": true
                    },
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "compilationArn"
                ],
                "members": {
                    "compilationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFFBFZ2UUPNZC67JQLW65TR5AJA7IIADMYWPCQQTDAQQB3B5F4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMB2K2NKXVM5RF4X67DE7TPO2R5SCYEXHGLEXOUKZAFHHM2T6JYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UASJMIEGNQ6PWX5UCKMTR6WQZS62RIS72YVQ66BO7DWIXAN6W2WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSH5O4R4QJX3DG2PXMDHXQZV5FXBRDCXLDYNMUXDSBX3QZODWMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMWMXP7FUR3O7FKLUTC35HODC7ZMIEEVCQ6LSDPBHLIFRI4UR4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN734C2Y2TEDXW65WJQ2ELALOZTX664RA3OLFJYPJ2E5GXTMMWLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQO222E3YUEBKZLEL5SMU45MQFHGBM7PRV4LTOFUQFT6JO6OHXVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6YJ7N2L4Y73533BR7K5QO3LEBQXHERW4VWGG7GQD7TZ5RD33VLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZSUKI2N3VIM54AMVSJ6C52IUT46NY5WF6VM4KJNVU7VHK6PZN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQNXP6W3W4IWMEFQVFXCJYLQWNYAKYSEDS6UTGGBGQUWSRGYIVUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E63CIH55GCG42ECHACFI6BDUVRCKHHLO2ZPI4P5WKO5GTSORLY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KDWSMCOYFPNPSOLBRZOHVT36EODDDAXVRCWJQ4YS4FEYWGYI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICGI5QVQT32AAD3PZADZ3Q77MFBN4VWVDQKOJTBMJJIDOPSBVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USUX4O5BZVUJI24MUQHHWX2I5FBHYY2DTOO66ZS43P64X4NRBC3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GDBVVKMSDI75XLSBQ7Y7CEYMY5K2ROVKMEDWGWJW2DR6ASVPNFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZ5MQMBPMCOBZE7XDETKYZQT3OPIB5YMMLIVJVXTD5NGYLPONCTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYW6SJTDLKJVVU7432JZ2PTONWRJHGGBKTPFWN6XL6HBXYQIB2UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPLQSHYE4DX2TVBBEGFGX34WQ32J6JP2YACR3XGQNFDYT74XHOLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRPETGWMKY6KFHRPDGLNPQO5JLXIDQSOFVECISABOY2KHNMKR6JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVBPZNHA56GYF7JU3KWPCXGHF2Y7TTX7LFC2NG3RPCLN5YPPEMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX7HGHX6XFASMOPKDVUHGIT3OQVOZKIYRLBYRBOI3ZKTWMGKCPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHTV6NVXFQ23QGNXTQ7WWN2FEQDYH7GHS734OOVMCDDI5GU64DHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34VFGAIWIYNNJSU24WT7WWARXHWO63ZWQUFKKNUXKQI5ZDC2FCKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHCCSXVFJNK3GUK7E43XBGLVYF6C47XRVPIBYF77UAR5V5KA7FQQ/main.js"
            ]
        },
        "DeleteAccountResources": {
            "http": {
                "method": "DELETE",
                "requestUri": "/account-resources",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "required": [
                    "deleteRequestId",
                    "deletionStatus"
                ],
                "members": {
                    "deleteRequestId": {},
                    "deletionStatus": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IWRL7NO7WMR7V4J3FPNWBMZRK463DPYVH3ZRUVQCUICZY7VJ5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETYRUSEV7JIJWMZYHC3G7MFXR5JWEZ7KEA5AVLAXLQUOH4WPNLSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT4T2WGWGHASIBGJSKC7OFYVISPZ3MKT3ZL4F52C26ASAZC4TEAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP2TE46IXJIOEKLAT6PCQO52AC3MPTA65TYTGPN3BR2TWNBGAHKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNEP3USHUYVYGP2UTTI44HBLJ3GZ5AWIGM73YWQOQGOTXST5AIWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAVHRXEYPFSZQWMZGV2QCPXCLEOIAGJVKUTVZRLMYLJECMUDDIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6U5WUHCCFN7FMIFKMCVLNQXUVNUSOXMG3MN24HZZ4VYKEFEIQMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SANELRPYCYWI6ZJD7LZ2JVS6PS424LWTXIY46YQHV22WO4X7IK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPFNJDHJXMCQNXVQET6YNO76Y4GAOHJDN2TVF4W2RVAZHACCRPWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYTLW4RC7CQWRJN4KAJAZKUICVH7VQ7WTY6CF4HZAC3OYLMVYTLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLNGT3QCAC2AWFJFQFQOPMSJZOZKUI67UL37ALH5KJYQE54RWCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ4DOV44YW5RRQHGHTRPZVVZEAYRDQKAYY5WXUIATEVNMMTJ3AVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4IITRV5IEHDZKCZQH56HRSCRFKLP3VTDOPAURSRCBZJ6VYSAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHWSXPP7D52XR4QMS5BVE3HPC7GY6Y2WKGXJ6ABZRLFDKLXEIDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XDQSPERFMWIECVSO6SZC3SDR7FUMB7T3DEMRXX35NNYVZUSAVMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTFLKWGX5R4X74TMSRU2J7C72TNATUW6NNE6ACGVSQYTQXPHND5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD7XZCQOFD2CPZWBGBTPOI45RDYSZGQOSVFA62S5HHZPQPDCYYEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ6I2HIGOESUV46VO36XRBEYDDO2X4BLTLO6WTSZJRXTM4AG2J7Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QAZ25NYB67FJPDLDARZWYYAAV3PASURETEUGURYSZMMROGVGOQA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHUKUAZUABE3CB5D3ELMXIFFSWPHTOCSYVWFOMTDYSV4W5IFWPUQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVDI4THWTHYKJXVFSZMALM5JLOFMSSA7NGDKCIP3AURBZZDOY46Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DXBPPXMMXSG7XY2O2LHN77BF7PYMTB456HSBORLSEJYQZQDTAKA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3KWTWT7NR2LOY7F6JQJWARHINCNUQF2BYVM4IQIBZ4SNCSA5ATA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENCTS3GKDBXHUH44UJ2HSSA7T2DB2QX3YW363XD6UCNAY64MWOQQ/dynamic-common-9714.js"
            ]
        },
        "GetCompilation": {
            "http": {
                "method": "GET",
                "requestUri": "/compilation/{compilationArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "compilationArn"
                ],
                "members": {
                    "compilationArn": {
                        "location": "uri",
                        "locationName": "compilationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "compilationArn",
                    "status",
                    "deviceArn",
                    "createdAt"
                ],
                "members": {
                    "compilationArn": {},
                    "status": {},
                    "deviceArn": {},
                    "createdAt": {
                        "shape": "S1s"
                    },
                    "compiledAt": {
                        "shape": "S1s"
                    },
                    "failureReason": {},
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFFBFZ2UUPNZC67JQLW65TR5AJA7IIADMYWPCQQTDAQQB3B5F4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMB2K2NKXVM5RF4X67DE7TPO2R5SCYEXHGLEXOUKZAFHHM2T6JYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UASJMIEGNQ6PWX5UCKMTR6WQZS62RIS72YVQ66BO7DWIXAN6W2WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSH5O4R4QJX3DG2PXMDHXQZV5FXBRDCXLDYNMUXDSBX3QZODWMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMWMXP7FUR3O7FKLUTC35HODC7ZMIEEVCQ6LSDPBHLIFRI4UR4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN734C2Y2TEDXW65WJQ2ELALOZTX664RA3OLFJYPJ2E5GXTMMWLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQO222E3YUEBKZLEL5SMU45MQFHGBM7PRV4LTOFUQFT6JO6OHXVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6YJ7N2L4Y73533BR7K5QO3LEBQXHERW4VWGG7GQD7TZ5RD33VLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZSUKI2N3VIM54AMVSJ6C52IUT46NY5WF6VM4KJNVU7VHK6PZN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQNXP6W3W4IWMEFQVFXCJYLQWNYAKYSEDS6UTGGBGQUWSRGYIVUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E63CIH55GCG42ECHACFI6BDUVRCKHHLO2ZPI4P5WKO5GTSORLY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KDWSMCOYFPNPSOLBRZOHVT36EODDDAXVRCWJQ4YS4FEYWGYI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICGI5QVQT32AAD3PZADZ3Q77MFBN4VWVDQKOJTBMJJIDOPSBVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USUX4O5BZVUJI24MUQHHWX2I5FBHYY2DTOO66ZS43P64X4NRBC3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GDBVVKMSDI75XLSBQ7Y7CEYMY5K2ROVKMEDWGWJW2DR6ASVPNFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZ5MQMBPMCOBZE7XDETKYZQT3OPIB5YMMLIVJVXTD5NGYLPONCTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYW6SJTDLKJVVU7432JZ2PTONWRJHGGBKTPFWN6XL6HBXYQIB2UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPLQSHYE4DX2TVBBEGFGX34WQ32J6JP2YACR3XGQNFDYT74XHOLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRPETGWMKY6KFHRPDGLNPQO5JLXIDQSOFVECISABOY2KHNMKR6JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVBPZNHA56GYF7JU3KWPCXGHF2Y7TTX7LFC2NG3RPCLN5YPPEMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX7HGHX6XFASMOPKDVUHGIT3OQVOZKIYRLBYRBOI3ZKTWMGKCPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHTV6NVXFQ23QGNXTQ7WWN2FEQDYH7GHS734OOVMCDDI5GU64DHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34VFGAIWIYNNJSU24WT7WWARXHWO63ZWQUFKKNUXKQI5ZDC2FCKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHCCSXVFJNK3GUK7E43XBGLVYF6C47XRVPIBYF77UAR5V5KA7FQQ/main.js"
            ]
        },
        "GetServiceLinkedRoleStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/service-linked-role",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IWRL7NO7WMR7V4J3FPNWBMZRK463DPYVH3ZRUVQCUICZY7VJ5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETYRUSEV7JIJWMZYHC3G7MFXR5JWEZ7KEA5AVLAXLQUOH4WPNLSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT4T2WGWGHASIBGJSKC7OFYVISPZ3MKT3ZL4F52C26ASAZC4TEAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP2TE46IXJIOEKLAT6PCQO52AC3MPTA65TYTGPN3BR2TWNBGAHKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNEP3USHUYVYGP2UTTI44HBLJ3GZ5AWIGM73YWQOQGOTXST5AIWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAVHRXEYPFSZQWMZGV2QCPXCLEOIAGJVKUTVZRLMYLJECMUDDIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6U5WUHCCFN7FMIFKMCVLNQXUVNUSOXMG3MN24HZZ4VYKEFEIQMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SANELRPYCYWI6ZJD7LZ2JVS6PS424LWTXIY46YQHV22WO4X7IK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPFNJDHJXMCQNXVQET6YNO76Y4GAOHJDN2TVF4W2RVAZHACCRPWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYTLW4RC7CQWRJN4KAJAZKUICVH7VQ7WTY6CF4HZAC3OYLMVYTLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLNGT3QCAC2AWFJFQFQOPMSJZOZKUI67UL37ALH5KJYQE54RWCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ4DOV44YW5RRQHGHTRPZVVZEAYRDQKAYY5WXUIATEVNMMTJ3AVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4IITRV5IEHDZKCZQH56HRSCRFKLP3VTDOPAURSRCBZJ6VYSAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHWSXPP7D52XR4QMS5BVE3HPC7GY6Y2WKGXJ6ABZRLFDKLXEIDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XDQSPERFMWIECVSO6SZC3SDR7FUMB7T3DEMRXX35NNYVZUSAVMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTFLKWGX5R4X74TMSRU2J7C72TNATUW6NNE6ACGVSQYTQXPHND5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD7XZCQOFD2CPZWBGBTPOI45RDYSZGQOSVFA62S5HHZPQPDCYYEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ6I2HIGOESUV46VO36XRBEYDDO2X4BLTLO6WTSZJRXTM4AG2J7Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QAZ25NYB67FJPDLDARZWYYAAV3PASURETEUGURYSZMMROGVGOQA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHUKUAZUABE3CB5D3ELMXIFFSWPHTOCSYVWFOMTDYSV4W5IFWPUQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVDI4THWTHYKJXVFSZMALM5JLOFMSSA7NGDKCIP3AURBZZDOY46Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DXBPPXMMXSG7XY2O2LHN77BF7PYMTB456HSBORLSEJYQZQDTAKA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3KWTWT7NR2LOY7F6JQJWARHINCNUQF2BYVM4IQIBZ4SNCSA5ATA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENCTS3GKDBXHUH44UJ2HSSA7T2DB2QX3YW363XD6UCNAY64MWOQQ/dynamic-common-9714.js"
            ]
        },
        "GetUserAgreementStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/user-agreement",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IWRL7NO7WMR7V4J3FPNWBMZRK463DPYVH3ZRUVQCUICZY7VJ5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETYRUSEV7JIJWMZYHC3G7MFXR5JWEZ7KEA5AVLAXLQUOH4WPNLSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT4T2WGWGHASIBGJSKC7OFYVISPZ3MKT3ZL4F52C26ASAZC4TEAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP2TE46IXJIOEKLAT6PCQO52AC3MPTA65TYTGPN3BR2TWNBGAHKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNEP3USHUYVYGP2UTTI44HBLJ3GZ5AWIGM73YWQOQGOTXST5AIWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAVHRXEYPFSZQWMZGV2QCPXCLEOIAGJVKUTVZRLMYLJECMUDDIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6U5WUHCCFN7FMIFKMCVLNQXUVNUSOXMG3MN24HZZ4VYKEFEIQMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SANELRPYCYWI6ZJD7LZ2JVS6PS424LWTXIY46YQHV22WO4X7IK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPFNJDHJXMCQNXVQET6YNO76Y4GAOHJDN2TVF4W2RVAZHACCRPWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYTLW4RC7CQWRJN4KAJAZKUICVH7VQ7WTY6CF4HZAC3OYLMVYTLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLNGT3QCAC2AWFJFQFQOPMSJZOZKUI67UL37ALH5KJYQE54RWCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ4DOV44YW5RRQHGHTRPZVVZEAYRDQKAYY5WXUIATEVNMMTJ3AVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4IITRV5IEHDZKCZQH56HRSCRFKLP3VTDOPAURSRCBZJ6VYSAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHWSXPP7D52XR4QMS5BVE3HPC7GY6Y2WKGXJ6ABZRLFDKLXEIDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XDQSPERFMWIECVSO6SZC3SDR7FUMB7T3DEMRXX35NNYVZUSAVMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTFLKWGX5R4X74TMSRU2J7C72TNATUW6NNE6ACGVSQYTQXPHND5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD7XZCQOFD2CPZWBGBTPOI45RDYSZGQOSVFA62S5HHZPQPDCYYEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ6I2HIGOESUV46VO36XRBEYDDO2X4BLTLO6WTSZJRXTM4AG2J7Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QAZ25NYB67FJPDLDARZWYYAAV3PASURETEUGURYSZMMROGVGOQA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHUKUAZUABE3CB5D3ELMXIFFSWPHTOCSYVWFOMTDYSV4W5IFWPUQ/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVDI4THWTHYKJXVFSZMALM5JLOFMSSA7NGDKCIP3AURBZZDOY46Q/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DXBPPXMMXSG7XY2O2LHN77BF7PYMTB456HSBORLSEJYQZQDTAKA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3KWTWT7NR2LOY7F6JQJWARHINCNUQF2BYVM4IQIBZ4SNCSA5ATA/dynamic-common-9714.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENCTS3GKDBXHUH44UJ2HSSA7T2DB2QX3YW363XD6UCNAY64MWOQQ/dynamic-common-9714.js"
            ]
        },
        "SearchCompilations": {
            "http": {
                "requestUri": "/compilations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "filters"
                ],
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "values",
                                "operator"
                            ],
                            "members": {
                                "name": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                },
                                "operator": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "compilations"
                ],
                "members": {
                    "compilations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "compilationArn",
                                "status",
                                "deviceArn",
                                "createdAt"
                            ],
                            "members": {
                                "compilationArn": {},
                                "status": {},
                                "deviceArn": {},
                                "createdAt": {
                                    "shape": "S1s"
                                },
                                "compiledAt": {
                                    "shape": "S1s"
                                },
                                "tags": {
                                    "shape": "Sj"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFFBFZ2UUPNZC67JQLW65TR5AJA7IIADMYWPCQQTDAQQB3B5F4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMB2K2NKXVM5RF4X67DE7TPO2R5SCYEXHGLEXOUKZAFHHM2T6JYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UASJMIEGNQ6PWX5UCKMTR6WQZS62RIS72YVQ66BO7DWIXAN6W2WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSH5O4R4QJX3DG2PXMDHXQZV5FXBRDCXLDYNMUXDSBX3QZODWMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMWMXP7FUR3O7FKLUTC35HODC7ZMIEEVCQ6LSDPBHLIFRI4UR4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN734C2Y2TEDXW65WJQ2ELALOZTX664RA3OLFJYPJ2E5GXTMMWLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQO222E3YUEBKZLEL5SMU45MQFHGBM7PRV4LTOFUQFT6JO6OHXVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6YJ7N2L4Y73533BR7K5QO3LEBQXHERW4VWGG7GQD7TZ5RD33VLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZSUKI2N3VIM54AMVSJ6C52IUT46NY5WF6VM4KJNVU7VHK6PZN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQNXP6W3W4IWMEFQVFXCJYLQWNYAKYSEDS6UTGGBGQUWSRGYIVUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E63CIH55GCG42ECHACFI6BDUVRCKHHLO2ZPI4P5WKO5GTSORLY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KDWSMCOYFPNPSOLBRZOHVT36EODDDAXVRCWJQ4YS4FEYWGYI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICGI5QVQT32AAD3PZADZ3Q77MFBN4VWVDQKOJTBMJJIDOPSBVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USUX4O5BZVUJI24MUQHHWX2I5FBHYY2DTOO66ZS43P64X4NRBC3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GDBVVKMSDI75XLSBQ7Y7CEYMY5K2ROVKMEDWGWJW2DR6ASVPNFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZ5MQMBPMCOBZE7XDETKYZQT3OPIB5YMMLIVJVXTD5NGYLPONCTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYW6SJTDLKJVVU7432JZ2PTONWRJHGGBKTPFWN6XL6HBXYQIB2UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPLQSHYE4DX2TVBBEGFGX34WQ32J6JP2YACR3XGQNFDYT74XHOLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRPETGWMKY6KFHRPDGLNPQO5JLXIDQSOFVECISABOY2KHNMKR6JA/main.js",
[...]
