{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-09-01",
        "endpointPrefix": "braket",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Braket",
        "serviceId": "Braket",
        "signatureVersion": "v4",
        "signingName": "braket",
        "uid": "braket-2019-09-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTSSCKZGOUJPFSMUGJUDQV4O3SFTAXBBJ3UUPGLV4NDQIOIXLUEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U4RJG7D2OFLUM4MSNJ4EPFO6IIC77VD6DJWRVJHV2LNGKOH63AZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SUCDZJ6HLXGAMJPH6DA5ITFGXPDTCFSW5APCV5BK3GF6KGH5ZCNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CETPBPJERX7YO5MRC5F6XCXZLEDEUHOEYK74NGQMS7OFE3MKCKNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ONQSOBVCRQLTS2CDDFPVJ3C6ZQKKVPMUIAFQCO2GOBHYGMSEV2KQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X6NEB5W52VN7MLU5VTTRNJ6P2RGGUSWWCXSOGDQ3DWVRLMHPYZJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
        ]
    },
    "operations": {
        "CancelJob": {
            "http": {
                "method": "PUT",
                "requestUri": "/job/{jobArn}/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobArn"
                ],
                "members": {
                    "jobArn": {
                        "location": "uri",
                        "locationName": "jobArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cancellationStatus",
                    "jobArn"
                ],
                "members": {
                    "cancellationStatus": {},
                    "jobArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYEJ3NXRM43H7MV72OQW5BOQKOWH6GBRAWGB2CLIBP5VYMYSA4EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJ3CAYVIN6C2AP6KOUIVRDSV6DVSEP3VVBVQMAHJIQFDGZSYH4MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFGSSTD5OODTGN7RQGDJ26FLT4XHNI2JAZJNODQMEZUOAW3BY3VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSSCKZGOUJPFSMUGJUDQV4O3SFTAXBBJ3UUPGLV4NDQIOIXLUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4RJG7D2OFLUM4MSNJ4EPFO6IIC77VD6DJWRVJHV2LNGKOH63AZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCDZJ6HLXGAMJPH6DA5ITFGXPDTCFSW5APCV5BK3GF6KGH5ZCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CETPBPJERX7YO5MRC5F6XCXZLEDEUHOEYK74NGQMS7OFE3MKCKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONQSOBVCRQLTS2CDDFPVJ3C6ZQKKVPMUIAFQCO2GOBHYGMSEV2KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6NEB5W52VN7MLU5VTTRNJ6P2RGGUSWWCXSOGDQ3DWVRLMHPYZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js"
            ]
        },
        "CancelQuantumTask": {
            "http": {
                "method": "PUT",
                "requestUri": "/quantum-task/{quantumTaskArn}/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "quantumTaskArn"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "quantumTaskArn": {
                        "location": "uri",
                        "locationName": "quantumTaskArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cancellationStatus",
                    "quantumTaskArn"
                ],
                "members": {
                    "cancellationStatus": {},
                    "quantumTaskArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSSCKZGOUJPFSMUGJUDQV4O3SFTAXBBJ3UUPGLV4NDQIOIXLUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4RJG7D2OFLUM4MSNJ4EPFO6IIC77VD6DJWRVJHV2LNGKOH63AZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCDZJ6HLXGAMJPH6DA5ITFGXPDTCFSW5APCV5BK3GF6KGH5ZCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CETPBPJERX7YO5MRC5F6XCXZLEDEUHOEYK74NGQMS7OFE3MKCKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONQSOBVCRQLTS2CDDFPVJ3C6ZQKKVPMUIAFQCO2GOBHYGMSEV2KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6NEB5W52VN7MLU5VTTRNJ6P2RGGUSWWCXSOGDQ3DWVRLMHPYZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateJob": {
            "http": {
                "requestUri": "/job",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "algorithmSpecification",
                    "clientToken",
                    "deviceConfig",
                    "instanceConfig",
                    "jobName",
                    "outputDataConfig",
                    "roleArn"
                ],
                "members": {
                    "algorithmSpecification": {
                        "shape": "Sa"
                    },
                    "checkpointConfig": {
                        "shape": "Sh"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "deviceConfig": {
                        "shape": "Sj"
                    },
                    "hyperParameters": {
                        "shape": "Sl"
                    },
                    "inputDataConfig": {
                        "type": "list",
                        "member": {
                            "shape": "So"
                        }
                    },
                    "instanceConfig": {
                        "shape": "Ss"
                    },
                    "jobName": {},
                    "outputDataConfig": {
                        "shape": "Sx"
                    },
                    "roleArn": {},
                    "stoppingCondition": {
                        "shape": "S10"
                    },
                    "tags": {
                        "shape": "S12"
                    },
                    "associationConfig": {
                        "shape": "S1a"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobArn"
                ],
                "members": {
                    "jobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYEJ3NXRM43H7MV72OQW5BOQKOWH6GBRAWGB2CLIBP5VYMYSA4EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJ3CAYVIN6C2AP6KOUIVRDSV6DVSEP3VVBVQMAHJIQFDGZSYH4MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFGSSTD5OODTGN7RQGDJ26FLT4XHNI2JAZJNODQMEZUOAW3BY3VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSSCKZGOUJPFSMUGJUDQV4O3SFTAXBBJ3UUPGLV4NDQIOIXLUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4RJG7D2OFLUM4MSNJ4EPFO6IIC77VD6DJWRVJHV2LNGKOH63AZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCDZJ6HLXGAMJPH6DA5ITFGXPDTCFSW5APCV5BK3GF6KGH5ZCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CETPBPJERX7YO5MRC5F6XCXZLEDEUHOEYK74NGQMS7OFE3MKCKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONQSOBVCRQLTS2CDDFPVJ3C6ZQKKVPMUIAFQCO2GOBHYGMSEV2KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6NEB5W52VN7MLU5VTTRNJ6P2RGGUSWWCXSOGDQ3DWVRLMHPYZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js"
            ]
        },
        "CreateQuantumTask": {
            "http": {
                "requestUri": "/quantum-task",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "action",
                    "clientToken",
                    "deviceArn",
                    "outputS3Bucket",
                    "outputS3KeyPrefix",
                    "shots"
                ],
                "members": {
                    "action": {
                        "jsonvalue": true
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "deviceArn": {},
                    "deviceParameters": {
                        "jsonvalue": true
                    },
                    "jobToken": {},
                    "outputS3Bucket": {},
                    "outputS3KeyPrefix": {},
                    "shots": {
                        "type": "long"
                    },
                    "tags": {
                        "shape": "S12"
                    },
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "associationConfig": {
                        "shape": "S1a"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "quantumTaskArn"
                ],
                "members": {
                    "quantumTaskArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSSCKZGOUJPFSMUGJUDQV4O3SFTAXBBJ3UUPGLV4NDQIOIXLUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4RJG7D2OFLUM4MSNJ4EPFO6IIC77VD6DJWRVJHV2LNGKOH63AZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCDZJ6HLXGAMJPH6DA5ITFGXPDTCFSW5APCV5BK3GF6KGH5ZCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CETPBPJERX7YO5MRC5F6XCXZLEDEUHOEYK74NGQMS7OFE3MKCKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONQSOBVCRQLTS2CDDFPVJ3C6ZQKKVPMUIAFQCO2GOBHYGMSEV2KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6NEB5W52VN7MLU5VTTRNJ6P2RGGUSWWCXSOGDQ3DWVRLMHPYZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "GetDevice": {
            "http": {
                "method": "GET",
                "requestUri": "/device/{deviceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceArn"
                ],
                "members": {
                    "deviceArn": {
                        "location": "uri",
                        "locationName": "deviceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "deviceArn",
                    "deviceCapabilities",
                    "deviceName",
                    "deviceStatus",
                    "deviceType",
                    "providerName"
                ],
                "members": {
                    "deviceArn": {},
                    "deviceCapabilities": {
                        "jsonvalue": true
                    },
                    "deviceName": {},
                    "deviceStatus": {},
                    "deviceType": {},
                    "providerName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSSCKZGOUJPFSMUGJUDQV4O3SFTAXBBJ3UUPGLV4NDQIOIXLUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4RJG7D2OFLUM4MSNJ4EPFO6IIC77VD6DJWRVJHV2LNGKOH63AZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCDZJ6HLXGAMJPH6DA5ITFGXPDTCFSW5APCV5BK3GF6KGH5ZCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CETPBPJERX7YO5MRC5F6XCXZLEDEUHOEYK74NGQMS7OFE3MKCKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONQSOBVCRQLTS2CDDFPVJ3C6ZQKKVPMUIAFQCO2GOBHYGMSEV2KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6NEB5W52VN7MLU5VTTRNJ6P2RGGUSWWCXSOGDQ3DWVRLMHPYZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "GetJob": {
            "http": {
                "method": "GET",
                "requestUri": "/job/{jobArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobArn"
                ],
                "members": {
                    "jobArn": {
                        "location": "uri",
                        "locationName": "jobArn"
                    },
                    "additionalAttributeNames": {
                        "location": "querystring",
                        "locationName": "additionalAttributeNames",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "algorithmSpecification",
                    "createdAt",
                    "instanceConfig",
                    "jobArn",
                    "jobName",
                    "outputDataConfig",
                    "roleArn",
                    "status"
                ],
                "members": {
                    "algorithmSpecification": {
                        "shape": "Sa"
                    },
                    "billableDuration": {
                        "type": "integer"
                    },
                    "checkpointConfig": {
                        "shape": "Sh"
                    },
                    "createdAt": {
                        "shape": "S1k"
                    },
                    "deviceConfig": {
                        "shape": "Sj"
                    },
                    "endedAt": {
                        "shape": "S1k"
                    },
                    "events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "eventType": {},
                                "message": {},
                                "timeOfEvent": {
                                    "shape": "S1k"
                                }
                            }
                        }
                    },
                    "failureReason": {},
                    "hyperParameters": {
                        "shape": "Sl"
                    },
                    "inputDataConfig": {
                        "type": "list",
                        "member": {
                            "shape": "So"
                        }
                    },
                    "instanceConfig": {
                        "shape": "Ss"
                    },
                    "jobArn": {},
                    "jobName": {},
                    "outputDataConfig": {
                        "shape": "Sx"
                    },
                    "roleArn": {},
                    "startedAt": {
                        "shape": "S1k"
                    },
                    "status": {},
                    "stoppingCondition": {
                        "shape": "S10"
                    },
                    "tags": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYEJ3NXRM43H7MV72OQW5BOQKOWH6GBRAWGB2CLIBP5VYMYSA4EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJ3CAYVIN6C2AP6KOUIVRDSV6DVSEP3VVBVQMAHJIQFDGZSYH4MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFGSSTD5OODTGN7RQGDJ26FLT4XHNI2JAZJNODQMEZUOAW3BY3VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSSCKZGOUJPFSMUGJUDQV4O3SFTAXBBJ3UUPGLV4NDQIOIXLUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4RJG7D2OFLUM4MSNJ4EPFO6IIC77VD6DJWRVJHV2LNGKOH63AZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCDZJ6HLXGAMJPH6DA5ITFGXPDTCFSW5APCV5BK3GF6KGH5ZCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CETPBPJERX7YO5MRC5F6XCXZLEDEUHOEYK74NGQMS7OFE3MKCKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONQSOBVCRQLTS2CDDFPVJ3C6ZQKKVPMUIAFQCO2GOBHYGMSEV2KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6NEB5W52VN7MLU5VTTRNJ6P2RGGUSWWCXSOGDQ3DWVRLMHPYZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js"
            ]
        },
        "GetQuantumTask": {
            "http": {
                "method": "GET",
                "requestUri": "/quantum-task/{quantumTaskArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "quantumTaskArn"
                ],
                "members": {
                    "quantumTaskArn": {
                        "location": "uri",
                        "locationName": "quantumTaskArn"
                    },
                    "additionalAttributeNames": {
                        "location": "querystring",
                        "locationName": "additionalAttributeNames",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createdAt",
                    "deviceArn",
                    "deviceParameters",
                    "outputS3Bucket",
                    "outputS3Directory",
                    "quantumTaskArn",
                    "shots",
                    "status"
                ],
                "members": {
                    "createdAt": {
                        "shape": "S1k"
                    },
                    "deviceArn": {},
                    "deviceParameters": {
                        "jsonvalue": true
                    },
                    "endedAt": {
                        "shape": "S1k"
                    },
                    "failureReason": {},
                    "jobArn": {},
                    "outputS3Bucket": {},
                    "outputS3Directory": {},
                    "quantumTaskArn": {},
                    "shots": {
                        "type": "long"
                    },
                    "status": {},
                    "tags": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSSCKZGOUJPFSMUGJUDQV4O3SFTAXBBJ3UUPGLV4NDQIOIXLUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4RJG7D2OFLUM4MSNJ4EPFO6IIC77VD6DJWRVJHV2LNGKOH63AZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCDZJ6HLXGAMJPH6DA5ITFGXPDTCFSW5APCV5BK3GF6KGH5ZCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CETPBPJERX7YO5MRC5F6XCXZLEDEUHOEYK74NGQMS7OFE3MKCKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONQSOBVCRQLTS2CDDFPVJ3C6ZQKKVPMUIAFQCO2GOBHYGMSEV2KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6NEB5W52VN7MLU5VTTRNJ6P2RGGUSWWCXSOGDQ3DWVRLMHPYZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSSCKZGOUJPFSMUGJUDQV4O3SFTAXBBJ3UUPGLV4NDQIOIXLUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4RJG7D2OFLUM4MSNJ4EPFO6IIC77VD6DJWRVJHV2LNGKOH63AZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCDZJ6HLXGAMJPH6DA5ITFGXPDTCFSW5APCV5BK3GF6KGH5ZCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CETPBPJERX7YO5MRC5F6XCXZLEDEUHOEYK74NGQMS7OFE3MKCKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONQSOBVCRQLTS2CDDFPVJ3C6ZQKKVPMUIAFQCO2GOBHYGMSEV2KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6NEB5W52VN7MLU5VTTRNJ6P2RGGUSWWCXSOGDQ3DWVRLMHPYZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "SearchDevices": {
            "http": {
                "requestUri": "/devices",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "filters"
                ],
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "values"
                            ],
                            "members": {
                                "name": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "devices"
                ],
                "members": {
                    "devices": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "deviceArn",
                                "deviceName",
                                "deviceStatus",
                                "deviceType",
                                "providerName"
                            ],
                            "members": {
                                "deviceArn": {},
                                "deviceName": {},
                                "deviceStatus": {},
                                "deviceType": {},
                                "providerName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSSCKZGOUJPFSMUGJUDQV4O3SFTAXBBJ3UUPGLV4NDQIOIXLUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4RJG7D2OFLUM4MSNJ4EPFO6IIC77VD6DJWRVJHV2LNGKOH63AZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCDZJ6HLXGAMJPH6DA5ITFGXPDTCFSW5APCV5BK3GF6KGH5ZCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CETPBPJERX7YO5MRC5F6XCXZLEDEUHOEYK74NGQMS7OFE3MKCKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONQSOBVCRQLTS2CDDFPVJ3C6ZQKKVPMUIAFQCO2GOBHYGMSEV2KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6NEB5W52VN7MLU5VTTRNJ6P2RGGUSWWCXSOGDQ3DWVRLMHPYZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "SearchJobs": {
            "http": {
                "requestUri": "/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "filters"
                ],
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "operator",
                                "values"
                            ],
                            "members": {
                                "name": {},
                                "operator": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobs"
                ],
                "members": {
                    "jobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createdAt",
                                "device",
                                "jobArn",
                                "jobName",
                                "status"
                            ],
                            "members": {
                                "createdAt": {
                                    "shape": "S1k"
                                },
                                "device": {},
                                "endedAt": {
                                    "shape": "S1k"
                                },
                                "jobArn": {},
                                "jobName": {},
                                "startedAt": {
                                    "shape": "S1k"
                                },
                                "status": {},
                                "tags": {
                                    "shape": "S12"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYEJ3NXRM43H7MV72OQW5BOQKOWH6GBRAWGB2CLIBP5VYMYSA4EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJ3CAYVIN6C2AP6KOUIVRDSV6DVSEP3VVBVQMAHJIQFDGZSYH4MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFGSSTD5OODTGN7RQGDJ26FLT4XHNI2JAZJNODQMEZUOAW3BY3VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSSCKZGOUJPFSMUGJUDQV4O3SFTAXBBJ3UUPGLV4NDQIOIXLUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4RJG7D2OFLUM4MSNJ4EPFO6IIC77VD6DJWRVJHV2LNGKOH63AZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCDZJ6HLXGAMJPH6DA5ITFGXPDTCFSW5APCV5BK3GF6KGH5ZCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CETPBPJERX7YO5MRC5F6XCXZLEDEUHOEYK74NGQMS7OFE3MKCKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONQSOBVCRQLTS2CDDFPVJ3C6ZQKKVPMUIAFQCO2GOBHYGMSEV2KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6NEB5W52VN7MLU5VTTRNJ6P2RGGUSWWCXSOGDQ3DWVRLMHPYZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js"
            ]
        },
        "SearchQuantumTasks": {
            "http": {
                "requestUri": "/quantum-tasks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "filters"
                ],
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "operator",
                                "values"
                            ],
                            "members": {
                                "name": {},
                                "operator": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "quantumTasks"
                ],
                "members": {
                    "nextToken": {},
                    "quantumTasks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createdAt",
                                "deviceArn",
                                "outputS3Bucket",
                                "outputS3Directory",
                                "quantumTaskArn",
                                "shots",
                                "status"
                            ],
                            "members": {
                                "createdAt": {
                                    "shape": "S1k"
                                },
                                "deviceArn": {},
                                "endedAt": {
                                    "shape": "S1k"
                                },
                                "outputS3Bucket": {},
                                "outputS3Directory": {},
                                "quantumTaskArn": {},
                                "shots": {
                                    "type": "long"
                                },
                                "status": {},
                                "tags": {
                                    "shape": "S12"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSSCKZGOUJPFSMUGJUDQV4O3SFTAXBBJ3UUPGLV4NDQIOIXLUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4RJG7D2OFLUM4MSNJ4EPFO6IIC77VD6DJWRVJHV2LNGKOH63AZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCDZJ6HLXGAMJPH6DA5ITFGXPDTCFSW5APCV5BK3GF6KGH5ZCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CETPBPJERX7YO5MRC5F6XCXZLEDEUHOEYK74NGQMS7OFE3MKCKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONQSOBVCRQLTS2CDDFPVJ3C6ZQKKVPMUIAFQCO2GOBHYGMSEV2KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6NEB5W52VN7MLU5VTTRNJ6P2RGGUSWWCXSOGDQ3DWVRLMHPYZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSSCKZGOUJPFSMUGJUDQV4O3SFTAXBBJ3UUPGLV4NDQIOIXLUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4RJG7D2OFLUM4MSNJ4EPFO6IIC77VD6DJWRVJHV2LNGKOH63AZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCDZJ6HLXGAMJPH6DA5ITFGXPDTCFSW5APCV5BK3GF6KGH5ZCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CETPBPJERX7YO5MRC5F6XCXZLEDEUHOEYK74NGQMS7OFE3MKCKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONQSOBVCRQLTS2CDDFPVJ3C6ZQKKVPMUIAFQCO2GOBHYGMSEV2KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6NEB5W52VN7MLU5VTTRNJ6P2RGGUSWWCXSOGDQ3DWVRLMHPYZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSSCKZGOUJPFSMUGJUDQV4O3SFTAXBBJ3UUPGLV4NDQIOIXLUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4RJG7D2OFLUM4MSNJ4EPFO6IIC77VD6DJWRVJHV2LNGKOH63AZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCDZJ6HLXGAMJPH6DA5ITFGXPDTCFSW5APCV5BK3GF6KGH5ZCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CETPBPJERX7YO5MRC5F6XCXZLEDEUHOEYK74NGQMS7OFE3MKCKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONQSOBVCRQLTS2CDDFPVJ3C6ZQKKVPMUIAFQCO2GOBHYGMSEV2KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6NEB5W52VN7MLU5VTTRNJ6P2RGGUSWWCXSOGDQ3DWVRLMHPYZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "AcceptUserAgreement": {
            "http": {
                "method": "PUT",
                "requestUri": "/user-agreement",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y46LP7ZAHXDGCL4JOIQZH4INNLIMAMWWNOV6KVZL3NIJQNOVCQ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KJM65AQEBWSGSMPXNKUJJ65BZUEY3BBBRY2KA7QLTQCDNGGR6PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHZ5AEB7NWRTIS2ZAGTPIRBBQVY5K6C5Z7KG57TJWUMFKINGJJBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUDMQFVIZ5T3OFNEVKXHTLFQUYTGPO5RKRXYVJAK4FW7XYBSOKAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGJ4F3WN7SE3NIPY6SKTZHTBHVK7ZSHHOW7WPRPVTKSAJZ3BSEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5RDA4OGTAWW5ZNDCHJOUUJBSZWAF2SAD4TD33PSTRKTCE7GZKPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBV7LR337EQ7XU5GJ2H3Q5ZRAK6SE7NA67GTGDS4ENJXLASCZDLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P7J2APAVWI4CDVYTRNZ67INPJB5VQEW3KE3V7QOQAP5SNI2APFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBPD3JW6U6LC46GWMIMLADTSA5QR3BTDLBPMBRQQC6VQBEKQQ36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X6G4VBEEMDUORCSC2CX7KKN66VTRWAGW7TBIU7JGFZPRUB2PKKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDDAPGVDORWG2CRMK6HJYLZQIURHVKIFJRAHUUQR6ZJNEQMHM6GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPXKOU5TTYJZTINOZQM6QL5QEPJGZ2TCIVMQHD3BWE2QUGW4DXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GSEM2TW5NPMFOJJF5JOKAKZ73GVX5QGRAGSJL34YVXYXSPWEQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTDW23LOH6XLZIJ4WVM7KOILP3DB5QULRNNMORDQFOCEHDBJZCOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJPHJXJ6733J3V3R2DZDX3O7JSXXIN3EHBETBIX2EQHFR723NJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYEJ3NXRM43H7MV72OQW5BOQKOWH6GBRAWGB2CLIBP5VYMYSA4EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJ3CAYVIN6C2AP6KOUIVRDSV6DVSEP3VVBVQMAHJIQFDGZSYH4MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFGSSTD5OODTGN7RQGDJ26FLT4XHNI2JAZJNODQMEZUOAW3BY3VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSSCKZGOUJPFSMUGJUDQV4O3SFTAXBBJ3UUPGLV4NDQIOIXLUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4RJG7D2OFLUM4MSNJ4EPFO6IIC77VD6DJWRVJHV2LNGKOH63AZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCDZJ6HLXGAMJPH6DA5ITFGXPDTCFSW5APCV5BK3GF6KGH5ZCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CETPBPJERX7YO5MRC5F6XCXZLEDEUHOEYK74NGQMS7OFE3MKCKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONQSOBVCRQLTS2CDDFPVJ3C6ZQKKVPMUIAFQCO2GOBHYGMSEV2KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6NEB5W52VN7MLU5VTTRNJ6P2RGGUSWWCXSOGDQ3DWVRLMHPYZJA/main.js"
            ]
        },
        "AccessBraketFeature": {
            "http": {
                "requestUri": "/feature",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "featureName",
                    "accountId"
                ],
                "members": {
                    "featureName": {},
                    "accountId": {},
                    "servicePrincipals": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "enabled"
                ],
                "members": {
                    "enabled": {
                        "type": "boolean"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y46LP7ZAHXDGCL4JOIQZH4INNLIMAMWWNOV6KVZL3NIJQNOVCQ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KJM65AQEBWSGSMPXNKUJJ65BZUEY3BBBRY2KA7QLTQCDNGGR6PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHZ5AEB7NWRTIS2ZAGTPIRBBQVY5K6C5Z7KG57TJWUMFKINGJJBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUDMQFVIZ5T3OFNEVKXHTLFQUYTGPO5RKRXYVJAK4FW7XYBSOKAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGJ4F3WN7SE3NIPY6SKTZHTBHVK7ZSHHOW7WPRPVTKSAJZ3BSEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5RDA4OGTAWW5ZNDCHJOUUJBSZWAF2SAD4TD33PSTRKTCE7GZKPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBV7LR337EQ7XU5GJ2H3Q5ZRAK6SE7NA67GTGDS4ENJXLASCZDLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P7J2APAVWI4CDVYTRNZ67INPJB5VQEW3KE3V7QOQAP5SNI2APFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBPD3JW6U6LC46GWMIMLADTSA5QR3BTDLBPMBRQQC6VQBEKQQ36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X6G4VBEEMDUORCSC2CX7KKN66VTRWAGW7TBIU7JGFZPRUB2PKKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDDAPGVDORWG2CRMK6HJYLZQIURHVKIFJRAHUUQR6ZJNEQMHM6GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPXKOU5TTYJZTINOZQM6QL5QEPJGZ2TCIVMQHD3BWE2QUGW4DXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GSEM2TW5NPMFOJJF5JOKAKZ73GVX5QGRAGSJL34YVXYXSPWEQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTDW23LOH6XLZIJ4WVM7KOILP3DB5QULRNNMORDQFOCEHDBJZCOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJPHJXJ6733J3V3R2DZDX3O7JSXXIN3EHBETBIX2EQHFR723NJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYEJ3NXRM43H7MV72OQW5BOQKOWH6GBRAWGB2CLIBP5VYMYSA4EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJ3CAYVIN6C2AP6KOUIVRDSV6DVSEP3VVBVQMAHJIQFDGZSYH4MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFGSSTD5OODTGN7RQGDJ26FLT4XHNI2JAZJNODQMEZUOAW3BY3VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSSCKZGOUJPFSMUGJUDQV4O3SFTAXBBJ3UUPGLV4NDQIOIXLUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4RJG7D2OFLUM4MSNJ4EPFO6IIC77VD6DJWRVJHV2LNGKOH63AZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCDZJ6HLXGAMJPH6DA5ITFGXPDTCFSW5APCV5BK3GF6KGH5ZCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CETPBPJERX7YO5MRC5F6XCXZLEDEUHOEYK74NGQMS7OFE3MKCKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONQSOBVCRQLTS2CDDFPVJ3C6ZQKKVPMUIAFQCO2GOBHYGMSEV2KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6NEB5W52VN7MLU5VTTRNJ6P2RGGUSWWCXSOGDQ3DWVRLMHPYZJA/main.js"
            ]
        },
        "CreateCompilation": {
            "http": {
                "requestUri": "/compilation",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceArn",
                    "action"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "deviceArn": {},
                    "action": {
                        "jsonvalue": true
                    },
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "compilationArn"
                ],
                "members": {
                    "compilationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFFBFZ2UUPNZC67JQLW65TR5AJA7IIADMYWPCQQTDAQQB3B5F4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMB2K2NKXVM5RF4X67DE7TPO2R5SCYEXHGLEXOUKZAFHHM2T6JYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UASJMIEGNQ6PWX5UCKMTR6WQZS62RIS72YVQ66BO7DWIXAN6W2WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSH5O4R4QJX3DG2PXMDHXQZV5FXBRDCXLDYNMUXDSBX3QZODWMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMWMXP7FUR3O7FKLUTC35HODC7ZMIEEVCQ6LSDPBHLIFRI4UR4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN734C2Y2TEDXW65WJQ2ELALOZTX664RA3OLFJYPJ2E5GXTMMWLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQO222E3YUEBKZLEL5SMU45MQFHGBM7PRV4LTOFUQFT6JO6OHXVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6YJ7N2L4Y73533BR7K5QO3LEBQXHERW4VWGG7GQD7TZ5RD33VLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZSUKI2N3VIM54AMVSJ6C52IUT46NY5WF6VM4KJNVU7VHK6PZN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQNXP6W3W4IWMEFQVFXCJYLQWNYAKYSEDS6UTGGBGQUWSRGYIVUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E63CIH55GCG42ECHACFI6BDUVRCKHHLO2ZPI4P5WKO5GTSORLY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KDWSMCOYFPNPSOLBRZOHVT36EODDDAXVRCWJQ4YS4FEYWGYI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICGI5QVQT32AAD3PZADZ3Q77MFBN4VWVDQKOJTBMJJIDOPSBVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USUX4O5BZVUJI24MUQHHWX2I5FBHYY2DTOO66ZS43P64X4NRBC3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GDBVVKMSDI75XLSBQ7Y7CEYMY5K2ROVKMEDWGWJW2DR6ASVPNFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZ5MQMBPMCOBZE7XDETKYZQT3OPIB5YMMLIVJVXTD5NGYLPONCTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYW6SJTDLKJVVU7432JZ2PTONWRJHGGBKTPFWN6XL6HBXYQIB2UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPLQSHYE4DX2TVBBEGFGX34WQ32J6JP2YACR3XGQNFDYT74XHOLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRPETGWMKY6KFHRPDGLNPQO5JLXIDQSOFVECISABOY2KHNMKR6JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVBPZNHA56GYF7JU3KWPCXGHF2Y7TTX7LFC2NG3RPCLN5YPPEMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX7HGHX6XFASMOPKDVUHGIT3OQVOZKIYRLBYRBOI3ZKTWMGKCPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHTV6NVXFQ23QGNXTQ7WWN2FEQDYH7GHS734OOVMCDDI5GU64DHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34VFGAIWIYNNJSU24WT7WWARXHWO63ZWQUFKKNUXKQI5ZDC2FCKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHCCSXVFJNK3GUK7E43XBGLVYF6C47XRVPIBYF77UAR5V5KA7FQQ/main.js"
            ]
        },
        "DeleteAccountResources": {
            "http": {
                "method": "DELETE",
                "requestUri": "/account-resources",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "required": [
                    "deleteRequestId",
                    "deletionStatus"
                ],
                "members": {
                    "deleteRequestId": {},
                    "deletionStatus": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y46LP7ZAHXDGCL4JOIQZH4INNLIMAMWWNOV6KVZL3NIJQNOVCQ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KJM65AQEBWSGSMPXNKUJJ65BZUEY3BBBRY2KA7QLTQCDNGGR6PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHZ5AEB7NWRTIS2ZAGTPIRBBQVY5K6C5Z7KG57TJWUMFKINGJJBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUDMQFVIZ5T3OFNEVKXHTLFQUYTGPO5RKRXYVJAK4FW7XYBSOKAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGJ4F3WN7SE3NIPY6SKTZHTBHVK7ZSHHOW7WPRPVTKSAJZ3BSEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5RDA4OGTAWW5ZNDCHJOUUJBSZWAF2SAD4TD33PSTRKTCE7GZKPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBV7LR337EQ7XU5GJ2H3Q5ZRAK6SE7NA67GTGDS4ENJXLASCZDLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P7J2APAVWI4CDVYTRNZ67INPJB5VQEW3KE3V7QOQAP5SNI2APFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBPD3JW6U6LC46GWMIMLADTSA5QR3BTDLBPMBRQQC6VQBEKQQ36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X6G4VBEEMDUORCSC2CX7KKN66VTRWAGW7TBIU7JGFZPRUB2PKKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDDAPGVDORWG2CRMK6HJYLZQIURHVKIFJRAHUUQR6ZJNEQMHM6GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPXKOU5TTYJZTINOZQM6QL5QEPJGZ2TCIVMQHD3BWE2QUGW4DXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GSEM2TW5NPMFOJJF5JOKAKZ73GVX5QGRAGSJL34YVXYXSPWEQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTDW23LOH6XLZIJ4WVM7KOILP3DB5QULRNNMORDQFOCEHDBJZCOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJPHJXJ6733J3V3R2DZDX3O7JSXXIN3EHBETBIX2EQHFR723NJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYEJ3NXRM43H7MV72OQW5BOQKOWH6GBRAWGB2CLIBP5VYMYSA4EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJ3CAYVIN6C2AP6KOUIVRDSV6DVSEP3VVBVQMAHJIQFDGZSYH4MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFGSSTD5OODTGN7RQGDJ26FLT4XHNI2JAZJNODQMEZUOAW3BY3VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSSCKZGOUJPFSMUGJUDQV4O3SFTAXBBJ3UUPGLV4NDQIOIXLUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4RJG7D2OFLUM4MSNJ4EPFO6IIC77VD6DJWRVJHV2LNGKOH63AZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCDZJ6HLXGAMJPH6DA5ITFGXPDTCFSW5APCV5BK3GF6KGH5ZCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CETPBPJERX7YO5MRC5F6XCXZLEDEUHOEYK74NGQMS7OFE3MKCKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONQSOBVCRQLTS2CDDFPVJ3C6ZQKKVPMUIAFQCO2GOBHYGMSEV2KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6NEB5W52VN7MLU5VTTRNJ6P2RGGUSWWCXSOGDQ3DWVRLMHPYZJA/main.js"
            ]
        },
        "GetCompilation": {
            "http": {
                "method": "GET",
                "requestUri": "/compilation/{compilationArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "compilationArn"
                ],
                "members": {
                    "compilationArn": {
                        "location": "uri",
                        "locationName": "compilationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "compilationArn",
                    "status",
                    "deviceArn",
                    "createdAt"
                ],
                "members": {
                    "compilationArn": {},
                    "status": {},
                    "deviceArn": {},
                    "createdAt": {
                        "shape": "S1s"
                    },
                    "compiledAt": {
                        "shape": "S1s"
                    },
                    "failureReason": {},
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFFBFZ2UUPNZC67JQLW65TR5AJA7IIADMYWPCQQTDAQQB3B5F4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMB2K2NKXVM5RF4X67DE7TPO2R5SCYEXHGLEXOUKZAFHHM2T6JYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UASJMIEGNQ6PWX5UCKMTR6WQZS62RIS72YVQ66BO7DWIXAN6W2WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSH5O4R4QJX3DG2PXMDHXQZV5FXBRDCXLDYNMUXDSBX3QZODWMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMWMXP7FUR3O7FKLUTC35HODC7ZMIEEVCQ6LSDPBHLIFRI4UR4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN734C2Y2TEDXW65WJQ2ELALOZTX664RA3OLFJYPJ2E5GXTMMWLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQO222E3YUEBKZLEL5SMU45MQFHGBM7PRV4LTOFUQFT6JO6OHXVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6YJ7N2L4Y73533BR7K5QO3LEBQXHERW4VWGG7GQD7TZ5RD33VLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZSUKI2N3VIM54AMVSJ6C52IUT46NY5WF6VM4KJNVU7VHK6PZN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQNXP6W3W4IWMEFQVFXCJYLQWNYAKYSEDS6UTGGBGQUWSRGYIVUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E63CIH55GCG42ECHACFI6BDUVRCKHHLO2ZPI4P5WKO5GTSORLY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KDWSMCOYFPNPSOLBRZOHVT36EODDDAXVRCWJQ4YS4FEYWGYI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICGI5QVQT32AAD3PZADZ3Q77MFBN4VWVDQKOJTBMJJIDOPSBVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USUX4O5BZVUJI24MUQHHWX2I5FBHYY2DTOO66ZS43P64X4NRBC3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GDBVVKMSDI75XLSBQ7Y7CEYMY5K2ROVKMEDWGWJW2DR6ASVPNFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZ5MQMBPMCOBZE7XDETKYZQT3OPIB5YMMLIVJVXTD5NGYLPONCTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYW6SJTDLKJVVU7432JZ2PTONWRJHGGBKTPFWN6XL6HBXYQIB2UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPLQSHYE4DX2TVBBEGFGX34WQ32J6JP2YACR3XGQNFDYT74XHOLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRPETGWMKY6KFHRPDGLNPQO5JLXIDQSOFVECISABOY2KHNMKR6JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVBPZNHA56GYF7JU3KWPCXGHF2Y7TTX7LFC2NG3RPCLN5YPPEMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX7HGHX6XFASMOPKDVUHGIT3OQVOZKIYRLBYRBOI3ZKTWMGKCPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHTV6NVXFQ23QGNXTQ7WWN2FEQDYH7GHS734OOVMCDDI5GU64DHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34VFGAIWIYNNJSU24WT7WWARXHWO63ZWQUFKKNUXKQI5ZDC2FCKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHCCSXVFJNK3GUK7E43XBGLVYF6C47XRVPIBYF77UAR5V5KA7FQQ/main.js"
            ]
        },
        "GetServiceLinkedRoleStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/service-linked-role",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y46LP7ZAHXDGCL4JOIQZH4INNLIMAMWWNOV6KVZL3NIJQNOVCQ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KJM65AQEBWSGSMPXNKUJJ65BZUEY3BBBRY2KA7QLTQCDNGGR6PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHZ5AEB7NWRTIS2ZAGTPIRBBQVY5K6C5Z7KG57TJWUMFKINGJJBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUDMQFVIZ5T3OFNEVKXHTLFQUYTGPO5RKRXYVJAK4FW7XYBSOKAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGJ4F3WN7SE3NIPY6SKTZHTBHVK7ZSHHOW7WPRPVTKSAJZ3BSEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5RDA4OGTAWW5ZNDCHJOUUJBSZWAF2SAD4TD33PSTRKTCE7GZKPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBV7LR337EQ7XU5GJ2H3Q5ZRAK6SE7NA67GTGDS4ENJXLASCZDLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P7J2APAVWI4CDVYTRNZ67INPJB5VQEW3KE3V7QOQAP5SNI2APFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBPD3JW6U6LC46GWMIMLADTSA5QR3BTDLBPMBRQQC6VQBEKQQ36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X6G4VBEEMDUORCSC2CX7KKN66VTRWAGW7TBIU7JGFZPRUB2PKKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDDAPGVDORWG2CRMK6HJYLZQIURHVKIFJRAHUUQR6ZJNEQMHM6GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPXKOU5TTYJZTINOZQM6QL5QEPJGZ2TCIVMQHD3BWE2QUGW4DXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GSEM2TW5NPMFOJJF5JOKAKZ73GVX5QGRAGSJL34YVXYXSPWEQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTDW23LOH6XLZIJ4WVM7KOILP3DB5QULRNNMORDQFOCEHDBJZCOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJPHJXJ6733J3V3R2DZDX3O7JSXXIN3EHBETBIX2EQHFR723NJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYEJ3NXRM43H7MV72OQW5BOQKOWH6GBRAWGB2CLIBP5VYMYSA4EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJ3CAYVIN6C2AP6KOUIVRDSV6DVSEP3VVBVQMAHJIQFDGZSYH4MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFGSSTD5OODTGN7RQGDJ26FLT4XHNI2JAZJNODQMEZUOAW3BY3VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSSCKZGOUJPFSMUGJUDQV4O3SFTAXBBJ3UUPGLV4NDQIOIXLUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4RJG7D2OFLUM4MSNJ4EPFO6IIC77VD6DJWRVJHV2LNGKOH63AZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCDZJ6HLXGAMJPH6DA5ITFGXPDTCFSW5APCV5BK3GF6KGH5ZCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CETPBPJERX7YO5MRC5F6XCXZLEDEUHOEYK74NGQMS7OFE3MKCKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONQSOBVCRQLTS2CDDFPVJ3C6ZQKKVPMUIAFQCO2GOBHYGMSEV2KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6NEB5W52VN7MLU5VTTRNJ6P2RGGUSWWCXSOGDQ3DWVRLMHPYZJA/main.js"
            ]
        },
        "GetUserAgreementStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/user-agreement",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y46LP7ZAHXDGCL4JOIQZH4INNLIMAMWWNOV6KVZL3NIJQNOVCQ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KJM65AQEBWSGSMPXNKUJJ65BZUEY3BBBRY2KA7QLTQCDNGGR6PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHZ5AEB7NWRTIS2ZAGTPIRBBQVY5K6C5Z7KG57TJWUMFKINGJJBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUDMQFVIZ5T3OFNEVKXHTLFQUYTGPO5RKRXYVJAK4FW7XYBSOKAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGJ4F3WN7SE3NIPY6SKTZHTBHVK7ZSHHOW7WPRPVTKSAJZ3BSEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5RDA4OGTAWW5ZNDCHJOUUJBSZWAF2SAD4TD33PSTRKTCE7GZKPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBV7LR337EQ7XU5GJ2H3Q5ZRAK6SE7NA67GTGDS4ENJXLASCZDLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P7J2APAVWI4CDVYTRNZ67INPJB5VQEW3KE3V7QOQAP5SNI2APFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBPD3JW6U6LC46GWMIMLADTSA5QR3BTDLBPMBRQQC6VQBEKQQ36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X6G4VBEEMDUORCSC2CX7KKN66VTRWAGW7TBIU7JGFZPRUB2PKKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDDAPGVDORWG2CRMK6HJYLZQIURHVKIFJRAHUUQR6ZJNEQMHM6GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPXKOU5TTYJZTINOZQM6QL5QEPJGZ2TCIVMQHD3BWE2QUGW4DXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GSEM2TW5NPMFOJJF5JOKAKZ73GVX5QGRAGSJL34YVXYXSPWEQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTDW23LOH6XLZIJ4WVM7KOILP3DB5QULRNNMORDQFOCEHDBJZCOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJPHJXJ6733J3V3R2DZDX3O7JSXXIN3EHBETBIX2EQHFR723NJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYEJ3NXRM43H7MV72OQW5BOQKOWH6GBRAWGB2CLIBP5VYMYSA4EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJ3CAYVIN6C2AP6KOUIVRDSV6DVSEP3VVBVQMAHJIQFDGZSYH4MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFGSSTD5OODTGN7RQGDJ26FLT4XHNI2JAZJNODQMEZUOAW3BY3VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSSCKZGOUJPFSMUGJUDQV4O3SFTAXBBJ3UUPGLV4NDQIOIXLUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4RJG7D2OFLUM4MSNJ4EPFO6IIC77VD6DJWRVJHV2LNGKOH63AZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCDZJ6HLXGAMJPH6DA5ITFGXPDTCFSW5APCV5BK3GF6KGH5ZCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CETPBPJERX7YO5MRC5F6XCXZLEDEUHOEYK74NGQMS7OFE3MKCKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONQSOBVCRQLTS2CDDFPVJ3C6ZQKKVPMUIAFQCO2GOBHYGMSEV2KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6NEB5W52VN7MLU5VTTRNJ6P2RGGUSWWCXSOGDQ3DWVRLMHPYZJA/main.js"
            ]
        },
        "SearchCompilations": {
            "http": {
                "requestUri": "/compilations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "filters"
                ],
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "values",
                                "operator"
                            ],
                            "members": {
                                "name": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                },
                                "operator": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "compilations"
                ],
                "members": {
                    "compilations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "compilationArn",
                                "status",
                                "deviceArn",
                                "createdAt"
                            ],
                            "members": {
                                "compilationArn": {},
                                "status": {},
                                "deviceArn": {},
                                "createdAt": {
                                    "shape": "S1s"
                                },
                                "compiledAt": {
                                    "shape": "S1s"
                                },
                                "tags": {
                                    "shape": "Sj"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFFBFZ2UUPNZC67JQLW65TR5AJA7IIADMYWPCQQTDAQQB3B5F4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMB2K2NKXVM5RF4X67DE7TPO2R5SCYEXHGLEXOUKZAFHHM2T6JYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UASJMIEGNQ6PWX5UCKMTR6WQZS62RIS72YVQ66BO7DWIXAN6W2WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSH5O4R4QJX3DG2PXMDHXQZV5FXBRDCXLDYNMUXDSBX3QZODWMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMWMXP7FUR3O7FKLUTC35HODC7ZMIEEVCQ6LSDPBHLIFRI4UR4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN734C2Y2TEDXW65WJQ2ELALOZTX664RA3OLFJYPJ2E5GXTMMWLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQO222E3YUEBKZLEL5SMU45MQFHGBM7PRV4LTOFUQFT6JO6OHXVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6YJ7N2L4Y73533BR7K5QO3LEBQXHERW4VWGG7GQD7TZ5RD33VLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZSUKI2N3VIM54AMVSJ6C52IUT46NY5WF6VM4KJNVU7VHK6PZN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQNXP6W3W4IWMEFQVFXCJYLQWNYAKYSEDS6UTGGBGQUWSRGYIVUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E63CIH55GCG42ECHACFI6BDUVRCKHHLO2ZPI4P5WKO5GTSORLY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KDWSMCOYFPNPSOLBRZOHVT36EODDDAXVRCWJQ4YS4FEYWGYI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICGI5QVQT32AAD3PZADZ3Q77MFBN4VWVDQKOJTBMJJIDOPSBVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USUX4O5BZVUJI24MUQHHWX2I5FBHYY2DTOO66ZS43P64X4NRBC3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GDBVVKMSDI75XLSBQ7Y7CEYMY5K2ROVKMEDWGWJW2DR6ASVPNFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZ5MQMBPMCOBZE7XDETKYZQT3OPIB5YMMLIVJVXTD5NGYLPONCTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYW6SJTDLKJVVU7432JZ2PTONWRJHGGBKTPFWN6XL6HBXYQIB2UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPLQSHYE4DX2TVBBEGFGX34WQ32J6JP2YACR3XGQNFDYT74XHOLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRPETGWMKY6KFHRPDGLNPQO5JLXIDQSOFVECISABOY2KHNMKR6JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVBPZNHA56GYF7JU3KWPCXGHF2Y7TTX7LFC2NG3RPCLN5YPPEMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX7HGHX6XFASMOPKDVUHGIT3OQVOZKIYRLBYRBOI3ZKTWMGKCPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHTV6NVXFQ23QGNXTQ7WWN2FEQDYH7GHS734OOVMCDDI5GU64DHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34VFGAIWIYNNJSU24WT7WWARXHWO63ZWQUFKKNUXKQI5ZDC2FCKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHCCSXVFJNK3GUK7E43XBGLVYF6C47XRVPIBYF77UAR5V5KA7FQQ/main.js"
            ]
        }
    },
    "shapes": {
        "Sa": {
            "type": "structure",
            "members": {
                "containerImage": {
                    "type": "structure",
                    "required": [
                        "uri"
                    ],
                    "members": {
                        "uri": {}
                    }
                },
                "scriptModeConfig": {
                    "type": "structure",
                    "required": [
                        "entryPoint",
                        "s3Uri"
                    ],
                    "members": {
                        "compressionType": {},
                        "entryPoint": {},
                        "s3Uri": {}
                    }
                }
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "s3Uri"
            ],
            "members": {
                "localPath": {},
                "s3Uri": {}
            }
        },
        "Sj": {
            "type": "structure",
            "required": [
                "device"
            ],
            "members": {
                "device": {}
            }
        },
        "Sl": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "So": {
            "type": "structure",
            "required": [
                "channelName",
                "dataSource"
            ],
            "members": {
                "channelName": {},
                "contentType": {},
                "dataSource": {
                    "type": "structure",
                    "required": [
                        "s3DataSource"
                    ],
[...]
