{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-09-01",
        "endpointPrefix": "braket",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Braket",
        "serviceId": "Braket",
        "signatureVersion": "v4",
        "signingName": "braket",
        "uid": "braket-2019-09-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GYCCW6LR4YFV2K4EXIYLS5HK4IYDSWN6XYWBJ4GBSA4U2OHRTC4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H2AWOHML72HIV6QZ52KNSHEPSNKIT6ER4NXZJLUZHYCTFIRD4DOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWHHKVOCC4UOWKNMVLT2TSOQFERN7KEFP36I2QMC6DEYYBZT7MQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
        ]
    },
    "operations": {
        "CancelJob": {
            "http": {
                "method": "PUT",
                "requestUri": "/job/{jobArn}/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobArn"
                ],
                "members": {
                    "jobArn": {
                        "location": "uri",
                        "locationName": "jobArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cancellationStatus",
                    "jobArn"
                ],
                "members": {
                    "cancellationStatus": {},
                    "jobArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNL4Z25AYZ5QZT7WACFWGWUKJTN7LBRW6RT3KCPQMXHG2LXT6JMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICON7WRKLMOG2DIN7C4YXV3BN52JBCZQYWRCDFZDB6TFRUDMNQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJMIQ4BY3CAWVS3WMUTKISCBKVQY6ATXMK34LY6Y5I6D3AL225CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSGHE7E2ZD3R3A55UERLDDMEOWHO4ZHWPIHQXCYHVPX4MT7ASCUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF4THMZVABI7X676HEBYBSEUXG4R4SQDQMK575TG4IQYYQNJNMSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGPMFQYKJO2LQDRFTGQUCA2TWKQGK6IS5FHJSDOLPQY3LKWTO5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBWPLRM555JNKBOSGZZH6CKFBWQTOYOIFNRLAREHDQ35MB3Z5D7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHXCHX25EHAZLUH4PXNMRQVILJDCIWVHQTLPRRYPX2LVR5FSIFLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NW3RLWPJRAXZIAIMN3KTKWIX7ASAZVVDQQUHFXLSTGL2RFCIJGHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYCCW6LR4YFV2K4EXIYLS5HK4IYDSWN6XYWBJ4GBSA4U2OHRTC4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2AWOHML72HIV6QZ52KNSHEPSNKIT6ER4NXZJLUZHYCTFIRD4DOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWHHKVOCC4UOWKNMVLT2TSOQFERN7KEFP36I2QMC6DEYYBZT7MQA/main.js"
            ]
        },
        "CancelQuantumTask": {
            "http": {
                "method": "PUT",
                "requestUri": "/quantum-task/{quantumTaskArn}/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "quantumTaskArn"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "quantumTaskArn": {
                        "location": "uri",
                        "locationName": "quantumTaskArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cancellationStatus",
                    "quantumTaskArn"
                ],
                "members": {
                    "cancellationStatus": {},
                    "quantumTaskArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYCCW6LR4YFV2K4EXIYLS5HK4IYDSWN6XYWBJ4GBSA4U2OHRTC4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2AWOHML72HIV6QZ52KNSHEPSNKIT6ER4NXZJLUZHYCTFIRD4DOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWHHKVOCC4UOWKNMVLT2TSOQFERN7KEFP36I2QMC6DEYYBZT7MQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateJob": {
            "http": {
                "requestUri": "/job",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "algorithmSpecification",
                    "clientToken",
                    "deviceConfig",
                    "instanceConfig",
                    "jobName",
                    "outputDataConfig",
                    "roleArn"
                ],
                "members": {
                    "algorithmSpecification": {
                        "shape": "Sa"
                    },
                    "checkpointConfig": {
                        "shape": "Sh"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "deviceConfig": {
                        "shape": "Sj"
                    },
                    "hyperParameters": {
                        "shape": "Sl"
                    },
                    "inputDataConfig": {
                        "type": "list",
                        "member": {
                            "shape": "So"
                        }
                    },
                    "instanceConfig": {
                        "shape": "Ss"
                    },
                    "jobName": {},
                    "outputDataConfig": {
                        "shape": "Sx"
                    },
                    "roleArn": {},
                    "stoppingCondition": {
                        "shape": "S10"
                    },
                    "tags": {
                        "shape": "S12"
                    },
                    "associationConfig": {
                        "shape": "S1a"
                    },
                    "associations": {
                        "type": "list",
                        "member": {
                            "shape": "S1b"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobArn"
                ],
                "members": {
                    "jobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNL4Z25AYZ5QZT7WACFWGWUKJTN7LBRW6RT3KCPQMXHG2LXT6JMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICON7WRKLMOG2DIN7C4YXV3BN52JBCZQYWRCDFZDB6TFRUDMNQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJMIQ4BY3CAWVS3WMUTKISCBKVQY6ATXMK34LY6Y5I6D3AL225CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSGHE7E2ZD3R3A55UERLDDMEOWHO4ZHWPIHQXCYHVPX4MT7ASCUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF4THMZVABI7X676HEBYBSEUXG4R4SQDQMK575TG4IQYYQNJNMSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGPMFQYKJO2LQDRFTGQUCA2TWKQGK6IS5FHJSDOLPQY3LKWTO5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBWPLRM555JNKBOSGZZH6CKFBWQTOYOIFNRLAREHDQ35MB3Z5D7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHXCHX25EHAZLUH4PXNMRQVILJDCIWVHQTLPRRYPX2LVR5FSIFLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NW3RLWPJRAXZIAIMN3KTKWIX7ASAZVVDQQUHFXLSTGL2RFCIJGHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYCCW6LR4YFV2K4EXIYLS5HK4IYDSWN6XYWBJ4GBSA4U2OHRTC4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2AWOHML72HIV6QZ52KNSHEPSNKIT6ER4NXZJLUZHYCTFIRD4DOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWHHKVOCC4UOWKNMVLT2TSOQFERN7KEFP36I2QMC6DEYYBZT7MQA/main.js"
            ]
        },
        "CreateQuantumTask": {
            "http": {
                "requestUri": "/quantum-task",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "action",
                    "clientToken",
                    "deviceArn",
                    "outputS3Bucket",
                    "outputS3KeyPrefix",
                    "shots"
                ],
                "members": {
                    "action": {
                        "jsonvalue": true
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "deviceArn": {},
                    "deviceParameters": {
                        "jsonvalue": true
                    },
                    "jobToken": {},
                    "outputS3Bucket": {},
                    "outputS3KeyPrefix": {},
                    "shots": {
                        "type": "long"
                    },
                    "tags": {
                        "shape": "S12"
                    },
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "associationConfig": {
                        "shape": "S1a"
                    },
                    "associations": {
                        "type": "list",
                        "member": {
                            "shape": "S1b"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "quantumTaskArn"
                ],
                "members": {
                    "quantumTaskArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYCCW6LR4YFV2K4EXIYLS5HK4IYDSWN6XYWBJ4GBSA4U2OHRTC4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2AWOHML72HIV6QZ52KNSHEPSNKIT6ER4NXZJLUZHYCTFIRD4DOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWHHKVOCC4UOWKNMVLT2TSOQFERN7KEFP36I2QMC6DEYYBZT7MQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetDevice": {
            "http": {
                "method": "GET",
                "requestUri": "/device/{deviceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceArn"
                ],
                "members": {
                    "deviceArn": {
                        "location": "uri",
                        "locationName": "deviceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "deviceArn",
                    "deviceCapabilities",
                    "deviceName",
                    "deviceStatus",
                    "deviceType",
                    "providerName"
                ],
                "members": {
                    "deviceArn": {},
                    "deviceCapabilities": {
                        "jsonvalue": true
                    },
                    "deviceName": {},
                    "deviceStatus": {},
                    "deviceType": {},
                    "providerName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYCCW6LR4YFV2K4EXIYLS5HK4IYDSWN6XYWBJ4GBSA4U2OHRTC4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2AWOHML72HIV6QZ52KNSHEPSNKIT6ER4NXZJLUZHYCTFIRD4DOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWHHKVOCC4UOWKNMVLT2TSOQFERN7KEFP36I2QMC6DEYYBZT7MQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetJob": {
            "http": {
                "method": "GET",
                "requestUri": "/job/{jobArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobArn"
                ],
                "members": {
                    "jobArn": {
                        "location": "uri",
                        "locationName": "jobArn"
                    },
                    "additionalAttributeNames": {
                        "location": "querystring",
                        "locationName": "additionalAttributeNames",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "algorithmSpecification",
                    "createdAt",
                    "instanceConfig",
                    "jobArn",
                    "jobName",
                    "outputDataConfig",
                    "roleArn",
                    "status"
                ],
                "members": {
                    "algorithmSpecification": {
                        "shape": "Sa"
                    },
                    "billableDuration": {
                        "type": "integer"
                    },
                    "checkpointConfig": {
                        "shape": "Sh"
                    },
                    "createdAt": {
                        "shape": "S1k"
                    },
                    "deviceConfig": {
                        "shape": "Sj"
                    },
                    "endedAt": {
                        "shape": "S1k"
                    },
                    "events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "eventType": {},
                                "message": {},
                                "timeOfEvent": {
                                    "shape": "S1k"
                                }
                            }
                        }
                    },
                    "failureReason": {},
                    "hyperParameters": {
                        "shape": "Sl"
                    },
                    "inputDataConfig": {
                        "type": "list",
                        "member": {
                            "shape": "So"
                        }
                    },
                    "instanceConfig": {
                        "shape": "Ss"
                    },
                    "jobArn": {},
                    "jobName": {},
                    "outputDataConfig": {
                        "shape": "Sx"
                    },
                    "roleArn": {},
                    "startedAt": {
                        "shape": "S1k"
                    },
                    "status": {},
                    "stoppingCondition": {
                        "shape": "S10"
                    },
                    "tags": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNL4Z25AYZ5QZT7WACFWGWUKJTN7LBRW6RT3KCPQMXHG2LXT6JMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICON7WRKLMOG2DIN7C4YXV3BN52JBCZQYWRCDFZDB6TFRUDMNQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJMIQ4BY3CAWVS3WMUTKISCBKVQY6ATXMK34LY6Y5I6D3AL225CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSGHE7E2ZD3R3A55UERLDDMEOWHO4ZHWPIHQXCYHVPX4MT7ASCUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF4THMZVABI7X676HEBYBSEUXG4R4SQDQMK575TG4IQYYQNJNMSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGPMFQYKJO2LQDRFTGQUCA2TWKQGK6IS5FHJSDOLPQY3LKWTO5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBWPLRM555JNKBOSGZZH6CKFBWQTOYOIFNRLAREHDQ35MB3Z5D7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHXCHX25EHAZLUH4PXNMRQVILJDCIWVHQTLPRRYPX2LVR5FSIFLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NW3RLWPJRAXZIAIMN3KTKWIX7ASAZVVDQQUHFXLSTGL2RFCIJGHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYCCW6LR4YFV2K4EXIYLS5HK4IYDSWN6XYWBJ4GBSA4U2OHRTC4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2AWOHML72HIV6QZ52KNSHEPSNKIT6ER4NXZJLUZHYCTFIRD4DOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWHHKVOCC4UOWKNMVLT2TSOQFERN7KEFP36I2QMC6DEYYBZT7MQA/main.js"
            ]
        },
        "GetQuantumTask": {
            "http": {
                "method": "GET",
                "requestUri": "/quantum-task/{quantumTaskArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "quantumTaskArn"
                ],
                "members": {
                    "quantumTaskArn": {
                        "location": "uri",
                        "locationName": "quantumTaskArn"
                    },
                    "additionalAttributeNames": {
                        "location": "querystring",
                        "locationName": "additionalAttributeNames",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createdAt",
                    "deviceArn",
                    "deviceParameters",
                    "outputS3Bucket",
                    "outputS3Directory",
                    "quantumTaskArn",
                    "shots",
                    "status"
                ],
                "members": {
                    "createdAt": {
                        "shape": "S1k"
                    },
                    "deviceArn": {},
                    "deviceParameters": {
                        "jsonvalue": true
                    },
                    "endedAt": {
                        "shape": "S1k"
                    },
                    "failureReason": {},
                    "jobArn": {},
                    "outputS3Bucket": {},
                    "outputS3Directory": {},
                    "quantumTaskArn": {},
                    "shots": {
                        "type": "long"
                    },
                    "status": {},
                    "tags": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYCCW6LR4YFV2K4EXIYLS5HK4IYDSWN6XYWBJ4GBSA4U2OHRTC4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2AWOHML72HIV6QZ52KNSHEPSNKIT6ER4NXZJLUZHYCTFIRD4DOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWHHKVOCC4UOWKNMVLT2TSOQFERN7KEFP36I2QMC6DEYYBZT7MQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYCCW6LR4YFV2K4EXIYLS5HK4IYDSWN6XYWBJ4GBSA4U2OHRTC4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2AWOHML72HIV6QZ52KNSHEPSNKIT6ER4NXZJLUZHYCTFIRD4DOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWHHKVOCC4UOWKNMVLT2TSOQFERN7KEFP36I2QMC6DEYYBZT7MQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "SearchDevices": {
            "http": {
                "requestUri": "/devices",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "filters"
                ],
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "values"
                            ],
                            "members": {
                                "name": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "devices"
                ],
                "members": {
                    "devices": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "deviceArn",
                                "deviceName",
                                "deviceStatus",
                                "deviceType",
                                "providerName"
                            ],
                            "members": {
                                "deviceArn": {},
                                "deviceName": {},
                                "deviceStatus": {},
                                "deviceType": {},
                                "providerName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYCCW6LR4YFV2K4EXIYLS5HK4IYDSWN6XYWBJ4GBSA4U2OHRTC4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2AWOHML72HIV6QZ52KNSHEPSNKIT6ER4NXZJLUZHYCTFIRD4DOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWHHKVOCC4UOWKNMVLT2TSOQFERN7KEFP36I2QMC6DEYYBZT7MQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "SearchJobs": {
            "http": {
                "requestUri": "/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "filters"
                ],
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "operator",
                                "values"
                            ],
                            "members": {
                                "name": {},
                                "operator": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobs"
                ],
                "members": {
                    "jobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createdAt",
                                "device",
                                "jobArn",
                                "jobName",
                                "status"
                            ],
                            "members": {
                                "createdAt": {
                                    "shape": "S1k"
                                },
                                "device": {},
                                "endedAt": {
                                    "shape": "S1k"
                                },
                                "jobArn": {},
                                "jobName": {},
                                "startedAt": {
                                    "shape": "S1k"
                                },
                                "status": {},
                                "tags": {
                                    "shape": "S12"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNL4Z25AYZ5QZT7WACFWGWUKJTN7LBRW6RT3KCPQMXHG2LXT6JMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICON7WRKLMOG2DIN7C4YXV3BN52JBCZQYWRCDFZDB6TFRUDMNQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJMIQ4BY3CAWVS3WMUTKISCBKVQY6ATXMK34LY6Y5I6D3AL225CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSGHE7E2ZD3R3A55UERLDDMEOWHO4ZHWPIHQXCYHVPX4MT7ASCUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF4THMZVABI7X676HEBYBSEUXG4R4SQDQMK575TG4IQYYQNJNMSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGPMFQYKJO2LQDRFTGQUCA2TWKQGK6IS5FHJSDOLPQY3LKWTO5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBWPLRM555JNKBOSGZZH6CKFBWQTOYOIFNRLAREHDQ35MB3Z5D7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHXCHX25EHAZLUH4PXNMRQVILJDCIWVHQTLPRRYPX2LVR5FSIFLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NW3RLWPJRAXZIAIMN3KTKWIX7ASAZVVDQQUHFXLSTGL2RFCIJGHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYCCW6LR4YFV2K4EXIYLS5HK4IYDSWN6XYWBJ4GBSA4U2OHRTC4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2AWOHML72HIV6QZ52KNSHEPSNKIT6ER4NXZJLUZHYCTFIRD4DOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWHHKVOCC4UOWKNMVLT2TSOQFERN7KEFP36I2QMC6DEYYBZT7MQA/main.js"
            ]
        },
        "SearchQuantumTasks": {
            "http": {
                "requestUri": "/quantum-tasks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "filters"
                ],
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "operator",
                                "values"
                            ],
                            "members": {
                                "name": {},
                                "operator": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "quantumTasks"
                ],
                "members": {
                    "nextToken": {},
                    "quantumTasks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createdAt",
                                "deviceArn",
                                "outputS3Bucket",
                                "outputS3Directory",
                                "quantumTaskArn",
                                "shots",
                                "status"
                            ],
                            "members": {
                                "createdAt": {
                                    "shape": "S1k"
                                },
                                "deviceArn": {},
                                "endedAt": {
                                    "shape": "S1k"
                                },
                                "outputS3Bucket": {},
                                "outputS3Directory": {},
                                "quantumTaskArn": {},
                                "shots": {
                                    "type": "long"
                                },
                                "status": {},
                                "tags": {
                                    "shape": "S12"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYCCW6LR4YFV2K4EXIYLS5HK4IYDSWN6XYWBJ4GBSA4U2OHRTC4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2AWOHML72HIV6QZ52KNSHEPSNKIT6ER4NXZJLUZHYCTFIRD4DOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWHHKVOCC4UOWKNMVLT2TSOQFERN7KEFP36I2QMC6DEYYBZT7MQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYCCW6LR4YFV2K4EXIYLS5HK4IYDSWN6XYWBJ4GBSA4U2OHRTC4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2AWOHML72HIV6QZ52KNSHEPSNKIT6ER4NXZJLUZHYCTFIRD4DOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWHHKVOCC4UOWKNMVLT2TSOQFERN7KEFP36I2QMC6DEYYBZT7MQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYCCW6LR4YFV2K4EXIYLS5HK4IYDSWN6XYWBJ4GBSA4U2OHRTC4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2AWOHML72HIV6QZ52KNSHEPSNKIT6ER4NXZJLUZHYCTFIRD4DOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWHHKVOCC4UOWKNMVLT2TSOQFERN7KEFP36I2QMC6DEYYBZT7MQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "AcceptUserAgreement": {
            "http": {
                "method": "PUT",
                "requestUri": "/user-agreement",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEK2EIOPLCFCVNHP67FAWDF3X2TH5LXVV7OVQKF6TOWR4VRKOG3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMHNIT4B2ZAUTYRYFHLWY4G7NNGJSVKKDL5NBV32MKGMKSF7XP5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FGBJIJCXL5GKMPUI3WHF2Y77NHEKFQWEIH4DNX7OZEQGBBMC62Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHQC373BEVQPA4XGJXXSG2QLLLHC5GKFINJ3JE2V2DL3OOBMN2RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTUZGVRVR54R7TOAIAJ4ECZ75N3HMOOA242ZCYRYOFWR3G5MCPKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5T2ROS5XILQMPKH2VK263OGO35IMEGIJPAYEZIEEBVI6LLZX5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3SICI73EMO5G5XNJAVSEJGH2S7TKLH5SXPXOHSHMCZDY5D4HMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAS55YTIQ6Z74JGE5NU3JYXHBBRXNB5S6SQ4IZ3VNPMDW6N2VG3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBM5JJ4W2BBD4KND2V6ZWH3AK5FTUE4GRUOS3YJAPMPYVEQSVKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5LQYVRI2QXAL6JJXQSQEUMVSHQQDSPA2UCMFJ7YAUJQLWFEBWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KJX2VWUPMESGF3J76LFRCZ2F5WTB3CVDHRPZZZRH5KPLFTTDO6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4B6X4P6Z56MCKFNHXW7NCBL47U2CJBR4QHGXBCV2XBJYCJDICQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNL4Z25AYZ5QZT7WACFWGWUKJTN7LBRW6RT3KCPQMXHG2LXT6JMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICON7WRKLMOG2DIN7C4YXV3BN52JBCZQYWRCDFZDB6TFRUDMNQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJMIQ4BY3CAWVS3WMUTKISCBKVQY6ATXMK34LY6Y5I6D3AL225CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSGHE7E2ZD3R3A55UERLDDMEOWHO4ZHWPIHQXCYHVPX4MT7ASCUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF4THMZVABI7X676HEBYBSEUXG4R4SQDQMK575TG4IQYYQNJNMSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGPMFQYKJO2LQDRFTGQUCA2TWKQGK6IS5FHJSDOLPQY3LKWTO5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBWPLRM555JNKBOSGZZH6CKFBWQTOYOIFNRLAREHDQ35MB3Z5D7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHXCHX25EHAZLUH4PXNMRQVILJDCIWVHQTLPRRYPX2LVR5FSIFLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NW3RLWPJRAXZIAIMN3KTKWIX7ASAZVVDQQUHFXLSTGL2RFCIJGHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYCCW6LR4YFV2K4EXIYLS5HK4IYDSWN6XYWBJ4GBSA4U2OHRTC4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2AWOHML72HIV6QZ52KNSHEPSNKIT6ER4NXZJLUZHYCTFIRD4DOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWHHKVOCC4UOWKNMVLT2TSOQFERN7KEFP36I2QMC6DEYYBZT7MQA/main.js"
            ]
        },
        "AccessBraketFeature": {
            "http": {
                "requestUri": "/feature",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "featureName",
                    "accountId"
                ],
                "members": {
                    "featureName": {},
                    "accountId": {},
                    "servicePrincipals": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "enabled"
                ],
                "members": {
                    "enabled": {
                        "type": "boolean"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEK2EIOPLCFCVNHP67FAWDF3X2TH5LXVV7OVQKF6TOWR4VRKOG3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMHNIT4B2ZAUTYRYFHLWY4G7NNGJSVKKDL5NBV32MKGMKSF7XP5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FGBJIJCXL5GKMPUI3WHF2Y77NHEKFQWEIH4DNX7OZEQGBBMC62Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHQC373BEVQPA4XGJXXSG2QLLLHC5GKFINJ3JE2V2DL3OOBMN2RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTUZGVRVR54R7TOAIAJ4ECZ75N3HMOOA242ZCYRYOFWR3G5MCPKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5T2ROS5XILQMPKH2VK263OGO35IMEGIJPAYEZIEEBVI6LLZX5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3SICI73EMO5G5XNJAVSEJGH2S7TKLH5SXPXOHSHMCZDY5D4HMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAS55YTIQ6Z74JGE5NU3JYXHBBRXNB5S6SQ4IZ3VNPMDW6N2VG3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBM5JJ4W2BBD4KND2V6ZWH3AK5FTUE4GRUOS3YJAPMPYVEQSVKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5LQYVRI2QXAL6JJXQSQEUMVSHQQDSPA2UCMFJ7YAUJQLWFEBWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KJX2VWUPMESGF3J76LFRCZ2F5WTB3CVDHRPZZZRH5KPLFTTDO6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4B6X4P6Z56MCKFNHXW7NCBL47U2CJBR4QHGXBCV2XBJYCJDICQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNL4Z25AYZ5QZT7WACFWGWUKJTN7LBRW6RT3KCPQMXHG2LXT6JMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICON7WRKLMOG2DIN7C4YXV3BN52JBCZQYWRCDFZDB6TFRUDMNQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJMIQ4BY3CAWVS3WMUTKISCBKVQY6ATXMK34LY6Y5I6D3AL225CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSGHE7E2ZD3R3A55UERLDDMEOWHO4ZHWPIHQXCYHVPX4MT7ASCUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF4THMZVABI7X676HEBYBSEUXG4R4SQDQMK575TG4IQYYQNJNMSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGPMFQYKJO2LQDRFTGQUCA2TWKQGK6IS5FHJSDOLPQY3LKWTO5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBWPLRM555JNKBOSGZZH6CKFBWQTOYOIFNRLAREHDQ35MB3Z5D7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHXCHX25EHAZLUH4PXNMRQVILJDCIWVHQTLPRRYPX2LVR5FSIFLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NW3RLWPJRAXZIAIMN3KTKWIX7ASAZVVDQQUHFXLSTGL2RFCIJGHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYCCW6LR4YFV2K4EXIYLS5HK4IYDSWN6XYWBJ4GBSA4U2OHRTC4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2AWOHML72HIV6QZ52KNSHEPSNKIT6ER4NXZJLUZHYCTFIRD4DOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWHHKVOCC4UOWKNMVLT2TSOQFERN7KEFP36I2QMC6DEYYBZT7MQA/main.js"
            ]
        },
        "CreateCompilation": {
            "http": {
                "requestUri": "/compilation",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceArn",
                    "action"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "deviceArn": {},
                    "action": {
                        "jsonvalue": true
                    },
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "compilationArn"
                ],
                "members": {
                    "compilationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFFBFZ2UUPNZC67JQLW65TR5AJA7IIADMYWPCQQTDAQQB3B5F4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMB2K2NKXVM5RF4X67DE7TPO2R5SCYEXHGLEXOUKZAFHHM2T6JYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UASJMIEGNQ6PWX5UCKMTR6WQZS62RIS72YVQ66BO7DWIXAN6W2WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSH5O4R4QJX3DG2PXMDHXQZV5FXBRDCXLDYNMUXDSBX3QZODWMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMWMXP7FUR3O7FKLUTC35HODC7ZMIEEVCQ6LSDPBHLIFRI4UR4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN734C2Y2TEDXW65WJQ2ELALOZTX664RA3OLFJYPJ2E5GXTMMWLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQO222E3YUEBKZLEL5SMU45MQFHGBM7PRV4LTOFUQFT6JO6OHXVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6YJ7N2L4Y73533BR7K5QO3LEBQXHERW4VWGG7GQD7TZ5RD33VLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZSUKI2N3VIM54AMVSJ6C52IUT46NY5WF6VM4KJNVU7VHK6PZN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQNXP6W3W4IWMEFQVFXCJYLQWNYAKYSEDS6UTGGBGQUWSRGYIVUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E63CIH55GCG42ECHACFI6BDUVRCKHHLO2ZPI4P5WKO5GTSORLY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KDWSMCOYFPNPSOLBRZOHVT36EODDDAXVRCWJQ4YS4FEYWGYI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICGI5QVQT32AAD3PZADZ3Q77MFBN4VWVDQKOJTBMJJIDOPSBVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USUX4O5BZVUJI24MUQHHWX2I5FBHYY2DTOO66ZS43P64X4NRBC3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GDBVVKMSDI75XLSBQ7Y7CEYMY5K2ROVKMEDWGWJW2DR6ASVPNFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZ5MQMBPMCOBZE7XDETKYZQT3OPIB5YMMLIVJVXTD5NGYLPONCTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYW6SJTDLKJVVU7432JZ2PTONWRJHGGBKTPFWN6XL6HBXYQIB2UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPLQSHYE4DX2TVBBEGFGX34WQ32J6JP2YACR3XGQNFDYT74XHOLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRPETGWMKY6KFHRPDGLNPQO5JLXIDQSOFVECISABOY2KHNMKR6JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVBPZNHA56GYF7JU3KWPCXGHF2Y7TTX7LFC2NG3RPCLN5YPPEMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX7HGHX6XFASMOPKDVUHGIT3OQVOZKIYRLBYRBOI3ZKTWMGKCPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHTV6NVXFQ23QGNXTQ7WWN2FEQDYH7GHS734OOVMCDDI5GU64DHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34VFGAIWIYNNJSU24WT7WWARXHWO63ZWQUFKKNUXKQI5ZDC2FCKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHCCSXVFJNK3GUK7E43XBGLVYF6C47XRVPIBYF77UAR5V5KA7FQQ/main.js"
            ]
        },
        "DeleteAccountResources": {
            "http": {
                "method": "DELETE",
                "requestUri": "/account-resources",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "required": [
                    "deleteRequestId",
                    "deletionStatus"
                ],
                "members": {
                    "deleteRequestId": {},
                    "deletionStatus": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEK2EIOPLCFCVNHP67FAWDF3X2TH5LXVV7OVQKF6TOWR4VRKOG3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMHNIT4B2ZAUTYRYFHLWY4G7NNGJSVKKDL5NBV32MKGMKSF7XP5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FGBJIJCXL5GKMPUI3WHF2Y77NHEKFQWEIH4DNX7OZEQGBBMC62Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHQC373BEVQPA4XGJXXSG2QLLLHC5GKFINJ3JE2V2DL3OOBMN2RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTUZGVRVR54R7TOAIAJ4ECZ75N3HMOOA242ZCYRYOFWR3G5MCPKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5T2ROS5XILQMPKH2VK263OGO35IMEGIJPAYEZIEEBVI6LLZX5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3SICI73EMO5G5XNJAVSEJGH2S7TKLH5SXPXOHSHMCZDY5D4HMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAS55YTIQ6Z74JGE5NU3JYXHBBRXNB5S6SQ4IZ3VNPMDW6N2VG3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBM5JJ4W2BBD4KND2V6ZWH3AK5FTUE4GRUOS3YJAPMPYVEQSVKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5LQYVRI2QXAL6JJXQSQEUMVSHQQDSPA2UCMFJ7YAUJQLWFEBWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KJX2VWUPMESGF3J76LFRCZ2F5WTB3CVDHRPZZZRH5KPLFTTDO6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4B6X4P6Z56MCKFNHXW7NCBL47U2CJBR4QHGXBCV2XBJYCJDICQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNL4Z25AYZ5QZT7WACFWGWUKJTN7LBRW6RT3KCPQMXHG2LXT6JMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICON7WRKLMOG2DIN7C4YXV3BN52JBCZQYWRCDFZDB6TFRUDMNQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJMIQ4BY3CAWVS3WMUTKISCBKVQY6ATXMK34LY6Y5I6D3AL225CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSGHE7E2ZD3R3A55UERLDDMEOWHO4ZHWPIHQXCYHVPX4MT7ASCUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF4THMZVABI7X676HEBYBSEUXG4R4SQDQMK575TG4IQYYQNJNMSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGPMFQYKJO2LQDRFTGQUCA2TWKQGK6IS5FHJSDOLPQY3LKWTO5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBWPLRM555JNKBOSGZZH6CKFBWQTOYOIFNRLAREHDQ35MB3Z5D7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHXCHX25EHAZLUH4PXNMRQVILJDCIWVHQTLPRRYPX2LVR5FSIFLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NW3RLWPJRAXZIAIMN3KTKWIX7ASAZVVDQQUHFXLSTGL2RFCIJGHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYCCW6LR4YFV2K4EXIYLS5HK4IYDSWN6XYWBJ4GBSA4U2OHRTC4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2AWOHML72HIV6QZ52KNSHEPSNKIT6ER4NXZJLUZHYCTFIRD4DOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWHHKVOCC4UOWKNMVLT2TSOQFERN7KEFP36I2QMC6DEYYBZT7MQA/main.js"
            ]
        },
        "GetCompilation": {
            "http": {
                "method": "GET",
                "requestUri": "/compilation/{compilationArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "compilationArn"
                ],
                "members": {
                    "compilationArn": {
                        "location": "uri",
                        "locationName": "compilationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "compilationArn",
                    "status",
                    "deviceArn",
                    "createdAt"
                ],
                "members": {
                    "compilationArn": {},
                    "status": {},
                    "deviceArn": {},
                    "createdAt": {
                        "shape": "S1s"
                    },
                    "compiledAt": {
                        "shape": "S1s"
                    },
                    "failureReason": {},
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFFBFZ2UUPNZC67JQLW65TR5AJA7IIADMYWPCQQTDAQQB3B5F4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMB2K2NKXVM5RF4X67DE7TPO2R5SCYEXHGLEXOUKZAFHHM2T6JYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UASJMIEGNQ6PWX5UCKMTR6WQZS62RIS72YVQ66BO7DWIXAN6W2WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSH5O4R4QJX3DG2PXMDHXQZV5FXBRDCXLDYNMUXDSBX3QZODWMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMWMXP7FUR3O7FKLUTC35HODC7ZMIEEVCQ6LSDPBHLIFRI4UR4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN734C2Y2TEDXW65WJQ2ELALOZTX664RA3OLFJYPJ2E5GXTMMWLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQO222E3YUEBKZLEL5SMU45MQFHGBM7PRV4LTOFUQFT6JO6OHXVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6YJ7N2L4Y73533BR7K5QO3LEBQXHERW4VWGG7GQD7TZ5RD33VLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZSUKI2N3VIM54AMVSJ6C52IUT46NY5WF6VM4KJNVU7VHK6PZN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQNXP6W3W4IWMEFQVFXCJYLQWNYAKYSEDS6UTGGBGQUWSRGYIVUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E63CIH55GCG42ECHACFI6BDUVRCKHHLO2ZPI4P5WKO5GTSORLY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KDWSMCOYFPNPSOLBRZOHVT36EODDDAXVRCWJQ4YS4FEYWGYI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICGI5QVQT32AAD3PZADZ3Q77MFBN4VWVDQKOJTBMJJIDOPSBVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USUX4O5BZVUJI24MUQHHWX2I5FBHYY2DTOO66ZS43P64X4NRBC3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GDBVVKMSDI75XLSBQ7Y7CEYMY5K2ROVKMEDWGWJW2DR6ASVPNFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZ5MQMBPMCOBZE7XDETKYZQT3OPIB5YMMLIVJVXTD5NGYLPONCTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYW6SJTDLKJVVU7432JZ2PTONWRJHGGBKTPFWN6XL6HBXYQIB2UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPLQSHYE4DX2TVBBEGFGX34WQ32J6JP2YACR3XGQNFDYT74XHOLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRPETGWMKY6KFHRPDGLNPQO5JLXIDQSOFVECISABOY2KHNMKR6JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVBPZNHA56GYF7JU3KWPCXGHF2Y7TTX7LFC2NG3RPCLN5YPPEMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX7HGHX6XFASMOPKDVUHGIT3OQVOZKIYRLBYRBOI3ZKTWMGKCPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHTV6NVXFQ23QGNXTQ7WWN2FEQDYH7GHS734OOVMCDDI5GU64DHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34VFGAIWIYNNJSU24WT7WWARXHWO63ZWQUFKKNUXKQI5ZDC2FCKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHCCSXVFJNK3GUK7E43XBGLVYF6C47XRVPIBYF77UAR5V5KA7FQQ/main.js"
            ]
        },
        "GetServiceLinkedRoleStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/service-linked-role",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEK2EIOPLCFCVNHP67FAWDF3X2TH5LXVV7OVQKF6TOWR4VRKOG3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMHNIT4B2ZAUTYRYFHLWY4G7NNGJSVKKDL5NBV32MKGMKSF7XP5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FGBJIJCXL5GKMPUI3WHF2Y77NHEKFQWEIH4DNX7OZEQGBBMC62Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHQC373BEVQPA4XGJXXSG2QLLLHC5GKFINJ3JE2V2DL3OOBMN2RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTUZGVRVR54R7TOAIAJ4ECZ75N3HMOOA242ZCYRYOFWR3G5MCPKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5T2ROS5XILQMPKH2VK263OGO35IMEGIJPAYEZIEEBVI6LLZX5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3SICI73EMO5G5XNJAVSEJGH2S7TKLH5SXPXOHSHMCZDY5D4HMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAS55YTIQ6Z74JGE5NU3JYXHBBRXNB5S6SQ4IZ3VNPMDW6N2VG3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBM5JJ4W2BBD4KND2V6ZWH3AK5FTUE4GRUOS3YJAPMPYVEQSVKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5LQYVRI2QXAL6JJXQSQEUMVSHQQDSPA2UCMFJ7YAUJQLWFEBWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KJX2VWUPMESGF3J76LFRCZ2F5WTB3CVDHRPZZZRH5KPLFTTDO6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4B6X4P6Z56MCKFNHXW7NCBL47U2CJBR4QHGXBCV2XBJYCJDICQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNL4Z25AYZ5QZT7WACFWGWUKJTN7LBRW6RT3KCPQMXHG2LXT6JMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICON7WRKLMOG2DIN7C4YXV3BN52JBCZQYWRCDFZDB6TFRUDMNQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJMIQ4BY3CAWVS3WMUTKISCBKVQY6ATXMK34LY6Y5I6D3AL225CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSGHE7E2ZD3R3A55UERLDDMEOWHO4ZHWPIHQXCYHVPX4MT7ASCUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF4THMZVABI7X676HEBYBSEUXG4R4SQDQMK575TG4IQYYQNJNMSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGPMFQYKJO2LQDRFTGQUCA2TWKQGK6IS5FHJSDOLPQY3LKWTO5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBWPLRM555JNKBOSGZZH6CKFBWQTOYOIFNRLAREHDQ35MB3Z5D7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHXCHX25EHAZLUH4PXNMRQVILJDCIWVHQTLPRRYPX2LVR5FSIFLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NW3RLWPJRAXZIAIMN3KTKWIX7ASAZVVDQQUHFXLSTGL2RFCIJGHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYCCW6LR4YFV2K4EXIYLS5HK4IYDSWN6XYWBJ4GBSA4U2OHRTC4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2AWOHML72HIV6QZ52KNSHEPSNKIT6ER4NXZJLUZHYCTFIRD4DOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWHHKVOCC4UOWKNMVLT2TSOQFERN7KEFP36I2QMC6DEYYBZT7MQA/main.js"
            ]
        },
        "GetUserAgreementStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/user-agreement",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEK2EIOPLCFCVNHP67FAWDF3X2TH5LXVV7OVQKF6TOWR4VRKOG3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMHNIT4B2ZAUTYRYFHLWY4G7NNGJSVKKDL5NBV32MKGMKSF7XP5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FGBJIJCXL5GKMPUI3WHF2Y77NHEKFQWEIH4DNX7OZEQGBBMC62Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHQC373BEVQPA4XGJXXSG2QLLLHC5GKFINJ3JE2V2DL3OOBMN2RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTUZGVRVR54R7TOAIAJ4ECZ75N3HMOOA242ZCYRYOFWR3G5MCPKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5T2ROS5XILQMPKH2VK263OGO35IMEGIJPAYEZIEEBVI6LLZX5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3SICI73EMO5G5XNJAVSEJGH2S7TKLH5SXPXOHSHMCZDY5D4HMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAS55YTIQ6Z74JGE5NU3JYXHBBRXNB5S6SQ4IZ3VNPMDW6N2VG3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBM5JJ4W2BBD4KND2V6ZWH3AK5FTUE4GRUOS3YJAPMPYVEQSVKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5LQYVRI2QXAL6JJXQSQEUMVSHQQDSPA2UCMFJ7YAUJQLWFEBWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KJX2VWUPMESGF3J76LFRCZ2F5WTB3CVDHRPZZZRH5KPLFTTDO6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4B6X4P6Z56MCKFNHXW7NCBL47U2CJBR4QHGXBCV2XBJYCJDICQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNL4Z25AYZ5QZT7WACFWGWUKJTN7LBRW6RT3KCPQMXHG2LXT6JMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICON7WRKLMOG2DIN7C4YXV3BN52JBCZQYWRCDFZDB6TFRUDMNQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJMIQ4BY3CAWVS3WMUTKISCBKVQY6ATXMK34LY6Y5I6D3AL225CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSGHE7E2ZD3R3A55UERLDDMEOWHO4ZHWPIHQXCYHVPX4MT7ASCUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF4THMZVABI7X676HEBYBSEUXG4R4SQDQMK575TG4IQYYQNJNMSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGPMFQYKJO2LQDRFTGQUCA2TWKQGK6IS5FHJSDOLPQY3LKWTO5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBWPLRM555JNKBOSGZZH6CKFBWQTOYOIFNRLAREHDQ35MB3Z5D7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHXCHX25EHAZLUH4PXNMRQVILJDCIWVHQTLPRRYPX2LVR5FSIFLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NW3RLWPJRAXZIAIMN3KTKWIX7ASAZVVDQQUHFXLSTGL2RFCIJGHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYCCW6LR4YFV2K4EXIYLS5HK4IYDSWN6XYWBJ4GBSA4U2OHRTC4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2AWOHML72HIV6QZ52KNSHEPSNKIT6ER4NXZJLUZHYCTFIRD4DOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWHHKVOCC4UOWKNMVLT2TSOQFERN7KEFP36I2QMC6DEYYBZT7MQA/main.js"
            ]
        },
        "SearchCompilations": {
            "http": {
                "requestUri": "/compilations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "filters"
                ],
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "values",
                                "operator"
                            ],
                            "members": {
                                "name": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                },
                                "operator": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "compilations"
                ],
                "members": {
                    "compilations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "compilationArn",
                                "status",
                                "deviceArn",
                                "createdAt"
                            ],
                            "members": {
                                "compilationArn": {},
                                "status": {},
                                "deviceArn": {},
                                "createdAt": {
                                    "shape": "S1s"
                                },
                                "compiledAt": {
                                    "shape": "S1s"
                                },
                                "tags": {
                                    "shape": "Sj"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFFBFZ2UUPNZC67JQLW65TR5AJA7IIADMYWPCQQTDAQQB3B5F4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMB2K2NKXVM5RF4X67DE7TPO2R5SCYEXHGLEXOUKZAFHHM2T6JYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UASJMIEGNQ6PWX5UCKMTR6WQZS62RIS72YVQ66BO7DWIXAN6W2WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSH5O4R4QJX3DG2PXMDHXQZV5FXBRDCXLDYNMUXDSBX3QZODWMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMWMXP7FUR3O7FKLUTC35HODC7ZMIEEVCQ6LSDPBHLIFRI4UR4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN734C2Y2TEDXW65WJQ2ELALOZTX664RA3OLFJYPJ2E5GXTMMWLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQO222E3YUEBKZLEL5SMU45MQFHGBM7PRV4LTOFUQFT6JO6OHXVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6YJ7N2L4Y73533BR7K5QO3LEBQXHERW4VWGG7GQD7TZ5RD33VLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZSUKI2N3VIM54AMVSJ6C52IUT46NY5WF6VM4KJNVU7VHK6PZN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQNXP6W3W4IWMEFQVFXCJYLQWNYAKYSEDS6UTGGBGQUWSRGYIVUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E63CIH55GCG42ECHACFI6BDUVRCKHHLO2ZPI4P5WKO5GTSORLY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KDWSMCOYFPNPSOLBRZOHVT36EODDDAXVRCWJQ4YS4FEYWGYI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICGI5QVQT32AAD3PZADZ3Q77MFBN4VWVDQKOJTBMJJIDOPSBVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USUX4O5BZVUJI24MUQHHWX2I5FBHYY2DTOO66ZS43P64X4NRBC3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GDBVVKMSDI75XLSBQ7Y7CEYMY5K2ROVKMEDWGWJW2DR6ASVPNFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZ5MQMBPMCOBZE7XDETKYZQT3OPIB5YMMLIVJVXTD5NGYLPONCTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYW6SJTDLKJVVU7432JZ2PTONWRJHGGBKTPFWN6XL6HBXYQIB2UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPLQSHYE4DX2TVBBEGFGX34WQ32J6JP2YACR3XGQNFDYT74XHOLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRPETGWMKY6KFHRPDGLNPQO5JLXIDQSOFVECISABOY2KHNMKR6JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVBPZNHA56GYF7JU3KWPCXGHF2Y7TTX7LFC2NG3RPCLN5YPPEMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX7HGHX6XFASMOPKDVUHGIT3OQVOZKIYRLBYRBOI3ZKTWMGKCPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHTV6NVXFQ23QGNXTQ7WWN2FEQDYH7GHS734OOVMCDDI5GU64DHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34VFGAIWIYNNJSU24WT7WWARXHWO63ZWQUFKKNUXKQI5ZDC2FCKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHCCSXVFJNK3GUK7E43XBGLVYF6C47XRVPIBYF77UAR5V5KA7FQQ/main.js"
            ]
        }
    },
    "shapes": {
        "Sa": {
            "type": "structure",
            "members": {
                "containerImage": {
                    "type": "structure",
                    "required": [
                        "uri"
                    ],
                    "members": {
                        "uri": {}
                    }
                },
                "scriptModeConfig": {
                    "type": "structure",
                    "required": [
                        "entryPoint",
                        "s3Uri"
                    ],
                    "members": {
                        "compressionType": {},
                        "entryPoint": {},
                        "s3Uri": {}
                    }
                }
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "s3Uri"
            ],
            "members": {
                "localPath": {},
                "s3Uri": {}
            }
        },
        "Sj": {
            "type": "structure",
            "required": [
[...]
