{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-09-01",
        "endpointPrefix": "braket",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Braket",
        "serviceId": "Braket",
        "signatureVersion": "v4",
        "signingName": "braket",
        "uid": "braket-2019-09-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFZHSTMQGR6OJGFVG7JPP6U2EHESZV3GE6UDBVLYZF6QYSVLT6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q3A4O2XVT4S4YJ2SHY7XHHYU6XVURKAZ2TISCCN5RKNSSYGA4M7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4FJ62H3YH5AQTBZJQYVN5QF527ZGBP5UBQB3TRZOCRWRHQX2GJFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y247DBW32XTTWC5SWVXIJD664VAC7YWJ7ZSHAX3QAR5CIM7B6QKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js"
        ]
    },
    "operations": {
        "CancelJob": {
            "http": {
                "method": "PUT",
                "requestUri": "/job/{jobArn}/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobArn"
                ],
                "members": {
                    "jobArn": {
                        "location": "uri",
                        "locationName": "jobArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cancellationStatus",
                    "jobArn"
                ],
                "members": {
                    "cancellationStatus": {},
                    "jobArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUBCEAQPIDQY4LWEKYCGCZQS2UGSU5WR7DSVKPMG3EMS3BV74NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZL3DEEBRFRLZLZFLV5FYTMMC5XICYXSOV5UU3TLZCSQHFSWERJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZPLF5ZDQCZG2W7OGNDZSY3T4RDU4TB5Z2N46I6SUJJ245O4VCKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPECK4MTSA7NH5VX3L4TQJKGAMOEDPHUO535CCFUALPNUJMRL7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFTTS6Z4JHP54AXNA2C4KPS2MSJZ335B6MKAKBOIJ7MZD2OUCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFZHSTMQGR6OJGFVG7JPP6U2EHESZV3GE6UDBVLYZF6QYSVLT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3A4O2XVT4S4YJ2SHY7XHHYU6XVURKAZ2TISCCN5RKNSSYGA4M7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FJ62H3YH5AQTBZJQYVN5QF527ZGBP5UBQB3TRZOCRWRHQX2GJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y247DBW32XTTWC5SWVXIJD664VAC7YWJ7ZSHAX3QAR5CIM7B6QKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js"
            ]
        },
        "CancelQuantumTask": {
            "http": {
                "method": "PUT",
                "requestUri": "/quantum-task/{quantumTaskArn}/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "quantumTaskArn"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "quantumTaskArn": {
                        "location": "uri",
                        "locationName": "quantumTaskArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cancellationStatus",
                    "quantumTaskArn"
                ],
                "members": {
                    "cancellationStatus": {},
                    "quantumTaskArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3A4O2XVT4S4YJ2SHY7XHHYU6XVURKAZ2TISCCN5RKNSSYGA4M7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FJ62H3YH5AQTBZJQYVN5QF527ZGBP5UBQB3TRZOCRWRHQX2GJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y247DBW32XTTWC5SWVXIJD664VAC7YWJ7ZSHAX3QAR5CIM7B6QKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js"
            ]
        },
        "CreateJob": {
            "http": {
                "requestUri": "/job",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "algorithmSpecification",
                    "clientToken",
                    "deviceConfig",
                    "instanceConfig",
                    "jobName",
                    "outputDataConfig",
                    "roleArn"
                ],
                "members": {
                    "algorithmSpecification": {
                        "shape": "Sa"
                    },
                    "checkpointConfig": {
                        "shape": "Sh"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "deviceConfig": {
                        "shape": "Sj"
                    },
                    "hyperParameters": {
                        "shape": "Sl"
                    },
                    "inputDataConfig": {
                        "type": "list",
                        "member": {
                            "shape": "So"
                        }
                    },
                    "instanceConfig": {
                        "shape": "Ss"
                    },
                    "jobName": {},
                    "outputDataConfig": {
                        "shape": "Sx"
                    },
                    "roleArn": {},
                    "stoppingCondition": {
                        "shape": "S10"
                    },
                    "tags": {
                        "shape": "S12"
                    },
                    "associationConfig": {
                        "shape": "S1a"
                    },
                    "associations": {
                        "type": "list",
                        "member": {
                            "shape": "S1b"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobArn"
                ],
                "members": {
                    "jobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUBCEAQPIDQY4LWEKYCGCZQS2UGSU5WR7DSVKPMG3EMS3BV74NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZL3DEEBRFRLZLZFLV5FYTMMC5XICYXSOV5UU3TLZCSQHFSWERJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZPLF5ZDQCZG2W7OGNDZSY3T4RDU4TB5Z2N46I6SUJJ245O4VCKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPECK4MTSA7NH5VX3L4TQJKGAMOEDPHUO535CCFUALPNUJMRL7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFTTS6Z4JHP54AXNA2C4KPS2MSJZ335B6MKAKBOIJ7MZD2OUCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFZHSTMQGR6OJGFVG7JPP6U2EHESZV3GE6UDBVLYZF6QYSVLT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3A4O2XVT4S4YJ2SHY7XHHYU6XVURKAZ2TISCCN5RKNSSYGA4M7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FJ62H3YH5AQTBZJQYVN5QF527ZGBP5UBQB3TRZOCRWRHQX2GJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y247DBW32XTTWC5SWVXIJD664VAC7YWJ7ZSHAX3QAR5CIM7B6QKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js"
            ]
        },
        "CreateQuantumTask": {
            "http": {
                "requestUri": "/quantum-task",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "action",
                    "clientToken",
                    "deviceArn",
                    "outputS3Bucket",
                    "outputS3KeyPrefix",
                    "shots"
                ],
                "members": {
                    "action": {
                        "jsonvalue": true
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "deviceArn": {},
                    "deviceParameters": {
                        "jsonvalue": true
                    },
                    "jobToken": {},
                    "outputS3Bucket": {},
                    "outputS3KeyPrefix": {},
                    "shots": {
                        "type": "long"
                    },
                    "tags": {
                        "shape": "S12"
                    },
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "associationConfig": {
                        "shape": "S1a"
                    },
                    "associations": {
                        "type": "list",
                        "member": {
                            "shape": "S1b"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "quantumTaskArn"
                ],
                "members": {
                    "quantumTaskArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3A4O2XVT4S4YJ2SHY7XHHYU6XVURKAZ2TISCCN5RKNSSYGA4M7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FJ62H3YH5AQTBZJQYVN5QF527ZGBP5UBQB3TRZOCRWRHQX2GJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y247DBW32XTTWC5SWVXIJD664VAC7YWJ7ZSHAX3QAR5CIM7B6QKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js"
            ]
        },
        "GetDevice": {
            "http": {
                "method": "GET",
                "requestUri": "/device/{deviceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceArn"
                ],
                "members": {
                    "deviceArn": {
                        "location": "uri",
                        "locationName": "deviceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "deviceArn",
                    "deviceCapabilities",
                    "deviceName",
                    "deviceStatus",
                    "deviceType",
                    "providerName"
                ],
                "members": {
                    "deviceArn": {},
                    "deviceCapabilities": {
                        "jsonvalue": true
                    },
                    "deviceName": {},
                    "deviceStatus": {},
                    "deviceType": {},
                    "providerName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3A4O2XVT4S4YJ2SHY7XHHYU6XVURKAZ2TISCCN5RKNSSYGA4M7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FJ62H3YH5AQTBZJQYVN5QF527ZGBP5UBQB3TRZOCRWRHQX2GJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y247DBW32XTTWC5SWVXIJD664VAC7YWJ7ZSHAX3QAR5CIM7B6QKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js"
            ]
        },
        "GetJob": {
            "http": {
                "method": "GET",
                "requestUri": "/job/{jobArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobArn"
                ],
                "members": {
                    "jobArn": {
                        "location": "uri",
                        "locationName": "jobArn"
                    },
                    "additionalAttributeNames": {
                        "location": "querystring",
                        "locationName": "additionalAttributeNames",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "algorithmSpecification",
                    "createdAt",
                    "instanceConfig",
                    "jobArn",
                    "jobName",
                    "outputDataConfig",
                    "roleArn",
                    "status"
                ],
                "members": {
                    "algorithmSpecification": {
                        "shape": "Sa"
                    },
                    "billableDuration": {
                        "type": "integer"
                    },
                    "checkpointConfig": {
                        "shape": "Sh"
                    },
                    "createdAt": {
                        "shape": "S1k"
                    },
                    "deviceConfig": {
                        "shape": "Sj"
                    },
                    "endedAt": {
                        "shape": "S1k"
                    },
                    "events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "eventType": {},
                                "message": {},
                                "timeOfEvent": {
                                    "shape": "S1k"
                                }
                            }
                        }
                    },
                    "failureReason": {},
                    "hyperParameters": {
                        "shape": "Sl"
                    },
                    "inputDataConfig": {
                        "type": "list",
                        "member": {
                            "shape": "So"
                        }
                    },
                    "instanceConfig": {
                        "shape": "Ss"
                    },
                    "jobArn": {},
                    "jobName": {},
                    "outputDataConfig": {
                        "shape": "Sx"
                    },
                    "roleArn": {},
                    "startedAt": {
                        "shape": "S1k"
                    },
                    "status": {},
                    "stoppingCondition": {
                        "shape": "S10"
                    },
                    "tags": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUBCEAQPIDQY4LWEKYCGCZQS2UGSU5WR7DSVKPMG3EMS3BV74NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZL3DEEBRFRLZLZFLV5FYTMMC5XICYXSOV5UU3TLZCSQHFSWERJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZPLF5ZDQCZG2W7OGNDZSY3T4RDU4TB5Z2N46I6SUJJ245O4VCKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPECK4MTSA7NH5VX3L4TQJKGAMOEDPHUO535CCFUALPNUJMRL7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFTTS6Z4JHP54AXNA2C4KPS2MSJZ335B6MKAKBOIJ7MZD2OUCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFZHSTMQGR6OJGFVG7JPP6U2EHESZV3GE6UDBVLYZF6QYSVLT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3A4O2XVT4S4YJ2SHY7XHHYU6XVURKAZ2TISCCN5RKNSSYGA4M7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FJ62H3YH5AQTBZJQYVN5QF527ZGBP5UBQB3TRZOCRWRHQX2GJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y247DBW32XTTWC5SWVXIJD664VAC7YWJ7ZSHAX3QAR5CIM7B6QKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js"
            ]
        },
        "GetQuantumTask": {
            "http": {
                "method": "GET",
                "requestUri": "/quantum-task/{quantumTaskArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "quantumTaskArn"
                ],
                "members": {
                    "quantumTaskArn": {
                        "location": "uri",
                        "locationName": "quantumTaskArn"
                    },
                    "additionalAttributeNames": {
                        "location": "querystring",
                        "locationName": "additionalAttributeNames",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createdAt",
                    "deviceArn",
                    "deviceParameters",
                    "outputS3Bucket",
                    "outputS3Directory",
                    "quantumTaskArn",
                    "shots",
                    "status"
                ],
                "members": {
                    "createdAt": {
                        "shape": "S1k"
                    },
                    "deviceArn": {},
                    "deviceParameters": {
                        "jsonvalue": true
                    },
                    "endedAt": {
                        "shape": "S1k"
                    },
                    "failureReason": {},
                    "jobArn": {},
                    "outputS3Bucket": {},
                    "outputS3Directory": {},
                    "quantumTaskArn": {},
                    "shots": {
                        "type": "long"
                    },
                    "status": {},
                    "tags": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3A4O2XVT4S4YJ2SHY7XHHYU6XVURKAZ2TISCCN5RKNSSYGA4M7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FJ62H3YH5AQTBZJQYVN5QF527ZGBP5UBQB3TRZOCRWRHQX2GJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y247DBW32XTTWC5SWVXIJD664VAC7YWJ7ZSHAX3QAR5CIM7B6QKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3A4O2XVT4S4YJ2SHY7XHHYU6XVURKAZ2TISCCN5RKNSSYGA4M7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FJ62H3YH5AQTBZJQYVN5QF527ZGBP5UBQB3TRZOCRWRHQX2GJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y247DBW32XTTWC5SWVXIJD664VAC7YWJ7ZSHAX3QAR5CIM7B6QKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js"
            ]
        },
        "SearchDevices": {
            "http": {
                "requestUri": "/devices",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "filters"
                ],
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "values"
                            ],
                            "members": {
                                "name": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "devices"
                ],
                "members": {
                    "devices": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "deviceArn",
                                "deviceName",
                                "deviceStatus",
                                "deviceType",
                                "providerName"
                            ],
                            "members": {
                                "deviceArn": {},
                                "deviceName": {},
                                "deviceStatus": {},
                                "deviceType": {},
                                "providerName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3A4O2XVT4S4YJ2SHY7XHHYU6XVURKAZ2TISCCN5RKNSSYGA4M7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FJ62H3YH5AQTBZJQYVN5QF527ZGBP5UBQB3TRZOCRWRHQX2GJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y247DBW32XTTWC5SWVXIJD664VAC7YWJ7ZSHAX3QAR5CIM7B6QKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js"
            ]
        },
        "SearchJobs": {
            "http": {
                "requestUri": "/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "filters"
                ],
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "operator",
                                "values"
                            ],
                            "members": {
                                "name": {},
                                "operator": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobs"
                ],
                "members": {
                    "jobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createdAt",
                                "device",
                                "jobArn",
                                "jobName",
                                "status"
                            ],
                            "members": {
                                "createdAt": {
                                    "shape": "S1k"
                                },
                                "device": {},
                                "endedAt": {
                                    "shape": "S1k"
                                },
                                "jobArn": {},
                                "jobName": {},
                                "startedAt": {
                                    "shape": "S1k"
                                },
                                "status": {},
                                "tags": {
                                    "shape": "S12"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUBCEAQPIDQY4LWEKYCGCZQS2UGSU5WR7DSVKPMG3EMS3BV74NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZL3DEEBRFRLZLZFLV5FYTMMC5XICYXSOV5UU3TLZCSQHFSWERJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZPLF5ZDQCZG2W7OGNDZSY3T4RDU4TB5Z2N46I6SUJJ245O4VCKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPECK4MTSA7NH5VX3L4TQJKGAMOEDPHUO535CCFUALPNUJMRL7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFTTS6Z4JHP54AXNA2C4KPS2MSJZ335B6MKAKBOIJ7MZD2OUCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFZHSTMQGR6OJGFVG7JPP6U2EHESZV3GE6UDBVLYZF6QYSVLT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3A4O2XVT4S4YJ2SHY7XHHYU6XVURKAZ2TISCCN5RKNSSYGA4M7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FJ62H3YH5AQTBZJQYVN5QF527ZGBP5UBQB3TRZOCRWRHQX2GJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y247DBW32XTTWC5SWVXIJD664VAC7YWJ7ZSHAX3QAR5CIM7B6QKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js"
            ]
        },
        "SearchQuantumTasks": {
            "http": {
                "requestUri": "/quantum-tasks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "filters"
                ],
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "operator",
                                "values"
                            ],
                            "members": {
                                "name": {},
                                "operator": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "quantumTasks"
                ],
                "members": {
                    "nextToken": {},
                    "quantumTasks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createdAt",
                                "deviceArn",
                                "outputS3Bucket",
                                "outputS3Directory",
                                "quantumTaskArn",
                                "shots",
                                "status"
                            ],
                            "members": {
                                "createdAt": {
                                    "shape": "S1k"
                                },
                                "deviceArn": {},
                                "endedAt": {
                                    "shape": "S1k"
                                },
                                "outputS3Bucket": {},
                                "outputS3Directory": {},
                                "quantumTaskArn": {},
                                "shots": {
                                    "type": "long"
                                },
                                "status": {},
                                "tags": {
                                    "shape": "S12"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3A4O2XVT4S4YJ2SHY7XHHYU6XVURKAZ2TISCCN5RKNSSYGA4M7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FJ62H3YH5AQTBZJQYVN5QF527ZGBP5UBQB3TRZOCRWRHQX2GJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y247DBW32XTTWC5SWVXIJD664VAC7YWJ7ZSHAX3QAR5CIM7B6QKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3A4O2XVT4S4YJ2SHY7XHHYU6XVURKAZ2TISCCN5RKNSSYGA4M7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FJ62H3YH5AQTBZJQYVN5QF527ZGBP5UBQB3TRZOCRWRHQX2GJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y247DBW32XTTWC5SWVXIJD664VAC7YWJ7ZSHAX3QAR5CIM7B6QKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3A4O2XVT4S4YJ2SHY7XHHYU6XVURKAZ2TISCCN5RKNSSYGA4M7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FJ62H3YH5AQTBZJQYVN5QF527ZGBP5UBQB3TRZOCRWRHQX2GJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y247DBW32XTTWC5SWVXIJD664VAC7YWJ7ZSHAX3QAR5CIM7B6QKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js"
            ]
        },
        "AcceptUserAgreement": {
            "http": {
                "method": "PUT",
                "requestUri": "/user-agreement",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHROX5XT7ITMC5LPLDHPGEE4GWND4H6KTSOKY7HYEUL6DAONTYBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQYL2VOOVIFERSPBXEGPGWI2MCLXHGQMCTVRBUEC4QWK32EFLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETRFJBZC5A2GGKY2GF6MRDRJAMQOKGO2LJYVZT2R3VSSHFRWQSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVLHMAE2ZHWXXXSCXAKJNNPNLXT7VCWV6LE676WEZE2GDAUA7C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TJMHYBR6BTRCDIWTVLEXZL63M4WIVHKGO7AEZHUXD7QAIBUBJYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SC25DAWHMZJ7IZMRVX4C4PHWOFPBCUSCQIH3FOQZAFZD6JWCBRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUBCEAQPIDQY4LWEKYCGCZQS2UGSU5WR7DSVKPMG3EMS3BV74NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZL3DEEBRFRLZLZFLV5FYTMMC5XICYXSOV5UU3TLZCSQHFSWERJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZPLF5ZDQCZG2W7OGNDZSY3T4RDU4TB5Z2N46I6SUJJ245O4VCKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPECK4MTSA7NH5VX3L4TQJKGAMOEDPHUO535CCFUALPNUJMRL7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFTTS6Z4JHP54AXNA2C4KPS2MSJZ335B6MKAKBOIJ7MZD2OUCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFZHSTMQGR6OJGFVG7JPP6U2EHESZV3GE6UDBVLYZF6QYSVLT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3A4O2XVT4S4YJ2SHY7XHHYU6XVURKAZ2TISCCN5RKNSSYGA4M7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FJ62H3YH5AQTBZJQYVN5QF527ZGBP5UBQB3TRZOCRWRHQX2GJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y247DBW32XTTWC5SWVXIJD664VAC7YWJ7ZSHAX3QAR5CIM7B6QKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js"
            ]
        },
        "AccessBraketFeature": {
            "http": {
                "requestUri": "/feature",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "featureName",
                    "accountId"
                ],
                "members": {
                    "featureName": {},
                    "accountId": {},
                    "servicePrincipals": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "enabled"
                ],
                "members": {
                    "enabled": {
                        "type": "boolean"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHROX5XT7ITMC5LPLDHPGEE4GWND4H6KTSOKY7HYEUL6DAONTYBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQYL2VOOVIFERSPBXEGPGWI2MCLXHGQMCTVRBUEC4QWK32EFLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETRFJBZC5A2GGKY2GF6MRDRJAMQOKGO2LJYVZT2R3VSSHFRWQSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVLHMAE2ZHWXXXSCXAKJNNPNLXT7VCWV6LE676WEZE2GDAUA7C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TJMHYBR6BTRCDIWTVLEXZL63M4WIVHKGO7AEZHUXD7QAIBUBJYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SC25DAWHMZJ7IZMRVX4C4PHWOFPBCUSCQIH3FOQZAFZD6JWCBRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUBCEAQPIDQY4LWEKYCGCZQS2UGSU5WR7DSVKPMG3EMS3BV74NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZL3DEEBRFRLZLZFLV5FYTMMC5XICYXSOV5UU3TLZCSQHFSWERJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZPLF5ZDQCZG2W7OGNDZSY3T4RDU4TB5Z2N46I6SUJJ245O4VCKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPECK4MTSA7NH5VX3L4TQJKGAMOEDPHUO535CCFUALPNUJMRL7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFTTS6Z4JHP54AXNA2C4KPS2MSJZ335B6MKAKBOIJ7MZD2OUCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFZHSTMQGR6OJGFVG7JPP6U2EHESZV3GE6UDBVLYZF6QYSVLT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3A4O2XVT4S4YJ2SHY7XHHYU6XVURKAZ2TISCCN5RKNSSYGA4M7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FJ62H3YH5AQTBZJQYVN5QF527ZGBP5UBQB3TRZOCRWRHQX2GJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y247DBW32XTTWC5SWVXIJD664VAC7YWJ7ZSHAX3QAR5CIM7B6QKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js"
            ]
        },
        "CreateCompilation": {
            "http": {
                "requestUri": "/compilation",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceArn",
                    "action"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "deviceArn": {},
                    "action": {
                        "jsonvalue": true
                    },
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "compilationArn"
                ],
                "members": {
                    "compilationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFFBFZ2UUPNZC67JQLW65TR5AJA7IIADMYWPCQQTDAQQB3B5F4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMB2K2NKXVM5RF4X67DE7TPO2R5SCYEXHGLEXOUKZAFHHM2T6JYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UASJMIEGNQ6PWX5UCKMTR6WQZS62RIS72YVQ66BO7DWIXAN6W2WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSH5O4R4QJX3DG2PXMDHXQZV5FXBRDCXLDYNMUXDSBX3QZODWMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMWMXP7FUR3O7FKLUTC35HODC7ZMIEEVCQ6LSDPBHLIFRI4UR4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN734C2Y2TEDXW65WJQ2ELALOZTX664RA3OLFJYPJ2E5GXTMMWLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQO222E3YUEBKZLEL5SMU45MQFHGBM7PRV4LTOFUQFT6JO6OHXVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6YJ7N2L4Y73533BR7K5QO3LEBQXHERW4VWGG7GQD7TZ5RD33VLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZSUKI2N3VIM54AMVSJ6C52IUT46NY5WF6VM4KJNVU7VHK6PZN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQNXP6W3W4IWMEFQVFXCJYLQWNYAKYSEDS6UTGGBGQUWSRGYIVUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E63CIH55GCG42ECHACFI6BDUVRCKHHLO2ZPI4P5WKO5GTSORLY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KDWSMCOYFPNPSOLBRZOHVT36EODDDAXVRCWJQ4YS4FEYWGYI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICGI5QVQT32AAD3PZADZ3Q77MFBN4VWVDQKOJTBMJJIDOPSBVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USUX4O5BZVUJI24MUQHHWX2I5FBHYY2DTOO66ZS43P64X4NRBC3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GDBVVKMSDI75XLSBQ7Y7CEYMY5K2ROVKMEDWGWJW2DR6ASVPNFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZ5MQMBPMCOBZE7XDETKYZQT3OPIB5YMMLIVJVXTD5NGYLPONCTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYW6SJTDLKJVVU7432JZ2PTONWRJHGGBKTPFWN6XL6HBXYQIB2UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPLQSHYE4DX2TVBBEGFGX34WQ32J6JP2YACR3XGQNFDYT74XHOLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRPETGWMKY6KFHRPDGLNPQO5JLXIDQSOFVECISABOY2KHNMKR6JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVBPZNHA56GYF7JU3KWPCXGHF2Y7TTX7LFC2NG3RPCLN5YPPEMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX7HGHX6XFASMOPKDVUHGIT3OQVOZKIYRLBYRBOI3ZKTWMGKCPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHTV6NVXFQ23QGNXTQ7WWN2FEQDYH7GHS734OOVMCDDI5GU64DHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34VFGAIWIYNNJSU24WT7WWARXHWO63ZWQUFKKNUXKQI5ZDC2FCKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHCCSXVFJNK3GUK7E43XBGLVYF6C47XRVPIBYF77UAR5V5KA7FQQ/main.js"
            ]
        },
        "DeleteAccountResources": {
            "http": {
                "method": "DELETE",
                "requestUri": "/account-resources",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "required": [
                    "deleteRequestId",
                    "deletionStatus"
                ],
                "members": {
                    "deleteRequestId": {},
                    "deletionStatus": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHROX5XT7ITMC5LPLDHPGEE4GWND4H6KTSOKY7HYEUL6DAONTYBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQYL2VOOVIFERSPBXEGPGWI2MCLXHGQMCTVRBUEC4QWK32EFLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETRFJBZC5A2GGKY2GF6MRDRJAMQOKGO2LJYVZT2R3VSSHFRWQSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVLHMAE2ZHWXXXSCXAKJNNPNLXT7VCWV6LE676WEZE2GDAUA7C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TJMHYBR6BTRCDIWTVLEXZL63M4WIVHKGO7AEZHUXD7QAIBUBJYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SC25DAWHMZJ7IZMRVX4C4PHWOFPBCUSCQIH3FOQZAFZD6JWCBRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUBCEAQPIDQY4LWEKYCGCZQS2UGSU5WR7DSVKPMG3EMS3BV74NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZL3DEEBRFRLZLZFLV5FYTMMC5XICYXSOV5UU3TLZCSQHFSWERJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZPLF5ZDQCZG2W7OGNDZSY3T4RDU4TB5Z2N46I6SUJJ245O4VCKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPECK4MTSA7NH5VX3L4TQJKGAMOEDPHUO535CCFUALPNUJMRL7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFTTS6Z4JHP54AXNA2C4KPS2MSJZ335B6MKAKBOIJ7MZD2OUCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFZHSTMQGR6OJGFVG7JPP6U2EHESZV3GE6UDBVLYZF6QYSVLT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3A4O2XVT4S4YJ2SHY7XHHYU6XVURKAZ2TISCCN5RKNSSYGA4M7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FJ62H3YH5AQTBZJQYVN5QF527ZGBP5UBQB3TRZOCRWRHQX2GJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y247DBW32XTTWC5SWVXIJD664VAC7YWJ7ZSHAX3QAR5CIM7B6QKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js"
            ]
        },
        "GetCompilation": {
            "http": {
                "method": "GET",
                "requestUri": "/compilation/{compilationArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "compilationArn"
                ],
                "members": {
                    "compilationArn": {
                        "location": "uri",
                        "locationName": "compilationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "compilationArn",
                    "status",
                    "deviceArn",
                    "createdAt"
                ],
                "members": {
                    "compilationArn": {},
                    "status": {},
                    "deviceArn": {},
                    "createdAt": {
                        "shape": "S1s"
                    },
                    "compiledAt": {
                        "shape": "S1s"
                    },
                    "failureReason": {},
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFFBFZ2UUPNZC67JQLW65TR5AJA7IIADMYWPCQQTDAQQB3B5F4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMB2K2NKXVM5RF4X67DE7TPO2R5SCYEXHGLEXOUKZAFHHM2T6JYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UASJMIEGNQ6PWX5UCKMTR6WQZS62RIS72YVQ66BO7DWIXAN6W2WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSH5O4R4QJX3DG2PXMDHXQZV5FXBRDCXLDYNMUXDSBX3QZODWMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMWMXP7FUR3O7FKLUTC35HODC7ZMIEEVCQ6LSDPBHLIFRI4UR4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN734C2Y2TEDXW65WJQ2ELALOZTX664RA3OLFJYPJ2E5GXTMMWLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQO222E3YUEBKZLEL5SMU45MQFHGBM7PRV4LTOFUQFT6JO6OHXVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6YJ7N2L4Y73533BR7K5QO3LEBQXHERW4VWGG7GQD7TZ5RD33VLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZSUKI2N3VIM54AMVSJ6C52IUT46NY5WF6VM4KJNVU7VHK6PZN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQNXP6W3W4IWMEFQVFXCJYLQWNYAKYSEDS6UTGGBGQUWSRGYIVUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E63CIH55GCG42ECHACFI6BDUVRCKHHLO2ZPI4P5WKO5GTSORLY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KDWSMCOYFPNPSOLBRZOHVT36EODDDAXVRCWJQ4YS4FEYWGYI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICGI5QVQT32AAD3PZADZ3Q77MFBN4VWVDQKOJTBMJJIDOPSBVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USUX4O5BZVUJI24MUQHHWX2I5FBHYY2DTOO66ZS43P64X4NRBC3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GDBVVKMSDI75XLSBQ7Y7CEYMY5K2ROVKMEDWGWJW2DR6ASVPNFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZ5MQMBPMCOBZE7XDETKYZQT3OPIB5YMMLIVJVXTD5NGYLPONCTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYW6SJTDLKJVVU7432JZ2PTONWRJHGGBKTPFWN6XL6HBXYQIB2UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPLQSHYE4DX2TVBBEGFGX34WQ32J6JP2YACR3XGQNFDYT74XHOLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRPETGWMKY6KFHRPDGLNPQO5JLXIDQSOFVECISABOY2KHNMKR6JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVBPZNHA56GYF7JU3KWPCXGHF2Y7TTX7LFC2NG3RPCLN5YPPEMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX7HGHX6XFASMOPKDVUHGIT3OQVOZKIYRLBYRBOI3ZKTWMGKCPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHTV6NVXFQ23QGNXTQ7WWN2FEQDYH7GHS734OOVMCDDI5GU64DHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34VFGAIWIYNNJSU24WT7WWARXHWO63ZWQUFKKNUXKQI5ZDC2FCKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHCCSXVFJNK3GUK7E43XBGLVYF6C47XRVPIBYF77UAR5V5KA7FQQ/main.js"
            ]
        },
        "GetServiceLinkedRoleStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/service-linked-role",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHROX5XT7ITMC5LPLDHPGEE4GWND4H6KTSOKY7HYEUL6DAONTYBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQYL2VOOVIFERSPBXEGPGWI2MCLXHGQMCTVRBUEC4QWK32EFLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETRFJBZC5A2GGKY2GF6MRDRJAMQOKGO2LJYVZT2R3VSSHFRWQSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVLHMAE2ZHWXXXSCXAKJNNPNLXT7VCWV6LE676WEZE2GDAUA7C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TJMHYBR6BTRCDIWTVLEXZL63M4WIVHKGO7AEZHUXD7QAIBUBJYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SC25DAWHMZJ7IZMRVX4C4PHWOFPBCUSCQIH3FOQZAFZD6JWCBRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUBCEAQPIDQY4LWEKYCGCZQS2UGSU5WR7DSVKPMG3EMS3BV74NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZL3DEEBRFRLZLZFLV5FYTMMC5XICYXSOV5UU3TLZCSQHFSWERJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZPLF5ZDQCZG2W7OGNDZSY3T4RDU4TB5Z2N46I6SUJJ245O4VCKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPECK4MTSA7NH5VX3L4TQJKGAMOEDPHUO535CCFUALPNUJMRL7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFTTS6Z4JHP54AXNA2C4KPS2MSJZ335B6MKAKBOIJ7MZD2OUCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFZHSTMQGR6OJGFVG7JPP6U2EHESZV3GE6UDBVLYZF6QYSVLT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3A4O2XVT4S4YJ2SHY7XHHYU6XVURKAZ2TISCCN5RKNSSYGA4M7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FJ62H3YH5AQTBZJQYVN5QF527ZGBP5UBQB3TRZOCRWRHQX2GJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y247DBW32XTTWC5SWVXIJD664VAC7YWJ7ZSHAX3QAR5CIM7B6QKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js"
            ]
        },
        "GetUserAgreementStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/user-agreement",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHROX5XT7ITMC5LPLDHPGEE4GWND4H6KTSOKY7HYEUL6DAONTYBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQYL2VOOVIFERSPBXEGPGWI2MCLXHGQMCTVRBUEC4QWK32EFLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETRFJBZC5A2GGKY2GF6MRDRJAMQOKGO2LJYVZT2R3VSSHFRWQSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVLHMAE2ZHWXXXSCXAKJNNPNLXT7VCWV6LE676WEZE2GDAUA7C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TJMHYBR6BTRCDIWTVLEXZL63M4WIVHKGO7AEZHUXD7QAIBUBJYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SC25DAWHMZJ7IZMRVX4C4PHWOFPBCUSCQIH3FOQZAFZD6JWCBRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUBCEAQPIDQY4LWEKYCGCZQS2UGSU5WR7DSVKPMG3EMS3BV74NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZL3DEEBRFRLZLZFLV5FYTMMC5XICYXSOV5UU3TLZCSQHFSWERJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZPLF5ZDQCZG2W7OGNDZSY3T4RDU4TB5Z2N46I6SUJJ245O4VCKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPECK4MTSA7NH5VX3L4TQJKGAMOEDPHUO535CCFUALPNUJMRL7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFTTS6Z4JHP54AXNA2C4KPS2MSJZ335B6MKAKBOIJ7MZD2OUCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFZHSTMQGR6OJGFVG7JPP6U2EHESZV3GE6UDBVLYZF6QYSVLT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3A4O2XVT4S4YJ2SHY7XHHYU6XVURKAZ2TISCCN5RKNSSYGA4M7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FJ62H3YH5AQTBZJQYVN5QF527ZGBP5UBQB3TRZOCRWRHQX2GJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y247DBW32XTTWC5SWVXIJD664VAC7YWJ7ZSHAX3QAR5CIM7B6QKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDRZQCHSLS22X6XDV6ZUOFI2GFBQ5U2JJYQHTBVU5ROJKNUBOM6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JPOCJY5YI4AOY5JGLWIXRPTHBXPGGPPM5IL3SCBC52F5ZZD54Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7QBVQ6IKOPU3UBSCOVYYIPDABHVSJKGXSGDQ2EDQYRRJ3DT4RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLZ2KEHTBJJQWDZEYZF3OFKTP6A4WSFEMM2PTXIMMO2OSQLZRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LBMVI3B6KGUJQR5LYYB26ZEB6FN54GGHHKMVQ4V6FQHEXEUOXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2OPYFXJ6PMUK7V3QQ77XI7KKBJFZY52SQORA365DSRVBV3BIPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIAU464CDQNQ4FNWLRTVZ6IWYC6QEGWTIVEB5O56WQ23AGOSJXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4XKKRZRVLRJEEAS6SK57UP2WLSETGXYSX33PEMRZJWRS2YYY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NLAMJGBQC5K57G2325YEXXIFWRCT67JRRKND3V5DRYSZRHJNLLA/main.js"
            ]
        },
        "SearchCompilations": {
            "http": {
                "requestUri": "/compilations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "filters"
                ],
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "values",
                                "operator"
                            ],
                            "members": {
                                "name": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                },
                                "operator": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "compilations"
                ],
                "members": {
                    "compilations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "compilationArn",
                                "status",
                                "deviceArn",
                                "createdAt"
                            ],
                            "members": {
                                "compilationArn": {},
                                "status": {},
                                "deviceArn": {},
                                "createdAt": {
                                    "shape": "S1s"
                                },
                                "compiledAt": {
                                    "shape": "S1s"
                                },
                                "tags": {
                                    "shape": "Sj"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFFBFZ2UUPNZC67JQLW65TR5AJA7IIADMYWPCQQTDAQQB3B5F4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMB2K2NKXVM5RF4X67DE7TPO2R5SCYEXHGLEXOUKZAFHHM2T6JYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UASJMIEGNQ6PWX5UCKMTR6WQZS62RIS72YVQ66BO7DWIXAN6W2WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSH5O4R4QJX3DG2PXMDHXQZV5FXBRDCXLDYNMUXDSBX3QZODWMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMWMXP7FUR3O7FKLUTC35HODC7ZMIEEVCQ6LSDPBHLIFRI4UR4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN734C2Y2TEDXW65WJQ2ELALOZTX664RA3OLFJYPJ2E5GXTMMWLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQO222E3YUEBKZLEL5SMU45MQFHGBM7PRV4LTOFUQFT6JO6OHXVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6YJ7N2L4Y73533BR7K5QO3LEBQXHERW4VWGG7GQD7TZ5RD33VLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZSUKI2N3VIM54AMVSJ6C52IUT46NY5WF6VM4KJNVU7VHK6PZN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQNXP6W3W4IWMEFQVFXCJYLQWNYAKYSEDS6UTGGBGQUWSRGYIVUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E63CIH55GCG42ECHACFI6BDUVRCKHHLO2ZPI4P5WKO5GTSORLY6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KDWSMCOYFPNPSOLBRZOHVT36EODDDAXVRCWJQ4YS4FEYWGYI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICGI5QVQT32AAD3PZADZ3Q77MFBN4VWVDQKOJTBMJJIDOPSBVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USUX4O5BZVUJI24MUQHHWX2I5FBHYY2DTOO66ZS43P64X4NRBC3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GDBVVKMSDI75XLSBQ7Y7CEYMY5K2ROVKMEDWGWJW2DR6ASVPNFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZ5MQMBPMCOBZE7XDETKYZQT3OPIB5YMMLIVJVXTD5NGYLPONCTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYW6SJTDLKJVVU7432JZ2PTONWRJHGGBKTPFWN6XL6HBXYQIB2UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPLQSHYE4DX2TVBBEGFGX34WQ32J6JP2YACR3XGQNFDYT74XHOLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRPETGWMKY6KFHRPDGLNPQO5JLXIDQSOFVECISABOY2KHNMKR6JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVBPZNHA56GYF7JU3KWPCXGHF2Y7TTX7LFC2NG3RPCLN5YPPEMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX7HGHX6XFASMOPKDVUHGIT3OQVOZKIYRLBYRBOI3ZKTWMGKCPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHTV6NVXFQ23QGNXTQ7WWN2FEQDYH7GHS734OOVMCDDI5GU64DHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34VFGAIWIYNNJSU24WT7WWARXHWO63ZWQUFKKNUXKQI5ZDC2FCKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHCCSXVFJNK3GUK7E43XBGLVYF6C47XRVPIBYF77UAR5V5KA7FQQ/main.js"
            ]
        }
    },
    "shapes": {
        "Sa": {
            "type": "structure",
            "members": {
                "containerImage": {
                    "type": "structure",
                    "required": [
                        "uri"
                    ],
                    "members": {
                        "uri": {}
                    }
                },
                "scriptModeConfig": {
                    "type": "structure",
                    "required": [
                        "entryPoint",
                        "s3Uri"
                    ],
                    "members": {
                        "compressionType": {},
                        "entryPoint": {},
                        "s3Uri": {}
                    }
                }
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "s3Uri"
            ],
            "members": {
                "localPath": {},
                "s3Uri": {}
            }
        },
        "Sj": {
            "type": "structure",
            "required": [
                "device"
            ],
            "members": {
                "device": {}
            }
        },
        "Sl": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "So": {
            "type": "structure",
            "required": [
                "channelName",
                "dataSource"
            ],
            "members": {
                "channelName": {},
                "contentType": {},
                "dataSource": {
                    "type": "structure",
                    "required": [
                        "s3DataSource"
                    ],
                    "members": {
[...]
