{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "brewmarketingfrontendservicelambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "BrewMarketingFrontendServiceLambda",
        "serviceId": "BrewMarketingFrontendServiceLambda",
        "signatureVersion": "v4",
        "signingName": "execute-api",
        "uid": "brewmarketingfrontendservicelambda-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6XVDGVR5VW72K4MHMEV47SUZC5QL4NC6UIJTNUBHCDF4W2OMU67A/RouteGettingStarted~RouteServiceLanding.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLPRVVYCI2RNEVAIAPYEKACMUMTQOSHCHOUSV6UZ23MQGCBYL2WA/RouteGettingStarted~RouteServiceLanding.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEOSZYMRYS7VPHTJIM6SLSPXNCWU5MCRXYHNRFF55WSJSZPAHZKA/RouteGettingStarted~RouteServiceLanding.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GLPZ37JYVQDHVXR22H23FVPHPHQYS5YGEBUSYY6J5MRKGEN6X7GQ/RouteGettingStarted~RouteServiceLanding.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4QLIMJYMCWQGRQIVAQKX3CSOQH74QLKOPZ2HOSICCCTJEREZZMJA/RouteGettingStarted~RouteServiceLanding.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OM75ZT7QDJFFCG7OHTSYMM45JXLNUPQCUUR34F5FQPTCFTJRXJTA/RouteGettingStarted~RouteServiceLanding.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RAWAPIU7LRFVUATKIARBBGHMGG2I5RK5O5FJPJTFIW2MQGQDDVGQ/RouteGettingStarted~RouteServiceLanding.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OL6OGNAI6EHZUVJRPPM3O4XSVGC56CB37LTBDOEWDOZH6VVKXLNA/RouteGettingStarted~RouteServiceLanding.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YHSHNJNKK4PAF3FT4T3R4HIMOHYWCTZNRZXWAU5535RFOV2BUEHA/RouteGettingStarted~RouteServiceLanding.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XBSTMGZWDYGOAX5NTQAMKQNEUFM4GUZLIBLRBYAXDW55TNLV2IJQ/RouteGettingStarted~RouteServiceLanding.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NAQ2JQHCEGLZBK4ZC46A6UKKSYOJ67ULTXQJFHLFBD3CKLBG4GZQ/RouteGettingStarted~RouteServiceLanding.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JSRKDNKAOH6JNZA4D32TCEVLTLWJEO6DVEYZRUTAZCUPZWMR65SQ/RouteGettingStarted~RouteServiceLanding.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/RouteGettingStarted~RouteServiceLanding.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PFHJHIJTWXY2L727MXVJS7WJXCTVFEWOURYPUW6NZ3R6JY575K2A/RouteGettingStarted~RouteServiceLanding.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2FFU2A4DV2STBCK5IGER6DH5V6RP4KTS3ZRRMP3SKWBBAAIVZHQ/RouteGettingStarted~RouteServiceLanding.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B53C7ZZFCZHOYMAIIQCP7GHZLGUIIOWGRA6HTXPUWOKM4LKYKBPA/RouteGettingStarted~RouteServiceLanding.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/44HTRHOENRILY3WFQMC45SWDJWCOO4CVOASUEGQ3T5236HRYE3KQ/RouteGettingStarted~RouteServiceLanding.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K3K4IQPIU75RRYZBUFFM4RE5FVCKKVAHXEPGYSEBBQGE4GZTEBWA/RouteGettingStarted~RouteServiceLanding.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KBBFXPZQ5KOVYLVUTUJ3UQ36QV7KZB2OZB6B5YFNUN3JINR4VKOA/RouteGettingStarted~RouteServiceLanding.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PF2EVE5INX56KGTUAH42LRWL42YVWB5CWJP4KQGD6FVH3KWD6JAA/RouteGettingStarted~RouteServiceLanding.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35AUZVOCIWEEGYP4IS6H5QOTEGICC2KS7KUV2USWNIEIWEN4OXHA/RouteGettingStarted~RouteServiceLanding.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QK4OR7XMNNI2QLI4BKCEQECAM7IGQBSYLGQXCOZDFBCKTKUZMZIQ/RouteGettingStarted~RouteServiceLanding.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WVIDCGUOYOBAQRUEMPOEEI64KGOHRBJ5NASSIAI53VH6A3DDBSMQ/RouteGettingStarted~RouteServiceLanding.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LWTJG7VOM7HR7M4GKTXX4YPTUX4BXXDZGSWN5CDCFYR5KGEDUJGQ/RouteGettingStarted~RouteServiceLanding.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/RouteGettingStarted~RouteServiceLanding.js"
        ]
    },
    "operations": {
        "AuthAddTagToItem": {
            "name": "AuthAddTagToItem",
            "http": {
                "method": "POST",
                "requestUri": "/v1/auth/items/{itemId}/tags",
                "responseCode": 201
            },
            "input": {
                "shape": "FesAddTagToItemRequest"
            },
            "output": {
                "shape": "AuthenticatedAddTagToItemResponse"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "InternalException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLPRVVYCI2RNEVAIAPYEKACMUMTQOSHCHOUSV6UZ23MQGCBYL2WA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEOSZYMRYS7VPHTJIM6SLSPXNCWU5MCRXYHNRFF55WSJSZPAHZKA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLPZ37JYVQDHVXR22H23FVPHPHQYS5YGEBUSYY6J5MRKGEN6X7GQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QLIMJYMCWQGRQIVAQKX3CSOQH74QLKOPZ2HOSICCCTJEREZZMJA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM75ZT7QDJFFCG7OHTSYMM45JXLNUPQCUUR34F5FQPTCFTJRXJTA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAWAPIU7LRFVUATKIARBBGHMGG2I5RK5O5FJPJTFIW2MQGQDDVGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL6OGNAI6EHZUVJRPPM3O4XSVGC56CB37LTBDOEWDOZH6VVKXLNA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHSHNJNKK4PAF3FT4T3R4HIMOHYWCTZNRZXWAU5535RFOV2BUEHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBSTMGZWDYGOAX5NTQAMKQNEUFM4GUZLIBLRBYAXDW55TNLV2IJQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAQ2JQHCEGLZBK4ZC46A6UKKSYOJ67ULTXQJFHLFBD3CKLBG4GZQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSRKDNKAOH6JNZA4D32TCEVLTLWJEO6DVEYZRUTAZCUPZWMR65SQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFHJHIJTWXY2L727MXVJS7WJXCTVFEWOURYPUW6NZ3R6JY575K2A/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2FFU2A4DV2STBCK5IGER6DH5V6RP4KTS3ZRRMP3SKWBBAAIVZHQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53C7ZZFCZHOYMAIIQCP7GHZLGUIIOWGRA6HTXPUWOKM4LKYKBPA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44HTRHOENRILY3WFQMC45SWDJWCOO4CVOASUEGQ3T5236HRYE3KQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3K4IQPIU75RRYZBUFFM4RE5FVCKKVAHXEPGYSEBBQGE4GZTEBWA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBBFXPZQ5KOVYLVUTUJ3UQ36QV7KZB2OZB6B5YFNUN3JINR4VKOA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2EVE5INX56KGTUAH42LRWL42YVWB5CWJP4KQGD6FVH3KWD6JAA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AUZVOCIWEEGYP4IS6H5QOTEGICC2KS7KUV2USWNIEIWEN4OXHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK4OR7XMNNI2QLI4BKCEQECAM7IGQBSYLGQXCOZDFBCKTKUZMZIQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVIDCGUOYOBAQRUEMPOEEI64KGOHRBJ5NASSIAI53VH6A3DDBSMQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWTJG7VOM7HR7M4GKTXX4YPTUX4BXXDZGSWN5CDCFYR5KGEDUJGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/RouteGettingStarted~RouteServiceLanding.js"
            ]
        },
        "AuthAddTagToItemVersion": {
            "name": "AuthAddTagToItemVersion",
            "http": {
                "method": "POST",
                "requestUri": "/v1/auth/items/{itemId}/versions/{itemVersionId}/tags",
                "responseCode": 201
            },
            "input": {
                "shape": "FesAddTagToItemVersionRequest"
            },
            "output": {
                "shape": "AuthenticatedAddTagToItemResponse"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "InternalException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLPRVVYCI2RNEVAIAPYEKACMUMTQOSHCHOUSV6UZ23MQGCBYL2WA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEOSZYMRYS7VPHTJIM6SLSPXNCWU5MCRXYHNRFF55WSJSZPAHZKA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLPZ37JYVQDHVXR22H23FVPHPHQYS5YGEBUSYY6J5MRKGEN6X7GQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QLIMJYMCWQGRQIVAQKX3CSOQH74QLKOPZ2HOSICCCTJEREZZMJA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM75ZT7QDJFFCG7OHTSYMM45JXLNUPQCUUR34F5FQPTCFTJRXJTA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAWAPIU7LRFVUATKIARBBGHMGG2I5RK5O5FJPJTFIW2MQGQDDVGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL6OGNAI6EHZUVJRPPM3O4XSVGC56CB37LTBDOEWDOZH6VVKXLNA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHSHNJNKK4PAF3FT4T3R4HIMOHYWCTZNRZXWAU5535RFOV2BUEHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBSTMGZWDYGOAX5NTQAMKQNEUFM4GUZLIBLRBYAXDW55TNLV2IJQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAQ2JQHCEGLZBK4ZC46A6UKKSYOJ67ULTXQJFHLFBD3CKLBG4GZQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSRKDNKAOH6JNZA4D32TCEVLTLWJEO6DVEYZRUTAZCUPZWMR65SQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFHJHIJTWXY2L727MXVJS7WJXCTVFEWOURYPUW6NZ3R6JY575K2A/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2FFU2A4DV2STBCK5IGER6DH5V6RP4KTS3ZRRMP3SKWBBAAIVZHQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53C7ZZFCZHOYMAIIQCP7GHZLGUIIOWGRA6HTXPUWOKM4LKYKBPA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44HTRHOENRILY3WFQMC45SWDJWCOO4CVOASUEGQ3T5236HRYE3KQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3K4IQPIU75RRYZBUFFM4RE5FVCKKVAHXEPGYSEBBQGE4GZTEBWA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBBFXPZQ5KOVYLVUTUJ3UQ36QV7KZB2OZB6B5YFNUN3JINR4VKOA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2EVE5INX56KGTUAH42LRWL42YVWB5CWJP4KQGD6FVH3KWD6JAA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AUZVOCIWEEGYP4IS6H5QOTEGICC2KS7KUV2USWNIEIWEN4OXHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK4OR7XMNNI2QLI4BKCEQECAM7IGQBSYLGQXCOZDFBCKTKUZMZIQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVIDCGUOYOBAQRUEMPOEEI64KGOHRBJ5NASSIAI53VH6A3DDBSMQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWTJG7VOM7HR7M4GKTXX4YPTUX4BXXDZGSWN5CDCFYR5KGEDUJGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/RouteGettingStarted~RouteServiceLanding.js"
            ]
        },
        "AuthBulkUpdateItemTagVersion": {
            "name": "AuthBulkUpdateItemTagVersion",
            "http": {
                "method": "PUT",
                "requestUri": "/v1/auth/items/{itemId}/versions/{itemVersionId}/tags",
                "responseCode": 200
            },
            "input": {
                "shape": "FesBulkUpdateItemTagVersionRequest"
            },
            "output": {
                "shape": "BulkUpdateItemTagsResponse"
            },
            "errors": [
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "InternalException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLPRVVYCI2RNEVAIAPYEKACMUMTQOSHCHOUSV6UZ23MQGCBYL2WA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEOSZYMRYS7VPHTJIM6SLSPXNCWU5MCRXYHNRFF55WSJSZPAHZKA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLPZ37JYVQDHVXR22H23FVPHPHQYS5YGEBUSYY6J5MRKGEN6X7GQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QLIMJYMCWQGRQIVAQKX3CSOQH74QLKOPZ2HOSICCCTJEREZZMJA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM75ZT7QDJFFCG7OHTSYMM45JXLNUPQCUUR34F5FQPTCFTJRXJTA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAWAPIU7LRFVUATKIARBBGHMGG2I5RK5O5FJPJTFIW2MQGQDDVGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL6OGNAI6EHZUVJRPPM3O4XSVGC56CB37LTBDOEWDOZH6VVKXLNA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHSHNJNKK4PAF3FT4T3R4HIMOHYWCTZNRZXWAU5535RFOV2BUEHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBSTMGZWDYGOAX5NTQAMKQNEUFM4GUZLIBLRBYAXDW55TNLV2IJQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAQ2JQHCEGLZBK4ZC46A6UKKSYOJ67ULTXQJFHLFBD3CKLBG4GZQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSRKDNKAOH6JNZA4D32TCEVLTLWJEO6DVEYZRUTAZCUPZWMR65SQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFHJHIJTWXY2L727MXVJS7WJXCTVFEWOURYPUW6NZ3R6JY575K2A/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2FFU2A4DV2STBCK5IGER6DH5V6RP4KTS3ZRRMP3SKWBBAAIVZHQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53C7ZZFCZHOYMAIIQCP7GHZLGUIIOWGRA6HTXPUWOKM4LKYKBPA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44HTRHOENRILY3WFQMC45SWDJWCOO4CVOASUEGQ3T5236HRYE3KQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3K4IQPIU75RRYZBUFFM4RE5FVCKKVAHXEPGYSEBBQGE4GZTEBWA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBBFXPZQ5KOVYLVUTUJ3UQ36QV7KZB2OZB6B5YFNUN3JINR4VKOA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2EVE5INX56KGTUAH42LRWL42YVWB5CWJP4KQGD6FVH3KWD6JAA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AUZVOCIWEEGYP4IS6H5QOTEGICC2KS7KUV2USWNIEIWEN4OXHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK4OR7XMNNI2QLI4BKCEQECAM7IGQBSYLGQXCOZDFBCKTKUZMZIQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVIDCGUOYOBAQRUEMPOEEI64KGOHRBJ5NASSIAI53VH6A3DDBSMQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWTJG7VOM7HR7M4GKTXX4YPTUX4BXXDZGSWN5CDCFYR5KGEDUJGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/RouteGettingStarted~RouteServiceLanding.js"
            ]
        },
        "AuthBulkUpdateItemTags": {
            "name": "AuthBulkUpdateItemTags",
            "http": {
                "method": "PUT",
                "requestUri": "/v1/auth/items/{itemId}/tags",
                "responseCode": 200
            },
            "input": {
                "shape": "FesBulkUpdateItemTagsRequest"
            },
            "output": {
                "shape": "BulkUpdateItemTagsResponse"
            },
            "errors": [
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "InternalException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLPRVVYCI2RNEVAIAPYEKACMUMTQOSHCHOUSV6UZ23MQGCBYL2WA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEOSZYMRYS7VPHTJIM6SLSPXNCWU5MCRXYHNRFF55WSJSZPAHZKA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLPZ37JYVQDHVXR22H23FVPHPHQYS5YGEBUSYY6J5MRKGEN6X7GQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QLIMJYMCWQGRQIVAQKX3CSOQH74QLKOPZ2HOSICCCTJEREZZMJA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM75ZT7QDJFFCG7OHTSYMM45JXLNUPQCUUR34F5FQPTCFTJRXJTA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAWAPIU7LRFVUATKIARBBGHMGG2I5RK5O5FJPJTFIW2MQGQDDVGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL6OGNAI6EHZUVJRPPM3O4XSVGC56CB37LTBDOEWDOZH6VVKXLNA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHSHNJNKK4PAF3FT4T3R4HIMOHYWCTZNRZXWAU5535RFOV2BUEHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBSTMGZWDYGOAX5NTQAMKQNEUFM4GUZLIBLRBYAXDW55TNLV2IJQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAQ2JQHCEGLZBK4ZC46A6UKKSYOJ67ULTXQJFHLFBD3CKLBG4GZQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSRKDNKAOH6JNZA4D32TCEVLTLWJEO6DVEYZRUTAZCUPZWMR65SQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFHJHIJTWXY2L727MXVJS7WJXCTVFEWOURYPUW6NZ3R6JY575K2A/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2FFU2A4DV2STBCK5IGER6DH5V6RP4KTS3ZRRMP3SKWBBAAIVZHQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53C7ZZFCZHOYMAIIQCP7GHZLGUIIOWGRA6HTXPUWOKM4LKYKBPA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44HTRHOENRILY3WFQMC45SWDJWCOO4CVOASUEGQ3T5236HRYE3KQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3K4IQPIU75RRYZBUFFM4RE5FVCKKVAHXEPGYSEBBQGE4GZTEBWA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBBFXPZQ5KOVYLVUTUJ3UQ36QV7KZB2OZB6B5YFNUN3JINR4VKOA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2EVE5INX56KGTUAH42LRWL42YVWB5CWJP4KQGD6FVH3KWD6JAA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AUZVOCIWEEGYP4IS6H5QOTEGICC2KS7KUV2USWNIEIWEN4OXHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK4OR7XMNNI2QLI4BKCEQECAM7IGQBSYLGQXCOZDFBCKTKUZMZIQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVIDCGUOYOBAQRUEMPOEEI64KGOHRBJ5NASSIAI53VH6A3DDBSMQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWTJG7VOM7HR7M4GKTXX4YPTUX4BXXDZGSWN5CDCFYR5KGEDUJGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/RouteGettingStarted~RouteServiceLanding.js"
            ]
        },
        "AuthCreateDirectory": {
            "name": "AuthCreateDirectory",
            "http": {
                "method": "POST",
                "requestUri": "/v1/auth/directories",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateDirectoryRequest"
            },
            "output": {
                "shape": "CreateDirectoryResponse"
            },
            "errors": [
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "InternalException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLPRVVYCI2RNEVAIAPYEKACMUMTQOSHCHOUSV6UZ23MQGCBYL2WA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEOSZYMRYS7VPHTJIM6SLSPXNCWU5MCRXYHNRFF55WSJSZPAHZKA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLPZ37JYVQDHVXR22H23FVPHPHQYS5YGEBUSYY6J5MRKGEN6X7GQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QLIMJYMCWQGRQIVAQKX3CSOQH74QLKOPZ2HOSICCCTJEREZZMJA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM75ZT7QDJFFCG7OHTSYMM45JXLNUPQCUUR34F5FQPTCFTJRXJTA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAWAPIU7LRFVUATKIARBBGHMGG2I5RK5O5FJPJTFIW2MQGQDDVGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL6OGNAI6EHZUVJRPPM3O4XSVGC56CB37LTBDOEWDOZH6VVKXLNA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHSHNJNKK4PAF3FT4T3R4HIMOHYWCTZNRZXWAU5535RFOV2BUEHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBSTMGZWDYGOAX5NTQAMKQNEUFM4GUZLIBLRBYAXDW55TNLV2IJQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAQ2JQHCEGLZBK4ZC46A6UKKSYOJ67ULTXQJFHLFBD3CKLBG4GZQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSRKDNKAOH6JNZA4D32TCEVLTLWJEO6DVEYZRUTAZCUPZWMR65SQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFHJHIJTWXY2L727MXVJS7WJXCTVFEWOURYPUW6NZ3R6JY575K2A/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2FFU2A4DV2STBCK5IGER6DH5V6RP4KTS3ZRRMP3SKWBBAAIVZHQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53C7ZZFCZHOYMAIIQCP7GHZLGUIIOWGRA6HTXPUWOKM4LKYKBPA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44HTRHOENRILY3WFQMC45SWDJWCOO4CVOASUEGQ3T5236HRYE3KQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3K4IQPIU75RRYZBUFFM4RE5FVCKKVAHXEPGYSEBBQGE4GZTEBWA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBBFXPZQ5KOVYLVUTUJ3UQ36QV7KZB2OZB6B5YFNUN3JINR4VKOA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2EVE5INX56KGTUAH42LRWL42YVWB5CWJP4KQGD6FVH3KWD6JAA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AUZVOCIWEEGYP4IS6H5QOTEGICC2KS7KUV2USWNIEIWEN4OXHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK4OR7XMNNI2QLI4BKCEQECAM7IGQBSYLGQXCOZDFBCKTKUZMZIQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVIDCGUOYOBAQRUEMPOEEI64KGOHRBJ5NASSIAI53VH6A3DDBSMQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWTJG7VOM7HR7M4GKTXX4YPTUX4BXXDZGSWN5CDCFYR5KGEDUJGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/RouteGettingStarted~RouteServiceLanding.js"
            ]
        },
        "AuthCreateDirectoryField": {
            "name": "AuthCreateDirectoryField",
            "http": {
                "method": "POST",
                "requestUri": "/v1/auth/directories/{directoryId}/fields",
                "responseCode": 201
            },
            "input": {
                "shape": "FesCreateDirectoryFieldRequest"
            },
            "output": {
                "shape": "CreateDirectoryFieldResponse"
            },
            "errors": [
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "InternalException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLPRVVYCI2RNEVAIAPYEKACMUMTQOSHCHOUSV6UZ23MQGCBYL2WA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEOSZYMRYS7VPHTJIM6SLSPXNCWU5MCRXYHNRFF55WSJSZPAHZKA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLPZ37JYVQDHVXR22H23FVPHPHQYS5YGEBUSYY6J5MRKGEN6X7GQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QLIMJYMCWQGRQIVAQKX3CSOQH74QLKOPZ2HOSICCCTJEREZZMJA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM75ZT7QDJFFCG7OHTSYMM45JXLNUPQCUUR34F5FQPTCFTJRXJTA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAWAPIU7LRFVUATKIARBBGHMGG2I5RK5O5FJPJTFIW2MQGQDDVGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL6OGNAI6EHZUVJRPPM3O4XSVGC56CB37LTBDOEWDOZH6VVKXLNA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHSHNJNKK4PAF3FT4T3R4HIMOHYWCTZNRZXWAU5535RFOV2BUEHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBSTMGZWDYGOAX5NTQAMKQNEUFM4GUZLIBLRBYAXDW55TNLV2IJQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAQ2JQHCEGLZBK4ZC46A6UKKSYOJ67ULTXQJFHLFBD3CKLBG4GZQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSRKDNKAOH6JNZA4D32TCEVLTLWJEO6DVEYZRUTAZCUPZWMR65SQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFHJHIJTWXY2L727MXVJS7WJXCTVFEWOURYPUW6NZ3R6JY575K2A/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2FFU2A4DV2STBCK5IGER6DH5V6RP4KTS3ZRRMP3SKWBBAAIVZHQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53C7ZZFCZHOYMAIIQCP7GHZLGUIIOWGRA6HTXPUWOKM4LKYKBPA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44HTRHOENRILY3WFQMC45SWDJWCOO4CVOASUEGQ3T5236HRYE3KQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3K4IQPIU75RRYZBUFFM4RE5FVCKKVAHXEPGYSEBBQGE4GZTEBWA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBBFXPZQ5KOVYLVUTUJ3UQ36QV7KZB2OZB6B5YFNUN3JINR4VKOA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2EVE5INX56KGTUAH42LRWL42YVWB5CWJP4KQGD6FVH3KWD6JAA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AUZVOCIWEEGYP4IS6H5QOTEGICC2KS7KUV2USWNIEIWEN4OXHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK4OR7XMNNI2QLI4BKCEQECAM7IGQBSYLGQXCOZDFBCKTKUZMZIQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVIDCGUOYOBAQRUEMPOEEI64KGOHRBJ5NASSIAI53VH6A3DDBSMQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWTJG7VOM7HR7M4GKTXX4YPTUX4BXXDZGSWN5CDCFYR5KGEDUJGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/RouteGettingStarted~RouteServiceLanding.js"
            ]
        },
        "AuthCreateItem": {
            "name": "AuthCreateItem",
            "http": {
                "method": "POST",
                "requestUri": "/v1/auth/items",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateItemRequest"
            },
            "output": {
                "shape": "CreateItemResponse"
            },
            "errors": [
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "InternalException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLPRVVYCI2RNEVAIAPYEKACMUMTQOSHCHOUSV6UZ23MQGCBYL2WA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEOSZYMRYS7VPHTJIM6SLSPXNCWU5MCRXYHNRFF55WSJSZPAHZKA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLPZ37JYVQDHVXR22H23FVPHPHQYS5YGEBUSYY6J5MRKGEN6X7GQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QLIMJYMCWQGRQIVAQKX3CSOQH74QLKOPZ2HOSICCCTJEREZZMJA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM75ZT7QDJFFCG7OHTSYMM45JXLNUPQCUUR34F5FQPTCFTJRXJTA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAWAPIU7LRFVUATKIARBBGHMGG2I5RK5O5FJPJTFIW2MQGQDDVGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL6OGNAI6EHZUVJRPPM3O4XSVGC56CB37LTBDOEWDOZH6VVKXLNA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHSHNJNKK4PAF3FT4T3R4HIMOHYWCTZNRZXWAU5535RFOV2BUEHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBSTMGZWDYGOAX5NTQAMKQNEUFM4GUZLIBLRBYAXDW55TNLV2IJQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAQ2JQHCEGLZBK4ZC46A6UKKSYOJ67ULTXQJFHLFBD3CKLBG4GZQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSRKDNKAOH6JNZA4D32TCEVLTLWJEO6DVEYZRUTAZCUPZWMR65SQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFHJHIJTWXY2L727MXVJS7WJXCTVFEWOURYPUW6NZ3R6JY575K2A/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2FFU2A4DV2STBCK5IGER6DH5V6RP4KTS3ZRRMP3SKWBBAAIVZHQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53C7ZZFCZHOYMAIIQCP7GHZLGUIIOWGRA6HTXPUWOKM4LKYKBPA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44HTRHOENRILY3WFQMC45SWDJWCOO4CVOASUEGQ3T5236HRYE3KQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3K4IQPIU75RRYZBUFFM4RE5FVCKKVAHXEPGYSEBBQGE4GZTEBWA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBBFXPZQ5KOVYLVUTUJ3UQ36QV7KZB2OZB6B5YFNUN3JINR4VKOA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2EVE5INX56KGTUAH42LRWL42YVWB5CWJP4KQGD6FVH3KWD6JAA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AUZVOCIWEEGYP4IS6H5QOTEGICC2KS7KUV2USWNIEIWEN4OXHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK4OR7XMNNI2QLI4BKCEQECAM7IGQBSYLGQXCOZDFBCKTKUZMZIQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVIDCGUOYOBAQRUEMPOEEI64KGOHRBJ5NASSIAI53VH6A3DDBSMQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWTJG7VOM7HR7M4GKTXX4YPTUX4BXXDZGSWN5CDCFYR5KGEDUJGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/RouteGettingStarted~RouteServiceLanding.js"
            ]
        },
        "AuthCreateItemVersion": {
            "name": "AuthCreateItemVersion",
            "http": {
                "method": "POST",
                "requestUri": "/v1/auth/items/{itemId}/versions",
                "responseCode": 201
            },
            "input": {
                "shape": "FesCreateItemVersionRequest"
            },
            "output": {
                "shape": "CreateItemVersionResponse"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "InternalException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLPRVVYCI2RNEVAIAPYEKACMUMTQOSHCHOUSV6UZ23MQGCBYL2WA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEOSZYMRYS7VPHTJIM6SLSPXNCWU5MCRXYHNRFF55WSJSZPAHZKA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLPZ37JYVQDHVXR22H23FVPHPHQYS5YGEBUSYY6J5MRKGEN6X7GQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QLIMJYMCWQGRQIVAQKX3CSOQH74QLKOPZ2HOSICCCTJEREZZMJA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM75ZT7QDJFFCG7OHTSYMM45JXLNUPQCUUR34F5FQPTCFTJRXJTA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAWAPIU7LRFVUATKIARBBGHMGG2I5RK5O5FJPJTFIW2MQGQDDVGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL6OGNAI6EHZUVJRPPM3O4XSVGC56CB37LTBDOEWDOZH6VVKXLNA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHSHNJNKK4PAF3FT4T3R4HIMOHYWCTZNRZXWAU5535RFOV2BUEHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBSTMGZWDYGOAX5NTQAMKQNEUFM4GUZLIBLRBYAXDW55TNLV2IJQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAQ2JQHCEGLZBK4ZC46A6UKKSYOJ67ULTXQJFHLFBD3CKLBG4GZQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSRKDNKAOH6JNZA4D32TCEVLTLWJEO6DVEYZRUTAZCUPZWMR65SQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFHJHIJTWXY2L727MXVJS7WJXCTVFEWOURYPUW6NZ3R6JY575K2A/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2FFU2A4DV2STBCK5IGER6DH5V6RP4KTS3ZRRMP3SKWBBAAIVZHQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53C7ZZFCZHOYMAIIQCP7GHZLGUIIOWGRA6HTXPUWOKM4LKYKBPA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44HTRHOENRILY3WFQMC45SWDJWCOO4CVOASUEGQ3T5236HRYE3KQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3K4IQPIU75RRYZBUFFM4RE5FVCKKVAHXEPGYSEBBQGE4GZTEBWA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBBFXPZQ5KOVYLVUTUJ3UQ36QV7KZB2OZB6B5YFNUN3JINR4VKOA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2EVE5INX56KGTUAH42LRWL42YVWB5CWJP4KQGD6FVH3KWD6JAA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AUZVOCIWEEGYP4IS6H5QOTEGICC2KS7KUV2USWNIEIWEN4OXHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK4OR7XMNNI2QLI4BKCEQECAM7IGQBSYLGQXCOZDFBCKTKUZMZIQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVIDCGUOYOBAQRUEMPOEEI64KGOHRBJ5NASSIAI53VH6A3DDBSMQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWTJG7VOM7HR7M4GKTXX4YPTUX4BXXDZGSWN5CDCFYR5KGEDUJGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/RouteGettingStarted~RouteServiceLanding.js"
            ]
        },
        "AuthCreateTag": {
            "name": "AuthCreateTag",
            "http": {
                "method": "POST",
                "requestUri": "/v1/auth/tag-namespaces/{tagNamespaceId}/tags",
                "responseCode": 201
            },
            "input": {
                "shape": "FesCreateTagRequest"
            },
            "output": {
                "shape": "CreateTagResponse"
            },
            "errors": [
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "InternalException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLPRVVYCI2RNEVAIAPYEKACMUMTQOSHCHOUSV6UZ23MQGCBYL2WA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEOSZYMRYS7VPHTJIM6SLSPXNCWU5MCRXYHNRFF55WSJSZPAHZKA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLPZ37JYVQDHVXR22H23FVPHPHQYS5YGEBUSYY6J5MRKGEN6X7GQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QLIMJYMCWQGRQIVAQKX3CSOQH74QLKOPZ2HOSICCCTJEREZZMJA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM75ZT7QDJFFCG7OHTSYMM45JXLNUPQCUUR34F5FQPTCFTJRXJTA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAWAPIU7LRFVUATKIARBBGHMGG2I5RK5O5FJPJTFIW2MQGQDDVGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL6OGNAI6EHZUVJRPPM3O4XSVGC56CB37LTBDOEWDOZH6VVKXLNA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHSHNJNKK4PAF3FT4T3R4HIMOHYWCTZNRZXWAU5535RFOV2BUEHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBSTMGZWDYGOAX5NTQAMKQNEUFM4GUZLIBLRBYAXDW55TNLV2IJQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAQ2JQHCEGLZBK4ZC46A6UKKSYOJ67ULTXQJFHLFBD3CKLBG4GZQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSRKDNKAOH6JNZA4D32TCEVLTLWJEO6DVEYZRUTAZCUPZWMR65SQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFHJHIJTWXY2L727MXVJS7WJXCTVFEWOURYPUW6NZ3R6JY575K2A/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2FFU2A4DV2STBCK5IGER6DH5V6RP4KTS3ZRRMP3SKWBBAAIVZHQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53C7ZZFCZHOYMAIIQCP7GHZLGUIIOWGRA6HTXPUWOKM4LKYKBPA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44HTRHOENRILY3WFQMC45SWDJWCOO4CVOASUEGQ3T5236HRYE3KQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3K4IQPIU75RRYZBUFFM4RE5FVCKKVAHXEPGYSEBBQGE4GZTEBWA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBBFXPZQ5KOVYLVUTUJ3UQ36QV7KZB2OZB6B5YFNUN3JINR4VKOA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2EVE5INX56KGTUAH42LRWL42YVWB5CWJP4KQGD6FVH3KWD6JAA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AUZVOCIWEEGYP4IS6H5QOTEGICC2KS7KUV2USWNIEIWEN4OXHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK4OR7XMNNI2QLI4BKCEQECAM7IGQBSYLGQXCOZDFBCKTKUZMZIQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVIDCGUOYOBAQRUEMPOEEI64KGOHRBJ5NASSIAI53VH6A3DDBSMQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWTJG7VOM7HR7M4GKTXX4YPTUX4BXXDZGSWN5CDCFYR5KGEDUJGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/RouteGettingStarted~RouteServiceLanding.js"
            ]
        },
        "AuthCreateTagNamespace": {
            "name": "AuthCreateTagNamespace",
            "http": {
                "method": "POST",
                "requestUri": "/v1/auth/tag-namespaces",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateTagNamespaceRequest"
            },
            "output": {
                "shape": "CreateTagNamespaceResponse"
            },
            "errors": [
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "InternalException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLPRVVYCI2RNEVAIAPYEKACMUMTQOSHCHOUSV6UZ23MQGCBYL2WA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEOSZYMRYS7VPHTJIM6SLSPXNCWU5MCRXYHNRFF55WSJSZPAHZKA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLPZ37JYVQDHVXR22H23FVPHPHQYS5YGEBUSYY6J5MRKGEN6X7GQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QLIMJYMCWQGRQIVAQKX3CSOQH74QLKOPZ2HOSICCCTJEREZZMJA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM75ZT7QDJFFCG7OHTSYMM45JXLNUPQCUUR34F5FQPTCFTJRXJTA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAWAPIU7LRFVUATKIARBBGHMGG2I5RK5O5FJPJTFIW2MQGQDDVGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL6OGNAI6EHZUVJRPPM3O4XSVGC56CB37LTBDOEWDOZH6VVKXLNA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHSHNJNKK4PAF3FT4T3R4HIMOHYWCTZNRZXWAU5535RFOV2BUEHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBSTMGZWDYGOAX5NTQAMKQNEUFM4GUZLIBLRBYAXDW55TNLV2IJQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAQ2JQHCEGLZBK4ZC46A6UKKSYOJ67ULTXQJFHLFBD3CKLBG4GZQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSRKDNKAOH6JNZA4D32TCEVLTLWJEO6DVEYZRUTAZCUPZWMR65SQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFHJHIJTWXY2L727MXVJS7WJXCTVFEWOURYPUW6NZ3R6JY575K2A/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2FFU2A4DV2STBCK5IGER6DH5V6RP4KTS3ZRRMP3SKWBBAAIVZHQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53C7ZZFCZHOYMAIIQCP7GHZLGUIIOWGRA6HTXPUWOKM4LKYKBPA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44HTRHOENRILY3WFQMC45SWDJWCOO4CVOASUEGQ3T5236HRYE3KQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3K4IQPIU75RRYZBUFFM4RE5FVCKKVAHXEPGYSEBBQGE4GZTEBWA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBBFXPZQ5KOVYLVUTUJ3UQ36QV7KZB2OZB6B5YFNUN3JINR4VKOA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2EVE5INX56KGTUAH42LRWL42YVWB5CWJP4KQGD6FVH3KWD6JAA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AUZVOCIWEEGYP4IS6H5QOTEGICC2KS7KUV2USWNIEIWEN4OXHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK4OR7XMNNI2QLI4BKCEQECAM7IGQBSYLGQXCOZDFBCKTKUZMZIQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVIDCGUOYOBAQRUEMPOEEI64KGOHRBJ5NASSIAI53VH6A3DDBSMQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWTJG7VOM7HR7M4GKTXX4YPTUX4BXXDZGSWN5CDCFYR5KGEDUJGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/RouteGettingStarted~RouteServiceLanding.js"
            ]
        },
        "AuthGetDirectories": {
            "name": "AuthGetDirectories",
            "http": {
                "method": "GET",
                "requestUri": "/v1/auth/directories",
                "responseCode": 200
            },
            "input": {
                "shape": "FesGetDirectoriesRequest"
            },
            "output": {
                "shape": "AuthenticatedGetDirectoriesResponse"
            },
            "errors": [
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "InternalException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLPRVVYCI2RNEVAIAPYEKACMUMTQOSHCHOUSV6UZ23MQGCBYL2WA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEOSZYMRYS7VPHTJIM6SLSPXNCWU5MCRXYHNRFF55WSJSZPAHZKA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLPZ37JYVQDHVXR22H23FVPHPHQYS5YGEBUSYY6J5MRKGEN6X7GQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QLIMJYMCWQGRQIVAQKX3CSOQH74QLKOPZ2HOSICCCTJEREZZMJA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM75ZT7QDJFFCG7OHTSYMM45JXLNUPQCUUR34F5FQPTCFTJRXJTA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAWAPIU7LRFVUATKIARBBGHMGG2I5RK5O5FJPJTFIW2MQGQDDVGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL6OGNAI6EHZUVJRPPM3O4XSVGC56CB37LTBDOEWDOZH6VVKXLNA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHSHNJNKK4PAF3FT4T3R4HIMOHYWCTZNRZXWAU5535RFOV2BUEHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBSTMGZWDYGOAX5NTQAMKQNEUFM4GUZLIBLRBYAXDW55TNLV2IJQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAQ2JQHCEGLZBK4ZC46A6UKKSYOJ67ULTXQJFHLFBD3CKLBG4GZQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSRKDNKAOH6JNZA4D32TCEVLTLWJEO6DVEYZRUTAZCUPZWMR65SQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFHJHIJTWXY2L727MXVJS7WJXCTVFEWOURYPUW6NZ3R6JY575K2A/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2FFU2A4DV2STBCK5IGER6DH5V6RP4KTS3ZRRMP3SKWBBAAIVZHQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53C7ZZFCZHOYMAIIQCP7GHZLGUIIOWGRA6HTXPUWOKM4LKYKBPA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44HTRHOENRILY3WFQMC45SWDJWCOO4CVOASUEGQ3T5236HRYE3KQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3K4IQPIU75RRYZBUFFM4RE5FVCKKVAHXEPGYSEBBQGE4GZTEBWA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBBFXPZQ5KOVYLVUTUJ3UQ36QV7KZB2OZB6B5YFNUN3JINR4VKOA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2EVE5INX56KGTUAH42LRWL42YVWB5CWJP4KQGD6FVH3KWD6JAA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AUZVOCIWEEGYP4IS6H5QOTEGICC2KS7KUV2USWNIEIWEN4OXHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK4OR7XMNNI2QLI4BKCEQECAM7IGQBSYLGQXCOZDFBCKTKUZMZIQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVIDCGUOYOBAQRUEMPOEEI64KGOHRBJ5NASSIAI53VH6A3DDBSMQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWTJG7VOM7HR7M4GKTXX4YPTUX4BXXDZGSWN5CDCFYR5KGEDUJGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/RouteGettingStarted~RouteServiceLanding.js"
            ]
        },
        "AuthGetDirectory": {
            "name": "AuthGetDirectory",
            "http": {
                "method": "GET",
                "requestUri": "/v1/auth/directories/{directoryId}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetDirectoryRequest"
            },
            "output": {
                "shape": "AuthenticatedGetDirectoryResponse"
            },
            "errors": [
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "InternalException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLPRVVYCI2RNEVAIAPYEKACMUMTQOSHCHOUSV6UZ23MQGCBYL2WA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEOSZYMRYS7VPHTJIM6SLSPXNCWU5MCRXYHNRFF55WSJSZPAHZKA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLPZ37JYVQDHVXR22H23FVPHPHQYS5YGEBUSYY6J5MRKGEN6X7GQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QLIMJYMCWQGRQIVAQKX3CSOQH74QLKOPZ2HOSICCCTJEREZZMJA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM75ZT7QDJFFCG7OHTSYMM45JXLNUPQCUUR34F5FQPTCFTJRXJTA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAWAPIU7LRFVUATKIARBBGHMGG2I5RK5O5FJPJTFIW2MQGQDDVGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL6OGNAI6EHZUVJRPPM3O4XSVGC56CB37LTBDOEWDOZH6VVKXLNA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHSHNJNKK4PAF3FT4T3R4HIMOHYWCTZNRZXWAU5535RFOV2BUEHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBSTMGZWDYGOAX5NTQAMKQNEUFM4GUZLIBLRBYAXDW55TNLV2IJQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAQ2JQHCEGLZBK4ZC46A6UKKSYOJ67ULTXQJFHLFBD3CKLBG4GZQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSRKDNKAOH6JNZA4D32TCEVLTLWJEO6DVEYZRUTAZCUPZWMR65SQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFHJHIJTWXY2L727MXVJS7WJXCTVFEWOURYPUW6NZ3R6JY575K2A/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2FFU2A4DV2STBCK5IGER6DH5V6RP4KTS3ZRRMP3SKWBBAAIVZHQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53C7ZZFCZHOYMAIIQCP7GHZLGUIIOWGRA6HTXPUWOKM4LKYKBPA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44HTRHOENRILY3WFQMC45SWDJWCOO4CVOASUEGQ3T5236HRYE3KQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3K4IQPIU75RRYZBUFFM4RE5FVCKKVAHXEPGYSEBBQGE4GZTEBWA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBBFXPZQ5KOVYLVUTUJ3UQ36QV7KZB2OZB6B5YFNUN3JINR4VKOA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2EVE5INX56KGTUAH42LRWL42YVWB5CWJP4KQGD6FVH3KWD6JAA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AUZVOCIWEEGYP4IS6H5QOTEGICC2KS7KUV2USWNIEIWEN4OXHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK4OR7XMNNI2QLI4BKCEQECAM7IGQBSYLGQXCOZDFBCKTKUZMZIQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVIDCGUOYOBAQRUEMPOEEI64KGOHRBJ5NASSIAI53VH6A3DDBSMQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWTJG7VOM7HR7M4GKTXX4YPTUX4BXXDZGSWN5CDCFYR5KGEDUJGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/RouteGettingStarted~RouteServiceLanding.js"
            ]
        },
        "AuthGetItem": {
            "name": "AuthGetItem",
            "http": {
                "method": "GET",
                "requestUri": "/v1/auth/items/{itemId}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetItemRequest"
            },
            "output": {
                "shape": "AuthenticatedGetItemResponse"
            },
            "errors": [
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "InternalException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLPRVVYCI2RNEVAIAPYEKACMUMTQOSHCHOUSV6UZ23MQGCBYL2WA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEOSZYMRYS7VPHTJIM6SLSPXNCWU5MCRXYHNRFF55WSJSZPAHZKA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLPZ37JYVQDHVXR22H23FVPHPHQYS5YGEBUSYY6J5MRKGEN6X7GQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QLIMJYMCWQGRQIVAQKX3CSOQH74QLKOPZ2HOSICCCTJEREZZMJA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM75ZT7QDJFFCG7OHTSYMM45JXLNUPQCUUR34F5FQPTCFTJRXJTA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAWAPIU7LRFVUATKIARBBGHMGG2I5RK5O5FJPJTFIW2MQGQDDVGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL6OGNAI6EHZUVJRPPM3O4XSVGC56CB37LTBDOEWDOZH6VVKXLNA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHSHNJNKK4PAF3FT4T3R4HIMOHYWCTZNRZXWAU5535RFOV2BUEHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBSTMGZWDYGOAX5NTQAMKQNEUFM4GUZLIBLRBYAXDW55TNLV2IJQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAQ2JQHCEGLZBK4ZC46A6UKKSYOJ67ULTXQJFHLFBD3CKLBG4GZQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSRKDNKAOH6JNZA4D32TCEVLTLWJEO6DVEYZRUTAZCUPZWMR65SQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFHJHIJTWXY2L727MXVJS7WJXCTVFEWOURYPUW6NZ3R6JY575K2A/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2FFU2A4DV2STBCK5IGER6DH5V6RP4KTS3ZRRMP3SKWBBAAIVZHQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53C7ZZFCZHOYMAIIQCP7GHZLGUIIOWGRA6HTXPUWOKM4LKYKBPA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44HTRHOENRILY3WFQMC45SWDJWCOO4CVOASUEGQ3T5236HRYE3KQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3K4IQPIU75RRYZBUFFM4RE5FVCKKVAHXEPGYSEBBQGE4GZTEBWA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBBFXPZQ5KOVYLVUTUJ3UQ36QV7KZB2OZB6B5YFNUN3JINR4VKOA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2EVE5INX56KGTUAH42LRWL42YVWB5CWJP4KQGD6FVH3KWD6JAA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AUZVOCIWEEGYP4IS6H5QOTEGICC2KS7KUV2USWNIEIWEN4OXHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK4OR7XMNNI2QLI4BKCEQECAM7IGQBSYLGQXCOZDFBCKTKUZMZIQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVIDCGUOYOBAQRUEMPOEEI64KGOHRBJ5NASSIAI53VH6A3DDBSMQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWTJG7VOM7HR7M4GKTXX4YPTUX4BXXDZGSWN5CDCFYR5KGEDUJGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/RouteGettingStarted~RouteServiceLanding.js"
            ]
        },
        "AuthGetItemTags": {
            "name": "AuthGetItemTags",
            "http": {
                "method": "GET",
                "requestUri": "/v1/auth/items/{itemId}/tags",
                "responseCode": 200
            },
            "input": {
                "shape": "FesGetItemTagsRequest"
            },
            "output": {
                "shape": "AuthenticatedGetTagsResponse"
            },
            "errors": [
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "InternalException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLPRVVYCI2RNEVAIAPYEKACMUMTQOSHCHOUSV6UZ23MQGCBYL2WA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEOSZYMRYS7VPHTJIM6SLSPXNCWU5MCRXYHNRFF55WSJSZPAHZKA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLPZ37JYVQDHVXR22H23FVPHPHQYS5YGEBUSYY6J5MRKGEN6X7GQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QLIMJYMCWQGRQIVAQKX3CSOQH74QLKOPZ2HOSICCCTJEREZZMJA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM75ZT7QDJFFCG7OHTSYMM45JXLNUPQCUUR34F5FQPTCFTJRXJTA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAWAPIU7LRFVUATKIARBBGHMGG2I5RK5O5FJPJTFIW2MQGQDDVGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL6OGNAI6EHZUVJRPPM3O4XSVGC56CB37LTBDOEWDOZH6VVKXLNA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHSHNJNKK4PAF3FT4T3R4HIMOHYWCTZNRZXWAU5535RFOV2BUEHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBSTMGZWDYGOAX5NTQAMKQNEUFM4GUZLIBLRBYAXDW55TNLV2IJQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAQ2JQHCEGLZBK4ZC46A6UKKSYOJ67ULTXQJFHLFBD3CKLBG4GZQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSRKDNKAOH6JNZA4D32TCEVLTLWJEO6DVEYZRUTAZCUPZWMR65SQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFHJHIJTWXY2L727MXVJS7WJXCTVFEWOURYPUW6NZ3R6JY575K2A/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2FFU2A4DV2STBCK5IGER6DH5V6RP4KTS3ZRRMP3SKWBBAAIVZHQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53C7ZZFCZHOYMAIIQCP7GHZLGUIIOWGRA6HTXPUWOKM4LKYKBPA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44HTRHOENRILY3WFQMC45SWDJWCOO4CVOASUEGQ3T5236HRYE3KQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3K4IQPIU75RRYZBUFFM4RE5FVCKKVAHXEPGYSEBBQGE4GZTEBWA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBBFXPZQ5KOVYLVUTUJ3UQ36QV7KZB2OZB6B5YFNUN3JINR4VKOA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2EVE5INX56KGTUAH42LRWL42YVWB5CWJP4KQGD6FVH3KWD6JAA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AUZVOCIWEEGYP4IS6H5QOTEGICC2KS7KUV2USWNIEIWEN4OXHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK4OR7XMNNI2QLI4BKCEQECAM7IGQBSYLGQXCOZDFBCKTKUZMZIQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVIDCGUOYOBAQRUEMPOEEI64KGOHRBJ5NASSIAI53VH6A3DDBSMQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWTJG7VOM7HR7M4GKTXX4YPTUX4BXXDZGSWN5CDCFYR5KGEDUJGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/RouteGettingStarted~RouteServiceLanding.js"
            ]
        },
        "AuthGetTagNamespaceTags": {
            "name": "AuthGetTagNamespaceTags",
            "http": {
                "method": "GET",
                "requestUri": "/v1/auth/tag-namespaces/{tagNamespaceId}/tags",
                "responseCode": 200
            },
            "input": {
                "shape": "FesGetTagNamespaceTagsRequest"
            },
            "output": {
                "shape": "AuthenticatedGetTagsResponse"
            },
            "errors": [
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "InternalException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLPRVVYCI2RNEVAIAPYEKACMUMTQOSHCHOUSV6UZ23MQGCBYL2WA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEOSZYMRYS7VPHTJIM6SLSPXNCWU5MCRXYHNRFF55WSJSZPAHZKA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLPZ37JYVQDHVXR22H23FVPHPHQYS5YGEBUSYY6J5MRKGEN6X7GQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QLIMJYMCWQGRQIVAQKX3CSOQH74QLKOPZ2HOSICCCTJEREZZMJA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM75ZT7QDJFFCG7OHTSYMM45JXLNUPQCUUR34F5FQPTCFTJRXJTA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAWAPIU7LRFVUATKIARBBGHMGG2I5RK5O5FJPJTFIW2MQGQDDVGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL6OGNAI6EHZUVJRPPM3O4XSVGC56CB37LTBDOEWDOZH6VVKXLNA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHSHNJNKK4PAF3FT4T3R4HIMOHYWCTZNRZXWAU5535RFOV2BUEHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBSTMGZWDYGOAX5NTQAMKQNEUFM4GUZLIBLRBYAXDW55TNLV2IJQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAQ2JQHCEGLZBK4ZC46A6UKKSYOJ67ULTXQJFHLFBD3CKLBG4GZQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSRKDNKAOH6JNZA4D32TCEVLTLWJEO6DVEYZRUTAZCUPZWMR65SQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFHJHIJTWXY2L727MXVJS7WJXCTVFEWOURYPUW6NZ3R6JY575K2A/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2FFU2A4DV2STBCK5IGER6DH5V6RP4KTS3ZRRMP3SKWBBAAIVZHQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53C7ZZFCZHOYMAIIQCP7GHZLGUIIOWGRA6HTXPUWOKM4LKYKBPA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44HTRHOENRILY3WFQMC45SWDJWCOO4CVOASUEGQ3T5236HRYE3KQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3K4IQPIU75RRYZBUFFM4RE5FVCKKVAHXEPGYSEBBQGE4GZTEBWA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBBFXPZQ5KOVYLVUTUJ3UQ36QV7KZB2OZB6B5YFNUN3JINR4VKOA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2EVE5INX56KGTUAH42LRWL42YVWB5CWJP4KQGD6FVH3KWD6JAA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AUZVOCIWEEGYP4IS6H5QOTEGICC2KS7KUV2USWNIEIWEN4OXHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK4OR7XMNNI2QLI4BKCEQECAM7IGQBSYLGQXCOZDFBCKTKUZMZIQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVIDCGUOYOBAQRUEMPOEEI64KGOHRBJ5NASSIAI53VH6A3DDBSMQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWTJG7VOM7HR7M4GKTXX4YPTUX4BXXDZGSWN5CDCFYR5KGEDUJGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/RouteGettingStarted~RouteServiceLanding.js"
            ]
        },
        "AuthGetTagNamespaces": {
            "name": "AuthGetTagNamespaces",
            "http": {
                "method": "GET",
                "requestUri": "/v1/auth/tag-namespaces",
                "responseCode": 200
            },
            "input": {
                "shape": "GetTagNamespacesRequest"
            },
            "output": {
                "shape": "AuthenticatedGetTagNamespacesResponse"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "InternalException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLPRVVYCI2RNEVAIAPYEKACMUMTQOSHCHOUSV6UZ23MQGCBYL2WA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEOSZYMRYS7VPHTJIM6SLSPXNCWU5MCRXYHNRFF55WSJSZPAHZKA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLPZ37JYVQDHVXR22H23FVPHPHQYS5YGEBUSYY6J5MRKGEN6X7GQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QLIMJYMCWQGRQIVAQKX3CSOQH74QLKOPZ2HOSICCCTJEREZZMJA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM75ZT7QDJFFCG7OHTSYMM45JXLNUPQCUUR34F5FQPTCFTJRXJTA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAWAPIU7LRFVUATKIARBBGHMGG2I5RK5O5FJPJTFIW2MQGQDDVGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL6OGNAI6EHZUVJRPPM3O4XSVGC56CB37LTBDOEWDOZH6VVKXLNA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHSHNJNKK4PAF3FT4T3R4HIMOHYWCTZNRZXWAU5535RFOV2BUEHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBSTMGZWDYGOAX5NTQAMKQNEUFM4GUZLIBLRBYAXDW55TNLV2IJQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAQ2JQHCEGLZBK4ZC46A6UKKSYOJ67ULTXQJFHLFBD3CKLBG4GZQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSRKDNKAOH6JNZA4D32TCEVLTLWJEO6DVEYZRUTAZCUPZWMR65SQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFHJHIJTWXY2L727MXVJS7WJXCTVFEWOURYPUW6NZ3R6JY575K2A/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2FFU2A4DV2STBCK5IGER6DH5V6RP4KTS3ZRRMP3SKWBBAAIVZHQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53C7ZZFCZHOYMAIIQCP7GHZLGUIIOWGRA6HTXPUWOKM4LKYKBPA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44HTRHOENRILY3WFQMC45SWDJWCOO4CVOASUEGQ3T5236HRYE3KQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3K4IQPIU75RRYZBUFFM4RE5FVCKKVAHXEPGYSEBBQGE4GZTEBWA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBBFXPZQ5KOVYLVUTUJ3UQ36QV7KZB2OZB6B5YFNUN3JINR4VKOA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2EVE5INX56KGTUAH42LRWL42YVWB5CWJP4KQGD6FVH3KWD6JAA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AUZVOCIWEEGYP4IS6H5QOTEGICC2KS7KUV2USWNIEIWEN4OXHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK4OR7XMNNI2QLI4BKCEQECAM7IGQBSYLGQXCOZDFBCKTKUZMZIQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVIDCGUOYOBAQRUEMPOEEI64KGOHRBJ5NASSIAI53VH6A3DDBSMQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWTJG7VOM7HR7M4GKTXX4YPTUX4BXXDZGSWN5CDCFYR5KGEDUJGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/RouteGettingStarted~RouteServiceLanding.js"
            ]
        },
        "AuthGetTags": {
            "name": "AuthGetTags",
            "http": {
                "method": "GET",
                "requestUri": "/v1/auth/tags",
                "responseCode": 200
            },
            "input": {
                "shape": "GetTagsRequest"
            },
            "output": {
                "shape": "AuthenticatedGetTagsResponse"
            },
            "errors": [
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "InternalException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLPRVVYCI2RNEVAIAPYEKACMUMTQOSHCHOUSV6UZ23MQGCBYL2WA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEOSZYMRYS7VPHTJIM6SLSPXNCWU5MCRXYHNRFF55WSJSZPAHZKA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLPZ37JYVQDHVXR22H23FVPHPHQYS5YGEBUSYY6J5MRKGEN6X7GQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QLIMJYMCWQGRQIVAQKX3CSOQH74QLKOPZ2HOSICCCTJEREZZMJA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM75ZT7QDJFFCG7OHTSYMM45JXLNUPQCUUR34F5FQPTCFTJRXJTA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAWAPIU7LRFVUATKIARBBGHMGG2I5RK5O5FJPJTFIW2MQGQDDVGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL6OGNAI6EHZUVJRPPM3O4XSVGC56CB37LTBDOEWDOZH6VVKXLNA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHSHNJNKK4PAF3FT4T3R4HIMOHYWCTZNRZXWAU5535RFOV2BUEHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBSTMGZWDYGOAX5NTQAMKQNEUFM4GUZLIBLRBYAXDW55TNLV2IJQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAQ2JQHCEGLZBK4ZC46A6UKKSYOJ67ULTXQJFHLFBD3CKLBG4GZQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSRKDNKAOH6JNZA4D32TCEVLTLWJEO6DVEYZRUTAZCUPZWMR65SQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFHJHIJTWXY2L727MXVJS7WJXCTVFEWOURYPUW6NZ3R6JY575K2A/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2FFU2A4DV2STBCK5IGER6DH5V6RP4KTS3ZRRMP3SKWBBAAIVZHQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53C7ZZFCZHOYMAIIQCP7GHZLGUIIOWGRA6HTXPUWOKM4LKYKBPA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44HTRHOENRILY3WFQMC45SWDJWCOO4CVOASUEGQ3T5236HRYE3KQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3K4IQPIU75RRYZBUFFM4RE5FVCKKVAHXEPGYSEBBQGE4GZTEBWA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBBFXPZQ5KOVYLVUTUJ3UQ36QV7KZB2OZB6B5YFNUN3JINR4VKOA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2EVE5INX56KGTUAH42LRWL42YVWB5CWJP4KQGD6FVH3KWD6JAA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AUZVOCIWEEGYP4IS6H5QOTEGICC2KS7KUV2USWNIEIWEN4OXHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK4OR7XMNNI2QLI4BKCEQECAM7IGQBSYLGQXCOZDFBCKTKUZMZIQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVIDCGUOYOBAQRUEMPOEEI64KGOHRBJ5NASSIAI53VH6A3DDBSMQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWTJG7VOM7HR7M4GKTXX4YPTUX4BXXDZGSWN5CDCFYR5KGEDUJGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/RouteGettingStarted~RouteServiceLanding.js"
            ]
        },
        "AuthSearch": {
            "name": "AuthSearch",
            "http": {
                "method": "POST",
                "requestUri": "/v1/auth/search",
                "responseCode": 200
            },
            "input": {
                "shape": "FesSearchItemsRequest"
            },
            "output": {
                "shape": "SearchItemsResponse"
            },
            "errors": [
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "InternalException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLPRVVYCI2RNEVAIAPYEKACMUMTQOSHCHOUSV6UZ23MQGCBYL2WA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEOSZYMRYS7VPHTJIM6SLSPXNCWU5MCRXYHNRFF55WSJSZPAHZKA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLPZ37JYVQDHVXR22H23FVPHPHQYS5YGEBUSYY6J5MRKGEN6X7GQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QLIMJYMCWQGRQIVAQKX3CSOQH74QLKOPZ2HOSICCCTJEREZZMJA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM75ZT7QDJFFCG7OHTSYMM45JXLNUPQCUUR34F5FQPTCFTJRXJTA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAWAPIU7LRFVUATKIARBBGHMGG2I5RK5O5FJPJTFIW2MQGQDDVGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL6OGNAI6EHZUVJRPPM3O4XSVGC56CB37LTBDOEWDOZH6VVKXLNA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHSHNJNKK4PAF3FT4T3R4HIMOHYWCTZNRZXWAU5535RFOV2BUEHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBSTMGZWDYGOAX5NTQAMKQNEUFM4GUZLIBLRBYAXDW55TNLV2IJQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAQ2JQHCEGLZBK4ZC46A6UKKSYOJ67ULTXQJFHLFBD3CKLBG4GZQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSRKDNKAOH6JNZA4D32TCEVLTLWJEO6DVEYZRUTAZCUPZWMR65SQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFHJHIJTWXY2L727MXVJS7WJXCTVFEWOURYPUW6NZ3R6JY575K2A/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2FFU2A4DV2STBCK5IGER6DH5V6RP4KTS3ZRRMP3SKWBBAAIVZHQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53C7ZZFCZHOYMAIIQCP7GHZLGUIIOWGRA6HTXPUWOKM4LKYKBPA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44HTRHOENRILY3WFQMC45SWDJWCOO4CVOASUEGQ3T5236HRYE3KQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3K4IQPIU75RRYZBUFFM4RE5FVCKKVAHXEPGYSEBBQGE4GZTEBWA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBBFXPZQ5KOVYLVUTUJ3UQ36QV7KZB2OZB6B5YFNUN3JINR4VKOA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2EVE5INX56KGTUAH42LRWL42YVWB5CWJP4KQGD6FVH3KWD6JAA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AUZVOCIWEEGYP4IS6H5QOTEGICC2KS7KUV2USWNIEIWEN4OXHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK4OR7XMNNI2QLI4BKCEQECAM7IGQBSYLGQXCOZDFBCKTKUZMZIQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVIDCGUOYOBAQRUEMPOEEI64KGOHRBJ5NASSIAI53VH6A3DDBSMQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWTJG7VOM7HR7M4GKTXX4YPTUX4BXXDZGSWN5CDCFYR5KGEDUJGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/RouteGettingStarted~RouteServiceLanding.js"
            ]
        },
        "AuthUpdateDirectory": {
            "name": "AuthUpdateDirectory",
            "http": {
                "method": "PUT",
                "requestUri": "/v1/auth/directories/{directoryId}",
                "responseCode": 200
            },
            "input": {
                "shape": "FesUpdateDirectoryRequest"
            },
            "output": {
                "shape": "UpdateDirectoryResponse"
            },
            "errors": [
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "InternalException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLPRVVYCI2RNEVAIAPYEKACMUMTQOSHCHOUSV6UZ23MQGCBYL2WA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEOSZYMRYS7VPHTJIM6SLSPXNCWU5MCRXYHNRFF55WSJSZPAHZKA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLPZ37JYVQDHVXR22H23FVPHPHQYS5YGEBUSYY6J5MRKGEN6X7GQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QLIMJYMCWQGRQIVAQKX3CSOQH74QLKOPZ2HOSICCCTJEREZZMJA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM75ZT7QDJFFCG7OHTSYMM45JXLNUPQCUUR34F5FQPTCFTJRXJTA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAWAPIU7LRFVUATKIARBBGHMGG2I5RK5O5FJPJTFIW2MQGQDDVGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL6OGNAI6EHZUVJRPPM3O4XSVGC56CB37LTBDOEWDOZH6VVKXLNA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHSHNJNKK4PAF3FT4T3R4HIMOHYWCTZNRZXWAU5535RFOV2BUEHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBSTMGZWDYGOAX5NTQAMKQNEUFM4GUZLIBLRBYAXDW55TNLV2IJQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAQ2JQHCEGLZBK4ZC46A6UKKSYOJ67ULTXQJFHLFBD3CKLBG4GZQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSRKDNKAOH6JNZA4D32TCEVLTLWJEO6DVEYZRUTAZCUPZWMR65SQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFHJHIJTWXY2L727MXVJS7WJXCTVFEWOURYPUW6NZ3R6JY575K2A/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2FFU2A4DV2STBCK5IGER6DH5V6RP4KTS3ZRRMP3SKWBBAAIVZHQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53C7ZZFCZHOYMAIIQCP7GHZLGUIIOWGRA6HTXPUWOKM4LKYKBPA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44HTRHOENRILY3WFQMC45SWDJWCOO4CVOASUEGQ3T5236HRYE3KQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3K4IQPIU75RRYZBUFFM4RE5FVCKKVAHXEPGYSEBBQGE4GZTEBWA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBBFXPZQ5KOVYLVUTUJ3UQ36QV7KZB2OZB6B5YFNUN3JINR4VKOA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2EVE5INX56KGTUAH42LRWL42YVWB5CWJP4KQGD6FVH3KWD6JAA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AUZVOCIWEEGYP4IS6H5QOTEGICC2KS7KUV2USWNIEIWEN4OXHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK4OR7XMNNI2QLI4BKCEQECAM7IGQBSYLGQXCOZDFBCKTKUZMZIQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVIDCGUOYOBAQRUEMPOEEI64KGOHRBJ5NASSIAI53VH6A3DDBSMQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWTJG7VOM7HR7M4GKTXX4YPTUX4BXXDZGSWN5CDCFYR5KGEDUJGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/RouteGettingStarted~RouteServiceLanding.js"
            ]
        },
        "AuthUpdateDirectoryField": {
            "name": "AuthUpdateDirectoryField",
            "http": {
                "method": "PUT",
                "requestUri": "/v1/auth/directories/{directoryId}/fields/{directoryFieldName}",
                "responseCode": 200
            },
            "input": {
                "shape": "FesUpdateDirectoryFieldRequest"
            },
            "output": {
                "shape": "UpdateDirectoryFieldResponse"
            },
            "errors": [
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "InternalException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLPRVVYCI2RNEVAIAPYEKACMUMTQOSHCHOUSV6UZ23MQGCBYL2WA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEOSZYMRYS7VPHTJIM6SLSPXNCWU5MCRXYHNRFF55WSJSZPAHZKA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLPZ37JYVQDHVXR22H23FVPHPHQYS5YGEBUSYY6J5MRKGEN6X7GQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QLIMJYMCWQGRQIVAQKX3CSOQH74QLKOPZ2HOSICCCTJEREZZMJA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM75ZT7QDJFFCG7OHTSYMM45JXLNUPQCUUR34F5FQPTCFTJRXJTA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAWAPIU7LRFVUATKIARBBGHMGG2I5RK5O5FJPJTFIW2MQGQDDVGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL6OGNAI6EHZUVJRPPM3O4XSVGC56CB37LTBDOEWDOZH6VVKXLNA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHSHNJNKK4PAF3FT4T3R4HIMOHYWCTZNRZXWAU5535RFOV2BUEHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBSTMGZWDYGOAX5NTQAMKQNEUFM4GUZLIBLRBYAXDW55TNLV2IJQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAQ2JQHCEGLZBK4ZC46A6UKKSYOJ67ULTXQJFHLFBD3CKLBG4GZQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSRKDNKAOH6JNZA4D32TCEVLTLWJEO6DVEYZRUTAZCUPZWMR65SQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFHJHIJTWXY2L727MXVJS7WJXCTVFEWOURYPUW6NZ3R6JY575K2A/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2FFU2A4DV2STBCK5IGER6DH5V6RP4KTS3ZRRMP3SKWBBAAIVZHQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53C7ZZFCZHOYMAIIQCP7GHZLGUIIOWGRA6HTXPUWOKM4LKYKBPA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44HTRHOENRILY3WFQMC45SWDJWCOO4CVOASUEGQ3T5236HRYE3KQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3K4IQPIU75RRYZBUFFM4RE5FVCKKVAHXEPGYSEBBQGE4GZTEBWA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBBFXPZQ5KOVYLVUTUJ3UQ36QV7KZB2OZB6B5YFNUN3JINR4VKOA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2EVE5INX56KGTUAH42LRWL42YVWB5CWJP4KQGD6FVH3KWD6JAA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AUZVOCIWEEGYP4IS6H5QOTEGICC2KS7KUV2USWNIEIWEN4OXHA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK4OR7XMNNI2QLI4BKCEQECAM7IGQBSYLGQXCOZDFBCKTKUZMZIQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVIDCGUOYOBAQRUEMPOEEI64KGOHRBJ5NASSIAI53VH6A3DDBSMQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWTJG7VOM7HR7M4GKTXX4YPTUX4BXXDZGSWN5CDCFYR5KGEDUJGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/RouteGettingStarted~RouteServiceLanding.js"
            ]
        },
        "AuthUpdateItem": {
            "name": "AuthUpdateItem",
            "http": {
                "method": "PUT",
                "requestUri": "/v1/auth/items/{itemId}",
                "responseCode": 200
            },
            "input": {
                "shape": "FesUpdateItemRequest"
            },
            "output": {
                "shape": "UpdateItemResponse"
            },
            "errors": [
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "InternalException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLPRVVYCI2RNEVAIAPYEKACMUMTQOSHCHOUSV6UZ23MQGCBYL2WA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEOSZYMRYS7VPHTJIM6SLSPXNCWU5MCRXYHNRFF55WSJSZPAHZKA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLPZ37JYVQDHVXR22H23FVPHPHQYS5YGEBUSYY6J5MRKGEN6X7GQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QLIMJYMCWQGRQIVAQKX3CSOQH74QLKOPZ2HOSICCCTJEREZZMJA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM75ZT7QDJFFCG7OHTSYMM45JXLNUPQCUUR34F5FQPTCFTJRXJTA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAWAPIU7LRFVUATKIARBBGHMGG2I5RK5O5FJPJTFIW2MQGQDDVGQ/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL6OGNAI6EHZUVJRPPM3O4XSVGC56CB37LTBDOEWDOZH6VVKXLNA/RouteGettingStarted~RouteServiceLanding.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHSHNJNKK4PAF3FT4T3R4HIMOHYWCTZNRZXWAU5535RFOV2BUEHA/RouteGettingStarted~RouteServiceLanding.js",
[...]
