{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-10-20",
        "endpointPrefix": "budgets",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "AWSBudgets",
        "serviceFullName": "AWS Budgets",
        "serviceId": "Budgets",
        "signatureVersion": "v4",
        "targetPrefix": "AWSBudgetServiceGateway",
        "uid": "budgets-2016-10-20",
        "download_location": [
            "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
            "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
        ]
    },
    "operations": {
        "CreateBudget": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Budget"
                ],
                "members": {
                    "AccountId": {},
                    "Budget": {
                        "shape": "S3"
                    },
                    "NotificationsWithSubscribers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Notification",
                                "Subscribers"
                            ],
                            "members": {
                                "Notification": {
                                    "shape": "Sq"
                                },
                                "Subscribers": {
                                    "shape": "Sw"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateBudgetAction": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "NotificationType",
                    "ActionType",
                    "ActionThreshold",
                    "Definition",
                    "ExecutionRoleArn",
                    "ApprovalModel",
                    "Subscribers"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "NotificationType": {},
                    "ActionType": {},
                    "ActionThreshold": {
                        "shape": "S13"
                    },
                    "Definition": {
                        "shape": "S14"
                    },
                    "ExecutionRoleArn": {},
                    "ApprovalModel": {},
                    "Subscribers": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "ActionId"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "ActionId": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateNotification": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "Notification",
                    "Subscribers"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "Notification": {
                        "shape": "Sq"
                    },
                    "Subscribers": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateSubscriber": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "Notification",
                    "Subscriber"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "Notification": {
                        "shape": "Sq"
                    },
                    "Subscriber": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteBudget": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteBudgetAction": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "ActionId"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "ActionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "Action"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "Action": {
                        "shape": "S1y"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteNotification": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "Notification"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "Notification": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteSubscriber": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "Notification",
                    "Subscriber"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "Notification": {
                        "shape": "Sq"
                    },
                    "Subscriber": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeBudget": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Budget": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeBudgetAction": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "ActionId"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "ActionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "Action"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "Action": {
                        "shape": "S1y"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeBudgetActionHistories": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "ActionId"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "ActionId": {},
                    "TimePeriod": {
                        "shape": "Sg"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ActionHistories"
                ],
                "members": {
                    "ActionHistories": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Timestamp",
                                "Status",
                                "EventType",
                                "ActionHistoryDetails"
                            ],
                            "members": {
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "Status": {},
                                "EventType": {},
                                "ActionHistoryDetails": {
                                    "type": "structure",
                                    "required": [
                                        "Message",
                                        "Action"
                                    ],
                                    "members": {
                                        "Message": {},
                                        "Action": {
                                            "shape": "S1y"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeBudgetActionsForAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Actions"
                ],
                "members": {
                    "Actions": {
                        "shape": "S2h"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeBudgetActionsForBudget": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Actions"
                ],
                "members": {
                    "Actions": {
                        "shape": "S2h"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeBudgetNotificationsForAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BudgetNotificationsForAccount": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Notifications": {
                                    "shape": "S2p"
                                },
                                "BudgetName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "DescribeBudgetPerformanceHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "TimePeriod": {
                        "shape": "Sg"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BudgetPerformanceHistory": {
                        "type": "structure",
                        "members": {
                            "BudgetName": {},
                            "BudgetType": {},
                            "CostFilters": {
                                "shape": "Sa"
                            },
                            "CostTypes": {
                                "shape": "Sd"
                            },
                            "TimeUnit": {},
                            "BudgetedAndActualAmountsList": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "BudgetedAmount": {
                                            "shape": "S5"
                                        },
                                        "ActualAmount": {
                                            "shape": "S5"
                                        },
                                        "TimePeriod": {
                                            "shape": "Sg"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeBudgets": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Budgets": {
                        "type": "list",
                        "member": {
                            "shape": "S3"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeNotificationsForBudget": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Notifications": {
                        "shape": "S2p"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeSubscribersForNotification": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "Notification"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "Notification": {
                        "shape": "Sq"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Subscribers": {
                        "shape": "Sw"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ExecuteBudgetAction": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "ActionId",
                    "ExecutionType"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "ActionId": {},
                    "ExecutionType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "ActionId",
                    "ExecutionType"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "ActionId": {},
                    "ExecutionType": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "UpdateBudget": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "NewBudget"
                ],
                "members": {
                    "AccountId": {},
                    "NewBudget": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "UpdateBudgetAction": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "ActionId"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "ActionId": {},
                    "NotificationType": {},
                    "ActionThreshold": {
                        "shape": "S13"
                    },
                    "Definition": {
                        "shape": "S14"
                    },
                    "ExecutionRoleArn": {},
                    "ApprovalModel": {},
                    "Subscribers": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "OldAction",
                    "NewAction"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "OldAction": {
                        "shape": "S1y"
                    },
                    "NewAction": {
                        "shape": "S1y"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "UpdateNotification": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "OldNotification",
                    "NewNotification"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "OldNotification": {
                        "shape": "Sq"
                    },
                    "NewNotification": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "UpdateSubscriber": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "Notification",
                    "OldSubscriber",
                    "NewSubscriber"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "Notification": {
                        "shape": "Sq"
                    },
                    "OldSubscriber": {
                        "shape": "Sx"
                    },
                    "NewSubscriber": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "structure",
            "required": [
                "BudgetName",
                "TimeUnit",
                "BudgetType"
            ],
            "members": {
                "BudgetName": {},
                "BudgetLimit": {
                    "shape": "S5"
                },
                "PlannedBudgetLimits": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "shape": "S5"
                    }
                },
                "CostFilters": {
                    "shape": "Sa"
                },
                "CostTypes": {
                    "shape": "Sd"
                },
                "TimeUnit": {},
                "TimePeriod": {
                    "shape": "Sg"
                },
                "CalculatedSpend": {
                    "type": "structure",
                    "required": [
                        "ActualSpend"
                    ],
                    "members": {
                        "ActualSpend": {
                            "shape": "S5"
                        },
                        "ForecastedSpend": {
                            "shape": "S5"
                        }
                    }
                },
                "BudgetType": {},
                "LastUpdatedTime": {
                    "type": "timestamp"
                },
                "AutoAdjustData": {
                    "type": "structure",
                    "required": [
                        "AutoAdjustType"
                    ],
                    "members": {
                        "AutoAdjustType": {},
                        "HistoricalOptions": {
                            "type": "structure",
                            "required": [
                                "BudgetAdjustmentPeriod"
                            ],
                            "members": {
                                "BudgetAdjustmentPeriod": {
                                    "type": "integer"
                                },
                                "LookBackAvailablePeriods": {
                                    "type": "integer"
                                }
                            }
                        },
                        "LastAutoAdjustTime": {
                            "type": "timestamp"
                        }
                    }
                }
            }
        },
        "S5": {
            "type": "structure",
            "required": [
                "Amount",
                "Unit"
            ],
            "members": {
                "Amount": {},
                "Unit": {}
            }
        },
        "Sa": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {}
            }
        },
        "Sd": {
            "type": "structure",
            "members": {
                "IncludeTax": {
                    "type": "boolean"
                },
                "IncludeSubscription": {
                    "type": "boolean"
                },
                "UseBlended": {
                    "type": "boolean"
                },
                "IncludeRefund": {
                    "type": "boolean"
                },
                "IncludeCredit": {
                    "type": "boolean"
                },
                "IncludeUpfront": {
                    "type": "boolean"
                },
                "IncludeRecurring": {
                    "type": "boolean"
                },
                "IncludeOtherSubscription": {
                    "type": "boolean"
                },
                "IncludeSupport": {
                    "type": "boolean"
                },
                "IncludeDiscount": {
                    "type": "boolean"
                },
                "UseAmortized": {
                    "type": "boolean"
                }
            }
        },
        "Sg": {
            "type": "structure",
            "members": {
                "Start": {
                    "type": "timestamp"
                },
                "End": {
                    "type": "timestamp"
                }
            }
        },
        "Sq": {
            "type": "structure",
            "required": [
                "NotificationType",
                "ComparisonOperator",
                "Threshold"
            ],
            "members": {
                "NotificationType": {},
                "ComparisonOperator": {},
                "Threshold": {
                    "type": "double"
                },
                "ThresholdType": {},
                "NotificationState": {}
            }
        },
        "Sw": {
            "type": "list",
            "member": {
                "shape": "Sx"
            }
        },
        "Sx": {
            "type": "structure",
            "required": [
                "SubscriptionType",
                "Address"
            ],
            "members": {
                "SubscriptionType": {},
                "Address": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S13": {
            "type": "structure",
            "required": [
                "ActionThresholdValue",
                "ActionThresholdType"
            ],
            "members": {
                "ActionThresholdValue": {
                    "type": "double"
                },
                "ActionThresholdType": {}
            }
        },
        "S14": {
            "type": "structure",
            "members": {
                "IamActionDefinition": {
                    "type": "structure",
                    "required": [
                        "PolicyArn"
                    ],
                    "members": {
                        "PolicyArn": {},
                        "Roles": {
                            "type": "list",
                            "member": {}
                        },
                        "Groups": {
                            "type": "list",
                            "member": {}
                        },
                        "Users": {
                            "type": "list",
                            "member": {}
                        }
                    }
                },
                "ScpActionDefinition": {
                    "type": "structure",
                    "required": [
                        "PolicyId",
                        "TargetIds"
                    ],
                    "members": {
                        "PolicyId": {},
                        "TargetIds": {
                            "type": "list",
                            "member": {}
                        }
                    }
                },
                "SsmActionDefinition": {
                    "type": "structure",
                    "required": [
                        "ActionSubType",
                        "Region",
                        "InstanceIds"
                    ],
                    "members": {
                        "ActionSubType": {},
                        "Region": {},
                        "InstanceIds": {
                            "type": "list",
                            "member": {}
                        }
                    }
                }
            }
        },
        "S1y": {
            "type": "structure",
            "required": [
                "ActionId",
                "BudgetName",
                "NotificationType",
                "ActionType",
                "ActionThreshold",
                "Definition",
                "ExecutionRoleArn",
                "ApprovalModel",
                "Status",
                "Subscribers"
            ],
            "members": {
                "ActionId": {},
                "BudgetName": {},
                "NotificationType": {},
                "ActionType": {},
                "ActionThreshold": {
                    "shape": "S13"
                },
                "Definition": {
                    "shape": "S14"
                },
                "ExecutionRoleArn": {},
                "ApprovalModel": {},
                "Status": {},
                "Subscribers": {
                    "shape": "Sw"
                }
            }
        },
        "S2h": {
            "type": "list",
            "member": {
                "shape": "S1y"
            }
        },
        "S2p": {
            "type": "list",
            "member": {
                "shape": "Sq"
            }
        },
        "Sc": {
            "type": "structure",
            "members": {
                "IncludeTax": {
                    "type": "boolean"
                },
                "IncludeSubscription": {
                    "type": "boolean"
                },
                "UseBlended": {
                    "type": "boolean"
                },
                "IncludeRefund": {
                    "type": "boolean"
                },
                "IncludeCredit": {
                    "type": "boolean"
                },
                "IncludeUpfront": {
                    "type": "boolean"
                },
                "IncludeRecurring": {
                    "type": "boolean"
                },
                "IncludeOtherSubscription": {
                    "type": "boolean"
                },
                "IncludeSupport": {
                    "type": "boolean"
                },
                "IncludeDiscount": {
                    "type": "boolean"
                },
                "UseAmortized": {
                    "type": "boolean"
                }
            }
        },
        "Sf": {
            "type": "structure",
            "members": {
                "Start": {
                    "type": "timestamp"
                },
                "End": {
                    "type": "timestamp"
                }
            }
        },
        "Sl": {
            "type": "structure",
            "required": [
                "NotificationType",
                "ComparisonOperator",
                "Threshold"
            ],
            "members": {
                "NotificationType": {},
                "ComparisonOperator": {},
                "Threshold": {
                    "type": "double"
                },
                "ThresholdType": {},
                "NotificationState": {}
            }
        },
        "Sr": {
            "type": "list",
            "member": {
                "shape": "Ss"
            }
        },
        "Ss": {
            "type": "structure",
            "required": [
                "SubscriptionType",
                "Address"
            ],
            "members": {
                "SubscriptionType": {},
                "Address": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "Sy": {
            "type": "structure",
            "required": [
                "ActionThresholdValue",
                "ActionThresholdType"
            ],
            "members": {
                "ActionThresholdValue": {
                    "type": "double"
                },
                "ActionThresholdType": {}
            }
        },
        "Sz": {
            "type": "structure",
            "members": {
                "IamActionDefinition": {
                    "type": "structure",
                    "required": [
                        "PolicyArn"
                    ],
                    "members": {
                        "PolicyArn": {},
                        "Roles": {
                            "type": "list",
                            "member": {}
                        },
                        "Groups": {
                            "type": "list",
                            "member": {}
                        },
                        "Users": {
                            "type": "list",
                            "member": {}
                        }
                    }
                },
                "ScpActionDefinition": {
                    "type": "structure",
                    "required": [
                        "PolicyId",
                        "TargetIds"
                    ],
                    "members": {
                        "PolicyId": {},
                        "TargetIds": {
                            "type": "list",
                            "member": {}
                        }
                    }
                },
                "SsmActionDefinition": {
                    "type": "structure",
                    "required": [
                        "ActionSubType",
                        "Region",
                        "InstanceIds"
                    ],
                    "members": {
                        "ActionSubType": {},
                        "Region": {},
                        "InstanceIds": {
                            "type": "list",
                            "member": {}
                        }
                    }
                }
            }
        },
        "S1t": {
            "type": "structure",
            "required": [
                "ActionId",
                "BudgetName",
                "NotificationType",
                "ActionType",
                "ActionThreshold",
                "Definition",
                "ExecutionRoleArn",
                "ApprovalModel",
                "Status",
                "Subscribers"
            ],
            "members": {
                "ActionId": {},
                "BudgetName": {},
                "NotificationType": {},
                "ActionType": {},
                "ActionThreshold": {
                    "shape": "Sy"
                },
                "Definition": {
                    "shape": "Sz"
                },
                "ExecutionRoleArn": {},
                "ApprovalModel": {},
                "Status": {},
                "Subscribers": {
                    "shape": "Sr"
                }
            }
        },
        "S2c": {
            "type": "list",
            "member": {
                "shape": "S1t"
            }
        }
    }
}