{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-10-20",
        "endpointPrefix": "budgets",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "AWSBudgets",
        "serviceFullName": "AWS Budgets",
        "serviceId": "Budgets",
        "signatureVersion": "v4",
        "targetPrefix": "AWSBudgetServiceGateway",
        "uid": "budgets-2016-10-20",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHTYRHO47KSJGN6U6FF2YWN2H4T4KZ3VKYZRTETOXH5MXBM63VJA/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PK63SS66UYMKWOA5MO7XSU767C5SYM3PI572VK3XN2OGDDXE5T6A/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DEOFWQWX3UHSTYSZ6VWRNVZKITSCIZ3IJCOFQ4CLI6S2R7JHLTDA/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
        ]
    },
    "operations": {
        "CreateBudget": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Budget"
                ],
                "members": {
                    "AccountId": {},
                    "Budget": {
                        "shape": "S3"
                    },
                    "NotificationsWithSubscribers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Notification",
                                "Subscribers"
                            ],
                            "members": {
                                "Notification": {
                                    "shape": "Sq"
                                },
                                "Subscribers": {
                                    "shape": "Sw"
                                }
                            }
                        }
                    },
                    "ResourceTags": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK63SS66UYMKWOA5MO7XSU767C5SYM3PI572VK3XN2OGDDXE5T6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOFWQWX3UHSTYSZ6VWRNVZKITSCIZ3IJCOFQ4CLI6S2R7JHLTDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "CreateBudgetAction": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "NotificationType",
                    "ActionType",
                    "ActionThreshold",
                    "Definition",
                    "ExecutionRoleArn",
                    "ApprovalModel",
                    "Subscribers"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "NotificationType": {},
                    "ActionType": {},
                    "ActionThreshold": {
                        "shape": "S13"
                    },
                    "Definition": {
                        "shape": "S14"
                    },
                    "ExecutionRoleArn": {},
                    "ApprovalModel": {},
                    "Subscribers": {
                        "shape": "Sw"
                    },
                    "ResourceTags": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "ActionId"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "ActionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK63SS66UYMKWOA5MO7XSU767C5SYM3PI572VK3XN2OGDDXE5T6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOFWQWX3UHSTYSZ6VWRNVZKITSCIZ3IJCOFQ4CLI6S2R7JHLTDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "CreateNotification": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "Notification",
                    "Subscribers"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "Notification": {
                        "shape": "Sq"
                    },
                    "Subscribers": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK63SS66UYMKWOA5MO7XSU767C5SYM3PI572VK3XN2OGDDXE5T6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOFWQWX3UHSTYSZ6VWRNVZKITSCIZ3IJCOFQ4CLI6S2R7JHLTDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "CreateSubscriber": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "Notification",
                    "Subscriber"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "Notification": {
                        "shape": "Sq"
                    },
                    "Subscriber": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK63SS66UYMKWOA5MO7XSU767C5SYM3PI572VK3XN2OGDDXE5T6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOFWQWX3UHSTYSZ6VWRNVZKITSCIZ3IJCOFQ4CLI6S2R7JHLTDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "DeleteBudget": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK63SS66UYMKWOA5MO7XSU767C5SYM3PI572VK3XN2OGDDXE5T6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOFWQWX3UHSTYSZ6VWRNVZKITSCIZ3IJCOFQ4CLI6S2R7JHLTDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "DeleteBudgetAction": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "ActionId"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "ActionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "Action"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "Action": {
                        "shape": "S1y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK63SS66UYMKWOA5MO7XSU767C5SYM3PI572VK3XN2OGDDXE5T6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOFWQWX3UHSTYSZ6VWRNVZKITSCIZ3IJCOFQ4CLI6S2R7JHLTDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "DeleteNotification": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "Notification"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "Notification": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK63SS66UYMKWOA5MO7XSU767C5SYM3PI572VK3XN2OGDDXE5T6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOFWQWX3UHSTYSZ6VWRNVZKITSCIZ3IJCOFQ4CLI6S2R7JHLTDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "DeleteSubscriber": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "Notification",
                    "Subscriber"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "Notification": {
                        "shape": "Sq"
                    },
                    "Subscriber": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK63SS66UYMKWOA5MO7XSU767C5SYM3PI572VK3XN2OGDDXE5T6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOFWQWX3UHSTYSZ6VWRNVZKITSCIZ3IJCOFQ4CLI6S2R7JHLTDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "DescribeBudget": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Budget": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK63SS66UYMKWOA5MO7XSU767C5SYM3PI572VK3XN2OGDDXE5T6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOFWQWX3UHSTYSZ6VWRNVZKITSCIZ3IJCOFQ4CLI6S2R7JHLTDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "DescribeBudgetAction": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "ActionId"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "ActionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "Action"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "Action": {
                        "shape": "S1y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK63SS66UYMKWOA5MO7XSU767C5SYM3PI572VK3XN2OGDDXE5T6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOFWQWX3UHSTYSZ6VWRNVZKITSCIZ3IJCOFQ4CLI6S2R7JHLTDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "DescribeBudgetActionHistories": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "ActionId"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "ActionId": {},
                    "TimePeriod": {
                        "shape": "Sg"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ActionHistories"
                ],
                "members": {
                    "ActionHistories": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Timestamp",
                                "Status",
                                "EventType",
                                "ActionHistoryDetails"
                            ],
                            "members": {
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "Status": {},
                                "EventType": {},
                                "ActionHistoryDetails": {
                                    "type": "structure",
                                    "required": [
                                        "Message",
                                        "Action"
                                    ],
                                    "members": {
                                        "Message": {},
                                        "Action": {
                                            "shape": "S1y"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK63SS66UYMKWOA5MO7XSU767C5SYM3PI572VK3XN2OGDDXE5T6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOFWQWX3UHSTYSZ6VWRNVZKITSCIZ3IJCOFQ4CLI6S2R7JHLTDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "DescribeBudgetActionsForAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Actions"
                ],
                "members": {
                    "Actions": {
                        "shape": "S2h"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK63SS66UYMKWOA5MO7XSU767C5SYM3PI572VK3XN2OGDDXE5T6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOFWQWX3UHSTYSZ6VWRNVZKITSCIZ3IJCOFQ4CLI6S2R7JHLTDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "DescribeBudgetActionsForBudget": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Actions"
                ],
                "members": {
                    "Actions": {
                        "shape": "S2h"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK63SS66UYMKWOA5MO7XSU767C5SYM3PI572VK3XN2OGDDXE5T6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOFWQWX3UHSTYSZ6VWRNVZKITSCIZ3IJCOFQ4CLI6S2R7JHLTDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "DescribeBudgetNotificationsForAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BudgetNotificationsForAccount": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Notifications": {
                                    "shape": "S2p"
                                },
                                "BudgetName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IGWPH7AN7LLSDHNZJ54AZA7W3KF4JRGD4WATJKP4RY7DQPQESSQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIBAUOAJJA2WSQVS64ZIN75YYEMZA725HQJDKNV5R4XDSEMLQ73A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GC34ZYBE5OU5SEYCZWHKSOBFSMY35YXJ35NNG6RYH64N65APHXQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBM5UA4UDHIJHYDGT3LGTP3FRPI42UQCTXAKRNKEER5NTKFMUBQQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EJIXIFMXXSR6HLQ4NWW5H5F4EQ2WVYUM4AMQT4GPRBX3FTM2LTA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTYRHO47KSJGN6U6FF2YWN2H4T4KZ3VKYZRTETOXH5MXBM63VJA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK63SS66UYMKWOA5MO7XSU767C5SYM3PI572VK3XN2OGDDXE5T6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOFWQWX3UHSTYSZ6VWRNVZKITSCIZ3IJCOFQ4CLI6S2R7JHLTDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "DescribeBudgetPerformanceHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "TimePeriod": {
                        "shape": "Sg"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BudgetPerformanceHistory": {
                        "type": "structure",
                        "members": {
                            "BudgetName": {},
                            "BudgetType": {},
                            "CostFilters": {
                                "shape": "Sa"
                            },
                            "CostTypes": {
                                "shape": "Sd"
                            },
                            "TimeUnit": {},
                            "BudgetedAndActualAmountsList": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "BudgetedAmount": {
                                            "shape": "S5"
                                        },
                                        "ActualAmount": {
                                            "shape": "S5"
                                        },
                                        "TimePeriod": {
                                            "shape": "Sg"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK63SS66UYMKWOA5MO7XSU767C5SYM3PI572VK3XN2OGDDXE5T6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOFWQWX3UHSTYSZ6VWRNVZKITSCIZ3IJCOFQ4CLI6S2R7JHLTDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "DescribeBudgets": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Budgets": {
                        "type": "list",
                        "member": {
                            "shape": "S3"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK63SS66UYMKWOA5MO7XSU767C5SYM3PI572VK3XN2OGDDXE5T6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOFWQWX3UHSTYSZ6VWRNVZKITSCIZ3IJCOFQ4CLI6S2R7JHLTDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "DescribeNotificationsForBudget": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Notifications": {
                        "shape": "S2p"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK63SS66UYMKWOA5MO7XSU767C5SYM3PI572VK3XN2OGDDXE5T6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOFWQWX3UHSTYSZ6VWRNVZKITSCIZ3IJCOFQ4CLI6S2R7JHLTDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "DescribeSubscribersForNotification": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "Notification"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "Notification": {
                        "shape": "Sq"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Subscribers": {
                        "shape": "Sw"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK63SS66UYMKWOA5MO7XSU767C5SYM3PI572VK3XN2OGDDXE5T6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOFWQWX3UHSTYSZ6VWRNVZKITSCIZ3IJCOFQ4CLI6S2R7JHLTDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "ExecuteBudgetAction": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "ActionId",
                    "ExecutionType"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "ActionId": {},
                    "ExecutionType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "ActionId",
                    "ExecutionType"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "ActionId": {},
                    "ExecutionType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK63SS66UYMKWOA5MO7XSU767C5SYM3PI572VK3XN2OGDDXE5T6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOFWQWX3UHSTYSZ6VWRNVZKITSCIZ3IJCOFQ4CLI6S2R7JHLTDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "UpdateBudget": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "NewBudget"
                ],
                "members": {
                    "AccountId": {},
                    "NewBudget": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK63SS66UYMKWOA5MO7XSU767C5SYM3PI572VK3XN2OGDDXE5T6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOFWQWX3UHSTYSZ6VWRNVZKITSCIZ3IJCOFQ4CLI6S2R7JHLTDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "UpdateBudgetAction": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "ActionId"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "ActionId": {},
                    "NotificationType": {},
                    "ActionThreshold": {
                        "shape": "S13"
                    },
                    "Definition": {
                        "shape": "S14"
                    },
                    "ExecutionRoleArn": {},
                    "ApprovalModel": {},
                    "Subscribers": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "OldAction",
                    "NewAction"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "OldAction": {
                        "shape": "S1y"
                    },
                    "NewAction": {
                        "shape": "S1y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK63SS66UYMKWOA5MO7XSU767C5SYM3PI572VK3XN2OGDDXE5T6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOFWQWX3UHSTYSZ6VWRNVZKITSCIZ3IJCOFQ4CLI6S2R7JHLTDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "UpdateNotification": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "OldNotification",
                    "NewNotification"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "OldNotification": {
                        "shape": "Sq"
                    },
                    "NewNotification": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK63SS66UYMKWOA5MO7XSU767C5SYM3PI572VK3XN2OGDDXE5T6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOFWQWX3UHSTYSZ6VWRNVZKITSCIZ3IJCOFQ4CLI6S2R7JHLTDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "UpdateSubscriber": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "Notification",
                    "OldSubscriber",
                    "NewSubscriber"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "Notification": {
                        "shape": "Sq"
                    },
                    "OldSubscriber": {
                        "shape": "Sx"
                    },
                    "NewSubscriber": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK63SS66UYMKWOA5MO7XSU767C5SYM3PI572VK3XN2OGDDXE5T6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOFWQWX3UHSTYSZ6VWRNVZKITSCIZ3IJCOFQ4CLI6S2R7JHLTDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceTags": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACRRPBHB72GPGWGZGHBAA7BFAG6HKQKEF2MXCNRL4FPIJU6YDUDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
[...]
