{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-10-20",
        "endpointPrefix": "budgets",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "AWSBudgets",
        "serviceFullName": "AWS Budgets",
        "serviceId": "Budgets",
        "signatureVersion": "v4",
        "targetPrefix": "AWSBudgetServiceGateway",
        "uid": "budgets-2016-10-20",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ACRRPBHB72GPGWGZGHBAA7BFAG6HKQKEF2MXCNRL4FPIJU6YDUDA/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateBudget": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Budget"
                ],
                "members": {
                    "AccountId": {},
                    "Budget": {
                        "shape": "S3"
                    },
                    "NotificationsWithSubscribers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Notification",
                                "Subscribers"
                            ],
                            "members": {
                                "Notification": {
                                    "shape": "Sq"
                                },
                                "Subscribers": {
                                    "shape": "Sw"
                                }
                            }
                        }
                    },
                    "ResourceTags": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACRRPBHB72GPGWGZGHBAA7BFAG6HKQKEF2MXCNRL4FPIJU6YDUDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateBudgetAction": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "NotificationType",
                    "ActionType",
                    "ActionThreshold",
                    "Definition",
                    "ExecutionRoleArn",
                    "ApprovalModel",
                    "Subscribers"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "NotificationType": {},
                    "ActionType": {},
                    "ActionThreshold": {
                        "shape": "S13"
                    },
                    "Definition": {
                        "shape": "S14"
                    },
                    "ExecutionRoleArn": {},
                    "ApprovalModel": {},
                    "Subscribers": {
                        "shape": "Sw"
                    },
                    "ResourceTags": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "ActionId"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "ActionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACRRPBHB72GPGWGZGHBAA7BFAG6HKQKEF2MXCNRL4FPIJU6YDUDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateNotification": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "Notification",
                    "Subscribers"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "Notification": {
                        "shape": "Sq"
                    },
                    "Subscribers": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACRRPBHB72GPGWGZGHBAA7BFAG6HKQKEF2MXCNRL4FPIJU6YDUDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateSubscriber": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "Notification",
                    "Subscriber"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "Notification": {
                        "shape": "Sq"
                    },
                    "Subscriber": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACRRPBHB72GPGWGZGHBAA7BFAG6HKQKEF2MXCNRL4FPIJU6YDUDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteBudget": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACRRPBHB72GPGWGZGHBAA7BFAG6HKQKEF2MXCNRL4FPIJU6YDUDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteBudgetAction": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "ActionId"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "ActionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "Action"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "Action": {
                        "shape": "S1y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACRRPBHB72GPGWGZGHBAA7BFAG6HKQKEF2MXCNRL4FPIJU6YDUDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteNotification": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "Notification"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "Notification": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACRRPBHB72GPGWGZGHBAA7BFAG6HKQKEF2MXCNRL4FPIJU6YDUDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteSubscriber": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "Notification",
                    "Subscriber"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "Notification": {
                        "shape": "Sq"
                    },
                    "Subscriber": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACRRPBHB72GPGWGZGHBAA7BFAG6HKQKEF2MXCNRL4FPIJU6YDUDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeBudget": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Budget": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACRRPBHB72GPGWGZGHBAA7BFAG6HKQKEF2MXCNRL4FPIJU6YDUDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeBudgetAction": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "ActionId"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "ActionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "Action"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "Action": {
                        "shape": "S1y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACRRPBHB72GPGWGZGHBAA7BFAG6HKQKEF2MXCNRL4FPIJU6YDUDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeBudgetActionHistories": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "ActionId"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "ActionId": {},
                    "TimePeriod": {
                        "shape": "Sg"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ActionHistories"
                ],
                "members": {
                    "ActionHistories": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Timestamp",
                                "Status",
                                "EventType",
                                "ActionHistoryDetails"
                            ],
                            "members": {
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "Status": {},
                                "EventType": {},
                                "ActionHistoryDetails": {
                                    "type": "structure",
                                    "required": [
                                        "Message",
                                        "Action"
                                    ],
                                    "members": {
                                        "Message": {},
                                        "Action": {
                                            "shape": "S1y"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACRRPBHB72GPGWGZGHBAA7BFAG6HKQKEF2MXCNRL4FPIJU6YDUDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeBudgetActionsForAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Actions"
                ],
                "members": {
                    "Actions": {
                        "shape": "S2h"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACRRPBHB72GPGWGZGHBAA7BFAG6HKQKEF2MXCNRL4FPIJU6YDUDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeBudgetActionsForBudget": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Actions"
                ],
                "members": {
                    "Actions": {
                        "shape": "S2h"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACRRPBHB72GPGWGZGHBAA7BFAG6HKQKEF2MXCNRL4FPIJU6YDUDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeBudgetNotificationsForAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BudgetNotificationsForAccount": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Notifications": {
                                    "shape": "S2p"
                                },
                                "BudgetName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLOWXHZH245SZLDA2CSXFDDFN5UYZE7JFR6B3T7DYQXVY67BTOMQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFQ5VVVC4CKZX44S3JDL3LIKR6YC5XW7KMIDSLFHQBECFL74P2A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NKNGSRUZ6MCCS5WAWQCY5IBS24QX5BTVP7HIQ55I4ZXJUS32QYQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACRRPBHB72GPGWGZGHBAA7BFAG6HKQKEF2MXCNRL4FPIJU6YDUDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeBudgetPerformanceHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "TimePeriod": {
                        "shape": "Sg"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BudgetPerformanceHistory": {
                        "type": "structure",
                        "members": {
                            "BudgetName": {},
                            "BudgetType": {},
                            "CostFilters": {
                                "shape": "Sa"
                            },
                            "CostTypes": {
                                "shape": "Sd"
                            },
                            "TimeUnit": {},
                            "BudgetedAndActualAmountsList": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "BudgetedAmount": {
                                            "shape": "S5"
                                        },
                                        "ActualAmount": {
                                            "shape": "S5"
                                        },
                                        "TimePeriod": {
                                            "shape": "Sg"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACRRPBHB72GPGWGZGHBAA7BFAG6HKQKEF2MXCNRL4FPIJU6YDUDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeBudgets": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Budgets": {
                        "type": "list",
                        "member": {
                            "shape": "S3"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACRRPBHB72GPGWGZGHBAA7BFAG6HKQKEF2MXCNRL4FPIJU6YDUDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeNotificationsForBudget": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Notifications": {
                        "shape": "S2p"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACRRPBHB72GPGWGZGHBAA7BFAG6HKQKEF2MXCNRL4FPIJU6YDUDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeSubscribersForNotification": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "Notification"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "Notification": {
                        "shape": "Sq"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Subscribers": {
                        "shape": "Sw"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACRRPBHB72GPGWGZGHBAA7BFAG6HKQKEF2MXCNRL4FPIJU6YDUDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ExecuteBudgetAction": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "ActionId",
                    "ExecutionType"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "ActionId": {},
                    "ExecutionType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "ActionId",
                    "ExecutionType"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "ActionId": {},
                    "ExecutionType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACRRPBHB72GPGWGZGHBAA7BFAG6HKQKEF2MXCNRL4FPIJU6YDUDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateBudget": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "NewBudget"
                ],
                "members": {
                    "AccountId": {},
                    "NewBudget": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACRRPBHB72GPGWGZGHBAA7BFAG6HKQKEF2MXCNRL4FPIJU6YDUDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateBudgetAction": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "ActionId"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "ActionId": {},
                    "NotificationType": {},
                    "ActionThreshold": {
                        "shape": "S13"
                    },
                    "Definition": {
                        "shape": "S14"
                    },
                    "ExecutionRoleArn": {},
                    "ApprovalModel": {},
                    "Subscribers": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "OldAction",
                    "NewAction"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "OldAction": {
                        "shape": "S1y"
                    },
                    "NewAction": {
                        "shape": "S1y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACRRPBHB72GPGWGZGHBAA7BFAG6HKQKEF2MXCNRL4FPIJU6YDUDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateNotification": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "OldNotification",
                    "NewNotification"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "OldNotification": {
                        "shape": "Sq"
                    },
                    "NewNotification": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACRRPBHB72GPGWGZGHBAA7BFAG6HKQKEF2MXCNRL4FPIJU6YDUDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateSubscriber": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BudgetName",
                    "Notification",
                    "OldSubscriber",
                    "NewSubscriber"
                ],
                "members": {
                    "AccountId": {},
                    "BudgetName": {},
                    "Notification": {
                        "shape": "Sq"
                    },
                    "OldSubscriber": {
                        "shape": "Sx"
                    },
                    "NewSubscriber": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACRRPBHB72GPGWGZGHBAA7BFAG6HKQKEF2MXCNRL4FPIJU6YDUDA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceTags": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
[...]
