{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-06-05",
        "endpointPrefix": "amazonbedrockagentbuildtimelambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Bedrock Agent BuildTime Lambda",
        "serviceId": "Build Agent Bedrock",
        "signatureVersion": "v4",
        "signingName": "bedrock",
        "uid": "build-agent-bedrock-2023-06-05",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
        ]
    },
    "operations": {
        "AssociateAgentKnowledgeBase": {
            "http": {
                "method": "PUT",
                "requestUri": "/agents/{agentId}/agentversions/DRAFT/knowledgebases/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "knowledgeBaseId",
                    "description"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "knowledgeBaseId": {},
                    "description": {},
                    "knowledgeBaseState": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentKnowledgeBase"
                ],
                "members": {
                    "agentKnowledgeBase": {
                        "shape": "S6"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "CreateAgent": {
            "http": {
                "method": "PUT",
                "requestUri": "/agents/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentName",
                    "agentResourceRoleArn"
                ],
                "members": {
                    "agentName": {},
                    "instruction": {
                        "shape": "Sb"
                    },
                    "foundationalModel": {},
                    "description": {},
                    "idleSessionTTLInSeconds": {
                        "type": "integer"
                    },
                    "agentResourceRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agent"
                ],
                "members": {
                    "agent": {
                        "shape": "Sg"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "CreateAgentActionGroup": {
            "http": {
                "method": "PUT",
                "requestUri": "/agents/{agentId}/agentversions/DRAFT/actiongroups/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "actionGroupName"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "actionGroupName": {},
                    "description": {},
                    "parentActionGroupSignature": {},
                    "actionGroupExecutor": {
                        "shape": "Sq"
                    },
                    "apiSchema": {
                        "shape": "Ss"
                    },
                    "actionGroupState": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentActionGroup"
                ],
                "members": {
                    "agentActionGroup": {
                        "shape": "Sz"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "CreateAgentAlias": {
            "http": {
                "method": "PUT",
                "requestUri": "/agents/{agentId}/agentaliases/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentAliasName"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "agentAliasName": {},
                    "description": {},
                    "routingConfiguration": {
                        "shape": "S11"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentAlias"
                ],
                "members": {
                    "agentAlias": {
                        "shape": "S14"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "CreateAgentDraftSnapshot": {
            "http": {
                "requestUri": "/agents/{agentId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentStatus",
                    "agentVersion",
                    "savedAt"
                ],
                "members": {
                    "agentId": {},
                    "agentStatus": {},
                    "agentVersion": {},
                    "savedAt": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "CreateDataSource": {
            "http": {
                "method": "PUT",
                "requestUri": "/knowledgebases/{knowledgeBaseId}/datasources/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "knowledgeBaseId",
                    "name",
                    "dataSourceConfiguration"
                ],
                "members": {
                    "knowledgeBaseId": {
                        "location": "uri",
                        "locationName": "knowledgeBaseId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "name": {},
                    "description": {},
                    "dataSourceConfiguration": {
                        "shape": "S1d"
                    },
                    "serverSideEncryptionConfiguration": {
                        "shape": "S1j"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dataSource"
                ],
                "members": {
                    "dataSource": {
                        "shape": "S1m"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "CreateKnowledgeBase": {
            "http": {
                "method": "PUT",
                "requestUri": "/knowledgebases/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "roleArn",
                    "knowledgeBaseConfiguration",
                    "storageConfiguration"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "name": {},
                    "description": {},
                    "roleArn": {},
                    "knowledgeBaseConfiguration": {
                        "shape": "S1q"
                    },
                    "storageConfiguration": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "knowledgeBase"
                ],
                "members": {
                    "knowledgeBase": {
                        "shape": "S2b"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "DeleteDataSource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "knowledgeBaseId",
                    "dataSourceId"
                ],
                "members": {
                    "knowledgeBaseId": {
                        "location": "uri",
                        "locationName": "knowledgeBaseId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "DeleteKnowledgeBase": {
            "http": {
                "method": "DELETE",
                "requestUri": "/knowledgebases/{knowledgeBaseId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "knowledgeBaseId"
                ],
                "members": {
                    "knowledgeBaseId": {
                        "location": "uri",
                        "locationName": "knowledgeBaseId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "knowledgeBaseId",
                    "status"
                ],
                "members": {
                    "knowledgeBaseId": {},
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "DisassociateAgentKnowledgeBase": {
            "http": {
                "method": "DELETE",
                "requestUri": "/agents/{agentId}/agentversions/DRAFT/knowledgebases/{knowledgeBaseId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "knowledgeBaseId"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "knowledgeBaseId": {
                        "location": "uri",
                        "locationName": "knowledgeBaseId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentId",
                    "knowledgeBaseId"
                ],
                "members": {
                    "agentId": {},
                    "knowledgeBaseId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "GetAgent": {
            "http": {
                "method": "GET",
                "requestUri": "/agents/{agentId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agent"
                ],
                "members": {
                    "agent": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "GetAgentActionGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/agents/{agentId}/agentversions/{agentVersion}/actiongroups/{actionGroupId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentVersion",
                    "actionGroupId"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "agentVersion": {
                        "location": "uri",
                        "locationName": "agentVersion"
                    },
                    "actionGroupId": {
                        "location": "uri",
                        "locationName": "actionGroupId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentActionGroup"
                ],
                "members": {
                    "agentActionGroup": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "GetAgentAlias": {
            "http": {
                "method": "GET",
                "requestUri": "/agents/{agentId}/agentaliases/{agentAliasId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentAliasId"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "agentAliasId": {
                        "location": "uri",
                        "locationName": "agentAliasId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentAlias"
                ],
                "members": {
                    "agentAlias": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "GetAgentKnowledgeBase": {
            "http": {
                "method": "GET",
                "requestUri": "/agents/{agentId}/agentversions/{agentVersion}/knowledgebases/{knowledgeBaseId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentVersion",
                    "knowledgeBaseId"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "agentVersion": {
                        "location": "uri",
                        "locationName": "agentVersion"
                    },
                    "knowledgeBaseId": {
                        "location": "uri",
                        "locationName": "knowledgeBaseId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentKnowledgeBase"
                ],
                "members": {
                    "agentKnowledgeBase": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "GetAgentVersion": {
            "http": {
                "method": "GET",
                "requestUri": "/agents/{agentId}/agentversions/{agentVersion}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentVersion"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "agentVersion": {
                        "location": "uri",
                        "locationName": "agentVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentVersion"
                ],
                "members": {
                    "agentVersion": {
                        "type": "structure",
                        "required": [
                            "agentId",
                            "agentName",
                            "agentArn",
                            "agentVersion",
                            "agentStatus",
                            "idleSessionTTLInSeconds",
                            "agentResourceRoleArn",
                            "createdAt",
                            "updatedAt"
                        ],
                        "members": {
                            "agentId": {},
                            "agentName": {},
                            "agentArn": {},
                            "agentVersion": {},
                            "instruction": {
                                "shape": "Sb"
                            },
                            "agentStatus": {},
                            "foundationalModel": {},
                            "description": {},
                            "idleSessionTTLInSeconds": {
                                "type": "integer"
                            },
                            "agentResourceRoleArn": {},
                            "createdAt": {
                                "shape": "S8"
                            },
                            "updatedAt": {
                                "shape": "S8"
                            },
                            "failureReasons": {
                                "shape": "Sk"
                            },
                            "recommendedActions": {
                                "shape": "Sm"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "GetDataSource": {
            "http": {
                "method": "GET",
                "requestUri": "/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "knowledgeBaseId",
                    "dataSourceId"
                ],
                "members": {
                    "knowledgeBaseId": {
                        "location": "uri",
                        "locationName": "knowledgeBaseId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dataSource"
                ],
                "members": {
                    "dataSource": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "GetIngestionJob": {
            "http": {
                "method": "GET",
                "requestUri": "/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}/ingestionjobs/{ingestionJobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "knowledgeBaseId",
                    "dataSourceId",
                    "ingestionJobId"
                ],
                "members": {
                    "knowledgeBaseId": {
                        "location": "uri",
                        "locationName": "knowledgeBaseId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    },
                    "ingestionJobId": {
                        "location": "uri",
                        "locationName": "ingestionJobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ingestionJob"
                ],
                "members": {
                    "ingestionJob": {
                        "shape": "S2z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "GetKnowledgeBase": {
            "http": {
                "method": "GET",
                "requestUri": "/knowledgebases/{knowledgeBaseId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "knowledgeBaseId"
                ],
                "members": {
                    "knowledgeBaseId": {
                        "location": "uri",
                        "locationName": "knowledgeBaseId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "knowledgeBase"
                ],
                "members": {
                    "knowledgeBase": {
                        "shape": "S2b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "ListAgentActionGroups": {
            "http": {
                "requestUri": "/agents/{agentId}/agentversions/{agentVersion}/actiongroups/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentVersion"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "agentVersion": {
                        "location": "uri",
                        "locationName": "agentVersion"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "actionGroupSummaries"
                ],
                "members": {
                    "actionGroupSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "actionGroupId": {},
                                "actionGroupName": {},
                                "actionGroupState": {},
                                "description": {},
                                "updatedAt": {
                                    "shape": "S8"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "ListAgentAliases": {
            "http": {
                "requestUri": "/agents/{agentId}/agentaliases/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentAliasSummaries"
                ],
                "members": {
                    "agentAliasSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agentAliasId": {},
                                "agentAliasName": {},
                                "description": {},
                                "routingConfiguration": {
                                    "shape": "S11"
                                },
                                "agentAliasStatus": {},
                                "createdAt": {
                                    "shape": "S8"
                                },
                                "updatedAt": {
                                    "shape": "S8"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "ListAgentKnowledgeBases": {
            "http": {
                "requestUri": "/agents/{agentId}/agentversions/{agentVersion}/knowledgebases/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentVersion"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "agentVersion": {
                        "location": "uri",
                        "locationName": "agentVersion"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentKnowledgeBaseSummaries"
                ],
                "members": {
                    "agentKnowledgeBaseSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "knowledgeBaseId": {},
                                "description": {},
                                "knowledgeBaseState": {},
                                "updatedAt": {
                                    "shape": "S8"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "ListAgentVersions": {
            "http": {
                "requestUri": "/agents/{agentId}/agentversions/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentVersionSummaries"
                ],
                "members": {
                    "agentVersionSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agentName": {},
                                "agentStatus": {},
                                "agentVersion": {},
                                "createdAt": {
                                    "shape": "S8"
                                },
                                "updatedAt": {
                                    "shape": "S8"
                                },
                                "description": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
[...]
