{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-10-31",
        "endpointPrefix": "builderid",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Builder ID Service",
        "serviceId": "BuilderId",
        "signatureVersion": "v4",
        "signingName": "builderid",
        "uid": "builderid-2020-10-31",
        "download_location": [
            "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js"
        ]
    },
    "operations": {
        "AssociateConnectionRole": {
            "http": {
                "method": "PUT",
                "requestUri": "/connection-providers/{providerId}/roles/{roleArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "providerId",
                    "roleArn"
                ],
                "members": {
                    "providerId": {
                        "location": "uri",
                        "locationName": "providerId"
                    },
                    "roleArn": {
                        "location": "uri",
                        "locationName": "roleArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js"
            ]
        },
        "CreateConnectionConsumer": {
            "http": {
                "requestUri": "/connection-consumers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountIdentifer"
                ],
                "members": {
                    "accountIdentifer": {
                        "type": "structure",
                        "members": {
                            "rootUserEmail": {},
                            "accountId": {}
                        },
                        "union": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "consumerId",
                    "expiresAt"
                ],
                "members": {
                    "consumerId": {},
                    "expiresAt": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js"
            ]
        },
        "CreateConnectionProvider": {
            "http": {
                "requestUri": "/connection-providers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consumerId"
                ],
                "members": {
                    "consumerId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "providerId",
                    "user"
                ],
                "members": {
                    "providerId": {},
                    "user": {
                        "type": "structure",
                        "members": {
                            "userId": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js"
            ]
        },
        "DeleteConnectionConsumer": {
            "http": {
                "method": "DELETE",
                "requestUri": "/connection-consumers/{consumerId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consumerId"
                ],
                "members": {
                    "consumerId": {
                        "location": "uri",
                        "locationName": "consumerId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js"
            ]
        },
        "DeleteConnectionProvider": {
            "http": {
                "method": "DELETE",
                "requestUri": "/connection-providers/{providerId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "providerId"
                ],
                "members": {
                    "providerId": {
                        "location": "uri",
                        "locationName": "providerId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js"
            ]
        },
        "DisassociateConnectionRole": {
            "http": {
                "method": "DELETE",
                "requestUri": "/connection-providers/{providerId}/roles/{roleArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "providerId",
                    "roleArn"
                ],
                "members": {
                    "providerId": {
                        "location": "uri",
                        "locationName": "providerId"
                    },
                    "roleArn": {
                        "location": "uri",
                        "locationName": "roleArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js"
            ]
        },
        "GetConnectionConsumer": {
            "http": {
                "method": "GET",
                "requestUri": "/connection-consumers/{consumerId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consumerId"
                ],
                "members": {
                    "consumerId": {
                        "location": "uri",
                        "locationName": "consumerId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "consumerId",
                    "awsAccountId",
                    "createdAt",
                    "updatedAt",
                    "connectionStatus"
                ],
                "members": {
                    "consumerId": {},
                    "awsAccountId": {},
                    "createdAt": {
                        "shape": "Sb"
                    },
                    "updatedAt": {
                        "shape": "Sb"
                    },
                    "connectionStatus": {},
                    "expiresAt": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js"
            ]
        },
        "GetConnectionConsumerDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/connection-consumers/{consumerId}/details",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consumerId"
                ],
                "members": {
                    "consumerId": {
                        "location": "uri",
                        "locationName": "consumerId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "consumerId",
                    "user",
                    "connectionStatus",
                    "createdAt",
                    "updatedAt"
                ],
                "members": {
                    "consumerId": {},
                    "user": {
                        "type": "structure",
                        "members": {
                            "userId": {},
                            "email": {},
                            "displayName": {}
                        }
                    },
                    "connectionStatus": {},
                    "createdAt": {
                        "shape": "Sb"
                    },
                    "updatedAt": {
                        "shape": "Sb"
                    },
                    "expiresAt": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js"
            ]
        },
        "GetConnectionProvider": {
            "http": {
                "method": "GET",
                "requestUri": "/connection-providers/{providerId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "providerId"
                ],
                "members": {
                    "providerId": {
                        "location": "uri",
                        "locationName": "providerId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "providerId",
                    "connectionStatus",
                    "consumerId",
                    "createdAt",
                    "updatedAt"
                ],
                "members": {
                    "providerId": {},
                    "connectionStatus": {},
                    "consumerId": {},
                    "createdAt": {
                        "shape": "Sb"
                    },
                    "updatedAt": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js"
            ]
        },
        "ListConnectionConsumers": {
            "http": {
                "method": "GET",
                "requestUri": "/connection-consumers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "connectionStatus": {
                        "location": "querystring",
                        "locationName": "connectionStatus",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "consumerSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "consumerId",
                                "awsAccountId",
                                "createdAt",
                                "updatedAt",
                                "connectionStatus"
                            ],
                            "members": {
                                "consumerId": {},
                                "awsAccountId": {},
                                "createdAt": {
                                    "shape": "Sb"
                                },
                                "updatedAt": {
                                    "shape": "Sb"
                                },
                                "connectionStatus": {},
                                "expiresAt": {
                                    "shape": "Sb"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js"
            ]
        },
        "ListConnectionProviders": {
            "http": {
                "method": "GET",
                "requestUri": "/connection-providers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "connectionStatus": {
                        "location": "querystring",
                        "locationName": "connectionStatus",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "providerSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "providerId",
                                "connectionStatus"
                            ],
                            "members": {
                                "providerId": {},
                                "connectionStatus": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js"
            ]
        },
        "ListConnectionRoles": {
            "http": {
                "method": "GET",
                "requestUri": "/connection-providers/{providerId}/roles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "providerId"
                ],
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "providerId": {
                        "location": "uri",
                        "locationName": "providerId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "roleSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "providerId",
                                "roleArn"
                            ],
                            "members": {
                                "providerId": {},
                                "roleArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js"
            ]
        }
    },
    "shapes": {
        "Sb": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        }
    }
}