{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-10-31",
        "endpointPrefix": "builderid",
        "jsonVersion": "1.0",
        "protocol": "json",
        "protocols": [
            "json"
        ],
        "serviceFullName": "Builder ID Service",
        "serviceId": "BuilderId",
        "signatureVersion": "v4",
        "signingName": "builderid",
        "targetPrefix": "BuilderId",
        "uid": "builderid-2020-10-31",
        "download_location": [
            "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1714760957319/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1715209927354/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1715293917770/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1715613614951/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1715627347504/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1715727209370/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1715876260238/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1716228817000/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1716313223020/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1717108711802/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NT4XYILRRAOABSNZOJV6Z6YC6PTIRMQCHYIKOLC4DCCUFMQ7CEQA/vendors.js"
        ]
    },
    "operations": {
        "AssociateAccountAccessConnectionRole": {
            "input": {
                "type": "structure",
                "required": [
                    "connectionId",
                    "roleArn"
                ],
                "members": {
                    "connectionId": {},
                    "roleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714760957319/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715209927354/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715293917770/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715613614951/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715627347504/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715727209370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715876260238/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716228817000/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716313223020/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717108711802/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4XYILRRAOABSNZOJV6Z6YC6PTIRMQCHYIKOLC4DCCUFMQ7CEQA/vendors.js"
            ]
        },
        "CreateAccountAccessConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "accessorId"
                ],
                "members": {
                    "accessorId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "connectionId",
                    "user"
                ],
                "members": {
                    "connectionId": {},
                    "user": {
                        "type": "structure",
                        "members": {
                            "userId": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714760957319/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715209927354/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715293917770/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715613614951/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715627347504/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715727209370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715876260238/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716228817000/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716313223020/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717108711802/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4XYILRRAOABSNZOJV6Z6YC6PTIRMQCHYIKOLC4DCCUFMQ7CEQA/vendors.js"
            ]
        },
        "CreateAccountAccessor": {
            "input": {
                "type": "structure",
                "required": [
                    "accountIdentifier"
                ],
                "members": {
                    "accountIdentifier": {
                        "type": "structure",
                        "members": {
                            "rootUserEmail": {
                                "shape": "Sc"
                            },
                            "awsAccountId": {}
                        },
                        "union": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accessorId",
                    "expiresAt"
                ],
                "members": {
                    "accessorId": {},
                    "expiresAt": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714760957319/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715209927354/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715293917770/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715613614951/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715627347504/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715727209370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715876260238/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716228817000/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716313223020/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717108711802/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4XYILRRAOABSNZOJV6Z6YC6PTIRMQCHYIKOLC4DCCUFMQ7CEQA/vendors.js"
            ]
        },
        "DeleteAccountAccessConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "connectionId"
                ],
                "members": {
                    "connectionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714760957319/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715209927354/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715293917770/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715613614951/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715627347504/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715727209370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715876260238/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716228817000/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716313223020/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717108711802/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4XYILRRAOABSNZOJV6Z6YC6PTIRMQCHYIKOLC4DCCUFMQ7CEQA/vendors.js"
            ]
        },
        "DeleteAccountAccessor": {
            "input": {
                "type": "structure",
                "required": [
                    "accessorId"
                ],
                "members": {
                    "accessorId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714760957319/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715209927354/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715293917770/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715613614951/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715627347504/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715727209370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715876260238/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716228817000/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716313223020/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717108711802/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4XYILRRAOABSNZOJV6Z6YC6PTIRMQCHYIKOLC4DCCUFMQ7CEQA/vendors.js"
            ]
        },
        "DisassociateAccountAccessConnectionRole": {
            "input": {
                "type": "structure",
                "required": [
                    "connectionId",
                    "roleArn"
                ],
                "members": {
                    "connectionId": {},
                    "roleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714760957319/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715209927354/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715293917770/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715613614951/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715627347504/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715727209370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715876260238/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716228817000/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716313223020/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717108711802/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4XYILRRAOABSNZOJV6Z6YC6PTIRMQCHYIKOLC4DCCUFMQ7CEQA/vendors.js"
            ]
        },
        "GetAccountAccessConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "connectionId"
                ],
                "members": {
                    "connectionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "connectionId",
                    "connectionStatus",
                    "accessorId",
                    "createdAt",
                    "updatedAt"
                ],
                "members": {
                    "connectionId": {},
                    "connectionStatus": {},
                    "accessorId": {},
                    "createdAt": {
                        "shape": "Sf"
                    },
                    "updatedAt": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714760957319/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715209927354/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715293917770/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715613614951/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715627347504/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715727209370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715876260238/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716228817000/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716313223020/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717108711802/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4XYILRRAOABSNZOJV6Z6YC6PTIRMQCHYIKOLC4DCCUFMQ7CEQA/vendors.js"
            ]
        },
        "GetAccountAccessor": {
            "input": {
                "type": "structure",
                "required": [
                    "accessorId"
                ],
                "members": {
                    "accessorId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accessorId",
                    "accountIdentifier",
                    "createdAt",
                    "updatedAt",
                    "connectionStatus"
                ],
                "members": {
                    "accessorId": {},
                    "accountIdentifier": {
                        "shape": "Sr"
                    },
                    "createdAt": {
                        "shape": "Sf"
                    },
                    "updatedAt": {
                        "shape": "Sf"
                    },
                    "connectionStatus": {},
                    "expiresAt": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714760957319/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715209927354/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715293917770/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715613614951/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715627347504/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715727209370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715876260238/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716228817000/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716313223020/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717108711802/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4XYILRRAOABSNZOJV6Z6YC6PTIRMQCHYIKOLC4DCCUFMQ7CEQA/vendors.js"
            ]
        },
        "GetAccountAccessorDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "accessorId"
                ],
                "members": {
                    "accessorId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accessorId",
                    "user",
                    "connectionStatus",
                    "createdAt",
                    "updatedAt"
                ],
                "members": {
                    "accessorId": {},
                    "user": {
                        "type": "structure",
                        "members": {
                            "userId": {},
                            "email": {},
                            "displayName": {}
                        },
                        "sensitive": true
                    },
                    "connectionStatus": {},
                    "createdAt": {
                        "shape": "Sf"
                    },
                    "updatedAt": {
                        "shape": "Sf"
                    },
                    "expiresAt": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714760957319/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715209927354/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715293917770/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715613614951/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715627347504/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715727209370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715876260238/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716228817000/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716313223020/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717108711802/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4XYILRRAOABSNZOJV6Z6YC6PTIRMQCHYIKOLC4DCCUFMQ7CEQA/vendors.js"
            ]
        },
        "ListAccountAccessConnectionRoles": {
            "input": {
                "type": "structure",
                "required": [
                    "connectionId"
                ],
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "connectionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "roleSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "connectionId",
                                "roleArn"
                            ],
                            "members": {
                                "connectionId": {},
                                "roleArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714760957319/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715209927354/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715293917770/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715613614951/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715627347504/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715727209370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715876260238/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716228817000/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716313223020/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717108711802/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4XYILRRAOABSNZOJV6Z6YC6PTIRMQCHYIKOLC4DCCUFMQ7CEQA/vendors.js"
            ]
        },
        "ListAccountAccessConnections": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "connectionStatus": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "connectionSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "connectionId",
                                "connectionStatus"
                            ],
                            "members": {
                                "connectionId": {},
                                "connectionStatus": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714760957319/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715209927354/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715293917770/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715613614951/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715627347504/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715727209370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715876260238/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716228817000/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716313223020/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717108711802/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4XYILRRAOABSNZOJV6Z6YC6PTIRMQCHYIKOLC4DCCUFMQ7CEQA/vendors.js"
            ]
        },
        "ListAccountAccessors": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "connectionStatus": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "accessorSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "accessorId",
                                "accountIdentifier",
                                "createdAt",
                                "updatedAt",
                                "connectionStatus"
                            ],
                            "members": {
                                "accessorId": {},
                                "accountIdentifier": {
                                    "shape": "Sr"
                                },
                                "createdAt": {
                                    "shape": "Sf"
                                },
                                "updatedAt": {
                                    "shape": "Sf"
                                },
                                "connectionStatus": {},
                                "expiresAt": {
                                    "shape": "Sf"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714760957319/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715209927354/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715293917770/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715613614951/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715627347504/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715727209370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715876260238/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716228817000/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716313223020/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717108711802/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4XYILRRAOABSNZOJV6Z6YC6PTIRMQCHYIKOLC4DCCUFMQ7CEQA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sc": {
            "type": "string",
            "sensitive": true
        },
        "Sf": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "Sr": {
            "type": "structure",
            "members": {
                "rootUserEmail": {
                    "shape": "Sc"
                },
                "awsAccountId": {}
            }
        }
    }
}