{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-06-05",
        "endpointPrefix": "amazonbedrockagentbuildtimelambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Bedrock Agent BuildTime Lambda",
        "serviceId": "Build Agent Bedrock",
        "signatureVersion": "v4",
        "signingName": "bedrock",
        "uid": "build-agent-bedrock-2023-06-05",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateAgentKnowledgeBase": {
            "http": {
                "method": "PUT",
                "requestUri": "/agents/{agentId}/agentversions/DRAFT/knowledgebases/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "knowledgeBaseId",
                    "description"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "knowledgeBaseId": {},
                    "description": {},
                    "knowledgeBaseState": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentKnowledgeBase"
                ],
                "members": {
                    "agentKnowledgeBase": {
                        "shape": "S6"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "CreateAgent": {
            "http": {
                "method": "PUT",
                "requestUri": "/agents/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentName",
                    "agentResourceRoleArn"
                ],
                "members": {
                    "agentName": {},
                    "instruction": {
                        "shape": "Sb"
                    },
                    "foundationalModel": {},
                    "description": {},
                    "idleSessionTTLInSeconds": {
                        "type": "integer"
                    },
                    "agentResourceRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agent"
                ],
                "members": {
                    "agent": {
                        "shape": "Sg"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "CreateAgentActionGroup": {
            "http": {
                "method": "PUT",
                "requestUri": "/agents/{agentId}/agentversions/DRAFT/actiongroups/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "actionGroupName"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "actionGroupName": {},
                    "description": {},
                    "parentActionGroupSignature": {},
                    "actionGroupExecutor": {
                        "shape": "Sq"
                    },
                    "apiSchema": {
                        "shape": "Ss"
                    },
                    "actionGroupState": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentActionGroup"
                ],
                "members": {
                    "agentActionGroup": {
                        "shape": "Sz"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "CreateAgentAlias": {
            "http": {
                "method": "PUT",
                "requestUri": "/agents/{agentId}/agentaliases/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentAliasName"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "agentAliasName": {},
                    "description": {},
                    "routingConfiguration": {
                        "shape": "S11"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentAlias"
                ],
                "members": {
                    "agentAlias": {
                        "shape": "S14"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "CreateAgentDraftSnapshot": {
            "http": {
                "requestUri": "/agents/{agentId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentStatus",
                    "agentVersion",
                    "savedAt"
                ],
                "members": {
                    "agentId": {},
                    "agentStatus": {},
                    "agentVersion": {},
                    "savedAt": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "CreateDataSource": {
            "http": {
                "method": "PUT",
                "requestUri": "/knowledgebases/{knowledgeBaseId}/datasources/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "knowledgeBaseId",
                    "name",
                    "dataSourceConfiguration"
                ],
                "members": {
                    "knowledgeBaseId": {
                        "location": "uri",
                        "locationName": "knowledgeBaseId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "name": {},
                    "description": {},
                    "dataSourceConfiguration": {
                        "shape": "S1d"
                    },
                    "serverSideEncryptionConfiguration": {
                        "shape": "S1j"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dataSource"
                ],
                "members": {
                    "dataSource": {
                        "shape": "S1m"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "CreateKnowledgeBase": {
            "http": {
                "method": "PUT",
                "requestUri": "/knowledgebases/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "roleArn",
                    "knowledgeBaseConfiguration",
                    "storageConfiguration"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "name": {},
                    "description": {},
                    "roleArn": {},
                    "knowledgeBaseConfiguration": {
                        "shape": "S1q"
                    },
                    "storageConfiguration": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "knowledgeBase"
                ],
                "members": {
                    "knowledgeBase": {
                        "shape": "S2b"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "DeleteDataSource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "knowledgeBaseId",
                    "dataSourceId"
                ],
                "members": {
                    "knowledgeBaseId": {
                        "location": "uri",
                        "locationName": "knowledgeBaseId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "DeleteKnowledgeBase": {
            "http": {
                "method": "DELETE",
                "requestUri": "/knowledgebases/{knowledgeBaseId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "knowledgeBaseId"
                ],
                "members": {
                    "knowledgeBaseId": {
                        "location": "uri",
                        "locationName": "knowledgeBaseId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "knowledgeBaseId",
                    "status"
                ],
                "members": {
                    "knowledgeBaseId": {},
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "DisassociateAgentKnowledgeBase": {
            "http": {
                "method": "DELETE",
                "requestUri": "/agents/{agentId}/agentversions/DRAFT/knowledgebases/{knowledgeBaseId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "knowledgeBaseId"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "knowledgeBaseId": {
                        "location": "uri",
                        "locationName": "knowledgeBaseId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentId",
                    "knowledgeBaseId"
                ],
                "members": {
                    "agentId": {},
                    "knowledgeBaseId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "GetAgent": {
            "http": {
                "method": "GET",
                "requestUri": "/agents/{agentId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agent"
                ],
                "members": {
                    "agent": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "GetAgentActionGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/agents/{agentId}/agentversions/{agentVersion}/actiongroups/{actionGroupId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentVersion",
                    "actionGroupId"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "agentVersion": {
                        "location": "uri",
                        "locationName": "agentVersion"
                    },
                    "actionGroupId": {
                        "location": "uri",
                        "locationName": "actionGroupId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentActionGroup"
                ],
                "members": {
                    "agentActionGroup": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "GetAgentAlias": {
            "http": {
                "method": "GET",
                "requestUri": "/agents/{agentId}/agentaliases/{agentAliasId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentAliasId"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "agentAliasId": {
                        "location": "uri",
                        "locationName": "agentAliasId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentAlias"
                ],
                "members": {
                    "agentAlias": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "GetAgentKnowledgeBase": {
            "http": {
                "method": "GET",
                "requestUri": "/agents/{agentId}/agentversions/{agentVersion}/knowledgebases/{knowledgeBaseId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentVersion",
                    "knowledgeBaseId"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "agentVersion": {
                        "location": "uri",
                        "locationName": "agentVersion"
                    },
                    "knowledgeBaseId": {
                        "location": "uri",
                        "locationName": "knowledgeBaseId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentKnowledgeBase"
                ],
                "members": {
                    "agentKnowledgeBase": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "GetAgentVersion": {
            "http": {
                "method": "GET",
                "requestUri": "/agents/{agentId}/agentversions/{agentVersion}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentVersion"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "agentVersion": {
                        "location": "uri",
                        "locationName": "agentVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentVersion"
                ],
                "members": {
                    "agentVersion": {
                        "type": "structure",
                        "required": [
                            "agentId",
                            "agentName",
                            "agentArn",
                            "agentVersion",
                            "agentStatus",
                            "idleSessionTTLInSeconds",
                            "agentResourceRoleArn",
                            "createdAt",
                            "updatedAt"
                        ],
                        "members": {
                            "agentId": {},
                            "agentName": {},
                            "agentArn": {},
                            "agentVersion": {},
                            "instruction": {
                                "shape": "Sb"
                            },
                            "agentStatus": {},
                            "foundationalModel": {},
                            "description": {},
                            "idleSessionTTLInSeconds": {
                                "type": "integer"
                            },
                            "agentResourceRoleArn": {},
                            "createdAt": {
                                "shape": "S8"
                            },
                            "updatedAt": {
                                "shape": "S8"
                            },
                            "failureReasons": {
                                "shape": "Sk"
                            },
                            "recommendedActions": {
                                "shape": "Sm"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "GetDataSource": {
            "http": {
                "method": "GET",
                "requestUri": "/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "knowledgeBaseId",
                    "dataSourceId"
                ],
                "members": {
                    "knowledgeBaseId": {
                        "location": "uri",
                        "locationName": "knowledgeBaseId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dataSource"
                ],
                "members": {
                    "dataSource": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "GetIngestionJob": {
            "http": {
                "method": "GET",
                "requestUri": "/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}/ingestionjobs/{ingestionJobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "knowledgeBaseId",
                    "dataSourceId",
                    "ingestionJobId"
                ],
                "members": {
                    "knowledgeBaseId": {
                        "location": "uri",
                        "locationName": "knowledgeBaseId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    },
                    "ingestionJobId": {
                        "location": "uri",
                        "locationName": "ingestionJobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ingestionJob"
                ],
                "members": {
                    "ingestionJob": {
                        "shape": "S2z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "GetKnowledgeBase": {
            "http": {
                "method": "GET",
                "requestUri": "/knowledgebases/{knowledgeBaseId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "knowledgeBaseId"
                ],
                "members": {
                    "knowledgeBaseId": {
                        "location": "uri",
                        "locationName": "knowledgeBaseId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "knowledgeBase"
                ],
                "members": {
                    "knowledgeBase": {
                        "shape": "S2b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "ListAgentActionGroups": {
            "http": {
                "requestUri": "/agents/{agentId}/agentversions/{agentVersion}/actiongroups/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentVersion"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "agentVersion": {
                        "location": "uri",
                        "locationName": "agentVersion"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "actionGroupSummaries"
                ],
                "members": {
                    "actionGroupSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "actionGroupId": {},
                                "actionGroupName": {},
                                "actionGroupState": {},
                                "description": {},
                                "updatedAt": {
                                    "shape": "S8"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "ListAgentAliases": {
            "http": {
                "requestUri": "/agents/{agentId}/agentaliases/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentAliasSummaries"
                ],
                "members": {
                    "agentAliasSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agentAliasId": {},
                                "agentAliasName": {},
                                "description": {},
                                "routingConfiguration": {
                                    "shape": "S11"
                                },
                                "agentAliasStatus": {},
                                "createdAt": {
                                    "shape": "S8"
                                },
                                "updatedAt": {
                                    "shape": "S8"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "ListAgentKnowledgeBases": {
            "http": {
                "requestUri": "/agents/{agentId}/agentversions/{agentVersion}/knowledgebases/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "agentVersion"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "agentVersion": {
                        "location": "uri",
                        "locationName": "agentVersion"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentKnowledgeBaseSummaries"
                ],
                "members": {
                    "agentKnowledgeBaseSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "knowledgeBaseId": {},
                                "description": {},
                                "knowledgeBaseState": {},
                                "updatedAt": {
                                    "shape": "S8"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "ListAgentVersions": {
            "http": {
                "requestUri": "/agents/{agentId}/agentversions/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentId"
                ],
                "members": {
                    "agentId": {
                        "location": "uri",
                        "locationName": "agentId"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentVersionSummaries"
                ],
                "members": {
                    "agentVersionSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agentName": {},
                                "agentStatus": {},
                                "agentVersion": {},
                                "createdAt": {
                                    "shape": "S8"
                                },
                                "updatedAt": {
                                    "shape": "S8"
                                },
                                "description": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "ListAgents": {
            "http": {
                "requestUri": "/agents/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "agentSummaries"
                ],
                "members": {
                    "agentSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agentId": {},
                                "agentName": {},
                                "agentStatus": {},
                                "description": {},
                                "updatedAt": {
                                    "shape": "S8"
                                },
                                "latestAgentVersion": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "ListDataSources": {
            "http": {
                "requestUri": "/knowledgebases/{knowledgeBaseId}/datasources/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "knowledgeBaseId"
                ],
                "members": {
                    "knowledgeBaseId": {
                        "location": "uri",
                        "locationName": "knowledgeBaseId"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dataSourceSummaries"
                ],
                "members": {
                    "dataSourceSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "knowledgeBaseId",
                                "dataSourceId",
                                "name",
                                "status",
                                "updatedAt"
                            ],
                            "members": {
                                "knowledgeBaseId": {},
                                "dataSourceId": {},
                                "name": {},
                                "status": {},
                                "description": {},
                                "updatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "ListIngestionJobs": {
            "http": {
                "requestUri": "/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}/ingestionjobs/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "knowledgeBaseId",
                    "dataSourceId"
                ],
                "members": {
                    "knowledgeBaseId": {
                        "location": "uri",
                        "locationName": "knowledgeBaseId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "attribute",
                                "operator",
                                "values"
                            ],
                            "members": {
                                "attribute": {},
                                "operator": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "sortBy": {
                        "type": "structure",
                        "required": [
                            "attribute",
                            "order"
                        ],
                        "members": {
                            "attribute": {},
                            "order": {}
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ingestionJobSummaries"
                ],
                "members": {
                    "ingestionJobSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "knowledgeBaseId",
                                "dataSourceId",
                                "ingestionJobId",
                                "status",
                                "startedAt",
                                "updatedAt"
                            ],
                            "members": {
                                "knowledgeBaseId": {},
                                "dataSourceId": {},
                                "ingestionJobId": {},
                                "description": {},
                                "status": {},
                                "startedAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                },
                                "statistics": {
                                    "shape": "S31"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "ListKnowledgeBases": {
            "http": {
                "requestUri": "/knowledgebases/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "knowledgeBaseSummaries"
                ],
                "members": {
                    "knowledgeBaseSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "knowledgeBaseId",
                                "name",
                                "status",
                                "updatedAt"
                            ],
                            "members": {
                                "knowledgeBaseId": {},
                                "name": {},
                                "description": {},
                                "status": {},
                                "updatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34DXGDQNY6GLLISI4XR4RZ5APYSHH6YAPXTHGJWTVNYOH7MO4EGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMY4SCKDE2OCUYW6TTIXIY45CE563D3DC2KIYDZJJXMUGP55K3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHWV3QNP3KEGD7RDMSZY4QTEMTMVUFOSPAJ3NR7EP3BRRCCGPRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSA63Z2FWJVUW3TNJIKACBRTDA7UXSG5PNYOWUPOSMYFKW4XMUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5CGKWR54SPHWQYFDMY67EPM555SDVQP5VVISUYLZUWVJW6XL66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js"
            ]
        },
        "StartIngestionJob": {
            "http": {
                "method": "PUT",
                "requestUri": "/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}/ingestionjobs/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "knowledgeBaseId",
                    "dataSourceId"
                ],
                "members": {
                    "knowledgeBaseId": {
                        "location": "uri",
                        "locationName": "knowledgeBaseId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ingestionJob"
                ],
                "members": {
                    "ingestionJob": {
                        "shape": "S2z"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRERBCBXIXNQN4LSFPRRWPGTAQ2AW6KKGFZF2AM3GHKMJU6O7PAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJAYH4V7URRJY3QZSWGSVV57ELD6S3P7HJT4UW3XMFQBY32H2BMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHLA63RNYLP4QLECC5CJRTXPPTMD5LXWXRCHZHARZN73ZHFLRZHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZRJCI7XVNDU32G2NZZWQMEE6OABVULPYMF7PHA3GSIB72U67FPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ETI45J7WL3OBUMVBNB6VKJ2KEL3EC7C2M7VWXKM45BTTHR4KAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKBJVVEI4TQCWNV4WMBWJDXG447JZGIKPJNROPSLBR75HPNSU6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNKABOTGTJD6ZMITDKC7NOIT43BSBGFUN4KAIXZ5E332WQ6Z6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMXJH246RIIFZJYVF5MHTZXI5NZ7NNA6KN7ICCM7D2JSO4H2HKKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNWSHYG32OZXJVOXZCJYDYSMHSWSVY76ZBFOEL43ZXVQXUYAMXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMPBFXV5KBFVHHT7RAI4PD2TRQII3LG2XGTHZ6QB4XVUBAXE7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVJ5BJYYVSJFL2VPAD4TJA7XGDZSUX7BYSSA3NBFHXCBMPWDSSVQ/vendors.js",
[...]
