{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-05-24",
        "endpointPrefix": "cfnregistry",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "CloudFormation Registry",
        "serviceId": "CFNRegistryService",
        "signatureVersion": "v4",
        "signingName": "cloudformation",
        "targetPrefix": "CFNRegistryService",
        "uid": "cfnregistry-2021-05-24",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/KEYTBZIW2637K7MR2QWXJCVVTBAYEWVL4O4GAHLXAJUXILBKFKUQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CVXSDHXFUKWH3QVQRFFDZZ3JUMGZ7CFIKJUHJOREUYJI6HJNVOUQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FZ3TNLHZTSJMOQWSWR6DAZ7VH6EXBR3OEMMFR75EKCJJ7ELOCEPA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RONYNDFDMT5SLVHIEQTDHL7LC6Y4XZSSV4XUPOCQN6TJO7MBXPYQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q2IC5GS4MK2O6LRG5SWNRMP6IYKNGKAETN5Y7LAL5I4MCHUGQYTQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N423GKVNTX7RYGT7XPA6YVDNLH7KI34LYLUHEOA4G4YSIO7YUUJA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/63USDWDHMNRKYSJSV6TQWGSSEU24BTG36IX44L637AZSAZST5MAQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KCMZZ3QFSELXZTN2FTQNHX6H7Q3M23EUOC42ED57SOE6ZQA5DM5A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOHQEAGIGNU3PAZZT5GAGW2BUCEFZAJIRLTFT5KWPSMFB36W6VLQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/22LVRRQ3YDMHW6HZQV232O52K3RTZXZVSV2UZFFJ4WNQN6YNZBRQ/vendor.js"
        ]
    },
    "operations": {
        "BatchDescribeResourceTypesInternal": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "TypeNameList": {
                        "shape": "S3"
                    },
                    "Region": {},
                    "RequestForBootstrappedResource": {
                        "type": "boolean"
                    }
                },
                "deprecated": true
            },
            "output": {
                "type": "structure",
                "members": {
                    "TypeDetailsList": {
                        "shape": "S6"
                    },
                    "UnprocessedTypeList": {
                        "type": "list",
                        "member": {}
                    }
                },
                "deprecated": true
            },
            "deprecated": true,
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVXSDHXFUKWH3QVQRFFDZZ3JUMGZ7CFIKJUHJOREUYJI6HJNVOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZ3TNLHZTSJMOQWSWR6DAZ7VH6EXBR3OEMMFR75EKCJJ7ELOCEPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RONYNDFDMT5SLVHIEQTDHL7LC6Y4XZSSV4XUPOCQN6TJO7MBXPYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2IC5GS4MK2O6LRG5SWNRMP6IYKNGKAETN5Y7LAL5I4MCHUGQYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N423GKVNTX7RYGT7XPA6YVDNLH7KI34LYLUHEOA4G4YSIO7YUUJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63USDWDHMNRKYSJSV6TQWGSSEU24BTG36IX44L637AZSAZST5MAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCMZZ3QFSELXZTN2FTQNHX6H7Q3M23EUOC42ED57SOE6ZQA5DM5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHQEAGIGNU3PAZZT5GAGW2BUCEFZAJIRLTFT5KWPSMFB36W6VLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22LVRRQ3YDMHW6HZQV232O52K3RTZXZVSV2UZFFJ4WNQN6YNZBRQ/vendor.js"
            ]
        },
        "BatchDescribeTypeConfigurations": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "TypeConfigurationIdentifiers"
                ],
                "members": {
                    "AccountId": {},
                    "TypeConfigurationIdentifiers": {
                        "type": "list",
                        "member": {
                            "shape": "S10"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ErrorCode": {},
                                "ErrorMessage": {},
                                "TypeConfigurationIdentifier": {
                                    "shape": "S10"
                                }
                            }
                        }
                    },
                    "UnprocessedTypeConfigurations": {
                        "type": "list",
                        "member": {
                            "shape": "S10"
                        }
                    },
                    "TypeConfigurations": {
                        "shape": "S17"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVXSDHXFUKWH3QVQRFFDZZ3JUMGZ7CFIKJUHJOREUYJI6HJNVOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZ3TNLHZTSJMOQWSWR6DAZ7VH6EXBR3OEMMFR75EKCJJ7ELOCEPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RONYNDFDMT5SLVHIEQTDHL7LC6Y4XZSSV4XUPOCQN6TJO7MBXPYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2IC5GS4MK2O6LRG5SWNRMP6IYKNGKAETN5Y7LAL5I4MCHUGQYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N423GKVNTX7RYGT7XPA6YVDNLH7KI34LYLUHEOA4G4YSIO7YUUJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63USDWDHMNRKYSJSV6TQWGSSEU24BTG36IX44L637AZSAZST5MAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCMZZ3QFSELXZTN2FTQNHX6H7Q3M23EUOC42ED57SOE6ZQA5DM5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHQEAGIGNU3PAZZT5GAGW2BUCEFZAJIRLTFT5KWPSMFB36W6VLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22LVRRQ3YDMHW6HZQV232O52K3RTZXZVSV2UZFFJ4WNQN6YNZBRQ/vendor.js"
            ]
        },
        "BatchDescribeTypesInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "TypeNameList": {
                        "shape": "S3"
                    },
                    "IncludeTypeConfiguration": {
                        "type": "boolean"
                    },
                    "TypeConfigurationIdentifiersInternal": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TypeName": {},
                                "TypeConfigurationAlias": {},
                                "TypeConfigurationVersionId": {},
                                "Type": {},
                                "TypeConfigurationArn": {},
                                "TypeArn": {},
                                "ConfigurationVersionId": {}
                            }
                        }
                    },
                    "Region": {},
                    "RequestForBootstrappedResource": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TypeDetailsList": {
                        "shape": "S6"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVXSDHXFUKWH3QVQRFFDZZ3JUMGZ7CFIKJUHJOREUYJI6HJNVOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZ3TNLHZTSJMOQWSWR6DAZ7VH6EXBR3OEMMFR75EKCJJ7ELOCEPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RONYNDFDMT5SLVHIEQTDHL7LC6Y4XZSSV4XUPOCQN6TJO7MBXPYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2IC5GS4MK2O6LRG5SWNRMP6IYKNGKAETN5Y7LAL5I4MCHUGQYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N423GKVNTX7RYGT7XPA6YVDNLH7KI34LYLUHEOA4G4YSIO7YUUJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63USDWDHMNRKYSJSV6TQWGSSEU24BTG36IX44L637AZSAZST5MAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCMZZ3QFSELXZTN2FTQNHX6H7Q3M23EUOC42ED57SOE6ZQA5DM5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHQEAGIGNU3PAZZT5GAGW2BUCEFZAJIRLTFT5KWPSMFB36W6VLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22LVRRQ3YDMHW6HZQV232O52K3RTZXZVSV2UZFFJ4WNQN6YNZBRQ/vendor.js"
            ]
        },
        "DeprecateTypeConfiguration": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "TypeArn": {},
                    "Type": {},
                    "TypeName": {},
                    "TypeConfigurationAlias": {},
                    "TypeConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVXSDHXFUKWH3QVQRFFDZZ3JUMGZ7CFIKJUHJOREUYJI6HJNVOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZ3TNLHZTSJMOQWSWR6DAZ7VH6EXBR3OEMMFR75EKCJJ7ELOCEPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RONYNDFDMT5SLVHIEQTDHL7LC6Y4XZSSV4XUPOCQN6TJO7MBXPYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2IC5GS4MK2O6LRG5SWNRMP6IYKNGKAETN5Y7LAL5I4MCHUGQYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N423GKVNTX7RYGT7XPA6YVDNLH7KI34LYLUHEOA4G4YSIO7YUUJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63USDWDHMNRKYSJSV6TQWGSSEU24BTG36IX44L637AZSAZST5MAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCMZZ3QFSELXZTN2FTQNHX6H7Q3M23EUOC42ED57SOE6ZQA5DM5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHQEAGIGNU3PAZZT5GAGW2BUCEFZAJIRLTFT5KWPSMFB36W6VLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22LVRRQ3YDMHW6HZQV232O52K3RTZXZVSV2UZFFJ4WNQN6YNZBRQ/vendor.js"
            ]
        },
        "DeregisterPublisher": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVXSDHXFUKWH3QVQRFFDZZ3JUMGZ7CFIKJUHJOREUYJI6HJNVOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZ3TNLHZTSJMOQWSWR6DAZ7VH6EXBR3OEMMFR75EKCJJ7ELOCEPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RONYNDFDMT5SLVHIEQTDHL7LC6Y4XZSSV4XUPOCQN6TJO7MBXPYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2IC5GS4MK2O6LRG5SWNRMP6IYKNGKAETN5Y7LAL5I4MCHUGQYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N423GKVNTX7RYGT7XPA6YVDNLH7KI34LYLUHEOA4G4YSIO7YUUJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63USDWDHMNRKYSJSV6TQWGSSEU24BTG36IX44L637AZSAZST5MAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCMZZ3QFSELXZTN2FTQNHX6H7Q3M23EUOC42ED57SOE6ZQA5DM5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHQEAGIGNU3PAZZT5GAGW2BUCEFZAJIRLTFT5KWPSMFB36W6VLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22LVRRQ3YDMHW6HZQV232O52K3RTZXZVSV2UZFFJ4WNQN6YNZBRQ/vendor.js"
            ]
        },
        "DeregisterType": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "Arn": {},
                    "Type": {},
                    "TypeName": {},
                    "VersionId": {},
                    "MultipleTypeConfigurationEnabled": {
                        "type": "boolean"
                    },
                    "Region": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVXSDHXFUKWH3QVQRFFDZZ3JUMGZ7CFIKJUHJOREUYJI6HJNVOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZ3TNLHZTSJMOQWSWR6DAZ7VH6EXBR3OEMMFR75EKCJJ7ELOCEPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RONYNDFDMT5SLVHIEQTDHL7LC6Y4XZSSV4XUPOCQN6TJO7MBXPYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2IC5GS4MK2O6LRG5SWNRMP6IYKNGKAETN5Y7LAL5I4MCHUGQYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N423GKVNTX7RYGT7XPA6YVDNLH7KI34LYLUHEOA4G4YSIO7YUUJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63USDWDHMNRKYSJSV6TQWGSSEU24BTG36IX44L637AZSAZST5MAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCMZZ3QFSELXZTN2FTQNHX6H7Q3M23EUOC42ED57SOE6ZQA5DM5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHQEAGIGNU3PAZZT5GAGW2BUCEFZAJIRLTFT5KWPSMFB36W6VLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22LVRRQ3YDMHW6HZQV232O52K3RTZXZVSV2UZFFJ4WNQN6YNZBRQ/vendor.js"
            ]
        },
        "DescribeExpireTypeProgress": {
            "input": {
                "type": "structure",
                "required": [
                    "ExpirationToken"
                ],
                "members": {
                    "ExpirationToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Items": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVXSDHXFUKWH3QVQRFFDZZ3JUMGZ7CFIKJUHJOREUYJI6HJNVOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZ3TNLHZTSJMOQWSWR6DAZ7VH6EXBR3OEMMFR75EKCJJ7ELOCEPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RONYNDFDMT5SLVHIEQTDHL7LC6Y4XZSSV4XUPOCQN6TJO7MBXPYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2IC5GS4MK2O6LRG5SWNRMP6IYKNGKAETN5Y7LAL5I4MCHUGQYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N423GKVNTX7RYGT7XPA6YVDNLH7KI34LYLUHEOA4G4YSIO7YUUJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63USDWDHMNRKYSJSV6TQWGSSEU24BTG36IX44L637AZSAZST5MAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCMZZ3QFSELXZTN2FTQNHX6H7Q3M23EUOC42ED57SOE6ZQA5DM5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHQEAGIGNU3PAZZT5GAGW2BUCEFZAJIRLTFT5KWPSMFB36W6VLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22LVRRQ3YDMHW6HZQV232O52K3RTZXZVSV2UZFFJ4WNQN6YNZBRQ/vendor.js"
            ]
        },
        "DescribePublisher": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "PublisherId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PublisherId": {},
                    "PublisherStatus": {},
                    "IdentityProvider": {},
                    "PublisherProfile": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVXSDHXFUKWH3QVQRFFDZZ3JUMGZ7CFIKJUHJOREUYJI6HJNVOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZ3TNLHZTSJMOQWSWR6DAZ7VH6EXBR3OEMMFR75EKCJJ7ELOCEPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RONYNDFDMT5SLVHIEQTDHL7LC6Y4XZSSV4XUPOCQN6TJO7MBXPYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2IC5GS4MK2O6LRG5SWNRMP6IYKNGKAETN5Y7LAL5I4MCHUGQYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N423GKVNTX7RYGT7XPA6YVDNLH7KI34LYLUHEOA4G4YSIO7YUUJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63USDWDHMNRKYSJSV6TQWGSSEU24BTG36IX44L637AZSAZST5MAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCMZZ3QFSELXZTN2FTQNHX6H7Q3M23EUOC42ED57SOE6ZQA5DM5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHQEAGIGNU3PAZZT5GAGW2BUCEFZAJIRLTFT5KWPSMFB36W6VLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22LVRRQ3YDMHW6HZQV232O52K3RTZXZVSV2UZFFJ4WNQN6YNZBRQ/vendor.js"
            ]
        },
        "DescribeType": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "Arn": {},
                    "Type": {},
                    "TypeName": {},
                    "VersionId": {},
                    "PublisherId": {},
                    "PublicVersionNumber": {},
                    "Region": {},
                    "RequestForBootstrappedResource": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Type": {},
                    "TypeName": {},
                    "DefaultVersionId": {},
                    "DeprecatedStatus": {},
                    "Description": {},
                    "Schema": {},
                    "ProvisioningType": {},
                    "Visibility": {},
                    "SourceUrl": {},
                    "DocumentationUrl": {},
                    "LoggingConfig": {
                        "shape": "Si"
                    },
                    "ExecutionRoleArn": {},
                    "LastUpdated": {
                        "type": "timestamp"
                    },
                    "TimeCreated": {
                        "type": "timestamp"
                    },
                    "DefaultVersion": {
                        "type": "boolean"
                    },
                    "TypeTestsStatus": {},
                    "TypeTestsStatusDescription": {},
                    "ConfigurationSchema": {},
                    "DefaultTypeConfiguration": {
                        "shape": "S18"
                    },
                    "PublisherId": {},
                    "OriginalTypeName": {},
                    "OriginalTypeArn": {},
                    "PublicVersionNumber": {},
                    "LatestPublicVersion": {},
                    "IsEnabled": {
                        "type": "boolean"
                    },
                    "AutoUpdateEnabled": {
                        "type": "boolean"
                    },
                    "RequiredEnabledTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TypeNameAlias": {},
                                "OriginalTypeName": {},
                                "PublisherId": {},
                                "SupportedMajorVersions": {
                                    "type": "list",
                                    "member": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVXSDHXFUKWH3QVQRFFDZZ3JUMGZ7CFIKJUHJOREUYJI6HJNVOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZ3TNLHZTSJMOQWSWR6DAZ7VH6EXBR3OEMMFR75EKCJJ7ELOCEPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RONYNDFDMT5SLVHIEQTDHL7LC6Y4XZSSV4XUPOCQN6TJO7MBXPYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2IC5GS4MK2O6LRG5SWNRMP6IYKNGKAETN5Y7LAL5I4MCHUGQYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N423GKVNTX7RYGT7XPA6YVDNLH7KI34LYLUHEOA4G4YSIO7YUUJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63USDWDHMNRKYSJSV6TQWGSSEU24BTG36IX44L637AZSAZST5MAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCMZZ3QFSELXZTN2FTQNHX6H7Q3M23EUOC42ED57SOE6ZQA5DM5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHQEAGIGNU3PAZZT5GAGW2BUCEFZAJIRLTFT5KWPSMFB36W6VLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22LVRRQ3YDMHW6HZQV232O52K3RTZXZVSV2UZFFJ4WNQN6YNZBRQ/vendor.js"
            ]
        },
        "DescribeTypeInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "Arn": {},
                    "Type": {},
                    "TypeName": {},
                    "VersionId": {},
                    "TypeConfigurationAlias": {},
                    "TypeConfigurationVersionId": {},
                    "ConfigurationVersionId": {},
                    "Region": {},
                    "RequestForBootstrappedResource": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "OwnerAccountId": {},
                    "DeprecatedStatus": {},
                    "Type": {},
                    "TypeName": {},
                    "VersionId": {},
                    "PermissionType": {},
                    "Schema": {},
                    "Handlers": {
                        "shape": "Sd"
                    },
                    "ModuleTemplateFragmentUrl": {},
                    "LoggingConfig": {
                        "shape": "Si"
                    },
                    "ExecutionRoleArn": {},
                    "InternallyOwned": {
                        "type": "boolean"
                    },
                    "FasPolicyPath": {},
                    "ProtocolVersion": {},
                    "DefaultVersion": {
                        "type": "boolean"
                    },
                    "ConfigurationSchema": {},
                    "TypeConfiguration": {
                        "shape": "Sr"
                    },
                    "Configuration": {},
                    "ConfigurationVersionId": {},
                    "ContractTestStatus": {},
                    "PublicVersionNumber": {},
                    "LatestPublicVersionNumber": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVXSDHXFUKWH3QVQRFFDZZ3JUMGZ7CFIKJUHJOREUYJI6HJNVOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZ3TNLHZTSJMOQWSWR6DAZ7VH6EXBR3OEMMFR75EKCJJ7ELOCEPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RONYNDFDMT5SLVHIEQTDHL7LC6Y4XZSSV4XUPOCQN6TJO7MBXPYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2IC5GS4MK2O6LRG5SWNRMP6IYKNGKAETN5Y7LAL5I4MCHUGQYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N423GKVNTX7RYGT7XPA6YVDNLH7KI34LYLUHEOA4G4YSIO7YUUJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63USDWDHMNRKYSJSV6TQWGSSEU24BTG36IX44L637AZSAZST5MAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCMZZ3QFSELXZTN2FTQNHX6H7Q3M23EUOC42ED57SOE6ZQA5DM5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHQEAGIGNU3PAZZT5GAGW2BUCEFZAJIRLTFT5KWPSMFB36W6VLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22LVRRQ3YDMHW6HZQV232O52K3RTZXZVSV2UZFFJ4WNQN6YNZBRQ/vendor.js"
            ]
        },
        "DescribeTypeRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "RegistrationToken"
                ],
                "members": {
                    "AccountId": {},
                    "RegistrationToken": {},
                    "Region": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProgressStatus": {},
                    "Description": {},
                    "TypeArn": {},
                    "TypeVersionArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVXSDHXFUKWH3QVQRFFDZZ3JUMGZ7CFIKJUHJOREUYJI6HJNVOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZ3TNLHZTSJMOQWSWR6DAZ7VH6EXBR3OEMMFR75EKCJJ7ELOCEPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RONYNDFDMT5SLVHIEQTDHL7LC6Y4XZSSV4XUPOCQN6TJO7MBXPYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2IC5GS4MK2O6LRG5SWNRMP6IYKNGKAETN5Y7LAL5I4MCHUGQYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N423GKVNTX7RYGT7XPA6YVDNLH7KI34LYLUHEOA4G4YSIO7YUUJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63USDWDHMNRKYSJSV6TQWGSSEU24BTG36IX44L637AZSAZST5MAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCMZZ3QFSELXZTN2FTQNHX6H7Q3M23EUOC42ED57SOE6ZQA5DM5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHQEAGIGNU3PAZZT5GAGW2BUCEFZAJIRLTFT5KWPSMFB36W6VLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22LVRRQ3YDMHW6HZQV232O52K3RTZXZVSV2UZFFJ4WNQN6YNZBRQ/vendor.js"
            ]
        },
        "DescribeTypeRoutingConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "Arn": {},
                    "TypeName": {},
                    "Type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TypeName": {},
                    "Type": {},
                    "RoutingConfig": {
                        "shape": "S2o"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVXSDHXFUKWH3QVQRFFDZZ3JUMGZ7CFIKJUHJOREUYJI6HJNVOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZ3TNLHZTSJMOQWSWR6DAZ7VH6EXBR3OEMMFR75EKCJJ7ELOCEPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RONYNDFDMT5SLVHIEQTDHL7LC6Y4XZSSV4XUPOCQN6TJO7MBXPYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2IC5GS4MK2O6LRG5SWNRMP6IYKNGKAETN5Y7LAL5I4MCHUGQYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N423GKVNTX7RYGT7XPA6YVDNLH7KI34LYLUHEOA4G4YSIO7YUUJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63USDWDHMNRKYSJSV6TQWGSSEU24BTG36IX44L637AZSAZST5MAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCMZZ3QFSELXZTN2FTQNHX6H7Q3M23EUOC42ED57SOE6ZQA5DM5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHQEAGIGNU3PAZZT5GAGW2BUCEFZAJIRLTFT5KWPSMFB36W6VLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22LVRRQ3YDMHW6HZQV232O52K3RTZXZVSV2UZFFJ4WNQN6YNZBRQ/vendor.js"
            ]
        },
        "DisableType": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "TypeName": {},
                    "Type": {},
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVXSDHXFUKWH3QVQRFFDZZ3JUMGZ7CFIKJUHJOREUYJI6HJNVOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZ3TNLHZTSJMOQWSWR6DAZ7VH6EXBR3OEMMFR75EKCJJ7ELOCEPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RONYNDFDMT5SLVHIEQTDHL7LC6Y4XZSSV4XUPOCQN6TJO7MBXPYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2IC5GS4MK2O6LRG5SWNRMP6IYKNGKAETN5Y7LAL5I4MCHUGQYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N423GKVNTX7RYGT7XPA6YVDNLH7KI34LYLUHEOA4G4YSIO7YUUJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63USDWDHMNRKYSJSV6TQWGSSEU24BTG36IX44L637AZSAZST5MAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCMZZ3QFSELXZTN2FTQNHX6H7Q3M23EUOC42ED57SOE6ZQA5DM5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHQEAGIGNU3PAZZT5GAGW2BUCEFZAJIRLTFT5KWPSMFB36W6VLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22LVRRQ3YDMHW6HZQV232O52K3RTZXZVSV2UZFFJ4WNQN6YNZBRQ/vendor.js"
            ]
        },
        "EnableType": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "Arn": {},
                    "TypeName": {},
                    "Type": {},
                    "PublisherId": {},
                    "TypeNameAlias": {},
                    "AutoUpdateEnabled": {
                        "type": "boolean"
                    },
                    "LoggingConfig": {
                        "shape": "Si"
                    },
                    "ExecutionRoleArn": {},
                    "VersionBump": {},
                    "MajorVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVXSDHXFUKWH3QVQRFFDZZ3JUMGZ7CFIKJUHJOREUYJI6HJNVOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZ3TNLHZTSJMOQWSWR6DAZ7VH6EXBR3OEMMFR75EKCJJ7ELOCEPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RONYNDFDMT5SLVHIEQTDHL7LC6Y4XZSSV4XUPOCQN6TJO7MBXPYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2IC5GS4MK2O6LRG5SWNRMP6IYKNGKAETN5Y7LAL5I4MCHUGQYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N423GKVNTX7RYGT7XPA6YVDNLH7KI34LYLUHEOA4G4YSIO7YUUJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63USDWDHMNRKYSJSV6TQWGSSEU24BTG36IX44L637AZSAZST5MAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCMZZ3QFSELXZTN2FTQNHX6H7Q3M23EUOC42ED57SOE6ZQA5DM5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHQEAGIGNU3PAZZT5GAGW2BUCEFZAJIRLTFT5KWPSMFB36W6VLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22LVRRQ3YDMHW6HZQV232O52K3RTZXZVSV2UZFFJ4WNQN6YNZBRQ/vendor.js"
            ]
        },
        "ExpireNamespace": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "AccountEventMessage": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ExpirationTokenList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVXSDHXFUKWH3QVQRFFDZZ3JUMGZ7CFIKJUHJOREUYJI6HJNVOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZ3TNLHZTSJMOQWSWR6DAZ7VH6EXBR3OEMMFR75EKCJJ7ELOCEPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RONYNDFDMT5SLVHIEQTDHL7LC6Y4XZSSV4XUPOCQN6TJO7MBXPYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2IC5GS4MK2O6LRG5SWNRMP6IYKNGKAETN5Y7LAL5I4MCHUGQYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N423GKVNTX7RYGT7XPA6YVDNLH7KI34LYLUHEOA4G4YSIO7YUUJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63USDWDHMNRKYSJSV6TQWGSSEU24BTG36IX44L637AZSAZST5MAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCMZZ3QFSELXZTN2FTQNHX6H7Q3M23EUOC42ED57SOE6ZQA5DM5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHQEAGIGNU3PAZZT5GAGW2BUCEFZAJIRLTFT5KWPSMFB36W6VLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22LVRRQ3YDMHW6HZQV232O52K3RTZXZVSV2UZFFJ4WNQN6YNZBRQ/vendor.js"
            ]
        },
        "ExpireType": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "TypeName"
                ],
                "members": {
                    "AccountId": {},
                    "TypeName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ExpirationToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVXSDHXFUKWH3QVQRFFDZZ3JUMGZ7CFIKJUHJOREUYJI6HJNVOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZ3TNLHZTSJMOQWSWR6DAZ7VH6EXBR3OEMMFR75EKCJJ7ELOCEPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RONYNDFDMT5SLVHIEQTDHL7LC6Y4XZSSV4XUPOCQN6TJO7MBXPYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2IC5GS4MK2O6LRG5SWNRMP6IYKNGKAETN5Y7LAL5I4MCHUGQYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N423GKVNTX7RYGT7XPA6YVDNLH7KI34LYLUHEOA4G4YSIO7YUUJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63USDWDHMNRKYSJSV6TQWGSSEU24BTG36IX44L637AZSAZST5MAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCMZZ3QFSELXZTN2FTQNHX6H7Q3M23EUOC42ED57SOE6ZQA5DM5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHQEAGIGNU3PAZZT5GAGW2BUCEFZAJIRLTFT5KWPSMFB36W6VLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22LVRRQ3YDMHW6HZQV232O52K3RTZXZVSV2UZFFJ4WNQN6YNZBRQ/vendor.js"
            ]
        },
        "GetTypeSupportContactInfo": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "Arn": {},
                    "Type": {},
                    "TypeName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SupportContactInfo": {
                        "shape": "S36"
                    },
                    "TypeName": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVXSDHXFUKWH3QVQRFFDZZ3JUMGZ7CFIKJUHJOREUYJI6HJNVOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZ3TNLHZTSJMOQWSWR6DAZ7VH6EXBR3OEMMFR75EKCJJ7ELOCEPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RONYNDFDMT5SLVHIEQTDHL7LC6Y4XZSSV4XUPOCQN6TJO7MBXPYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2IC5GS4MK2O6LRG5SWNRMP6IYKNGKAETN5Y7LAL5I4MCHUGQYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N423GKVNTX7RYGT7XPA6YVDNLH7KI34LYLUHEOA4G4YSIO7YUUJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63USDWDHMNRKYSJSV6TQWGSSEU24BTG36IX44L637AZSAZST5MAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCMZZ3QFSELXZTN2FTQNHX6H7Q3M23EUOC42ED57SOE6ZQA5DM5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHQEAGIGNU3PAZZT5GAGW2BUCEFZAJIRLTFT5KWPSMFB36W6VLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22LVRRQ3YDMHW6HZQV232O52K3RTZXZVSV2UZFFJ4WNQN6YNZBRQ/vendor.js"
            ]
        },
        "InitializeRegistrationProgress": {
            "input": {
                "type": "structure",
                "members": {
                    "RegistrationToken": {},
                    "AccountId": {},
                    "Description": {},
                    "Type": {},
                    "TypeName": {},
                    "VersionId": {},
                    "Region": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVXSDHXFUKWH3QVQRFFDZZ3JUMGZ7CFIKJUHJOREUYJI6HJNVOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZ3TNLHZTSJMOQWSWR6DAZ7VH6EXBR3OEMMFR75EKCJJ7ELOCEPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RONYNDFDMT5SLVHIEQTDHL7LC6Y4XZSSV4XUPOCQN6TJO7MBXPYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2IC5GS4MK2O6LRG5SWNRMP6IYKNGKAETN5Y7LAL5I4MCHUGQYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N423GKVNTX7RYGT7XPA6YVDNLH7KI34LYLUHEOA4G4YSIO7YUUJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63USDWDHMNRKYSJSV6TQWGSSEU24BTG36IX44L637AZSAZST5MAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCMZZ3QFSELXZTN2FTQNHX6H7Q3M23EUOC42ED57SOE6ZQA5DM5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHQEAGIGNU3PAZZT5GAGW2BUCEFZAJIRLTFT5KWPSMFB36W6VLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22LVRRQ3YDMHW6HZQV232O52K3RTZXZVSV2UZFFJ4WNQN6YNZBRQ/vendor.js"
            ]
        },
        "ListExpireTypeProgress": {
            "input": {
                "type": "structure",
                "required": [
                    "DateCreated",
                    "ExpirationStatus"
                ],
                "members": {
                    "DateCreated": {
                        "type": "timestamp"
                    },
                    "ExpirationStatus": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Items": {
                        "shape": "S1p"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVXSDHXFUKWH3QVQRFFDZZ3JUMGZ7CFIKJUHJOREUYJI6HJNVOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZ3TNLHZTSJMOQWSWR6DAZ7VH6EXBR3OEMMFR75EKCJJ7ELOCEPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RONYNDFDMT5SLVHIEQTDHL7LC6Y4XZSSV4XUPOCQN6TJO7MBXPYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2IC5GS4MK2O6LRG5SWNRMP6IYKNGKAETN5Y7LAL5I4MCHUGQYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N423GKVNTX7RYGT7XPA6YVDNLH7KI34LYLUHEOA4G4YSIO7YUUJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63USDWDHMNRKYSJSV6TQWGSSEU24BTG36IX44L637AZSAZST5MAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCMZZ3QFSELXZTN2FTQNHX6H7Q3M23EUOC42ED57SOE6ZQA5DM5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHQEAGIGNU3PAZZT5GAGW2BUCEFZAJIRLTFT5KWPSMFB36W6VLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22LVRRQ3YDMHW6HZQV232O52K3RTZXZVSV2UZFFJ4WNQN6YNZBRQ/vendor.js"
            ]
        },
        "ListTypeConfigurations": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "TypeArn": {},
                    "TypeName": {},
                    "Type": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TypeConfigurations": {
                        "shape": "S17"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVXSDHXFUKWH3QVQRFFDZZ3JUMGZ7CFIKJUHJOREUYJI6HJNVOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZ3TNLHZTSJMOQWSWR6DAZ7VH6EXBR3OEMMFR75EKCJJ7ELOCEPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RONYNDFDMT5SLVHIEQTDHL7LC6Y4XZSSV4XUPOCQN6TJO7MBXPYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2IC5GS4MK2O6LRG5SWNRMP6IYKNGKAETN5Y7LAL5I4MCHUGQYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N423GKVNTX7RYGT7XPA6YVDNLH7KI34LYLUHEOA4G4YSIO7YUUJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63USDWDHMNRKYSJSV6TQWGSSEU24BTG36IX44L637AZSAZST5MAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCMZZ3QFSELXZTN2FTQNHX6H7Q3M23EUOC42ED57SOE6ZQA5DM5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHQEAGIGNU3PAZZT5GAGW2BUCEFZAJIRLTFT5KWPSMFB36W6VLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22LVRRQ3YDMHW6HZQV232O52K3RTZXZVSV2UZFFJ4WNQN6YNZBRQ/vendor.js"
            ]
        },
        "ListTypeRegistrations": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "Type": {},
                    "TypeName": {},
                    "TypeArn": {},
                    "RegistrationStatusFilter": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Region": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RegistrationTokenList": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVXSDHXFUKWH3QVQRFFDZZ3JUMGZ7CFIKJUHJOREUYJI6HJNVOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZ3TNLHZTSJMOQWSWR6DAZ7VH6EXBR3OEMMFR75EKCJJ7ELOCEPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RONYNDFDMT5SLVHIEQTDHL7LC6Y4XZSSV4XUPOCQN6TJO7MBXPYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2IC5GS4MK2O6LRG5SWNRMP6IYKNGKAETN5Y7LAL5I4MCHUGQYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N423GKVNTX7RYGT7XPA6YVDNLH7KI34LYLUHEOA4G4YSIO7YUUJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63USDWDHMNRKYSJSV6TQWGSSEU24BTG36IX44L637AZSAZST5MAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCMZZ3QFSELXZTN2FTQNHX6H7Q3M23EUOC42ED57SOE6ZQA5DM5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHQEAGIGNU3PAZZT5GAGW2BUCEFZAJIRLTFT5KWPSMFB36W6VLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22LVRRQ3YDMHW6HZQV232O52K3RTZXZVSV2UZFFJ4WNQN6YNZBRQ/vendor.js"
            ]
        },
        "ListTypeVersions": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "Type": {},
                    "TypeName": {},
                    "Arn": {},
                    "DeprecatedStatus": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "PublisherId": {},
                    "Region": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TypeVersionSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "Type": {},
                                "TypeName": {},
                                "VersionId": {},
                                "TimeCreated": {
                                    "type": "timestamp"
                                },
                                "Description": {},
                                "DefaultVersion": {
                                    "type": "boolean"
                                },
                                "PublicVersion": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVXSDHXFUKWH3QVQRFFDZZ3JUMGZ7CFIKJUHJOREUYJI6HJNVOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZ3TNLHZTSJMOQWSWR6DAZ7VH6EXBR3OEMMFR75EKCJJ7ELOCEPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RONYNDFDMT5SLVHIEQTDHL7LC6Y4XZSSV4XUPOCQN6TJO7MBXPYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2IC5GS4MK2O6LRG5SWNRMP6IYKNGKAETN5Y7LAL5I4MCHUGQYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N423GKVNTX7RYGT7XPA6YVDNLH7KI34LYLUHEOA4G4YSIO7YUUJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63USDWDHMNRKYSJSV6TQWGSSEU24BTG36IX44L637AZSAZST5MAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCMZZ3QFSELXZTN2FTQNHX6H7Q3M23EUOC42ED57SOE6ZQA5DM5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHQEAGIGNU3PAZZT5GAGW2BUCEFZAJIRLTFT5KWPSMFB36W6VLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22LVRRQ3YDMHW6HZQV232O52K3RTZXZVSV2UZFFJ4WNQN6YNZBRQ/vendor.js"
            ]
        },
        "ListTypes": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "Visibility": {},
                    "ProvisioningType": {},
                    "DeprecatedStatus": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Type": {},
                    "Filters": {
                        "type": "structure",
                        "members": {
                            "Category": {},
                            "PublisherId": {},
                            "PublisherNamePrefix": {},
                            "TypeNamePrefix": {}
                        }
                    },
                    "Region": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TypeSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Type": {},
                                "TypeName": {},
                                "TypeArn": {},
                                "DefaultVersionId": {},
                                "ProvisioningType": {},
                                "LastUpdated": {
                                    "type": "timestamp"
                                },
                                "Description": {},
                                "PublisherId": {},
                                "OriginalTypeName": {},
                                "PublicVersionNumber": {},
                                "LatestPublicVersion": {},
                                "PublisherIdentity": {},
                                "PublisherName": {},
                                "IsEnabled": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVXSDHXFUKWH3QVQRFFDZZ3JUMGZ7CFIKJUHJOREUYJI6HJNVOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZ3TNLHZTSJMOQWSWR6DAZ7VH6EXBR3OEMMFR75EKCJJ7ELOCEPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RONYNDFDMT5SLVHIEQTDHL7LC6Y4XZSSV4XUPOCQN6TJO7MBXPYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2IC5GS4MK2O6LRG5SWNRMP6IYKNGKAETN5Y7LAL5I4MCHUGQYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N423GKVNTX7RYGT7XPA6YVDNLH7KI34LYLUHEOA4G4YSIO7YUUJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63USDWDHMNRKYSJSV6TQWGSSEU24BTG36IX44L637AZSAZST5MAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCMZZ3QFSELXZTN2FTQNHX6H7Q3M23EUOC42ED57SOE6ZQA5DM5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHQEAGIGNU3PAZZT5GAGW2BUCEFZAJIRLTFT5KWPSMFB36W6VLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22LVRRQ3YDMHW6HZQV232O52K3RTZXZVSV2UZFFJ4WNQN6YNZBRQ/vendor.js"
            ]
        },
        "MigratePublicVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "PermissionType",
                    "Live"
                ],
                "members": {
                    "TypeName": {},
                    "PermissionType": {},
                    "Live": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OutputString": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVXSDHXFUKWH3QVQRFFDZZ3JUMGZ7CFIKJUHJOREUYJI6HJNVOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZ3TNLHZTSJMOQWSWR6DAZ7VH6EXBR3OEMMFR75EKCJJ7ELOCEPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RONYNDFDMT5SLVHIEQTDHL7LC6Y4XZSSV4XUPOCQN6TJO7MBXPYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2IC5GS4MK2O6LRG5SWNRMP6IYKNGKAETN5Y7LAL5I4MCHUGQYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N423GKVNTX7RYGT7XPA6YVDNLH7KI34LYLUHEOA4G4YSIO7YUUJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63USDWDHMNRKYSJSV6TQWGSSEU24BTG36IX44L637AZSAZST5MAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCMZZ3QFSELXZTN2FTQNHX6H7Q3M23EUOC42ED57SOE6ZQA5DM5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
[...]
