{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-10-11",
        "endpointPrefix": "chatbot",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "proxyEndpoint": "chatbot",
        "serviceFullName": "chatbot",
        "serviceId": "WheatleyOrchestration",
        "serviceName": "chatbot",
        "signatureVersion": "v4",
        "uid": "chatbot-2017-10-11",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZFPF467TFZ4YHMNOKD6LN7GJ7HSWCH4F7GSUVHDDAJMKQVS7665Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WFUPGMWOZSNENQVGX3RRBGI6AUCG5SX7OVUKGBOLVT4VBCJVT7BQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FCEAJMDIJEMS5OG6XTJFGTLZGBYCOUIVQR3YEE7XIV23KKZKYOEQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CPEIK3B3Z5WOQXPWE7TP6HT2LYK3ZHYZZW2WSM3ZFSTZ7LZVY6NQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VSWBEXQMFQAJWPXSZAPT6X5PD5CVEVVXX6BYOHXDWCG5H5ZNAI5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MFJWTCR4PRFXMMS62JGCYVPVRZOFED6IUSF5S52B5474UYECBB4A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R64BOYRQPGT75RCSP4BDLKY5GQJ52A5UUYBX5RR4MITV7URYLHZA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DVEWGS7I4HAUXPFO3T57ZTFXNRKBPBM3E2LAZZ6OETCVCMO7FPPQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js"
        ]
    },
    "operations": {
        "CreateChimeWebhookConfiguration": {
            "http": {
                "requestUri": "/create-chime-webhook-configuration",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "WebhookDescription",
                    "WebhookUrl",
                    "SnsTopicArns",
                    "IamRoleArn",
                    "ConfigurationName"
                ],
                "members": {
                    "WebhookDescription": {},
                    "WebhookUrl": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "ConfigurationName": {},
                    "LoggingLevel": {},
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebhookConfiguration": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFPF467TFZ4YHMNOKD6LN7GJ7HSWCH4F7GSUVHDDAJMKQVS7665Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFUPGMWOZSNENQVGX3RRBGI6AUCG5SX7OVUKGBOLVT4VBCJVT7BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCEAJMDIJEMS5OG6XTJFGTLZGBYCOUIVQR3YEE7XIV23KKZKYOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPEIK3B3Z5WOQXPWE7TP6HT2LYK3ZHYZZW2WSM3ZFSTZ7LZVY6NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWBEXQMFQAJWPXSZAPT6X5PD5CVEVVXX6BYOHXDWCG5H5ZNAI5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFJWTCR4PRFXMMS62JGCYVPVRZOFED6IUSF5S52B5474UYECBB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R64BOYRQPGT75RCSP4BDLKY5GQJ52A5UUYBX5RR4MITV7URYLHZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVEWGS7I4HAUXPFO3T57ZTFXNRKBPBM3E2LAZZ6OETCVCMO7FPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js"
            ]
        },
        "CreateMicrosoftTeamsChannelConfiguration": {
            "http": {
                "requestUri": "/create-ms-teams-channel-configuration",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelId",
                    "TeamId",
                    "TenantId",
                    "IamRoleArn",
                    "ConfigurationName"
                ],
                "members": {
                    "ChannelId": {},
                    "ChannelName": {},
                    "TeamId": {},
                    "TeamName": {},
                    "TenantId": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "ConfigurationName": {},
                    "LoggingLevel": {},
                    "GuardrailPolicyArns": {
                        "shape": "Sg"
                    },
                    "UserAuthorizationRequired": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S8"
                    },
                    "CommandRoleSetting": {
                        "internalonly": true
                    },
                    "IdentityCenterInstanceArn": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFPF467TFZ4YHMNOKD6LN7GJ7HSWCH4F7GSUVHDDAJMKQVS7665Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFUPGMWOZSNENQVGX3RRBGI6AUCG5SX7OVUKGBOLVT4VBCJVT7BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCEAJMDIJEMS5OG6XTJFGTLZGBYCOUIVQR3YEE7XIV23KKZKYOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPEIK3B3Z5WOQXPWE7TP6HT2LYK3ZHYZZW2WSM3ZFSTZ7LZVY6NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWBEXQMFQAJWPXSZAPT6X5PD5CVEVVXX6BYOHXDWCG5H5ZNAI5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFJWTCR4PRFXMMS62JGCYVPVRZOFED6IUSF5S52B5474UYECBB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R64BOYRQPGT75RCSP4BDLKY5GQJ52A5UUYBX5RR4MITV7URYLHZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVEWGS7I4HAUXPFO3T57ZTFXNRKBPBM3E2LAZZ6OETCVCMO7FPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js"
            ]
        },
        "CreateSlackChannelConfiguration": {
            "http": {
                "requestUri": "/create-slack-channel-configuration",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "SlackTeamId",
                    "SlackChannelId",
                    "IamRoleArn",
                    "ConfigurationName"
                ],
                "members": {
                    "SlackTeamId": {},
                    "SlackChannelId": {},
                    "SlackChannelName": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "ConfigurationName": {},
                    "LoggingLevel": {},
                    "GuardrailPolicyArns": {
                        "shape": "Sg"
                    },
                    "UserAuthorizationRequired": {
                        "type": "boolean"
                    },
                    "AmazonInternalPreferences": {
                        "shape": "Sq"
                    },
                    "Tags": {
                        "shape": "S8"
                    },
                    "CommandRoleSetting": {
                        "internalonly": true
                    },
                    "IdentityCenterInstanceArn": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelConfiguration": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFPF467TFZ4YHMNOKD6LN7GJ7HSWCH4F7GSUVHDDAJMKQVS7665Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFUPGMWOZSNENQVGX3RRBGI6AUCG5SX7OVUKGBOLVT4VBCJVT7BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCEAJMDIJEMS5OG6XTJFGTLZGBYCOUIVQR3YEE7XIV23KKZKYOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPEIK3B3Z5WOQXPWE7TP6HT2LYK3ZHYZZW2WSM3ZFSTZ7LZVY6NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWBEXQMFQAJWPXSZAPT6X5PD5CVEVVXX6BYOHXDWCG5H5ZNAI5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFJWTCR4PRFXMMS62JGCYVPVRZOFED6IUSF5S52B5474UYECBB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R64BOYRQPGT75RCSP4BDLKY5GQJ52A5UUYBX5RR4MITV7URYLHZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVEWGS7I4HAUXPFO3T57ZTFXNRKBPBM3E2LAZZ6OETCVCMO7FPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js"
            ]
        },
        "DeleteChimeWebhookConfiguration": {
            "http": {
                "requestUri": "/delete-chime-webhook-configuration",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFPF467TFZ4YHMNOKD6LN7GJ7HSWCH4F7GSUVHDDAJMKQVS7665Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFUPGMWOZSNENQVGX3RRBGI6AUCG5SX7OVUKGBOLVT4VBCJVT7BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCEAJMDIJEMS5OG6XTJFGTLZGBYCOUIVQR3YEE7XIV23KKZKYOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPEIK3B3Z5WOQXPWE7TP6HT2LYK3ZHYZZW2WSM3ZFSTZ7LZVY6NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWBEXQMFQAJWPXSZAPT6X5PD5CVEVVXX6BYOHXDWCG5H5ZNAI5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFJWTCR4PRFXMMS62JGCYVPVRZOFED6IUSF5S52B5474UYECBB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R64BOYRQPGT75RCSP4BDLKY5GQJ52A5UUYBX5RR4MITV7URYLHZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVEWGS7I4HAUXPFO3T57ZTFXNRKBPBM3E2LAZZ6OETCVCMO7FPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js"
            ]
        },
        "DeleteMicrosoftTeamsChannelConfiguration": {
            "http": {
                "requestUri": "/delete-ms-teams-channel-configuration",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFPF467TFZ4YHMNOKD6LN7GJ7HSWCH4F7GSUVHDDAJMKQVS7665Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFUPGMWOZSNENQVGX3RRBGI6AUCG5SX7OVUKGBOLVT4VBCJVT7BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCEAJMDIJEMS5OG6XTJFGTLZGBYCOUIVQR3YEE7XIV23KKZKYOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPEIK3B3Z5WOQXPWE7TP6HT2LYK3ZHYZZW2WSM3ZFSTZ7LZVY6NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWBEXQMFQAJWPXSZAPT6X5PD5CVEVVXX6BYOHXDWCG5H5ZNAI5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFJWTCR4PRFXMMS62JGCYVPVRZOFED6IUSF5S52B5474UYECBB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R64BOYRQPGT75RCSP4BDLKY5GQJ52A5UUYBX5RR4MITV7URYLHZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVEWGS7I4HAUXPFO3T57ZTFXNRKBPBM3E2LAZZ6OETCVCMO7FPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js"
            ]
        },
        "DeleteMicrosoftTeamsConfiguredTeam": {
            "http": {
                "requestUri": "/delete-ms-teams-configured-teams",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "TeamId"
                ],
                "members": {
                    "TeamId": {},
                    "EnableDryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFPF467TFZ4YHMNOKD6LN7GJ7HSWCH4F7GSUVHDDAJMKQVS7665Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFUPGMWOZSNENQVGX3RRBGI6AUCG5SX7OVUKGBOLVT4VBCJVT7BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCEAJMDIJEMS5OG6XTJFGTLZGBYCOUIVQR3YEE7XIV23KKZKYOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPEIK3B3Z5WOQXPWE7TP6HT2LYK3ZHYZZW2WSM3ZFSTZ7LZVY6NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWBEXQMFQAJWPXSZAPT6X5PD5CVEVVXX6BYOHXDWCG5H5ZNAI5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFJWTCR4PRFXMMS62JGCYVPVRZOFED6IUSF5S52B5474UYECBB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R64BOYRQPGT75RCSP4BDLKY5GQJ52A5UUYBX5RR4MITV7URYLHZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVEWGS7I4HAUXPFO3T57ZTFXNRKBPBM3E2LAZZ6OETCVCMO7FPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js"
            ]
        },
        "DeleteSlackChannelConfiguration": {
            "http": {
                "requestUri": "/delete-slack-channel-configuration",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFPF467TFZ4YHMNOKD6LN7GJ7HSWCH4F7GSUVHDDAJMKQVS7665Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFUPGMWOZSNENQVGX3RRBGI6AUCG5SX7OVUKGBOLVT4VBCJVT7BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCEAJMDIJEMS5OG6XTJFGTLZGBYCOUIVQR3YEE7XIV23KKZKYOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPEIK3B3Z5WOQXPWE7TP6HT2LYK3ZHYZZW2WSM3ZFSTZ7LZVY6NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWBEXQMFQAJWPXSZAPT6X5PD5CVEVVXX6BYOHXDWCG5H5ZNAI5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFJWTCR4PRFXMMS62JGCYVPVRZOFED6IUSF5S52B5474UYECBB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R64BOYRQPGT75RCSP4BDLKY5GQJ52A5UUYBX5RR4MITV7URYLHZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVEWGS7I4HAUXPFO3T57ZTFXNRKBPBM3E2LAZZ6OETCVCMO7FPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js"
            ]
        },
        "DeleteSlackUserIdentity": {
            "http": {
                "requestUri": "/delete-slack-user-identity",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn",
                    "SlackTeamId",
                    "SlackUserId"
                ],
                "members": {
                    "ChatConfigurationArn": {},
                    "SlackTeamId": {},
                    "SlackUserId": {},
                    "EnableDryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFPF467TFZ4YHMNOKD6LN7GJ7HSWCH4F7GSUVHDDAJMKQVS7665Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFUPGMWOZSNENQVGX3RRBGI6AUCG5SX7OVUKGBOLVT4VBCJVT7BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCEAJMDIJEMS5OG6XTJFGTLZGBYCOUIVQR3YEE7XIV23KKZKYOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPEIK3B3Z5WOQXPWE7TP6HT2LYK3ZHYZZW2WSM3ZFSTZ7LZVY6NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWBEXQMFQAJWPXSZAPT6X5PD5CVEVVXX6BYOHXDWCG5H5ZNAI5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFJWTCR4PRFXMMS62JGCYVPVRZOFED6IUSF5S52B5474UYECBB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R64BOYRQPGT75RCSP4BDLKY5GQJ52A5UUYBX5RR4MITV7URYLHZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVEWGS7I4HAUXPFO3T57ZTFXNRKBPBM3E2LAZZ6OETCVCMO7FPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js"
            ]
        },
        "DeleteSlackWorkspaceAuthorization": {
            "http": {
                "requestUri": "/delete-slack-workspace-authorization",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "SlackTeamId"
                ],
                "members": {
                    "SlackTeamId": {},
                    "EnableDryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFPF467TFZ4YHMNOKD6LN7GJ7HSWCH4F7GSUVHDDAJMKQVS7665Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFUPGMWOZSNENQVGX3RRBGI6AUCG5SX7OVUKGBOLVT4VBCJVT7BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCEAJMDIJEMS5OG6XTJFGTLZGBYCOUIVQR3YEE7XIV23KKZKYOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPEIK3B3Z5WOQXPWE7TP6HT2LYK3ZHYZZW2WSM3ZFSTZ7LZVY6NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWBEXQMFQAJWPXSZAPT6X5PD5CVEVVXX6BYOHXDWCG5H5ZNAI5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFJWTCR4PRFXMMS62JGCYVPVRZOFED6IUSF5S52B5474UYECBB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R64BOYRQPGT75RCSP4BDLKY5GQJ52A5UUYBX5RR4MITV7URYLHZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVEWGS7I4HAUXPFO3T57ZTFXNRKBPBM3E2LAZZ6OETCVCMO7FPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js"
            ]
        },
        "DescribeChimeWebhookConfigurations": {
            "http": {
                "requestUri": "/describe-chime-webhook-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "WebhookConfigurations": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFPF467TFZ4YHMNOKD6LN7GJ7HSWCH4F7GSUVHDDAJMKQVS7665Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFUPGMWOZSNENQVGX3RRBGI6AUCG5SX7OVUKGBOLVT4VBCJVT7BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCEAJMDIJEMS5OG6XTJFGTLZGBYCOUIVQR3YEE7XIV23KKZKYOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPEIK3B3Z5WOQXPWE7TP6HT2LYK3ZHYZZW2WSM3ZFSTZ7LZVY6NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWBEXQMFQAJWPXSZAPT6X5PD5CVEVVXX6BYOHXDWCG5H5ZNAI5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFJWTCR4PRFXMMS62JGCYVPVRZOFED6IUSF5S52B5474UYECBB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R64BOYRQPGT75RCSP4BDLKY5GQJ52A5UUYBX5RR4MITV7URYLHZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVEWGS7I4HAUXPFO3T57ZTFXNRKBPBM3E2LAZZ6OETCVCMO7FPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js"
            ]
        },
        "DescribeSlackChannelConfigurations": {
            "http": {
                "requestUri": "/describe-slack-channel-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SlackChannelConfigurations": {
                        "type": "list",
                        "member": {
                            "shape": "Sv"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFPF467TFZ4YHMNOKD6LN7GJ7HSWCH4F7GSUVHDDAJMKQVS7665Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFUPGMWOZSNENQVGX3RRBGI6AUCG5SX7OVUKGBOLVT4VBCJVT7BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCEAJMDIJEMS5OG6XTJFGTLZGBYCOUIVQR3YEE7XIV23KKZKYOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPEIK3B3Z5WOQXPWE7TP6HT2LYK3ZHYZZW2WSM3ZFSTZ7LZVY6NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWBEXQMFQAJWPXSZAPT6X5PD5CVEVVXX6BYOHXDWCG5H5ZNAI5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFJWTCR4PRFXMMS62JGCYVPVRZOFED6IUSF5S52B5474UYECBB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R64BOYRQPGT75RCSP4BDLKY5GQJ52A5UUYBX5RR4MITV7URYLHZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVEWGS7I4HAUXPFO3T57ZTFXNRKBPBM3E2LAZZ6OETCVCMO7FPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js"
            ]
        },
        "DescribeSlackChannels": {
            "http": {
                "requestUri": "/describe-slack-channels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SlackTeamId"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "SlackTeamId": {},
                    "EnableDryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SlackChannels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SlackTeamId",
                                "SlackChannelId",
                                "SlackChannelName"
                            ],
                            "members": {
                                "SlackTeamId": {},
                                "SlackTeamName": {},
                                "SlackChannelId": {},
                                "SlackChannelName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJE6LEYVYY4B5K5HTNLQRHRTHJN6PJ6X7TIE33OZZTNJU7TLZHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNMYJ75JBFYN6QKRID3CCFHFWGXOXRLRUW5WKYOLUSOBNTLQDOIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js"
            ]
        },
        "DescribeSlackUserIdentities": {
            "http": {
                "requestUri": "/describe-slack-user-identities",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ChatConfigurationArn": {},
                    "GetCallerIdentity": {
                        "type": "boolean"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackUserIdentities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "IamRoleArn",
                                "ChatConfigurationArn",
                                "SlackTeamId",
                                "SlackUserId"
                            ],
                            "members": {
                                "IamRoleArn": {},
                                "ChatConfigurationArn": {},
                                "SlackTeamId": {},
                                "SlackUserId": {},
                                "AwsUserIdentity": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFPF467TFZ4YHMNOKD6LN7GJ7HSWCH4F7GSUVHDDAJMKQVS7665Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFUPGMWOZSNENQVGX3RRBGI6AUCG5SX7OVUKGBOLVT4VBCJVT7BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCEAJMDIJEMS5OG6XTJFGTLZGBYCOUIVQR3YEE7XIV23KKZKYOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPEIK3B3Z5WOQXPWE7TP6HT2LYK3ZHYZZW2WSM3ZFSTZ7LZVY6NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWBEXQMFQAJWPXSZAPT6X5PD5CVEVVXX6BYOHXDWCG5H5ZNAI5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFJWTCR4PRFXMMS62JGCYVPVRZOFED6IUSF5S52B5474UYECBB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R64BOYRQPGT75RCSP4BDLKY5GQJ52A5UUYBX5RR4MITV7URYLHZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVEWGS7I4HAUXPFO3T57ZTFXNRKBPBM3E2LAZZ6OETCVCMO7FPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js"
            ]
        },
        "DescribeSlackWorkspaces": {
            "http": {
                "requestUri": "/describe-slack-workspaces",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackWorkspaces": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SlackTeamId",
                                "SlackTeamName"
                            ],
                            "members": {
                                "SlackTeamId": {},
                                "SlackTeamName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFPF467TFZ4YHMNOKD6LN7GJ7HSWCH4F7GSUVHDDAJMKQVS7665Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFUPGMWOZSNENQVGX3RRBGI6AUCG5SX7OVUKGBOLVT4VBCJVT7BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCEAJMDIJEMS5OG6XTJFGTLZGBYCOUIVQR3YEE7XIV23KKZKYOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPEIK3B3Z5WOQXPWE7TP6HT2LYK3ZHYZZW2WSM3ZFSTZ7LZVY6NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWBEXQMFQAJWPXSZAPT6X5PD5CVEVVXX6BYOHXDWCG5H5ZNAI5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFJWTCR4PRFXMMS62JGCYVPVRZOFED6IUSF5S52B5474UYECBB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R64BOYRQPGT75RCSP4BDLKY5GQJ52A5UUYBX5RR4MITV7URYLHZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVEWGS7I4HAUXPFO3T57ZTFXNRKBPBM3E2LAZZ6OETCVCMO7FPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js"
            ]
        },
        "GetAccountPreferences": {
            "http": {
                "requestUri": "/get-account-preferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountPreferences": {
                        "shape": "S1y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFPF467TFZ4YHMNOKD6LN7GJ7HSWCH4F7GSUVHDDAJMKQVS7665Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFUPGMWOZSNENQVGX3RRBGI6AUCG5SX7OVUKGBOLVT4VBCJVT7BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCEAJMDIJEMS5OG6XTJFGTLZGBYCOUIVQR3YEE7XIV23KKZKYOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPEIK3B3Z5WOQXPWE7TP6HT2LYK3ZHYZZW2WSM3ZFSTZ7LZVY6NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWBEXQMFQAJWPXSZAPT6X5PD5CVEVVXX6BYOHXDWCG5H5ZNAI5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFJWTCR4PRFXMMS62JGCYVPVRZOFED6IUSF5S52B5474UYECBB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R64BOYRQPGT75RCSP4BDLKY5GQJ52A5UUYBX5RR4MITV7URYLHZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVEWGS7I4HAUXPFO3T57ZTFXNRKBPBM3E2LAZZ6OETCVCMO7FPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js"
            ]
        },
        "GetMicrosoftTeamsChannelConfiguration": {
            "http": {
                "requestUri": "/get-ms-teams-channel-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFPF467TFZ4YHMNOKD6LN7GJ7HSWCH4F7GSUVHDDAJMKQVS7665Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFUPGMWOZSNENQVGX3RRBGI6AUCG5SX7OVUKGBOLVT4VBCJVT7BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCEAJMDIJEMS5OG6XTJFGTLZGBYCOUIVQR3YEE7XIV23KKZKYOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPEIK3B3Z5WOQXPWE7TP6HT2LYK3ZHYZZW2WSM3ZFSTZ7LZVY6NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWBEXQMFQAJWPXSZAPT6X5PD5CVEVVXX6BYOHXDWCG5H5ZNAI5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFJWTCR4PRFXMMS62JGCYVPVRZOFED6IUSF5S52B5474UYECBB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R64BOYRQPGT75RCSP4BDLKY5GQJ52A5UUYBX5RR4MITV7URYLHZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVEWGS7I4HAUXPFO3T57ZTFXNRKBPBM3E2LAZZ6OETCVCMO7FPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js"
            ]
        },
        "GetMicrosoftTeamsOauthParameters": {
            "http": {
                "requestUri": "/get-ms-teams-oauth-parameters"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TenantId",
                    "TeamId",
                    "ChannelId"
                ],
                "members": {
                    "TenantId": {},
                    "TeamId": {},
                    "ChannelId": {},
                    "ChannelName": {},
                    "IamRoleArn": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StateId": {},
                    "ClientId": {},
                    "CodeChallenge": {},
                    "Scope": {},
                    "RedirectUri": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJE6LEYVYY4B5K5HTNLQRHRTHJN6PJ6X7TIE33OZZTNJU7TLZHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNMYJ75JBFYN6QKRID3CCFHFWGXOXRLRUW5WKYOLUSOBNTLQDOIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js"
            ]
        },
        "GetSlackOauthParameters": {
            "http": {
                "requestUri": "/get-slack-oauth-parameters"
            },
            "input": {
                "type": "structure",
                "members": {
                    "OAuthVersion": {},
                    "SlackUserIamRoleArn": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackOauthParameters": {
                        "type": "structure",
                        "members": {
                            "ClientId": {},
                            "Scope": {},
                            "State": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJE6LEYVYY4B5K5HTNLQRHRTHJN6PJ6X7TIE33OZZTNJU7TLZHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNMYJ75JBFYN6QKRID3CCFHFWGXOXRLRUW5WKYOLUSOBNTLQDOIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js"
            ]
        },
        "ListMicrosoftTeamsChannelConfigurations": {
            "http": {
                "requestUri": "/list-ms-teams-channel-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "TeamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "TeamChannelConfigurations": {
                        "type": "list",
                        "member": {
                            "shape": "Sj"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFPF467TFZ4YHMNOKD6LN7GJ7HSWCH4F7GSUVHDDAJMKQVS7665Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFUPGMWOZSNENQVGX3RRBGI6AUCG5SX7OVUKGBOLVT4VBCJVT7BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCEAJMDIJEMS5OG6XTJFGTLZGBYCOUIVQR3YEE7XIV23KKZKYOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPEIK3B3Z5WOQXPWE7TP6HT2LYK3ZHYZZW2WSM3ZFSTZ7LZVY6NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWBEXQMFQAJWPXSZAPT6X5PD5CVEVVXX6BYOHXDWCG5H5ZNAI5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFJWTCR4PRFXMMS62JGCYVPVRZOFED6IUSF5S52B5474UYECBB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R64BOYRQPGT75RCSP4BDLKY5GQJ52A5UUYBX5RR4MITV7URYLHZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVEWGS7I4HAUXPFO3T57ZTFXNRKBPBM3E2LAZZ6OETCVCMO7FPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js"
            ]
        },
        "ListMicrosoftTeamsConfiguredTeams": {
            "http": {
                "requestUri": "/list-ms-teams-configured-teams",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfiguredTeams": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "TenantId",
                                "TeamId"
                            ],
                            "members": {
                                "TenantId": {},
                                "TeamId": {},
                                "TeamName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFPF467TFZ4YHMNOKD6LN7GJ7HSWCH4F7GSUVHDDAJMKQVS7665Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFUPGMWOZSNENQVGX3RRBGI6AUCG5SX7OVUKGBOLVT4VBCJVT7BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCEAJMDIJEMS5OG6XTJFGTLZGBYCOUIVQR3YEE7XIV23KKZKYOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPEIK3B3Z5WOQXPWE7TP6HT2LYK3ZHYZZW2WSM3ZFSTZ7LZVY6NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWBEXQMFQAJWPXSZAPT6X5PD5CVEVVXX6BYOHXDWCG5H5ZNAI5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFJWTCR4PRFXMMS62JGCYVPVRZOFED6IUSF5S52B5474UYECBB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R64BOYRQPGT75RCSP4BDLKY5GQJ52A5UUYBX5RR4MITV7URYLHZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVEWGS7I4HAUXPFO3T57ZTFXNRKBPBM3E2LAZZ6OETCVCMO7FPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js"
            ]
        },
        "RedeemMicrosoftTeamsOauthCode": {
            "http": {
                "requestUri": "/redeem-ms-teams-oauth-code"
            },
            "input": {
                "type": "structure",
                "required": [
                    "StateId",
                    "Code"
                ],
                "members": {
                    "StateId": {},
                    "Code": {
                        "type": "string",
                        "sensitive": true
                    },
                    "RedirectUri": {},
                    "EnableDryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StateId": {},
                    "TenantId": {},
                    "TeamId": {},
                    "ChannelId": {},
                    "TeamName": {},
                    "ChannelName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJE6LEYVYY4B5K5HTNLQRHRTHJN6PJ6X7TIE33OZZTNJU7TLZHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNMYJ75JBFYN6QKRID3CCFHFWGXOXRLRUW5WKYOLUSOBNTLQDOIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js"
            ]
        },
        "RedeemSlackOauthCode": {
            "http": {
                "requestUri": "/redeem-slack-oauth-code"
            },
            "input": {
                "type": "structure",
                "required": [
                    "State",
                    "Code",
                    "RedirectUri"
                ],
                "members": {
                    "State": {},
                    "Code": {
                        "type": "string",
                        "sensitive": true
                    },
                    "RedirectUri": {},
                    "EnableDryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackTeamId": {},
                    "SlackTeamName": {},
                    "BotResult": {
                        "type": "structure",
                        "members": {
                            "BotUserId": {}
                        }
                    },
                    "SlackUserId": {},
                    "ChatConfigurationArn": {},
                    "IamRoleArn": {},
                    "AwsUserIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJE6LEYVYY4B5K5HTNLQRHRTHJN6PJ6X7TIE33OZZTNJU7TLZHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNMYJ75JBFYN6QKRID3CCFHFWGXOXRLRUW5WKYOLUSOBNTLQDOIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js"
            ]
        },
        "UpdateAccountPreferences": {
            "http": {
                "requestUri": "/update-account-preferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "UserAuthorizationRequired": {
                        "type": "boolean"
                    },
                    "TrainingDataCollectionEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountPreferences": {
                        "shape": "S1y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFPF467TFZ4YHMNOKD6LN7GJ7HSWCH4F7GSUVHDDAJMKQVS7665Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFUPGMWOZSNENQVGX3RRBGI6AUCG5SX7OVUKGBOLVT4VBCJVT7BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCEAJMDIJEMS5OG6XTJFGTLZGBYCOUIVQR3YEE7XIV23KKZKYOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPEIK3B3Z5WOQXPWE7TP6HT2LYK3ZHYZZW2WSM3ZFSTZ7LZVY6NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWBEXQMFQAJWPXSZAPT6X5PD5CVEVVXX6BYOHXDWCG5H5ZNAI5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFJWTCR4PRFXMMS62JGCYVPVRZOFED6IUSF5S52B5474UYECBB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R64BOYRQPGT75RCSP4BDLKY5GQJ52A5UUYBX5RR4MITV7URYLHZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVEWGS7I4HAUXPFO3T57ZTFXNRKBPBM3E2LAZZ6OETCVCMO7FPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js"
            ]
        },
        "UpdateChimeWebhookConfiguration": {
            "http": {
                "requestUri": "/update-chime-webhook-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {},
                    "WebhookDescription": {},
                    "WebhookUrl": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "LoggingLevel": {},
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebhookConfiguration": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFPF467TFZ4YHMNOKD6LN7GJ7HSWCH4F7GSUVHDDAJMKQVS7665Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFUPGMWOZSNENQVGX3RRBGI6AUCG5SX7OVUKGBOLVT4VBCJVT7BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
[...]
