{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-10-11",
        "endpointPrefix": "chatbot",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "proxyEndpoint": "chatbot",
        "serviceFullName": "chatbot",
        "serviceId": "WheatleyOrchestration",
        "serviceName": "chatbot",
        "signatureVersion": "v4",
        "uid": "chatbot-2017-10-11",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.js"
        ]
    },
    "operations": {
        "CreateChimeWebhookConfiguration": {
            "http": {
                "requestUri": "/create-chime-webhook-configuration",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "WebhookDescription",
                    "WebhookUrl",
                    "SnsTopicArns",
                    "IamRoleArn",
                    "ConfigurationName"
                ],
                "members": {
                    "WebhookDescription": {},
                    "WebhookUrl": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "ConfigurationName": {},
                    "LoggingLevel": {},
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebhookConfiguration": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3FNDQAIKJ6WAQBDF7YSSAUOYAAM3IJM5WYVHHG4CX7Y2AFYAWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.js"
            ]
        },
        "CreateMicrosoftTeamsChannelConfiguration": {
            "http": {
                "requestUri": "/create-ms-teams-channel-configuration",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelId",
                    "TeamId",
                    "TenantId",
                    "IamRoleArn",
                    "ConfigurationName"
                ],
                "members": {
                    "ChannelId": {},
                    "ChannelName": {},
                    "TeamId": {},
                    "TeamName": {},
                    "TenantId": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "ConfigurationName": {},
                    "LoggingLevel": {},
                    "GuardrailPolicyArns": {
                        "shape": "Sg"
                    },
                    "UserAuthorizationRequired": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3FNDQAIKJ6WAQBDF7YSSAUOYAAM3IJM5WYVHHG4CX7Y2AFYAWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.js"
            ]
        },
        "CreateSlackChannelConfiguration": {
            "http": {
                "requestUri": "/create-slack-channel-configuration",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "SlackTeamId",
                    "SlackChannelId",
                    "IamRoleArn",
                    "ConfigurationName"
                ],
                "members": {
                    "SlackTeamId": {},
                    "SlackChannelId": {},
                    "SlackChannelName": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "ConfigurationName": {},
                    "LoggingLevel": {},
                    "GuardrailPolicyArns": {
                        "shape": "Sg"
                    },
                    "UserAuthorizationRequired": {
                        "type": "boolean"
                    },
                    "AmazonInternalPreferences": {
                        "shape": "Sq"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelConfiguration": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3FNDQAIKJ6WAQBDF7YSSAUOYAAM3IJM5WYVHHG4CX7Y2AFYAWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.js"
            ]
        },
        "DeleteChimeWebhookConfiguration": {
            "http": {
                "requestUri": "/delete-chime-webhook-configuration",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3FNDQAIKJ6WAQBDF7YSSAUOYAAM3IJM5WYVHHG4CX7Y2AFYAWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.js"
            ]
        },
        "DeleteMicrosoftTeamsChannelConfiguration": {
            "http": {
                "requestUri": "/delete-ms-teams-channel-configuration",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3FNDQAIKJ6WAQBDF7YSSAUOYAAM3IJM5WYVHHG4CX7Y2AFYAWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.js"
            ]
        },
        "DeleteMicrosoftTeamsConfiguredTeam": {
            "http": {
                "requestUri": "/delete-ms-teams-configured-teams",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "TeamId"
                ],
                "members": {
                    "TeamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3FNDQAIKJ6WAQBDF7YSSAUOYAAM3IJM5WYVHHG4CX7Y2AFYAWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.js"
            ]
        },
        "DeleteSlackChannelConfiguration": {
            "http": {
                "requestUri": "/delete-slack-channel-configuration",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3FNDQAIKJ6WAQBDF7YSSAUOYAAM3IJM5WYVHHG4CX7Y2AFYAWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.js"
            ]
        },
        "DeleteSlackUserIdentity": {
            "http": {
                "requestUri": "/delete-slack-user-identity",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn",
                    "SlackTeamId",
                    "SlackUserId"
                ],
                "members": {
                    "ChatConfigurationArn": {},
                    "SlackTeamId": {},
                    "SlackUserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3FNDQAIKJ6WAQBDF7YSSAUOYAAM3IJM5WYVHHG4CX7Y2AFYAWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.js"
            ]
        },
        "DeleteSlackWorkspaceAuthorization": {
            "http": {
                "requestUri": "/delete-slack-workspace-authorization",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "SlackTeamId"
                ],
                "members": {
                    "SlackTeamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3FNDQAIKJ6WAQBDF7YSSAUOYAAM3IJM5WYVHHG4CX7Y2AFYAWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.js"
            ]
        },
        "DescribeChimeWebhookConfigurations": {
            "http": {
                "requestUri": "/describe-chime-webhook-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "WebhookConfigurations": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3FNDQAIKJ6WAQBDF7YSSAUOYAAM3IJM5WYVHHG4CX7Y2AFYAWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.js"
            ]
        },
        "DescribeSlackChannelConfigurations": {
            "http": {
                "requestUri": "/describe-slack-channel-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SlackChannelConfigurations": {
                        "type": "list",
                        "member": {
                            "shape": "Sv"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3FNDQAIKJ6WAQBDF7YSSAUOYAAM3IJM5WYVHHG4CX7Y2AFYAWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.js"
            ]
        },
        "DescribeSlackChannels": {
            "http": {
                "requestUri": "/describe-slack-channels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SlackTeamId"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "SlackTeamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SlackChannels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SlackTeamId",
                                "SlackChannelId",
                                "SlackChannelName"
                            ],
                            "members": {
                                "SlackTeamId": {},
                                "SlackTeamName": {},
                                "SlackChannelId": {},
                                "SlackChannelName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.js"
            ]
        },
        "DescribeSlackUserIdentities": {
            "http": {
                "requestUri": "/describe-slack-user-identities",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ChatConfigurationArn": {},
                    "GetCallerIdentity": {
                        "type": "boolean"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackUserIdentities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "IamRoleArn",
                                "ChatConfigurationArn",
                                "SlackTeamId",
                                "SlackUserId"
                            ],
                            "members": {
                                "IamRoleArn": {},
                                "ChatConfigurationArn": {},
                                "SlackTeamId": {},
                                "SlackUserId": {},
                                "AwsUserIdentity": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3FNDQAIKJ6WAQBDF7YSSAUOYAAM3IJM5WYVHHG4CX7Y2AFYAWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.js"
            ]
        },
        "DescribeSlackWorkspaces": {
            "http": {
                "requestUri": "/describe-slack-workspaces",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackWorkspaces": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SlackTeamId",
                                "SlackTeamName"
                            ],
                            "members": {
                                "SlackTeamId": {},
                                "SlackTeamName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3FNDQAIKJ6WAQBDF7YSSAUOYAAM3IJM5WYVHHG4CX7Y2AFYAWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.js"
            ]
        },
        "GetAccountPreferences": {
            "http": {
                "requestUri": "/get-account-preferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountPreferences": {
                        "shape": "S1y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3FNDQAIKJ6WAQBDF7YSSAUOYAAM3IJM5WYVHHG4CX7Y2AFYAWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.js"
            ]
        },
        "GetMicrosoftTeamsChannelConfiguration": {
            "http": {
                "requestUri": "/get-ms-teams-channel-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3FNDQAIKJ6WAQBDF7YSSAUOYAAM3IJM5WYVHHG4CX7Y2AFYAWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.js"
            ]
        },
        "GetMicrosoftTeamsOauthParameters": {
            "http": {
                "requestUri": "/get-ms-teams-oauth-parameters"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TenantId",
                    "TeamId",
                    "ChannelId"
                ],
                "members": {
                    "TenantId": {},
                    "TeamId": {},
                    "ChannelId": {},
                    "ChannelName": {},
                    "IamRoleArn": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StateId": {},
                    "ClientId": {},
                    "CodeChallenge": {},
                    "Scope": {},
                    "RedirectUri": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.js"
            ]
        },
        "GetSlackOauthParameters": {
            "http": {
                "requestUri": "/get-slack-oauth-parameters"
            },
            "input": {
                "type": "structure",
                "members": {
                    "OAuthVersion": {},
                    "SlackUserIamRoleArn": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackOauthParameters": {
                        "type": "structure",
                        "members": {
                            "ClientId": {},
                            "Scope": {},
                            "State": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.js"
            ]
        },
        "ListMicrosoftTeamsChannelConfigurations": {
            "http": {
                "requestUri": "/list-ms-teams-channel-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "TeamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "TeamChannelConfigurations": {
                        "type": "list",
                        "member": {
                            "shape": "Sj"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3FNDQAIKJ6WAQBDF7YSSAUOYAAM3IJM5WYVHHG4CX7Y2AFYAWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.js"
            ]
        },
        "ListMicrosoftTeamsConfiguredTeams": {
            "http": {
                "requestUri": "/list-ms-teams-configured-teams",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfiguredTeams": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "TenantId",
                                "TeamId"
                            ],
                            "members": {
                                "TenantId": {},
                                "TeamId": {},
                                "TeamName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3FNDQAIKJ6WAQBDF7YSSAUOYAAM3IJM5WYVHHG4CX7Y2AFYAWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.js"
            ]
        },
        "RedeemMicrosoftTeamsOauthCode": {
            "http": {
                "requestUri": "/redeem-ms-teams-oauth-code"
            },
            "input": {
                "type": "structure",
                "required": [
                    "StateId",
                    "Code"
                ],
                "members": {
                    "StateId": {},
                    "Code": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StateId": {},
                    "TenantId": {},
                    "TeamId": {},
                    "ChannelId": {},
                    "TeamName": {},
                    "ChannelName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.js"
            ]
        },
        "RedeemSlackOauthCode": {
            "http": {
                "requestUri": "/redeem-slack-oauth-code"
            },
            "input": {
                "type": "structure",
                "required": [
                    "State",
                    "Code",
                    "RedirectUri"
                ],
                "members": {
                    "State": {},
                    "Code": {
                        "type": "string",
                        "sensitive": true
                    },
                    "RedirectUri": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackTeamId": {},
                    "SlackTeamName": {},
                    "BotResult": {
                        "type": "structure",
                        "members": {
                            "BotUserId": {}
                        }
                    },
                    "SlackUserId": {},
                    "ChatConfigurationArn": {},
                    "IamRoleArn": {},
                    "AwsUserIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.js"
            ]
        },
        "UpdateAccountPreferences": {
            "http": {
                "requestUri": "/update-account-preferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "UserAuthorizationRequired": {
                        "type": "boolean"
                    },
                    "TrainingDataCollectionEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountPreferences": {
                        "shape": "S1y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3FNDQAIKJ6WAQBDF7YSSAUOYAAM3IJM5WYVHHG4CX7Y2AFYAWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.js"
            ]
        },
        "UpdateChimeWebhookConfiguration": {
            "http": {
                "requestUri": "/update-chime-webhook-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {},
                    "WebhookDescription": {},
                    "WebhookUrl": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "LoggingLevel": {},
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebhookConfiguration": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3FNDQAIKJ6WAQBDF7YSSAUOYAAM3IJM5WYVHHG4CX7Y2AFYAWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.js"
            ]
        },
        "UpdateMicrosoftTeamsChannelConfiguration": {
[...]
