{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-10-11",
        "endpointPrefix": "chatbot",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "proxyEndpoint": "chatbot",
        "serviceFullName": "chatbot",
        "serviceId": "WheatleyOrchestration",
        "serviceName": "chatbot",
        "signatureVersion": "v4",
        "uid": "chatbot-2017-10-11",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/XUCU4E36ED7N7XAFTT3IGB5AUTPULURYXM3UNTNJPGHBTAURQVEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFQVMMQRMXF2H5OQBB7QKGY633AYF5WGU3D4XIJAHDSSEC7WFW4A/main.bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/76CQZBKSL6A2VPNUB4WUM5FBJO6YQ2DCJNPU2GT4GHT4AI4PMBXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HXVWXM3ZAVR764RBY4EP47ISXU7OPVM2KZXJ7VFLXS2KELJPGYGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FINKQA24GXSG5UFFVNGHZKME2LJZQZATKWIU6XRLNFAIOQYHOVFQ/main.bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4QZRES6KVUABQZD5RELK2QNRXIMRZMVW2VAIFLTEVMAK5YZPXYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ADUKN3FQ6GYSDFYSEDQHIYU5TNDWUGZA6C7MCPMG5Z7PCGSAHWZA/main.bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YJPVU7EFZOQMFWRJIAK33UQUJMHT2KM4RGMY7AP5J74HHVCZXXXA/main.bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GQHN7UILW34ASOFK5NB5WWHDWHWC22ZCMLP3DGLKPZISRSSBOOZQ/main.bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
        ]
    },
    "operations": {
        "CreateChimeWebhookConfiguration": {
            "http": {
                "requestUri": "/create-chime-webhook-configuration",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "WebhookDescription",
                    "WebhookUrl",
                    "SnsTopicArns",
                    "IamRoleArn",
                    "ConfigurationName"
                ],
                "members": {
                    "WebhookDescription": {},
                    "WebhookUrl": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "ConfigurationName": {},
                    "LoggingLevel": {},
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebhookConfiguration": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFQVMMQRMXF2H5OQBB7QKGY633AYF5WGU3D4XIJAHDSSEC7WFW4A/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CQZBKSL6A2VPNUB4WUM5FBJO6YQ2DCJNPU2GT4GHT4AI4PMBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXVWXM3ZAVR764RBY4EP47ISXU7OPVM2KZXJ7VFLXS2KELJPGYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FINKQA24GXSG5UFFVNGHZKME2LJZQZATKWIU6XRLNFAIOQYHOVFQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4QZRES6KVUABQZD5RELK2QNRXIMRZMVW2VAIFLTEVMAK5YZPXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADUKN3FQ6GYSDFYSEDQHIYU5TNDWUGZA6C7MCPMG5Z7PCGSAHWZA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJPVU7EFZOQMFWRJIAK33UQUJMHT2KM4RGMY7AP5J74HHVCZXXXA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHN7UILW34ASOFK5NB5WWHDWHWC22ZCMLP3DGLKPZISRSSBOOZQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "CreateMicrosoftTeamsChannelConfiguration": {
            "http": {
                "requestUri": "/create-ms-teams-channel-configuration",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelId",
                    "TeamId",
                    "TenantId",
                    "IamRoleArn",
                    "ConfigurationName"
                ],
                "members": {
                    "ChannelId": {},
                    "ChannelName": {},
                    "TeamId": {},
                    "TeamName": {},
                    "TenantId": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "ConfigurationName": {},
                    "LoggingLevel": {},
                    "GuardrailPolicyArns": {
                        "shape": "Sg"
                    },
                    "UserAuthorizationRequired": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFQVMMQRMXF2H5OQBB7QKGY633AYF5WGU3D4XIJAHDSSEC7WFW4A/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CQZBKSL6A2VPNUB4WUM5FBJO6YQ2DCJNPU2GT4GHT4AI4PMBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXVWXM3ZAVR764RBY4EP47ISXU7OPVM2KZXJ7VFLXS2KELJPGYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FINKQA24GXSG5UFFVNGHZKME2LJZQZATKWIU6XRLNFAIOQYHOVFQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4QZRES6KVUABQZD5RELK2QNRXIMRZMVW2VAIFLTEVMAK5YZPXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADUKN3FQ6GYSDFYSEDQHIYU5TNDWUGZA6C7MCPMG5Z7PCGSAHWZA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJPVU7EFZOQMFWRJIAK33UQUJMHT2KM4RGMY7AP5J74HHVCZXXXA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHN7UILW34ASOFK5NB5WWHDWHWC22ZCMLP3DGLKPZISRSSBOOZQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "CreateSlackChannelConfiguration": {
            "http": {
                "requestUri": "/create-slack-channel-configuration",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "SlackTeamId",
                    "SlackChannelId",
                    "IamRoleArn",
                    "ConfigurationName"
                ],
                "members": {
                    "SlackTeamId": {},
                    "SlackChannelId": {},
                    "SlackChannelName": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "ConfigurationName": {},
                    "LoggingLevel": {},
                    "GuardrailPolicyArns": {
                        "shape": "Sg"
                    },
                    "UserAuthorizationRequired": {
                        "type": "boolean"
                    },
                    "AmazonInternalPreferences": {
                        "shape": "Sq"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelConfiguration": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFQVMMQRMXF2H5OQBB7QKGY633AYF5WGU3D4XIJAHDSSEC7WFW4A/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CQZBKSL6A2VPNUB4WUM5FBJO6YQ2DCJNPU2GT4GHT4AI4PMBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXVWXM3ZAVR764RBY4EP47ISXU7OPVM2KZXJ7VFLXS2KELJPGYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FINKQA24GXSG5UFFVNGHZKME2LJZQZATKWIU6XRLNFAIOQYHOVFQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4QZRES6KVUABQZD5RELK2QNRXIMRZMVW2VAIFLTEVMAK5YZPXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADUKN3FQ6GYSDFYSEDQHIYU5TNDWUGZA6C7MCPMG5Z7PCGSAHWZA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJPVU7EFZOQMFWRJIAK33UQUJMHT2KM4RGMY7AP5J74HHVCZXXXA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHN7UILW34ASOFK5NB5WWHDWHWC22ZCMLP3DGLKPZISRSSBOOZQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "DeleteChimeWebhookConfiguration": {
            "http": {
                "requestUri": "/delete-chime-webhook-configuration",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFQVMMQRMXF2H5OQBB7QKGY633AYF5WGU3D4XIJAHDSSEC7WFW4A/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CQZBKSL6A2VPNUB4WUM5FBJO6YQ2DCJNPU2GT4GHT4AI4PMBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXVWXM3ZAVR764RBY4EP47ISXU7OPVM2KZXJ7VFLXS2KELJPGYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FINKQA24GXSG5UFFVNGHZKME2LJZQZATKWIU6XRLNFAIOQYHOVFQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4QZRES6KVUABQZD5RELK2QNRXIMRZMVW2VAIFLTEVMAK5YZPXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADUKN3FQ6GYSDFYSEDQHIYU5TNDWUGZA6C7MCPMG5Z7PCGSAHWZA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJPVU7EFZOQMFWRJIAK33UQUJMHT2KM4RGMY7AP5J74HHVCZXXXA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHN7UILW34ASOFK5NB5WWHDWHWC22ZCMLP3DGLKPZISRSSBOOZQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "DeleteMicrosoftTeamsChannelConfiguration": {
            "http": {
                "requestUri": "/delete-ms-teams-channel-configuration",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFQVMMQRMXF2H5OQBB7QKGY633AYF5WGU3D4XIJAHDSSEC7WFW4A/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CQZBKSL6A2VPNUB4WUM5FBJO6YQ2DCJNPU2GT4GHT4AI4PMBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXVWXM3ZAVR764RBY4EP47ISXU7OPVM2KZXJ7VFLXS2KELJPGYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FINKQA24GXSG5UFFVNGHZKME2LJZQZATKWIU6XRLNFAIOQYHOVFQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4QZRES6KVUABQZD5RELK2QNRXIMRZMVW2VAIFLTEVMAK5YZPXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADUKN3FQ6GYSDFYSEDQHIYU5TNDWUGZA6C7MCPMG5Z7PCGSAHWZA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJPVU7EFZOQMFWRJIAK33UQUJMHT2KM4RGMY7AP5J74HHVCZXXXA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHN7UILW34ASOFK5NB5WWHDWHWC22ZCMLP3DGLKPZISRSSBOOZQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "DeleteMicrosoftTeamsConfiguredTeam": {
            "http": {
                "requestUri": "/delete-ms-teams-configured-teams",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "TeamId"
                ],
                "members": {
                    "TeamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFQVMMQRMXF2H5OQBB7QKGY633AYF5WGU3D4XIJAHDSSEC7WFW4A/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CQZBKSL6A2VPNUB4WUM5FBJO6YQ2DCJNPU2GT4GHT4AI4PMBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXVWXM3ZAVR764RBY4EP47ISXU7OPVM2KZXJ7VFLXS2KELJPGYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FINKQA24GXSG5UFFVNGHZKME2LJZQZATKWIU6XRLNFAIOQYHOVFQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4QZRES6KVUABQZD5RELK2QNRXIMRZMVW2VAIFLTEVMAK5YZPXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADUKN3FQ6GYSDFYSEDQHIYU5TNDWUGZA6C7MCPMG5Z7PCGSAHWZA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJPVU7EFZOQMFWRJIAK33UQUJMHT2KM4RGMY7AP5J74HHVCZXXXA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHN7UILW34ASOFK5NB5WWHDWHWC22ZCMLP3DGLKPZISRSSBOOZQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "DeleteSlackChannelConfiguration": {
            "http": {
                "requestUri": "/delete-slack-channel-configuration",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFQVMMQRMXF2H5OQBB7QKGY633AYF5WGU3D4XIJAHDSSEC7WFW4A/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CQZBKSL6A2VPNUB4WUM5FBJO6YQ2DCJNPU2GT4GHT4AI4PMBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXVWXM3ZAVR764RBY4EP47ISXU7OPVM2KZXJ7VFLXS2KELJPGYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FINKQA24GXSG5UFFVNGHZKME2LJZQZATKWIU6XRLNFAIOQYHOVFQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4QZRES6KVUABQZD5RELK2QNRXIMRZMVW2VAIFLTEVMAK5YZPXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADUKN3FQ6GYSDFYSEDQHIYU5TNDWUGZA6C7MCPMG5Z7PCGSAHWZA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJPVU7EFZOQMFWRJIAK33UQUJMHT2KM4RGMY7AP5J74HHVCZXXXA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHN7UILW34ASOFK5NB5WWHDWHWC22ZCMLP3DGLKPZISRSSBOOZQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "DeleteSlackUserIdentity": {
            "http": {
                "requestUri": "/delete-slack-user-identity",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn",
                    "SlackTeamId",
                    "SlackUserId"
                ],
                "members": {
                    "ChatConfigurationArn": {},
                    "SlackTeamId": {},
                    "SlackUserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFQVMMQRMXF2H5OQBB7QKGY633AYF5WGU3D4XIJAHDSSEC7WFW4A/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CQZBKSL6A2VPNUB4WUM5FBJO6YQ2DCJNPU2GT4GHT4AI4PMBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXVWXM3ZAVR764RBY4EP47ISXU7OPVM2KZXJ7VFLXS2KELJPGYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FINKQA24GXSG5UFFVNGHZKME2LJZQZATKWIU6XRLNFAIOQYHOVFQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4QZRES6KVUABQZD5RELK2QNRXIMRZMVW2VAIFLTEVMAK5YZPXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADUKN3FQ6GYSDFYSEDQHIYU5TNDWUGZA6C7MCPMG5Z7PCGSAHWZA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJPVU7EFZOQMFWRJIAK33UQUJMHT2KM4RGMY7AP5J74HHVCZXXXA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHN7UILW34ASOFK5NB5WWHDWHWC22ZCMLP3DGLKPZISRSSBOOZQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "DeleteSlackWorkspaceAuthorization": {
            "http": {
                "requestUri": "/delete-slack-workspace-authorization",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "SlackTeamId"
                ],
                "members": {
                    "SlackTeamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFQVMMQRMXF2H5OQBB7QKGY633AYF5WGU3D4XIJAHDSSEC7WFW4A/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CQZBKSL6A2VPNUB4WUM5FBJO6YQ2DCJNPU2GT4GHT4AI4PMBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXVWXM3ZAVR764RBY4EP47ISXU7OPVM2KZXJ7VFLXS2KELJPGYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FINKQA24GXSG5UFFVNGHZKME2LJZQZATKWIU6XRLNFAIOQYHOVFQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4QZRES6KVUABQZD5RELK2QNRXIMRZMVW2VAIFLTEVMAK5YZPXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADUKN3FQ6GYSDFYSEDQHIYU5TNDWUGZA6C7MCPMG5Z7PCGSAHWZA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJPVU7EFZOQMFWRJIAK33UQUJMHT2KM4RGMY7AP5J74HHVCZXXXA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHN7UILW34ASOFK5NB5WWHDWHWC22ZCMLP3DGLKPZISRSSBOOZQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "DescribeChimeWebhookConfigurations": {
            "http": {
                "requestUri": "/describe-chime-webhook-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "WebhookConfigurations": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFQVMMQRMXF2H5OQBB7QKGY633AYF5WGU3D4XIJAHDSSEC7WFW4A/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CQZBKSL6A2VPNUB4WUM5FBJO6YQ2DCJNPU2GT4GHT4AI4PMBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXVWXM3ZAVR764RBY4EP47ISXU7OPVM2KZXJ7VFLXS2KELJPGYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FINKQA24GXSG5UFFVNGHZKME2LJZQZATKWIU6XRLNFAIOQYHOVFQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4QZRES6KVUABQZD5RELK2QNRXIMRZMVW2VAIFLTEVMAK5YZPXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADUKN3FQ6GYSDFYSEDQHIYU5TNDWUGZA6C7MCPMG5Z7PCGSAHWZA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJPVU7EFZOQMFWRJIAK33UQUJMHT2KM4RGMY7AP5J74HHVCZXXXA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHN7UILW34ASOFK5NB5WWHDWHWC22ZCMLP3DGLKPZISRSSBOOZQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "DescribeSlackChannelConfigurations": {
            "http": {
                "requestUri": "/describe-slack-channel-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SlackChannelConfigurations": {
                        "type": "list",
                        "member": {
                            "shape": "Sv"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFQVMMQRMXF2H5OQBB7QKGY633AYF5WGU3D4XIJAHDSSEC7WFW4A/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CQZBKSL6A2VPNUB4WUM5FBJO6YQ2DCJNPU2GT4GHT4AI4PMBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXVWXM3ZAVR764RBY4EP47ISXU7OPVM2KZXJ7VFLXS2KELJPGYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FINKQA24GXSG5UFFVNGHZKME2LJZQZATKWIU6XRLNFAIOQYHOVFQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4QZRES6KVUABQZD5RELK2QNRXIMRZMVW2VAIFLTEVMAK5YZPXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADUKN3FQ6GYSDFYSEDQHIYU5TNDWUGZA6C7MCPMG5Z7PCGSAHWZA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJPVU7EFZOQMFWRJIAK33UQUJMHT2KM4RGMY7AP5J74HHVCZXXXA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHN7UILW34ASOFK5NB5WWHDWHWC22ZCMLP3DGLKPZISRSSBOOZQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "DescribeSlackChannels": {
            "http": {
                "requestUri": "/describe-slack-channels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SlackTeamId"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "SlackTeamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SlackChannels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SlackTeamId",
                                "SlackChannelId",
                                "SlackChannelName"
                            ],
                            "members": {
                                "SlackTeamId": {},
                                "SlackTeamName": {},
                                "SlackChannelId": {},
                                "SlackChannelName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFQVMMQRMXF2H5OQBB7QKGY633AYF5WGU3D4XIJAHDSSEC7WFW4A/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CQZBKSL6A2VPNUB4WUM5FBJO6YQ2DCJNPU2GT4GHT4AI4PMBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXVWXM3ZAVR764RBY4EP47ISXU7OPVM2KZXJ7VFLXS2KELJPGYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FINKQA24GXSG5UFFVNGHZKME2LJZQZATKWIU6XRLNFAIOQYHOVFQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4QZRES6KVUABQZD5RELK2QNRXIMRZMVW2VAIFLTEVMAK5YZPXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADUKN3FQ6GYSDFYSEDQHIYU5TNDWUGZA6C7MCPMG5Z7PCGSAHWZA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJPVU7EFZOQMFWRJIAK33UQUJMHT2KM4RGMY7AP5J74HHVCZXXXA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHN7UILW34ASOFK5NB5WWHDWHWC22ZCMLP3DGLKPZISRSSBOOZQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "DescribeSlackUserIdentities": {
            "http": {
                "requestUri": "/describe-slack-user-identities",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ChatConfigurationArn": {},
                    "GetCallerIdentity": {
                        "type": "boolean"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackUserIdentities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "IamRoleArn",
                                "ChatConfigurationArn",
                                "SlackTeamId",
                                "SlackUserId"
                            ],
                            "members": {
                                "IamRoleArn": {},
                                "ChatConfigurationArn": {},
                                "SlackTeamId": {},
                                "SlackUserId": {},
                                "AwsUserIdentity": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFQVMMQRMXF2H5OQBB7QKGY633AYF5WGU3D4XIJAHDSSEC7WFW4A/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CQZBKSL6A2VPNUB4WUM5FBJO6YQ2DCJNPU2GT4GHT4AI4PMBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXVWXM3ZAVR764RBY4EP47ISXU7OPVM2KZXJ7VFLXS2KELJPGYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FINKQA24GXSG5UFFVNGHZKME2LJZQZATKWIU6XRLNFAIOQYHOVFQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4QZRES6KVUABQZD5RELK2QNRXIMRZMVW2VAIFLTEVMAK5YZPXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADUKN3FQ6GYSDFYSEDQHIYU5TNDWUGZA6C7MCPMG5Z7PCGSAHWZA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJPVU7EFZOQMFWRJIAK33UQUJMHT2KM4RGMY7AP5J74HHVCZXXXA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHN7UILW34ASOFK5NB5WWHDWHWC22ZCMLP3DGLKPZISRSSBOOZQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "DescribeSlackWorkspaces": {
            "http": {
                "requestUri": "/describe-slack-workspaces",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackWorkspaces": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SlackTeamId",
                                "SlackTeamName"
                            ],
                            "members": {
                                "SlackTeamId": {},
                                "SlackTeamName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFQVMMQRMXF2H5OQBB7QKGY633AYF5WGU3D4XIJAHDSSEC7WFW4A/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CQZBKSL6A2VPNUB4WUM5FBJO6YQ2DCJNPU2GT4GHT4AI4PMBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXVWXM3ZAVR764RBY4EP47ISXU7OPVM2KZXJ7VFLXS2KELJPGYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FINKQA24GXSG5UFFVNGHZKME2LJZQZATKWIU6XRLNFAIOQYHOVFQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4QZRES6KVUABQZD5RELK2QNRXIMRZMVW2VAIFLTEVMAK5YZPXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADUKN3FQ6GYSDFYSEDQHIYU5TNDWUGZA6C7MCPMG5Z7PCGSAHWZA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJPVU7EFZOQMFWRJIAK33UQUJMHT2KM4RGMY7AP5J74HHVCZXXXA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHN7UILW34ASOFK5NB5WWHDWHWC22ZCMLP3DGLKPZISRSSBOOZQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "GetAccountPreferences": {
            "http": {
                "requestUri": "/get-account-preferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountPreferences": {
                        "shape": "S1y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFQVMMQRMXF2H5OQBB7QKGY633AYF5WGU3D4XIJAHDSSEC7WFW4A/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CQZBKSL6A2VPNUB4WUM5FBJO6YQ2DCJNPU2GT4GHT4AI4PMBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXVWXM3ZAVR764RBY4EP47ISXU7OPVM2KZXJ7VFLXS2KELJPGYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FINKQA24GXSG5UFFVNGHZKME2LJZQZATKWIU6XRLNFAIOQYHOVFQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4QZRES6KVUABQZD5RELK2QNRXIMRZMVW2VAIFLTEVMAK5YZPXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADUKN3FQ6GYSDFYSEDQHIYU5TNDWUGZA6C7MCPMG5Z7PCGSAHWZA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJPVU7EFZOQMFWRJIAK33UQUJMHT2KM4RGMY7AP5J74HHVCZXXXA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHN7UILW34ASOFK5NB5WWHDWHWC22ZCMLP3DGLKPZISRSSBOOZQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "GetMicrosoftTeamsChannelConfiguration": {
            "http": {
                "requestUri": "/get-ms-teams-channel-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFQVMMQRMXF2H5OQBB7QKGY633AYF5WGU3D4XIJAHDSSEC7WFW4A/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CQZBKSL6A2VPNUB4WUM5FBJO6YQ2DCJNPU2GT4GHT4AI4PMBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXVWXM3ZAVR764RBY4EP47ISXU7OPVM2KZXJ7VFLXS2KELJPGYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FINKQA24GXSG5UFFVNGHZKME2LJZQZATKWIU6XRLNFAIOQYHOVFQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4QZRES6KVUABQZD5RELK2QNRXIMRZMVW2VAIFLTEVMAK5YZPXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADUKN3FQ6GYSDFYSEDQHIYU5TNDWUGZA6C7MCPMG5Z7PCGSAHWZA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJPVU7EFZOQMFWRJIAK33UQUJMHT2KM4RGMY7AP5J74HHVCZXXXA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHN7UILW34ASOFK5NB5WWHDWHWC22ZCMLP3DGLKPZISRSSBOOZQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "GetMicrosoftTeamsOauthParameters": {
            "http": {
                "requestUri": "/get-ms-teams-oauth-parameters"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TenantId",
                    "TeamId",
                    "ChannelId"
                ],
                "members": {
                    "TenantId": {},
                    "TeamId": {},
                    "ChannelId": {},
                    "ChannelName": {},
                    "IamRoleArn": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StateId": {},
                    "ClientId": {},
                    "CodeChallenge": {},
                    "Scope": {},
                    "RedirectUri": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFQVMMQRMXF2H5OQBB7QKGY633AYF5WGU3D4XIJAHDSSEC7WFW4A/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CQZBKSL6A2VPNUB4WUM5FBJO6YQ2DCJNPU2GT4GHT4AI4PMBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXVWXM3ZAVR764RBY4EP47ISXU7OPVM2KZXJ7VFLXS2KELJPGYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FINKQA24GXSG5UFFVNGHZKME2LJZQZATKWIU6XRLNFAIOQYHOVFQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4QZRES6KVUABQZD5RELK2QNRXIMRZMVW2VAIFLTEVMAK5YZPXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADUKN3FQ6GYSDFYSEDQHIYU5TNDWUGZA6C7MCPMG5Z7PCGSAHWZA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJPVU7EFZOQMFWRJIAK33UQUJMHT2KM4RGMY7AP5J74HHVCZXXXA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHN7UILW34ASOFK5NB5WWHDWHWC22ZCMLP3DGLKPZISRSSBOOZQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "GetSlackOauthParameters": {
            "http": {
                "requestUri": "/get-slack-oauth-parameters"
            },
            "input": {
                "type": "structure",
                "members": {
                    "OAuthVersion": {},
                    "SlackUserIamRoleArn": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackOauthParameters": {
                        "type": "structure",
                        "members": {
                            "ClientId": {},
                            "Scope": {},
                            "State": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFQVMMQRMXF2H5OQBB7QKGY633AYF5WGU3D4XIJAHDSSEC7WFW4A/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CQZBKSL6A2VPNUB4WUM5FBJO6YQ2DCJNPU2GT4GHT4AI4PMBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXVWXM3ZAVR764RBY4EP47ISXU7OPVM2KZXJ7VFLXS2KELJPGYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FINKQA24GXSG5UFFVNGHZKME2LJZQZATKWIU6XRLNFAIOQYHOVFQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4QZRES6KVUABQZD5RELK2QNRXIMRZMVW2VAIFLTEVMAK5YZPXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADUKN3FQ6GYSDFYSEDQHIYU5TNDWUGZA6C7MCPMG5Z7PCGSAHWZA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJPVU7EFZOQMFWRJIAK33UQUJMHT2KM4RGMY7AP5J74HHVCZXXXA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHN7UILW34ASOFK5NB5WWHDWHWC22ZCMLP3DGLKPZISRSSBOOZQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "ListMicrosoftTeamsChannelConfigurations": {
            "http": {
                "requestUri": "/list-ms-teams-channel-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "TeamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "TeamChannelConfigurations": {
                        "type": "list",
                        "member": {
                            "shape": "Sj"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFQVMMQRMXF2H5OQBB7QKGY633AYF5WGU3D4XIJAHDSSEC7WFW4A/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CQZBKSL6A2VPNUB4WUM5FBJO6YQ2DCJNPU2GT4GHT4AI4PMBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXVWXM3ZAVR764RBY4EP47ISXU7OPVM2KZXJ7VFLXS2KELJPGYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FINKQA24GXSG5UFFVNGHZKME2LJZQZATKWIU6XRLNFAIOQYHOVFQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4QZRES6KVUABQZD5RELK2QNRXIMRZMVW2VAIFLTEVMAK5YZPXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADUKN3FQ6GYSDFYSEDQHIYU5TNDWUGZA6C7MCPMG5Z7PCGSAHWZA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJPVU7EFZOQMFWRJIAK33UQUJMHT2KM4RGMY7AP5J74HHVCZXXXA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHN7UILW34ASOFK5NB5WWHDWHWC22ZCMLP3DGLKPZISRSSBOOZQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "ListMicrosoftTeamsConfiguredTeams": {
            "http": {
                "requestUri": "/list-ms-teams-configured-teams",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfiguredTeams": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "TenantId",
                                "TeamId"
                            ],
                            "members": {
                                "TenantId": {},
                                "TeamId": {},
                                "TeamName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFQVMMQRMXF2H5OQBB7QKGY633AYF5WGU3D4XIJAHDSSEC7WFW4A/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CQZBKSL6A2VPNUB4WUM5FBJO6YQ2DCJNPU2GT4GHT4AI4PMBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXVWXM3ZAVR764RBY4EP47ISXU7OPVM2KZXJ7VFLXS2KELJPGYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FINKQA24GXSG5UFFVNGHZKME2LJZQZATKWIU6XRLNFAIOQYHOVFQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4QZRES6KVUABQZD5RELK2QNRXIMRZMVW2VAIFLTEVMAK5YZPXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADUKN3FQ6GYSDFYSEDQHIYU5TNDWUGZA6C7MCPMG5Z7PCGSAHWZA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJPVU7EFZOQMFWRJIAK33UQUJMHT2KM4RGMY7AP5J74HHVCZXXXA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHN7UILW34ASOFK5NB5WWHDWHWC22ZCMLP3DGLKPZISRSSBOOZQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "RedeemMicrosoftTeamsOauthCode": {
            "http": {
                "requestUri": "/redeem-ms-teams-oauth-code"
            },
            "input": {
                "type": "structure",
                "required": [
                    "StateId",
                    "Code"
                ],
                "members": {
                    "StateId": {},
                    "Code": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StateId": {},
                    "TenantId": {},
                    "TeamId": {},
                    "ChannelId": {},
                    "TeamName": {},
                    "ChannelName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFQVMMQRMXF2H5OQBB7QKGY633AYF5WGU3D4XIJAHDSSEC7WFW4A/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CQZBKSL6A2VPNUB4WUM5FBJO6YQ2DCJNPU2GT4GHT4AI4PMBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXVWXM3ZAVR764RBY4EP47ISXU7OPVM2KZXJ7VFLXS2KELJPGYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FINKQA24GXSG5UFFVNGHZKME2LJZQZATKWIU6XRLNFAIOQYHOVFQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4QZRES6KVUABQZD5RELK2QNRXIMRZMVW2VAIFLTEVMAK5YZPXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADUKN3FQ6GYSDFYSEDQHIYU5TNDWUGZA6C7MCPMG5Z7PCGSAHWZA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJPVU7EFZOQMFWRJIAK33UQUJMHT2KM4RGMY7AP5J74HHVCZXXXA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHN7UILW34ASOFK5NB5WWHDWHWC22ZCMLP3DGLKPZISRSSBOOZQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "RedeemSlackOauthCode": {
            "http": {
                "requestUri": "/redeem-slack-oauth-code"
            },
            "input": {
                "type": "structure",
                "required": [
                    "State",
                    "Code",
                    "RedirectUri"
                ],
                "members": {
                    "State": {},
                    "Code": {
                        "type": "string",
                        "sensitive": true
                    },
                    "RedirectUri": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackTeamId": {},
                    "SlackTeamName": {},
                    "BotResult": {
                        "type": "structure",
                        "members": {
                            "BotUserId": {}
                        }
                    },
                    "SlackUserId": {},
                    "ChatConfigurationArn": {},
                    "IamRoleArn": {},
                    "AwsUserIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFQVMMQRMXF2H5OQBB7QKGY633AYF5WGU3D4XIJAHDSSEC7WFW4A/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CQZBKSL6A2VPNUB4WUM5FBJO6YQ2DCJNPU2GT4GHT4AI4PMBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXVWXM3ZAVR764RBY4EP47ISXU7OPVM2KZXJ7VFLXS2KELJPGYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FINKQA24GXSG5UFFVNGHZKME2LJZQZATKWIU6XRLNFAIOQYHOVFQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4QZRES6KVUABQZD5RELK2QNRXIMRZMVW2VAIFLTEVMAK5YZPXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADUKN3FQ6GYSDFYSEDQHIYU5TNDWUGZA6C7MCPMG5Z7PCGSAHWZA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJPVU7EFZOQMFWRJIAK33UQUJMHT2KM4RGMY7AP5J74HHVCZXXXA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHN7UILW34ASOFK5NB5WWHDWHWC22ZCMLP3DGLKPZISRSSBOOZQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "UpdateAccountPreferences": {
            "http": {
                "requestUri": "/update-account-preferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "UserAuthorizationRequired": {
                        "type": "boolean"
                    },
                    "TrainingDataCollectionEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountPreferences": {
                        "shape": "S1y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFQVMMQRMXF2H5OQBB7QKGY633AYF5WGU3D4XIJAHDSSEC7WFW4A/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CQZBKSL6A2VPNUB4WUM5FBJO6YQ2DCJNPU2GT4GHT4AI4PMBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXVWXM3ZAVR764RBY4EP47ISXU7OPVM2KZXJ7VFLXS2KELJPGYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FINKQA24GXSG5UFFVNGHZKME2LJZQZATKWIU6XRLNFAIOQYHOVFQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4QZRES6KVUABQZD5RELK2QNRXIMRZMVW2VAIFLTEVMAK5YZPXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADUKN3FQ6GYSDFYSEDQHIYU5TNDWUGZA6C7MCPMG5Z7PCGSAHWZA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJPVU7EFZOQMFWRJIAK33UQUJMHT2KM4RGMY7AP5J74HHVCZXXXA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHN7UILW34ASOFK5NB5WWHDWHWC22ZCMLP3DGLKPZISRSSBOOZQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "UpdateChimeWebhookConfiguration": {
            "http": {
                "requestUri": "/update-chime-webhook-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {},
                    "WebhookDescription": {},
                    "WebhookUrl": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "LoggingLevel": {},
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebhookConfiguration": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFQVMMQRMXF2H5OQBB7QKGY633AYF5WGU3D4XIJAHDSSEC7WFW4A/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CQZBKSL6A2VPNUB4WUM5FBJO6YQ2DCJNPU2GT4GHT4AI4PMBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXVWXM3ZAVR764RBY4EP47ISXU7OPVM2KZXJ7VFLXS2KELJPGYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FINKQA24GXSG5UFFVNGHZKME2LJZQZATKWIU6XRLNFAIOQYHOVFQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4QZRES6KVUABQZD5RELK2QNRXIMRZMVW2VAIFLTEVMAK5YZPXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADUKN3FQ6GYSDFYSEDQHIYU5TNDWUGZA6C7MCPMG5Z7PCGSAHWZA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJPVU7EFZOQMFWRJIAK33UQUJMHT2KM4RGMY7AP5J74HHVCZXXXA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHN7UILW34ASOFK5NB5WWHDWHWC22ZCMLP3DGLKPZISRSSBOOZQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
[...]
