{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-10-11",
        "endpointPrefix": "chatbot",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "proxyEndpoint": "chatbot",
        "serviceFullName": "chatbot",
        "serviceId": "WheatleyOrchestration",
        "serviceName": "chatbot",
        "signatureVersion": "v4",
        "uid": "chatbot-2017-10-11",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMALZ4NBALQX7P27OMZ23PRSLOATACV5XQXBID5U5ATYWQZF3OXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KFFQ3TTAC2JVWKE5BU2AHQLYOGI2LZ2QXQUQ5MVWP52BITWQBNTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVNAJLP2S2RRDHEU7YO2CKC7GMZYPDQSAGOFLBNIBCENFAS7ODVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTZ2IOE4GKYQGUPJ7BJAUJVUNUZ5LCIWEJWY7F2MQX6HDX7FEVAA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AHCIUEYGIY7VGS3DBUGNS76KE3MMGFCUNRUCKTIG7Y7FKMRK7BMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SOWEEX4DMPZ4UM7ZXWFAS7KV6SBZ6K7LUQECVM2FEI2OCZPXKKJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.js"
        ]
    },
    "operations": {
        "CreateChimeWebhookConfiguration": {
            "http": {
                "requestUri": "/create-chime-webhook-configuration",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "WebhookDescription",
                    "WebhookUrl",
                    "SnsTopicArns",
                    "IamRoleArn",
                    "ConfigurationName"
                ],
                "members": {
                    "WebhookDescription": {},
                    "WebhookUrl": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "ConfigurationName": {},
                    "LoggingLevel": {},
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebhookConfiguration": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFFQ3TTAC2JVWKE5BU2AHQLYOGI2LZ2QXQUQ5MVWP52BITWQBNTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVNAJLP2S2RRDHEU7YO2CKC7GMZYPDQSAGOFLBNIBCENFAS7ODVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTZ2IOE4GKYQGUPJ7BJAUJVUNUZ5LCIWEJWY7F2MQX6HDX7FEVAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHCIUEYGIY7VGS3DBUGNS76KE3MMGFCUNRUCKTIG7Y7FKMRK7BMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOWEEX4DMPZ4UM7ZXWFAS7KV6SBZ6K7LUQECVM2FEI2OCZPXKKJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.js"
            ]
        },
        "CreateMicrosoftTeamsChannelConfiguration": {
            "http": {
                "requestUri": "/create-ms-teams-channel-configuration",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelId",
                    "TeamId",
                    "TenantId",
                    "IamRoleArn",
                    "ConfigurationName"
                ],
                "members": {
                    "ChannelId": {},
                    "ChannelName": {},
                    "TeamId": {},
                    "TeamName": {},
                    "TenantId": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "ConfigurationName": {},
                    "LoggingLevel": {},
                    "GuardrailPolicyArns": {
                        "shape": "Sg"
                    },
                    "UserAuthorizationRequired": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFFQ3TTAC2JVWKE5BU2AHQLYOGI2LZ2QXQUQ5MVWP52BITWQBNTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVNAJLP2S2RRDHEU7YO2CKC7GMZYPDQSAGOFLBNIBCENFAS7ODVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTZ2IOE4GKYQGUPJ7BJAUJVUNUZ5LCIWEJWY7F2MQX6HDX7FEVAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHCIUEYGIY7VGS3DBUGNS76KE3MMGFCUNRUCKTIG7Y7FKMRK7BMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOWEEX4DMPZ4UM7ZXWFAS7KV6SBZ6K7LUQECVM2FEI2OCZPXKKJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.js"
            ]
        },
        "CreateSlackChannelConfiguration": {
            "http": {
                "requestUri": "/create-slack-channel-configuration",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "SlackTeamId",
                    "SlackChannelId",
                    "IamRoleArn",
                    "ConfigurationName"
                ],
                "members": {
                    "SlackTeamId": {},
                    "SlackChannelId": {},
                    "SlackChannelName": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "ConfigurationName": {},
                    "LoggingLevel": {},
                    "GuardrailPolicyArns": {
                        "shape": "Sg"
                    },
                    "UserAuthorizationRequired": {
                        "type": "boolean"
                    },
                    "AmazonInternalPreferences": {
                        "shape": "Sq"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelConfiguration": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFFQ3TTAC2JVWKE5BU2AHQLYOGI2LZ2QXQUQ5MVWP52BITWQBNTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVNAJLP2S2RRDHEU7YO2CKC7GMZYPDQSAGOFLBNIBCENFAS7ODVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTZ2IOE4GKYQGUPJ7BJAUJVUNUZ5LCIWEJWY7F2MQX6HDX7FEVAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHCIUEYGIY7VGS3DBUGNS76KE3MMGFCUNRUCKTIG7Y7FKMRK7BMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOWEEX4DMPZ4UM7ZXWFAS7KV6SBZ6K7LUQECVM2FEI2OCZPXKKJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.js"
            ]
        },
        "DeleteChimeWebhookConfiguration": {
            "http": {
                "requestUri": "/delete-chime-webhook-configuration",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFFQ3TTAC2JVWKE5BU2AHQLYOGI2LZ2QXQUQ5MVWP52BITWQBNTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVNAJLP2S2RRDHEU7YO2CKC7GMZYPDQSAGOFLBNIBCENFAS7ODVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTZ2IOE4GKYQGUPJ7BJAUJVUNUZ5LCIWEJWY7F2MQX6HDX7FEVAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHCIUEYGIY7VGS3DBUGNS76KE3MMGFCUNRUCKTIG7Y7FKMRK7BMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOWEEX4DMPZ4UM7ZXWFAS7KV6SBZ6K7LUQECVM2FEI2OCZPXKKJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.js"
            ]
        },
        "DeleteMicrosoftTeamsChannelConfiguration": {
            "http": {
                "requestUri": "/delete-ms-teams-channel-configuration",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFFQ3TTAC2JVWKE5BU2AHQLYOGI2LZ2QXQUQ5MVWP52BITWQBNTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVNAJLP2S2RRDHEU7YO2CKC7GMZYPDQSAGOFLBNIBCENFAS7ODVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTZ2IOE4GKYQGUPJ7BJAUJVUNUZ5LCIWEJWY7F2MQX6HDX7FEVAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHCIUEYGIY7VGS3DBUGNS76KE3MMGFCUNRUCKTIG7Y7FKMRK7BMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOWEEX4DMPZ4UM7ZXWFAS7KV6SBZ6K7LUQECVM2FEI2OCZPXKKJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.js"
            ]
        },
        "DeleteMicrosoftTeamsConfiguredTeam": {
            "http": {
                "requestUri": "/delete-ms-teams-configured-teams",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "TeamId"
                ],
                "members": {
                    "TeamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFFQ3TTAC2JVWKE5BU2AHQLYOGI2LZ2QXQUQ5MVWP52BITWQBNTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVNAJLP2S2RRDHEU7YO2CKC7GMZYPDQSAGOFLBNIBCENFAS7ODVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTZ2IOE4GKYQGUPJ7BJAUJVUNUZ5LCIWEJWY7F2MQX6HDX7FEVAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHCIUEYGIY7VGS3DBUGNS76KE3MMGFCUNRUCKTIG7Y7FKMRK7BMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOWEEX4DMPZ4UM7ZXWFAS7KV6SBZ6K7LUQECVM2FEI2OCZPXKKJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.js"
            ]
        },
        "DeleteSlackChannelConfiguration": {
            "http": {
                "requestUri": "/delete-slack-channel-configuration",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFFQ3TTAC2JVWKE5BU2AHQLYOGI2LZ2QXQUQ5MVWP52BITWQBNTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVNAJLP2S2RRDHEU7YO2CKC7GMZYPDQSAGOFLBNIBCENFAS7ODVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTZ2IOE4GKYQGUPJ7BJAUJVUNUZ5LCIWEJWY7F2MQX6HDX7FEVAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHCIUEYGIY7VGS3DBUGNS76KE3MMGFCUNRUCKTIG7Y7FKMRK7BMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOWEEX4DMPZ4UM7ZXWFAS7KV6SBZ6K7LUQECVM2FEI2OCZPXKKJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.js"
            ]
        },
        "DeleteSlackUserIdentity": {
            "http": {
                "requestUri": "/delete-slack-user-identity",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn",
                    "SlackTeamId",
                    "SlackUserId"
                ],
                "members": {
                    "ChatConfigurationArn": {},
                    "SlackTeamId": {},
                    "SlackUserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFFQ3TTAC2JVWKE5BU2AHQLYOGI2LZ2QXQUQ5MVWP52BITWQBNTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVNAJLP2S2RRDHEU7YO2CKC7GMZYPDQSAGOFLBNIBCENFAS7ODVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTZ2IOE4GKYQGUPJ7BJAUJVUNUZ5LCIWEJWY7F2MQX6HDX7FEVAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHCIUEYGIY7VGS3DBUGNS76KE3MMGFCUNRUCKTIG7Y7FKMRK7BMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOWEEX4DMPZ4UM7ZXWFAS7KV6SBZ6K7LUQECVM2FEI2OCZPXKKJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.js"
            ]
        },
        "DeleteSlackWorkspaceAuthorization": {
            "http": {
                "requestUri": "/delete-slack-workspace-authorization",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "SlackTeamId"
                ],
                "members": {
                    "SlackTeamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFFQ3TTAC2JVWKE5BU2AHQLYOGI2LZ2QXQUQ5MVWP52BITWQBNTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVNAJLP2S2RRDHEU7YO2CKC7GMZYPDQSAGOFLBNIBCENFAS7ODVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTZ2IOE4GKYQGUPJ7BJAUJVUNUZ5LCIWEJWY7F2MQX6HDX7FEVAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHCIUEYGIY7VGS3DBUGNS76KE3MMGFCUNRUCKTIG7Y7FKMRK7BMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOWEEX4DMPZ4UM7ZXWFAS7KV6SBZ6K7LUQECVM2FEI2OCZPXKKJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.js"
            ]
        },
        "DescribeChimeWebhookConfigurations": {
            "http": {
                "requestUri": "/describe-chime-webhook-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "WebhookConfigurations": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFFQ3TTAC2JVWKE5BU2AHQLYOGI2LZ2QXQUQ5MVWP52BITWQBNTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVNAJLP2S2RRDHEU7YO2CKC7GMZYPDQSAGOFLBNIBCENFAS7ODVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTZ2IOE4GKYQGUPJ7BJAUJVUNUZ5LCIWEJWY7F2MQX6HDX7FEVAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHCIUEYGIY7VGS3DBUGNS76KE3MMGFCUNRUCKTIG7Y7FKMRK7BMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOWEEX4DMPZ4UM7ZXWFAS7KV6SBZ6K7LUQECVM2FEI2OCZPXKKJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.js"
            ]
        },
        "DescribeSlackChannelConfigurations": {
            "http": {
                "requestUri": "/describe-slack-channel-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SlackChannelConfigurations": {
                        "type": "list",
                        "member": {
                            "shape": "Sv"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFFQ3TTAC2JVWKE5BU2AHQLYOGI2LZ2QXQUQ5MVWP52BITWQBNTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVNAJLP2S2RRDHEU7YO2CKC7GMZYPDQSAGOFLBNIBCENFAS7ODVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTZ2IOE4GKYQGUPJ7BJAUJVUNUZ5LCIWEJWY7F2MQX6HDX7FEVAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHCIUEYGIY7VGS3DBUGNS76KE3MMGFCUNRUCKTIG7Y7FKMRK7BMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOWEEX4DMPZ4UM7ZXWFAS7KV6SBZ6K7LUQECVM2FEI2OCZPXKKJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.js"
            ]
        },
        "DescribeSlackChannels": {
            "http": {
                "requestUri": "/describe-slack-channels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SlackTeamId"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "SlackTeamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SlackChannels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SlackTeamId",
                                "SlackChannelId",
                                "SlackChannelName"
                            ],
                            "members": {
                                "SlackTeamId": {},
                                "SlackTeamName": {},
                                "SlackChannelId": {},
                                "SlackChannelName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFFQ3TTAC2JVWKE5BU2AHQLYOGI2LZ2QXQUQ5MVWP52BITWQBNTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVNAJLP2S2RRDHEU7YO2CKC7GMZYPDQSAGOFLBNIBCENFAS7ODVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTZ2IOE4GKYQGUPJ7BJAUJVUNUZ5LCIWEJWY7F2MQX6HDX7FEVAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHCIUEYGIY7VGS3DBUGNS76KE3MMGFCUNRUCKTIG7Y7FKMRK7BMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOWEEX4DMPZ4UM7ZXWFAS7KV6SBZ6K7LUQECVM2FEI2OCZPXKKJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.js"
            ]
        },
        "DescribeSlackUserIdentities": {
            "http": {
                "requestUri": "/describe-slack-user-identities",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ChatConfigurationArn": {},
                    "GetCallerIdentity": {
                        "type": "boolean"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackUserIdentities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "IamRoleArn",
                                "ChatConfigurationArn",
                                "SlackTeamId",
                                "SlackUserId"
                            ],
                            "members": {
                                "IamRoleArn": {},
                                "ChatConfigurationArn": {},
                                "SlackTeamId": {},
                                "SlackUserId": {},
                                "AwsUserIdentity": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFFQ3TTAC2JVWKE5BU2AHQLYOGI2LZ2QXQUQ5MVWP52BITWQBNTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVNAJLP2S2RRDHEU7YO2CKC7GMZYPDQSAGOFLBNIBCENFAS7ODVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTZ2IOE4GKYQGUPJ7BJAUJVUNUZ5LCIWEJWY7F2MQX6HDX7FEVAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHCIUEYGIY7VGS3DBUGNS76KE3MMGFCUNRUCKTIG7Y7FKMRK7BMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOWEEX4DMPZ4UM7ZXWFAS7KV6SBZ6K7LUQECVM2FEI2OCZPXKKJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.js"
            ]
        },
        "DescribeSlackWorkspaces": {
            "http": {
                "requestUri": "/describe-slack-workspaces",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackWorkspaces": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SlackTeamId",
                                "SlackTeamName"
                            ],
                            "members": {
                                "SlackTeamId": {},
                                "SlackTeamName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFFQ3TTAC2JVWKE5BU2AHQLYOGI2LZ2QXQUQ5MVWP52BITWQBNTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVNAJLP2S2RRDHEU7YO2CKC7GMZYPDQSAGOFLBNIBCENFAS7ODVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTZ2IOE4GKYQGUPJ7BJAUJVUNUZ5LCIWEJWY7F2MQX6HDX7FEVAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHCIUEYGIY7VGS3DBUGNS76KE3MMGFCUNRUCKTIG7Y7FKMRK7BMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOWEEX4DMPZ4UM7ZXWFAS7KV6SBZ6K7LUQECVM2FEI2OCZPXKKJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.js"
            ]
        },
        "GetAccountPreferences": {
            "http": {
                "requestUri": "/get-account-preferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountPreferences": {
                        "shape": "S1y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFFQ3TTAC2JVWKE5BU2AHQLYOGI2LZ2QXQUQ5MVWP52BITWQBNTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVNAJLP2S2RRDHEU7YO2CKC7GMZYPDQSAGOFLBNIBCENFAS7ODVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTZ2IOE4GKYQGUPJ7BJAUJVUNUZ5LCIWEJWY7F2MQX6HDX7FEVAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHCIUEYGIY7VGS3DBUGNS76KE3MMGFCUNRUCKTIG7Y7FKMRK7BMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOWEEX4DMPZ4UM7ZXWFAS7KV6SBZ6K7LUQECVM2FEI2OCZPXKKJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.js"
            ]
        },
        "GetMicrosoftTeamsChannelConfiguration": {
            "http": {
                "requestUri": "/get-ms-teams-channel-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFFQ3TTAC2JVWKE5BU2AHQLYOGI2LZ2QXQUQ5MVWP52BITWQBNTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVNAJLP2S2RRDHEU7YO2CKC7GMZYPDQSAGOFLBNIBCENFAS7ODVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTZ2IOE4GKYQGUPJ7BJAUJVUNUZ5LCIWEJWY7F2MQX6HDX7FEVAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHCIUEYGIY7VGS3DBUGNS76KE3MMGFCUNRUCKTIG7Y7FKMRK7BMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOWEEX4DMPZ4UM7ZXWFAS7KV6SBZ6K7LUQECVM2FEI2OCZPXKKJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.js"
            ]
        },
        "GetMicrosoftTeamsOauthParameters": {
            "http": {
                "requestUri": "/get-ms-teams-oauth-parameters"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TenantId",
                    "TeamId",
                    "ChannelId"
                ],
                "members": {
                    "TenantId": {},
                    "TeamId": {},
                    "ChannelId": {},
                    "ChannelName": {},
                    "IamRoleArn": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StateId": {},
                    "ClientId": {},
                    "CodeChallenge": {},
                    "Scope": {},
                    "RedirectUri": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFFQ3TTAC2JVWKE5BU2AHQLYOGI2LZ2QXQUQ5MVWP52BITWQBNTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVNAJLP2S2RRDHEU7YO2CKC7GMZYPDQSAGOFLBNIBCENFAS7ODVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTZ2IOE4GKYQGUPJ7BJAUJVUNUZ5LCIWEJWY7F2MQX6HDX7FEVAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHCIUEYGIY7VGS3DBUGNS76KE3MMGFCUNRUCKTIG7Y7FKMRK7BMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOWEEX4DMPZ4UM7ZXWFAS7KV6SBZ6K7LUQECVM2FEI2OCZPXKKJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.js"
            ]
        },
        "GetSlackOauthParameters": {
            "http": {
                "requestUri": "/get-slack-oauth-parameters"
            },
            "input": {
                "type": "structure",
                "members": {
                    "OAuthVersion": {},
                    "SlackUserIamRoleArn": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackOauthParameters": {
                        "type": "structure",
                        "members": {
                            "ClientId": {},
                            "Scope": {},
                            "State": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFFQ3TTAC2JVWKE5BU2AHQLYOGI2LZ2QXQUQ5MVWP52BITWQBNTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVNAJLP2S2RRDHEU7YO2CKC7GMZYPDQSAGOFLBNIBCENFAS7ODVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTZ2IOE4GKYQGUPJ7BJAUJVUNUZ5LCIWEJWY7F2MQX6HDX7FEVAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHCIUEYGIY7VGS3DBUGNS76KE3MMGFCUNRUCKTIG7Y7FKMRK7BMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOWEEX4DMPZ4UM7ZXWFAS7KV6SBZ6K7LUQECVM2FEI2OCZPXKKJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.js"
            ]
        },
        "ListMicrosoftTeamsChannelConfigurations": {
            "http": {
                "requestUri": "/list-ms-teams-channel-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "TeamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "TeamChannelConfigurations": {
                        "type": "list",
                        "member": {
                            "shape": "Sj"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFFQ3TTAC2JVWKE5BU2AHQLYOGI2LZ2QXQUQ5MVWP52BITWQBNTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVNAJLP2S2RRDHEU7YO2CKC7GMZYPDQSAGOFLBNIBCENFAS7ODVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTZ2IOE4GKYQGUPJ7BJAUJVUNUZ5LCIWEJWY7F2MQX6HDX7FEVAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHCIUEYGIY7VGS3DBUGNS76KE3MMGFCUNRUCKTIG7Y7FKMRK7BMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOWEEX4DMPZ4UM7ZXWFAS7KV6SBZ6K7LUQECVM2FEI2OCZPXKKJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.js"
            ]
        },
        "ListMicrosoftTeamsConfiguredTeams": {
            "http": {
                "requestUri": "/list-ms-teams-configured-teams",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfiguredTeams": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "TenantId",
                                "TeamId"
                            ],
                            "members": {
                                "TenantId": {},
                                "TeamId": {},
                                "TeamName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFFQ3TTAC2JVWKE5BU2AHQLYOGI2LZ2QXQUQ5MVWP52BITWQBNTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVNAJLP2S2RRDHEU7YO2CKC7GMZYPDQSAGOFLBNIBCENFAS7ODVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTZ2IOE4GKYQGUPJ7BJAUJVUNUZ5LCIWEJWY7F2MQX6HDX7FEVAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHCIUEYGIY7VGS3DBUGNS76KE3MMGFCUNRUCKTIG7Y7FKMRK7BMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOWEEX4DMPZ4UM7ZXWFAS7KV6SBZ6K7LUQECVM2FEI2OCZPXKKJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.js"
            ]
        },
        "RedeemMicrosoftTeamsOauthCode": {
            "http": {
                "requestUri": "/redeem-ms-teams-oauth-code"
            },
            "input": {
                "type": "structure",
                "required": [
                    "StateId",
                    "Code"
                ],
                "members": {
                    "StateId": {},
                    "Code": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StateId": {},
                    "TenantId": {},
                    "TeamId": {},
                    "ChannelId": {},
                    "TeamName": {},
                    "ChannelName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFFQ3TTAC2JVWKE5BU2AHQLYOGI2LZ2QXQUQ5MVWP52BITWQBNTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVNAJLP2S2RRDHEU7YO2CKC7GMZYPDQSAGOFLBNIBCENFAS7ODVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTZ2IOE4GKYQGUPJ7BJAUJVUNUZ5LCIWEJWY7F2MQX6HDX7FEVAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHCIUEYGIY7VGS3DBUGNS76KE3MMGFCUNRUCKTIG7Y7FKMRK7BMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOWEEX4DMPZ4UM7ZXWFAS7KV6SBZ6K7LUQECVM2FEI2OCZPXKKJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.js"
            ]
        },
        "RedeemSlackOauthCode": {
            "http": {
                "requestUri": "/redeem-slack-oauth-code"
            },
            "input": {
                "type": "structure",
                "required": [
                    "State",
                    "Code",
                    "RedirectUri"
                ],
                "members": {
                    "State": {},
                    "Code": {
                        "type": "string",
                        "sensitive": true
                    },
                    "RedirectUri": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackTeamId": {},
                    "SlackTeamName": {},
                    "BotResult": {
                        "type": "structure",
                        "members": {
                            "BotUserId": {}
                        }
                    },
                    "SlackUserId": {},
                    "ChatConfigurationArn": {},
                    "IamRoleArn": {},
                    "AwsUserIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFFQ3TTAC2JVWKE5BU2AHQLYOGI2LZ2QXQUQ5MVWP52BITWQBNTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVNAJLP2S2RRDHEU7YO2CKC7GMZYPDQSAGOFLBNIBCENFAS7ODVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTZ2IOE4GKYQGUPJ7BJAUJVUNUZ5LCIWEJWY7F2MQX6HDX7FEVAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHCIUEYGIY7VGS3DBUGNS76KE3MMGFCUNRUCKTIG7Y7FKMRK7BMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOWEEX4DMPZ4UM7ZXWFAS7KV6SBZ6K7LUQECVM2FEI2OCZPXKKJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.js"
            ]
        },
        "UpdateAccountPreferences": {
            "http": {
                "requestUri": "/update-account-preferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "UserAuthorizationRequired": {
                        "type": "boolean"
                    },
                    "TrainingDataCollectionEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountPreferences": {
                        "shape": "S1y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFFQ3TTAC2JVWKE5BU2AHQLYOGI2LZ2QXQUQ5MVWP52BITWQBNTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVNAJLP2S2RRDHEU7YO2CKC7GMZYPDQSAGOFLBNIBCENFAS7ODVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTZ2IOE4GKYQGUPJ7BJAUJVUNUZ5LCIWEJWY7F2MQX6HDX7FEVAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHCIUEYGIY7VGS3DBUGNS76KE3MMGFCUNRUCKTIG7Y7FKMRK7BMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOWEEX4DMPZ4UM7ZXWFAS7KV6SBZ6K7LUQECVM2FEI2OCZPXKKJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.js"
            ]
        },
        "UpdateChimeWebhookConfiguration": {
            "http": {
                "requestUri": "/update-chime-webhook-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {},
                    "WebhookDescription": {},
                    "WebhookUrl": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "LoggingLevel": {},
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebhookConfiguration": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFFQ3TTAC2JVWKE5BU2AHQLYOGI2LZ2QXQUQ5MVWP52BITWQBNTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVNAJLP2S2RRDHEU7YO2CKC7GMZYPDQSAGOFLBNIBCENFAS7ODVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTZ2IOE4GKYQGUPJ7BJAUJVUNUZ5LCIWEJWY7F2MQX6HDX7FEVAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHCIUEYGIY7VGS3DBUGNS76KE3MMGFCUNRUCKTIG7Y7FKMRK7BMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOWEEX4DMPZ4UM7ZXWFAS7KV6SBZ6K7LUQECVM2FEI2OCZPXKKJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
[...]
