{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-10-11",
        "endpointPrefix": "chatbot",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "proxyEndpoint": "chatbot",
        "serviceFullName": "chatbot",
        "serviceId": "WheatleyOrchestration",
        "serviceName": "chatbot",
        "signatureVersion": "v4",
        "uid": "chatbot-2017-10-11",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I5IR3LBEMO45F7ZC35PHFGBS5V52XGN2XK4RNNCD7VYAMWHYILCA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YC3FAHOQIGF5OTDL2QEEHJ4YJW2HREGLMDDC2O5J3R2AIUENINEQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TSKGWL7MFCJLPXWDASOLKLHTD5O7CFKFYOUPDCMQOIBK5TI47H2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateChimeWebhookConfiguration": {
            "http": {
                "requestUri": "/create-chime-webhook-configuration",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "WebhookDescription",
                    "WebhookUrl",
                    "SnsTopicArns",
                    "IamRoleArn",
                    "ConfigurationName"
                ],
                "members": {
                    "WebhookDescription": {},
                    "WebhookUrl": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "ConfigurationName": {},
                    "LoggingLevel": {},
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebhookConfiguration": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5IR3LBEMO45F7ZC35PHFGBS5V52XGN2XK4RNNCD7VYAMWHYILCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC3FAHOQIGF5OTDL2QEEHJ4YJW2HREGLMDDC2O5J3R2AIUENINEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSKGWL7MFCJLPXWDASOLKLHTD5O7CFKFYOUPDCMQOIBK5TI47H2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateMicrosoftTeamsChannelConfiguration": {
            "http": {
                "requestUri": "/create-ms-teams-channel-configuration",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelId",
                    "TeamId",
                    "TenantId",
                    "IamRoleArn",
                    "ConfigurationName"
                ],
                "members": {
                    "ChannelId": {},
                    "ChannelName": {},
                    "TeamId": {},
                    "TeamName": {},
                    "TenantId": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "ConfigurationName": {},
                    "LoggingLevel": {},
                    "GuardrailPolicyArns": {
                        "shape": "Sg"
                    },
                    "UserAuthorizationRequired": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5IR3LBEMO45F7ZC35PHFGBS5V52XGN2XK4RNNCD7VYAMWHYILCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC3FAHOQIGF5OTDL2QEEHJ4YJW2HREGLMDDC2O5J3R2AIUENINEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSKGWL7MFCJLPXWDASOLKLHTD5O7CFKFYOUPDCMQOIBK5TI47H2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateSlackChannelConfiguration": {
            "http": {
                "requestUri": "/create-slack-channel-configuration",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "SlackTeamId",
                    "SlackChannelId",
                    "IamRoleArn",
                    "ConfigurationName"
                ],
                "members": {
                    "SlackTeamId": {},
                    "SlackChannelId": {},
                    "SlackChannelName": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "ConfigurationName": {},
                    "LoggingLevel": {},
                    "GuardrailPolicyArns": {
                        "shape": "Sg"
                    },
                    "UserAuthorizationRequired": {
                        "type": "boolean"
                    },
                    "AmazonInternalPreferences": {
                        "shape": "Sq"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelConfiguration": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5IR3LBEMO45F7ZC35PHFGBS5V52XGN2XK4RNNCD7VYAMWHYILCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC3FAHOQIGF5OTDL2QEEHJ4YJW2HREGLMDDC2O5J3R2AIUENINEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSKGWL7MFCJLPXWDASOLKLHTD5O7CFKFYOUPDCMQOIBK5TI47H2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteChimeWebhookConfiguration": {
            "http": {
                "requestUri": "/delete-chime-webhook-configuration",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5IR3LBEMO45F7ZC35PHFGBS5V52XGN2XK4RNNCD7VYAMWHYILCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC3FAHOQIGF5OTDL2QEEHJ4YJW2HREGLMDDC2O5J3R2AIUENINEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSKGWL7MFCJLPXWDASOLKLHTD5O7CFKFYOUPDCMQOIBK5TI47H2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteMicrosoftTeamsChannelConfiguration": {
            "http": {
                "requestUri": "/delete-ms-teams-channel-configuration",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5IR3LBEMO45F7ZC35PHFGBS5V52XGN2XK4RNNCD7VYAMWHYILCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC3FAHOQIGF5OTDL2QEEHJ4YJW2HREGLMDDC2O5J3R2AIUENINEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSKGWL7MFCJLPXWDASOLKLHTD5O7CFKFYOUPDCMQOIBK5TI47H2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteMicrosoftTeamsConfiguredTeam": {
            "http": {
                "requestUri": "/delete-ms-teams-configured-teams",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "TeamId"
                ],
                "members": {
                    "TeamId": {},
                    "EnableDryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5IR3LBEMO45F7ZC35PHFGBS5V52XGN2XK4RNNCD7VYAMWHYILCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC3FAHOQIGF5OTDL2QEEHJ4YJW2HREGLMDDC2O5J3R2AIUENINEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSKGWL7MFCJLPXWDASOLKLHTD5O7CFKFYOUPDCMQOIBK5TI47H2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteSlackChannelConfiguration": {
            "http": {
                "requestUri": "/delete-slack-channel-configuration",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5IR3LBEMO45F7ZC35PHFGBS5V52XGN2XK4RNNCD7VYAMWHYILCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC3FAHOQIGF5OTDL2QEEHJ4YJW2HREGLMDDC2O5J3R2AIUENINEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSKGWL7MFCJLPXWDASOLKLHTD5O7CFKFYOUPDCMQOIBK5TI47H2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteSlackUserIdentity": {
            "http": {
                "requestUri": "/delete-slack-user-identity",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn",
                    "SlackTeamId",
                    "SlackUserId"
                ],
                "members": {
                    "ChatConfigurationArn": {},
                    "SlackTeamId": {},
                    "SlackUserId": {},
                    "EnableDryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5IR3LBEMO45F7ZC35PHFGBS5V52XGN2XK4RNNCD7VYAMWHYILCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC3FAHOQIGF5OTDL2QEEHJ4YJW2HREGLMDDC2O5J3R2AIUENINEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSKGWL7MFCJLPXWDASOLKLHTD5O7CFKFYOUPDCMQOIBK5TI47H2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteSlackWorkspaceAuthorization": {
            "http": {
                "requestUri": "/delete-slack-workspace-authorization",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "SlackTeamId"
                ],
                "members": {
                    "SlackTeamId": {},
                    "EnableDryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5IR3LBEMO45F7ZC35PHFGBS5V52XGN2XK4RNNCD7VYAMWHYILCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC3FAHOQIGF5OTDL2QEEHJ4YJW2HREGLMDDC2O5J3R2AIUENINEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSKGWL7MFCJLPXWDASOLKLHTD5O7CFKFYOUPDCMQOIBK5TI47H2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeChimeWebhookConfigurations": {
            "http": {
                "requestUri": "/describe-chime-webhook-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "WebhookConfigurations": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5IR3LBEMO45F7ZC35PHFGBS5V52XGN2XK4RNNCD7VYAMWHYILCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC3FAHOQIGF5OTDL2QEEHJ4YJW2HREGLMDDC2O5J3R2AIUENINEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSKGWL7MFCJLPXWDASOLKLHTD5O7CFKFYOUPDCMQOIBK5TI47H2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeSlackChannelConfigurations": {
            "http": {
                "requestUri": "/describe-slack-channel-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SlackChannelConfigurations": {
                        "type": "list",
                        "member": {
                            "shape": "Sv"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5IR3LBEMO45F7ZC35PHFGBS5V52XGN2XK4RNNCD7VYAMWHYILCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC3FAHOQIGF5OTDL2QEEHJ4YJW2HREGLMDDC2O5J3R2AIUENINEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSKGWL7MFCJLPXWDASOLKLHTD5O7CFKFYOUPDCMQOIBK5TI47H2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeSlackChannels": {
            "http": {
                "requestUri": "/describe-slack-channels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SlackTeamId"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "SlackTeamId": {},
                    "EnableDryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SlackChannels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SlackTeamId",
                                "SlackChannelId",
                                "SlackChannelName"
                            ],
                            "members": {
                                "SlackTeamId": {},
                                "SlackTeamName": {},
                                "SlackChannelId": {},
                                "SlackChannelName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGUR4WAJDJ4MLRYOYNOGB4VBGGXFJYPGXUWOHNHRD3HOA77X3JUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5IR3LBEMO45F7ZC35PHFGBS5V52XGN2XK4RNNCD7VYAMWHYILCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC3FAHOQIGF5OTDL2QEEHJ4YJW2HREGLMDDC2O5J3R2AIUENINEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSKGWL7MFCJLPXWDASOLKLHTD5O7CFKFYOUPDCMQOIBK5TI47H2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js"
            ]
        },
        "DescribeSlackUserIdentities": {
            "http": {
                "requestUri": "/describe-slack-user-identities",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ChatConfigurationArn": {},
                    "GetCallerIdentity": {
                        "type": "boolean"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackUserIdentities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "IamRoleArn",
                                "ChatConfigurationArn",
                                "SlackTeamId",
                                "SlackUserId"
                            ],
                            "members": {
                                "IamRoleArn": {},
                                "ChatConfigurationArn": {},
                                "SlackTeamId": {},
                                "SlackUserId": {},
                                "AwsUserIdentity": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5IR3LBEMO45F7ZC35PHFGBS5V52XGN2XK4RNNCD7VYAMWHYILCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC3FAHOQIGF5OTDL2QEEHJ4YJW2HREGLMDDC2O5J3R2AIUENINEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSKGWL7MFCJLPXWDASOLKLHTD5O7CFKFYOUPDCMQOIBK5TI47H2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeSlackWorkspaces": {
            "http": {
                "requestUri": "/describe-slack-workspaces",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackWorkspaces": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SlackTeamId",
                                "SlackTeamName"
                            ],
                            "members": {
                                "SlackTeamId": {},
                                "SlackTeamName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5IR3LBEMO45F7ZC35PHFGBS5V52XGN2XK4RNNCD7VYAMWHYILCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC3FAHOQIGF5OTDL2QEEHJ4YJW2HREGLMDDC2O5J3R2AIUENINEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSKGWL7MFCJLPXWDASOLKLHTD5O7CFKFYOUPDCMQOIBK5TI47H2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetAccountPreferences": {
            "http": {
                "requestUri": "/get-account-preferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountPreferences": {
                        "shape": "S1y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5IR3LBEMO45F7ZC35PHFGBS5V52XGN2XK4RNNCD7VYAMWHYILCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC3FAHOQIGF5OTDL2QEEHJ4YJW2HREGLMDDC2O5J3R2AIUENINEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSKGWL7MFCJLPXWDASOLKLHTD5O7CFKFYOUPDCMQOIBK5TI47H2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetMicrosoftTeamsChannelConfiguration": {
            "http": {
                "requestUri": "/get-ms-teams-channel-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5IR3LBEMO45F7ZC35PHFGBS5V52XGN2XK4RNNCD7VYAMWHYILCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC3FAHOQIGF5OTDL2QEEHJ4YJW2HREGLMDDC2O5J3R2AIUENINEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSKGWL7MFCJLPXWDASOLKLHTD5O7CFKFYOUPDCMQOIBK5TI47H2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetMicrosoftTeamsOauthParameters": {
            "http": {
                "requestUri": "/get-ms-teams-oauth-parameters"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TenantId",
                    "TeamId",
                    "ChannelId"
                ],
                "members": {
                    "TenantId": {},
                    "TeamId": {},
                    "ChannelId": {},
                    "ChannelName": {},
                    "IamRoleArn": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StateId": {},
                    "ClientId": {},
                    "CodeChallenge": {},
                    "Scope": {},
                    "RedirectUri": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGUR4WAJDJ4MLRYOYNOGB4VBGGXFJYPGXUWOHNHRD3HOA77X3JUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5IR3LBEMO45F7ZC35PHFGBS5V52XGN2XK4RNNCD7VYAMWHYILCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC3FAHOQIGF5OTDL2QEEHJ4YJW2HREGLMDDC2O5J3R2AIUENINEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSKGWL7MFCJLPXWDASOLKLHTD5O7CFKFYOUPDCMQOIBK5TI47H2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js"
            ]
        },
        "GetSlackOauthParameters": {
            "http": {
                "requestUri": "/get-slack-oauth-parameters"
            },
            "input": {
                "type": "structure",
                "members": {
                    "OAuthVersion": {},
                    "SlackUserIamRoleArn": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackOauthParameters": {
                        "type": "structure",
                        "members": {
                            "ClientId": {},
                            "Scope": {},
                            "State": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGUR4WAJDJ4MLRYOYNOGB4VBGGXFJYPGXUWOHNHRD3HOA77X3JUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5IR3LBEMO45F7ZC35PHFGBS5V52XGN2XK4RNNCD7VYAMWHYILCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC3FAHOQIGF5OTDL2QEEHJ4YJW2HREGLMDDC2O5J3R2AIUENINEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSKGWL7MFCJLPXWDASOLKLHTD5O7CFKFYOUPDCMQOIBK5TI47H2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js"
            ]
        },
        "ListMicrosoftTeamsChannelConfigurations": {
            "http": {
                "requestUri": "/list-ms-teams-channel-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "TeamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "TeamChannelConfigurations": {
                        "type": "list",
                        "member": {
                            "shape": "Sj"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5IR3LBEMO45F7ZC35PHFGBS5V52XGN2XK4RNNCD7VYAMWHYILCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC3FAHOQIGF5OTDL2QEEHJ4YJW2HREGLMDDC2O5J3R2AIUENINEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSKGWL7MFCJLPXWDASOLKLHTD5O7CFKFYOUPDCMQOIBK5TI47H2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListMicrosoftTeamsConfiguredTeams": {
            "http": {
                "requestUri": "/list-ms-teams-configured-teams",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfiguredTeams": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "TenantId",
                                "TeamId"
                            ],
                            "members": {
                                "TenantId": {},
                                "TeamId": {},
                                "TeamName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5IR3LBEMO45F7ZC35PHFGBS5V52XGN2XK4RNNCD7VYAMWHYILCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC3FAHOQIGF5OTDL2QEEHJ4YJW2HREGLMDDC2O5J3R2AIUENINEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSKGWL7MFCJLPXWDASOLKLHTD5O7CFKFYOUPDCMQOIBK5TI47H2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "RedeemMicrosoftTeamsOauthCode": {
            "http": {
                "requestUri": "/redeem-ms-teams-oauth-code"
            },
            "input": {
                "type": "structure",
                "required": [
                    "StateId",
                    "Code"
                ],
                "members": {
                    "StateId": {},
                    "Code": {
                        "type": "string",
                        "sensitive": true
                    },
                    "RedirectUri": {},
                    "EnableDryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StateId": {},
                    "TenantId": {},
                    "TeamId": {},
                    "ChannelId": {},
                    "TeamName": {},
                    "ChannelName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGUR4WAJDJ4MLRYOYNOGB4VBGGXFJYPGXUWOHNHRD3HOA77X3JUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5IR3LBEMO45F7ZC35PHFGBS5V52XGN2XK4RNNCD7VYAMWHYILCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC3FAHOQIGF5OTDL2QEEHJ4YJW2HREGLMDDC2O5J3R2AIUENINEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSKGWL7MFCJLPXWDASOLKLHTD5O7CFKFYOUPDCMQOIBK5TI47H2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js"
            ]
        },
        "RedeemSlackOauthCode": {
            "http": {
                "requestUri": "/redeem-slack-oauth-code"
            },
            "input": {
                "type": "structure",
                "required": [
                    "State",
                    "Code",
                    "RedirectUri"
                ],
                "members": {
                    "State": {},
                    "Code": {
                        "type": "string",
                        "sensitive": true
                    },
                    "RedirectUri": {},
                    "EnableDryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackTeamId": {},
                    "SlackTeamName": {},
                    "BotResult": {
                        "type": "structure",
                        "members": {
                            "BotUserId": {}
                        }
                    },
                    "SlackUserId": {},
                    "ChatConfigurationArn": {},
                    "IamRoleArn": {},
                    "AwsUserIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGUR4WAJDJ4MLRYOYNOGB4VBGGXFJYPGXUWOHNHRD3HOA77X3JUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5IR3LBEMO45F7ZC35PHFGBS5V52XGN2XK4RNNCD7VYAMWHYILCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC3FAHOQIGF5OTDL2QEEHJ4YJW2HREGLMDDC2O5J3R2AIUENINEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSKGWL7MFCJLPXWDASOLKLHTD5O7CFKFYOUPDCMQOIBK5TI47H2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js"
            ]
        },
        "UpdateAccountPreferences": {
            "http": {
                "requestUri": "/update-account-preferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "UserAuthorizationRequired": {
                        "type": "boolean"
                    },
                    "TrainingDataCollectionEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountPreferences": {
                        "shape": "S1y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5IR3LBEMO45F7ZC35PHFGBS5V52XGN2XK4RNNCD7VYAMWHYILCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC3FAHOQIGF5OTDL2QEEHJ4YJW2HREGLMDDC2O5J3R2AIUENINEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSKGWL7MFCJLPXWDASOLKLHTD5O7CFKFYOUPDCMQOIBK5TI47H2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateChimeWebhookConfiguration": {
            "http": {
                "requestUri": "/update-chime-webhook-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {},
                    "WebhookDescription": {},
                    "WebhookUrl": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "LoggingLevel": {},
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebhookConfiguration": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5IR3LBEMO45F7ZC35PHFGBS5V52XGN2XK4RNNCD7VYAMWHYILCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC3FAHOQIGF5OTDL2QEEHJ4YJW2HREGLMDDC2O5J3R2AIUENINEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSKGWL7MFCJLPXWDASOLKLHTD5O7CFKFYOUPDCMQOIBK5TI47H2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
[...]
