{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-10-11",
        "endpointPrefix": "chatbot",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "proxyEndpoint": "chatbot",
        "serviceFullName": "chatbot",
        "serviceId": "WheatleyOrchestration",
        "serviceName": "chatbot",
        "signatureVersion": "v4",
        "uid": "chatbot-2017-10-11",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/I5PRJRKNWAZWC4P7BSNBI5KCBYTHN5VOMIN4QBCL7MV5XOPSMLAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E6ZRGF7GZGJMM5223YXU3NOBJRIFZAVXPB2ZR6XNDGJ74JZPRJXA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LDDF2YFDXGJ4EIZ3JRAX42OZ77QH2HXY6RWPEX63ULFQCGVSF3ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N56ONYPF7JWNNNNFYYH2SISA2CV2SOSVQOKZOMGIYOPNDLGKEEQA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TUF4PKXZ4VXYRU5FO4I7RYL5ELR53CGR5QAD2EAGHDX2DOLUUDHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NKIQWU5VIBAFTKXRAEXIUZRUPTRXO6KJZVNMUA2DJ2FURO4IX6JQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
        ]
    },
    "operations": {
        "CreateChimeWebhookConfiguration": {
            "http": {
                "requestUri": "/create-chime-webhook-configuration",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "WebhookDescription",
                    "WebhookUrl",
                    "SnsTopicArns",
                    "IamRoleArn",
                    "ConfigurationName"
                ],
                "members": {
                    "WebhookDescription": {},
                    "WebhookUrl": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "ConfigurationName": {},
                    "LoggingLevel": {},
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebhookConfiguration": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6ZRGF7GZGJMM5223YXU3NOBJRIFZAVXPB2ZR6XNDGJ74JZPRJXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDDF2YFDXGJ4EIZ3JRAX42OZ77QH2HXY6RWPEX63ULFQCGVSF3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N56ONYPF7JWNNNNFYYH2SISA2CV2SOSVQOKZOMGIYOPNDLGKEEQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUF4PKXZ4VXYRU5FO4I7RYL5ELR53CGR5QAD2EAGHDX2DOLUUDHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKIQWU5VIBAFTKXRAEXIUZRUPTRXO6KJZVNMUA2DJ2FURO4IX6JQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "CreateMicrosoftTeamsChannelConfiguration": {
            "http": {
                "requestUri": "/create-ms-teams-channel-configuration",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelId",
                    "TeamId",
                    "TenantId",
                    "IamRoleArn",
                    "ConfigurationName"
                ],
                "members": {
                    "ChannelId": {},
                    "ChannelName": {},
                    "TeamId": {},
                    "TeamName": {},
                    "TenantId": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "ConfigurationName": {},
                    "LoggingLevel": {},
                    "GuardrailPolicyArns": {
                        "shape": "Sg"
                    },
                    "UserAuthorizationRequired": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6ZRGF7GZGJMM5223YXU3NOBJRIFZAVXPB2ZR6XNDGJ74JZPRJXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDDF2YFDXGJ4EIZ3JRAX42OZ77QH2HXY6RWPEX63ULFQCGVSF3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N56ONYPF7JWNNNNFYYH2SISA2CV2SOSVQOKZOMGIYOPNDLGKEEQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUF4PKXZ4VXYRU5FO4I7RYL5ELR53CGR5QAD2EAGHDX2DOLUUDHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKIQWU5VIBAFTKXRAEXIUZRUPTRXO6KJZVNMUA2DJ2FURO4IX6JQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "CreateSlackChannelConfiguration": {
            "http": {
                "requestUri": "/create-slack-channel-configuration",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "SlackTeamId",
                    "SlackChannelId",
                    "IamRoleArn",
                    "ConfigurationName"
                ],
                "members": {
                    "SlackTeamId": {},
                    "SlackChannelId": {},
                    "SlackChannelName": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "ConfigurationName": {},
                    "LoggingLevel": {},
                    "GuardrailPolicyArns": {
                        "shape": "Sg"
                    },
                    "UserAuthorizationRequired": {
                        "type": "boolean"
                    },
                    "AmazonInternalPreferences": {
                        "shape": "Sq"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelConfiguration": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6ZRGF7GZGJMM5223YXU3NOBJRIFZAVXPB2ZR6XNDGJ74JZPRJXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDDF2YFDXGJ4EIZ3JRAX42OZ77QH2HXY6RWPEX63ULFQCGVSF3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N56ONYPF7JWNNNNFYYH2SISA2CV2SOSVQOKZOMGIYOPNDLGKEEQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUF4PKXZ4VXYRU5FO4I7RYL5ELR53CGR5QAD2EAGHDX2DOLUUDHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKIQWU5VIBAFTKXRAEXIUZRUPTRXO6KJZVNMUA2DJ2FURO4IX6JQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DeleteChimeWebhookConfiguration": {
            "http": {
                "requestUri": "/delete-chime-webhook-configuration",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6ZRGF7GZGJMM5223YXU3NOBJRIFZAVXPB2ZR6XNDGJ74JZPRJXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDDF2YFDXGJ4EIZ3JRAX42OZ77QH2HXY6RWPEX63ULFQCGVSF3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N56ONYPF7JWNNNNFYYH2SISA2CV2SOSVQOKZOMGIYOPNDLGKEEQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUF4PKXZ4VXYRU5FO4I7RYL5ELR53CGR5QAD2EAGHDX2DOLUUDHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKIQWU5VIBAFTKXRAEXIUZRUPTRXO6KJZVNMUA2DJ2FURO4IX6JQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DeleteMicrosoftTeamsChannelConfiguration": {
            "http": {
                "requestUri": "/delete-ms-teams-channel-configuration",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6ZRGF7GZGJMM5223YXU3NOBJRIFZAVXPB2ZR6XNDGJ74JZPRJXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDDF2YFDXGJ4EIZ3JRAX42OZ77QH2HXY6RWPEX63ULFQCGVSF3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N56ONYPF7JWNNNNFYYH2SISA2CV2SOSVQOKZOMGIYOPNDLGKEEQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUF4PKXZ4VXYRU5FO4I7RYL5ELR53CGR5QAD2EAGHDX2DOLUUDHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKIQWU5VIBAFTKXRAEXIUZRUPTRXO6KJZVNMUA2DJ2FURO4IX6JQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DeleteMicrosoftTeamsConfiguredTeam": {
            "http": {
                "requestUri": "/delete-ms-teams-configured-teams",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "TeamId"
                ],
                "members": {
                    "TeamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6ZRGF7GZGJMM5223YXU3NOBJRIFZAVXPB2ZR6XNDGJ74JZPRJXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDDF2YFDXGJ4EIZ3JRAX42OZ77QH2HXY6RWPEX63ULFQCGVSF3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N56ONYPF7JWNNNNFYYH2SISA2CV2SOSVQOKZOMGIYOPNDLGKEEQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUF4PKXZ4VXYRU5FO4I7RYL5ELR53CGR5QAD2EAGHDX2DOLUUDHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKIQWU5VIBAFTKXRAEXIUZRUPTRXO6KJZVNMUA2DJ2FURO4IX6JQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DeleteSlackChannelConfiguration": {
            "http": {
                "requestUri": "/delete-slack-channel-configuration",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6ZRGF7GZGJMM5223YXU3NOBJRIFZAVXPB2ZR6XNDGJ74JZPRJXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDDF2YFDXGJ4EIZ3JRAX42OZ77QH2HXY6RWPEX63ULFQCGVSF3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N56ONYPF7JWNNNNFYYH2SISA2CV2SOSVQOKZOMGIYOPNDLGKEEQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUF4PKXZ4VXYRU5FO4I7RYL5ELR53CGR5QAD2EAGHDX2DOLUUDHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKIQWU5VIBAFTKXRAEXIUZRUPTRXO6KJZVNMUA2DJ2FURO4IX6JQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DeleteSlackUserIdentity": {
            "http": {
                "requestUri": "/delete-slack-user-identity",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn",
                    "SlackTeamId",
                    "SlackUserId"
                ],
                "members": {
                    "ChatConfigurationArn": {},
                    "SlackTeamId": {},
                    "SlackUserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6ZRGF7GZGJMM5223YXU3NOBJRIFZAVXPB2ZR6XNDGJ74JZPRJXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDDF2YFDXGJ4EIZ3JRAX42OZ77QH2HXY6RWPEX63ULFQCGVSF3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N56ONYPF7JWNNNNFYYH2SISA2CV2SOSVQOKZOMGIYOPNDLGKEEQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUF4PKXZ4VXYRU5FO4I7RYL5ELR53CGR5QAD2EAGHDX2DOLUUDHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKIQWU5VIBAFTKXRAEXIUZRUPTRXO6KJZVNMUA2DJ2FURO4IX6JQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DeleteSlackWorkspaceAuthorization": {
            "http": {
                "requestUri": "/delete-slack-workspace-authorization",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "SlackTeamId"
                ],
                "members": {
                    "SlackTeamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6ZRGF7GZGJMM5223YXU3NOBJRIFZAVXPB2ZR6XNDGJ74JZPRJXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDDF2YFDXGJ4EIZ3JRAX42OZ77QH2HXY6RWPEX63ULFQCGVSF3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N56ONYPF7JWNNNNFYYH2SISA2CV2SOSVQOKZOMGIYOPNDLGKEEQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUF4PKXZ4VXYRU5FO4I7RYL5ELR53CGR5QAD2EAGHDX2DOLUUDHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKIQWU5VIBAFTKXRAEXIUZRUPTRXO6KJZVNMUA2DJ2FURO4IX6JQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DescribeChimeWebhookConfigurations": {
            "http": {
                "requestUri": "/describe-chime-webhook-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "WebhookConfigurations": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6ZRGF7GZGJMM5223YXU3NOBJRIFZAVXPB2ZR6XNDGJ74JZPRJXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDDF2YFDXGJ4EIZ3JRAX42OZ77QH2HXY6RWPEX63ULFQCGVSF3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N56ONYPF7JWNNNNFYYH2SISA2CV2SOSVQOKZOMGIYOPNDLGKEEQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUF4PKXZ4VXYRU5FO4I7RYL5ELR53CGR5QAD2EAGHDX2DOLUUDHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKIQWU5VIBAFTKXRAEXIUZRUPTRXO6KJZVNMUA2DJ2FURO4IX6JQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DescribeSlackChannelConfigurations": {
            "http": {
                "requestUri": "/describe-slack-channel-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SlackChannelConfigurations": {
                        "type": "list",
                        "member": {
                            "shape": "Sv"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6ZRGF7GZGJMM5223YXU3NOBJRIFZAVXPB2ZR6XNDGJ74JZPRJXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDDF2YFDXGJ4EIZ3JRAX42OZ77QH2HXY6RWPEX63ULFQCGVSF3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N56ONYPF7JWNNNNFYYH2SISA2CV2SOSVQOKZOMGIYOPNDLGKEEQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUF4PKXZ4VXYRU5FO4I7RYL5ELR53CGR5QAD2EAGHDX2DOLUUDHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKIQWU5VIBAFTKXRAEXIUZRUPTRXO6KJZVNMUA2DJ2FURO4IX6JQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DescribeSlackChannels": {
            "http": {
                "requestUri": "/describe-slack-channels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SlackTeamId"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "SlackTeamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SlackChannels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SlackTeamId",
                                "SlackChannelId",
                                "SlackChannelName"
                            ],
                            "members": {
                                "SlackTeamId": {},
                                "SlackTeamName": {},
                                "SlackChannelId": {},
                                "SlackChannelName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J22ZZT3IQCEKVIG7DSF2NGZSO7VW4SNPLOH3KZ7VUMXGZ5Q2QCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD6BT37K7K5ORE6PYYQ4TSN4OBSSJEH7QMG63XU2L2ZDXO3UVJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXKC6I6WD6HKIRL2VJ2SMGMPW4M64LZPXPIHXSMHB2JE52XEWZIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7JGLNZBUDR6TNGDC4ADX7JVTVARVELAWCVOWPWZOAYWFR47BTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4UH43GUDNK6VOELKRPQJKFUCRKVY266DPXMQA3UHEN53OTCKYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5PRJRKNWAZWC4P7BSNBI5KCBYTHN5VOMIN4QBCL7MV5XOPSMLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6ZRGF7GZGJMM5223YXU3NOBJRIFZAVXPB2ZR6XNDGJ74JZPRJXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDDF2YFDXGJ4EIZ3JRAX42OZ77QH2HXY6RWPEX63ULFQCGVSF3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N56ONYPF7JWNNNNFYYH2SISA2CV2SOSVQOKZOMGIYOPNDLGKEEQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUF4PKXZ4VXYRU5FO4I7RYL5ELR53CGR5QAD2EAGHDX2DOLUUDHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKIQWU5VIBAFTKXRAEXIUZRUPTRXO6KJZVNMUA2DJ2FURO4IX6JQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DescribeSlackUserIdentities": {
            "http": {
                "requestUri": "/describe-slack-user-identities",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ChatConfigurationArn": {},
                    "GetCallerIdentity": {
                        "type": "boolean"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackUserIdentities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "IamRoleArn",
                                "ChatConfigurationArn",
                                "SlackTeamId",
                                "SlackUserId"
                            ],
                            "members": {
                                "IamRoleArn": {},
                                "ChatConfigurationArn": {},
                                "SlackTeamId": {},
                                "SlackUserId": {},
                                "AwsUserIdentity": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6ZRGF7GZGJMM5223YXU3NOBJRIFZAVXPB2ZR6XNDGJ74JZPRJXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDDF2YFDXGJ4EIZ3JRAX42OZ77QH2HXY6RWPEX63ULFQCGVSF3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N56ONYPF7JWNNNNFYYH2SISA2CV2SOSVQOKZOMGIYOPNDLGKEEQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUF4PKXZ4VXYRU5FO4I7RYL5ELR53CGR5QAD2EAGHDX2DOLUUDHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKIQWU5VIBAFTKXRAEXIUZRUPTRXO6KJZVNMUA2DJ2FURO4IX6JQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DescribeSlackWorkspaces": {
            "http": {
                "requestUri": "/describe-slack-workspaces",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackWorkspaces": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SlackTeamId",
                                "SlackTeamName"
                            ],
                            "members": {
                                "SlackTeamId": {},
                                "SlackTeamName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6ZRGF7GZGJMM5223YXU3NOBJRIFZAVXPB2ZR6XNDGJ74JZPRJXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDDF2YFDXGJ4EIZ3JRAX42OZ77QH2HXY6RWPEX63ULFQCGVSF3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N56ONYPF7JWNNNNFYYH2SISA2CV2SOSVQOKZOMGIYOPNDLGKEEQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUF4PKXZ4VXYRU5FO4I7RYL5ELR53CGR5QAD2EAGHDX2DOLUUDHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKIQWU5VIBAFTKXRAEXIUZRUPTRXO6KJZVNMUA2DJ2FURO4IX6JQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "GetAccountPreferences": {
            "http": {
                "requestUri": "/get-account-preferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountPreferences": {
                        "shape": "S1y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6ZRGF7GZGJMM5223YXU3NOBJRIFZAVXPB2ZR6XNDGJ74JZPRJXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDDF2YFDXGJ4EIZ3JRAX42OZ77QH2HXY6RWPEX63ULFQCGVSF3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N56ONYPF7JWNNNNFYYH2SISA2CV2SOSVQOKZOMGIYOPNDLGKEEQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUF4PKXZ4VXYRU5FO4I7RYL5ELR53CGR5QAD2EAGHDX2DOLUUDHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKIQWU5VIBAFTKXRAEXIUZRUPTRXO6KJZVNMUA2DJ2FURO4IX6JQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "GetMicrosoftTeamsChannelConfiguration": {
            "http": {
                "requestUri": "/get-ms-teams-channel-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6ZRGF7GZGJMM5223YXU3NOBJRIFZAVXPB2ZR6XNDGJ74JZPRJXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDDF2YFDXGJ4EIZ3JRAX42OZ77QH2HXY6RWPEX63ULFQCGVSF3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N56ONYPF7JWNNNNFYYH2SISA2CV2SOSVQOKZOMGIYOPNDLGKEEQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUF4PKXZ4VXYRU5FO4I7RYL5ELR53CGR5QAD2EAGHDX2DOLUUDHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKIQWU5VIBAFTKXRAEXIUZRUPTRXO6KJZVNMUA2DJ2FURO4IX6JQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "GetMicrosoftTeamsOauthParameters": {
            "http": {
                "requestUri": "/get-ms-teams-oauth-parameters"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TenantId",
                    "TeamId",
                    "ChannelId"
                ],
                "members": {
                    "TenantId": {},
                    "TeamId": {},
                    "ChannelId": {},
                    "ChannelName": {},
                    "IamRoleArn": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StateId": {},
                    "ClientId": {},
                    "CodeChallenge": {},
                    "Scope": {},
                    "RedirectUri": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J22ZZT3IQCEKVIG7DSF2NGZSO7VW4SNPLOH3KZ7VUMXGZ5Q2QCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD6BT37K7K5ORE6PYYQ4TSN4OBSSJEH7QMG63XU2L2ZDXO3UVJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXKC6I6WD6HKIRL2VJ2SMGMPW4M64LZPXPIHXSMHB2JE52XEWZIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7JGLNZBUDR6TNGDC4ADX7JVTVARVELAWCVOWPWZOAYWFR47BTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4UH43GUDNK6VOELKRPQJKFUCRKVY266DPXMQA3UHEN53OTCKYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5PRJRKNWAZWC4P7BSNBI5KCBYTHN5VOMIN4QBCL7MV5XOPSMLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6ZRGF7GZGJMM5223YXU3NOBJRIFZAVXPB2ZR6XNDGJ74JZPRJXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDDF2YFDXGJ4EIZ3JRAX42OZ77QH2HXY6RWPEX63ULFQCGVSF3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N56ONYPF7JWNNNNFYYH2SISA2CV2SOSVQOKZOMGIYOPNDLGKEEQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUF4PKXZ4VXYRU5FO4I7RYL5ELR53CGR5QAD2EAGHDX2DOLUUDHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKIQWU5VIBAFTKXRAEXIUZRUPTRXO6KJZVNMUA2DJ2FURO4IX6JQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "GetSlackOauthParameters": {
            "http": {
                "requestUri": "/get-slack-oauth-parameters"
            },
            "input": {
                "type": "structure",
                "members": {
                    "OAuthVersion": {},
                    "SlackUserIamRoleArn": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackOauthParameters": {
                        "type": "structure",
                        "members": {
                            "ClientId": {},
                            "Scope": {},
                            "State": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J22ZZT3IQCEKVIG7DSF2NGZSO7VW4SNPLOH3KZ7VUMXGZ5Q2QCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD6BT37K7K5ORE6PYYQ4TSN4OBSSJEH7QMG63XU2L2ZDXO3UVJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXKC6I6WD6HKIRL2VJ2SMGMPW4M64LZPXPIHXSMHB2JE52XEWZIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7JGLNZBUDR6TNGDC4ADX7JVTVARVELAWCVOWPWZOAYWFR47BTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4UH43GUDNK6VOELKRPQJKFUCRKVY266DPXMQA3UHEN53OTCKYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5PRJRKNWAZWC4P7BSNBI5KCBYTHN5VOMIN4QBCL7MV5XOPSMLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6ZRGF7GZGJMM5223YXU3NOBJRIFZAVXPB2ZR6XNDGJ74JZPRJXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDDF2YFDXGJ4EIZ3JRAX42OZ77QH2HXY6RWPEX63ULFQCGVSF3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N56ONYPF7JWNNNNFYYH2SISA2CV2SOSVQOKZOMGIYOPNDLGKEEQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUF4PKXZ4VXYRU5FO4I7RYL5ELR53CGR5QAD2EAGHDX2DOLUUDHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKIQWU5VIBAFTKXRAEXIUZRUPTRXO6KJZVNMUA2DJ2FURO4IX6JQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "ListMicrosoftTeamsChannelConfigurations": {
            "http": {
                "requestUri": "/list-ms-teams-channel-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "TeamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "TeamChannelConfigurations": {
                        "type": "list",
                        "member": {
                            "shape": "Sj"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6ZRGF7GZGJMM5223YXU3NOBJRIFZAVXPB2ZR6XNDGJ74JZPRJXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDDF2YFDXGJ4EIZ3JRAX42OZ77QH2HXY6RWPEX63ULFQCGVSF3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N56ONYPF7JWNNNNFYYH2SISA2CV2SOSVQOKZOMGIYOPNDLGKEEQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUF4PKXZ4VXYRU5FO4I7RYL5ELR53CGR5QAD2EAGHDX2DOLUUDHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKIQWU5VIBAFTKXRAEXIUZRUPTRXO6KJZVNMUA2DJ2FURO4IX6JQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "ListMicrosoftTeamsConfiguredTeams": {
            "http": {
                "requestUri": "/list-ms-teams-configured-teams",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfiguredTeams": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "TenantId",
                                "TeamId"
                            ],
                            "members": {
                                "TenantId": {},
                                "TeamId": {},
                                "TeamName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6ZRGF7GZGJMM5223YXU3NOBJRIFZAVXPB2ZR6XNDGJ74JZPRJXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDDF2YFDXGJ4EIZ3JRAX42OZ77QH2HXY6RWPEX63ULFQCGVSF3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N56ONYPF7JWNNNNFYYH2SISA2CV2SOSVQOKZOMGIYOPNDLGKEEQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUF4PKXZ4VXYRU5FO4I7RYL5ELR53CGR5QAD2EAGHDX2DOLUUDHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKIQWU5VIBAFTKXRAEXIUZRUPTRXO6KJZVNMUA2DJ2FURO4IX6JQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "RedeemMicrosoftTeamsOauthCode": {
            "http": {
                "requestUri": "/redeem-ms-teams-oauth-code"
            },
            "input": {
                "type": "structure",
                "required": [
                    "StateId",
                    "Code"
                ],
                "members": {
                    "StateId": {},
                    "Code": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StateId": {},
                    "TenantId": {},
                    "TeamId": {},
                    "ChannelId": {},
                    "TeamName": {},
                    "ChannelName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J22ZZT3IQCEKVIG7DSF2NGZSO7VW4SNPLOH3KZ7VUMXGZ5Q2QCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD6BT37K7K5ORE6PYYQ4TSN4OBSSJEH7QMG63XU2L2ZDXO3UVJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXKC6I6WD6HKIRL2VJ2SMGMPW4M64LZPXPIHXSMHB2JE52XEWZIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7JGLNZBUDR6TNGDC4ADX7JVTVARVELAWCVOWPWZOAYWFR47BTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4UH43GUDNK6VOELKRPQJKFUCRKVY266DPXMQA3UHEN53OTCKYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5PRJRKNWAZWC4P7BSNBI5KCBYTHN5VOMIN4QBCL7MV5XOPSMLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6ZRGF7GZGJMM5223YXU3NOBJRIFZAVXPB2ZR6XNDGJ74JZPRJXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDDF2YFDXGJ4EIZ3JRAX42OZ77QH2HXY6RWPEX63ULFQCGVSF3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N56ONYPF7JWNNNNFYYH2SISA2CV2SOSVQOKZOMGIYOPNDLGKEEQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUF4PKXZ4VXYRU5FO4I7RYL5ELR53CGR5QAD2EAGHDX2DOLUUDHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKIQWU5VIBAFTKXRAEXIUZRUPTRXO6KJZVNMUA2DJ2FURO4IX6JQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "RedeemSlackOauthCode": {
            "http": {
                "requestUri": "/redeem-slack-oauth-code"
            },
            "input": {
                "type": "structure",
                "required": [
                    "State",
                    "Code",
                    "RedirectUri"
                ],
                "members": {
                    "State": {},
                    "Code": {
                        "type": "string",
                        "sensitive": true
                    },
                    "RedirectUri": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackTeamId": {},
                    "SlackTeamName": {},
                    "BotResult": {
                        "type": "structure",
                        "members": {
                            "BotUserId": {}
                        }
                    },
                    "SlackUserId": {},
                    "ChatConfigurationArn": {},
                    "IamRoleArn": {},
                    "AwsUserIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J22ZZT3IQCEKVIG7DSF2NGZSO7VW4SNPLOH3KZ7VUMXGZ5Q2QCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD6BT37K7K5ORE6PYYQ4TSN4OBSSJEH7QMG63XU2L2ZDXO3UVJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXKC6I6WD6HKIRL2VJ2SMGMPW4M64LZPXPIHXSMHB2JE52XEWZIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7JGLNZBUDR6TNGDC4ADX7JVTVARVELAWCVOWPWZOAYWFR47BTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4UH43GUDNK6VOELKRPQJKFUCRKVY266DPXMQA3UHEN53OTCKYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5PRJRKNWAZWC4P7BSNBI5KCBYTHN5VOMIN4QBCL7MV5XOPSMLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6ZRGF7GZGJMM5223YXU3NOBJRIFZAVXPB2ZR6XNDGJ74JZPRJXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDDF2YFDXGJ4EIZ3JRAX42OZ77QH2HXY6RWPEX63ULFQCGVSF3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N56ONYPF7JWNNNNFYYH2SISA2CV2SOSVQOKZOMGIYOPNDLGKEEQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUF4PKXZ4VXYRU5FO4I7RYL5ELR53CGR5QAD2EAGHDX2DOLUUDHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKIQWU5VIBAFTKXRAEXIUZRUPTRXO6KJZVNMUA2DJ2FURO4IX6JQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "UpdateAccountPreferences": {
            "http": {
                "requestUri": "/update-account-preferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "UserAuthorizationRequired": {
                        "type": "boolean"
                    },
                    "TrainingDataCollectionEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountPreferences": {
                        "shape": "S1y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6ZRGF7GZGJMM5223YXU3NOBJRIFZAVXPB2ZR6XNDGJ74JZPRJXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDDF2YFDXGJ4EIZ3JRAX42OZ77QH2HXY6RWPEX63ULFQCGVSF3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N56ONYPF7JWNNNNFYYH2SISA2CV2SOSVQOKZOMGIYOPNDLGKEEQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUF4PKXZ4VXYRU5FO4I7RYL5ELR53CGR5QAD2EAGHDX2DOLUUDHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKIQWU5VIBAFTKXRAEXIUZRUPTRXO6KJZVNMUA2DJ2FURO4IX6JQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "UpdateChimeWebhookConfiguration": {
            "http": {
                "requestUri": "/update-chime-webhook-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {},
                    "WebhookDescription": {},
                    "WebhookUrl": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "LoggingLevel": {},
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebhookConfiguration": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6ZRGF7GZGJMM5223YXU3NOBJRIFZAVXPB2ZR6XNDGJ74JZPRJXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDDF2YFDXGJ4EIZ3JRAX42OZ77QH2HXY6RWPEX63ULFQCGVSF3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N56ONYPF7JWNNNNFYYH2SISA2CV2SOSVQOKZOMGIYOPNDLGKEEQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUF4PKXZ4VXYRU5FO4I7RYL5ELR53CGR5QAD2EAGHDX2DOLUUDHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKIQWU5VIBAFTKXRAEXIUZRUPTRXO6KJZVNMUA2DJ2FURO4IX6JQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
[...]
