{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-10-11",
        "endpointPrefix": "chatbot",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "proxyEndpoint": "chatbot",
        "serviceFullName": "chatbot",
        "serviceId": "WheatleyOrchestration",
        "serviceName": "chatbot",
        "signatureVersion": "v4",
        "uid": "chatbot-2017-10-11",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
        ]
    },
    "operations": {
        "CreateChimeWebhookConfiguration": {
            "http": {
                "requestUri": "/create-chime-webhook-configuration",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "WebhookDescription",
                    "WebhookUrl",
                    "SnsTopicArns",
                    "IamRoleArn",
                    "ConfigurationName"
                ],
                "members": {
                    "WebhookDescription": {},
                    "WebhookUrl": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "ConfigurationName": {},
                    "LoggingLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebhookConfiguration": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "CreateMicrosoftTeamsChannelConfiguration": {
            "http": {
                "requestUri": "/create-ms-teams-channel-configuration",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelId",
                    "TeamId",
                    "TenantId",
                    "IamRoleArn",
                    "ConfigurationName"
                ],
                "members": {
                    "ChannelId": {},
                    "ChannelName": {},
                    "TeamId": {},
                    "TeamName": {},
                    "TenantId": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "ConfigurationName": {},
                    "LoggingLevel": {},
                    "GuardrailPolicyArns": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "CreateSlackChannelConfiguration": {
            "http": {
                "requestUri": "/create-slack-channel-configuration",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "SlackTeamId",
                    "SlackChannelId",
                    "IamRoleArn",
                    "ConfigurationName"
                ],
                "members": {
                    "SlackTeamId": {},
                    "SlackChannelId": {},
                    "SlackChannelName": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "ConfigurationName": {},
                    "LoggingLevel": {},
                    "GuardrailPolicyArns": {
                        "shape": "Sg"
                    },
                    "UserAuthorizationRequired": {
                        "type": "boolean"
                    },
                    "AmazonInternalPreferences": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelConfiguration": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "DeleteChimeWebhookConfiguration": {
            "http": {
                "requestUri": "/delete-chime-webhook-configuration",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "DeleteMicrosoftTeamsChannelConfiguration": {
            "http": {
                "requestUri": "/delete-ms-teams-channel-configuration",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "DeleteMicrosoftTeamsConfiguredTeam": {
            "http": {
                "requestUri": "/delete-ms-teams-configured-teams",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "TeamId"
                ],
                "members": {
                    "TeamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "DeleteSlackChannelConfiguration": {
            "http": {
                "requestUri": "/delete-slack-channel-configuration",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "DeleteSlackUserIdentity": {
            "http": {
                "requestUri": "/delete-slack-user-identity",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn",
                    "SlackTeamId",
                    "SlackUserId"
                ],
                "members": {
                    "ChatConfigurationArn": {},
                    "SlackTeamId": {},
                    "SlackUserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "DeleteSlackWorkspaceAuthorization": {
            "http": {
                "requestUri": "/delete-slack-workspace-authorization",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "SlackTeamId"
                ],
                "members": {
                    "SlackTeamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "DescribeChimeWebhookConfigurations": {
            "http": {
                "requestUri": "/describe-chime-webhook-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "WebhookConfigurations": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "DescribeSlackChannelConfigurations": {
            "http": {
                "requestUri": "/describe-slack-channel-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SlackChannelConfigurations": {
                        "type": "list",
                        "member": {
                            "shape": "Sv"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "DescribeSlackChannels": {
            "http": {
                "requestUri": "/describe-slack-channels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SlackTeamId"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "SlackTeamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SlackChannels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SlackTeamId",
                                "SlackChannelId",
                                "SlackChannelName"
                            ],
                            "members": {
                                "SlackTeamId": {},
                                "SlackTeamName": {},
                                "SlackChannelId": {},
                                "SlackChannelName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "DescribeSlackUserIdentities": {
            "http": {
                "requestUri": "/describe-slack-user-identities",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ChatConfigurationArn": {},
                    "GetCallerIdentity": {
                        "type": "boolean"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackUserIdentities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "IamRoleArn",
                                "ChatConfigurationArn",
                                "SlackTeamId",
                                "SlackUserId"
                            ],
                            "members": {
                                "IamRoleArn": {},
                                "ChatConfigurationArn": {},
                                "SlackTeamId": {},
                                "SlackUserId": {},
                                "AwsUserIdentity": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "DescribeSlackWorkspaces": {
            "http": {
                "requestUri": "/describe-slack-workspaces",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackWorkspaces": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SlackTeamId",
                                "SlackTeamName"
                            ],
                            "members": {
                                "SlackTeamId": {},
                                "SlackTeamName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "GetAccountPreferences": {
            "http": {
                "requestUri": "/get-account-preferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountPreferences": {
                        "shape": "S1y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "GetMicrosoftTeamsChannelConfiguration": {
            "http": {
                "requestUri": "/get-ms-teams-channel-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "GetMicrosoftTeamsOauthParameters": {
            "http": {
                "requestUri": "/get-ms-teams-oauth-parameters"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TenantId",
                    "TeamId",
                    "ChannelId"
                ],
                "members": {
                    "TenantId": {},
                    "TeamId": {},
                    "ChannelId": {},
                    "ChannelName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StateId": {},
                    "ClientId": {},
                    "CodeChallenge": {},
                    "Scope": {},
                    "RedirectUri": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "GetSlackOauthParameters": {
            "http": {
                "requestUri": "/get-slack-oauth-parameters"
            },
            "input": {
                "type": "structure",
                "members": {
                    "OAuthVersion": {},
                    "SlackUserIamRoleArn": {},
                    "ChatConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackOauthParameters": {
                        "type": "structure",
                        "members": {
                            "ClientId": {},
                            "Scope": {},
                            "State": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "ListMicrosoftTeamsChannelConfigurations": {
            "http": {
                "requestUri": "/list-ms-teams-channel-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "TeamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "TeamChannelConfigurations": {
                        "type": "list",
                        "member": {
                            "shape": "Sj"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "ListMicrosoftTeamsConfiguredTeams": {
            "http": {
                "requestUri": "/list-ms-teams-configured-teams",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfiguredTeams": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "TenantId",
                                "TeamId"
                            ],
                            "members": {
                                "TenantId": {},
                                "TeamId": {},
                                "TeamName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "RedeemMicrosoftTeamsOauthCode": {
            "http": {
                "requestUri": "/redeem-ms-teams-oauth-code"
            },
            "input": {
                "type": "structure",
                "required": [
                    "StateId",
                    "Code"
                ],
                "members": {
                    "StateId": {},
                    "Code": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StateId": {},
                    "TenantId": {},
                    "TeamId": {},
                    "ChannelId": {},
                    "TeamName": {},
                    "ChannelName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "RedeemSlackOauthCode": {
            "http": {
                "requestUri": "/redeem-slack-oauth-code"
            },
            "input": {
                "type": "structure",
                "required": [
                    "State",
                    "Code",
                    "RedirectUri"
                ],
                "members": {
                    "State": {},
                    "Code": {
                        "type": "string",
                        "sensitive": true
                    },
                    "RedirectUri": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SlackTeamId": {},
                    "SlackTeamName": {},
                    "BotResult": {
                        "type": "structure",
                        "members": {
                            "BotUserId": {}
                        }
                    },
                    "SlackUserId": {},
                    "ChatConfigurationArn": {},
                    "IamRoleArn": {},
                    "AwsUserIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "UpdateAccountPreferences": {
            "http": {
                "requestUri": "/update-account-preferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "UserAuthorizationRequired": {
                        "type": "boolean"
                    },
                    "TrainingDataCollectionEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountPreferences": {
                        "shape": "S1y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "UpdateChimeWebhookConfiguration": {
            "http": {
                "requestUri": "/update-chime-webhook-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn"
                ],
                "members": {
                    "ChatConfigurationArn": {},
                    "WebhookDescription": {},
                    "WebhookUrl": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "LoggingLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebhookConfiguration": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "UpdateMicrosoftTeamsChannelConfiguration": {
            "http": {
                "requestUri": "/update-ms-teams-channel-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn",
                    "ChannelId"
                ],
                "members": {
                    "ChatConfigurationArn": {},
                    "ChannelId": {},
                    "ChannelName": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "LoggingLevel": {},
                    "GuardrailPolicyArns": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "UpdateSlackChannelConfiguration": {
            "http": {
                "requestUri": "/update-slack-channel-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn",
                    "SlackChannelId"
                ],
                "members": {
                    "ChatConfigurationArn": {},
                    "SlackChannelId": {},
                    "SlackChannelName": {},
                    "SnsTopicArns": {
                        "shape": "S4"
                    },
                    "IamRoleArn": {},
                    "LoggingLevel": {},
                    "GuardrailPolicyArns": {
                        "shape": "Sg"
                    },
                    "UserAuthorizationRequired": {
                        "type": "boolean"
                    },
                    "AmazonInternalPreferences": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelConfiguration": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHSUVS243SDQOZ6AXUJIRR4JNW24733MRL2EF77IGQWYJTF5B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "DeleteMicrosoftTeamsUserIdentity": {
            "http": {
                "requestUri": "/delete-ms-teams-user-identity",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChatConfigurationArn",
                    "UserId"
                ],
                "members": {
                    "ChatConfigurationArn": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIHNYOTEKHSCXXREH34J7UB4XXRWMPITPGRLSUZP46STCGIYSYQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        },
        "ListMicrosoftTeamsUserIdentities": {
            "http": {
                "requestUri": "/list-ms-teams-user-identities",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ChatConfigurationArn": {},
                    "GetCallerIdentity": {
                        "type": "boolean"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TeamsUserIdentities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "IamRoleArn",
                                "ChatConfigurationArn",
                                "TeamId"
                            ],
                            "members": {
                                "IamRoleArn": {},
                                "ChatConfigurationArn": {},
                                "TeamId": {},
                                "UserId": {},
                                "AwsUserIdentity": {},
                                "TeamsChannelId": {},
                                "TeamsTenantId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIHNYOTEKHSCXXREH34J7UB4XXRWMPITPGRLSUZP46STCGIYSYQ/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/main.bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4T53FT5RM3E3NGXXOE4AGDELXJH3GVYEVQL7G7J27B6U4T7WHA/en.bundle.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "list",
            "member": {}
        },
        "S9": {
            "type": "structure",
            "required": [
                "WebhookDescription",
                "ChatConfigurationArn",
                "IamRoleArn",
                "SnsTopicArns"
            ],
            "members": {
                "WebhookDescription": {},
                "ChatConfigurationArn": {},
                "IamRoleArn": {},
                "SnsTopicArns": {
                    "shape": "S4"
                },
                "ConfigurationName": {},
                "LoggingLevel": {}
            }
        },
        "Sg": {
            "type": "list",
            "member": {}
        },
        "Sj": {
            "type": "structure",
            "required": [
                "ChannelId",
                "TeamId",
                "TenantId",
                "ChatConfigurationArn",
                "IamRoleArn",
                "SnsTopicArns"
            ],
            "members": {
                "ChannelId": {},
                "ChannelName": {},
                "TeamId": {},
                "TeamName": {},
                "TenantId": {},
                "ChatConfigurationArn": {},
                "IamRoleArn": {},
                "SnsTopicArns": {
                    "shape": "S4"
                },
                "ConfigurationName": {},
                "LoggingLevel": {},
                "GuardrailPolicyArns": {
                    "shape": "Sg"
                }
            }
        },
        "Sq": {
            "type": "structure",
            "members": {
                "Classification": {},
                "Teams": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Sv": {
            "type": "structure",
            "required": [
                "SlackTeamName",
                "SlackTeamId",
                "SlackChannelId",
                "SlackChannelName",
                "ChatConfigurationArn",
                "IamRoleArn",
                "SnsTopicArns"
            ],
            "members": {
                "SlackTeamName": {},
                "SlackTeamId": {},
                "SlackChannelId": {},
                "SlackChannelName": {},
                "ChatConfigurationArn": {},
                "IamRoleArn": {},
                "SnsTopicArns": {
                    "shape": "S4"
                },
                "ConfigurationName": {},
                "LoggingLevel": {},
                "GuardrailPolicyArns": {
                    "shape": "Sg"
                },
                "UserAuthorizationRequired": {
                    "type": "boolean"
                },
                "AmazonInternalPreferences": {
                    "shape": "Sq"
                }
            }
        },
        "S1y": {
            "type": "structure",
            "members": {
                "UserAuthorizationRequired": {
                    "type": "boolean"
                },
                "TrainingDataCollectionEnabled": {
                    "type": "boolean"
                }
            }
        },
        "Sk": {
            "type": "structure",
            "required": [
                "ChannelId",
                "TeamId",
                "TenantId",
                "ChatConfigurationArn",
                "IamRoleArn",
                "SnsTopicArns"
            ],
            "members": {
                "ChannelId": {},
                "ChannelName": {},
                "TeamId": {},
                "TeamName": {},
                "TenantId": {},
                "ChatConfigurationArn": {},
                "IamRoleArn": {},
                "SnsTopicArns": {
                    "shape": "S4"
                },
                "ConfigurationName": {},
                "LoggingLevel": {},
                "GuardrailPolicyArns": {
                    "shape": "Sg"
                },
                "UserAuthorizationRequired": {
                    "type": "boolean"
                }
            }
        },
        "S20": {
            "type": "structure",
            "members": {
                "UserAuthorizationRequired": {
                    "type": "boolean"
                },
                "TrainingDataCollectionEnabled": {
                    "type": "boolean"
                }
            }
        }
    },
    "internalonly": true
}