{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-11-28",
        "endpointPrefix": "chime",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Chime",
        "serviceId": "Chime",
        "signatureVersion": "v4",
        "uid": "chime-2016-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
        ]
    },
    "operations": {
        "AcceptDelegate": {
            "http": {
                "requestUri": "/accounts/delegates?operation=accept",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Token"
                ],
                "members": {
                    "Token": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountDelegate": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "ActivateUsers": {
            "http": {
                "requestUri": "/accounts/{accountId}/users?operation=activate",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "UserIdList"
                ],
                "members": {
                    "AccountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "UserIdList": {
                        "shape": "Sa"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "AddDomain": {
            "http": {
                "requestUri": "/accounts/{accountId}/domains",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "DomainName"
                ],
                "members": {
                    "AccountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "DomainName": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Domain": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "AddOrUpdateGroups": {
            "http": {
                "requestUri": "/accounts/{accountId}/groups?operation=put",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "GroupIds",
                    "License"
                ],
                "members": {
                    "AccountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "GroupIds": {
                        "shape": "Sa"
                    },
                    "License": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "AssociatePhoneNumberWithUser": {
            "http": {
                "requestUri": "/accounts/{accountId}/users/{userId}?operation=associate-phone-number",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "UserId",
                    "E164PhoneNumber"
                ],
                "members": {
                    "AccountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "UserId": {
                        "location": "uri",
                        "locationName": "userId"
                    },
                    "E164PhoneNumber": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "AssociatePhoneNumbersWithVoiceConnector": {
            "http": {
                "requestUri": "/voice-connectors/{voiceConnectorId}?operation=associate-phone-numbers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "VoiceConnectorId",
                    "E164PhoneNumbers"
                ],
                "members": {
                    "VoiceConnectorId": {
                        "location": "uri",
                        "locationName": "voiceConnectorId"
                    },
                    "E164PhoneNumbers": {
                        "shape": "Sp"
                    },
                    "ForceAssociate": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PhoneNumberErrors": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "AssociatePhoneNumbersWithVoiceConnectorGroup": {
            "http": {
                "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}?operation=associate-phone-numbers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "VoiceConnectorGroupId",
                    "E164PhoneNumbers"
                ],
                "members": {
                    "VoiceConnectorGroupId": {
                        "location": "uri",
                        "locationName": "voiceConnectorGroupId"
                    },
                    "E164PhoneNumbers": {
                        "shape": "Sp"
                    },
                    "ForceAssociate": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PhoneNumberErrors": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "AssociateSigninDelegateGroupsWithAccount": {
            "http": {
                "requestUri": "/accounts/{accountId}?operation=associate-signin-delegate-groups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "SigninDelegateGroups"
                ],
                "members": {
                    "AccountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "SigninDelegateGroups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "GroupName": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "AuthorizeDirectory": {
            "http": {
                "method": "PUT",
                "requestUri": "/directories",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "BatchCreateAttendee": {
            "http": {
                "requestUri": "/meetings/{meetingId}/attendees?operation=batch-create",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "MeetingId",
                    "Attendees"
                ],
                "members": {
                    "MeetingId": {
                        "location": "uri",
                        "locationName": "meetingId"
                    },
                    "Attendees": {
                        "type": "list",
                        "member": {
                            "shape": "S16"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Attendees": {
                        "shape": "S1d"
                    },
                    "Errors": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "BatchCreateRoomMembership": {
            "http": {
                "requestUri": "/accounts/{accountId}/rooms/{roomId}/memberships?operation=batch-create",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "RoomId",
                    "MembershipItemList"
                ],
                "members": {
                    "AccountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "RoomId": {
                        "location": "uri",
                        "locationName": "roomId"
                    },
                    "MembershipItemList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "MemberId",
                                "Role"
                            ],
                            "members": {
                                "MemberId": {},
                                "Role": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "MemberId": {},
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "BatchDeletePhoneNumber": {
            "http": {
                "requestUri": "/phone-numbers?operation=batch-delete",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "PhoneNumberIds"
                ],
                "members": {
                    "PhoneNumberIds": {
                        "shape": "S1q"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PhoneNumberErrors": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "BatchSuspendUser": {
            "http": {
                "requestUri": "/accounts/{accountId}/users?operation=suspend",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "UserIdList"
                ],
                "members": {
                    "AccountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "UserIdList": {
                        "shape": "S1t"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserErrors": {
                        "shape": "S1v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "BatchUnsuspendUser": {
            "http": {
                "requestUri": "/accounts/{accountId}/users?operation=unsuspend",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "UserIdList"
                ],
                "members": {
                    "AccountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "UserIdList": {
                        "shape": "S1t"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserErrors": {
                        "shape": "S1v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "BatchUpdatePhoneNumber": {
            "http": {
                "requestUri": "/phone-numbers?operation=batch-update",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "UpdatePhoneNumberRequestItems"
                ],
                "members": {
                    "UpdatePhoneNumberRequestItems": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "PhoneNumberId"
                            ],
                            "members": {
                                "PhoneNumberId": {},
                                "ProductType": {},
                                "CallingName": {
                                    "shape": "S23"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PhoneNumberErrors": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "BatchUpdateUser": {
            "http": {
                "requestUri": "/accounts/{accountId}/users",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "UpdateUserRequestItems"
                ],
                "members": {
                    "AccountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "UpdateUserRequestItems": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "UserId"
                            ],
                            "members": {
                                "UserId": {},
                                "LicenseType": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserErrors": {
                        "shape": "S1v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CaptureConsoleMetricsForNoOp": {
            "http": {
                "method": "GET",
                "requestUri": "/console-noop",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "Measurement": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "ConnectDirectory": {
            "http": {
                "method": "PUT",
                "requestUri": "/accounts/{accountId}/directories/{directoryId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "DirectoryId"
                ],
                "members": {
                    "AccountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "DirectoryId": {
                        "location": "uri",
                        "locationName": "directoryId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CreateAccount": {
            "http": {
                "requestUri": "/accounts",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CreateAnnouncement": {
            "http": {
                "requestUri": "/announcements",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "Message",
                    "WorkTalkAccountId"
                ],
                "members": {
                    "Message": {},
                    "Url": {},
                    "WorkTalkAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CreateApiKey": {
            "http": {
                "requestUri": "/accounts/{accountId}/apikeys",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApiKey": {
                        "type": "structure",
                        "members": {
                            "ApiKeyId": {},
                            "ApiKeySecret": {
                                "shape": "Sh"
                            },
                            "CreatedTimestamp": {
                                "shape": "S2k"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CreateAppInstance": {
            "http": {
                "requestUri": "/app-instances",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ClientRequestToken"
                ],
                "members": {
                    "Name": {
                        "shape": "S2m"
                    },
                    "Metadata": {
                        "shape": "S2n"
                    },
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S2p"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppInstanceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CreateAppInstanceAdmin": {
            "http": {
                "requestUri": "/app-instances/{appInstanceArn}/admins",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "AppInstanceAdminArn",
                    "AppInstanceArn"
                ],
                "members": {
                    "AppInstanceAdminArn": {},
                    "AppInstanceArn": {
                        "location": "uri",
                        "locationName": "appInstanceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppInstanceAdmin": {
                        "shape": "S2u"
                    },
                    "AppInstanceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CreateAppInstanceUser": {
            "http": {
                "requestUri": "/app-instance-users",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "AppInstanceArn",
                    "AppInstanceUserId",
                    "Name",
                    "ClientRequestToken"
                ],
                "members": {
                    "AppInstanceArn": {},
                    "AppInstanceUserId": {
                        "type": "string",
                        "sensitive": true
                    },
                    "Name": {
                        "shape": "S2y"
                    },
                    "Metadata": {
                        "shape": "S2n"
                    },
                    "Tags": {
                        "shape": "S2p"
                    },
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppInstanceUserArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CreateAttendee": {
            "http": {
                "requestUri": "/meetings/{meetingId}/attendees",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "MeetingId",
                    "ExternalUserId"
                ],
                "members": {
                    "MeetingId": {
                        "location": "uri",
                        "locationName": "meetingId"
                    },
                    "ExternalUserId": {
                        "shape": "S17"
                    },
                    "Tags": {
                        "shape": "S18"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Attendee": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CreateBot": {
            "http": {
                "requestUri": "/accounts/{accountId}/bots",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "DisplayName",
                    "AccountId"
                ],
                "members": {
                    "AccountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "DisplayName": {
                        "shape": "Sh"
                    },
                    "Domain": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Bot": {
                        "shape": "S34"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CreateCDRBucket": {
            "http": {
                "requestUri": "/cdr/buckets",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "BucketName"
                ],
                "members": {
                    "BucketName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BucketName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CreateMediaCapturePipeline": {
            "http": {
                "requestUri": "/media-capture-pipelines",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "SourceType",
                    "SourceArn",
                    "SinkType",
                    "SinkArn"
                ],
                "members": {
                    "SourceType": {},
                    "SourceArn": {
                        "shape": "S3a"
                    },
                    "SinkType": {},
                    "SinkArn": {
                        "shape": "S3a"
                    },
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "ChimeSdkMeetingConfiguration": {
                        "shape": "S3c"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MediaCapturePipeline": {
                        "shape": "S3q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CreateMeeting": {
            "http": {
                "requestUri": "/meetings",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "ClientRequestToken"
                ],
                "members": {
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "ExternalMeetingId": {
                        "shape": "S3t"
                    },
                    "MeetingHostId": {
                        "shape": "S17"
                    },
                    "MediaRegion": {},
                    "Tags": {
                        "shape": "S3u"
                    },
                    "NotificationsConfiguration": {
                        "shape": "S3v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Meeting": {
                        "shape": "S3x"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CreateMeetingDialOut": {
            "http": {
                "requestUri": "/meetings/{meetingId}/dial-outs",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "MeetingId",
                    "FromPhoneNumber",
                    "ToPhoneNumber",
                    "JoinToken"
                ],
                "members": {
                    "MeetingId": {
                        "location": "uri",
                        "locationName": "meetingId"
                    },
                    "FromPhoneNumber": {
                        "shape": "Sm"
                    },
                    "ToPhoneNumber": {
                        "shape": "Sm"
                    },
                    "JoinToken": {
                        "shape": "S1f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TransactionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CreateMeetingWithAttendees": {
            "http": {
                "requestUri": "/meetings?operation=create-attendees",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "ClientRequestToken"
                ],
                "members": {
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "ExternalMeetingId": {
                        "shape": "S3t"
                    },
                    "MeetingHostId": {
                        "shape": "S17"
                    },
                    "MediaRegion": {},
                    "Tags": {
                        "shape": "S3u"
                    },
                    "NotificationsConfiguration": {
                        "shape": "S3v"
                    },
                    "Attendees": {
                        "type": "list",
                        "member": {
                            "shape": "S16"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Meeting": {
                        "shape": "S3x"
                    },
                    "Attendees": {
                        "shape": "S1d"
                    },
                    "Errors": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CreateNamespace": {
            "http": {
                "requestUri": "/namespaces",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "shape": "S46"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Namespace": {
                        "shape": "S48"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CreatePhoneNumberOrder": {
            "http": {
                "requestUri": "/phone-number-orders",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProductType",
                    "E164PhoneNumbers"
                ],
                "members": {
                    "ProductType": {},
                    "E164PhoneNumbers": {
                        "shape": "Sp"
                    },
                    "Tags": {
                        "shape": "S2p"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PhoneNumberOrder": {
                        "shape": "S4b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CreateProxySession": {
            "http": {
                "requestUri": "/voice-connectors/{voiceConnectorId}/proxy-sessions",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "ParticipantPhoneNumbers",
                    "Capabilities",
                    "VoiceConnectorId"
                ],
                "members": {
                    "VoiceConnectorId": {
                        "location": "uri",
                        "locationName": "voiceConnectorId"
                    },
                    "ParticipantPhoneNumbers": {
                        "type": "list",
                        "member": {
                            "shape": "Sm"
                        }
                    },
                    "Name": {
                        "type": "string",
                        "sensitive": true
                    },
                    "ExpiryMinutes": {
                        "type": "integer"
                    },
                    "Capabilities": {
                        "shape": "S4m"
                    },
                    "NumberSelectionBehavior": {},
                    "GeoMatchLevel": {},
                    "GeoMatchParams": {
                        "shape": "S4q"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProxySession": {
                        "shape": "S4u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CreateRoom": {
            "http": {
                "requestUri": "/accounts/{accountId}/rooms",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name"
                ],
                "members": {
                    "AccountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "Name": {
                        "shape": "Sh"
                    },
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Room": {
                        "shape": "S51"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CreateRoomMembership": {
            "http": {
                "requestUri": "/accounts/{accountId}/rooms/{roomId}/memberships",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "RoomId",
                    "MemberId"
                ],
                "members": {
                    "AccountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "RoomId": {
                        "location": "uri",
                        "locationName": "roomId"
                    },
                    "MemberId": {},
                    "Role": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RoomMembership": {
                        "shape": "S54"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CreateSSOServiceLinkedRole": {
            "http": {
                "requestUri": "/awsaccount/iam-roles/sso-slr",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CreateSipMediaApplication": {
            "http": {
                "requestUri": "/sip-media-applications",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "AwsRegion",
                    "Name",
                    "Endpoints"
                ],
                "members": {
                    "AwsRegion": {},
                    "Name": {},
                    "Endpoints": {
                        "shape": "S5b"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SipMediaApplication": {
                        "shape": "S5f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CreateSipMediaApplicationCall": {
            "http": {
                "requestUri": "/sip-media-applications/{sipMediaApplicationId}/calls",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "FromPhoneNumber",
                    "ToPhoneNumber",
                    "SipMediaApplicationId"
                ],
                "members": {
                    "FromPhoneNumber": {
                        "shape": "Sm"
                    },
                    "ToPhoneNumber": {
                        "shape": "Sm"
                    },
                    "SipMediaApplicationId": {
                        "location": "uri",
                        "locationName": "sipMediaApplicationId"
                    },
                    "SipHeaders": {
                        "type": "map",
                        "key": {
                            "shape": "Sh"
                        },
                        "value": {
                            "shape": "Sh"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SipMediaApplicationCall": {
                        "shape": "S5j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CreateSipRule": {
            "http": {
                "requestUri": "/sip-rules",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "TriggerType",
                    "TriggerValue",
                    "TargetType"
                ],
                "members": {
                    "Name": {},
                    "TriggerType": {},
                    "TriggerValue": {},
                    "TargetType": {},
                    "Disabled": {
                        "type": "boolean"
                    },
                    "TargetApplications": {
                        "shape": "S5o"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SipRule": {
                        "shape": "S5s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CreateUser": {
            "http": {
                "requestUri": "/accounts/{accountId}/users?operation=create",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "Username": {
                        "shape": "Sh"
                    },
                    "Email": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "User": {
                        "shape": "S5w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CreateVoiceConnector": {
            "http": {
                "requestUri": "/voice-connectors",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RequireEncryption"
                ],
                "members": {
                    "Name": {},
                    "AwsRegion": {},
                    "RequireEncryption": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S2p"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "VoiceConnector": {
                        "shape": "S63"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "CreateVoiceConnectorGroup": {
            "http": {
                "requestUri": "/voice-connector-groups",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "VoiceConnectorItems": {
                        "shape": "S6r"
                    },
                    "Tags": {
                        "shape": "S2p"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "VoiceConnectorGroup": {
                        "shape": "S6v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js"
            ]
        },
        "DeleteAccount": {
            "http": {
                "method": "DELETE",
                "requestUri": "/accounts/{accountId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {
[...]
