{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-02-07",
        "endpointPrefix": "chimesdkmediapipelinesinternal",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "chimesdkmediapipelinesinternal",
        "serviceId": "Chime SDK Media Pipelines",
        "signatureVersion": "v4",
        "signingName": "chime",
        "uid": "chimesdkmediapipelinesinternal-2022-02-07",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
        ]
    },
    "operations": {
        "CreateInternalServiceLinkedRole": {
            "http": {
                "requestUri": "/internal-slr",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "CreateMediaCapturePipeline": {
            "http": {
                "requestUri": "/sdk-media-capture-pipelines",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "SourceType",
                    "SourceArn",
                    "SinkType",
                    "SinkArn"
                ],
                "members": {
                    "SourceType": {},
                    "SourceArn": {
                        "shape": "S5"
                    },
                    "SinkType": {},
                    "SinkArn": {
                        "shape": "S5"
                    },
                    "ClientRequestToken": {
                        "shape": "S7",
                        "idempotencyToken": true
                    },
                    "ChimeSdkMeetingConfiguration": {
                        "shape": "S8"
                    },
                    "Tags": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MediaCapturePipeline": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "CreateMediaConcatenationPipeline": {
            "http": {
                "requestUri": "/sdk-media-concatenation-pipelines",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "Sources",
                    "Sinks"
                ],
                "members": {
                    "Sources": {
                        "shape": "S16"
                    },
                    "Sinks": {
                        "shape": "S1l"
                    },
                    "ClientRequestToken": {
                        "shape": "S7",
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MediaConcatenationPipeline": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "CreateMediaInsightsPipeline": {
            "http": {
                "requestUri": "/media-insights-pipelines",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "MediaInsightsPipelineConfigurationArn"
                ],
                "members": {
                    "MediaInsightsPipelineConfigurationArn": {
                        "shape": "S5"
                    },
                    "KinesisVideoStreamSourceRuntimeConfiguration": {
                        "shape": "S1s"
                    },
                    "MediaInsightsRuntimeMetadata": {
                        "shape": "S25"
                    },
                    "KinesisVideoStreamRecordingSourceRuntimeConfiguration": {
                        "shape": "S28"
                    },
                    "S3RecordingSinkRuntimeConfiguration": {
                        "shape": "S2f"
                    },
                    "Tags": {
                        "shape": "Sw"
                    },
                    "ClientRequestToken": {
                        "shape": "S7",
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MediaInsightsPipeline"
                ],
                "members": {
                    "MediaInsightsPipeline": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "CreateMediaInsightsPipelineConfiguration": {
            "http": {
                "requestUri": "/media-insights-pipeline-configurations",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "MediaInsightsPipelineConfigurationName",
                    "ResourceAccessRoleArn",
                    "Elements"
                ],
                "members": {
                    "MediaInsightsPipelineConfigurationName": {},
                    "ResourceAccessRoleArn": {
                        "shape": "S5"
                    },
                    "RealTimeAlertConfiguration": {
                        "shape": "S2l"
                    },
                    "Elements": {
                        "shape": "S33"
                    },
                    "Tags": {
                        "shape": "Sw"
                    },
                    "ClientRequestToken": {
                        "shape": "S7",
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MediaInsightsPipelineConfiguration": {
                        "shape": "S3s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "CreateMediaLiveConnectorPipeline": {
            "http": {
                "requestUri": "/sdk-media-live-connector-pipelines",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "Sources",
                    "Sinks"
                ],
                "members": {
                    "Sources": {
                        "shape": "S3u"
                    },
                    "Sinks": {
                        "shape": "S3z"
                    },
                    "ClientRequestToken": {
                        "shape": "S7",
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MediaLiveConnectorPipeline": {
                        "shape": "S47"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "DeleteMediaCapturePipeline": {
            "http": {
                "method": "DELETE",
                "requestUri": "/sdk-media-capture-pipelines/{mediaPipelineId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "MediaPipelineId"
                ],
                "members": {
                    "MediaPipelineId": {
                        "location": "uri",
                        "locationName": "mediaPipelineId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "DeleteMediaConcatenationPipeline": {
            "http": {
                "method": "DELETE",
                "requestUri": "/sdk-media-concatenation-pipelines/{mediaPipelineId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "MediaPipelineId"
                ],
                "members": {
                    "MediaPipelineId": {
                        "location": "uri",
                        "locationName": "mediaPipelineId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js"
            ]
        },
        "DeleteMediaInsightsPipelineConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/media-insights-pipeline-configurations/{identifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "DeleteMediaPipeline": {
            "http": {
                "method": "DELETE",
                "requestUri": "/sdk-media-pipelines/{mediaPipelineId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "MediaPipelineId"
                ],
                "members": {
                    "MediaPipelineId": {
                        "location": "uri",
                        "locationName": "mediaPipelineId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "GetMediaCapturePipeline": {
            "http": {
                "method": "GET",
                "requestUri": "/sdk-media-capture-pipelines/{mediaPipelineId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MediaPipelineId"
                ],
                "members": {
                    "MediaPipelineId": {
                        "location": "uri",
                        "locationName": "mediaPipelineId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MediaCapturePipeline": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "GetMediaConcatenationPipeline": {
            "http": {
                "method": "GET",
                "requestUri": "/sdk-media-concatenation-pipelines/{mediaPipelineId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MediaPipelineId"
                ],
                "members": {
                    "MediaPipelineId": {
                        "location": "uri",
                        "locationName": "mediaPipelineId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MediaConcatenationPipeline": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js"
            ]
        },
        "GetMediaInsightsPipelineConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/media-insights-pipeline-configurations/{identifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MediaInsightsPipelineConfiguration": {
                        "shape": "S3s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "GetMediaPipeline": {
            "http": {
                "method": "GET",
                "requestUri": "/sdk-media-pipelines/{mediaPipelineId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MediaPipelineId"
                ],
                "members": {
                    "MediaPipelineId": {
                        "location": "uri",
                        "locationName": "mediaPipelineId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MediaPipeline": {
                        "shape": "S4k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "InternalCreateMediaStreamPipeline": {
            "http": {
                "requestUri": "/internal-media-stream-pipelines",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "AwsAccountId",
                    "VoiceConnectorConfiguration",
                    "InsightsTarget",
                    "ResourceAccessRole"
                ],
                "members": {
                    "AwsAccountId": {},
                    "VoiceConnectorConfiguration": {
                        "shape": "S4n"
                    },
                    "TranscribeConfiguration": {
                        "shape": "S4q"
                    },
                    "RealTimeAlertConfiguration": {
                        "shape": "S2l"
                    },
                    "InsightsTarget": {
                        "shape": "S4t"
                    },
                    "ResourceAccessRole": {
                        "shape": "S5"
                    },
                    "ClientRequestToken": {
                        "shape": "S7",
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MediaStreamPipeline"
                ],
                "members": {
                    "MediaStreamPipeline": {
                        "type": "structure",
                        "members": {
                            "MediaPipelineId": {},
                            "AwsAccountId": {},
                            "VoiceConnectorConfiguration": {
                                "shape": "S4n"
                            },
                            "TranscribeConfiguration": {
                                "shape": "S4q"
                            },
                            "RealTimeAlertConfiguration": {
                                "shape": "S2l"
                            },
                            "InsightsTarget": {
                                "shape": "S4t"
                            },
                            "ResourceAccessRole": {
                                "shape": "S5"
                            },
                            "CreatedTimestamp": {
                                "shape": "S14"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js"
            ]
        },
        "InternalDeleteMediaStreamPipeline": {
            "http": {
                "method": "DELETE",
                "requestUri": "/internal-media-stream-pipelines/{mediaPipelineId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "MediaPipelineId",
                    "AwsAccountId"
                ],
                "members": {
                    "MediaPipelineId": {
                        "location": "uri",
                        "locationName": "mediaPipelineId"
                    },
                    "AwsAccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js"
            ]
        },
        "ListMediaCapturePipelines": {
            "http": {
                "method": "GET",
                "requestUri": "/sdk-media-capture-pipelines",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next-token"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "max-results",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MediaCapturePipelines": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "MediaPipelineId": {},
                                "MediaPipelineArn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "ListMediaConcatenationPipelines": {
            "http": {
                "method": "GET",
                "requestUri": "/sdk-media-concatenation-pipelines",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next-token"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "max-results",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MediaConcatenationPipelines": {
                        "type": "list",
                        "member": {
                            "shape": "S1q"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js"
            ]
        },
        "ListMediaInsightsPipelineConfigurations": {
            "http": {
                "method": "GET",
                "requestUri": "/media-insights-pipeline-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next-token"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "max-results",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MediaInsightsPipelineConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "MediaInsightsPipelineConfigurationName": {},
                                "MediaInsightsPipelineConfigurationId": {},
                                "MediaInsightsPipelineConfigurationArn": {
                                    "shape": "S5"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "ListMediaPipelines": {
            "http": {
                "method": "GET",
                "requestUri": "/sdk-media-pipelines",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next-token"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "max-results",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MediaPipelines": {
                        "shape": "S5b"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {
                        "location": "querystring",
                        "locationName": "arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock"
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "SupportGetMediaPipeline": {
            "http": {
                "method": "GET",
                "requestUri": "/support/sdk-media-pipelines/{mediaPipelineId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MediaPipelineId"
                ],
                "members": {
                    "MediaPipelineId": {
                        "location": "uri",
                        "locationName": "mediaPipelineId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MediaPipeline": {
                        "shape": "S4k"
                    },
                    "SupportMediaPipelineInfo": {
                        "type": "structure",
                        "members": {
                            "AwsAccountId": {},
                            "EcsTaskArn": {
                                "shape": "S5"
                            },
                            "FailureCode": {},
                            "DeletedTimestamp": {
                                "shape": "S14"
                            },
                            "MediaInsightsPipelineConfiguration": {
                                "shape": "S3s"
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "SupportGetMediaPipelineCallDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/support/sdk-media-pipeline-call-details/{callId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "CallId"
                ],
                "members": {
                    "CallId": {
                        "location": "uri",
                        "locationName": "callId"
                    },
                    "UniqueId": {},
                    "UseCaseType": {},
                    "AwsAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MediaPipelineCallDetails": {
                        "type": "structure",
                        "members": {
                            "CallId": {},
                            "MediaPipelineId": {},
                            "MediaPipelineArn": {},
                            "AwsAccountId": {},
                            "IsInsightsCompleted": {
                                "type": "boolean"
                            },
                            "IsVoiceAnalyticsCompleted": {
                                "type": "boolean"
                            },
                            "CreatedTimestamp": {
                                "shape": "S14"
                            },
                            "UpdatedTimestamp": {
                                "shape": "S14"
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "SupportListMediaPipelines": {
            "http": {
                "method": "GET",
                "requestUri": "/support/sdk-media-pipelines",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MeetingArn"
                ],
                "members": {
                    "MeetingArn": {
                        "shape": "S5",
                        "location": "querystring",
                        "locationName": "meetingArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MediaPipelines": {
                        "shape": "S5b"
                    },
                    "Truncated": {
                        "type": "boolean"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags?operation=tag-resource",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/unlock"
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "UntagResource": {
            "http": {
                "requestUri": "/tags?operation=untag-resource",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "UpdateMediaInsightsPipelineConfiguration": {
            "http": {
                "method": "PUT",
                "requestUri": "/media-insights-pipeline-configurations/{identifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier",
                    "ResourceAccessRoleArn",
                    "Elements"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "ResourceAccessRoleArn": {
                        "shape": "S5"
                    },
                    "RealTimeAlertConfiguration": {
                        "shape": "S2l"
                    },
                    "Elements": {
                        "shape": "S33"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MediaInsightsPipelineConfiguration": {
                        "shape": "S3s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "UpdateMediaInsightsPipelineStatus": {
            "http": {
                "method": "PUT",
                "requestUri": "/media-insights-pipeline-status/{identifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier",
                    "UpdateStatus"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "UpdateStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "VerifyResourcesExistForTagris": {
            "http": {
                "requestUri": "/tags/verify-resource-exists",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TagrisSweepList"
                ],
                "members": {
                    "TagrisSweepList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TagrisAccountId": {},
                                "TagrisAmazonResourceName": {},
                                "TagrisInternalId": {},
                                "TagrisVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagrisSweepListResult"
                ],
                "members": {
                    "TagrisSweepListResult": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JO5WWM4CW74UF3DXTM3BM6IND4I2PZU6QYHC2HFJ3PUFU7T545Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "CreateMediaInsightsSource": {
            "http": {
                "requestUri": "/media-insights-sources",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "SourceName",
                    "MediaInsightsSourceType"
                ],
                "members": {
                    "SourceName": {},
                    "ConfigurationArn": {
                        "shape": "S5"
                    },
                    "MediaInsightsSourceType": {},
                    "GenesysSourceConfiguration": {
                        "shape": "S4c"
                    },
                    "Tags": {
                        "shape": "S19"
                    },
                    "ClientRequestToken": {
                        "shape": "S7",
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MediaInsightsSource": {
                        "shape": "S4g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "CreateMediaPipelineKinesisVideoStreamPool": {
            "http": {
                "requestUri": "/media-pipeline-kinesis-video-stream-pools",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "StreamConfiguration",
                    "PoolName",
                    "ResourceAccessRoleArn"
                ],
                "members": {
                    "StreamConfiguration": {
                        "shape": "S4x"
                    },
                    "PoolName": {},
                    "ResourceAccessRoleArn": {
                        "shape": "S5"
                    },
                    "ClientRequestToken": {
                        "shape": "S7",
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KinesisVideoStreamPoolConfiguration": {
                        "shape": "S52"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "CreateMediaStreamPipeline": {
            "http": {
                "requestUri": "/sdk-media-stream-pipelines",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "Sources",
                    "Sinks"
                ],
                "members": {
                    "Sources": {
                        "shape": "S57"
                    },
                    "Sinks": {
                        "shape": "S59"
                    },
                    "ClientRequestToken": {
                        "shape": "S7",
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MediaStreamPipeline": {
                        "shape": "S5f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "DeleteMediaInsightsSource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/media-insights-sources/{identifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "DeleteMediaPipelineKinesisVideoStreamPool": {
            "http": {
                "method": "DELETE",
                "requestUri": "/media-pipeline-kinesis-video-stream-pools/{identifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "GetMediaInsightsSource": {
            "http": {
                "method": "GET",
                "requestUri": "/media-insights-sources/{identifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MediaInsightsSource": {
                        "shape": "S4g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "GetMediaInsightsSourceDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/internal/media-insights-sources/{key}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Key",
                    "Type"
                ],
                "members": {
                    "Key": {
                        "location": "uri",
                        "locationName": "key"
                    },
                    "Type": {},
                    "SourceType": {
                        "location": "uri",
                        "locationName": "sourceType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MediaInsightsSource": {
                        "type": "structure",
                        "required": [
                            "ConfigurationArn",
                            "GenesysSourceConfiguration"
                        ],
                        "members": {
                            "ConfigurationArn": {
                                "shape": "S5"
                            },
                            "GenesysSourceConfiguration": {
                                "type": "structure",
                                "required": [
                                    "OrganizationId",
                                    "ApiKey",
                                    "Current"
                                ],
                                "members": {
                                    "OrganizationId": {
                                        "shape": "S4d"
                                    },
                                    "ApiKey": {},
                                    "Previous": {
                                        "shape": "S5v"
                                    },
                                    "Current": {
                                        "shape": "S5v"
                                    },
                                    "PreviousVersionExpiration": {
                                        "shape": "S1h"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "GetMediaPipelineKinesisVideoStreamPool": {
            "http": {
                "method": "GET",
                "requestUri": "/media-pipeline-kinesis-video-stream-pools/{identifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KinesisVideoStreamPoolConfiguration": {
                        "shape": "S52"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "GetSpeakerSearchTask": {
            "http": {
                "method": "GET",
                "requestUri": "/media-insights-pipelines/{identifier}/speaker-search-tasks/{speakerSearchTaskId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier",
                    "SpeakerSearchTaskId"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "SpeakerSearchTaskId": {
                        "location": "uri",
                        "locationName": "speakerSearchTaskId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SpeakerSearchTask": {
                        "shape": "S63"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76RVVYD7WVDMQDJXFAPOYJMGCGCEFL475NSV45YF4VSBL44B3MEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSBV72X4G4NZPP2AI2OIWYGJPF57ZSUSORLRC2JVYEC6BMN6EV4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js"
            ]
        },
        "GetVoiceToneAnalysisTask": {
            "http": {
                "method": "GET",
                "requestUri": "/media-insights-pipelines/{identifier}/voice-tone-analysis-tasks/{voiceToneAnalysisTaskId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier",
                    "VoiceToneAnalysisTaskId"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "VoiceToneAnalysisTaskId": {
                        "location": "uri",
                        "locationName": "voiceToneAnalysisTaskId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "VoiceToneAnalysisTask": {
                        "shape": "S67"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4EY5JNT6EKDT6NQF7FJA75WXMQANPD64KRNLS477G6DR5QGUIDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67Z47MW4IGMI3LZSZH5SMZ5YBEO4MKD6NLSXXLZFWBDJHSXBE74Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJOQAAQYALFZNXTXDB2BF74RNMP3LDNBSQQWTMY2G5D3VWADHCMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4ONSQDP7PGT7R3BB7D3HBUION3XCWOUSYTI6IDQHKXBH2B62EGQ/commons.js",
[...]
