{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-09-06",
        "endpointPrefix": "cleanrooms-ml",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "cleanrooms-ml",
        "serviceId": "CleanRoomsML",
        "signatureVersion": "v4",
        "signingName": "cleanrooms-ml",
        "uid": "cleanroomsml-2023-09-06",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BNU5QH422DGZ6OZOA35FB73GR6LYJ4C5R7GVK5L6EBFJ3HKVGZ2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VWESJ2IX63AIUUC6XQTDGVNXDJYTBHXBWZZ4RAWGTLLFBJHHXKEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KGZBHBYDURGDED43NTFPOVRIEUHIVYUYPGB3I7UPDPBXZ7BC7K4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WZEGRIFG5TG2SZ2IWDOOUT5MLMVRV6ZR6DBPDUYE2HKREQF2C2FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QZO2UWJ4PDQHU5RAEN4LQC4M2AQZPXEVPQIFN2JKCEPBXGU3ET5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXMG6DENM2K4RAZZ4OJ3B7TX3LAOW4DBTG24G56CAJQUUMJHP2DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js"
        ]
    },
    "operations": {
        "CreateAudienceModel": {
            "http": {
                "requestUri": "/audience-model",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "trainingDatasetArn"
                ],
                "members": {
                    "trainingDataStartTime": {
                        "shape": "S2"
                    },
                    "trainingDataEndTime": {
                        "shape": "S2"
                    },
                    "name": {},
                    "trainingDatasetArn": {},
                    "kmsKeyArn": {},
                    "tags": {
                        "shape": "S6"
                    },
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "audienceModelArn"
                ],
                "members": {
                    "audienceModelArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNU5QH422DGZ6OZOA35FB73GR6LYJ4C5R7GVK5L6EBFJ3HKVGZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWESJ2IX63AIUUC6XQTDGVNXDJYTBHXBWZZ4RAWGTLLFBJHHXKEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGZBHBYDURGDED43NTFPOVRIEUHIVYUYPGB3I7UPDPBXZ7BC7K4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZEGRIFG5TG2SZ2IWDOOUT5MLMVRV6ZR6DBPDUYE2HKREQF2C2FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZO2UWJ4PDQHU5RAEN4LQC4M2AQZPXEVPQIFN2JKCEPBXGU3ET5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXMG6DENM2K4RAZZ4OJ3B7TX3LAOW4DBTG24G56CAJQUUMJHP2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js"
            ]
        },
        "CreateConfiguredAudienceModel": {
            "http": {
                "requestUri": "/configured-audience-model",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "audienceModelArn",
                    "outputConfig",
                    "sharedAudienceMetrics"
                ],
                "members": {
                    "name": {},
                    "audienceModelArn": {},
                    "outputConfig": {
                        "shape": "Sd"
                    },
                    "description": {},
                    "sharedAudienceMetrics": {
                        "shape": "Si"
                    },
                    "minimumSeedSize": {
                        "type": "integer"
                    },
                    "audienceSizeConfig": {
                        "shape": "Sl"
                    },
                    "tags": {
                        "shape": "S6"
                    },
                    "childResourceTagOnCreatePolicy": {},
                    "minMatchingSeedSize": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNU5QH422DGZ6OZOA35FB73GR6LYJ4C5R7GVK5L6EBFJ3HKVGZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWESJ2IX63AIUUC6XQTDGVNXDJYTBHXBWZZ4RAWGTLLFBJHHXKEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGZBHBYDURGDED43NTFPOVRIEUHIVYUYPGB3I7UPDPBXZ7BC7K4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZEGRIFG5TG2SZ2IWDOOUT5MLMVRV6ZR6DBPDUYE2HKREQF2C2FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZO2UWJ4PDQHU5RAEN4LQC4M2AQZPXEVPQIFN2JKCEPBXGU3ET5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXMG6DENM2K4RAZZ4OJ3B7TX3LAOW4DBTG24G56CAJQUUMJHP2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js"
            ]
        },
        "CreateTrainingDataset": {
            "http": {
                "requestUri": "/training-dataset",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "roleArn",
                    "trainingData"
                ],
                "members": {
                    "name": {},
                    "roleArn": {},
                    "trainingData": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    },
                    "tags": {
                        "shape": "S6"
                    },
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "trainingDatasetArn"
                ],
                "members": {
                    "trainingDatasetArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNU5QH422DGZ6OZOA35FB73GR6LYJ4C5R7GVK5L6EBFJ3HKVGZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWESJ2IX63AIUUC6XQTDGVNXDJYTBHXBWZZ4RAWGTLLFBJHHXKEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGZBHBYDURGDED43NTFPOVRIEUHIVYUYPGB3I7UPDPBXZ7BC7K4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZEGRIFG5TG2SZ2IWDOOUT5MLMVRV6ZR6DBPDUYE2HKREQF2C2FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZO2UWJ4PDQHU5RAEN4LQC4M2AQZPXEVPQIFN2JKCEPBXGU3ET5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXMG6DENM2K4RAZZ4OJ3B7TX3LAOW4DBTG24G56CAJQUUMJHP2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js"
            ]
        },
        "DeleteAudienceGenerationJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/audience-generation-job/{audienceGenerationJobArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "audienceGenerationJobArn"
                ],
                "members": {
                    "audienceGenerationJobArn": {
                        "location": "uri",
                        "locationName": "audienceGenerationJobArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNU5QH422DGZ6OZOA35FB73GR6LYJ4C5R7GVK5L6EBFJ3HKVGZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWESJ2IX63AIUUC6XQTDGVNXDJYTBHXBWZZ4RAWGTLLFBJHHXKEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGZBHBYDURGDED43NTFPOVRIEUHIVYUYPGB3I7UPDPBXZ7BC7K4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZEGRIFG5TG2SZ2IWDOOUT5MLMVRV6ZR6DBPDUYE2HKREQF2C2FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZO2UWJ4PDQHU5RAEN4LQC4M2AQZPXEVPQIFN2JKCEPBXGU3ET5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXMG6DENM2K4RAZZ4OJ3B7TX3LAOW4DBTG24G56CAJQUUMJHP2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js"
            ]
        },
        "DeleteAudienceModel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/audience-model/{audienceModelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "audienceModelArn"
                ],
                "members": {
                    "audienceModelArn": {
                        "location": "uri",
                        "locationName": "audienceModelArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNU5QH422DGZ6OZOA35FB73GR6LYJ4C5R7GVK5L6EBFJ3HKVGZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWESJ2IX63AIUUC6XQTDGVNXDJYTBHXBWZZ4RAWGTLLFBJHHXKEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGZBHBYDURGDED43NTFPOVRIEUHIVYUYPGB3I7UPDPBXZ7BC7K4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZEGRIFG5TG2SZ2IWDOOUT5MLMVRV6ZR6DBPDUYE2HKREQF2C2FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZO2UWJ4PDQHU5RAEN4LQC4M2AQZPXEVPQIFN2JKCEPBXGU3ET5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXMG6DENM2K4RAZZ4OJ3B7TX3LAOW4DBTG24G56CAJQUUMJHP2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js"
            ]
        },
        "DeleteConfiguredAudienceModel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNU5QH422DGZ6OZOA35FB73GR6LYJ4C5R7GVK5L6EBFJ3HKVGZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWESJ2IX63AIUUC6XQTDGVNXDJYTBHXBWZZ4RAWGTLLFBJHHXKEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGZBHBYDURGDED43NTFPOVRIEUHIVYUYPGB3I7UPDPBXZ7BC7K4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZEGRIFG5TG2SZ2IWDOOUT5MLMVRV6ZR6DBPDUYE2HKREQF2C2FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZO2UWJ4PDQHU5RAEN4LQC4M2AQZPXEVPQIFN2JKCEPBXGU3ET5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXMG6DENM2K4RAZZ4OJ3B7TX3LAOW4DBTG24G56CAJQUUMJHP2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js"
            ]
        },
        "DeleteConfiguredAudienceModelPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNU5QH422DGZ6OZOA35FB73GR6LYJ4C5R7GVK5L6EBFJ3HKVGZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWESJ2IX63AIUUC6XQTDGVNXDJYTBHXBWZZ4RAWGTLLFBJHHXKEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGZBHBYDURGDED43NTFPOVRIEUHIVYUYPGB3I7UPDPBXZ7BC7K4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZEGRIFG5TG2SZ2IWDOOUT5MLMVRV6ZR6DBPDUYE2HKREQF2C2FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZO2UWJ4PDQHU5RAEN4LQC4M2AQZPXEVPQIFN2JKCEPBXGU3ET5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXMG6DENM2K4RAZZ4OJ3B7TX3LAOW4DBTG24G56CAJQUUMJHP2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js"
            ]
        },
        "DeleteTrainingDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/training-dataset/{trainingDatasetArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "trainingDatasetArn"
                ],
                "members": {
                    "trainingDatasetArn": {
                        "location": "uri",
                        "locationName": "trainingDatasetArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNU5QH422DGZ6OZOA35FB73GR6LYJ4C5R7GVK5L6EBFJ3HKVGZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWESJ2IX63AIUUC6XQTDGVNXDJYTBHXBWZZ4RAWGTLLFBJHHXKEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGZBHBYDURGDED43NTFPOVRIEUHIVYUYPGB3I7UPDPBXZ7BC7K4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZEGRIFG5TG2SZ2IWDOOUT5MLMVRV6ZR6DBPDUYE2HKREQF2C2FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZO2UWJ4PDQHU5RAEN4LQC4M2AQZPXEVPQIFN2JKCEPBXGU3ET5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXMG6DENM2K4RAZZ4OJ3B7TX3LAOW4DBTG24G56CAJQUUMJHP2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js"
            ]
        },
        "GetAudienceGenerationJob": {
            "http": {
                "method": "GET",
                "requestUri": "/audience-generation-job/{audienceGenerationJobArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "audienceGenerationJobArn"
                ],
                "members": {
                    "audienceGenerationJobArn": {
                        "location": "uri",
                        "locationName": "audienceGenerationJobArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createTime",
                    "updateTime",
                    "audienceGenerationJobArn",
                    "name",
                    "status",
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "createTime": {
                        "shape": "S2"
                    },
                    "updateTime": {
                        "shape": "S2"
                    },
                    "audienceGenerationJobArn": {},
                    "name": {},
                    "description": {},
                    "status": {},
                    "statusDetails": {
                        "shape": "S1h"
                    },
                    "configuredAudienceModelArn": {},
                    "seedAudience": {
                        "shape": "S1j"
                    },
                    "includeSeedInOutput": {
                        "type": "boolean"
                    },
                    "collaborationId": {},
                    "metrics": {
                        "type": "structure",
                        "required": [
                            "relevanceMetrics"
                        ],
                        "members": {
                            "relevanceMetrics": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "audienceSize"
                                    ],
                                    "members": {
                                        "audienceSize": {
                                            "shape": "S1p"
                                        },
                                        "score": {
                                            "type": "double"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "startedBy": {},
                    "tags": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNU5QH422DGZ6OZOA35FB73GR6LYJ4C5R7GVK5L6EBFJ3HKVGZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWESJ2IX63AIUUC6XQTDGVNXDJYTBHXBWZZ4RAWGTLLFBJHHXKEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGZBHBYDURGDED43NTFPOVRIEUHIVYUYPGB3I7UPDPBXZ7BC7K4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZEGRIFG5TG2SZ2IWDOOUT5MLMVRV6ZR6DBPDUYE2HKREQF2C2FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZO2UWJ4PDQHU5RAEN4LQC4M2AQZPXEVPQIFN2JKCEPBXGU3ET5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXMG6DENM2K4RAZZ4OJ3B7TX3LAOW4DBTG24G56CAJQUUMJHP2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js"
            ]
        },
        "GetAudienceModel": {
            "http": {
                "method": "GET",
                "requestUri": "/audience-model/{audienceModelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "audienceModelArn"
                ],
                "members": {
                    "audienceModelArn": {
                        "location": "uri",
                        "locationName": "audienceModelArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createTime",
                    "updateTime",
                    "audienceModelArn",
                    "name",
                    "trainingDatasetArn",
                    "status"
                ],
                "members": {
                    "createTime": {
                        "shape": "S2"
                    },
                    "updateTime": {
                        "shape": "S2"
                    },
                    "trainingDataStartTime": {
                        "shape": "S2"
                    },
                    "trainingDataEndTime": {
                        "shape": "S2"
                    },
                    "audienceModelArn": {},
                    "name": {},
                    "trainingDatasetArn": {},
                    "status": {},
                    "statusDetails": {
                        "shape": "S1h"
                    },
                    "metrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "type",
                                "forTopKItemPredictions",
                                "value"
                            ],
                            "members": {
                                "type": {},
                                "forTopKItemPredictions": {
                                    "type": "integer"
                                },
                                "value": {
                                    "type": "double"
                                }
                            }
                        }
                    },
                    "kmsKeyArn": {},
                    "tags": {
                        "shape": "S6"
                    },
                    "description": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNU5QH422DGZ6OZOA35FB73GR6LYJ4C5R7GVK5L6EBFJ3HKVGZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWESJ2IX63AIUUC6XQTDGVNXDJYTBHXBWZZ4RAWGTLLFBJHHXKEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGZBHBYDURGDED43NTFPOVRIEUHIVYUYPGB3I7UPDPBXZ7BC7K4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZEGRIFG5TG2SZ2IWDOOUT5MLMVRV6ZR6DBPDUYE2HKREQF2C2FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZO2UWJ4PDQHU5RAEN4LQC4M2AQZPXEVPQIFN2JKCEPBXGU3ET5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXMG6DENM2K4RAZZ4OJ3B7TX3LAOW4DBTG24G56CAJQUUMJHP2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js"
            ]
        },
        "GetConfiguredAudienceModel": {
            "http": {
                "method": "GET",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createTime",
                    "updateTime",
                    "configuredAudienceModelArn",
                    "name",
                    "audienceModelArn",
                    "outputConfig",
                    "status",
                    "sharedAudienceMetrics"
                ],
                "members": {
                    "createTime": {
                        "shape": "S2"
                    },
                    "updateTime": {
                        "shape": "S2"
                    },
                    "configuredAudienceModelArn": {},
                    "name": {},
                    "audienceModelArn": {},
                    "outputConfig": {
                        "shape": "Sd"
                    },
                    "description": {},
                    "status": {},
                    "sharedAudienceMetrics": {
                        "shape": "Si"
                    },
                    "minimumSeedSize": {
                        "type": "integer"
                    },
                    "audienceSizeConfig": {
                        "shape": "Sl"
                    },
                    "tags": {
                        "shape": "S6"
                    },
                    "childResourceTagOnCreatePolicy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNU5QH422DGZ6OZOA35FB73GR6LYJ4C5R7GVK5L6EBFJ3HKVGZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWESJ2IX63AIUUC6XQTDGVNXDJYTBHXBWZZ4RAWGTLLFBJHHXKEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGZBHBYDURGDED43NTFPOVRIEUHIVYUYPGB3I7UPDPBXZ7BC7K4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZEGRIFG5TG2SZ2IWDOOUT5MLMVRV6ZR6DBPDUYE2HKREQF2C2FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZO2UWJ4PDQHU5RAEN4LQC4M2AQZPXEVPQIFN2JKCEPBXGU3ET5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXMG6DENM2K4RAZZ4OJ3B7TX3LAOW4DBTG24G56CAJQUUMJHP2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js"
            ]
        },
        "GetConfiguredAudienceModelPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn",
                    "configuredAudienceModelPolicy",
                    "policyHash"
                ],
                "members": {
                    "configuredAudienceModelArn": {},
                    "configuredAudienceModelPolicy": {},
                    "policyHash": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNU5QH422DGZ6OZOA35FB73GR6LYJ4C5R7GVK5L6EBFJ3HKVGZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWESJ2IX63AIUUC6XQTDGVNXDJYTBHXBWZZ4RAWGTLLFBJHHXKEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGZBHBYDURGDED43NTFPOVRIEUHIVYUYPGB3I7UPDPBXZ7BC7K4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZEGRIFG5TG2SZ2IWDOOUT5MLMVRV6ZR6DBPDUYE2HKREQF2C2FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZO2UWJ4PDQHU5RAEN4LQC4M2AQZPXEVPQIFN2JKCEPBXGU3ET5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXMG6DENM2K4RAZZ4OJ3B7TX3LAOW4DBTG24G56CAJQUUMJHP2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js"
            ]
        },
        "GetTrainingDataset": {
            "http": {
                "method": "GET",
                "requestUri": "/training-dataset/{trainingDatasetArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "trainingDatasetArn"
                ],
                "members": {
                    "trainingDatasetArn": {
                        "location": "uri",
                        "locationName": "trainingDatasetArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createTime",
                    "updateTime",
                    "trainingDatasetArn",
                    "name",
                    "trainingData",
                    "status",
                    "roleArn"
                ],
                "members": {
                    "createTime": {
                        "shape": "S2"
                    },
                    "updateTime": {
                        "shape": "S2"
                    },
                    "trainingDatasetArn": {},
                    "name": {},
                    "trainingData": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    },
                    "status": {},
                    "roleArn": {},
                    "tags": {
                        "shape": "S6"
                    },
                    "description": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNU5QH422DGZ6OZOA35FB73GR6LYJ4C5R7GVK5L6EBFJ3HKVGZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWESJ2IX63AIUUC6XQTDGVNXDJYTBHXBWZZ4RAWGTLLFBJHHXKEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGZBHBYDURGDED43NTFPOVRIEUHIVYUYPGB3I7UPDPBXZ7BC7K4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZEGRIFG5TG2SZ2IWDOOUT5MLMVRV6ZR6DBPDUYE2HKREQF2C2FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZO2UWJ4PDQHU5RAEN4LQC4M2AQZPXEVPQIFN2JKCEPBXGU3ET5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXMG6DENM2K4RAZZ4OJ3B7TX3LAOW4DBTG24G56CAJQUUMJHP2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js"
            ]
        },
        "ListAudienceExportJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/audience-export-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "audienceGenerationJobArn": {
                        "location": "querystring",
                        "locationName": "audienceGenerationJobArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "audienceExportJobs"
                ],
                "members": {
                    "nextToken": {},
                    "audienceExportJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createTime",
                                "updateTime",
                                "name",
                                "audienceGenerationJobArn",
                                "audienceSize",
                                "status"
                            ],
                            "members": {
                                "createTime": {
                                    "shape": "S2"
                                },
                                "updateTime": {
                                    "shape": "S2"
                                },
                                "name": {},
                                "audienceGenerationJobArn": {},
                                "audienceSize": {
                                    "shape": "S1p"
                                },
                                "description": {},
                                "status": {},
                                "statusDetails": {
                                    "shape": "S1h"
                                },
                                "outputLocation": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNU5QH422DGZ6OZOA35FB73GR6LYJ4C5R7GVK5L6EBFJ3HKVGZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWESJ2IX63AIUUC6XQTDGVNXDJYTBHXBWZZ4RAWGTLLFBJHHXKEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGZBHBYDURGDED43NTFPOVRIEUHIVYUYPGB3I7UPDPBXZ7BC7K4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZEGRIFG5TG2SZ2IWDOOUT5MLMVRV6ZR6DBPDUYE2HKREQF2C2FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZO2UWJ4PDQHU5RAEN4LQC4M2AQZPXEVPQIFN2JKCEPBXGU3ET5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXMG6DENM2K4RAZZ4OJ3B7TX3LAOW4DBTG24G56CAJQUUMJHP2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js"
            ]
        },
        "ListAudienceGenerationJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/audience-generation-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "configuredAudienceModelArn": {
                        "location": "querystring",
                        "locationName": "configuredAudienceModelArn"
                    },
                    "collaborationId": {
                        "location": "querystring",
                        "locationName": "collaborationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "audienceGenerationJobs"
                ],
                "members": {
                    "nextToken": {},
                    "audienceGenerationJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createTime",
                                "updateTime",
                                "audienceGenerationJobArn",
                                "name",
                                "status",
                                "configuredAudienceModelArn"
                            ],
                            "members": {
                                "createTime": {
                                    "shape": "S2"
                                },
                                "updateTime": {
                                    "shape": "S2"
                                },
                                "audienceGenerationJobArn": {},
                                "name": {},
                                "description": {},
                                "status": {},
                                "configuredAudienceModelArn": {},
                                "collaborationId": {},
                                "startedBy": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNU5QH422DGZ6OZOA35FB73GR6LYJ4C5R7GVK5L6EBFJ3HKVGZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWESJ2IX63AIUUC6XQTDGVNXDJYTBHXBWZZ4RAWGTLLFBJHHXKEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGZBHBYDURGDED43NTFPOVRIEUHIVYUYPGB3I7UPDPBXZ7BC7K4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZEGRIFG5TG2SZ2IWDOOUT5MLMVRV6ZR6DBPDUYE2HKREQF2C2FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZO2UWJ4PDQHU5RAEN4LQC4M2AQZPXEVPQIFN2JKCEPBXGU3ET5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXMG6DENM2K4RAZZ4OJ3B7TX3LAOW4DBTG24G56CAJQUUMJHP2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js"
            ]
        },
        "ListAudienceModels": {
            "http": {
                "method": "GET",
                "requestUri": "/audience-model",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "audienceModels"
                ],
                "members": {
                    "nextToken": {},
                    "audienceModels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createTime",
                                "updateTime",
                                "audienceModelArn",
                                "name",
                                "trainingDatasetArn",
                                "status"
                            ],
                            "members": {
                                "createTime": {
                                    "shape": "S2"
                                },
                                "updateTime": {
                                    "shape": "S2"
                                },
                                "audienceModelArn": {},
                                "name": {},
                                "trainingDatasetArn": {},
                                "status": {},
                                "description": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNU5QH422DGZ6OZOA35FB73GR6LYJ4C5R7GVK5L6EBFJ3HKVGZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWESJ2IX63AIUUC6XQTDGVNXDJYTBHXBWZZ4RAWGTLLFBJHHXKEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGZBHBYDURGDED43NTFPOVRIEUHIVYUYPGB3I7UPDPBXZ7BC7K4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZEGRIFG5TG2SZ2IWDOOUT5MLMVRV6ZR6DBPDUYE2HKREQF2C2FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZO2UWJ4PDQHU5RAEN4LQC4M2AQZPXEVPQIFN2JKCEPBXGU3ET5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXMG6DENM2K4RAZZ4OJ3B7TX3LAOW4DBTG24G56CAJQUUMJHP2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js"
            ]
        },
        "ListConfiguredAudienceModels": {
            "http": {
                "method": "GET",
                "requestUri": "/configured-audience-model",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredAudienceModels"
                ],
                "members": {
                    "nextToken": {},
                    "configuredAudienceModels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createTime",
                                "updateTime",
                                "name",
                                "audienceModelArn",
                                "outputConfig",
                                "configuredAudienceModelArn",
                                "status"
                            ],
                            "members": {
                                "createTime": {
                                    "shape": "S2"
                                },
                                "updateTime": {
                                    "shape": "S2"
                                },
                                "name": {},
                                "audienceModelArn": {},
                                "outputConfig": {
                                    "shape": "Sd"
                                },
                                "description": {},
                                "configuredAudienceModelArn": {},
                                "status": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNU5QH422DGZ6OZOA35FB73GR6LYJ4C5R7GVK5L6EBFJ3HKVGZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWESJ2IX63AIUUC6XQTDGVNXDJYTBHXBWZZ4RAWGTLLFBJHHXKEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGZBHBYDURGDED43NTFPOVRIEUHIVYUYPGB3I7UPDPBXZ7BC7K4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZEGRIFG5TG2SZ2IWDOOUT5MLMVRV6ZR6DBPDUYE2HKREQF2C2FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZO2UWJ4PDQHU5RAEN4LQC4M2AQZPXEVPQIFN2JKCEPBXGU3ET5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXMG6DENM2K4RAZZ4OJ3B7TX3LAOW4DBTG24G56CAJQUUMJHP2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tags"
                ],
                "members": {
                    "tags": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNU5QH422DGZ6OZOA35FB73GR6LYJ4C5R7GVK5L6EBFJ3HKVGZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWESJ2IX63AIUUC6XQTDGVNXDJYTBHXBWZZ4RAWGTLLFBJHHXKEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGZBHBYDURGDED43NTFPOVRIEUHIVYUYPGB3I7UPDPBXZ7BC7K4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZEGRIFG5TG2SZ2IWDOOUT5MLMVRV6ZR6DBPDUYE2HKREQF2C2FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZO2UWJ4PDQHU5RAEN4LQC4M2AQZPXEVPQIFN2JKCEPBXGU3ET5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXMG6DENM2K4RAZZ4OJ3B7TX3LAOW4DBTG24G56CAJQUUMJHP2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js"
            ]
        },
        "ListTrainingDatasets": {
            "http": {
                "method": "GET",
                "requestUri": "/training-dataset",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "trainingDatasets"
                ],
                "members": {
                    "nextToken": {},
                    "trainingDatasets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createTime",
                                "updateTime",
                                "trainingDatasetArn",
                                "name",
                                "status"
                            ],
                            "members": {
                                "createTime": {
                                    "shape": "S2"
                                },
                                "updateTime": {
                                    "shape": "S2"
                                },
                                "trainingDatasetArn": {},
                                "name": {},
                                "status": {},
                                "description": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNU5QH422DGZ6OZOA35FB73GR6LYJ4C5R7GVK5L6EBFJ3HKVGZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWESJ2IX63AIUUC6XQTDGVNXDJYTBHXBWZZ4RAWGTLLFBJHHXKEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGZBHBYDURGDED43NTFPOVRIEUHIVYUYPGB3I7UPDPBXZ7BC7K4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZEGRIFG5TG2SZ2IWDOOUT5MLMVRV6ZR6DBPDUYE2HKREQF2C2FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZO2UWJ4PDQHU5RAEN4LQC4M2AQZPXEVPQIFN2JKCEPBXGU3ET5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXMG6DENM2K4RAZZ4OJ3B7TX3LAOW4DBTG24G56CAJQUUMJHP2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js"
            ]
        },
        "PutConfiguredAudienceModelPolicy": {
            "http": {
                "method": "PUT",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn",
                    "configuredAudienceModelPolicy"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    },
                    "configuredAudienceModelPolicy": {},
                    "previousPolicyHash": {},
                    "policyExistenceCondition": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelPolicy",
                    "policyHash"
                ],
                "members": {
                    "configuredAudienceModelPolicy": {},
                    "policyHash": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNU5QH422DGZ6OZOA35FB73GR6LYJ4C5R7GVK5L6EBFJ3HKVGZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWESJ2IX63AIUUC6XQTDGVNXDJYTBHXBWZZ4RAWGTLLFBJHHXKEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGZBHBYDURGDED43NTFPOVRIEUHIVYUYPGB3I7UPDPBXZ7BC7K4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZEGRIFG5TG2SZ2IWDOOUT5MLMVRV6ZR6DBPDUYE2HKREQF2C2FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZO2UWJ4PDQHU5RAEN4LQC4M2AQZPXEVPQIFN2JKCEPBXGU3ET5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXMG6DENM2K4RAZZ4OJ3B7TX3LAOW4DBTG24G56CAJQUUMJHP2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js"
            ]
        },
        "StartAudienceExportJob": {
            "http": {
                "requestUri": "/audience-export-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "audienceGenerationJobArn",
                    "audienceSize"
                ],
                "members": {
                    "name": {},
                    "audienceGenerationJobArn": {},
                    "audienceSize": {
                        "shape": "S1p"
                    },
                    "description": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNU5QH422DGZ6OZOA35FB73GR6LYJ4C5R7GVK5L6EBFJ3HKVGZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWESJ2IX63AIUUC6XQTDGVNXDJYTBHXBWZZ4RAWGTLLFBJHHXKEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGZBHBYDURGDED43NTFPOVRIEUHIVYUYPGB3I7UPDPBXZ7BC7K4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZEGRIFG5TG2SZ2IWDOOUT5MLMVRV6ZR6DBPDUYE2HKREQF2C2FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZO2UWJ4PDQHU5RAEN4LQC4M2AQZPXEVPQIFN2JKCEPBXGU3ET5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXMG6DENM2K4RAZZ4OJ3B7TX3LAOW4DBTG24G56CAJQUUMJHP2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
[...]
