{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-02-17",
        "endpointPrefix": "cleanrooms",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Clean Rooms Service",
        "serviceId": "CleanRooms",
        "signatureVersion": "v4",
        "signingName": "cleanrooms",
        "uid": "cleanrooms-2022-02-17",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LTE5ZPXNTLU43ULRF53FMB2CTSADWVOOGIGO2IDRY5ALWCH6AATA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "BatchGetSchema": {
            "http": {
                "requestUri": "/collaborations/{collaborationIdentifier}/batch-schema",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "collaborationIdentifier",
                    "names"
                ],
                "members": {
                    "collaborationIdentifier": {
                        "location": "uri",
                        "locationName": "collaborationIdentifier"
                    },
                    "names": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "schemas",
                    "errors"
                ],
                "members": {
                    "schemas": {
                        "type": "list",
                        "member": {
                            "shape": "S7"
                        }
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "code",
                                "message"
                            ],
                            "members": {
                                "name": {},
                                "code": {},
                                "message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateCollaboration": {
            "http": {
                "requestUri": "/collaborations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "members",
                    "name",
                    "description",
                    "creatorMemberAbilities",
                    "creatorDisplayName",
                    "queryLogStatus"
                ],
                "members": {
                    "members": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "accountId",
                                "memberAbilities",
                                "displayName"
                            ],
                            "members": {
                                "accountId": {},
                                "memberAbilities": {
                                    "shape": "Sr"
                                },
                                "displayName": {}
                            }
                        }
                    },
                    "name": {},
                    "description": {},
                    "creatorMemberAbilities": {
                        "shape": "Sr"
                    },
                    "creatorDisplayName": {},
                    "dataEncryptionMetadata": {
                        "shape": "Sw"
                    },
                    "queryLogStatus": {},
                    "tags": {
                        "shape": "Sz"
                    },
                    "creatorPaymentConfiguration": {
                        "shape": "S2j",
                        "internalonly": true
                    },
                    "creatorAdditionalMemberAbilities": {
                        "shape": "S4q",
                        "internalonly": true
                    },
                    "creatorMLMemberAbilities": {
                        "shape": "S4q",
                        "internalonly": true
                    },
                    "version": {
                        "shape": "S56",
                        "internalonly": true
                    },
                    "analyticsEngine": {
                        "shape": "S4a",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "collaboration"
                ],
                "members": {
                    "collaboration": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateConfiguredTable": {
            "http": {
                "requestUri": "/configuredTables",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "tableReference",
                    "allowedColumns",
                    "analysisMethod"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "tableReference": {
                        "shape": "S17"
                    },
                    "allowedColumns": {
                        "shape": "S1a"
                    },
                    "analysisMethod": {},
                    "tags": {
                        "shape": "Sz"
                    },
                    "selectedAnalysisMethods": {
                        "shape": "S5l",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredTable"
                ],
                "members": {
                    "configuredTable": {
                        "shape": "S1c"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateConfiguredTableAnalysisRule": {
            "http": {
                "requestUri": "/configuredTables/{configuredTableIdentifier}/analysisRule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredTableIdentifier",
                    "analysisRuleType",
                    "analysisRulePolicy"
                ],
                "members": {
                    "configuredTableIdentifier": {
                        "location": "uri",
                        "locationName": "configuredTableIdentifier"
                    },
                    "analysisRuleType": {},
                    "analysisRulePolicy": {
                        "shape": "S1i"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "analysisRule"
                ],
                "members": {
                    "analysisRule": {
                        "shape": "S21"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateConfiguredTableAssociation": {
            "http": {
                "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "membershipIdentifier",
                    "configuredTableIdentifier",
                    "roleArn"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "membershipIdentifier": {
                        "location": "uri",
                        "locationName": "membershipIdentifier"
                    },
                    "configuredTableIdentifier": {},
                    "roleArn": {},
                    "tags": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredTableAssociation"
                ],
                "members": {
                    "configuredTableAssociation": {
                        "shape": "S26"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateMembership": {
            "http": {
                "requestUri": "/memberships",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "collaborationIdentifier",
                    "queryLogStatus"
                ],
                "members": {
                    "collaborationIdentifier": {},
                    "queryLogStatus": {},
                    "tags": {
                        "shape": "Sz"
                    },
                    "defaultResultConfiguration": {
                        "shape": "S40",
                        "internalonly": true
                    },
                    "paymentConfiguration": {
                        "shape": "S4x",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "membership"
                ],
                "members": {
                    "membership": {
                        "shape": "S2b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteCollaboration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/collaborations/{collaborationIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "collaborationIdentifier"
                ],
                "members": {
                    "collaborationIdentifier": {
                        "location": "uri",
                        "locationName": "collaborationIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteConfiguredTable": {
            "http": {
                "method": "DELETE",
                "requestUri": "/configuredTables/{configuredTableIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredTableIdentifier"
                ],
                "members": {
                    "configuredTableIdentifier": {
                        "location": "uri",
                        "locationName": "configuredTableIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteConfiguredTableAnalysisRule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/configuredTables/{configuredTableIdentifier}/analysisRule/{analysisRuleType}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredTableIdentifier",
                    "analysisRuleType"
                ],
                "members": {
                    "configuredTableIdentifier": {
                        "location": "uri",
                        "locationName": "configuredTableIdentifier"
                    },
                    "analysisRuleType": {
                        "location": "uri",
                        "locationName": "analysisRuleType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteConfiguredTableAssociation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredTableAssociationIdentifier",
                    "membershipIdentifier"
                ],
                "members": {
                    "configuredTableAssociationIdentifier": {
                        "location": "uri",
                        "locationName": "configuredTableAssociationIdentifier"
                    },
                    "membershipIdentifier": {
                        "location": "uri",
                        "locationName": "membershipIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteMember": {
            "http": {
                "method": "DELETE",
                "requestUri": "/collaborations/{collaborationIdentifier}/member/{accountId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "collaborationIdentifier",
                    "accountId"
                ],
                "members": {
                    "collaborationIdentifier": {
                        "location": "uri",
                        "locationName": "collaborationIdentifier"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteMembership": {
            "http": {
                "method": "DELETE",
                "requestUri": "/memberships/{membershipIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "membershipIdentifier"
                ],
                "members": {
                    "membershipIdentifier": {
                        "location": "uri",
                        "locationName": "membershipIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetCollaboration": {
            "http": {
                "method": "GET",
                "requestUri": "/collaborations/{collaborationIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "collaborationIdentifier"
                ],
                "members": {
                    "collaborationIdentifier": {
                        "location": "uri",
                        "locationName": "collaborationIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "collaboration"
                ],
                "members": {
                    "collaboration": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetConfiguredTable": {
            "http": {
                "method": "GET",
                "requestUri": "/configuredTables/{configuredTableIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredTableIdentifier"
                ],
                "members": {
                    "configuredTableIdentifier": {
                        "location": "uri",
                        "locationName": "configuredTableIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredTable"
                ],
                "members": {
                    "configuredTable": {
                        "shape": "S1c"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetConfiguredTableAnalysisRule": {
            "http": {
                "method": "GET",
                "requestUri": "/configuredTables/{configuredTableIdentifier}/analysisRule/{analysisRuleType}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredTableIdentifier",
                    "analysisRuleType"
                ],
                "members": {
                    "configuredTableIdentifier": {
                        "location": "uri",
                        "locationName": "configuredTableIdentifier"
                    },
                    "analysisRuleType": {
                        "location": "uri",
                        "locationName": "analysisRuleType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "analysisRule"
                ],
                "members": {
                    "analysisRule": {
                        "shape": "S21"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetConfiguredTableAssociation": {
            "http": {
                "method": "GET",
                "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredTableAssociationIdentifier",
                    "membershipIdentifier"
                ],
                "members": {
                    "configuredTableAssociationIdentifier": {
                        "location": "uri",
                        "locationName": "configuredTableAssociationIdentifier"
                    },
                    "membershipIdentifier": {
                        "location": "uri",
                        "locationName": "membershipIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredTableAssociation"
                ],
                "members": {
                    "configuredTableAssociation": {
                        "shape": "S26"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetMembership": {
            "http": {
                "method": "GET",
                "requestUri": "/memberships/{membershipIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "membershipIdentifier"
                ],
                "members": {
                    "membershipIdentifier": {
                        "location": "uri",
                        "locationName": "membershipIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "membership"
                ],
                "members": {
                    "membership": {
                        "shape": "S2b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetProtectedQuery": {
            "http": {
                "method": "GET",
                "requestUri": "/memberships/{membershipIdentifier}/protectedQueries/{protectedQueryIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "membershipIdentifier",
                    "protectedQueryIdentifier"
                ],
                "members": {
                    "membershipIdentifier": {
                        "location": "uri",
                        "locationName": "membershipIdentifier"
                    },
                    "protectedQueryIdentifier": {
                        "location": "uri",
                        "locationName": "protectedQueryIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "protectedQuery"
                ],
                "members": {
                    "protectedQuery": {
                        "shape": "S33"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetSchema": {
            "http": {
                "method": "GET",
                "requestUri": "/collaborations/{collaborationIdentifier}/schemas/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "collaborationIdentifier",
                    "name"
                ],
                "members": {
                    "collaborationIdentifier": {
                        "location": "uri",
                        "locationName": "collaborationIdentifier"
                    },
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "schema"
                ],
                "members": {
                    "schema": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetSchemaAnalysisRule": {
            "http": {
                "method": "GET",
                "requestUri": "/collaborations/{collaborationIdentifier}/schemas/{name}/analysisRule/{type}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "collaborationIdentifier",
                    "name",
                    "type"
                ],
                "members": {
                    "collaborationIdentifier": {
                        "location": "uri",
                        "locationName": "collaborationIdentifier"
                    },
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "type": {
                        "location": "uri",
                        "locationName": "type"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "analysisRule"
                ],
                "members": {
                    "analysisRule": {
                        "type": "structure",
                        "required": [
                            "collaborationId",
                            "type",
                            "name",
                            "createTime",
                            "updateTime",
                            "policy"
                        ],
                        "members": {
                            "collaborationId": {},
                            "type": {},
                            "name": {},
                            "createTime": {
                                "type": "timestamp"
                            },
                            "updateTime": {
                                "type": "timestamp"
                            },
                            "policy": {
                                "type": "structure",
                                "members": {
                                    "v1": {
                                        "type": "structure",
                                        "members": {
                                            "list": {
                                                "shape": "S1k"
                                            },
                                            "aggregation": {
                                                "shape": "S1o"
                                            }
                                        },
                                        "union": true
                                    }
                                },
                                "union": true
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListCollaborations": {
            "http": {
                "method": "GET",
                "requestUri": "/collaborations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "memberStatus": {
                        "location": "querystring",
                        "locationName": "memberStatus"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "collaborationList"
                ],
                "members": {
                    "nextToken": {},
                    "collaborationList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "arn",
                                "name",
                                "creatorAccountId",
                                "creatorDisplayName",
                                "createTime",
                                "updateTime",
                                "memberStatus"
                            ],
                            "members": {
                                "id": {},
                                "arn": {},
                                "name": {},
                                "creatorAccountId": {},
                                "creatorDisplayName": {},
                                "createTime": {
                                    "type": "timestamp"
                                },
                                "updateTime": {
                                    "type": "timestamp"
                                },
                                "memberStatus": {},
                                "membershipId": {},
                                "membershipArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListConfiguredTableAssociations": {
            "http": {
                "method": "GET",
                "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "membershipIdentifier"
                ],
                "members": {
                    "membershipIdentifier": {
                        "location": "uri",
                        "locationName": "membershipIdentifier"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredTableAssociationSummaries"
                ],
                "members": {
                    "configuredTableAssociationSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "configuredTableId",
                                "membershipId",
                                "membershipArn",
                                "name",
                                "createTime",
                                "updateTime",
                                "id",
                                "arn"
                            ],
                            "members": {
                                "configuredTableId": {},
                                "membershipId": {},
                                "membershipArn": {},
                                "name": {},
                                "createTime": {
                                    "type": "timestamp"
                                },
                                "updateTime": {
                                    "type": "timestamp"
                                },
                                "id": {},
                                "arn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
[...]
