{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-09-06",
        "endpointPrefix": "cleanrooms-ml",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "cleanrooms-ml",
        "serviceId": "CleanRoomsML",
        "signatureVersion": "v4",
        "signingName": "cleanrooms-ml",
        "uid": "cleanroomsml-2023-09-06",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQ2E26ZY3KWWQD2UVXT7MKTGKCLD6B4R7CBV4JYSPZG63FNYUNRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HHI7YNU7MCYII35EXZVICJRNEZOEEWL4KCQKLSUXKUGFSEBKHQOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XQINW6MLG4UBPW7KBFW7IJQ234HRESFTT7AIQVIXBCOPLJQMIY6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7X4D5CYNHVOOSGKNZLKN7U3Q5HXQQWYWFT5DB4MBEL6LDVTUDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VLMPT4DR7QXO5IEJCH3ULWRLGFAY5S6Q5HRIKXGC42E6S6ETTAKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6O6IFBGXFEIDVMDI7I4NBEDWDQVT47FB2VGOZ56H6DVTLA5TE3TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OMRQBVOBUUB4AYWZCWWSODPOWK7QVBPUSPUWVSUELF2KPD4C7H7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
        ]
    },
    "operations": {
        "CreateAudienceModel": {
            "http": {
                "requestUri": "/audience-model",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "trainingDatasetArn"
                ],
                "members": {
                    "trainingDataStartTime": {
                        "shape": "S2"
                    },
                    "trainingDataEndTime": {
                        "shape": "S2"
                    },
                    "name": {},
                    "trainingDatasetArn": {},
                    "kmsKeyArn": {},
                    "tags": {
                        "shape": "S6"
                    },
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "audienceModelArn"
                ],
                "members": {
                    "audienceModelArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ2E26ZY3KWWQD2UVXT7MKTGKCLD6B4R7CBV4JYSPZG63FNYUNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHI7YNU7MCYII35EXZVICJRNEZOEEWL4KCQKLSUXKUGFSEBKHQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQINW6MLG4UBPW7KBFW7IJQ234HRESFTT7AIQVIXBCOPLJQMIY6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7X4D5CYNHVOOSGKNZLKN7U3Q5HXQQWYWFT5DB4MBEL6LDVTUDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLMPT4DR7QXO5IEJCH3ULWRLGFAY5S6Q5HRIKXGC42E6S6ETTAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O6IFBGXFEIDVMDI7I4NBEDWDQVT47FB2VGOZ56H6DVTLA5TE3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMRQBVOBUUB4AYWZCWWSODPOWK7QVBPUSPUWVSUELF2KPD4C7H7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "CreateConfiguredAudienceModel": {
            "http": {
                "requestUri": "/configured-audience-model",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "audienceModelArn",
                    "outputConfig",
                    "sharedAudienceMetrics"
                ],
                "members": {
                    "name": {},
                    "audienceModelArn": {},
                    "outputConfig": {
                        "shape": "Sd"
                    },
                    "description": {},
                    "sharedAudienceMetrics": {
                        "shape": "Si"
                    },
                    "minimumSeedSize": {
                        "type": "integer"
                    },
                    "audienceSizeConfig": {
                        "shape": "Sl"
                    },
                    "tags": {
                        "shape": "S6"
                    },
                    "childResourceTagOnCreatePolicy": {},
                    "minMatchingSeedSize": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ2E26ZY3KWWQD2UVXT7MKTGKCLD6B4R7CBV4JYSPZG63FNYUNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHI7YNU7MCYII35EXZVICJRNEZOEEWL4KCQKLSUXKUGFSEBKHQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQINW6MLG4UBPW7KBFW7IJQ234HRESFTT7AIQVIXBCOPLJQMIY6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7X4D5CYNHVOOSGKNZLKN7U3Q5HXQQWYWFT5DB4MBEL6LDVTUDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLMPT4DR7QXO5IEJCH3ULWRLGFAY5S6Q5HRIKXGC42E6S6ETTAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O6IFBGXFEIDVMDI7I4NBEDWDQVT47FB2VGOZ56H6DVTLA5TE3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMRQBVOBUUB4AYWZCWWSODPOWK7QVBPUSPUWVSUELF2KPD4C7H7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "CreateTrainingDataset": {
            "http": {
                "requestUri": "/training-dataset",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "roleArn",
                    "trainingData"
                ],
                "members": {
                    "name": {},
                    "roleArn": {},
                    "trainingData": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    },
                    "tags": {
                        "shape": "S6"
                    },
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "trainingDatasetArn"
                ],
                "members": {
                    "trainingDatasetArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ2E26ZY3KWWQD2UVXT7MKTGKCLD6B4R7CBV4JYSPZG63FNYUNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHI7YNU7MCYII35EXZVICJRNEZOEEWL4KCQKLSUXKUGFSEBKHQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQINW6MLG4UBPW7KBFW7IJQ234HRESFTT7AIQVIXBCOPLJQMIY6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7X4D5CYNHVOOSGKNZLKN7U3Q5HXQQWYWFT5DB4MBEL6LDVTUDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLMPT4DR7QXO5IEJCH3ULWRLGFAY5S6Q5HRIKXGC42E6S6ETTAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O6IFBGXFEIDVMDI7I4NBEDWDQVT47FB2VGOZ56H6DVTLA5TE3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMRQBVOBUUB4AYWZCWWSODPOWK7QVBPUSPUWVSUELF2KPD4C7H7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DeleteAudienceGenerationJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/audience-generation-job/{audienceGenerationJobArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "audienceGenerationJobArn"
                ],
                "members": {
                    "audienceGenerationJobArn": {
                        "location": "uri",
                        "locationName": "audienceGenerationJobArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ2E26ZY3KWWQD2UVXT7MKTGKCLD6B4R7CBV4JYSPZG63FNYUNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHI7YNU7MCYII35EXZVICJRNEZOEEWL4KCQKLSUXKUGFSEBKHQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQINW6MLG4UBPW7KBFW7IJQ234HRESFTT7AIQVIXBCOPLJQMIY6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7X4D5CYNHVOOSGKNZLKN7U3Q5HXQQWYWFT5DB4MBEL6LDVTUDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLMPT4DR7QXO5IEJCH3ULWRLGFAY5S6Q5HRIKXGC42E6S6ETTAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O6IFBGXFEIDVMDI7I4NBEDWDQVT47FB2VGOZ56H6DVTLA5TE3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMRQBVOBUUB4AYWZCWWSODPOWK7QVBPUSPUWVSUELF2KPD4C7H7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DeleteAudienceModel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/audience-model/{audienceModelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "audienceModelArn"
                ],
                "members": {
                    "audienceModelArn": {
                        "location": "uri",
                        "locationName": "audienceModelArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ2E26ZY3KWWQD2UVXT7MKTGKCLD6B4R7CBV4JYSPZG63FNYUNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHI7YNU7MCYII35EXZVICJRNEZOEEWL4KCQKLSUXKUGFSEBKHQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQINW6MLG4UBPW7KBFW7IJQ234HRESFTT7AIQVIXBCOPLJQMIY6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7X4D5CYNHVOOSGKNZLKN7U3Q5HXQQWYWFT5DB4MBEL6LDVTUDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLMPT4DR7QXO5IEJCH3ULWRLGFAY5S6Q5HRIKXGC42E6S6ETTAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O6IFBGXFEIDVMDI7I4NBEDWDQVT47FB2VGOZ56H6DVTLA5TE3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMRQBVOBUUB4AYWZCWWSODPOWK7QVBPUSPUWVSUELF2KPD4C7H7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DeleteConfiguredAudienceModel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ2E26ZY3KWWQD2UVXT7MKTGKCLD6B4R7CBV4JYSPZG63FNYUNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHI7YNU7MCYII35EXZVICJRNEZOEEWL4KCQKLSUXKUGFSEBKHQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQINW6MLG4UBPW7KBFW7IJQ234HRESFTT7AIQVIXBCOPLJQMIY6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7X4D5CYNHVOOSGKNZLKN7U3Q5HXQQWYWFT5DB4MBEL6LDVTUDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLMPT4DR7QXO5IEJCH3ULWRLGFAY5S6Q5HRIKXGC42E6S6ETTAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O6IFBGXFEIDVMDI7I4NBEDWDQVT47FB2VGOZ56H6DVTLA5TE3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMRQBVOBUUB4AYWZCWWSODPOWK7QVBPUSPUWVSUELF2KPD4C7H7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DeleteConfiguredAudienceModelPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ2E26ZY3KWWQD2UVXT7MKTGKCLD6B4R7CBV4JYSPZG63FNYUNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHI7YNU7MCYII35EXZVICJRNEZOEEWL4KCQKLSUXKUGFSEBKHQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQINW6MLG4UBPW7KBFW7IJQ234HRESFTT7AIQVIXBCOPLJQMIY6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7X4D5CYNHVOOSGKNZLKN7U3Q5HXQQWYWFT5DB4MBEL6LDVTUDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLMPT4DR7QXO5IEJCH3ULWRLGFAY5S6Q5HRIKXGC42E6S6ETTAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O6IFBGXFEIDVMDI7I4NBEDWDQVT47FB2VGOZ56H6DVTLA5TE3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMRQBVOBUUB4AYWZCWWSODPOWK7QVBPUSPUWVSUELF2KPD4C7H7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DeleteTrainingDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/training-dataset/{trainingDatasetArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "trainingDatasetArn"
                ],
                "members": {
                    "trainingDatasetArn": {
                        "location": "uri",
                        "locationName": "trainingDatasetArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ2E26ZY3KWWQD2UVXT7MKTGKCLD6B4R7CBV4JYSPZG63FNYUNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHI7YNU7MCYII35EXZVICJRNEZOEEWL4KCQKLSUXKUGFSEBKHQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQINW6MLG4UBPW7KBFW7IJQ234HRESFTT7AIQVIXBCOPLJQMIY6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7X4D5CYNHVOOSGKNZLKN7U3Q5HXQQWYWFT5DB4MBEL6LDVTUDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLMPT4DR7QXO5IEJCH3ULWRLGFAY5S6Q5HRIKXGC42E6S6ETTAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O6IFBGXFEIDVMDI7I4NBEDWDQVT47FB2VGOZ56H6DVTLA5TE3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMRQBVOBUUB4AYWZCWWSODPOWK7QVBPUSPUWVSUELF2KPD4C7H7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "GetAudienceGenerationJob": {
            "http": {
                "method": "GET",
                "requestUri": "/audience-generation-job/{audienceGenerationJobArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "audienceGenerationJobArn"
                ],
                "members": {
                    "audienceGenerationJobArn": {
                        "location": "uri",
                        "locationName": "audienceGenerationJobArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createTime",
                    "updateTime",
                    "audienceGenerationJobArn",
                    "name",
                    "status",
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "createTime": {
                        "shape": "S2"
                    },
                    "updateTime": {
                        "shape": "S2"
                    },
                    "audienceGenerationJobArn": {},
                    "name": {},
                    "description": {},
                    "status": {},
                    "statusDetails": {
                        "shape": "S1h"
                    },
                    "configuredAudienceModelArn": {},
                    "seedAudience": {
                        "shape": "S1j"
                    },
                    "includeSeedInOutput": {
                        "type": "boolean"
                    },
                    "collaborationId": {},
                    "metrics": {
                        "type": "structure",
                        "required": [
                            "relevanceMetrics"
                        ],
                        "members": {
                            "relevanceMetrics": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "audienceSize"
                                    ],
                                    "members": {
                                        "audienceSize": {
                                            "shape": "S1p"
                                        },
                                        "score": {
                                            "type": "double"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "startedBy": {},
                    "tags": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ2E26ZY3KWWQD2UVXT7MKTGKCLD6B4R7CBV4JYSPZG63FNYUNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHI7YNU7MCYII35EXZVICJRNEZOEEWL4KCQKLSUXKUGFSEBKHQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQINW6MLG4UBPW7KBFW7IJQ234HRESFTT7AIQVIXBCOPLJQMIY6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7X4D5CYNHVOOSGKNZLKN7U3Q5HXQQWYWFT5DB4MBEL6LDVTUDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLMPT4DR7QXO5IEJCH3ULWRLGFAY5S6Q5HRIKXGC42E6S6ETTAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O6IFBGXFEIDVMDI7I4NBEDWDQVT47FB2VGOZ56H6DVTLA5TE3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMRQBVOBUUB4AYWZCWWSODPOWK7QVBPUSPUWVSUELF2KPD4C7H7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "GetAudienceModel": {
            "http": {
                "method": "GET",
                "requestUri": "/audience-model/{audienceModelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "audienceModelArn"
                ],
                "members": {
                    "audienceModelArn": {
                        "location": "uri",
                        "locationName": "audienceModelArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createTime",
                    "updateTime",
                    "audienceModelArn",
                    "name",
                    "trainingDatasetArn",
                    "status"
                ],
                "members": {
                    "createTime": {
                        "shape": "S2"
                    },
                    "updateTime": {
                        "shape": "S2"
                    },
                    "trainingDataStartTime": {
                        "shape": "S2"
                    },
                    "trainingDataEndTime": {
                        "shape": "S2"
                    },
                    "audienceModelArn": {},
                    "name": {},
                    "trainingDatasetArn": {},
                    "status": {},
                    "statusDetails": {
                        "shape": "S1h"
                    },
                    "metrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "type",
                                "forTopKItemPredictions",
                                "value"
                            ],
                            "members": {
                                "type": {},
                                "forTopKItemPredictions": {
                                    "type": "integer"
                                },
                                "value": {
                                    "type": "double"
                                }
                            }
                        }
                    },
                    "kmsKeyArn": {},
                    "tags": {
                        "shape": "S6"
                    },
                    "description": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ2E26ZY3KWWQD2UVXT7MKTGKCLD6B4R7CBV4JYSPZG63FNYUNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHI7YNU7MCYII35EXZVICJRNEZOEEWL4KCQKLSUXKUGFSEBKHQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQINW6MLG4UBPW7KBFW7IJQ234HRESFTT7AIQVIXBCOPLJQMIY6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7X4D5CYNHVOOSGKNZLKN7U3Q5HXQQWYWFT5DB4MBEL6LDVTUDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLMPT4DR7QXO5IEJCH3ULWRLGFAY5S6Q5HRIKXGC42E6S6ETTAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O6IFBGXFEIDVMDI7I4NBEDWDQVT47FB2VGOZ56H6DVTLA5TE3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMRQBVOBUUB4AYWZCWWSODPOWK7QVBPUSPUWVSUELF2KPD4C7H7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "GetConfiguredAudienceModel": {
            "http": {
                "method": "GET",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createTime",
                    "updateTime",
                    "configuredAudienceModelArn",
                    "name",
                    "audienceModelArn",
                    "outputConfig",
                    "status",
                    "sharedAudienceMetrics"
                ],
                "members": {
                    "createTime": {
                        "shape": "S2"
                    },
                    "updateTime": {
                        "shape": "S2"
                    },
                    "configuredAudienceModelArn": {},
                    "name": {},
                    "audienceModelArn": {},
                    "outputConfig": {
                        "shape": "Sd"
                    },
                    "description": {},
                    "status": {},
                    "sharedAudienceMetrics": {
                        "shape": "Si"
                    },
                    "minimumSeedSize": {
                        "type": "integer"
                    },
                    "audienceSizeConfig": {
                        "shape": "Sl"
                    },
                    "tags": {
                        "shape": "S6"
                    },
                    "childResourceTagOnCreatePolicy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ2E26ZY3KWWQD2UVXT7MKTGKCLD6B4R7CBV4JYSPZG63FNYUNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHI7YNU7MCYII35EXZVICJRNEZOEEWL4KCQKLSUXKUGFSEBKHQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQINW6MLG4UBPW7KBFW7IJQ234HRESFTT7AIQVIXBCOPLJQMIY6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7X4D5CYNHVOOSGKNZLKN7U3Q5HXQQWYWFT5DB4MBEL6LDVTUDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLMPT4DR7QXO5IEJCH3ULWRLGFAY5S6Q5HRIKXGC42E6S6ETTAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O6IFBGXFEIDVMDI7I4NBEDWDQVT47FB2VGOZ56H6DVTLA5TE3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMRQBVOBUUB4AYWZCWWSODPOWK7QVBPUSPUWVSUELF2KPD4C7H7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "GetConfiguredAudienceModelPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn",
                    "configuredAudienceModelPolicy",
                    "policyHash"
                ],
                "members": {
                    "configuredAudienceModelArn": {},
                    "configuredAudienceModelPolicy": {},
                    "policyHash": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ2E26ZY3KWWQD2UVXT7MKTGKCLD6B4R7CBV4JYSPZG63FNYUNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHI7YNU7MCYII35EXZVICJRNEZOEEWL4KCQKLSUXKUGFSEBKHQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQINW6MLG4UBPW7KBFW7IJQ234HRESFTT7AIQVIXBCOPLJQMIY6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7X4D5CYNHVOOSGKNZLKN7U3Q5HXQQWYWFT5DB4MBEL6LDVTUDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLMPT4DR7QXO5IEJCH3ULWRLGFAY5S6Q5HRIKXGC42E6S6ETTAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O6IFBGXFEIDVMDI7I4NBEDWDQVT47FB2VGOZ56H6DVTLA5TE3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMRQBVOBUUB4AYWZCWWSODPOWK7QVBPUSPUWVSUELF2KPD4C7H7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "GetTrainingDataset": {
            "http": {
                "method": "GET",
                "requestUri": "/training-dataset/{trainingDatasetArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "trainingDatasetArn"
                ],
                "members": {
                    "trainingDatasetArn": {
                        "location": "uri",
                        "locationName": "trainingDatasetArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createTime",
                    "updateTime",
                    "trainingDatasetArn",
                    "name",
                    "trainingData",
                    "status",
                    "roleArn"
                ],
                "members": {
                    "createTime": {
                        "shape": "S2"
                    },
                    "updateTime": {
                        "shape": "S2"
                    },
                    "trainingDatasetArn": {},
                    "name": {},
                    "trainingData": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    },
                    "status": {},
                    "roleArn": {},
                    "tags": {
                        "shape": "S6"
                    },
                    "description": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ2E26ZY3KWWQD2UVXT7MKTGKCLD6B4R7CBV4JYSPZG63FNYUNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHI7YNU7MCYII35EXZVICJRNEZOEEWL4KCQKLSUXKUGFSEBKHQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQINW6MLG4UBPW7KBFW7IJQ234HRESFTT7AIQVIXBCOPLJQMIY6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7X4D5CYNHVOOSGKNZLKN7U3Q5HXQQWYWFT5DB4MBEL6LDVTUDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLMPT4DR7QXO5IEJCH3ULWRLGFAY5S6Q5HRIKXGC42E6S6ETTAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O6IFBGXFEIDVMDI7I4NBEDWDQVT47FB2VGOZ56H6DVTLA5TE3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMRQBVOBUUB4AYWZCWWSODPOWK7QVBPUSPUWVSUELF2KPD4C7H7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListAudienceExportJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/audience-export-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "audienceGenerationJobArn": {
                        "location": "querystring",
                        "locationName": "audienceGenerationJobArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "audienceExportJobs"
                ],
                "members": {
                    "nextToken": {},
                    "audienceExportJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createTime",
                                "updateTime",
                                "name",
                                "audienceGenerationJobArn",
                                "audienceSize",
                                "status"
                            ],
                            "members": {
                                "createTime": {
                                    "shape": "S2"
                                },
                                "updateTime": {
                                    "shape": "S2"
                                },
                                "name": {},
                                "audienceGenerationJobArn": {},
                                "audienceSize": {
                                    "shape": "S1p"
                                },
                                "description": {},
                                "status": {},
                                "statusDetails": {
                                    "shape": "S1h"
                                },
                                "outputLocation": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ2E26ZY3KWWQD2UVXT7MKTGKCLD6B4R7CBV4JYSPZG63FNYUNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHI7YNU7MCYII35EXZVICJRNEZOEEWL4KCQKLSUXKUGFSEBKHQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQINW6MLG4UBPW7KBFW7IJQ234HRESFTT7AIQVIXBCOPLJQMIY6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7X4D5CYNHVOOSGKNZLKN7U3Q5HXQQWYWFT5DB4MBEL6LDVTUDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLMPT4DR7QXO5IEJCH3ULWRLGFAY5S6Q5HRIKXGC42E6S6ETTAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O6IFBGXFEIDVMDI7I4NBEDWDQVT47FB2VGOZ56H6DVTLA5TE3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMRQBVOBUUB4AYWZCWWSODPOWK7QVBPUSPUWVSUELF2KPD4C7H7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListAudienceGenerationJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/audience-generation-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "configuredAudienceModelArn": {
                        "location": "querystring",
                        "locationName": "configuredAudienceModelArn"
                    },
                    "collaborationId": {
                        "location": "querystring",
                        "locationName": "collaborationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "audienceGenerationJobs"
                ],
                "members": {
                    "nextToken": {},
                    "audienceGenerationJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createTime",
                                "updateTime",
                                "audienceGenerationJobArn",
                                "name",
                                "status",
                                "configuredAudienceModelArn"
                            ],
                            "members": {
                                "createTime": {
                                    "shape": "S2"
                                },
                                "updateTime": {
                                    "shape": "S2"
                                },
                                "audienceGenerationJobArn": {},
                                "name": {},
                                "description": {},
                                "status": {},
                                "configuredAudienceModelArn": {},
                                "collaborationId": {},
                                "startedBy": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ2E26ZY3KWWQD2UVXT7MKTGKCLD6B4R7CBV4JYSPZG63FNYUNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHI7YNU7MCYII35EXZVICJRNEZOEEWL4KCQKLSUXKUGFSEBKHQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQINW6MLG4UBPW7KBFW7IJQ234HRESFTT7AIQVIXBCOPLJQMIY6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7X4D5CYNHVOOSGKNZLKN7U3Q5HXQQWYWFT5DB4MBEL6LDVTUDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLMPT4DR7QXO5IEJCH3ULWRLGFAY5S6Q5HRIKXGC42E6S6ETTAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O6IFBGXFEIDVMDI7I4NBEDWDQVT47FB2VGOZ56H6DVTLA5TE3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMRQBVOBUUB4AYWZCWWSODPOWK7QVBPUSPUWVSUELF2KPD4C7H7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListAudienceModels": {
            "http": {
                "method": "GET",
                "requestUri": "/audience-model",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "audienceModels"
                ],
                "members": {
                    "nextToken": {},
                    "audienceModels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createTime",
                                "updateTime",
                                "audienceModelArn",
                                "name",
                                "trainingDatasetArn",
                                "status"
                            ],
                            "members": {
                                "createTime": {
                                    "shape": "S2"
                                },
                                "updateTime": {
                                    "shape": "S2"
                                },
                                "audienceModelArn": {},
                                "name": {},
                                "trainingDatasetArn": {},
                                "status": {},
                                "description": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ2E26ZY3KWWQD2UVXT7MKTGKCLD6B4R7CBV4JYSPZG63FNYUNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHI7YNU7MCYII35EXZVICJRNEZOEEWL4KCQKLSUXKUGFSEBKHQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQINW6MLG4UBPW7KBFW7IJQ234HRESFTT7AIQVIXBCOPLJQMIY6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7X4D5CYNHVOOSGKNZLKN7U3Q5HXQQWYWFT5DB4MBEL6LDVTUDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLMPT4DR7QXO5IEJCH3ULWRLGFAY5S6Q5HRIKXGC42E6S6ETTAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O6IFBGXFEIDVMDI7I4NBEDWDQVT47FB2VGOZ56H6DVTLA5TE3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMRQBVOBUUB4AYWZCWWSODPOWK7QVBPUSPUWVSUELF2KPD4C7H7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListConfiguredAudienceModels": {
            "http": {
                "method": "GET",
                "requestUri": "/configured-audience-model",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredAudienceModels"
                ],
                "members": {
                    "nextToken": {},
                    "configuredAudienceModels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createTime",
                                "updateTime",
                                "name",
                                "audienceModelArn",
                                "outputConfig",
                                "configuredAudienceModelArn",
                                "status"
                            ],
                            "members": {
                                "createTime": {
                                    "shape": "S2"
                                },
                                "updateTime": {
                                    "shape": "S2"
                                },
                                "name": {},
                                "audienceModelArn": {},
                                "outputConfig": {
                                    "shape": "Sd"
                                },
                                "description": {},
                                "configuredAudienceModelArn": {},
                                "status": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ2E26ZY3KWWQD2UVXT7MKTGKCLD6B4R7CBV4JYSPZG63FNYUNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHI7YNU7MCYII35EXZVICJRNEZOEEWL4KCQKLSUXKUGFSEBKHQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQINW6MLG4UBPW7KBFW7IJQ234HRESFTT7AIQVIXBCOPLJQMIY6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7X4D5CYNHVOOSGKNZLKN7U3Q5HXQQWYWFT5DB4MBEL6LDVTUDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLMPT4DR7QXO5IEJCH3ULWRLGFAY5S6Q5HRIKXGC42E6S6ETTAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O6IFBGXFEIDVMDI7I4NBEDWDQVT47FB2VGOZ56H6DVTLA5TE3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMRQBVOBUUB4AYWZCWWSODPOWK7QVBPUSPUWVSUELF2KPD4C7H7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tags"
                ],
                "members": {
                    "tags": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ2E26ZY3KWWQD2UVXT7MKTGKCLD6B4R7CBV4JYSPZG63FNYUNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHI7YNU7MCYII35EXZVICJRNEZOEEWL4KCQKLSUXKUGFSEBKHQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQINW6MLG4UBPW7KBFW7IJQ234HRESFTT7AIQVIXBCOPLJQMIY6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7X4D5CYNHVOOSGKNZLKN7U3Q5HXQQWYWFT5DB4MBEL6LDVTUDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLMPT4DR7QXO5IEJCH3ULWRLGFAY5S6Q5HRIKXGC42E6S6ETTAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O6IFBGXFEIDVMDI7I4NBEDWDQVT47FB2VGOZ56H6DVTLA5TE3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMRQBVOBUUB4AYWZCWWSODPOWK7QVBPUSPUWVSUELF2KPD4C7H7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListTrainingDatasets": {
            "http": {
                "method": "GET",
                "requestUri": "/training-dataset",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "trainingDatasets"
                ],
                "members": {
                    "nextToken": {},
                    "trainingDatasets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createTime",
                                "updateTime",
                                "trainingDatasetArn",
                                "name",
                                "status"
                            ],
                            "members": {
                                "createTime": {
                                    "shape": "S2"
                                },
                                "updateTime": {
                                    "shape": "S2"
                                },
                                "trainingDatasetArn": {},
                                "name": {},
                                "status": {},
                                "description": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ2E26ZY3KWWQD2UVXT7MKTGKCLD6B4R7CBV4JYSPZG63FNYUNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHI7YNU7MCYII35EXZVICJRNEZOEEWL4KCQKLSUXKUGFSEBKHQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQINW6MLG4UBPW7KBFW7IJQ234HRESFTT7AIQVIXBCOPLJQMIY6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7X4D5CYNHVOOSGKNZLKN7U3Q5HXQQWYWFT5DB4MBEL6LDVTUDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLMPT4DR7QXO5IEJCH3ULWRLGFAY5S6Q5HRIKXGC42E6S6ETTAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O6IFBGXFEIDVMDI7I4NBEDWDQVT47FB2VGOZ56H6DVTLA5TE3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMRQBVOBUUB4AYWZCWWSODPOWK7QVBPUSPUWVSUELF2KPD4C7H7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "PutConfiguredAudienceModelPolicy": {
            "http": {
                "method": "PUT",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn",
                    "configuredAudienceModelPolicy"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    },
                    "configuredAudienceModelPolicy": {},
                    "previousPolicyHash": {},
                    "policyExistenceCondition": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelPolicy",
                    "policyHash"
                ],
                "members": {
                    "configuredAudienceModelPolicy": {},
                    "policyHash": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ2E26ZY3KWWQD2UVXT7MKTGKCLD6B4R7CBV4JYSPZG63FNYUNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHI7YNU7MCYII35EXZVICJRNEZOEEWL4KCQKLSUXKUGFSEBKHQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQINW6MLG4UBPW7KBFW7IJQ234HRESFTT7AIQVIXBCOPLJQMIY6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7X4D5CYNHVOOSGKNZLKN7U3Q5HXQQWYWFT5DB4MBEL6LDVTUDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLMPT4DR7QXO5IEJCH3ULWRLGFAY5S6Q5HRIKXGC42E6S6ETTAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O6IFBGXFEIDVMDI7I4NBEDWDQVT47FB2VGOZ56H6DVTLA5TE3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMRQBVOBUUB4AYWZCWWSODPOWK7QVBPUSPUWVSUELF2KPD4C7H7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "StartAudienceExportJob": {
            "http": {
                "requestUri": "/audience-export-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "audienceGenerationJobArn",
                    "audienceSize"
                ],
                "members": {
                    "name": {},
                    "audienceGenerationJobArn": {},
                    "audienceSize": {
                        "shape": "S1p"
                    },
                    "description": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ2E26ZY3KWWQD2UVXT7MKTGKCLD6B4R7CBV4JYSPZG63FNYUNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHI7YNU7MCYII35EXZVICJRNEZOEEWL4KCQKLSUXKUGFSEBKHQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQINW6MLG4UBPW7KBFW7IJQ234HRESFTT7AIQVIXBCOPLJQMIY6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7X4D5CYNHVOOSGKNZLKN7U3Q5HXQQWYWFT5DB4MBEL6LDVTUDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLMPT4DR7QXO5IEJCH3ULWRLGFAY5S6Q5HRIKXGC42E6S6ETTAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O6IFBGXFEIDVMDI7I4NBEDWDQVT47FB2VGOZ56H6DVTLA5TE3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMRQBVOBUUB4AYWZCWWSODPOWK7QVBPUSPUWVSUELF2KPD4C7H7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
[...]
