{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-09-06",
        "endpointPrefix": "cleanrooms-ml",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "cleanrooms-ml",
        "serviceId": "CleanRoomsML",
        "signatureVersion": "v4",
        "signingName": "cleanrooms-ml",
        "uid": "cleanroomsml-2023-09-06",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LTE5ZPXNTLU43ULRF53FMB2CTSADWVOOGIGO2IDRY5ALWCH6AATA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateAudienceModel": {
            "http": {
                "requestUri": "/audience-model",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "trainingDatasetArn"
                ],
                "members": {
                    "trainingDataStartTime": {
                        "shape": "S2"
                    },
                    "trainingDataEndTime": {
                        "shape": "S2"
                    },
                    "name": {},
                    "trainingDatasetArn": {},
                    "kmsKeyArn": {},
                    "tags": {
                        "shape": "S6"
                    },
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "audienceModelArn"
                ],
                "members": {
                    "audienceModelArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateConfiguredAudienceModel": {
            "http": {
                "requestUri": "/configured-audience-model",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "audienceModelArn",
                    "outputConfig",
                    "sharedAudienceMetrics"
                ],
                "members": {
                    "name": {},
                    "audienceModelArn": {},
                    "outputConfig": {
                        "shape": "Sd"
                    },
                    "description": {},
                    "sharedAudienceMetrics": {
                        "shape": "Si"
                    },
                    "minimumSeedSize": {
                        "type": "integer"
                    },
                    "audienceSizeConfig": {
                        "shape": "Sl"
                    },
                    "tags": {
                        "shape": "S6"
                    },
                    "childResourceTagOnCreatePolicy": {},
                    "minMatchingSeedSize": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateTrainingDataset": {
            "http": {
                "requestUri": "/training-dataset",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "roleArn",
                    "trainingData"
                ],
                "members": {
                    "name": {},
                    "roleArn": {},
                    "trainingData": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    },
                    "tags": {
                        "shape": "S6"
                    },
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "trainingDatasetArn"
                ],
                "members": {
                    "trainingDatasetArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteAudienceGenerationJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/audience-generation-job/{audienceGenerationJobArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "audienceGenerationJobArn"
                ],
                "members": {
                    "audienceGenerationJobArn": {
                        "location": "uri",
                        "locationName": "audienceGenerationJobArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteAudienceModel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/audience-model/{audienceModelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "audienceModelArn"
                ],
                "members": {
                    "audienceModelArn": {
                        "location": "uri",
                        "locationName": "audienceModelArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteConfiguredAudienceModel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteConfiguredAudienceModelPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteTrainingDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/training-dataset/{trainingDatasetArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "trainingDatasetArn"
                ],
                "members": {
                    "trainingDatasetArn": {
                        "location": "uri",
                        "locationName": "trainingDatasetArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetAudienceGenerationJob": {
            "http": {
                "method": "GET",
                "requestUri": "/audience-generation-job/{audienceGenerationJobArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "audienceGenerationJobArn"
                ],
                "members": {
                    "audienceGenerationJobArn": {
                        "location": "uri",
                        "locationName": "audienceGenerationJobArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createTime",
                    "updateTime",
                    "audienceGenerationJobArn",
                    "name",
                    "status",
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "createTime": {
                        "shape": "S2"
                    },
                    "updateTime": {
                        "shape": "S2"
                    },
                    "audienceGenerationJobArn": {},
                    "name": {},
                    "description": {},
                    "status": {},
                    "statusDetails": {
                        "shape": "S1h"
                    },
                    "configuredAudienceModelArn": {},
                    "seedAudience": {
                        "shape": "S1j"
                    },
                    "includeSeedInOutput": {
                        "type": "boolean"
                    },
                    "collaborationId": {},
                    "metrics": {
                        "type": "structure",
                        "required": [
                            "relevanceMetrics"
                        ],
                        "members": {
                            "relevanceMetrics": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "audienceSize"
                                    ],
                                    "members": {
                                        "audienceSize": {
                                            "shape": "S1p"
                                        },
                                        "score": {
                                            "type": "double"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "startedBy": {},
                    "tags": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetAudienceModel": {
            "http": {
                "method": "GET",
                "requestUri": "/audience-model/{audienceModelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "audienceModelArn"
                ],
                "members": {
                    "audienceModelArn": {
                        "location": "uri",
                        "locationName": "audienceModelArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createTime",
                    "updateTime",
                    "audienceModelArn",
                    "name",
                    "trainingDatasetArn",
                    "status"
                ],
                "members": {
                    "createTime": {
                        "shape": "S2"
                    },
                    "updateTime": {
                        "shape": "S2"
                    },
                    "trainingDataStartTime": {
                        "shape": "S2"
                    },
                    "trainingDataEndTime": {
                        "shape": "S2"
                    },
                    "audienceModelArn": {},
                    "name": {},
                    "trainingDatasetArn": {},
                    "status": {},
                    "statusDetails": {
                        "shape": "S1h"
                    },
                    "metrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "type",
                                "forTopKItemPredictions",
                                "value"
                            ],
                            "members": {
                                "type": {},
                                "forTopKItemPredictions": {
                                    "type": "integer"
                                },
                                "value": {
                                    "type": "double"
                                }
                            }
                        }
                    },
                    "kmsKeyArn": {},
                    "tags": {
                        "shape": "S6"
                    },
                    "description": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetConfiguredAudienceModel": {
            "http": {
                "method": "GET",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createTime",
                    "updateTime",
                    "configuredAudienceModelArn",
                    "name",
                    "audienceModelArn",
                    "outputConfig",
                    "status",
                    "sharedAudienceMetrics"
                ],
                "members": {
                    "createTime": {
                        "shape": "S2"
                    },
                    "updateTime": {
                        "shape": "S2"
                    },
                    "configuredAudienceModelArn": {},
                    "name": {},
                    "audienceModelArn": {},
                    "outputConfig": {
                        "shape": "Sd"
                    },
                    "description": {},
                    "status": {},
                    "sharedAudienceMetrics": {
                        "shape": "Si"
                    },
                    "minimumSeedSize": {
                        "type": "integer"
                    },
                    "audienceSizeConfig": {
                        "shape": "Sl"
                    },
                    "tags": {
                        "shape": "S6"
                    },
                    "childResourceTagOnCreatePolicy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetConfiguredAudienceModelPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn",
                    "configuredAudienceModelPolicy",
                    "policyHash"
                ],
                "members": {
                    "configuredAudienceModelArn": {},
                    "configuredAudienceModelPolicy": {},
                    "policyHash": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetTrainingDataset": {
            "http": {
                "method": "GET",
                "requestUri": "/training-dataset/{trainingDatasetArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "trainingDatasetArn"
                ],
                "members": {
                    "trainingDatasetArn": {
                        "location": "uri",
                        "locationName": "trainingDatasetArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createTime",
                    "updateTime",
                    "trainingDatasetArn",
                    "name",
                    "trainingData",
                    "status",
                    "roleArn"
                ],
                "members": {
                    "createTime": {
                        "shape": "S2"
                    },
                    "updateTime": {
                        "shape": "S2"
                    },
                    "trainingDatasetArn": {},
                    "name": {},
                    "trainingData": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    },
                    "status": {},
                    "roleArn": {},
                    "tags": {
                        "shape": "S6"
                    },
                    "description": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListAudienceExportJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/audience-export-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "audienceGenerationJobArn": {
                        "location": "querystring",
                        "locationName": "audienceGenerationJobArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "audienceExportJobs"
                ],
                "members": {
                    "nextToken": {},
                    "audienceExportJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createTime",
                                "updateTime",
                                "name",
                                "audienceGenerationJobArn",
                                "audienceSize",
                                "status"
                            ],
                            "members": {
                                "createTime": {
                                    "shape": "S2"
                                },
                                "updateTime": {
                                    "shape": "S2"
                                },
                                "name": {},
                                "audienceGenerationJobArn": {},
                                "audienceSize": {
                                    "shape": "S1p"
                                },
                                "description": {},
                                "status": {},
                                "statusDetails": {
                                    "shape": "S1h"
                                },
                                "outputLocation": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListAudienceGenerationJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/audience-generation-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "configuredAudienceModelArn": {
                        "location": "querystring",
                        "locationName": "configuredAudienceModelArn"
                    },
                    "collaborationId": {
                        "location": "querystring",
                        "locationName": "collaborationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "audienceGenerationJobs"
                ],
                "members": {
                    "nextToken": {},
                    "audienceGenerationJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createTime",
                                "updateTime",
                                "audienceGenerationJobArn",
                                "name",
                                "status",
                                "configuredAudienceModelArn"
                            ],
                            "members": {
                                "createTime": {
                                    "shape": "S2"
                                },
                                "updateTime": {
                                    "shape": "S2"
                                },
                                "audienceGenerationJobArn": {},
                                "name": {},
                                "description": {},
                                "status": {},
                                "configuredAudienceModelArn": {},
                                "collaborationId": {},
                                "startedBy": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListAudienceModels": {
            "http": {
                "method": "GET",
                "requestUri": "/audience-model",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "audienceModels"
                ],
                "members": {
                    "nextToken": {},
                    "audienceModels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createTime",
                                "updateTime",
                                "audienceModelArn",
                                "name",
                                "trainingDatasetArn",
                                "status"
                            ],
                            "members": {
                                "createTime": {
                                    "shape": "S2"
                                },
                                "updateTime": {
                                    "shape": "S2"
                                },
                                "audienceModelArn": {},
                                "name": {},
                                "trainingDatasetArn": {},
                                "status": {},
                                "description": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListConfiguredAudienceModels": {
            "http": {
                "method": "GET",
                "requestUri": "/configured-audience-model",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredAudienceModels"
                ],
                "members": {
                    "nextToken": {},
                    "configuredAudienceModels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createTime",
                                "updateTime",
                                "name",
                                "audienceModelArn",
                                "outputConfig",
                                "configuredAudienceModelArn",
                                "status"
                            ],
                            "members": {
                                "createTime": {
                                    "shape": "S2"
                                },
                                "updateTime": {
                                    "shape": "S2"
                                },
                                "name": {},
                                "audienceModelArn": {},
                                "outputConfig": {
                                    "shape": "Sd"
                                },
                                "description": {},
                                "configuredAudienceModelArn": {},
                                "status": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tags"
                ],
                "members": {
                    "tags": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTrainingDatasets": {
            "http": {
                "method": "GET",
                "requestUri": "/training-dataset",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "trainingDatasets"
                ],
                "members": {
                    "nextToken": {},
                    "trainingDatasets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createTime",
                                "updateTime",
                                "trainingDatasetArn",
                                "name",
                                "status"
                            ],
                            "members": {
                                "createTime": {
                                    "shape": "S2"
                                },
                                "updateTime": {
                                    "shape": "S2"
                                },
                                "trainingDatasetArn": {},
                                "name": {},
                                "status": {},
                                "description": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "PutConfiguredAudienceModelPolicy": {
            "http": {
                "method": "PUT",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn",
                    "configuredAudienceModelPolicy"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    },
                    "configuredAudienceModelPolicy": {},
                    "previousPolicyHash": {},
                    "policyExistenceCondition": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelPolicy",
                    "policyHash"
                ],
                "members": {
                    "configuredAudienceModelPolicy": {},
                    "policyHash": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "StartAudienceExportJob": {
            "http": {
                "requestUri": "/audience-export-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "audienceGenerationJobArn",
                    "audienceSize"
                ],
                "members": {
                    "name": {},
                    "audienceGenerationJobArn": {},
                    "audienceSize": {
                        "shape": "S1p"
                    },
                    "description": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IXE5GXN2XL3ABTAR2LNDLOGBAWSEHV6I7QSMS2GX66WOBLDMTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWFEWNDH7QETGAJ3SXKQGDV7XYRJSWEOTZ2ENTYZO2O4ZMZM32XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOR2B6PZELY5NRS4BT4PMHM6PHG23CIQRIBZZA2NGP4PMLYLELPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOJZCSOOTQ2WTSXS7UPEFZUQNZBUXEQLDYT5BAY355ALNFHX74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSCHECROZF4G4ROMWEIL5IKUAQYOUJKHDZVUIJTTV4EO6RD3T4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLJLSNBGJYNWPPGJWPTTU6E3OVHDHHLZJVCZ5M3GCDFIL2UBZR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WNPUPUQXV64ABY6IP53H3B2MZE4TJ6ZYDPXEQL2BIOLMGIGICGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7HHDDNR35WEY5P3WMYTZVIB7DTG7EN4VW3IPE2DHJBM2C2Q7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/462Q3IQQAD6O5RMOHCMS7P6DFT6ZGQ2QA4MY4I3MVMF2IPLVXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXYKMECIJJ4YZJ4INNFR6MX5OERIBZH2ALZ5R5CNBTVWMTBGZXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZT2ZAQ6KHOLQPUDCEG37Y6Q7YDLLEV47GQAUQW72HOV7FAPV3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUVVIGG4AXGLMAH5L6CXXKZTFJYJXTDYIWDXUELPKDT6QTLODOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2WXXAI4TDKGDTA6ZGFKU6T6HCQRC3M3QGWQE5IZB452D3466XWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILT7WOF3ZB5CA4NID4Q3V63ITSU2OXCFHW3EXWWJB7C7QTPE5OEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USBEEW5VTZCQBNEB6EH4RJXK3BW36XGF4V4KXLNQ6ZFP4E3XKPSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQDK2F4EPC2MWIA563L7SFJMCCBYOQPPMJFZCUEQKK5AX7T6IYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YICOIU2LSR25ABEZHAAOSW3UA5VMUAKR4R37CJ5KCQW64WHWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
[...]
