{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2024-04-03",
        "endpointPrefix": "cleanrooms-ml",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "serviceFullName": "AWS Clean Rooms ML",
        "serviceId": "CleanRoomsML",
        "signatureVersion": "v4",
        "signingName": "cleanrooms-ml",
        "uid": "cleanroomsml-2024-04-03",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PPZN5QYMR6RDDF5PAI6MLHNDSLE3IPZOA235FQW53DUVVJONDKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z4IUG22WMDOAJV4V2VIZR6MD5MNMKY5CV4BWVUEDBYD76JRQWVRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F6CAYYE32HKJY5OXVJW4DAGRF5HIZPO2VH7RIWNMSS2XG2M5N7LQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YJMS4NC3M3T6AOEWH3MJSX63FHNY37OUXHL35WSZMRLSYGQBO4AQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P7BXAOH3M2BCHJBIR3NYSA4QGHBXT3Q2KTZWD64XX3SACNGZ3PEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6RQRY4HAZUL3ZHOPOYD4KQVW434JYEWD5D52CMK3OFOKQC6JRNXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OSA3WIDWVEOXRLCTQMALBKN2QBW3YZY472A7JUVXUV6C2MHKKVXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQOWFCFE32SK37VMRRST6ZAYIFTFGHUEMNQCPLSUI3D7MCPUWVMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EDOKBRACUXO3KVZAOAXBTYLZLE5MJRV5JLBWIEPDR3TF2KJSHBOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5RIWK5L3M5DYSO7LBQOH7X6PTJKCSBDGJL6MVLX4GRPOKBTGM43Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XYGU3C2YTAUVHPFEW2YU5AW5C35FJYANEWMK2X6PSITDH4TWOQBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BQATG6U7TIFDEFYREN6UPEGWLLCNRW67FF7NGMB4UM6RGL73IG4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J5DRYWSSTYPC4NR3WZWZ2MEHXWFE2PHLZICTI2QOZILESWC5VRSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XMOIYXAMKYYAJVHQNG4CWDYFC6UQJWN7DCIUA2WFOT5GH2EQV3GQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JDK7LL52BU2SVALAR2Z5SOFSEKGQVJ4AEVNHS2O7YLFWY2SFU7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P4JYV76QRU5LYBCOFBSTI5R3YWNT2B4CP7G2FVHODV27RZ2O4CRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IYIKMC3FH462O7IRT5CD7CFZUEQZVMIBYRGBOBUXRTFCGFLVPVGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HSITLZUK4VFWG4NHHYBORFWMQEAKKSXANFUAPDWJZO3T62GS6WQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NWVPO5QVND6XRLA3WFV6RE4EQQHCHJJIPW3IQW5WEFFAZ2GXF33A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X55QWTQ3I4KZPERWLUIBO5IBBT63SQKXVXY664ZUIFFT3RTDKCKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E55KBGRV7RDB3FEBMYONDSVFI7G44T6YMU7WLKRTN3MLXDOZLWCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3P32H63B66TQRAVN5UZTDL4HKROF7XDZBJZ3JYM7X72TW36NKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js"
        ]
    },
    "operations": {
        "CreateAudienceModel": {
            "http": {
                "requestUri": "/audience-model",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "trainingDatasetArn"
                ],
                "members": {
                    "trainingDataStartTime": {
                        "shape": "S2"
                    },
                    "trainingDataEndTime": {
                        "shape": "S2"
                    },
                    "name": {},
                    "trainingDatasetArn": {},
                    "kmsKeyArn": {},
                    "tags": {
                        "shape": "S6"
                    },
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "audienceModelArn"
                ],
                "members": {
                    "audienceModelArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4IUG22WMDOAJV4V2VIZR6MD5MNMKY5CV4BWVUEDBYD76JRQWVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6CAYYE32HKJY5OXVJW4DAGRF5HIZPO2VH7RIWNMSS2XG2M5N7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJMS4NC3M3T6AOEWH3MJSX63FHNY37OUXHL35WSZMRLSYGQBO4AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7BXAOH3M2BCHJBIR3NYSA4QGHBXT3Q2KTZWD64XX3SACNGZ3PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RQRY4HAZUL3ZHOPOYD4KQVW434JYEWD5D52CMK3OFOKQC6JRNXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSA3WIDWVEOXRLCTQMALBKN2QBW3YZY472A7JUVXUV6C2MHKKVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQOWFCFE32SK37VMRRST6ZAYIFTFGHUEMNQCPLSUI3D7MCPUWVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDOKBRACUXO3KVZAOAXBTYLZLE5MJRV5JLBWIEPDR3TF2KJSHBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RIWK5L3M5DYSO7LBQOH7X6PTJKCSBDGJL6MVLX4GRPOKBTGM43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYGU3C2YTAUVHPFEW2YU5AW5C35FJYANEWMK2X6PSITDH4TWOQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQATG6U7TIFDEFYREN6UPEGWLLCNRW67FF7NGMB4UM6RGL73IG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5DRYWSSTYPC4NR3WZWZ2MEHXWFE2PHLZICTI2QOZILESWC5VRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMOIYXAMKYYAJVHQNG4CWDYFC6UQJWN7DCIUA2WFOT5GH2EQV3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JDK7LL52BU2SVALAR2Z5SOFSEKGQVJ4AEVNHS2O7YLFWY2SFU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4JYV76QRU5LYBCOFBSTI5R3YWNT2B4CP7G2FVHODV27RZ2O4CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYIKMC3FH462O7IRT5CD7CFZUEQZVMIBYRGBOBUXRTFCGFLVPVGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HSITLZUK4VFWG4NHHYBORFWMQEAKKSXANFUAPDWJZO3T62GS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWVPO5QVND6XRLA3WFV6RE4EQQHCHJJIPW3IQW5WEFFAZ2GXF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55QWTQ3I4KZPERWLUIBO5IBBT63SQKXVXY664ZUIFFT3RTDKCKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55KBGRV7RDB3FEBMYONDSVFI7G44T6YMU7WLKRTN3MLXDOZLWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3P32H63B66TQRAVN5UZTDL4HKROF7XDZBJZ3JYM7X72TW36NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js"
            ]
        },
        "CreateConfiguredAudienceModel": {
            "http": {
                "requestUri": "/configured-audience-model",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "audienceModelArn",
                    "outputConfig",
                    "sharedAudienceMetrics"
                ],
                "members": {
                    "name": {},
                    "audienceModelArn": {},
                    "outputConfig": {
                        "shape": "Sd"
                    },
                    "description": {},
                    "sharedAudienceMetrics": {
                        "shape": "Si"
                    },
                    "minMatchingSeedSize": {
                        "type": "integer"
                    },
                    "audienceSizeConfig": {
                        "shape": "Sl"
                    },
                    "tags": {
                        "shape": "S6"
                    },
                    "childResourceTagOnCreatePolicy": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4IUG22WMDOAJV4V2VIZR6MD5MNMKY5CV4BWVUEDBYD76JRQWVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6CAYYE32HKJY5OXVJW4DAGRF5HIZPO2VH7RIWNMSS2XG2M5N7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJMS4NC3M3T6AOEWH3MJSX63FHNY37OUXHL35WSZMRLSYGQBO4AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7BXAOH3M2BCHJBIR3NYSA4QGHBXT3Q2KTZWD64XX3SACNGZ3PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RQRY4HAZUL3ZHOPOYD4KQVW434JYEWD5D52CMK3OFOKQC6JRNXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSA3WIDWVEOXRLCTQMALBKN2QBW3YZY472A7JUVXUV6C2MHKKVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQOWFCFE32SK37VMRRST6ZAYIFTFGHUEMNQCPLSUI3D7MCPUWVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDOKBRACUXO3KVZAOAXBTYLZLE5MJRV5JLBWIEPDR3TF2KJSHBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RIWK5L3M5DYSO7LBQOH7X6PTJKCSBDGJL6MVLX4GRPOKBTGM43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYGU3C2YTAUVHPFEW2YU5AW5C35FJYANEWMK2X6PSITDH4TWOQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQATG6U7TIFDEFYREN6UPEGWLLCNRW67FF7NGMB4UM6RGL73IG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5DRYWSSTYPC4NR3WZWZ2MEHXWFE2PHLZICTI2QOZILESWC5VRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMOIYXAMKYYAJVHQNG4CWDYFC6UQJWN7DCIUA2WFOT5GH2EQV3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JDK7LL52BU2SVALAR2Z5SOFSEKGQVJ4AEVNHS2O7YLFWY2SFU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4JYV76QRU5LYBCOFBSTI5R3YWNT2B4CP7G2FVHODV27RZ2O4CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYIKMC3FH462O7IRT5CD7CFZUEQZVMIBYRGBOBUXRTFCGFLVPVGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HSITLZUK4VFWG4NHHYBORFWMQEAKKSXANFUAPDWJZO3T62GS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWVPO5QVND6XRLA3WFV6RE4EQQHCHJJIPW3IQW5WEFFAZ2GXF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55QWTQ3I4KZPERWLUIBO5IBBT63SQKXVXY664ZUIFFT3RTDKCKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55KBGRV7RDB3FEBMYONDSVFI7G44T6YMU7WLKRTN3MLXDOZLWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3P32H63B66TQRAVN5UZTDL4HKROF7XDZBJZ3JYM7X72TW36NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js"
            ]
        },
        "CreateTrainingDataset": {
            "http": {
                "requestUri": "/training-dataset",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "roleArn",
                    "trainingData"
                ],
                "members": {
                    "name": {},
                    "roleArn": {},
                    "trainingData": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    },
                    "tags": {
                        "shape": "S6"
                    },
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "trainingDatasetArn"
                ],
                "members": {
                    "trainingDatasetArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4IUG22WMDOAJV4V2VIZR6MD5MNMKY5CV4BWVUEDBYD76JRQWVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6CAYYE32HKJY5OXVJW4DAGRF5HIZPO2VH7RIWNMSS2XG2M5N7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJMS4NC3M3T6AOEWH3MJSX63FHNY37OUXHL35WSZMRLSYGQBO4AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7BXAOH3M2BCHJBIR3NYSA4QGHBXT3Q2KTZWD64XX3SACNGZ3PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RQRY4HAZUL3ZHOPOYD4KQVW434JYEWD5D52CMK3OFOKQC6JRNXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSA3WIDWVEOXRLCTQMALBKN2QBW3YZY472A7JUVXUV6C2MHKKVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQOWFCFE32SK37VMRRST6ZAYIFTFGHUEMNQCPLSUI3D7MCPUWVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDOKBRACUXO3KVZAOAXBTYLZLE5MJRV5JLBWIEPDR3TF2KJSHBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RIWK5L3M5DYSO7LBQOH7X6PTJKCSBDGJL6MVLX4GRPOKBTGM43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYGU3C2YTAUVHPFEW2YU5AW5C35FJYANEWMK2X6PSITDH4TWOQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQATG6U7TIFDEFYREN6UPEGWLLCNRW67FF7NGMB4UM6RGL73IG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5DRYWSSTYPC4NR3WZWZ2MEHXWFE2PHLZICTI2QOZILESWC5VRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMOIYXAMKYYAJVHQNG4CWDYFC6UQJWN7DCIUA2WFOT5GH2EQV3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JDK7LL52BU2SVALAR2Z5SOFSEKGQVJ4AEVNHS2O7YLFWY2SFU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4JYV76QRU5LYBCOFBSTI5R3YWNT2B4CP7G2FVHODV27RZ2O4CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYIKMC3FH462O7IRT5CD7CFZUEQZVMIBYRGBOBUXRTFCGFLVPVGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HSITLZUK4VFWG4NHHYBORFWMQEAKKSXANFUAPDWJZO3T62GS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWVPO5QVND6XRLA3WFV6RE4EQQHCHJJIPW3IQW5WEFFAZ2GXF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55QWTQ3I4KZPERWLUIBO5IBBT63SQKXVXY664ZUIFFT3RTDKCKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55KBGRV7RDB3FEBMYONDSVFI7G44T6YMU7WLKRTN3MLXDOZLWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3P32H63B66TQRAVN5UZTDL4HKROF7XDZBJZ3JYM7X72TW36NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js"
            ]
        },
        "DeleteAudienceGenerationJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/audience-generation-job/{audienceGenerationJobArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "audienceGenerationJobArn"
                ],
                "members": {
                    "audienceGenerationJobArn": {
                        "location": "uri",
                        "locationName": "audienceGenerationJobArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4IUG22WMDOAJV4V2VIZR6MD5MNMKY5CV4BWVUEDBYD76JRQWVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6CAYYE32HKJY5OXVJW4DAGRF5HIZPO2VH7RIWNMSS2XG2M5N7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJMS4NC3M3T6AOEWH3MJSX63FHNY37OUXHL35WSZMRLSYGQBO4AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7BXAOH3M2BCHJBIR3NYSA4QGHBXT3Q2KTZWD64XX3SACNGZ3PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RQRY4HAZUL3ZHOPOYD4KQVW434JYEWD5D52CMK3OFOKQC6JRNXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSA3WIDWVEOXRLCTQMALBKN2QBW3YZY472A7JUVXUV6C2MHKKVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQOWFCFE32SK37VMRRST6ZAYIFTFGHUEMNQCPLSUI3D7MCPUWVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDOKBRACUXO3KVZAOAXBTYLZLE5MJRV5JLBWIEPDR3TF2KJSHBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RIWK5L3M5DYSO7LBQOH7X6PTJKCSBDGJL6MVLX4GRPOKBTGM43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYGU3C2YTAUVHPFEW2YU5AW5C35FJYANEWMK2X6PSITDH4TWOQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQATG6U7TIFDEFYREN6UPEGWLLCNRW67FF7NGMB4UM6RGL73IG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5DRYWSSTYPC4NR3WZWZ2MEHXWFE2PHLZICTI2QOZILESWC5VRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMOIYXAMKYYAJVHQNG4CWDYFC6UQJWN7DCIUA2WFOT5GH2EQV3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JDK7LL52BU2SVALAR2Z5SOFSEKGQVJ4AEVNHS2O7YLFWY2SFU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4JYV76QRU5LYBCOFBSTI5R3YWNT2B4CP7G2FVHODV27RZ2O4CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYIKMC3FH462O7IRT5CD7CFZUEQZVMIBYRGBOBUXRTFCGFLVPVGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HSITLZUK4VFWG4NHHYBORFWMQEAKKSXANFUAPDWJZO3T62GS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWVPO5QVND6XRLA3WFV6RE4EQQHCHJJIPW3IQW5WEFFAZ2GXF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55QWTQ3I4KZPERWLUIBO5IBBT63SQKXVXY664ZUIFFT3RTDKCKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55KBGRV7RDB3FEBMYONDSVFI7G44T6YMU7WLKRTN3MLXDOZLWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3P32H63B66TQRAVN5UZTDL4HKROF7XDZBJZ3JYM7X72TW36NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js"
            ]
        },
        "DeleteAudienceModel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/audience-model/{audienceModelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "audienceModelArn"
                ],
                "members": {
                    "audienceModelArn": {
                        "location": "uri",
                        "locationName": "audienceModelArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4IUG22WMDOAJV4V2VIZR6MD5MNMKY5CV4BWVUEDBYD76JRQWVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6CAYYE32HKJY5OXVJW4DAGRF5HIZPO2VH7RIWNMSS2XG2M5N7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJMS4NC3M3T6AOEWH3MJSX63FHNY37OUXHL35WSZMRLSYGQBO4AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7BXAOH3M2BCHJBIR3NYSA4QGHBXT3Q2KTZWD64XX3SACNGZ3PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RQRY4HAZUL3ZHOPOYD4KQVW434JYEWD5D52CMK3OFOKQC6JRNXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSA3WIDWVEOXRLCTQMALBKN2QBW3YZY472A7JUVXUV6C2MHKKVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQOWFCFE32SK37VMRRST6ZAYIFTFGHUEMNQCPLSUI3D7MCPUWVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDOKBRACUXO3KVZAOAXBTYLZLE5MJRV5JLBWIEPDR3TF2KJSHBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RIWK5L3M5DYSO7LBQOH7X6PTJKCSBDGJL6MVLX4GRPOKBTGM43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYGU3C2YTAUVHPFEW2YU5AW5C35FJYANEWMK2X6PSITDH4TWOQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQATG6U7TIFDEFYREN6UPEGWLLCNRW67FF7NGMB4UM6RGL73IG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5DRYWSSTYPC4NR3WZWZ2MEHXWFE2PHLZICTI2QOZILESWC5VRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMOIYXAMKYYAJVHQNG4CWDYFC6UQJWN7DCIUA2WFOT5GH2EQV3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JDK7LL52BU2SVALAR2Z5SOFSEKGQVJ4AEVNHS2O7YLFWY2SFU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4JYV76QRU5LYBCOFBSTI5R3YWNT2B4CP7G2FVHODV27RZ2O4CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYIKMC3FH462O7IRT5CD7CFZUEQZVMIBYRGBOBUXRTFCGFLVPVGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HSITLZUK4VFWG4NHHYBORFWMQEAKKSXANFUAPDWJZO3T62GS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWVPO5QVND6XRLA3WFV6RE4EQQHCHJJIPW3IQW5WEFFAZ2GXF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55QWTQ3I4KZPERWLUIBO5IBBT63SQKXVXY664ZUIFFT3RTDKCKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55KBGRV7RDB3FEBMYONDSVFI7G44T6YMU7WLKRTN3MLXDOZLWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3P32H63B66TQRAVN5UZTDL4HKROF7XDZBJZ3JYM7X72TW36NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js"
            ]
        },
        "DeleteConfiguredAudienceModel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4IUG22WMDOAJV4V2VIZR6MD5MNMKY5CV4BWVUEDBYD76JRQWVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6CAYYE32HKJY5OXVJW4DAGRF5HIZPO2VH7RIWNMSS2XG2M5N7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJMS4NC3M3T6AOEWH3MJSX63FHNY37OUXHL35WSZMRLSYGQBO4AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7BXAOH3M2BCHJBIR3NYSA4QGHBXT3Q2KTZWD64XX3SACNGZ3PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RQRY4HAZUL3ZHOPOYD4KQVW434JYEWD5D52CMK3OFOKQC6JRNXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSA3WIDWVEOXRLCTQMALBKN2QBW3YZY472A7JUVXUV6C2MHKKVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQOWFCFE32SK37VMRRST6ZAYIFTFGHUEMNQCPLSUI3D7MCPUWVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDOKBRACUXO3KVZAOAXBTYLZLE5MJRV5JLBWIEPDR3TF2KJSHBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RIWK5L3M5DYSO7LBQOH7X6PTJKCSBDGJL6MVLX4GRPOKBTGM43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYGU3C2YTAUVHPFEW2YU5AW5C35FJYANEWMK2X6PSITDH4TWOQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQATG6U7TIFDEFYREN6UPEGWLLCNRW67FF7NGMB4UM6RGL73IG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5DRYWSSTYPC4NR3WZWZ2MEHXWFE2PHLZICTI2QOZILESWC5VRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMOIYXAMKYYAJVHQNG4CWDYFC6UQJWN7DCIUA2WFOT5GH2EQV3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JDK7LL52BU2SVALAR2Z5SOFSEKGQVJ4AEVNHS2O7YLFWY2SFU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4JYV76QRU5LYBCOFBSTI5R3YWNT2B4CP7G2FVHODV27RZ2O4CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYIKMC3FH462O7IRT5CD7CFZUEQZVMIBYRGBOBUXRTFCGFLVPVGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HSITLZUK4VFWG4NHHYBORFWMQEAKKSXANFUAPDWJZO3T62GS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWVPO5QVND6XRLA3WFV6RE4EQQHCHJJIPW3IQW5WEFFAZ2GXF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55QWTQ3I4KZPERWLUIBO5IBBT63SQKXVXY664ZUIFFT3RTDKCKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55KBGRV7RDB3FEBMYONDSVFI7G44T6YMU7WLKRTN3MLXDOZLWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3P32H63B66TQRAVN5UZTDL4HKROF7XDZBJZ3JYM7X72TW36NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js"
            ]
        },
        "DeleteConfiguredAudienceModelPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4IUG22WMDOAJV4V2VIZR6MD5MNMKY5CV4BWVUEDBYD76JRQWVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6CAYYE32HKJY5OXVJW4DAGRF5HIZPO2VH7RIWNMSS2XG2M5N7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJMS4NC3M3T6AOEWH3MJSX63FHNY37OUXHL35WSZMRLSYGQBO4AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7BXAOH3M2BCHJBIR3NYSA4QGHBXT3Q2KTZWD64XX3SACNGZ3PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RQRY4HAZUL3ZHOPOYD4KQVW434JYEWD5D52CMK3OFOKQC6JRNXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSA3WIDWVEOXRLCTQMALBKN2QBW3YZY472A7JUVXUV6C2MHKKVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQOWFCFE32SK37VMRRST6ZAYIFTFGHUEMNQCPLSUI3D7MCPUWVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDOKBRACUXO3KVZAOAXBTYLZLE5MJRV5JLBWIEPDR3TF2KJSHBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RIWK5L3M5DYSO7LBQOH7X6PTJKCSBDGJL6MVLX4GRPOKBTGM43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYGU3C2YTAUVHPFEW2YU5AW5C35FJYANEWMK2X6PSITDH4TWOQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQATG6U7TIFDEFYREN6UPEGWLLCNRW67FF7NGMB4UM6RGL73IG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5DRYWSSTYPC4NR3WZWZ2MEHXWFE2PHLZICTI2QOZILESWC5VRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMOIYXAMKYYAJVHQNG4CWDYFC6UQJWN7DCIUA2WFOT5GH2EQV3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JDK7LL52BU2SVALAR2Z5SOFSEKGQVJ4AEVNHS2O7YLFWY2SFU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4JYV76QRU5LYBCOFBSTI5R3YWNT2B4CP7G2FVHODV27RZ2O4CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYIKMC3FH462O7IRT5CD7CFZUEQZVMIBYRGBOBUXRTFCGFLVPVGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HSITLZUK4VFWG4NHHYBORFWMQEAKKSXANFUAPDWJZO3T62GS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWVPO5QVND6XRLA3WFV6RE4EQQHCHJJIPW3IQW5WEFFAZ2GXF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55QWTQ3I4KZPERWLUIBO5IBBT63SQKXVXY664ZUIFFT3RTDKCKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55KBGRV7RDB3FEBMYONDSVFI7G44T6YMU7WLKRTN3MLXDOZLWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3P32H63B66TQRAVN5UZTDL4HKROF7XDZBJZ3JYM7X72TW36NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js"
            ]
        },
        "DeleteTrainingDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/training-dataset/{trainingDatasetArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "trainingDatasetArn"
                ],
                "members": {
                    "trainingDatasetArn": {
                        "location": "uri",
                        "locationName": "trainingDatasetArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4IUG22WMDOAJV4V2VIZR6MD5MNMKY5CV4BWVUEDBYD76JRQWVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6CAYYE32HKJY5OXVJW4DAGRF5HIZPO2VH7RIWNMSS2XG2M5N7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJMS4NC3M3T6AOEWH3MJSX63FHNY37OUXHL35WSZMRLSYGQBO4AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7BXAOH3M2BCHJBIR3NYSA4QGHBXT3Q2KTZWD64XX3SACNGZ3PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RQRY4HAZUL3ZHOPOYD4KQVW434JYEWD5D52CMK3OFOKQC6JRNXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSA3WIDWVEOXRLCTQMALBKN2QBW3YZY472A7JUVXUV6C2MHKKVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQOWFCFE32SK37VMRRST6ZAYIFTFGHUEMNQCPLSUI3D7MCPUWVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDOKBRACUXO3KVZAOAXBTYLZLE5MJRV5JLBWIEPDR3TF2KJSHBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RIWK5L3M5DYSO7LBQOH7X6PTJKCSBDGJL6MVLX4GRPOKBTGM43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYGU3C2YTAUVHPFEW2YU5AW5C35FJYANEWMK2X6PSITDH4TWOQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQATG6U7TIFDEFYREN6UPEGWLLCNRW67FF7NGMB4UM6RGL73IG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5DRYWSSTYPC4NR3WZWZ2MEHXWFE2PHLZICTI2QOZILESWC5VRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMOIYXAMKYYAJVHQNG4CWDYFC6UQJWN7DCIUA2WFOT5GH2EQV3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JDK7LL52BU2SVALAR2Z5SOFSEKGQVJ4AEVNHS2O7YLFWY2SFU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4JYV76QRU5LYBCOFBSTI5R3YWNT2B4CP7G2FVHODV27RZ2O4CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYIKMC3FH462O7IRT5CD7CFZUEQZVMIBYRGBOBUXRTFCGFLVPVGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HSITLZUK4VFWG4NHHYBORFWMQEAKKSXANFUAPDWJZO3T62GS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWVPO5QVND6XRLA3WFV6RE4EQQHCHJJIPW3IQW5WEFFAZ2GXF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55QWTQ3I4KZPERWLUIBO5IBBT63SQKXVXY664ZUIFFT3RTDKCKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55KBGRV7RDB3FEBMYONDSVFI7G44T6YMU7WLKRTN3MLXDOZLWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3P32H63B66TQRAVN5UZTDL4HKROF7XDZBJZ3JYM7X72TW36NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js"
            ]
        },
        "GetAudienceGenerationJob": {
            "http": {
                "method": "GET",
                "requestUri": "/audience-generation-job/{audienceGenerationJobArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "audienceGenerationJobArn"
                ],
                "members": {
                    "audienceGenerationJobArn": {
                        "location": "uri",
                        "locationName": "audienceGenerationJobArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createTime",
                    "updateTime",
                    "audienceGenerationJobArn",
                    "name",
                    "status",
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "createTime": {
                        "shape": "S2"
                    },
                    "updateTime": {
                        "shape": "S2"
                    },
                    "audienceGenerationJobArn": {},
                    "name": {},
                    "description": {},
                    "status": {},
                    "statusDetails": {
                        "shape": "S1h"
                    },
                    "configuredAudienceModelArn": {},
                    "seedAudience": {
                        "shape": "S1j"
                    },
                    "includeSeedInOutput": {
                        "type": "boolean"
                    },
                    "collaborationId": {},
                    "metrics": {
                        "type": "structure",
                        "required": [
                            "relevanceMetrics"
                        ],
                        "members": {
                            "relevanceMetrics": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "audienceSize"
                                    ],
                                    "members": {
                                        "audienceSize": {
                                            "shape": "S1v"
                                        },
                                        "score": {
                                            "type": "double"
                                        }
                                    }
                                }
                            },
                            "recallMetric": {
                                "type": "double"
                            }
                        }
                    },
                    "startedBy": {},
                    "tags": {
                        "shape": "S6"
                    },
                    "protectedQueryIdentifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4IUG22WMDOAJV4V2VIZR6MD5MNMKY5CV4BWVUEDBYD76JRQWVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6CAYYE32HKJY5OXVJW4DAGRF5HIZPO2VH7RIWNMSS2XG2M5N7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJMS4NC3M3T6AOEWH3MJSX63FHNY37OUXHL35WSZMRLSYGQBO4AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7BXAOH3M2BCHJBIR3NYSA4QGHBXT3Q2KTZWD64XX3SACNGZ3PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RQRY4HAZUL3ZHOPOYD4KQVW434JYEWD5D52CMK3OFOKQC6JRNXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSA3WIDWVEOXRLCTQMALBKN2QBW3YZY472A7JUVXUV6C2MHKKVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQOWFCFE32SK37VMRRST6ZAYIFTFGHUEMNQCPLSUI3D7MCPUWVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDOKBRACUXO3KVZAOAXBTYLZLE5MJRV5JLBWIEPDR3TF2KJSHBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RIWK5L3M5DYSO7LBQOH7X6PTJKCSBDGJL6MVLX4GRPOKBTGM43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYGU3C2YTAUVHPFEW2YU5AW5C35FJYANEWMK2X6PSITDH4TWOQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQATG6U7TIFDEFYREN6UPEGWLLCNRW67FF7NGMB4UM6RGL73IG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5DRYWSSTYPC4NR3WZWZ2MEHXWFE2PHLZICTI2QOZILESWC5VRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMOIYXAMKYYAJVHQNG4CWDYFC6UQJWN7DCIUA2WFOT5GH2EQV3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JDK7LL52BU2SVALAR2Z5SOFSEKGQVJ4AEVNHS2O7YLFWY2SFU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4JYV76QRU5LYBCOFBSTI5R3YWNT2B4CP7G2FVHODV27RZ2O4CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYIKMC3FH462O7IRT5CD7CFZUEQZVMIBYRGBOBUXRTFCGFLVPVGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HSITLZUK4VFWG4NHHYBORFWMQEAKKSXANFUAPDWJZO3T62GS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWVPO5QVND6XRLA3WFV6RE4EQQHCHJJIPW3IQW5WEFFAZ2GXF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55QWTQ3I4KZPERWLUIBO5IBBT63SQKXVXY664ZUIFFT3RTDKCKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55KBGRV7RDB3FEBMYONDSVFI7G44T6YMU7WLKRTN3MLXDOZLWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3P32H63B66TQRAVN5UZTDL4HKROF7XDZBJZ3JYM7X72TW36NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js"
            ]
        },
        "GetAudienceModel": {
            "http": {
                "method": "GET",
                "requestUri": "/audience-model/{audienceModelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "audienceModelArn"
                ],
                "members": {
                    "audienceModelArn": {
                        "location": "uri",
                        "locationName": "audienceModelArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createTime",
                    "updateTime",
                    "audienceModelArn",
                    "name",
                    "trainingDatasetArn",
                    "status"
                ],
                "members": {
                    "createTime": {
                        "shape": "S2"
                    },
                    "updateTime": {
                        "shape": "S2"
                    },
                    "trainingDataStartTime": {
                        "shape": "S2"
                    },
                    "trainingDataEndTime": {
                        "shape": "S2"
                    },
                    "audienceModelArn": {},
                    "name": {},
                    "trainingDatasetArn": {},
                    "status": {},
                    "statusDetails": {
                        "shape": "S1h"
                    },
                    "kmsKeyArn": {},
                    "tags": {
                        "shape": "S6"
                    },
                    "description": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4IUG22WMDOAJV4V2VIZR6MD5MNMKY5CV4BWVUEDBYD76JRQWVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6CAYYE32HKJY5OXVJW4DAGRF5HIZPO2VH7RIWNMSS2XG2M5N7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJMS4NC3M3T6AOEWH3MJSX63FHNY37OUXHL35WSZMRLSYGQBO4AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7BXAOH3M2BCHJBIR3NYSA4QGHBXT3Q2KTZWD64XX3SACNGZ3PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RQRY4HAZUL3ZHOPOYD4KQVW434JYEWD5D52CMK3OFOKQC6JRNXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSA3WIDWVEOXRLCTQMALBKN2QBW3YZY472A7JUVXUV6C2MHKKVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQOWFCFE32SK37VMRRST6ZAYIFTFGHUEMNQCPLSUI3D7MCPUWVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDOKBRACUXO3KVZAOAXBTYLZLE5MJRV5JLBWIEPDR3TF2KJSHBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RIWK5L3M5DYSO7LBQOH7X6PTJKCSBDGJL6MVLX4GRPOKBTGM43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYGU3C2YTAUVHPFEW2YU5AW5C35FJYANEWMK2X6PSITDH4TWOQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQATG6U7TIFDEFYREN6UPEGWLLCNRW67FF7NGMB4UM6RGL73IG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5DRYWSSTYPC4NR3WZWZ2MEHXWFE2PHLZICTI2QOZILESWC5VRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMOIYXAMKYYAJVHQNG4CWDYFC6UQJWN7DCIUA2WFOT5GH2EQV3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JDK7LL52BU2SVALAR2Z5SOFSEKGQVJ4AEVNHS2O7YLFWY2SFU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4JYV76QRU5LYBCOFBSTI5R3YWNT2B4CP7G2FVHODV27RZ2O4CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYIKMC3FH462O7IRT5CD7CFZUEQZVMIBYRGBOBUXRTFCGFLVPVGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HSITLZUK4VFWG4NHHYBORFWMQEAKKSXANFUAPDWJZO3T62GS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWVPO5QVND6XRLA3WFV6RE4EQQHCHJJIPW3IQW5WEFFAZ2GXF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55QWTQ3I4KZPERWLUIBO5IBBT63SQKXVXY664ZUIFFT3RTDKCKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55KBGRV7RDB3FEBMYONDSVFI7G44T6YMU7WLKRTN3MLXDOZLWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3P32H63B66TQRAVN5UZTDL4HKROF7XDZBJZ3JYM7X72TW36NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js"
            ]
        },
        "GetConfiguredAudienceModel": {
            "http": {
                "method": "GET",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createTime",
                    "updateTime",
                    "configuredAudienceModelArn",
                    "name",
                    "audienceModelArn",
                    "outputConfig",
                    "status",
                    "sharedAudienceMetrics"
                ],
                "members": {
                    "createTime": {
                        "shape": "S2"
                    },
                    "updateTime": {
                        "shape": "S2"
                    },
                    "configuredAudienceModelArn": {},
                    "name": {},
                    "audienceModelArn": {},
                    "outputConfig": {
                        "shape": "Sd"
                    },
                    "description": {},
                    "status": {},
                    "sharedAudienceMetrics": {
                        "shape": "Si"
                    },
                    "minMatchingSeedSize": {
                        "type": "integer"
                    },
                    "audienceSizeConfig": {
                        "shape": "Sl"
                    },
                    "tags": {
                        "shape": "S6"
                    },
                    "childResourceTagOnCreatePolicy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4IUG22WMDOAJV4V2VIZR6MD5MNMKY5CV4BWVUEDBYD76JRQWVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6CAYYE32HKJY5OXVJW4DAGRF5HIZPO2VH7RIWNMSS2XG2M5N7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJMS4NC3M3T6AOEWH3MJSX63FHNY37OUXHL35WSZMRLSYGQBO4AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7BXAOH3M2BCHJBIR3NYSA4QGHBXT3Q2KTZWD64XX3SACNGZ3PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RQRY4HAZUL3ZHOPOYD4KQVW434JYEWD5D52CMK3OFOKQC6JRNXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSA3WIDWVEOXRLCTQMALBKN2QBW3YZY472A7JUVXUV6C2MHKKVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQOWFCFE32SK37VMRRST6ZAYIFTFGHUEMNQCPLSUI3D7MCPUWVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDOKBRACUXO3KVZAOAXBTYLZLE5MJRV5JLBWIEPDR3TF2KJSHBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RIWK5L3M5DYSO7LBQOH7X6PTJKCSBDGJL6MVLX4GRPOKBTGM43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYGU3C2YTAUVHPFEW2YU5AW5C35FJYANEWMK2X6PSITDH4TWOQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQATG6U7TIFDEFYREN6UPEGWLLCNRW67FF7NGMB4UM6RGL73IG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5DRYWSSTYPC4NR3WZWZ2MEHXWFE2PHLZICTI2QOZILESWC5VRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMOIYXAMKYYAJVHQNG4CWDYFC6UQJWN7DCIUA2WFOT5GH2EQV3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JDK7LL52BU2SVALAR2Z5SOFSEKGQVJ4AEVNHS2O7YLFWY2SFU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4JYV76QRU5LYBCOFBSTI5R3YWNT2B4CP7G2FVHODV27RZ2O4CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYIKMC3FH462O7IRT5CD7CFZUEQZVMIBYRGBOBUXRTFCGFLVPVGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HSITLZUK4VFWG4NHHYBORFWMQEAKKSXANFUAPDWJZO3T62GS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWVPO5QVND6XRLA3WFV6RE4EQQHCHJJIPW3IQW5WEFFAZ2GXF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55QWTQ3I4KZPERWLUIBO5IBBT63SQKXVXY664ZUIFFT3RTDKCKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55KBGRV7RDB3FEBMYONDSVFI7G44T6YMU7WLKRTN3MLXDOZLWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3P32H63B66TQRAVN5UZTDL4HKROF7XDZBJZ3JYM7X72TW36NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js"
            ]
        },
        "GetConfiguredAudienceModelPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn",
                    "configuredAudienceModelPolicy",
                    "policyHash"
                ],
                "members": {
                    "configuredAudienceModelArn": {},
                    "configuredAudienceModelPolicy": {},
                    "policyHash": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4IUG22WMDOAJV4V2VIZR6MD5MNMKY5CV4BWVUEDBYD76JRQWVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6CAYYE32HKJY5OXVJW4DAGRF5HIZPO2VH7RIWNMSS2XG2M5N7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJMS4NC3M3T6AOEWH3MJSX63FHNY37OUXHL35WSZMRLSYGQBO4AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7BXAOH3M2BCHJBIR3NYSA4QGHBXT3Q2KTZWD64XX3SACNGZ3PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RQRY4HAZUL3ZHOPOYD4KQVW434JYEWD5D52CMK3OFOKQC6JRNXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSA3WIDWVEOXRLCTQMALBKN2QBW3YZY472A7JUVXUV6C2MHKKVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQOWFCFE32SK37VMRRST6ZAYIFTFGHUEMNQCPLSUI3D7MCPUWVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDOKBRACUXO3KVZAOAXBTYLZLE5MJRV5JLBWIEPDR3TF2KJSHBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RIWK5L3M5DYSO7LBQOH7X6PTJKCSBDGJL6MVLX4GRPOKBTGM43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYGU3C2YTAUVHPFEW2YU5AW5C35FJYANEWMK2X6PSITDH4TWOQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQATG6U7TIFDEFYREN6UPEGWLLCNRW67FF7NGMB4UM6RGL73IG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5DRYWSSTYPC4NR3WZWZ2MEHXWFE2PHLZICTI2QOZILESWC5VRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMOIYXAMKYYAJVHQNG4CWDYFC6UQJWN7DCIUA2WFOT5GH2EQV3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JDK7LL52BU2SVALAR2Z5SOFSEKGQVJ4AEVNHS2O7YLFWY2SFU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4JYV76QRU5LYBCOFBSTI5R3YWNT2B4CP7G2FVHODV27RZ2O4CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYIKMC3FH462O7IRT5CD7CFZUEQZVMIBYRGBOBUXRTFCGFLVPVGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HSITLZUK4VFWG4NHHYBORFWMQEAKKSXANFUAPDWJZO3T62GS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWVPO5QVND6XRLA3WFV6RE4EQQHCHJJIPW3IQW5WEFFAZ2GXF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55QWTQ3I4KZPERWLUIBO5IBBT63SQKXVXY664ZUIFFT3RTDKCKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55KBGRV7RDB3FEBMYONDSVFI7G44T6YMU7WLKRTN3MLXDOZLWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3P32H63B66TQRAVN5UZTDL4HKROF7XDZBJZ3JYM7X72TW36NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js"
            ]
        },
        "GetTrainingDataset": {
            "http": {
                "method": "GET",
                "requestUri": "/training-dataset/{trainingDatasetArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "trainingDatasetArn"
                ],
                "members": {
                    "trainingDatasetArn": {
                        "location": "uri",
                        "locationName": "trainingDatasetArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createTime",
                    "updateTime",
                    "trainingDatasetArn",
                    "name",
                    "trainingData",
                    "status",
                    "roleArn"
                ],
                "members": {
                    "createTime": {
                        "shape": "S2"
                    },
                    "updateTime": {
                        "shape": "S2"
                    },
                    "trainingDatasetArn": {},
                    "name": {},
                    "trainingData": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    },
                    "status": {},
                    "roleArn": {},
                    "tags": {
                        "shape": "S6"
                    },
                    "description": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4IUG22WMDOAJV4V2VIZR6MD5MNMKY5CV4BWVUEDBYD76JRQWVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6CAYYE32HKJY5OXVJW4DAGRF5HIZPO2VH7RIWNMSS2XG2M5N7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJMS4NC3M3T6AOEWH3MJSX63FHNY37OUXHL35WSZMRLSYGQBO4AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7BXAOH3M2BCHJBIR3NYSA4QGHBXT3Q2KTZWD64XX3SACNGZ3PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RQRY4HAZUL3ZHOPOYD4KQVW434JYEWD5D52CMK3OFOKQC6JRNXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSA3WIDWVEOXRLCTQMALBKN2QBW3YZY472A7JUVXUV6C2MHKKVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQOWFCFE32SK37VMRRST6ZAYIFTFGHUEMNQCPLSUI3D7MCPUWVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDOKBRACUXO3KVZAOAXBTYLZLE5MJRV5JLBWIEPDR3TF2KJSHBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RIWK5L3M5DYSO7LBQOH7X6PTJKCSBDGJL6MVLX4GRPOKBTGM43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYGU3C2YTAUVHPFEW2YU5AW5C35FJYANEWMK2X6PSITDH4TWOQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQATG6U7TIFDEFYREN6UPEGWLLCNRW67FF7NGMB4UM6RGL73IG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5DRYWSSTYPC4NR3WZWZ2MEHXWFE2PHLZICTI2QOZILESWC5VRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMOIYXAMKYYAJVHQNG4CWDYFC6UQJWN7DCIUA2WFOT5GH2EQV3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JDK7LL52BU2SVALAR2Z5SOFSEKGQVJ4AEVNHS2O7YLFWY2SFU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4JYV76QRU5LYBCOFBSTI5R3YWNT2B4CP7G2FVHODV27RZ2O4CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYIKMC3FH462O7IRT5CD7CFZUEQZVMIBYRGBOBUXRTFCGFLVPVGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HSITLZUK4VFWG4NHHYBORFWMQEAKKSXANFUAPDWJZO3T62GS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWVPO5QVND6XRLA3WFV6RE4EQQHCHJJIPW3IQW5WEFFAZ2GXF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55QWTQ3I4KZPERWLUIBO5IBBT63SQKXVXY664ZUIFFT3RTDKCKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55KBGRV7RDB3FEBMYONDSVFI7G44T6YMU7WLKRTN3MLXDOZLWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3P32H63B66TQRAVN5UZTDL4HKROF7XDZBJZ3JYM7X72TW36NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js"
            ]
        },
        "ListAudienceExportJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/audience-export-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "audienceGenerationJobArn": {
                        "location": "querystring",
                        "locationName": "audienceGenerationJobArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "audienceExportJobs"
                ],
                "members": {
                    "nextToken": {},
                    "audienceExportJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createTime",
                                "updateTime",
                                "name",
                                "audienceGenerationJobArn",
                                "audienceSize",
                                "status"
                            ],
                            "members": {
                                "createTime": {
                                    "shape": "S2"
                                },
                                "updateTime": {
                                    "shape": "S2"
                                },
                                "name": {},
                                "audienceGenerationJobArn": {},
                                "audienceSize": {
                                    "shape": "S1v"
                                },
                                "description": {},
                                "status": {},
                                "statusDetails": {
                                    "shape": "S1h"
                                },
                                "outputLocation": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4IUG22WMDOAJV4V2VIZR6MD5MNMKY5CV4BWVUEDBYD76JRQWVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6CAYYE32HKJY5OXVJW4DAGRF5HIZPO2VH7RIWNMSS2XG2M5N7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJMS4NC3M3T6AOEWH3MJSX63FHNY37OUXHL35WSZMRLSYGQBO4AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7BXAOH3M2BCHJBIR3NYSA4QGHBXT3Q2KTZWD64XX3SACNGZ3PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RQRY4HAZUL3ZHOPOYD4KQVW434JYEWD5D52CMK3OFOKQC6JRNXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSA3WIDWVEOXRLCTQMALBKN2QBW3YZY472A7JUVXUV6C2MHKKVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQOWFCFE32SK37VMRRST6ZAYIFTFGHUEMNQCPLSUI3D7MCPUWVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDOKBRACUXO3KVZAOAXBTYLZLE5MJRV5JLBWIEPDR3TF2KJSHBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RIWK5L3M5DYSO7LBQOH7X6PTJKCSBDGJL6MVLX4GRPOKBTGM43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYGU3C2YTAUVHPFEW2YU5AW5C35FJYANEWMK2X6PSITDH4TWOQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQATG6U7TIFDEFYREN6UPEGWLLCNRW67FF7NGMB4UM6RGL73IG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5DRYWSSTYPC4NR3WZWZ2MEHXWFE2PHLZICTI2QOZILESWC5VRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMOIYXAMKYYAJVHQNG4CWDYFC6UQJWN7DCIUA2WFOT5GH2EQV3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JDK7LL52BU2SVALAR2Z5SOFSEKGQVJ4AEVNHS2O7YLFWY2SFU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4JYV76QRU5LYBCOFBSTI5R3YWNT2B4CP7G2FVHODV27RZ2O4CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYIKMC3FH462O7IRT5CD7CFZUEQZVMIBYRGBOBUXRTFCGFLVPVGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HSITLZUK4VFWG4NHHYBORFWMQEAKKSXANFUAPDWJZO3T62GS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWVPO5QVND6XRLA3WFV6RE4EQQHCHJJIPW3IQW5WEFFAZ2GXF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55QWTQ3I4KZPERWLUIBO5IBBT63SQKXVXY664ZUIFFT3RTDKCKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55KBGRV7RDB3FEBMYONDSVFI7G44T6YMU7WLKRTN3MLXDOZLWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3P32H63B66TQRAVN5UZTDL4HKROF7XDZBJZ3JYM7X72TW36NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js"
            ]
        },
        "ListAudienceGenerationJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/audience-generation-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "configuredAudienceModelArn": {
                        "location": "querystring",
                        "locationName": "configuredAudienceModelArn"
                    },
                    "collaborationId": {
                        "location": "querystring",
                        "locationName": "collaborationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "audienceGenerationJobs"
                ],
                "members": {
                    "nextToken": {},
                    "audienceGenerationJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createTime",
                                "updateTime",
                                "audienceGenerationJobArn",
                                "name",
                                "status",
                                "configuredAudienceModelArn"
                            ],
                            "members": {
                                "createTime": {
                                    "shape": "S2"
                                },
                                "updateTime": {
                                    "shape": "S2"
                                },
                                "audienceGenerationJobArn": {},
                                "name": {},
                                "description": {},
                                "status": {},
                                "configuredAudienceModelArn": {},
                                "collaborationId": {},
                                "startedBy": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4IUG22WMDOAJV4V2VIZR6MD5MNMKY5CV4BWVUEDBYD76JRQWVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6CAYYE32HKJY5OXVJW4DAGRF5HIZPO2VH7RIWNMSS2XG2M5N7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJMS4NC3M3T6AOEWH3MJSX63FHNY37OUXHL35WSZMRLSYGQBO4AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7BXAOH3M2BCHJBIR3NYSA4QGHBXT3Q2KTZWD64XX3SACNGZ3PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RQRY4HAZUL3ZHOPOYD4KQVW434JYEWD5D52CMK3OFOKQC6JRNXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSA3WIDWVEOXRLCTQMALBKN2QBW3YZY472A7JUVXUV6C2MHKKVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQOWFCFE32SK37VMRRST6ZAYIFTFGHUEMNQCPLSUI3D7MCPUWVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDOKBRACUXO3KVZAOAXBTYLZLE5MJRV5JLBWIEPDR3TF2KJSHBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RIWK5L3M5DYSO7LBQOH7X6PTJKCSBDGJL6MVLX4GRPOKBTGM43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYGU3C2YTAUVHPFEW2YU5AW5C35FJYANEWMK2X6PSITDH4TWOQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQATG6U7TIFDEFYREN6UPEGWLLCNRW67FF7NGMB4UM6RGL73IG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5DRYWSSTYPC4NR3WZWZ2MEHXWFE2PHLZICTI2QOZILESWC5VRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMOIYXAMKYYAJVHQNG4CWDYFC6UQJWN7DCIUA2WFOT5GH2EQV3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JDK7LL52BU2SVALAR2Z5SOFSEKGQVJ4AEVNHS2O7YLFWY2SFU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4JYV76QRU5LYBCOFBSTI5R3YWNT2B4CP7G2FVHODV27RZ2O4CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYIKMC3FH462O7IRT5CD7CFZUEQZVMIBYRGBOBUXRTFCGFLVPVGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HSITLZUK4VFWG4NHHYBORFWMQEAKKSXANFUAPDWJZO3T62GS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWVPO5QVND6XRLA3WFV6RE4EQQHCHJJIPW3IQW5WEFFAZ2GXF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55QWTQ3I4KZPERWLUIBO5IBBT63SQKXVXY664ZUIFFT3RTDKCKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55KBGRV7RDB3FEBMYONDSVFI7G44T6YMU7WLKRTN3MLXDOZLWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3P32H63B66TQRAVN5UZTDL4HKROF7XDZBJZ3JYM7X72TW36NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js"
            ]
        },
        "ListAudienceModels": {
            "http": {
                "method": "GET",
                "requestUri": "/audience-model",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "audienceModels"
                ],
                "members": {
                    "nextToken": {},
                    "audienceModels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createTime",
                                "updateTime",
                                "audienceModelArn",
                                "name",
                                "trainingDatasetArn",
                                "status"
                            ],
                            "members": {
                                "createTime": {
                                    "shape": "S2"
                                },
                                "updateTime": {
                                    "shape": "S2"
                                },
                                "audienceModelArn": {},
                                "name": {},
                                "trainingDatasetArn": {},
                                "status": {},
                                "description": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4IUG22WMDOAJV4V2VIZR6MD5MNMKY5CV4BWVUEDBYD76JRQWVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6CAYYE32HKJY5OXVJW4DAGRF5HIZPO2VH7RIWNMSS2XG2M5N7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJMS4NC3M3T6AOEWH3MJSX63FHNY37OUXHL35WSZMRLSYGQBO4AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7BXAOH3M2BCHJBIR3NYSA4QGHBXT3Q2KTZWD64XX3SACNGZ3PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RQRY4HAZUL3ZHOPOYD4KQVW434JYEWD5D52CMK3OFOKQC6JRNXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSA3WIDWVEOXRLCTQMALBKN2QBW3YZY472A7JUVXUV6C2MHKKVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQOWFCFE32SK37VMRRST6ZAYIFTFGHUEMNQCPLSUI3D7MCPUWVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDOKBRACUXO3KVZAOAXBTYLZLE5MJRV5JLBWIEPDR3TF2KJSHBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RIWK5L3M5DYSO7LBQOH7X6PTJKCSBDGJL6MVLX4GRPOKBTGM43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYGU3C2YTAUVHPFEW2YU5AW5C35FJYANEWMK2X6PSITDH4TWOQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQATG6U7TIFDEFYREN6UPEGWLLCNRW67FF7NGMB4UM6RGL73IG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5DRYWSSTYPC4NR3WZWZ2MEHXWFE2PHLZICTI2QOZILESWC5VRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMOIYXAMKYYAJVHQNG4CWDYFC6UQJWN7DCIUA2WFOT5GH2EQV3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JDK7LL52BU2SVALAR2Z5SOFSEKGQVJ4AEVNHS2O7YLFWY2SFU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4JYV76QRU5LYBCOFBSTI5R3YWNT2B4CP7G2FVHODV27RZ2O4CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYIKMC3FH462O7IRT5CD7CFZUEQZVMIBYRGBOBUXRTFCGFLVPVGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HSITLZUK4VFWG4NHHYBORFWMQEAKKSXANFUAPDWJZO3T62GS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWVPO5QVND6XRLA3WFV6RE4EQQHCHJJIPW3IQW5WEFFAZ2GXF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55QWTQ3I4KZPERWLUIBO5IBBT63SQKXVXY664ZUIFFT3RTDKCKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55KBGRV7RDB3FEBMYONDSVFI7G44T6YMU7WLKRTN3MLXDOZLWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3P32H63B66TQRAVN5UZTDL4HKROF7XDZBJZ3JYM7X72TW36NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js"
            ]
        },
        "ListConfiguredAudienceModels": {
            "http": {
                "method": "GET",
                "requestUri": "/configured-audience-model",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredAudienceModels"
                ],
                "members": {
                    "nextToken": {},
                    "configuredAudienceModels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createTime",
                                "updateTime",
                                "name",
                                "audienceModelArn",
                                "outputConfig",
                                "configuredAudienceModelArn",
                                "status"
                            ],
                            "members": {
                                "createTime": {
                                    "shape": "S2"
                                },
                                "updateTime": {
                                    "shape": "S2"
                                },
                                "name": {},
                                "audienceModelArn": {},
                                "outputConfig": {
                                    "shape": "Sd"
                                },
                                "description": {},
                                "configuredAudienceModelArn": {},
                                "status": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4IUG22WMDOAJV4V2VIZR6MD5MNMKY5CV4BWVUEDBYD76JRQWVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6CAYYE32HKJY5OXVJW4DAGRF5HIZPO2VH7RIWNMSS2XG2M5N7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJMS4NC3M3T6AOEWH3MJSX63FHNY37OUXHL35WSZMRLSYGQBO4AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7BXAOH3M2BCHJBIR3NYSA4QGHBXT3Q2KTZWD64XX3SACNGZ3PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RQRY4HAZUL3ZHOPOYD4KQVW434JYEWD5D52CMK3OFOKQC6JRNXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSA3WIDWVEOXRLCTQMALBKN2QBW3YZY472A7JUVXUV6C2MHKKVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQOWFCFE32SK37VMRRST6ZAYIFTFGHUEMNQCPLSUI3D7MCPUWVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDOKBRACUXO3KVZAOAXBTYLZLE5MJRV5JLBWIEPDR3TF2KJSHBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RIWK5L3M5DYSO7LBQOH7X6PTJKCSBDGJL6MVLX4GRPOKBTGM43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYGU3C2YTAUVHPFEW2YU5AW5C35FJYANEWMK2X6PSITDH4TWOQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQATG6U7TIFDEFYREN6UPEGWLLCNRW67FF7NGMB4UM6RGL73IG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5DRYWSSTYPC4NR3WZWZ2MEHXWFE2PHLZICTI2QOZILESWC5VRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMOIYXAMKYYAJVHQNG4CWDYFC6UQJWN7DCIUA2WFOT5GH2EQV3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JDK7LL52BU2SVALAR2Z5SOFSEKGQVJ4AEVNHS2O7YLFWY2SFU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4JYV76QRU5LYBCOFBSTI5R3YWNT2B4CP7G2FVHODV27RZ2O4CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYIKMC3FH462O7IRT5CD7CFZUEQZVMIBYRGBOBUXRTFCGFLVPVGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HSITLZUK4VFWG4NHHYBORFWMQEAKKSXANFUAPDWJZO3T62GS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWVPO5QVND6XRLA3WFV6RE4EQQHCHJJIPW3IQW5WEFFAZ2GXF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55QWTQ3I4KZPERWLUIBO5IBBT63SQKXVXY664ZUIFFT3RTDKCKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55KBGRV7RDB3FEBMYONDSVFI7G44T6YMU7WLKRTN3MLXDOZLWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3P32H63B66TQRAVN5UZTDL4HKROF7XDZBJZ3JYM7X72TW36NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tags"
                ],
                "members": {
                    "tags": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4IUG22WMDOAJV4V2VIZR6MD5MNMKY5CV4BWVUEDBYD76JRQWVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6CAYYE32HKJY5OXVJW4DAGRF5HIZPO2VH7RIWNMSS2XG2M5N7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJMS4NC3M3T6AOEWH3MJSX63FHNY37OUXHL35WSZMRLSYGQBO4AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7BXAOH3M2BCHJBIR3NYSA4QGHBXT3Q2KTZWD64XX3SACNGZ3PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RQRY4HAZUL3ZHOPOYD4KQVW434JYEWD5D52CMK3OFOKQC6JRNXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSA3WIDWVEOXRLCTQMALBKN2QBW3YZY472A7JUVXUV6C2MHKKVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQOWFCFE32SK37VMRRST6ZAYIFTFGHUEMNQCPLSUI3D7MCPUWVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDOKBRACUXO3KVZAOAXBTYLZLE5MJRV5JLBWIEPDR3TF2KJSHBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RIWK5L3M5DYSO7LBQOH7X6PTJKCSBDGJL6MVLX4GRPOKBTGM43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYGU3C2YTAUVHPFEW2YU5AW5C35FJYANEWMK2X6PSITDH4TWOQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQATG6U7TIFDEFYREN6UPEGWLLCNRW67FF7NGMB4UM6RGL73IG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5DRYWSSTYPC4NR3WZWZ2MEHXWFE2PHLZICTI2QOZILESWC5VRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMOIYXAMKYYAJVHQNG4CWDYFC6UQJWN7DCIUA2WFOT5GH2EQV3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JDK7LL52BU2SVALAR2Z5SOFSEKGQVJ4AEVNHS2O7YLFWY2SFU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4JYV76QRU5LYBCOFBSTI5R3YWNT2B4CP7G2FVHODV27RZ2O4CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYIKMC3FH462O7IRT5CD7CFZUEQZVMIBYRGBOBUXRTFCGFLVPVGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HSITLZUK4VFWG4NHHYBORFWMQEAKKSXANFUAPDWJZO3T62GS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWVPO5QVND6XRLA3WFV6RE4EQQHCHJJIPW3IQW5WEFFAZ2GXF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55QWTQ3I4KZPERWLUIBO5IBBT63SQKXVXY664ZUIFFT3RTDKCKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55KBGRV7RDB3FEBMYONDSVFI7G44T6YMU7WLKRTN3MLXDOZLWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3P32H63B66TQRAVN5UZTDL4HKROF7XDZBJZ3JYM7X72TW36NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js"
            ]
        },
        "ListTrainingDatasets": {
            "http": {
                "method": "GET",
                "requestUri": "/training-dataset",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "trainingDatasets"
                ],
                "members": {
                    "nextToken": {},
                    "trainingDatasets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createTime",
                                "updateTime",
                                "trainingDatasetArn",
                                "name",
                                "status"
                            ],
                            "members": {
                                "createTime": {
                                    "shape": "S2"
                                },
                                "updateTime": {
                                    "shape": "S2"
                                },
                                "trainingDatasetArn": {},
                                "name": {},
                                "status": {},
                                "description": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4IUG22WMDOAJV4V2VIZR6MD5MNMKY5CV4BWVUEDBYD76JRQWVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6CAYYE32HKJY5OXVJW4DAGRF5HIZPO2VH7RIWNMSS2XG2M5N7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJMS4NC3M3T6AOEWH3MJSX63FHNY37OUXHL35WSZMRLSYGQBO4AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7BXAOH3M2BCHJBIR3NYSA4QGHBXT3Q2KTZWD64XX3SACNGZ3PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RQRY4HAZUL3ZHOPOYD4KQVW434JYEWD5D52CMK3OFOKQC6JRNXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSA3WIDWVEOXRLCTQMALBKN2QBW3YZY472A7JUVXUV6C2MHKKVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQOWFCFE32SK37VMRRST6ZAYIFTFGHUEMNQCPLSUI3D7MCPUWVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDOKBRACUXO3KVZAOAXBTYLZLE5MJRV5JLBWIEPDR3TF2KJSHBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RIWK5L3M5DYSO7LBQOH7X6PTJKCSBDGJL6MVLX4GRPOKBTGM43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYGU3C2YTAUVHPFEW2YU5AW5C35FJYANEWMK2X6PSITDH4TWOQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQATG6U7TIFDEFYREN6UPEGWLLCNRW67FF7NGMB4UM6RGL73IG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5DRYWSSTYPC4NR3WZWZ2MEHXWFE2PHLZICTI2QOZILESWC5VRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMOIYXAMKYYAJVHQNG4CWDYFC6UQJWN7DCIUA2WFOT5GH2EQV3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JDK7LL52BU2SVALAR2Z5SOFSEKGQVJ4AEVNHS2O7YLFWY2SFU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4JYV76QRU5LYBCOFBSTI5R3YWNT2B4CP7G2FVHODV27RZ2O4CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYIKMC3FH462O7IRT5CD7CFZUEQZVMIBYRGBOBUXRTFCGFLVPVGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HSITLZUK4VFWG4NHHYBORFWMQEAKKSXANFUAPDWJZO3T62GS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWVPO5QVND6XRLA3WFV6RE4EQQHCHJJIPW3IQW5WEFFAZ2GXF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55QWTQ3I4KZPERWLUIBO5IBBT63SQKXVXY664ZUIFFT3RTDKCKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55KBGRV7RDB3FEBMYONDSVFI7G44T6YMU7WLKRTN3MLXDOZLWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3P32H63B66TQRAVN5UZTDL4HKROF7XDZBJZ3JYM7X72TW36NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js"
            ]
        },
        "PutConfiguredAudienceModelPolicy": {
            "http": {
                "method": "PUT",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn",
                    "configuredAudienceModelPolicy"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    },
                    "configuredAudienceModelPolicy": {},
                    "previousPolicyHash": {},
                    "policyExistenceCondition": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelPolicy",
                    "policyHash"
                ],
                "members": {
                    "configuredAudienceModelPolicy": {},
                    "policyHash": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4IUG22WMDOAJV4V2VIZR6MD5MNMKY5CV4BWVUEDBYD76JRQWVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6CAYYE32HKJY5OXVJW4DAGRF5HIZPO2VH7RIWNMSS2XG2M5N7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJMS4NC3M3T6AOEWH3MJSX63FHNY37OUXHL35WSZMRLSYGQBO4AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7BXAOH3M2BCHJBIR3NYSA4QGHBXT3Q2KTZWD64XX3SACNGZ3PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RQRY4HAZUL3ZHOPOYD4KQVW434JYEWD5D52CMK3OFOKQC6JRNXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSA3WIDWVEOXRLCTQMALBKN2QBW3YZY472A7JUVXUV6C2MHKKVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQOWFCFE32SK37VMRRST6ZAYIFTFGHUEMNQCPLSUI3D7MCPUWVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDOKBRACUXO3KVZAOAXBTYLZLE5MJRV5JLBWIEPDR3TF2KJSHBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RIWK5L3M5DYSO7LBQOH7X6PTJKCSBDGJL6MVLX4GRPOKBTGM43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYGU3C2YTAUVHPFEW2YU5AW5C35FJYANEWMK2X6PSITDH4TWOQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQATG6U7TIFDEFYREN6UPEGWLLCNRW67FF7NGMB4UM6RGL73IG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5DRYWSSTYPC4NR3WZWZ2MEHXWFE2PHLZICTI2QOZILESWC5VRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMOIYXAMKYYAJVHQNG4CWDYFC6UQJWN7DCIUA2WFOT5GH2EQV3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JDK7LL52BU2SVALAR2Z5SOFSEKGQVJ4AEVNHS2O7YLFWY2SFU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4JYV76QRU5LYBCOFBSTI5R3YWNT2B4CP7G2FVHODV27RZ2O4CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYIKMC3FH462O7IRT5CD7CFZUEQZVMIBYRGBOBUXRTFCGFLVPVGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HSITLZUK4VFWG4NHHYBORFWMQEAKKSXANFUAPDWJZO3T62GS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWVPO5QVND6XRLA3WFV6RE4EQQHCHJJIPW3IQW5WEFFAZ2GXF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55QWTQ3I4KZPERWLUIBO5IBBT63SQKXVXY664ZUIFFT3RTDKCKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55KBGRV7RDB3FEBMYONDSVFI7G44T6YMU7WLKRTN3MLXDOZLWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3P32H63B66TQRAVN5UZTDL4HKROF7XDZBJZ3JYM7X72TW36NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js"
            ]
        },
        "StartAudienceExportJob": {
            "http": {
                "requestUri": "/audience-export-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "audienceGenerationJobArn",
                    "audienceSize"
                ],
                "members": {
                    "name": {},
                    "audienceGenerationJobArn": {},
                    "audienceSize": {
                        "shape": "S1v"
                    },
                    "description": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4IUG22WMDOAJV4V2VIZR6MD5MNMKY5CV4BWVUEDBYD76JRQWVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6CAYYE32HKJY5OXVJW4DAGRF5HIZPO2VH7RIWNMSS2XG2M5N7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJMS4NC3M3T6AOEWH3MJSX63FHNY37OUXHL35WSZMRLSYGQBO4AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7BXAOH3M2BCHJBIR3NYSA4QGHBXT3Q2KTZWD64XX3SACNGZ3PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RQRY4HAZUL3ZHOPOYD4KQVW434JYEWD5D52CMK3OFOKQC6JRNXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSA3WIDWVEOXRLCTQMALBKN2QBW3YZY472A7JUVXUV6C2MHKKVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQOWFCFE32SK37VMRRST6ZAYIFTFGHUEMNQCPLSUI3D7MCPUWVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDOKBRACUXO3KVZAOAXBTYLZLE5MJRV5JLBWIEPDR3TF2KJSHBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RIWK5L3M5DYSO7LBQOH7X6PTJKCSBDGJL6MVLX4GRPOKBTGM43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYGU3C2YTAUVHPFEW2YU5AW5C35FJYANEWMK2X6PSITDH4TWOQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQATG6U7TIFDEFYREN6UPEGWLLCNRW67FF7NGMB4UM6RGL73IG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5DRYWSSTYPC4NR3WZWZ2MEHXWFE2PHLZICTI2QOZILESWC5VRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMOIYXAMKYYAJVHQNG4CWDYFC6UQJWN7DCIUA2WFOT5GH2EQV3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JDK7LL52BU2SVALAR2Z5SOFSEKGQVJ4AEVNHS2O7YLFWY2SFU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4JYV76QRU5LYBCOFBSTI5R3YWNT2B4CP7G2FVHODV27RZ2O4CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYIKMC3FH462O7IRT5CD7CFZUEQZVMIBYRGBOBUXRTFCGFLVPVGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HSITLZUK4VFWG4NHHYBORFWMQEAKKSXANFUAPDWJZO3T62GS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWVPO5QVND6XRLA3WFV6RE4EQQHCHJJIPW3IQW5WEFFAZ2GXF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55QWTQ3I4KZPERWLUIBO5IBBT63SQKXVXY664ZUIFFT3RTDKCKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55KBGRV7RDB3FEBMYONDSVFI7G44T6YMU7WLKRTN3MLXDOZLWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3P32H63B66TQRAVN5UZTDL4HKROF7XDZBJZ3JYM7X72TW36NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js"
            ]
        },
        "StartAudienceGenerationJob": {
            "http": {
                "requestUri": "/audience-generation-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "configuredAudienceModelArn",
                    "seedAudience"
                ],
                "members": {
                    "name": {},
                    "configuredAudienceModelArn": {},
[...]
