{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-04-01",
        "auth": [
            "aws.auth#sigv4"
        ],
        "endpointPrefix": "awscloudsearchconsoleapi",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "serviceAbbreviation": "CloudSearchConsoleAPI",
        "serviceFullName": "AWSCloudSearchConsoleAPI",
        "serviceId": "CloudSearchConsole",
        "signatureVersion": "v4",
        "signingName": "cloudsearchconsole",
        "uid": "cloudsearchconsole-2022-04-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
        ]
    },
    "operations": {
        "analyze": {
            "http": {
                "requestUri": "/analyze",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "APIVersion",
                    "FilePath"
                ],
                "members": {
                    "APIVersion": {},
                    "FilePath": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DetectedIndexFields",
                    "NumDocuments"
                ],
                "members": {
                    "DetectedIndexFields": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "IndexFieldName",
                                "IndexFieldType"
                            ],
                            "members": {
                                "IndexFieldName": {},
                                "IndexFieldType": {},
                                "AnalysisScheme": {}
                            }
                        }
                    },
                    "NumDocuments": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "cleanup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cleanup",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "FilePath"
                ],
                "members": {
                    "FilePath": {
                        "location": "querystring",
                        "locationName": "filePath"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "download": {
            "http": {
                "requestUri": "/download",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "FilePath"
                ],
                "members": {
                    "FilePath": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Document"
                ],
                "members": {
                    "Document": {
                        "type": "blob"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "echo": {
            "http": {
                "requestUri": "/echo",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "string": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "string": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "sampledata": {
            "http": {
                "method": "GET",
                "requestUri": "/sampledata",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "APIVersion"
                ],
                "members": {
                    "APIVersion": {
                        "location": "querystring",
                        "locationName": "apiVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SampleFiles"
                ],
                "members": {
                    "SampleFiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "FileName",
                                "FilePath",
                                "EnabledForUpload"
                            ],
                            "members": {
                                "FileName": {},
                                "FilePath": {},
                                "EnabledForUpload": {
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "search": {
            "http": {
                "requestUri": "/search",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "APIVersion",
                    "SearchEndpoint",
                    "SearchParams"
                ],
                "members": {
                    "APIVersion": {},
                    "SearchEndpoint": {},
                    "SearchParams": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SearchResponseCode",
                    "SearchResponseBody"
                ],
                "members": {
                    "SearchResponseCode": {
                        "type": "integer"
                    },
                    "SearchResponseBody": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "storefile": {
            "http": {
                "requestUri": "/storefile",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "APIVersion",
                    "DomainName",
                    "FileSource"
                ],
                "members": {
                    "APIVersion": {},
                    "DomainName": {},
                    "FileSource": {},
                    "LocalFile": {
                        "type": "structure",
                        "required": [
                            "File"
                        ],
                        "members": {
                            "File": {
                                "type": "blob"
                            }
                        }
                    },
                    "S3": {
                        "type": "structure",
                        "required": [
                            "S3Path"
                        ],
                        "members": {
                            "S3Path": {}
                        }
                    },
                    "DDB": {
                        "type": "structure",
                        "required": [
                            "TableName",
                            "RCUPercentage"
                        ],
                        "members": {
                            "TableName": {},
                            "StartHashKey": {},
                            "StartRangeKey": {},
                            "RCUPercentage": {
                                "type": "float"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FilePath",
                    "Message",
                    "SourceFilesCount",
                    "ProcessFileFailuresCount",
                    "Status"
                ],
                "members": {
                    "FilePath": {},
                    "Message": {},
                    "SourceFilesCount": {
                        "type": "integer"
                    },
                    "ProcessFileFailuresCount": {
                        "type": "integer"
                    },
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "suggest": {
            "http": {
                "requestUri": "/suggest",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SearchEndpoint",
                    "SuggestParams"
                ],
                "members": {
                    "SearchEndpoint": {},
                    "SuggestParams": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SuggestResponseCode",
                    "SuggestResponseBody"
                ],
                "members": {
                    "SuggestResponseCode": {
                        "type": "integer"
                    },
                    "SuggestResponseBody": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "uploadtodomain": {
            "http": {
                "requestUri": "/uploadtodomain",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "APIVersion",
                    "DocEndpoint",
                    "FilePath"
                ],
                "members": {
                    "APIVersion": {},
                    "DocEndpoint": {},
                    "FilePath": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UploadResponse"
                ],
                "members": {
                    "UploadResponse": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sj": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {}
            }
        }
    }
}