{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-03-26",
        "endpointPrefix": "cloudfront",
        "globalEndpoint": "cloudfront.amazonaws.com",
        "protocol": "rest-xml",
        "serviceAbbreviation": "CloudFront",
        "serviceFullName": "Amazon CloudFront",
        "serviceId": "CloudFront",
        "signatureVersion": "v4",
        "uid": "cloudfront-2019-03-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
        ]
    },
    "operations": {
        "CreateCloudFrontOriginAccessIdentity": {
            "http": {
                "requestUri": "/2019-03-26/origin-access-identity/cloudfront",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "CloudFrontOriginAccessIdentityConfig"
                ],
                "members": {
                    "CloudFrontOriginAccessIdentityConfig": {
                        "shape": "S2",
                        "locationName": "CloudFrontOriginAccessIdentityConfig",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
                        }
                    }
                },
                "payload": "CloudFrontOriginAccessIdentityConfig"
            },
            "output": {
                "type": "structure",
                "members": {
                    "CloudFrontOriginAccessIdentity": {
                        "shape": "S5"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "CloudFrontOriginAccessIdentity"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "CreateDistribution": {
            "http": {
                "requestUri": "/2019-03-26/distribution",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "DistributionConfig"
                ],
                "members": {
                    "DistributionConfig": {
                        "shape": "S7",
                        "locationName": "DistributionConfig",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
                        }
                    }
                },
                "payload": "DistributionConfig"
            },
            "output": {
                "type": "structure",
                "members": {
                    "Distribution": {
                        "shape": "S23"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "Distribution"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "CreateDistributionWithTags": {
            "http": {
                "requestUri": "/2019-03-26/distribution?WithTags",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "DistributionConfigWithTags"
                ],
                "members": {
                    "DistributionConfigWithTags": {
                        "locationName": "DistributionConfigWithTags",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
                        },
                        "type": "structure",
                        "required": [
                            "DistributionConfig",
                            "Tags"
                        ],
                        "members": {
                            "DistributionConfig": {
                                "shape": "S7"
                            },
                            "Tags": {
                                "shape": "S2f"
                            }
                        }
                    }
                },
                "payload": "DistributionConfigWithTags"
            },
            "output": {
                "type": "structure",
                "members": {
                    "Distribution": {
                        "shape": "S23"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "Distribution"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "CreateFieldLevelEncryptionConfig": {
            "http": {
                "requestUri": "/2019-03-26/field-level-encryption",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "FieldLevelEncryptionConfig"
                ],
                "members": {
                    "FieldLevelEncryptionConfig": {
                        "shape": "S2m",
                        "locationName": "FieldLevelEncryptionConfig",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
                        }
                    }
                },
                "payload": "FieldLevelEncryptionConfig"
            },
            "output": {
                "type": "structure",
                "members": {
                    "FieldLevelEncryption": {
                        "shape": "S2x"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "FieldLevelEncryption"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "CreateFieldLevelEncryptionProfile": {
            "http": {
                "requestUri": "/2019-03-26/field-level-encryption-profile",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "FieldLevelEncryptionProfileConfig"
                ],
                "members": {
                    "FieldLevelEncryptionProfileConfig": {
                        "shape": "S2z",
                        "locationName": "FieldLevelEncryptionProfileConfig",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
                        }
                    }
                },
                "payload": "FieldLevelEncryptionProfileConfig"
            },
            "output": {
                "type": "structure",
                "members": {
                    "FieldLevelEncryptionProfile": {
                        "shape": "S36"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "FieldLevelEncryptionProfile"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "CreateInvalidation": {
            "http": {
                "requestUri": "/2019-03-26/distribution/{DistributionId}/invalidation",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "DistributionId",
                    "InvalidationBatch"
                ],
                "members": {
                    "DistributionId": {
                        "location": "uri",
                        "locationName": "DistributionId"
                    },
                    "InvalidationBatch": {
                        "shape": "S38",
                        "locationName": "InvalidationBatch",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
                        }
                    }
                },
                "payload": "InvalidationBatch"
            },
            "output": {
                "type": "structure",
                "members": {
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "Invalidation": {
                        "shape": "S3c"
                    }
                },
                "payload": "Invalidation"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "CreatePublicKey": {
            "http": {
                "requestUri": "/2019-03-26/public-key",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "PublicKeyConfig"
                ],
                "members": {
                    "PublicKeyConfig": {
                        "shape": "S3e",
                        "locationName": "PublicKeyConfig",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
                        }
                    }
                },
                "payload": "PublicKeyConfig"
            },
            "output": {
                "type": "structure",
                "members": {
                    "PublicKey": {
                        "shape": "S3g"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "PublicKey"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "CreateStreamingDistribution": {
            "http": {
                "requestUri": "/2019-03-26/streaming-distribution",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "StreamingDistributionConfig"
                ],
                "members": {
                    "StreamingDistributionConfig": {
                        "shape": "S3i",
                        "locationName": "StreamingDistributionConfig",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
                        }
                    }
                },
                "payload": "StreamingDistributionConfig"
            },
            "output": {
                "type": "structure",
                "members": {
                    "StreamingDistribution": {
                        "shape": "S3m"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "StreamingDistribution"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "CreateStreamingDistributionWithTags": {
            "http": {
                "requestUri": "/2019-03-26/streaming-distribution?WithTags",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "StreamingDistributionConfigWithTags"
                ],
                "members": {
                    "StreamingDistributionConfigWithTags": {
                        "locationName": "StreamingDistributionConfigWithTags",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
                        },
                        "type": "structure",
                        "required": [
                            "StreamingDistributionConfig",
                            "Tags"
                        ],
                        "members": {
                            "StreamingDistributionConfig": {
                                "shape": "S3i"
                            },
                            "Tags": {
                                "shape": "S2f"
                            }
                        }
                    }
                },
                "payload": "StreamingDistributionConfigWithTags"
            },
            "output": {
                "type": "structure",
                "members": {
                    "StreamingDistribution": {
                        "shape": "S3m"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "StreamingDistribution"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "DeleteCloudFrontOriginAccessIdentity": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2019-03-26/origin-access-identity/cloudfront/{Id}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    },
                    "IfMatch": {
                        "location": "header",
                        "locationName": "If-Match"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "DeleteDistribution": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2019-03-26/distribution/{Id}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    },
                    "IfMatch": {
                        "location": "header",
                        "locationName": "If-Match"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "DeleteFieldLevelEncryptionConfig": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2019-03-26/field-level-encryption/{Id}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    },
                    "IfMatch": {
                        "location": "header",
                        "locationName": "If-Match"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "DeleteFieldLevelEncryptionProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2019-03-26/field-level-encryption-profile/{Id}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    },
                    "IfMatch": {
                        "location": "header",
                        "locationName": "If-Match"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "DeletePublicKey": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2019-03-26/public-key/{Id}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    },
                    "IfMatch": {
                        "location": "header",
                        "locationName": "If-Match"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "DeleteStreamingDistribution": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2019-03-26/streaming-distribution/{Id}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    },
                    "IfMatch": {
                        "location": "header",
                        "locationName": "If-Match"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "GetCloudFrontOriginAccessIdentity": {
            "http": {
                "method": "GET",
                "requestUri": "/2019-03-26/origin-access-identity/cloudfront/{Id}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CloudFrontOriginAccessIdentity": {
                        "shape": "S5"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "CloudFrontOriginAccessIdentity"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "GetCloudFrontOriginAccessIdentityConfig": {
            "http": {
                "method": "GET",
                "requestUri": "/2019-03-26/origin-access-identity/cloudfront/{Id}/config"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CloudFrontOriginAccessIdentityConfig": {
                        "shape": "S2"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "CloudFrontOriginAccessIdentityConfig"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "GetDistribution": {
            "http": {
                "method": "GET",
                "requestUri": "/2019-03-26/distribution/{Id}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Distribution": {
                        "shape": "S23"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "Distribution"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "GetDistributionConfig": {
            "http": {
                "method": "GET",
                "requestUri": "/2019-03-26/distribution/{Id}/config"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DistributionConfig": {
                        "shape": "S7"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "DistributionConfig"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "GetFieldLevelEncryption": {
            "http": {
                "method": "GET",
                "requestUri": "/2019-03-26/field-level-encryption/{Id}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FieldLevelEncryption": {
                        "shape": "S2x"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "FieldLevelEncryption"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "GetFieldLevelEncryptionConfig": {
            "http": {
                "method": "GET",
                "requestUri": "/2019-03-26/field-level-encryption/{Id}/config"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FieldLevelEncryptionConfig": {
                        "shape": "S2m"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "FieldLevelEncryptionConfig"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "GetFieldLevelEncryptionProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/2019-03-26/field-level-encryption-profile/{Id}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FieldLevelEncryptionProfile": {
                        "shape": "S36"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "FieldLevelEncryptionProfile"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "GetFieldLevelEncryptionProfileConfig": {
            "http": {
                "method": "GET",
                "requestUri": "/2019-03-26/field-level-encryption-profile/{Id}/config"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FieldLevelEncryptionProfileConfig": {
                        "shape": "S2z"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "FieldLevelEncryptionProfileConfig"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
[...]
