{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2013-01-01",
        "endpointPrefix": "cloudsearch",
        "protocol": "query",
        "serviceFullName": "Amazon CloudSearch",
        "serviceId": "CloudSearch",
        "signatureVersion": "v4",
        "uid": "cloudsearch-2013-01-01",
        "xmlNamespace": "http://cloudsearch.amazonaws.com/doc/2013-01-01/",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "BuildSuggesters": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {}
                }
            },
            "output": {
                "resultWrapper": "BuildSuggestersResult",
                "type": "structure",
                "members": {
                    "FieldNames": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {}
                }
            },
            "output": {
                "resultWrapper": "CreateDomainResult",
                "type": "structure",
                "members": {
                    "DomainStatus": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DefineAnalysisScheme": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "AnalysisScheme"
                ],
                "members": {
                    "DomainName": {},
                    "AnalysisScheme": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "resultWrapper": "DefineAnalysisSchemeResult",
                "type": "structure",
                "required": [
                    "AnalysisScheme"
                ],
                "members": {
                    "AnalysisScheme": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DefineExpression": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "Expression"
                ],
                "members": {
                    "DomainName": {},
                    "Expression": {
                        "shape": "Sy"
                    }
                }
            },
            "output": {
                "resultWrapper": "DefineExpressionResult",
                "type": "structure",
                "required": [
                    "Expression"
                ],
                "members": {
                    "Expression": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DefineIndexField": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "IndexField"
                ],
                "members": {
                    "DomainName": {},
                    "IndexField": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "resultWrapper": "DefineIndexFieldResult",
                "type": "structure",
                "required": [
                    "IndexField"
                ],
                "members": {
                    "IndexField": {
                        "shape": "S1n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DefineSuggester": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "Suggester"
                ],
                "members": {
                    "DomainName": {},
                    "Suggester": {
                        "shape": "S1p"
                    }
                }
            },
            "output": {
                "resultWrapper": "DefineSuggesterResult",
                "type": "structure",
                "required": [
                    "Suggester"
                ],
                "members": {
                    "Suggester": {
                        "shape": "S1t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteAnalysisScheme": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "AnalysisSchemeName"
                ],
                "members": {
                    "DomainName": {},
                    "AnalysisSchemeName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteAnalysisSchemeResult",
                "type": "structure",
                "required": [
                    "AnalysisScheme"
                ],
                "members": {
                    "AnalysisScheme": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteDomainResult",
                "type": "structure",
                "members": {
                    "DomainStatus": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteExpression": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "ExpressionName"
                ],
                "members": {
                    "DomainName": {},
                    "ExpressionName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteExpressionResult",
                "type": "structure",
                "required": [
                    "Expression"
                ],
                "members": {
                    "Expression": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteIndexField": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "IndexFieldName"
                ],
                "members": {
                    "DomainName": {},
                    "IndexFieldName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteIndexFieldResult",
                "type": "structure",
                "required": [
                    "IndexField"
                ],
                "members": {
                    "IndexField": {
                        "shape": "S1n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteSuggester": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "SuggesterName"
                ],
                "members": {
                    "DomainName": {},
                    "SuggesterName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteSuggesterResult",
                "type": "structure",
                "required": [
                    "Suggester"
                ],
                "members": {
                    "Suggester": {
                        "shape": "S1t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeAnalysisSchemes": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {},
                    "AnalysisSchemeNames": {
                        "shape": "S25"
                    },
                    "Deployed": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "DescribeAnalysisSchemesResult",
                "type": "structure",
                "required": [
                    "AnalysisSchemes"
                ],
                "members": {
                    "AnalysisSchemes": {
                        "type": "list",
                        "member": {
                            "shape": "Ss"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeAvailabilityOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {},
                    "Deployed": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "DescribeAvailabilityOptionsResult",
                "type": "structure",
                "members": {
                    "AvailabilityOptions": {
                        "shape": "S2a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeDomainEndpointOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {},
                    "Deployed": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "DescribeDomainEndpointOptionsResult",
                "type": "structure",
                "members": {
                    "DomainEndpointOptions": {
                        "shape": "S2e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeDomains": {
            "input": {
                "type": "structure",
                "members": {
                    "DomainNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "resultWrapper": "DescribeDomainsResult",
                "type": "structure",
                "required": [
                    "DomainStatusList"
                ],
                "members": {
                    "DomainStatusList": {
                        "type": "list",
                        "member": {
                            "shape": "S8"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeExpressions": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {},
                    "ExpressionNames": {
                        "shape": "S25"
                    },
                    "Deployed": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "DescribeExpressionsResult",
                "type": "structure",
                "required": [
                    "Expressions"
                ],
                "members": {
                    "Expressions": {
                        "type": "list",
                        "member": {
                            "shape": "S11"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeIndexFields": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {},
                    "FieldNames": {
                        "type": "list",
                        "member": {}
                    },
                    "Deployed": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "DescribeIndexFieldsResult",
                "type": "structure",
                "required": [
                    "IndexFields"
                ],
                "members": {
                    "IndexFields": {
                        "type": "list",
                        "member": {
                            "shape": "S1n"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeScalingParameters": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeScalingParametersResult",
                "type": "structure",
                "required": [
                    "ScalingParameters"
                ],
                "members": {
                    "ScalingParameters": {
                        "shape": "S2u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeServiceAccessPolicies": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {},
                    "Deployed": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "DescribeServiceAccessPoliciesResult",
                "type": "structure",
                "required": [
                    "AccessPolicies"
                ],
                "members": {
                    "AccessPolicies": {
                        "shape": "S2z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeSuggesters": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {},
                    "SuggesterNames": {
                        "shape": "S25"
                    },
                    "Deployed": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "DescribeSuggestersResult",
                "type": "structure",
                "required": [
                    "Suggesters"
                ],
                "members": {
                    "Suggesters": {
                        "type": "list",
                        "member": {
                            "shape": "S1t"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "IndexDocuments": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {}
                }
            },
            "output": {
                "resultWrapper": "IndexDocumentsResult",
                "type": "structure",
                "members": {
                    "FieldNames": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListDomainNames": {
            "output": {
                "resultWrapper": "ListDomainNamesResult",
                "type": "structure",
                "members": {
                    "DomainNames": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateAvailabilityOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "MultiAZ"
                ],
                "members": {
                    "DomainName": {},
                    "MultiAZ": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "UpdateAvailabilityOptionsResult",
                "type": "structure",
                "members": {
                    "AvailabilityOptions": {
                        "shape": "S2a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateDomainEndpointOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "DomainEndpointOptions"
                ],
                "members": {
                    "DomainName": {},
                    "DomainEndpointOptions": {
                        "shape": "S2f"
                    }
                }
            },
            "output": {
                "resultWrapper": "UpdateDomainEndpointOptionsResult",
                "type": "structure",
                "members": {
                    "DomainEndpointOptions": {
                        "shape": "S2e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateScalingParameters": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "ScalingParameters"
                ],
                "members": {
                    "DomainName": {},
                    "ScalingParameters": {
                        "shape": "S2v"
                    }
                }
            },
            "output": {
                "resultWrapper": "UpdateScalingParametersResult",
                "type": "structure",
                "required": [
                    "ScalingParameters"
                ],
                "members": {
                    "ScalingParameters": {
                        "shape": "S2u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateServiceAccessPolicies": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "AccessPolicies"
                ],
                "members": {
                    "DomainName": {},
                    "AccessPolicies": {}
                }
            },
            "output": {
                "resultWrapper": "UpdateServiceAccessPoliciesResult",
                "type": "structure",
                "required": [
                    "AccessPolicies"
                ],
                "members": {
                    "AccessPolicies": {
                        "shape": "S2z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
[...]
