{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2013-01-01",
        "endpointPrefix": "cloudsearchdomain",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon CloudSearch Domain",
        "serviceId": "CloudSearch Domain",
        "signatureVersion": "v4",
        "signingName": "cloudsearch",
        "uid": "cloudsearchdomain-2013-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "Search": {
            "http": {
                "method": "GET",
                "requestUri": "/2013-01-01/search?format=sdk&pretty=true"
            },
            "input": {
                "type": "structure",
                "required": [
                    "query"
                ],
                "members": {
                    "cursor": {
                        "location": "querystring",
                        "locationName": "cursor"
                    },
                    "expr": {
                        "location": "querystring",
                        "locationName": "expr"
                    },
                    "facet": {
                        "location": "querystring",
                        "locationName": "facet"
                    },
                    "filterQuery": {
                        "location": "querystring",
                        "locationName": "fq"
                    },
                    "highlight": {
                        "location": "querystring",
                        "locationName": "highlight"
                    },
                    "partial": {
                        "location": "querystring",
                        "locationName": "partial",
                        "type": "boolean"
                    },
                    "query": {
                        "location": "querystring",
                        "locationName": "q"
                    },
                    "queryOptions": {
                        "location": "querystring",
                        "locationName": "q.options"
                    },
                    "queryParser": {
                        "location": "querystring",
                        "locationName": "q.parser"
                    },
                    "return": {
                        "location": "querystring",
                        "locationName": "return"
                    },
                    "size": {
                        "location": "querystring",
                        "locationName": "size",
                        "type": "long"
                    },
                    "sort": {
                        "location": "querystring",
                        "locationName": "sort"
                    },
                    "start": {
                        "location": "querystring",
                        "locationName": "start",
                        "type": "long"
                    },
                    "stats": {
                        "location": "querystring",
                        "locationName": "stats"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {
                        "type": "structure",
                        "members": {
                            "timems": {
                                "type": "long"
                            },
                            "rid": {}
                        }
                    },
                    "hits": {
                        "type": "structure",
                        "members": {
                            "found": {
                                "type": "long"
                            },
                            "start": {
                                "type": "long"
                            },
                            "cursor": {},
                            "hit": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "id": {},
                                        "fields": {
                                            "type": "map",
                                            "key": {},
                                            "value": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        },
                                        "exprs": {
                                            "type": "map",
                                            "key": {},
                                            "value": {}
                                        },
                                        "highlights": {
                                            "type": "map",
                                            "key": {},
                                            "value": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "facets": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "buckets": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "value": {},
                                            "count": {
                                                "type": "long"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "stats": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "min": {},
                                "max": {},
                                "count": {
                                    "type": "long"
                                },
                                "missing": {
                                    "type": "long"
                                },
                                "sum": {
                                    "type": "double"
                                },
                                "sumOfSquares": {
                                    "type": "double"
                                },
                                "mean": {},
                                "stddev": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "Suggest": {
            "http": {
                "method": "GET",
                "requestUri": "/2013-01-01/suggest?format=sdk&pretty=true"
            },
            "input": {
                "type": "structure",
                "required": [
                    "query",
                    "suggester"
                ],
                "members": {
                    "query": {
                        "location": "querystring",
                        "locationName": "q"
                    },
                    "suggester": {
                        "location": "querystring",
                        "locationName": "suggester"
                    },
                    "size": {
                        "location": "querystring",
                        "locationName": "size",
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {
                        "type": "structure",
                        "members": {
                            "timems": {
                                "type": "long"
                            },
                            "rid": {}
                        }
                    },
                    "suggest": {
                        "type": "structure",
                        "members": {
                            "query": {},
                            "found": {
                                "type": "long"
                            },
                            "suggestions": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "suggestion": {},
                                        "score": {
                                            "type": "long"
                                        },
                                        "id": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UploadDocuments": {
            "http": {
                "requestUri": "/2013-01-01/documents/batch?format=sdk"
            },
            "input": {
                "type": "structure",
                "required": [
                    "documents",
                    "contentType"
                ],
                "members": {
                    "documents": {
                        "type": "blob",
                        "streaming": true
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    }
                },
                "payload": "documents"
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "adds": {
                        "type": "long"
                    },
                    "deletes": {
                        "type": "long"
                    },
                    "warnings": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        }
    },
    "shapes": {}
}