{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-09-23",
        "endpointPrefix": "cloud9",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Cloud9",
        "serviceId": "Cloud9",
        "signatureVersion": "v4",
        "targetPrefix": "AWSCloud9WorkspaceManagementService",
        "uid": "cloud9-2017-09-23",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BYHWXUF2R25TMUF7YJADCSDAXAAWBX4SFG4EQH4JLL5V2ZJ2FF2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B5ONARJTS2GUEVABDRID6RX7IR7ZA5SAPI2JDBNHQQMLSAN7XG6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E73I4UD6ZJLAQ6FF7ATCCXHPJB7KDRHL7SXMJCCQTG5RS3HBNV7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateEnvironmentEC2": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "instanceType"
                ],
                "members": {
                    "name": {},
                    "description": {
                        "shape": "S3"
                    },
                    "clientRequestToken": {},
                    "instanceType": {},
                    "subnetId": {},
                    "imageId": {},
                    "automaticStopTimeMinutes": {
                        "type": "integer"
                    },
                    "ownerArn": {},
                    "tags": {
                        "shape": "Sa"
                    },
                    "connectionType": {},
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environmentId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYHWXUF2R25TMUF7YJADCSDAXAAWBX4SFG4EQH4JLL5V2ZJ2FF2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5ONARJTS2GUEVABDRID6RX7IR7ZA5SAPI2JDBNHQQMLSAN7XG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E73I4UD6ZJLAQ6FF7ATCCXHPJB7KDRHL7SXMJCCQTG5RS3HBNV7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateEnvironmentMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "userArn",
                    "permissions"
                ],
                "members": {
                    "environmentId": {},
                    "userArn": {},
                    "permissions": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "membership"
                ],
                "members": {
                    "membership": {
                        "shape": "Sl"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYHWXUF2R25TMUF7YJADCSDAXAAWBX4SFG4EQH4JLL5V2ZJ2FF2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5ONARJTS2GUEVABDRID6RX7IR7ZA5SAPI2JDBNHQQMLSAN7XG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E73I4UD6ZJLAQ6FF7ATCCXHPJB7KDRHL7SXMJCCQTG5RS3HBNV7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteEnvironment": {
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYHWXUF2R25TMUF7YJADCSDAXAAWBX4SFG4EQH4JLL5V2ZJ2FF2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5ONARJTS2GUEVABDRID6RX7IR7ZA5SAPI2JDBNHQQMLSAN7XG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E73I4UD6ZJLAQ6FF7ATCCXHPJB7KDRHL7SXMJCCQTG5RS3HBNV7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteEnvironmentMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "userArn"
                ],
                "members": {
                    "environmentId": {},
                    "userArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYHWXUF2R25TMUF7YJADCSDAXAAWBX4SFG4EQH4JLL5V2ZJ2FF2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5ONARJTS2GUEVABDRID6RX7IR7ZA5SAPI2JDBNHQQMLSAN7XG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E73I4UD6ZJLAQ6FF7ATCCXHPJB7KDRHL7SXMJCCQTG5RS3HBNV7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeEnvironmentMemberships": {
            "input": {
                "type": "structure",
                "members": {
                    "userArn": {},
                    "environmentId": {},
                    "permissions": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "memberships": {
                        "type": "list",
                        "member": {
                            "shape": "Sl"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYHWXUF2R25TMUF7YJADCSDAXAAWBX4SFG4EQH4JLL5V2ZJ2FF2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5ONARJTS2GUEVABDRID6RX7IR7ZA5SAPI2JDBNHQQMLSAN7XG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E73I4UD6ZJLAQ6FF7ATCCXHPJB7KDRHL7SXMJCCQTG5RS3HBNV7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeEnvironmentStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status",
                    "message"
                ],
                "members": {
                    "status": {},
                    "message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYHWXUF2R25TMUF7YJADCSDAXAAWBX4SFG4EQH4JLL5V2ZJ2FF2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5ONARJTS2GUEVABDRID6RX7IR7ZA5SAPI2JDBNHQQMLSAN7XG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E73I4UD6ZJLAQ6FF7ATCCXHPJB7KDRHL7SXMJCCQTG5RS3HBNV7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeEnvironments": {
            "input": {
                "type": "structure",
                "required": [
                    "environmentIds"
                ],
                "members": {
                    "environmentIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "type",
                                "arn",
                                "ownerArn"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "description": {
                                    "shape": "S3"
                                },
                                "type": {},
                                "connectionType": {},
                                "arn": {},
                                "ownerArn": {},
                                "lifecycle": {
                                    "type": "structure",
                                    "members": {
                                        "status": {},
                                        "reason": {},
                                        "failureResource": {}
                                    }
                                },
                                "managedCredentialsStatus": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYHWXUF2R25TMUF7YJADCSDAXAAWBX4SFG4EQH4JLL5V2ZJ2FF2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5ONARJTS2GUEVABDRID6RX7IR7ZA5SAPI2JDBNHQQMLSAN7XG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E73I4UD6ZJLAQ6FF7ATCCXHPJB7KDRHL7SXMJCCQTG5RS3HBNV7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListEnvironments": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "environmentIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYHWXUF2R25TMUF7YJADCSDAXAAWBX4SFG4EQH4JLL5V2ZJ2FF2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5ONARJTS2GUEVABDRID6RX7IR7ZA5SAPI2JDBNHQQMLSAN7XG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E73I4UD6ZJLAQ6FF7ATCCXHPJB7KDRHL7SXMJCCQTG5RS3HBNV7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYHWXUF2R25TMUF7YJADCSDAXAAWBX4SFG4EQH4JLL5V2ZJ2FF2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5ONARJTS2GUEVABDRID6RX7IR7ZA5SAPI2JDBNHQQMLSAN7XG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E73I4UD6ZJLAQ6FF7ATCCXHPJB7KDRHL7SXMJCCQTG5RS3HBNV7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "Sa"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYHWXUF2R25TMUF7YJADCSDAXAAWBX4SFG4EQH4JLL5V2ZJ2FF2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5ONARJTS2GUEVABDRID6RX7IR7ZA5SAPI2JDBNHQQMLSAN7XG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E73I4UD6ZJLAQ6FF7ATCCXHPJB7KDRHL7SXMJCCQTG5RS3HBNV7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {
                            "shape": "Sc"
                        },
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYHWXUF2R25TMUF7YJADCSDAXAAWBX4SFG4EQH4JLL5V2ZJ2FF2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5ONARJTS2GUEVABDRID6RX7IR7ZA5SAPI2JDBNHQQMLSAN7XG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E73I4UD6ZJLAQ6FF7ATCCXHPJB7KDRHL7SXMJCCQTG5RS3HBNV7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateEnvironment": {
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {},
                    "name": {},
                    "description": {
                        "shape": "S3"
                    },
                    "managedCredentialsAction": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYHWXUF2R25TMUF7YJADCSDAXAAWBX4SFG4EQH4JLL5V2ZJ2FF2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5ONARJTS2GUEVABDRID6RX7IR7ZA5SAPI2JDBNHQQMLSAN7XG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E73I4UD6ZJLAQ6FF7ATCCXHPJB7KDRHL7SXMJCCQTG5RS3HBNV7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateEnvironmentMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "userArn",
                    "permissions"
                ],
                "members": {
                    "environmentId": {},
                    "userArn": {},
                    "permissions": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "membership": {
                        "shape": "Sl"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYHWXUF2R25TMUF7YJADCSDAXAAWBX4SFG4EQH4JLL5V2ZJ2FF2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5ONARJTS2GUEVABDRID6RX7IR7ZA5SAPI2JDBNHQQMLSAN7XG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E73I4UD6ZJLAQ6FF7ATCCXHPJB7KDRHL7SXMJCCQTG5RS3HBNV7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ActivateEC2Remote": {
            "name": "ActivateEC2Remote",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "ActivateEC2RemoteRequest"
            },
            "output": {
                "shape": "ActivateEC2RemoteResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKXHXA7REEYEUM4TWRZOCGMXBKDHNBCY5R6BEQFIEGOSUJB4DHVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5CCJ63EZZUQBLOHUIZO7LTVMMB4FQ2MLLYU242API2DXH7OXNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C32EVFLARZAHZEUFULWIIMYUYPPHLSDJKID2JA4YR36O3OKWHRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNO6FETYX3ZHSZ3KNOKHQX7GZOOSTDXUFLIQR3SUNZ2ISSHMMYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMM47VFFOBYA7B2XBODGC22VZOLRLJMV4O4477XC7TRSNQ2UETGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMQ6AFAWYTJBHTUH4N434O733UHEQYPWHKUM663SQH7VUVSBOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7GJ6OLP74JWI7QBLM5HJDEDPAQVP53YOZCMYMQA3DIRVJ5OPWPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZNKPV7G62LOCOMGHLZE6RD63RZNT426OIZ3FDVBHPMILHB3JJCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GOSBIIIN5IRGN2NEO5NDUXGOKC7KPFXTU6IEVHMVWRZRA4JQNSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66LMRT6HKOZWPIHBI6BLQTT3BYJQFDYNVDGQFNDO2KGIVAZHN3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QBBIYXEOIYGG32SU3UD7SMODMVVIDVCABN4GJVVRTYGDVXUL74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAJFOSS7WPRVDX2ICVELKNA3F32QKXF4UUC6BJJJGN7WXZQWYA6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5PFNEC4OIP3KNK3P24EX3QOWSEJPMZEKVTI5VL2PPTB5TXMZYPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6WBCZBILCV3S3BG3BEF5GB6KZKSTPD6AOJCY6QOVC56PJ5VT5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y22W7N44ZGB4KY5SLMVCXKJPIXH2N5RF5A7LNQGYE2TSEKSBC77Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OTMLI7E6YZNMEBS4JXHIVV6OH2X6VRF42NGMQTKFO5YBP3T7VVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO45A2WXZ4FFBGHWHY2HQHR3PMYO4W2QGGXC3G2HUHRGHPLQPYRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFXLRPA547ZW54KGUSQZK4EFMNLMVK4FBCZHOKVPDIXIMNZDIR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG7IR5LV33SYTL6FQ54C3NBLQPM5NTQJ354GEZVELM36ELUDHTMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJRSHCOMSORFCGEPT4VCNQQ3ILSEODCFXTI5R2WY6HEHRKZAVIVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DO6FSYBS35ZKPIU6FHJMZLUECZDM4KL6D567MJKGT65TMNOSGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYHWXUF2R25TMUF7YJADCSDAXAAWBX4SFG4EQH4JLL5V2ZJ2FF2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5ONARJTS2GUEVABDRID6RX7IR7ZA5SAPI2JDBNHQQMLSAN7XG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E73I4UD6ZJLAQ6FF7ATCCXHPJB7KDRHL7SXMJCCQTG5RS3HBNV7Q/main.js"
            ]
        },
        "CreateEnvironment": {
            "name": "CreateEnvironment",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateEnvironmentRequest"
            },
            "output": {
                "shape": "CreateEnvironmentResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCWDAJ57HTCGWP5NBUHU3HX4CPBL4KHPOHGYQNOFTIDBH4G4QDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WSWH6XC5ABN76LXRGKTWBJFALOAX72BWD2VQRNAK77CMLXVFQAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7ED55U2B337GUX2UP5GCBCRUR2SSPIDNFZ6ZBVEMRASCWN2LUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GP2WJHB72KIV4EGXYSQMP5EXIBKIQGDX3GRYJCV4FWV7MAJU6YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66U3DHSKUYYP57E5LYGBD7GY56ODVINDI2PDSGOUJ3N6X6CDN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGLLGF2BCW73AMKA7GNOSBTJHG7YGEAVNGW33567LK5RJELNF4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRKNTISZKK76B22QXQT3L5WRZHJOO7IGGRFHJC2OIKSQQLCMCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4EURRLESH4CJQ3K7MQ2A3R7XGEGJQ5ST65SNL7PUMB4LIDAE5YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHCJLHFM2AZOE5HNVL6K6X5BB6MONKZFWGQ6H624NVQVKKDNR3IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYHPNTARKD2CJFSSPPSBGCAHXQBNUH37CY6N67A47O7ZWA64SAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHH77BOYMGI27BI6RQ7Y73LVFLKHNTHCQ5XABQHPOE333MWS5FJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7GOHJBUNKCQRGLMB5YUVOX3UNCFVXR3PGOUKHNIPB55AVFM7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAH7GA5KI267YBJKZBGC5MR6775RBEMWHBOVN72XFOPBDNVY7VVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIAIDQ5TYHBQXXQPLKY6YXR4QWT5FXJDM2GA75XQ74EMUYEYQODA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPOMMNBL7OWXGU4K3SZVCYKDJRBCWBWLUBWXMV32ZRDAGIYSDX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKNPH3WDFBXBDWW4H52KASCCMJSZ4S5MDJOZB2QDDJDK5P7Z36SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HAARLMLTW3P5JXE6JIUAFQRPZLLSX4GNSMLOVB3VWOWAP56D2EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCZSBRRRMQWCYJDITD37ATVGVL5KIQ66NHV7ZB6GJ67RQDUYP6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXVTPTDI6QL2QVBHZS54CWD63KM2CN6AV2IT3T3OFBDZ37YCT3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWULBWVUZ6DPL6B2IUM7CEDA5FRJ44PN6JKINSNZZHZHEOWMQZ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZUMV63RJLWIYD4U47PZUCWGBQUO4LXJTGIAJVCQLO4MQ5DWUAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CP7YXHUEFVYAH3KMIXDVVPW5A7QOPPSTQCYZJ2KPMNGM6246SCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVLJNZPV5WJDCU6IMRGR52GHHZDYIQ3WZOGYJVIY7DF5UJYFKKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWGCEL25N2VD4SZGM3DMFSNR2TNDALCPW5BVW2NINQRM366BPNZQ/main.js"
            ]
        },
        "CreateEnvironmentHost": {
            "name": "CreateEnvironmentHost",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateEnvironmentHostRequest"
            },
            "output": {
                "shape": "CreateEnvironmentHostResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCWDAJ57HTCGWP5NBUHU3HX4CPBL4KHPOHGYQNOFTIDBH4G4QDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WSWH6XC5ABN76LXRGKTWBJFALOAX72BWD2VQRNAK77CMLXVFQAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7ED55U2B337GUX2UP5GCBCRUR2SSPIDNFZ6ZBVEMRASCWN2LUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GP2WJHB72KIV4EGXYSQMP5EXIBKIQGDX3GRYJCV4FWV7MAJU6YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66U3DHSKUYYP57E5LYGBD7GY56ODVINDI2PDSGOUJ3N6X6CDN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGLLGF2BCW73AMKA7GNOSBTJHG7YGEAVNGW33567LK5RJELNF4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRKNTISZKK76B22QXQT3L5WRZHJOO7IGGRFHJC2OIKSQQLCMCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4EURRLESH4CJQ3K7MQ2A3R7XGEGJQ5ST65SNL7PUMB4LIDAE5YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHCJLHFM2AZOE5HNVL6K6X5BB6MONKZFWGQ6H624NVQVKKDNR3IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYHPNTARKD2CJFSSPPSBGCAHXQBNUH37CY6N67A47O7ZWA64SAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHH77BOYMGI27BI6RQ7Y73LVFLKHNTHCQ5XABQHPOE333MWS5FJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7GOHJBUNKCQRGLMB5YUVOX3UNCFVXR3PGOUKHNIPB55AVFM7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAH7GA5KI267YBJKZBGC5MR6775RBEMWHBOVN72XFOPBDNVY7VVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIAIDQ5TYHBQXXQPLKY6YXR4QWT5FXJDM2GA75XQ74EMUYEYQODA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPOMMNBL7OWXGU4K3SZVCYKDJRBCWBWLUBWXMV32ZRDAGIYSDX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKNPH3WDFBXBDWW4H52KASCCMJSZ4S5MDJOZB2QDDJDK5P7Z36SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HAARLMLTW3P5JXE6JIUAFQRPZLLSX4GNSMLOVB3VWOWAP56D2EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCZSBRRRMQWCYJDITD37ATVGVL5KIQ66NHV7ZB6GJ67RQDUYP6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXVTPTDI6QL2QVBHZS54CWD63KM2CN6AV2IT3T3OFBDZ37YCT3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWULBWVUZ6DPL6B2IUM7CEDA5FRJ44PN6JKINSNZZHZHEOWMQZ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZUMV63RJLWIYD4U47PZUCWGBQUO4LXJTGIAJVCQLO4MQ5DWUAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CP7YXHUEFVYAH3KMIXDVVPW5A7QOPPSTQCYZJ2KPMNGM6246SCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVLJNZPV5WJDCU6IMRGR52GHHZDYIQ3WZOGYJVIY7DF5UJYFKKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWGCEL25N2VD4SZGM3DMFSNR2TNDALCPW5BVW2NINQRM366BPNZQ/main.js"
            ]
        },
        "CreateEnvironmentSSH": {
            "name": "CreateEnvironmentSSH",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateEnvironmentSSHRequest"
            },
            "output": {
                "shape": "CreateEnvironmentSSHResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKXHXA7REEYEUM4TWRZOCGMXBKDHNBCY5R6BEQFIEGOSUJB4DHVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5CCJ63EZZUQBLOHUIZO7LTVMMB4FQ2MLLYU242API2DXH7OXNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C32EVFLARZAHZEUFULWIIMYUYPPHLSDJKID2JA4YR36O3OKWHRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNO6FETYX3ZHSZ3KNOKHQX7GZOOSTDXUFLIQR3SUNZ2ISSHMMYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMM47VFFOBYA7B2XBODGC22VZOLRLJMV4O4477XC7TRSNQ2UETGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMQ6AFAWYTJBHTUH4N434O733UHEQYPWHKUM663SQH7VUVSBOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7GJ6OLP74JWI7QBLM5HJDEDPAQVP53YOZCMYMQA3DIRVJ5OPWPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZNKPV7G62LOCOMGHLZE6RD63RZNT426OIZ3FDVBHPMILHB3JJCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GOSBIIIN5IRGN2NEO5NDUXGOKC7KPFXTU6IEVHMVWRZRA4JQNSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66LMRT6HKOZWPIHBI6BLQTT3BYJQFDYNVDGQFNDO2KGIVAZHN3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QBBIYXEOIYGG32SU3UD7SMODMVVIDVCABN4GJVVRTYGDVXUL74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAJFOSS7WPRVDX2ICVELKNA3F32QKXF4UUC6BJJJGN7WXZQWYA6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5PFNEC4OIP3KNK3P24EX3QOWSEJPMZEKVTI5VL2PPTB5TXMZYPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6WBCZBILCV3S3BG3BEF5GB6KZKSTPD6AOJCY6QOVC56PJ5VT5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y22W7N44ZGB4KY5SLMVCXKJPIXH2N5RF5A7LNQGYE2TSEKSBC77Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OTMLI7E6YZNMEBS4JXHIVV6OH2X6VRF42NGMQTKFO5YBP3T7VVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO45A2WXZ4FFBGHWHY2HQHR3PMYO4W2QGGXC3G2HUHRGHPLQPYRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFXLRPA547ZW54KGUSQZK4EFMNLMVK4FBCZHOKVPDIXIMNZDIR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG7IR5LV33SYTL6FQ54C3NBLQPM5NTQJ354GEZVELM36ELUDHTMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJRSHCOMSORFCGEPT4VCNQQ3ILSEODCFXTI5R2WY6HEHRKZAVIVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DO6FSYBS35ZKPIU6FHJMZLUECZDM4KL6D567MJKGT65TMNOSGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYHWXUF2R25TMUF7YJADCSDAXAAWBX4SFG4EQH4JLL5V2ZJ2FF2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5ONARJTS2GUEVABDRID6RX7IR7ZA5SAPI2JDBNHQQMLSAN7XG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E73I4UD6ZJLAQ6FF7ATCCXHPJB7KDRHL7SXMJCCQTG5RS3HBNV7Q/main.js"
            ]
        },
        "CreateEnvironmentSSM": {
            "name": "CreateEnvironmentSSM",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateEnvironmentSSMRequest"
            },
            "output": {
                "shape": "CreateEnvironmentSSMResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKCHAZUMX4K34NOILCVMKG7GUMK27WRKH2LCKFP67D5PCFSTEUQ/main.js"
            ]
        },
        "CreateEnvironmentToken": {
            "name": "CreateEnvironmentToken",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateEnvironmentTokenRequest"
            },
            "output": {
                "shape": "CreateEnvironmentTokenResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKXHXA7REEYEUM4TWRZOCGMXBKDHNBCY5R6BEQFIEGOSUJB4DHVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5CCJ63EZZUQBLOHUIZO7LTVMMB4FQ2MLLYU242API2DXH7OXNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C32EVFLARZAHZEUFULWIIMYUYPPHLSDJKID2JA4YR36O3OKWHRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNO6FETYX3ZHSZ3KNOKHQX7GZOOSTDXUFLIQR3SUNZ2ISSHMMYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMM47VFFOBYA7B2XBODGC22VZOLRLJMV4O4477XC7TRSNQ2UETGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMQ6AFAWYTJBHTUH4N434O733UHEQYPWHKUM663SQH7VUVSBOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7GJ6OLP74JWI7QBLM5HJDEDPAQVP53YOZCMYMQA3DIRVJ5OPWPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZNKPV7G62LOCOMGHLZE6RD63RZNT426OIZ3FDVBHPMILHB3JJCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GOSBIIIN5IRGN2NEO5NDUXGOKC7KPFXTU6IEVHMVWRZRA4JQNSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66LMRT6HKOZWPIHBI6BLQTT3BYJQFDYNVDGQFNDO2KGIVAZHN3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QBBIYXEOIYGG32SU3UD7SMODMVVIDVCABN4GJVVRTYGDVXUL74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAJFOSS7WPRVDX2ICVELKNA3F32QKXF4UUC6BJJJGN7WXZQWYA6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5PFNEC4OIP3KNK3P24EX3QOWSEJPMZEKVTI5VL2PPTB5TXMZYPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6WBCZBILCV3S3BG3BEF5GB6KZKSTPD6AOJCY6QOVC56PJ5VT5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y22W7N44ZGB4KY5SLMVCXKJPIXH2N5RF5A7LNQGYE2TSEKSBC77Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OTMLI7E6YZNMEBS4JXHIVV6OH2X6VRF42NGMQTKFO5YBP3T7VVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO45A2WXZ4FFBGHWHY2HQHR3PMYO4W2QGGXC3G2HUHRGHPLQPYRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFXLRPA547ZW54KGUSQZK4EFMNLMVK4FBCZHOKVPDIXIMNZDIR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG7IR5LV33SYTL6FQ54C3NBLQPM5NTQJ354GEZVELM36ELUDHTMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJRSHCOMSORFCGEPT4VCNQQ3ILSEODCFXTI5R2WY6HEHRKZAVIVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DO6FSYBS35ZKPIU6FHJMZLUECZDM4KL6D567MJKGT65TMNOSGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYHWXUF2R25TMUF7YJADCSDAXAAWBX4SFG4EQH4JLL5V2ZJ2FF2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5ONARJTS2GUEVABDRID6RX7IR7ZA5SAPI2JDBNHQQMLSAN7XG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E73I4UD6ZJLAQ6FF7ATCCXHPJB7KDRHL7SXMJCCQTG5RS3HBNV7Q/main.js"
            ]
        },
        "DeleteEnvironmentHost": {
            "name": "DeleteEnvironmentHost",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "DeleteEnvironmentHostRequest"
            },
            "output": {
                "shape": "DeleteEnvironmentHostResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCWDAJ57HTCGWP5NBUHU3HX4CPBL4KHPOHGYQNOFTIDBH4G4QDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WSWH6XC5ABN76LXRGKTWBJFALOAX72BWD2VQRNAK77CMLXVFQAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7ED55U2B337GUX2UP5GCBCRUR2SSPIDNFZ6ZBVEMRASCWN2LUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GP2WJHB72KIV4EGXYSQMP5EXIBKIQGDX3GRYJCV4FWV7MAJU6YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66U3DHSKUYYP57E5LYGBD7GY56ODVINDI2PDSGOUJ3N6X6CDN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGLLGF2BCW73AMKA7GNOSBTJHG7YGEAVNGW33567LK5RJELNF4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRKNTISZKK76B22QXQT3L5WRZHJOO7IGGRFHJC2OIKSQQLCMCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4EURRLESH4CJQ3K7MQ2A3R7XGEGJQ5ST65SNL7PUMB4LIDAE5YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHCJLHFM2AZOE5HNVL6K6X5BB6MONKZFWGQ6H624NVQVKKDNR3IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYHPNTARKD2CJFSSPPSBGCAHXQBNUH37CY6N67A47O7ZWA64SAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHH77BOYMGI27BI6RQ7Y73LVFLKHNTHCQ5XABQHPOE333MWS5FJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7GOHJBUNKCQRGLMB5YUVOX3UNCFVXR3PGOUKHNIPB55AVFM7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAH7GA5KI267YBJKZBGC5MR6775RBEMWHBOVN72XFOPBDNVY7VVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIAIDQ5TYHBQXXQPLKY6YXR4QWT5FXJDM2GA75XQ74EMUYEYQODA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPOMMNBL7OWXGU4K3SZVCYKDJRBCWBWLUBWXMV32ZRDAGIYSDX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKNPH3WDFBXBDWW4H52KASCCMJSZ4S5MDJOZB2QDDJDK5P7Z36SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HAARLMLTW3P5JXE6JIUAFQRPZLLSX4GNSMLOVB3VWOWAP56D2EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCZSBRRRMQWCYJDITD37ATVGVL5KIQ66NHV7ZB6GJ67RQDUYP6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXVTPTDI6QL2QVBHZS54CWD63KM2CN6AV2IT3T3OFBDZ37YCT3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWULBWVUZ6DPL6B2IUM7CEDA5FRJ44PN6JKINSNZZHZHEOWMQZ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZUMV63RJLWIYD4U47PZUCWGBQUO4LXJTGIAJVCQLO4MQ5DWUAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CP7YXHUEFVYAH3KMIXDVVPW5A7QOPPSTQCYZJ2KPMNGM6246SCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVLJNZPV5WJDCU6IMRGR52GHHZDYIQ3WZOGYJVIY7DF5UJYFKKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWGCEL25N2VD4SZGM3DMFSNR2TNDALCPW5BVW2NINQRM366BPNZQ/main.js"
            ]
        },
        "DescribeEC2Remote": {
            "name": "DescribeEC2Remote",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "DescribeEC2RemoteRequest"
            },
            "output": {
                "shape": "DescribeEC2RemoteResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKXHXA7REEYEUM4TWRZOCGMXBKDHNBCY5R6BEQFIEGOSUJB4DHVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5CCJ63EZZUQBLOHUIZO7LTVMMB4FQ2MLLYU242API2DXH7OXNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C32EVFLARZAHZEUFULWIIMYUYPPHLSDJKID2JA4YR36O3OKWHRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNO6FETYX3ZHSZ3KNOKHQX7GZOOSTDXUFLIQR3SUNZ2ISSHMMYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMM47VFFOBYA7B2XBODGC22VZOLRLJMV4O4477XC7TRSNQ2UETGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMQ6AFAWYTJBHTUH4N434O733UHEQYPWHKUM663SQH7VUVSBOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7GJ6OLP74JWI7QBLM5HJDEDPAQVP53YOZCMYMQA3DIRVJ5OPWPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZNKPV7G62LOCOMGHLZE6RD63RZNT426OIZ3FDVBHPMILHB3JJCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GOSBIIIN5IRGN2NEO5NDUXGOKC7KPFXTU6IEVHMVWRZRA4JQNSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66LMRT6HKOZWPIHBI6BLQTT3BYJQFDYNVDGQFNDO2KGIVAZHN3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QBBIYXEOIYGG32SU3UD7SMODMVVIDVCABN4GJVVRTYGDVXUL74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAJFOSS7WPRVDX2ICVELKNA3F32QKXF4UUC6BJJJGN7WXZQWYA6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5PFNEC4OIP3KNK3P24EX3QOWSEJPMZEKVTI5VL2PPTB5TXMZYPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6WBCZBILCV3S3BG3BEF5GB6KZKSTPD6AOJCY6QOVC56PJ5VT5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y22W7N44ZGB4KY5SLMVCXKJPIXH2N5RF5A7LNQGYE2TSEKSBC77Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OTMLI7E6YZNMEBS4JXHIVV6OH2X6VRF42NGMQTKFO5YBP3T7VVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO45A2WXZ4FFBGHWHY2HQHR3PMYO4W2QGGXC3G2HUHRGHPLQPYRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFXLRPA547ZW54KGUSQZK4EFMNLMVK4FBCZHOKVPDIXIMNZDIR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG7IR5LV33SYTL6FQ54C3NBLQPM5NTQJ354GEZVELM36ELUDHTMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJRSHCOMSORFCGEPT4VCNQQ3ILSEODCFXTI5R2WY6HEHRKZAVIVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DO6FSYBS35ZKPIU6FHJMZLUECZDM4KL6D567MJKGT65TMNOSGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYHWXUF2R25TMUF7YJADCSDAXAAWBX4SFG4EQH4JLL5V2ZJ2FF2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5ONARJTS2GUEVABDRID6RX7IR7ZA5SAPI2JDBNHQQMLSAN7XG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E73I4UD6ZJLAQ6FF7ATCCXHPJB7KDRHL7SXMJCCQTG5RS3HBNV7Q/main.js"
            ]
        },
        "DescribeEnvironmentHosts": {
            "name": "DescribeEnvironmentHosts",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "DescribeEnvironmentHostsRequest"
            },
            "output": {
                "shape": "DescribeEnvironmentHostsResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCWDAJ57HTCGWP5NBUHU3HX4CPBL4KHPOHGYQNOFTIDBH4G4QDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WSWH6XC5ABN76LXRGKTWBJFALOAX72BWD2VQRNAK77CMLXVFQAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7ED55U2B337GUX2UP5GCBCRUR2SSPIDNFZ6ZBVEMRASCWN2LUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GP2WJHB72KIV4EGXYSQMP5EXIBKIQGDX3GRYJCV4FWV7MAJU6YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66U3DHSKUYYP57E5LYGBD7GY56ODVINDI2PDSGOUJ3N6X6CDN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGLLGF2BCW73AMKA7GNOSBTJHG7YGEAVNGW33567LK5RJELNF4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRKNTISZKK76B22QXQT3L5WRZHJOO7IGGRFHJC2OIKSQQLCMCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4EURRLESH4CJQ3K7MQ2A3R7XGEGJQ5ST65SNL7PUMB4LIDAE5YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHCJLHFM2AZOE5HNVL6K6X5BB6MONKZFWGQ6H624NVQVKKDNR3IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYHPNTARKD2CJFSSPPSBGCAHXQBNUH37CY6N67A47O7ZWA64SAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHH77BOYMGI27BI6RQ7Y73LVFLKHNTHCQ5XABQHPOE333MWS5FJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7GOHJBUNKCQRGLMB5YUVOX3UNCFVXR3PGOUKHNIPB55AVFM7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAH7GA5KI267YBJKZBGC5MR6775RBEMWHBOVN72XFOPBDNVY7VVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIAIDQ5TYHBQXXQPLKY6YXR4QWT5FXJDM2GA75XQ74EMUYEYQODA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPOMMNBL7OWXGU4K3SZVCYKDJRBCWBWLUBWXMV32ZRDAGIYSDX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKNPH3WDFBXBDWW4H52KASCCMJSZ4S5MDJOZB2QDDJDK5P7Z36SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HAARLMLTW3P5JXE6JIUAFQRPZLLSX4GNSMLOVB3VWOWAP56D2EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCZSBRRRMQWCYJDITD37ATVGVL5KIQ66NHV7ZB6GJ67RQDUYP6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXVTPTDI6QL2QVBHZS54CWD63KM2CN6AV2IT3T3OFBDZ37YCT3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWULBWVUZ6DPL6B2IUM7CEDA5FRJ44PN6JKINSNZZHZHEOWMQZ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZUMV63RJLWIYD4U47PZUCWGBQUO4LXJTGIAJVCQLO4MQ5DWUAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CP7YXHUEFVYAH3KMIXDVVPW5A7QOPPSTQCYZJ2KPMNGM6246SCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVLJNZPV5WJDCU6IMRGR52GHHZDYIQ3WZOGYJVIY7DF5UJYFKKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWGCEL25N2VD4SZGM3DMFSNR2TNDALCPW5BVW2NINQRM366BPNZQ/main.js"
            ]
        },
        "DescribeSSHRemote": {
            "name": "DescribeSSHRemote",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "DescribeSSHRemoteRequest"
            },
            "output": {
                "shape": "DescribeSSHRemoteResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKXHXA7REEYEUM4TWRZOCGMXBKDHNBCY5R6BEQFIEGOSUJB4DHVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5CCJ63EZZUQBLOHUIZO7LTVMMB4FQ2MLLYU242API2DXH7OXNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C32EVFLARZAHZEUFULWIIMYUYPPHLSDJKID2JA4YR36O3OKWHRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNO6FETYX3ZHSZ3KNOKHQX7GZOOSTDXUFLIQR3SUNZ2ISSHMMYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMM47VFFOBYA7B2XBODGC22VZOLRLJMV4O4477XC7TRSNQ2UETGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMQ6AFAWYTJBHTUH4N434O733UHEQYPWHKUM663SQH7VUVSBOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7GJ6OLP74JWI7QBLM5HJDEDPAQVP53YOZCMYMQA3DIRVJ5OPWPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZNKPV7G62LOCOMGHLZE6RD63RZNT426OIZ3FDVBHPMILHB3JJCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GOSBIIIN5IRGN2NEO5NDUXGOKC7KPFXTU6IEVHMVWRZRA4JQNSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66LMRT6HKOZWPIHBI6BLQTT3BYJQFDYNVDGQFNDO2KGIVAZHN3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QBBIYXEOIYGG32SU3UD7SMODMVVIDVCABN4GJVVRTYGDVXUL74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAJFOSS7WPRVDX2ICVELKNA3F32QKXF4UUC6BJJJGN7WXZQWYA6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5PFNEC4OIP3KNK3P24EX3QOWSEJPMZEKVTI5VL2PPTB5TXMZYPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6WBCZBILCV3S3BG3BEF5GB6KZKSTPD6AOJCY6QOVC56PJ5VT5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y22W7N44ZGB4KY5SLMVCXKJPIXH2N5RF5A7LNQGYE2TSEKSBC77Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OTMLI7E6YZNMEBS4JXHIVV6OH2X6VRF42NGMQTKFO5YBP3T7VVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO45A2WXZ4FFBGHWHY2HQHR3PMYO4W2QGGXC3G2HUHRGHPLQPYRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFXLRPA547ZW54KGUSQZK4EFMNLMVK4FBCZHOKVPDIXIMNZDIR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG7IR5LV33SYTL6FQ54C3NBLQPM5NTQJ354GEZVELM36ELUDHTMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJRSHCOMSORFCGEPT4VCNQQ3ILSEODCFXTI5R2WY6HEHRKZAVIVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DO6FSYBS35ZKPIU6FHJMZLUECZDM4KL6D567MJKGT65TMNOSGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYHWXUF2R25TMUF7YJADCSDAXAAWBX4SFG4EQH4JLL5V2ZJ2FF2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5ONARJTS2GUEVABDRID6RX7IR7ZA5SAPI2JDBNHQQMLSAN7XG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E73I4UD6ZJLAQ6FF7ATCCXHPJB7KDRHL7SXMJCCQTG5RS3HBNV7Q/main.js"
            ]
        },
        "GetEnvironmentConfig": {
            "name": "GetEnvironmentConfig",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "GetEnvironmentConfigRequest"
            },
            "output": {
                "shape": "GetEnvironmentConfigResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKXHXA7REEYEUM4TWRZOCGMXBKDHNBCY5R6BEQFIEGOSUJB4DHVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5CCJ63EZZUQBLOHUIZO7LTVMMB4FQ2MLLYU242API2DXH7OXNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C32EVFLARZAHZEUFULWIIMYUYPPHLSDJKID2JA4YR36O3OKWHRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNO6FETYX3ZHSZ3KNOKHQX7GZOOSTDXUFLIQR3SUNZ2ISSHMMYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMM47VFFOBYA7B2XBODGC22VZOLRLJMV4O4477XC7TRSNQ2UETGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMQ6AFAWYTJBHTUH4N434O733UHEQYPWHKUM663SQH7VUVSBOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7GJ6OLP74JWI7QBLM5HJDEDPAQVP53YOZCMYMQA3DIRVJ5OPWPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZNKPV7G62LOCOMGHLZE6RD63RZNT426OIZ3FDVBHPMILHB3JJCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GOSBIIIN5IRGN2NEO5NDUXGOKC7KPFXTU6IEVHMVWRZRA4JQNSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66LMRT6HKOZWPIHBI6BLQTT3BYJQFDYNVDGQFNDO2KGIVAZHN3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QBBIYXEOIYGG32SU3UD7SMODMVVIDVCABN4GJVVRTYGDVXUL74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAJFOSS7WPRVDX2ICVELKNA3F32QKXF4UUC6BJJJGN7WXZQWYA6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5PFNEC4OIP3KNK3P24EX3QOWSEJPMZEKVTI5VL2PPTB5TXMZYPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6WBCZBILCV3S3BG3BEF5GB6KZKSTPD6AOJCY6QOVC56PJ5VT5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y22W7N44ZGB4KY5SLMVCXKJPIXH2N5RF5A7LNQGYE2TSEKSBC77Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OTMLI7E6YZNMEBS4JXHIVV6OH2X6VRF42NGMQTKFO5YBP3T7VVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO45A2WXZ4FFBGHWHY2HQHR3PMYO4W2QGGXC3G2HUHRGHPLQPYRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFXLRPA547ZW54KGUSQZK4EFMNLMVK4FBCZHOKVPDIXIMNZDIR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG7IR5LV33SYTL6FQ54C3NBLQPM5NTQJ354GEZVELM36ELUDHTMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJRSHCOMSORFCGEPT4VCNQQ3ILSEODCFXTI5R2WY6HEHRKZAVIVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DO6FSYBS35ZKPIU6FHJMZLUECZDM4KL6D567MJKGT65TMNOSGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYHWXUF2R25TMUF7YJADCSDAXAAWBX4SFG4EQH4JLL5V2ZJ2FF2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5ONARJTS2GUEVABDRID6RX7IR7ZA5SAPI2JDBNHQQMLSAN7XG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E73I4UD6ZJLAQ6FF7ATCCXHPJB7KDRHL7SXMJCCQTG5RS3HBNV7Q/main.js"
            ]
        },
        "GetEnvironmentSettings": {
            "name": "GetEnvironmentSettings",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "GetEnvironmentSettingsRequest"
            },
            "output": {
                "shape": "GetEnvironmentSettingsResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKXHXA7REEYEUM4TWRZOCGMXBKDHNBCY5R6BEQFIEGOSUJB4DHVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5CCJ63EZZUQBLOHUIZO7LTVMMB4FQ2MLLYU242API2DXH7OXNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C32EVFLARZAHZEUFULWIIMYUYPPHLSDJKID2JA4YR36O3OKWHRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNO6FETYX3ZHSZ3KNOKHQX7GZOOSTDXUFLIQR3SUNZ2ISSHMMYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMM47VFFOBYA7B2XBODGC22VZOLRLJMV4O4477XC7TRSNQ2UETGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMQ6AFAWYTJBHTUH4N434O733UHEQYPWHKUM663SQH7VUVSBOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7GJ6OLP74JWI7QBLM5HJDEDPAQVP53YOZCMYMQA3DIRVJ5OPWPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZNKPV7G62LOCOMGHLZE6RD63RZNT426OIZ3FDVBHPMILHB3JJCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GOSBIIIN5IRGN2NEO5NDUXGOKC7KPFXTU6IEVHMVWRZRA4JQNSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66LMRT6HKOZWPIHBI6BLQTT3BYJQFDYNVDGQFNDO2KGIVAZHN3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QBBIYXEOIYGG32SU3UD7SMODMVVIDVCABN4GJVVRTYGDVXUL74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAJFOSS7WPRVDX2ICVELKNA3F32QKXF4UUC6BJJJGN7WXZQWYA6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5PFNEC4OIP3KNK3P24EX3QOWSEJPMZEKVTI5VL2PPTB5TXMZYPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6WBCZBILCV3S3BG3BEF5GB6KZKSTPD6AOJCY6QOVC56PJ5VT5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y22W7N44ZGB4KY5SLMVCXKJPIXH2N5RF5A7LNQGYE2TSEKSBC77Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OTMLI7E6YZNMEBS4JXHIVV6OH2X6VRF42NGMQTKFO5YBP3T7VVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO45A2WXZ4FFBGHWHY2HQHR3PMYO4W2QGGXC3G2HUHRGHPLQPYRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFXLRPA547ZW54KGUSQZK4EFMNLMVK4FBCZHOKVPDIXIMNZDIR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG7IR5LV33SYTL6FQ54C3NBLQPM5NTQJ354GEZVELM36ELUDHTMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJRSHCOMSORFCGEPT4VCNQQ3ILSEODCFXTI5R2WY6HEHRKZAVIVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DO6FSYBS35ZKPIU6FHJMZLUECZDM4KL6D567MJKGT65TMNOSGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYHWXUF2R25TMUF7YJADCSDAXAAWBX4SFG4EQH4JLL5V2ZJ2FF2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5ONARJTS2GUEVABDRID6RX7IR7ZA5SAPI2JDBNHQQMLSAN7XG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E73I4UD6ZJLAQ6FF7ATCCXHPJB7KDRHL7SXMJCCQTG5RS3HBNV7Q/main.js"
            ]
        },
        "GetMembershipSettings": {
            "name": "GetMembershipSettings",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "GetMembershipSettingsRequest"
            },
            "output": {
                "shape": "GetMembershipSettingsResult"
            },
            "errors": [
                {
[...]
