{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-11-25",
        "endpointPrefix": "cloudfront",
        "globalEndpoint": "cloudfront.amazonaws.com",
        "protocol": "rest-xml",
        "serviceAbbreviation": "CloudFront",
        "serviceFullName": "Amazon CloudFront",
        "serviceId": "CloudFront",
        "signatureVersion": "v4",
        "uid": "cloudfront-2016-11-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
        ]
    },
    "operations": {
        "CreateCloudFrontOriginAccessIdentity": {
            "http": {
                "requestUri": "/2016-11-25/origin-access-identity/cloudfront",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "CloudFrontOriginAccessIdentityConfig"
                ],
                "members": {
                    "CloudFrontOriginAccessIdentityConfig": {
                        "shape": "S2",
                        "locationName": "CloudFrontOriginAccessIdentityConfig",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2016-11-25/"
                        }
                    }
                },
                "payload": "CloudFrontOriginAccessIdentityConfig"
            },
            "output": {
                "type": "structure",
                "members": {
                    "CloudFrontOriginAccessIdentity": {
                        "shape": "S5"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "CloudFrontOriginAccessIdentity"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateDistribution": {
            "http": {
                "requestUri": "/2016-11-25/distribution",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "DistributionConfig"
                ],
                "members": {
                    "DistributionConfig": {
                        "shape": "S7",
                        "locationName": "DistributionConfig",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2016-11-25/"
                        }
                    }
                },
                "payload": "DistributionConfig"
            },
            "output": {
                "type": "structure",
                "members": {
                    "Distribution": {
                        "shape": "S1s"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "Distribution"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateDistributionWithTags": {
            "http": {
                "requestUri": "/2016-11-25/distribution?WithTags",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "DistributionConfigWithTags"
                ],
                "members": {
                    "DistributionConfigWithTags": {
                        "locationName": "DistributionConfigWithTags",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2016-11-25/"
                        },
                        "type": "structure",
                        "required": [
                            "DistributionConfig",
                            "Tags"
                        ],
                        "members": {
                            "DistributionConfig": {
                                "shape": "S7"
                            },
                            "Tags": {
                                "shape": "S21"
                            }
                        }
                    }
                },
                "payload": "DistributionConfigWithTags"
            },
            "output": {
                "type": "structure",
                "members": {
                    "Distribution": {
                        "shape": "S1s"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "Distribution"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateInvalidation": {
            "http": {
                "requestUri": "/2016-11-25/distribution/{DistributionId}/invalidation",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "DistributionId",
                    "InvalidationBatch"
                ],
                "members": {
                    "DistributionId": {
                        "location": "uri",
                        "locationName": "DistributionId"
                    },
                    "InvalidationBatch": {
                        "shape": "S28",
                        "locationName": "InvalidationBatch",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2016-11-25/"
                        }
                    }
                },
                "payload": "InvalidationBatch"
            },
            "output": {
                "type": "structure",
                "members": {
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "Invalidation": {
                        "shape": "S2c"
                    }
                },
                "payload": "Invalidation"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateStreamingDistribution": {
            "http": {
                "requestUri": "/2016-11-25/streaming-distribution",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "StreamingDistributionConfig"
                ],
                "members": {
                    "StreamingDistributionConfig": {
                        "shape": "S2e",
                        "locationName": "StreamingDistributionConfig",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2016-11-25/"
                        }
                    }
                },
                "payload": "StreamingDistributionConfig"
            },
            "output": {
                "type": "structure",
                "members": {
                    "StreamingDistribution": {
                        "shape": "S2i"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "StreamingDistribution"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateStreamingDistributionWithTags": {
            "http": {
                "requestUri": "/2016-11-25/streaming-distribution?WithTags",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "StreamingDistributionConfigWithTags"
                ],
                "members": {
                    "StreamingDistributionConfigWithTags": {
                        "locationName": "StreamingDistributionConfigWithTags",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2016-11-25/"
                        },
                        "type": "structure",
                        "required": [
                            "StreamingDistributionConfig",
                            "Tags"
                        ],
                        "members": {
                            "StreamingDistributionConfig": {
                                "shape": "S2e"
                            },
                            "Tags": {
                                "shape": "S21"
                            }
                        }
                    }
                },
                "payload": "StreamingDistributionConfigWithTags"
            },
            "output": {
                "type": "structure",
                "members": {
                    "StreamingDistribution": {
                        "shape": "S2i"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "StreamingDistribution"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteCloudFrontOriginAccessIdentity": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2016-11-25/origin-access-identity/cloudfront/{Id}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    },
                    "IfMatch": {
                        "location": "header",
                        "locationName": "If-Match"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteDistribution": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2016-11-25/distribution/{Id}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    },
                    "IfMatch": {
                        "location": "header",
                        "locationName": "If-Match"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteStreamingDistribution": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2016-11-25/streaming-distribution/{Id}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    },
                    "IfMatch": {
                        "location": "header",
                        "locationName": "If-Match"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "GetCloudFrontOriginAccessIdentity": {
            "http": {
                "method": "GET",
                "requestUri": "/2016-11-25/origin-access-identity/cloudfront/{Id}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CloudFrontOriginAccessIdentity": {
                        "shape": "S5"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "CloudFrontOriginAccessIdentity"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "GetCloudFrontOriginAccessIdentityConfig": {
            "http": {
                "method": "GET",
                "requestUri": "/2016-11-25/origin-access-identity/cloudfront/{Id}/config"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CloudFrontOriginAccessIdentityConfig": {
                        "shape": "S2"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "CloudFrontOriginAccessIdentityConfig"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "GetDistribution": {
            "http": {
                "method": "GET",
                "requestUri": "/2016-11-25/distribution/{Id}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Distribution": {
                        "shape": "S1s"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "Distribution"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "GetDistributionConfig": {
            "http": {
                "method": "GET",
                "requestUri": "/2016-11-25/distribution/{Id}/config"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DistributionConfig": {
                        "shape": "S7"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "DistributionConfig"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "GetInvalidation": {
            "http": {
                "method": "GET",
                "requestUri": "/2016-11-25/distribution/{DistributionId}/invalidation/{Id}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DistributionId",
                    "Id"
                ],
                "members": {
                    "DistributionId": {
                        "location": "uri",
                        "locationName": "DistributionId"
                    },
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Invalidation": {
                        "shape": "S2c"
                    }
                },
                "payload": "Invalidation"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "GetStreamingDistribution": {
            "http": {
                "method": "GET",
                "requestUri": "/2016-11-25/streaming-distribution/{Id}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StreamingDistribution": {
                        "shape": "S2i"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "StreamingDistribution"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "GetStreamingDistributionConfig": {
            "http": {
                "method": "GET",
                "requestUri": "/2016-11-25/streaming-distribution/{Id}/config"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StreamingDistributionConfig": {
                        "shape": "S2e"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "StreamingDistributionConfig"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "ListCloudFrontOriginAccessIdentities": {
            "http": {
                "method": "GET",
                "requestUri": "/2016-11-25/origin-access-identity/cloudfront"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Marker": {
                        "location": "querystring",
                        "locationName": "Marker"
                    },
                    "MaxItems": {
                        "location": "querystring",
                        "locationName": "MaxItems"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CloudFrontOriginAccessIdentityList": {
                        "type": "structure",
                        "required": [
                            "Marker",
                            "MaxItems",
                            "IsTruncated",
                            "Quantity"
                        ],
                        "members": {
                            "Marker": {},
                            "NextMarker": {},
                            "MaxItems": {
                                "type": "integer"
                            },
                            "IsTruncated": {
                                "type": "boolean"
                            },
                            "Quantity": {
                                "type": "integer"
                            },
                            "Items": {
                                "type": "list",
                                "member": {
                                    "locationName": "CloudFrontOriginAccessIdentitySummary",
                                    "type": "structure",
                                    "required": [
                                        "Id",
                                        "S3CanonicalUserId",
                                        "Comment"
                                    ],
                                    "members": {
                                        "Id": {},
                                        "S3CanonicalUserId": {},
                                        "Comment": {}
                                    }
                                }
                            }
                        }
                    }
                },
                "payload": "CloudFrontOriginAccessIdentityList"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "ListDistributions": {
            "http": {
                "method": "GET",
                "requestUri": "/2016-11-25/distribution"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Marker": {
                        "location": "querystring",
                        "locationName": "Marker"
                    },
                    "MaxItems": {
                        "location": "querystring",
                        "locationName": "MaxItems"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DistributionList": {
                        "shape": "S3a"
                    }
                },
                "payload": "DistributionList"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "ListDistributionsByWebACLId": {
            "http": {
                "method": "GET",
                "requestUri": "/2016-11-25/distributionsByWebACLId/{WebACLId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "WebACLId"
                ],
                "members": {
                    "Marker": {
                        "location": "querystring",
                        "locationName": "Marker"
                    },
                    "MaxItems": {
                        "location": "querystring",
                        "locationName": "MaxItems"
                    },
                    "WebACLId": {
                        "location": "uri",
                        "locationName": "WebACLId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DistributionList": {
                        "shape": "S3a"
                    }
                },
                "payload": "DistributionList"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "ListInvalidations": {
            "http": {
                "method": "GET",
                "requestUri": "/2016-11-25/distribution/{DistributionId}/invalidation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DistributionId"
                ],
                "members": {
                    "DistributionId": {
                        "location": "uri",
                        "locationName": "DistributionId"
                    },
                    "Marker": {
                        "location": "querystring",
                        "locationName": "Marker"
                    },
                    "MaxItems": {
                        "location": "querystring",
                        "locationName": "MaxItems"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InvalidationList": {
                        "type": "structure",
                        "required": [
                            "Marker",
                            "MaxItems",
                            "IsTruncated",
                            "Quantity"
                        ],
                        "members": {
                            "Marker": {},
                            "NextMarker": {},
                            "MaxItems": {
                                "type": "integer"
                            },
                            "IsTruncated": {
                                "type": "boolean"
                            },
                            "Quantity": {
                                "type": "integer"
                            },
                            "Items": {
                                "type": "list",
                                "member": {
                                    "locationName": "InvalidationSummary",
                                    "type": "structure",
                                    "required": [
                                        "Id",
                                        "CreateTime",
                                        "Status"
                                    ],
                                    "members": {
                                        "Id": {},
                                        "CreateTime": {
                                            "type": "timestamp"
                                        },
                                        "Status": {}
                                    }
                                }
                            }
                        }
                    }
                },
                "payload": "InvalidationList"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "ListStreamingDistributions": {
            "http": {
                "method": "GET",
                "requestUri": "/2016-11-25/streaming-distribution"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Marker": {
                        "location": "querystring",
                        "locationName": "Marker"
                    },
                    "MaxItems": {
                        "location": "querystring",
                        "locationName": "MaxItems"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StreamingDistributionList": {
                        "type": "structure",
                        "required": [
                            "Marker",
                            "MaxItems",
                            "IsTruncated",
                            "Quantity"
                        ],
                        "members": {
                            "Marker": {},
                            "NextMarker": {},
                            "MaxItems": {
                                "type": "integer"
                            },
                            "IsTruncated": {
                                "type": "boolean"
                            },
                            "Quantity": {
                                "type": "integer"
                            },
                            "Items": {
                                "type": "list",
                                "member": {
                                    "locationName": "StreamingDistributionSummary",
                                    "type": "structure",
                                    "required": [
                                        "Id",
                                        "ARN",
                                        "Status",
                                        "LastModifiedTime",
                                        "DomainName",
                                        "S3Origin",
                                        "Aliases",
                                        "TrustedSigners",
                                        "Comment",
                                        "PriceClass",
                                        "Enabled"
                                    ],
                                    "members": {
                                        "Id": {},
                                        "ARN": {},
                                        "Status": {},
                                        "LastModifiedTime": {
                                            "type": "timestamp"
                                        },
                                        "DomainName": {},
                                        "S3Origin": {
                                            "shape": "S2f"
                                        },
                                        "Aliases": {
                                            "shape": "S8"
                                        },
                                        "TrustedSigners": {
                                            "shape": "Sy"
                                        },
                                        "Comment": {},
                                        "PriceClass": {},
                                        "Enabled": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "payload": "StreamingDistributionList"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
[...]
