{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-03-26",
        "endpointPrefix": "cloudfront",
        "globalEndpoint": "cloudfront.amazonaws.com",
        "protocol": "rest-xml",
        "serviceAbbreviation": "CloudFront",
        "serviceFullName": "Amazon CloudFront",
        "serviceId": "CloudFront",
        "signatureVersion": "v4",
        "uid": "cloudfront-2019-03-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
        ]
    },
    "operations": {
        "CreateCloudFrontOriginAccessIdentity": {
            "http": {
                "requestUri": "/2019-03-26/origin-access-identity/cloudfront",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "CloudFrontOriginAccessIdentityConfig"
                ],
                "members": {
                    "CloudFrontOriginAccessIdentityConfig": {
                        "shape": "S2",
                        "locationName": "CloudFrontOriginAccessIdentityConfig",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
                        }
                    }
                },
                "payload": "CloudFrontOriginAccessIdentityConfig"
            },
            "output": {
                "type": "structure",
                "members": {
                    "CloudFrontOriginAccessIdentity": {
                        "shape": "S5"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "CloudFrontOriginAccessIdentity"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreateDistribution": {
            "http": {
                "requestUri": "/2019-03-26/distribution",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "DistributionConfig"
                ],
                "members": {
                    "DistributionConfig": {
                        "shape": "S7",
                        "locationName": "DistributionConfig",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
                        }
                    }
                },
                "payload": "DistributionConfig"
            },
            "output": {
                "type": "structure",
                "members": {
                    "Distribution": {
                        "shape": "S23"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "Distribution"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreateDistributionWithTags": {
            "http": {
                "requestUri": "/2019-03-26/distribution?WithTags",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "DistributionConfigWithTags"
                ],
                "members": {
                    "DistributionConfigWithTags": {
                        "locationName": "DistributionConfigWithTags",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
                        },
                        "type": "structure",
                        "required": [
                            "DistributionConfig",
                            "Tags"
                        ],
                        "members": {
                            "DistributionConfig": {
                                "shape": "S7"
                            },
                            "Tags": {
                                "shape": "S2f"
                            }
                        }
                    }
                },
                "payload": "DistributionConfigWithTags"
            },
            "output": {
                "type": "structure",
                "members": {
                    "Distribution": {
                        "shape": "S23"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "Distribution"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreateFieldLevelEncryptionConfig": {
            "http": {
                "requestUri": "/2019-03-26/field-level-encryption",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "FieldLevelEncryptionConfig"
                ],
                "members": {
                    "FieldLevelEncryptionConfig": {
                        "shape": "S2m",
                        "locationName": "FieldLevelEncryptionConfig",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
                        }
                    }
                },
                "payload": "FieldLevelEncryptionConfig"
            },
            "output": {
                "type": "structure",
                "members": {
                    "FieldLevelEncryption": {
                        "shape": "S2x"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "FieldLevelEncryption"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreateFieldLevelEncryptionProfile": {
            "http": {
                "requestUri": "/2019-03-26/field-level-encryption-profile",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "FieldLevelEncryptionProfileConfig"
                ],
                "members": {
                    "FieldLevelEncryptionProfileConfig": {
                        "shape": "S2z",
                        "locationName": "FieldLevelEncryptionProfileConfig",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
                        }
                    }
                },
                "payload": "FieldLevelEncryptionProfileConfig"
            },
            "output": {
                "type": "structure",
                "members": {
                    "FieldLevelEncryptionProfile": {
                        "shape": "S36"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "FieldLevelEncryptionProfile"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreateInvalidation": {
            "http": {
                "requestUri": "/2019-03-26/distribution/{DistributionId}/invalidation",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "DistributionId",
                    "InvalidationBatch"
                ],
                "members": {
                    "DistributionId": {
                        "location": "uri",
                        "locationName": "DistributionId"
                    },
                    "InvalidationBatch": {
                        "shape": "S38",
                        "locationName": "InvalidationBatch",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
                        }
                    }
                },
                "payload": "InvalidationBatch"
            },
            "output": {
                "type": "structure",
                "members": {
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "Invalidation": {
                        "shape": "S3c"
                    }
                },
                "payload": "Invalidation"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreatePublicKey": {
            "http": {
                "requestUri": "/2019-03-26/public-key",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "PublicKeyConfig"
                ],
                "members": {
                    "PublicKeyConfig": {
                        "shape": "S3e",
                        "locationName": "PublicKeyConfig",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
                        }
                    }
                },
                "payload": "PublicKeyConfig"
            },
            "output": {
                "type": "structure",
                "members": {
                    "PublicKey": {
                        "shape": "S3g"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "PublicKey"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreateStreamingDistribution": {
            "http": {
                "requestUri": "/2019-03-26/streaming-distribution",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "StreamingDistributionConfig"
                ],
                "members": {
                    "StreamingDistributionConfig": {
                        "shape": "S3i",
                        "locationName": "StreamingDistributionConfig",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
                        }
                    }
                },
                "payload": "StreamingDistributionConfig"
            },
            "output": {
                "type": "structure",
                "members": {
                    "StreamingDistribution": {
                        "shape": "S3m"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "StreamingDistribution"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreateStreamingDistributionWithTags": {
            "http": {
                "requestUri": "/2019-03-26/streaming-distribution?WithTags",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "StreamingDistributionConfigWithTags"
                ],
                "members": {
                    "StreamingDistributionConfigWithTags": {
                        "locationName": "StreamingDistributionConfigWithTags",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
                        },
                        "type": "structure",
                        "required": [
                            "StreamingDistributionConfig",
                            "Tags"
                        ],
                        "members": {
                            "StreamingDistributionConfig": {
                                "shape": "S3i"
                            },
                            "Tags": {
                                "shape": "S2f"
                            }
                        }
                    }
                },
                "payload": "StreamingDistributionConfigWithTags"
            },
            "output": {
                "type": "structure",
                "members": {
                    "StreamingDistribution": {
                        "shape": "S3m"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "StreamingDistribution"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeleteCloudFrontOriginAccessIdentity": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2019-03-26/origin-access-identity/cloudfront/{Id}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    },
                    "IfMatch": {
                        "location": "header",
                        "locationName": "If-Match"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeleteDistribution": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2019-03-26/distribution/{Id}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    },
                    "IfMatch": {
                        "location": "header",
                        "locationName": "If-Match"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeleteFieldLevelEncryptionConfig": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2019-03-26/field-level-encryption/{Id}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    },
                    "IfMatch": {
                        "location": "header",
                        "locationName": "If-Match"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeleteFieldLevelEncryptionProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2019-03-26/field-level-encryption-profile/{Id}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    },
                    "IfMatch": {
                        "location": "header",
                        "locationName": "If-Match"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeletePublicKey": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2019-03-26/public-key/{Id}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    },
                    "IfMatch": {
                        "location": "header",
                        "locationName": "If-Match"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeleteStreamingDistribution": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2019-03-26/streaming-distribution/{Id}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    },
                    "IfMatch": {
                        "location": "header",
                        "locationName": "If-Match"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetCloudFrontOriginAccessIdentity": {
            "http": {
                "method": "GET",
                "requestUri": "/2019-03-26/origin-access-identity/cloudfront/{Id}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CloudFrontOriginAccessIdentity": {
                        "shape": "S5"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "CloudFrontOriginAccessIdentity"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetCloudFrontOriginAccessIdentityConfig": {
            "http": {
                "method": "GET",
                "requestUri": "/2019-03-26/origin-access-identity/cloudfront/{Id}/config"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CloudFrontOriginAccessIdentityConfig": {
                        "shape": "S2"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "CloudFrontOriginAccessIdentityConfig"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetDistribution": {
            "http": {
                "method": "GET",
                "requestUri": "/2019-03-26/distribution/{Id}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Distribution": {
                        "shape": "S23"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "Distribution"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetDistributionConfig": {
            "http": {
                "method": "GET",
                "requestUri": "/2019-03-26/distribution/{Id}/config"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DistributionConfig": {
                        "shape": "S7"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "DistributionConfig"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetFieldLevelEncryption": {
            "http": {
                "method": "GET",
                "requestUri": "/2019-03-26/field-level-encryption/{Id}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FieldLevelEncryption": {
                        "shape": "S2x"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "FieldLevelEncryption"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetFieldLevelEncryptionConfig": {
            "http": {
                "method": "GET",
                "requestUri": "/2019-03-26/field-level-encryption/{Id}/config"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FieldLevelEncryptionConfig": {
                        "shape": "S2m"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "FieldLevelEncryptionConfig"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetFieldLevelEncryptionProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/2019-03-26/field-level-encryption-profile/{Id}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FieldLevelEncryptionProfile": {
                        "shape": "S36"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "FieldLevelEncryptionProfile"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetFieldLevelEncryptionProfileConfig": {
            "http": {
                "method": "GET",
                "requestUri": "/2019-03-26/field-level-encryption-profile/{Id}/config"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FieldLevelEncryptionProfileConfig": {
                        "shape": "S2z"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "FieldLevelEncryptionProfileConfig"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
[...]
