{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-09-23",
        "endpointPrefix": "cloud9",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Cloud9",
        "serviceId": "Cloud9",
        "signatureVersion": "v4",
        "targetPrefix": "AWSCloud9WorkspaceManagementService",
        "uid": "cloud9-2017-09-23",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
        ]
    },
    "operations": {
        "CreateEnvironmentEC2": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "instanceType"
                ],
                "members": {
                    "name": {},
                    "description": {
                        "shape": "S3"
                    },
                    "clientRequestToken": {},
                    "instanceType": {},
                    "subnetId": {},
                    "imageId": {},
                    "automaticStopTimeMinutes": {
                        "type": "integer"
                    },
                    "ownerArn": {},
                    "tags": {
                        "shape": "Sa"
                    },
                    "connectionType": {},
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environmentId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        },
        "CreateEnvironmentMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "userArn",
                    "permissions"
                ],
                "members": {
                    "environmentId": {},
                    "userArn": {},
                    "permissions": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "membership"
                ],
                "members": {
                    "membership": {
                        "shape": "Sl"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        },
        "DeleteEnvironment": {
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        },
        "DeleteEnvironmentMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "userArn"
                ],
                "members": {
                    "environmentId": {},
                    "userArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        },
        "DescribeEnvironmentMemberships": {
            "input": {
                "type": "structure",
                "members": {
                    "userArn": {},
                    "environmentId": {},
                    "permissions": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "memberships": {
                        "type": "list",
                        "member": {
                            "shape": "Sl"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        },
        "DescribeEnvironmentStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status",
                    "message"
                ],
                "members": {
                    "status": {},
                    "message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        },
        "DescribeEnvironments": {
            "input": {
                "type": "structure",
                "required": [
                    "environmentIds"
                ],
                "members": {
                    "environmentIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "type",
                                "arn",
                                "ownerArn"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "description": {
                                    "shape": "S3"
                                },
                                "type": {},
                                "connectionType": {},
                                "arn": {},
                                "ownerArn": {},
                                "lifecycle": {
                                    "type": "structure",
                                    "members": {
                                        "status": {},
                                        "reason": {},
                                        "failureResource": {}
                                    }
                                },
                                "managedCredentialsStatus": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        },
        "ListEnvironments": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "environmentIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "Sa"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {
                            "shape": "Sc"
                        },
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        },
        "UpdateEnvironment": {
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {},
                    "name": {},
                    "description": {
                        "shape": "S3"
                    },
                    "managedCredentialsAction": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        },
        "UpdateEnvironmentMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "userArn",
                    "permissions"
                ],
                "members": {
                    "environmentId": {},
                    "userArn": {},
                    "permissions": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "membership": {
                        "shape": "Sl"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        },
        "ActivateEC2Remote": {
            "name": "ActivateEC2Remote",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "ActivateEC2RemoteRequest"
            },
            "output": {
                "shape": "ActivateEC2RemoteResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHCJLHFM2AZOE5HNVL6K6X5BB6MONKZFWGQ6H624NVQVKKDNR3IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYHPNTARKD2CJFSSPPSBGCAHXQBNUH37CY6N67A47O7ZWA64SAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHH77BOYMGI27BI6RQ7Y73LVFLKHNTHCQ5XABQHPOE333MWS5FJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7GOHJBUNKCQRGLMB5YUVOX3UNCFVXR3PGOUKHNIPB55AVFM7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAH7GA5KI267YBJKZBGC5MR6775RBEMWHBOVN72XFOPBDNVY7VVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIAIDQ5TYHBQXXQPLKY6YXR4QWT5FXJDM2GA75XQ74EMUYEYQODA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPOMMNBL7OWXGU4K3SZVCYKDJRBCWBWLUBWXMV32ZRDAGIYSDX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKNPH3WDFBXBDWW4H52KASCCMJSZ4S5MDJOZB2QDDJDK5P7Z36SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HAARLMLTW3P5JXE6JIUAFQRPZLLSX4GNSMLOVB3VWOWAP56D2EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCZSBRRRMQWCYJDITD37ATVGVL5KIQ66NHV7ZB6GJ67RQDUYP6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXVTPTDI6QL2QVBHZS54CWD63KM2CN6AV2IT3T3OFBDZ37YCT3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWULBWVUZ6DPL6B2IUM7CEDA5FRJ44PN6JKINSNZZHZHEOWMQZ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZUMV63RJLWIYD4U47PZUCWGBQUO4LXJTGIAJVCQLO4MQ5DWUAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CP7YXHUEFVYAH3KMIXDVVPW5A7QOPPSTQCYZJ2KPMNGM6246SCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVLJNZPV5WJDCU6IMRGR52GHHZDYIQ3WZOGYJVIY7DF5UJYFKKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWGCEL25N2VD4SZGM3DMFSNR2TNDALCPW5BVW2NINQRM366BPNZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5SUM3K4O7SQOXLNDSK6PMKTDBZP4XQBE7XQJV2LPUCZIADM6E3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQFT6UDQDOOBZOLYX6DCYYFZ55ET5XENKECIMCOVALETPOMPKMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNDHPBYVXGFGQ7V44NANYJPOSGOF3S7MIBF2NDDB5RTE4366MOIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7GWVUAWH5TT6EHF7QB3OUHMBF4LQFZY2TX4REZUCJERN7WAPDKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDHTR5JYEQPJOHUQGVSZE5QFF7JXQGDT5NQOXIMMJQ7XQWX6TAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEXF4GJKODICRQRKUF5DZ4XIR36MTKMFK2ZOJDHCRGMNRDQEFYCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNE23CKKV72SVSBTDDYHU4IZZBXZV3LVPFJKGY4W6CHTR5ZHBMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js"
            ]
        },
        "CreateEnvironment": {
            "name": "CreateEnvironment",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateEnvironmentRequest"
            },
            "output": {
                "shape": "CreateEnvironmentResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCWDAJ57HTCGWP5NBUHU3HX4CPBL4KHPOHGYQNOFTIDBH4G4QDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WSWH6XC5ABN76LXRGKTWBJFALOAX72BWD2VQRNAK77CMLXVFQAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7ED55U2B337GUX2UP5GCBCRUR2SSPIDNFZ6ZBVEMRASCWN2LUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GP2WJHB72KIV4EGXYSQMP5EXIBKIQGDX3GRYJCV4FWV7MAJU6YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66U3DHSKUYYP57E5LYGBD7GY56ODVINDI2PDSGOUJ3N6X6CDN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGLLGF2BCW73AMKA7GNOSBTJHG7YGEAVNGW33567LK5RJELNF4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRKNTISZKK76B22QXQT3L5WRZHJOO7IGGRFHJC2OIKSQQLCMCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4EURRLESH4CJQ3K7MQ2A3R7XGEGJQ5ST65SNL7PUMB4LIDAE5YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHCJLHFM2AZOE5HNVL6K6X5BB6MONKZFWGQ6H624NVQVKKDNR3IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYHPNTARKD2CJFSSPPSBGCAHXQBNUH37CY6N67A47O7ZWA64SAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHH77BOYMGI27BI6RQ7Y73LVFLKHNTHCQ5XABQHPOE333MWS5FJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7GOHJBUNKCQRGLMB5YUVOX3UNCFVXR3PGOUKHNIPB55AVFM7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAH7GA5KI267YBJKZBGC5MR6775RBEMWHBOVN72XFOPBDNVY7VVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIAIDQ5TYHBQXXQPLKY6YXR4QWT5FXJDM2GA75XQ74EMUYEYQODA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPOMMNBL7OWXGU4K3SZVCYKDJRBCWBWLUBWXMV32ZRDAGIYSDX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKNPH3WDFBXBDWW4H52KASCCMJSZ4S5MDJOZB2QDDJDK5P7Z36SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HAARLMLTW3P5JXE6JIUAFQRPZLLSX4GNSMLOVB3VWOWAP56D2EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCZSBRRRMQWCYJDITD37ATVGVL5KIQ66NHV7ZB6GJ67RQDUYP6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXVTPTDI6QL2QVBHZS54CWD63KM2CN6AV2IT3T3OFBDZ37YCT3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWULBWVUZ6DPL6B2IUM7CEDA5FRJ44PN6JKINSNZZHZHEOWMQZ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZUMV63RJLWIYD4U47PZUCWGBQUO4LXJTGIAJVCQLO4MQ5DWUAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CP7YXHUEFVYAH3KMIXDVVPW5A7QOPPSTQCYZJ2KPMNGM6246SCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVLJNZPV5WJDCU6IMRGR52GHHZDYIQ3WZOGYJVIY7DF5UJYFKKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWGCEL25N2VD4SZGM3DMFSNR2TNDALCPW5BVW2NINQRM366BPNZQ/main.js"
            ]
        },
        "CreateEnvironmentHost": {
            "name": "CreateEnvironmentHost",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateEnvironmentHostRequest"
            },
            "output": {
                "shape": "CreateEnvironmentHostResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCWDAJ57HTCGWP5NBUHU3HX4CPBL4KHPOHGYQNOFTIDBH4G4QDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WSWH6XC5ABN76LXRGKTWBJFALOAX72BWD2VQRNAK77CMLXVFQAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7ED55U2B337GUX2UP5GCBCRUR2SSPIDNFZ6ZBVEMRASCWN2LUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GP2WJHB72KIV4EGXYSQMP5EXIBKIQGDX3GRYJCV4FWV7MAJU6YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66U3DHSKUYYP57E5LYGBD7GY56ODVINDI2PDSGOUJ3N6X6CDN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGLLGF2BCW73AMKA7GNOSBTJHG7YGEAVNGW33567LK5RJELNF4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRKNTISZKK76B22QXQT3L5WRZHJOO7IGGRFHJC2OIKSQQLCMCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4EURRLESH4CJQ3K7MQ2A3R7XGEGJQ5ST65SNL7PUMB4LIDAE5YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHCJLHFM2AZOE5HNVL6K6X5BB6MONKZFWGQ6H624NVQVKKDNR3IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYHPNTARKD2CJFSSPPSBGCAHXQBNUH37CY6N67A47O7ZWA64SAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHH77BOYMGI27BI6RQ7Y73LVFLKHNTHCQ5XABQHPOE333MWS5FJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7GOHJBUNKCQRGLMB5YUVOX3UNCFVXR3PGOUKHNIPB55AVFM7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAH7GA5KI267YBJKZBGC5MR6775RBEMWHBOVN72XFOPBDNVY7VVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIAIDQ5TYHBQXXQPLKY6YXR4QWT5FXJDM2GA75XQ74EMUYEYQODA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPOMMNBL7OWXGU4K3SZVCYKDJRBCWBWLUBWXMV32ZRDAGIYSDX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKNPH3WDFBXBDWW4H52KASCCMJSZ4S5MDJOZB2QDDJDK5P7Z36SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HAARLMLTW3P5JXE6JIUAFQRPZLLSX4GNSMLOVB3VWOWAP56D2EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCZSBRRRMQWCYJDITD37ATVGVL5KIQ66NHV7ZB6GJ67RQDUYP6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXVTPTDI6QL2QVBHZS54CWD63KM2CN6AV2IT3T3OFBDZ37YCT3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWULBWVUZ6DPL6B2IUM7CEDA5FRJ44PN6JKINSNZZHZHEOWMQZ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZUMV63RJLWIYD4U47PZUCWGBQUO4LXJTGIAJVCQLO4MQ5DWUAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CP7YXHUEFVYAH3KMIXDVVPW5A7QOPPSTQCYZJ2KPMNGM6246SCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVLJNZPV5WJDCU6IMRGR52GHHZDYIQ3WZOGYJVIY7DF5UJYFKKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWGCEL25N2VD4SZGM3DMFSNR2TNDALCPW5BVW2NINQRM366BPNZQ/main.js"
            ]
        },
        "CreateEnvironmentSSH": {
            "name": "CreateEnvironmentSSH",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateEnvironmentSSHRequest"
            },
            "output": {
                "shape": "CreateEnvironmentSSHResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHCJLHFM2AZOE5HNVL6K6X5BB6MONKZFWGQ6H624NVQVKKDNR3IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYHPNTARKD2CJFSSPPSBGCAHXQBNUH37CY6N67A47O7ZWA64SAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHH77BOYMGI27BI6RQ7Y73LVFLKHNTHCQ5XABQHPOE333MWS5FJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7GOHJBUNKCQRGLMB5YUVOX3UNCFVXR3PGOUKHNIPB55AVFM7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAH7GA5KI267YBJKZBGC5MR6775RBEMWHBOVN72XFOPBDNVY7VVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIAIDQ5TYHBQXXQPLKY6YXR4QWT5FXJDM2GA75XQ74EMUYEYQODA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPOMMNBL7OWXGU4K3SZVCYKDJRBCWBWLUBWXMV32ZRDAGIYSDX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKNPH3WDFBXBDWW4H52KASCCMJSZ4S5MDJOZB2QDDJDK5P7Z36SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HAARLMLTW3P5JXE6JIUAFQRPZLLSX4GNSMLOVB3VWOWAP56D2EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCZSBRRRMQWCYJDITD37ATVGVL5KIQ66NHV7ZB6GJ67RQDUYP6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXVTPTDI6QL2QVBHZS54CWD63KM2CN6AV2IT3T3OFBDZ37YCT3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWULBWVUZ6DPL6B2IUM7CEDA5FRJ44PN6JKINSNZZHZHEOWMQZ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZUMV63RJLWIYD4U47PZUCWGBQUO4LXJTGIAJVCQLO4MQ5DWUAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CP7YXHUEFVYAH3KMIXDVVPW5A7QOPPSTQCYZJ2KPMNGM6246SCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVLJNZPV5WJDCU6IMRGR52GHHZDYIQ3WZOGYJVIY7DF5UJYFKKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWGCEL25N2VD4SZGM3DMFSNR2TNDALCPW5BVW2NINQRM366BPNZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5SUM3K4O7SQOXLNDSK6PMKTDBZP4XQBE7XQJV2LPUCZIADM6E3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQFT6UDQDOOBZOLYX6DCYYFZ55ET5XENKECIMCOVALETPOMPKMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNDHPBYVXGFGQ7V44NANYJPOSGOF3S7MIBF2NDDB5RTE4366MOIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7GWVUAWH5TT6EHF7QB3OUHMBF4LQFZY2TX4REZUCJERN7WAPDKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDHTR5JYEQPJOHUQGVSZE5QFF7JXQGDT5NQOXIMMJQ7XQWX6TAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEXF4GJKODICRQRKUF5DZ4XIR36MTKMFK2ZOJDHCRGMNRDQEFYCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNE23CKKV72SVSBTDDYHU4IZZBXZV3LVPFJKGY4W6CHTR5ZHBMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js"
            ]
        },
        "CreateEnvironmentSSM": {
            "name": "CreateEnvironmentSSM",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateEnvironmentSSMRequest"
            },
            "output": {
                "shape": "CreateEnvironmentSSMResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKCHAZUMX4K34NOILCVMKG7GUMK27WRKH2LCKFP67D5PCFSTEUQ/main.js"
            ]
        },
        "CreateEnvironmentToken": {
            "name": "CreateEnvironmentToken",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateEnvironmentTokenRequest"
            },
            "output": {
                "shape": "CreateEnvironmentTokenResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHCJLHFM2AZOE5HNVL6K6X5BB6MONKZFWGQ6H624NVQVKKDNR3IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYHPNTARKD2CJFSSPPSBGCAHXQBNUH37CY6N67A47O7ZWA64SAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHH77BOYMGI27BI6RQ7Y73LVFLKHNTHCQ5XABQHPOE333MWS5FJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7GOHJBUNKCQRGLMB5YUVOX3UNCFVXR3PGOUKHNIPB55AVFM7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAH7GA5KI267YBJKZBGC5MR6775RBEMWHBOVN72XFOPBDNVY7VVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIAIDQ5TYHBQXXQPLKY6YXR4QWT5FXJDM2GA75XQ74EMUYEYQODA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPOMMNBL7OWXGU4K3SZVCYKDJRBCWBWLUBWXMV32ZRDAGIYSDX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKNPH3WDFBXBDWW4H52KASCCMJSZ4S5MDJOZB2QDDJDK5P7Z36SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HAARLMLTW3P5JXE6JIUAFQRPZLLSX4GNSMLOVB3VWOWAP56D2EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCZSBRRRMQWCYJDITD37ATVGVL5KIQ66NHV7ZB6GJ67RQDUYP6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXVTPTDI6QL2QVBHZS54CWD63KM2CN6AV2IT3T3OFBDZ37YCT3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWULBWVUZ6DPL6B2IUM7CEDA5FRJ44PN6JKINSNZZHZHEOWMQZ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZUMV63RJLWIYD4U47PZUCWGBQUO4LXJTGIAJVCQLO4MQ5DWUAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CP7YXHUEFVYAH3KMIXDVVPW5A7QOPPSTQCYZJ2KPMNGM6246SCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVLJNZPV5WJDCU6IMRGR52GHHZDYIQ3WZOGYJVIY7DF5UJYFKKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWGCEL25N2VD4SZGM3DMFSNR2TNDALCPW5BVW2NINQRM366BPNZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5SUM3K4O7SQOXLNDSK6PMKTDBZP4XQBE7XQJV2LPUCZIADM6E3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQFT6UDQDOOBZOLYX6DCYYFZ55ET5XENKECIMCOVALETPOMPKMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNDHPBYVXGFGQ7V44NANYJPOSGOF3S7MIBF2NDDB5RTE4366MOIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7GWVUAWH5TT6EHF7QB3OUHMBF4LQFZY2TX4REZUCJERN7WAPDKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDHTR5JYEQPJOHUQGVSZE5QFF7JXQGDT5NQOXIMMJQ7XQWX6TAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEXF4GJKODICRQRKUF5DZ4XIR36MTKMFK2ZOJDHCRGMNRDQEFYCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNE23CKKV72SVSBTDDYHU4IZZBXZV3LVPFJKGY4W6CHTR5ZHBMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js"
            ]
        },
        "DeleteEnvironmentHost": {
            "name": "DeleteEnvironmentHost",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "DeleteEnvironmentHostRequest"
            },
            "output": {
                "shape": "DeleteEnvironmentHostResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCWDAJ57HTCGWP5NBUHU3HX4CPBL4KHPOHGYQNOFTIDBH4G4QDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WSWH6XC5ABN76LXRGKTWBJFALOAX72BWD2VQRNAK77CMLXVFQAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7ED55U2B337GUX2UP5GCBCRUR2SSPIDNFZ6ZBVEMRASCWN2LUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GP2WJHB72KIV4EGXYSQMP5EXIBKIQGDX3GRYJCV4FWV7MAJU6YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66U3DHSKUYYP57E5LYGBD7GY56ODVINDI2PDSGOUJ3N6X6CDN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGLLGF2BCW73AMKA7GNOSBTJHG7YGEAVNGW33567LK5RJELNF4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRKNTISZKK76B22QXQT3L5WRZHJOO7IGGRFHJC2OIKSQQLCMCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4EURRLESH4CJQ3K7MQ2A3R7XGEGJQ5ST65SNL7PUMB4LIDAE5YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHCJLHFM2AZOE5HNVL6K6X5BB6MONKZFWGQ6H624NVQVKKDNR3IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYHPNTARKD2CJFSSPPSBGCAHXQBNUH37CY6N67A47O7ZWA64SAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHH77BOYMGI27BI6RQ7Y73LVFLKHNTHCQ5XABQHPOE333MWS5FJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7GOHJBUNKCQRGLMB5YUVOX3UNCFVXR3PGOUKHNIPB55AVFM7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAH7GA5KI267YBJKZBGC5MR6775RBEMWHBOVN72XFOPBDNVY7VVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIAIDQ5TYHBQXXQPLKY6YXR4QWT5FXJDM2GA75XQ74EMUYEYQODA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPOMMNBL7OWXGU4K3SZVCYKDJRBCWBWLUBWXMV32ZRDAGIYSDX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKNPH3WDFBXBDWW4H52KASCCMJSZ4S5MDJOZB2QDDJDK5P7Z36SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HAARLMLTW3P5JXE6JIUAFQRPZLLSX4GNSMLOVB3VWOWAP56D2EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCZSBRRRMQWCYJDITD37ATVGVL5KIQ66NHV7ZB6GJ67RQDUYP6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXVTPTDI6QL2QVBHZS54CWD63KM2CN6AV2IT3T3OFBDZ37YCT3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWULBWVUZ6DPL6B2IUM7CEDA5FRJ44PN6JKINSNZZHZHEOWMQZ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZUMV63RJLWIYD4U47PZUCWGBQUO4LXJTGIAJVCQLO4MQ5DWUAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CP7YXHUEFVYAH3KMIXDVVPW5A7QOPPSTQCYZJ2KPMNGM6246SCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVLJNZPV5WJDCU6IMRGR52GHHZDYIQ3WZOGYJVIY7DF5UJYFKKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWGCEL25N2VD4SZGM3DMFSNR2TNDALCPW5BVW2NINQRM366BPNZQ/main.js"
            ]
        },
        "DescribeEC2Remote": {
            "name": "DescribeEC2Remote",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "DescribeEC2RemoteRequest"
            },
            "output": {
                "shape": "DescribeEC2RemoteResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHCJLHFM2AZOE5HNVL6K6X5BB6MONKZFWGQ6H624NVQVKKDNR3IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYHPNTARKD2CJFSSPPSBGCAHXQBNUH37CY6N67A47O7ZWA64SAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHH77BOYMGI27BI6RQ7Y73LVFLKHNTHCQ5XABQHPOE333MWS5FJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7GOHJBUNKCQRGLMB5YUVOX3UNCFVXR3PGOUKHNIPB55AVFM7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAH7GA5KI267YBJKZBGC5MR6775RBEMWHBOVN72XFOPBDNVY7VVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIAIDQ5TYHBQXXQPLKY6YXR4QWT5FXJDM2GA75XQ74EMUYEYQODA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPOMMNBL7OWXGU4K3SZVCYKDJRBCWBWLUBWXMV32ZRDAGIYSDX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKNPH3WDFBXBDWW4H52KASCCMJSZ4S5MDJOZB2QDDJDK5P7Z36SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HAARLMLTW3P5JXE6JIUAFQRPZLLSX4GNSMLOVB3VWOWAP56D2EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCZSBRRRMQWCYJDITD37ATVGVL5KIQ66NHV7ZB6GJ67RQDUYP6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXVTPTDI6QL2QVBHZS54CWD63KM2CN6AV2IT3T3OFBDZ37YCT3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWULBWVUZ6DPL6B2IUM7CEDA5FRJ44PN6JKINSNZZHZHEOWMQZ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZUMV63RJLWIYD4U47PZUCWGBQUO4LXJTGIAJVCQLO4MQ5DWUAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CP7YXHUEFVYAH3KMIXDVVPW5A7QOPPSTQCYZJ2KPMNGM6246SCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVLJNZPV5WJDCU6IMRGR52GHHZDYIQ3WZOGYJVIY7DF5UJYFKKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWGCEL25N2VD4SZGM3DMFSNR2TNDALCPW5BVW2NINQRM366BPNZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5SUM3K4O7SQOXLNDSK6PMKTDBZP4XQBE7XQJV2LPUCZIADM6E3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQFT6UDQDOOBZOLYX6DCYYFZ55ET5XENKECIMCOVALETPOMPKMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNDHPBYVXGFGQ7V44NANYJPOSGOF3S7MIBF2NDDB5RTE4366MOIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7GWVUAWH5TT6EHF7QB3OUHMBF4LQFZY2TX4REZUCJERN7WAPDKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDHTR5JYEQPJOHUQGVSZE5QFF7JXQGDT5NQOXIMMJQ7XQWX6TAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEXF4GJKODICRQRKUF5DZ4XIR36MTKMFK2ZOJDHCRGMNRDQEFYCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNE23CKKV72SVSBTDDYHU4IZZBXZV3LVPFJKGY4W6CHTR5ZHBMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js"
            ]
        },
        "DescribeEnvironmentHosts": {
            "name": "DescribeEnvironmentHosts",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "DescribeEnvironmentHostsRequest"
            },
            "output": {
                "shape": "DescribeEnvironmentHostsResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCWDAJ57HTCGWP5NBUHU3HX4CPBL4KHPOHGYQNOFTIDBH4G4QDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WSWH6XC5ABN76LXRGKTWBJFALOAX72BWD2VQRNAK77CMLXVFQAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7ED55U2B337GUX2UP5GCBCRUR2SSPIDNFZ6ZBVEMRASCWN2LUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GP2WJHB72KIV4EGXYSQMP5EXIBKIQGDX3GRYJCV4FWV7MAJU6YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66U3DHSKUYYP57E5LYGBD7GY56ODVINDI2PDSGOUJ3N6X6CDN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGLLGF2BCW73AMKA7GNOSBTJHG7YGEAVNGW33567LK5RJELNF4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRKNTISZKK76B22QXQT3L5WRZHJOO7IGGRFHJC2OIKSQQLCMCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4EURRLESH4CJQ3K7MQ2A3R7XGEGJQ5ST65SNL7PUMB4LIDAE5YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHCJLHFM2AZOE5HNVL6K6X5BB6MONKZFWGQ6H624NVQVKKDNR3IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYHPNTARKD2CJFSSPPSBGCAHXQBNUH37CY6N67A47O7ZWA64SAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHH77BOYMGI27BI6RQ7Y73LVFLKHNTHCQ5XABQHPOE333MWS5FJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7GOHJBUNKCQRGLMB5YUVOX3UNCFVXR3PGOUKHNIPB55AVFM7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAH7GA5KI267YBJKZBGC5MR6775RBEMWHBOVN72XFOPBDNVY7VVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIAIDQ5TYHBQXXQPLKY6YXR4QWT5FXJDM2GA75XQ74EMUYEYQODA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPOMMNBL7OWXGU4K3SZVCYKDJRBCWBWLUBWXMV32ZRDAGIYSDX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKNPH3WDFBXBDWW4H52KASCCMJSZ4S5MDJOZB2QDDJDK5P7Z36SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HAARLMLTW3P5JXE6JIUAFQRPZLLSX4GNSMLOVB3VWOWAP56D2EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCZSBRRRMQWCYJDITD37ATVGVL5KIQ66NHV7ZB6GJ67RQDUYP6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXVTPTDI6QL2QVBHZS54CWD63KM2CN6AV2IT3T3OFBDZ37YCT3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWULBWVUZ6DPL6B2IUM7CEDA5FRJ44PN6JKINSNZZHZHEOWMQZ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZUMV63RJLWIYD4U47PZUCWGBQUO4LXJTGIAJVCQLO4MQ5DWUAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CP7YXHUEFVYAH3KMIXDVVPW5A7QOPPSTQCYZJ2KPMNGM6246SCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVLJNZPV5WJDCU6IMRGR52GHHZDYIQ3WZOGYJVIY7DF5UJYFKKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWGCEL25N2VD4SZGM3DMFSNR2TNDALCPW5BVW2NINQRM366BPNZQ/main.js"
            ]
        },
        "DescribeSSHRemote": {
            "name": "DescribeSSHRemote",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "DescribeSSHRemoteRequest"
            },
            "output": {
                "shape": "DescribeSSHRemoteResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHCJLHFM2AZOE5HNVL6K6X5BB6MONKZFWGQ6H624NVQVKKDNR3IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYHPNTARKD2CJFSSPPSBGCAHXQBNUH37CY6N67A47O7ZWA64SAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHH77BOYMGI27BI6RQ7Y73LVFLKHNTHCQ5XABQHPOE333MWS5FJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7GOHJBUNKCQRGLMB5YUVOX3UNCFVXR3PGOUKHNIPB55AVFM7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAH7GA5KI267YBJKZBGC5MR6775RBEMWHBOVN72XFOPBDNVY7VVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIAIDQ5TYHBQXXQPLKY6YXR4QWT5FXJDM2GA75XQ74EMUYEYQODA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPOMMNBL7OWXGU4K3SZVCYKDJRBCWBWLUBWXMV32ZRDAGIYSDX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKNPH3WDFBXBDWW4H52KASCCMJSZ4S5MDJOZB2QDDJDK5P7Z36SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HAARLMLTW3P5JXE6JIUAFQRPZLLSX4GNSMLOVB3VWOWAP56D2EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCZSBRRRMQWCYJDITD37ATVGVL5KIQ66NHV7ZB6GJ67RQDUYP6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXVTPTDI6QL2QVBHZS54CWD63KM2CN6AV2IT3T3OFBDZ37YCT3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWULBWVUZ6DPL6B2IUM7CEDA5FRJ44PN6JKINSNZZHZHEOWMQZ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZUMV63RJLWIYD4U47PZUCWGBQUO4LXJTGIAJVCQLO4MQ5DWUAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CP7YXHUEFVYAH3KMIXDVVPW5A7QOPPSTQCYZJ2KPMNGM6246SCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVLJNZPV5WJDCU6IMRGR52GHHZDYIQ3WZOGYJVIY7DF5UJYFKKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWGCEL25N2VD4SZGM3DMFSNR2TNDALCPW5BVW2NINQRM366BPNZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5SUM3K4O7SQOXLNDSK6PMKTDBZP4XQBE7XQJV2LPUCZIADM6E3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQFT6UDQDOOBZOLYX6DCYYFZ55ET5XENKECIMCOVALETPOMPKMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNDHPBYVXGFGQ7V44NANYJPOSGOF3S7MIBF2NDDB5RTE4366MOIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7GWVUAWH5TT6EHF7QB3OUHMBF4LQFZY2TX4REZUCJERN7WAPDKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDHTR5JYEQPJOHUQGVSZE5QFF7JXQGDT5NQOXIMMJQ7XQWX6TAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEXF4GJKODICRQRKUF5DZ4XIR36MTKMFK2ZOJDHCRGMNRDQEFYCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNE23CKKV72SVSBTDDYHU4IZZBXZV3LVPFJKGY4W6CHTR5ZHBMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js"
            ]
        },
        "GetEnvironmentConfig": {
            "name": "GetEnvironmentConfig",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "GetEnvironmentConfigRequest"
            },
            "output": {
                "shape": "GetEnvironmentConfigResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHCJLHFM2AZOE5HNVL6K6X5BB6MONKZFWGQ6H624NVQVKKDNR3IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYHPNTARKD2CJFSSPPSBGCAHXQBNUH37CY6N67A47O7ZWA64SAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHH77BOYMGI27BI6RQ7Y73LVFLKHNTHCQ5XABQHPOE333MWS5FJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7GOHJBUNKCQRGLMB5YUVOX3UNCFVXR3PGOUKHNIPB55AVFM7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAH7GA5KI267YBJKZBGC5MR6775RBEMWHBOVN72XFOPBDNVY7VVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIAIDQ5TYHBQXXQPLKY6YXR4QWT5FXJDM2GA75XQ74EMUYEYQODA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPOMMNBL7OWXGU4K3SZVCYKDJRBCWBWLUBWXMV32ZRDAGIYSDX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKNPH3WDFBXBDWW4H52KASCCMJSZ4S5MDJOZB2QDDJDK5P7Z36SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HAARLMLTW3P5JXE6JIUAFQRPZLLSX4GNSMLOVB3VWOWAP56D2EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCZSBRRRMQWCYJDITD37ATVGVL5KIQ66NHV7ZB6GJ67RQDUYP6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXVTPTDI6QL2QVBHZS54CWD63KM2CN6AV2IT3T3OFBDZ37YCT3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWULBWVUZ6DPL6B2IUM7CEDA5FRJ44PN6JKINSNZZHZHEOWMQZ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZUMV63RJLWIYD4U47PZUCWGBQUO4LXJTGIAJVCQLO4MQ5DWUAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CP7YXHUEFVYAH3KMIXDVVPW5A7QOPPSTQCYZJ2KPMNGM6246SCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVLJNZPV5WJDCU6IMRGR52GHHZDYIQ3WZOGYJVIY7DF5UJYFKKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWGCEL25N2VD4SZGM3DMFSNR2TNDALCPW5BVW2NINQRM366BPNZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5SUM3K4O7SQOXLNDSK6PMKTDBZP4XQBE7XQJV2LPUCZIADM6E3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQFT6UDQDOOBZOLYX6DCYYFZ55ET5XENKECIMCOVALETPOMPKMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNDHPBYVXGFGQ7V44NANYJPOSGOF3S7MIBF2NDDB5RTE4366MOIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7GWVUAWH5TT6EHF7QB3OUHMBF4LQFZY2TX4REZUCJERN7WAPDKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDHTR5JYEQPJOHUQGVSZE5QFF7JXQGDT5NQOXIMMJQ7XQWX6TAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEXF4GJKODICRQRKUF5DZ4XIR36MTKMFK2ZOJDHCRGMNRDQEFYCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNE23CKKV72SVSBTDDYHU4IZZBXZV3LVPFJKGY4W6CHTR5ZHBMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js"
            ]
        },
        "GetEnvironmentSettings": {
            "name": "GetEnvironmentSettings",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "GetEnvironmentSettingsRequest"
            },
            "output": {
                "shape": "GetEnvironmentSettingsResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHCJLHFM2AZOE5HNVL6K6X5BB6MONKZFWGQ6H624NVQVKKDNR3IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYHPNTARKD2CJFSSPPSBGCAHXQBNUH37CY6N67A47O7ZWA64SAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHH77BOYMGI27BI6RQ7Y73LVFLKHNTHCQ5XABQHPOE333MWS5FJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7GOHJBUNKCQRGLMB5YUVOX3UNCFVXR3PGOUKHNIPB55AVFM7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAH7GA5KI267YBJKZBGC5MR6775RBEMWHBOVN72XFOPBDNVY7VVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIAIDQ5TYHBQXXQPLKY6YXR4QWT5FXJDM2GA75XQ74EMUYEYQODA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPOMMNBL7OWXGU4K3SZVCYKDJRBCWBWLUBWXMV32ZRDAGIYSDX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKNPH3WDFBXBDWW4H52KASCCMJSZ4S5MDJOZB2QDDJDK5P7Z36SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HAARLMLTW3P5JXE6JIUAFQRPZLLSX4GNSMLOVB3VWOWAP56D2EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCZSBRRRMQWCYJDITD37ATVGVL5KIQ66NHV7ZB6GJ67RQDUYP6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXVTPTDI6QL2QVBHZS54CWD63KM2CN6AV2IT3T3OFBDZ37YCT3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWULBWVUZ6DPL6B2IUM7CEDA5FRJ44PN6JKINSNZZHZHEOWMQZ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZUMV63RJLWIYD4U47PZUCWGBQUO4LXJTGIAJVCQLO4MQ5DWUAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CP7YXHUEFVYAH3KMIXDVVPW5A7QOPPSTQCYZJ2KPMNGM6246SCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVLJNZPV5WJDCU6IMRGR52GHHZDYIQ3WZOGYJVIY7DF5UJYFKKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWGCEL25N2VD4SZGM3DMFSNR2TNDALCPW5BVW2NINQRM366BPNZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5SUM3K4O7SQOXLNDSK6PMKTDBZP4XQBE7XQJV2LPUCZIADM6E3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQFT6UDQDOOBZOLYX6DCYYFZ55ET5XENKECIMCOVALETPOMPKMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNDHPBYVXGFGQ7V44NANYJPOSGOF3S7MIBF2NDDB5RTE4366MOIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7GWVUAWH5TT6EHF7QB3OUHMBF4LQFZY2TX4REZUCJERN7WAPDKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDHTR5JYEQPJOHUQGVSZE5QFF7JXQGDT5NQOXIMMJQ7XQWX6TAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEXF4GJKODICRQRKUF5DZ4XIR36MTKMFK2ZOJDHCRGMNRDQEFYCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNE23CKKV72SVSBTDDYHU4IZZBXZV3LVPFJKGY4W6CHTR5ZHBMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js"
            ]
        },
        "GetMembershipSettings": {
            "name": "GetMembershipSettings",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "GetMembershipSettingsRequest"
            },
[...]
