{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-07-26",
        "endpointPrefix": "cloudfront-keyvaluestore",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon CloudFront KeyValueStore",
        "serviceId": "CloudFront KeyValueStore",
        "signatureVersion": "v4",
        "signingName": "cloudfront-keyvaluestore",
        "uid": "cloudfront-keyvaluestore-2022-07-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/VHBBPXJCN5GCERMOEROQUD5JRXHV4NIR74PGXE33VMNODYOE2L5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UZUOUDKVZUPBDHLH5Y3CQU6IQLSNBXCD5UGYXVBO5HCBCJKXIS2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7PSTSWSLAGE63XPAGOPHH3EBHKWP3M7XJ63MPTRZBYMI4RKGBZVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FBP6S5F36FVDH52YJ3AZ25V2GT5EYNBQDY7LSCGZAXEZTIQNO2QA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X6TCD2T76P37V3IDAHKWIXZGYGK7ADNXT3X6AJ3D5SEZTXNCGTCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B3LOFHIKYHZECH3XKBC7ZSUQEC6GWSKKQCDJNGU6RCYVMELDHQ4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.js"
        ]
    },
    "operations": {
        "DeleteKey": {
            "http": {
                "method": "DELETE",
                "requestUri": "/key-value-stores/{KvsARN}/keys/{Key}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "KvsARN",
                    "Key",
                    "IfMatch"
                ],
                "members": {
                    "KvsARN": {
                        "location": "uri",
                        "locationName": "KvsARN"
                    },
                    "Key": {
                        "location": "uri",
                        "locationName": "Key"
                    },
                    "IfMatch": {
                        "location": "header",
                        "locationName": "If-Match"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ItemCount",
                    "TotalSizeInBytes",
                    "ETag"
                ],
                "members": {
                    "ItemCount": {
                        "type": "integer"
                    },
                    "TotalSizeInBytes": {
                        "type": "long"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHBBPXJCN5GCERMOEROQUD5JRXHV4NIR74PGXE33VMNODYOE2L5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZUOUDKVZUPBDHLH5Y3CQU6IQLSNBXCD5UGYXVBO5HCBCJKXIS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSTSWSLAGE63XPAGOPHH3EBHKWP3M7XJ63MPTRZBYMI4RKGBZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBP6S5F36FVDH52YJ3AZ25V2GT5EYNBQDY7LSCGZAXEZTIQNO2QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TCD2T76P37V3IDAHKWIXZGYGK7ADNXT3X6AJ3D5SEZTXNCGTCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3LOFHIKYHZECH3XKBC7ZSUQEC6GWSKKQCDJNGU6RCYVMELDHQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.js"
            ]
        },
        "DescribeKeyValueStore": {
            "http": {
                "method": "GET",
                "requestUri": "/key-value-stores/{KvsARN}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "KvsARN"
                ],
                "members": {
                    "KvsARN": {
                        "location": "uri",
                        "locationName": "KvsARN"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ItemCount",
                    "TotalSizeInBytes",
                    "KvsARN",
                    "Created",
                    "ETag"
                ],
                "members": {
                    "ItemCount": {
                        "type": "integer"
                    },
                    "TotalSizeInBytes": {
                        "type": "long"
                    },
                    "KvsARN": {},
                    "Created": {
                        "type": "timestamp"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    },
                    "LastModified": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHBBPXJCN5GCERMOEROQUD5JRXHV4NIR74PGXE33VMNODYOE2L5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZUOUDKVZUPBDHLH5Y3CQU6IQLSNBXCD5UGYXVBO5HCBCJKXIS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSTSWSLAGE63XPAGOPHH3EBHKWP3M7XJ63MPTRZBYMI4RKGBZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBP6S5F36FVDH52YJ3AZ25V2GT5EYNBQDY7LSCGZAXEZTIQNO2QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TCD2T76P37V3IDAHKWIXZGYGK7ADNXT3X6AJ3D5SEZTXNCGTCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3LOFHIKYHZECH3XKBC7ZSUQEC6GWSKKQCDJNGU6RCYVMELDHQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.js"
            ]
        },
        "GetKey": {
            "http": {
                "method": "GET",
                "requestUri": "/key-value-stores/{KvsARN}/keys/{Key}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "KvsARN",
                    "Key"
                ],
                "members": {
                    "KvsARN": {
                        "location": "uri",
                        "locationName": "KvsARN"
                    },
                    "Key": {
                        "location": "uri",
                        "locationName": "Key"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value",
                    "ItemCount",
                    "TotalSizeInBytes"
                ],
                "members": {
                    "Key": {},
                    "Value": {
                        "shape": "Sd"
                    },
                    "ItemCount": {
                        "type": "integer"
                    },
                    "TotalSizeInBytes": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHBBPXJCN5GCERMOEROQUD5JRXHV4NIR74PGXE33VMNODYOE2L5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZUOUDKVZUPBDHLH5Y3CQU6IQLSNBXCD5UGYXVBO5HCBCJKXIS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSTSWSLAGE63XPAGOPHH3EBHKWP3M7XJ63MPTRZBYMI4RKGBZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBP6S5F36FVDH52YJ3AZ25V2GT5EYNBQDY7LSCGZAXEZTIQNO2QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TCD2T76P37V3IDAHKWIXZGYGK7ADNXT3X6AJ3D5SEZTXNCGTCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3LOFHIKYHZECH3XKBC7ZSUQEC6GWSKKQCDJNGU6RCYVMELDHQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.js"
            ]
        },
        "ListKeys": {
            "http": {
                "method": "GET",
                "requestUri": "/key-value-stores/{KvsARN}/keys",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "KvsARN"
                ],
                "members": {
                    "KvsARN": {
                        "location": "uri",
                        "locationName": "KvsARN"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "IncludeValues": {
                        "location": "querystring",
                        "locationName": "IncludeValues",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Key",
                                "Value"
                            ],
                            "members": {
                                "Key": {},
                                "Value": {
                                    "shape": "Sd"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHBBPXJCN5GCERMOEROQUD5JRXHV4NIR74PGXE33VMNODYOE2L5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZUOUDKVZUPBDHLH5Y3CQU6IQLSNBXCD5UGYXVBO5HCBCJKXIS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSTSWSLAGE63XPAGOPHH3EBHKWP3M7XJ63MPTRZBYMI4RKGBZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBP6S5F36FVDH52YJ3AZ25V2GT5EYNBQDY7LSCGZAXEZTIQNO2QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TCD2T76P37V3IDAHKWIXZGYGK7ADNXT3X6AJ3D5SEZTXNCGTCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3LOFHIKYHZECH3XKBC7ZSUQEC6GWSKKQCDJNGU6RCYVMELDHQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.js"
            ]
        },
        "PutKey": {
            "http": {
                "method": "PUT",
                "requestUri": "/key-value-stores/{KvsARN}/keys/{Key}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value",
                    "KvsARN",
                    "IfMatch"
                ],
                "members": {
                    "Key": {
                        "location": "uri",
                        "locationName": "Key"
                    },
                    "Value": {
                        "shape": "Sd"
                    },
                    "KvsARN": {
                        "location": "uri",
                        "locationName": "KvsARN"
                    },
                    "IfMatch": {
                        "location": "header",
                        "locationName": "If-Match"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ItemCount",
                    "TotalSizeInBytes",
                    "ETag"
                ],
                "members": {
                    "ItemCount": {
                        "type": "integer"
                    },
                    "TotalSizeInBytes": {
                        "type": "long"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHBBPXJCN5GCERMOEROQUD5JRXHV4NIR74PGXE33VMNODYOE2L5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZUOUDKVZUPBDHLH5Y3CQU6IQLSNBXCD5UGYXVBO5HCBCJKXIS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSTSWSLAGE63XPAGOPHH3EBHKWP3M7XJ63MPTRZBYMI4RKGBZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBP6S5F36FVDH52YJ3AZ25V2GT5EYNBQDY7LSCGZAXEZTIQNO2QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TCD2T76P37V3IDAHKWIXZGYGK7ADNXT3X6AJ3D5SEZTXNCGTCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3LOFHIKYHZECH3XKBC7ZSUQEC6GWSKKQCDJNGU6RCYVMELDHQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.js"
            ]
        },
        "UpdateKeys": {
            "http": {
                "requestUri": "/key-value-stores/{KvsARN}/keys",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "KvsARN",
                    "IfMatch"
                ],
                "members": {
                    "KvsARN": {
                        "location": "uri",
                        "locationName": "KvsARN"
                    },
                    "IfMatch": {
                        "location": "header",
                        "locationName": "If-Match"
                    },
                    "Puts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Key",
                                "Value"
                            ],
                            "members": {
                                "Key": {},
                                "Value": {
                                    "shape": "Sd"
                                }
                            }
                        }
                    },
                    "Deletes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Key"
                            ],
                            "members": {
                                "Key": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ItemCount",
                    "TotalSizeInBytes",
                    "ETag"
                ],
                "members": {
                    "ItemCount": {
                        "type": "integer"
                    },
                    "TotalSizeInBytes": {
                        "type": "long"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHBBPXJCN5GCERMOEROQUD5JRXHV4NIR74PGXE33VMNODYOE2L5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZUOUDKVZUPBDHLH5Y3CQU6IQLSNBXCD5UGYXVBO5HCBCJKXIS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSTSWSLAGE63XPAGOPHH3EBHKWP3M7XJ63MPTRZBYMI4RKGBZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBP6S5F36FVDH52YJ3AZ25V2GT5EYNBQDY7LSCGZAXEZTIQNO2QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TCD2T76P37V3IDAHKWIXZGYGK7ADNXT3X6AJ3D5SEZTXNCGTCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3LOFHIKYHZECH3XKBC7ZSUQEC6GWSKKQCDJNGU6RCYVMELDHQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sd": {
            "type": "string",
            "sensitive": true
        }
    }
}