{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2013-11-01",
        "endpointPrefix": "cloudtrail",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "CloudTrail",
        "serviceFullName": "AWS CloudTrail",
        "serviceId": "CloudTrail",
        "signatureVersion": "v4",
        "targetPrefix": "com.amazonaws.cloudtrail.v20131101.CloudTrail_20131101",
        "uid": "cloudtrail-2013-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
        ]
    },
    "operations": {
        "AddTags": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId"
                ],
                "members": {
                    "ResourceId": {},
                    "TagsList": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateTrail": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "S3BucketName"
                ],
                "members": {
                    "Name": {},
                    "S3BucketName": {},
                    "S3KeyPrefix": {},
                    "SnsTopicName": {},
                    "IncludeGlobalServiceEvents": {
                        "type": "boolean"
                    },
                    "IsMultiRegionTrail": {
                        "type": "boolean"
                    },
                    "EnableLogFileValidation": {
                        "type": "boolean"
                    },
                    "CloudWatchLogsLogGroupArn": {},
                    "CloudWatchLogsRoleArn": {},
                    "KmsKeyId": {},
                    "IsOrganizationTrail": {
                        "type": "boolean"
                    },
                    "TagsList": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "S3BucketName": {},
                    "S3KeyPrefix": {},
                    "SnsTopicName": {
                        "deprecated": true
                    },
                    "SnsTopicARN": {},
                    "IncludeGlobalServiceEvents": {
                        "type": "boolean"
                    },
                    "IsMultiRegionTrail": {
                        "type": "boolean"
                    },
                    "TrailARN": {},
                    "LogFileValidationEnabled": {
                        "type": "boolean"
                    },
                    "CloudWatchLogsLogGroupArn": {},
                    "CloudWatchLogsRoleArn": {},
                    "KmsKeyId": {},
                    "IsOrganizationTrail": {
                        "type": "boolean"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteTrail": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DescribeTrails": {
            "input": {
                "type": "structure",
                "members": {
                    "trailNameList": {
                        "type": "list",
                        "member": {}
                    },
                    "includeShadowTrails": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "trailList": {
                        "type": "list",
                        "member": {
                            "shape": "Sf"
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "GetEventSelectors": {
            "input": {
                "type": "structure",
                "required": [
                    "TrailName"
                ],
                "members": {
                    "TrailName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrailARN": {},
                    "EventSelectors": {
                        "shape": "Si"
                    },
                    "AdvancedEventSelectors": {
                        "shape": "Sp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "GetInsightSelectors": {
            "input": {
                "type": "structure",
                "required": [
                    "TrailName"
                ],
                "members": {
                    "TrailName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrailARN": {},
                    "InsightSelectors": {
                        "shape": "Sz"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "GetTrail": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Trail": {
                        "shape": "Sf"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "GetTrailStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IsLogging": {
                        "type": "boolean"
                    },
                    "LatestDeliveryError": {},
                    "LatestNotificationError": {},
                    "LatestDeliveryTime": {
                        "type": "timestamp"
                    },
                    "LatestNotificationTime": {
                        "type": "timestamp"
                    },
                    "StartLoggingTime": {
                        "type": "timestamp"
                    },
                    "StopLoggingTime": {
                        "type": "timestamp"
                    },
                    "LatestCloudWatchLogsDeliveryError": {},
                    "LatestCloudWatchLogsDeliveryTime": {
                        "type": "timestamp"
                    },
                    "LatestDigestDeliveryTime": {
                        "type": "timestamp"
                    },
                    "LatestDigestDeliveryError": {},
                    "LatestDeliveryAttemptTime": {},
                    "LatestNotificationAttemptTime": {},
                    "LatestNotificationAttemptSucceeded": {},
                    "LatestDeliveryAttemptSucceeded": {},
                    "TimeLoggingStarted": {},
                    "TimeLoggingStopped": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "ListPublicKeys": {
            "input": {
                "type": "structure",
                "members": {
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PublicKeyList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Value": {
                                    "type": "blob"
                                },
                                "ValidityStartTime": {
                                    "type": "timestamp"
                                },
                                "ValidityEndTime": {
                                    "type": "timestamp"
                                },
                                "Fingerprint": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "ListTags": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceIdList"
                ],
                "members": {
                    "ResourceIdList": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceTagList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ResourceId": {},
                                "TagsList": {
                                    "shape": "S3"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "ListTrails": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "IncludeServiceLinkedTrails": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Trails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TrailARN": {},
                                "Name": {},
                                "HomeRegion": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "LookupEvents": {
            "input": {
                "type": "structure",
                "members": {
                    "LookupAttributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "AttributeKey",
                                "AttributeValue"
                            ],
                            "members": {
                                "AttributeKey": {},
                                "AttributeValue": {}
                            }
                        }
                    },
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "EventCategory": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "EventId": {},
                                "EventName": {},
                                "ReadOnly": {},
                                "AccessKeyId": {},
                                "EventTime": {
                                    "type": "timestamp"
                                },
                                "EventSource": {},
                                "Username": {},
                                "Resources": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "ResourceType": {},
                                            "ResourceName": {}
                                        }
                                    }
                                },
                                "CloudTrailEvent": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "PutEventSelectors": {
            "input": {
                "type": "structure",
                "required": [
                    "TrailName"
                ],
                "members": {
                    "TrailName": {},
                    "EventSelectors": {
                        "shape": "Si"
                    },
                    "AdvancedEventSelectors": {
                        "shape": "Sp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrailARN": {},
                    "EventSelectors": {
                        "shape": "Si"
                    },
                    "AdvancedEventSelectors": {
                        "shape": "Sp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "PutInsightSelectors": {
            "input": {
                "type": "structure",
                "required": [
                    "TrailName",
                    "InsightSelectors"
                ],
                "members": {
                    "TrailName": {},
                    "InsightSelectors": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrailARN": {},
                    "InsightSelectors": {
                        "shape": "Sz"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "RemoveTags": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId"
                ],
                "members": {
                    "ResourceId": {},
                    "TagsList": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "StartLogging": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "StopLogging": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "UpdateTrail": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "S3BucketName": {},
                    "S3KeyPrefix": {},
                    "SnsTopicName": {},
                    "IncludeGlobalServiceEvents": {
                        "type": "boolean"
                    },
                    "IsMultiRegionTrail": {
                        "type": "boolean"
                    },
                    "EnableLogFileValidation": {
                        "type": "boolean"
                    },
                    "CloudWatchLogsLogGroupArn": {},
                    "CloudWatchLogsRoleArn": {},
                    "KmsKeyId": {},
                    "IsOrganizationTrail": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "S3BucketName": {},
                    "S3KeyPrefix": {},
                    "SnsTopicName": {
                        "deprecated": true
                    },
                    "SnsTopicARN": {},
                    "IncludeGlobalServiceEvents": {
                        "type": "boolean"
                    },
                    "IsMultiRegionTrail": {
                        "type": "boolean"
                    },
                    "TrailARN": {},
                    "LogFileValidationEnabled": {
                        "type": "boolean"
                    },
                    "CloudWatchLogsLogGroupArn": {},
                    "CloudWatchLogsRoleArn": {},
                    "KmsKeyId": {},
                    "IsOrganizationTrail": {
                        "type": "boolean"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CancelQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryId"
                ],
                "members": {
                    "EventDataStore": {
                        "deprecated": true,
                        "deprecatedMessage": "EventDataStore is no longer required by CancelQueryRequest"
                    },
                    "QueryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "QueryId",
                    "QueryStatus"
                ],
                "members": {
                    "QueryId": {},
                    "QueryStatus": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZOI6AD4FI3MDZLL3J767DRKWMO2HJXFL3LJG6R5MBOTY32RVGA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4DNLC6MMWXTFGVTN27CWTIQM7TYXN7D5EAQBYLVI6T7TVRKYOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateEventDataStore": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "AdvancedEventSelectors": {
                        "shape": "Sf"
                    },
                    "MultiRegionEnabled": {
                        "type": "boolean"
                    },
                    "OrganizationEnabled": {
                        "type": "boolean"
                    },
                    "RetentionPeriod": {
                        "type": "integer"
                    },
                    "TerminationProtectionEnabled": {
                        "type": "boolean"
                    },
                    "TagsList": {
                        "shape": "S3"
                    },
                    "KmsKeyId": {},
                    "StartIngestion": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventDataStoreArn": {},
                    "Name": {},
                    "Status": {},
                    "AdvancedEventSelectors": {
                        "shape": "Sf"
                    },
                    "MultiRegionEnabled": {
                        "type": "boolean"
                    },
                    "OrganizationEnabled": {
                        "type": "boolean"
                    },
                    "RetentionPeriod": {
                        "type": "integer"
                    },
                    "TerminationProtectionEnabled": {
                        "type": "boolean"
                    },
                    "TagsList": {
                        "shape": "S3"
                    },
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    },
                    "UpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "KmsKeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZOI6AD4FI3MDZLL3J767DRKWMO2HJXFL3LJG6R5MBOTY32RVGA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4DNLC6MMWXTFGVTN27CWTIQM7TYXN7D5EAQBYLVI6T7TVRKYOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteEventDataStore": {
            "input": {
                "type": "structure",
                "required": [
                    "EventDataStore"
                ],
                "members": {
                    "EventDataStore": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZOI6AD4FI3MDZLL3J767DRKWMO2HJXFL3LJG6R5MBOTY32RVGA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4DNLC6MMWXTFGVTN27CWTIQM7TYXN7D5EAQBYLVI6T7TVRKYOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeregisterOrganizationDelegatedAdmin": {
            "input": {
                "type": "structure",
                "required": [
                    "DelegatedAdminAccountId"
                ],
                "members": {
                    "DelegatedAdminAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFDICLESXG2EMS2MONBHJJOX42TRWH3O2OYQDLL7MAJDNS2JLAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLIPZEUTAVB7DFDG5NFVFJOLSPIUXCF3U5FIWCKY4QQIFEVGQDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPDBCDW6DCOGSTJ6BHBZM6JYCLFN26P3H44P4ZTNTNACZS4AS6LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3PWAPZJR6GLQLU5GWWPYXED4ZJTDDQ46YXTXLI47KOGGBRXUAYYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/vendors.js"
            ]
        },
        "DescribeQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryId"
                ],
                "members": {
                    "EventDataStore": {
                        "deprecated": true,
                        "deprecatedMessage": "EventDataStore is no longer required by DescribeQueryRequest"
                    },
                    "QueryId": {},
                    "QueryAlias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "QueryId": {},
                    "QueryString": {},
                    "QueryStatus": {},
                    "QueryStatistics": {
                        "type": "structure",
                        "members": {
                            "EventsMatched": {
                                "type": "long"
                            },
                            "EventsScanned": {
                                "type": "long"
                            },
                            "BytesScanned": {
                                "type": "long"
                            },
                            "ExecutionTimeInMillis": {
                                "type": "integer"
                            },
                            "CreationTime": {
                                "type": "timestamp"
                            }
                        }
                    },
                    "ErrorMessage": {},
                    "DeliveryS3Uri": {},
                    "DeliveryStatus": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZOI6AD4FI3MDZLL3J767DRKWMO2HJXFL3LJG6R5MBOTY32RVGA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4DNLC6MMWXTFGVTN27CWTIQM7TYXN7D5EAQBYLVI6T7TVRKYOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "GetChannel": {
            "input": {
                "type": "structure",
                "required": [
                    "Channel"
                ],
                "members": {
                    "Channel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelArn": {},
                    "Name": {},
                    "Source": {},
                    "SourceConfig": {
                        "type": "structure",
                        "members": {
                            "ApplyToAllRegions": {
                                "type": "boolean"
                            },
                            "AdvancedEventSelectors": {
                                "shape": "Sf"
                            }
                        }
                    },
                    "Destinations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
[...]
