{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2011-02-01",
        "endpointPrefix": "cloudsearch",
        "protocol": "query",
        "protocols": [
            "query"
        ],
        "serviceAbbreviation": "CloudSearchV2011",
        "serviceFullName": "Amazon CloudSearch",
        "serviceId": "CloudSearch",
        "signatureVersion": "v4",
        "signingName": "cloudsearch",
        "uid": "cloudsearch-2011-02-01",
        "xmlNamespace": "http://cloudsearch.amazonaws.com/doc/2011-02-01/",
        "auth": [
            "aws.auth#sigv4"
        ],
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
        ]
    },
    "operations": {
        "CreateDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {}
                }
            },
            "output": {
                "resultWrapper": "CreateDomainResult",
                "type": "structure",
                "members": {
                    "DomainStatus": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "DefineIndexField": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "IndexField"
                ],
                "members": {
                    "DomainName": {},
                    "IndexField": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "resultWrapper": "DefineIndexFieldResult",
                "type": "structure",
                "required": [
                    "IndexField"
                ],
                "members": {
                    "IndexField": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "DefineRankExpression": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "RankExpression"
                ],
                "members": {
                    "DomainName": {},
                    "RankExpression": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "resultWrapper": "DefineRankExpressionResult",
                "type": "structure",
                "required": [
                    "RankExpression"
                ],
                "members": {
                    "RankExpression": {
                        "shape": "S15"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "DeleteDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteDomainResult",
                "type": "structure",
                "members": {
                    "DomainStatus": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "DeleteIndexField": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "IndexFieldName"
                ],
                "members": {
                    "DomainName": {},
                    "IndexFieldName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteIndexFieldResult",
                "type": "structure",
                "required": [
                    "IndexField"
                ],
                "members": {
                    "IndexField": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "DeleteRankExpression": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "RankName"
                ],
                "members": {
                    "DomainName": {},
                    "RankName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteRankExpressionResult",
                "type": "structure",
                "required": [
                    "RankExpression"
                ],
                "members": {
                    "RankExpression": {
                        "shape": "S15"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "DescribeAvailabilityOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeAvailabilityOptionsResult",
                "type": "structure",
                "members": {
                    "AvailabilityOptions": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "DescribeDefaultSearchField": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeDefaultSearchFieldResult",
                "type": "structure",
                "required": [
                    "DefaultSearchField"
                ],
                "members": {
                    "DefaultSearchField": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "DescribeDomains": {
            "input": {
                "type": "structure",
                "members": {
                    "DomainNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "resultWrapper": "DescribeDomainsResult",
                "type": "structure",
                "required": [
                    "DomainStatusList"
                ],
                "members": {
                    "DomainStatusList": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "DescribeIndexFields": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {},
                    "FieldNames": {
                        "shape": "S1o"
                    }
                }
            },
            "output": {
                "resultWrapper": "DescribeIndexFieldsResult",
                "type": "structure",
                "required": [
                    "IndexFields"
                ],
                "members": {
                    "IndexFields": {
                        "type": "list",
                        "member": {
                            "shape": "Sx"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "DescribeRankExpressions": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {},
                    "RankNames": {
                        "shape": "S1o"
                    }
                }
            },
            "output": {
                "resultWrapper": "DescribeRankExpressionsResult",
                "type": "structure",
                "required": [
                    "RankExpressions"
                ],
                "members": {
                    "RankExpressions": {
                        "type": "list",
                        "member": {
                            "shape": "S15"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "DescribeServiceAccessPolicies": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeServiceAccessPoliciesResult",
                "type": "structure",
                "required": [
                    "AccessPolicies"
                ],
                "members": {
                    "AccessPolicies": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "DescribeStemmingOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeStemmingOptionsResult",
                "type": "structure",
                "required": [
                    "Stems"
                ],
                "members": {
                    "Stems": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "DescribeStopwordOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeStopwordOptionsResult",
                "type": "structure",
                "required": [
                    "Stopwords"
                ],
                "members": {
                    "Stopwords": {
                        "shape": "S24"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "DescribeSynonymOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeSynonymOptionsResult",
                "type": "structure",
                "required": [
                    "Synonyms"
                ],
                "members": {
                    "Synonyms": {
                        "shape": "S28"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "IndexDocuments": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {}
                }
            },
            "output": {
                "resultWrapper": "IndexDocumentsResult",
                "type": "structure",
                "members": {
                    "FieldNames": {
                        "shape": "S1o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "UpdateAvailabilityOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "MultiAZ"
                ],
                "members": {
                    "DomainName": {},
                    "MultiAZ": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "UpdateAvailabilityOptionsResult",
                "type": "structure",
                "members": {
                    "AvailabilityOptions": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "UpdateDefaultSearchField": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "DefaultSearchField"
                ],
                "members": {
                    "DomainName": {},
                    "DefaultSearchField": {}
                }
            },
            "output": {
                "resultWrapper": "UpdateDefaultSearchFieldResult",
                "type": "structure",
                "required": [
                    "DefaultSearchField"
                ],
                "members": {
                    "DefaultSearchField": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "UpdateServiceAccessPolicies": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "AccessPolicies"
                ],
                "members": {
                    "DomainName": {},
                    "AccessPolicies": {}
                }
            },
            "output": {
                "resultWrapper": "UpdateServiceAccessPoliciesResult",
                "type": "structure",
                "required": [
                    "AccessPolicies"
                ],
                "members": {
                    "AccessPolicies": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "UpdateStemmingOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "Stems"
                ],
                "members": {
                    "DomainName": {},
                    "Stems": {}
                }
            },
            "output": {
                "resultWrapper": "UpdateStemmingOptionsResult",
                "type": "structure",
                "required": [
                    "Stems"
                ],
                "members": {
                    "Stems": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "UpdateStopwordOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "Stopwords"
                ],
                "members": {
                    "DomainName": {},
                    "Stopwords": {}
                }
            },
            "output": {
                "resultWrapper": "UpdateStopwordOptionsResult",
                "type": "structure",
                "required": [
                    "Stopwords"
                ],
                "members": {
                    "Stopwords": {
                        "shape": "S24"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        },
        "UpdateSynonymOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "Synonyms"
                ],
                "members": {
                    "DomainName": {},
                    "Synonyms": {}
                }
            },
            "output": {
                "resultWrapper": "UpdateSynonymOptionsResult",
                "type": "structure",
                "required": [
                    "Synonyms"
                ],
                "members": {
                    "Synonyms": {
                        "shape": "S28"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANJYGOS5X2SDDV43UZKGBQQ26WKGNEOFMPKREPBZEKCIQDYYLRQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X33DACDIRCV6HEJK465HXB4CHL3ANCQ53A22ZEMJ7YEIPVNU5LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZ242G445ABLDBVZOXR5LJJINZBAPVOZVWXVMPGTIRRCH7GOURPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7IPLVCXWOLLMYONFEIE7W47FSSHYVFMOMZKHI525WK6NDJ55LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "structure",
            "required": [
                "DomainId",
                "DomainName",
                "RequiresIndexDocuments"
            ],
            "members": {
                "DomainId": {},
                "DomainName": {},
                "Created": {
                    "type": "boolean"
                },
                "Deleted": {
                    "type": "boolean"
                },
                "NumSearchableDocs": {
                    "type": "long"
                },
                "DocService": {
                    "shape": "S8"
                },
                "SearchService": {
                    "shape": "S8"
                },
                "RequiresIndexDocuments": {
                    "type": "boolean"
                },
                "Processing": {
                    "type": "boolean"
                },
                "SearchInstanceType": {},
                "SearchPartitionCount": {
                    "type": "integer"
                },
                "SearchInstanceCount": {
                    "type": "integer"
                }
            }
        },
        "S8": {
            "type": "structure",
            "members": {
                "Arn": {},
                "Endpoint": {}
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "IndexFieldName",
                "IndexFieldType"
            ],
            "members": {
                "IndexFieldName": {},
                "IndexFieldType": {},
                "UIntOptions": {
                    "type": "structure",
                    "members": {
                        "DefaultValue": {
                            "type": "integer"
                        }
                    }
                },
                "LiteralOptions": {
                    "type": "structure",
                    "members": {
                        "DefaultValue": {},
                        "SearchEnabled": {
                            "type": "boolean"
                        },
                        "FacetEnabled": {
                            "type": "boolean"
                        },
                        "ResultEnabled": {
                            "type": "boolean"
                        }
                    }
                },
                "TextOptions": {
                    "type": "structure",
                    "members": {
                        "DefaultValue": {},
                        "FacetEnabled": {
                            "type": "boolean"
                        },
                        "ResultEnabled": {
                            "type": "boolean"
                        },
                        "TextProcessor": {}
                    }
                },
                "SourceAttributes": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "SourceDataFunction"
                        ],
                        "members": {
                            "SourceDataFunction": {},
                            "SourceDataCopy": {
                                "type": "structure",
                                "required": [
                                    "SourceName"
                                ],
                                "members": {
                                    "SourceName": {},
                                    "DefaultValue": {}
                                }
                            },
                            "SourceDataTrimTitle": {
                                "type": "structure",
                                "required": [
                                    "SourceName"
                                ],
                                "members": {
                                    "SourceName": {},
                                    "DefaultValue": {},
                                    "Separator": {},
                                    "Language": {}
                                }
                            },
                            "SourceDataMap": {
                                "type": "structure",
                                "required": [
                                    "SourceName"
                                ],
                                "members": {
                                    "SourceName": {},
                                    "DefaultValue": {},
                                    "Cases": {
                                        "type": "map",
                                        "key": {},
                                        "value": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "Sx": {
            "type": "structure",
            "required": [
                "Options",
                "Status"
            ],
            "members": {
                "Options": {
                    "shape": "Sf"
                },
                "Status": {
                    "shape": "Sy"
                }
            }
        },
        "Sy": {
            "type": "structure",
            "required": [
                "CreationDate",
                "UpdateDate",
                "State"
            ],
            "members": {
                "CreationDate": {
                    "type": "timestamp"
                },
                "UpdateDate": {
                    "type": "timestamp"
                },
                "UpdateVersion": {
                    "type": "integer"
                },
                "State": {},
                "PendingDeletion": {
                    "type": "boolean"
                }
            }
        },
        "S12": {
            "type": "structure",
            "required": [
                "RankName",
                "RankExpression"
            ],
            "members": {
                "RankName": {},
                "RankExpression": {}
            }
        },
        "S15": {
            "type": "structure",
            "required": [
                "Options",
                "Status"
            ],
            "members": {
                "Options": {
                    "shape": "S12"
                },
                "Status": {
                    "shape": "Sy"
                }
            }
        },
        "S1e": {
            "type": "structure",
            "required": [
                "Options",
                "Status"
            ],
            "members": {
                "Options": {
                    "type": "boolean"
                },
                "Status": {
                    "shape": "Sy"
                }
            }
        },
        "S1i": {
            "type": "structure",
            "required": [
                "Options",
                "Status"
            ],
            "members": {
                "Options": {},
                "Status": {
                    "shape": "Sy"
                }
            }
        },
        "S1o": {
            "type": "list",
            "member": {}
        },
        "S1w": {
            "type": "structure",
            "required": [
                "Options",
                "Status"
            ],
            "members": {
                "Options": {},
                "Status": {
                    "shape": "Sy"
                }
            }
        },
        "S20": {
            "type": "structure",
            "required": [
                "Options",
                "Status"
            ],
            "members": {
                "Options": {},
                "Status": {
                    "shape": "Sy"
                }
            }
        },
        "S24": {
            "type": "structure",
            "required": [
                "Options",
                "Status"
            ],
            "members": {
                "Options": {},
                "Status": {
                    "shape": "Sy"
                }
            }
        },
        "S28": {
            "type": "structure",
            "required": [
                "Options",
                "Status"
            ],
            "members": {
                "Options": {},
                "Status": {
                    "shape": "Sy"
                }
            }
        }
    }
}