{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-07-26",
        "endpointPrefix": "cloudfront-keyvaluestore",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon CloudFront KeyValueStore",
        "serviceId": "CloudFront KeyValueStore",
        "signatureVersion": "v4",
        "signingName": "cloudfront-keyvaluestore",
        "uid": "cloudfront-keyvaluestore-2022-07-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FBP6S5F36FVDH52YJ3AZ25V2GT5EYNBQDY7LSCGZAXEZTIQNO2QA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X6TCD2T76P37V3IDAHKWIXZGYGK7ADNXT3X6AJ3D5SEZTXNCGTCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B3LOFHIKYHZECH3XKBC7ZSUQEC6GWSKKQCDJNGU6RCYVMELDHQ4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z2T2GYIKIH44PRPBNMCDALAJV2JTRKESUM4EBNH6444WCMHXV26A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FLF6ISZ2IGR5MURUMBOT2FXPFIQOZJNGJOSQJI6V63ZAWNSKLIQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UBTD7P4ZY7HYIUJRNDRXMNMWLNJXUDVS5QYWXLASPX362NE77OVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FJP6I22MA2AJ22SFDY3TOTZ3UGNDGDB2U7MNQ3XH3O3OAUCU3IGQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PB5XEXVSOITSG66FE5K4PKOGXTDPJSU6KVKYC5UIHISSIKRD4GVA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IAGR3KYJN7K7IBRIMBUX7XXUIBMRXLRYPOFEVFSTUMH7RGW3IPGQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JVJ24WIEQOLQ37O7Q4EZAXFDPBGQZGK5IOPE2FYSHZN653CBCBPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VR4JRMGZ2KEHY4CV52SNNUMTAUEPTHAE33X4JX2SPTNWVOZBH4VA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VEXLY7T5IKHDIPEPU2VUEPJ2O6VHHGJVTMWOPQUGSZHYEL4QDM7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IDFKDFXY7IOH4SO7HGJAINJPE2GFXSHN4PB5LRXHVBBMTBQY5CUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
        ]
    },
    "operations": {
        "DeleteKey": {
            "http": {
                "method": "DELETE",
                "requestUri": "/key-value-stores/{KvsARN}/keys/{Key}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "KvsARN",
                    "Key",
                    "IfMatch"
                ],
                "members": {
                    "KvsARN": {
                        "location": "uri",
                        "locationName": "KvsARN"
                    },
                    "Key": {
                        "location": "uri",
                        "locationName": "Key"
                    },
                    "IfMatch": {
                        "location": "header",
                        "locationName": "If-Match"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ItemCount",
                    "TotalSizeInBytes",
                    "ETag"
                ],
                "members": {
                    "ItemCount": {
                        "type": "integer"
                    },
                    "TotalSizeInBytes": {
                        "type": "long"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TCD2T76P37V3IDAHKWIXZGYGK7ADNXT3X6AJ3D5SEZTXNCGTCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3LOFHIKYHZECH3XKBC7ZSUQEC6GWSKKQCDJNGU6RCYVMELDHQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2T2GYIKIH44PRPBNMCDALAJV2JTRKESUM4EBNH6444WCMHXV26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLF6ISZ2IGR5MURUMBOT2FXPFIQOZJNGJOSQJI6V63ZAWNSKLIQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBTD7P4ZY7HYIUJRNDRXMNMWLNJXUDVS5QYWXLASPX362NE77OVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJP6I22MA2AJ22SFDY3TOTZ3UGNDGDB2U7MNQ3XH3O3OAUCU3IGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB5XEXVSOITSG66FE5K4PKOGXTDPJSU6KVKYC5UIHISSIKRD4GVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAGR3KYJN7K7IBRIMBUX7XXUIBMRXLRYPOFEVFSTUMH7RGW3IPGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVJ24WIEQOLQ37O7Q4EZAXFDPBGQZGK5IOPE2FYSHZN653CBCBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR4JRMGZ2KEHY4CV52SNNUMTAUEPTHAE33X4JX2SPTNWVOZBH4VA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEXLY7T5IKHDIPEPU2VUEPJ2O6VHHGJVTMWOPQUGSZHYEL4QDM7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDFKDFXY7IOH4SO7HGJAINJPE2GFXSHN4PB5LRXHVBBMTBQY5CUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "DescribeKeyValueStore": {
            "http": {
                "method": "GET",
                "requestUri": "/key-value-stores/{KvsARN}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "KvsARN"
                ],
                "members": {
                    "KvsARN": {
                        "location": "uri",
                        "locationName": "KvsARN"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ItemCount",
                    "TotalSizeInBytes",
                    "KvsARN",
                    "Created",
                    "ETag"
                ],
                "members": {
                    "ItemCount": {
                        "type": "integer"
                    },
                    "TotalSizeInBytes": {
                        "type": "long"
                    },
                    "KvsARN": {},
                    "Created": {
                        "type": "timestamp"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    },
                    "LastModified": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TCD2T76P37V3IDAHKWIXZGYGK7ADNXT3X6AJ3D5SEZTXNCGTCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3LOFHIKYHZECH3XKBC7ZSUQEC6GWSKKQCDJNGU6RCYVMELDHQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2T2GYIKIH44PRPBNMCDALAJV2JTRKESUM4EBNH6444WCMHXV26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLF6ISZ2IGR5MURUMBOT2FXPFIQOZJNGJOSQJI6V63ZAWNSKLIQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBTD7P4ZY7HYIUJRNDRXMNMWLNJXUDVS5QYWXLASPX362NE77OVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJP6I22MA2AJ22SFDY3TOTZ3UGNDGDB2U7MNQ3XH3O3OAUCU3IGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB5XEXVSOITSG66FE5K4PKOGXTDPJSU6KVKYC5UIHISSIKRD4GVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAGR3KYJN7K7IBRIMBUX7XXUIBMRXLRYPOFEVFSTUMH7RGW3IPGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVJ24WIEQOLQ37O7Q4EZAXFDPBGQZGK5IOPE2FYSHZN653CBCBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR4JRMGZ2KEHY4CV52SNNUMTAUEPTHAE33X4JX2SPTNWVOZBH4VA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEXLY7T5IKHDIPEPU2VUEPJ2O6VHHGJVTMWOPQUGSZHYEL4QDM7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDFKDFXY7IOH4SO7HGJAINJPE2GFXSHN4PB5LRXHVBBMTBQY5CUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "GetKey": {
            "http": {
                "method": "GET",
                "requestUri": "/key-value-stores/{KvsARN}/keys/{Key}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "KvsARN",
                    "Key"
                ],
                "members": {
                    "KvsARN": {
                        "location": "uri",
                        "locationName": "KvsARN"
                    },
                    "Key": {
                        "location": "uri",
                        "locationName": "Key"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value",
                    "ItemCount",
                    "TotalSizeInBytes"
                ],
                "members": {
                    "Key": {},
                    "Value": {
                        "shape": "Sd"
                    },
                    "ItemCount": {
                        "type": "integer"
                    },
                    "TotalSizeInBytes": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TCD2T76P37V3IDAHKWIXZGYGK7ADNXT3X6AJ3D5SEZTXNCGTCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3LOFHIKYHZECH3XKBC7ZSUQEC6GWSKKQCDJNGU6RCYVMELDHQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2T2GYIKIH44PRPBNMCDALAJV2JTRKESUM4EBNH6444WCMHXV26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLF6ISZ2IGR5MURUMBOT2FXPFIQOZJNGJOSQJI6V63ZAWNSKLIQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBTD7P4ZY7HYIUJRNDRXMNMWLNJXUDVS5QYWXLASPX362NE77OVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJP6I22MA2AJ22SFDY3TOTZ3UGNDGDB2U7MNQ3XH3O3OAUCU3IGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB5XEXVSOITSG66FE5K4PKOGXTDPJSU6KVKYC5UIHISSIKRD4GVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAGR3KYJN7K7IBRIMBUX7XXUIBMRXLRYPOFEVFSTUMH7RGW3IPGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVJ24WIEQOLQ37O7Q4EZAXFDPBGQZGK5IOPE2FYSHZN653CBCBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR4JRMGZ2KEHY4CV52SNNUMTAUEPTHAE33X4JX2SPTNWVOZBH4VA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEXLY7T5IKHDIPEPU2VUEPJ2O6VHHGJVTMWOPQUGSZHYEL4QDM7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDFKDFXY7IOH4SO7HGJAINJPE2GFXSHN4PB5LRXHVBBMTBQY5CUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "ListKeys": {
            "http": {
                "method": "GET",
                "requestUri": "/key-value-stores/{KvsARN}/keys",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "KvsARN"
                ],
                "members": {
                    "KvsARN": {
                        "location": "uri",
                        "locationName": "KvsARN"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "IncludeValues": {
                        "location": "querystring",
                        "locationName": "IncludeValues",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Key",
                                "Value"
                            ],
                            "members": {
                                "Key": {},
                                "Value": {
                                    "shape": "Sd"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TCD2T76P37V3IDAHKWIXZGYGK7ADNXT3X6AJ3D5SEZTXNCGTCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3LOFHIKYHZECH3XKBC7ZSUQEC6GWSKKQCDJNGU6RCYVMELDHQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2T2GYIKIH44PRPBNMCDALAJV2JTRKESUM4EBNH6444WCMHXV26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLF6ISZ2IGR5MURUMBOT2FXPFIQOZJNGJOSQJI6V63ZAWNSKLIQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBTD7P4ZY7HYIUJRNDRXMNMWLNJXUDVS5QYWXLASPX362NE77OVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJP6I22MA2AJ22SFDY3TOTZ3UGNDGDB2U7MNQ3XH3O3OAUCU3IGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB5XEXVSOITSG66FE5K4PKOGXTDPJSU6KVKYC5UIHISSIKRD4GVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAGR3KYJN7K7IBRIMBUX7XXUIBMRXLRYPOFEVFSTUMH7RGW3IPGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVJ24WIEQOLQ37O7Q4EZAXFDPBGQZGK5IOPE2FYSHZN653CBCBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR4JRMGZ2KEHY4CV52SNNUMTAUEPTHAE33X4JX2SPTNWVOZBH4VA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEXLY7T5IKHDIPEPU2VUEPJ2O6VHHGJVTMWOPQUGSZHYEL4QDM7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDFKDFXY7IOH4SO7HGJAINJPE2GFXSHN4PB5LRXHVBBMTBQY5CUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "PutKey": {
            "http": {
                "method": "PUT",
                "requestUri": "/key-value-stores/{KvsARN}/keys/{Key}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value",
                    "KvsARN",
                    "IfMatch"
                ],
                "members": {
                    "Key": {
                        "location": "uri",
                        "locationName": "Key"
                    },
                    "Value": {
                        "shape": "Sd"
                    },
                    "KvsARN": {
                        "location": "uri",
                        "locationName": "KvsARN"
                    },
                    "IfMatch": {
                        "location": "header",
                        "locationName": "If-Match"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ItemCount",
                    "TotalSizeInBytes",
                    "ETag"
                ],
                "members": {
                    "ItemCount": {
                        "type": "integer"
                    },
                    "TotalSizeInBytes": {
                        "type": "long"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TCD2T76P37V3IDAHKWIXZGYGK7ADNXT3X6AJ3D5SEZTXNCGTCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3LOFHIKYHZECH3XKBC7ZSUQEC6GWSKKQCDJNGU6RCYVMELDHQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2T2GYIKIH44PRPBNMCDALAJV2JTRKESUM4EBNH6444WCMHXV26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLF6ISZ2IGR5MURUMBOT2FXPFIQOZJNGJOSQJI6V63ZAWNSKLIQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBTD7P4ZY7HYIUJRNDRXMNMWLNJXUDVS5QYWXLASPX362NE77OVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJP6I22MA2AJ22SFDY3TOTZ3UGNDGDB2U7MNQ3XH3O3OAUCU3IGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB5XEXVSOITSG66FE5K4PKOGXTDPJSU6KVKYC5UIHISSIKRD4GVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAGR3KYJN7K7IBRIMBUX7XXUIBMRXLRYPOFEVFSTUMH7RGW3IPGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVJ24WIEQOLQ37O7Q4EZAXFDPBGQZGK5IOPE2FYSHZN653CBCBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR4JRMGZ2KEHY4CV52SNNUMTAUEPTHAE33X4JX2SPTNWVOZBH4VA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEXLY7T5IKHDIPEPU2VUEPJ2O6VHHGJVTMWOPQUGSZHYEL4QDM7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDFKDFXY7IOH4SO7HGJAINJPE2GFXSHN4PB5LRXHVBBMTBQY5CUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "UpdateKeys": {
            "http": {
                "requestUri": "/key-value-stores/{KvsARN}/keys",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "KvsARN",
                    "IfMatch"
                ],
                "members": {
                    "KvsARN": {
                        "location": "uri",
                        "locationName": "KvsARN"
                    },
                    "IfMatch": {
                        "location": "header",
                        "locationName": "If-Match"
                    },
                    "Puts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Key",
                                "Value"
                            ],
                            "members": {
                                "Key": {},
                                "Value": {
                                    "shape": "Sd"
                                }
                            }
                        }
                    },
                    "Deletes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Key"
                            ],
                            "members": {
                                "Key": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ItemCount",
                    "TotalSizeInBytes",
                    "ETag"
                ],
                "members": {
                    "ItemCount": {
                        "type": "integer"
                    },
                    "TotalSizeInBytes": {
                        "type": "long"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TCD2T76P37V3IDAHKWIXZGYGK7ADNXT3X6AJ3D5SEZTXNCGTCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3LOFHIKYHZECH3XKBC7ZSUQEC6GWSKKQCDJNGU6RCYVMELDHQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2T2GYIKIH44PRPBNMCDALAJV2JTRKESUM4EBNH6444WCMHXV26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLF6ISZ2IGR5MURUMBOT2FXPFIQOZJNGJOSQJI6V63ZAWNSKLIQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBTD7P4ZY7HYIUJRNDRXMNMWLNJXUDVS5QYWXLASPX362NE77OVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJP6I22MA2AJ22SFDY3TOTZ3UGNDGDB2U7MNQ3XH3O3OAUCU3IGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB5XEXVSOITSG66FE5K4PKOGXTDPJSU6KVKYC5UIHISSIKRD4GVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAGR3KYJN7K7IBRIMBUX7XXUIBMRXLRYPOFEVFSTUMH7RGW3IPGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVJ24WIEQOLQ37O7Q4EZAXFDPBGQZGK5IOPE2FYSHZN653CBCBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR4JRMGZ2KEHY4CV52SNNUMTAUEPTHAE33X4JX2SPTNWVOZBH4VA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEXLY7T5IKHDIPEPU2VUEPJ2O6VHHGJVTMWOPQUGSZHYEL4QDM7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDFKDFXY7IOH4SO7HGJAINJPE2GFXSHN4PB5LRXHVBBMTBQY5CUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        }
    },
    "shapes": {
        "Sd": {
            "type": "string",
            "sensitive": true
        },
        "Se": {
            "type": "string",
            "sensitive": true
        }
    }
}