{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-05-10",
        "endpointPrefix": "clouddirectory",
        "protocol": "rest-json",
        "serviceFullName": "Amazon CloudDirectory",
        "serviceId": "CloudDirectory",
        "signatureVersion": "v4",
        "signingName": "clouddirectory",
        "uid": "clouddirectory-2016-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
        ]
    },
    "operations": {
        "AddFacetToObject": {
            "http": {
                "method": "PUT",
                "requestUri": "/amazonclouddirectory/2017-01-11/object/facets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryArn",
                    "SchemaFacet",
                    "ObjectReference"
                ],
                "members": {
                    "DirectoryArn": {
                        "location": "header",
                        "locationName": "x-amz-data-partition"
                    },
                    "SchemaFacet": {
                        "shape": "S3"
                    },
                    "ObjectAttributeList": {
                        "shape": "S5"
                    },
                    "ObjectReference": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "ApplySchema": {
            "http": {
                "method": "PUT",
                "requestUri": "/amazonclouddirectory/2017-01-11/schema/apply",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "PublishedSchemaArn",
                    "DirectoryArn"
                ],
                "members": {
                    "PublishedSchemaArn": {},
                    "DirectoryArn": {
                        "location": "header",
                        "locationName": "x-amz-data-partition"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppliedSchemaArn": {},
                    "DirectoryArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "AttachObject": {
            "http": {
                "method": "PUT",
                "requestUri": "/amazonclouddirectory/2017-01-11/object/attach",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryArn",
                    "ParentReference",
                    "ChildReference",
                    "LinkName"
                ],
                "members": {
                    "DirectoryArn": {
                        "location": "header",
                        "locationName": "x-amz-data-partition"
                    },
                    "ParentReference": {
                        "shape": "Sf"
                    },
                    "ChildReference": {
                        "shape": "Sf"
                    },
                    "LinkName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AttachedObjectIdentifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "AttachPolicy": {
            "http": {
                "method": "PUT",
                "requestUri": "/amazonclouddirectory/2017-01-11/policy/attach",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryArn",
                    "PolicyReference",
                    "ObjectReference"
                ],
                "members": {
                    "DirectoryArn": {
                        "location": "header",
                        "locationName": "x-amz-data-partition"
                    },
                    "PolicyReference": {
                        "shape": "Sf"
                    },
                    "ObjectReference": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "AttachToIndex": {
            "http": {
                "method": "PUT",
                "requestUri": "/amazonclouddirectory/2017-01-11/index/attach",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryArn",
                    "IndexReference",
                    "TargetReference"
                ],
                "members": {
                    "DirectoryArn": {
                        "location": "header",
                        "locationName": "x-amz-data-partition"
                    },
                    "IndexReference": {
                        "shape": "Sf"
                    },
                    "TargetReference": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AttachedObjectIdentifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "AttachTypedLink": {
            "http": {
                "method": "PUT",
                "requestUri": "/amazonclouddirectory/2017-01-11/typedlink/attach",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryArn",
                    "SourceObjectReference",
                    "TargetObjectReference",
                    "TypedLinkFacet",
                    "Attributes"
                ],
                "members": {
                    "DirectoryArn": {
                        "location": "header",
                        "locationName": "x-amz-data-partition"
                    },
                    "SourceObjectReference": {
                        "shape": "Sf"
                    },
                    "TargetObjectReference": {
                        "shape": "Sf"
                    },
                    "TypedLinkFacet": {
                        "shape": "St"
                    },
                    "Attributes": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TypedLinkSpecifier": {
                        "shape": "Sy"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "BatchRead": {
            "http": {
                "requestUri": "/amazonclouddirectory/2017-01-11/batchread",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryArn",
                    "Operations"
                ],
                "members": {
                    "DirectoryArn": {
                        "location": "header",
                        "locationName": "x-amz-data-partition"
                    },
                    "Operations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ListObjectAttributes": {
                                    "type": "structure",
                                    "required": [
                                        "ObjectReference"
                                    ],
                                    "members": {
                                        "ObjectReference": {
                                            "shape": "Sf"
                                        },
                                        "NextToken": {},
                                        "MaxResults": {
                                            "type": "integer"
                                        },
                                        "FacetFilter": {
                                            "shape": "S3"
                                        }
                                    }
                                },
                                "ListObjectChildren": {
                                    "type": "structure",
                                    "required": [
                                        "ObjectReference"
                                    ],
                                    "members": {
                                        "ObjectReference": {
                                            "shape": "Sf"
                                        },
                                        "NextToken": {},
                                        "MaxResults": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "ListAttachedIndices": {
                                    "type": "structure",
                                    "required": [
                                        "TargetReference"
                                    ],
                                    "members": {
                                        "TargetReference": {
                                            "shape": "Sf"
                                        },
                                        "NextToken": {},
                                        "MaxResults": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "ListObjectParentPaths": {
                                    "type": "structure",
                                    "required": [
                                        "ObjectReference"
                                    ],
                                    "members": {
                                        "ObjectReference": {
                                            "shape": "Sf"
                                        },
                                        "NextToken": {},
                                        "MaxResults": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "GetObjectInformation": {
                                    "type": "structure",
                                    "required": [
                                        "ObjectReference"
                                    ],
                                    "members": {
                                        "ObjectReference": {
                                            "shape": "Sf"
                                        }
                                    }
                                },
                                "GetObjectAttributes": {
                                    "type": "structure",
                                    "required": [
                                        "ObjectReference",
                                        "SchemaFacet",
                                        "AttributeNames"
                                    ],
                                    "members": {
                                        "ObjectReference": {
                                            "shape": "Sf"
                                        },
                                        "SchemaFacet": {
                                            "shape": "S3"
                                        },
                                        "AttributeNames": {
                                            "shape": "S1a"
                                        }
                                    }
                                },
                                "ListObjectPolicies": {
                                    "type": "structure",
                                    "required": [
                                        "ObjectReference"
                                    ],
                                    "members": {
                                        "ObjectReference": {
                                            "shape": "Sf"
                                        },
                                        "NextToken": {},
                                        "MaxResults": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "ListPolicyAttachments": {
                                    "type": "structure",
                                    "required": [
                                        "PolicyReference"
                                    ],
                                    "members": {
                                        "PolicyReference": {
                                            "shape": "Sf"
                                        },
                                        "NextToken": {},
                                        "MaxResults": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "LookupPolicy": {
                                    "type": "structure",
                                    "required": [
                                        "ObjectReference"
                                    ],
                                    "members": {
                                        "ObjectReference": {
                                            "shape": "Sf"
                                        },
                                        "NextToken": {},
                                        "MaxResults": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "ListIndex": {
                                    "type": "structure",
                                    "required": [
                                        "IndexReference"
                                    ],
                                    "members": {
                                        "RangesOnIndexedValues": {
                                            "shape": "S1f"
                                        },
                                        "IndexReference": {
                                            "shape": "Sf"
                                        },
                                        "MaxResults": {
                                            "type": "integer"
                                        },
                                        "NextToken": {}
                                    }
                                },
                                "ListOutgoingTypedLinks": {
                                    "type": "structure",
                                    "required": [
                                        "ObjectReference"
                                    ],
                                    "members": {
                                        "ObjectReference": {
                                            "shape": "Sf"
                                        },
                                        "FilterAttributeRanges": {
                                            "shape": "S1k"
                                        },
                                        "FilterTypedLink": {
                                            "shape": "St"
                                        },
                                        "NextToken": {},
                                        "MaxResults": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "ListIncomingTypedLinks": {
                                    "type": "structure",
                                    "required": [
                                        "ObjectReference"
                                    ],
                                    "members": {
                                        "ObjectReference": {
                                            "shape": "Sf"
                                        },
                                        "FilterAttributeRanges": {
                                            "shape": "S1k"
                                        },
                                        "FilterTypedLink": {
                                            "shape": "St"
                                        },
                                        "NextToken": {},
                                        "MaxResults": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "GetLinkAttributes": {
                                    "type": "structure",
                                    "required": [
                                        "TypedLinkSpecifier",
                                        "AttributeNames"
                                    ],
                                    "members": {
                                        "TypedLinkSpecifier": {
                                            "shape": "Sy"
                                        },
                                        "AttributeNames": {
                                            "shape": "S1a"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "ConsistencyLevel": {
                        "location": "header",
                        "locationName": "x-amz-consistency-level"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Responses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SuccessfulResponse": {
                                    "type": "structure",
                                    "members": {
                                        "ListObjectAttributes": {
                                            "type": "structure",
                                            "members": {
                                                "Attributes": {
                                                    "shape": "S5"
                                                },
                                                "NextToken": {}
                                            }
                                        },
                                        "ListObjectChildren": {
                                            "type": "structure",
                                            "members": {
                                                "Children": {
                                                    "shape": "S1v"
                                                },
                                                "NextToken": {}
                                            }
                                        },
                                        "GetObjectInformation": {
                                            "type": "structure",
                                            "members": {
                                                "SchemaFacets": {
                                                    "shape": "S1x"
                                                },
                                                "ObjectIdentifier": {}
                                            }
                                        },
                                        "GetObjectAttributes": {
                                            "type": "structure",
                                            "members": {
                                                "Attributes": {
                                                    "shape": "S5"
                                                }
                                            }
                                        },
                                        "ListAttachedIndices": {
                                            "type": "structure",
                                            "members": {
                                                "IndexAttachments": {
                                                    "shape": "S20"
                                                },
                                                "NextToken": {}
                                            }
                                        },
                                        "ListObjectParentPaths": {
                                            "type": "structure",
                                            "members": {
                                                "PathToObjectIdentifiersList": {
                                                    "shape": "S23"
                                                },
                                                "NextToken": {}
                                            }
                                        },
                                        "ListObjectPolicies": {
                                            "type": "structure",
                                            "members": {
                                                "AttachedPolicyIds": {
                                                    "shape": "S26"
                                                },
                                                "NextToken": {}
                                            }
                                        },
                                        "ListPolicyAttachments": {
                                            "type": "structure",
                                            "members": {
                                                "ObjectIdentifiers": {
                                                    "shape": "S26"
                                                },
                                                "NextToken": {}
                                            }
                                        },
                                        "LookupPolicy": {
                                            "type": "structure",
                                            "members": {
                                                "PolicyToPathList": {
                                                    "shape": "S2a"
                                                },
                                                "NextToken": {}
                                            }
                                        },
                                        "ListIndex": {
                                            "type": "structure",
                                            "members": {
                                                "IndexAttachments": {
                                                    "shape": "S20"
                                                },
                                                "NextToken": {}
                                            }
                                        },
                                        "ListOutgoingTypedLinks": {
                                            "type": "structure",
                                            "members": {
                                                "TypedLinkSpecifiers": {
                                                    "shape": "S2h"
                                                },
                                                "NextToken": {}
                                            }
                                        },
                                        "ListIncomingTypedLinks": {
                                            "type": "structure",
                                            "members": {
                                                "LinkSpecifiers": {
                                                    "shape": "S2h"
                                                },
                                                "NextToken": {}
                                            }
                                        },
                                        "GetLinkAttributes": {
                                            "type": "structure",
                                            "members": {
                                                "Attributes": {
                                                    "shape": "S5"
                                                }
                                            }
                                        }
                                    }
                                },
                                "ExceptionResponse": {
                                    "type": "structure",
                                    "members": {
                                        "Type": {},
                                        "Message": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "BatchWrite": {
            "http": {
                "method": "PUT",
                "requestUri": "/amazonclouddirectory/2017-01-11/batchwrite",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryArn",
                    "Operations"
                ],
                "members": {
                    "DirectoryArn": {
                        "location": "header",
                        "locationName": "x-amz-data-partition"
                    },
                    "Operations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CreateObject": {
                                    "type": "structure",
                                    "required": [
                                        "SchemaFacet",
                                        "ObjectAttributeList"
                                    ],
                                    "members": {
                                        "SchemaFacet": {
                                            "shape": "S1x"
                                        },
                                        "ObjectAttributeList": {
                                            "shape": "S5"
                                        },
                                        "ParentReference": {
                                            "shape": "Sf"
                                        },
                                        "LinkName": {},
                                        "BatchReferenceName": {}
                                    }
                                },
                                "AttachObject": {
                                    "type": "structure",
                                    "required": [
                                        "ParentReference",
                                        "ChildReference",
                                        "LinkName"
                                    ],
                                    "members": {
                                        "ParentReference": {
                                            "shape": "Sf"
                                        },
                                        "ChildReference": {
                                            "shape": "Sf"
                                        },
                                        "LinkName": {}
                                    }
                                },
                                "DetachObject": {
                                    "type": "structure",
                                    "required": [
                                        "ParentReference",
                                        "LinkName"
                                    ],
                                    "members": {
                                        "ParentReference": {
                                            "shape": "Sf"
                                        },
                                        "LinkName": {},
                                        "BatchReferenceName": {}
                                    }
                                },
                                "UpdateObjectAttributes": {
                                    "type": "structure",
                                    "required": [
                                        "ObjectReference",
                                        "AttributeUpdates"
                                    ],
                                    "members": {
                                        "ObjectReference": {
                                            "shape": "Sf"
                                        },
                                        "AttributeUpdates": {
                                            "shape": "S2v"
                                        }
                                    }
                                },
                                "DeleteObject": {
                                    "type": "structure",
                                    "required": [
                                        "ObjectReference"
                                    ],
                                    "members": {
                                        "ObjectReference": {
                                            "shape": "Sf"
                                        }
                                    }
                                },
                                "AddFacetToObject": {
                                    "type": "structure",
                                    "required": [
                                        "SchemaFacet",
                                        "ObjectAttributeList",
                                        "ObjectReference"
                                    ],
                                    "members": {
                                        "SchemaFacet": {
                                            "shape": "S3"
                                        },
                                        "ObjectAttributeList": {
                                            "shape": "S5"
                                        },
                                        "ObjectReference": {
                                            "shape": "Sf"
                                        }
                                    }
                                },
                                "RemoveFacetFromObject": {
                                    "type": "structure",
                                    "required": [
                                        "SchemaFacet",
                                        "ObjectReference"
                                    ],
                                    "members": {
                                        "SchemaFacet": {
                                            "shape": "S3"
                                        },
                                        "ObjectReference": {
                                            "shape": "Sf"
                                        }
                                    }
                                },
                                "AttachPolicy": {
                                    "type": "structure",
                                    "required": [
                                        "PolicyReference",
                                        "ObjectReference"
                                    ],
                                    "members": {
                                        "PolicyReference": {
                                            "shape": "Sf"
                                        },
                                        "ObjectReference": {
                                            "shape": "Sf"
                                        }
                                    }
                                },
                                "DetachPolicy": {
                                    "type": "structure",
                                    "required": [
                                        "PolicyReference",
                                        "ObjectReference"
                                    ],
                                    "members": {
                                        "PolicyReference": {
                                            "shape": "Sf"
                                        },
                                        "ObjectReference": {
                                            "shape": "Sf"
                                        }
                                    }
                                },
                                "CreateIndex": {
                                    "type": "structure",
                                    "required": [
                                        "OrderedIndexedAttributeList",
                                        "IsUnique"
                                    ],
                                    "members": {
                                        "OrderedIndexedAttributeList": {
                                            "shape": "S35"
                                        },
                                        "IsUnique": {
                                            "type": "boolean"
                                        },
                                        "ParentReference": {
                                            "shape": "Sf"
                                        },
                                        "LinkName": {},
                                        "BatchReferenceName": {}
                                    }
                                },
                                "AttachToIndex": {
                                    "type": "structure",
                                    "required": [
                                        "IndexReference",
                                        "TargetReference"
                                    ],
                                    "members": {
                                        "IndexReference": {
                                            "shape": "Sf"
                                        },
                                        "TargetReference": {
                                            "shape": "Sf"
                                        }
                                    }
                                },
                                "DetachFromIndex": {
                                    "type": "structure",
                                    "required": [
                                        "IndexReference",
                                        "TargetReference"
                                    ],
                                    "members": {
                                        "IndexReference": {
                                            "shape": "Sf"
                                        },
                                        "TargetReference": {
                                            "shape": "Sf"
                                        }
                                    }
                                },
                                "AttachTypedLink": {
                                    "type": "structure",
                                    "required": [
                                        "SourceObjectReference",
                                        "TargetObjectReference",
                                        "TypedLinkFacet",
                                        "Attributes"
                                    ],
                                    "members": {
                                        "SourceObjectReference": {
                                            "shape": "Sf"
                                        },
                                        "TargetObjectReference": {
                                            "shape": "Sf"
                                        },
                                        "TypedLinkFacet": {
                                            "shape": "St"
                                        },
                                        "Attributes": {
                                            "shape": "Sv"
                                        }
                                    }
                                },
                                "DetachTypedLink": {
                                    "type": "structure",
                                    "required": [
                                        "TypedLinkSpecifier"
                                    ],
                                    "members": {
                                        "TypedLinkSpecifier": {
                                            "shape": "Sy"
                                        }
                                    }
                                },
                                "UpdateLinkAttributes": {
                                    "type": "structure",
                                    "required": [
                                        "TypedLinkSpecifier",
                                        "AttributeUpdates"
                                    ],
                                    "members": {
                                        "TypedLinkSpecifier": {
                                            "shape": "Sy"
                                        },
                                        "AttributeUpdates": {
                                            "shape": "S3c"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Responses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CreateObject": {
                                    "type": "structure",
                                    "members": {
                                        "ObjectIdentifier": {}
                                    }
                                },
                                "AttachObject": {
                                    "type": "structure",
                                    "members": {
                                        "attachedObjectIdentifier": {}
                                    }
                                },
                                "DetachObject": {
                                    "type": "structure",
                                    "members": {
                                        "detachedObjectIdentifier": {}
                                    }
                                },
                                "UpdateObjectAttributes": {
                                    "type": "structure",
                                    "members": {
                                        "ObjectIdentifier": {}
                                    }
                                },
                                "DeleteObject": {
                                    "type": "structure",
                                    "members": {}
                                },
                                "AddFacetToObject": {
                                    "type": "structure",
                                    "members": {}
                                },
                                "RemoveFacetFromObject": {
                                    "type": "structure",
                                    "members": {}
                                },
                                "AttachPolicy": {
                                    "type": "structure",
                                    "members": {}
                                },
                                "DetachPolicy": {
                                    "type": "structure",
                                    "members": {}
                                },
                                "CreateIndex": {
                                    "type": "structure",
                                    "members": {
                                        "ObjectIdentifier": {}
                                    }
                                },
                                "AttachToIndex": {
                                    "type": "structure",
                                    "members": {
                                        "AttachedObjectIdentifier": {}
                                    }
                                },
                                "DetachFromIndex": {
                                    "type": "structure",
                                    "members": {
                                        "DetachedObjectIdentifier": {}
                                    }
                                },
                                "AttachTypedLink": {
                                    "type": "structure",
                                    "members": {
                                        "TypedLinkSpecifier": {
                                            "shape": "Sy"
                                        }
                                    }
                                },
                                "DetachTypedLink": {
                                    "type": "structure",
                                    "members": {}
                                },
                                "UpdateLinkAttributes": {
                                    "type": "structure",
                                    "members": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "CreateDirectory": {
            "http": {
                "method": "PUT",
                "requestUri": "/amazonclouddirectory/2017-01-11/directory/create",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "SchemaArn"
                ],
                "members": {
                    "Name": {},
                    "SchemaArn": {
                        "location": "header",
                        "locationName": "x-amz-data-partition"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DirectoryArn",
                    "Name",
                    "ObjectIdentifier",
                    "AppliedSchemaArn"
                ],
                "members": {
                    "DirectoryArn": {},
                    "Name": {},
                    "ObjectIdentifier": {},
                    "AppliedSchemaArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "CreateFacet": {
            "http": {
                "method": "PUT",
                "requestUri": "/amazonclouddirectory/2017-01-11/facet/create",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SchemaArn",
                    "Name",
                    "ObjectType"
                ],
                "members": {
                    "SchemaArn": {
                        "location": "header",
                        "locationName": "x-amz-data-partition"
                    },
                    "Name": {},
                    "Attributes": {
                        "shape": "S42"
                    },
                    "ObjectType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "CreateIndex": {
            "http": {
                "method": "PUT",
                "requestUri": "/amazonclouddirectory/2017-01-11/index",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryArn",
                    "OrderedIndexedAttributeList",
                    "IsUnique"
                ],
                "members": {
                    "DirectoryArn": {
                        "location": "header",
                        "locationName": "x-amz-data-partition"
                    },
                    "OrderedIndexedAttributeList": {
                        "shape": "S35"
                    },
                    "IsUnique": {
                        "type": "boolean"
                    },
                    "ParentReference": {
                        "shape": "Sf"
                    },
                    "LinkName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ObjectIdentifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "CreateObject": {
            "http": {
                "method": "PUT",
                "requestUri": "/amazonclouddirectory/2017-01-11/object",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryArn",
                    "SchemaFacets"
                ],
                "members": {
                    "DirectoryArn": {
                        "location": "header",
                        "locationName": "x-amz-data-partition"
                    },
                    "SchemaFacets": {
                        "shape": "S1x"
                    },
                    "ObjectAttributeList": {
                        "shape": "S5"
                    },
                    "ParentReference": {
                        "shape": "Sf"
                    },
                    "LinkName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ObjectIdentifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "CreateSchema": {
            "http": {
                "method": "PUT",
                "requestUri": "/amazonclouddirectory/2017-01-11/schema/create",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SchemaArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "CreateTypedLinkFacet": {
            "http": {
                "method": "PUT",
                "requestUri": "/amazonclouddirectory/2017-01-11/typedlink/facet/create",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SchemaArn",
                    "Facet"
                ],
                "members": {
                    "SchemaArn": {
                        "location": "header",
                        "locationName": "x-amz-data-partition"
                    },
                    "Facet": {
                        "type": "structure",
                        "required": [
                            "Name",
                            "Attributes",
                            "IdentityAttributeOrder"
                        ],
                        "members": {
                            "Name": {},
                            "Attributes": {
                                "shape": "S4q"
                            },
                            "IdentityAttributeOrder": {
                                "shape": "S1a"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "DeleteDirectory": {
            "http": {
                "method": "PUT",
                "requestUri": "/amazonclouddirectory/2017-01-11/directory",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryArn"
                ],
                "members": {
                    "DirectoryArn": {
                        "location": "header",
                        "locationName": "x-amz-data-partition"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DirectoryArn"
                ],
                "members": {
                    "DirectoryArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
[...]
