{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-03-25",
        "endpointPrefix": "cloudfront",
        "globalEndpoint": "cloudfront.amazonaws.com",
        "protocol": "rest-xml",
        "serviceAbbreviation": "CloudFront",
        "serviceFullName": "Amazon CloudFront",
        "serviceId": "CloudFront",
        "signatureVersion": "v4",
        "uid": "cloudfront-2017-03-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
        ]
    },
    "operations": {
        "CreateCloudFrontOriginAccessIdentity": {
            "http": {
                "requestUri": "/2017-03-25/origin-access-identity/cloudfront",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "CloudFrontOriginAccessIdentityConfig"
                ],
                "members": {
                    "CloudFrontOriginAccessIdentityConfig": {
                        "shape": "S2",
                        "locationName": "CloudFrontOriginAccessIdentityConfig",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2017-03-25/"
                        }
                    }
                },
                "payload": "CloudFrontOriginAccessIdentityConfig"
            },
            "output": {
                "type": "structure",
                "members": {
                    "CloudFrontOriginAccessIdentity": {
                        "shape": "S5"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "CloudFrontOriginAccessIdentity"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateDistribution": {
            "http": {
                "requestUri": "/2017-03-25/distribution",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "DistributionConfig"
                ],
                "members": {
                    "DistributionConfig": {
                        "shape": "S7",
                        "locationName": "DistributionConfig",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2017-03-25/"
                        }
                    }
                },
                "payload": "DistributionConfig"
            },
            "output": {
                "type": "structure",
                "members": {
                    "Distribution": {
                        "shape": "S1s"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "Distribution"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateDistributionWithTags": {
            "http": {
                "requestUri": "/2017-03-25/distribution?WithTags",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "DistributionConfigWithTags"
                ],
                "members": {
                    "DistributionConfigWithTags": {
                        "locationName": "DistributionConfigWithTags",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2017-03-25/"
                        },
                        "type": "structure",
                        "required": [
                            "DistributionConfig",
                            "Tags"
                        ],
                        "members": {
                            "DistributionConfig": {
                                "shape": "S7"
                            },
                            "Tags": {
                                "shape": "S21"
                            }
                        }
                    }
                },
                "payload": "DistributionConfigWithTags"
            },
            "output": {
                "type": "structure",
                "members": {
                    "Distribution": {
                        "shape": "S1s"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "Distribution"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateInvalidation": {
            "http": {
                "requestUri": "/2017-03-25/distribution/{DistributionId}/invalidation",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "DistributionId",
                    "InvalidationBatch"
                ],
                "members": {
                    "DistributionId": {
                        "location": "uri",
                        "locationName": "DistributionId"
                    },
                    "InvalidationBatch": {
                        "shape": "S28",
                        "locationName": "InvalidationBatch",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2017-03-25/"
                        }
                    }
                },
                "payload": "InvalidationBatch"
            },
            "output": {
                "type": "structure",
                "members": {
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "Invalidation": {
                        "shape": "S2c"
                    }
                },
                "payload": "Invalidation"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateStreamingDistribution": {
            "http": {
                "requestUri": "/2017-03-25/streaming-distribution",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "StreamingDistributionConfig"
                ],
                "members": {
                    "StreamingDistributionConfig": {
                        "shape": "S2e",
                        "locationName": "StreamingDistributionConfig",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2017-03-25/"
                        }
                    }
                },
                "payload": "StreamingDistributionConfig"
            },
            "output": {
                "type": "structure",
                "members": {
                    "StreamingDistribution": {
                        "shape": "S2i"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "StreamingDistribution"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateStreamingDistributionWithTags": {
            "http": {
                "requestUri": "/2017-03-25/streaming-distribution?WithTags",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "StreamingDistributionConfigWithTags"
                ],
                "members": {
                    "StreamingDistributionConfigWithTags": {
                        "locationName": "StreamingDistributionConfigWithTags",
                        "xmlNamespace": {
                            "uri": "http://cloudfront.amazonaws.com/doc/2017-03-25/"
                        },
                        "type": "structure",
                        "required": [
                            "StreamingDistributionConfig",
                            "Tags"
                        ],
                        "members": {
                            "StreamingDistributionConfig": {
                                "shape": "S2e"
                            },
                            "Tags": {
                                "shape": "S21"
                            }
                        }
                    }
                },
                "payload": "StreamingDistributionConfigWithTags"
            },
            "output": {
                "type": "structure",
                "members": {
                    "StreamingDistribution": {
                        "shape": "S2i"
                    },
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "StreamingDistribution"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteCloudFrontOriginAccessIdentity": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2017-03-25/origin-access-identity/cloudfront/{Id}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    },
                    "IfMatch": {
                        "location": "header",
                        "locationName": "If-Match"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteDistribution": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2017-03-25/distribution/{Id}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    },
                    "IfMatch": {
                        "location": "header",
                        "locationName": "If-Match"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteServiceLinkedRole": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2017-03-25/service-linked-role/{RoleName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleName"
                ],
                "members": {
                    "RoleName": {
                        "location": "uri",
                        "locationName": "RoleName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteStreamingDistribution": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2017-03-25/streaming-distribution/{Id}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    },
                    "IfMatch": {
                        "location": "header",
                        "locationName": "If-Match"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "GetCloudFrontOriginAccessIdentity": {
            "http": {
                "method": "GET",
                "requestUri": "/2017-03-25/origin-access-identity/cloudfront/{Id}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CloudFrontOriginAccessIdentity": {
                        "shape": "S5"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "CloudFrontOriginAccessIdentity"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "GetCloudFrontOriginAccessIdentityConfig": {
            "http": {
                "method": "GET",
                "requestUri": "/2017-03-25/origin-access-identity/cloudfront/{Id}/config"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CloudFrontOriginAccessIdentityConfig": {
                        "shape": "S2"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "CloudFrontOriginAccessIdentityConfig"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "GetDistribution": {
            "http": {
                "method": "GET",
                "requestUri": "/2017-03-25/distribution/{Id}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Distribution": {
                        "shape": "S1s"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "Distribution"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "GetDistributionConfig": {
            "http": {
                "method": "GET",
                "requestUri": "/2017-03-25/distribution/{Id}/config"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DistributionConfig": {
                        "shape": "S7"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "DistributionConfig"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "GetInvalidation": {
            "http": {
                "method": "GET",
                "requestUri": "/2017-03-25/distribution/{DistributionId}/invalidation/{Id}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DistributionId",
                    "Id"
                ],
                "members": {
                    "DistributionId": {
                        "location": "uri",
                        "locationName": "DistributionId"
                    },
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Invalidation": {
                        "shape": "S2c"
                    }
                },
                "payload": "Invalidation"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "GetStreamingDistribution": {
            "http": {
                "method": "GET",
                "requestUri": "/2017-03-25/streaming-distribution/{Id}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StreamingDistribution": {
                        "shape": "S2i"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "StreamingDistribution"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "GetStreamingDistributionConfig": {
            "http": {
                "method": "GET",
                "requestUri": "/2017-03-25/streaming-distribution/{Id}/config"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StreamingDistributionConfig": {
                        "shape": "S2e"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    }
                },
                "payload": "StreamingDistributionConfig"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "ListCloudFrontOriginAccessIdentities": {
            "http": {
                "method": "GET",
                "requestUri": "/2017-03-25/origin-access-identity/cloudfront"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Marker": {
                        "location": "querystring",
                        "locationName": "Marker"
                    },
                    "MaxItems": {
                        "location": "querystring",
                        "locationName": "MaxItems"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CloudFrontOriginAccessIdentityList": {
                        "type": "structure",
                        "required": [
                            "Marker",
                            "MaxItems",
                            "IsTruncated",
                            "Quantity"
                        ],
                        "members": {
                            "Marker": {},
                            "NextMarker": {},
                            "MaxItems": {
                                "type": "integer"
                            },
                            "IsTruncated": {
                                "type": "boolean"
                            },
                            "Quantity": {
                                "type": "integer"
                            },
                            "Items": {
                                "type": "list",
                                "member": {
                                    "locationName": "CloudFrontOriginAccessIdentitySummary",
                                    "type": "structure",
                                    "required": [
                                        "Id",
                                        "S3CanonicalUserId",
                                        "Comment"
                                    ],
                                    "members": {
                                        "Id": {},
                                        "S3CanonicalUserId": {},
                                        "Comment": {}
                                    }
                                }
                            }
                        }
                    }
                },
                "payload": "CloudFrontOriginAccessIdentityList"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "ListDistributions": {
            "http": {
                "method": "GET",
                "requestUri": "/2017-03-25/distribution"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Marker": {
                        "location": "querystring",
                        "locationName": "Marker"
                    },
                    "MaxItems": {
                        "location": "querystring",
                        "locationName": "MaxItems"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DistributionList": {
                        "shape": "S3b"
                    }
                },
                "payload": "DistributionList"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "ListDistributionsByWebACLId": {
            "http": {
                "method": "GET",
                "requestUri": "/2017-03-25/distributionsByWebACLId/{WebACLId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "WebACLId"
                ],
                "members": {
                    "Marker": {
                        "location": "querystring",
                        "locationName": "Marker"
                    },
                    "MaxItems": {
                        "location": "querystring",
                        "locationName": "MaxItems"
                    },
                    "WebACLId": {
                        "location": "uri",
                        "locationName": "WebACLId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DistributionList": {
                        "shape": "S3b"
                    }
                },
                "payload": "DistributionList"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "ListInvalidations": {
            "http": {
                "method": "GET",
                "requestUri": "/2017-03-25/distribution/{DistributionId}/invalidation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DistributionId"
                ],
                "members": {
                    "DistributionId": {
                        "location": "uri",
                        "locationName": "DistributionId"
                    },
                    "Marker": {
                        "location": "querystring",
                        "locationName": "Marker"
                    },
                    "MaxItems": {
                        "location": "querystring",
                        "locationName": "MaxItems"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InvalidationList": {
                        "type": "structure",
                        "required": [
                            "Marker",
                            "MaxItems",
                            "IsTruncated",
                            "Quantity"
                        ],
                        "members": {
                            "Marker": {},
                            "NextMarker": {},
                            "MaxItems": {
                                "type": "integer"
                            },
                            "IsTruncated": {
                                "type": "boolean"
                            },
                            "Quantity": {
                                "type": "integer"
                            },
                            "Items": {
                                "type": "list",
                                "member": {
                                    "locationName": "InvalidationSummary",
                                    "type": "structure",
                                    "required": [
                                        "Id",
                                        "CreateTime",
                                        "Status"
                                    ],
                                    "members": {
                                        "Id": {},
                                        "CreateTime": {
                                            "type": "timestamp"
                                        },
                                        "Status": {}
                                    }
                                }
                            }
                        }
                    }
                },
                "payload": "InvalidationList"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "ListStreamingDistributions": {
            "http": {
                "method": "GET",
                "requestUri": "/2017-03-25/streaming-distribution"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Marker": {
                        "location": "querystring",
                        "locationName": "Marker"
                    },
                    "MaxItems": {
                        "location": "querystring",
                        "locationName": "MaxItems"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StreamingDistributionList": {
                        "type": "structure",
                        "required": [
                            "Marker",
                            "MaxItems",
                            "IsTruncated",
                            "Quantity"
                        ],
                        "members": {
                            "Marker": {},
                            "NextMarker": {},
                            "MaxItems": {
                                "type": "integer"
                            },
                            "IsTruncated": {
                                "type": "boolean"
                            },
                            "Quantity": {
                                "type": "integer"
                            },
                            "Items": {
                                "type": "list",
                                "member": {
                                    "locationName": "StreamingDistributionSummary",
                                    "type": "structure",
                                    "required": [
                                        "Id",
                                        "ARN",
                                        "Status",
                                        "LastModifiedTime",
                                        "DomainName",
                                        "S3Origin",
                                        "Aliases",
                                        "TrustedSigners",
                                        "Comment",
                                        "PriceClass",
                                        "Enabled"
                                    ],
                                    "members": {
                                        "Id": {},
                                        "ARN": {},
                                        "Status": {},
                                        "LastModifiedTime": {
                                            "type": "timestamp"
                                        },
[...]
