{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-09-23",
        "endpointPrefix": "cloud9",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Cloud9",
        "serviceId": "Cloud9",
        "signatureVersion": "v4",
        "targetPrefix": "AWSCloud9WorkspaceManagementService",
        "uid": "cloud9-2017-09-23",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZFASDAEHQD52Y2QOGG4E3ABOCHMPDPAL7EECEKYHG7PMAX5AYY5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateEnvironmentEC2": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "instanceType"
                ],
                "members": {
                    "name": {},
                    "description": {
                        "shape": "S3"
                    },
                    "clientRequestToken": {},
                    "instanceType": {},
                    "subnetId": {},
                    "imageId": {},
                    "automaticStopTimeMinutes": {
                        "type": "integer"
                    },
                    "ownerArn": {},
                    "tags": {
                        "shape": "Sa"
                    },
                    "connectionType": {},
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environmentId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFASDAEHQD52Y2QOGG4E3ABOCHMPDPAL7EECEKYHG7PMAX5AYY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateEnvironmentMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "userArn",
                    "permissions"
                ],
                "members": {
                    "environmentId": {},
                    "userArn": {},
                    "permissions": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "membership"
                ],
                "members": {
                    "membership": {
                        "shape": "Sl"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFASDAEHQD52Y2QOGG4E3ABOCHMPDPAL7EECEKYHG7PMAX5AYY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteEnvironment": {
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFASDAEHQD52Y2QOGG4E3ABOCHMPDPAL7EECEKYHG7PMAX5AYY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteEnvironmentMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "userArn"
                ],
                "members": {
                    "environmentId": {},
                    "userArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFASDAEHQD52Y2QOGG4E3ABOCHMPDPAL7EECEKYHG7PMAX5AYY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeEnvironmentMemberships": {
            "input": {
                "type": "structure",
                "members": {
                    "userArn": {},
                    "environmentId": {},
                    "permissions": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "memberships": {
                        "type": "list",
                        "member": {
                            "shape": "Sl"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFASDAEHQD52Y2QOGG4E3ABOCHMPDPAL7EECEKYHG7PMAX5AYY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeEnvironmentStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status",
                    "message"
                ],
                "members": {
                    "status": {},
                    "message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFASDAEHQD52Y2QOGG4E3ABOCHMPDPAL7EECEKYHG7PMAX5AYY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeEnvironments": {
            "input": {
                "type": "structure",
                "required": [
                    "environmentIds"
                ],
                "members": {
                    "environmentIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "type",
                                "arn",
                                "ownerArn"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "description": {
                                    "shape": "S3"
                                },
                                "type": {},
                                "connectionType": {},
                                "arn": {},
                                "ownerArn": {},
                                "lifecycle": {
                                    "type": "structure",
                                    "members": {
                                        "status": {},
                                        "reason": {},
                                        "failureResource": {}
                                    }
                                },
                                "managedCredentialsStatus": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFASDAEHQD52Y2QOGG4E3ABOCHMPDPAL7EECEKYHG7PMAX5AYY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListEnvironments": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "environmentIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFASDAEHQD52Y2QOGG4E3ABOCHMPDPAL7EECEKYHG7PMAX5AYY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFASDAEHQD52Y2QOGG4E3ABOCHMPDPAL7EECEKYHG7PMAX5AYY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "Sa"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFASDAEHQD52Y2QOGG4E3ABOCHMPDPAL7EECEKYHG7PMAX5AYY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {
                            "shape": "Sc"
                        },
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFASDAEHQD52Y2QOGG4E3ABOCHMPDPAL7EECEKYHG7PMAX5AYY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateEnvironment": {
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {},
                    "name": {},
                    "description": {
                        "shape": "S3"
                    },
                    "managedCredentialsAction": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFASDAEHQD52Y2QOGG4E3ABOCHMPDPAL7EECEKYHG7PMAX5AYY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateEnvironmentMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "userArn",
                    "permissions"
                ],
                "members": {
                    "environmentId": {},
                    "userArn": {},
                    "permissions": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "membership": {
                        "shape": "Sl"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFASDAEHQD52Y2QOGG4E3ABOCHMPDPAL7EECEKYHG7PMAX5AYY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ActivateEC2Remote": {
            "name": "ActivateEC2Remote",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "ActivateEC2RemoteRequest"
            },
            "output": {
                "shape": "ActivateEC2RemoteResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXRMA7V53HJMFLBTVUAL5LXU5NQ7PFZOOKFLJVYB25CB5DRKVDQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM74AFMOFCW5EY3ZIC6WTNLO6VHH7TGY6AWNK2LHCEAGQCJSO45Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ53P2YCDE2OKD2WXUCKSTGREO4EHGUEV7FYFCERTNY72DG6LWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFV6I54QD3NEFYMOTPNAYYIORDYHOEXPYU5EZEGDKSNT2IHN6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIEEAEM4DLHKZOVSNGECQ5W2ACBRRO3PDL4BR5BLM7HVUTBSBKKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVAN2IUGH42STCLQZ3QF3PQTNQDEN435DWVVPLXQY6UAXBPRNRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHJRXCD4U7PURZAVDGVXPEAYWJMGUR5OJBZPNVB45F2LR57GRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHXEBJRLKOPYIZL5QU5EAFIR4QGWW3A37GHQPL2D6RW3CRCQWXRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIX6Q2S6QXQS2ZHPRTY6CSKGJJ3N5JCP2STSREUAQPH2RDXRGWVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX226ZDJGS56LWAQVP4S2QRNP3QOGPGL5RJQGHOMVPSVJ7UG77FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D27FPNSFNPM6BDFC4JW6JDUCPUH4A7EGHNGVJIM7QBYCHXGM7ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HQAECZJCDMJFYRC4T47VCSUBM4USHK3KX4CF5QBDMHP5FWUPL2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26S4LEFCBBJVZMPWIB4PCFVICGOU33N7KDQAUFASVCTB4LFG2YBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNQAPC4PFO464DVT23A24LQMMFA6UQ7JSLTVCGTYSNO4INODDCYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQNSRV3EEFDSUMVVHMXLFEFNVMYL5HQJ3RYBTNCQFQSJSD4NRXUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVNL2ZGJUXPQGUJ62T7V5YMISTC2SYS7S6ACOIO6S3OSTS3LJGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LXC7PXGMDBD3KBFMG4C33ZQVVROFBSPZBLD2BMTPWQZUYD65CUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VPEG7HXQU5A52RBLQ5QJ3M6UA6R3GX4NQYAYKZS6TQS7WAKQ7GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRSBPVHCSNESFLLJWF6OG476C3KF532ACRISN6CIAOEF25BJ6E2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VWN5NMH74MRP6YW2CA7ZJPM7YPGR6XV7XP7CNBF2DY2Z557JAYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YHE5SWEIU3EZA2AP5LXQIJ45APFSSSQIOK4XEA2QUNLBTDW4IVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSYOQI2EA3YQJVOMOIM5PYN7AEHN7R2EW22HU3FGQ4SOE6TQQX5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFASDAEHQD52Y2QOGG4E3ABOCHMPDPAL7EECEKYHG7PMAX5AYY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js"
            ]
        },
        "CreateEnvironment": {
            "name": "CreateEnvironment",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateEnvironmentRequest"
            },
            "output": {
                "shape": "CreateEnvironmentResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCWDAJ57HTCGWP5NBUHU3HX4CPBL4KHPOHGYQNOFTIDBH4G4QDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WSWH6XC5ABN76LXRGKTWBJFALOAX72BWD2VQRNAK77CMLXVFQAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7ED55U2B337GUX2UP5GCBCRUR2SSPIDNFZ6ZBVEMRASCWN2LUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GP2WJHB72KIV4EGXYSQMP5EXIBKIQGDX3GRYJCV4FWV7MAJU6YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66U3DHSKUYYP57E5LYGBD7GY56ODVINDI2PDSGOUJ3N6X6CDN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGLLGF2BCW73AMKA7GNOSBTJHG7YGEAVNGW33567LK5RJELNF4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRKNTISZKK76B22QXQT3L5WRZHJOO7IGGRFHJC2OIKSQQLCMCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4EURRLESH4CJQ3K7MQ2A3R7XGEGJQ5ST65SNL7PUMB4LIDAE5YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHCJLHFM2AZOE5HNVL6K6X5BB6MONKZFWGQ6H624NVQVKKDNR3IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYHPNTARKD2CJFSSPPSBGCAHXQBNUH37CY6N67A47O7ZWA64SAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHH77BOYMGI27BI6RQ7Y73LVFLKHNTHCQ5XABQHPOE333MWS5FJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7GOHJBUNKCQRGLMB5YUVOX3UNCFVXR3PGOUKHNIPB55AVFM7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAH7GA5KI267YBJKZBGC5MR6775RBEMWHBOVN72XFOPBDNVY7VVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIAIDQ5TYHBQXXQPLKY6YXR4QWT5FXJDM2GA75XQ74EMUYEYQODA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPOMMNBL7OWXGU4K3SZVCYKDJRBCWBWLUBWXMV32ZRDAGIYSDX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKNPH3WDFBXBDWW4H52KASCCMJSZ4S5MDJOZB2QDDJDK5P7Z36SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HAARLMLTW3P5JXE6JIUAFQRPZLLSX4GNSMLOVB3VWOWAP56D2EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCZSBRRRMQWCYJDITD37ATVGVL5KIQ66NHV7ZB6GJ67RQDUYP6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXVTPTDI6QL2QVBHZS54CWD63KM2CN6AV2IT3T3OFBDZ37YCT3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWULBWVUZ6DPL6B2IUM7CEDA5FRJ44PN6JKINSNZZHZHEOWMQZ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZUMV63RJLWIYD4U47PZUCWGBQUO4LXJTGIAJVCQLO4MQ5DWUAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CP7YXHUEFVYAH3KMIXDVVPW5A7QOPPSTQCYZJ2KPMNGM6246SCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVLJNZPV5WJDCU6IMRGR52GHHZDYIQ3WZOGYJVIY7DF5UJYFKKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWGCEL25N2VD4SZGM3DMFSNR2TNDALCPW5BVW2NINQRM366BPNZQ/main.js"
            ]
        },
        "CreateEnvironmentHost": {
            "name": "CreateEnvironmentHost",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateEnvironmentHostRequest"
            },
            "output": {
                "shape": "CreateEnvironmentHostResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCWDAJ57HTCGWP5NBUHU3HX4CPBL4KHPOHGYQNOFTIDBH4G4QDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WSWH6XC5ABN76LXRGKTWBJFALOAX72BWD2VQRNAK77CMLXVFQAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7ED55U2B337GUX2UP5GCBCRUR2SSPIDNFZ6ZBVEMRASCWN2LUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GP2WJHB72KIV4EGXYSQMP5EXIBKIQGDX3GRYJCV4FWV7MAJU6YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66U3DHSKUYYP57E5LYGBD7GY56ODVINDI2PDSGOUJ3N6X6CDN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGLLGF2BCW73AMKA7GNOSBTJHG7YGEAVNGW33567LK5RJELNF4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRKNTISZKK76B22QXQT3L5WRZHJOO7IGGRFHJC2OIKSQQLCMCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4EURRLESH4CJQ3K7MQ2A3R7XGEGJQ5ST65SNL7PUMB4LIDAE5YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHCJLHFM2AZOE5HNVL6K6X5BB6MONKZFWGQ6H624NVQVKKDNR3IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYHPNTARKD2CJFSSPPSBGCAHXQBNUH37CY6N67A47O7ZWA64SAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHH77BOYMGI27BI6RQ7Y73LVFLKHNTHCQ5XABQHPOE333MWS5FJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7GOHJBUNKCQRGLMB5YUVOX3UNCFVXR3PGOUKHNIPB55AVFM7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAH7GA5KI267YBJKZBGC5MR6775RBEMWHBOVN72XFOPBDNVY7VVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIAIDQ5TYHBQXXQPLKY6YXR4QWT5FXJDM2GA75XQ74EMUYEYQODA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPOMMNBL7OWXGU4K3SZVCYKDJRBCWBWLUBWXMV32ZRDAGIYSDX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKNPH3WDFBXBDWW4H52KASCCMJSZ4S5MDJOZB2QDDJDK5P7Z36SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HAARLMLTW3P5JXE6JIUAFQRPZLLSX4GNSMLOVB3VWOWAP56D2EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCZSBRRRMQWCYJDITD37ATVGVL5KIQ66NHV7ZB6GJ67RQDUYP6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXVTPTDI6QL2QVBHZS54CWD63KM2CN6AV2IT3T3OFBDZ37YCT3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWULBWVUZ6DPL6B2IUM7CEDA5FRJ44PN6JKINSNZZHZHEOWMQZ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZUMV63RJLWIYD4U47PZUCWGBQUO4LXJTGIAJVCQLO4MQ5DWUAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CP7YXHUEFVYAH3KMIXDVVPW5A7QOPPSTQCYZJ2KPMNGM6246SCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVLJNZPV5WJDCU6IMRGR52GHHZDYIQ3WZOGYJVIY7DF5UJYFKKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWGCEL25N2VD4SZGM3DMFSNR2TNDALCPW5BVW2NINQRM366BPNZQ/main.js"
            ]
        },
        "CreateEnvironmentSSH": {
            "name": "CreateEnvironmentSSH",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateEnvironmentSSHRequest"
            },
            "output": {
                "shape": "CreateEnvironmentSSHResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXRMA7V53HJMFLBTVUAL5LXU5NQ7PFZOOKFLJVYB25CB5DRKVDQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM74AFMOFCW5EY3ZIC6WTNLO6VHH7TGY6AWNK2LHCEAGQCJSO45Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ53P2YCDE2OKD2WXUCKSTGREO4EHGUEV7FYFCERTNY72DG6LWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFV6I54QD3NEFYMOTPNAYYIORDYHOEXPYU5EZEGDKSNT2IHN6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIEEAEM4DLHKZOVSNGECQ5W2ACBRRO3PDL4BR5BLM7HVUTBSBKKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVAN2IUGH42STCLQZ3QF3PQTNQDEN435DWVVPLXQY6UAXBPRNRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHJRXCD4U7PURZAVDGVXPEAYWJMGUR5OJBZPNVB45F2LR57GRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHXEBJRLKOPYIZL5QU5EAFIR4QGWW3A37GHQPL2D6RW3CRCQWXRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIX6Q2S6QXQS2ZHPRTY6CSKGJJ3N5JCP2STSREUAQPH2RDXRGWVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX226ZDJGS56LWAQVP4S2QRNP3QOGPGL5RJQGHOMVPSVJ7UG77FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D27FPNSFNPM6BDFC4JW6JDUCPUH4A7EGHNGVJIM7QBYCHXGM7ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HQAECZJCDMJFYRC4T47VCSUBM4USHK3KX4CF5QBDMHP5FWUPL2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26S4LEFCBBJVZMPWIB4PCFVICGOU33N7KDQAUFASVCTB4LFG2YBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNQAPC4PFO464DVT23A24LQMMFA6UQ7JSLTVCGTYSNO4INODDCYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQNSRV3EEFDSUMVVHMXLFEFNVMYL5HQJ3RYBTNCQFQSJSD4NRXUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVNL2ZGJUXPQGUJ62T7V5YMISTC2SYS7S6ACOIO6S3OSTS3LJGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LXC7PXGMDBD3KBFMG4C33ZQVVROFBSPZBLD2BMTPWQZUYD65CUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VPEG7HXQU5A52RBLQ5QJ3M6UA6R3GX4NQYAYKZS6TQS7WAKQ7GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRSBPVHCSNESFLLJWF6OG476C3KF532ACRISN6CIAOEF25BJ6E2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VWN5NMH74MRP6YW2CA7ZJPM7YPGR6XV7XP7CNBF2DY2Z557JAYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YHE5SWEIU3EZA2AP5LXQIJ45APFSSSQIOK4XEA2QUNLBTDW4IVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSYOQI2EA3YQJVOMOIM5PYN7AEHN7R2EW22HU3FGQ4SOE6TQQX5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFASDAEHQD52Y2QOGG4E3ABOCHMPDPAL7EECEKYHG7PMAX5AYY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js"
            ]
        },
        "CreateEnvironmentSSM": {
            "name": "CreateEnvironmentSSM",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateEnvironmentSSMRequest"
            },
            "output": {
                "shape": "CreateEnvironmentSSMResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKCHAZUMX4K34NOILCVMKG7GUMK27WRKH2LCKFP67D5PCFSTEUQ/main.js"
            ]
        },
        "CreateEnvironmentToken": {
            "name": "CreateEnvironmentToken",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateEnvironmentTokenRequest"
            },
            "output": {
                "shape": "CreateEnvironmentTokenResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXRMA7V53HJMFLBTVUAL5LXU5NQ7PFZOOKFLJVYB25CB5DRKVDQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM74AFMOFCW5EY3ZIC6WTNLO6VHH7TGY6AWNK2LHCEAGQCJSO45Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ53P2YCDE2OKD2WXUCKSTGREO4EHGUEV7FYFCERTNY72DG6LWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFV6I54QD3NEFYMOTPNAYYIORDYHOEXPYU5EZEGDKSNT2IHN6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIEEAEM4DLHKZOVSNGECQ5W2ACBRRO3PDL4BR5BLM7HVUTBSBKKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVAN2IUGH42STCLQZ3QF3PQTNQDEN435DWVVPLXQY6UAXBPRNRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHJRXCD4U7PURZAVDGVXPEAYWJMGUR5OJBZPNVB45F2LR57GRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHXEBJRLKOPYIZL5QU5EAFIR4QGWW3A37GHQPL2D6RW3CRCQWXRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIX6Q2S6QXQS2ZHPRTY6CSKGJJ3N5JCP2STSREUAQPH2RDXRGWVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX226ZDJGS56LWAQVP4S2QRNP3QOGPGL5RJQGHOMVPSVJ7UG77FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D27FPNSFNPM6BDFC4JW6JDUCPUH4A7EGHNGVJIM7QBYCHXGM7ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HQAECZJCDMJFYRC4T47VCSUBM4USHK3KX4CF5QBDMHP5FWUPL2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26S4LEFCBBJVZMPWIB4PCFVICGOU33N7KDQAUFASVCTB4LFG2YBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNQAPC4PFO464DVT23A24LQMMFA6UQ7JSLTVCGTYSNO4INODDCYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQNSRV3EEFDSUMVVHMXLFEFNVMYL5HQJ3RYBTNCQFQSJSD4NRXUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVNL2ZGJUXPQGUJ62T7V5YMISTC2SYS7S6ACOIO6S3OSTS3LJGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LXC7PXGMDBD3KBFMG4C33ZQVVROFBSPZBLD2BMTPWQZUYD65CUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VPEG7HXQU5A52RBLQ5QJ3M6UA6R3GX4NQYAYKZS6TQS7WAKQ7GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRSBPVHCSNESFLLJWF6OG476C3KF532ACRISN6CIAOEF25BJ6E2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VWN5NMH74MRP6YW2CA7ZJPM7YPGR6XV7XP7CNBF2DY2Z557JAYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YHE5SWEIU3EZA2AP5LXQIJ45APFSSSQIOK4XEA2QUNLBTDW4IVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSYOQI2EA3YQJVOMOIM5PYN7AEHN7R2EW22HU3FGQ4SOE6TQQX5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFASDAEHQD52Y2QOGG4E3ABOCHMPDPAL7EECEKYHG7PMAX5AYY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js"
            ]
        },
        "DeleteEnvironmentHost": {
            "name": "DeleteEnvironmentHost",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "DeleteEnvironmentHostRequest"
            },
            "output": {
                "shape": "DeleteEnvironmentHostResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCWDAJ57HTCGWP5NBUHU3HX4CPBL4KHPOHGYQNOFTIDBH4G4QDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WSWH6XC5ABN76LXRGKTWBJFALOAX72BWD2VQRNAK77CMLXVFQAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7ED55U2B337GUX2UP5GCBCRUR2SSPIDNFZ6ZBVEMRASCWN2LUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GP2WJHB72KIV4EGXYSQMP5EXIBKIQGDX3GRYJCV4FWV7MAJU6YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66U3DHSKUYYP57E5LYGBD7GY56ODVINDI2PDSGOUJ3N6X6CDN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGLLGF2BCW73AMKA7GNOSBTJHG7YGEAVNGW33567LK5RJELNF4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRKNTISZKK76B22QXQT3L5WRZHJOO7IGGRFHJC2OIKSQQLCMCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4EURRLESH4CJQ3K7MQ2A3R7XGEGJQ5ST65SNL7PUMB4LIDAE5YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHCJLHFM2AZOE5HNVL6K6X5BB6MONKZFWGQ6H624NVQVKKDNR3IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYHPNTARKD2CJFSSPPSBGCAHXQBNUH37CY6N67A47O7ZWA64SAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHH77BOYMGI27BI6RQ7Y73LVFLKHNTHCQ5XABQHPOE333MWS5FJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7GOHJBUNKCQRGLMB5YUVOX3UNCFVXR3PGOUKHNIPB55AVFM7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAH7GA5KI267YBJKZBGC5MR6775RBEMWHBOVN72XFOPBDNVY7VVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIAIDQ5TYHBQXXQPLKY6YXR4QWT5FXJDM2GA75XQ74EMUYEYQODA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPOMMNBL7OWXGU4K3SZVCYKDJRBCWBWLUBWXMV32ZRDAGIYSDX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKNPH3WDFBXBDWW4H52KASCCMJSZ4S5MDJOZB2QDDJDK5P7Z36SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HAARLMLTW3P5JXE6JIUAFQRPZLLSX4GNSMLOVB3VWOWAP56D2EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCZSBRRRMQWCYJDITD37ATVGVL5KIQ66NHV7ZB6GJ67RQDUYP6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXVTPTDI6QL2QVBHZS54CWD63KM2CN6AV2IT3T3OFBDZ37YCT3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWULBWVUZ6DPL6B2IUM7CEDA5FRJ44PN6JKINSNZZHZHEOWMQZ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZUMV63RJLWIYD4U47PZUCWGBQUO4LXJTGIAJVCQLO4MQ5DWUAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CP7YXHUEFVYAH3KMIXDVVPW5A7QOPPSTQCYZJ2KPMNGM6246SCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVLJNZPV5WJDCU6IMRGR52GHHZDYIQ3WZOGYJVIY7DF5UJYFKKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWGCEL25N2VD4SZGM3DMFSNR2TNDALCPW5BVW2NINQRM366BPNZQ/main.js"
            ]
        },
        "DescribeEC2Remote": {
            "name": "DescribeEC2Remote",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "DescribeEC2RemoteRequest"
            },
            "output": {
                "shape": "DescribeEC2RemoteResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXRMA7V53HJMFLBTVUAL5LXU5NQ7PFZOOKFLJVYB25CB5DRKVDQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM74AFMOFCW5EY3ZIC6WTNLO6VHH7TGY6AWNK2LHCEAGQCJSO45Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ53P2YCDE2OKD2WXUCKSTGREO4EHGUEV7FYFCERTNY72DG6LWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFV6I54QD3NEFYMOTPNAYYIORDYHOEXPYU5EZEGDKSNT2IHN6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIEEAEM4DLHKZOVSNGECQ5W2ACBRRO3PDL4BR5BLM7HVUTBSBKKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVAN2IUGH42STCLQZ3QF3PQTNQDEN435DWVVPLXQY6UAXBPRNRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHJRXCD4U7PURZAVDGVXPEAYWJMGUR5OJBZPNVB45F2LR57GRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHXEBJRLKOPYIZL5QU5EAFIR4QGWW3A37GHQPL2D6RW3CRCQWXRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIX6Q2S6QXQS2ZHPRTY6CSKGJJ3N5JCP2STSREUAQPH2RDXRGWVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX226ZDJGS56LWAQVP4S2QRNP3QOGPGL5RJQGHOMVPSVJ7UG77FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D27FPNSFNPM6BDFC4JW6JDUCPUH4A7EGHNGVJIM7QBYCHXGM7ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HQAECZJCDMJFYRC4T47VCSUBM4USHK3KX4CF5QBDMHP5FWUPL2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26S4LEFCBBJVZMPWIB4PCFVICGOU33N7KDQAUFASVCTB4LFG2YBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNQAPC4PFO464DVT23A24LQMMFA6UQ7JSLTVCGTYSNO4INODDCYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQNSRV3EEFDSUMVVHMXLFEFNVMYL5HQJ3RYBTNCQFQSJSD4NRXUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVNL2ZGJUXPQGUJ62T7V5YMISTC2SYS7S6ACOIO6S3OSTS3LJGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LXC7PXGMDBD3KBFMG4C33ZQVVROFBSPZBLD2BMTPWQZUYD65CUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VPEG7HXQU5A52RBLQ5QJ3M6UA6R3GX4NQYAYKZS6TQS7WAKQ7GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRSBPVHCSNESFLLJWF6OG476C3KF532ACRISN6CIAOEF25BJ6E2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VWN5NMH74MRP6YW2CA7ZJPM7YPGR6XV7XP7CNBF2DY2Z557JAYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YHE5SWEIU3EZA2AP5LXQIJ45APFSSSQIOK4XEA2QUNLBTDW4IVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSYOQI2EA3YQJVOMOIM5PYN7AEHN7R2EW22HU3FGQ4SOE6TQQX5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFASDAEHQD52Y2QOGG4E3ABOCHMPDPAL7EECEKYHG7PMAX5AYY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js"
            ]
        },
        "DescribeEnvironmentHosts": {
            "name": "DescribeEnvironmentHosts",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "DescribeEnvironmentHostsRequest"
            },
            "output": {
                "shape": "DescribeEnvironmentHostsResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCWDAJ57HTCGWP5NBUHU3HX4CPBL4KHPOHGYQNOFTIDBH4G4QDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WSWH6XC5ABN76LXRGKTWBJFALOAX72BWD2VQRNAK77CMLXVFQAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7ED55U2B337GUX2UP5GCBCRUR2SSPIDNFZ6ZBVEMRASCWN2LUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GP2WJHB72KIV4EGXYSQMP5EXIBKIQGDX3GRYJCV4FWV7MAJU6YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66U3DHSKUYYP57E5LYGBD7GY56ODVINDI2PDSGOUJ3N6X6CDN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGLLGF2BCW73AMKA7GNOSBTJHG7YGEAVNGW33567LK5RJELNF4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRKNTISZKK76B22QXQT3L5WRZHJOO7IGGRFHJC2OIKSQQLCMCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4EURRLESH4CJQ3K7MQ2A3R7XGEGJQ5ST65SNL7PUMB4LIDAE5YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHCJLHFM2AZOE5HNVL6K6X5BB6MONKZFWGQ6H624NVQVKKDNR3IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYHPNTARKD2CJFSSPPSBGCAHXQBNUH37CY6N67A47O7ZWA64SAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHH77BOYMGI27BI6RQ7Y73LVFLKHNTHCQ5XABQHPOE333MWS5FJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7GOHJBUNKCQRGLMB5YUVOX3UNCFVXR3PGOUKHNIPB55AVFM7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAH7GA5KI267YBJKZBGC5MR6775RBEMWHBOVN72XFOPBDNVY7VVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIAIDQ5TYHBQXXQPLKY6YXR4QWT5FXJDM2GA75XQ74EMUYEYQODA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPOMMNBL7OWXGU4K3SZVCYKDJRBCWBWLUBWXMV32ZRDAGIYSDX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKNPH3WDFBXBDWW4H52KASCCMJSZ4S5MDJOZB2QDDJDK5P7Z36SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HAARLMLTW3P5JXE6JIUAFQRPZLLSX4GNSMLOVB3VWOWAP56D2EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCZSBRRRMQWCYJDITD37ATVGVL5KIQ66NHV7ZB6GJ67RQDUYP6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXVTPTDI6QL2QVBHZS54CWD63KM2CN6AV2IT3T3OFBDZ37YCT3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWULBWVUZ6DPL6B2IUM7CEDA5FRJ44PN6JKINSNZZHZHEOWMQZ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZUMV63RJLWIYD4U47PZUCWGBQUO4LXJTGIAJVCQLO4MQ5DWUAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CP7YXHUEFVYAH3KMIXDVVPW5A7QOPPSTQCYZJ2KPMNGM6246SCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVLJNZPV5WJDCU6IMRGR52GHHZDYIQ3WZOGYJVIY7DF5UJYFKKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWGCEL25N2VD4SZGM3DMFSNR2TNDALCPW5BVW2NINQRM366BPNZQ/main.js"
            ]
        },
        "DescribeSSHRemote": {
            "name": "DescribeSSHRemote",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "DescribeSSHRemoteRequest"
            },
            "output": {
                "shape": "DescribeSSHRemoteResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXRMA7V53HJMFLBTVUAL5LXU5NQ7PFZOOKFLJVYB25CB5DRKVDQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM74AFMOFCW5EY3ZIC6WTNLO6VHH7TGY6AWNK2LHCEAGQCJSO45Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ53P2YCDE2OKD2WXUCKSTGREO4EHGUEV7FYFCERTNY72DG6LWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFV6I54QD3NEFYMOTPNAYYIORDYHOEXPYU5EZEGDKSNT2IHN6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIEEAEM4DLHKZOVSNGECQ5W2ACBRRO3PDL4BR5BLM7HVUTBSBKKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVAN2IUGH42STCLQZ3QF3PQTNQDEN435DWVVPLXQY6UAXBPRNRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHJRXCD4U7PURZAVDGVXPEAYWJMGUR5OJBZPNVB45F2LR57GRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHXEBJRLKOPYIZL5QU5EAFIR4QGWW3A37GHQPL2D6RW3CRCQWXRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIX6Q2S6QXQS2ZHPRTY6CSKGJJ3N5JCP2STSREUAQPH2RDXRGWVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX226ZDJGS56LWAQVP4S2QRNP3QOGPGL5RJQGHOMVPSVJ7UG77FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D27FPNSFNPM6BDFC4JW6JDUCPUH4A7EGHNGVJIM7QBYCHXGM7ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HQAECZJCDMJFYRC4T47VCSUBM4USHK3KX4CF5QBDMHP5FWUPL2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26S4LEFCBBJVZMPWIB4PCFVICGOU33N7KDQAUFASVCTB4LFG2YBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNQAPC4PFO464DVT23A24LQMMFA6UQ7JSLTVCGTYSNO4INODDCYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQNSRV3EEFDSUMVVHMXLFEFNVMYL5HQJ3RYBTNCQFQSJSD4NRXUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVNL2ZGJUXPQGUJ62T7V5YMISTC2SYS7S6ACOIO6S3OSTS3LJGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LXC7PXGMDBD3KBFMG4C33ZQVVROFBSPZBLD2BMTPWQZUYD65CUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VPEG7HXQU5A52RBLQ5QJ3M6UA6R3GX4NQYAYKZS6TQS7WAKQ7GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRSBPVHCSNESFLLJWF6OG476C3KF532ACRISN6CIAOEF25BJ6E2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VWN5NMH74MRP6YW2CA7ZJPM7YPGR6XV7XP7CNBF2DY2Z557JAYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YHE5SWEIU3EZA2AP5LXQIJ45APFSSSQIOK4XEA2QUNLBTDW4IVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSYOQI2EA3YQJVOMOIM5PYN7AEHN7R2EW22HU3FGQ4SOE6TQQX5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFASDAEHQD52Y2QOGG4E3ABOCHMPDPAL7EECEKYHG7PMAX5AYY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js"
            ]
        },
        "GetEnvironmentConfig": {
            "name": "GetEnvironmentConfig",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "GetEnvironmentConfigRequest"
            },
            "output": {
                "shape": "GetEnvironmentConfigResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXRMA7V53HJMFLBTVUAL5LXU5NQ7PFZOOKFLJVYB25CB5DRKVDQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM74AFMOFCW5EY3ZIC6WTNLO6VHH7TGY6AWNK2LHCEAGQCJSO45Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ53P2YCDE2OKD2WXUCKSTGREO4EHGUEV7FYFCERTNY72DG6LWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFV6I54QD3NEFYMOTPNAYYIORDYHOEXPYU5EZEGDKSNT2IHN6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIEEAEM4DLHKZOVSNGECQ5W2ACBRRO3PDL4BR5BLM7HVUTBSBKKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVAN2IUGH42STCLQZ3QF3PQTNQDEN435DWVVPLXQY6UAXBPRNRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHJRXCD4U7PURZAVDGVXPEAYWJMGUR5OJBZPNVB45F2LR57GRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHXEBJRLKOPYIZL5QU5EAFIR4QGWW3A37GHQPL2D6RW3CRCQWXRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIX6Q2S6QXQS2ZHPRTY6CSKGJJ3N5JCP2STSREUAQPH2RDXRGWVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX226ZDJGS56LWAQVP4S2QRNP3QOGPGL5RJQGHOMVPSVJ7UG77FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D27FPNSFNPM6BDFC4JW6JDUCPUH4A7EGHNGVJIM7QBYCHXGM7ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HQAECZJCDMJFYRC4T47VCSUBM4USHK3KX4CF5QBDMHP5FWUPL2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26S4LEFCBBJVZMPWIB4PCFVICGOU33N7KDQAUFASVCTB4LFG2YBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNQAPC4PFO464DVT23A24LQMMFA6UQ7JSLTVCGTYSNO4INODDCYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQNSRV3EEFDSUMVVHMXLFEFNVMYL5HQJ3RYBTNCQFQSJSD4NRXUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVNL2ZGJUXPQGUJ62T7V5YMISTC2SYS7S6ACOIO6S3OSTS3LJGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LXC7PXGMDBD3KBFMG4C33ZQVVROFBSPZBLD2BMTPWQZUYD65CUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VPEG7HXQU5A52RBLQ5QJ3M6UA6R3GX4NQYAYKZS6TQS7WAKQ7GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRSBPVHCSNESFLLJWF6OG476C3KF532ACRISN6CIAOEF25BJ6E2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VWN5NMH74MRP6YW2CA7ZJPM7YPGR6XV7XP7CNBF2DY2Z557JAYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YHE5SWEIU3EZA2AP5LXQIJ45APFSSSQIOK4XEA2QUNLBTDW4IVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSYOQI2EA3YQJVOMOIM5PYN7AEHN7R2EW22HU3FGQ4SOE6TQQX5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFASDAEHQD52Y2QOGG4E3ABOCHMPDPAL7EECEKYHG7PMAX5AYY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js"
            ]
        },
        "GetEnvironmentSettings": {
            "name": "GetEnvironmentSettings",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "GetEnvironmentSettingsRequest"
            },
            "output": {
                "shape": "GetEnvironmentSettingsResult"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ForbiddenException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "LimitExceededException"
                },
                {
                    "shape": "InternalServerErrorException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXRMA7V53HJMFLBTVUAL5LXU5NQ7PFZOOKFLJVYB25CB5DRKVDQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM74AFMOFCW5EY3ZIC6WTNLO6VHH7TGY6AWNK2LHCEAGQCJSO45Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ53P2YCDE2OKD2WXUCKSTGREO4EHGUEV7FYFCERTNY72DG6LWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFV6I54QD3NEFYMOTPNAYYIORDYHOEXPYU5EZEGDKSNT2IHN6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIEEAEM4DLHKZOVSNGECQ5W2ACBRRO3PDL4BR5BLM7HVUTBSBKKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVAN2IUGH42STCLQZ3QF3PQTNQDEN435DWVVPLXQY6UAXBPRNRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKHJRXCD4U7PURZAVDGVXPEAYWJMGUR5OJBZPNVB45F2LR57GRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHXEBJRLKOPYIZL5QU5EAFIR4QGWW3A37GHQPL2D6RW3CRCQWXRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIX6Q2S6QXQS2ZHPRTY6CSKGJJ3N5JCP2STSREUAQPH2RDXRGWVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX226ZDJGS56LWAQVP4S2QRNP3QOGPGL5RJQGHOMVPSVJ7UG77FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D27FPNSFNPM6BDFC4JW6JDUCPUH4A7EGHNGVJIM7QBYCHXGM7ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HQAECZJCDMJFYRC4T47VCSUBM4USHK3KX4CF5QBDMHP5FWUPL2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26S4LEFCBBJVZMPWIB4PCFVICGOU33N7KDQAUFASVCTB4LFG2YBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNQAPC4PFO464DVT23A24LQMMFA6UQ7JSLTVCGTYSNO4INODDCYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQNSRV3EEFDSUMVVHMXLFEFNVMYL5HQJ3RYBTNCQFQSJSD4NRXUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVNL2ZGJUXPQGUJ62T7V5YMISTC2SYS7S6ACOIO6S3OSTS3LJGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LXC7PXGMDBD3KBFMG4C33ZQVVROFBSPZBLD2BMTPWQZUYD65CUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VPEG7HXQU5A52RBLQ5QJ3M6UA6R3GX4NQYAYKZS6TQS7WAKQ7GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRSBPVHCSNESFLLJWF6OG476C3KF532ACRISN6CIAOEF25BJ6E2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VWN5NMH74MRP6YW2CA7ZJPM7YPGR6XV7XP7CNBF2DY2Z557JAYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YHE5SWEIU3EZA2AP5LXQIJ45APFSSSQIOK4XEA2QUNLBTDW4IVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSYOQI2EA3YQJVOMOIM5PYN7AEHN7R2EW22HU3FGQ4SOE6TQQX5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFASDAEHQD52Y2QOGG4E3ABOCHMPDPAL7EECEKYHG7PMAX5AYY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js"
            ]
        },
        "GetMembershipSettings": {
            "name": "GetMembershipSettings",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
[...]
