{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-09-30",
        "endpointPrefix": "cloudcontrolapi",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "CloudControlApi",
        "serviceFullName": "AWS Cloud Control API",
        "serviceId": "CloudControl",
        "signatureVersion": "v4",
        "signingName": "cloudcontrolapi",
        "targetPrefix": "CloudApiService",
        "uid": "cloudcontrol-2021-09-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js"
        ]
    },
    "operations": {
        "CancelResourceRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "RequestToken"
                ],
                "members": {
                    "RequestToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProgressEvent": {
                        "shape": "S4"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js"
            ]
        },
        "CreateResource": {
            "input": {
                "type": "structure",
                "required": [
                    "TypeName",
                    "DesiredState"
                ],
                "members": {
                    "TypeName": {},
                    "TypeVersionId": {},
                    "RoleArn": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "DesiredState": {
                        "shape": "Sa"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProgressEvent": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js"
            ]
        },
        "DeleteResource": {
            "input": {
                "type": "structure",
                "required": [
                    "TypeName",
                    "Identifier"
                ],
                "members": {
                    "TypeName": {},
                    "TypeVersionId": {},
                    "RoleArn": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProgressEvent": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js"
            ]
        },
        "GetResource": {
            "input": {
                "type": "structure",
                "required": [
                    "TypeName",
                    "Identifier"
                ],
                "members": {
                    "TypeName": {},
                    "TypeVersionId": {},
                    "RoleArn": {},
                    "Identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TypeName": {},
                    "ResourceDescription": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js"
            ]
        },
        "GetResourceRequestStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "RequestToken"
                ],
                "members": {
                    "RequestToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProgressEvent": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js"
            ]
        },
        "ListResourceRequests": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ResourceRequestStatusFilter": {
                        "type": "structure",
                        "members": {
                            "Operations": {
                                "type": "list",
                                "member": {}
                            },
                            "OperationStatuses": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceRequestStatusSummaries": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js"
            ]
        },
        "ListResources": {
            "input": {
                "type": "structure",
                "required": [
                    "TypeName"
                ],
                "members": {
                    "TypeName": {},
                    "TypeVersionId": {},
                    "RoleArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "ResourceModel": {
                        "shape": "Sa"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TypeName": {},
                    "ResourceDescriptions": {
                        "type": "list",
                        "member": {
                            "shape": "Sm"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js"
            ]
        },
        "UpdateResource": {
            "input": {
                "type": "structure",
                "required": [
                    "TypeName",
                    "Identifier",
                    "PatchDocument"
                ],
                "members": {
                    "TypeName": {},
                    "TypeVersionId": {},
                    "RoleArn": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Identifier": {},
                    "PatchDocument": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProgressEvent": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "structure",
            "members": {
                "TypeName": {},
                "Identifier": {},
                "RequestToken": {},
                "Operation": {},
                "OperationStatus": {},
                "EventTime": {
                    "type": "timestamp"
                },
                "ResourceModel": {
                    "shape": "Sa"
                },
                "StatusMessage": {},
                "ErrorCode": {},
                "RetryAfter": {
                    "type": "timestamp"
                }
            }
        },
        "Sa": {
            "type": "string",
            "sensitive": true
        },
        "Sm": {
            "type": "structure",
            "members": {
                "Identifier": {},
                "Properties": {
                    "shape": "Sa"
                }
            }
        }
    }
}