{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2014-05-30",
        "endpointPrefix": "cloudhsm",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "CloudHSM",
        "serviceFullName": "Amazon CloudHSM",
        "serviceId": "CloudHSM",
        "signatureVersion": "v4",
        "targetPrefix": "CloudHsmFrontendService",
        "uid": "cloudhsm-2014-05-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
            "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
        ]
    },
    "operations": {
        "AddTagsToResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagList"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagList": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Status"
                ],
                "members": {
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "CreateHapg": {
            "input": {
                "type": "structure",
                "required": [
                    "Label"
                ],
                "members": {
                    "Label": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HapgArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "CreateHsm": {
            "input": {
                "type": "structure",
                "required": [
                    "SubnetId",
                    "SshKey",
                    "IamRoleArn",
                    "SubscriptionType"
                ],
                "members": {
                    "SubnetId": {
                        "locationName": "SubnetId"
                    },
                    "SshKey": {
                        "locationName": "SshKey"
                    },
                    "EniIp": {
                        "locationName": "EniIp"
                    },
                    "IamRoleArn": {
                        "locationName": "IamRoleArn"
                    },
                    "ExternalId": {
                        "locationName": "ExternalId"
                    },
                    "SubscriptionType": {
                        "locationName": "SubscriptionType"
                    },
                    "ClientToken": {
                        "locationName": "ClientToken"
                    },
                    "SyslogIp": {
                        "locationName": "SyslogIp"
                    }
                },
                "locationName": "CreateHsmRequest"
            },
            "output": {
                "type": "structure",
                "members": {
                    "HsmArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "CreateLunaClient": {
            "input": {
                "type": "structure",
                "required": [
                    "Certificate"
                ],
                "members": {
                    "Label": {},
                    "Certificate": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DeleteHapg": {
            "input": {
                "type": "structure",
                "required": [
                    "HapgArn"
                ],
                "members": {
                    "HapgArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Status"
                ],
                "members": {
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DeleteHsm": {
            "input": {
                "type": "structure",
                "required": [
                    "HsmArn"
                ],
                "members": {
                    "HsmArn": {
                        "locationName": "HsmArn"
                    }
                },
                "locationName": "DeleteHsmRequest"
            },
            "output": {
                "type": "structure",
                "required": [
                    "Status"
                ],
                "members": {
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DeleteLunaClient": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientArn"
                ],
                "members": {
                    "ClientArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Status"
                ],
                "members": {
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DescribeHapg": {
            "input": {
                "type": "structure",
                "required": [
                    "HapgArn"
                ],
                "members": {
                    "HapgArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HapgArn": {},
                    "HapgSerial": {},
                    "HsmsLastActionFailed": {
                        "shape": "Sz"
                    },
                    "HsmsPendingDeletion": {
                        "shape": "Sz"
                    },
                    "HsmsPendingRegistration": {
                        "shape": "Sz"
                    },
                    "Label": {},
                    "LastModifiedTimestamp": {},
                    "PartitionSerialList": {
                        "shape": "S11"
                    },
                    "State": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DescribeHsm": {
            "input": {
                "type": "structure",
                "members": {
                    "HsmArn": {},
                    "HsmSerialNumber": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HsmArn": {},
                    "Status": {},
                    "StatusDetails": {},
                    "AvailabilityZone": {},
                    "EniId": {},
                    "EniIp": {},
                    "SubscriptionType": {},
                    "SubscriptionStartDate": {},
                    "SubscriptionEndDate": {},
                    "VpcId": {},
                    "SubnetId": {},
                    "IamRoleArn": {},
                    "SerialNumber": {},
                    "VendorName": {},
                    "HsmType": {},
                    "SoftwareVersion": {},
                    "SshPublicKey": {},
                    "SshKeyLastUpdated": {},
                    "ServerCertUri": {},
                    "ServerCertLastUpdated": {},
                    "Partitions": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DescribeLunaClient": {
            "input": {
                "type": "structure",
                "members": {
                    "ClientArn": {},
                    "CertificateFingerprint": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientArn": {},
                    "Certificate": {},
                    "CertificateFingerprint": {},
                    "LastModifiedTimestamp": {},
                    "Label": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "GetConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientArn",
                    "ClientVersion",
                    "HapgList"
                ],
                "members": {
                    "ClientArn": {},
                    "ClientVersion": {},
                    "HapgList": {
                        "shape": "S1i"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfigType": {},
                    "ConfigFile": {},
                    "ConfigCred": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "ListAvailableZones": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "AZList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "ListHapgs": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "HapgList"
                ],
                "members": {
                    "HapgList": {
                        "shape": "S1i"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "ListHsms": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HsmList": {
                        "shape": "Sz"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "ListLunaClients": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ClientList"
                ],
                "members": {
                    "ClientList": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagList"
                ],
                "members": {
                    "TagList": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "ModifyHapg": {
            "input": {
                "type": "structure",
                "required": [
                    "HapgArn"
                ],
                "members": {
                    "HapgArn": {},
                    "Label": {},
                    "PartitionSerialList": {
                        "shape": "S11"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HapgArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "ModifyHsm": {
            "input": {
                "type": "structure",
                "required": [
                    "HsmArn"
                ],
                "members": {
                    "HsmArn": {
                        "locationName": "HsmArn"
                    },
                    "SubnetId": {
                        "locationName": "SubnetId"
                    },
                    "EniIp": {
                        "locationName": "EniIp"
                    },
                    "IamRoleArn": {
                        "locationName": "IamRoleArn"
                    },
                    "ExternalId": {
                        "locationName": "ExternalId"
                    },
                    "SyslogIp": {
                        "locationName": "SyslogIp"
                    }
                },
                "locationName": "ModifyHsmRequest"
            },
            "output": {
                "type": "structure",
                "members": {
                    "HsmArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "ModifyLunaClient": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientArn",
                    "Certificate"
                ],
                "members": {
                    "ClientArn": {},
                    "Certificate": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "RemoveTagsFromResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeyList"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeyList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Status"
                ],
                "members": {
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sz": {
            "type": "list",
            "member": {}
        },
        "S11": {
            "type": "list",
            "member": {}
        },
        "S1i": {
            "type": "list",
            "member": {}
        }
    }
}