{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-06-15",
        "endpointPrefix": "codewhisperer",
        "jsonVersion": "1.0",
        "protocol": "json",
        "region": "us-east-1",
        "serviceAbbreviation": "CodeWhisperer",
        "serviceFullName": "AWS CodeWhisperer",
        "serviceId": "CodeWhisperer",
        "signatureVersion": "v4",
        "signingName": "codewhisperer",
        "targetPrefix": "AWSCodeWhispererService",
        "uid": "codewhisperer-2022-06-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VVPCPSRJ4TET5RNQ4JS6CSOHUO5FMC7THDGGRCLFRNW64D7WHBHQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IQILSW4CPJ367PPZSTMUIQCOQJIP3HF63ELQPY2AAFZNA2Y73FDA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6JJLTWU3K76IL7TFC72AQP65YGHWUZCYXMZC6TFHE7T7PKIAOXDA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4SRSVFJ6I5K43DHZZFJNSOC2ZW5WGEOMSED5GKICWOZNBHH3UZUA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3VCTXUCSVN72N7MBPPWPENNC3DYFNII6LTB6O3HAQDWTT57MT6KA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LSV24Y4VQZG2XGAAJZJTVHU5LL7DP4RM4TPY3D3IBRMCXPFMKEKQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HK6KOGBBNJQNXV2GTUUQXB2MERZM2IBSTHD4RZFCK5I6JD643JGA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
        ]
    },
    "operations": {
        "CreateCodeScan": {
            "input": {
                "type": "structure",
                "required": [
                    "artifacts",
                    "programmingLanguage"
                ],
                "members": {
                    "artifacts": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "programmingLanguage": {
                        "shape": "S5"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "errorMessage": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js"
            ]
        },
        "CreateUploadUrl": {
            "input": {
                "type": "structure",
                "required": [
                    "contentMd5",
                    "artifactType"
                ],
                "members": {
                    "contentMd5": {},
                    "artifactType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "uploadId",
                    "uploadUrl"
                ],
                "members": {
                    "uploadId": {},
                    "uploadUrl": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js"
            ]
        },
        "GenerateRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "fileContext"
                ],
                "members": {
                    "fileContext": {
                        "shape": "Sh"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "referenceTrackerConfiguration": {
                        "shape": "Sm"
                    },
                    "supplementalContexts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "filePath",
                                "content"
                            ],
                            "members": {
                                "filePath": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "content": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendations": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVPCPSRJ4TET5RNQ4JS6CSOHUO5FMC7THDGGRCLFRNW64D7WHBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQILSW4CPJ367PPZSTMUIQCOQJIP3HF63ELQPY2AAFZNA2Y73FDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JJLTWU3K76IL7TFC72AQP65YGHWUZCYXMZC6TFHE7T7PKIAOXDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRSVFJ6I5K43DHZZFJNSOC2ZW5WGEOMSED5GKICWOZNBHH3UZUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VCTXUCSVN72N7MBPPWPENNC3DYFNII6LTB6O3HAQDWTT57MT6KA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSV24Y4VQZG2XGAAJZJTVHU5LL7DP4RM4TPY3D3IBRMCXPFMKEKQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HK6KOGBBNJQNXV2GTUUQXB2MERZM2IBSTHD4RZFCK5I6JD643JGA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "GetAccessToken": {
            "input": {
                "type": "structure",
                "required": [
                    "identityToken"
                ],
                "members": {
                    "identityToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accessToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js"
            ]
        },
        "GetCodeScan": {
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {},
                    "errorMessage": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js"
            ]
        },
        "ListCodeScanFindings": {
            "input": {
                "type": "structure",
                "required": [
                    "jobId",
                    "codeScanFindingsSchema"
                ],
                "members": {
                    "jobId": {},
                    "nextToken": {},
                    "codeScanFindingsSchema": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "codeScanFindings"
                ],
                "members": {
                    "nextToken": {},
                    "codeScanFindings": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js"
            ]
        },
        "ListRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "fileContext"
                ],
                "members": {
                    "fileContext": {
                        "shape": "Sh"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendations": {
                        "shape": "Sn"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js"
            ]
        },
        "CreateProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "identitySource",
                    "profileName",
                    "referenceTrackerConfiguration"
                ],
                "members": {
                    "identitySource": {
                        "type": "structure",
                        "members": {
                            "ssoIdentitySource": {
                                "type": "structure",
                                "required": [
                                    "instanceArn"
                                ],
                                "members": {
                                    "instanceArn": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "profileName": {},
                    "referenceTrackerConfiguration": {
                        "shape": "S6"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "kmsKeyArn": {},
                    "tags": {
                        "shape": "S9"
                    },
                    "activeFunctionalities": {
                        "shape": "Sw"
                    },
                    "resourcePolicy": {
                        "shape": "Sy"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profileArn"
                ],
                "members": {
                    "profileArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVPCPSRJ4TET5RNQ4JS6CSOHUO5FMC7THDGGRCLFRNW64D7WHBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQILSW4CPJ367PPZSTMUIQCOQJIP3HF63ELQPY2AAFZNA2Y73FDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JJLTWU3K76IL7TFC72AQP65YGHWUZCYXMZC6TFHE7T7PKIAOXDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRSVFJ6I5K43DHZZFJNSOC2ZW5WGEOMSED5GKICWOZNBHH3UZUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VCTXUCSVN72N7MBPPWPENNC3DYFNII6LTB6O3HAQDWTT57MT6KA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSV24Y4VQZG2XGAAJZJTVHU5LL7DP4RM4TPY3D3IBRMCXPFMKEKQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HK6KOGBBNJQNXV2GTUUQXB2MERZM2IBSTHD4RZFCK5I6JD643JGA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "DeleteProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "profileArn"
                ],
                "members": {
                    "profileArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVPCPSRJ4TET5RNQ4JS6CSOHUO5FMC7THDGGRCLFRNW64D7WHBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQILSW4CPJ367PPZSTMUIQCOQJIP3HF63ELQPY2AAFZNA2Y73FDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JJLTWU3K76IL7TFC72AQP65YGHWUZCYXMZC6TFHE7T7PKIAOXDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRSVFJ6I5K43DHZZFJNSOC2ZW5WGEOMSED5GKICWOZNBHH3UZUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VCTXUCSVN72N7MBPPWPENNC3DYFNII6LTB6O3HAQDWTT57MT6KA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSV24Y4VQZG2XGAAJZJTVHU5LL7DP4RM4TPY3D3IBRMCXPFMKEKQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HK6KOGBBNJQNXV2GTUUQXB2MERZM2IBSTHD4RZFCK5I6JD643JGA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "ListProfiles": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profiles"
                ],
                "members": {
                    "profiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "identityDetails",
                                "profileName",
                                "referenceTrackerConfiguration"
                            ],
                            "members": {
                                "arn": {},
                                "identityDetails": {
                                    "type": "structure",
                                    "members": {
                                        "ssoIdentityDetails": {
                                            "type": "structure",
                                            "required": [
                                                "instanceArn",
                                                "oidcClientId"
                                            ],
                                            "members": {
                                                "instanceArn": {},
                                                "oidcClientId": {}
                                            }
                                        }
                                    },
                                    "union": true
                                },
                                "profileName": {},
                                "referenceTrackerConfiguration": {
                                    "shape": "S6"
                                },
                                "kmsKeyArn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVPCPSRJ4TET5RNQ4JS6CSOHUO5FMC7THDGGRCLFRNW64D7WHBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQILSW4CPJ367PPZSTMUIQCOQJIP3HF63ELQPY2AAFZNA2Y73FDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JJLTWU3K76IL7TFC72AQP65YGHWUZCYXMZC6TFHE7T7PKIAOXDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRSVFJ6I5K43DHZZFJNSOC2ZW5WGEOMSED5GKICWOZNBHH3UZUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VCTXUCSVN72N7MBPPWPENNC3DYFNII6LTB6O3HAQDWTT57MT6KA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSV24Y4VQZG2XGAAJZJTVHU5LL7DP4RM4TPY3D3IBRMCXPFMKEKQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HK6KOGBBNJQNXV2GTUUQXB2MERZM2IBSTHD4RZFCK5I6JD643JGA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVPCPSRJ4TET5RNQ4JS6CSOHUO5FMC7THDGGRCLFRNW64D7WHBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQILSW4CPJ367PPZSTMUIQCOQJIP3HF63ELQPY2AAFZNA2Y73FDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JJLTWU3K76IL7TFC72AQP65YGHWUZCYXMZC6TFHE7T7PKIAOXDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRSVFJ6I5K43DHZZFJNSOC2ZW5WGEOMSED5GKICWOZNBHH3UZUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VCTXUCSVN72N7MBPPWPENNC3DYFNII6LTB6O3HAQDWTT57MT6KA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSV24Y4VQZG2XGAAJZJTVHU5LL7DP4RM4TPY3D3IBRMCXPFMKEKQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HK6KOGBBNJQNXV2GTUUQXB2MERZM2IBSTHD4RZFCK5I6JD643JGA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {},
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVPCPSRJ4TET5RNQ4JS6CSOHUO5FMC7THDGGRCLFRNW64D7WHBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQILSW4CPJ367PPZSTMUIQCOQJIP3HF63ELQPY2AAFZNA2Y73FDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JJLTWU3K76IL7TFC72AQP65YGHWUZCYXMZC6TFHE7T7PKIAOXDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRSVFJ6I5K43DHZZFJNSOC2ZW5WGEOMSED5GKICWOZNBHH3UZUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VCTXUCSVN72N7MBPPWPENNC3DYFNII6LTB6O3HAQDWTT57MT6KA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSV24Y4VQZG2XGAAJZJTVHU5LL7DP4RM4TPY3D3IBRMCXPFMKEKQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HK6KOGBBNJQNXV2GTUUQXB2MERZM2IBSTHD4RZFCK5I6JD643JGA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {},
                    "tagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVPCPSRJ4TET5RNQ4JS6CSOHUO5FMC7THDGGRCLFRNW64D7WHBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQILSW4CPJ367PPZSTMUIQCOQJIP3HF63ELQPY2AAFZNA2Y73FDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JJLTWU3K76IL7TFC72AQP65YGHWUZCYXMZC6TFHE7T7PKIAOXDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRSVFJ6I5K43DHZZFJNSOC2ZW5WGEOMSED5GKICWOZNBHH3UZUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VCTXUCSVN72N7MBPPWPENNC3DYFNII6LTB6O3HAQDWTT57MT6KA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSV24Y4VQZG2XGAAJZJTVHU5LL7DP4RM4TPY3D3IBRMCXPFMKEKQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HK6KOGBBNJQNXV2GTUUQXB2MERZM2IBSTHD4RZFCK5I6JD643JGA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "UpdateProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "profileArn"
                ],
                "members": {
                    "profileArn": {},
                    "profileName": {},
                    "referenceTrackerConfiguration": {
                        "shape": "S6"
                    },
                    "kmsKeyArn": {},
                    "activeFunctionalities": {
                        "shape": "Sw"
                    },
                    "resourcePolicy": {
                        "shape": "Sy"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profileArn"
                ],
                "members": {
                    "profileArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVPCPSRJ4TET5RNQ4JS6CSOHUO5FMC7THDGGRCLFRNW64D7WHBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQILSW4CPJ367PPZSTMUIQCOQJIP3HF63ELQPY2AAFZNA2Y73FDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JJLTWU3K76IL7TFC72AQP65YGHWUZCYXMZC6TFHE7T7PKIAOXDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRSVFJ6I5K43DHZZFJNSOC2ZW5WGEOMSED5GKICWOZNBHH3UZUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VCTXUCSVN72N7MBPPWPENNC3DYFNII6LTB6O3HAQDWTT57MT6KA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSV24Y4VQZG2XGAAJZJTVHU5LL7DP4RM4TPY3D3IBRMCXPFMKEKQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HK6KOGBBNJQNXV2GTUUQXB2MERZM2IBSTHD4RZFCK5I6JD643JGA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "ActivateCustomization": {
            "input": {
                "type": "structure",
                "required": [
                    "customizationArn"
                ],
                "members": {
                    "customizationArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRAZGBDDU47IIJJOZRAN4XGDQ6PX5BPDFRBMVJUQ4FKPBI6COPNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js"
            ]
        },
        "CreateCustomization": {
            "input": {
                "type": "structure",
                "required": [
                    "dataReference",
                    "customizationConfiguration"
                ],
                "members": {
                    "dataReference": {
                        "shape": "S6"
                    },
                    "customizationConfiguration": {
                        "shape": "Sa"
                    },
                    "tags": {
                        "shape": "Sd"
                    },
                    "clientToken": {},
                    "customizationName": {},
                    "description": {},
                    "profileArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "customizationArn"
                ],
                "members": {
                    "customizationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVPCPSRJ4TET5RNQ4JS6CSOHUO5FMC7THDGGRCLFRNW64D7WHBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQILSW4CPJ367PPZSTMUIQCOQJIP3HF63ELQPY2AAFZNA2Y73FDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JJLTWU3K76IL7TFC72AQP65YGHWUZCYXMZC6TFHE7T7PKIAOXDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRSVFJ6I5K43DHZZFJNSOC2ZW5WGEOMSED5GKICWOZNBHH3UZUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VCTXUCSVN72N7MBPPWPENNC3DYFNII6LTB6O3HAQDWTT57MT6KA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSV24Y4VQZG2XGAAJZJTVHU5LL7DP4RM4TPY3D3IBRMCXPFMKEKQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HK6KOGBBNJQNXV2GTUUQXB2MERZM2IBSTHD4RZFCK5I6JD643JGA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "DeactivateCustomization": {
            "input": {
                "type": "structure",
                "required": [
                    "customizationArn"
                ],
                "members": {
                    "customizationArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRAZGBDDU47IIJJOZRAN4XGDQ6PX5BPDFRBMVJUQ4FKPBI6COPNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js"
            ]
        },
        "GetCustomization": {
            "input": {
                "type": "structure",
                "required": [
                    "customizationArn"
                ],
                "members": {
                    "customizationArn": {},
                    "identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "customization"
                ],
                "members": {
                    "customization": {
                        "shape": "S1o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVPCPSRJ4TET5RNQ4JS6CSOHUO5FMC7THDGGRCLFRNW64D7WHBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQILSW4CPJ367PPZSTMUIQCOQJIP3HF63ELQPY2AAFZNA2Y73FDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JJLTWU3K76IL7TFC72AQP65YGHWUZCYXMZC6TFHE7T7PKIAOXDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRSVFJ6I5K43DHZZFJNSOC2ZW5WGEOMSED5GKICWOZNBHH3UZUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VCTXUCSVN72N7MBPPWPENNC3DYFNII6LTB6O3HAQDWTT57MT6KA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSV24Y4VQZG2XGAAJZJTVHU5LL7DP4RM4TPY3D3IBRMCXPFMKEKQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HK6KOGBBNJQNXV2GTUUQXB2MERZM2IBSTHD4RZFCK5I6JD643JGA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "ListCustomizations": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "customizations"
                ],
                "members": {
                    "customizations": {
                        "type": "list",
                        "member": {
                            "shape": "S1o"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVPCPSRJ4TET5RNQ4JS6CSOHUO5FMC7THDGGRCLFRNW64D7WHBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQILSW4CPJ367PPZSTMUIQCOQJIP3HF63ELQPY2AAFZNA2Y73FDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JJLTWU3K76IL7TFC72AQP65YGHWUZCYXMZC6TFHE7T7PKIAOXDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRSVFJ6I5K43DHZZFJNSOC2ZW5WGEOMSED5GKICWOZNBHH3UZUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VCTXUCSVN72N7MBPPWPENNC3DYFNII6LTB6O3HAQDWTT57MT6KA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSV24Y4VQZG2XGAAJZJTVHU5LL7DP4RM4TPY3D3IBRMCXPFMKEKQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HK6KOGBBNJQNXV2GTUUQXB2MERZM2IBSTHD4RZFCK5I6JD643JGA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "AssociateCustomizationPermission": {
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "permission"
                ],
                "members": {
                    "identifier": {},
                    "permission": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVPCPSRJ4TET5RNQ4JS6CSOHUO5FMC7THDGGRCLFRNW64D7WHBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQILSW4CPJ367PPZSTMUIQCOQJIP3HF63ELQPY2AAFZNA2Y73FDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JJLTWU3K76IL7TFC72AQP65YGHWUZCYXMZC6TFHE7T7PKIAOXDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRSVFJ6I5K43DHZZFJNSOC2ZW5WGEOMSED5GKICWOZNBHH3UZUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VCTXUCSVN72N7MBPPWPENNC3DYFNII6LTB6O3HAQDWTT57MT6KA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSV24Y4VQZG2XGAAJZJTVHU5LL7DP4RM4TPY3D3IBRMCXPFMKEKQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HK6KOGBBNJQNXV2GTUUQXB2MERZM2IBSTHD4RZFCK5I6JD643JGA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "DisassociateCustomizationPermission": {
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "permission"
                ],
                "members": {
                    "identifier": {},
                    "permission": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVPCPSRJ4TET5RNQ4JS6CSOHUO5FMC7THDGGRCLFRNW64D7WHBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQILSW4CPJ367PPZSTMUIQCOQJIP3HF63ELQPY2AAFZNA2Y73FDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JJLTWU3K76IL7TFC72AQP65YGHWUZCYXMZC6TFHE7T7PKIAOXDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRSVFJ6I5K43DHZZFJNSOC2ZW5WGEOMSED5GKICWOZNBHH3UZUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VCTXUCSVN72N7MBPPWPENNC3DYFNII6LTB6O3HAQDWTT57MT6KA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSV24Y4VQZG2XGAAJZJTVHU5LL7DP4RM4TPY3D3IBRMCXPFMKEKQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HK6KOGBBNJQNXV2GTUUQXB2MERZM2IBSTHD4RZFCK5I6JD643JGA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "ListCustomizationPermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "permissions"
                ],
                "members": {
                    "permissions": {
                        "type": "list",
                        "member": {
                            "shape": "S3"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVPCPSRJ4TET5RNQ4JS6CSOHUO5FMC7THDGGRCLFRNW64D7WHBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQILSW4CPJ367PPZSTMUIQCOQJIP3HF63ELQPY2AAFZNA2Y73FDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JJLTWU3K76IL7TFC72AQP65YGHWUZCYXMZC6TFHE7T7PKIAOXDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRSVFJ6I5K43DHZZFJNSOC2ZW5WGEOMSED5GKICWOZNBHH3UZUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VCTXUCSVN72N7MBPPWPENNC3DYFNII6LTB6O3HAQDWTT57MT6KA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSV24Y4VQZG2XGAAJZJTVHU5LL7DP4RM4TPY3D3IBRMCXPFMKEKQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HK6KOGBBNJQNXV2GTUUQXB2MERZM2IBSTHD4RZFCK5I6JD643JGA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "UpdateCustomization": {
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "operation"
                ],
                "members": {
                    "identifier": {},
                    "operation": {},
                    "clientToken": {},
                    "dataReference": {
                        "shape": "S7"
                    },
                    "version": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVPCPSRJ4TET5RNQ4JS6CSOHUO5FMC7THDGGRCLFRNW64D7WHBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQILSW4CPJ367PPZSTMUIQCOQJIP3HF63ELQPY2AAFZNA2Y73FDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JJLTWU3K76IL7TFC72AQP65YGHWUZCYXMZC6TFHE7T7PKIAOXDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRSVFJ6I5K43DHZZFJNSOC2ZW5WGEOMSED5GKICWOZNBHH3UZUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VCTXUCSVN72N7MBPPWPENNC3DYFNII6LTB6O3HAQDWTT57MT6KA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSV24Y4VQZG2XGAAJZJTVHU5LL7DP4RM4TPY3D3IBRMCXPFMKEKQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HK6KOGBBNJQNXV2GTUUQXB2MERZM2IBSTHD4RZFCK5I6JD643JGA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "DeleteCustomization": {
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVPCPSRJ4TET5RNQ4JS6CSOHUO5FMC7THDGGRCLFRNW64D7WHBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQILSW4CPJ367PPZSTMUIQCOQJIP3HF63ELQPY2AAFZNA2Y73FDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JJLTWU3K76IL7TFC72AQP65YGHWUZCYXMZC6TFHE7T7PKIAOXDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRSVFJ6I5K43DHZZFJNSOC2ZW5WGEOMSED5GKICWOZNBHH3UZUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VCTXUCSVN72N7MBPPWPENNC3DYFNII6LTB6O3HAQDWTT57MT6KA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSV24Y4VQZG2XGAAJZJTVHU5LL7DP4RM4TPY3D3IBRMCXPFMKEKQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HK6KOGBBNJQNXV2GTUUQXB2MERZM2IBSTHD4RZFCK5I6JD643JGA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "AllowVendedLogDeliveryForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArnBeingAuthorized",
                    "deliverySourceArn"
                ],
                "members": {
                    "resourceArnBeingAuthorized": {},
                    "deliverySourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVPCPSRJ4TET5RNQ4JS6CSOHUO5FMC7THDGGRCLFRNW64D7WHBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQILSW4CPJ367PPZSTMUIQCOQJIP3HF63ELQPY2AAFZNA2Y73FDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JJLTWU3K76IL7TFC72AQP65YGHWUZCYXMZC6TFHE7T7PKIAOXDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRSVFJ6I5K43DHZZFJNSOC2ZW5WGEOMSED5GKICWOZNBHH3UZUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VCTXUCSVN72N7MBPPWPENNC3DYFNII6LTB6O3HAQDWTT57MT6KA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSV24Y4VQZG2XGAAJZJTVHU5LL7DP4RM4TPY3D3IBRMCXPFMKEKQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HK6KOGBBNJQNXV2GTUUQXB2MERZM2IBSTHD4RZFCK5I6JD643JGA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "ListCustomizationVersions": {
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "versions"
                ],
                "members": {
                    "versions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "version",
                                "status",
                                "dataReference",
                                "updatedAt"
                            ],
                            "members": {
                                "version": {
                                    "type": "long"
                                },
                                "status": {},
                                "dataReference": {
                                    "shape": "Sb"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                },
                                "evaluationMetrics": {
                                    "shape": "S1y"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVPCPSRJ4TET5RNQ4JS6CSOHUO5FMC7THDGGRCLFRNW64D7WHBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQILSW4CPJ367PPZSTMUIQCOQJIP3HF63ELQPY2AAFZNA2Y73FDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JJLTWU3K76IL7TFC72AQP65YGHWUZCYXMZC6TFHE7T7PKIAOXDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRSVFJ6I5K43DHZZFJNSOC2ZW5WGEOMSED5GKICWOZNBHH3UZUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VCTXUCSVN72N7MBPPWPENNC3DYFNII6LTB6O3HAQDWTT57MT6KA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSV24Y4VQZG2XGAAJZJTVHU5LL7DP4RM4TPY3D3IBRMCXPFMKEKQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HK6KOGBBNJQNXV2GTUUQXB2MERZM2IBSTHD4RZFCK5I6JD643JGA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "languageName"
            ],
            "members": {
                "languageName": {}
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "leftFileContent",
                "rightFileContent",
                "filename",
                "programmingLanguage"
            ],
            "members": {
                "leftFileContent": {
                    "type": "string",
                    "sensitive": true
                },
                "rightFileContent": {
                    "type": "string",
                    "sensitive": true
                },
                "filename": {},
                "programmingLanguage": {
                    "shape": "S5"
                }
            }
        },
        "Sn": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "content"
                ],
                "members": {
                    "content": {
                        "type": "string",
                        "sensitive": true
                    },
                    "references": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "licenseName": {},
                                "repository": {},
                                "recommendationContentSpan": {
                                    "type": "structure",
                                    "members": {
                                        "start": {
                                            "type": "integer"
                                        },
                                        "end": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "S6": {
            "type": "structure",
            "required": [
                "recommendationsWithReferences"
            ],
            "members": {
                "recommendationsWithReferences": {}
            }
        },
        "S9": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "key",
                    "value"
                ],
                "members": {
                    "key": {},
                    "value": {}
                }
            }
        },
        "Sa": {
            "type": "structure",
            "required": [
                "customizationName",
                "profileArn"
            ],
            "members": {
                "customizationName": {},
                "description": {},
                "profileArn": {},
                "customerKmsKeyArn": {}
            }
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "key",
                    "value"
                ],
                "members": {
                    "key": {},
                    "value": {}
                }
            }
        },
        "Sm": {
            "type": "structure",
            "required": [
                "recommendationsWithReferences"
            ],
            "members": {
                "recommendationsWithReferences": {}
            }
        },
        "S1o": {
            "type": "structure",
            "required": [
                "arn",
                "status",
                "dataReference",
                "configuration",
                "updatedAt"
            ],
            "members": {
                "arn": {},
                "status": {},
                "errorDetails": {},
                "dataReference": {
                    "shape": "S6"
                },
                "configuration": {
                    "shape": "Sa"
                },
                "updatedAt": {
                    "type": "long"
                }
            }
        },
        "S3": {
            "type": "structure",
            "members": {
                "user": {},
                "group": {}
            },
            "union": true
        },
        "S7": {
            "type": "structure",
            "members": {
                "codeStarReference": {
                    "type": "structure",
                    "required": [
                        "connectionArn"
                    ],
                    "members": {
                        "connectionArn": {}
                    }
                },
                "s3Reference": {
                    "type": "structure",
                    "required": [
                        "uri"
                    ],
                    "members": {
                        "uri": {}
                    }
                }
            },
            "union": true
        },
        "Se": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "key",
                    "value"
                ],
                "members": {
                    "key": {},
                    "value": {}
                }
            }
        },
        "So": {
            "type": "structure",
            "required": [
                "recommendationsWithReferences"
            ],
            "members": {
                "recommendationsWithReferences": {}
            }
        },
        "Sb": {
            "type": "structure",
            "members": {
                "codeStarReference": {
                    "type": "structure",
                    "required": [
                        "connectionArn"
                    ],
                    "members": {
                        "connectionArn": {}
                    }
                },
                "s3Reference": {
                    "type": "structure",
                    "required": [
                        "uri"
                    ],
                    "members": {
                        "uri": {}
                    }
                }
            },
            "union": true
        },
        "Sr": {
            "type": "structure",
            "required": [
                "recommendationsWithReferences"
            ],
            "members": {
                "recommendationsWithReferences": {}
            }
        },
        "S1y": {
            "type": "structure",
            "required": [
                "compositeScore"
            ],
            "members": {
                "compositeScore": {
                    "type": "integer"
                }
            }
        },
        "Si": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "key",
                    "value"
                ],
                "members": {
                    "key": {},
                    "value": {}
                }
            }
        },
        "St": {
            "type": "structure",
            "required": [
                "recommendationsWithReferences"
            ],
            "members": {
                "recommendationsWithReferences": {}
            }
        },
        "S1z": {
            "type": "structure",
            "required": [
                "compositeScore"
            ],
            "members": {
                "compositeScore": {
                    "type": "integer"
                }
            }
        },
        "Su": {
            "type": "structure",
            "required": [
                "recommendationsWithReferences"
            ],
            "members": {
                "recommendationsWithReferences": {}
            }
        },
        "S21": {
            "type": "structure",
            "required": [
                "compositeScore"
            ],
            "members": {
                "compositeScore": {
                    "type": "integer"
                }
            }
        },
        "Sw": {
            "type": "list",
            "member": {}
        },
        "S23": {
            "type": "structure",
            "required": [
                "compositeScore"
            ],
            "members": {
                "compositeScore": {
                    "type": "integer"
                }
            }
        },
        "Sy": {
            "type": "structure",
            "required": [
                "effect"
            ],
            "members": {
                "effect": {}
            }
        },
        "S25": {
            "type": "structure",
            "required": [
                "compositeScore"
            ],
            "members": {
                "compositeScore": {
                    "type": "integer"
                }
            }
        }
    }
}