{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-04-19",
        "endpointPrefix": "codestar",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "CodeStar",
        "serviceFullName": "AWS CodeStar",
        "serviceId": "CodeStar",
        "signatureVersion": "v4",
        "targetPrefix": "CodeStar_20170419",
        "uid": "codestar-2017-04-19",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSFJLDHWPXRXGMO4ANKHQNKAMYPN4ZN22DBWJ7AEAETMUBP4SEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
        ]
    },
    "operations": {
        "AssociateTeamMember": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "userArn",
                    "projectRole"
                ],
                "members": {
                    "projectId": {},
                    "clientRequestToken": {},
                    "userArn": {},
                    "projectRole": {},
                    "remoteAccessAllowed": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "clientRequestToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSFJLDHWPXRXGMO4ANKHQNKAMYPN4ZN22DBWJ7AEAETMUBP4SEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "CreateProject": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "id"
                ],
                "members": {
                    "name": {
                        "shape": "S9"
                    },
                    "id": {},
                    "description": {
                        "shape": "Sa"
                    },
                    "clientRequestToken": {},
                    "sourceCode": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source",
                                "destination"
                            ],
                            "members": {
                                "source": {
                                    "type": "structure",
                                    "required": [
                                        "s3"
                                    ],
                                    "members": {
                                        "s3": {
                                            "shape": "Se"
                                        }
                                    }
                                },
                                "destination": {
                                    "type": "structure",
                                    "members": {
                                        "codeCommit": {
                                            "type": "structure",
                                            "required": [
                                                "name"
                                            ],
                                            "members": {
                                                "name": {}
                                            }
                                        },
                                        "gitHub": {
                                            "type": "structure",
                                            "required": [
                                                "name",
                                                "type",
                                                "owner",
                                                "privateRepository",
                                                "issuesEnabled",
                                                "token"
                                            ],
                                            "members": {
                                                "name": {},
                                                "description": {},
                                                "type": {},
                                                "owner": {},
                                                "privateRepository": {
                                                    "type": "boolean"
                                                },
                                                "issuesEnabled": {
                                                    "type": "boolean"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "sensitive": true
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "toolchain": {
                        "type": "structure",
                        "required": [
                            "source"
                        ],
                        "members": {
                            "source": {
                                "type": "structure",
                                "required": [
                                    "s3"
                                ],
                                "members": {
                                    "s3": {
                                        "shape": "Se"
                                    }
                                }
                            },
                            "roleArn": {},
                            "stackParameters": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    },
                    "tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "arn": {},
                    "clientRequestToken": {},
                    "projectTemplateId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSFJLDHWPXRXGMO4ANKHQNKAMYPN4ZN22DBWJ7AEAETMUBP4SEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "CreateUserProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "userArn",
                    "displayName",
                    "emailAddress"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {},
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "lastModifiedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSFJLDHWPXRXGMO4ANKHQNKAMYPN4ZN22DBWJ7AEAETMUBP4SEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "DeleteProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {},
                    "clientRequestToken": {},
                    "deleteStack": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "stackId": {},
                    "projectArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSFJLDHWPXRXGMO4ANKHQNKAMYPN4ZN22DBWJ7AEAETMUBP4SEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "DeleteUserProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSFJLDHWPXRXGMO4ANKHQNKAMYPN4ZN22DBWJ7AEAETMUBP4SEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "DescribeProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {
                        "shape": "S9"
                    },
                    "id": {},
                    "arn": {},
                    "description": {
                        "shape": "Sa"
                    },
                    "clientRequestToken": {},
                    "createdTimeStamp": {
                        "type": "timestamp"
                    },
                    "stackId": {},
                    "projectTemplateId": {},
                    "status": {
                        "type": "structure",
                        "required": [
                            "state"
                        ],
                        "members": {
                            "state": {},
                            "reason": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSFJLDHWPXRXGMO4ANKHQNKAMYPN4ZN22DBWJ7AEAETMUBP4SEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "DescribeUserProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userArn",
                    "createdTimestamp",
                    "lastModifiedTimestamp"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {},
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "lastModifiedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSFJLDHWPXRXGMO4ANKHQNKAMYPN4ZN22DBWJ7AEAETMUBP4SEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "DisassociateTeamMember": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "userArn"
                ],
                "members": {
                    "projectId": {},
                    "userArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSFJLDHWPXRXGMO4ANKHQNKAMYPN4ZN22DBWJ7AEAETMUBP4SEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "ListProjects": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "projects"
                ],
                "members": {
                    "projects": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "projectId": {},
                                "projectArn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSFJLDHWPXRXGMO4ANKHQNKAMYPN4ZN22DBWJ7AEAETMUBP4SEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "ListResources": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId"
                ],
                "members": {
                    "projectId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id"
                            ],
                            "members": {
                                "id": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSFJLDHWPXRXGMO4ANKHQNKAMYPN4ZN22DBWJ7AEAETMUBP4SEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "ListTagsForProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sx"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSFJLDHWPXRXGMO4ANKHQNKAMYPN4ZN22DBWJ7AEAETMUBP4SEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "ListTeamMembers": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId"
                ],
                "members": {
                    "projectId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "teamMembers"
                ],
                "members": {
                    "teamMembers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "userArn",
                                "projectRole"
                            ],
                            "members": {
                                "userArn": {},
                                "projectRole": {},
                                "remoteAccessAllowed": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSFJLDHWPXRXGMO4ANKHQNKAMYPN4ZN22DBWJ7AEAETMUBP4SEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "ListUserProfiles": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userProfiles"
                ],
                "members": {
                    "userProfiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "userArn": {},
                                "displayName": {
                                    "shape": "S14"
                                },
                                "emailAddress": {
                                    "shape": "S15"
                                },
                                "sshPublicKey": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSFJLDHWPXRXGMO4ANKHQNKAMYPN4ZN22DBWJ7AEAETMUBP4SEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "TagProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "tags"
                ],
                "members": {
                    "id": {},
                    "tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSFJLDHWPXRXGMO4ANKHQNKAMYPN4ZN22DBWJ7AEAETMUBP4SEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "UntagProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "tags"
                ],
                "members": {
                    "id": {},
                    "tags": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSFJLDHWPXRXGMO4ANKHQNKAMYPN4ZN22DBWJ7AEAETMUBP4SEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "UpdateProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {},
                    "name": {
                        "shape": "S9"
                    },
                    "description": {
                        "shape": "Sa"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSFJLDHWPXRXGMO4ANKHQNKAMYPN4ZN22DBWJ7AEAETMUBP4SEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "UpdateTeamMember": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "userArn"
                ],
                "members": {
                    "projectId": {},
                    "userArn": {},
                    "projectRole": {},
                    "remoteAccessAllowed": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "userArn": {},
                    "projectRole": {},
                    "remoteAccessAllowed": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSFJLDHWPXRXGMO4ANKHQNKAMYPN4ZN22DBWJ7AEAETMUBP4SEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "UpdateUserProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {},
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "lastModifiedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSFJLDHWPXRXGMO4ANKHQNKAMYPN4ZN22DBWJ7AEAETMUBP4SEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        }
    },
    "shapes": {
        "S9": {
            "type": "string",
            "sensitive": true
        },
        "Sa": {
            "type": "string",
            "sensitive": true
        },
        "Se": {
            "type": "structure",
            "members": {
                "bucketName": {},
                "bucketKey": {}
            }
        },
        "Sx": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S14": {
            "type": "string",
            "sensitive": true
        },
        "S15": {
            "type": "string",
            "sensitive": true
        }
    }
}