{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-08-08",
        "endpointPrefix": "codedeploy",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "CodeDeployGitHub",
        "serviceFullName": "AWS CodeDeploy GitHub Service",
        "serviceId": "CodeDeploy",
        "signatureVersion": "v4",
        "targetPrefix": "CodeDeployGitHub_20141006",
        "uid": "codedeploygithub-2018-08-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3QLDQN46DPFXGUSFDMBMVWBNUFQQUFHRBYY3XVZR2XBSGZFXO4VQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTF7BJGJGGYW4LJWJ6AR7SAQ2SJXR6X7IJ63ZTKHVX2V7JAX3OBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NJOBAZOUPUKSI7TLDME6EHD5PAJWI3PQ5EIXZ5RHV34BQD5CQ2KQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KLL4AWFTPG4GRKZMIE4W7RHUDYTBRVTVD366QYYKY2HTDQCTPDEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WTMUYQTYBRYUNCSILWGSGMGZXS2ZPZFGNGZXZ7RX6DLL7MAMCX5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AT3W5EY5YS5MRBGHMC2B37TRZ6JV7VM2U4C7GUMSSNXCYDHPCTHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U6VCJRW44EEDXVAA7X2YRWYBAARD2BNG3PRD23NDNTQ4AF5NGU2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FEDRUMRS2KPTR5XYPPAB4IIQE7ZOJBPBRUMAJI2Z62CVISIPXT3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C3TDBTHZVHDRQCONZFM2B62HCWIQMWMFSFWY6J7DAB7LNCUTZICA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UC2V57L5VZC4L2PVNBRF7DQNNMQVUZA3TUU35IDCOAUNOO3V4SNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EZMVDAOUI6Y4KO57PB7R3UCLAEX74J4RQLYPIX6DP7ZUOLJPZ3NA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U6MJ4GT3HW5TPB4ZMIJ4XFYMBLH6HKZWI56NUXZE2ZQXKJ2S4NKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SFU7SSFYV3J7WMREFIJAAY3EVK5BJTDXLNQUQWKP722KSODDZFUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RMELCNQDB7PWIZOQKXYGFRDG2R3MHS4BKBZYCXLW7XOCKD24NPZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GPFMNBXC2NHVP6DTKTLQX35VFYRMIBKYJ75L4H2Z63YJX6CGKGQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6SUXZNB4SWNKNVKT7EIYTTDRLEOGQ7MVERNZRVLSAPAV5C27SBVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JWTYIM5O2E4AS76BHVSZVHS6BK5AQ4E2PK34UWCE5L2CKX4MPQ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MSKCK5AQNFP5XMUDZHXGRJSJ3HHIYJ7BCOF2P4B5P53LWV5YR3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TNN557MDTTD46XS6FV3KYRMZMUON2MWQNCKPPGJBTBOGKKR44YPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKH76KGYSGUFL3BW3B2XJD55ZWAQ73U6U2O3P52RHN426BBNJS7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPSZBPXSAJORDQRCJJCWNKZ4PYTDAKOSGEKIWU3CRKAU7MR3VYIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js"
        ]
    },
    "operations": {
        "BindGitHubAccountTokenToApplication": {
            "input": {
                "type": "structure",
                "members": {
                    "applicationName": {},
                    "tokenName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tokenName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTF7BJGJGGYW4LJWJ6AR7SAQ2SJXR6X7IJ63ZTKHVX2V7JAX3OBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJOBAZOUPUKSI7TLDME6EHD5PAJWI3PQ5EIXZ5RHV34BQD5CQ2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLL4AWFTPG4GRKZMIE4W7RHUDYTBRVTVD366QYYKY2HTDQCTPDEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTMUYQTYBRYUNCSILWGSGMGZXS2ZPZFGNGZXZ7RX6DLL7MAMCX5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AT3W5EY5YS5MRBGHMC2B37TRZ6JV7VM2U4C7GUMSSNXCYDHPCTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6VCJRW44EEDXVAA7X2YRWYBAARD2BNG3PRD23NDNTQ4AF5NGU2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEDRUMRS2KPTR5XYPPAB4IIQE7ZOJBPBRUMAJI2Z62CVISIPXT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3TDBTHZVHDRQCONZFM2B62HCWIQMWMFSFWY6J7DAB7LNCUTZICA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UC2V57L5VZC4L2PVNBRF7DQNNMQVUZA3TUU35IDCOAUNOO3V4SNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZMVDAOUI6Y4KO57PB7R3UCLAEX74J4RQLYPIX6DP7ZUOLJPZ3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6MJ4GT3HW5TPB4ZMIJ4XFYMBLH6HKZWI56NUXZE2ZQXKJ2S4NKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFU7SSFYV3J7WMREFIJAAY3EVK5BJTDXLNQUQWKP722KSODDZFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMELCNQDB7PWIZOQKXYGFRDG2R3MHS4BKBZYCXLW7XOCKD24NPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPFMNBXC2NHVP6DTKTLQX35VFYRMIBKYJ75L4H2Z63YJX6CGKGQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SUXZNB4SWNKNVKT7EIYTTDRLEOGQ7MVERNZRVLSAPAV5C27SBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWTYIM5O2E4AS76BHVSZVHS6BK5AQ4E2PK34UWCE5L2CKX4MPQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MSKCK5AQNFP5XMUDZHXGRJSJ3HHIYJ7BCOF2P4B5P53LWV5YR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNN557MDTTD46XS6FV3KYRMZMUON2MWQNCKPPGJBTBOGKKR44YPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKH76KGYSGUFL3BW3B2XJD55ZWAQ73U6U2O3P52RHN426BBNJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPSZBPXSAJORDQRCJJCWNKZ4PYTDAKOSGEKIWU3CRKAU7MR3VYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js"
            ]
        },
        "RegisterGitHubAccountToken": {
            "input": {
                "type": "structure",
                "members": {
                    "tokenName": {},
                    "authToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tokenName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTF7BJGJGGYW4LJWJ6AR7SAQ2SJXR6X7IJ63ZTKHVX2V7JAX3OBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJOBAZOUPUKSI7TLDME6EHD5PAJWI3PQ5EIXZ5RHV34BQD5CQ2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLL4AWFTPG4GRKZMIE4W7RHUDYTBRVTVD366QYYKY2HTDQCTPDEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTMUYQTYBRYUNCSILWGSGMGZXS2ZPZFGNGZXZ7RX6DLL7MAMCX5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AT3W5EY5YS5MRBGHMC2B37TRZ6JV7VM2U4C7GUMSSNXCYDHPCTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6VCJRW44EEDXVAA7X2YRWYBAARD2BNG3PRD23NDNTQ4AF5NGU2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEDRUMRS2KPTR5XYPPAB4IIQE7ZOJBPBRUMAJI2Z62CVISIPXT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3TDBTHZVHDRQCONZFM2B62HCWIQMWMFSFWY6J7DAB7LNCUTZICA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UC2V57L5VZC4L2PVNBRF7DQNNMQVUZA3TUU35IDCOAUNOO3V4SNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZMVDAOUI6Y4KO57PB7R3UCLAEX74J4RQLYPIX6DP7ZUOLJPZ3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6MJ4GT3HW5TPB4ZMIJ4XFYMBLH6HKZWI56NUXZE2ZQXKJ2S4NKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFU7SSFYV3J7WMREFIJAAY3EVK5BJTDXLNQUQWKP722KSODDZFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMELCNQDB7PWIZOQKXYGFRDG2R3MHS4BKBZYCXLW7XOCKD24NPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPFMNBXC2NHVP6DTKTLQX35VFYRMIBKYJ75L4H2Z63YJX6CGKGQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SUXZNB4SWNKNVKT7EIYTTDRLEOGQ7MVERNZRVLSAPAV5C27SBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWTYIM5O2E4AS76BHVSZVHS6BK5AQ4E2PK34UWCE5L2CKX4MPQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MSKCK5AQNFP5XMUDZHXGRJSJ3HHIYJ7BCOF2P4B5P53LWV5YR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNN557MDTTD46XS6FV3KYRMZMUON2MWQNCKPPGJBTBOGKKR44YPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKH76KGYSGUFL3BW3B2XJD55ZWAQ73U6U2O3P52RHN426BBNJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPSZBPXSAJORDQRCJJCWNKZ4PYTDAKOSGEKIWU3CRKAU7MR3VYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js"
            ]
        },
        "RegisterGitHubToken": {
            "input": {
                "type": "structure",
                "members": {
                    "applicationName": {},
                    "token": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTF7BJGJGGYW4LJWJ6AR7SAQ2SJXR6X7IJ63ZTKHVX2V7JAX3OBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJOBAZOUPUKSI7TLDME6EHD5PAJWI3PQ5EIXZ5RHV34BQD5CQ2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLL4AWFTPG4GRKZMIE4W7RHUDYTBRVTVD366QYYKY2HTDQCTPDEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTMUYQTYBRYUNCSILWGSGMGZXS2ZPZFGNGZXZ7RX6DLL7MAMCX5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AT3W5EY5YS5MRBGHMC2B37TRZ6JV7VM2U4C7GUMSSNXCYDHPCTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6VCJRW44EEDXVAA7X2YRWYBAARD2BNG3PRD23NDNTQ4AF5NGU2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEDRUMRS2KPTR5XYPPAB4IIQE7ZOJBPBRUMAJI2Z62CVISIPXT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3TDBTHZVHDRQCONZFM2B62HCWIQMWMFSFWY6J7DAB7LNCUTZICA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UC2V57L5VZC4L2PVNBRF7DQNNMQVUZA3TUU35IDCOAUNOO3V4SNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZMVDAOUI6Y4KO57PB7R3UCLAEX74J4RQLYPIX6DP7ZUOLJPZ3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6MJ4GT3HW5TPB4ZMIJ4XFYMBLH6HKZWI56NUXZE2ZQXKJ2S4NKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFU7SSFYV3J7WMREFIJAAY3EVK5BJTDXLNQUQWKP722KSODDZFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMELCNQDB7PWIZOQKXYGFRDG2R3MHS4BKBZYCXLW7XOCKD24NPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPFMNBXC2NHVP6DTKTLQX35VFYRMIBKYJ75L4H2Z63YJX6CGKGQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SUXZNB4SWNKNVKT7EIYTTDRLEOGQ7MVERNZRVLSAPAV5C27SBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWTYIM5O2E4AS76BHVSZVHS6BK5AQ4E2PK34UWCE5L2CKX4MPQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MSKCK5AQNFP5XMUDZHXGRJSJ3HHIYJ7BCOF2P4B5P53LWV5YR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNN557MDTTD46XS6FV3KYRMZMUON2MWQNCKPPGJBTBOGKKR44YPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKH76KGYSGUFL3BW3B2XJD55ZWAQ73U6U2O3P52RHN426BBNJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPSZBPXSAJORDQRCJJCWNKZ4PYTDAKOSGEKIWU3CRKAU7MR3VYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js"
            ]
        }
    },
    "shapes": {}
}