{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-09-22",
        "endpointPrefix": "codeartifact",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "CodeArtifact",
        "serviceId": "codeartifact",
        "signatureVersion": "v4",
        "signingName": "codeartifact",
        "uid": "codeartifact-2018-09-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5O4DYGA7NSGGYLQ3DNNG7SXLW6XEPKJDBWGCOJLS4UU6D3ACE2HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateExternalConnection": {
            "http": {
                "requestUri": "/v1/repository/external-connection"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "externalConnection"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "externalConnection": {
                        "location": "querystring",
                        "locationName": "external-connection"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CopyPackageVersions": {
            "http": {
                "requestUri": "/v1/package/versions/copy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "sourceRepository",
                    "destinationRepository",
                    "format",
                    "package"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "sourceRepository": {
                        "location": "querystring",
                        "locationName": "source-repository"
                    },
                    "destinationRepository": {
                        "location": "querystring",
                        "locationName": "destination-repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "versions": {
                        "shape": "Sj"
                    },
                    "versionRevisions": {
                        "shape": "Sl"
                    },
                    "allowOverwrite": {
                        "type": "boolean"
                    },
                    "includeFromUpstream": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulVersions": {
                        "shape": "Sp"
                    },
                    "failedVersions": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateDomain": {
            "http": {
                "requestUri": "/v1/domain"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "encryptionKey": {},
                    "tags": {
                        "shape": "Sy"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateRepository": {
            "http": {
                "requestUri": "/v1/repository"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "description": {},
                    "upstreams": {
                        "shape": "S19"
                    },
                    "tags": {
                        "shape": "Sy"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteDomain": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/domain"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteDomainPermissionsPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/domain/permissions/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "policyRevision": {
                        "location": "querystring",
                        "locationName": "policy-revision"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeletePackageVersions": {
            "http": {
                "requestUri": "/v1/package/versions/delete"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package",
                    "versions"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "versions": {
                        "shape": "Sj"
                    },
                    "expectedStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulVersions": {
                        "shape": "Sp"
                    },
                    "failedVersions": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteRepository": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/repository"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteRepositoryPermissionsPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/repository/permissions/policies"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "policyRevision": {
                        "location": "querystring",
                        "locationName": "policy-revision"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeDomain": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/domain"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribePackage": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/package"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "package"
                ],
                "members": {
                    "package": {
                        "type": "structure",
                        "members": {
                            "format": {},
                            "namespace": {},
                            "name": {},
                            "originConfiguration": {
                                "shape": "S1u"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTQWTQBNBK4GZZ2BKTKFPDVDIU4TBZEG24R63H2UCFPHYGE2ZGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TK2MFIURSQY4JD3G5IS3ARSU7DTSC2KRTULH3IT67K6NCBLH6LPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O4DYGA7NSGGYLQ3DNNG7SXLW6XEPKJDBWGCOJLS4UU6D3ACE2HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "DescribePackageVersion": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/package/version"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package",
                    "packageVersion"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "packageVersion": {
                        "location": "querystring",
                        "locationName": "version"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "packageVersion"
                ],
                "members": {
                    "packageVersion": {
                        "type": "structure",
                        "members": {
                            "format": {},
                            "namespace": {},
                            "packageName": {},
                            "displayName": {},
                            "version": {},
                            "summary": {},
                            "homePage": {},
                            "sourceCodeRepository": {},
                            "publishedTime": {
                                "type": "timestamp"
                            },
                            "licenses": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "name": {},
                                        "url": {}
                                    }
                                }
                            },
                            "revision": {},
                            "status": {},
                            "origin": {
                                "shape": "S24"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeRepository": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/repository"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DisassociateExternalConnection": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/repository/external-connection"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "externalConnection"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "externalConnection": {
                        "location": "querystring",
                        "locationName": "external-connection"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DisposePackageVersions": {
            "http": {
                "requestUri": "/v1/package/versions/dispose"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package",
                    "versions"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "versions": {
                        "shape": "Sj"
                    },
                    "versionRevisions": {
                        "shape": "Sl"
                    },
                    "expectedStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulVersions": {
                        "shape": "Sp"
                    },
                    "failedVersions": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "GetAuthorizationToken": {
            "http": {
                "requestUri": "/v1/authorization-token"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "durationSeconds": {
                        "location": "querystring",
                        "locationName": "duration",
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "authorizationToken": {},
                    "expiration": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "GetDomainPermissionsPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/domain/permissions/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "GetPackageVersionAsset": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/package/version/asset"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package",
                    "packageVersion",
                    "asset"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "packageVersion": {
                        "location": "querystring",
                        "locationName": "version"
                    },
                    "asset": {
                        "location": "querystring",
                        "locationName": "asset"
                    },
                    "packageVersionRevision": {
                        "location": "querystring",
                        "locationName": "revision"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "asset": {
                        "type": "blob",
                        "streaming": true
                    },
                    "assetName": {
                        "location": "header",
                        "locationName": "X-AssetName"
                    },
                    "packageVersion": {
                        "location": "header",
                        "locationName": "X-PackageVersion"
                    },
                    "packageVersionRevision": {
                        "location": "header",
                        "locationName": "X-PackageVersionRevision"
                    }
                },
                "payload": "asset"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "GetPackageVersionReadme": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/package/version/readme"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package",
                    "packageVersion"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "packageVersion": {
                        "location": "querystring",
                        "locationName": "version"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "format": {},
                    "namespace": {},
                    "package": {},
                    "version": {},
                    "versionRevision": {},
                    "readme": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "GetRepositoryEndpoint": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/repository/endpoint"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repositoryEndpoint": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "GetRepositoryPermissionsPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/repository/permissions/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListDomains": {
            "http": {
                "requestUri": "/v1/domains"
            },
[...]
