{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-08-08",
        "endpointPrefix": "codedeploy",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "CodeDeployGitHub",
        "serviceFullName": "AWS CodeDeploy GitHub Service",
        "serviceId": "CodeDeploy",
        "signatureVersion": "v4",
        "targetPrefix": "CodeDeployGitHub_20141006",
        "uid": "codedeploygithub-2018-08-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLGVCFSZTA2UT7CORS35RK5ZKFO44AAHXI4UBPKKOOSHSPIKKB6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X6HKHTO4KNE4ITY4Z2HWE5ZNYI536LHGMCBFOAYFN3M5663L3N4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HPCH5DHAGQTCZNAT2264LWHNBYIMQXZMGRSQWQTZGAH365TE6ULA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LAYRMWFFQ7BDVSFNCVA455SMMZFZTTIUL6IKODC2HUHC47DMAFVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RK5VM2NRZTTZBB2WIM6F5EHC5VSOEFMHOQ2D3CEP3IZ2AFTF7ATA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SMEDOW5AFT6IQ4CAHDD6LRHJD6KOTUD7WT3P2QFVIFFAZ5X27YYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZCY3W4ICCLABRKRXXF3M3UATF2RW4JZ3H7WV5JMRFDNPRGAGSQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPVZWQPYL7XCNROFAA5KZUDP23DXOMQMCQA5ZOHUXJ6BAIJDRC3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OC6UE25LSJELO2HCVBRPFAPKGKTTC5SY4XRNARDMYHLSSNAVRSZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZPHKW25DLNHVOGYWCYTTKKDX3U7SLYGBUUFWA5KQXNFP6ARKQKFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7MUZE54RHQDV2XTLVCR2T4LI2MVNUKB4D6YQNLGB4Q7FMR4NAKAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YAZ7PYL2YWXE2UY2DGMV4RXRDWHF2FTMTHOFRRE6NR3IZYEGBFYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JWXSBLE4IVALFR6RB2T4C4R4NAZGEFFK3PVXNHEXT64LNCUV6T7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YY7LZACFPBWGOYI6SH3QMOBBGVADKFL4TYBXKWLGSH2T3DKA5I4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TXEEI67G3FHEFEXZCD2PMRLBKUC2AHVXLVMACRVMMBPURED3PXZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GPA7KF2UV427YRUHLK2APKEQYUK3J2UTNXMTJ6ISAOIKSH6OFJ6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IRFR3SOXLHBN3YF4J3UPOK65JVRZOWDQUEI7JOOLZSO5P54NFAJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UP2XBQR3WPXIV6B3XLNFNSSKQV33LDPRR73WDPQKMDEZVDQNX4EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js"
        ]
    },
    "operations": {
        "BindGitHubAccountTokenToApplication": {
            "input": {
                "type": "structure",
                "members": {
                    "applicationName": {},
                    "tokenName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tokenName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6HKHTO4KNE4ITY4Z2HWE5ZNYI536LHGMCBFOAYFN3M5663L3N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPCH5DHAGQTCZNAT2264LWHNBYIMQXZMGRSQWQTZGAH365TE6ULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAYRMWFFQ7BDVSFNCVA455SMMZFZTTIUL6IKODC2HUHC47DMAFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK5VM2NRZTTZBB2WIM6F5EHC5VSOEFMHOQ2D3CEP3IZ2AFTF7ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMEDOW5AFT6IQ4CAHDD6LRHJD6KOTUD7WT3P2QFVIFFAZ5X27YYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZCY3W4ICCLABRKRXXF3M3UATF2RW4JZ3H7WV5JMRFDNPRGAGSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPVZWQPYL7XCNROFAA5KZUDP23DXOMQMCQA5ZOHUXJ6BAIJDRC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OC6UE25LSJELO2HCVBRPFAPKGKTTC5SY4XRNARDMYHLSSNAVRSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPHKW25DLNHVOGYWCYTTKKDX3U7SLYGBUUFWA5KQXNFP6ARKQKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MUZE54RHQDV2XTLVCR2T4LI2MVNUKB4D6YQNLGB4Q7FMR4NAKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAZ7PYL2YWXE2UY2DGMV4RXRDWHF2FTMTHOFRRE6NR3IZYEGBFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWXSBLE4IVALFR6RB2T4C4R4NAZGEFFK3PVXNHEXT64LNCUV6T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY7LZACFPBWGOYI6SH3QMOBBGVADKFL4TYBXKWLGSH2T3DKA5I4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXEEI67G3FHEFEXZCD2PMRLBKUC2AHVXLVMACRVMMBPURED3PXZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPA7KF2UV427YRUHLK2APKEQYUK3J2UTNXMTJ6ISAOIKSH6OFJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRFR3SOXLHBN3YF4J3UPOK65JVRZOWDQUEI7JOOLZSO5P54NFAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP2XBQR3WPXIV6B3XLNFNSSKQV33LDPRR73WDPQKMDEZVDQNX4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js"
            ]
        },
        "RegisterGitHubAccountToken": {
            "input": {
                "type": "structure",
                "members": {
                    "tokenName": {},
                    "authToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tokenName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6HKHTO4KNE4ITY4Z2HWE5ZNYI536LHGMCBFOAYFN3M5663L3N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPCH5DHAGQTCZNAT2264LWHNBYIMQXZMGRSQWQTZGAH365TE6ULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAYRMWFFQ7BDVSFNCVA455SMMZFZTTIUL6IKODC2HUHC47DMAFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK5VM2NRZTTZBB2WIM6F5EHC5VSOEFMHOQ2D3CEP3IZ2AFTF7ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMEDOW5AFT6IQ4CAHDD6LRHJD6KOTUD7WT3P2QFVIFFAZ5X27YYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZCY3W4ICCLABRKRXXF3M3UATF2RW4JZ3H7WV5JMRFDNPRGAGSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPVZWQPYL7XCNROFAA5KZUDP23DXOMQMCQA5ZOHUXJ6BAIJDRC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OC6UE25LSJELO2HCVBRPFAPKGKTTC5SY4XRNARDMYHLSSNAVRSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPHKW25DLNHVOGYWCYTTKKDX3U7SLYGBUUFWA5KQXNFP6ARKQKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MUZE54RHQDV2XTLVCR2T4LI2MVNUKB4D6YQNLGB4Q7FMR4NAKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAZ7PYL2YWXE2UY2DGMV4RXRDWHF2FTMTHOFRRE6NR3IZYEGBFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWXSBLE4IVALFR6RB2T4C4R4NAZGEFFK3PVXNHEXT64LNCUV6T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY7LZACFPBWGOYI6SH3QMOBBGVADKFL4TYBXKWLGSH2T3DKA5I4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXEEI67G3FHEFEXZCD2PMRLBKUC2AHVXLVMACRVMMBPURED3PXZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPA7KF2UV427YRUHLK2APKEQYUK3J2UTNXMTJ6ISAOIKSH6OFJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRFR3SOXLHBN3YF4J3UPOK65JVRZOWDQUEI7JOOLZSO5P54NFAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP2XBQR3WPXIV6B3XLNFNSSKQV33LDPRR73WDPQKMDEZVDQNX4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js"
            ]
        },
        "RegisterGitHubToken": {
            "input": {
                "type": "structure",
                "members": {
                    "applicationName": {},
                    "token": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6HKHTO4KNE4ITY4Z2HWE5ZNYI536LHGMCBFOAYFN3M5663L3N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPCH5DHAGQTCZNAT2264LWHNBYIMQXZMGRSQWQTZGAH365TE6ULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAYRMWFFQ7BDVSFNCVA455SMMZFZTTIUL6IKODC2HUHC47DMAFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK5VM2NRZTTZBB2WIM6F5EHC5VSOEFMHOQ2D3CEP3IZ2AFTF7ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMEDOW5AFT6IQ4CAHDD6LRHJD6KOTUD7WT3P2QFVIFFAZ5X27YYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZCY3W4ICCLABRKRXXF3M3UATF2RW4JZ3H7WV5JMRFDNPRGAGSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPVZWQPYL7XCNROFAA5KZUDP23DXOMQMCQA5ZOHUXJ6BAIJDRC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OC6UE25LSJELO2HCVBRPFAPKGKTTC5SY4XRNARDMYHLSSNAVRSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPHKW25DLNHVOGYWCYTTKKDX3U7SLYGBUUFWA5KQXNFP6ARKQKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MUZE54RHQDV2XTLVCR2T4LI2MVNUKB4D6YQNLGB4Q7FMR4NAKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAZ7PYL2YWXE2UY2DGMV4RXRDWHF2FTMTHOFRRE6NR3IZYEGBFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWXSBLE4IVALFR6RB2T4C4R4NAZGEFFK3PVXNHEXT64LNCUV6T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY7LZACFPBWGOYI6SH3QMOBBGVADKFL4TYBXKWLGSH2T3DKA5I4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXEEI67G3FHEFEXZCD2PMRLBKUC2AHVXLVMACRVMMBPURED3PXZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPA7KF2UV427YRUHLK2APKEQYUK3J2UTNXMTJ6ISAOIKSH6OFJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRFR3SOXLHBN3YF4J3UPOK65JVRZOWDQUEI7JOOLZSO5P54NFAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP2XBQR3WPXIV6B3XLNFNSSKQV33LDPRR73WDPQKMDEZVDQNX4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js"
            ]
        }
    },
    "shapes": {}
}