{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-06-15",
        "endpointPrefix": "codewhisperer",
        "jsonVersion": "1.0",
        "protocol": "json",
        "region": "us-east-1",
        "serviceAbbreviation": "CodeWhisperer",
        "serviceFullName": "AWS CodeWhisperer",
        "serviceId": "CodeWhisperer",
        "signatureVersion": "v4",
        "signingName": "codewhisperer",
        "targetPrefix": "AWSCodeWhispererService",
        "uid": "codewhisperer-2022-06-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ASV5VBBKXDQQEXFGF6A2OS7HQWX6SSEU5RIMA7C5IXT4FD3XIVOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
        ]
    },
    "operations": {
        "CreateCodeScan": {
            "input": {
                "type": "structure",
                "required": [
                    "artifacts",
                    "programmingLanguage"
                ],
                "members": {
                    "artifacts": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "programmingLanguage": {
                        "shape": "S5"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "errorMessage": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js"
            ]
        },
        "CreateUploadUrl": {
            "input": {
                "type": "structure",
                "required": [
                    "contentMd5",
                    "artifactType"
                ],
                "members": {
                    "contentMd5": {},
                    "artifactType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "uploadId",
                    "uploadUrl"
                ],
                "members": {
                    "uploadId": {},
                    "uploadUrl": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js"
            ]
        },
        "GenerateRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "fileContext"
                ],
                "members": {
                    "fileContext": {
                        "shape": "Sh"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "referenceTrackerConfiguration": {
                        "shape": "Sm"
                    },
                    "supplementalContexts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "filePath",
                                "content"
                            ],
                            "members": {
                                "filePath": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "content": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendations": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "GetAccessToken": {
            "input": {
                "type": "structure",
                "required": [
                    "identityToken"
                ],
                "members": {
                    "identityToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accessToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js"
            ]
        },
        "GetCodeScan": {
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {},
                    "errorMessage": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js"
            ]
        },
        "ListCodeScanFindings": {
            "input": {
                "type": "structure",
                "required": [
                    "jobId",
                    "codeScanFindingsSchema"
                ],
                "members": {
                    "jobId": {},
                    "nextToken": {},
                    "codeScanFindingsSchema": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "codeScanFindings"
                ],
                "members": {
                    "nextToken": {},
                    "codeScanFindings": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js"
            ]
        },
        "ListRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "fileContext"
                ],
                "members": {
                    "fileContext": {
                        "shape": "Sh"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendations": {
                        "shape": "Sn"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js"
            ]
        },
        "CreateProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "identitySource",
                    "profileName",
                    "referenceTrackerConfiguration"
                ],
                "members": {
                    "identitySource": {
                        "type": "structure",
                        "members": {
                            "ssoIdentitySource": {
                                "type": "structure",
                                "required": [
                                    "instanceArn"
                                ],
                                "members": {
                                    "instanceArn": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "profileName": {},
                    "referenceTrackerConfiguration": {
                        "shape": "S6"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "kmsKeyArn": {},
                    "tags": {
                        "shape": "S9"
                    },
                    "activeFunctionalities": {
                        "shape": "Sw"
                    },
                    "resourcePolicy": {
                        "shape": "Sy"
                    },
                    "optInFeatures": {
                        "shape": "S10"
                    },
                    "description": {},
                    "profileType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profileArn"
                ],
                "members": {
                    "profileArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeleteProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "profileArn"
                ],
                "members": {
                    "profileArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "ListProfiles": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "includeManagementAccount": {
                        "type": "boolean"
                    },
                    "optInFeaturesType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profiles"
                ],
                "members": {
                    "profiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "identityDetails",
                                "profileName",
                                "referenceTrackerConfiguration"
                            ],
                            "members": {
                                "arn": {},
                                "identityDetails": {
                                    "type": "structure",
                                    "members": {
                                        "ssoIdentityDetails": {
                                            "type": "structure",
                                            "required": [
                                                "instanceArn",
                                                "oidcClientId"
                                            ],
                                            "members": {
                                                "instanceArn": {},
                                                "oidcClientId": {}
                                            }
                                        }
                                    },
                                    "union": true
                                },
                                "profileName": {},
                                "referenceTrackerConfiguration": {
                                    "shape": "S6"
                                },
                                "kmsKeyArn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {},
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {},
                    "tagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "UpdateProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "profileArn"
                ],
                "members": {
                    "profileArn": {},
                    "profileName": {},
                    "referenceTrackerConfiguration": {
                        "shape": "S6"
                    },
                    "kmsKeyArn": {},
                    "activeFunctionalities": {
                        "shape": "Sw"
                    },
                    "resourcePolicy": {
                        "shape": "Sy"
                    },
                    "targetProfileType": {},
                    "optInFeatures": {
                        "shape": "S10"
                    },
                    "identitySource": {
                        "shape": "Ss"
                    },
                    "description": {},
                    "optInFeaturesType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profileArn"
                ],
                "members": {
                    "profileArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "ActivateCustomization": {
            "input": {
                "type": "structure",
                "required": [
                    "customizationArn"
                ],
                "members": {
                    "customizationArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRAZGBDDU47IIJJOZRAN4XGDQ6PX5BPDFRBMVJUQ4FKPBI6COPNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js"
            ]
        },
        "CreateCustomization": {
            "input": {
                "type": "structure",
                "required": [
                    "dataReference",
                    "customizationConfiguration"
                ],
                "members": {
                    "dataReference": {
                        "shape": "S6"
                    },
                    "customizationConfiguration": {
                        "shape": "Sa"
                    },
                    "tags": {
                        "shape": "Sd"
                    },
                    "clientToken": {},
                    "customizationName": {},
                    "description": {},
                    "profileArn": {},
                    "includeRepos": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "customizationArn"
                ],
                "members": {
                    "customizationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeactivateCustomization": {
            "input": {
                "type": "structure",
                "required": [
                    "customizationArn"
                ],
                "members": {
                    "customizationArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRAZGBDDU47IIJJOZRAN4XGDQ6PX5BPDFRBMVJUQ4FKPBI6COPNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js"
            ]
        },
        "GetCustomization": {
            "input": {
                "type": "structure",
                "required": [
                    "customizationArn"
                ],
                "members": {
                    "customizationArn": {},
                    "identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "customization"
                ],
                "members": {
                    "customization": {
                        "shape": "S1o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "ListCustomizations": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "customizations"
                ],
                "members": {
                    "customizations": {
                        "type": "list",
                        "member": {
                            "shape": "S1o"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "AssociateCustomizationPermission": {
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "permission"
                ],
                "members": {
                    "identifier": {},
                    "permission": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DisassociateCustomizationPermission": {
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "permission"
                ],
                "members": {
                    "identifier": {},
                    "permission": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "ListCustomizationPermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "permissions"
                ],
                "members": {
                    "permissions": {
                        "type": "list",
                        "member": {
                            "shape": "S3"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "UpdateCustomization": {
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "operation"
                ],
                "members": {
                    "identifier": {},
                    "operation": {},
                    "clientToken": {},
                    "dataReference": {
                        "shape": "S7"
                    },
                    "version": {
                        "type": "long"
                    },
                    "includeRepos": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeleteCustomization": {
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "AllowVendedLogDeliveryForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArnBeingAuthorized",
                    "deliverySourceArn"
                ],
                "members": {
                    "resourceArnBeingAuthorized": {},
                    "deliverySourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "ListCustomizationVersions": {
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "versions"
                ],
                "members": {
                    "versions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "version",
                                "status",
                                "dataReference",
                                "updatedAt"
                            ],
                            "members": {
                                "version": {
                                    "type": "long"
                                },
                                "status": {},
                                "dataReference": {
                                    "shape": "Sb"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                },
                                "evaluationMetrics": {
                                    "shape": "S1y"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "AssociateConnectorResource": {
            "input": {
                "type": "structure",
                "required": [
                    "connectorId",
                    "resource"
                ],
                "members": {
                    "connectorId": {},
                    "resource": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "connectorId",
                    "connectorName",
                    "connectorType",
                    "accountConnection"
                ],
                "members": {
                    "connectorId": {},
                    "connectorName": {},
                    "connectorType": {},
                    "accountConnection": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "GetConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "connectorId"
                ],
                "members": {
                    "connectorId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "connectorId",
                    "workspaceId",
                    "workspaceName",
                    "connectorName",
                    "userId",
                    "sourceAccount",
                    "description",
                    "connectorType",
                    "accountConnection",
                    "connectorConfiguration"
                ],
                "members": {
                    "connectorId": {},
                    "workspaceId": {},
                    "workspaceName": {},
                    "connectorName": {},
                    "userId": {},
                    "sourceAccount": {},
                    "description": {},
                    "connectorType": {},
                    "accountConnection": {
                        "shape": "Sb"
                    },
                    "connectorConfiguration": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "RejectConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "connectorId"
                ],
                "members": {
                    "connectorId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "connectorId",
                    "connectorName",
                    "connectorType",
                    "accountConnection"
                ],
                "members": {
                    "connectorId": {},
                    "connectorName": {},
                    "connectorType": {},
                    "accountConnection": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "ListDashboardMetrics": {
            "input": {
                "type": "structure",
                "members": {
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "metrics"
                ],
                "members": {
                    "metrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "dimensions"
                            ],
                            "members": {
                                "dimensions": {
                                    "type": "structure",
                                    "required": [
                                        "programmingLanguage",
                                        "ideCategory",
                                        "customizationArn"
                                    ],
                                    "members": {
                                        "programmingLanguage": {
                                            "shape": "S1u"
                                        },
                                        "ideCategory": {},
                                        "customizationArn": {}
                                    }
                                },
                                "chatMetrics": {
                                    "type": "structure",
                                    "required": [
                                        "messagesSent"
                                    ],
                                    "members": {
                                        "messagesSent": {
                                            "type": "long"
                                        },
                                        "messagesInteracted": {
                                            "type": "long"
                                        },
                                        "aiCodeLines": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "InlineMetrics": {
                                    "type": "structure",
                                    "required": [
                                        "suggestionsCount"
                                    ],
                                    "members": {
                                        "suggestionsCount": {
[...]
