{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-12-01",
        "endpointPrefix": "codestar-connections",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS CodeStar connections",
        "serviceId": "CodeStar connections",
        "signatureVersion": "v4",
        "signingName": "codestar-connections",
        "targetPrefix": "com.amazonaws.codestar.connections.CodeStar_connections_20191201",
        "uid": "codestar-connections-2019-12-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/BHD2DMGR5OGY3WAQACX5PXF5B7VIU4JJNQCAL6VI6WF6P62PPWHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
        ]
    },
    "operations": {
        "CreateConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionName"
                ],
                "members": {
                    "ProviderType": {},
                    "ConnectionName": {},
                    "Tags": {
                        "shape": "S4"
                    },
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "CreateHost": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ProviderType",
                    "ProviderEndpoint"
                ],
                "members": {
                    "Name": {},
                    "ProviderType": {},
                    "ProviderEndpoint": {},
                    "VpcConfiguration": {
                        "shape": "Se"
                    },
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HostArn": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHD2DMGR5OGY3WAQACX5PXF5B7VIU4JJNQCAL6VI6WF6P62PPWHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DeleteConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DeleteHost": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHD2DMGR5OGY3WAQACX5PXF5B7VIU4JJNQCAL6VI6WF6P62PPWHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "GetConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connection": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "GetHost": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Status": {},
                    "ProviderType": {},
                    "ProviderEndpoint": {},
                    "VpcConfiguration": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHD2DMGR5OGY3WAQACX5PXF5B7VIU4JJNQCAL6VI6WF6P62PPWHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "ListConnections": {
            "input": {
                "type": "structure",
                "members": {
                    "ProviderTypeFilter": {},
                    "HostArnFilter": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connections": {
                        "type": "list",
                        "member": {
                            "shape": "Ss"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "ListHosts": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Hosts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "HostArn": {},
                                "ProviderType": {},
                                "ProviderEndpoint": {},
                                "VpcConfiguration": {
                                    "shape": "Se"
                                },
                                "Status": {},
                                "StatusMessage": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHD2DMGR5OGY3WAQACX5PXF5B7VIU4JJNQCAL6VI6WF6P62PPWHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHD2DMGR5OGY3WAQACX5PXF5B7VIU4JJNQCAL6VI6WF6P62PPWHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHD2DMGR5OGY3WAQACX5PXF5B7VIU4JJNQCAL6VI6WF6P62PPWHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHD2DMGR5OGY3WAQACX5PXF5B7VIU4JJNQCAL6VI6WF6P62PPWHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "UpdateHost": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {},
                    "ProviderEndpoint": {},
                    "VpcConfiguration": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHD2DMGR5OGY3WAQACX5PXF5B7VIU4JJNQCAL6VI6WF6P62PPWHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "CreateCommitStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "CommitId",
                            "State"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "CommitId": {},
                            "State": {},
                            "TargetUrl": {},
                            "Description": {},
                            "Context": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FullRepositoryId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLLYMW7H6CTYVAJKL5HYYXXUNWRVNDQTPFK5LVOURXYPGMSFZR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SA3KX2M7CWT4AEW6AMWYFC7GHIIINMR4AM6XVHJBQGTQKSASHIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VICHJDIJLBN7SZPSM4DNRVJQWQGSEIDVRJ6I6USLARKDS3OZ5LMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWWALG6U2AXKDQ6E5CKZ6V5KYRVOJR4XAQVBE7HBAKTUAA4VZE5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHPKAIIMCS2IS25JQ7M4SFFBK5BO75T2JHRC454OHLCO7SDKFSJA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLLG72NDUECASOSKPRODWUGI2XKDYYSKBJFFNL6EOIX35VDNKK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG6SNHYDABSG2GZM5WKXIWIAGVXYYGB6E3RNBVJ5DVS6EUIZZXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J22ZZT3IQCEKVIG7DSF2NGZSO7VW4SNPLOH3KZ7VUMXGZ5Q2QCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD6BT37K7K5ORE6PYYQ4TSN4OBSSJEH7QMG63XU2L2ZDXO3UVJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7JGLNZBUDR6TNGDC4ADX7JVTVARVELAWCVOWPWZOAYWFR47BTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5PRJRKNWAZWC4P7BSNBI5KCBYTHN5VOMIN4QBCL7MV5XOPSMLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "CreateInstallationData": {
            "input": {
                "type": "structure",
                "required": [
                    "ProviderType",
                    "InstallationId"
                ],
                "members": {
                    "ProviderType": {},
                    "InstallationId": {},
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InstanceId"
                ],
                "members": {
                    "InstanceId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SA3KX2M7CWT4AEW6AMWYFC7GHIIINMR4AM6XVHJBQGTQKSASHIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VICHJDIJLBN7SZPSM4DNRVJQWQGSEIDVRJ6I6USLARKDS3OZ5LMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWWALG6U2AXKDQ6E5CKZ6V5KYRVOJR4XAQVBE7HBAKTUAA4VZE5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHPKAIIMCS2IS25JQ7M4SFFBK5BO75T2JHRC454OHLCO7SDKFSJA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLLG72NDUECASOSKPRODWUGI2XKDYYSKBJFFNL6EOIX35VDNKK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG6SNHYDABSG2GZM5WKXIWIAGVXYYGB6E3RNBVJ5DVS6EUIZZXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J22ZZT3IQCEKVIG7DSF2NGZSO7VW4SNPLOH3KZ7VUMXGZ5Q2QCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD6BT37K7K5ORE6PYYQ4TSN4OBSSJEH7QMG63XU2L2ZDXO3UVJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7JGLNZBUDR6TNGDC4ADX7JVTVARVELAWCVOWPWZOAYWFR47BTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5PRJRKNWAZWC4P7BSNBI5KCBYTHN5VOMIN4QBCL7MV5XOPSMLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "CreatePullRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "Title",
                            "SourceBranchName",
                            "DestinationBranchName"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "Title": {},
                            "Body": {},
                            "SourceBranchName": {},
                            "DestinationBranchName": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PullRequest"
                ],
                "members": {
                    "PullRequest": {
                        "shape": "S15"
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLLYMW7H6CTYVAJKL5HYYXXUNWRVNDQTPFK5LVOURXYPGMSFZR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SA3KX2M7CWT4AEW6AMWYFC7GHIIINMR4AM6XVHJBQGTQKSASHIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VICHJDIJLBN7SZPSM4DNRVJQWQGSEIDVRJ6I6USLARKDS3OZ5LMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWWALG6U2AXKDQ6E5CKZ6V5KYRVOJR4XAQVBE7HBAKTUAA4VZE5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHPKAIIMCS2IS25JQ7M4SFFBK5BO75T2JHRC454OHLCO7SDKFSJA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLLG72NDUECASOSKPRODWUGI2XKDYYSKBJFFNL6EOIX35VDNKK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG6SNHYDABSG2GZM5WKXIWIAGVXYYGB6E3RNBVJ5DVS6EUIZZXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J22ZZT3IQCEKVIG7DSF2NGZSO7VW4SNPLOH3KZ7VUMXGZ5Q2QCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD6BT37K7K5ORE6PYYQ4TSN4OBSSJEH7QMG63XU2L2ZDXO3UVJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7JGLNZBUDR6TNGDC4ADX7JVTVARVELAWCVOWPWZOAYWFR47BTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5PRJRKNWAZWC4P7BSNBI5KCBYTHN5VOMIN4QBCL7MV5XOPSMLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "CreatePullRequestDiffComment": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "PullRequestId",
                            "CommitId",
                            "Body",
                            "FilePath"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "PullRequestId": {},
                            "CommitId": {},
                            "DestinationCommitId": {},
                            "Body": {},
                            "FilePath": {},
                            "FileLineStart": {
                                "type": "integer"
                            },
                            "FileLineEnd": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CommentId"
                ],
                "members": {
                    "CommentId": {},
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SA3KX2M7CWT4AEW6AMWYFC7GHIIINMR4AM6XVHJBQGTQKSASHIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VICHJDIJLBN7SZPSM4DNRVJQWQGSEIDVRJ6I6USLARKDS3OZ5LMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWWALG6U2AXKDQ6E5CKZ6V5KYRVOJR4XAQVBE7HBAKTUAA4VZE5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHPKAIIMCS2IS25JQ7M4SFFBK5BO75T2JHRC454OHLCO7SDKFSJA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLLG72NDUECASOSKPRODWUGI2XKDYYSKBJFFNL6EOIX35VDNKK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG6SNHYDABSG2GZM5WKXIWIAGVXYYGB6E3RNBVJ5DVS6EUIZZXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J22ZZT3IQCEKVIG7DSF2NGZSO7VW4SNPLOH3KZ7VUMXGZ5Q2QCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD6BT37K7K5ORE6PYYQ4TSN4OBSSJEH7QMG63XU2L2ZDXO3UVJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7JGLNZBUDR6TNGDC4ADX7JVTVARVELAWCVOWPWZOAYWFR47BTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5PRJRKNWAZWC4P7BSNBI5KCBYTHN5VOMIN4QBCL7MV5XOPSMLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "CreateRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "OwnerId",
                            "RepositoryName",
                            "Private",
                            "EnableIssues",
                            "Description"
                        ],
                        "members": {
                            "OwnerId": {},
                            "RepositoryName": {},
                            "Private": {
                                "type": "boolean"
                            },
                            "EnableIssues": {
                                "type": "boolean"
                            },
                            "Description": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FullRepositoryId"
                ],
                "members": {
                    "FullRepositoryId": {},
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SA3KX2M7CWT4AEW6AMWYFC7GHIIINMR4AM6XVHJBQGTQKSASHIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VICHJDIJLBN7SZPSM4DNRVJQWQGSEIDVRJ6I6USLARKDS3OZ5LMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWWALG6U2AXKDQ6E5CKZ6V5KYRVOJR4XAQVBE7HBAKTUAA4VZE5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHPKAIIMCS2IS25JQ7M4SFFBK5BO75T2JHRC454OHLCO7SDKFSJA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLLG72NDUECASOSKPRODWUGI2XKDYYSKBJFFNL6EOIX35VDNKK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG6SNHYDABSG2GZM5WKXIWIAGVXYYGB6E3RNBVJ5DVS6EUIZZXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J22ZZT3IQCEKVIG7DSF2NGZSO7VW4SNPLOH3KZ7VUMXGZ5Q2QCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD6BT37K7K5ORE6PYYQ4TSN4OBSSJEH7QMG63XU2L2ZDXO3UVJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7JGLNZBUDR6TNGDC4ADX7JVTVARVELAWCVOWPWZOAYWFR47BTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5PRJRKNWAZWC4P7BSNBI5KCBYTHN5VOMIN4QBCL7MV5XOPSMLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DeleteInstallationData": {
            "input": {
                "type": "structure",
                "required": [
                    "ProviderType",
                    "InstallationId"
                ],
                "members": {
                    "ProviderType": {},
                    "InstallationId": {},
                    "HostArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SA3KX2M7CWT4AEW6AMWYFC7GHIIINMR4AM6XVHJBQGTQKSASHIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VICHJDIJLBN7SZPSM4DNRVJQWQGSEIDVRJ6I6USLARKDS3OZ5LMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWWALG6U2AXKDQ6E5CKZ6V5KYRVOJR4XAQVBE7HBAKTUAA4VZE5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHPKAIIMCS2IS25JQ7M4SFFBK5BO75T2JHRC454OHLCO7SDKFSJA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLLG72NDUECASOSKPRODWUGI2XKDYYSKBJFFNL6EOIX35VDNKK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG6SNHYDABSG2GZM5WKXIWIAGVXYYGB6E3RNBVJ5DVS6EUIZZXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J22ZZT3IQCEKVIG7DSF2NGZSO7VW4SNPLOH3KZ7VUMXGZ5Q2QCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD6BT37K7K5ORE6PYYQ4TSN4OBSSJEH7QMG63XU2L2ZDXO3UVJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7JGLNZBUDR6TNGDC4ADX7JVTVARVELAWCVOWPWZOAYWFR47BTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5PRJRKNWAZWC4P7BSNBI5KCBYTHN5VOMIN4QBCL7MV5XOPSMLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DeleteRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId"
                        ],
                        "members": {
                            "FullRepositoryId": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SA3KX2M7CWT4AEW6AMWYFC7GHIIINMR4AM6XVHJBQGTQKSASHIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VICHJDIJLBN7SZPSM4DNRVJQWQGSEIDVRJ6I6USLARKDS3OZ5LMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWWALG6U2AXKDQ6E5CKZ6V5KYRVOJR4XAQVBE7HBAKTUAA4VZE5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHPKAIIMCS2IS25JQ7M4SFFBK5BO75T2JHRC454OHLCO7SDKFSJA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLLG72NDUECASOSKPRODWUGI2XKDYYSKBJFFNL6EOIX35VDNKK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG6SNHYDABSG2GZM5WKXIWIAGVXYYGB6E3RNBVJ5DVS6EUIZZXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J22ZZT3IQCEKVIG7DSF2NGZSO7VW4SNPLOH3KZ7VUMXGZ5Q2QCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD6BT37K7K5ORE6PYYQ4TSN4OBSSJEH7QMG63XU2L2ZDXO3UVJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7JGLNZBUDR6TNGDC4ADX7JVTVARVELAWCVOWPWZOAYWFR47BTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5PRJRKNWAZWC4P7BSNBI5KCBYTHN5VOMIN4QBCL7MV5XOPSMLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "EvaluateHostHealth": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HealthStatus": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SA3KX2M7CWT4AEW6AMWYFC7GHIIINMR4AM6XVHJBQGTQKSASHIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VICHJDIJLBN7SZPSM4DNRVJQWQGSEIDVRJ6I6USLARKDS3OZ5LMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWWALG6U2AXKDQ6E5CKZ6V5KYRVOJR4XAQVBE7HBAKTUAA4VZE5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHPKAIIMCS2IS25JQ7M4SFFBK5BO75T2JHRC454OHLCO7SDKFSJA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLLG72NDUECASOSKPRODWUGI2XKDYYSKBJFFNL6EOIX35VDNKK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG6SNHYDABSG2GZM5WKXIWIAGVXYYGB6E3RNBVJ5DVS6EUIZZXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J22ZZT3IQCEKVIG7DSF2NGZSO7VW4SNPLOH3KZ7VUMXGZ5Q2QCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD6BT37K7K5ORE6PYYQ4TSN4OBSSJEH7QMG63XU2L2ZDXO3UVJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7JGLNZBUDR6TNGDC4ADX7JVTVARVELAWCVOWPWZOAYWFR47BTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5PRJRKNWAZWC4P7BSNBI5KCBYTHN5VOMIN4QBCL7MV5XOPSMLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "GenerateReferenceLink": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "ReferenceType",
                    "Reference"
                ],
                "members": {
                    "ConnectionArn": {},
                    "ReferenceType": {},
                    "Reference": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Link"
                ],
                "members": {
                    "Link": {},
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SA3KX2M7CWT4AEW6AMWYFC7GHIIINMR4AM6XVHJBQGTQKSASHIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VICHJDIJLBN7SZPSM4DNRVJQWQGSEIDVRJ6I6USLARKDS3OZ5LMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWWALG6U2AXKDQ6E5CKZ6V5KYRVOJR4XAQVBE7HBAKTUAA4VZE5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHPKAIIMCS2IS25JQ7M4SFFBK5BO75T2JHRC454OHLCO7SDKFSJA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLLG72NDUECASOSKPRODWUGI2XKDYYSKBJFFNL6EOIX35VDNKK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG6SNHYDABSG2GZM5WKXIWIAGVXYYGB6E3RNBVJ5DVS6EUIZZXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J22ZZT3IQCEKVIG7DSF2NGZSO7VW4SNPLOH3KZ7VUMXGZ5Q2QCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD6BT37K7K5ORE6PYYQ4TSN4OBSSJEH7QMG63XU2L2ZDXO3UVJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7JGLNZBUDR6TNGDC4ADX7JVTVARVELAWCVOWPWZOAYWFR47BTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5PRJRKNWAZWC4P7BSNBI5KCBYTHN5VOMIN4QBCL7MV5XOPSMLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "GetBranch": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "BranchName"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "BranchName": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "LatestCommit",
                    "Capabilities"
                ],
                "members": {
                    "LatestCommit": {
                        "type": "structure",
                        "members": {
                            "CommitId": {},
                            "Message": {},
                            "Date": {
                                "type": "timestamp"
                            },
                            "AuthorDisplayName": {},
                            "AuthorEmail": {},
                            "AuthorId": {}
                        }
                    },
                    "Capabilities": {
                        "shape": "S2j"
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SA3KX2M7CWT4AEW6AMWYFC7GHIIINMR4AM6XVHJBQGTQKSASHIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VICHJDIJLBN7SZPSM4DNRVJQWQGSEIDVRJ6I6USLARKDS3OZ5LMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWWALG6U2AXKDQ6E5CKZ6V5KYRVOJR4XAQVBE7HBAKTUAA4VZE5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHPKAIIMCS2IS25JQ7M4SFFBK5BO75T2JHRC454OHLCO7SDKFSJA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLLG72NDUECASOSKPRODWUGI2XKDYYSKBJFFNL6EOIX35VDNKK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG6SNHYDABSG2GZM5WKXIWIAGVXYYGB6E3RNBVJ5DVS6EUIZZXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J22ZZT3IQCEKVIG7DSF2NGZSO7VW4SNPLOH3KZ7VUMXGZ5Q2QCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD6BT37K7K5ORE6PYYQ4TSN4OBSSJEH7QMG63XU2L2ZDXO3UVJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7JGLNZBUDR6TNGDC4ADX7JVTVARVELAWCVOWPWZOAYWFR47BTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5PRJRKNWAZWC4P7BSNBI5KCBYTHN5VOMIN4QBCL7MV5XOPSMLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "GetCommitDiffs": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "AfterCommitSpecifier"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "BeforeCommitSpecifier": {},
                            "BeforeFilePath": {},
                            "AfterCommitSpecifier": {},
                            "AfterFilePath": {},
                            "NextToken": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CommitDiffs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "BeforeBlob": {
                                    "shape": "S2r"
                                },
                                "AfterBlob": {
                                    "shape": "S2r"
                                },
                                "ChangeType": {}
                            }
                        }
                    },
                    "NextToken": {},
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLLYMW7H6CTYVAJKL5HYYXXUNWRVNDQTPFK5LVOURXYPGMSFZR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SA3KX2M7CWT4AEW6AMWYFC7GHIIINMR4AM6XVHJBQGTQKSASHIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VICHJDIJLBN7SZPSM4DNRVJQWQGSEIDVRJ6I6USLARKDS3OZ5LMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWWALG6U2AXKDQ6E5CKZ6V5KYRVOJR4XAQVBE7HBAKTUAA4VZE5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHPKAIIMCS2IS25JQ7M4SFFBK5BO75T2JHRC454OHLCO7SDKFSJA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLLG72NDUECASOSKPRODWUGI2XKDYYSKBJFFNL6EOIX35VDNKK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG6SNHYDABSG2GZM5WKXIWIAGVXYYGB6E3RNBVJ5DVS6EUIZZXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J22ZZT3IQCEKVIG7DSF2NGZSO7VW4SNPLOH3KZ7VUMXGZ5Q2QCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD6BT37K7K5ORE6PYYQ4TSN4OBSSJEH7QMG63XU2L2ZDXO3UVJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7JGLNZBUDR6TNGDC4ADX7JVTVARVELAWCVOWPWZOAYWFR47BTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5PRJRKNWAZWC4P7BSNBI5KCBYTHN5VOMIN4QBCL7MV5XOPSMLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "GetFile": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "FilePath"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "CommitSpecifier": {},
                            "FilePath": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BlobId": {},
                    "CommitId": {},
                    "FilePath": {},
                    "FileContent": {},
                    "FileSize": {
                        "type": "long"
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLLYMW7H6CTYVAJKL5HYYXXUNWRVNDQTPFK5LVOURXYPGMSFZR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SA3KX2M7CWT4AEW6AMWYFC7GHIIINMR4AM6XVHJBQGTQKSASHIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VICHJDIJLBN7SZPSM4DNRVJQWQGSEIDVRJ6I6USLARKDS3OZ5LMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWWALG6U2AXKDQ6E5CKZ6V5KYRVOJR4XAQVBE7HBAKTUAA4VZE5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHPKAIIMCS2IS25JQ7M4SFFBK5BO75T2JHRC454OHLCO7SDKFSJA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLLG72NDUECASOSKPRODWUGI2XKDYYSKBJFFNL6EOIX35VDNKK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG6SNHYDABSG2GZM5WKXIWIAGVXYYGB6E3RNBVJ5DVS6EUIZZXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J22ZZT3IQCEKVIG7DSF2NGZSO7VW4SNPLOH3KZ7VUMXGZ5Q2QCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD6BT37K7K5ORE6PYYQ4TSN4OBSSJEH7QMG63XU2L2ZDXO3UVJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7JGLNZBUDR6TNGDC4ADX7JVTVARVELAWCVOWPWZOAYWFR47BTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5PRJRKNWAZWC4P7BSNBI5KCBYTHN5VOMIN4QBCL7MV5XOPSMLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "GetFolder": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "FolderPath"
                        ],
                        "members": {
                            "FullRepositoryId": {},
[...]
