{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-09-19",
        "endpointPrefix": "codeguru-reviewer",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "CodeGuruReviewer",
        "serviceFullName": "Amazon CodeGuru Reviewer",
        "serviceId": "CodeGuru Reviewer",
        "signatureVersion": "v4",
        "signingName": "codeguru-reviewer",
        "uid": "codeguru-reviewer-2019-09-19",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateRepository": {
            "http": {
                "requestUri": "/associations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Repository"
                ],
                "members": {
                    "Repository": {
                        "type": "structure",
                        "members": {
                            "CodeCommit": {
                                "type": "structure",
                                "required": [
                                    "Name"
                                ],
                                "members": {
                                    "Name": {}
                                }
                            },
                            "Bitbucket": {
                                "shape": "S5"
                            },
                            "GitHubEnterpriseServer": {
                                "shape": "S5"
                            },
                            "S3Bucket": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "BucketName"
                                ],
                                "members": {
                                    "Name": {},
                                    "BucketName": {}
                                }
                            }
                        }
                    },
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "Sb"
                    },
                    "KMSKeyDetails": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RepositoryAssociation": {
                        "shape": "Si"
                    },
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateCodeReview": {
            "http": {
                "requestUri": "/codereviews"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RepositoryAssociationArn",
                    "Type"
                ],
                "members": {
                    "Name": {},
                    "RepositoryAssociationArn": {},
                    "Type": {
                        "type": "structure",
                        "required": [
                            "RepositoryAnalysis"
                        ],
                        "members": {
                            "RepositoryAnalysis": {
                                "type": "structure",
                                "members": {
                                    "RepositoryHead": {
                                        "shape": "Sy"
                                    },
                                    "SourceCodeType": {
                                        "shape": "S10"
                                    }
                                }
                            },
                            "AnalysisTypes": {
                                "shape": "S1c"
                            }
                        }
                    },
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CodeReview": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeCodeReview": {
            "http": {
                "method": "GET",
                "requestUri": "/codereviews/{CodeReviewArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CodeReviewArn"
                ],
                "members": {
                    "CodeReviewArn": {
                        "location": "uri",
                        "locationName": "CodeReviewArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CodeReview": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeRecommendationFeedback": {
            "http": {
                "method": "GET",
                "requestUri": "/feedback/{CodeReviewArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CodeReviewArn",
                    "RecommendationId"
                ],
                "members": {
                    "CodeReviewArn": {
                        "location": "uri",
                        "locationName": "CodeReviewArn"
                    },
                    "RecommendationId": {
                        "location": "querystring",
                        "locationName": "RecommendationId"
                    },
                    "UserId": {
                        "location": "querystring",
                        "locationName": "UserId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RecommendationFeedback": {
                        "type": "structure",
                        "members": {
                            "CodeReviewArn": {},
                            "RecommendationId": {},
                            "Reactions": {
                                "shape": "S1u"
                            },
                            "UserId": {},
                            "CreatedTimeStamp": {
                                "type": "timestamp"
                            },
                            "LastUpdatedTimeStamp": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeRepositoryAssociation": {
            "http": {
                "method": "GET",
                "requestUri": "/associations/{AssociationArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AssociationArn"
                ],
                "members": {
                    "AssociationArn": {
                        "location": "uri",
                        "locationName": "AssociationArn"
                    },
                    "ShowDeletedRepository": {
                        "location": "querystring",
                        "locationName": "showDeletedRepository",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RepositoryAssociation": {
                        "shape": "Si"
                    },
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DisassociateRepository": {
            "http": {
                "method": "DELETE",
                "requestUri": "/associations/{AssociationArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AssociationArn"
                ],
                "members": {
                    "AssociationArn": {
                        "location": "uri",
                        "locationName": "AssociationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RepositoryAssociation": {
                        "shape": "Si"
                    },
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListCodeReviews": {
            "http": {
                "method": "GET",
                "requestUri": "/codereviews"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Type"
                ],
                "members": {
                    "ProviderTypes": {
                        "shape": "S21",
                        "location": "querystring",
                        "locationName": "ProviderTypes"
                    },
                    "States": {
                        "location": "querystring",
                        "locationName": "States",
                        "type": "list",
                        "member": {}
                    },
                    "RepositoryNames": {
                        "location": "querystring",
                        "locationName": "RepositoryNames",
                        "type": "list",
                        "member": {}
                    },
                    "Type": {
                        "location": "querystring",
                        "locationName": "Type"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CodeReviewSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "CodeReviewArn": {},
                                "RepositoryName": {},
                                "Owner": {},
                                "ProviderType": {},
                                "State": {},
                                "CreatedTimeStamp": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedTimeStamp": {
                                    "type": "timestamp"
                                },
                                "Type": {},
                                "PullRequestId": {},
                                "MetricsSummary": {
                                    "type": "structure",
                                    "members": {
                                        "MeteredLinesOfCodeCount": {
                                            "type": "long"
                                        },
                                        "SuppressedLinesOfCodeCount": {
                                            "type": "long"
                                        },
                                        "FindingsCount": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "SourceCodeType": {
                                    "shape": "S10"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListRecommendationFeedback": {
            "http": {
                "method": "GET",
                "requestUri": "/feedback/{CodeReviewArn}/RecommendationFeedback"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CodeReviewArn"
                ],
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "CodeReviewArn": {
                        "location": "uri",
                        "locationName": "CodeReviewArn"
                    },
                    "UserIds": {
                        "location": "querystring",
                        "locationName": "UserIds",
                        "type": "list",
                        "member": {}
                    },
                    "RecommendationIds": {
                        "location": "querystring",
                        "locationName": "RecommendationIds",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RecommendationFeedbackSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RecommendationId": {},
                                "Reactions": {
                                    "shape": "S1u"
                                },
                                "UserId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListRecommendations": {
            "http": {
                "method": "GET",
                "requestUri": "/codereviews/{CodeReviewArn}/Recommendations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CodeReviewArn"
                ],
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "CodeReviewArn": {
                        "location": "uri",
                        "locationName": "CodeReviewArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RecommendationSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "FilePath": {},
                                "RecommendationId": {},
                                "StartLine": {
                                    "type": "integer"
                                },
                                "EndLine": {
                                    "type": "integer"
                                },
                                "Description": {},
                                "RecommendationCategory": {},
                                "RuleMetadata": {
                                    "type": "structure",
                                    "members": {
                                        "RuleId": {},
                                        "RuleName": {},
                                        "ShortDescription": {},
                                        "LongDescription": {},
                                        "RuleTags": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                },
                                "Severity": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListRepositoryAssociations": {
            "http": {
                "method": "GET",
                "requestUri": "/associations"
            },
            "input": {
                "type": "structure",
                "members": {
                    "ProviderTypes": {
                        "shape": "S21",
                        "location": "querystring",
                        "locationName": "ProviderType"
                    },
                    "States": {
                        "location": "querystring",
                        "locationName": "State",
                        "type": "list",
                        "member": {}
                    },
                    "Names": {
                        "location": "querystring",
                        "locationName": "Name",
                        "type": "list",
                        "member": {}
                    },
                    "Owners": {
                        "location": "querystring",
                        "locationName": "Owner",
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RepositoryAssociationSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AssociationArn": {},
                                "ConnectionArn": {},
                                "LastUpdatedTimeStamp": {
                                    "type": "timestamp"
                                },
                                "AssociationId": {},
                                "Name": {},
                                "Owner": {},
                                "ProviderType": {},
                                "State": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "PutRecommendationFeedback": {
            "http": {
                "method": "PUT",
                "requestUri": "/feedback"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CodeReviewArn",
                    "RecommendationId",
                    "Reactions"
                ],
                "members": {
                    "CodeReviewArn": {},
                    "RecommendationId": {},
                    "Reactions": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "Tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "TagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateConnectionToken": {
            "http": {
                "requestUri": "/token"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProviderType"
                ],
                "members": {
                    "AuthToken": {
                        "type": "structure",
                        "required": [
                            "User",
                            "Token",
                            "Scopes",
                            "CreationTime"
                        ],
                        "members": {
                            "User": {},
                            "Token": {
                                "type": "string",
                                "sensitive": true
                            },
                            "Scopes": {
                                "type": "list",
                                "member": {}
                            },
                            "CreationTime": {
                                "type": "timestamp"
                            }
                        }
                    },
                    "AuthCode": {},
                    "State": {},
                    "ProviderType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ConnectionToken"
                ],
                "members": {
                    "ConnectionToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJT3HAQUUUSJBSQ4GLGSZOTPYYCQD2MMLGR6KCOVQTNCJQEPHKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24VEQ4MU25YWX5ETERE2Z7XSP2OQ4GWFQNURLQ5O5I6SC7UPYDFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7LEXSJQZCAGQKLKJCTVVHODCHWOAAGE6ICSKJK2TZVNSQL6KU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js"
            ]
        },
        "GetMetricsData": {
            "http": {
                "method": "GET",
                "requestUri": "/metrics"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "FindingsMetricsData": {
                        "type": "structure",
                        "members": {
                            "AnalyzedLinesOfCodeCount": {
                                "type": "long"
                            },
                            "FindingsCount": {
                                "type": "long"
                            },
                            "FindingJobsCount": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJT3HAQUUUSJBSQ4GLGSZOTPYYCQD2MMLGR6KCOVQTNCJQEPHKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24VEQ4MU25YWX5ETERE2Z7XSP2OQ4GWFQNURLQ5O5I6SC7UPYDFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7LEXSJQZCAGQKLKJCTVVHODCHWOAAGE6ICSKJK2TZVNSQL6KU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js"
            ]
        },
        "ListThirdPartyRepositories": {
            "http": {
                "method": "GET",
                "requestUri": "/thirdPartyRepositories"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionToken"
                ],
                "members": {
                    "ConnectionToken": {
                        "location": "querystring",
                        "locationName": "ConnectionToken"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ThirdPartyRepositories": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Owner",
                                "ConnectionToken"
                            ],
                            "members": {
                                "Name": {},
                                "Owner": {},
                                "IsEnabled": {
                                    "type": "boolean"
                                },
                                "ConnectionToken": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJT3HAQUUUSJBSQ4GLGSZOTPYYCQD2MMLGR6KCOVQTNCJQEPHKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24VEQ4MU25YWX5ETERE2Z7XSP2OQ4GWFQNURLQ5O5I6SC7UPYDFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7LEXSJQZCAGQKLKJCTVVHODCHWOAAGE6ICSKJK2TZVNSQL6KU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "Name",
                "ConnectionArn",
                "Owner"
            ],
            "members": {
                "Name": {},
                "ConnectionArn": {},
                "Owner": {}
            }
        },
        "Sb": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Se": {
            "type": "structure",
            "members": {
                "KMSKeyId": {},
                "EncryptionOption": {}
            }
        },
        "Si": {
            "type": "structure",
            "members": {
                "AssociationId": {},
                "AssociationArn": {},
                "ConnectionArn": {},
                "Name": {},
                "Owner": {},
                "ProviderType": {},
                "State": {},
                "StateReason": {},
                "LastUpdatedTimeStamp": {
                    "type": "timestamp"
                },
                "CreatedTimeStamp": {
                    "type": "timestamp"
                },
                "KMSKeyDetails": {
                    "shape": "Se"
                },
                "S3RepositoryDetails": {
                    "shape": "Sp"
                }
            }
        },
        "Sp": {
            "type": "structure",
            "members": {
                "BucketName": {},
                "CodeArtifacts": {
                    "type": "structure",
                    "required": [
                        "SourceCodeArtifactsObjectKey"
                    ],
                    "members": {
                        "SourceCodeArtifactsObjectKey": {},
                        "BuildArtifactsObjectKey": {}
                    }
                }
            }
        },
        "Sy": {
            "type": "structure",
            "required": [
                "BranchName"
            ],
            "members": {
                "BranchName": {}
            }
        },
        "S10": {
            "type": "structure",
            "members": {
                "CommitDiff": {
                    "type": "structure",
                    "members": {
                        "SourceCommit": {},
                        "DestinationCommit": {},
                        "MergeBaseCommit": {}
                    }
                },
                "RepositoryHead": {
                    "shape": "Sy"
                },
                "BranchDiff": {
                    "type": "structure",
                    "required": [
                        "SourceBranchName",
                        "DestinationBranchName"
                    ],
                    "members": {
                        "SourceBranchName": {},
                        "DestinationBranchName": {}
                    }
                },
                "S3BucketRepository": {
                    "type": "structure",
                    "required": [
                        "Name"
                    ],
                    "members": {
                        "Name": {},
                        "Details": {
                            "shape": "Sp"
                        }
                    }
                },
                "RequestMetadata": {
                    "type": "structure",
                    "members": {
                        "RequestId": {},
                        "Requester": {},
                        "EventInfo": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "State": {}
                            }
                        },
                        "VendorName": {}
                    }
                }
            }
        },
        "S1c": {
            "type": "list",
            "member": {}
        },
        "S1f": {
            "type": "structure",
            "members": {
                "Name": {},
                "CodeReviewArn": {},
                "RepositoryName": {},
                "Owner": {},
                "ProviderType": {},
                "State": {},
                "StateReason": {},
                "CreatedTimeStamp": {
                    "type": "timestamp"
                },
                "LastUpdatedTimeStamp": {
                    "type": "timestamp"
                },
                "Type": {},
                "PullRequestId": {},
                "SourceCodeType": {
                    "shape": "S10"
                },
                "AssociationArn": {},
                "Metrics": {
                    "type": "structure",
                    "members": {
                        "MeteredLinesOfCodeCount": {
                            "type": "long"
                        },
                        "SuppressedLinesOfCodeCount": {
                            "type": "long"
                        },
                        "FindingsCount": {
                            "type": "long"
                        }
                    }
                },
                "AnalysisTypes": {
                    "shape": "S1c"
                },
                "ConfigFileState": {}
            }
        },
        "S1u": {
            "type": "list",
            "member": {}
        },
        "S21": {
            "type": "list",
            "member": {}
        },
        "S9": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sd": {
            "type": "structure",
            "members": {
                "AssociationId": {},
                "AssociationArn": {},
                "ConnectionArn": {},
                "Name": {},
                "Owner": {},
                "ProviderType": {},
                "State": {},
                "StateReason": {},
                "LastUpdatedTimeStamp": {
                    "type": "timestamp"
                },
                "CreatedTimeStamp": {
                    "type": "timestamp"
                }
            }
        },
        "Ss": {
            "type": "structure",
            "members": {
                "Name": {},
                "CodeReviewArn": {},
                "RepositoryName": {},
                "Owner": {},
                "ProviderType": {},
                "State": {},
                "StateReason": {},
                "CreatedTimeStamp": {
                    "type": "timestamp"
                },
                "LastUpdatedTimeStamp": {
                    "type": "timestamp"
                },
                "Type": {},
                "PullRequestId": {},
                "SourceCodeType": {
                    "type": "structure",
                    "members": {
                        "CommitDiff": {
                            "type": "structure",
                            "members": {
                                "SourceCommit": {},
                                "DestinationCommit": {}
                            }
                        },
                        "RepositoryHead": {
                            "shape": "Sp"
                        }
                    }
                },
                "AssociationArn": {},
                "Metrics": {
                    "type": "structure",
                    "members": {
                        "MeteredLinesOfCodeCount": {
                            "type": "long"
                        },
                        "FindingsCount": {
                            "type": "long"
                        }
                    }
                }
            }
        },
        "S19": {
            "type": "list",
            "member": {}
        },
        "S1g": {
            "type": "list",
            "member": {}
        },
        "S8": {
            "type": "structure",
            "required": [
                "Name",
                "ConnectionArn",
                "Owner"
            ],
            "members": {
                "Name": {},
                "ConnectionArn": {},
                "Owner": {}
            }
        },
        "Sc": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sg": {
            "type": "structure",
            "members": {
                "AssociationId": {},
                "AssociationArn": {},
                "ConnectionArn": {},
                "Name": {},
                "Owner": {},
                "ProviderType": {},
                "State": {},
                "StateReason": {},
                "LastUpdatedTimeStamp": {
                    "type": "timestamp"
                },
                "CreatedTimeStamp": {
                    "type": "timestamp"
                }
            }
        },
        "Sr": {
            "type": "structure",
            "required": [
                "BranchName"
            ],
            "members": {
                "BranchName": {}
            }
        },
        "Su": {
            "type": "structure",
            "members": {
                "Name": {},
                "CodeReviewArn": {},
                "RepositoryName": {},
                "Owner": {},
                "ProviderType": {},
                "State": {},
                "StateReason": {},
                "CreatedTimeStamp": {
                    "type": "timestamp"
                },
                "LastUpdatedTimeStamp": {
                    "type": "timestamp"
                },
                "Type": {},
                "PullRequestId": {},
                "SourceCodeType": {
                    "shape": "Sz"
                },
                "AssociationArn": {},
                "Metrics": {
                    "type": "structure",
                    "members": {
                        "MeteredLinesOfCodeCount": {
                            "type": "long"
                        },
                        "FindingsCount": {
                            "type": "long"
                        }
                    }
                }
            }
        },
        "Sz": {
            "type": "structure",
            "members": {
                "CommitDiff": {
                    "type": "structure",
                    "members": {
                        "SourceCommit": {},
                        "DestinationCommit": {}
                    }
                },
                "BranchDiff": {
                    "type": "structure",
                    "members": {
                        "SourceBranchName": {},
                        "DestinationBranchName": {}
                    }
                },
                "RepositoryHead": {
                    "shape": "Sr"
                }
            }
        },
        "S1m": {
            "type": "list",
            "member": {}
        },
        "S1y": {
            "type": "list",
            "member": {}
        },
        "S1t": {
            "type": "list",
            "member": {}
        },
        "S20": {
            "type": "list",
            "member": {}
        },
        "S7": {
            "type": "structure",
            "members": {
                "AssociationId": {},
                "AssociationArn": {},
                "Name": {},
                "Owner": {},
                "ProviderType": {},
                "State": {},
                "StateReason": {},
                "LastUpdatedTimeStamp": {
                    "type": "timestamp"
                },
                "CreatedTimeStamp": {
                    "type": "timestamp"
                }
            }
        },
        "Sw": {
            "type": "list",
            "member": {}
        },
        "S13": {
            "type": "list",
            "member": {}
        }
    }
}