{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-12-01",
        "endpointPrefix": "codeconnections",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS CodeConnections",
        "serviceId": "CodeConnections",
        "signatureVersion": "v4",
        "signingName": "codeconnections",
        "targetPrefix": "com.amazonaws.codeconnections.CodeConnections_20231201",
        "uid": "codeconnections-2023-12-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
        ]
    },
    "operations": {
        "CreateConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionName"
                ],
                "members": {
                    "ProviderType": {},
                    "ConnectionName": {},
                    "Tags": {
                        "shape": "S4"
                    },
                    "HostArn": {},
                    "ProviderEndpoint": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "CreateHost": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ProviderType",
                    "ProviderEndpoint"
                ],
                "members": {
                    "Name": {},
                    "ProviderType": {},
                    "ProviderEndpoint": {},
                    "VpcConfiguration": {
                        "shape": "Se"
                    },
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HostArn": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "CreateRepositoryLink": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "OwnerId",
                    "RepositoryName"
                ],
                "members": {
                    "ConnectionArn": {},
                    "OwnerId": {},
                    "RepositoryName": {},
                    "EncryptionKeyArn": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RepositoryLinkInfo"
                ],
                "members": {
                    "RepositoryLinkInfo": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "CreateSyncConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "Branch",
                    "ConfigFile",
                    "RepositoryLinkId",
                    "ResourceName",
                    "RoleArn",
                    "SyncType"
                ],
                "members": {
                    "Branch": {},
                    "ConfigFile": {},
                    "RepositoryLinkId": {},
                    "ResourceName": {},
                    "RoleArn": {},
                    "SyncType": {},
                    "PublishDeploymentStatus": {},
                    "TriggerResourceUpdateOn": {},
                    "PullRequestComment": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncConfiguration"
                ],
                "members": {
                    "SyncConfiguration": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "DeleteConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "DeleteHost": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "DeleteRepositoryLink": {
            "input": {
                "type": "structure",
                "required": [
                    "RepositoryLinkId"
                ],
                "members": {
                    "RepositoryLinkId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "DeleteSyncConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "SyncType",
                    "ResourceName"
                ],
                "members": {
                    "SyncType": {},
                    "ResourceName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "GetConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connection": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "GetHost": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Status": {},
                    "ProviderType": {},
                    "ProviderEndpoint": {},
                    "VpcConfiguration": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "GetRepositoryLink": {
            "input": {
                "type": "structure",
                "required": [
                    "RepositoryLinkId"
                ],
                "members": {
                    "RepositoryLinkId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RepositoryLinkInfo"
                ],
                "members": {
                    "RepositoryLinkInfo": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "GetRepositorySyncStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "Branch",
                    "RepositoryLinkId",
                    "SyncType"
                ],
                "members": {
                    "Branch": {},
                    "RepositoryLinkId": {},
                    "SyncType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "LatestSync"
                ],
                "members": {
                    "LatestSync": {
                        "type": "structure",
                        "required": [
                            "StartedAt",
                            "Status",
                            "Events"
                        ],
                        "members": {
                            "StartedAt": {
                                "type": "timestamp"
                            },
                            "Status": {},
                            "Events": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Event",
                                        "Time",
                                        "Type"
                                    ],
                                    "members": {
                                        "Event": {},
                                        "ExternalId": {},
                                        "Time": {
                                            "type": "timestamp"
                                        },
                                        "Type": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "GetResourceSyncStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceName",
                    "SyncType"
                ],
                "members": {
                    "ResourceName": {},
                    "SyncType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "LatestSync"
                ],
                "members": {
                    "DesiredState": {
                        "shape": "S1y"
                    },
                    "LatestSuccessfulSync": {
                        "shape": "S21"
                    },
                    "LatestSync": {
                        "shape": "S21"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "GetSyncBlockerSummary": {
            "input": {
                "type": "structure",
                "required": [
                    "SyncType",
                    "ResourceName"
                ],
                "members": {
                    "SyncType": {},
                    "ResourceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncBlockerSummary"
                ],
                "members": {
                    "SyncBlockerSummary": {
                        "type": "structure",
                        "required": [
                            "ResourceName"
                        ],
                        "members": {
                            "ResourceName": {},
                            "ParentResourceName": {},
                            "LatestBlockers": {
                                "type": "list",
                                "member": {
                                    "shape": "S2a"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "GetSyncConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "SyncType",
                    "ResourceName"
                ],
                "members": {
                    "SyncType": {},
                    "ResourceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncConfiguration"
                ],
                "members": {
                    "SyncConfiguration": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "ListConnections": {
            "input": {
                "type": "structure",
                "members": {
                    "ProviderTypeFilter": {},
                    "HostArnFilter": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "OwnershipTypeFilter": {},
                    "RegionFilter": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connections": {
                        "type": "list",
                        "member": {
                            "shape": "S1e"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "ListHosts": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Hosts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "HostArn": {},
                                "ProviderType": {},
                                "ProviderEndpoint": {},
                                "VpcConfiguration": {
                                    "shape": "Se"
                                },
                                "Status": {},
                                "StatusMessage": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "ListRepositoryLinks": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RepositoryLinks"
                ],
                "members": {
                    "RepositoryLinks": {
                        "type": "list",
                        "member": {
                            "shape": "Sr"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "ListRepositorySyncDefinitions": {
            "input": {
                "type": "structure",
                "required": [
                    "RepositoryLinkId",
                    "SyncType"
                ],
                "members": {
                    "RepositoryLinkId": {},
                    "SyncType": {},
                    "NextToken": {
                        "internalonly": true
                    },
                    "MaxResults": {
                        "internalonly": true,
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RepositorySyncDefinitions"
                ],
                "members": {
                    "RepositorySyncDefinitions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Branch",
                                "Directory",
                                "Parent",
                                "Target"
                            ],
                            "members": {
                                "Branch": {},
                                "Directory": {},
                                "Parent": {},
                                "Target": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "ListSyncConfigurations": {
            "input": {
                "type": "structure",
                "required": [
                    "RepositoryLinkId",
                    "SyncType"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "RepositoryLinkId": {},
                    "SyncType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncConfigurations"
                ],
                "members": {
                    "SyncConfigurations": {
                        "type": "list",
                        "member": {
                            "shape": "S13"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "UpdateHost": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {},
                    "ProviderEndpoint": {},
                    "VpcConfiguration": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "UpdateRepositoryLink": {
            "input": {
                "type": "structure",
                "required": [
                    "RepositoryLinkId"
                ],
                "members": {
                    "ConnectionArn": {},
                    "EncryptionKeyArn": {},
                    "RepositoryLinkId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RepositoryLinkInfo"
                ],
                "members": {
                    "RepositoryLinkInfo": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJX2BXPVD6XVPVBESFNFXEMCTAQMOQM2DMYYVEHES63AANRVHDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDHESJQLH6RWRSAHB2AM3YKKBBYVH5SBPOGQTFAILRERLRPEWZXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSPVPTWPRBE2UZ7GPNKDBAIMUA6OEKOWONJQ3WYUBEU55B2YZPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DMFJXSOU6RWGP4GWL5KYPT6XCH7J7OU2ZJEMKO6ODQCL5A2LWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQ2LZLWE4IOVI6H7AODUAGZLGRQ7DMFAXDWRSXDYTIICAQOUGTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXG6NF6AB7YZIW7MMTAKO4SRFZNU3SOF2LZDBRP3OO326DKT4EUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBHNTZFTVSGQYVFO5DYYT7HCNL452JF2FVR5NJUXUQG32D2WFEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "UpdateSyncBlocker": {
            "input": {
                "type": "structure",
                "required": [
                    "Id",
                    "SyncType",
                    "ResourceName",
                    "ResolvedReason"
                ],
[...]
