{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-09-28",
        "endpointPrefix": "codecatalyst",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon CodeCatalyst",
        "serviceId": "CodeCatalyst",
        "signatureVersion": "bearer",
        "signingName": "codecatalyst",
        "uid": "codecatalyst-2022-09-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4O66AI74GCZS3LZOF6QN5WSGJBWS4TKFRXYCZO2M4XIOF7XL4HEQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6BSXGUOD7AEIYVJKGSYD3XPYEMNUGHBFYHZZXSE2FPKEFMGG73EA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateAccessToken": {
            "http": {
                "method": "PUT",
                "requestUri": "/v1/accessTokens",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "expiresTime": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "secret",
                    "name",
                    "expiresTime",
                    "accessTokenId"
                ],
                "members": {
                    "secret": {
                        "type": "string",
                        "sensitive": true
                    },
                    "name": {},
                    "expiresTime": {
                        "shape": "S3"
                    },
                    "accessTokenId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BSXGUOD7AEIYVJKGSYD3XPYEMNUGHBFYHZZXSE2FPKEFMGG73EA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
            ]
        },
        "CreateDevEnvironment": {
            "http": {
                "method": "PUT",
                "requestUri": "/v1/spaces/{spaceName}/projects/{projectName}/devEnvironments",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceName",
                    "projectName",
                    "instanceType",
                    "persistentStorage"
                ],
                "members": {
                    "spaceName": {
                        "location": "uri",
                        "locationName": "spaceName"
                    },
                    "projectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "repositories": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "repositoryName"
                            ],
                            "members": {
                                "repositoryName": {},
                                "branchName": {}
                            }
                        }
                    },
                    "clientToken": {},
                    "alias": {},
                    "ides": {
                        "shape": "Sf"
                    },
                    "instanceType": {},
                    "inactivityTimeoutMinutes": {
                        "type": "integer"
                    },
                    "persistentStorage": {
                        "type": "structure",
                        "required": [
                            "sizeInGiB"
                        ],
                        "members": {
                            "sizeInGiB": {
                                "type": "integer"
                            }
                        }
                    },
                    "vpcConnectionName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "spaceName",
                    "projectName",
                    "id"
                ],
                "members": {
                    "spaceName": {},
                    "projectName": {},
                    "id": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BSXGUOD7AEIYVJKGSYD3XPYEMNUGHBFYHZZXSE2FPKEFMGG73EA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
            ]
        },
        "CreateProject": {
            "http": {
                "method": "PUT",
                "requestUri": "/v1/spaces/{spaceName}/projects",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceName",
                    "displayName"
                ],
                "members": {
                    "spaceName": {
                        "location": "uri",
                        "locationName": "spaceName"
                    },
                    "displayName": {},
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "spaceName": {},
                    "name": {},
                    "displayName": {},
                    "description": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BSXGUOD7AEIYVJKGSYD3XPYEMNUGHBFYHZZXSE2FPKEFMGG73EA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
            ]
        },
        "CreateSourceRepositoryBranch": {
            "http": {
                "method": "PUT",
                "requestUri": "/v1/spaces/{spaceName}/projects/{projectName}/sourceRepositories/{sourceRepositoryName}/branches/{name}",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceName",
                    "projectName",
                    "sourceRepositoryName",
                    "name"
                ],
                "members": {
                    "spaceName": {
                        "location": "uri",
                        "locationName": "spaceName"
                    },
                    "projectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "sourceRepositoryName": {
                        "location": "uri",
                        "locationName": "sourceRepositoryName"
                    },
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "headCommitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ref": {},
                    "name": {},
                    "lastUpdatedTime": {
                        "shape": "S3"
                    },
                    "headCommitId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BSXGUOD7AEIYVJKGSYD3XPYEMNUGHBFYHZZXSE2FPKEFMGG73EA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
            ]
        },
        "DeleteAccessToken": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/accessTokens/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BSXGUOD7AEIYVJKGSYD3XPYEMNUGHBFYHZZXSE2FPKEFMGG73EA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
            ]
        },
        "DeleteDevEnvironment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/spaces/{spaceName}/projects/{projectName}/devEnvironments/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceName",
                    "projectName",
                    "id"
                ],
                "members": {
                    "spaceName": {
                        "location": "uri",
                        "locationName": "spaceName"
                    },
                    "projectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "spaceName",
                    "projectName",
                    "id"
                ],
                "members": {
                    "spaceName": {},
                    "projectName": {},
                    "id": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BSXGUOD7AEIYVJKGSYD3XPYEMNUGHBFYHZZXSE2FPKEFMGG73EA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
            ]
        },
        "GetDevEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/spaces/{spaceName}/projects/{projectName}/devEnvironments/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceName",
                    "projectName",
                    "id"
                ],
                "members": {
                    "spaceName": {
                        "location": "uri",
                        "locationName": "spaceName"
                    },
                    "projectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "spaceName",
                    "projectName",
                    "id",
                    "lastUpdatedTime",
                    "creatorId",
                    "status",
                    "repositories",
                    "instanceType",
                    "inactivityTimeoutMinutes",
                    "persistentStorage"
                ],
                "members": {
                    "spaceName": {},
                    "projectName": {},
                    "id": {},
                    "lastUpdatedTime": {
                        "shape": "S3"
                    },
                    "creatorId": {},
                    "status": {},
                    "statusReason": {},
                    "repositories": {
                        "shape": "S16"
                    },
                    "alias": {},
                    "ides": {
                        "shape": "S19"
                    },
                    "instanceType": {},
                    "inactivityTimeoutMinutes": {
                        "type": "integer"
                    },
                    "persistentStorage": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BSXGUOD7AEIYVJKGSYD3XPYEMNUGHBFYHZZXSE2FPKEFMGG73EA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
            ]
        },
        "GetProject": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/spaces/{spaceName}/projects/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceName",
                    "name"
                ],
                "members": {
                    "spaceName": {
                        "location": "uri",
                        "locationName": "spaceName"
                    },
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "spaceName": {},
                    "name": {},
                    "displayName": {},
                    "description": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BSXGUOD7AEIYVJKGSYD3XPYEMNUGHBFYHZZXSE2FPKEFMGG73EA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
            ]
        },
        "GetSourceRepositoryCloneUrls": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/spaces/{spaceName}/projects/{projectName}/sourceRepositories/{sourceRepositoryName}/cloneUrls",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceName",
                    "projectName",
                    "sourceRepositoryName"
                ],
                "members": {
                    "spaceName": {
                        "location": "uri",
                        "locationName": "spaceName"
                    },
                    "projectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "sourceRepositoryName": {
                        "location": "uri",
                        "locationName": "sourceRepositoryName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "https"
                ],
                "members": {
                    "https": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BSXGUOD7AEIYVJKGSYD3XPYEMNUGHBFYHZZXSE2FPKEFMGG73EA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
            ]
        },
        "GetSpace": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/spaces/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "regionName"
                ],
                "members": {
                    "name": {},
                    "regionName": {},
                    "displayName": {},
                    "description": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BSXGUOD7AEIYVJKGSYD3XPYEMNUGHBFYHZZXSE2FPKEFMGG73EA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
            ]
        },
        "GetSubscription": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/spaces/{spaceName}/subscription",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceName"
                ],
                "members": {
                    "spaceName": {
                        "location": "uri",
                        "locationName": "spaceName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "subscriptionType": {},
                    "awsAccountName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BSXGUOD7AEIYVJKGSYD3XPYEMNUGHBFYHZZXSE2FPKEFMGG73EA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
            ]
        },
        "GetUserDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/userDetails",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "id": {
                        "location": "querystring",
                        "locationName": "id"
                    },
                    "userName": {
                        "location": "querystring",
                        "locationName": "userName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "userId": {},
                    "userName": {},
                    "displayName": {},
                    "primaryEmail": {
                        "type": "structure",
                        "members": {
                            "email": {},
                            "verified": {
                                "type": "boolean"
                            }
                        }
                    },
                    "version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BSXGUOD7AEIYVJKGSYD3XPYEMNUGHBFYHZZXSE2FPKEFMGG73EA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
            ]
        },
        "ListAccessTokens": {
            "http": {
                "requestUri": "/v1/accessTokens",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "items"
                ],
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "name"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "expiresTime": {
                                    "shape": "S3"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BSXGUOD7AEIYVJKGSYD3XPYEMNUGHBFYHZZXSE2FPKEFMGG73EA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
            ]
        },
        "ListDevEnvironments": {
            "http": {
                "requestUri": "/v1/spaces/{spaceName}/projects/{projectName}/devEnvironments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceName",
                    "projectName"
                ],
                "members": {
                    "spaceName": {
                        "location": "uri",
                        "locationName": "spaceName"
                    },
                    "projectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "key",
                                "values"
                            ],
                            "members": {
                                "key": {},
                                "values": {
                                    "shape": "S23"
                                },
                                "comparisonOperator": {}
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "items"
                ],
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "lastUpdatedTime",
                                "creatorId",
                                "status",
                                "repositories",
                                "instanceType",
                                "inactivityTimeoutMinutes",
                                "persistentStorage"
                            ],
                            "members": {
                                "spaceName": {},
                                "projectName": {},
                                "id": {},
                                "lastUpdatedTime": {
                                    "shape": "S3"
                                },
                                "creatorId": {},
                                "status": {},
                                "statusReason": {},
                                "repositories": {
                                    "shape": "S16"
                                },
                                "alias": {},
                                "ides": {
                                    "shape": "S19"
                                },
                                "instanceType": {},
                                "inactivityTimeoutMinutes": {
                                    "type": "integer"
                                },
                                "persistentStorage": {
                                    "shape": "S1d"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BSXGUOD7AEIYVJKGSYD3XPYEMNUGHBFYHZZXSE2FPKEFMGG73EA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
            ]
        },
        "ListEventLogs": {
            "http": {
                "requestUri": "/v1/spaces/{spaceName}/eventLogs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceName",
                    "startTime",
                    "endTime"
                ],
                "members": {
                    "spaceName": {
                        "location": "uri",
                        "locationName": "spaceName"
                    },
                    "startTime": {
                        "shape": "S3"
                    },
                    "endTime": {
                        "shape": "S3"
                    },
                    "eventName": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "items"
                ],
                "members": {
                    "nextToken": {},
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "eventName",
                                "eventType",
                                "eventCategory",
                                "eventSource",
                                "eventTime",
                                "operationType",
                                "userIdentity"
                            ],
                            "members": {
                                "id": {},
                                "eventName": {},
                                "eventType": {},
                                "eventCategory": {},
                                "eventSource": {},
                                "eventTime": {
                                    "shape": "S3"
                                },
                                "operationType": {},
                                "userIdentity": {
                                    "type": "structure",
                                    "required": [
                                        "userType",
                                        "principalId"
                                    ],
                                    "members": {
                                        "userType": {},
                                        "principalId": {},
                                        "userName": {},
                                        "awsAccountId": {}
                                    }
                                },
                                "projectInformation": {
                                    "type": "structure",
                                    "members": {
                                        "name": {},
                                        "projectId": {}
                                    }
                                },
                                "requestId": {},
                                "requestPayload": {
                                    "shape": "S2l"
                                },
                                "responsePayload": {
                                    "shape": "S2l"
                                },
                                "errorCode": {},
                                "sourceIpAddress": {},
                                "userAgent": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BSXGUOD7AEIYVJKGSYD3XPYEMNUGHBFYHZZXSE2FPKEFMGG73EA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
            ]
        },
        "ListProjects": {
            "http": {
                "requestUri": "/v1/spaces/{spaceName}/projects",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceName"
                ],
                "members": {
                    "spaceName": {
                        "location": "uri",
                        "locationName": "spaceName"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "key",
                                "values"
                            ],
                            "members": {
                                "key": {},
                                "values": {
                                    "shape": "S23"
                                },
                                "comparisonOperator": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name"
                            ],
                            "members": {
                                "name": {},
                                "displayName": {},
                                "description": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BSXGUOD7AEIYVJKGSYD3XPYEMNUGHBFYHZZXSE2FPKEFMGG73EA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
            ]
        },
        "ListSourceRepositories": {
            "http": {
                "requestUri": "/v1/spaces/{spaceName}/projects/{projectName}/sourceRepositories",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceName",
                    "projectName"
                ],
                "members": {
                    "spaceName": {
                        "location": "uri",
                        "locationName": "spaceName"
                    },
                    "projectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "name",
                                "lastUpdatedTime",
                                "createdTime"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "description": {},
                                "lastUpdatedTime": {
                                    "shape": "S34"
                                },
                                "createdTime": {
                                    "shape": "S34"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BSXGUOD7AEIYVJKGSYD3XPYEMNUGHBFYHZZXSE2FPKEFMGG73EA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
            ]
        },
        "ListSourceRepositoryBranches": {
            "http": {
                "requestUri": "/v1/spaces/{spaceName}/projects/{projectName}/sourceRepositories/{sourceRepositoryName}/branches",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceName",
                    "projectName",
                    "sourceRepositoryName"
                ],
                "members": {
                    "spaceName": {
                        "location": "uri",
                        "locationName": "spaceName"
                    },
                    "projectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "sourceRepositoryName": {
                        "location": "uri",
                        "locationName": "sourceRepositoryName"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "items"
                ],
                "members": {
                    "nextToken": {},
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ref": {},
                                "name": {},
                                "lastUpdatedTime": {
                                    "shape": "S3"
                                },
                                "headCommitId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BSXGUOD7AEIYVJKGSYD3XPYEMNUGHBFYHZZXSE2FPKEFMGG73EA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
            ]
        },
        "ListSpaces": {
            "http": {
                "requestUri": "/v1/spaces",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "regionName"
                            ],
                            "members": {
                                "name": {},
                                "regionName": {},
                                "displayName": {},
                                "description": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BSXGUOD7AEIYVJKGSYD3XPYEMNUGHBFYHZZXSE2FPKEFMGG73EA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
            ]
        },
        "StartDevEnvironment": {
            "http": {
                "method": "PUT",
                "requestUri": "/v1/spaces/{spaceName}/projects/{projectName}/devEnvironments/{id}/start",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceName",
                    "projectName",
                    "id"
                ],
                "members": {
                    "spaceName": {
                        "location": "uri",
                        "locationName": "spaceName"
                    },
                    "projectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "ides": {
                        "shape": "Sf"
                    },
                    "instanceType": {},
                    "inactivityTimeoutMinutes": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "spaceName",
                    "projectName",
                    "id",
                    "status"
                ],
                "members": {
                    "spaceName": {},
                    "projectName": {},
                    "id": {},
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BSXGUOD7AEIYVJKGSYD3XPYEMNUGHBFYHZZXSE2FPKEFMGG73EA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
[...]
