{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-06-15",
        "endpointPrefix": "codewhisperer",
        "jsonVersion": "1.0",
        "protocol": "json",
        "region": "us-east-1",
        "serviceAbbreviation": "CodeWhisperer",
        "serviceFullName": "AWS CodeWhisperer",
        "serviceId": "CodeWhisperer",
        "signatureVersion": "v4",
        "signingName": "codewhisperer",
        "targetPrefix": "AWSCodeWhispererService",
        "uid": "codewhisperer-2022-06-15",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
        ]
    },
    "operations": {
        "CreateCodeScan": {
            "input": {
                "type": "structure",
                "required": [
                    "artifacts",
                    "programmingLanguage"
                ],
                "members": {
                    "artifacts": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "programmingLanguage": {
                        "shape": "S5"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "errorMessage": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "CreateUploadUrl": {
            "input": {
                "type": "structure",
                "required": [
                    "contentMd5",
                    "artifactType"
                ],
                "members": {
                    "contentMd5": {},
                    "artifactType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "uploadId",
                    "uploadUrl"
                ],
                "members": {
                    "uploadId": {},
                    "uploadUrl": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "GenerateRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "fileContext"
                ],
                "members": {
                    "fileContext": {
                        "shape": "Sh"
                    },
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendations": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "GetAccessToken": {
            "input": {
                "type": "structure",
                "required": [
                    "identityToken"
                ],
                "members": {
                    "identityToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accessToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "GetCodeScan": {
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {},
                    "errorMessage": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "ListCodeScanFindings": {
            "input": {
                "type": "structure",
                "required": [
                    "jobId",
                    "codeScanFindingsSchema"
                ],
                "members": {
                    "jobId": {},
                    "nextToken": {},
                    "codeScanFindingsSchema": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "codeScanFindings"
                ],
                "members": {
                    "nextToken": {},
                    "codeScanFindings": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "ListRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "fileContext"
                ],
                "members": {
                    "fileContext": {
                        "shape": "Sh"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendations": {
                        "shape": "Sn"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "CreateProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "identitySource",
                    "profileName",
                    "referenceTrackerConfiguration"
                ],
                "members": {
                    "identitySource": {
                        "type": "structure",
                        "members": {
                            "ssoIdentitySource": {
                                "type": "structure",
                                "required": [
                                    "instanceArn"
                                ],
                                "members": {
                                    "instanceArn": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "profileName": {},
                    "referenceTrackerConfiguration": {
                        "shape": "S6"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "kmsKeyArn": {},
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profileArn"
                ],
                "members": {
                    "profileArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TOB43HGEIB5XQSS3V2XZCMMIKB5RU5ZUKBHWJBMQYBGCQEQZ2QQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "DeleteProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "profileArn"
                ],
                "members": {
                    "profileArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TOB43HGEIB5XQSS3V2XZCMMIKB5RU5ZUKBHWJBMQYBGCQEQZ2QQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "ListProfiles": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profiles"
                ],
                "members": {
                    "profiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "identityDetails",
                                "profileName",
                                "referenceTrackerConfiguration"
                            ],
                            "members": {
                                "arn": {},
                                "identityDetails": {
                                    "type": "structure",
                                    "members": {
                                        "ssoIdentityDetails": {
                                            "type": "structure",
                                            "required": [
                                                "instanceArn",
                                                "oidcClientId"
                                            ],
                                            "members": {
                                                "instanceArn": {},
                                                "oidcClientId": {}
                                            }
                                        }
                                    },
                                    "union": true
                                },
                                "profileName": {},
                                "referenceTrackerConfiguration": {
                                    "shape": "S6"
                                },
                                "kmsKeyArn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TOB43HGEIB5XQSS3V2XZCMMIKB5RU5ZUKBHWJBMQYBGCQEQZ2QQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TOB43HGEIB5XQSS3V2XZCMMIKB5RU5ZUKBHWJBMQYBGCQEQZ2QQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {},
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TOB43HGEIB5XQSS3V2XZCMMIKB5RU5ZUKBHWJBMQYBGCQEQZ2QQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {},
                    "tagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TOB43HGEIB5XQSS3V2XZCMMIKB5RU5ZUKBHWJBMQYBGCQEQZ2QQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "UpdateProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "profileArn"
                ],
                "members": {
                    "profileArn": {},
                    "profileName": {},
                    "referenceTrackerConfiguration": {
                        "shape": "S6"
                    },
                    "kmsKeyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profileArn"
                ],
                "members": {
                    "profileArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TOB43HGEIB5XQSS3V2XZCMMIKB5RU5ZUKBHWJBMQYBGCQEQZ2QQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "ActivateCustomization": {
            "input": {
                "type": "structure",
                "required": [
                    "customizationArn"
                ],
                "members": {
                    "customizationArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRAZGBDDU47IIJJOZRAN4XGDQ6PX5BPDFRBMVJUQ4FKPBI6COPNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "CreateCustomization": {
            "input": {
                "type": "structure",
                "required": [
                    "dataReference",
                    "customizationConfiguration"
                ],
                "members": {
                    "dataReference": {
                        "shape": "S6"
                    },
                    "customizationConfiguration": {
                        "shape": "Sa"
                    },
                    "tags": {
                        "shape": "Sd"
                    },
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "customizationArn"
                ],
                "members": {
                    "customizationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRAZGBDDU47IIJJOZRAN4XGDQ6PX5BPDFRBMVJUQ4FKPBI6COPNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "DeactivateCustomization": {
            "input": {
                "type": "structure",
                "required": [
                    "customizationArn"
                ],
                "members": {
                    "customizationArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRAZGBDDU47IIJJOZRAN4XGDQ6PX5BPDFRBMVJUQ4FKPBI6COPNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "GetCustomization": {
            "input": {
                "type": "structure",
                "required": [
                    "customizationArn"
                ],
                "members": {
                    "customizationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "customization"
                ],
                "members": {
                    "customization": {
                        "shape": "S1o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRAZGBDDU47IIJJOZRAN4XGDQ6PX5BPDFRBMVJUQ4FKPBI6COPNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "ListCustomizations": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "customizations"
                ],
                "members": {
                    "customizations": {
                        "type": "list",
                        "member": {
                            "shape": "S1o"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRAZGBDDU47IIJJOZRAN4XGDQ6PX5BPDFRBMVJUQ4FKPBI6COPNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "languageName"
            ],
            "members": {
                "languageName": {}
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "leftFileContent",
                "rightFileContent",
                "filename",
                "programmingLanguage"
            ],
            "members": {
                "leftFileContent": {
                    "type": "string",
                    "sensitive": true
                },
                "rightFileContent": {
                    "type": "string",
                    "sensitive": true
                },
                "filename": {},
                "programmingLanguage": {
                    "shape": "S5"
                }
            }
        },
        "Sn": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "content"
                ],
                "members": {
                    "content": {
                        "type": "string",
                        "sensitive": true
                    },
                    "references": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "licenseName": {},
                                "repository": {},
                                "recommendationContentSpan": {
                                    "type": "structure",
                                    "members": {
                                        "start": {
                                            "type": "integer"
                                        },
                                        "end": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "S6": {
            "type": "structure",
            "required": [
                "recommendationsWithReferences"
            ],
            "members": {
                "recommendationsWithReferences": {}
            }
        },
        "S9": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "key",
                    "value"
                ],
                "members": {
                    "key": {},
                    "value": {}
                }
            }
        },
        "Sa": {
            "type": "structure",
            "required": [
                "customizationName",
                "profileArn"
            ],
            "members": {
                "customizationName": {},
                "description": {},
                "profileArn": {},
                "customerKmsKeyArn": {}
            }
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "key",
                    "value"
                ],
                "members": {
                    "key": {},
                    "value": {}
                }
            }
        },
        "Sm": {
            "type": "structure",
            "required": [
                "recommendationsWithReferences"
            ],
            "members": {
                "recommendationsWithReferences": {}
            }
        },
        "S1o": {
            "type": "structure",
            "required": [
                "arn",
                "status",
                "dataReference",
                "configuration",
                "updatedAt"
            ],
            "members": {
                "arn": {},
                "status": {},
                "errorDetails": {},
                "dataReference": {
                    "shape": "S6"
                },
                "configuration": {
                    "shape": "Sa"
                },
                "updatedAt": {
                    "type": "long"
                }
            }
        }
    }
}