{
    "metadata": {
        "apiVersion": "2020-01-06",
        "endpointPrefix": "codesuite-codecommit",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "codesuiteCodeCommit",
        "serviceId": "codesuiteCodeCommit",
        "signatureVersion": "v4",
        "signingName": "codecommit",
        "uid": "codesuite-codecommit-2020-01-06",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FSQQHO2EPEFEQE6D5CM3UZT4DPYQ2DNHNYMSRFVAOCE4ETBTYWJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js"
        ]
    },
    "operations": {
        "diffBlobs": {
            "http": {
                "requestUri": "/diffBlobs",
                "responseCode": 200
            },
            "input": {
                "members": {
                    "diffView": {
                        "locationName": "diffView"
                    },
                    "ignoreWhitespace": {
                        "locationName": "ignoreWhitespace",
                        "type": "boolean"
                    },
                    "newBlobId": {
                        "locationName": "newBlobId"
                    },
                    "newBlobPath": {
                        "locationName": "newBlobPath"
                    },
                    "oldBlobId": {
                        "locationName": "oldBlobId"
                    },
                    "oldBlobPath": {
                        "locationName": "oldBlobPath"
                    },
                    "repositoryName": {
                        "locationName": "repositoryName"
                    },
                    "unhighlightedLargeDiff": {
                        "locationName": "unhighlightedLargeDiff",
                        "type": "boolean"
                    }
                },
                "required": [
                    "newBlobId",
                    "oldBlobPath",
                    "diffView",
                    "newBlobPath",
                    "ignoreWhitespace",
                    "repositoryName",
                    "unhighlightedLargeDiff",
                    "oldBlobId"
                ],
                "type": "structure"
            },
            "output": {
                "members": {
                    "content": {
                        "locationName": "content"
                    },
                    "type": {
                        "locationName": "type"
                    }
                },
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSQQHO2EPEFEQE6D5CM3UZT4DPYQ2DNHNYMSRFVAOCE4ETBTYWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js"
            ]
        },
        "highlightBlob": {
            "http": {
                "requestUri": "/highlightBlob",
                "responseCode": 200
            },
            "input": {
                "members": {
                    "blobId": {
                        "locationName": "blobId"
                    },
                    "blobPath": {
                        "locationName": "blobPath"
                    },
                    "bottom": {
                        "locationName": "bottom",
                        "type": "boolean"
                    },
                    "diffView": {
                        "locationName": "diffView"
                    },
                    "ignoreWhitespace": {
                        "locationName": "ignoreWhitespace",
                        "type": "boolean"
                    },
                    "offset": {
                        "locationName": "offset",
                        "type": "integer"
                    },
                    "repositoryName": {
                        "locationName": "repositoryName"
                    },
                    "since": {
                        "locationName": "since",
                        "type": "integer"
                    },
                    "to": {
                        "locationName": "to",
                        "type": "integer"
                    },
                    "unfold": {
                        "locationName": "unfold",
                        "type": "boolean"
                    }
                },
                "required": [
                    "unfold",
                    "blobPath",
                    "diffView",
                    "since",
                    "bottom",
                    "ignoreWhitespace",
                    "repositoryName",
                    "to",
                    "blobId",
                    "offset"
                ],
                "type": "structure"
            },
            "output": {
                "members": {
                    "content": {
                        "locationName": "content"
                    },
                    "type": {
                        "locationName": "type"
                    }
                },
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSQQHO2EPEFEQE6D5CM3UZT4DPYQ2DNHNYMSRFVAOCE4ETBTYWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js"
            ]
        }
    },
    "shapes": {}
}