{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-04-19",
        "endpointPrefix": "codestar",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "CodeStar",
        "serviceFullName": "AWS CodeStar",
        "serviceId": "CodeStar",
        "signatureVersion": "v4",
        "targetPrefix": "CodeStar_20170419",
        "uid": "codestar-2017-04-19",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NGUR4WAJDJ4MLRYOYNOGB4VBGGXFJYPGXUWOHNHRD3HOA77X3JUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GT4EMJTVXH76HXK5XB7RSAHP72ZOIEUUFEC3LRL5D2JSNH6PL2NA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4BOX3QLS2QF22O4PIVTOMPO5MPSPFIDFD7E5IGKFWYK3DOHXTDWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateTeamMember": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "userArn",
                    "projectRole"
                ],
                "members": {
                    "projectId": {},
                    "clientRequestToken": {},
                    "userArn": {},
                    "projectRole": {},
                    "remoteAccessAllowed": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "clientRequestToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GT4EMJTVXH76HXK5XB7RSAHP72ZOIEUUFEC3LRL5D2JSNH6PL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOX3QLS2QF22O4PIVTOMPO5MPSPFIDFD7E5IGKFWYK3DOHXTDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateProject": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "id"
                ],
                "members": {
                    "name": {
                        "shape": "S9"
                    },
                    "id": {},
                    "description": {
                        "shape": "Sa"
                    },
                    "clientRequestToken": {},
                    "sourceCode": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source",
                                "destination"
                            ],
                            "members": {
                                "source": {
                                    "type": "structure",
                                    "required": [
                                        "s3"
                                    ],
                                    "members": {
                                        "s3": {
                                            "shape": "Se"
                                        }
                                    }
                                },
                                "destination": {
                                    "type": "structure",
                                    "members": {
                                        "codeCommit": {
                                            "type": "structure",
                                            "required": [
                                                "name"
                                            ],
                                            "members": {
                                                "name": {}
                                            }
                                        },
                                        "gitHub": {
                                            "type": "structure",
                                            "required": [
                                                "name",
                                                "type",
                                                "owner",
                                                "privateRepository",
                                                "issuesEnabled",
                                                "token"
                                            ],
                                            "members": {
                                                "name": {},
                                                "description": {},
                                                "type": {},
                                                "owner": {},
                                                "privateRepository": {
                                                    "type": "boolean"
                                                },
                                                "issuesEnabled": {
                                                    "type": "boolean"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "sensitive": true
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "toolchain": {
                        "type": "structure",
                        "required": [
                            "source"
                        ],
                        "members": {
                            "source": {
                                "type": "structure",
                                "required": [
                                    "s3"
                                ],
                                "members": {
                                    "s3": {
                                        "shape": "Se"
                                    }
                                }
                            },
                            "roleArn": {},
                            "stackParameters": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    },
                    "tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "arn": {},
                    "clientRequestToken": {},
                    "projectTemplateId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GT4EMJTVXH76HXK5XB7RSAHP72ZOIEUUFEC3LRL5D2JSNH6PL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOX3QLS2QF22O4PIVTOMPO5MPSPFIDFD7E5IGKFWYK3DOHXTDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateUserProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "userArn",
                    "displayName",
                    "emailAddress"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {},
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "lastModifiedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GT4EMJTVXH76HXK5XB7RSAHP72ZOIEUUFEC3LRL5D2JSNH6PL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOX3QLS2QF22O4PIVTOMPO5MPSPFIDFD7E5IGKFWYK3DOHXTDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {},
                    "clientRequestToken": {},
                    "deleteStack": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "stackId": {},
                    "projectArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GT4EMJTVXH76HXK5XB7RSAHP72ZOIEUUFEC3LRL5D2JSNH6PL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOX3QLS2QF22O4PIVTOMPO5MPSPFIDFD7E5IGKFWYK3DOHXTDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteUserProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GT4EMJTVXH76HXK5XB7RSAHP72ZOIEUUFEC3LRL5D2JSNH6PL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOX3QLS2QF22O4PIVTOMPO5MPSPFIDFD7E5IGKFWYK3DOHXTDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {
                        "shape": "S9"
                    },
                    "id": {},
                    "arn": {},
                    "description": {
                        "shape": "Sa"
                    },
                    "clientRequestToken": {},
                    "createdTimeStamp": {
                        "type": "timestamp"
                    },
                    "stackId": {},
                    "projectTemplateId": {},
                    "status": {
                        "type": "structure",
                        "required": [
                            "state"
                        ],
                        "members": {
                            "state": {},
                            "reason": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GT4EMJTVXH76HXK5XB7RSAHP72ZOIEUUFEC3LRL5D2JSNH6PL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOX3QLS2QF22O4PIVTOMPO5MPSPFIDFD7E5IGKFWYK3DOHXTDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeUserProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userArn",
                    "createdTimestamp",
                    "lastModifiedTimestamp"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {},
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "lastModifiedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GT4EMJTVXH76HXK5XB7RSAHP72ZOIEUUFEC3LRL5D2JSNH6PL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOX3QLS2QF22O4PIVTOMPO5MPSPFIDFD7E5IGKFWYK3DOHXTDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisassociateTeamMember": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "userArn"
                ],
                "members": {
                    "projectId": {},
                    "userArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GT4EMJTVXH76HXK5XB7RSAHP72ZOIEUUFEC3LRL5D2JSNH6PL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOX3QLS2QF22O4PIVTOMPO5MPSPFIDFD7E5IGKFWYK3DOHXTDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListProjects": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "projects"
                ],
                "members": {
                    "projects": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "projectId": {},
                                "projectArn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GT4EMJTVXH76HXK5XB7RSAHP72ZOIEUUFEC3LRL5D2JSNH6PL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOX3QLS2QF22O4PIVTOMPO5MPSPFIDFD7E5IGKFWYK3DOHXTDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListResources": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId"
                ],
                "members": {
                    "projectId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id"
                            ],
                            "members": {
                                "id": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GT4EMJTVXH76HXK5XB7RSAHP72ZOIEUUFEC3LRL5D2JSNH6PL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOX3QLS2QF22O4PIVTOMPO5MPSPFIDFD7E5IGKFWYK3DOHXTDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sx"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GT4EMJTVXH76HXK5XB7RSAHP72ZOIEUUFEC3LRL5D2JSNH6PL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOX3QLS2QF22O4PIVTOMPO5MPSPFIDFD7E5IGKFWYK3DOHXTDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTeamMembers": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId"
                ],
                "members": {
                    "projectId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "teamMembers"
                ],
                "members": {
                    "teamMembers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "userArn",
                                "projectRole"
                            ],
                            "members": {
                                "userArn": {},
                                "projectRole": {},
                                "remoteAccessAllowed": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GT4EMJTVXH76HXK5XB7RSAHP72ZOIEUUFEC3LRL5D2JSNH6PL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOX3QLS2QF22O4PIVTOMPO5MPSPFIDFD7E5IGKFWYK3DOHXTDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListUserProfiles": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userProfiles"
                ],
                "members": {
                    "userProfiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "userArn": {},
                                "displayName": {
                                    "shape": "S14"
                                },
                                "emailAddress": {
                                    "shape": "S15"
                                },
                                "sshPublicKey": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GT4EMJTVXH76HXK5XB7RSAHP72ZOIEUUFEC3LRL5D2JSNH6PL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOX3QLS2QF22O4PIVTOMPO5MPSPFIDFD7E5IGKFWYK3DOHXTDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "TagProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "tags"
                ],
                "members": {
                    "id": {},
                    "tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GT4EMJTVXH76HXK5XB7RSAHP72ZOIEUUFEC3LRL5D2JSNH6PL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOX3QLS2QF22O4PIVTOMPO5MPSPFIDFD7E5IGKFWYK3DOHXTDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UntagProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "tags"
                ],
                "members": {
                    "id": {},
                    "tags": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GT4EMJTVXH76HXK5XB7RSAHP72ZOIEUUFEC3LRL5D2JSNH6PL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOX3QLS2QF22O4PIVTOMPO5MPSPFIDFD7E5IGKFWYK3DOHXTDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {},
                    "name": {
                        "shape": "S9"
                    },
                    "description": {
                        "shape": "Sa"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GT4EMJTVXH76HXK5XB7RSAHP72ZOIEUUFEC3LRL5D2JSNH6PL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOX3QLS2QF22O4PIVTOMPO5MPSPFIDFD7E5IGKFWYK3DOHXTDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateTeamMember": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "userArn"
                ],
                "members": {
                    "projectId": {},
                    "userArn": {},
                    "projectRole": {},
                    "remoteAccessAllowed": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "userArn": {},
                    "projectRole": {},
                    "remoteAccessAllowed": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GT4EMJTVXH76HXK5XB7RSAHP72ZOIEUUFEC3LRL5D2JSNH6PL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOX3QLS2QF22O4PIVTOMPO5MPSPFIDFD7E5IGKFWYK3DOHXTDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateUserProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {},
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "lastModifiedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GT4EMJTVXH76HXK5XB7RSAHP72ZOIEUUFEC3LRL5D2JSNH6PL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOX3QLS2QF22O4PIVTOMPO5MPSPFIDFD7E5IGKFWYK3DOHXTDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        }
    },
    "shapes": {
        "S9": {
            "type": "string",
            "sensitive": true
        },
        "Sa": {
            "type": "string",
            "sensitive": true
        },
        "Se": {
            "type": "structure",
            "members": {
                "bucketName": {},
                "bucketKey": {}
            }
        },
        "Sx": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S14": {
            "type": "string",
            "sensitive": true
        },
        "S15": {
            "type": "string",
            "sensitive": true
        }
    }
}