{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-08-08",
        "endpointPrefix": "codedeploy",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "CodeDeployGitHub",
        "serviceFullName": "AWS CodeDeploy GitHub Service",
        "serviceId": "CodeDeploy",
        "signatureVersion": "v4",
        "targetPrefix": "CodeDeployGitHub_20141006",
        "uid": "codedeploygithub-2018-08-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/T2TNUJOOC7VR3CCBKYL6T3CH3LHDDH6ZKUDU7NPF4IQAOER3PXQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VD5Z4X7OIV74RZ6XX7KSOQCAZKS5WOJUAUNVXGLE6K22NLW76XGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WDH3P46NSYNOKF4TASHLUOPNBLZEFD6HAVWKYH6S6JUJV76HUGNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PB5ZTXWTRW5D5NZWDFMDDX3RSKLRY3WJ3RTLPUA7M4WW54LGUZUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WAWG7DYK3UWHWIVLH3G2UC7S57HR76DXXWT3GE3XEWV247GWVGRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YJBJTG2N67HIBV6GPKPAHFMMOTGFTJF2U5A5YBCPIV5G3AWBYP3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4DLYTPFYKEJB47M54UHWD5NE4F3JH2INEKNNTUL5H54BIDHN6FMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KRKHFZ6IQEO27O5QQDDFL4O7PBRHI5AY4TZUARFR2NICFOQAETRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EROBQ3ZRIZYD76HH2LMPDFAI7DE4NZQFJLWB7OQXUHCBUFZFTKEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XNSRXIBCSCA6TKPS5I6EI5BT2WDKAJCUDH72UXPPPCKDQAQV6NEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6TCSE56V4MFLHEZ7644YE3MTKXMFRWDDO2XL6W4MWLBLNLMZUNNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWAGRAY4WHDLOH5F5KOL7S4V3FOCA5HWY2SKRSIHLSGGJHXSIHQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S3UCROL2SP6VHH447OCIO4B7ROCWK7WYJIU6RIJZNP3GGS2E6MBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OA6YXDYKHJ6PAOEZLM3RCJCCD6OCIOASAXXZ76S2YVDYKALY6QAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HS5ILYXSSBL46CXDN2TUUFWOKY3TUYUZAKY563IABDVFTODQYZVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXU73B27BIWLS3P4MTWQYLXW6CBTDDZRGEFR2I3KEPJ7EXAG2IMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FLMNR2M4EXDPZQCIPJSAGHYIIUUEEGW7WTZRWBTAGN26NENLZDYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEJEFXLTMFBOQHYR2IT2OTVOZIJEIWLCMOVH66BE4QRM7GAXFZDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DDJQHDWXMDKLEH5PK6XD7D6LGM26WGGTELWP6I2GL332DJO6OR4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VSAD5DIKM7D4DZXLGEM5MD3HK5N6RE4FFXWENSKFIBJ3WD4VF3DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FK2FAJOICUTGDTIQJAVL7PF23KUQMK4D4VTYTDGLJVHZOKQYOJVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/22AUGB4UAVN3ZKDATB3WB6GO736QPWQ2LYBLJHJULCPYU4RV72ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XECASL6HCWMWXGKQXRGGBBDMRRJ6K3WR7YNSSGBF6SADBG7AVOIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6XBJVK3JCKY6FQRAXHCF2I7YW36NLP5OIMQ62HSVLUEQHSH3C5VA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js"
        ]
    },
    "operations": {
        "BindGitHubAccountTokenToApplication": {
            "input": {
                "type": "structure",
                "members": {
                    "applicationName": {},
                    "tokenName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tokenName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD5Z4X7OIV74RZ6XX7KSOQCAZKS5WOJUAUNVXGLE6K22NLW76XGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDH3P46NSYNOKF4TASHLUOPNBLZEFD6HAVWKYH6S6JUJV76HUGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB5ZTXWTRW5D5NZWDFMDDX3RSKLRY3WJ3RTLPUA7M4WW54LGUZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAWG7DYK3UWHWIVLH3G2UC7S57HR76DXXWT3GE3XEWV247GWVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJBJTG2N67HIBV6GPKPAHFMMOTGFTJF2U5A5YBCPIV5G3AWBYP3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DLYTPFYKEJB47M54UHWD5NE4F3JH2INEKNNTUL5H54BIDHN6FMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRKHFZ6IQEO27O5QQDDFL4O7PBRHI5AY4TZUARFR2NICFOQAETRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EROBQ3ZRIZYD76HH2LMPDFAI7DE4NZQFJLWB7OQXUHCBUFZFTKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNSRXIBCSCA6TKPS5I6EI5BT2WDKAJCUDH72UXPPPCKDQAQV6NEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TCSE56V4MFLHEZ7644YE3MTKXMFRWDDO2XL6W4MWLBLNLMZUNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWAGRAY4WHDLOH5F5KOL7S4V3FOCA5HWY2SKRSIHLSGGJHXSIHQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3UCROL2SP6VHH447OCIO4B7ROCWK7WYJIU6RIJZNP3GGS2E6MBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA6YXDYKHJ6PAOEZLM3RCJCCD6OCIOASAXXZ76S2YVDYKALY6QAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5ILYXSSBL46CXDN2TUUFWOKY3TUYUZAKY563IABDVFTODQYZVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXU73B27BIWLS3P4MTWQYLXW6CBTDDZRGEFR2I3KEPJ7EXAG2IMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLMNR2M4EXDPZQCIPJSAGHYIIUUEEGW7WTZRWBTAGN26NENLZDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEJEFXLTMFBOQHYR2IT2OTVOZIJEIWLCMOVH66BE4QRM7GAXFZDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDJQHDWXMDKLEH5PK6XD7D6LGM26WGGTELWP6I2GL332DJO6OR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSAD5DIKM7D4DZXLGEM5MD3HK5N6RE4FFXWENSKFIBJ3WD4VF3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FK2FAJOICUTGDTIQJAVL7PF23KUQMK4D4VTYTDGLJVHZOKQYOJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AUGB4UAVN3ZKDATB3WB6GO736QPWQ2LYBLJHJULCPYU4RV72ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XECASL6HCWMWXGKQXRGGBBDMRRJ6K3WR7YNSSGBF6SADBG7AVOIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XBJVK3JCKY6FQRAXHCF2I7YW36NLP5OIMQ62HSVLUEQHSH3C5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js"
            ]
        },
        "RegisterGitHubAccountToken": {
            "input": {
                "type": "structure",
                "members": {
                    "tokenName": {},
                    "authToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tokenName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD5Z4X7OIV74RZ6XX7KSOQCAZKS5WOJUAUNVXGLE6K22NLW76XGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDH3P46NSYNOKF4TASHLUOPNBLZEFD6HAVWKYH6S6JUJV76HUGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB5ZTXWTRW5D5NZWDFMDDX3RSKLRY3WJ3RTLPUA7M4WW54LGUZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAWG7DYK3UWHWIVLH3G2UC7S57HR76DXXWT3GE3XEWV247GWVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJBJTG2N67HIBV6GPKPAHFMMOTGFTJF2U5A5YBCPIV5G3AWBYP3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DLYTPFYKEJB47M54UHWD5NE4F3JH2INEKNNTUL5H54BIDHN6FMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRKHFZ6IQEO27O5QQDDFL4O7PBRHI5AY4TZUARFR2NICFOQAETRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EROBQ3ZRIZYD76HH2LMPDFAI7DE4NZQFJLWB7OQXUHCBUFZFTKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNSRXIBCSCA6TKPS5I6EI5BT2WDKAJCUDH72UXPPPCKDQAQV6NEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TCSE56V4MFLHEZ7644YE3MTKXMFRWDDO2XL6W4MWLBLNLMZUNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWAGRAY4WHDLOH5F5KOL7S4V3FOCA5HWY2SKRSIHLSGGJHXSIHQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3UCROL2SP6VHH447OCIO4B7ROCWK7WYJIU6RIJZNP3GGS2E6MBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA6YXDYKHJ6PAOEZLM3RCJCCD6OCIOASAXXZ76S2YVDYKALY6QAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5ILYXSSBL46CXDN2TUUFWOKY3TUYUZAKY563IABDVFTODQYZVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXU73B27BIWLS3P4MTWQYLXW6CBTDDZRGEFR2I3KEPJ7EXAG2IMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLMNR2M4EXDPZQCIPJSAGHYIIUUEEGW7WTZRWBTAGN26NENLZDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEJEFXLTMFBOQHYR2IT2OTVOZIJEIWLCMOVH66BE4QRM7GAXFZDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDJQHDWXMDKLEH5PK6XD7D6LGM26WGGTELWP6I2GL332DJO6OR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSAD5DIKM7D4DZXLGEM5MD3HK5N6RE4FFXWENSKFIBJ3WD4VF3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FK2FAJOICUTGDTIQJAVL7PF23KUQMK4D4VTYTDGLJVHZOKQYOJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AUGB4UAVN3ZKDATB3WB6GO736QPWQ2LYBLJHJULCPYU4RV72ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XECASL6HCWMWXGKQXRGGBBDMRRJ6K3WR7YNSSGBF6SADBG7AVOIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XBJVK3JCKY6FQRAXHCF2I7YW36NLP5OIMQ62HSVLUEQHSH3C5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js"
            ]
        },
        "RegisterGitHubToken": {
            "input": {
                "type": "structure",
                "members": {
                    "applicationName": {},
                    "token": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD5Z4X7OIV74RZ6XX7KSOQCAZKS5WOJUAUNVXGLE6K22NLW76XGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDH3P46NSYNOKF4TASHLUOPNBLZEFD6HAVWKYH6S6JUJV76HUGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB5ZTXWTRW5D5NZWDFMDDX3RSKLRY3WJ3RTLPUA7M4WW54LGUZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAWG7DYK3UWHWIVLH3G2UC7S57HR76DXXWT3GE3XEWV247GWVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJBJTG2N67HIBV6GPKPAHFMMOTGFTJF2U5A5YBCPIV5G3AWBYP3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DLYTPFYKEJB47M54UHWD5NE4F3JH2INEKNNTUL5H54BIDHN6FMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRKHFZ6IQEO27O5QQDDFL4O7PBRHI5AY4TZUARFR2NICFOQAETRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EROBQ3ZRIZYD76HH2LMPDFAI7DE4NZQFJLWB7OQXUHCBUFZFTKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNSRXIBCSCA6TKPS5I6EI5BT2WDKAJCUDH72UXPPPCKDQAQV6NEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TCSE56V4MFLHEZ7644YE3MTKXMFRWDDO2XL6W4MWLBLNLMZUNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWAGRAY4WHDLOH5F5KOL7S4V3FOCA5HWY2SKRSIHLSGGJHXSIHQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3UCROL2SP6VHH447OCIO4B7ROCWK7WYJIU6RIJZNP3GGS2E6MBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA6YXDYKHJ6PAOEZLM3RCJCCD6OCIOASAXXZ76S2YVDYKALY6QAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5ILYXSSBL46CXDN2TUUFWOKY3TUYUZAKY563IABDVFTODQYZVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXU73B27BIWLS3P4MTWQYLXW6CBTDDZRGEFR2I3KEPJ7EXAG2IMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLMNR2M4EXDPZQCIPJSAGHYIIUUEEGW7WTZRWBTAGN26NENLZDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEJEFXLTMFBOQHYR2IT2OTVOZIJEIWLCMOVH66BE4QRM7GAXFZDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDJQHDWXMDKLEH5PK6XD7D6LGM26WGGTELWP6I2GL332DJO6OR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSAD5DIKM7D4DZXLGEM5MD3HK5N6RE4FFXWENSKFIBJ3WD4VF3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FK2FAJOICUTGDTIQJAVL7PF23KUQMK4D4VTYTDGLJVHZOKQYOJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AUGB4UAVN3ZKDATB3WB6GO736QPWQ2LYBLJHJULCPYU4RV72ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XECASL6HCWMWXGKQXRGGBBDMRRJ6K3WR7YNSSGBF6SADBG7AVOIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XBJVK3JCKY6FQRAXHCF2I7YW36NLP5OIMQ62HSVLUEQHSH3C5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js"
            ]
        }
    },
    "shapes": {}
}