{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-12-01",
        "endpointPrefix": "codestar-connections",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS CodeStar connections",
        "serviceId": "CodeStar connections",
        "signatureVersion": "v4",
        "signingName": "codestar-connections",
        "targetPrefix": "com.amazonaws.codestar.connections.CodeStar_connections_20191201",
        "uid": "codestar-connections-2019-12-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UI3C7OS2ZZR3KQAYFSQ5LBX7H4PD2IHBEYV6QHJK7VPVEC7MZK3A/arrow.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js"
        ]
    },
    "operations": {
        "CreateConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionName"
                ],
                "members": {
                    "ProviderType": {},
                    "ConnectionName": {},
                    "Tags": {
                        "shape": "S4"
                    },
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI3C7OS2ZZR3KQAYFSQ5LBX7H4PD2IHBEYV6QHJK7VPVEC7MZK3A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js"
            ]
        },
        "CreateHost": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ProviderType",
                    "ProviderEndpoint"
                ],
                "members": {
                    "Name": {},
                    "ProviderType": {},
                    "ProviderEndpoint": {},
                    "VpcConfiguration": {
                        "shape": "Se"
                    },
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HostArn": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI3C7OS2ZZR3KQAYFSQ5LBX7H4PD2IHBEYV6QHJK7VPVEC7MZK3A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js"
            ]
        },
        "DeleteConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI3C7OS2ZZR3KQAYFSQ5LBX7H4PD2IHBEYV6QHJK7VPVEC7MZK3A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js"
            ]
        },
        "DeleteHost": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI3C7OS2ZZR3KQAYFSQ5LBX7H4PD2IHBEYV6QHJK7VPVEC7MZK3A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js"
            ]
        },
        "GetConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connection": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI3C7OS2ZZR3KQAYFSQ5LBX7H4PD2IHBEYV6QHJK7VPVEC7MZK3A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js"
            ]
        },
        "GetHost": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Status": {},
                    "ProviderType": {},
                    "ProviderEndpoint": {},
                    "VpcConfiguration": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI3C7OS2ZZR3KQAYFSQ5LBX7H4PD2IHBEYV6QHJK7VPVEC7MZK3A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js"
            ]
        },
        "ListConnections": {
            "input": {
                "type": "structure",
                "members": {
                    "ProviderTypeFilter": {},
                    "HostArnFilter": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connections": {
                        "type": "list",
                        "member": {
                            "shape": "Ss"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI3C7OS2ZZR3KQAYFSQ5LBX7H4PD2IHBEYV6QHJK7VPVEC7MZK3A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js"
            ]
        },
        "ListHosts": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Hosts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "HostArn": {},
                                "ProviderType": {},
                                "ProviderEndpoint": {},
                                "VpcConfiguration": {
                                    "shape": "Se"
                                },
                                "Status": {},
                                "StatusMessage": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI3C7OS2ZZR3KQAYFSQ5LBX7H4PD2IHBEYV6QHJK7VPVEC7MZK3A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI3C7OS2ZZR3KQAYFSQ5LBX7H4PD2IHBEYV6QHJK7VPVEC7MZK3A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI3C7OS2ZZR3KQAYFSQ5LBX7H4PD2IHBEYV6QHJK7VPVEC7MZK3A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI3C7OS2ZZR3KQAYFSQ5LBX7H4PD2IHBEYV6QHJK7VPVEC7MZK3A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js"
            ]
        },
        "UpdateHost": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {},
                    "ProviderEndpoint": {},
                    "VpcConfiguration": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI3C7OS2ZZR3KQAYFSQ5LBX7H4PD2IHBEYV6QHJK7VPVEC7MZK3A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js"
            ]
        },
        "CreateCommitStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "CommitId",
                            "State"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "CommitId": {},
                            "State": {},
                            "TargetUrl": {},
                            "Description": {},
                            "Context": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FullRepositoryId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBYVQPWKYB4WJUMOPV4ENZNVMPYX6A6LMDJ3MMSQ5QTKWBDPMUVA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI3C7OS2ZZR3KQAYFSQ5LBX7H4PD2IHBEYV6QHJK7VPVEC7MZK3A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NZUKAXAXK3S6HACALWMMCRALYINVITJLTAJNN3QW3LRGGAYJI4A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3LMSFZ72ON5GGKZ7WY2VJVJJNUFBJWUGSDKE3MZJQG55EJJEM5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKO4UWIFAKVXRORGH6WGHMLA6ALBDYHYU44IKDL7JMN5XLU26MBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32LF4MMIEDXVIAUYMPM22LYUDC2KBI4QP5XJBDWA6ILUS3ETCHAQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NVQSZOA7FOVXBTBHC74HHKOIRNPYFRMHDI2NW7BHBT2MLKHSBUA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COH64BBDJKG2MN3WFJDYGPC7UW7FMS466DWZQWZX6F6KOBFKA4LA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js"
            ]
        },
        "CreateInstallationData": {
            "input": {
                "type": "structure",
                "required": [
                    "ProviderType",
                    "InstallationId"
                ],
                "members": {
                    "ProviderType": {},
                    "InstallationId": {},
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InstanceId"
                ],
                "members": {
                    "InstanceId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBYVQPWKYB4WJUMOPV4ENZNVMPYX6A6LMDJ3MMSQ5QTKWBDPMUVA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI3C7OS2ZZR3KQAYFSQ5LBX7H4PD2IHBEYV6QHJK7VPVEC7MZK3A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NZUKAXAXK3S6HACALWMMCRALYINVITJLTAJNN3QW3LRGGAYJI4A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3LMSFZ72ON5GGKZ7WY2VJVJJNUFBJWUGSDKE3MZJQG55EJJEM5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKO4UWIFAKVXRORGH6WGHMLA6ALBDYHYU44IKDL7JMN5XLU26MBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32LF4MMIEDXVIAUYMPM22LYUDC2KBI4QP5XJBDWA6ILUS3ETCHAQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NVQSZOA7FOVXBTBHC74HHKOIRNPYFRMHDI2NW7BHBT2MLKHSBUA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COH64BBDJKG2MN3WFJDYGPC7UW7FMS466DWZQWZX6F6KOBFKA4LA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js"
            ]
        },
        "CreatePullRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "Title",
                            "SourceBranchName",
                            "DestinationBranchName"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "Title": {},
                            "Body": {},
                            "SourceBranchName": {},
                            "DestinationBranchName": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PullRequest"
                ],
                "members": {
                    "PullRequest": {
                        "shape": "S15"
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBYVQPWKYB4WJUMOPV4ENZNVMPYX6A6LMDJ3MMSQ5QTKWBDPMUVA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI3C7OS2ZZR3KQAYFSQ5LBX7H4PD2IHBEYV6QHJK7VPVEC7MZK3A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NZUKAXAXK3S6HACALWMMCRALYINVITJLTAJNN3QW3LRGGAYJI4A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3LMSFZ72ON5GGKZ7WY2VJVJJNUFBJWUGSDKE3MZJQG55EJJEM5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKO4UWIFAKVXRORGH6WGHMLA6ALBDYHYU44IKDL7JMN5XLU26MBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32LF4MMIEDXVIAUYMPM22LYUDC2KBI4QP5XJBDWA6ILUS3ETCHAQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NVQSZOA7FOVXBTBHC74HHKOIRNPYFRMHDI2NW7BHBT2MLKHSBUA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COH64BBDJKG2MN3WFJDYGPC7UW7FMS466DWZQWZX6F6KOBFKA4LA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js"
            ]
        },
        "CreatePullRequestDiffComment": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "PullRequestId",
                            "CommitId",
                            "Body",
                            "FilePath"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "PullRequestId": {},
                            "CommitId": {},
                            "DestinationCommitId": {},
                            "Body": {},
                            "FilePath": {},
                            "FileLineStart": {
                                "type": "integer"
                            },
                            "FileLineEnd": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CommentId"
                ],
                "members": {
                    "CommentId": {},
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBYVQPWKYB4WJUMOPV4ENZNVMPYX6A6LMDJ3MMSQ5QTKWBDPMUVA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI3C7OS2ZZR3KQAYFSQ5LBX7H4PD2IHBEYV6QHJK7VPVEC7MZK3A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NZUKAXAXK3S6HACALWMMCRALYINVITJLTAJNN3QW3LRGGAYJI4A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3LMSFZ72ON5GGKZ7WY2VJVJJNUFBJWUGSDKE3MZJQG55EJJEM5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKO4UWIFAKVXRORGH6WGHMLA6ALBDYHYU44IKDL7JMN5XLU26MBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32LF4MMIEDXVIAUYMPM22LYUDC2KBI4QP5XJBDWA6ILUS3ETCHAQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NVQSZOA7FOVXBTBHC74HHKOIRNPYFRMHDI2NW7BHBT2MLKHSBUA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COH64BBDJKG2MN3WFJDYGPC7UW7FMS466DWZQWZX6F6KOBFKA4LA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js"
            ]
        },
        "CreateRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "OwnerId",
                            "RepositoryName",
                            "Private",
                            "EnableIssues",
                            "Description"
                        ],
                        "members": {
                            "OwnerId": {},
                            "RepositoryName": {},
                            "Private": {
                                "type": "boolean"
                            },
                            "EnableIssues": {
                                "type": "boolean"
                            },
                            "Description": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FullRepositoryId"
                ],
                "members": {
                    "FullRepositoryId": {},
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBYVQPWKYB4WJUMOPV4ENZNVMPYX6A6LMDJ3MMSQ5QTKWBDPMUVA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI3C7OS2ZZR3KQAYFSQ5LBX7H4PD2IHBEYV6QHJK7VPVEC7MZK3A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NZUKAXAXK3S6HACALWMMCRALYINVITJLTAJNN3QW3LRGGAYJI4A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3LMSFZ72ON5GGKZ7WY2VJVJJNUFBJWUGSDKE3MZJQG55EJJEM5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKO4UWIFAKVXRORGH6WGHMLA6ALBDYHYU44IKDL7JMN5XLU26MBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32LF4MMIEDXVIAUYMPM22LYUDC2KBI4QP5XJBDWA6ILUS3ETCHAQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NVQSZOA7FOVXBTBHC74HHKOIRNPYFRMHDI2NW7BHBT2MLKHSBUA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COH64BBDJKG2MN3WFJDYGPC7UW7FMS466DWZQWZX6F6KOBFKA4LA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js"
            ]
        },
        "DeleteInstallationData": {
            "input": {
                "type": "structure",
                "required": [
                    "ProviderType",
                    "InstallationId"
                ],
                "members": {
                    "ProviderType": {},
                    "InstallationId": {},
                    "HostArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBYVQPWKYB4WJUMOPV4ENZNVMPYX6A6LMDJ3MMSQ5QTKWBDPMUVA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI3C7OS2ZZR3KQAYFSQ5LBX7H4PD2IHBEYV6QHJK7VPVEC7MZK3A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NZUKAXAXK3S6HACALWMMCRALYINVITJLTAJNN3QW3LRGGAYJI4A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3LMSFZ72ON5GGKZ7WY2VJVJJNUFBJWUGSDKE3MZJQG55EJJEM5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKO4UWIFAKVXRORGH6WGHMLA6ALBDYHYU44IKDL7JMN5XLU26MBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32LF4MMIEDXVIAUYMPM22LYUDC2KBI4QP5XJBDWA6ILUS3ETCHAQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NVQSZOA7FOVXBTBHC74HHKOIRNPYFRMHDI2NW7BHBT2MLKHSBUA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COH64BBDJKG2MN3WFJDYGPC7UW7FMS466DWZQWZX6F6KOBFKA4LA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js"
            ]
        },
        "DeleteRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId"
                        ],
                        "members": {
                            "FullRepositoryId": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBYVQPWKYB4WJUMOPV4ENZNVMPYX6A6LMDJ3MMSQ5QTKWBDPMUVA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI3C7OS2ZZR3KQAYFSQ5LBX7H4PD2IHBEYV6QHJK7VPVEC7MZK3A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NZUKAXAXK3S6HACALWMMCRALYINVITJLTAJNN3QW3LRGGAYJI4A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3LMSFZ72ON5GGKZ7WY2VJVJJNUFBJWUGSDKE3MZJQG55EJJEM5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKO4UWIFAKVXRORGH6WGHMLA6ALBDYHYU44IKDL7JMN5XLU26MBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32LF4MMIEDXVIAUYMPM22LYUDC2KBI4QP5XJBDWA6ILUS3ETCHAQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NVQSZOA7FOVXBTBHC74HHKOIRNPYFRMHDI2NW7BHBT2MLKHSBUA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COH64BBDJKG2MN3WFJDYGPC7UW7FMS466DWZQWZX6F6KOBFKA4LA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js"
            ]
        },
        "EvaluateHostHealth": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HealthStatus": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBYVQPWKYB4WJUMOPV4ENZNVMPYX6A6LMDJ3MMSQ5QTKWBDPMUVA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI3C7OS2ZZR3KQAYFSQ5LBX7H4PD2IHBEYV6QHJK7VPVEC7MZK3A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NZUKAXAXK3S6HACALWMMCRALYINVITJLTAJNN3QW3LRGGAYJI4A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3LMSFZ72ON5GGKZ7WY2VJVJJNUFBJWUGSDKE3MZJQG55EJJEM5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKO4UWIFAKVXRORGH6WGHMLA6ALBDYHYU44IKDL7JMN5XLU26MBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32LF4MMIEDXVIAUYMPM22LYUDC2KBI4QP5XJBDWA6ILUS3ETCHAQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NVQSZOA7FOVXBTBHC74HHKOIRNPYFRMHDI2NW7BHBT2MLKHSBUA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COH64BBDJKG2MN3WFJDYGPC7UW7FMS466DWZQWZX6F6KOBFKA4LA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js"
            ]
        },
        "GenerateReferenceLink": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "ReferenceType",
                    "Reference"
                ],
                "members": {
                    "ConnectionArn": {},
                    "ReferenceType": {},
                    "Reference": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Link"
                ],
                "members": {
                    "Link": {},
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBYVQPWKYB4WJUMOPV4ENZNVMPYX6A6LMDJ3MMSQ5QTKWBDPMUVA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI3C7OS2ZZR3KQAYFSQ5LBX7H4PD2IHBEYV6QHJK7VPVEC7MZK3A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NZUKAXAXK3S6HACALWMMCRALYINVITJLTAJNN3QW3LRGGAYJI4A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3LMSFZ72ON5GGKZ7WY2VJVJJNUFBJWUGSDKE3MZJQG55EJJEM5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKO4UWIFAKVXRORGH6WGHMLA6ALBDYHYU44IKDL7JMN5XLU26MBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32LF4MMIEDXVIAUYMPM22LYUDC2KBI4QP5XJBDWA6ILUS3ETCHAQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NVQSZOA7FOVXBTBHC74HHKOIRNPYFRMHDI2NW7BHBT2MLKHSBUA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COH64BBDJKG2MN3WFJDYGPC7UW7FMS466DWZQWZX6F6KOBFKA4LA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js"
            ]
        },
        "GetBranch": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "BranchName"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "BranchName": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "LatestCommit",
                    "Capabilities"
                ],
                "members": {
                    "LatestCommit": {
                        "type": "structure",
                        "members": {
                            "CommitId": {},
                            "Message": {},
                            "Date": {
                                "type": "timestamp"
                            },
                            "AuthorDisplayName": {},
                            "AuthorEmail": {},
                            "AuthorId": {}
                        }
                    },
                    "Capabilities": {
                        "shape": "S2j"
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBYVQPWKYB4WJUMOPV4ENZNVMPYX6A6LMDJ3MMSQ5QTKWBDPMUVA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI3C7OS2ZZR3KQAYFSQ5LBX7H4PD2IHBEYV6QHJK7VPVEC7MZK3A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NZUKAXAXK3S6HACALWMMCRALYINVITJLTAJNN3QW3LRGGAYJI4A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3LMSFZ72ON5GGKZ7WY2VJVJJNUFBJWUGSDKE3MZJQG55EJJEM5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKO4UWIFAKVXRORGH6WGHMLA6ALBDYHYU44IKDL7JMN5XLU26MBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32LF4MMIEDXVIAUYMPM22LYUDC2KBI4QP5XJBDWA6ILUS3ETCHAQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NVQSZOA7FOVXBTBHC74HHKOIRNPYFRMHDI2NW7BHBT2MLKHSBUA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COH64BBDJKG2MN3WFJDYGPC7UW7FMS466DWZQWZX6F6KOBFKA4LA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js"
            ]
        },
        "GetCommitDiffs": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "AfterCommitSpecifier"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "BeforeCommitSpecifier": {},
                            "BeforeFilePath": {},
                            "AfterCommitSpecifier": {},
                            "AfterFilePath": {},
                            "NextToken": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CommitDiffs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "BeforeBlob": {
                                    "shape": "S2r"
                                },
                                "AfterBlob": {
                                    "shape": "S2r"
                                },
                                "ChangeType": {}
                            }
                        }
                    },
                    "NextToken": {},
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBYVQPWKYB4WJUMOPV4ENZNVMPYX6A6LMDJ3MMSQ5QTKWBDPMUVA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI3C7OS2ZZR3KQAYFSQ5LBX7H4PD2IHBEYV6QHJK7VPVEC7MZK3A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NZUKAXAXK3S6HACALWMMCRALYINVITJLTAJNN3QW3LRGGAYJI4A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3LMSFZ72ON5GGKZ7WY2VJVJJNUFBJWUGSDKE3MZJQG55EJJEM5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKO4UWIFAKVXRORGH6WGHMLA6ALBDYHYU44IKDL7JMN5XLU26MBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32LF4MMIEDXVIAUYMPM22LYUDC2KBI4QP5XJBDWA6ILUS3ETCHAQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NVQSZOA7FOVXBTBHC74HHKOIRNPYFRMHDI2NW7BHBT2MLKHSBUA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COH64BBDJKG2MN3WFJDYGPC7UW7FMS466DWZQWZX6F6KOBFKA4LA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js"
            ]
        },
        "GetFile": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "FilePath"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "CommitSpecifier": {},
                            "FilePath": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BlobId": {},
                    "CommitId": {},
                    "FilePath": {},
                    "FileContent": {},
                    "FileSize": {
                        "type": "long"
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPZNRJOIBCY4NPXTMRWXNVGBCMPUSJBXIAOXQZ7VRNMGQ6M2H6RA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJNSKIKDDJ4MHWVPAL7X4XZFOCYS7CBF3A2UVZVHI3QRMCF7VQBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDV25AEBO47ZI5BBLVQYBM2WAYAGR73IAMWTUB5WTUMJA34UP4DA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACY7TICQ6QHIIXG6YJQUMK2XILRAUUWP454FBKR4MWX644A4VDPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC6OHEBZW5P5OFVBGWK7BI26X5HZITPFBR2SIFQVUMZX2H6ORDHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBYVQPWKYB4WJUMOPV4ENZNVMPYX6A6LMDJ3MMSQ5QTKWBDPMUVA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI3C7OS2ZZR3KQAYFSQ5LBX7H4PD2IHBEYV6QHJK7VPVEC7MZK3A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELQUHSGZ6E6EWKC5EQVI3CSQF5BWWICTAPVUPWMKU6THBHTTKOUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NZUKAXAXK3S6HACALWMMCRALYINVITJLTAJNN3QW3LRGGAYJI4A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3LMSFZ72ON5GGKZ7WY2VJVJJNUFBJWUGSDKE3MZJQG55EJJEM5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKD6TYD7GV6KX46G27OZ4CWVXK2Y75CPR5SRKGYSTHHVSHOAJ3IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKO4UWIFAKVXRORGH6WGHMLA6ALBDYHYU44IKDL7JMN5XLU26MBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B2BL5UJJHMY6FEC4DVA2IC65SOLC474CCKEQ3ZF56TGO3GRQUPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32LF4MMIEDXVIAUYMPM22LYUDC2KBI4QP5XJBDWA6ILUS3ETCHAQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YBPVPKFVTXHOF5GDFYKEQWKUWRFOD46IGTJINU2PKHLV2VPYLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NVQSZOA7FOVXBTBHC74HHKOIRNPYFRMHDI2NW7BHBT2MLKHSBUA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLSNU3WFYKNYSTZC6RVJRUDL4NLHOPTYWL6IAPK64X2H3UWNMIGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COH64BBDJKG2MN3WFJDYGPC7UW7FMS466DWZQWZX6F6KOBFKA4LA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOLFBBB4ZQVMTA6SDBEHEIRT5UCQBYFNVAQB3RXPB2O6TYFW2LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF27W672D6GALGYOJDEPMK2PKS3QJTA3VBPUGXFP2TZOAZ34KS2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWEHLPARFGC3GVM4745GAIHBOXWJPJAKT4ACF6FQS7KOHF7JK3SA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KOZBOSBCUXFFNNXK3KZ5QSN2MWYNK6HITS5KKENTNSIWGTF64ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.js"
            ]
        },
        "GetFolder": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
[...]
