{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-12-01",
        "endpointPrefix": "codestar-connections",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS CodeStar connections",
        "serviceId": "CodeStar connections",
        "signatureVersion": "v4",
        "signingName": "codestar-connections",
        "targetPrefix": "com.amazonaws.codestar.connections.CodeStar_connections_20191201",
        "uid": "codestar-connections-2019-12-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionName"
                ],
                "members": {
                    "ProviderType": {},
                    "ConnectionName": {},
                    "Tags": {
                        "shape": "S4"
                    },
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateHost": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ProviderType",
                    "ProviderEndpoint"
                ],
                "members": {
                    "Name": {},
                    "ProviderType": {},
                    "ProviderEndpoint": {},
                    "VpcConfiguration": {
                        "shape": "Se"
                    },
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HostArn": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteHost": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connection": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetHost": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Status": {},
                    "ProviderType": {},
                    "ProviderEndpoint": {},
                    "VpcConfiguration": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListConnections": {
            "input": {
                "type": "structure",
                "members": {
                    "ProviderTypeFilter": {},
                    "HostArnFilter": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connections": {
                        "type": "list",
                        "member": {
                            "shape": "Ss"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListHosts": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Hosts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "HostArn": {},
                                "ProviderType": {},
                                "ProviderEndpoint": {},
                                "VpcConfiguration": {
                                    "shape": "Se"
                                },
                                "Status": {},
                                "StatusMessage": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateHost": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {},
                    "ProviderEndpoint": {},
                    "VpcConfiguration": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateCommitStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "CommitId",
                            "State"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "CommitId": {},
                            "State": {},
                            "TargetUrl": {},
                            "Description": {},
                            "Context": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FullRepositoryId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6SGNFQ53D4JIUMUSJBZTGPPMOXNKIV6ZNL3K3OMDHH5UHRK3B4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RIOKB5KHYWX4IQF5GXCG2OEUOYZF5UNFGFX5B6QSGLFGDZTYZBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGT6OVDGVD3VTOJLXTMLSQXLPED66ZR4CWGG7IAXA3DROP4IMMHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA3676LQ4NEHJU2VGEFVJW5JULPB42PFQ57BCQ7Q3WSOCXJS5WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ263TDDGDXW7HQXACKURBTDEA3MN4I5QYS56VRZW4TTHPALXY3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGD7I53SEONCWVKJHSROWH5DVKYVZIDVTDU7L5JPHO3TJN2R6TAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LQO3QZO436N3SZ623HBVENG5PD557M2N4AWGHC7FU6WNIM5TAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RU32IH64SHFQRTE25LM4WKFEG5XSD2HUDGPWX3I2XA5WYC6TDCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWKPOCQ2LDP2KIQU7DLZKDLNBHVNI2T3O6YM6CJQK5DLTXPMHB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FL5WFSKGXTYKCZDJ4LVKLMS6O5AINA74YPL7EAKGCPMZ7EVLB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q464UOJK3PZAWKRIT5NXA7I2NOVHAMLWCM6MGOSH36IAKE3PDPNA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js"
            ]
        },
        "CreateInstallationData": {
            "input": {
                "type": "structure",
                "required": [
                    "ProviderType",
                    "InstallationId"
                ],
                "members": {
                    "ProviderType": {},
                    "InstallationId": {},
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InstanceId"
                ],
                "members": {
                    "InstanceId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RU32IH64SHFQRTE25LM4WKFEG5XSD2HUDGPWX3I2XA5WYC6TDCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LPE67OPTQP4SBX3EDU2R37HR226ECIHL5J3C5ZFI7KECHRJ6R6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWKPOCQ2LDP2KIQU7DLZKDLNBHVNI2T3O6YM6CJQK5DLTXPMHB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAJDCKOZJ6ZQC3QUGPM22U7S6JA6UMHS4XXRD7YKC44WUY6Z32DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FL5WFSKGXTYKCZDJ4LVKLMS6O5AINA74YPL7EAKGCPMZ7EVLB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGUR4WAJDJ4MLRYOYNOGB4VBGGXFJYPGXUWOHNHRD3HOA77X3JUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q464UOJK3PZAWKRIT5NXA7I2NOVHAMLWCM6MGOSH36IAKE3PDPNA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js"
            ]
        },
        "CreatePullRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "Title",
                            "SourceBranchName",
                            "DestinationBranchName"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "Title": {},
                            "Body": {},
                            "SourceBranchName": {},
                            "DestinationBranchName": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PullRequest"
                ],
                "members": {
                    "PullRequest": {
                        "shape": "S15"
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6SGNFQ53D4JIUMUSJBZTGPPMOXNKIV6ZNL3K3OMDHH5UHRK3B4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RIOKB5KHYWX4IQF5GXCG2OEUOYZF5UNFGFX5B6QSGLFGDZTYZBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGT6OVDGVD3VTOJLXTMLSQXLPED66ZR4CWGG7IAXA3DROP4IMMHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA3676LQ4NEHJU2VGEFVJW5JULPB42PFQ57BCQ7Q3WSOCXJS5WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ263TDDGDXW7HQXACKURBTDEA3MN4I5QYS56VRZW4TTHPALXY3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGD7I53SEONCWVKJHSROWH5DVKYVZIDVTDU7L5JPHO3TJN2R6TAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LQO3QZO436N3SZ623HBVENG5PD557M2N4AWGHC7FU6WNIM5TAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RU32IH64SHFQRTE25LM4WKFEG5XSD2HUDGPWX3I2XA5WYC6TDCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWKPOCQ2LDP2KIQU7DLZKDLNBHVNI2T3O6YM6CJQK5DLTXPMHB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FL5WFSKGXTYKCZDJ4LVKLMS6O5AINA74YPL7EAKGCPMZ7EVLB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q464UOJK3PZAWKRIT5NXA7I2NOVHAMLWCM6MGOSH36IAKE3PDPNA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js"
            ]
        },
        "CreatePullRequestDiffComment": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "PullRequestId",
                            "CommitId",
                            "Body",
                            "FilePath"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "PullRequestId": {},
                            "CommitId": {},
                            "DestinationCommitId": {},
                            "Body": {},
                            "FilePath": {},
                            "FileLineStart": {
                                "type": "integer"
                            },
                            "FileLineEnd": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CommentId"
                ],
                "members": {
                    "CommentId": {},
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RU32IH64SHFQRTE25LM4WKFEG5XSD2HUDGPWX3I2XA5WYC6TDCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LPE67OPTQP4SBX3EDU2R37HR226ECIHL5J3C5ZFI7KECHRJ6R6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWKPOCQ2LDP2KIQU7DLZKDLNBHVNI2T3O6YM6CJQK5DLTXPMHB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAJDCKOZJ6ZQC3QUGPM22U7S6JA6UMHS4XXRD7YKC44WUY6Z32DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FL5WFSKGXTYKCZDJ4LVKLMS6O5AINA74YPL7EAKGCPMZ7EVLB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGUR4WAJDJ4MLRYOYNOGB4VBGGXFJYPGXUWOHNHRD3HOA77X3JUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q464UOJK3PZAWKRIT5NXA7I2NOVHAMLWCM6MGOSH36IAKE3PDPNA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js"
            ]
        },
        "CreateRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "OwnerId",
                            "RepositoryName",
                            "Private",
                            "EnableIssues",
                            "Description"
                        ],
                        "members": {
                            "OwnerId": {},
                            "RepositoryName": {},
                            "Private": {
                                "type": "boolean"
                            },
                            "EnableIssues": {
                                "type": "boolean"
                            },
                            "Description": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FullRepositoryId"
                ],
                "members": {
                    "FullRepositoryId": {},
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RU32IH64SHFQRTE25LM4WKFEG5XSD2HUDGPWX3I2XA5WYC6TDCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LPE67OPTQP4SBX3EDU2R37HR226ECIHL5J3C5ZFI7KECHRJ6R6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWKPOCQ2LDP2KIQU7DLZKDLNBHVNI2T3O6YM6CJQK5DLTXPMHB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAJDCKOZJ6ZQC3QUGPM22U7S6JA6UMHS4XXRD7YKC44WUY6Z32DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FL5WFSKGXTYKCZDJ4LVKLMS6O5AINA74YPL7EAKGCPMZ7EVLB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGUR4WAJDJ4MLRYOYNOGB4VBGGXFJYPGXUWOHNHRD3HOA77X3JUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q464UOJK3PZAWKRIT5NXA7I2NOVHAMLWCM6MGOSH36IAKE3PDPNA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js"
            ]
        },
        "DeleteInstallationData": {
            "input": {
                "type": "structure",
                "required": [
                    "ProviderType",
                    "InstallationId"
                ],
                "members": {
                    "ProviderType": {},
                    "InstallationId": {},
                    "HostArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RU32IH64SHFQRTE25LM4WKFEG5XSD2HUDGPWX3I2XA5WYC6TDCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LPE67OPTQP4SBX3EDU2R37HR226ECIHL5J3C5ZFI7KECHRJ6R6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWKPOCQ2LDP2KIQU7DLZKDLNBHVNI2T3O6YM6CJQK5DLTXPMHB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAJDCKOZJ6ZQC3QUGPM22U7S6JA6UMHS4XXRD7YKC44WUY6Z32DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FL5WFSKGXTYKCZDJ4LVKLMS6O5AINA74YPL7EAKGCPMZ7EVLB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGUR4WAJDJ4MLRYOYNOGB4VBGGXFJYPGXUWOHNHRD3HOA77X3JUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q464UOJK3PZAWKRIT5NXA7I2NOVHAMLWCM6MGOSH36IAKE3PDPNA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js"
            ]
        },
        "DeleteRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId"
                        ],
                        "members": {
                            "FullRepositoryId": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RU32IH64SHFQRTE25LM4WKFEG5XSD2HUDGPWX3I2XA5WYC6TDCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LPE67OPTQP4SBX3EDU2R37HR226ECIHL5J3C5ZFI7KECHRJ6R6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWKPOCQ2LDP2KIQU7DLZKDLNBHVNI2T3O6YM6CJQK5DLTXPMHB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAJDCKOZJ6ZQC3QUGPM22U7S6JA6UMHS4XXRD7YKC44WUY6Z32DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FL5WFSKGXTYKCZDJ4LVKLMS6O5AINA74YPL7EAKGCPMZ7EVLB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGUR4WAJDJ4MLRYOYNOGB4VBGGXFJYPGXUWOHNHRD3HOA77X3JUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q464UOJK3PZAWKRIT5NXA7I2NOVHAMLWCM6MGOSH36IAKE3PDPNA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js"
            ]
        },
        "EvaluateHostHealth": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HealthStatus": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RU32IH64SHFQRTE25LM4WKFEG5XSD2HUDGPWX3I2XA5WYC6TDCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LPE67OPTQP4SBX3EDU2R37HR226ECIHL5J3C5ZFI7KECHRJ6R6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWKPOCQ2LDP2KIQU7DLZKDLNBHVNI2T3O6YM6CJQK5DLTXPMHB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAJDCKOZJ6ZQC3QUGPM22U7S6JA6UMHS4XXRD7YKC44WUY6Z32DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FL5WFSKGXTYKCZDJ4LVKLMS6O5AINA74YPL7EAKGCPMZ7EVLB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGUR4WAJDJ4MLRYOYNOGB4VBGGXFJYPGXUWOHNHRD3HOA77X3JUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q464UOJK3PZAWKRIT5NXA7I2NOVHAMLWCM6MGOSH36IAKE3PDPNA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js"
            ]
        },
        "GenerateReferenceLink": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "ReferenceType",
                    "Reference"
                ],
                "members": {
                    "ConnectionArn": {},
                    "ReferenceType": {},
                    "Reference": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Link"
                ],
                "members": {
                    "Link": {},
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RU32IH64SHFQRTE25LM4WKFEG5XSD2HUDGPWX3I2XA5WYC6TDCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LPE67OPTQP4SBX3EDU2R37HR226ECIHL5J3C5ZFI7KECHRJ6R6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWKPOCQ2LDP2KIQU7DLZKDLNBHVNI2T3O6YM6CJQK5DLTXPMHB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAJDCKOZJ6ZQC3QUGPM22U7S6JA6UMHS4XXRD7YKC44WUY6Z32DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FL5WFSKGXTYKCZDJ4LVKLMS6O5AINA74YPL7EAKGCPMZ7EVLB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGUR4WAJDJ4MLRYOYNOGB4VBGGXFJYPGXUWOHNHRD3HOA77X3JUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q464UOJK3PZAWKRIT5NXA7I2NOVHAMLWCM6MGOSH36IAKE3PDPNA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js"
            ]
        },
        "GetBranch": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "BranchName"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "BranchName": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "LatestCommit",
                    "Capabilities"
                ],
                "members": {
                    "LatestCommit": {
                        "type": "structure",
                        "members": {
                            "CommitId": {},
                            "Message": {},
                            "Date": {
                                "type": "timestamp"
                            },
                            "AuthorDisplayName": {},
                            "AuthorEmail": {},
                            "AuthorId": {}
                        }
                    },
                    "Capabilities": {
                        "shape": "S2j"
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RU32IH64SHFQRTE25LM4WKFEG5XSD2HUDGPWX3I2XA5WYC6TDCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LPE67OPTQP4SBX3EDU2R37HR226ECIHL5J3C5ZFI7KECHRJ6R6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWKPOCQ2LDP2KIQU7DLZKDLNBHVNI2T3O6YM6CJQK5DLTXPMHB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAJDCKOZJ6ZQC3QUGPM22U7S6JA6UMHS4XXRD7YKC44WUY6Z32DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FL5WFSKGXTYKCZDJ4LVKLMS6O5AINA74YPL7EAKGCPMZ7EVLB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGUR4WAJDJ4MLRYOYNOGB4VBGGXFJYPGXUWOHNHRD3HOA77X3JUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q464UOJK3PZAWKRIT5NXA7I2NOVHAMLWCM6MGOSH36IAKE3PDPNA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js"
            ]
        },
        "GetCommitDiffs": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "AfterCommitSpecifier"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "BeforeCommitSpecifier": {},
                            "BeforeFilePath": {},
                            "AfterCommitSpecifier": {},
                            "AfterFilePath": {},
                            "NextToken": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CommitDiffs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "BeforeBlob": {
                                    "shape": "S2r"
                                },
                                "AfterBlob": {
                                    "shape": "S2r"
                                },
                                "ChangeType": {}
                            }
                        }
                    },
                    "NextToken": {},
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6SGNFQ53D4JIUMUSJBZTGPPMOXNKIV6ZNL3K3OMDHH5UHRK3B4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RIOKB5KHYWX4IQF5GXCG2OEUOYZF5UNFGFX5B6QSGLFGDZTYZBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGT6OVDGVD3VTOJLXTMLSQXLPED66ZR4CWGG7IAXA3DROP4IMMHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA3676LQ4NEHJU2VGEFVJW5JULPB42PFQ57BCQ7Q3WSOCXJS5WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ263TDDGDXW7HQXACKURBTDEA3MN4I5QYS56VRZW4TTHPALXY3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGD7I53SEONCWVKJHSROWH5DVKYVZIDVTDU7L5JPHO3TJN2R6TAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LQO3QZO436N3SZ623HBVENG5PD557M2N4AWGHC7FU6WNIM5TAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RU32IH64SHFQRTE25LM4WKFEG5XSD2HUDGPWX3I2XA5WYC6TDCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWKPOCQ2LDP2KIQU7DLZKDLNBHVNI2T3O6YM6CJQK5DLTXPMHB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FL5WFSKGXTYKCZDJ4LVKLMS6O5AINA74YPL7EAKGCPMZ7EVLB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q464UOJK3PZAWKRIT5NXA7I2NOVHAMLWCM6MGOSH36IAKE3PDPNA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js"
            ]
        },
        "GetFile": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "FilePath"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "CommitSpecifier": {},
                            "FilePath": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BlobId": {},
                    "CommitId": {},
                    "FilePath": {},
                    "FileContent": {},
                    "FileSize": {
                        "type": "long"
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I2WWNMXS5YABVGICLKMWFBSZEMBDV7VUPVQANMLXMGX5QDB5ALA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6SGNFQ53D4JIUMUSJBZTGPPMOXNKIV6ZNL3K3OMDHH5UHRK3B4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K5F3AXJKUVIKBQ4NHJCDRLRO4GRNOZ5MJWFHVRQLAEQNA2MIHKQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAAGOXK2C5REN3J4YZWZL7OWZUGREDU4VI443GGP24DHF3DNFPOQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RIOKB5KHYWX4IQF5GXCG2OEUOYZF5UNFGFX5B6QSGLFGDZTYZBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGT6OVDGVD3VTOJLXTMLSQXLPED66ZR4CWGG7IAXA3DROP4IMMHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA3676LQ4NEHJU2VGEFVJW5JULPB42PFQ57BCQ7Q3WSOCXJS5WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ263TDDGDXW7HQXACKURBTDEA3MN4I5QYS56VRZW4TTHPALXY3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGD7I53SEONCWVKJHSROWH5DVKYVZIDVTDU7L5JPHO3TJN2R6TAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LQO3QZO436N3SZ623HBVENG5PD557M2N4AWGHC7FU6WNIM5TAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RU32IH64SHFQRTE25LM4WKFEG5XSD2HUDGPWX3I2XA5WYC6TDCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWKPOCQ2LDP2KIQU7DLZKDLNBHVNI2T3O6YM6CJQK5DLTXPMHB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FL5WFSKGXTYKCZDJ4LVKLMS6O5AINA74YPL7EAKGCPMZ7EVLB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q464UOJK3PZAWKRIT5NXA7I2NOVHAMLWCM6MGOSH36IAKE3PDPNA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.js"
            ]
        },
        "GetFolder": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "FolderPath"
                        ],
                        "members": {
                            "FullRepositoryId": {},
[...]
