{
    "version": "2.0",
    "metadata": {
        "name": "CodeBuild_OAuth",
        "apiVersion": "2018-08-08",
        "endpointPrefix": "codebuild",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "CodeBuildOAuth",
        "serviceFullName": "AWS CodeBuild OAuth",
        "serviceId": "CodeBuild",
        "signatureVersion": "v4",
        "targetPrefix": "CodeBuild_OAuth",
        "uid": "codebuildoauth-2018-08-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/CIHDJ6TE6CSXELS2J7MNFJQGZVODKXKP36MD64KRQO3T6DZEHDAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FR47F5HMA2KI3XHLCPZ3Z6UIIGJNQ5U56IMEECRR3KHBAJ4VQSOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4RTHJL3SMQ67Q5K7RPAAHMAPWMKNTZBTN5DYMBYBLFNZRWL32Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLLYMW7H6CTYVAJKL5HYYXXUNWRVNDQTPFK5LVOURXYPGMSFZR4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SA3KX2M7CWT4AEW6AMWYFC7GHIIINMR4AM6XVHJBQGTQKSASHIAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VICHJDIJLBN7SZPSM4DNRVJQWQGSEIDVRJ6I6USLARKDS3OZ5LMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JWWALG6U2AXKDQ6E5CKZ6V5KYRVOJR4XAQVBE7HBAKTUAA4VZE5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MLLG72NDUECASOSKPRODWUGI2XKDYYSKBJFFNL6EOIX35VDNKK5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JG6SNHYDABSG2GZM5WKXIWIAGVXYYGB6E3RNBVJ5DVS6EUIZZXFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J22ZZT3IQCEKVIG7DSF2NGZSO7VW4SNPLOH3KZ7VUMXGZ5Q2QCFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TD6BT37K7K5ORE6PYYQ4TSN4OBSSJEH7QMG63XU2L2ZDXO3UVJVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DR7JGLNZBUDR6TNGDC4ADX7JVTVARVELAWCVOWPWZOAYWFR47BTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I5PRJRKNWAZWC4P7BSNBI5KCBYTHN5VOMIN4QBCL7MV5XOPSMLAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
        ]
    },
    "operations": {
        "DeleteOAuthToken": {
            "input": {
                "type": "structure",
                "required": [
                    "authServerType"
                ],
                "members": {
                    "authServerType": {},
                    "tokenIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FR47F5HMA2KI3XHLCPZ3Z6UIIGJNQ5U56IMEECRR3KHBAJ4VQSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4RTHJL3SMQ67Q5K7RPAAHMAPWMKNTZBTN5DYMBYBLFNZRWL32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLLYMW7H6CTYVAJKL5HYYXXUNWRVNDQTPFK5LVOURXYPGMSFZR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SA3KX2M7CWT4AEW6AMWYFC7GHIIINMR4AM6XVHJBQGTQKSASHIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VICHJDIJLBN7SZPSM4DNRVJQWQGSEIDVRJ6I6USLARKDS3OZ5LMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWWALG6U2AXKDQ6E5CKZ6V5KYRVOJR4XAQVBE7HBAKTUAA4VZE5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLLG72NDUECASOSKPRODWUGI2XKDYYSKBJFFNL6EOIX35VDNKK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG6SNHYDABSG2GZM5WKXIWIAGVXYYGB6E3RNBVJ5DVS6EUIZZXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J22ZZT3IQCEKVIG7DSF2NGZSO7VW4SNPLOH3KZ7VUMXGZ5Q2QCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD6BT37K7K5ORE6PYYQ4TSN4OBSSJEH7QMG63XU2L2ZDXO3UVJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7JGLNZBUDR6TNGDC4ADX7JVTVARVELAWCVOWPWZOAYWFR47BTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5PRJRKNWAZWC4P7BSNBI5KCBYTHN5VOMIN4QBCL7MV5XOPSMLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "ListConnectedOAuthAccounts": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "accounts": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "boolean"
                        }
                    },
                    "accountsWithAuthTokens": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "identifier": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FR47F5HMA2KI3XHLCPZ3Z6UIIGJNQ5U56IMEECRR3KHBAJ4VQSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4RTHJL3SMQ67Q5K7RPAAHMAPWMKNTZBTN5DYMBYBLFNZRWL32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLLYMW7H6CTYVAJKL5HYYXXUNWRVNDQTPFK5LVOURXYPGMSFZR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SA3KX2M7CWT4AEW6AMWYFC7GHIIINMR4AM6XVHJBQGTQKSASHIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VICHJDIJLBN7SZPSM4DNRVJQWQGSEIDVRJ6I6USLARKDS3OZ5LMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWWALG6U2AXKDQ6E5CKZ6V5KYRVOJR4XAQVBE7HBAKTUAA4VZE5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLLG72NDUECASOSKPRODWUGI2XKDYYSKBJFFNL6EOIX35VDNKK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG6SNHYDABSG2GZM5WKXIWIAGVXYYGB6E3RNBVJ5DVS6EUIZZXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J22ZZT3IQCEKVIG7DSF2NGZSO7VW4SNPLOH3KZ7VUMXGZ5Q2QCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD6BT37K7K5ORE6PYYQ4TSN4OBSSJEH7QMG63XU2L2ZDXO3UVJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7JGLNZBUDR6TNGDC4ADX7JVTVARVELAWCVOWPWZOAYWFR47BTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5PRJRKNWAZWC4P7BSNBI5KCBYTHN5VOMIN4QBCL7MV5XOPSMLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "ListRepositories": {
            "input": {
                "type": "structure",
                "required": [
                    "serverType"
                ],
                "members": {
                    "serverType": {},
                    "tokenIdentifier": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repositories": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "fullName": {},
                                "description": {},
                                "isPrivate": {
                                    "type": "boolean"
                                },
                                "cloneURL": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FR47F5HMA2KI3XHLCPZ3Z6UIIGJNQ5U56IMEECRR3KHBAJ4VQSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4RTHJL3SMQ67Q5K7RPAAHMAPWMKNTZBTN5DYMBYBLFNZRWL32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLLYMW7H6CTYVAJKL5HYYXXUNWRVNDQTPFK5LVOURXYPGMSFZR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SA3KX2M7CWT4AEW6AMWYFC7GHIIINMR4AM6XVHJBQGTQKSASHIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VICHJDIJLBN7SZPSM4DNRVJQWQGSEIDVRJ6I6USLARKDS3OZ5LMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWWALG6U2AXKDQ6E5CKZ6V5KYRVOJR4XAQVBE7HBAKTUAA4VZE5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLLG72NDUECASOSKPRODWUGI2XKDYYSKBJFFNL6EOIX35VDNKK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG6SNHYDABSG2GZM5WKXIWIAGVXYYGB6E3RNBVJ5DVS6EUIZZXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J22ZZT3IQCEKVIG7DSF2NGZSO7VW4SNPLOH3KZ7VUMXGZ5Q2QCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD6BT37K7K5ORE6PYYQ4TSN4OBSSJEH7QMG63XU2L2ZDXO3UVJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7JGLNZBUDR6TNGDC4ADX7JVTVARVELAWCVOWPWZOAYWFR47BTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5PRJRKNWAZWC4P7BSNBI5KCBYTHN5VOMIN4QBCL7MV5XOPSMLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "PersistOAuthToken": {
            "input": {
                "type": "structure",
                "required": [
                    "authCode",
                    "authServerType"
                ],
                "members": {
                    "authCode": {
                        "type": "string",
                        "sensitive": true
                    },
                    "tokenIdentifier": {},
                    "authServerType": {},
                    "oauthAppVersion": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FR47F5HMA2KI3XHLCPZ3Z6UIIGJNQ5U56IMEECRR3KHBAJ4VQSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4RTHJL3SMQ67Q5K7RPAAHMAPWMKNTZBTN5DYMBYBLFNZRWL32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLLYMW7H6CTYVAJKL5HYYXXUNWRVNDQTPFK5LVOURXYPGMSFZR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SA3KX2M7CWT4AEW6AMWYFC7GHIIINMR4AM6XVHJBQGTQKSASHIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VICHJDIJLBN7SZPSM4DNRVJQWQGSEIDVRJ6I6USLARKDS3OZ5LMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWWALG6U2AXKDQ6E5CKZ6V5KYRVOJR4XAQVBE7HBAKTUAA4VZE5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLLG72NDUECASOSKPRODWUGI2XKDYYSKBJFFNL6EOIX35VDNKK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG6SNHYDABSG2GZM5WKXIWIAGVXYYGB6E3RNBVJ5DVS6EUIZZXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J22ZZT3IQCEKVIG7DSF2NGZSO7VW4SNPLOH3KZ7VUMXGZ5Q2QCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD6BT37K7K5ORE6PYYQ4TSN4OBSSJEH7QMG63XU2L2ZDXO3UVJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7JGLNZBUDR6TNGDC4ADX7JVTVARVELAWCVOWPWZOAYWFR47BTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5PRJRKNWAZWC4P7BSNBI5KCBYTHN5VOMIN4QBCL7MV5XOPSMLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTCAB6B7BLEWFJO37XHHPRJJKMXMLJXVEHPWYGCVMKNJMLWZU6VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H677FRFAVP6DVNXYBD2JWSFH7WNIBUIGCCEXQKQFNNEQLQYT6IBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3EWCBPDJOZ3I5RDZJOK37OIIEUT2P2FNJJEDRAAIRN6DR52HQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKVUZ3GV5HCKY4VZ7POPX6NVK2ZDVXCFLPQZLGMXTLPRZLGVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        }
    },
    "shapes": {}
}