{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-04-19",
        "endpointPrefix": "codestar",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "CodeStar",
        "serviceFullName": "AWS CodeStar",
        "serviceId": "CodeStar",
        "signatureVersion": "v4",
        "targetPrefix": "CodeStar_20170419",
        "uid": "codestar-2017-04-19",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4A6K352OBBOR47CL3ZAYRKQQZDWD47N2TRU2KB3KQPTLSKDUHDHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3VZZPMT54TYXD6GPCWQ6RGECGNEBMT2RXK7NFJFVHYTOV723FSTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KRM3A22QHY6TSHWAEDT6P6W7MTWE6PAM7CX3FFUXYMG3MUIGFXLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ZH66X2URBVBQD2OKEGKNKW2NYPKYBFPW6CCK36PLS74PTNUZNAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4XVIQZ7AXSXH3SLA4ZJFDIIRZKNRAPI6BYVQXOZVMGPYPSPDAHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N6RS2F4GB3F4YBC6ZK5UIOEITB2DZX5S3RHMOWP4YJCZCPVLVBGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z46QUXPMEHDJGKAUS767U2ROTHRC4FU7KAM25XEHZ4WJACYQCBNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6WIY4YNTY6D4OHX5YWCYFCP3H6CGOKX4DN4OKNBFI3Z6LEO7IVBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MJPCN54QBEVKZXBBP5Z6CC5N37S7HN3CWIFBGLT2KIGG44WSWTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateTeamMember": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "userArn",
                    "projectRole"
                ],
                "members": {
                    "projectId": {},
                    "clientRequestToken": {},
                    "userArn": {},
                    "projectRole": {},
                    "remoteAccessAllowed": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "clientRequestToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VZZPMT54TYXD6GPCWQ6RGECGNEBMT2RXK7NFJFVHYTOV723FSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRM3A22QHY6TSHWAEDT6P6W7MTWE6PAM7CX3FFUXYMG3MUIGFXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZH66X2URBVBQD2OKEGKNKW2NYPKYBFPW6CCK36PLS74PTNUZNAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4XVIQZ7AXSXH3SLA4ZJFDIIRZKNRAPI6BYVQXOZVMGPYPSPDAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6RS2F4GB3F4YBC6ZK5UIOEITB2DZX5S3RHMOWP4YJCZCPVLVBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46QUXPMEHDJGKAUS767U2ROTHRC4FU7KAM25XEHZ4WJACYQCBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WIY4YNTY6D4OHX5YWCYFCP3H6CGOKX4DN4OKNBFI3Z6LEO7IVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MJPCN54QBEVKZXBBP5Z6CC5N37S7HN3CWIFBGLT2KIGG44WSWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateProject": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "id"
                ],
                "members": {
                    "name": {
                        "shape": "S9"
                    },
                    "id": {},
                    "description": {
                        "shape": "Sa"
                    },
                    "clientRequestToken": {},
                    "sourceCode": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source",
                                "destination"
                            ],
                            "members": {
                                "source": {
                                    "type": "structure",
                                    "required": [
                                        "s3"
                                    ],
                                    "members": {
                                        "s3": {
                                            "shape": "Se"
                                        }
                                    }
                                },
                                "destination": {
                                    "type": "structure",
                                    "members": {
                                        "codeCommit": {
                                            "type": "structure",
                                            "required": [
                                                "name"
                                            ],
                                            "members": {
                                                "name": {}
                                            }
                                        },
                                        "gitHub": {
                                            "type": "structure",
                                            "required": [
                                                "name",
                                                "type",
                                                "owner",
                                                "privateRepository",
                                                "issuesEnabled",
                                                "token"
                                            ],
                                            "members": {
                                                "name": {},
                                                "description": {},
                                                "type": {},
                                                "owner": {},
                                                "privateRepository": {
                                                    "type": "boolean"
                                                },
                                                "issuesEnabled": {
                                                    "type": "boolean"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "sensitive": true
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "toolchain": {
                        "type": "structure",
                        "required": [
                            "source"
                        ],
                        "members": {
                            "source": {
                                "type": "structure",
                                "required": [
                                    "s3"
                                ],
                                "members": {
                                    "s3": {
                                        "shape": "Se"
                                    }
                                }
                            },
                            "roleArn": {},
                            "stackParameters": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    },
                    "tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "arn": {},
                    "clientRequestToken": {},
                    "projectTemplateId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VZZPMT54TYXD6GPCWQ6RGECGNEBMT2RXK7NFJFVHYTOV723FSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRM3A22QHY6TSHWAEDT6P6W7MTWE6PAM7CX3FFUXYMG3MUIGFXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZH66X2URBVBQD2OKEGKNKW2NYPKYBFPW6CCK36PLS74PTNUZNAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4XVIQZ7AXSXH3SLA4ZJFDIIRZKNRAPI6BYVQXOZVMGPYPSPDAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6RS2F4GB3F4YBC6ZK5UIOEITB2DZX5S3RHMOWP4YJCZCPVLVBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46QUXPMEHDJGKAUS767U2ROTHRC4FU7KAM25XEHZ4WJACYQCBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WIY4YNTY6D4OHX5YWCYFCP3H6CGOKX4DN4OKNBFI3Z6LEO7IVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MJPCN54QBEVKZXBBP5Z6CC5N37S7HN3CWIFBGLT2KIGG44WSWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateUserProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "userArn",
                    "displayName",
                    "emailAddress"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {},
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "lastModifiedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VZZPMT54TYXD6GPCWQ6RGECGNEBMT2RXK7NFJFVHYTOV723FSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRM3A22QHY6TSHWAEDT6P6W7MTWE6PAM7CX3FFUXYMG3MUIGFXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZH66X2URBVBQD2OKEGKNKW2NYPKYBFPW6CCK36PLS74PTNUZNAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4XVIQZ7AXSXH3SLA4ZJFDIIRZKNRAPI6BYVQXOZVMGPYPSPDAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6RS2F4GB3F4YBC6ZK5UIOEITB2DZX5S3RHMOWP4YJCZCPVLVBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46QUXPMEHDJGKAUS767U2ROTHRC4FU7KAM25XEHZ4WJACYQCBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WIY4YNTY6D4OHX5YWCYFCP3H6CGOKX4DN4OKNBFI3Z6LEO7IVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MJPCN54QBEVKZXBBP5Z6CC5N37S7HN3CWIFBGLT2KIGG44WSWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {},
                    "clientRequestToken": {},
                    "deleteStack": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "stackId": {},
                    "projectArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VZZPMT54TYXD6GPCWQ6RGECGNEBMT2RXK7NFJFVHYTOV723FSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRM3A22QHY6TSHWAEDT6P6W7MTWE6PAM7CX3FFUXYMG3MUIGFXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZH66X2URBVBQD2OKEGKNKW2NYPKYBFPW6CCK36PLS74PTNUZNAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4XVIQZ7AXSXH3SLA4ZJFDIIRZKNRAPI6BYVQXOZVMGPYPSPDAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6RS2F4GB3F4YBC6ZK5UIOEITB2DZX5S3RHMOWP4YJCZCPVLVBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46QUXPMEHDJGKAUS767U2ROTHRC4FU7KAM25XEHZ4WJACYQCBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WIY4YNTY6D4OHX5YWCYFCP3H6CGOKX4DN4OKNBFI3Z6LEO7IVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MJPCN54QBEVKZXBBP5Z6CC5N37S7HN3CWIFBGLT2KIGG44WSWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteUserProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VZZPMT54TYXD6GPCWQ6RGECGNEBMT2RXK7NFJFVHYTOV723FSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRM3A22QHY6TSHWAEDT6P6W7MTWE6PAM7CX3FFUXYMG3MUIGFXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZH66X2URBVBQD2OKEGKNKW2NYPKYBFPW6CCK36PLS74PTNUZNAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4XVIQZ7AXSXH3SLA4ZJFDIIRZKNRAPI6BYVQXOZVMGPYPSPDAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6RS2F4GB3F4YBC6ZK5UIOEITB2DZX5S3RHMOWP4YJCZCPVLVBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46QUXPMEHDJGKAUS767U2ROTHRC4FU7KAM25XEHZ4WJACYQCBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WIY4YNTY6D4OHX5YWCYFCP3H6CGOKX4DN4OKNBFI3Z6LEO7IVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MJPCN54QBEVKZXBBP5Z6CC5N37S7HN3CWIFBGLT2KIGG44WSWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {
                        "shape": "S9"
                    },
                    "id": {},
                    "arn": {},
                    "description": {
                        "shape": "Sa"
                    },
                    "clientRequestToken": {},
                    "createdTimeStamp": {
                        "type": "timestamp"
                    },
                    "stackId": {},
                    "projectTemplateId": {},
                    "status": {
                        "type": "structure",
                        "required": [
                            "state"
                        ],
                        "members": {
                            "state": {},
                            "reason": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VZZPMT54TYXD6GPCWQ6RGECGNEBMT2RXK7NFJFVHYTOV723FSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRM3A22QHY6TSHWAEDT6P6W7MTWE6PAM7CX3FFUXYMG3MUIGFXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZH66X2URBVBQD2OKEGKNKW2NYPKYBFPW6CCK36PLS74PTNUZNAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4XVIQZ7AXSXH3SLA4ZJFDIIRZKNRAPI6BYVQXOZVMGPYPSPDAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6RS2F4GB3F4YBC6ZK5UIOEITB2DZX5S3RHMOWP4YJCZCPVLVBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46QUXPMEHDJGKAUS767U2ROTHRC4FU7KAM25XEHZ4WJACYQCBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WIY4YNTY6D4OHX5YWCYFCP3H6CGOKX4DN4OKNBFI3Z6LEO7IVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MJPCN54QBEVKZXBBP5Z6CC5N37S7HN3CWIFBGLT2KIGG44WSWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeUserProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userArn",
                    "createdTimestamp",
                    "lastModifiedTimestamp"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {},
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "lastModifiedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VZZPMT54TYXD6GPCWQ6RGECGNEBMT2RXK7NFJFVHYTOV723FSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRM3A22QHY6TSHWAEDT6P6W7MTWE6PAM7CX3FFUXYMG3MUIGFXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZH66X2URBVBQD2OKEGKNKW2NYPKYBFPW6CCK36PLS74PTNUZNAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4XVIQZ7AXSXH3SLA4ZJFDIIRZKNRAPI6BYVQXOZVMGPYPSPDAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6RS2F4GB3F4YBC6ZK5UIOEITB2DZX5S3RHMOWP4YJCZCPVLVBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46QUXPMEHDJGKAUS767U2ROTHRC4FU7KAM25XEHZ4WJACYQCBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WIY4YNTY6D4OHX5YWCYFCP3H6CGOKX4DN4OKNBFI3Z6LEO7IVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MJPCN54QBEVKZXBBP5Z6CC5N37S7HN3CWIFBGLT2KIGG44WSWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DisassociateTeamMember": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "userArn"
                ],
                "members": {
                    "projectId": {},
                    "userArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VZZPMT54TYXD6GPCWQ6RGECGNEBMT2RXK7NFJFVHYTOV723FSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRM3A22QHY6TSHWAEDT6P6W7MTWE6PAM7CX3FFUXYMG3MUIGFXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZH66X2URBVBQD2OKEGKNKW2NYPKYBFPW6CCK36PLS74PTNUZNAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4XVIQZ7AXSXH3SLA4ZJFDIIRZKNRAPI6BYVQXOZVMGPYPSPDAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6RS2F4GB3F4YBC6ZK5UIOEITB2DZX5S3RHMOWP4YJCZCPVLVBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46QUXPMEHDJGKAUS767U2ROTHRC4FU7KAM25XEHZ4WJACYQCBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WIY4YNTY6D4OHX5YWCYFCP3H6CGOKX4DN4OKNBFI3Z6LEO7IVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MJPCN54QBEVKZXBBP5Z6CC5N37S7HN3CWIFBGLT2KIGG44WSWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListProjects": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "projects"
                ],
                "members": {
                    "projects": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "projectId": {},
                                "projectArn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VZZPMT54TYXD6GPCWQ6RGECGNEBMT2RXK7NFJFVHYTOV723FSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRM3A22QHY6TSHWAEDT6P6W7MTWE6PAM7CX3FFUXYMG3MUIGFXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZH66X2URBVBQD2OKEGKNKW2NYPKYBFPW6CCK36PLS74PTNUZNAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4XVIQZ7AXSXH3SLA4ZJFDIIRZKNRAPI6BYVQXOZVMGPYPSPDAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6RS2F4GB3F4YBC6ZK5UIOEITB2DZX5S3RHMOWP4YJCZCPVLVBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46QUXPMEHDJGKAUS767U2ROTHRC4FU7KAM25XEHZ4WJACYQCBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WIY4YNTY6D4OHX5YWCYFCP3H6CGOKX4DN4OKNBFI3Z6LEO7IVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MJPCN54QBEVKZXBBP5Z6CC5N37S7HN3CWIFBGLT2KIGG44WSWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListResources": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId"
                ],
                "members": {
                    "projectId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id"
                            ],
                            "members": {
                                "id": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VZZPMT54TYXD6GPCWQ6RGECGNEBMT2RXK7NFJFVHYTOV723FSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRM3A22QHY6TSHWAEDT6P6W7MTWE6PAM7CX3FFUXYMG3MUIGFXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZH66X2URBVBQD2OKEGKNKW2NYPKYBFPW6CCK36PLS74PTNUZNAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4XVIQZ7AXSXH3SLA4ZJFDIIRZKNRAPI6BYVQXOZVMGPYPSPDAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6RS2F4GB3F4YBC6ZK5UIOEITB2DZX5S3RHMOWP4YJCZCPVLVBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46QUXPMEHDJGKAUS767U2ROTHRC4FU7KAM25XEHZ4WJACYQCBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WIY4YNTY6D4OHX5YWCYFCP3H6CGOKX4DN4OKNBFI3Z6LEO7IVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MJPCN54QBEVKZXBBP5Z6CC5N37S7HN3CWIFBGLT2KIGG44WSWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTagsForProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sx"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VZZPMT54TYXD6GPCWQ6RGECGNEBMT2RXK7NFJFVHYTOV723FSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRM3A22QHY6TSHWAEDT6P6W7MTWE6PAM7CX3FFUXYMG3MUIGFXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZH66X2URBVBQD2OKEGKNKW2NYPKYBFPW6CCK36PLS74PTNUZNAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4XVIQZ7AXSXH3SLA4ZJFDIIRZKNRAPI6BYVQXOZVMGPYPSPDAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6RS2F4GB3F4YBC6ZK5UIOEITB2DZX5S3RHMOWP4YJCZCPVLVBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46QUXPMEHDJGKAUS767U2ROTHRC4FU7KAM25XEHZ4WJACYQCBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WIY4YNTY6D4OHX5YWCYFCP3H6CGOKX4DN4OKNBFI3Z6LEO7IVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MJPCN54QBEVKZXBBP5Z6CC5N37S7HN3CWIFBGLT2KIGG44WSWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTeamMembers": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId"
                ],
                "members": {
                    "projectId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "teamMembers"
                ],
                "members": {
                    "teamMembers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "userArn",
                                "projectRole"
                            ],
                            "members": {
                                "userArn": {},
                                "projectRole": {},
                                "remoteAccessAllowed": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VZZPMT54TYXD6GPCWQ6RGECGNEBMT2RXK7NFJFVHYTOV723FSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRM3A22QHY6TSHWAEDT6P6W7MTWE6PAM7CX3FFUXYMG3MUIGFXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZH66X2URBVBQD2OKEGKNKW2NYPKYBFPW6CCK36PLS74PTNUZNAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4XVIQZ7AXSXH3SLA4ZJFDIIRZKNRAPI6BYVQXOZVMGPYPSPDAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6RS2F4GB3F4YBC6ZK5UIOEITB2DZX5S3RHMOWP4YJCZCPVLVBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46QUXPMEHDJGKAUS767U2ROTHRC4FU7KAM25XEHZ4WJACYQCBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WIY4YNTY6D4OHX5YWCYFCP3H6CGOKX4DN4OKNBFI3Z6LEO7IVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MJPCN54QBEVKZXBBP5Z6CC5N37S7HN3CWIFBGLT2KIGG44WSWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListUserProfiles": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userProfiles"
                ],
                "members": {
                    "userProfiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "userArn": {},
                                "displayName": {
                                    "shape": "S14"
                                },
                                "emailAddress": {
                                    "shape": "S15"
                                },
                                "sshPublicKey": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VZZPMT54TYXD6GPCWQ6RGECGNEBMT2RXK7NFJFVHYTOV723FSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRM3A22QHY6TSHWAEDT6P6W7MTWE6PAM7CX3FFUXYMG3MUIGFXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZH66X2URBVBQD2OKEGKNKW2NYPKYBFPW6CCK36PLS74PTNUZNAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4XVIQZ7AXSXH3SLA4ZJFDIIRZKNRAPI6BYVQXOZVMGPYPSPDAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6RS2F4GB3F4YBC6ZK5UIOEITB2DZX5S3RHMOWP4YJCZCPVLVBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46QUXPMEHDJGKAUS767U2ROTHRC4FU7KAM25XEHZ4WJACYQCBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WIY4YNTY6D4OHX5YWCYFCP3H6CGOKX4DN4OKNBFI3Z6LEO7IVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MJPCN54QBEVKZXBBP5Z6CC5N37S7HN3CWIFBGLT2KIGG44WSWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "TagProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "tags"
                ],
                "members": {
                    "id": {},
                    "tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VZZPMT54TYXD6GPCWQ6RGECGNEBMT2RXK7NFJFVHYTOV723FSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRM3A22QHY6TSHWAEDT6P6W7MTWE6PAM7CX3FFUXYMG3MUIGFXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZH66X2URBVBQD2OKEGKNKW2NYPKYBFPW6CCK36PLS74PTNUZNAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4XVIQZ7AXSXH3SLA4ZJFDIIRZKNRAPI6BYVQXOZVMGPYPSPDAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6RS2F4GB3F4YBC6ZK5UIOEITB2DZX5S3RHMOWP4YJCZCPVLVBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46QUXPMEHDJGKAUS767U2ROTHRC4FU7KAM25XEHZ4WJACYQCBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WIY4YNTY6D4OHX5YWCYFCP3H6CGOKX4DN4OKNBFI3Z6LEO7IVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MJPCN54QBEVKZXBBP5Z6CC5N37S7HN3CWIFBGLT2KIGG44WSWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UntagProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "tags"
                ],
                "members": {
                    "id": {},
                    "tags": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VZZPMT54TYXD6GPCWQ6RGECGNEBMT2RXK7NFJFVHYTOV723FSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRM3A22QHY6TSHWAEDT6P6W7MTWE6PAM7CX3FFUXYMG3MUIGFXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZH66X2URBVBQD2OKEGKNKW2NYPKYBFPW6CCK36PLS74PTNUZNAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4XVIQZ7AXSXH3SLA4ZJFDIIRZKNRAPI6BYVQXOZVMGPYPSPDAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6RS2F4GB3F4YBC6ZK5UIOEITB2DZX5S3RHMOWP4YJCZCPVLVBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46QUXPMEHDJGKAUS767U2ROTHRC4FU7KAM25XEHZ4WJACYQCBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WIY4YNTY6D4OHX5YWCYFCP3H6CGOKX4DN4OKNBFI3Z6LEO7IVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MJPCN54QBEVKZXBBP5Z6CC5N37S7HN3CWIFBGLT2KIGG44WSWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {},
                    "name": {
                        "shape": "S9"
                    },
                    "description": {
                        "shape": "Sa"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VZZPMT54TYXD6GPCWQ6RGECGNEBMT2RXK7NFJFVHYTOV723FSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRM3A22QHY6TSHWAEDT6P6W7MTWE6PAM7CX3FFUXYMG3MUIGFXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZH66X2URBVBQD2OKEGKNKW2NYPKYBFPW6CCK36PLS74PTNUZNAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4XVIQZ7AXSXH3SLA4ZJFDIIRZKNRAPI6BYVQXOZVMGPYPSPDAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6RS2F4GB3F4YBC6ZK5UIOEITB2DZX5S3RHMOWP4YJCZCPVLVBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46QUXPMEHDJGKAUS767U2ROTHRC4FU7KAM25XEHZ4WJACYQCBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WIY4YNTY6D4OHX5YWCYFCP3H6CGOKX4DN4OKNBFI3Z6LEO7IVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MJPCN54QBEVKZXBBP5Z6CC5N37S7HN3CWIFBGLT2KIGG44WSWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateTeamMember": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "userArn"
                ],
                "members": {
                    "projectId": {},
                    "userArn": {},
                    "projectRole": {},
                    "remoteAccessAllowed": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "userArn": {},
                    "projectRole": {},
                    "remoteAccessAllowed": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VZZPMT54TYXD6GPCWQ6RGECGNEBMT2RXK7NFJFVHYTOV723FSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRM3A22QHY6TSHWAEDT6P6W7MTWE6PAM7CX3FFUXYMG3MUIGFXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZH66X2URBVBQD2OKEGKNKW2NYPKYBFPW6CCK36PLS74PTNUZNAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4XVIQZ7AXSXH3SLA4ZJFDIIRZKNRAPI6BYVQXOZVMGPYPSPDAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6RS2F4GB3F4YBC6ZK5UIOEITB2DZX5S3RHMOWP4YJCZCPVLVBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46QUXPMEHDJGKAUS767U2ROTHRC4FU7KAM25XEHZ4WJACYQCBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WIY4YNTY6D4OHX5YWCYFCP3H6CGOKX4DN4OKNBFI3Z6LEO7IVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MJPCN54QBEVKZXBBP5Z6CC5N37S7HN3CWIFBGLT2KIGG44WSWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateUserProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {},
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "lastModifiedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VZZPMT54TYXD6GPCWQ6RGECGNEBMT2RXK7NFJFVHYTOV723FSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRM3A22QHY6TSHWAEDT6P6W7MTWE6PAM7CX3FFUXYMG3MUIGFXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZH66X2URBVBQD2OKEGKNKW2NYPKYBFPW6CCK36PLS74PTNUZNAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4XVIQZ7AXSXH3SLA4ZJFDIIRZKNRAPI6BYVQXOZVMGPYPSPDAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6RS2F4GB3F4YBC6ZK5UIOEITB2DZX5S3RHMOWP4YJCZCPVLVBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46QUXPMEHDJGKAUS767U2ROTHRC4FU7KAM25XEHZ4WJACYQCBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WIY4YNTY6D4OHX5YWCYFCP3H6CGOKX4DN4OKNBFI3Z6LEO7IVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MJPCN54QBEVKZXBBP5Z6CC5N37S7HN3CWIFBGLT2KIGG44WSWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        }
    },
    "shapes": {
        "S9": {
            "type": "string",
            "sensitive": true
        },
        "Sa": {
            "type": "string",
            "sensitive": true
        },
        "Se": {
            "type": "structure",
            "members": {
                "bucketName": {},
                "bucketKey": {}
            }
        },
        "Sx": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S14": {
            "type": "string",
            "sensitive": true
        },
        "S15": {
            "type": "string",
            "sensitive": true
        }
    }
}