{
    "metadata": {
        "apiVersion": "2020-01-06",
        "endpointPrefix": "codesuite-codecommit",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "codesuiteCodeCommit",
        "serviceId": "codesuiteCodeCommit",
        "signatureVersion": "v4",
        "signingName": "codecommit",
        "uid": "codesuite-codecommit-2020-01-06",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/EE2JLOF7XF3BA6MKDG6F53Z2WXPHDAFPJYKAVLLHWOGCT4HJM5SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PNRDGQRWAX5PNKJCY4EWHS664BID2HT76MMJFU6YZQQ3JA4FF7DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4CFHWA6PJIXJL66CHSJY235GH4EBCNON5XIL2DQSAJH4P7RWWTYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YA5BXZRB75SDUFVLF7HJWCJSTNTDBH5YBX55UJCLE4HI2VKQA34Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IDI7TWATOFRJFW6JEHZ3SQGM2ZJH553BO76YT5JBAUVVKP77BAKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LDR7M7UORWZXLOLO4GQR3SMA6Z35C5VDYDE23E6JQIKOYGM4PH7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AKDRKYYRKA6XEUS5ZR23VEEGS3QLLPXLNSFLUI65XIVWHSNILOEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4L7EBWVFQBVEMJGDJ3HKK4RWH4N72HOEKLKERJIGUJWHDS3IQNWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZMMDXOS5ZY5HHEKC75T2TB5PNHNFCBBHM6JYNIOREOWAEDYUCQ2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N3YNUROGKW7DFQEAPYJ3C26EUSXY4YZBFMMXTACXR43F4H7COF4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H3YTXJK53PO6YEF5BYIRVXGERDGNWB75NHWAOY5J53SDBIWQWODA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OL72NPE5HEJLYVEPDI7HWTWMCLR24NL472MGK5NNF4RB7CQC367Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOH2XYHTLAI53XRXII2AA25FRXEMMD4ZMV5YXFCSPZGTQQRQHXCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N4J6K2PH7NKDFHRWM5R3QCSI7UREOF7OWM6MDX7645XPWOV3TQMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RTOEOQGTQ427IGG4ZQERVALKYSUS4NHMNB5LEABB6AKMKAPUQ5QA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UYY6K4447OACEMLGZCGT3OXSZACIAKYKFYGWX43R2FTF2QP7KBNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7LPE67OPTQP4SBX3EDU2R37HR226ECIHL5J3C5ZFI7KECHRJ6R6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YAJDCKOZJ6ZQC3QUGPM22U7S6JA6UMHS4XXRD7YKC44WUY6Z32DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NGUR4WAJDJ4MLRYOYNOGB4VBGGXFJYPGXUWOHNHRD3HOA77X3JUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js"
        ]
    },
    "operations": {
        "diffBlobs": {
            "http": {
                "requestUri": "/diffBlobs",
                "responseCode": 200
            },
            "input": {
                "members": {
                    "diffView": {
                        "locationName": "diffView"
                    },
                    "ignoreWhitespace": {
                        "locationName": "ignoreWhitespace",
                        "type": "boolean"
                    },
                    "newBlobId": {
                        "locationName": "newBlobId"
                    },
                    "newBlobPath": {
                        "locationName": "newBlobPath"
                    },
                    "oldBlobId": {
                        "locationName": "oldBlobId"
                    },
                    "oldBlobPath": {
                        "locationName": "oldBlobPath"
                    },
                    "repositoryName": {
                        "locationName": "repositoryName"
                    },
                    "unhighlightedLargeDiff": {
                        "locationName": "unhighlightedLargeDiff",
                        "type": "boolean"
                    }
                },
                "required": [
                    "newBlobId",
                    "oldBlobPath",
                    "diffView",
                    "newBlobPath",
                    "ignoreWhitespace",
                    "repositoryName",
                    "unhighlightedLargeDiff",
                    "oldBlobId"
                ],
                "type": "structure"
            },
            "output": {
                "members": {
                    "content": {
                        "locationName": "content"
                    },
                    "type": {
                        "locationName": "type"
                    }
                },
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNRDGQRWAX5PNKJCY4EWHS664BID2HT76MMJFU6YZQQ3JA4FF7DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CFHWA6PJIXJL66CHSJY235GH4EBCNON5XIL2DQSAJH4P7RWWTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA5BXZRB75SDUFVLF7HJWCJSTNTDBH5YBX55UJCLE4HI2VKQA34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDI7TWATOFRJFW6JEHZ3SQGM2ZJH553BO76YT5JBAUVVKP77BAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDR7M7UORWZXLOLO4GQR3SMA6Z35C5VDYDE23E6JQIKOYGM4PH7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKDRKYYRKA6XEUS5ZR23VEEGS3QLLPXLNSFLUI65XIVWHSNILOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L7EBWVFQBVEMJGDJ3HKK4RWH4N72HOEKLKERJIGUJWHDS3IQNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMMDXOS5ZY5HHEKC75T2TB5PNHNFCBBHM6JYNIOREOWAEDYUCQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3YNUROGKW7DFQEAPYJ3C26EUSXY4YZBFMMXTACXR43F4H7COF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3YTXJK53PO6YEF5BYIRVXGERDGNWB75NHWAOY5J53SDBIWQWODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL72NPE5HEJLYVEPDI7HWTWMCLR24NL472MGK5NNF4RB7CQC367Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOH2XYHTLAI53XRXII2AA25FRXEMMD4ZMV5YXFCSPZGTQQRQHXCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4J6K2PH7NKDFHRWM5R3QCSI7UREOF7OWM6MDX7645XPWOV3TQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTOEOQGTQ427IGG4ZQERVALKYSUS4NHMNB5LEABB6AKMKAPUQ5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYY6K4447OACEMLGZCGT3OXSZACIAKYKFYGWX43R2FTF2QP7KBNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LPE67OPTQP4SBX3EDU2R37HR226ECIHL5J3C5ZFI7KECHRJ6R6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAJDCKOZJ6ZQC3QUGPM22U7S6JA6UMHS4XXRD7YKC44WUY6Z32DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGUR4WAJDJ4MLRYOYNOGB4VBGGXFJYPGXUWOHNHRD3HOA77X3JUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js"
            ]
        },
        "highlightBlob": {
            "http": {
                "requestUri": "/highlightBlob",
                "responseCode": 200
            },
            "input": {
                "members": {
                    "blobId": {
                        "locationName": "blobId"
                    },
                    "blobPath": {
                        "locationName": "blobPath"
                    },
                    "bottom": {
                        "locationName": "bottom",
                        "type": "boolean"
                    },
                    "diffView": {
                        "locationName": "diffView"
                    },
                    "ignoreWhitespace": {
                        "locationName": "ignoreWhitespace",
                        "type": "boolean"
                    },
                    "offset": {
                        "locationName": "offset",
                        "type": "integer"
                    },
                    "repositoryName": {
                        "locationName": "repositoryName"
                    },
                    "since": {
                        "locationName": "since",
                        "type": "integer"
                    },
                    "to": {
                        "locationName": "to",
                        "type": "integer"
                    },
                    "unfold": {
                        "locationName": "unfold",
                        "type": "boolean"
                    }
                },
                "required": [
                    "unfold",
                    "blobPath",
                    "diffView",
                    "since",
                    "bottom",
                    "ignoreWhitespace",
                    "repositoryName",
                    "to",
                    "blobId",
                    "offset"
                ],
                "type": "structure"
            },
            "output": {
                "members": {
                    "content": {
                        "locationName": "content"
                    },
                    "type": {
                        "locationName": "type"
                    }
                },
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNRDGQRWAX5PNKJCY4EWHS664BID2HT76MMJFU6YZQQ3JA4FF7DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CFHWA6PJIXJL66CHSJY235GH4EBCNON5XIL2DQSAJH4P7RWWTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA5BXZRB75SDUFVLF7HJWCJSTNTDBH5YBX55UJCLE4HI2VKQA34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDI7TWATOFRJFW6JEHZ3SQGM2ZJH553BO76YT5JBAUVVKP77BAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDR7M7UORWZXLOLO4GQR3SMA6Z35C5VDYDE23E6JQIKOYGM4PH7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKDRKYYRKA6XEUS5ZR23VEEGS3QLLPXLNSFLUI65XIVWHSNILOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L7EBWVFQBVEMJGDJ3HKK4RWH4N72HOEKLKERJIGUJWHDS3IQNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMMDXOS5ZY5HHEKC75T2TB5PNHNFCBBHM6JYNIOREOWAEDYUCQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3YNUROGKW7DFQEAPYJ3C26EUSXY4YZBFMMXTACXR43F4H7COF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3YTXJK53PO6YEF5BYIRVXGERDGNWB75NHWAOY5J53SDBIWQWODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL72NPE5HEJLYVEPDI7HWTWMCLR24NL472MGK5NNF4RB7CQC367Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOH2XYHTLAI53XRXII2AA25FRXEMMD4ZMV5YXFCSPZGTQQRQHXCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4J6K2PH7NKDFHRWM5R3QCSI7UREOF7OWM6MDX7645XPWOV3TQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTOEOQGTQ427IGG4ZQERVALKYSUS4NHMNB5LEABB6AKMKAPUQ5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYY6K4447OACEMLGZCGT3OXSZACIAKYKFYGWX43R2FTF2QP7KBNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LPE67OPTQP4SBX3EDU2R37HR226ECIHL5J3C5ZFI7KECHRJ6R6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAJDCKOZJ6ZQC3QUGPM22U7S6JA6UMHS4XXRD7YKC44WUY6Z32DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGUR4WAJDJ4MLRYOYNOGB4VBGGXFJYPGXUWOHNHRD3HOA77X3JUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU5PJO5JOMMD4JBWOFTPQVEUQLXOAW5YANIB6CAWODTNJIZ3KRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js"
            ]
        }
    },
    "shapes": {}
}