{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-09-22",
        "endpointPrefix": "codeartifact",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "CodeArtifact",
        "serviceId": "codeartifact",
        "signatureVersion": "v4",
        "signingName": "codeartifact",
        "uid": "codeartifact-2018-09-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPSZBPXSAJORDQRCJJCWNKZ4PYTDAKOSGEKIWU3CRKAU7MR3VYIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/common.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/common.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/common.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/common.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/common.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/common.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
        ]
    },
    "operations": {
        "AssociateExternalConnection": {
            "http": {
                "requestUri": "/v1/repository/external-connection"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "externalConnection"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "externalConnection": {
                        "location": "querystring",
                        "locationName": "external-connection"
                    },
                    "visibilityDelayMinutes": {
                        "internalonly": true,
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "CopyPackageVersions": {
            "http": {
                "requestUri": "/v1/package/versions/copy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "sourceRepository",
                    "destinationRepository",
                    "format",
                    "package"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "sourceRepository": {
                        "location": "querystring",
                        "locationName": "source-repository"
                    },
                    "destinationRepository": {
                        "location": "querystring",
                        "locationName": "destination-repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "versions": {
                        "shape": "Sj"
                    },
                    "versionRevisions": {
                        "shape": "Sl"
                    },
                    "allowOverwrite": {
                        "type": "boolean"
                    },
                    "includeFromUpstream": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulVersions": {
                        "shape": "Sp"
                    },
                    "failedVersions": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "CreateDomain": {
            "http": {
                "requestUri": "/v1/domain"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "encryptionKey": {},
                    "tags": {
                        "shape": "Sy"
                    },
                    "cawsOrganizationId": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "CreateRepository": {
            "http": {
                "requestUri": "/v1/repository"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "description": {},
                    "upstreams": {
                        "shape": "S19"
                    },
                    "tags": {
                        "shape": "Sy"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "DeleteDomain": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/domain"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "DeleteDomainPermissionsPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/domain/permissions/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "policyRevision": {
                        "location": "querystring",
                        "locationName": "policy-revision"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "DeletePackageVersions": {
            "http": {
                "requestUri": "/v1/package/versions/delete"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package",
                    "versions"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "versions": {
                        "shape": "Sj"
                    },
                    "expectedStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulVersions": {
                        "shape": "Sp"
                    },
                    "failedVersions": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "DeleteRepository": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/repository"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "DeleteRepositoryPermissionsPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/repository/permissions/policies"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "policyRevision": {
                        "location": "querystring",
                        "locationName": "policy-revision"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "DescribeDomain": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/domain"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "DescribePackage": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/package"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "package"
                ],
                "members": {
                    "package": {
                        "type": "structure",
                        "members": {
                            "format": {},
                            "namespace": {},
                            "name": {},
                            "originConfiguration": {
                                "shape": "S1u"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPSZBPXSAJORDQRCJJCWNKZ4PYTDAKOSGEKIWU3CRKAU7MR3VYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "DescribePackageVersion": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/package/version"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package",
                    "packageVersion"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "packageVersion": {
                        "location": "querystring",
                        "locationName": "version"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "packageVersion"
                ],
                "members": {
                    "packageVersion": {
                        "type": "structure",
                        "members": {
                            "format": {},
                            "namespace": {},
                            "packageName": {},
                            "displayName": {},
                            "version": {},
                            "summary": {},
                            "homePage": {},
                            "sourceCodeRepository": {},
                            "publishedTime": {
                                "type": "timestamp"
                            },
                            "licenses": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "name": {},
                                        "url": {}
                                    }
                                }
                            },
                            "revision": {},
                            "status": {},
                            "origin": {
                                "shape": "S24"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "DescribeRepository": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/repository"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "DisassociateExternalConnection": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/repository/external-connection"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "externalConnection"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "externalConnection": {
                        "location": "querystring",
                        "locationName": "external-connection"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "DisposePackageVersions": {
            "http": {
                "requestUri": "/v1/package/versions/dispose"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package",
                    "versions"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "versions": {
                        "shape": "Sj"
                    },
                    "versionRevisions": {
                        "shape": "Sl"
                    },
                    "expectedStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulVersions": {
                        "shape": "Sp"
                    },
                    "failedVersions": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "GetAuthorizationToken": {
            "http": {
                "requestUri": "/v1/authorization-token"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "durationSeconds": {
                        "location": "querystring",
                        "locationName": "duration",
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "authorizationToken": {},
                    "expiration": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "GetDomainPermissionsPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/domain/permissions/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "GetPackageVersionAsset": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/package/version/asset"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package",
                    "packageVersion",
                    "asset"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "packageVersion": {
                        "location": "querystring",
                        "locationName": "version"
                    },
                    "asset": {
                        "location": "querystring",
                        "locationName": "asset"
                    },
                    "packageVersionRevision": {
                        "location": "querystring",
                        "locationName": "revision"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "asset": {
                        "type": "blob",
                        "streaming": true
                    },
                    "assetName": {
                        "location": "header",
                        "locationName": "X-AssetName"
                    },
                    "packageVersion": {
                        "location": "header",
                        "locationName": "X-PackageVersion"
                    },
                    "packageVersionRevision": {
                        "location": "header",
                        "locationName": "X-PackageVersionRevision"
                    }
                },
                "payload": "asset"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "GetPackageVersionReadme": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/package/version/readme"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package",
                    "packageVersion"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "packageVersion": {
                        "location": "querystring",
                        "locationName": "version"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "format": {},
                    "namespace": {},
                    "package": {},
                    "version": {},
                    "versionRevision": {},
                    "readme": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "GetRepositoryEndpoint": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/repository/endpoint"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repositoryEndpoint": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "GetRepositoryPermissionsPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/repository/permissions/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
[...]
