{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-04-19",
        "endpointPrefix": "codestar",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "CodeStar",
        "serviceFullName": "AWS CodeStar",
        "serviceId": "CodeStar",
        "signatureVersion": "v4",
        "targetPrefix": "CodeStar_20170419",
        "uid": "codestar-2017-04-19",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JBEOW2EW6CPRIWESEAXEKZP7SNRJGVT7ETNTG7UJRFHUL4PSK5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateTeamMember": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "userArn",
                    "projectRole"
                ],
                "members": {
                    "projectId": {},
                    "clientRequestToken": {},
                    "userArn": {},
                    "projectRole": {},
                    "remoteAccessAllowed": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "clientRequestToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JBEOW2EW6CPRIWESEAXEKZP7SNRJGVT7ETNTG7UJRFHUL4PSK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js"
            ]
        },
        "CreateProject": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "id"
                ],
                "members": {
                    "name": {
                        "shape": "S9"
                    },
                    "id": {},
                    "description": {
                        "shape": "Sa"
                    },
                    "clientRequestToken": {},
                    "sourceCode": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source",
                                "destination"
                            ],
                            "members": {
                                "source": {
                                    "type": "structure",
                                    "required": [
                                        "s3"
                                    ],
                                    "members": {
                                        "s3": {
                                            "shape": "Se"
                                        }
                                    }
                                },
                                "destination": {
                                    "type": "structure",
                                    "members": {
                                        "codeCommit": {
                                            "type": "structure",
                                            "required": [
                                                "name"
                                            ],
                                            "members": {
                                                "name": {}
                                            }
                                        },
                                        "gitHub": {
                                            "type": "structure",
                                            "required": [
                                                "name",
                                                "type",
                                                "owner",
                                                "privateRepository",
                                                "issuesEnabled",
                                                "token"
                                            ],
                                            "members": {
                                                "name": {},
                                                "description": {},
                                                "type": {},
                                                "owner": {},
                                                "privateRepository": {
                                                    "type": "boolean"
                                                },
                                                "issuesEnabled": {
                                                    "type": "boolean"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "sensitive": true
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "toolchain": {
                        "type": "structure",
                        "required": [
                            "source"
                        ],
                        "members": {
                            "source": {
                                "type": "structure",
                                "required": [
                                    "s3"
                                ],
                                "members": {
                                    "s3": {
                                        "shape": "Se"
                                    }
                                }
                            },
                            "roleArn": {},
                            "stackParameters": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    },
                    "tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "arn": {},
                    "clientRequestToken": {},
                    "projectTemplateId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JBEOW2EW6CPRIWESEAXEKZP7SNRJGVT7ETNTG7UJRFHUL4PSK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js"
            ]
        },
        "CreateUserProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "userArn",
                    "displayName",
                    "emailAddress"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {},
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "lastModifiedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JBEOW2EW6CPRIWESEAXEKZP7SNRJGVT7ETNTG7UJRFHUL4PSK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js"
            ]
        },
        "DeleteProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {},
                    "clientRequestToken": {},
                    "deleteStack": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "stackId": {},
                    "projectArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JBEOW2EW6CPRIWESEAXEKZP7SNRJGVT7ETNTG7UJRFHUL4PSK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js"
            ]
        },
        "DeleteUserProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JBEOW2EW6CPRIWESEAXEKZP7SNRJGVT7ETNTG7UJRFHUL4PSK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js"
            ]
        },
        "DescribeProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {
                        "shape": "S9"
                    },
                    "id": {},
                    "arn": {},
                    "description": {
                        "shape": "Sa"
                    },
                    "clientRequestToken": {},
                    "createdTimeStamp": {
                        "type": "timestamp"
                    },
                    "stackId": {},
                    "projectTemplateId": {},
                    "status": {
                        "type": "structure",
                        "required": [
                            "state"
                        ],
                        "members": {
                            "state": {},
                            "reason": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JBEOW2EW6CPRIWESEAXEKZP7SNRJGVT7ETNTG7UJRFHUL4PSK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js"
            ]
        },
        "DescribeUserProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userArn",
                    "createdTimestamp",
                    "lastModifiedTimestamp"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {},
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "lastModifiedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JBEOW2EW6CPRIWESEAXEKZP7SNRJGVT7ETNTG7UJRFHUL4PSK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js"
            ]
        },
        "DisassociateTeamMember": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "userArn"
                ],
                "members": {
                    "projectId": {},
                    "userArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JBEOW2EW6CPRIWESEAXEKZP7SNRJGVT7ETNTG7UJRFHUL4PSK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js"
            ]
        },
        "ListProjects": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "projects"
                ],
                "members": {
                    "projects": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "projectId": {},
                                "projectArn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JBEOW2EW6CPRIWESEAXEKZP7SNRJGVT7ETNTG7UJRFHUL4PSK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js"
            ]
        },
        "ListResources": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId"
                ],
                "members": {
                    "projectId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id"
                            ],
                            "members": {
                                "id": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JBEOW2EW6CPRIWESEAXEKZP7SNRJGVT7ETNTG7UJRFHUL4PSK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js"
            ]
        },
        "ListTagsForProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sx"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JBEOW2EW6CPRIWESEAXEKZP7SNRJGVT7ETNTG7UJRFHUL4PSK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js"
            ]
        },
        "ListTeamMembers": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId"
                ],
                "members": {
                    "projectId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "teamMembers"
                ],
                "members": {
                    "teamMembers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "userArn",
                                "projectRole"
                            ],
                            "members": {
                                "userArn": {},
                                "projectRole": {},
                                "remoteAccessAllowed": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JBEOW2EW6CPRIWESEAXEKZP7SNRJGVT7ETNTG7UJRFHUL4PSK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js"
            ]
        },
        "ListUserProfiles": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userProfiles"
                ],
                "members": {
                    "userProfiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "userArn": {},
                                "displayName": {
                                    "shape": "S14"
                                },
                                "emailAddress": {
                                    "shape": "S15"
                                },
                                "sshPublicKey": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JBEOW2EW6CPRIWESEAXEKZP7SNRJGVT7ETNTG7UJRFHUL4PSK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js"
            ]
        },
        "TagProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "tags"
                ],
                "members": {
                    "id": {},
                    "tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JBEOW2EW6CPRIWESEAXEKZP7SNRJGVT7ETNTG7UJRFHUL4PSK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js"
            ]
        },
        "UntagProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "tags"
                ],
                "members": {
                    "id": {},
                    "tags": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JBEOW2EW6CPRIWESEAXEKZP7SNRJGVT7ETNTG7UJRFHUL4PSK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js"
            ]
        },
        "UpdateProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {},
                    "name": {
                        "shape": "S9"
                    },
                    "description": {
                        "shape": "Sa"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JBEOW2EW6CPRIWESEAXEKZP7SNRJGVT7ETNTG7UJRFHUL4PSK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js"
            ]
        },
        "UpdateTeamMember": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "userArn"
                ],
                "members": {
                    "projectId": {},
                    "userArn": {},
                    "projectRole": {},
                    "remoteAccessAllowed": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "userArn": {},
                    "projectRole": {},
                    "remoteAccessAllowed": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JBEOW2EW6CPRIWESEAXEKZP7SNRJGVT7ETNTG7UJRFHUL4PSK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js"
            ]
        },
        "UpdateUserProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {},
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "lastModifiedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLZOKPUNHPAZ2MOOPB6BVHTWZ72SPRRT7YY3TDQJMU2EMX3J5XBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JBEOW2EW6CPRIWESEAXEKZP7SNRJGVT7ETNTG7UJRFHUL4PSK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S9": {
            "type": "string",
            "sensitive": true
        },
        "Sa": {
            "type": "string",
            "sensitive": true
        },
        "Se": {
            "type": "structure",
            "members": {
                "bucketName": {},
                "bucketKey": {}
            }
        },
        "Sx": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S14": {
            "type": "string",
            "sensitive": true
        },
        "S15": {
            "type": "string",
            "sensitive": true
        }
    }
}