{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-04-13",
        "endpointPrefix": "codecommit",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "CodeCommit",
        "serviceFullName": "AWS CodeCommit",
        "serviceId": "CodeCommit",
        "signatureVersion": "v4",
        "targetPrefix": "CodeCommit_20150413",
        "uid": "codecommit-2015-04-13",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
        ]
    },
    "operations": {
        "AssociateApprovalRuleTemplateWithRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "approvalRuleTemplateName",
                    "repositoryName"
                ],
                "members": {
                    "approvalRuleTemplateName": {},
                    "repositoryName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "BatchAssociateApprovalRuleTemplateWithRepositories": {
            "input": {
                "type": "structure",
                "required": [
                    "approvalRuleTemplateName",
                    "repositoryNames"
                ],
                "members": {
                    "approvalRuleTemplateName": {},
                    "repositoryNames": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "associatedRepositoryNames",
                    "errors"
                ],
                "members": {
                    "associatedRepositoryNames": {
                        "shape": "S5"
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "repositoryName": {},
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "BatchDescribeMergeConflicts": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName",
                    "destinationCommitSpecifier",
                    "sourceCommitSpecifier",
                    "mergeOption"
                ],
                "members": {
                    "repositoryName": {},
                    "destinationCommitSpecifier": {},
                    "sourceCommitSpecifier": {},
                    "mergeOption": {},
                    "maxMergeHunks": {
                        "type": "integer"
                    },
                    "maxConflictFiles": {
                        "type": "integer"
                    },
                    "filePaths": {
                        "type": "list",
                        "member": {}
                    },
                    "conflictDetailLevel": {},
                    "conflictResolutionStrategy": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conflicts",
                    "destinationCommitId",
                    "sourceCommitId"
                ],
                "members": {
                    "conflicts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "conflictMetadata": {
                                    "shape": "Sn"
                                },
                                "mergeHunks": {
                                    "shape": "S12"
                                }
                            }
                        }
                    },
                    "nextToken": {},
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "filePath",
                                "exceptionName",
                                "message"
                            ],
                            "members": {
                                "filePath": {},
                                "exceptionName": {},
                                "message": {}
                            }
                        }
                    },
                    "destinationCommitId": {},
                    "sourceCommitId": {},
                    "baseCommitId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "BatchDisassociateApprovalRuleTemplateFromRepositories": {
            "input": {
                "type": "structure",
                "required": [
                    "approvalRuleTemplateName",
                    "repositoryNames"
                ],
                "members": {
                    "approvalRuleTemplateName": {},
                    "repositoryNames": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "disassociatedRepositoryNames",
                    "errors"
                ],
                "members": {
                    "disassociatedRepositoryNames": {
                        "shape": "S5"
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "repositoryName": {},
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "BatchGetCommits": {
            "input": {
                "type": "structure",
                "required": [
                    "commitIds",
                    "repositoryName"
                ],
                "members": {
                    "commitIds": {
                        "type": "list",
                        "member": {}
                    },
                    "repositoryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "commits": {
                        "type": "list",
                        "member": {
                            "shape": "S1l"
                        }
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "commitId": {},
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "BatchGetRepositories": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryNames"
                ],
                "members": {
                    "repositoryNames": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repositories": {
                        "type": "list",
                        "member": {
                            "shape": "S1x"
                        }
                    },
                    "repositoriesNotFound": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreateApprovalRuleTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "approvalRuleTemplateName",
                    "approvalRuleTemplateContent"
                ],
                "members": {
                    "approvalRuleTemplateName": {},
                    "approvalRuleTemplateContent": {},
                    "approvalRuleTemplateDescription": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "approvalRuleTemplate"
                ],
                "members": {
                    "approvalRuleTemplate": {
                        "shape": "S2c"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreateBranch": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName",
                    "branchName",
                    "commitId"
                ],
                "members": {
                    "repositoryName": {},
                    "branchName": {},
                    "commitId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreateCommit": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName",
                    "branchName"
                ],
                "members": {
                    "repositoryName": {},
                    "branchName": {},
                    "parentCommitId": {},
                    "authorName": {},
                    "email": {},
                    "commitMessage": {},
                    "keepEmptyFolders": {
                        "type": "boolean"
                    },
                    "putFiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "filePath"
                            ],
                            "members": {
                                "filePath": {},
                                "fileMode": {},
                                "fileContent": {
                                    "type": "blob"
                                },
                                "sourceFile": {
                                    "type": "structure",
                                    "required": [
                                        "filePath"
                                    ],
                                    "members": {
                                        "filePath": {},
                                        "isMove": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "deleteFiles": {
                        "shape": "S2o"
                    },
                    "setFileModes": {
                        "shape": "S2q"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "commitId": {},
                    "treeId": {},
                    "filesAdded": {
                        "shape": "S2t"
                    },
                    "filesUpdated": {
                        "shape": "S2t"
                    },
                    "filesDeleted": {
                        "shape": "S2t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreatePullRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "title",
                    "targets"
                ],
                "members": {
                    "title": {},
                    "description": {},
                    "targets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "repositoryName",
                                "sourceReference"
                            ],
                            "members": {
                                "repositoryName": {},
                                "sourceReference": {},
                                "destinationReference": {}
                            }
                        }
                    },
                    "clientRequestToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "pullRequest"
                ],
                "members": {
                    "pullRequest": {
                        "shape": "S33"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreatePullRequestApprovalRule": {
            "input": {
                "type": "structure",
                "required": [
                    "pullRequestId",
                    "approvalRuleName",
                    "approvalRuleContent"
                ],
                "members": {
                    "pullRequestId": {},
                    "approvalRuleName": {},
                    "approvalRuleContent": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "approvalRule"
                ],
                "members": {
                    "approvalRule": {
                        "shape": "S3c"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreateRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "repositoryName": {},
                    "repositoryDescription": {},
                    "tags": {
                        "shape": "S3k"
                    },
                    "kmsKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repositoryMetadata": {
                        "shape": "S1x"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreateUnreferencedMergeCommit": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName",
                    "sourceCommitSpecifier",
                    "destinationCommitSpecifier",
                    "mergeOption"
                ],
                "members": {
                    "repositoryName": {},
                    "sourceCommitSpecifier": {},
                    "destinationCommitSpecifier": {},
                    "mergeOption": {},
                    "conflictDetailLevel": {},
                    "conflictResolutionStrategy": {},
                    "authorName": {},
                    "email": {},
                    "commitMessage": {},
                    "keepEmptyFolders": {
                        "type": "boolean"
                    },
                    "conflictResolution": {
                        "shape": "S3p"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "commitId": {},
                    "treeId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeleteApprovalRuleTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "approvalRuleTemplateName"
                ],
                "members": {
                    "approvalRuleTemplateName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "approvalRuleTemplateId"
                ],
                "members": {
                    "approvalRuleTemplateId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeleteBranch": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName",
                    "branchName"
                ],
                "members": {
                    "repositoryName": {},
                    "branchName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deletedBranch": {
                        "shape": "S3y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeleteCommentContent": {
            "input": {
                "type": "structure",
                "required": [
                    "commentId"
                ],
                "members": {
                    "commentId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "comment": {
                        "shape": "S42"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeleteFile": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName",
                    "branchName",
                    "filePath",
                    "parentCommitId"
                ],
                "members": {
                    "repositoryName": {},
                    "branchName": {},
                    "filePath": {},
                    "parentCommitId": {},
                    "keepEmptyFolders": {
                        "type": "boolean"
                    },
                    "commitMessage": {},
                    "name": {},
                    "email": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "commitId",
                    "blobId",
                    "treeId",
                    "filePath"
                ],
                "members": {
                    "commitId": {},
                    "blobId": {},
                    "treeId": {},
                    "filePath": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeletePullRequestApprovalRule": {
            "input": {
                "type": "structure",
                "required": [
                    "pullRequestId",
                    "approvalRuleName"
                ],
                "members": {
                    "pullRequestId": {},
                    "approvalRuleName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "approvalRuleId"
                ],
                "members": {
                    "approvalRuleId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeleteRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "repositoryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repositoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DescribeMergeConflicts": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName",
                    "destinationCommitSpecifier",
                    "sourceCommitSpecifier",
                    "mergeOption",
                    "filePath"
                ],
                "members": {
                    "repositoryName": {},
                    "destinationCommitSpecifier": {},
                    "sourceCommitSpecifier": {},
                    "mergeOption": {},
                    "maxMergeHunks": {
                        "type": "integer"
                    },
                    "filePath": {},
                    "conflictDetailLevel": {},
                    "conflictResolutionStrategy": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conflictMetadata",
                    "mergeHunks",
                    "destinationCommitId",
                    "sourceCommitId"
                ],
                "members": {
                    "conflictMetadata": {
                        "shape": "Sn"
                    },
                    "mergeHunks": {
                        "shape": "S12"
                    },
                    "nextToken": {},
                    "destinationCommitId": {},
                    "sourceCommitId": {},
                    "baseCommitId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DescribePullRequestEvents": {
            "input": {
                "type": "structure",
                "required": [
                    "pullRequestId"
                ],
                "members": {
                    "pullRequestId": {},
                    "pullRequestEventType": {},
                    "actorArn": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "pullRequestEvents"
                ],
                "members": {
                    "pullRequestEvents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "pullRequestId": {},
                                "eventDate": {
                                    "type": "timestamp"
                                },
                                "pullRequestEventType": {},
                                "actorArn": {},
                                "pullRequestCreatedEventMetadata": {
                                    "type": "structure",
                                    "members": {
                                        "repositoryName": {},
                                        "sourceCommitId": {},
                                        "destinationCommitId": {},
                                        "mergeBase": {}
                                    }
                                },
                                "pullRequestStatusChangedEventMetadata": {
                                    "type": "structure",
                                    "members": {
                                        "pullRequestStatus": {}
                                    }
                                },
                                "pullRequestSourceReferenceUpdatedEventMetadata": {
                                    "type": "structure",
                                    "members": {
                                        "repositoryName": {},
                                        "beforeCommitId": {},
                                        "afterCommitId": {},
                                        "mergeBase": {}
                                    }
                                },
                                "pullRequestMergedStateChangedEventMetadata": {
                                    "type": "structure",
                                    "members": {
                                        "repositoryName": {},
                                        "destinationReference": {},
                                        "mergeMetadata": {
                                            "shape": "S38"
                                        }
                                    }
                                },
                                "approvalRuleEventMetadata": {
                                    "type": "structure",
                                    "members": {
                                        "approvalRuleName": {},
                                        "approvalRuleId": {},
                                        "approvalRuleContent": {}
                                    }
                                },
                                "approvalStateChangedEventMetadata": {
                                    "type": "structure",
                                    "members": {
                                        "revisionId": {},
                                        "approvalStatus": {}
                                    }
                                },
                                "approvalRuleOverriddenEventMetadata": {
                                    "type": "structure",
                                    "members": {
                                        "revisionId": {},
                                        "overrideStatus": {}
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DisassociateApprovalRuleTemplateFromRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "approvalRuleTemplateName",
                    "repositoryName"
                ],
                "members": {
                    "approvalRuleTemplateName": {},
                    "repositoryName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "EvaluatePullRequestApprovalRules": {
            "input": {
                "type": "structure",
                "required": [
                    "pullRequestId",
                    "revisionId"
                ],
                "members": {
                    "pullRequestId": {},
                    "revisionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "evaluation"
                ],
                "members": {
                    "evaluation": {
                        "type": "structure",
                        "members": {
                            "approved": {
                                "type": "boolean"
                            },
[...]
