{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-04-19",
        "endpointPrefix": "codestar",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "CodeStar",
        "serviceFullName": "AWS CodeStar",
        "serviceId": "CodeStar",
        "signatureVersion": "v4",
        "targetPrefix": "CodeStar_20170419",
        "uid": "codestar-2017-04-19",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AGEUDR6FHBT2QOFZMQMCIM76Z7MC2UAR3NZZ5HH6Z6BGY74JZ6WA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
        ]
    },
    "operations": {
        "AssociateTeamMember": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "userArn",
                    "projectRole"
                ],
                "members": {
                    "projectId": {},
                    "clientRequestToken": {},
                    "userArn": {},
                    "projectRole": {},
                    "remoteAccessAllowed": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "clientRequestToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGEUDR6FHBT2QOFZMQMCIM76Z7MC2UAR3NZZ5HH6Z6BGY74JZ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "CreateProject": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "id"
                ],
                "members": {
                    "name": {
                        "shape": "S9"
                    },
                    "id": {},
                    "description": {
                        "shape": "Sa"
                    },
                    "clientRequestToken": {},
                    "sourceCode": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source",
                                "destination"
                            ],
                            "members": {
                                "source": {
                                    "type": "structure",
                                    "required": [
                                        "s3"
                                    ],
                                    "members": {
                                        "s3": {
                                            "shape": "Se"
                                        }
                                    }
                                },
                                "destination": {
                                    "type": "structure",
                                    "members": {
                                        "codeCommit": {
                                            "type": "structure",
                                            "required": [
                                                "name"
                                            ],
                                            "members": {
                                                "name": {}
                                            }
                                        },
                                        "gitHub": {
                                            "type": "structure",
                                            "required": [
                                                "name",
                                                "type",
                                                "owner",
                                                "privateRepository",
                                                "issuesEnabled",
                                                "token"
                                            ],
                                            "members": {
                                                "name": {},
                                                "description": {},
                                                "type": {},
                                                "owner": {},
                                                "privateRepository": {
                                                    "type": "boolean"
                                                },
                                                "issuesEnabled": {
                                                    "type": "boolean"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "sensitive": true
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "toolchain": {
                        "type": "structure",
                        "required": [
                            "source"
                        ],
                        "members": {
                            "source": {
                                "type": "structure",
                                "required": [
                                    "s3"
                                ],
                                "members": {
                                    "s3": {
                                        "shape": "Se"
                                    }
                                }
                            },
                            "roleArn": {},
                            "stackParameters": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    },
                    "tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "arn": {},
                    "clientRequestToken": {},
                    "projectTemplateId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGEUDR6FHBT2QOFZMQMCIM76Z7MC2UAR3NZZ5HH6Z6BGY74JZ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "CreateUserProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "userArn",
                    "displayName",
                    "emailAddress"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {},
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "lastModifiedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGEUDR6FHBT2QOFZMQMCIM76Z7MC2UAR3NZZ5HH6Z6BGY74JZ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "DeleteProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {},
                    "clientRequestToken": {},
                    "deleteStack": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "stackId": {},
                    "projectArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGEUDR6FHBT2QOFZMQMCIM76Z7MC2UAR3NZZ5HH6Z6BGY74JZ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "DeleteUserProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGEUDR6FHBT2QOFZMQMCIM76Z7MC2UAR3NZZ5HH6Z6BGY74JZ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "DescribeProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {
                        "shape": "S9"
                    },
                    "id": {},
                    "arn": {},
                    "description": {
                        "shape": "Sa"
                    },
                    "clientRequestToken": {},
                    "createdTimeStamp": {
                        "type": "timestamp"
                    },
                    "stackId": {},
                    "projectTemplateId": {},
                    "status": {
                        "type": "structure",
                        "required": [
                            "state"
                        ],
                        "members": {
                            "state": {},
                            "reason": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGEUDR6FHBT2QOFZMQMCIM76Z7MC2UAR3NZZ5HH6Z6BGY74JZ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "DescribeUserProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userArn",
                    "createdTimestamp",
                    "lastModifiedTimestamp"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {},
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "lastModifiedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGEUDR6FHBT2QOFZMQMCIM76Z7MC2UAR3NZZ5HH6Z6BGY74JZ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "DisassociateTeamMember": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "userArn"
                ],
                "members": {
                    "projectId": {},
                    "userArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGEUDR6FHBT2QOFZMQMCIM76Z7MC2UAR3NZZ5HH6Z6BGY74JZ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "ListProjects": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "projects"
                ],
                "members": {
                    "projects": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "projectId": {},
                                "projectArn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGEUDR6FHBT2QOFZMQMCIM76Z7MC2UAR3NZZ5HH6Z6BGY74JZ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "ListResources": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId"
                ],
                "members": {
                    "projectId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id"
                            ],
                            "members": {
                                "id": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGEUDR6FHBT2QOFZMQMCIM76Z7MC2UAR3NZZ5HH6Z6BGY74JZ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "ListTagsForProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sx"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGEUDR6FHBT2QOFZMQMCIM76Z7MC2UAR3NZZ5HH6Z6BGY74JZ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "ListTeamMembers": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId"
                ],
                "members": {
                    "projectId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "teamMembers"
                ],
                "members": {
                    "teamMembers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "userArn",
                                "projectRole"
                            ],
                            "members": {
                                "userArn": {},
                                "projectRole": {},
                                "remoteAccessAllowed": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGEUDR6FHBT2QOFZMQMCIM76Z7MC2UAR3NZZ5HH6Z6BGY74JZ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "ListUserProfiles": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userProfiles"
                ],
                "members": {
                    "userProfiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "userArn": {},
                                "displayName": {
                                    "shape": "S14"
                                },
                                "emailAddress": {
                                    "shape": "S15"
                                },
                                "sshPublicKey": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGEUDR6FHBT2QOFZMQMCIM76Z7MC2UAR3NZZ5HH6Z6BGY74JZ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "TagProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "tags"
                ],
                "members": {
                    "id": {},
                    "tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGEUDR6FHBT2QOFZMQMCIM76Z7MC2UAR3NZZ5HH6Z6BGY74JZ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "UntagProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "tags"
                ],
                "members": {
                    "id": {},
                    "tags": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGEUDR6FHBT2QOFZMQMCIM76Z7MC2UAR3NZZ5HH6Z6BGY74JZ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "UpdateProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {},
                    "name": {
                        "shape": "S9"
                    },
                    "description": {
                        "shape": "Sa"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGEUDR6FHBT2QOFZMQMCIM76Z7MC2UAR3NZZ5HH6Z6BGY74JZ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "UpdateTeamMember": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "userArn"
                ],
                "members": {
                    "projectId": {},
                    "userArn": {},
                    "projectRole": {},
                    "remoteAccessAllowed": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "userArn": {},
                    "projectRole": {},
                    "remoteAccessAllowed": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGEUDR6FHBT2QOFZMQMCIM76Z7MC2UAR3NZZ5HH6Z6BGY74JZ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "UpdateUserProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {},
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "lastModifiedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGEUDR6FHBT2QOFZMQMCIM76Z7MC2UAR3NZZ5HH6Z6BGY74JZ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        }
    },
    "shapes": {
        "S9": {
            "type": "string",
            "sensitive": true
        },
        "Sa": {
            "type": "string",
            "sensitive": true
        },
        "Se": {
            "type": "structure",
            "members": {
                "bucketName": {},
                "bucketKey": {}
            }
        },
        "Sx": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S14": {
            "type": "string",
            "sensitive": true
        },
        "S15": {
            "type": "string",
            "sensitive": true
        }
    }
}