{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-10-15",
        "endpointPrefix": "codestar-notifications",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS CodeStar Notifications",
        "serviceId": "codestar notifications",
        "signatureVersion": "v4",
        "signingName": "codestar-notifications",
        "uid": "codestar-notifications-2019-10-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7K5BKBJXLXAAF42L4RHCA3N5HRS7RTWCAX73ZC6CQCBLOFXVVQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
        ]
    },
    "operations": {
        "CreateNotificationRule": {
            "http": {
                "requestUri": "/createNotificationRule"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "EventTypeIds",
                    "Resource",
                    "Targets",
                    "DetailType"
                ],
                "members": {
                    "Name": {
                        "shape": "S2"
                    },
                    "EventTypeIds": {
                        "shape": "S3"
                    },
                    "Resource": {},
                    "Targets": {
                        "shape": "S6"
                    },
                    "DetailType": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "Sc"
                    },
                    "Status": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "DeleteNotificationRule": {
            "http": {
                "requestUri": "/deleteNotificationRule"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "DeleteTarget": {
            "http": {
                "requestUri": "/deleteTarget"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TargetAddress"
                ],
                "members": {
                    "TargetAddress": {
                        "shape": "S9"
                    },
                    "ForceUnsubscribeAll": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "DescribeNotificationRule": {
            "http": {
                "requestUri": "/describeNotificationRule"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {},
                    "Name": {
                        "shape": "S2"
                    },
                    "EventTypes": {
                        "shape": "Sp"
                    },
                    "Resource": {},
                    "Targets": {
                        "shape": "Su"
                    },
                    "DetailType": {},
                    "CreatedBy": {},
                    "Status": {},
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    },
                    "LastModifiedTimestamp": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "ListEventTypes": {
            "http": {
                "requestUri": "/listEventTypes"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Value"
                            ],
                            "members": {
                                "Name": {},
                                "Value": {}
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventTypes": {
                        "shape": "Sp"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "ListNotificationRules": {
            "http": {
                "requestUri": "/listNotificationRules"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Value"
                            ],
                            "members": {
                                "Name": {},
                                "Value": {}
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "NotificationRules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Arn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "requestUri": "/listTagsForResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "ListTargets": {
            "http": {
                "requestUri": "/listTargets"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Value"
                            ],
                            "members": {
                                "Name": {},
                                "Value": {}
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Targets": {
                        "shape": "Su"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "Subscribe": {
            "http": {
                "requestUri": "/subscribe"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "Target"
                ],
                "members": {
                    "Arn": {},
                    "Target": {
                        "shape": "S7"
                    },
                    "ClientRequestToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tagResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "Tags"
                ],
                "members": {
                    "Arn": {},
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "Unsubscribe": {
            "http": {
                "requestUri": "/unsubscribe"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "TargetAddress"
                ],
                "members": {
                    "Arn": {},
                    "TargetAddress": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "requestUri": "/untagResource/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "TagKeys"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        },
        "UpdateNotificationRule": {
            "http": {
                "requestUri": "/updateNotificationRule"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {},
                    "Name": {
                        "shape": "S2"
                    },
                    "Status": {},
                    "EventTypeIds": {
                        "shape": "S3"
                    },
                    "Targets": {
                        "shape": "S6"
                    },
                    "DetailType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J63Z2XJO6ZAULBO2EWFKPRKT74ODDCLOVX6T7ADO745P3HG5B2HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EINOQ25IAVEDVAC66WKPMKDO5JJWHBMVPVCAXUV3RH35DP3HMR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVZ4W5NODB6U3PS35GRJUENZKZM3QQ6XM77EJRU6AFK5V7URSPZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYPNKQJZ32KVWM4YKUBTUDQYIHV7XSMI4X77GBCNI6WC7VXGGILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY7MFOR4O2ZLGDKONARPL2LWVBVDT77ZRSPEELPUFBKHXRDJKNBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBTXSO6F6UN3MM7W2SC26JX4CO42GJFIQPZFJO76LJ7VEQBJDWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJWCKSN3O4ARK4IY7T5K22FQ3Y6O3SDQSIPR3ZQDLEHYEPJXLX2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXBVQJB4ERCAOGDQLRXAAB43W2DL2OHNDG74MXJ4I3OXPJ2V2NIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THD6RFCLH6RSF3SIS3E42XT63H4ZBCXKWM3JO2XRU433AUDUZW3A/vendors.sdk.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "string",
            "sensitive": true
        },
        "S3": {
            "type": "list",
            "member": {}
        },
        "S6": {
            "type": "list",
            "member": {
                "shape": "S7"
            }
        },
        "S7": {
            "type": "structure",
            "members": {
                "TargetType": {},
                "TargetAddress": {
                    "shape": "S9"
                }
            }
        },
        "S9": {
            "type": "string",
            "sensitive": true
        },
        "Sc": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sp": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "EventTypeId": {},
                    "ServiceName": {},
                    "EventTypeName": {},
                    "ResourceType": {}
                }
            }
        },
        "Su": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "TargetAddress": {
                        "shape": "S9"
                    },
                    "TargetType": {},
                    "TargetStatus": {}
                }
            }
        }
    }
}