{
    "version": "2.0",
    "metadata": {
        "name": "CodeBuild_OAuth",
        "apiVersion": "2018-08-08",
        "endpointPrefix": "codebuild",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "CodeBuildOAuth",
        "serviceFullName": "AWS CodeBuild OAuth",
        "serviceId": "CodeBuild",
        "signatureVersion": "v4",
        "targetPrefix": "CodeBuild_OAuth",
        "uid": "codebuildoauth-2018-08-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3CPQA5MTZ5RP5IIG27FAIZJFOHOFV47USUXF2VU37PNVK6BXQLGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QXYXNA7XXAE7L5J4DDTOZYATA6LV2TH3JAQCMPYCQYKF5H65LCNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQEORT7Z3E7VHLGPFQFPG3CEEWEN4J6CJ4WUXSAUVASJRQZZLXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LVZSWQ6NF3VX4JRETQJB7KMQQTH2YK2EKQYL4CWU7GDZIBFIU7SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js"
        ]
    },
    "operations": {
        "DeleteOAuthToken": {
            "input": {
                "type": "structure",
                "required": [
                    "authServerType"
                ],
                "members": {
                    "authServerType": {},
                    "tokenIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXYXNA7XXAE7L5J4DDTOZYATA6LV2TH3JAQCMPYCQYKF5H65LCNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQEORT7Z3E7VHLGPFQFPG3CEEWEN4J6CJ4WUXSAUVASJRQZZLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVZSWQ6NF3VX4JRETQJB7KMQQTH2YK2EKQYL4CWU7GDZIBFIU7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js"
            ]
        },
        "ListConnectedOAuthAccounts": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "accounts": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "boolean"
                        }
                    },
                    "accountsWithAuthTokens": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "identifier": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXYXNA7XXAE7L5J4DDTOZYATA6LV2TH3JAQCMPYCQYKF5H65LCNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQEORT7Z3E7VHLGPFQFPG3CEEWEN4J6CJ4WUXSAUVASJRQZZLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVZSWQ6NF3VX4JRETQJB7KMQQTH2YK2EKQYL4CWU7GDZIBFIU7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js"
            ]
        },
        "ListRepositories": {
            "input": {
                "type": "structure",
                "required": [
                    "serverType"
                ],
                "members": {
                    "serverType": {},
                    "tokenIdentifier": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repositories": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "fullName": {},
                                "description": {},
                                "isPrivate": {
                                    "type": "boolean"
                                },
                                "cloneURL": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXYXNA7XXAE7L5J4DDTOZYATA6LV2TH3JAQCMPYCQYKF5H65LCNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQEORT7Z3E7VHLGPFQFPG3CEEWEN4J6CJ4WUXSAUVASJRQZZLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVZSWQ6NF3VX4JRETQJB7KMQQTH2YK2EKQYL4CWU7GDZIBFIU7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js"
            ]
        },
        "PersistOAuthToken": {
            "input": {
                "type": "structure",
                "required": [
                    "authCode",
                    "authServerType"
                ],
                "members": {
                    "authCode": {
                        "type": "string",
                        "sensitive": true
                    },
                    "tokenIdentifier": {},
                    "authServerType": {},
                    "oauthAppVersion": {
                        "type": "integer"
                    },
                    "returnEncryptedToken": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXYXNA7XXAE7L5J4DDTOZYATA6LV2TH3JAQCMPYCQYKF5H65LCNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQEORT7Z3E7VHLGPFQFPG3CEEWEN4J6CJ4WUXSAUVASJRQZZLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVZSWQ6NF3VX4JRETQJB7KMQQTH2YK2EKQYL4CWU7GDZIBFIU7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js"
            ]
        }
    },
    "shapes": {}
}