{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-12-01",
        "endpointPrefix": "codestar-connections",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS CodeStar connections",
        "serviceId": "CodeStar connections",
        "signatureVersion": "v4",
        "signingName": "codestar-connections",
        "targetPrefix": "com.amazonaws.codestar.connections.CodeStar_connections_20191201",
        "uid": "codestar-connections-2019-12-01",
        "download_location": [
            "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
            "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3QQNUFIBAVVSCO7EEPC5T6XCZNYHNRS6WSDBG2GCKENISQQXAERA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
            "https://d3l7tabrwpoxyr.cloudfront.net/js/30de6ea8e84c1b9ba3287eef929e52b06c22b93c/gzip/vendor.js"
        ]
    },
    "operations": {
        "CreateConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionName"
                ],
                "members": {
                    "ProviderType": {},
                    "ConnectionName": {},
                    "Tags": {
                        "shape": "S4"
                    },
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QQNUFIBAVVSCO7EEPC5T6XCZNYHNRS6WSDBG2GCKENISQQXAERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d3l7tabrwpoxyr.cloudfront.net/js/30de6ea8e84c1b9ba3287eef929e52b06c22b93c/gzip/vendor.js"
            ]
        },
        "CreateHost": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ProviderType",
                    "ProviderEndpoint"
                ],
                "members": {
                    "Name": {},
                    "ProviderType": {},
                    "ProviderEndpoint": {},
                    "VpcConfiguration": {
                        "shape": "Se"
                    },
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HostArn": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QQNUFIBAVVSCO7EEPC5T6XCZNYHNRS6WSDBG2GCKENISQQXAERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d3l7tabrwpoxyr.cloudfront.net/js/30de6ea8e84c1b9ba3287eef929e52b06c22b93c/gzip/vendor.js"
            ]
        },
        "DeleteConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QQNUFIBAVVSCO7EEPC5T6XCZNYHNRS6WSDBG2GCKENISQQXAERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d3l7tabrwpoxyr.cloudfront.net/js/30de6ea8e84c1b9ba3287eef929e52b06c22b93c/gzip/vendor.js"
            ]
        },
        "DeleteHost": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QQNUFIBAVVSCO7EEPC5T6XCZNYHNRS6WSDBG2GCKENISQQXAERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d3l7tabrwpoxyr.cloudfront.net/js/30de6ea8e84c1b9ba3287eef929e52b06c22b93c/gzip/vendor.js"
            ]
        },
        "GetConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connection": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QQNUFIBAVVSCO7EEPC5T6XCZNYHNRS6WSDBG2GCKENISQQXAERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d3l7tabrwpoxyr.cloudfront.net/js/30de6ea8e84c1b9ba3287eef929e52b06c22b93c/gzip/vendor.js"
            ]
        },
        "GetHost": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Status": {},
                    "ProviderType": {},
                    "ProviderEndpoint": {},
                    "VpcConfiguration": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QQNUFIBAVVSCO7EEPC5T6XCZNYHNRS6WSDBG2GCKENISQQXAERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d3l7tabrwpoxyr.cloudfront.net/js/30de6ea8e84c1b9ba3287eef929e52b06c22b93c/gzip/vendor.js"
            ]
        },
        "ListConnections": {
            "input": {
                "type": "structure",
                "members": {
                    "ProviderTypeFilter": {},
                    "HostArnFilter": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connections": {
                        "type": "list",
                        "member": {
                            "shape": "Ss"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QQNUFIBAVVSCO7EEPC5T6XCZNYHNRS6WSDBG2GCKENISQQXAERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d3l7tabrwpoxyr.cloudfront.net/js/30de6ea8e84c1b9ba3287eef929e52b06c22b93c/gzip/vendor.js"
            ]
        },
        "ListHosts": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Hosts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "HostArn": {},
                                "ProviderType": {},
                                "ProviderEndpoint": {},
                                "VpcConfiguration": {
                                    "shape": "Se"
                                },
                                "Status": {},
                                "StatusMessage": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QQNUFIBAVVSCO7EEPC5T6XCZNYHNRS6WSDBG2GCKENISQQXAERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d3l7tabrwpoxyr.cloudfront.net/js/30de6ea8e84c1b9ba3287eef929e52b06c22b93c/gzip/vendor.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QQNUFIBAVVSCO7EEPC5T6XCZNYHNRS6WSDBG2GCKENISQQXAERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d3l7tabrwpoxyr.cloudfront.net/js/30de6ea8e84c1b9ba3287eef929e52b06c22b93c/gzip/vendor.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QQNUFIBAVVSCO7EEPC5T6XCZNYHNRS6WSDBG2GCKENISQQXAERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d3l7tabrwpoxyr.cloudfront.net/js/30de6ea8e84c1b9ba3287eef929e52b06c22b93c/gzip/vendor.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QQNUFIBAVVSCO7EEPC5T6XCZNYHNRS6WSDBG2GCKENISQQXAERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d3l7tabrwpoxyr.cloudfront.net/js/30de6ea8e84c1b9ba3287eef929e52b06c22b93c/gzip/vendor.js"
            ]
        },
        "UpdateHost": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {},
                    "ProviderEndpoint": {},
                    "VpcConfiguration": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QQNUFIBAVVSCO7EEPC5T6XCZNYHNRS6WSDBG2GCKENISQQXAERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d3l7tabrwpoxyr.cloudfront.net/js/30de6ea8e84c1b9ba3287eef929e52b06c22b93c/gzip/vendor.js"
            ]
        },
        "CreateCommitStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "CommitId",
                            "State"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "CommitId": {},
                            "State": {},
                            "TargetUrl": {},
                            "Description": {},
                            "Context": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FullRepositoryId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "CreateInstallationData": {
            "input": {
                "type": "structure",
                "required": [
                    "ProviderType",
                    "InstallationId"
                ],
                "members": {
                    "ProviderType": {},
                    "InstallationId": {},
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InstanceId"
                ],
                "members": {
                    "InstanceId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "CreatePullRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "Title",
                            "SourceBranchName",
                            "DestinationBranchName"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "Title": {},
                            "Body": {},
                            "SourceBranchName": {},
                            "DestinationBranchName": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PullRequest"
                ],
                "members": {
                    "PullRequest": {
                        "shape": "S15"
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "CreatePullRequestDiffComment": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "PullRequestId",
                            "CommitId",
                            "Body",
                            "FilePath"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "PullRequestId": {},
                            "CommitId": {},
                            "DestinationCommitId": {},
                            "Body": {},
                            "FilePath": {},
                            "FileLineStart": {
                                "type": "integer"
                            },
                            "FileLineEnd": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CommentId"
                ],
                "members": {
                    "CommentId": {},
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "CreateRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "OwnerId",
                            "RepositoryName",
                            "Private",
                            "EnableIssues",
                            "Description"
                        ],
                        "members": {
                            "OwnerId": {},
                            "RepositoryName": {},
                            "Private": {
                                "type": "boolean"
                            },
                            "EnableIssues": {
                                "type": "boolean"
                            },
                            "Description": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FullRepositoryId"
                ],
                "members": {
                    "FullRepositoryId": {},
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "DeleteInstallationData": {
            "input": {
                "type": "structure",
                "required": [
                    "ProviderType",
                    "InstallationId"
                ],
                "members": {
                    "ProviderType": {},
                    "InstallationId": {},
                    "HostArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "DeleteRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId"
                        ],
                        "members": {
                            "FullRepositoryId": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "EvaluateHostHealth": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HealthStatus": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "GenerateReferenceLink": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "ReferenceType",
                    "Reference"
                ],
                "members": {
                    "ConnectionArn": {},
                    "ReferenceType": {},
                    "Reference": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Link"
                ],
                "members": {
                    "Link": {},
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "GetBranch": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "BranchName"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "BranchName": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "LatestCommit",
                    "Capabilities"
                ],
                "members": {
                    "LatestCommit": {
                        "type": "structure",
                        "members": {
                            "CommitId": {},
                            "Message": {},
                            "Date": {
                                "type": "timestamp"
                            },
                            "AuthorDisplayName": {},
                            "AuthorEmail": {},
                            "AuthorId": {}
                        }
                    },
                    "Capabilities": {
                        "shape": "S2j"
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "GetCommitDiffs": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "AfterCommitSpecifier"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "BeforeCommitSpecifier": {},
                            "BeforeFilePath": {},
                            "AfterCommitSpecifier": {},
                            "AfterFilePath": {},
                            "NextToken": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CommitDiffs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "BeforeBlob": {
                                    "shape": "S2r"
                                },
                                "AfterBlob": {
                                    "shape": "S2r"
                                },
                                "ChangeType": {}
                            }
                        }
                    },
                    "NextToken": {},
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "GetFile": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "FilePath"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "CommitSpecifier": {},
                            "FilePath": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BlobId": {},
                    "CommitId": {},
                    "FilePath": {},
                    "FileContent": {},
                    "FileSize": {
                        "type": "long"
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "GetFolder": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "FolderPath"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "CommitSpecifier": {},
                            "FolderPath": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CommitId": {},
                    "FolderPath": {},
                    "SubFolders": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AbsolutePath": {},
                                "RelativePath": {}
                            }
                        }
                    },
                    "Files": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "BlobId": {},
                                "AbsolutePath": {},
                                "RelativePath": {}
                            }
                        }
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "GetIndividualAccessToken": {
            "input": {
                "type": "structure",
                "required": [
                    "OAuthCode",
                    "RedirectToken"
                ],
                "members": {
                    "ProviderType": {},
                    "HostArn": {},
                    "OAuthCode": {},
                    "RedirectToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IndividualAccessToken": {
                        "shape": "S3i"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "GetInstallationData": {
            "input": {
                "type": "structure",
                "required": [
                    "ProviderType",
                    "InstallationId"
                ],
                "members": {
                    "ProviderType": {},
                    "InstallationId": {},
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InstanceId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "GetInstallationUrl": {
            "input": {
                "type": "structure",
                "required": [
                    "RedirectDestination"
                ],
                "members": {
                    "HostArn": {},
                    "ProviderType": {},
                    "RedirectDestination": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InitiateUrl": {},
                    "RedirectToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "GetPullRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "PullRequestId"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "PullRequestId": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PullRequest"
                ],
                "members": {
                    "PullRequest": {
                        "shape": "S15"
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "GetUploadArchiveToS3Status": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "UploadId"
                        ],
                        "members": {
                            "UploadId": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UploadStatus",
                    "Error",
                    "S3ObjectETAG",
                    "ResultCallbackParameters"
                ],
                "members": {
                    "UploadStatus": {},
                    "Error": {
                        "type": "structure",
                        "required": [
                            "Type",
                            "Message"
                        ],
                        "members": {
                            "Type": {},
                            "Message": {}
                        }
                    },
                    "S3ObjectETAG": {},
                    "ResultCallbackParameters": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "GetUploadCallbackToken": {
            "input": {
                "type": "structure",
                "required": [
                    "CallbackQueueArn",
                    "CallbackParameters"
                ],
                "members": {
                    "CallbackQueueArn": {},
                    "CallbackParameters": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CallbackToken"
                ],
                "members": {
                    "CallbackToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "GitSmartHttp": {
            "input": {
                "type": "structure",
                "members": {
                    "HttpHeaders": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "AccountId": {},
                    "Region": {},
                    "ConnectionUuid": {},
                    "Repo": {},
                    "GitService": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "GitSmartHttpReceivePack": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "GitSmartHttpUploadPack": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "HandleAwsAccountEvent": {
            "input": {
                "type": "structure",
                "required": [
                    "EventType",
                    "EventDate",
                    "AccountId"
                ],
                "members": {
                    "AccountEventMessage": {},
                    "EventType": {},
                    "EventDate": {
                        "type": "timestamp"
                    },
                    "AccountId": {},
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "IsRepositoryEmpty": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId"
                        ],
                        "members": {
                            "FullRepositoryId": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RepositoryEmpty"
                ],
                "members": {
                    "RepositoryEmpty": {
                        "type": "boolean"
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "ListBranchCommits": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "BranchName"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "BranchName": {}
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Commits"
                ],
                "members": {
                    "Commits": {
                        "shape": "S4v"
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "ListBranches": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId"
                        ],
                        "members": {
                            "FullRepositoryId": {}
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Branches"
                ],
                "members": {
                    "Branches": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "BranchName": {}
                            }
                        }
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "ListCommitFiles": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "CommitId"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "CommitId": {}
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Files"
                ],
                "members": {
                    "Files": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "FilePath": {},
                                "ChangeType": {}
                            }
                        }
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "ListCommitStatuses": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "Ref"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "Ref": {}
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CommitStatuses"
                ],
                "members": {
                    "CommitStatuses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "FullRepositoryId": {},
                                "State": {},
                                "Description": {},
                                "TargetUrl": {},
                                "Context": {},
                                "CreatedDate": {
                                    "type": "timestamp"
                                },
                                "UpdatedDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "ListInstallationTargets": {
            "input": {
                "type": "structure",
                "required": [
                    "IndividualAccessToken"
                ],
                "members": {
                    "IndividualAccessToken": {
                        "shape": "S3i"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Installations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "InstallationName": {},
                                "InstallationId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "ListIssues": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "Status": {},
                            "AssigneeId": {}
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Issues": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IssueId": {},
                                "CreatedDate": {
                                    "type": "timestamp"
                                },
                                "UpdatedDate": {
                                    "type": "timestamp"
                                },
                                "Title": {},
                                "Body": {},
                                "RequesterId": {},
                                "RequesterDisplayName": {},
                                "Status": {},
                                "Assignees": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Id": {},
                                            "DisplayName": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "ListOwners": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Owners"
                ],
                "members": {
                    "Owners": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "OwnerId": {},
                                "OwnerDisplayName": {},
                                "Type": {},
                                "OwnerCapabilities": {
                                    "type": "structure",
                                    "members": {
                                        "CreatePrivateRepository": {
                                            "type": "boolean"
                                        },
                                        "CreateRepositoryWithIssues": {
                                            "type": "boolean"
                                        },
                                        "CreateRepositoryWithPullRequests": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "ListPullRequestComments": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "PullRequestId"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "PullRequestId": {}
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Comments"
                ],
                "members": {
                    "Comments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CommentId": {},
                                "Body": {},
                                "AuthorDisplayName": {},
                                "AuthorId": {},
                                "CreatedDate": {
                                    "type": "timestamp"
                                },
                                "ReplyToCommentId": {},
                                "Sentiment": {
                                    "type": "structure",
                                    "members": {
                                        "Positive": {
                                            "type": "integer"
                                        },
                                        "Negative": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "FilePath": {},
                                "FileLineStart": {
                                    "type": "integer"
                                },
                                "FileLineEnd": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "ListPullRequestCommits": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "PullRequestId"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "PullRequestId": {}
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Commits"
                ],
                "members": {
                    "Commits": {
                        "shape": "S4v"
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "ListPullRequests": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "Status"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "Status": {}
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PullRequests"
                ],
                "members": {
                    "PullRequests": {
                        "type": "list",
                        "member": {
                            "shape": "S15"
                        }
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "ListRepositories": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "OwnerId"
                        ],
                        "members": {
                            "OwnerId": {}
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Repositories"
                ],
                "members": {
                    "Repositories": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RepositoryId": {},
                                "RepositoryDisplayName": {},
                                "OwnerId": {},
                                "OwnerDisplayName": {},
                                "FullRepositoryId": {},
                                "IsPrivate": {
                                    "type": "boolean"
                                },
                                "Description": {},
                                "Capabilities": {
                                    "shape": "S2j"
                                },
                                "SizeInBytes": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "OpsUpdateHostStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn",
                    "HostStatus"
                ],
                "members": {
                    "HostArn": {},
                    "HostStatus": {},
                    "VpcConfigurationStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "PutConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn",
                    "Configuration",
                    "Merge"
                ],
                "members": {
                    "HostArn": {},
                    "Configuration": {
                        "shape": "S75"
                    },
                    "Merge": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "PutConnectionConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "Configuration"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Configuration": {
                        "shape": "S75"
                    },
                    "Merge": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "RegisterAppCode": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn",
                    "Code",
                    "RedirectToken"
                ],
                "members": {
                    "HostArn": {},
                    "Code": {},
                    "RedirectToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "StartAppRegistrationHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn",
                    "RedirectDestination"
                ],
                "members": {
                    "HostArn": {},
                    "RedirectDestination": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InitiateUrl": {},
                    "RedirectToken": {},
                    "RequestBody": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "StartOAuthHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "RedirectDestination"
                ],
                "members": {
                    "ProviderType": {},
                    "RedirectDestination": {},
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InitiateUrl": {},
                    "RedirectToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "StartUploadArchiveToS3": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "CommitId",
                            "ArchiveType",
                            "NormalizeArchive",
                            "DestinationBucket",
                            "DestinationBucketKey"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "CommitId": {},
                            "ArchiveType": {},
                            "MaxBytes": {
                                "type": "long"
                            },
                            "NormalizeArchive": {
                                "type": "boolean"
                            },
                            "DestinationBucket": {},
                            "DestinationBucketKey": {},
                            "SSEAlgorithm": {},
                            "SSEData": {},
                            "CallbackToken": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UploadId"
                ],
                "members": {
                    "UploadId": {},
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "UpdateConnectionInstallation": {
            "input": {
                "type": "structure",
                "required": [
                    "IndividualAccessToken",
                    "InstallationId",
                    "ConnectionArn"
                ],
                "members": {
                    "IndividualAccessToken": {
                        "shape": "S3i"
                    },
                    "InstallationId": {},
                    "ConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "UpdateConnectionOAuthToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IndividualAccessToken",
                    "ConnectionArn"
                ],
                "members": {
                    "IndividualAccessToken": {
                        "shape": "S3i"
                    },
                    "ConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js"
            ]
        },
        "UpdatePullRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "PullRequestId"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "PullRequestId": {},
                            "Title": {},
                            "Body": {},
                            "Status": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PullRequest"
                ],
                "members": {
                    "PullRequest": {
                        "shape": "S15"
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAER6LRNFJYUSTQ7LNVQQFDONECODZ6NND32RXLOH2VF4W3OG2A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
[...]
