{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-12-01",
        "endpointPrefix": "codestar-connections",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS CodeStar connections",
        "serviceId": "CodeStar connections",
        "signatureVersion": "v4",
        "signingName": "codestar-connections",
        "targetPrefix": "com.amazonaws.codestar.connections.CodeStar_connections_20191201",
        "uid": "codestar-connections-2019-12-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
        ]
    },
    "operations": {
        "CreateConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionName"
                ],
                "members": {
                    "ProviderType": {},
                    "ConnectionName": {},
                    "Tags": {
                        "shape": "S4"
                    },
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "CreateHost": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ProviderType",
                    "ProviderEndpoint"
                ],
                "members": {
                    "Name": {},
                    "ProviderType": {},
                    "ProviderEndpoint": {},
                    "VpcConfiguration": {
                        "shape": "Se"
                    },
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HostArn": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "DeleteConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "DeleteHost": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "GetConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connection": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "GetHost": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Status": {},
                    "ProviderType": {},
                    "ProviderEndpoint": {},
                    "VpcConfiguration": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "ListConnections": {
            "input": {
                "type": "structure",
                "members": {
                    "ProviderTypeFilter": {},
                    "HostArnFilter": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connections": {
                        "type": "list",
                        "member": {
                            "shape": "Ss"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "ListHosts": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Hosts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "HostArn": {},
                                "ProviderType": {},
                                "ProviderEndpoint": {},
                                "VpcConfiguration": {
                                    "shape": "Se"
                                },
                                "Status": {},
                                "StatusMessage": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "UpdateHost": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {},
                    "ProviderEndpoint": {},
                    "VpcConfiguration": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "CreateCommitStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "CommitId",
                            "State"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "CommitId": {},
                            "State": {},
                            "TargetUrl": {},
                            "Description": {},
                            "Context": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FullRepositoryId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GYKE4HRYQ5QMNAFCR5UOMM6UM2WGDQHPZ4XHJL66SZV7MLFFVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25E5LGIBNYHVXYOXIG5JYK76VOGHNKOSA2J2P42N2WST5QDZRKBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKP7233ZPTAFB3CEVLK35FBPR6FV2UI7YS3OIDRS3DZSBLGKVRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAC6ZI4YPWGRMYNL53M74QJKLBKNHEJLP7BH555JDGPTAGS6DEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2KMHPEBTEI5DY35OKX6BXTYEYRAYJ3K47MRSJCU6SBOXPLNG5KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJWO4CL4HJNGW5SEQZOR2ZMOB4V3ASEPKAEHATW7P5EYC2QMNKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFQ5VVVC4CKZX44S3JDL3LIKR6YC5XW7KMIDSLFHQBECFL74P2A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF36SCJUH3O6VRDM3HS737Z3QV6Q3BGBQKSBCPKBE2AB7IIKGCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NKNGSRUZ6MCCS5WAWQCY5IBS24QX5BTVP7HIQ55I4ZXJUS32QYQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "CreateInstallationData": {
            "input": {
                "type": "structure",
                "required": [
                    "ProviderType",
                    "InstallationId"
                ],
                "members": {
                    "ProviderType": {},
                    "InstallationId": {},
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InstanceId"
                ],
                "members": {
                    "InstanceId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFQ5VVVC4CKZX44S3JDL3LIKR6YC5XW7KMIDSLFHQBECFL74P2A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF36SCJUH3O6VRDM3HS737Z3QV6Q3BGBQKSBCPKBE2AB7IIKGCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NKNGSRUZ6MCCS5WAWQCY5IBS24QX5BTVP7HIQ55I4ZXJUS32QYQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "CreatePullRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "Title",
                            "SourceBranchName",
                            "DestinationBranchName"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "Title": {},
                            "Body": {},
                            "SourceBranchName": {},
                            "DestinationBranchName": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PullRequest"
                ],
                "members": {
                    "PullRequest": {
                        "shape": "S15"
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GYKE4HRYQ5QMNAFCR5UOMM6UM2WGDQHPZ4XHJL66SZV7MLFFVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25E5LGIBNYHVXYOXIG5JYK76VOGHNKOSA2J2P42N2WST5QDZRKBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKP7233ZPTAFB3CEVLK35FBPR6FV2UI7YS3OIDRS3DZSBLGKVRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAC6ZI4YPWGRMYNL53M74QJKLBKNHEJLP7BH555JDGPTAGS6DEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2KMHPEBTEI5DY35OKX6BXTYEYRAYJ3K47MRSJCU6SBOXPLNG5KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJWO4CL4HJNGW5SEQZOR2ZMOB4V3ASEPKAEHATW7P5EYC2QMNKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFQ5VVVC4CKZX44S3JDL3LIKR6YC5XW7KMIDSLFHQBECFL74P2A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF36SCJUH3O6VRDM3HS737Z3QV6Q3BGBQKSBCPKBE2AB7IIKGCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NKNGSRUZ6MCCS5WAWQCY5IBS24QX5BTVP7HIQ55I4ZXJUS32QYQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "CreatePullRequestDiffComment": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "PullRequestId",
                            "CommitId",
                            "Body",
                            "FilePath"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "PullRequestId": {},
                            "CommitId": {},
                            "DestinationCommitId": {},
                            "Body": {},
                            "FilePath": {},
                            "FileLineStart": {
                                "type": "integer"
                            },
                            "FileLineEnd": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CommentId"
                ],
                "members": {
                    "CommentId": {},
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFQ5VVVC4CKZX44S3JDL3LIKR6YC5XW7KMIDSLFHQBECFL74P2A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF36SCJUH3O6VRDM3HS737Z3QV6Q3BGBQKSBCPKBE2AB7IIKGCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NKNGSRUZ6MCCS5WAWQCY5IBS24QX5BTVP7HIQ55I4ZXJUS32QYQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "CreateRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "OwnerId",
                            "RepositoryName",
                            "Private",
                            "EnableIssues",
                            "Description"
                        ],
                        "members": {
                            "OwnerId": {},
                            "RepositoryName": {},
                            "Private": {
                                "type": "boolean"
                            },
                            "EnableIssues": {
                                "type": "boolean"
                            },
                            "Description": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FullRepositoryId"
                ],
                "members": {
                    "FullRepositoryId": {},
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFQ5VVVC4CKZX44S3JDL3LIKR6YC5XW7KMIDSLFHQBECFL74P2A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF36SCJUH3O6VRDM3HS737Z3QV6Q3BGBQKSBCPKBE2AB7IIKGCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NKNGSRUZ6MCCS5WAWQCY5IBS24QX5BTVP7HIQ55I4ZXJUS32QYQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "DeleteInstallationData": {
            "input": {
                "type": "structure",
                "required": [
                    "ProviderType",
                    "InstallationId"
                ],
                "members": {
                    "ProviderType": {},
                    "InstallationId": {},
                    "HostArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFQ5VVVC4CKZX44S3JDL3LIKR6YC5XW7KMIDSLFHQBECFL74P2A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF36SCJUH3O6VRDM3HS737Z3QV6Q3BGBQKSBCPKBE2AB7IIKGCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NKNGSRUZ6MCCS5WAWQCY5IBS24QX5BTVP7HIQ55I4ZXJUS32QYQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "DeleteRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId"
                        ],
                        "members": {
                            "FullRepositoryId": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFQ5VVVC4CKZX44S3JDL3LIKR6YC5XW7KMIDSLFHQBECFL74P2A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF36SCJUH3O6VRDM3HS737Z3QV6Q3BGBQKSBCPKBE2AB7IIKGCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NKNGSRUZ6MCCS5WAWQCY5IBS24QX5BTVP7HIQ55I4ZXJUS32QYQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "EvaluateHostHealth": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HealthStatus": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFQ5VVVC4CKZX44S3JDL3LIKR6YC5XW7KMIDSLFHQBECFL74P2A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF36SCJUH3O6VRDM3HS737Z3QV6Q3BGBQKSBCPKBE2AB7IIKGCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NKNGSRUZ6MCCS5WAWQCY5IBS24QX5BTVP7HIQ55I4ZXJUS32QYQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "GenerateReferenceLink": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "ReferenceType",
                    "Reference"
                ],
                "members": {
                    "ConnectionArn": {},
                    "ReferenceType": {},
                    "Reference": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Link"
                ],
                "members": {
                    "Link": {},
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFQ5VVVC4CKZX44S3JDL3LIKR6YC5XW7KMIDSLFHQBECFL74P2A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF36SCJUH3O6VRDM3HS737Z3QV6Q3BGBQKSBCPKBE2AB7IIKGCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NKNGSRUZ6MCCS5WAWQCY5IBS24QX5BTVP7HIQ55I4ZXJUS32QYQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "GetBranch": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "BranchName"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "BranchName": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "LatestCommit",
                    "Capabilities"
                ],
                "members": {
                    "LatestCommit": {
                        "type": "structure",
                        "members": {
                            "CommitId": {},
                            "Message": {},
                            "Date": {
                                "type": "timestamp"
                            },
                            "AuthorDisplayName": {},
                            "AuthorEmail": {},
                            "AuthorId": {}
                        }
                    },
                    "Capabilities": {
                        "shape": "S2j"
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFQ5VVVC4CKZX44S3JDL3LIKR6YC5XW7KMIDSLFHQBECFL74P2A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF36SCJUH3O6VRDM3HS737Z3QV6Q3BGBQKSBCPKBE2AB7IIKGCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NKNGSRUZ6MCCS5WAWQCY5IBS24QX5BTVP7HIQ55I4ZXJUS32QYQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "GetCommitDiffs": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "AfterCommitSpecifier"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "BeforeCommitSpecifier": {},
                            "BeforeFilePath": {},
                            "AfterCommitSpecifier": {},
                            "AfterFilePath": {},
                            "NextToken": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CommitDiffs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "BeforeBlob": {
                                    "shape": "S2r"
                                },
                                "AfterBlob": {
                                    "shape": "S2r"
                                },
                                "ChangeType": {}
                            }
                        }
                    },
                    "NextToken": {},
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GYKE4HRYQ5QMNAFCR5UOMM6UM2WGDQHPZ4XHJL66SZV7MLFFVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25E5LGIBNYHVXYOXIG5JYK76VOGHNKOSA2J2P42N2WST5QDZRKBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKP7233ZPTAFB3CEVLK35FBPR6FV2UI7YS3OIDRS3DZSBLGKVRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAC6ZI4YPWGRMYNL53M74QJKLBKNHEJLP7BH555JDGPTAGS6DEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2KMHPEBTEI5DY35OKX6BXTYEYRAYJ3K47MRSJCU6SBOXPLNG5KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJWO4CL4HJNGW5SEQZOR2ZMOB4V3ASEPKAEHATW7P5EYC2QMNKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFQ5VVVC4CKZX44S3JDL3LIKR6YC5XW7KMIDSLFHQBECFL74P2A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF36SCJUH3O6VRDM3HS737Z3QV6Q3BGBQKSBCPKBE2AB7IIKGCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NKNGSRUZ6MCCS5WAWQCY5IBS24QX5BTVP7HIQ55I4ZXJUS32QYQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "GetFile": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "FilePath"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "CommitSpecifier": {},
                            "FilePath": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BlobId": {},
                    "CommitId": {},
                    "FilePath": {},
                    "FileContent": {},
                    "FileSize": {
                        "type": "long"
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GYKE4HRYQ5QMNAFCR5UOMM6UM2WGDQHPZ4XHJL66SZV7MLFFVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25E5LGIBNYHVXYOXIG5JYK76VOGHNKOSA2J2P42N2WST5QDZRKBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKP7233ZPTAFB3CEVLK35FBPR6FV2UI7YS3OIDRS3DZSBLGKVRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAC6ZI4YPWGRMYNL53M74QJKLBKNHEJLP7BH555JDGPTAGS6DEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2KMHPEBTEI5DY35OKX6BXTYEYRAYJ3K47MRSJCU6SBOXPLNG5KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJWO4CL4HJNGW5SEQZOR2ZMOB4V3ASEPKAEHATW7P5EYC2QMNKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFQ5VVVC4CKZX44S3JDL3LIKR6YC5XW7KMIDSLFHQBECFL74P2A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF36SCJUH3O6VRDM3HS737Z3QV6Q3BGBQKSBCPKBE2AB7IIKGCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NKNGSRUZ6MCCS5WAWQCY5IBS24QX5BTVP7HIQ55I4ZXJUS32QYQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "GetFolder": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "FolderPath"
                        ],
                        "members": {
[...]
