{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-10-15",
        "endpointPrefix": "codestar-notifications",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS CodeStar Notifications",
        "serviceId": "codestar notifications",
        "signatureVersion": "v4",
        "signingName": "codestar-notifications",
        "uid": "codestar-notifications-2019-10-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7GZFWLNTEEJYO6WA4VVOYTGXAW2ENKX36KXARIFZUDH24BCJOPPQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JBEOW2EW6CPRIWESEAXEKZP7SNRJGVT7ETNTG7UJRFHUL4PSK5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
        ]
    },
    "operations": {
        "CreateNotificationRule": {
            "http": {
                "requestUri": "/createNotificationRule"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "EventTypeIds",
                    "Resource",
                    "Targets",
                    "DetailType"
                ],
                "members": {
                    "Name": {
                        "shape": "S2"
                    },
                    "EventTypeIds": {
                        "shape": "S3"
                    },
                    "Resource": {},
                    "Targets": {
                        "shape": "S6"
                    },
                    "DetailType": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "Sc"
                    },
                    "Status": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "DeleteNotificationRule": {
            "http": {
                "requestUri": "/deleteNotificationRule"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "DeleteTarget": {
            "http": {
                "requestUri": "/deleteTarget"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TargetAddress"
                ],
                "members": {
                    "TargetAddress": {
                        "shape": "S9"
                    },
                    "ForceUnsubscribeAll": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "DescribeNotificationRule": {
            "http": {
                "requestUri": "/describeNotificationRule"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {},
                    "Name": {
                        "shape": "S2"
                    },
                    "EventTypes": {
                        "shape": "Sp"
                    },
                    "Resource": {},
                    "Targets": {
                        "shape": "Su"
                    },
                    "DetailType": {},
                    "CreatedBy": {},
                    "Status": {},
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    },
                    "LastModifiedTimestamp": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "ListEventTypes": {
            "http": {
                "requestUri": "/listEventTypes"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Value"
                            ],
                            "members": {
                                "Name": {},
                                "Value": {}
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventTypes": {
                        "shape": "Sp"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "ListNotificationRules": {
            "http": {
                "requestUri": "/listNotificationRules"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Value"
                            ],
                            "members": {
                                "Name": {},
                                "Value": {}
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "NotificationRules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Arn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "requestUri": "/listTagsForResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "ListTargets": {
            "http": {
                "requestUri": "/listTargets"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Value"
                            ],
                            "members": {
                                "Name": {},
                                "Value": {}
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Targets": {
                        "shape": "Su"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "Subscribe": {
            "http": {
                "requestUri": "/subscribe"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "Target"
                ],
                "members": {
                    "Arn": {},
                    "Target": {
                        "shape": "S7"
                    },
                    "ClientRequestToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tagResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "Tags"
                ],
                "members": {
                    "Arn": {},
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "Unsubscribe": {
            "http": {
                "requestUri": "/unsubscribe"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "TargetAddress"
                ],
                "members": {
                    "Arn": {},
                    "TargetAddress": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "requestUri": "/untagResource/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "TagKeys"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "UpdateNotificationRule": {
            "http": {
                "requestUri": "/updateNotificationRule"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {},
                    "Name": {
                        "shape": "S2"
                    },
                    "Status": {},
                    "EventTypeIds": {
                        "shape": "S3"
                    },
                    "Targets": {
                        "shape": "S6"
                    },
                    "DetailType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJH65NEL54K3ZZX6F42JIOYT3DR2QGKVCZHTVLRO2GWGYSLARIMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRGJIWUQPM6FPF73XKV7QJLC7TKMYT67KNZR2Z47YWKCYL7WLVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2U6MM5DVJHVKJ4CIUEUEA56XG5PBTCFDVMELHSPKJD7YZXP6AXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZHUMJ4DCVPZQ4CASRP6BBR4URVYXCHWAIWHFZXTL6LHMGKIXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3RVQ5NITMZSP5GUBS2KIWOBDDIIOZZM3KG4YV2BGB2BCGKQOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "string",
            "sensitive": true
        },
        "S3": {
            "type": "list",
            "member": {}
        },
        "S6": {
            "type": "list",
            "member": {
                "shape": "S7"
            }
        },
        "S7": {
            "type": "structure",
            "members": {
                "TargetType": {},
                "TargetAddress": {
                    "shape": "S9"
                }
            }
        },
        "S9": {
            "type": "string",
            "sensitive": true
        },
        "Sc": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sp": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "EventTypeId": {},
                    "ServiceName": {},
                    "EventTypeName": {},
                    "ResourceType": {}
                }
            }
        },
        "Su": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "TargetAddress": {
                        "shape": "S9"
                    },
                    "TargetType": {},
                    "TargetStatus": {}
                }
            }
        }
    }
}