{
    "metadata": {
        "apiVersion": "2020-01-06",
        "endpointPrefix": "codesuite-codecommit",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "codesuiteCodeCommit",
        "serviceId": "codesuiteCodeCommit",
        "signatureVersion": "v4",
        "signingName": "codecommit",
        "uid": "codesuite-codecommit-2020-01-06",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ZH7TYN72Z7MJCOU46YETNLES6C5RMW7W4V5XUXQKXI47DCDSZCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YIBLP2ATQP34AOZ4O3TZVI56RJBFD7TT7UOM7QRKM5BLU6UD42MQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UOMR6KCKAL3VTYH7Y33NKLSH5R4WIWAWD5CHN7B5R67ZYTZWYWOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CEGK3IVXERFDAGBIZZOWOJZ6EY5KXKMMQ6OTAGKLX5NHQKSVXFIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QS5J6NKJJ5WUZEI7HJK25COKM65N5WKSMAIDCOGY7FUGIJFJIDCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TPXZHLE7XWML73JJ3NU3TMZHUF3SH4SOQLH7BIU7OYQD4LVNT5AQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3QLEFFPNXTOVBRKVBFIMT64UBKFRBJPBHUQ33MID5T4K3ZIPADTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HC7TCVMJ2D6KDDBPWIRTQY4SNECP3QV2GCSHN37QNWMSMR5Y7TGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7L5HXRYRVNJJA4EPXDKENLTCUC2KW66EX3CCNCRCGJ7KYU2APVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/43NDL55HKWHERE5USU76XKWLRZNX27ERAUKDH7DCCMIMNR3ND7IQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FIY2BJWVRMDFP5H2ZTHBU2VUFT73YMSMAH3OWWN4ABSHH7U4M7LA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FM4ZYZVUWZCV46C3QQ5ILN4XJWNSWR6DBTXJ5WCA5R3MU3F3X43A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4DV2ZM6YH4NURWU37AGKKP3C5P6PIHHFM6UT445JJVGISTM5LJGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js"
        ]
    },
    "operations": {
        "diffBlobs": {
            "http": {
                "requestUri": "/diffBlobs",
                "responseCode": 200
            },
            "input": {
                "members": {
                    "diffView": {
                        "locationName": "diffView"
                    },
                    "ignoreWhitespace": {
                        "locationName": "ignoreWhitespace",
                        "type": "boolean"
                    },
                    "newBlobId": {
                        "locationName": "newBlobId"
                    },
                    "newBlobPath": {
                        "locationName": "newBlobPath"
                    },
                    "oldBlobId": {
                        "locationName": "oldBlobId"
                    },
                    "oldBlobPath": {
                        "locationName": "oldBlobPath"
                    },
                    "repositoryName": {
                        "locationName": "repositoryName"
                    },
                    "unhighlightedLargeDiff": {
                        "locationName": "unhighlightedLargeDiff",
                        "type": "boolean"
                    }
                },
                "required": [
                    "newBlobId",
                    "oldBlobPath",
                    "diffView",
                    "newBlobPath",
                    "ignoreWhitespace",
                    "repositoryName",
                    "unhighlightedLargeDiff",
                    "oldBlobId"
                ],
                "type": "structure"
            },
            "output": {
                "members": {
                    "content": {
                        "locationName": "content"
                    },
                    "type": {
                        "locationName": "type"
                    }
                },
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBLP2ATQP34AOZ4O3TZVI56RJBFD7TT7UOM7QRKM5BLU6UD42MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOMR6KCKAL3VTYH7Y33NKLSH5R4WIWAWD5CHN7B5R67ZYTZWYWOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEGK3IVXERFDAGBIZZOWOJZ6EY5KXKMMQ6OTAGKLX5NHQKSVXFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS5J6NKJJ5WUZEI7HJK25COKM65N5WKSMAIDCOGY7FUGIJFJIDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPXZHLE7XWML73JJ3NU3TMZHUF3SH4SOQLH7BIU7OYQD4LVNT5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QLEFFPNXTOVBRKVBFIMT64UBKFRBJPBHUQ33MID5T4K3ZIPADTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC7TCVMJ2D6KDDBPWIRTQY4SNECP3QV2GCSHN37QNWMSMR5Y7TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7L5HXRYRVNJJA4EPXDKENLTCUC2KW66EX3CCNCRCGJ7KYU2APVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43NDL55HKWHERE5USU76XKWLRZNX27ERAUKDH7DCCMIMNR3ND7IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIY2BJWVRMDFP5H2ZTHBU2VUFT73YMSMAH3OWWN4ABSHH7U4M7LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM4ZYZVUWZCV46C3QQ5ILN4XJWNSWR6DBTXJ5WCA5R3MU3F3X43A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DV2ZM6YH4NURWU37AGKKP3C5P6PIHHFM6UT445JJVGISTM5LJGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js"
            ]
        },
        "highlightBlob": {
            "http": {
                "requestUri": "/highlightBlob",
                "responseCode": 200
            },
            "input": {
                "members": {
                    "blobId": {
                        "locationName": "blobId"
                    },
                    "blobPath": {
                        "locationName": "blobPath"
                    },
                    "bottom": {
                        "locationName": "bottom",
                        "type": "boolean"
                    },
                    "diffView": {
                        "locationName": "diffView"
                    },
                    "ignoreWhitespace": {
                        "locationName": "ignoreWhitespace",
                        "type": "boolean"
                    },
                    "offset": {
                        "locationName": "offset",
                        "type": "integer"
                    },
                    "repositoryName": {
                        "locationName": "repositoryName"
                    },
                    "since": {
                        "locationName": "since",
                        "type": "integer"
                    },
                    "to": {
                        "locationName": "to",
                        "type": "integer"
                    },
                    "unfold": {
                        "locationName": "unfold",
                        "type": "boolean"
                    }
                },
                "required": [
                    "unfold",
                    "blobPath",
                    "diffView",
                    "since",
                    "bottom",
                    "ignoreWhitespace",
                    "repositoryName",
                    "to",
                    "blobId",
                    "offset"
                ],
                "type": "structure"
            },
            "output": {
                "members": {
                    "content": {
                        "locationName": "content"
                    },
                    "type": {
                        "locationName": "type"
                    }
                },
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBLP2ATQP34AOZ4O3TZVI56RJBFD7TT7UOM7QRKM5BLU6UD42MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOMR6KCKAL3VTYH7Y33NKLSH5R4WIWAWD5CHN7B5R67ZYTZWYWOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEGK3IVXERFDAGBIZZOWOJZ6EY5KXKMMQ6OTAGKLX5NHQKSVXFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS5J6NKJJ5WUZEI7HJK25COKM65N5WKSMAIDCOGY7FUGIJFJIDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPXZHLE7XWML73JJ3NU3TMZHUF3SH4SOQLH7BIU7OYQD4LVNT5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QLEFFPNXTOVBRKVBFIMT64UBKFRBJPBHUQ33MID5T4K3ZIPADTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC7TCVMJ2D6KDDBPWIRTQY4SNECP3QV2GCSHN37QNWMSMR5Y7TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7L5HXRYRVNJJA4EPXDKENLTCUC2KW66EX3CCNCRCGJ7KYU2APVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43NDL55HKWHERE5USU76XKWLRZNX27ERAUKDH7DCCMIMNR3ND7IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIY2BJWVRMDFP5H2ZTHBU2VUFT73YMSMAH3OWWN4ABSHH7U4M7LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM4ZYZVUWZCV46C3QQ5ILN4XJWNSWR6DBTXJ5WCA5R3MU3F3X43A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DV2ZM6YH4NURWU37AGKKP3C5P6PIHHFM6UT445JJVGISTM5LJGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEVJ7HNN6FZ7VP57AVXWT4Q6TNLALTLFP3BU7YAGC7ZSBUDDGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKPIHJSHRYKCHQFCMJ3RDHLKWOYFBPACY7M3I77DSWDC7U3ULOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REGTFGYKSBPFJOJBQSGPJN2C2FRA65ZVPIFG7MWWTWRJWJB4OBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVJY3XKRYDN7XNQER32CI33QDOSNQNVWZJSMZDTXWTCABZ2C2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCB6J2R6SBKWDNJXTR3L22OFASK6EIPS5TGKWUHXJMSUPJKFIVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV7Z27PR7X5J5ROPXVZPY6EJOJ2I62C6I5AHLHEGX6UEDR55GB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPT6XV5CSDC76CXFIKUZ3MRZACCIF5AHWO3D46B7EPCV2NPKSN2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js"
            ]
        }
    },
    "shapes": {}
}