{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-10-15",
        "endpointPrefix": "codestar-notifications",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS CodeStar Notifications",
        "serviceId": "codestar notifications",
        "signatureVersion": "v4",
        "signingName": "codestar-notifications",
        "uid": "codestar-notifications-2019-10-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateNotificationRule": {
            "http": {
                "requestUri": "/createNotificationRule"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "EventTypeIds",
                    "Resource",
                    "Targets",
                    "DetailType"
                ],
                "members": {
                    "Name": {
                        "shape": "S2"
                    },
                    "EventTypeIds": {
                        "shape": "S3"
                    },
                    "Resource": {},
                    "Targets": {
                        "shape": "S6"
                    },
                    "DetailType": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "Sc"
                    },
                    "Status": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteNotificationRule": {
            "http": {
                "requestUri": "/deleteNotificationRule"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteTarget": {
            "http": {
                "requestUri": "/deleteTarget"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TargetAddress"
                ],
                "members": {
                    "TargetAddress": {
                        "shape": "S9"
                    },
                    "ForceUnsubscribeAll": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeNotificationRule": {
            "http": {
                "requestUri": "/describeNotificationRule"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {},
                    "Name": {
                        "shape": "S2"
                    },
                    "EventTypes": {
                        "shape": "Sp"
                    },
                    "Resource": {},
                    "Targets": {
                        "shape": "Su"
                    },
                    "DetailType": {},
                    "CreatedBy": {},
                    "Status": {},
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    },
                    "LastModifiedTimestamp": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListEventTypes": {
            "http": {
                "requestUri": "/listEventTypes"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Value"
                            ],
                            "members": {
                                "Name": {},
                                "Value": {}
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventTypes": {
                        "shape": "Sp"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListNotificationRules": {
            "http": {
                "requestUri": "/listNotificationRules"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Value"
                            ],
                            "members": {
                                "Name": {},
                                "Value": {}
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "NotificationRules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Arn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "requestUri": "/listTagsForResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTargets": {
            "http": {
                "requestUri": "/listTargets"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Value"
                            ],
                            "members": {
                                "Name": {},
                                "Value": {}
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Targets": {
                        "shape": "Su"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "Subscribe": {
            "http": {
                "requestUri": "/subscribe"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "Target"
                ],
                "members": {
                    "Arn": {},
                    "Target": {
                        "shape": "S7"
                    },
                    "ClientRequestToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tagResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "Tags"
                ],
                "members": {
                    "Arn": {},
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "Unsubscribe": {
            "http": {
                "requestUri": "/unsubscribe"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "TargetAddress"
                ],
                "members": {
                    "Arn": {},
                    "TargetAddress": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "requestUri": "/untagResource/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "TagKeys"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateNotificationRule": {
            "http": {
                "requestUri": "/updateNotificationRule"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {},
                    "Name": {
                        "shape": "S2"
                    },
                    "Status": {},
                    "EventTypeIds": {
                        "shape": "S3"
                    },
                    "Targets": {
                        "shape": "S6"
                    },
                    "DetailType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "string",
            "sensitive": true
        },
        "S3": {
            "type": "list",
            "member": {}
        },
        "S6": {
            "type": "list",
            "member": {
                "shape": "S7"
            }
        },
        "S7": {
            "type": "structure",
            "members": {
                "TargetType": {},
                "TargetAddress": {
                    "shape": "S9"
                }
            }
        },
        "S9": {
            "type": "string",
            "sensitive": true
        },
        "Sc": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sp": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "EventTypeId": {},
                    "ServiceName": {},
                    "EventTypeName": {},
                    "ResourceType": {}
                }
            }
        },
        "Su": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "TargetAddress": {
                        "shape": "S9"
                    },
                    "TargetType": {},
                    "TargetStatus": {}
                }
            }
        }
    }
}