{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-09-22",
        "endpointPrefix": "codeartifact",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "CodeArtifact",
        "serviceId": "codeartifact",
        "signatureVersion": "v4",
        "signingName": "codeartifact",
        "uid": "codeartifact-2018-09-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/BHD2DMGR5OGY3WAQACX5PXF5B7VIU4JJNQCAL6VI6WF6P62PPWHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateExternalConnection": {
            "http": {
                "requestUri": "/v1/repository/external-connection"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "externalConnection"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "externalConnection": {
                        "location": "querystring",
                        "locationName": "external-connection"
                    },
                    "visibilityDelayMinutes": {
                        "internalonly": true,
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "CopyPackageVersions": {
            "http": {
                "requestUri": "/v1/package/versions/copy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "sourceRepository",
                    "destinationRepository",
                    "format",
                    "package"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "sourceRepository": {
                        "location": "querystring",
                        "locationName": "source-repository"
                    },
                    "destinationRepository": {
                        "location": "querystring",
                        "locationName": "destination-repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "versions": {
                        "shape": "Sj"
                    },
                    "versionRevisions": {
                        "shape": "Sl"
                    },
                    "allowOverwrite": {
                        "type": "boolean"
                    },
                    "includeFromUpstream": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulVersions": {
                        "shape": "Sp"
                    },
                    "failedVersions": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "CreateDomain": {
            "http": {
                "requestUri": "/v1/domain"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "encryptionKey": {},
                    "tags": {
                        "shape": "Sy"
                    },
                    "cawsOrganizationId": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "CreateRepository": {
            "http": {
                "requestUri": "/v1/repository"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "description": {},
                    "upstreams": {
                        "shape": "S19"
                    },
                    "tags": {
                        "shape": "Sy"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DeleteDomain": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/domain"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DeleteDomainPermissionsPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/domain/permissions/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "policyRevision": {
                        "location": "querystring",
                        "locationName": "policy-revision"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DeletePackageVersions": {
            "http": {
                "requestUri": "/v1/package/versions/delete"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package",
                    "versions"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "versions": {
                        "shape": "Sj"
                    },
                    "expectedStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulVersions": {
                        "shape": "Sp"
                    },
                    "failedVersions": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DeleteRepository": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/repository"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DeleteRepositoryPermissionsPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/repository/permissions/policies"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "policyRevision": {
                        "location": "querystring",
                        "locationName": "policy-revision"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DescribeDomain": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/domain"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DescribePackage": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/package"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "package"
                ],
                "members": {
                    "package": {
                        "type": "structure",
                        "members": {
                            "format": {},
                            "namespace": {},
                            "name": {},
                            "originConfiguration": {
                                "shape": "S1u"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3PBUGFATZK4CCFAFH5WEKPWCGYBZERGUHTZ5HCT65NFRZSUSLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLHBZ6V5DYPZZFM5BAY6RNUBAYB3TB5QDACLZE2MOG5F7VLTDD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C65CCPBBPQTXZUL77EX2F4DGBVZ4GCOUL27OW6QW3FC6OVHFDUYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNY2UJV5TRLCY7SBCUBOO7ZFWFYC7AHTBCAKTACHYOWGNYTMNQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBSFDEZ3H3EQ74HKOWAYP2FYGPWPGQH6M6OPTQZUGJ2IVTIG54Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LBPZUDP7SSGD4HNKG3UKMSYX7KEPM6VDAP2ZMCFNN7NUQ7MQVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHD2DMGR5OGY3WAQACX5PXF5B7VIU4JJNQCAL6VI6WF6P62PPWHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DescribePackageVersion": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/package/version"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package",
                    "packageVersion"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "packageVersion": {
                        "location": "querystring",
                        "locationName": "version"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "packageVersion"
                ],
                "members": {
                    "packageVersion": {
                        "type": "structure",
                        "members": {
                            "format": {},
                            "namespace": {},
                            "packageName": {},
                            "displayName": {},
                            "version": {},
                            "summary": {},
                            "homePage": {},
                            "sourceCodeRepository": {},
                            "publishedTime": {
                                "type": "timestamp"
                            },
                            "licenses": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "name": {},
                                        "url": {}
                                    }
                                }
                            },
                            "revision": {},
                            "status": {},
                            "origin": {
                                "shape": "S24"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DescribeRepository": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/repository"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DisassociateExternalConnection": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/repository/external-connection"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "externalConnection"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "externalConnection": {
                        "location": "querystring",
                        "locationName": "external-connection"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "DisposePackageVersions": {
            "http": {
                "requestUri": "/v1/package/versions/dispose"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package",
                    "versions"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "versions": {
                        "shape": "Sj"
                    },
                    "versionRevisions": {
                        "shape": "Sl"
                    },
                    "expectedStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulVersions": {
                        "shape": "Sp"
                    },
                    "failedVersions": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "GetAuthorizationToken": {
            "http": {
                "requestUri": "/v1/authorization-token"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "durationSeconds": {
                        "location": "querystring",
                        "locationName": "duration",
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "authorizationToken": {},
                    "expiration": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "GetDomainPermissionsPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/domain/permissions/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "GetPackageVersionAsset": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/package/version/asset"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package",
                    "packageVersion",
                    "asset"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "packageVersion": {
                        "location": "querystring",
                        "locationName": "version"
                    },
                    "asset": {
                        "location": "querystring",
                        "locationName": "asset"
                    },
                    "packageVersionRevision": {
                        "location": "querystring",
                        "locationName": "revision"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "asset": {
                        "type": "blob",
                        "streaming": true
                    },
                    "assetName": {
                        "location": "header",
                        "locationName": "X-AssetName"
                    },
                    "packageVersion": {
                        "location": "header",
                        "locationName": "X-PackageVersion"
                    },
                    "packageVersionRevision": {
                        "location": "header",
                        "locationName": "X-PackageVersionRevision"
                    }
                },
                "payload": "asset"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "GetPackageVersionReadme": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/package/version/readme"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package",
                    "packageVersion"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "packageVersion": {
                        "location": "querystring",
                        "locationName": "version"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "format": {},
                    "namespace": {},
                    "package": {},
                    "version": {},
                    "versionRevision": {},
                    "readme": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "GetRepositoryEndpoint": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/repository/endpoint"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repositoryEndpoint": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js"
            ]
        },
        "GetRepositoryPermissionsPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/repository/permissions/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JVECTVJGT2IHUCE2MV4ALIV2YH6SOT33SHAGTGD37WLG7QIRKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NU6PH43UHJLV3CNGN5NZ4AZC2IR4ZK2BWJOFJT2Z53YPKTE75JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H6GIBBMJG5SIFF5N2CTJ2HUEHHSO5K4VZGSOJW3E3ZX3V6BWCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
[...]
