{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-09-22",
        "endpointPrefix": "codeartifact",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "CodeArtifact",
        "serviceId": "codeartifact",
        "signatureVersion": "v4",
        "signingName": "codeartifact",
        "uid": "codeartifact-2018-09-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/common.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/common.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/common.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/common.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateExternalConnection": {
            "http": {
                "requestUri": "/v1/repository/external-connection"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "externalConnection"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "externalConnection": {
                        "location": "querystring",
                        "locationName": "external-connection"
                    },
                    "visibilityDelayMinutes": {
                        "internalonly": true,
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CopyPackageVersions": {
            "http": {
                "requestUri": "/v1/package/versions/copy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "sourceRepository",
                    "destinationRepository",
                    "format",
                    "package"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "sourceRepository": {
                        "location": "querystring",
                        "locationName": "source-repository"
                    },
                    "destinationRepository": {
                        "location": "querystring",
                        "locationName": "destination-repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "versions": {
                        "shape": "Sj"
                    },
                    "versionRevisions": {
                        "shape": "Sl"
                    },
                    "allowOverwrite": {
                        "type": "boolean"
                    },
                    "includeFromUpstream": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulVersions": {
                        "shape": "Sp"
                    },
                    "failedVersions": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateDomain": {
            "http": {
                "requestUri": "/v1/domain"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "encryptionKey": {},
                    "tags": {
                        "shape": "Sy"
                    },
                    "cawsOrganizationId": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateRepository": {
            "http": {
                "requestUri": "/v1/repository"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "description": {},
                    "upstreams": {
                        "shape": "S19"
                    },
                    "tags": {
                        "shape": "Sy"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteDomain": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/domain"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteDomainPermissionsPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/domain/permissions/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "policyRevision": {
                        "location": "querystring",
                        "locationName": "policy-revision"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeletePackageVersions": {
            "http": {
                "requestUri": "/v1/package/versions/delete"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package",
                    "versions"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "versions": {
                        "shape": "Sj"
                    },
                    "expectedStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulVersions": {
                        "shape": "Sp"
                    },
                    "failedVersions": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteRepository": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/repository"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteRepositoryPermissionsPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/repository/permissions/policies"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "policyRevision": {
                        "location": "querystring",
                        "locationName": "policy-revision"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeDomain": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/domain"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribePackage": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/package"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "package"
                ],
                "members": {
                    "package": {
                        "type": "structure",
                        "members": {
                            "format": {},
                            "namespace": {},
                            "name": {},
                            "originConfiguration": {
                                "shape": "S1u"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E3AHFNUN6F2QGP34Z7TS4A7B65V3I25TJ26VEUVK4QGORYIFCZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GT4EMJTVXH76HXK5XB7RSAHP72ZOIEUUFEC3LRL5D2JSNH6PL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3WLE635NNBRF5H5LKB6VCZXV3JSIXRGF2F3ND2IIQHZMCNDVDCQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWITNC7F3I3ZE5UGVTTD445LZEG4L4KOKAWBLIUTVNPK6LIEJDIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BOX3QLS2QF22O4PIVTOMPO5MPSPFIDFD7E5IGKFWYK3DOHXTDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIO6RKGAKIOSNEM2SECACC5A6L3JP3NI4WWKRG7ELQME7LW3YXFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribePackageVersion": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/package/version"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package",
                    "packageVersion"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "packageVersion": {
                        "location": "querystring",
                        "locationName": "version"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "packageVersion"
                ],
                "members": {
                    "packageVersion": {
                        "type": "structure",
                        "members": {
                            "format": {},
                            "namespace": {},
                            "packageName": {},
                            "displayName": {},
                            "version": {},
                            "summary": {},
                            "homePage": {},
                            "sourceCodeRepository": {},
                            "publishedTime": {
                                "type": "timestamp"
                            },
                            "licenses": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "name": {},
                                        "url": {}
                                    }
                                }
                            },
                            "revision": {},
                            "status": {},
                            "origin": {
                                "shape": "S24"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeRepository": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/repository"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisassociateExternalConnection": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/repository/external-connection"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "externalConnection"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "externalConnection": {
                        "location": "querystring",
                        "locationName": "external-connection"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisposePackageVersions": {
            "http": {
                "requestUri": "/v1/package/versions/dispose"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package",
                    "versions"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "versions": {
                        "shape": "Sj"
                    },
                    "versionRevisions": {
                        "shape": "Sl"
                    },
                    "expectedStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulVersions": {
                        "shape": "Sp"
                    },
                    "failedVersions": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetAuthorizationToken": {
            "http": {
                "requestUri": "/v1/authorization-token"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "durationSeconds": {
                        "location": "querystring",
                        "locationName": "duration",
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "authorizationToken": {},
                    "expiration": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetDomainPermissionsPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/domain/permissions/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetPackageVersionAsset": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/package/version/asset"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package",
                    "packageVersion",
                    "asset"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "packageVersion": {
                        "location": "querystring",
                        "locationName": "version"
                    },
                    "asset": {
                        "location": "querystring",
                        "locationName": "asset"
                    },
                    "packageVersionRevision": {
                        "location": "querystring",
                        "locationName": "revision"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "asset": {
                        "type": "blob",
                        "streaming": true
                    },
                    "assetName": {
                        "location": "header",
                        "locationName": "X-AssetName"
                    },
                    "packageVersion": {
                        "location": "header",
                        "locationName": "X-PackageVersion"
                    },
                    "packageVersionRevision": {
                        "location": "header",
                        "locationName": "X-PackageVersionRevision"
                    }
                },
                "payload": "asset"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetPackageVersionReadme": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/package/version/readme"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package",
                    "packageVersion"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "packageVersion": {
                        "location": "querystring",
                        "locationName": "version"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "format": {},
                    "namespace": {},
                    "package": {},
                    "version": {},
                    "versionRevision": {},
                    "readme": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetRepositoryEndpoint": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/repository/endpoint"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repositoryEndpoint": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetRepositoryPermissionsPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/repository/permissions/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE6EYJB26MSZILSSGH343IWJIVWNH2RFAIZLQZUVAFF3TERXPUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFWWAG6VI2N6YL3V6LSRBU5ZJ6U2YQHIDIIUHYSLUHEXGOURSMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ4KU4AFIA2NTKRMFJRPOWK3RY75X7ZLCS3JVQPJ5Y4YFGH344TQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/common.js",
[...]
