{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-09-22",
        "endpointPrefix": "codeartifact",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "CodeArtifact",
        "serviceId": "codeartifact",
        "signatureVersion": "v4",
        "signingName": "codeartifact",
        "uid": "codeartifact-2018-09-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/common.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
        ]
    },
    "operations": {
        "AssociateExternalConnection": {
            "http": {
                "requestUri": "/v1/repository/external-connection"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "externalConnection"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "externalConnection": {
                        "location": "querystring",
                        "locationName": "external-connection"
                    },
                    "visibilityDelayMinutes": {
                        "internalonly": true,
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "CopyPackageVersions": {
            "http": {
                "requestUri": "/v1/package/versions/copy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "sourceRepository",
                    "destinationRepository",
                    "format",
                    "package"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "sourceRepository": {
                        "location": "querystring",
                        "locationName": "source-repository"
                    },
                    "destinationRepository": {
                        "location": "querystring",
                        "locationName": "destination-repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "versions": {
                        "shape": "Sj"
                    },
                    "versionRevisions": {
                        "shape": "Sl"
                    },
                    "allowOverwrite": {
                        "type": "boolean"
                    },
                    "includeFromUpstream": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulVersions": {
                        "shape": "Sp"
                    },
                    "failedVersions": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "CreateDomain": {
            "http": {
                "requestUri": "/v1/domain"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "encryptionKey": {},
                    "tags": {
                        "shape": "Sy"
                    },
                    "cawsOrganizationId": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "CreateRepository": {
            "http": {
                "requestUri": "/v1/repository"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "description": {},
                    "upstreams": {
                        "shape": "S19"
                    },
                    "tags": {
                        "shape": "Sy"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "DeleteDomain": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/domain"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "DeleteDomainPermissionsPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/domain/permissions/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "policyRevision": {
                        "location": "querystring",
                        "locationName": "policy-revision"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "DeletePackageVersions": {
            "http": {
                "requestUri": "/v1/package/versions/delete"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package",
                    "versions"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "versions": {
                        "shape": "Sj"
                    },
                    "expectedStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulVersions": {
                        "shape": "Sp"
                    },
                    "failedVersions": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "DeleteRepository": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/repository"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "DeleteRepositoryPermissionsPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/repository/permissions/policies"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "policyRevision": {
                        "location": "querystring",
                        "locationName": "policy-revision"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "DescribeDomain": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/domain"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "DescribePackage": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/package"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "package"
                ],
                "members": {
                    "package": {
                        "type": "structure",
                        "members": {
                            "format": {},
                            "namespace": {},
                            "name": {},
                            "originConfiguration": {
                                "shape": "S1u"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPCH5DHAGQTCZNAT2264LWHNBYIMQXZMGRSQWQTZGAH365TE6ULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "DescribePackageVersion": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/package/version"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package",
                    "packageVersion"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "packageVersion": {
                        "location": "querystring",
                        "locationName": "version"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "packageVersion"
                ],
                "members": {
                    "packageVersion": {
                        "type": "structure",
                        "members": {
                            "format": {},
                            "namespace": {},
                            "packageName": {},
                            "displayName": {},
                            "version": {},
                            "summary": {},
                            "homePage": {},
                            "sourceCodeRepository": {},
                            "publishedTime": {
                                "type": "timestamp"
                            },
                            "licenses": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "name": {},
                                        "url": {}
                                    }
                                }
                            },
                            "revision": {},
                            "status": {},
                            "origin": {
                                "shape": "S24"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "DescribeRepository": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/repository"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "DisassociateExternalConnection": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/repository/external-connection"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "externalConnection"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "externalConnection": {
                        "location": "querystring",
                        "locationName": "external-connection"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "DisposePackageVersions": {
            "http": {
                "requestUri": "/v1/package/versions/dispose"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package",
                    "versions"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "versions": {
                        "shape": "Sj"
                    },
                    "versionRevisions": {
                        "shape": "Sl"
                    },
                    "expectedStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulVersions": {
                        "shape": "Sp"
                    },
                    "failedVersions": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "GetAuthorizationToken": {
            "http": {
                "requestUri": "/v1/authorization-token"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "durationSeconds": {
                        "location": "querystring",
                        "locationName": "duration",
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "authorizationToken": {},
                    "expiration": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "GetDomainPermissionsPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/domain/permissions/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "GetPackageVersionAsset": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/package/version/asset"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package",
                    "packageVersion",
                    "asset"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "packageVersion": {
                        "location": "querystring",
                        "locationName": "version"
                    },
                    "asset": {
                        "location": "querystring",
                        "locationName": "asset"
                    },
                    "packageVersionRevision": {
                        "location": "querystring",
                        "locationName": "revision"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "asset": {
                        "type": "blob",
                        "streaming": true
                    },
                    "assetName": {
                        "location": "header",
                        "locationName": "X-AssetName"
                    },
                    "packageVersion": {
                        "location": "header",
                        "locationName": "X-PackageVersion"
                    },
                    "packageVersionRevision": {
                        "location": "header",
                        "locationName": "X-PackageVersionRevision"
                    }
                },
                "payload": "asset"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "GetPackageVersionReadme": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/package/version/readme"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format",
                    "package",
                    "packageVersion"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    },
                    "namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "package": {
                        "location": "querystring",
                        "locationName": "package"
                    },
                    "packageVersion": {
                        "location": "querystring",
                        "locationName": "version"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "format": {},
                    "namespace": {},
                    "package": {},
                    "version": {},
                    "versionRevision": {},
                    "readme": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "GetRepositoryEndpoint": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/repository/endpoint"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository",
                    "format"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    },
                    "format": {
                        "location": "querystring",
                        "locationName": "format"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repositoryEndpoint": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/common.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "GetRepositoryPermissionsPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/repository/permissions/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "repository"
                ],
                "members": {
                    "domain": {
                        "location": "querystring",
                        "locationName": "domain"
                    },
                    "domainOwner": {
                        "location": "querystring",
                        "locationName": "domain-owner"
                    },
                    "repository": {
                        "location": "querystring",
                        "locationName": "repository"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
[...]
