{
    "metadata": {
        "apiVersion": "2020-01-06",
        "endpointPrefix": "codesuite-codecommit",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "codesuiteCodeCommit",
        "serviceId": "codesuiteCodeCommit",
        "signatureVersion": "v4",
        "signingName": "codecommit",
        "uid": "codesuite-codecommit-2020-01-06",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/IVTBPXAVC3OPQ6FGAER3B2F66URY6WMOU2M2PPDRKY22VK2UIXYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SW3ZLSG5JVQ3N3Y2WRH65ED43KA52F2UN5UZKT4IJX2CZACMQ4PA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3CPQA5MTZ5RP5IIG27FAIZJFOHOFV47USUXF2VU37PNVK6BXQLGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QXYXNA7XXAE7L5J4DDTOZYATA6LV2TH3JAQCMPYCQYKF5H65LCNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQEORT7Z3E7VHLGPFQFPG3CEEWEN4J6CJ4WUXSAUVASJRQZZLXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LVZSWQ6NF3VX4JRETQJB7KMQQTH2YK2EKQYL4CWU7GDZIBFIU7SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js"
        ]
    },
    "operations": {
        "diffBlobs": {
            "http": {
                "requestUri": "/diffBlobs",
                "responseCode": 200
            },
            "input": {
                "members": {
                    "diffView": {
                        "locationName": "diffView"
                    },
                    "ignoreWhitespace": {
                        "locationName": "ignoreWhitespace",
                        "type": "boolean"
                    },
                    "newBlobId": {
                        "locationName": "newBlobId"
                    },
                    "newBlobPath": {
                        "locationName": "newBlobPath"
                    },
                    "oldBlobId": {
                        "locationName": "oldBlobId"
                    },
                    "oldBlobPath": {
                        "locationName": "oldBlobPath"
                    },
                    "repositoryName": {
                        "locationName": "repositoryName"
                    },
                    "unhighlightedLargeDiff": {
                        "locationName": "unhighlightedLargeDiff",
                        "type": "boolean"
                    }
                },
                "required": [
                    "newBlobId",
                    "oldBlobPath",
                    "diffView",
                    "newBlobPath",
                    "ignoreWhitespace",
                    "repositoryName",
                    "unhighlightedLargeDiff",
                    "oldBlobId"
                ],
                "type": "structure"
            },
            "output": {
                "members": {
                    "content": {
                        "locationName": "content"
                    },
                    "type": {
                        "locationName": "type"
                    }
                },
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SW3ZLSG5JVQ3N3Y2WRH65ED43KA52F2UN5UZKT4IJX2CZACMQ4PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CPQA5MTZ5RP5IIG27FAIZJFOHOFV47USUXF2VU37PNVK6BXQLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXYXNA7XXAE7L5J4DDTOZYATA6LV2TH3JAQCMPYCQYKF5H65LCNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQEORT7Z3E7VHLGPFQFPG3CEEWEN4J6CJ4WUXSAUVASJRQZZLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVZSWQ6NF3VX4JRETQJB7KMQQTH2YK2EKQYL4CWU7GDZIBFIU7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js"
            ]
        },
        "highlightBlob": {
            "http": {
                "requestUri": "/highlightBlob",
                "responseCode": 200
            },
            "input": {
                "members": {
                    "blobId": {
                        "locationName": "blobId"
                    },
                    "blobPath": {
                        "locationName": "blobPath"
                    },
                    "bottom": {
                        "locationName": "bottom",
                        "type": "boolean"
                    },
                    "diffView": {
                        "locationName": "diffView"
                    },
                    "ignoreWhitespace": {
                        "locationName": "ignoreWhitespace",
                        "type": "boolean"
                    },
                    "offset": {
                        "locationName": "offset",
                        "type": "integer"
                    },
                    "repositoryName": {
                        "locationName": "repositoryName"
                    },
                    "since": {
                        "locationName": "since",
                        "type": "integer"
                    },
                    "to": {
                        "locationName": "to",
                        "type": "integer"
                    },
                    "unfold": {
                        "locationName": "unfold",
                        "type": "boolean"
                    }
                },
                "required": [
                    "unfold",
                    "blobPath",
                    "diffView",
                    "since",
                    "bottom",
                    "ignoreWhitespace",
                    "repositoryName",
                    "to",
                    "blobId",
                    "offset"
                ],
                "type": "structure"
            },
            "output": {
                "members": {
                    "content": {
                        "locationName": "content"
                    },
                    "type": {
                        "locationName": "type"
                    }
                },
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SW3ZLSG5JVQ3N3Y2WRH65ED43KA52F2UN5UZKT4IJX2CZACMQ4PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CPQA5MTZ5RP5IIG27FAIZJFOHOFV47USUXF2VU37PNVK6BXQLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXYXNA7XXAE7L5J4DDTOZYATA6LV2TH3JAQCMPYCQYKF5H65LCNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQEORT7Z3E7VHLGPFQFPG3CEEWEN4J6CJ4WUXSAUVASJRQZZLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVZSWQ6NF3VX4JRETQJB7KMQQTH2YK2EKQYL4CWU7GDZIBFIU7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js"
            ]
        }
    },
    "shapes": {}
}