{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-10-15",
        "endpointPrefix": "codestar-notifications",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS CodeStar Notifications",
        "serviceId": "codestar notifications",
        "signatureVersion": "v4",
        "signingName": "codestar-notifications",
        "uid": "codestar-notifications-2019-10-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TM6M7BSLS2JZGO6AMBD74PB2K65YGYIMYLY6SH56LFBU3ILHLIAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
        ]
    },
    "operations": {
        "CreateNotificationRule": {
            "http": {
                "requestUri": "/createNotificationRule"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "EventTypeIds",
                    "Resource",
                    "Targets",
                    "DetailType"
                ],
                "members": {
                    "Name": {
                        "shape": "S2"
                    },
                    "EventTypeIds": {
                        "shape": "S3"
                    },
                    "Resource": {},
                    "Targets": {
                        "shape": "S6"
                    },
                    "DetailType": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "Sc"
                    },
                    "Status": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "DeleteNotificationRule": {
            "http": {
                "requestUri": "/deleteNotificationRule"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "DeleteTarget": {
            "http": {
                "requestUri": "/deleteTarget"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TargetAddress"
                ],
                "members": {
                    "TargetAddress": {
                        "shape": "S9"
                    },
                    "ForceUnsubscribeAll": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "DescribeNotificationRule": {
            "http": {
                "requestUri": "/describeNotificationRule"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {},
                    "Name": {
                        "shape": "S2"
                    },
                    "EventTypes": {
                        "shape": "Sp"
                    },
                    "Resource": {},
                    "Targets": {
                        "shape": "Su"
                    },
                    "DetailType": {},
                    "CreatedBy": {},
                    "Status": {},
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    },
                    "LastModifiedTimestamp": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "ListEventTypes": {
            "http": {
                "requestUri": "/listEventTypes"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Value"
                            ],
                            "members": {
                                "Name": {},
                                "Value": {}
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventTypes": {
                        "shape": "Sp"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "ListNotificationRules": {
            "http": {
                "requestUri": "/listNotificationRules"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Value"
                            ],
                            "members": {
                                "Name": {},
                                "Value": {}
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "NotificationRules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Arn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "requestUri": "/listTagsForResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "ListTargets": {
            "http": {
                "requestUri": "/listTargets"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Value"
                            ],
                            "members": {
                                "Name": {},
                                "Value": {}
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Targets": {
                        "shape": "Su"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "Subscribe": {
            "http": {
                "requestUri": "/subscribe"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "Target"
                ],
                "members": {
                    "Arn": {},
                    "Target": {
                        "shape": "S7"
                    },
                    "ClientRequestToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tagResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "Tags"
                ],
                "members": {
                    "Arn": {},
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "Unsubscribe": {
            "http": {
                "requestUri": "/unsubscribe"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "TargetAddress"
                ],
                "members": {
                    "Arn": {},
                    "TargetAddress": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "requestUri": "/untagResource/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "TagKeys"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "UpdateNotificationRule": {
            "http": {
                "requestUri": "/updateNotificationRule"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {},
                    "Name": {
                        "shape": "S2"
                    },
                    "Status": {},
                    "EventTypeIds": {
                        "shape": "S3"
                    },
                    "Targets": {
                        "shape": "S6"
                    },
                    "DetailType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YIFTGQPRSNWD2UPL2EDYVSF4NSJLU4W2PPNN25NSK5RO73KQSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDBJVWAR6L25PYQLUJCY7CF3DMZRQ35OFBXIBM7PJ7EDGLWF2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "string",
            "sensitive": true
        },
        "S3": {
            "type": "list",
            "member": {}
        },
        "S6": {
            "type": "list",
            "member": {
                "shape": "S7"
            }
        },
        "S7": {
            "type": "structure",
            "members": {
                "TargetType": {},
                "TargetAddress": {
                    "shape": "S9"
                }
            }
        },
        "S9": {
            "type": "string",
            "sensitive": true
        },
        "Sc": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sp": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "EventTypeId": {},
                    "ServiceName": {},
                    "EventTypeName": {},
                    "ResourceType": {}
                }
            }
        },
        "Su": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "TargetAddress": {
                        "shape": "S9"
                    },
                    "TargetType": {},
                    "TargetStatus": {}
                }
            }
        }
    }
}