{
    "version": "2.0",
    "metadata": {
        "name": "CodeBuild_OAuth",
        "apiVersion": "2018-08-08",
        "endpointPrefix": "codebuild",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "CodeBuildOAuth",
        "serviceFullName": "AWS CodeBuild OAuth",
        "serviceId": "CodeBuild",
        "signatureVersion": "v4",
        "targetPrefix": "CodeBuild_OAuth",
        "uid": "codebuildoauth-2018-08-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4UAC6ZI4YPWGRMYNL53M74QJKLBKNHEJLP7BH555JDGPTAGS6DEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2KMHPEBTEI5DY35OKX6BXTYEYRAYJ3K47MRSJCU6SBOXPLNG5KQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SJWO4CL4HJNGW5SEQZOR2ZMOB4V3ASEPKAEHATW7P5EYC2QMNKZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VF36SCJUH3O6VRDM3HS737Z3QV6Q3BGBQKSBCPKBE2AB7IIKGCQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
        ]
    },
    "operations": {
        "DeleteOAuthToken": {
            "input": {
                "type": "structure",
                "required": [
                    "authServerType"
                ],
                "members": {
                    "authServerType": {},
                    "tokenIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAC6ZI4YPWGRMYNL53M74QJKLBKNHEJLP7BH555JDGPTAGS6DEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2KMHPEBTEI5DY35OKX6BXTYEYRAYJ3K47MRSJCU6SBOXPLNG5KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJWO4CL4HJNGW5SEQZOR2ZMOB4V3ASEPKAEHATW7P5EYC2QMNKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF36SCJUH3O6VRDM3HS737Z3QV6Q3BGBQKSBCPKBE2AB7IIKGCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "ListConnectedOAuthAccounts": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "accounts": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "boolean"
                        }
                    },
                    "accountsWithAuthTokens": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "identifier": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAC6ZI4YPWGRMYNL53M74QJKLBKNHEJLP7BH555JDGPTAGS6DEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2KMHPEBTEI5DY35OKX6BXTYEYRAYJ3K47MRSJCU6SBOXPLNG5KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJWO4CL4HJNGW5SEQZOR2ZMOB4V3ASEPKAEHATW7P5EYC2QMNKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF36SCJUH3O6VRDM3HS737Z3QV6Q3BGBQKSBCPKBE2AB7IIKGCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "ListRepositories": {
            "input": {
                "type": "structure",
                "required": [
                    "serverType"
                ],
                "members": {
                    "serverType": {},
                    "tokenIdentifier": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repositories": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "fullName": {},
                                "description": {},
                                "isPrivate": {
                                    "type": "boolean"
                                },
                                "cloneURL": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAC6ZI4YPWGRMYNL53M74QJKLBKNHEJLP7BH555JDGPTAGS6DEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2KMHPEBTEI5DY35OKX6BXTYEYRAYJ3K47MRSJCU6SBOXPLNG5KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJWO4CL4HJNGW5SEQZOR2ZMOB4V3ASEPKAEHATW7P5EYC2QMNKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF36SCJUH3O6VRDM3HS737Z3QV6Q3BGBQKSBCPKBE2AB7IIKGCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        },
        "PersistOAuthToken": {
            "input": {
                "type": "structure",
                "required": [
                    "authCode",
                    "authServerType"
                ],
                "members": {
                    "authCode": {
                        "type": "string",
                        "sensitive": true
                    },
                    "tokenIdentifier": {},
                    "authServerType": {},
                    "oauthAppVersion": {
                        "type": "integer"
                    },
                    "returnEncryptedToken": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UAC6ZI4YPWGRMYNL53M74QJKLBKNHEJLP7BH555JDGPTAGS6DEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2KMHPEBTEI5DY35OKX6BXTYEYRAYJ3K47MRSJCU6SBOXPLNG5KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJWO4CL4HJNGW5SEQZOR2ZMOB4V3ASEPKAEHATW7P5EYC2QMNKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF36SCJUH3O6VRDM3HS737Z3QV6Q3BGBQKSBCPKBE2AB7IIKGCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.js"
            ]
        }
    },
    "shapes": {}
}