{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-04-19",
        "endpointPrefix": "codestar",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "CodeStar",
        "serviceFullName": "AWS CodeStar",
        "serviceId": "CodeStar",
        "signatureVersion": "v4",
        "targetPrefix": "CodeStar_20170419",
        "uid": "codestar-2017-04-19",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateTeamMember": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "userArn",
                    "projectRole"
                ],
                "members": {
                    "projectId": {},
                    "clientRequestToken": {},
                    "userArn": {},
                    "projectRole": {},
                    "remoteAccessAllowed": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "clientRequestToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateProject": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "id"
                ],
                "members": {
                    "name": {
                        "shape": "S9"
                    },
                    "id": {},
                    "description": {
                        "shape": "Sa"
                    },
                    "clientRequestToken": {},
                    "sourceCode": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source",
                                "destination"
                            ],
                            "members": {
                                "source": {
                                    "type": "structure",
                                    "required": [
                                        "s3"
                                    ],
                                    "members": {
                                        "s3": {
                                            "shape": "Se"
                                        }
                                    }
                                },
                                "destination": {
                                    "type": "structure",
                                    "members": {
                                        "codeCommit": {
                                            "type": "structure",
                                            "required": [
                                                "name"
                                            ],
                                            "members": {
                                                "name": {}
                                            }
                                        },
                                        "gitHub": {
                                            "type": "structure",
                                            "required": [
                                                "name",
                                                "type",
                                                "owner",
                                                "privateRepository",
                                                "issuesEnabled",
                                                "token"
                                            ],
                                            "members": {
                                                "name": {},
                                                "description": {},
                                                "type": {},
                                                "owner": {},
                                                "privateRepository": {
                                                    "type": "boolean"
                                                },
                                                "issuesEnabled": {
                                                    "type": "boolean"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "sensitive": true
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "toolchain": {
                        "type": "structure",
                        "required": [
                            "source"
                        ],
                        "members": {
                            "source": {
                                "type": "structure",
                                "required": [
                                    "s3"
                                ],
                                "members": {
                                    "s3": {
                                        "shape": "Se"
                                    }
                                }
                            },
                            "roleArn": {},
                            "stackParameters": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    },
                    "tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "arn": {},
                    "clientRequestToken": {},
                    "projectTemplateId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateUserProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "userArn",
                    "displayName",
                    "emailAddress"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {},
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "lastModifiedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {},
                    "clientRequestToken": {},
                    "deleteStack": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "stackId": {},
                    "projectArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteUserProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {
                        "shape": "S9"
                    },
                    "id": {},
                    "arn": {},
                    "description": {
                        "shape": "Sa"
                    },
                    "clientRequestToken": {},
                    "createdTimeStamp": {
                        "type": "timestamp"
                    },
                    "stackId": {},
                    "projectTemplateId": {},
                    "status": {
                        "type": "structure",
                        "required": [
                            "state"
                        ],
                        "members": {
                            "state": {},
                            "reason": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeUserProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userArn",
                    "createdTimestamp",
                    "lastModifiedTimestamp"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {},
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "lastModifiedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DisassociateTeamMember": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "userArn"
                ],
                "members": {
                    "projectId": {},
                    "userArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListProjects": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "projects"
                ],
                "members": {
                    "projects": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "projectId": {},
                                "projectArn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListResources": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId"
                ],
                "members": {
                    "projectId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id"
                            ],
                            "members": {
                                "id": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListTagsForProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sx"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListTeamMembers": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId"
                ],
                "members": {
                    "projectId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "teamMembers"
                ],
                "members": {
                    "teamMembers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "userArn",
                                "projectRole"
                            ],
                            "members": {
                                "userArn": {},
                                "projectRole": {},
                                "remoteAccessAllowed": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListUserProfiles": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userProfiles"
                ],
                "members": {
                    "userProfiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "userArn": {},
                                "displayName": {
                                    "shape": "S14"
                                },
                                "emailAddress": {
                                    "shape": "S15"
                                },
                                "sshPublicKey": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "TagProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "tags"
                ],
                "members": {
                    "id": {},
                    "tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "UntagProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "tags"
                ],
                "members": {
                    "id": {},
                    "tags": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "UpdateProject": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {},
                    "name": {
                        "shape": "S9"
                    },
                    "description": {
                        "shape": "Sa"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "UpdateTeamMember": {
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "userArn"
                ],
                "members": {
                    "projectId": {},
                    "userArn": {},
                    "projectRole": {},
                    "remoteAccessAllowed": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "userArn": {},
                    "projectRole": {},
                    "remoteAccessAllowed": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "UpdateUserProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userArn"
                ],
                "members": {
                    "userArn": {},
                    "displayName": {
                        "shape": "S14"
                    },
                    "emailAddress": {
                        "shape": "S15"
                    },
                    "sshPublicKey": {},
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "lastModifiedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIJ6EU6CPAI3U4HXZUDF5MLGOIDOESHHAYEBLD5ALPNVCHOLXNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S9": {
            "type": "string",
            "sensitive": true
        },
        "Sa": {
            "type": "string",
            "sensitive": true
        },
        "Se": {
            "type": "structure",
            "members": {
                "bucketName": {},
                "bucketKey": {}
            }
        },
        "Sx": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S14": {
            "type": "string",
            "sensitive": true
        },
        "S15": {
            "type": "string",
            "sensitive": true
        }
    }
}