{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-12-01",
        "endpointPrefix": "codestar-connections",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS CodeStar connections",
        "serviceId": "CodeStar connections",
        "signatureVersion": "v4",
        "signingName": "codestar-connections",
        "targetPrefix": "com.amazonaws.codestar.connections.CodeStar_connections_20191201",
        "uid": "codestar-connections-2019-12-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
        ]
    },
    "operations": {
        "CreateConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionName"
                ],
                "members": {
                    "ProviderType": {},
                    "ConnectionName": {},
                    "Tags": {
                        "shape": "S4"
                    },
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "CreateHost": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ProviderType",
                    "ProviderEndpoint"
                ],
                "members": {
                    "Name": {},
                    "ProviderType": {},
                    "ProviderEndpoint": {},
                    "VpcConfiguration": {
                        "shape": "Se"
                    },
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HostArn": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "DeleteConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "DeleteHost": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "GetConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connection": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "GetHost": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Status": {},
                    "ProviderType": {},
                    "ProviderEndpoint": {},
                    "VpcConfiguration": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "ListConnections": {
            "input": {
                "type": "structure",
                "members": {
                    "ProviderTypeFilter": {},
                    "HostArnFilter": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connections": {
                        "type": "list",
                        "member": {
                            "shape": "Ss"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "ListHosts": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Hosts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "HostArn": {},
                                "ProviderType": {},
                                "ProviderEndpoint": {},
                                "VpcConfiguration": {
                                    "shape": "Se"
                                },
                                "Status": {},
                                "StatusMessage": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "UpdateHost": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {},
                    "ProviderEndpoint": {},
                    "VpcConfiguration": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6J27IAVWZ4D36CUKBQMEU4YNN4WVQL4WNOM7CHDC33DO2TKVYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2QQ2SJJG2IHLHR3P2B7BTY3JARTXS4IVG2VMJFBQIWB6R6RHQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3K2JSRECQMAQKYTS5WOSS6HSKX4QUE6J5B3XQEKFTYZXFFXNRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SPGQCEWA22AWNQQOFPFF2RISAWCICUV6DGXTTMTEFXRQ753YLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXXKOJ5NNPUNQYEXY2ADMM6CUMJNBZLMYTASXOLOAZ25UISGD7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOGKK6FLS7W5E4TXE5DLXZBKHQFQMMWAWJEU5AUOGBQBJZK7IGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "CreateCommitStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "CommitId",
                            "State"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "CommitId": {},
                            "State": {},
                            "TargetUrl": {},
                            "Description": {},
                            "Context": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FullRepositoryId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXGUWJODIBJTTN7LZ64CAEP4WWWP2E4RYW6WE333IQDTVEODI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MAMLD6TJ4Y2KBVULBQBX2V2CAJYR4FMJEIDTGFQKZEKGVSYQHA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO6N4LNCGM3G4YBZJVGZWNCDGY5SV4F3GRHNKMVGALNJKUKCHL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZM24MJ7ES3RONVF6QF6YCVVJDGBAH7MFEQE3FFMLO6JGTXWFMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFPQB6MGL5BPRY7XULLG34OJ4RCM523GVNYE63EASHSCYZVIGHDQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PU62QIWG243ODSB5QHIX3NLQTTVK2AOUVGQCQAYLYHTEL5JXQ4Q/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HG6PIH2XTBCBE7T4LWM63VHBBW6SGPEFDTM2SC2XSKW5GWFHUHJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RG7SC4JSJM2MEWFOX655WINQELNNZ3UTUW3C2Y2ECDTNTLQIR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYH5AQD74DVXKDQKZE3V7UQ6N5QM5XHKTNTKQHX3D4LD6JBAQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NHQFNLOHLFOF2GJMFTL7HGIP2TBKUJSBXQTT7YGIASMJAAS75JQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON42LBQJQ66NT4R5MDEHEJY4TIFF4DM2LN5WOHJREIVAFEKPRSBQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSXHTXNRLVCNDER3653TSX5JEMQNAIHCYLNYUUPNN4XVH6SAC4IA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBRDO243DSUWBVZWUOKK5MYRLNHFVGZ7CTN76B5R4ALHG3FIYHDA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLXLC6QPXJDMY7RC2UJ6FPRNZRP2MKQRNV6AB4AHFSEQHKDCSLTQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMZ6FQ6NTOWK6PYKC4ZLWIKGZDHSQCFIKFIDUPLY7EEQLPILQKEA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZBZDXF6BMUL3E54UNX6IHBSTU2ZY2UEG2ZFEZTNBOJJQPD5C5HQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XETOG5DKAR3BUWFEEUMTJK5BUSVFBZJPBE4IYAUUDLVA55OD75BQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIJQAPRXVTNLBYWWMIXIOG6X3RL73G3Q6LSUX7DS2QOOQ3EQGQ3Q/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUTZSEJCITV4KQFACSFD32Y7E7ZKBW3HFSLA3AH7Q7UJDE7VNIWA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "CreateInstallationData": {
            "input": {
                "type": "structure",
                "required": [
                    "ProviderType",
                    "InstallationId"
                ],
                "members": {
                    "ProviderType": {},
                    "InstallationId": {},
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InstanceId"
                ],
                "members": {
                    "InstanceId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXGUWJODIBJTTN7LZ64CAEP4WWWP2E4RYW6WE333IQDTVEODI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MAMLD6TJ4Y2KBVULBQBX2V2CAJYR4FMJEIDTGFQKZEKGVSYQHA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO6N4LNCGM3G4YBZJVGZWNCDGY5SV4F3GRHNKMVGALNJKUKCHL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZM24MJ7ES3RONVF6QF6YCVVJDGBAH7MFEQE3FFMLO6JGTXWFMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFPQB6MGL5BPRY7XULLG34OJ4RCM523GVNYE63EASHSCYZVIGHDQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PU62QIWG243ODSB5QHIX3NLQTTVK2AOUVGQCQAYLYHTEL5JXQ4Q/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HG6PIH2XTBCBE7T4LWM63VHBBW6SGPEFDTM2SC2XSKW5GWFHUHJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RG7SC4JSJM2MEWFOX655WINQELNNZ3UTUW3C2Y2ECDTNTLQIR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYH5AQD74DVXKDQKZE3V7UQ6N5QM5XHKTNTKQHX3D4LD6JBAQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NHQFNLOHLFOF2GJMFTL7HGIP2TBKUJSBXQTT7YGIASMJAAS75JQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON42LBQJQ66NT4R5MDEHEJY4TIFF4DM2LN5WOHJREIVAFEKPRSBQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSXHTXNRLVCNDER3653TSX5JEMQNAIHCYLNYUUPNN4XVH6SAC4IA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBRDO243DSUWBVZWUOKK5MYRLNHFVGZ7CTN76B5R4ALHG3FIYHDA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLXLC6QPXJDMY7RC2UJ6FPRNZRP2MKQRNV6AB4AHFSEQHKDCSLTQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMZ6FQ6NTOWK6PYKC4ZLWIKGZDHSQCFIKFIDUPLY7EEQLPILQKEA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZBZDXF6BMUL3E54UNX6IHBSTU2ZY2UEG2ZFEZTNBOJJQPD5C5HQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XETOG5DKAR3BUWFEEUMTJK5BUSVFBZJPBE4IYAUUDLVA55OD75BQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIJQAPRXVTNLBYWWMIXIOG6X3RL73G3Q6LSUX7DS2QOOQ3EQGQ3Q/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUTZSEJCITV4KQFACSFD32Y7E7ZKBW3HFSLA3AH7Q7UJDE7VNIWA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "CreatePullRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "Title",
                            "SourceBranchName",
                            "DestinationBranchName"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "Title": {},
                            "Body": {},
                            "SourceBranchName": {},
                            "DestinationBranchName": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PullRequest"
                ],
                "members": {
                    "PullRequest": {
                        "shape": "S15"
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXGUWJODIBJTTN7LZ64CAEP4WWWP2E4RYW6WE333IQDTVEODI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MAMLD6TJ4Y2KBVULBQBX2V2CAJYR4FMJEIDTGFQKZEKGVSYQHA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO6N4LNCGM3G4YBZJVGZWNCDGY5SV4F3GRHNKMVGALNJKUKCHL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZM24MJ7ES3RONVF6QF6YCVVJDGBAH7MFEQE3FFMLO6JGTXWFMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFPQB6MGL5BPRY7XULLG34OJ4RCM523GVNYE63EASHSCYZVIGHDQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PU62QIWG243ODSB5QHIX3NLQTTVK2AOUVGQCQAYLYHTEL5JXQ4Q/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HG6PIH2XTBCBE7T4LWM63VHBBW6SGPEFDTM2SC2XSKW5GWFHUHJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RG7SC4JSJM2MEWFOX655WINQELNNZ3UTUW3C2Y2ECDTNTLQIR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYH5AQD74DVXKDQKZE3V7UQ6N5QM5XHKTNTKQHX3D4LD6JBAQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NHQFNLOHLFOF2GJMFTL7HGIP2TBKUJSBXQTT7YGIASMJAAS75JQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON42LBQJQ66NT4R5MDEHEJY4TIFF4DM2LN5WOHJREIVAFEKPRSBQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSXHTXNRLVCNDER3653TSX5JEMQNAIHCYLNYUUPNN4XVH6SAC4IA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBRDO243DSUWBVZWUOKK5MYRLNHFVGZ7CTN76B5R4ALHG3FIYHDA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLXLC6QPXJDMY7RC2UJ6FPRNZRP2MKQRNV6AB4AHFSEQHKDCSLTQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMZ6FQ6NTOWK6PYKC4ZLWIKGZDHSQCFIKFIDUPLY7EEQLPILQKEA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZBZDXF6BMUL3E54UNX6IHBSTU2ZY2UEG2ZFEZTNBOJJQPD5C5HQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XETOG5DKAR3BUWFEEUMTJK5BUSVFBZJPBE4IYAUUDLVA55OD75BQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIJQAPRXVTNLBYWWMIXIOG6X3RL73G3Q6LSUX7DS2QOOQ3EQGQ3Q/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUTZSEJCITV4KQFACSFD32Y7E7ZKBW3HFSLA3AH7Q7UJDE7VNIWA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "CreatePullRequestDiffComment": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "PullRequestId",
                            "CommitId",
                            "Body",
                            "FilePath"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "PullRequestId": {},
                            "CommitId": {},
                            "DestinationCommitId": {},
                            "Body": {},
                            "FilePath": {},
                            "FileLineStart": {
                                "type": "integer"
                            },
                            "FileLineEnd": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CommentId"
                ],
                "members": {
                    "CommentId": {},
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXGUWJODIBJTTN7LZ64CAEP4WWWP2E4RYW6WE333IQDTVEODI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MAMLD6TJ4Y2KBVULBQBX2V2CAJYR4FMJEIDTGFQKZEKGVSYQHA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO6N4LNCGM3G4YBZJVGZWNCDGY5SV4F3GRHNKMVGALNJKUKCHL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZM24MJ7ES3RONVF6QF6YCVVJDGBAH7MFEQE3FFMLO6JGTXWFMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFPQB6MGL5BPRY7XULLG34OJ4RCM523GVNYE63EASHSCYZVIGHDQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PU62QIWG243ODSB5QHIX3NLQTTVK2AOUVGQCQAYLYHTEL5JXQ4Q/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HG6PIH2XTBCBE7T4LWM63VHBBW6SGPEFDTM2SC2XSKW5GWFHUHJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RG7SC4JSJM2MEWFOX655WINQELNNZ3UTUW3C2Y2ECDTNTLQIR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYH5AQD74DVXKDQKZE3V7UQ6N5QM5XHKTNTKQHX3D4LD6JBAQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NHQFNLOHLFOF2GJMFTL7HGIP2TBKUJSBXQTT7YGIASMJAAS75JQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON42LBQJQ66NT4R5MDEHEJY4TIFF4DM2LN5WOHJREIVAFEKPRSBQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSXHTXNRLVCNDER3653TSX5JEMQNAIHCYLNYUUPNN4XVH6SAC4IA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBRDO243DSUWBVZWUOKK5MYRLNHFVGZ7CTN76B5R4ALHG3FIYHDA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLXLC6QPXJDMY7RC2UJ6FPRNZRP2MKQRNV6AB4AHFSEQHKDCSLTQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMZ6FQ6NTOWK6PYKC4ZLWIKGZDHSQCFIKFIDUPLY7EEQLPILQKEA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZBZDXF6BMUL3E54UNX6IHBSTU2ZY2UEG2ZFEZTNBOJJQPD5C5HQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XETOG5DKAR3BUWFEEUMTJK5BUSVFBZJPBE4IYAUUDLVA55OD75BQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIJQAPRXVTNLBYWWMIXIOG6X3RL73G3Q6LSUX7DS2QOOQ3EQGQ3Q/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUTZSEJCITV4KQFACSFD32Y7E7ZKBW3HFSLA3AH7Q7UJDE7VNIWA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "CreateRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "OwnerId",
                            "RepositoryName",
                            "Private",
                            "EnableIssues",
                            "Description"
                        ],
                        "members": {
                            "OwnerId": {},
                            "RepositoryName": {},
                            "Private": {
                                "type": "boolean"
                            },
                            "EnableIssues": {
                                "type": "boolean"
                            },
                            "Description": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FullRepositoryId"
                ],
                "members": {
                    "FullRepositoryId": {},
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXGUWJODIBJTTN7LZ64CAEP4WWWP2E4RYW6WE333IQDTVEODI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MAMLD6TJ4Y2KBVULBQBX2V2CAJYR4FMJEIDTGFQKZEKGVSYQHA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO6N4LNCGM3G4YBZJVGZWNCDGY5SV4F3GRHNKMVGALNJKUKCHL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZM24MJ7ES3RONVF6QF6YCVVJDGBAH7MFEQE3FFMLO6JGTXWFMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFPQB6MGL5BPRY7XULLG34OJ4RCM523GVNYE63EASHSCYZVIGHDQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PU62QIWG243ODSB5QHIX3NLQTTVK2AOUVGQCQAYLYHTEL5JXQ4Q/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HG6PIH2XTBCBE7T4LWM63VHBBW6SGPEFDTM2SC2XSKW5GWFHUHJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RG7SC4JSJM2MEWFOX655WINQELNNZ3UTUW3C2Y2ECDTNTLQIR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYH5AQD74DVXKDQKZE3V7UQ6N5QM5XHKTNTKQHX3D4LD6JBAQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NHQFNLOHLFOF2GJMFTL7HGIP2TBKUJSBXQTT7YGIASMJAAS75JQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON42LBQJQ66NT4R5MDEHEJY4TIFF4DM2LN5WOHJREIVAFEKPRSBQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSXHTXNRLVCNDER3653TSX5JEMQNAIHCYLNYUUPNN4XVH6SAC4IA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBRDO243DSUWBVZWUOKK5MYRLNHFVGZ7CTN76B5R4ALHG3FIYHDA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLXLC6QPXJDMY7RC2UJ6FPRNZRP2MKQRNV6AB4AHFSEQHKDCSLTQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMZ6FQ6NTOWK6PYKC4ZLWIKGZDHSQCFIKFIDUPLY7EEQLPILQKEA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZBZDXF6BMUL3E54UNX6IHBSTU2ZY2UEG2ZFEZTNBOJJQPD5C5HQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XETOG5DKAR3BUWFEEUMTJK5BUSVFBZJPBE4IYAUUDLVA55OD75BQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIJQAPRXVTNLBYWWMIXIOG6X3RL73G3Q6LSUX7DS2QOOQ3EQGQ3Q/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUTZSEJCITV4KQFACSFD32Y7E7ZKBW3HFSLA3AH7Q7UJDE7VNIWA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "DeleteInstallationData": {
            "input": {
                "type": "structure",
                "required": [
                    "ProviderType",
                    "InstallationId"
                ],
                "members": {
                    "ProviderType": {},
                    "InstallationId": {},
                    "HostArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXGUWJODIBJTTN7LZ64CAEP4WWWP2E4RYW6WE333IQDTVEODI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MAMLD6TJ4Y2KBVULBQBX2V2CAJYR4FMJEIDTGFQKZEKGVSYQHA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO6N4LNCGM3G4YBZJVGZWNCDGY5SV4F3GRHNKMVGALNJKUKCHL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZM24MJ7ES3RONVF6QF6YCVVJDGBAH7MFEQE3FFMLO6JGTXWFMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFPQB6MGL5BPRY7XULLG34OJ4RCM523GVNYE63EASHSCYZVIGHDQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PU62QIWG243ODSB5QHIX3NLQTTVK2AOUVGQCQAYLYHTEL5JXQ4Q/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HG6PIH2XTBCBE7T4LWM63VHBBW6SGPEFDTM2SC2XSKW5GWFHUHJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RG7SC4JSJM2MEWFOX655WINQELNNZ3UTUW3C2Y2ECDTNTLQIR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYH5AQD74DVXKDQKZE3V7UQ6N5QM5XHKTNTKQHX3D4LD6JBAQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NHQFNLOHLFOF2GJMFTL7HGIP2TBKUJSBXQTT7YGIASMJAAS75JQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON42LBQJQ66NT4R5MDEHEJY4TIFF4DM2LN5WOHJREIVAFEKPRSBQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSXHTXNRLVCNDER3653TSX5JEMQNAIHCYLNYUUPNN4XVH6SAC4IA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBRDO243DSUWBVZWUOKK5MYRLNHFVGZ7CTN76B5R4ALHG3FIYHDA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLXLC6QPXJDMY7RC2UJ6FPRNZRP2MKQRNV6AB4AHFSEQHKDCSLTQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMZ6FQ6NTOWK6PYKC4ZLWIKGZDHSQCFIKFIDUPLY7EEQLPILQKEA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZBZDXF6BMUL3E54UNX6IHBSTU2ZY2UEG2ZFEZTNBOJJQPD5C5HQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XETOG5DKAR3BUWFEEUMTJK5BUSVFBZJPBE4IYAUUDLVA55OD75BQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIJQAPRXVTNLBYWWMIXIOG6X3RL73G3Q6LSUX7DS2QOOQ3EQGQ3Q/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUTZSEJCITV4KQFACSFD32Y7E7ZKBW3HFSLA3AH7Q7UJDE7VNIWA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "DeleteRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId"
                        ],
                        "members": {
                            "FullRepositoryId": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXGUWJODIBJTTN7LZ64CAEP4WWWP2E4RYW6WE333IQDTVEODI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MAMLD6TJ4Y2KBVULBQBX2V2CAJYR4FMJEIDTGFQKZEKGVSYQHA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO6N4LNCGM3G4YBZJVGZWNCDGY5SV4F3GRHNKMVGALNJKUKCHL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZM24MJ7ES3RONVF6QF6YCVVJDGBAH7MFEQE3FFMLO6JGTXWFMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFPQB6MGL5BPRY7XULLG34OJ4RCM523GVNYE63EASHSCYZVIGHDQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PU62QIWG243ODSB5QHIX3NLQTTVK2AOUVGQCQAYLYHTEL5JXQ4Q/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HG6PIH2XTBCBE7T4LWM63VHBBW6SGPEFDTM2SC2XSKW5GWFHUHJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RG7SC4JSJM2MEWFOX655WINQELNNZ3UTUW3C2Y2ECDTNTLQIR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYH5AQD74DVXKDQKZE3V7UQ6N5QM5XHKTNTKQHX3D4LD6JBAQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NHQFNLOHLFOF2GJMFTL7HGIP2TBKUJSBXQTT7YGIASMJAAS75JQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON42LBQJQ66NT4R5MDEHEJY4TIFF4DM2LN5WOHJREIVAFEKPRSBQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSXHTXNRLVCNDER3653TSX5JEMQNAIHCYLNYUUPNN4XVH6SAC4IA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBRDO243DSUWBVZWUOKK5MYRLNHFVGZ7CTN76B5R4ALHG3FIYHDA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLXLC6QPXJDMY7RC2UJ6FPRNZRP2MKQRNV6AB4AHFSEQHKDCSLTQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMZ6FQ6NTOWK6PYKC4ZLWIKGZDHSQCFIKFIDUPLY7EEQLPILQKEA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZBZDXF6BMUL3E54UNX6IHBSTU2ZY2UEG2ZFEZTNBOJJQPD5C5HQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XETOG5DKAR3BUWFEEUMTJK5BUSVFBZJPBE4IYAUUDLVA55OD75BQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIJQAPRXVTNLBYWWMIXIOG6X3RL73G3Q6LSUX7DS2QOOQ3EQGQ3Q/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUTZSEJCITV4KQFACSFD32Y7E7ZKBW3HFSLA3AH7Q7UJDE7VNIWA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "EvaluateHostHealth": {
            "input": {
                "type": "structure",
                "required": [
                    "HostArn"
                ],
                "members": {
                    "HostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HealthStatus": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXGUWJODIBJTTN7LZ64CAEP4WWWP2E4RYW6WE333IQDTVEODI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MAMLD6TJ4Y2KBVULBQBX2V2CAJYR4FMJEIDTGFQKZEKGVSYQHA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO6N4LNCGM3G4YBZJVGZWNCDGY5SV4F3GRHNKMVGALNJKUKCHL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZM24MJ7ES3RONVF6QF6YCVVJDGBAH7MFEQE3FFMLO6JGTXWFMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFPQB6MGL5BPRY7XULLG34OJ4RCM523GVNYE63EASHSCYZVIGHDQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PU62QIWG243ODSB5QHIX3NLQTTVK2AOUVGQCQAYLYHTEL5JXQ4Q/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HG6PIH2XTBCBE7T4LWM63VHBBW6SGPEFDTM2SC2XSKW5GWFHUHJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RG7SC4JSJM2MEWFOX655WINQELNNZ3UTUW3C2Y2ECDTNTLQIR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYH5AQD74DVXKDQKZE3V7UQ6N5QM5XHKTNTKQHX3D4LD6JBAQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NHQFNLOHLFOF2GJMFTL7HGIP2TBKUJSBXQTT7YGIASMJAAS75JQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON42LBQJQ66NT4R5MDEHEJY4TIFF4DM2LN5WOHJREIVAFEKPRSBQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSXHTXNRLVCNDER3653TSX5JEMQNAIHCYLNYUUPNN4XVH6SAC4IA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBRDO243DSUWBVZWUOKK5MYRLNHFVGZ7CTN76B5R4ALHG3FIYHDA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLXLC6QPXJDMY7RC2UJ6FPRNZRP2MKQRNV6AB4AHFSEQHKDCSLTQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMZ6FQ6NTOWK6PYKC4ZLWIKGZDHSQCFIKFIDUPLY7EEQLPILQKEA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZBZDXF6BMUL3E54UNX6IHBSTU2ZY2UEG2ZFEZTNBOJJQPD5C5HQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XETOG5DKAR3BUWFEEUMTJK5BUSVFBZJPBE4IYAUUDLVA55OD75BQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIJQAPRXVTNLBYWWMIXIOG6X3RL73G3Q6LSUX7DS2QOOQ3EQGQ3Q/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUTZSEJCITV4KQFACSFD32Y7E7ZKBW3HFSLA3AH7Q7UJDE7VNIWA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "GenerateReferenceLink": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "ReferenceType",
                    "Reference"
                ],
                "members": {
                    "ConnectionArn": {},
                    "ReferenceType": {},
                    "Reference": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Link"
                ],
                "members": {
                    "Link": {},
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXGUWJODIBJTTN7LZ64CAEP4WWWP2E4RYW6WE333IQDTVEODI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MAMLD6TJ4Y2KBVULBQBX2V2CAJYR4FMJEIDTGFQKZEKGVSYQHA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO6N4LNCGM3G4YBZJVGZWNCDGY5SV4F3GRHNKMVGALNJKUKCHL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZM24MJ7ES3RONVF6QF6YCVVJDGBAH7MFEQE3FFMLO6JGTXWFMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFPQB6MGL5BPRY7XULLG34OJ4RCM523GVNYE63EASHSCYZVIGHDQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PU62QIWG243ODSB5QHIX3NLQTTVK2AOUVGQCQAYLYHTEL5JXQ4Q/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HG6PIH2XTBCBE7T4LWM63VHBBW6SGPEFDTM2SC2XSKW5GWFHUHJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RG7SC4JSJM2MEWFOX655WINQELNNZ3UTUW3C2Y2ECDTNTLQIR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYH5AQD74DVXKDQKZE3V7UQ6N5QM5XHKTNTKQHX3D4LD6JBAQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NHQFNLOHLFOF2GJMFTL7HGIP2TBKUJSBXQTT7YGIASMJAAS75JQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON42LBQJQ66NT4R5MDEHEJY4TIFF4DM2LN5WOHJREIVAFEKPRSBQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSXHTXNRLVCNDER3653TSX5JEMQNAIHCYLNYUUPNN4XVH6SAC4IA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBRDO243DSUWBVZWUOKK5MYRLNHFVGZ7CTN76B5R4ALHG3FIYHDA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLXLC6QPXJDMY7RC2UJ6FPRNZRP2MKQRNV6AB4AHFSEQHKDCSLTQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMZ6FQ6NTOWK6PYKC4ZLWIKGZDHSQCFIKFIDUPLY7EEQLPILQKEA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZBZDXF6BMUL3E54UNX6IHBSTU2ZY2UEG2ZFEZTNBOJJQPD5C5HQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XETOG5DKAR3BUWFEEUMTJK5BUSVFBZJPBE4IYAUUDLVA55OD75BQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIJQAPRXVTNLBYWWMIXIOG6X3RL73G3Q6LSUX7DS2QOOQ3EQGQ3Q/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUTZSEJCITV4KQFACSFD32Y7E7ZKBW3HFSLA3AH7Q7UJDE7VNIWA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "GetBranch": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "BranchName"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "BranchName": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "LatestCommit",
                    "Capabilities"
                ],
                "members": {
                    "LatestCommit": {
                        "type": "structure",
                        "members": {
                            "CommitId": {},
                            "Message": {},
                            "Date": {
                                "type": "timestamp"
                            },
                            "AuthorDisplayName": {},
                            "AuthorEmail": {},
                            "AuthorId": {}
                        }
                    },
                    "Capabilities": {
                        "shape": "S2j"
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXGUWJODIBJTTN7LZ64CAEP4WWWP2E4RYW6WE333IQDTVEODI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MAMLD6TJ4Y2KBVULBQBX2V2CAJYR4FMJEIDTGFQKZEKGVSYQHA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO6N4LNCGM3G4YBZJVGZWNCDGY5SV4F3GRHNKMVGALNJKUKCHL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZM24MJ7ES3RONVF6QF6YCVVJDGBAH7MFEQE3FFMLO6JGTXWFMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFPQB6MGL5BPRY7XULLG34OJ4RCM523GVNYE63EASHSCYZVIGHDQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PU62QIWG243ODSB5QHIX3NLQTTVK2AOUVGQCQAYLYHTEL5JXQ4Q/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HG6PIH2XTBCBE7T4LWM63VHBBW6SGPEFDTM2SC2XSKW5GWFHUHJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RG7SC4JSJM2MEWFOX655WINQELNNZ3UTUW3C2Y2ECDTNTLQIR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYH5AQD74DVXKDQKZE3V7UQ6N5QM5XHKTNTKQHX3D4LD6JBAQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NHQFNLOHLFOF2GJMFTL7HGIP2TBKUJSBXQTT7YGIASMJAAS75JQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON42LBQJQ66NT4R5MDEHEJY4TIFF4DM2LN5WOHJREIVAFEKPRSBQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSXHTXNRLVCNDER3653TSX5JEMQNAIHCYLNYUUPNN4XVH6SAC4IA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBRDO243DSUWBVZWUOKK5MYRLNHFVGZ7CTN76B5R4ALHG3FIYHDA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLXLC6QPXJDMY7RC2UJ6FPRNZRP2MKQRNV6AB4AHFSEQHKDCSLTQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMZ6FQ6NTOWK6PYKC4ZLWIKGZDHSQCFIKFIDUPLY7EEQLPILQKEA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZBZDXF6BMUL3E54UNX6IHBSTU2ZY2UEG2ZFEZTNBOJJQPD5C5HQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XETOG5DKAR3BUWFEEUMTJK5BUSVFBZJPBE4IYAUUDLVA55OD75BQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIJQAPRXVTNLBYWWMIXIOG6X3RL73G3Q6LSUX7DS2QOOQ3EQGQ3Q/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUTZSEJCITV4KQFACSFD32Y7E7ZKBW3HFSLA3AH7Q7UJDE7VNIWA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "GetCommitDiffs": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "AfterCommitSpecifier"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "BeforeCommitSpecifier": {},
                            "BeforeFilePath": {},
                            "AfterCommitSpecifier": {},
                            "AfterFilePath": {},
                            "NextToken": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CommitDiffs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "BeforeBlob": {
                                    "shape": "S2r"
                                },
                                "AfterBlob": {
                                    "shape": "S2r"
                                },
                                "ChangeType": {}
                            }
                        }
                    },
                    "NextToken": {},
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXGUWJODIBJTTN7LZ64CAEP4WWWP2E4RYW6WE333IQDTVEODI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MAMLD6TJ4Y2KBVULBQBX2V2CAJYR4FMJEIDTGFQKZEKGVSYQHA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO6N4LNCGM3G4YBZJVGZWNCDGY5SV4F3GRHNKMVGALNJKUKCHL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZM24MJ7ES3RONVF6QF6YCVVJDGBAH7MFEQE3FFMLO6JGTXWFMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFPQB6MGL5BPRY7XULLG34OJ4RCM523GVNYE63EASHSCYZVIGHDQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PU62QIWG243ODSB5QHIX3NLQTTVK2AOUVGQCQAYLYHTEL5JXQ4Q/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HG6PIH2XTBCBE7T4LWM63VHBBW6SGPEFDTM2SC2XSKW5GWFHUHJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RG7SC4JSJM2MEWFOX655WINQELNNZ3UTUW3C2Y2ECDTNTLQIR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYH5AQD74DVXKDQKZE3V7UQ6N5QM5XHKTNTKQHX3D4LD6JBAQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NHQFNLOHLFOF2GJMFTL7HGIP2TBKUJSBXQTT7YGIASMJAAS75JQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON42LBQJQ66NT4R5MDEHEJY4TIFF4DM2LN5WOHJREIVAFEKPRSBQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSXHTXNRLVCNDER3653TSX5JEMQNAIHCYLNYUUPNN4XVH6SAC4IA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBRDO243DSUWBVZWUOKK5MYRLNHFVGZ7CTN76B5R4ALHG3FIYHDA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLXLC6QPXJDMY7RC2UJ6FPRNZRP2MKQRNV6AB4AHFSEQHKDCSLTQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMZ6FQ6NTOWK6PYKC4ZLWIKGZDHSQCFIKFIDUPLY7EEQLPILQKEA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZBZDXF6BMUL3E54UNX6IHBSTU2ZY2UEG2ZFEZTNBOJJQPD5C5HQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XETOG5DKAR3BUWFEEUMTJK5BUSVFBZJPBE4IYAUUDLVA55OD75BQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIJQAPRXVTNLBYWWMIXIOG6X3RL73G3Q6LSUX7DS2QOOQ3EQGQ3Q/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUTZSEJCITV4KQFACSFD32Y7E7ZKBW3HFSLA3AH7Q7UJDE7VNIWA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "GetFile": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "FilePath"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "CommitSpecifier": {},
                            "FilePath": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BlobId": {},
                    "CommitId": {},
                    "FilePath": {},
                    "FileContent": {},
                    "FileSize": {
                        "type": "long"
                    },
                    "ConnectionMetadata": {
                        "shape": "S1c"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXGUWJODIBJTTN7LZ64CAEP4WWWP2E4RYW6WE333IQDTVEODI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MAMLD6TJ4Y2KBVULBQBX2V2CAJYR4FMJEIDTGFQKZEKGVSYQHA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO6N4LNCGM3G4YBZJVGZWNCDGY5SV4F3GRHNKMVGALNJKUKCHL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZM24MJ7ES3RONVF6QF6YCVVJDGBAH7MFEQE3FFMLO6JGTXWFMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFPQB6MGL5BPRY7XULLG34OJ4RCM523GVNYE63EASHSCYZVIGHDQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PU62QIWG243ODSB5QHIX3NLQTTVK2AOUVGQCQAYLYHTEL5JXQ4Q/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HG6PIH2XTBCBE7T4LWM63VHBBW6SGPEFDTM2SC2XSKW5GWFHUHJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRWOEKOSZT7DWQ4OZNUDXCH4GZCRGP3SBCWPZD4O3564Z3Q32R6A/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RG7SC4JSJM2MEWFOX655WINQELNNZ3UTUW3C2Y2ECDTNTLQIR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYH5AQD74DVXKDQKZE3V7UQ6N5QM5XHKTNTKQHX3D4LD6JBAQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NHQFNLOHLFOF2GJMFTL7HGIP2TBKUJSBXQTT7YGIASMJAAS75JQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON42LBQJQ66NT4R5MDEHEJY4TIFF4DM2LN5WOHJREIVAFEKPRSBQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSXHTXNRLVCNDER3653TSX5JEMQNAIHCYLNYUUPNN4XVH6SAC4IA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBRDO243DSUWBVZWUOKK5MYRLNHFVGZ7CTN76B5R4ALHG3FIYHDA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLXLC6QPXJDMY7RC2UJ6FPRNZRP2MKQRNV6AB4AHFSEQHKDCSLTQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMZ6FQ6NTOWK6PYKC4ZLWIKGZDHSQCFIKFIDUPLY7EEQLPILQKEA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAFXM3UWOVBOJ6ANV6SUHJEV4ZFAJLBRV56LWL3PJOMP3JMUYW5Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZBZDXF6BMUL3E54UNX6IHBSTU2ZY2UEG2ZFEZTNBOJJQPD5C5HQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XETOG5DKAR3BUWFEEUMTJK5BUSVFBZJPBE4IYAUUDLVA55OD75BQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIJQAPRXVTNLBYWWMIXIOG6X3RL73G3Q6LSUX7DS2QOOQ3EQGQ3Q/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUTZSEJCITV4KQFACSFD32Y7E7ZKBW3HFSLA3AH7Q7UJDE7VNIWA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js"
            ]
        },
        "GetFolder": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn",
                    "Parameters"
                ],
                "members": {
                    "ConnectionArn": {},
                    "Parameters": {
                        "type": "structure",
                        "required": [
                            "FullRepositoryId",
                            "FolderPath"
                        ],
                        "members": {
                            "FullRepositoryId": {},
                            "CommitSpecifier": {},
                            "FolderPath": {}
                        }
                    }
                }
[...]
