{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-07-18",
        "endpointPrefix": "codeguru-profiler",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon CodeGuru Profiler",
        "serviceId": "CodeGuruProfiler",
        "signatureVersion": "v4",
        "signingName": "codeguru-profiler",
        "uid": "codeguruprofiler-2019-07-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IL2FMURFB5LJDK7J5CZWEN7YH5OLY5Z52CEULIPRM2M3EHHXEO3Q/vendors.js"
        ]
    },
    "operations": {
        "AddNotificationChannels": {
            "http": {
                "requestUri": "/profilingGroups/{profilingGroupName}/notificationConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "channels",
                    "profilingGroupName"
                ],
                "members": {
                    "channels": {
                        "shape": "S2"
                    },
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "notificationConfiguration": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2FMURFB5LJDK7J5CZWEN7YH5OLY5Z52CEULIPRM2M3EHHXEO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "BatchGetFrameMetricData": {
            "http": {
                "requestUri": "/profilingGroups/{profilingGroupName}/frames/-/metrics",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "profilingGroupName"
                ],
                "members": {
                    "endTime": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "endTime"
                    },
                    "frameMetrics": {
                        "type": "list",
                        "member": {
                            "shape": "Se"
                        }
                    },
                    "period": {
                        "location": "querystring",
                        "locationName": "period"
                    },
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    },
                    "startTime": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "startTime"
                    },
                    "targetResolution": {
                        "location": "querystring",
                        "locationName": "targetResolution"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "endTime",
                    "endTimes",
                    "frameMetricData",
                    "resolution",
                    "startTime",
                    "unprocessedEndTimes"
                ],
                "members": {
                    "endTime": {
                        "shape": "Sc"
                    },
                    "endTimes": {
                        "shape": "Sl"
                    },
                    "frameMetricData": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "frameMetric",
                                "values"
                            ],
                            "members": {
                                "frameMetric": {
                                    "shape": "Se"
                                },
                                "values": {
                                    "type": "list",
                                    "member": {
                                        "type": "double"
                                    }
                                }
                            }
                        }
                    },
                    "resolution": {},
                    "startTime": {
                        "shape": "Sc"
                    },
                    "unprocessedEndTimes": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "Sl"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2FMURFB5LJDK7J5CZWEN7YH5OLY5Z52CEULIPRM2M3EHHXEO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ConfigureAgent": {
            "http": {
                "requestUri": "/profilingGroups/{profilingGroupName}/configureAgent",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "profilingGroupName"
                ],
                "members": {
                    "fleetInstanceId": {},
                    "metadata": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuration"
                ],
                "members": {
                    "configuration": {
                        "type": "structure",
                        "required": [
                            "periodInSeconds",
                            "shouldProfile"
                        ],
                        "members": {
                            "agentParameters": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "periodInSeconds": {
                                "type": "integer"
                            },
                            "shouldProfile": {
                                "type": "boolean"
                            }
                        }
                    }
                },
                "payload": "configuration"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2FMURFB5LJDK7J5CZWEN7YH5OLY5Z52CEULIPRM2M3EHHXEO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateProfilingGroup": {
            "http": {
                "requestUri": "/profilingGroups",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "profilingGroupName"
                ],
                "members": {
                    "agentOrchestrationConfig": {
                        "shape": "S13"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    },
                    "computePlatform": {},
                    "profilingGroupName": {},
                    "tags": {
                        "shape": "S16"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profilingGroup"
                ],
                "members": {
                    "profilingGroup": {
                        "shape": "S18"
                    }
                },
                "payload": "profilingGroup"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2FMURFB5LJDK7J5CZWEN7YH5OLY5Z52CEULIPRM2M3EHHXEO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteProfilingGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/profilingGroups/{profilingGroupName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "profilingGroupName"
                ],
                "members": {
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2FMURFB5LJDK7J5CZWEN7YH5OLY5Z52CEULIPRM2M3EHHXEO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeProfilingGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/profilingGroups/{profilingGroupName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "profilingGroupName"
                ],
                "members": {
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profilingGroup"
                ],
                "members": {
                    "profilingGroup": {
                        "shape": "S18"
                    }
                },
                "payload": "profilingGroup"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2FMURFB5LJDK7J5CZWEN7YH5OLY5Z52CEULIPRM2M3EHHXEO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetFindingsReportAccountSummary": {
            "http": {
                "method": "GET",
                "requestUri": "/internal/findingsReports",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "dailyReportsOnly": {
                        "location": "querystring",
                        "locationName": "dailyReportsOnly",
                        "type": "boolean"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "reportSummaries"
                ],
                "members": {
                    "nextToken": {},
                    "reportSummaries": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2FMURFB5LJDK7J5CZWEN7YH5OLY5Z52CEULIPRM2M3EHHXEO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetNotificationConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/profilingGroups/{profilingGroupName}/notificationConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "profilingGroupName"
                ],
                "members": {
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "notificationConfiguration"
                ],
                "members": {
                    "notificationConfiguration": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2FMURFB5LJDK7J5CZWEN7YH5OLY5Z52CEULIPRM2M3EHHXEO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/profilingGroups/{profilingGroupName}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "profilingGroupName"
                ],
                "members": {
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "policy",
                    "revisionId"
                ],
                "members": {
                    "policy": {},
                    "revisionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2FMURFB5LJDK7J5CZWEN7YH5OLY5Z52CEULIPRM2M3EHHXEO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/profilingGroups/{profilingGroupName}/profile",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "profilingGroupName"
                ],
                "members": {
                    "accept": {
                        "location": "header",
                        "locationName": "Accept"
                    },
                    "endTime": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "endTime"
                    },
                    "maxDepth": {
                        "location": "querystring",
                        "locationName": "maxDepth",
                        "type": "integer"
                    },
                    "period": {
                        "location": "querystring",
                        "locationName": "period"
                    },
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    },
                    "startTime": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "startTime"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "contentType",
                    "profile"
                ],
                "members": {
                    "contentEncoding": {
                        "location": "header",
                        "locationName": "Content-Encoding"
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "profile": {
                        "type": "blob"
                    }
                },
                "payload": "profile"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2FMURFB5LJDK7J5CZWEN7YH5OLY5Z52CEULIPRM2M3EHHXEO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetRecommendations": {
            "http": {
                "method": "GET",
                "requestUri": "/internal/profilingGroups/{profilingGroupName}/recommendations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "endTime",
                    "profilingGroupName",
                    "startTime"
                ],
                "members": {
                    "endTime": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "endTime"
                    },
                    "locale": {
                        "location": "querystring",
                        "locationName": "locale"
                    },
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    },
                    "startTime": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "startTime"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "anomalies",
                    "profileEndTime",
                    "profileStartTime",
                    "profilingGroupName",
                    "recommendations"
                ],
                "members": {
                    "anomalies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "instances",
                                "metric",
                                "reason"
                            ],
                            "members": {
                                "instances": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "id",
                                            "startTime"
                                        ],
                                        "members": {
                                            "endTime": {
                                                "shape": "Sc"
                                            },
                                            "id": {},
                                            "startTime": {
                                                "shape": "Sc"
                                            },
                                            "userFeedback": {
                                                "type": "structure",
                                                "required": [
                                                    "type"
                                                ],
                                                "members": {
                                                    "type": {}
                                                }
                                            }
                                        }
                                    }
                                },
                                "metric": {
                                    "type": "structure",
                                    "required": [
                                        "frameName",
                                        "threadStates",
                                        "type"
                                    ],
                                    "members": {
                                        "frameName": {},
                                        "threadStates": {
                                            "shape": "S26"
                                        },
                                        "type": {}
                                    }
                                },
                                "reason": {}
                            }
                        }
                    },
                    "profileEndTime": {
                        "shape": "Sc"
                    },
                    "profileStartTime": {
                        "shape": "Sc"
                    },
                    "profilingGroupName": {},
                    "recommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "allMatchesCount",
                                "allMatchesSum",
                                "endTime",
                                "pattern",
                                "startTime",
                                "topMatches"
                            ],
                            "members": {
                                "allMatchesCount": {
                                    "type": "integer"
                                },
                                "allMatchesSum": {
                                    "type": "double"
                                },
                                "endTime": {
                                    "shape": "Sc"
                                },
                                "pattern": {
                                    "type": "structure",
                                    "members": {
                                        "countersToAggregate": {
                                            "shape": "S26"
                                        },
                                        "description": {},
                                        "id": {},
                                        "name": {},
                                        "resolutionSteps": {},
                                        "targetFrames": {
                                            "type": "list",
                                            "member": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        },
                                        "thresholdPercent": {
                                            "type": "double"
                                        }
                                    }
                                },
                                "startTime": {
                                    "shape": "Sc"
                                },
                                "topMatches": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "frameAddress": {},
                                            "targetFramesIndex": {
                                                "type": "integer"
                                            },
                                            "thresholdBreachValue": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2FMURFB5LJDK7J5CZWEN7YH5OLY5Z52CEULIPRM2M3EHHXEO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ListFindingsReports": {
            "http": {
                "method": "GET",
                "requestUri": "/internal/profilingGroups/{profilingGroupName}/findingsReports",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "endTime",
                    "profilingGroupName",
                    "startTime"
                ],
                "members": {
                    "dailyReportsOnly": {
                        "location": "querystring",
                        "locationName": "dailyReportsOnly",
                        "type": "boolean"
                    },
                    "endTime": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "endTime"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    },
                    "startTime": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "startTime"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "findingsReportSummaries"
                ],
                "members": {
                    "findingsReportSummaries": {
                        "shape": "S1k"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2FMURFB5LJDK7J5CZWEN7YH5OLY5Z52CEULIPRM2M3EHHXEO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ListProfileTimes": {
            "http": {
                "method": "GET",
                "requestUri": "/profilingGroups/{profilingGroupName}/profileTimes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "endTime",
                    "period",
                    "profilingGroupName",
                    "startTime"
                ],
                "members": {
                    "endTime": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "endTime"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "orderBy": {
                        "location": "querystring",
                        "locationName": "orderBy"
                    },
                    "period": {
                        "location": "querystring",
                        "locationName": "period"
                    },
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    },
                    "startTime": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "startTime"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profileTimes"
                ],
                "members": {
                    "nextToken": {},
                    "profileTimes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "start": {
                                    "shape": "Sc"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2FMURFB5LJDK7J5CZWEN7YH5OLY5Z52CEULIPRM2M3EHHXEO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ListProfilingGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/profilingGroups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "includeDescription": {
                        "location": "querystring",
                        "locationName": "includeDescription",
                        "type": "boolean"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profilingGroupNames"
                ],
                "members": {
                    "nextToken": {},
                    "profilingGroupNames": {
                        "type": "list",
                        "member": {}
                    },
                    "profilingGroups": {
                        "type": "list",
                        "member": {
                            "shape": "S18"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2FMURFB5LJDK7J5CZWEN7YH5OLY5Z52CEULIPRM2M3EHHXEO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2FMURFB5LJDK7J5CZWEN7YH5OLY5Z52CEULIPRM2M3EHHXEO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "PostAgentProfile": {
            "http": {
                "requestUri": "/profilingGroups/{profilingGroupName}/agentProfile",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentProfile",
                    "contentType",
                    "profilingGroupName"
                ],
                "members": {
                    "agentProfile": {
                        "type": "blob"
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "profileToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "profileToken"
                    },
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    }
                },
                "payload": "agentProfile"
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2FMURFB5LJDK7J5CZWEN7YH5OLY5Z52CEULIPRM2M3EHHXEO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "PutPermission": {
            "http": {
                "method": "PUT",
                "requestUri": "/profilingGroups/{profilingGroupName}/policy/{actionGroup}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "actionGroup",
                    "principals",
                    "profilingGroupName"
                ],
                "members": {
                    "actionGroup": {
                        "location": "uri",
                        "locationName": "actionGroup"
                    },
                    "principals": {
                        "type": "list",
                        "member": {}
                    },
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    },
                    "revisionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "policy",
                    "revisionId"
                ],
                "members": {
                    "policy": {},
                    "revisionId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2FMURFB5LJDK7J5CZWEN7YH5OLY5Z52CEULIPRM2M3EHHXEO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "RemoveNotificationChannel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/profilingGroups/{profilingGroupName}/notificationConfiguration/{channelId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "channelId",
                    "profilingGroupName"
                ],
                "members": {
                    "channelId": {
                        "location": "uri",
                        "locationName": "channelId"
                    },
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "notificationConfiguration": {
                        "shape": "Sa"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2FMURFB5LJDK7J5CZWEN7YH5OLY5Z52CEULIPRM2M3EHHXEO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "RemovePermission": {
            "http": {
                "method": "DELETE",
                "requestUri": "/profilingGroups/{profilingGroupName}/policy/{actionGroup}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "actionGroup",
                    "profilingGroupName",
                    "revisionId"
                ],
                "members": {
                    "actionGroup": {
                        "location": "uri",
                        "locationName": "actionGroup"
                    },
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    },
                    "revisionId": {
                        "location": "querystring",
                        "locationName": "revisionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "policy",
                    "revisionId"
                ],
                "members": {
                    "policy": {},
                    "revisionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2FMURFB5LJDK7J5CZWEN7YH5OLY5Z52CEULIPRM2M3EHHXEO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "SubmitFeedback": {
            "http": {
                "requestUri": "/internal/profilingGroups/{profilingGroupName}/anomalies/{anomalyInstanceId}/feedback",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "anomalyInstanceId",
                    "profilingGroupName",
                    "type"
                ],
                "members": {
                    "anomalyInstanceId": {
                        "location": "uri",
                        "locationName": "anomalyInstanceId"
                    },
                    "comment": {},
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    },
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2FMURFB5LJDK7J5CZWEN7YH5OLY5Z52CEULIPRM2M3EHHXEO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
[...]
