{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-08-08",
        "endpointPrefix": "codedeploy",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "CodeDeployGitHub",
        "serviceFullName": "AWS CodeDeploy GitHub Service",
        "serviceId": "CodeDeploy",
        "signatureVersion": "v4",
        "targetPrefix": "CodeDeployGitHub_20141006",
        "uid": "codedeploygithub-2018-08-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/QNOQFHITIUIWPBLBRBPQWFJY7AJ55ZRJV4ED45CAVQ6YJILVASSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C5E7SYA7LLFHNVTGBHLH66PNCN6OALQXWJS6SQJLKUECCIPP36VA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIEVG5HKFCBR6LPJLW726RHNUHEM2FUTSGWIDOGDSILBNMT7SACA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLZBZYUDCEV2YCFLGYUAAKTPINTIJZT6QKKKK4VZNI5PRPWPCTGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OKIISALDIKH6PMM5KAYQG24PUA46Y5YAXSQL6IL2GUE4GOYO3XHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AOQVEIVEVGFVMQ5UIZ5TBKDDZTDBATK6YZV5VF2JTGYXHIZLFUZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IDYHAKNE7BIY6PVM4HYA4J7XHWP4LCSCYFFUZ35CPX7KKFOOQSEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YKHEQMHLQYKXO2IPUPSJEL5KVVK6RNOYRKOXWMBIQY53EEDMSPUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ILYDZW254V4UWDO6YPN4MWENLEDVM3V7EJALJ3OHO6LCES6UZBXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4A4OMVW7XJOOUCUE4K7HQ63XX2EFP43QKFAZG7QVFXYFWJH4MY3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFQ7WXRBV65Z4XNI6WRTYFWLPQ3T2TUGWG52V2VSWSAOQ35DQHBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M7WXMHEABIHRQM4JLD3TPPSN6MYO4V35ENW4B5HYWU63YAUMC2VQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D6RIFOZ4TDQWMJIHVKD2MOL33L6SXETOCJ5Q2LFBOQLZQO3HUCWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLGVCFSZTA2UT7CORS35RK5ZKFO44AAHXI4UBPKKOOSHSPIKKB6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X6HKHTO4KNE4ITY4Z2HWE5ZNYI536LHGMCBFOAYFN3M5663L3N4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HPCH5DHAGQTCZNAT2264LWHNBYIMQXZMGRSQWQTZGAH365TE6ULA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
        ]
    },
    "operations": {
        "BindGitHubAccountTokenToApplication": {
            "input": {
                "type": "structure",
                "members": {
                    "applicationName": {},
                    "tokenName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tokenName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5E7SYA7LLFHNVTGBHLH66PNCN6OALQXWJS6SQJLKUECCIPP36VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEVG5HKFCBR6LPJLW726RHNUHEM2FUTSGWIDOGDSILBNMT7SACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLZBZYUDCEV2YCFLGYUAAKTPINTIJZT6QKKKK4VZNI5PRPWPCTGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIISALDIKH6PMM5KAYQG24PUA46Y5YAXSQL6IL2GUE4GOYO3XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOQVEIVEVGFVMQ5UIZ5TBKDDZTDBATK6YZV5VF2JTGYXHIZLFUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDYHAKNE7BIY6PVM4HYA4J7XHWP4LCSCYFFUZ35CPX7KKFOOQSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHEQMHLQYKXO2IPUPSJEL5KVVK6RNOYRKOXWMBIQY53EEDMSPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILYDZW254V4UWDO6YPN4MWENLEDVM3V7EJALJ3OHO6LCES6UZBXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4A4OMVW7XJOOUCUE4K7HQ63XX2EFP43QKFAZG7QVFXYFWJH4MY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFQ7WXRBV65Z4XNI6WRTYFWLPQ3T2TUGWG52V2VSWSAOQ35DQHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7WXMHEABIHRQM4JLD3TPPSN6MYO4V35ENW4B5HYWU63YAUMC2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6RIFOZ4TDQWMJIHVKD2MOL33L6SXETOCJ5Q2LFBOQLZQO3HUCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLGVCFSZTA2UT7CORS35RK5ZKFO44AAHXI4UBPKKOOSHSPIKKB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6HKHTO4KNE4ITY4Z2HWE5ZNYI536LHGMCBFOAYFN3M5663L3N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPCH5DHAGQTCZNAT2264LWHNBYIMQXZMGRSQWQTZGAH365TE6ULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "RegisterGitHubAccountToken": {
            "input": {
                "type": "structure",
                "members": {
                    "tokenName": {},
                    "authToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tokenName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5E7SYA7LLFHNVTGBHLH66PNCN6OALQXWJS6SQJLKUECCIPP36VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEVG5HKFCBR6LPJLW726RHNUHEM2FUTSGWIDOGDSILBNMT7SACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLZBZYUDCEV2YCFLGYUAAKTPINTIJZT6QKKKK4VZNI5PRPWPCTGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIISALDIKH6PMM5KAYQG24PUA46Y5YAXSQL6IL2GUE4GOYO3XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOQVEIVEVGFVMQ5UIZ5TBKDDZTDBATK6YZV5VF2JTGYXHIZLFUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDYHAKNE7BIY6PVM4HYA4J7XHWP4LCSCYFFUZ35CPX7KKFOOQSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHEQMHLQYKXO2IPUPSJEL5KVVK6RNOYRKOXWMBIQY53EEDMSPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILYDZW254V4UWDO6YPN4MWENLEDVM3V7EJALJ3OHO6LCES6UZBXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4A4OMVW7XJOOUCUE4K7HQ63XX2EFP43QKFAZG7QVFXYFWJH4MY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFQ7WXRBV65Z4XNI6WRTYFWLPQ3T2TUGWG52V2VSWSAOQ35DQHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7WXMHEABIHRQM4JLD3TPPSN6MYO4V35ENW4B5HYWU63YAUMC2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6RIFOZ4TDQWMJIHVKD2MOL33L6SXETOCJ5Q2LFBOQLZQO3HUCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLGVCFSZTA2UT7CORS35RK5ZKFO44AAHXI4UBPKKOOSHSPIKKB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6HKHTO4KNE4ITY4Z2HWE5ZNYI536LHGMCBFOAYFN3M5663L3N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPCH5DHAGQTCZNAT2264LWHNBYIMQXZMGRSQWQTZGAH365TE6ULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "RegisterGitHubToken": {
            "input": {
                "type": "structure",
                "members": {
                    "applicationName": {},
                    "token": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBX7AWGCDI736VYEJKNOCR2QHX3XEM7QJLZMLHZTRAJZYGFQZQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNVQ2YQTO5HOYFX57KAHQC6VWUVMYK5B5G65FUQVOVSDFORQPABA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3KJQJVKSKMMSHFJSY2E3THVHHWAQCT2QBOQZI2L5MD67FHCI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5E7SYA7LLFHNVTGBHLH66PNCN6OALQXWJS6SQJLKUECCIPP36VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEVG5HKFCBR6LPJLW726RHNUHEM2FUTSGWIDOGDSILBNMT7SACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLZBZYUDCEV2YCFLGYUAAKTPINTIJZT6QKKKK4VZNI5PRPWPCTGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIISALDIKH6PMM5KAYQG24PUA46Y5YAXSQL6IL2GUE4GOYO3XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOQVEIVEVGFVMQ5UIZ5TBKDDZTDBATK6YZV5VF2JTGYXHIZLFUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDYHAKNE7BIY6PVM4HYA4J7XHWP4LCSCYFFUZ35CPX7KKFOOQSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHEQMHLQYKXO2IPUPSJEL5KVVK6RNOYRKOXWMBIQY53EEDMSPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILYDZW254V4UWDO6YPN4MWENLEDVM3V7EJALJ3OHO6LCES6UZBXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4A4OMVW7XJOOUCUE4K7HQ63XX2EFP43QKFAZG7QVFXYFWJH4MY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFQ7WXRBV65Z4XNI6WRTYFWLPQ3T2TUGWG52V2VSWSAOQ35DQHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7WXMHEABIHRQM4JLD3TPPSN6MYO4V35ENW4B5HYWU63YAUMC2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6RIFOZ4TDQWMJIHVKD2MOL33L6SXETOCJ5Q2LFBOQLZQO3HUCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLGVCFSZTA2UT7CORS35RK5ZKFO44AAHXI4UBPKKOOSHSPIKKB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6HKHTO4KNE4ITY4Z2HWE5ZNYI536LHGMCBFOAYFN3M5663L3N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPCH5DHAGQTCZNAT2264LWHNBYIMQXZMGRSQWQTZGAH365TE6ULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYOEJMMNPZR4PTLDMKZXATP4VFSMAB54DV43BKI67WMEAFOSRLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXFGWQNELRLQOVQDXUJD4G2OAPQVEBORYZK3QPQ3KCDG23DRW6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHU54IZ3HRDCCCZT5PM5FP3RKQ7ZLRZT3TAUB2R344XTMK2KU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        }
    },
    "shapes": {}
}