{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-06-15",
        "endpointPrefix": "codewhisperer",
        "jsonVersion": "1.0",
        "protocol": "json",
        "region": "us-east-1",
        "serviceAbbreviation": "CodeWhisperer",
        "serviceFullName": "AWS CodeWhisperer",
        "serviceId": "CodeWhisperer",
        "signatureVersion": "v4",
        "signingName": "codewhisperer",
        "targetPrefix": "AWSCodeWhispererService",
        "uid": "codewhisperer-2022-06-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
        ]
    },
    "operations": {
        "CreateCodeScan": {
            "input": {
                "type": "structure",
                "required": [
                    "artifacts",
                    "programmingLanguage"
                ],
                "members": {
                    "artifacts": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "programmingLanguage": {
                        "shape": "S5"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "errorMessage": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js"
            ]
        },
        "CreateUploadUrl": {
            "input": {
                "type": "structure",
                "required": [
                    "contentMd5",
                    "artifactType"
                ],
                "members": {
                    "contentMd5": {},
                    "artifactType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "uploadId",
                    "uploadUrl"
                ],
                "members": {
                    "uploadId": {},
                    "uploadUrl": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js"
            ]
        },
        "GenerateRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "fileContext"
                ],
                "members": {
                    "fileContext": {
                        "shape": "Sh"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "referenceTrackerConfiguration": {
                        "shape": "Sm"
                    },
                    "supplementalContexts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "filePath",
                                "content"
                            ],
                            "members": {
                                "filePath": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "content": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendations": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "GetAccessToken": {
            "input": {
                "type": "structure",
                "required": [
                    "identityToken"
                ],
                "members": {
                    "identityToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accessToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js"
            ]
        },
        "GetCodeScan": {
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {},
                    "errorMessage": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js"
            ]
        },
        "ListCodeScanFindings": {
            "input": {
                "type": "structure",
                "required": [
                    "jobId",
                    "codeScanFindingsSchema"
                ],
                "members": {
                    "jobId": {},
                    "nextToken": {},
                    "codeScanFindingsSchema": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "codeScanFindings"
                ],
                "members": {
                    "nextToken": {},
                    "codeScanFindings": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js"
            ]
        },
        "ListRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "fileContext"
                ],
                "members": {
                    "fileContext": {
                        "shape": "Sh"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendations": {
                        "shape": "Sn"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js"
            ]
        },
        "CreateProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "identitySource",
                    "profileName",
                    "referenceTrackerConfiguration"
                ],
                "members": {
                    "identitySource": {
                        "type": "structure",
                        "members": {
                            "ssoIdentitySource": {
                                "type": "structure",
                                "required": [
                                    "instanceArn"
                                ],
                                "members": {
                                    "instanceArn": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "profileName": {},
                    "referenceTrackerConfiguration": {
                        "shape": "S6"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "kmsKeyArn": {},
                    "tags": {
                        "shape": "S9"
                    },
                    "activeFunctionalities": {
                        "shape": "Sw"
                    },
                    "resourcePolicy": {
                        "shape": "Sy"
                    },
                    "optInFeatures": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profileArn"
                ],
                "members": {
                    "profileArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "DeleteProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "profileArn"
                ],
                "members": {
                    "profileArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "ListProfiles": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profiles"
                ],
                "members": {
                    "profiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "identityDetails",
                                "profileName",
                                "referenceTrackerConfiguration"
                            ],
                            "members": {
                                "arn": {},
                                "identityDetails": {
                                    "type": "structure",
                                    "members": {
                                        "ssoIdentityDetails": {
                                            "type": "structure",
                                            "required": [
                                                "instanceArn",
                                                "oidcClientId"
                                            ],
                                            "members": {
                                                "instanceArn": {},
                                                "oidcClientId": {}
                                            }
                                        }
                                    },
                                    "union": true
                                },
                                "profileName": {},
                                "referenceTrackerConfiguration": {
                                    "shape": "S6"
                                },
                                "kmsKeyArn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {},
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {},
                    "tagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "UpdateProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "profileArn"
                ],
                "members": {
                    "profileArn": {},
                    "profileName": {},
                    "referenceTrackerConfiguration": {
                        "shape": "S6"
                    },
                    "kmsKeyArn": {},
                    "activeFunctionalities": {
                        "shape": "Sw"
                    },
                    "resourcePolicy": {
                        "shape": "Sy"
                    },
                    "targetProfileType": {},
                    "optInFeatures": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profileArn"
                ],
                "members": {
                    "profileArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "ActivateCustomization": {
            "input": {
                "type": "structure",
                "required": [
                    "customizationArn"
                ],
                "members": {
                    "customizationArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRAZGBDDU47IIJJOZRAN4XGDQ6PX5BPDFRBMVJUQ4FKPBI6COPNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js"
            ]
        },
        "CreateCustomization": {
            "input": {
                "type": "structure",
                "required": [
                    "dataReference",
                    "customizationConfiguration"
                ],
                "members": {
                    "dataReference": {
                        "shape": "S6"
                    },
                    "customizationConfiguration": {
                        "shape": "Sa"
                    },
                    "tags": {
                        "shape": "Sd"
                    },
                    "clientToken": {},
                    "customizationName": {},
                    "description": {},
                    "profileArn": {},
                    "includeRepos": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "customizationArn"
                ],
                "members": {
                    "customizationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "DeactivateCustomization": {
            "input": {
                "type": "structure",
                "required": [
                    "customizationArn"
                ],
                "members": {
                    "customizationArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRAZGBDDU47IIJJOZRAN4XGDQ6PX5BPDFRBMVJUQ4FKPBI6COPNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js"
            ]
        },
        "GetCustomization": {
            "input": {
                "type": "structure",
                "required": [
                    "customizationArn"
                ],
                "members": {
                    "customizationArn": {},
                    "identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "customization"
                ],
                "members": {
                    "customization": {
                        "shape": "S1o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "ListCustomizations": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "customizations"
                ],
                "members": {
                    "customizations": {
                        "type": "list",
                        "member": {
                            "shape": "S1o"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "AssociateCustomizationPermission": {
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "permission"
                ],
                "members": {
                    "identifier": {},
                    "permission": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "DisassociateCustomizationPermission": {
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "permission"
                ],
                "members": {
                    "identifier": {},
                    "permission": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "ListCustomizationPermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "permissions"
                ],
                "members": {
                    "permissions": {
                        "type": "list",
                        "member": {
                            "shape": "S3"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "UpdateCustomization": {
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "operation"
                ],
                "members": {
                    "identifier": {},
                    "operation": {},
                    "clientToken": {},
                    "dataReference": {
                        "shape": "S7"
                    },
                    "version": {
                        "type": "long"
                    },
                    "includeRepos": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "DeleteCustomization": {
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "AllowVendedLogDeliveryForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArnBeingAuthorized",
                    "deliverySourceArn"
                ],
                "members": {
                    "resourceArnBeingAuthorized": {},
                    "deliverySourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "ListCustomizationVersions": {
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "versions"
                ],
                "members": {
                    "versions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "version",
                                "status",
                                "dataReference",
                                "updatedAt"
                            ],
                            "members": {
                                "version": {
                                    "type": "long"
                                },
                                "status": {},
                                "dataReference": {
                                    "shape": "Sb"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                },
                                "evaluationMetrics": {
                                    "shape": "S1y"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "AssociateConnectorResource": {
            "input": {
                "type": "structure",
                "required": [
                    "connectorId",
                    "resource"
                ],
                "members": {
                    "connectorId": {},
                    "resource": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "connectorId",
                    "connectorName",
                    "connectorType",
                    "accountConnection"
                ],
                "members": {
                    "connectorId": {},
                    "connectorName": {},
                    "connectorType": {},
                    "accountConnection": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "GetConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "connectorId"
                ],
                "members": {
                    "connectorId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "connectorId",
                    "workspaceId",
                    "workspaceName",
                    "connectorName",
                    "userId",
                    "sourceAccount",
                    "description",
                    "connectorType",
                    "accountConnection",
                    "connectorConfiguration"
                ],
                "members": {
                    "connectorId": {},
                    "workspaceId": {},
                    "workspaceName": {},
                    "connectorName": {},
                    "userId": {},
                    "sourceAccount": {},
                    "description": {},
                    "connectorType": {},
                    "accountConnection": {
                        "shape": "Sb"
                    },
                    "connectorConfiguration": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "RejectConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "connectorId"
                ],
                "members": {
                    "connectorId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "connectorId",
                    "connectorName",
                    "connectorType",
                    "accountConnection"
                ],
                "members": {
                    "connectorId": {},
                    "connectorName": {},
                    "connectorType": {},
                    "accountConnection": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "ListDashboardMetrics": {
            "input": {
                "type": "structure",
                "members": {
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "metrics"
                ],
                "members": {
                    "metrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "dimensions"
                            ],
                            "members": {
                                "dimensions": {
                                    "type": "structure",
                                    "required": [
                                        "programmingLanguage",
                                        "ideCategory",
                                        "customizationArn"
                                    ],
                                    "members": {
                                        "programmingLanguage": {
                                            "shape": "S1u"
                                        },
                                        "ideCategory": {},
                                        "customizationArn": {}
                                    }
                                },
                                "chatMetrics": {
                                    "type": "structure",
                                    "required": [
                                        "messagesSent"
                                    ],
                                    "members": {
                                        "messagesSent": {
                                            "type": "long"
                                        },
                                        "messagesInteracted": {
                                            "type": "long"
                                        },
                                        "aiCodeLines": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "InlineMetrics": {
                                    "type": "structure",
                                    "required": [
                                        "suggestionsCount"
                                    ],
                                    "members": {
                                        "suggestionsCount": {
                                            "type": "long"
                                        },
                                        "acceptanceCount": {
                                            "type": "long"
                                        },
                                        "aiCodeLines": {
                                            "type": "long"
                                        }
                                    }
                                }
                            }
[...]
