{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-09-19",
        "endpointPrefix": "codeguru-reviewer",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "CodeGuruReviewer",
        "serviceFullName": "Amazon CodeGuru Reviewer",
        "serviceId": "CodeGuru Reviewer",
        "signatureVersion": "v4",
        "signingName": "codeguru-reviewer",
        "uid": "codeguru-reviewer-2019-09-19",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
        ]
    },
    "operations": {
        "AssociateRepository": {
            "http": {
                "requestUri": "/associations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Repository"
                ],
                "members": {
                    "Repository": {
                        "type": "structure",
                        "members": {
                            "CodeCommit": {
                                "type": "structure",
                                "required": [
                                    "Name"
                                ],
                                "members": {
                                    "Name": {}
                                }
                            },
                            "Bitbucket": {
                                "shape": "S5"
                            },
                            "GitHubEnterpriseServer": {
                                "shape": "S5"
                            },
                            "S3Bucket": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "BucketName"
                                ],
                                "members": {
                                    "Name": {},
                                    "BucketName": {}
                                }
                            }
                        }
                    },
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "Sb"
                    },
                    "KMSKeyDetails": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RepositoryAssociation": {
                        "shape": "Si"
                    },
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "CreateCodeReview": {
            "http": {
                "requestUri": "/codereviews"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RepositoryAssociationArn",
                    "Type"
                ],
                "members": {
                    "Name": {},
                    "RepositoryAssociationArn": {},
                    "Type": {
                        "type": "structure",
                        "required": [
                            "RepositoryAnalysis"
                        ],
                        "members": {
                            "RepositoryAnalysis": {
                                "type": "structure",
                                "members": {
                                    "RepositoryHead": {
                                        "shape": "Sy"
                                    },
                                    "SourceCodeType": {
                                        "shape": "S10"
                                    }
                                }
                            },
                            "AnalysisTypes": {
                                "shape": "S1c"
                            }
                        }
                    },
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CodeReview": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "DescribeCodeReview": {
            "http": {
                "method": "GET",
                "requestUri": "/codereviews/{CodeReviewArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CodeReviewArn"
                ],
                "members": {
                    "CodeReviewArn": {
                        "location": "uri",
                        "locationName": "CodeReviewArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CodeReview": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "DescribeRecommendationFeedback": {
            "http": {
                "method": "GET",
                "requestUri": "/feedback/{CodeReviewArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CodeReviewArn",
                    "RecommendationId"
                ],
                "members": {
                    "CodeReviewArn": {
                        "location": "uri",
                        "locationName": "CodeReviewArn"
                    },
                    "RecommendationId": {
                        "location": "querystring",
                        "locationName": "RecommendationId"
                    },
                    "UserId": {
                        "location": "querystring",
                        "locationName": "UserId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RecommendationFeedback": {
                        "type": "structure",
                        "members": {
                            "CodeReviewArn": {},
                            "RecommendationId": {},
                            "Reactions": {
                                "shape": "S1u"
                            },
                            "UserId": {},
                            "CreatedTimeStamp": {
                                "type": "timestamp"
                            },
                            "LastUpdatedTimeStamp": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "DescribeRepositoryAssociation": {
            "http": {
                "method": "GET",
                "requestUri": "/associations/{AssociationArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AssociationArn"
                ],
                "members": {
                    "AssociationArn": {
                        "location": "uri",
                        "locationName": "AssociationArn"
                    },
                    "ShowDeletedRepository": {
                        "location": "querystring",
                        "locationName": "showDeletedRepository",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RepositoryAssociation": {
                        "shape": "Si"
                    },
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "DisassociateRepository": {
            "http": {
                "method": "DELETE",
                "requestUri": "/associations/{AssociationArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AssociationArn"
                ],
                "members": {
                    "AssociationArn": {
                        "location": "uri",
                        "locationName": "AssociationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RepositoryAssociation": {
                        "shape": "Si"
                    },
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "ListCodeReviews": {
            "http": {
                "method": "GET",
                "requestUri": "/codereviews"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Type"
                ],
                "members": {
                    "ProviderTypes": {
                        "shape": "S21",
                        "location": "querystring",
                        "locationName": "ProviderTypes"
                    },
                    "States": {
                        "location": "querystring",
                        "locationName": "States",
                        "type": "list",
                        "member": {}
                    },
                    "RepositoryNames": {
                        "location": "querystring",
                        "locationName": "RepositoryNames",
                        "type": "list",
                        "member": {}
                    },
                    "Type": {
                        "location": "querystring",
                        "locationName": "Type"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CodeReviewSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "CodeReviewArn": {},
                                "RepositoryName": {},
                                "Owner": {},
                                "ProviderType": {},
                                "State": {},
                                "CreatedTimeStamp": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedTimeStamp": {
                                    "type": "timestamp"
                                },
                                "Type": {},
                                "PullRequestId": {},
                                "MetricsSummary": {
                                    "type": "structure",
                                    "members": {
                                        "MeteredLinesOfCodeCount": {
                                            "type": "long"
                                        },
                                        "SuppressedLinesOfCodeCount": {
                                            "type": "long"
                                        },
                                        "FindingsCount": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "SourceCodeType": {
                                    "shape": "S10"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "ListRecommendationFeedback": {
            "http": {
                "method": "GET",
                "requestUri": "/feedback/{CodeReviewArn}/RecommendationFeedback"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CodeReviewArn"
                ],
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "CodeReviewArn": {
                        "location": "uri",
                        "locationName": "CodeReviewArn"
                    },
                    "UserIds": {
                        "location": "querystring",
                        "locationName": "UserIds",
                        "type": "list",
                        "member": {}
                    },
                    "RecommendationIds": {
                        "location": "querystring",
                        "locationName": "RecommendationIds",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RecommendationFeedbackSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RecommendationId": {},
                                "Reactions": {
                                    "shape": "S1u"
                                },
                                "UserId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "ListRecommendations": {
            "http": {
                "method": "GET",
                "requestUri": "/codereviews/{CodeReviewArn}/Recommendations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CodeReviewArn"
                ],
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "CodeReviewArn": {
                        "location": "uri",
                        "locationName": "CodeReviewArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RecommendationSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "FilePath": {},
                                "RecommendationId": {},
                                "StartLine": {
                                    "type": "integer"
                                },
                                "EndLine": {
                                    "type": "integer"
                                },
                                "Description": {},
                                "RecommendationCategory": {},
                                "RuleMetadata": {
                                    "type": "structure",
                                    "members": {
                                        "RuleId": {},
                                        "RuleName": {},
                                        "ShortDescription": {},
                                        "LongDescription": {},
                                        "RuleTags": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                },
                                "Severity": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "ListRepositoryAssociations": {
            "http": {
                "method": "GET",
                "requestUri": "/associations"
            },
            "input": {
                "type": "structure",
                "members": {
                    "ProviderTypes": {
                        "shape": "S21",
                        "location": "querystring",
                        "locationName": "ProviderType"
                    },
                    "States": {
                        "location": "querystring",
                        "locationName": "State",
                        "type": "list",
                        "member": {}
                    },
                    "Names": {
                        "location": "querystring",
                        "locationName": "Name",
                        "type": "list",
                        "member": {}
                    },
                    "Owners": {
                        "location": "querystring",
                        "locationName": "Owner",
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RepositoryAssociationSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AssociationArn": {},
                                "ConnectionArn": {},
                                "LastUpdatedTimeStamp": {
                                    "type": "timestamp"
                                },
                                "AssociationId": {},
                                "Name": {},
                                "Owner": {},
                                "ProviderType": {},
                                "State": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "PutRecommendationFeedback": {
            "http": {
                "method": "PUT",
                "requestUri": "/feedback"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CodeReviewArn",
                    "RecommendationId",
                    "Reactions"
                ],
                "members": {
                    "CodeReviewArn": {},
                    "RecommendationId": {},
                    "Reactions": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "Tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "TagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE4P2HI627EU6AVBYQLMTVV3S4TK6XRE3WN4KEGFCQMEFGEOKJXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D545MMXMBCE3D3KM4OQD2IDAOFTOGRBC3DYAQZP3L7JIH4XBHAIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCD5ORQX6QYK45RK55JSI5OIER3ZQTAKRNW6SYTA2Q7UN36ZUKZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFJHKYYYOQSW6LU474VTJQ6VMJ4FZ6I2MBQNVLSFDCKPUA4TUIRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FSESURSL6FR4WE6ODDPHUNCWMY7SYFB3VNNEP34BMSVZQAI2SIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QQTIYP55ALFOEL5YBK2VFQOZ7L65O5O3KQ3UL6RTBMYADAGIPEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWQ6UH2VOIFPPGQUCP5JS7JDYMDFLAUVVRQ5X2LPSLNYLOMSTPTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAMSAQQ27LWD7NPKSAJETYNVQVUNOJF46YVQELZ5I7KL6MK4NWHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js"
            ]
        },
        "CreateConnectionToken": {
            "http": {
                "requestUri": "/token"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProviderType"
                ],
                "members": {
                    "AuthToken": {
                        "type": "structure",
                        "required": [
                            "User",
                            "Token",
                            "Scopes",
                            "CreationTime"
                        ],
                        "members": {
                            "User": {},
                            "Token": {
                                "type": "string",
                                "sensitive": true
                            },
                            "Scopes": {
                                "type": "list",
                                "member": {}
                            },
                            "CreationTime": {
                                "type": "timestamp"
                            }
                        }
                    },
                    "AuthCode": {},
                    "State": {},
                    "ProviderType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ConnectionToken"
                ],
                "members": {
                    "ConnectionToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJT3HAQUUUSJBSQ4GLGSZOTPYYCQD2MMLGR6KCOVQTNCJQEPHKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24VEQ4MU25YWX5ETERE2Z7XSP2OQ4GWFQNURLQ5O5I6SC7UPYDFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7LEXSJQZCAGQKLKJCTVVHODCHWOAAGE6ICSKJK2TZVNSQL6KU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X5BGEUJGTBYHF67Q4FZFMGTGQHIY335N6VVPHKB44YG53P4DUUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5MLTJKRZKA7TEKAFYRYIX55SBLO5KC7TJ4BIH26LM3XMKK2UI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2FMURFB5LJDK7J5CZWEN7YH5OLY5Z52CEULIPRM2M3EHHXEO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js"
            ]
        },
        "GetMetricsData": {
            "http": {
                "method": "GET",
                "requestUri": "/metrics"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "FindingsMetricsData": {
                        "type": "structure",
                        "members": {
                            "AnalyzedLinesOfCodeCount": {
                                "type": "long"
                            },
                            "FindingsCount": {
                                "type": "long"
                            },
                            "FindingJobsCount": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJT3HAQUUUSJBSQ4GLGSZOTPYYCQD2MMLGR6KCOVQTNCJQEPHKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24VEQ4MU25YWX5ETERE2Z7XSP2OQ4GWFQNURLQ5O5I6SC7UPYDFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7LEXSJQZCAGQKLKJCTVVHODCHWOAAGE6ICSKJK2TZVNSQL6KU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X5BGEUJGTBYHF67Q4FZFMGTGQHIY335N6VVPHKB44YG53P4DUUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5MLTJKRZKA7TEKAFYRYIX55SBLO5KC7TJ4BIH26LM3XMKK2UI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2FMURFB5LJDK7J5CZWEN7YH5OLY5Z52CEULIPRM2M3EHHXEO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js"
            ]
        },
        "ListThirdPartyRepositories": {
            "http": {
                "method": "GET",
                "requestUri": "/thirdPartyRepositories"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionToken"
                ],
                "members": {
                    "ConnectionToken": {
                        "location": "querystring",
                        "locationName": "ConnectionToken"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ThirdPartyRepositories": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Owner",
                                "ConnectionToken"
                            ],
                            "members": {
                                "Name": {},
                                "Owner": {},
                                "IsEnabled": {
                                    "type": "boolean"
                                },
                                "ConnectionToken": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJT3HAQUUUSJBSQ4GLGSZOTPYYCQD2MMLGR6KCOVQTNCJQEPHKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24VEQ4MU25YWX5ETERE2Z7XSP2OQ4GWFQNURLQ5O5I6SC7UPYDFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7LEXSJQZCAGQKLKJCTVVHODCHWOAAGE6ICSKJK2TZVNSQL6KU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X5BGEUJGTBYHF67Q4FZFMGTGQHIY335N6VVPHKB44YG53P4DUUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5MLTJKRZKA7TEKAFYRYIX55SBLO5KC7TJ4BIH26LM3XMKK2UI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2FMURFB5LJDK7J5CZWEN7YH5OLY5Z52CEULIPRM2M3EHHXEO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "Name",
                "ConnectionArn",
                "Owner"
            ],
            "members": {
                "Name": {},
                "ConnectionArn": {},
                "Owner": {}
            }
        },
        "Sb": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Se": {
            "type": "structure",
            "members": {
                "KMSKeyId": {},
                "EncryptionOption": {}
            }
        },
        "Si": {
            "type": "structure",
            "members": {
                "AssociationId": {},
                "AssociationArn": {},
                "ConnectionArn": {},
                "Name": {},
                "Owner": {},
                "ProviderType": {},
                "State": {},
                "StateReason": {},
                "LastUpdatedTimeStamp": {
                    "type": "timestamp"
                },
                "CreatedTimeStamp": {
                    "type": "timestamp"
                },
                "KMSKeyDetails": {
                    "shape": "Se"
                },
                "S3RepositoryDetails": {
                    "shape": "Sp"
                }
            }
        },
        "Sp": {
            "type": "structure",
            "members": {
                "BucketName": {},
                "CodeArtifacts": {
                    "type": "structure",
                    "required": [
                        "SourceCodeArtifactsObjectKey"
                    ],
                    "members": {
                        "SourceCodeArtifactsObjectKey": {},
                        "BuildArtifactsObjectKey": {}
                    }
                }
            }
        },
        "Sy": {
            "type": "structure",
            "required": [
                "BranchName"
            ],
            "members": {
                "BranchName": {}
            }
        },
        "S10": {
            "type": "structure",
            "members": {
                "CommitDiff": {
                    "type": "structure",
                    "members": {
                        "SourceCommit": {},
                        "DestinationCommit": {},
                        "MergeBaseCommit": {}
                    }
                },
                "RepositoryHead": {
                    "shape": "Sy"
                },
                "BranchDiff": {
                    "type": "structure",
                    "required": [
                        "SourceBranchName",
                        "DestinationBranchName"
                    ],
                    "members": {
                        "SourceBranchName": {},
                        "DestinationBranchName": {}
                    }
                },
                "S3BucketRepository": {
                    "type": "structure",
                    "required": [
                        "Name"
                    ],
                    "members": {
                        "Name": {},
                        "Details": {
                            "shape": "Sp"
                        }
                    }
                },
                "RequestMetadata": {
                    "type": "structure",
                    "members": {
                        "RequestId": {},
                        "Requester": {},
                        "EventInfo": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "State": {}
                            }
                        },
                        "VendorName": {}
                    }
                }
            }
        },
        "S1c": {
            "type": "list",
            "member": {}
        },
        "S1f": {
            "type": "structure",
            "members": {
                "Name": {},
                "CodeReviewArn": {},
                "RepositoryName": {},
                "Owner": {},
                "ProviderType": {},
                "State": {},
                "StateReason": {},
                "CreatedTimeStamp": {
                    "type": "timestamp"
                },
                "LastUpdatedTimeStamp": {
                    "type": "timestamp"
                },
                "Type": {},
                "PullRequestId": {},
                "SourceCodeType": {
                    "shape": "S10"
                },
                "AssociationArn": {},
                "Metrics": {
                    "type": "structure",
                    "members": {
                        "MeteredLinesOfCodeCount": {
                            "type": "long"
                        },
                        "SuppressedLinesOfCodeCount": {
                            "type": "long"
                        },
                        "FindingsCount": {
                            "type": "long"
                        }
                    }
                },
                "AnalysisTypes": {
                    "shape": "S1c"
                },
                "ConfigFileState": {}
            }
        },
        "S1u": {
            "type": "list",
            "member": {}
        },
        "S21": {
            "type": "list",
            "member": {}
        },
        "S9": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sd": {
            "type": "structure",
            "members": {
                "AssociationId": {},
                "AssociationArn": {},
                "ConnectionArn": {},
                "Name": {},
                "Owner": {},
                "ProviderType": {},
                "State": {},
                "StateReason": {},
                "LastUpdatedTimeStamp": {
                    "type": "timestamp"
                },
                "CreatedTimeStamp": {
                    "type": "timestamp"
                }
            }
        },
        "Ss": {
            "type": "structure",
            "members": {
                "Name": {},
                "CodeReviewArn": {},
                "RepositoryName": {},
                "Owner": {},
                "ProviderType": {},
                "State": {},
                "StateReason": {},
                "CreatedTimeStamp": {
                    "type": "timestamp"
                },
                "LastUpdatedTimeStamp": {
                    "type": "timestamp"
                },
                "Type": {},
                "PullRequestId": {},
                "SourceCodeType": {
                    "type": "structure",
                    "members": {
                        "CommitDiff": {
                            "type": "structure",
                            "members": {
                                "SourceCommit": {},
                                "DestinationCommit": {}
                            }
                        },
                        "RepositoryHead": {
                            "shape": "Sp"
                        }
                    }
                },
                "AssociationArn": {},
                "Metrics": {
                    "type": "structure",
                    "members": {
                        "MeteredLinesOfCodeCount": {
                            "type": "long"
                        },
                        "FindingsCount": {
                            "type": "long"
                        }
                    }
                }
            }
        },
        "S19": {
            "type": "list",
            "member": {}
        },
        "S1g": {
            "type": "list",
            "member": {}
        },
        "S8": {
            "type": "structure",
            "required": [
                "Name",
                "ConnectionArn",
                "Owner"
            ],
            "members": {
                "Name": {},
                "ConnectionArn": {},
                "Owner": {}
            }
        },
        "Sc": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sg": {
            "type": "structure",
            "members": {
                "AssociationId": {},
                "AssociationArn": {},
                "ConnectionArn": {},
                "Name": {},
                "Owner": {},
                "ProviderType": {},
                "State": {},
                "StateReason": {},
                "LastUpdatedTimeStamp": {
                    "type": "timestamp"
                },
                "CreatedTimeStamp": {
                    "type": "timestamp"
                }
            }
        },
        "Sr": {
            "type": "structure",
            "required": [
                "BranchName"
            ],
            "members": {
                "BranchName": {}
            }
        },
        "Su": {
            "type": "structure",
            "members": {
                "Name": {},
                "CodeReviewArn": {},
                "RepositoryName": {},
                "Owner": {},
                "ProviderType": {},
                "State": {},
                "StateReason": {},
                "CreatedTimeStamp": {
                    "type": "timestamp"
                },
                "LastUpdatedTimeStamp": {
                    "type": "timestamp"
                },
                "Type": {},
                "PullRequestId": {},
                "SourceCodeType": {
                    "shape": "Sz"
                },
                "AssociationArn": {},
                "Metrics": {
                    "type": "structure",
                    "members": {
                        "MeteredLinesOfCodeCount": {
                            "type": "long"
                        },
                        "FindingsCount": {
                            "type": "long"
                        }
                    }
                }
            }
        },
        "Sz": {
            "type": "structure",
            "members": {
                "CommitDiff": {
                    "type": "structure",
                    "members": {
                        "SourceCommit": {},
                        "DestinationCommit": {}
                    }
                },
                "BranchDiff": {
                    "type": "structure",
                    "members": {
                        "SourceBranchName": {},
                        "DestinationBranchName": {}
                    }
                },
                "RepositoryHead": {
                    "shape": "Sr"
                }
            }
        },
        "S1m": {
            "type": "list",
            "member": {}
        },
        "S1y": {
            "type": "list",
            "member": {}
        },
        "S1t": {
            "type": "list",
            "member": {}
        },
        "S20": {
            "type": "list",
            "member": {}
        },
        "S7": {
            "type": "structure",
            "members": {
                "AssociationId": {},
                "AssociationArn": {},
                "Name": {},
                "Owner": {},
                "ProviderType": {},
                "State": {},
                "StateReason": {},
                "LastUpdatedTimeStamp": {
                    "type": "timestamp"
                },
                "CreatedTimeStamp": {
                    "type": "timestamp"
                }
            }
        },
        "Sw": {
            "type": "list",
            "member": {}
        },
        "S13": {
            "type": "list",
            "member": {}
        }
    }
}