{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-08-08",
        "endpointPrefix": "codedeploy",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "CodeDeployGitHub",
        "serviceFullName": "AWS CodeDeploy GitHub Service",
        "serviceId": "CodeDeploy",
        "signatureVersion": "v4",
        "targetPrefix": "CodeDeployGitHub_20141006",
        "uid": "codedeploygithub-2018-08-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/QYF4YKF2UGWRUTPX2IRZJCFKCSC7VRFWD4BSCBHVM2HTPW6WOPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E6AVG32P2GBWUMKFDA37E42JL4YOYE73LEAGSTJNKWFZOQNIWRNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OQAJP3THZYR22WSXWPN3ZXEWOFU4XPDUO3GHE5C3AJC6VGV5UILA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3G7LXJ5N5Q3CRLFII5GL6XFB4AKLCWEERHMF7CTTZQCQE5G7JLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TSPECMLCAEWJQMHWNL5QKQ26FDSIORSWLE7RAACNJMBK6WXRKGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/53VXWDBLYF7SSBL7OED5WNDEZJY3JG3OZ3DCXSGUAS2ZD4O344SA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OS3DEEF6K45GI2NI3OYQVTIFO4CE7GUDJCSPB7D6EGE7Y735MIOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OXEXQVDE22Z4XQ2ZJFDSFQ63AENP7KNIHTS574WUZYUAQJBFHHYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MSCRJ34GS4S3EB4RNXDUI3XEOEIGDANTAAHDGZFQKBTPVXJWTLCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KE4KHYSX5EAZ4R44KVKWLC3YQYXEJQ5XKTSRITZG3C7ORN63GUKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EVDGTFQSQHVJVSFC5GDNILUXNSZS6WHMTGZCMGU43LAJXAFZ26RQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6GWC3JFQT64TFLDYFKVYV6ARHSZ3S4NCWUWBCGPRXZZPKNHS5R2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7SJJIF4NGAW7B6KBYYYF5AJLMX64QS5GMGEGOKUORFIQCCKWHM2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GRSCNBLZYX46OTSMKA4S6BHKRPPMGL4TOJ3OYI4G4EWSH227HESA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVTYTR4VNJ6BZZNO3BQJ75GFHGNFBWS2QPPXPUSYSI3XADNA34JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YW6RQVJ3222Q2DLMA6G6DKAENPS3EL3QJ3LW5ZDQXBBIVC6QG4XA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPOFTUX3P3BCR7PN4HR3JKEGVPV3XTY6Z2YOTRXHNK4H7WVKOLXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LIZQ4WKQYQ5V6CLKIVGJSKVIWV65FVLSH53E3XS3S3FOBRRMFG2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RTQWTQBNBK4GZZ2BKTKFPDVDIU4TBZEG24R63H2UCFPHYGE2ZGGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TK2MFIURSQY4JD3G5IS3ARSU7DTSC2KRTULH3IT67K6NCBLH6LPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5O4DYGA7NSGGYLQ3DNNG7SXLW6XEPKJDBWGCOJLS4UU6D3ACE2HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js"
        ]
    },
    "operations": {
        "BindGitHubAccountTokenToApplication": {
            "input": {
                "type": "structure",
                "members": {
                    "applicationName": {},
                    "tokenName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tokenName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6AVG32P2GBWUMKFDA37E42JL4YOYE73LEAGSTJNKWFZOQNIWRNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQAJP3THZYR22WSXWPN3ZXEWOFU4XPDUO3GHE5C3AJC6VGV5UILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3G7LXJ5N5Q3CRLFII5GL6XFB4AKLCWEERHMF7CTTZQCQE5G7JLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TSPECMLCAEWJQMHWNL5QKQ26FDSIORSWLE7RAACNJMBK6WXRKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VXWDBLYF7SSBL7OED5WNDEZJY3JG3OZ3DCXSGUAS2ZD4O344SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3DEEF6K45GI2NI3OYQVTIFO4CE7GUDJCSPB7D6EGE7Y735MIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXEXQVDE22Z4XQ2ZJFDSFQ63AENP7KNIHTS574WUZYUAQJBFHHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSCRJ34GS4S3EB4RNXDUI3XEOEIGDANTAAHDGZFQKBTPVXJWTLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KE4KHYSX5EAZ4R44KVKWLC3YQYXEJQ5XKTSRITZG3C7ORN63GUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVDGTFQSQHVJVSFC5GDNILUXNSZS6WHMTGZCMGU43LAJXAFZ26RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GWC3JFQT64TFLDYFKVYV6ARHSZ3S4NCWUWBCGPRXZZPKNHS5R2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SJJIF4NGAW7B6KBYYYF5AJLMX64QS5GMGEGOKUORFIQCCKWHM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRSCNBLZYX46OTSMKA4S6BHKRPPMGL4TOJ3OYI4G4EWSH227HESA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVTYTR4VNJ6BZZNO3BQJ75GFHGNFBWS2QPPXPUSYSI3XADNA34JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YW6RQVJ3222Q2DLMA6G6DKAENPS3EL3QJ3LW5ZDQXBBIVC6QG4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPOFTUX3P3BCR7PN4HR3JKEGVPV3XTY6Z2YOTRXHNK4H7WVKOLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIZQ4WKQYQ5V6CLKIVGJSKVIWV65FVLSH53E3XS3S3FOBRRMFG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTQWTQBNBK4GZZ2BKTKFPDVDIU4TBZEG24R63H2UCFPHYGE2ZGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TK2MFIURSQY4JD3G5IS3ARSU7DTSC2KRTULH3IT67K6NCBLH6LPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O4DYGA7NSGGYLQ3DNNG7SXLW6XEPKJDBWGCOJLS4UU6D3ACE2HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js"
            ]
        },
        "RegisterGitHubAccountToken": {
            "input": {
                "type": "structure",
                "members": {
                    "tokenName": {},
                    "authToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tokenName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6AVG32P2GBWUMKFDA37E42JL4YOYE73LEAGSTJNKWFZOQNIWRNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQAJP3THZYR22WSXWPN3ZXEWOFU4XPDUO3GHE5C3AJC6VGV5UILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3G7LXJ5N5Q3CRLFII5GL6XFB4AKLCWEERHMF7CTTZQCQE5G7JLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TSPECMLCAEWJQMHWNL5QKQ26FDSIORSWLE7RAACNJMBK6WXRKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VXWDBLYF7SSBL7OED5WNDEZJY3JG3OZ3DCXSGUAS2ZD4O344SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3DEEF6K45GI2NI3OYQVTIFO4CE7GUDJCSPB7D6EGE7Y735MIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXEXQVDE22Z4XQ2ZJFDSFQ63AENP7KNIHTS574WUZYUAQJBFHHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSCRJ34GS4S3EB4RNXDUI3XEOEIGDANTAAHDGZFQKBTPVXJWTLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KE4KHYSX5EAZ4R44KVKWLC3YQYXEJQ5XKTSRITZG3C7ORN63GUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVDGTFQSQHVJVSFC5GDNILUXNSZS6WHMTGZCMGU43LAJXAFZ26RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GWC3JFQT64TFLDYFKVYV6ARHSZ3S4NCWUWBCGPRXZZPKNHS5R2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SJJIF4NGAW7B6KBYYYF5AJLMX64QS5GMGEGOKUORFIQCCKWHM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRSCNBLZYX46OTSMKA4S6BHKRPPMGL4TOJ3OYI4G4EWSH227HESA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVTYTR4VNJ6BZZNO3BQJ75GFHGNFBWS2QPPXPUSYSI3XADNA34JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YW6RQVJ3222Q2DLMA6G6DKAENPS3EL3QJ3LW5ZDQXBBIVC6QG4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPOFTUX3P3BCR7PN4HR3JKEGVPV3XTY6Z2YOTRXHNK4H7WVKOLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIZQ4WKQYQ5V6CLKIVGJSKVIWV65FVLSH53E3XS3S3FOBRRMFG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTQWTQBNBK4GZZ2BKTKFPDVDIU4TBZEG24R63H2UCFPHYGE2ZGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TK2MFIURSQY4JD3G5IS3ARSU7DTSC2KRTULH3IT67K6NCBLH6LPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O4DYGA7NSGGYLQ3DNNG7SXLW6XEPKJDBWGCOJLS4UU6D3ACE2HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js"
            ]
        },
        "RegisterGitHubToken": {
            "input": {
                "type": "structure",
                "members": {
                    "applicationName": {},
                    "token": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6AVG32P2GBWUMKFDA37E42JL4YOYE73LEAGSTJNKWFZOQNIWRNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQAJP3THZYR22WSXWPN3ZXEWOFU4XPDUO3GHE5C3AJC6VGV5UILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3G7LXJ5N5Q3CRLFII5GL6XFB4AKLCWEERHMF7CTTZQCQE5G7JLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TSPECMLCAEWJQMHWNL5QKQ26FDSIORSWLE7RAACNJMBK6WXRKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VXWDBLYF7SSBL7OED5WNDEZJY3JG3OZ3DCXSGUAS2ZD4O344SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3DEEF6K45GI2NI3OYQVTIFO4CE7GUDJCSPB7D6EGE7Y735MIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXEXQVDE22Z4XQ2ZJFDSFQ63AENP7KNIHTS574WUZYUAQJBFHHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSCRJ34GS4S3EB4RNXDUI3XEOEIGDANTAAHDGZFQKBTPVXJWTLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KE4KHYSX5EAZ4R44KVKWLC3YQYXEJQ5XKTSRITZG3C7ORN63GUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVDGTFQSQHVJVSFC5GDNILUXNSZS6WHMTGZCMGU43LAJXAFZ26RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GWC3JFQT64TFLDYFKVYV6ARHSZ3S4NCWUWBCGPRXZZPKNHS5R2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SJJIF4NGAW7B6KBYYYF5AJLMX64QS5GMGEGOKUORFIQCCKWHM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRSCNBLZYX46OTSMKA4S6BHKRPPMGL4TOJ3OYI4G4EWSH227HESA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVTYTR4VNJ6BZZNO3BQJ75GFHGNFBWS2QPPXPUSYSI3XADNA34JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YW6RQVJ3222Q2DLMA6G6DKAENPS3EL3QJ3LW5ZDQXBBIVC6QG4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPOFTUX3P3BCR7PN4HR3JKEGVPV3XTY6Z2YOTRXHNK4H7WVKOLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIZQ4WKQYQ5V6CLKIVGJSKVIWV65FVLSH53E3XS3S3FOBRRMFG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTQWTQBNBK4GZZ2BKTKFPDVDIU4TBZEG24R63H2UCFPHYGE2ZGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TK2MFIURSQY4JD3G5IS3ARSU7DTSC2KRTULH3IT67K6NCBLH6LPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O4DYGA7NSGGYLQ3DNNG7SXLW6XEPKJDBWGCOJLS4UU6D3ACE2HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BROVJYDDY5C5GXLVL6DTCPX4KLQP4WVSCR27LDR3CDC3XJKCV2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js"
            ]
        }
    },
    "shapes": {}
}