{
    "version": "2.0",
    "metadata": {
        "name": "CodeBuild_OAuth",
        "apiVersion": "2018-08-08",
        "endpointPrefix": "codebuild",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "CodeBuildOAuth",
        "serviceFullName": "AWS CodeBuild OAuth",
        "serviceId": "CodeBuild",
        "signatureVersion": "v4",
        "targetPrefix": "CodeBuild_OAuth",
        "uid": "codebuildoauth-2018-08-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/WRA24WU7FN4CSQSGNVTZ7Z746LOY36RFRCGVAISNIRTAIU7UJBQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EAW2GK4ELYI7BSMFSDHXNTLNY5PRXORXS4NGJVUHMYMFO3PB4OMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SJEJ74PI4F77QRRTUXBSDTO26J4AHB3JV23Q4UJEFF4BO4CVMV7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCCCRYADQMBU2USDR2X5IDKTG4FCAIRJ337N4JQU2AZOTO4U6DCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4UVLN3QXEM7T4J576PWVKQ6KEZUJE4SU5ZRMSFHUXK6HLF6PC25Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NQL2NOAY4KYACRI4RIMIXC4CVG7UE5OV5ZLV4HJ6IIQMPZ3REFMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7NSVRAHFANDKFEJC7YQOUK2CR5XRGKNUR2NZJPMHDDOERE23YCTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NCX6WDKCFAU532W7YMQIQYZ6OSCZM6DTAMLIDVPCUGKFIXZOM4IA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GERU4OCSBJUDIJXCGEC7AIP34JTOHYEEAPBB6T4VM6PRXLFNZ2IQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R3W4KPX4LSB3HHFJT37QCVSVTL2NSF5BKVPA45HM24P6KRSOWKEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
        ]
    },
    "operations": {
        "DeleteOAuthToken": {
            "input": {
                "type": "structure",
                "required": [
                    "authServerType"
                ],
                "members": {
                    "authServerType": {},
                    "tokenIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAW2GK4ELYI7BSMFSDHXNTLNY5PRXORXS4NGJVUHMYMFO3PB4OMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJEJ74PI4F77QRRTUXBSDTO26J4AHB3JV23Q4UJEFF4BO4CVMV7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCCCRYADQMBU2USDR2X5IDKTG4FCAIRJ337N4JQU2AZOTO4U6DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UVLN3QXEM7T4J576PWVKQ6KEZUJE4SU5ZRMSFHUXK6HLF6PC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQL2NOAY4KYACRI4RIMIXC4CVG7UE5OV5ZLV4HJ6IIQMPZ3REFMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NSVRAHFANDKFEJC7YQOUK2CR5XRGKNUR2NZJPMHDDOERE23YCTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCX6WDKCFAU532W7YMQIQYZ6OSCZM6DTAMLIDVPCUGKFIXZOM4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GERU4OCSBJUDIJXCGEC7AIP34JTOHYEEAPBB6T4VM6PRXLFNZ2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3W4KPX4LSB3HHFJT37QCVSVTL2NSF5BKVPA45HM24P6KRSOWKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "ListConnectedOAuthAccounts": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "accounts": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "boolean"
                        }
                    },
                    "accountsWithAuthTokens": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "identifier": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAW2GK4ELYI7BSMFSDHXNTLNY5PRXORXS4NGJVUHMYMFO3PB4OMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJEJ74PI4F77QRRTUXBSDTO26J4AHB3JV23Q4UJEFF4BO4CVMV7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCCCRYADQMBU2USDR2X5IDKTG4FCAIRJ337N4JQU2AZOTO4U6DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UVLN3QXEM7T4J576PWVKQ6KEZUJE4SU5ZRMSFHUXK6HLF6PC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQL2NOAY4KYACRI4RIMIXC4CVG7UE5OV5ZLV4HJ6IIQMPZ3REFMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NSVRAHFANDKFEJC7YQOUK2CR5XRGKNUR2NZJPMHDDOERE23YCTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCX6WDKCFAU532W7YMQIQYZ6OSCZM6DTAMLIDVPCUGKFIXZOM4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GERU4OCSBJUDIJXCGEC7AIP34JTOHYEEAPBB6T4VM6PRXLFNZ2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3W4KPX4LSB3HHFJT37QCVSVTL2NSF5BKVPA45HM24P6KRSOWKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "ListRepositories": {
            "input": {
                "type": "structure",
                "required": [
                    "serverType"
                ],
                "members": {
                    "serverType": {},
                    "tokenIdentifier": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repositories": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "fullName": {},
                                "description": {},
                                "isPrivate": {
                                    "type": "boolean"
                                },
                                "cloneURL": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAW2GK4ELYI7BSMFSDHXNTLNY5PRXORXS4NGJVUHMYMFO3PB4OMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJEJ74PI4F77QRRTUXBSDTO26J4AHB3JV23Q4UJEFF4BO4CVMV7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCCCRYADQMBU2USDR2X5IDKTG4FCAIRJ337N4JQU2AZOTO4U6DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UVLN3QXEM7T4J576PWVKQ6KEZUJE4SU5ZRMSFHUXK6HLF6PC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQL2NOAY4KYACRI4RIMIXC4CVG7UE5OV5ZLV4HJ6IIQMPZ3REFMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NSVRAHFANDKFEJC7YQOUK2CR5XRGKNUR2NZJPMHDDOERE23YCTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCX6WDKCFAU532W7YMQIQYZ6OSCZM6DTAMLIDVPCUGKFIXZOM4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GERU4OCSBJUDIJXCGEC7AIP34JTOHYEEAPBB6T4VM6PRXLFNZ2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3W4KPX4LSB3HHFJT37QCVSVTL2NSF5BKVPA45HM24P6KRSOWKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        },
        "PersistOAuthToken": {
            "input": {
                "type": "structure",
                "required": [
                    "authCode",
                    "authServerType"
                ],
                "members": {
                    "authCode": {
                        "type": "string",
                        "sensitive": true
                    },
                    "tokenIdentifier": {},
                    "authServerType": {},
                    "oauthAppVersion": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAW2GK4ELYI7BSMFSDHXNTLNY5PRXORXS4NGJVUHMYMFO3PB4OMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJEJ74PI4F77QRRTUXBSDTO26J4AHB3JV23Q4UJEFF4BO4CVMV7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCCCRYADQMBU2USDR2X5IDKTG4FCAIRJ337N4JQU2AZOTO4U6DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UVLN3QXEM7T4J576PWVKQ6KEZUJE4SU5ZRMSFHUXK6HLF6PC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQL2NOAY4KYACRI4RIMIXC4CVG7UE5OV5ZLV4HJ6IIQMPZ3REFMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NSVRAHFANDKFEJC7YQOUK2CR5XRGKNUR2NZJPMHDDOERE23YCTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCX6WDKCFAU532W7YMQIQYZ6OSCZM6DTAMLIDVPCUGKFIXZOM4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GERU4OCSBJUDIJXCGEC7AIP34JTOHYEEAPBB6T4VM6PRXLFNZ2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3W4KPX4LSB3HHFJT37QCVSVTL2NSF5BKVPA45HM24P6KRSOWKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK2OPADEOZQ6TN5FUIKZ2RZLHYUDGFQCZAFO7ASN3X7R74RJMTDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G62LUX5V6APPC5SMJ6VWNMNTWSQSYNDHUOKB5HYJCEJC6VJFRANQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JO5XAP2EYYHTEI3WV4UCLHYRGFJNYLWACP2OM27NAFBVS6IJKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T73KZ7KDZTJRRNKKLUDSWEU65OWVOS6EVK3DZODWG6JZABEO7YPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCKBPLDVW7SXGBSEFVHIAOO74U2P7BF5HIJKWWD7SMDY2CBS6JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKT3EHEPRDIYI24QDSLFSPGYYTQP7MDT4OQIZBVQDVWPXTFZDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDEUILEKZ743YHF5GIPDWYQAJXVG2WJXW6YHOEDDJA7QHULZZNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDCXLDYO7URLCJ4D2C3KPM5G3LMHUD2MPW2GABARGC7QSTD4HY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFWTRMMGXX4MXEALQEXDOANLBGG7ULYIFD7TDSUMSVUN7YRBJXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYYYZ2IQNALD7PDBWH5N7SIEFOG74UMNTYVYNB6SGENXE5IFPVVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQD2M4WLELB4T6Q2K5ZRD5BJMTZEVTVBVKULDKA6GTNLDDLBECBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZW2MM4HTQNWCFAXNDQH2RVTOSGV6C4R7UDAFO24WEYTLJWSLQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js"
            ]
        }
    },
    "shapes": {}
}