{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-08-08",
        "endpointPrefix": "codedeploy",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "CodeDeployGitHub",
        "serviceFullName": "AWS CodeDeploy GitHub Service",
        "serviceId": "CodeDeploy",
        "signatureVersion": "v4",
        "targetPrefix": "CodeDeployGitHub_20141006",
        "uid": "codedeploygithub-2018-08-08",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/CBFNEVXLB7IQWERIHSOEXGYR6XQGXHJIWWYXQ464QEYPIXVFN7WA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/C7HX45AMBWXRYAA4KRZFMRCL74TVRY7WZVOAIWPZNQ32AE3HPMHA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/G5HMWVXI66W3DJHM7WWZ4TA67KY2GJTR5YTMQXE47Z767OBKAFWA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UZIH3KB3FW3BFVIX2J77TNFHQI3NY5NG44CUZIUBA5ZSFJAJ3WWQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/AE5TK4X26UWMYSZQVQDOBEEC2DDZZEGYU3VPWEPZWFRZ4NTOGTEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MFLUCXZCNXTHLVSHM46PX6SAU6EPVJ6D555ON63J62RMTGNU7HGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCKFBSSZ2MJRSXHFUPLQKRTZ4ED22VF7UG2AXMSAAHPFU4JRUJFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6YHISN5YDS3OA6ISWGS7JDOY4SPNJRB55NZEPYTKJPSUDUIWQ2OA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R6HR66GKF4HOAYHWG6UOCIGRDUMGVUT66KIGO4OK2O4EHE4G23UQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IUT3BCFBVL3FK3KAJGU5DS3PYB3WZU5RWNCZSITNHFKNSMVWZP6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NTVKZEOJ5ZVYS6G7OAAROISBE2MODQ52NCSLVQAGHCEW3N6QXFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KSX3VRERRVD53YTWMYUJRMWWFW2ARTVE75DT225XO2JZMMUGUJCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WGTUSZUFP6F4CCIDRUBSKQXQS67THU7LY5BAJJSCOZFKXEEEGF3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NTRYMJXFRMFVL6XWNF2AT2SD7ODPDTCLLOFKBHP7IFQYBHTS4YKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FMX7SVXZFJ4LCU7BCV4T4WQXGGGDGPBSZOYMPV2PCCBSMWPXL5SA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/36ZZVL26T4TVTWIYDNFUUKPH6SNLTIVN4VBSRIZYJQQ5IXHUDIGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ELVHTQXCG5L5HQ3VMLLMUOKNNR6BD7T5V4OOSG662D7WXPLRDLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PHC5Z4Z7NBHIAZ3ITDPRYXPCVUDJWFFSI5Y6AKRY2AAG43XI7JDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C3PBUGFATZK4CCFAFH5WEKPWCGYBZERGUHTZ5HCT65NFRZSUSLQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VNY2UJV5TRLCY7SBCUBOO7ZFWFYC7AHTBCAKTACHYOWGNYTMNQRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7LBPZUDP7SSGD4HNKG3UKMSYX7KEPM6VDAP2ZMCFNN7NUQ7MQVSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js"
        ]
    },
    "operations": {
        "BindGitHubAccountTokenToApplication": {
            "input": {
                "type": "structure",
                "members": {
                    "applicationName": {},
                    "tokenName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tokenName": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/C7HX45AMBWXRYAA4KRZFMRCL74TVRY7WZVOAIWPZNQ32AE3HPMHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G5HMWVXI66W3DJHM7WWZ4TA67KY2GJTR5YTMQXE47Z767OBKAFWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UZIH3KB3FW3BFVIX2J77TNFHQI3NY5NG44CUZIUBA5ZSFJAJ3WWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AE5TK4X26UWMYSZQVQDOBEEC2DDZZEGYU3VPWEPZWFRZ4NTOGTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFLUCXZCNXTHLVSHM46PX6SAU6EPVJ6D555ON63J62RMTGNU7HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCKFBSSZ2MJRSXHFUPLQKRTZ4ED22VF7UG2AXMSAAHPFU4JRUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHISN5YDS3OA6ISWGS7JDOY4SPNJRB55NZEPYTKJPSUDUIWQ2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6HR66GKF4HOAYHWG6UOCIGRDUMGVUT66KIGO4OK2O4EHE4G23UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUT3BCFBVL3FK3KAJGU5DS3PYB3WZU5RWNCZSITNHFKNSMVWZP6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NTVKZEOJ5ZVYS6G7OAAROISBE2MODQ52NCSLVQAGHCEW3N6QXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSX3VRERRVD53YTWMYUJRMWWFW2ARTVE75DT225XO2JZMMUGUJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGTUSZUFP6F4CCIDRUBSKQXQS67THU7LY5BAJJSCOZFKXEEEGF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTRYMJXFRMFVL6XWNF2AT2SD7ODPDTCLLOFKBHP7IFQYBHTS4YKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMX7SVXZFJ4LCU7BCV4T4WQXGGGDGPBSZOYMPV2PCCBSMWPXL5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36ZZVL26T4TVTWIYDNFUUKPH6SNLTIVN4VBSRIZYJQQ5IXHUDIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ELVHTQXCG5L5HQ3VMLLMUOKNNR6BD7T5V4OOSG662D7WXPLRDLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHC5Z4Z7NBHIAZ3ITDPRYXPCVUDJWFFSI5Y6AKRY2AAG43XI7JDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3PBUGFATZK4CCFAFH5WEKPWCGYBZERGUHTZ5HCT65NFRZSUSLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNY2UJV5TRLCY7SBCUBOO7ZFWFYC7AHTBCAKTACHYOWGNYTMNQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LBPZUDP7SSGD4HNKG3UKMSYX7KEPM6VDAP2ZMCFNN7NUQ7MQVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js"
            ]
        },
        "RegisterGitHubAccountToken": {
            "input": {
                "type": "structure",
                "members": {
                    "tokenName": {},
                    "authToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tokenName": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/C7HX45AMBWXRYAA4KRZFMRCL74TVRY7WZVOAIWPZNQ32AE3HPMHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G5HMWVXI66W3DJHM7WWZ4TA67KY2GJTR5YTMQXE47Z767OBKAFWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UZIH3KB3FW3BFVIX2J77TNFHQI3NY5NG44CUZIUBA5ZSFJAJ3WWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AE5TK4X26UWMYSZQVQDOBEEC2DDZZEGYU3VPWEPZWFRZ4NTOGTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFLUCXZCNXTHLVSHM46PX6SAU6EPVJ6D555ON63J62RMTGNU7HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCKFBSSZ2MJRSXHFUPLQKRTZ4ED22VF7UG2AXMSAAHPFU4JRUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHISN5YDS3OA6ISWGS7JDOY4SPNJRB55NZEPYTKJPSUDUIWQ2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6HR66GKF4HOAYHWG6UOCIGRDUMGVUT66KIGO4OK2O4EHE4G23UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUT3BCFBVL3FK3KAJGU5DS3PYB3WZU5RWNCZSITNHFKNSMVWZP6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NTVKZEOJ5ZVYS6G7OAAROISBE2MODQ52NCSLVQAGHCEW3N6QXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSX3VRERRVD53YTWMYUJRMWWFW2ARTVE75DT225XO2JZMMUGUJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGTUSZUFP6F4CCIDRUBSKQXQS67THU7LY5BAJJSCOZFKXEEEGF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTRYMJXFRMFVL6XWNF2AT2SD7ODPDTCLLOFKBHP7IFQYBHTS4YKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMX7SVXZFJ4LCU7BCV4T4WQXGGGDGPBSZOYMPV2PCCBSMWPXL5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36ZZVL26T4TVTWIYDNFUUKPH6SNLTIVN4VBSRIZYJQQ5IXHUDIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ELVHTQXCG5L5HQ3VMLLMUOKNNR6BD7T5V4OOSG662D7WXPLRDLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHC5Z4Z7NBHIAZ3ITDPRYXPCVUDJWFFSI5Y6AKRY2AAG43XI7JDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3PBUGFATZK4CCFAFH5WEKPWCGYBZERGUHTZ5HCT65NFRZSUSLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNY2UJV5TRLCY7SBCUBOO7ZFWFYC7AHTBCAKTACHYOWGNYTMNQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LBPZUDP7SSGD4HNKG3UKMSYX7KEPM6VDAP2ZMCFNN7NUQ7MQVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js"
            ]
        },
        "RegisterGitHubToken": {
            "input": {
                "type": "structure",
                "members": {
                    "applicationName": {},
                    "token": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/C7HX45AMBWXRYAA4KRZFMRCL74TVRY7WZVOAIWPZNQ32AE3HPMHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G5HMWVXI66W3DJHM7WWZ4TA67KY2GJTR5YTMQXE47Z767OBKAFWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UZIH3KB3FW3BFVIX2J77TNFHQI3NY5NG44CUZIUBA5ZSFJAJ3WWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AE5TK4X26UWMYSZQVQDOBEEC2DDZZEGYU3VPWEPZWFRZ4NTOGTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFLUCXZCNXTHLVSHM46PX6SAU6EPVJ6D555ON63J62RMTGNU7HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCKFBSSZ2MJRSXHFUPLQKRTZ4ED22VF7UG2AXMSAAHPFU4JRUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHISN5YDS3OA6ISWGS7JDOY4SPNJRB55NZEPYTKJPSUDUIWQ2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6HR66GKF4HOAYHWG6UOCIGRDUMGVUT66KIGO4OK2O4EHE4G23UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUT3BCFBVL3FK3KAJGU5DS3PYB3WZU5RWNCZSITNHFKNSMVWZP6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NTVKZEOJ5ZVYS6G7OAAROISBE2MODQ52NCSLVQAGHCEW3N6QXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSX3VRERRVD53YTWMYUJRMWWFW2ARTVE75DT225XO2JZMMUGUJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGTUSZUFP6F4CCIDRUBSKQXQS67THU7LY5BAJJSCOZFKXEEEGF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTRYMJXFRMFVL6XWNF2AT2SD7ODPDTCLLOFKBHP7IFQYBHTS4YKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMX7SVXZFJ4LCU7BCV4T4WQXGGGDGPBSZOYMPV2PCCBSMWPXL5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36ZZVL26T4TVTWIYDNFUUKPH6SNLTIVN4VBSRIZYJQQ5IXHUDIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ELVHTQXCG5L5HQ3VMLLMUOKNNR6BD7T5V4OOSG662D7WXPLRDLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHC5Z4Z7NBHIAZ3ITDPRYXPCVUDJWFFSI5Y6AKRY2AAG43XI7JDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3PBUGFATZK4CCFAFH5WEKPWCGYBZERGUHTZ5HCT65NFRZSUSLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNY2UJV5TRLCY7SBCUBOO7ZFWFYC7AHTBCAKTACHYOWGNYTMNQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LBPZUDP7SSGD4HNKG3UKMSYX7KEPM6VDAP2ZMCFNN7NUQ7MQVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSMSF6X2A4VZXQTHD75XDZWN4HJSCYFLNSPZWCSJTBV24L42NXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js"
            ]
        }
    },
    "shapes": {}
}