{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-07-18",
        "endpointPrefix": "codeguru-profiler",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon CodeGuru Profiler",
        "serviceId": "CodeGuruProfiler",
        "signatureVersion": "v4",
        "signingName": "codeguru-profiler",
        "uid": "codeguruprofiler-2019-07-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/42FRKVBAFQ25IK24YT4MNWOLHVSIHGCG7IDWMQVQMVEIQT67FWYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IWJX2LV6YEB2NJZZ6DYC7Q6HSXYR2HCNOHHIN42TFQ27EL4YROSQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GGLOEUKG5VPXWHFG3K2AJGIMMW6AWVLDN4JHIAWJNDOHX3QMOHCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7NBJBTDXO4DSLVGK2RCMPOFXMPSLHTQX5QEGE4J6M26YS4DUTGWQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JLVEFSYGE4JBOTOEGB6AGDTUREH222J4HWSJCX4QWYJ6H5B72XUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HQMVIU25AAIURI75VX5Z3PL7D5BJPATV65R35YOQMIRMJ563TODA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KDTWE6MFTEMBM72GWUJRDIIF5S22WSQFIXNCZF2ZMEBJ7QNXVRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "AddNotificationChannels": {
            "http": {
                "requestUri": "/profilingGroups/{profilingGroupName}/notificationConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "channels",
                    "profilingGroupName"
                ],
                "members": {
                    "channels": {
                        "shape": "S2"
                    },
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "notificationConfiguration": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42FRKVBAFQ25IK24YT4MNWOLHVSIHGCG7IDWMQVQMVEIQT67FWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWJX2LV6YEB2NJZZ6DYC7Q6HSXYR2HCNOHHIN42TFQ27EL4YROSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLOEUKG5VPXWHFG3K2AJGIMMW6AWVLDN4JHIAWJNDOHX3QMOHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NBJBTDXO4DSLVGK2RCMPOFXMPSLHTQX5QEGE4J6M26YS4DUTGWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLVEFSYGE4JBOTOEGB6AGDTUREH222J4HWSJCX4QWYJ6H5B72XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQMVIU25AAIURI75VX5Z3PL7D5BJPATV65R35YOQMIRMJ563TODA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KDTWE6MFTEMBM72GWUJRDIIF5S22WSQFIXNCZF2ZMEBJ7QNXVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "BatchGetFrameMetricData": {
            "http": {
                "requestUri": "/profilingGroups/{profilingGroupName}/frames/-/metrics",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "profilingGroupName"
                ],
                "members": {
                    "endTime": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "endTime"
                    },
                    "frameMetrics": {
                        "type": "list",
                        "member": {
                            "shape": "Se"
                        }
                    },
                    "period": {
                        "location": "querystring",
                        "locationName": "period"
                    },
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    },
                    "startTime": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "startTime"
                    },
                    "targetResolution": {
                        "location": "querystring",
                        "locationName": "targetResolution"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "endTime",
                    "endTimes",
                    "frameMetricData",
                    "resolution",
                    "startTime",
                    "unprocessedEndTimes"
                ],
                "members": {
                    "endTime": {
                        "shape": "Sc"
                    },
                    "endTimes": {
                        "shape": "Sl"
                    },
                    "frameMetricData": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "frameMetric",
                                "values"
                            ],
                            "members": {
                                "frameMetric": {
                                    "shape": "Se"
                                },
                                "values": {
                                    "type": "list",
                                    "member": {
                                        "type": "double"
                                    }
                                }
                            }
                        }
                    },
                    "resolution": {},
                    "startTime": {
                        "shape": "Sc"
                    },
                    "unprocessedEndTimes": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "Sl"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42FRKVBAFQ25IK24YT4MNWOLHVSIHGCG7IDWMQVQMVEIQT67FWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWJX2LV6YEB2NJZZ6DYC7Q6HSXYR2HCNOHHIN42TFQ27EL4YROSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLOEUKG5VPXWHFG3K2AJGIMMW6AWVLDN4JHIAWJNDOHX3QMOHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NBJBTDXO4DSLVGK2RCMPOFXMPSLHTQX5QEGE4J6M26YS4DUTGWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLVEFSYGE4JBOTOEGB6AGDTUREH222J4HWSJCX4QWYJ6H5B72XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQMVIU25AAIURI75VX5Z3PL7D5BJPATV65R35YOQMIRMJ563TODA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KDTWE6MFTEMBM72GWUJRDIIF5S22WSQFIXNCZF2ZMEBJ7QNXVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ConfigureAgent": {
            "http": {
                "requestUri": "/profilingGroups/{profilingGroupName}/configureAgent",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "profilingGroupName"
                ],
                "members": {
                    "fleetInstanceId": {},
                    "metadata": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuration"
                ],
                "members": {
                    "configuration": {
                        "type": "structure",
                        "required": [
                            "periodInSeconds",
                            "shouldProfile"
                        ],
                        "members": {
                            "agentParameters": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "periodInSeconds": {
                                "type": "integer"
                            },
                            "shouldProfile": {
                                "type": "boolean"
                            }
                        }
                    }
                },
                "payload": "configuration"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42FRKVBAFQ25IK24YT4MNWOLHVSIHGCG7IDWMQVQMVEIQT67FWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWJX2LV6YEB2NJZZ6DYC7Q6HSXYR2HCNOHHIN42TFQ27EL4YROSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLOEUKG5VPXWHFG3K2AJGIMMW6AWVLDN4JHIAWJNDOHX3QMOHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NBJBTDXO4DSLVGK2RCMPOFXMPSLHTQX5QEGE4J6M26YS4DUTGWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLVEFSYGE4JBOTOEGB6AGDTUREH222J4HWSJCX4QWYJ6H5B72XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQMVIU25AAIURI75VX5Z3PL7D5BJPATV65R35YOQMIRMJ563TODA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KDTWE6MFTEMBM72GWUJRDIIF5S22WSQFIXNCZF2ZMEBJ7QNXVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateProfilingGroup": {
            "http": {
                "requestUri": "/profilingGroups",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "profilingGroupName"
                ],
                "members": {
                    "agentOrchestrationConfig": {
                        "shape": "S13"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    },
                    "computePlatform": {},
                    "profilingGroupName": {},
                    "tags": {
                        "shape": "S16"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profilingGroup"
                ],
                "members": {
                    "profilingGroup": {
                        "shape": "S18"
                    }
                },
                "payload": "profilingGroup"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42FRKVBAFQ25IK24YT4MNWOLHVSIHGCG7IDWMQVQMVEIQT67FWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWJX2LV6YEB2NJZZ6DYC7Q6HSXYR2HCNOHHIN42TFQ27EL4YROSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLOEUKG5VPXWHFG3K2AJGIMMW6AWVLDN4JHIAWJNDOHX3QMOHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NBJBTDXO4DSLVGK2RCMPOFXMPSLHTQX5QEGE4J6M26YS4DUTGWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLVEFSYGE4JBOTOEGB6AGDTUREH222J4HWSJCX4QWYJ6H5B72XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQMVIU25AAIURI75VX5Z3PL7D5BJPATV65R35YOQMIRMJ563TODA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KDTWE6MFTEMBM72GWUJRDIIF5S22WSQFIXNCZF2ZMEBJ7QNXVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteProfilingGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/profilingGroups/{profilingGroupName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "profilingGroupName"
                ],
                "members": {
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42FRKVBAFQ25IK24YT4MNWOLHVSIHGCG7IDWMQVQMVEIQT67FWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWJX2LV6YEB2NJZZ6DYC7Q6HSXYR2HCNOHHIN42TFQ27EL4YROSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLOEUKG5VPXWHFG3K2AJGIMMW6AWVLDN4JHIAWJNDOHX3QMOHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NBJBTDXO4DSLVGK2RCMPOFXMPSLHTQX5QEGE4J6M26YS4DUTGWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLVEFSYGE4JBOTOEGB6AGDTUREH222J4HWSJCX4QWYJ6H5B72XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQMVIU25AAIURI75VX5Z3PL7D5BJPATV65R35YOQMIRMJ563TODA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KDTWE6MFTEMBM72GWUJRDIIF5S22WSQFIXNCZF2ZMEBJ7QNXVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeProfilingGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/profilingGroups/{profilingGroupName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "profilingGroupName"
                ],
                "members": {
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profilingGroup"
                ],
                "members": {
                    "profilingGroup": {
                        "shape": "S18"
                    }
                },
                "payload": "profilingGroup"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42FRKVBAFQ25IK24YT4MNWOLHVSIHGCG7IDWMQVQMVEIQT67FWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWJX2LV6YEB2NJZZ6DYC7Q6HSXYR2HCNOHHIN42TFQ27EL4YROSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLOEUKG5VPXWHFG3K2AJGIMMW6AWVLDN4JHIAWJNDOHX3QMOHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NBJBTDXO4DSLVGK2RCMPOFXMPSLHTQX5QEGE4J6M26YS4DUTGWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLVEFSYGE4JBOTOEGB6AGDTUREH222J4HWSJCX4QWYJ6H5B72XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQMVIU25AAIURI75VX5Z3PL7D5BJPATV65R35YOQMIRMJ563TODA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KDTWE6MFTEMBM72GWUJRDIIF5S22WSQFIXNCZF2ZMEBJ7QNXVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetFindingsReportAccountSummary": {
            "http": {
                "method": "GET",
                "requestUri": "/internal/findingsReports",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "dailyReportsOnly": {
                        "location": "querystring",
                        "locationName": "dailyReportsOnly",
                        "type": "boolean"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "reportSummaries"
                ],
                "members": {
                    "nextToken": {},
                    "reportSummaries": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42FRKVBAFQ25IK24YT4MNWOLHVSIHGCG7IDWMQVQMVEIQT67FWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWJX2LV6YEB2NJZZ6DYC7Q6HSXYR2HCNOHHIN42TFQ27EL4YROSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLOEUKG5VPXWHFG3K2AJGIMMW6AWVLDN4JHIAWJNDOHX3QMOHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NBJBTDXO4DSLVGK2RCMPOFXMPSLHTQX5QEGE4J6M26YS4DUTGWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLVEFSYGE4JBOTOEGB6AGDTUREH222J4HWSJCX4QWYJ6H5B72XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQMVIU25AAIURI75VX5Z3PL7D5BJPATV65R35YOQMIRMJ563TODA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KDTWE6MFTEMBM72GWUJRDIIF5S22WSQFIXNCZF2ZMEBJ7QNXVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetNotificationConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/profilingGroups/{profilingGroupName}/notificationConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "profilingGroupName"
                ],
                "members": {
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "notificationConfiguration"
                ],
                "members": {
                    "notificationConfiguration": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42FRKVBAFQ25IK24YT4MNWOLHVSIHGCG7IDWMQVQMVEIQT67FWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWJX2LV6YEB2NJZZ6DYC7Q6HSXYR2HCNOHHIN42TFQ27EL4YROSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLOEUKG5VPXWHFG3K2AJGIMMW6AWVLDN4JHIAWJNDOHX3QMOHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NBJBTDXO4DSLVGK2RCMPOFXMPSLHTQX5QEGE4J6M26YS4DUTGWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLVEFSYGE4JBOTOEGB6AGDTUREH222J4HWSJCX4QWYJ6H5B72XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQMVIU25AAIURI75VX5Z3PL7D5BJPATV65R35YOQMIRMJ563TODA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KDTWE6MFTEMBM72GWUJRDIIF5S22WSQFIXNCZF2ZMEBJ7QNXVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/profilingGroups/{profilingGroupName}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "profilingGroupName"
                ],
                "members": {
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "policy",
                    "revisionId"
                ],
                "members": {
                    "policy": {},
                    "revisionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42FRKVBAFQ25IK24YT4MNWOLHVSIHGCG7IDWMQVQMVEIQT67FWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWJX2LV6YEB2NJZZ6DYC7Q6HSXYR2HCNOHHIN42TFQ27EL4YROSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLOEUKG5VPXWHFG3K2AJGIMMW6AWVLDN4JHIAWJNDOHX3QMOHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NBJBTDXO4DSLVGK2RCMPOFXMPSLHTQX5QEGE4J6M26YS4DUTGWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLVEFSYGE4JBOTOEGB6AGDTUREH222J4HWSJCX4QWYJ6H5B72XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQMVIU25AAIURI75VX5Z3PL7D5BJPATV65R35YOQMIRMJ563TODA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KDTWE6MFTEMBM72GWUJRDIIF5S22WSQFIXNCZF2ZMEBJ7QNXVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/profilingGroups/{profilingGroupName}/profile",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "profilingGroupName"
                ],
                "members": {
                    "accept": {
                        "location": "header",
                        "locationName": "Accept"
                    },
                    "endTime": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "endTime"
                    },
                    "maxDepth": {
                        "location": "querystring",
                        "locationName": "maxDepth",
                        "type": "integer"
                    },
                    "period": {
                        "location": "querystring",
                        "locationName": "period"
                    },
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    },
                    "startTime": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "startTime"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "contentType",
                    "profile"
                ],
                "members": {
                    "contentEncoding": {
                        "location": "header",
                        "locationName": "Content-Encoding"
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "profile": {
                        "type": "blob"
                    }
                },
                "payload": "profile"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42FRKVBAFQ25IK24YT4MNWOLHVSIHGCG7IDWMQVQMVEIQT67FWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWJX2LV6YEB2NJZZ6DYC7Q6HSXYR2HCNOHHIN42TFQ27EL4YROSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLOEUKG5VPXWHFG3K2AJGIMMW6AWVLDN4JHIAWJNDOHX3QMOHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NBJBTDXO4DSLVGK2RCMPOFXMPSLHTQX5QEGE4J6M26YS4DUTGWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLVEFSYGE4JBOTOEGB6AGDTUREH222J4HWSJCX4QWYJ6H5B72XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQMVIU25AAIURI75VX5Z3PL7D5BJPATV65R35YOQMIRMJ563TODA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KDTWE6MFTEMBM72GWUJRDIIF5S22WSQFIXNCZF2ZMEBJ7QNXVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetRecommendations": {
            "http": {
                "method": "GET",
                "requestUri": "/internal/profilingGroups/{profilingGroupName}/recommendations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "endTime",
                    "profilingGroupName",
                    "startTime"
                ],
                "members": {
                    "endTime": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "endTime"
                    },
                    "locale": {
                        "location": "querystring",
                        "locationName": "locale"
                    },
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    },
                    "startTime": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "startTime"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "anomalies",
                    "profileEndTime",
                    "profileStartTime",
                    "profilingGroupName",
                    "recommendations"
                ],
                "members": {
                    "anomalies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "instances",
                                "metric",
                                "reason"
                            ],
                            "members": {
                                "instances": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "id",
                                            "startTime"
                                        ],
                                        "members": {
                                            "endTime": {
                                                "shape": "Sc"
                                            },
                                            "id": {},
                                            "startTime": {
                                                "shape": "Sc"
                                            },
                                            "userFeedback": {
                                                "type": "structure",
                                                "required": [
                                                    "type"
                                                ],
                                                "members": {
                                                    "type": {}
                                                }
                                            }
                                        }
                                    }
                                },
                                "metric": {
                                    "type": "structure",
                                    "required": [
                                        "frameName",
                                        "threadStates",
                                        "type"
                                    ],
                                    "members": {
                                        "frameName": {},
                                        "threadStates": {
                                            "shape": "S26"
                                        },
                                        "type": {}
                                    }
                                },
                                "reason": {}
                            }
                        }
                    },
                    "profileEndTime": {
                        "shape": "Sc"
                    },
                    "profileStartTime": {
                        "shape": "Sc"
                    },
                    "profilingGroupName": {},
                    "recommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "allMatchesCount",
                                "allMatchesSum",
                                "endTime",
                                "pattern",
                                "startTime",
                                "topMatches"
                            ],
                            "members": {
                                "allMatchesCount": {
                                    "type": "integer"
                                },
                                "allMatchesSum": {
                                    "type": "double"
                                },
                                "endTime": {
                                    "shape": "Sc"
                                },
                                "pattern": {
                                    "type": "structure",
                                    "members": {
                                        "countersToAggregate": {
                                            "shape": "S26"
                                        },
                                        "description": {},
                                        "id": {},
                                        "name": {},
                                        "resolutionSteps": {},
                                        "targetFrames": {
                                            "type": "list",
                                            "member": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        },
                                        "thresholdPercent": {
                                            "type": "double"
                                        }
                                    }
                                },
                                "startTime": {
                                    "shape": "Sc"
                                },
                                "topMatches": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "frameAddress": {},
                                            "targetFramesIndex": {
                                                "type": "integer"
                                            },
                                            "thresholdBreachValue": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42FRKVBAFQ25IK24YT4MNWOLHVSIHGCG7IDWMQVQMVEIQT67FWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWJX2LV6YEB2NJZZ6DYC7Q6HSXYR2HCNOHHIN42TFQ27EL4YROSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLOEUKG5VPXWHFG3K2AJGIMMW6AWVLDN4JHIAWJNDOHX3QMOHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NBJBTDXO4DSLVGK2RCMPOFXMPSLHTQX5QEGE4J6M26YS4DUTGWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLVEFSYGE4JBOTOEGB6AGDTUREH222J4HWSJCX4QWYJ6H5B72XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQMVIU25AAIURI75VX5Z3PL7D5BJPATV65R35YOQMIRMJ563TODA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KDTWE6MFTEMBM72GWUJRDIIF5S22WSQFIXNCZF2ZMEBJ7QNXVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListFindingsReports": {
            "http": {
                "method": "GET",
                "requestUri": "/internal/profilingGroups/{profilingGroupName}/findingsReports",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "endTime",
                    "profilingGroupName",
                    "startTime"
                ],
                "members": {
                    "dailyReportsOnly": {
                        "location": "querystring",
                        "locationName": "dailyReportsOnly",
                        "type": "boolean"
                    },
                    "endTime": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "endTime"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    },
                    "startTime": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "startTime"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "findingsReportSummaries"
                ],
                "members": {
                    "findingsReportSummaries": {
                        "shape": "S1k"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42FRKVBAFQ25IK24YT4MNWOLHVSIHGCG7IDWMQVQMVEIQT67FWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWJX2LV6YEB2NJZZ6DYC7Q6HSXYR2HCNOHHIN42TFQ27EL4YROSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLOEUKG5VPXWHFG3K2AJGIMMW6AWVLDN4JHIAWJNDOHX3QMOHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NBJBTDXO4DSLVGK2RCMPOFXMPSLHTQX5QEGE4J6M26YS4DUTGWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLVEFSYGE4JBOTOEGB6AGDTUREH222J4HWSJCX4QWYJ6H5B72XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQMVIU25AAIURI75VX5Z3PL7D5BJPATV65R35YOQMIRMJ563TODA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KDTWE6MFTEMBM72GWUJRDIIF5S22WSQFIXNCZF2ZMEBJ7QNXVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListProfileTimes": {
            "http": {
                "method": "GET",
                "requestUri": "/profilingGroups/{profilingGroupName}/profileTimes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "endTime",
                    "period",
                    "profilingGroupName",
                    "startTime"
                ],
                "members": {
                    "endTime": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "endTime"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "orderBy": {
                        "location": "querystring",
                        "locationName": "orderBy"
                    },
                    "period": {
                        "location": "querystring",
                        "locationName": "period"
                    },
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    },
                    "startTime": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "startTime"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profileTimes"
                ],
                "members": {
                    "nextToken": {},
                    "profileTimes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "start": {
                                    "shape": "Sc"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42FRKVBAFQ25IK24YT4MNWOLHVSIHGCG7IDWMQVQMVEIQT67FWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWJX2LV6YEB2NJZZ6DYC7Q6HSXYR2HCNOHHIN42TFQ27EL4YROSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLOEUKG5VPXWHFG3K2AJGIMMW6AWVLDN4JHIAWJNDOHX3QMOHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NBJBTDXO4DSLVGK2RCMPOFXMPSLHTQX5QEGE4J6M26YS4DUTGWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLVEFSYGE4JBOTOEGB6AGDTUREH222J4HWSJCX4QWYJ6H5B72XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQMVIU25AAIURI75VX5Z3PL7D5BJPATV65R35YOQMIRMJ563TODA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KDTWE6MFTEMBM72GWUJRDIIF5S22WSQFIXNCZF2ZMEBJ7QNXVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListProfilingGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/profilingGroups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "includeDescription": {
                        "location": "querystring",
                        "locationName": "includeDescription",
                        "type": "boolean"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profilingGroupNames"
                ],
                "members": {
                    "nextToken": {},
                    "profilingGroupNames": {
                        "type": "list",
                        "member": {}
                    },
                    "profilingGroups": {
                        "type": "list",
                        "member": {
                            "shape": "S18"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42FRKVBAFQ25IK24YT4MNWOLHVSIHGCG7IDWMQVQMVEIQT67FWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWJX2LV6YEB2NJZZ6DYC7Q6HSXYR2HCNOHHIN42TFQ27EL4YROSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLOEUKG5VPXWHFG3K2AJGIMMW6AWVLDN4JHIAWJNDOHX3QMOHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NBJBTDXO4DSLVGK2RCMPOFXMPSLHTQX5QEGE4J6M26YS4DUTGWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLVEFSYGE4JBOTOEGB6AGDTUREH222J4HWSJCX4QWYJ6H5B72XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQMVIU25AAIURI75VX5Z3PL7D5BJPATV65R35YOQMIRMJ563TODA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KDTWE6MFTEMBM72GWUJRDIIF5S22WSQFIXNCZF2ZMEBJ7QNXVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42FRKVBAFQ25IK24YT4MNWOLHVSIHGCG7IDWMQVQMVEIQT67FWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWJX2LV6YEB2NJZZ6DYC7Q6HSXYR2HCNOHHIN42TFQ27EL4YROSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLOEUKG5VPXWHFG3K2AJGIMMW6AWVLDN4JHIAWJNDOHX3QMOHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NBJBTDXO4DSLVGK2RCMPOFXMPSLHTQX5QEGE4J6M26YS4DUTGWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLVEFSYGE4JBOTOEGB6AGDTUREH222J4HWSJCX4QWYJ6H5B72XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQMVIU25AAIURI75VX5Z3PL7D5BJPATV65R35YOQMIRMJ563TODA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KDTWE6MFTEMBM72GWUJRDIIF5S22WSQFIXNCZF2ZMEBJ7QNXVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "PostAgentProfile": {
            "http": {
                "requestUri": "/profilingGroups/{profilingGroupName}/agentProfile",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "agentProfile",
                    "contentType",
                    "profilingGroupName"
                ],
                "members": {
                    "agentProfile": {
                        "type": "blob"
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "profileToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "profileToken"
                    },
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    }
                },
                "payload": "agentProfile"
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42FRKVBAFQ25IK24YT4MNWOLHVSIHGCG7IDWMQVQMVEIQT67FWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWJX2LV6YEB2NJZZ6DYC7Q6HSXYR2HCNOHHIN42TFQ27EL4YROSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLOEUKG5VPXWHFG3K2AJGIMMW6AWVLDN4JHIAWJNDOHX3QMOHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NBJBTDXO4DSLVGK2RCMPOFXMPSLHTQX5QEGE4J6M26YS4DUTGWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLVEFSYGE4JBOTOEGB6AGDTUREH222J4HWSJCX4QWYJ6H5B72XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQMVIU25AAIURI75VX5Z3PL7D5BJPATV65R35YOQMIRMJ563TODA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KDTWE6MFTEMBM72GWUJRDIIF5S22WSQFIXNCZF2ZMEBJ7QNXVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "PutPermission": {
            "http": {
                "method": "PUT",
                "requestUri": "/profilingGroups/{profilingGroupName}/policy/{actionGroup}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "actionGroup",
                    "principals",
                    "profilingGroupName"
                ],
                "members": {
                    "actionGroup": {
                        "location": "uri",
                        "locationName": "actionGroup"
                    },
                    "principals": {
                        "type": "list",
                        "member": {}
                    },
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    },
                    "revisionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "policy",
                    "revisionId"
                ],
                "members": {
                    "policy": {},
                    "revisionId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42FRKVBAFQ25IK24YT4MNWOLHVSIHGCG7IDWMQVQMVEIQT67FWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWJX2LV6YEB2NJZZ6DYC7Q6HSXYR2HCNOHHIN42TFQ27EL4YROSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLOEUKG5VPXWHFG3K2AJGIMMW6AWVLDN4JHIAWJNDOHX3QMOHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NBJBTDXO4DSLVGK2RCMPOFXMPSLHTQX5QEGE4J6M26YS4DUTGWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLVEFSYGE4JBOTOEGB6AGDTUREH222J4HWSJCX4QWYJ6H5B72XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQMVIU25AAIURI75VX5Z3PL7D5BJPATV65R35YOQMIRMJ563TODA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KDTWE6MFTEMBM72GWUJRDIIF5S22WSQFIXNCZF2ZMEBJ7QNXVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "RemoveNotificationChannel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/profilingGroups/{profilingGroupName}/notificationConfiguration/{channelId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "channelId",
                    "profilingGroupName"
                ],
                "members": {
                    "channelId": {
                        "location": "uri",
                        "locationName": "channelId"
                    },
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "notificationConfiguration": {
                        "shape": "Sa"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42FRKVBAFQ25IK24YT4MNWOLHVSIHGCG7IDWMQVQMVEIQT67FWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWJX2LV6YEB2NJZZ6DYC7Q6HSXYR2HCNOHHIN42TFQ27EL4YROSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLOEUKG5VPXWHFG3K2AJGIMMW6AWVLDN4JHIAWJNDOHX3QMOHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NBJBTDXO4DSLVGK2RCMPOFXMPSLHTQX5QEGE4J6M26YS4DUTGWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLVEFSYGE4JBOTOEGB6AGDTUREH222J4HWSJCX4QWYJ6H5B72XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQMVIU25AAIURI75VX5Z3PL7D5BJPATV65R35YOQMIRMJ563TODA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KDTWE6MFTEMBM72GWUJRDIIF5S22WSQFIXNCZF2ZMEBJ7QNXVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "RemovePermission": {
            "http": {
                "method": "DELETE",
                "requestUri": "/profilingGroups/{profilingGroupName}/policy/{actionGroup}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "actionGroup",
                    "profilingGroupName",
                    "revisionId"
                ],
                "members": {
                    "actionGroup": {
                        "location": "uri",
                        "locationName": "actionGroup"
                    },
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    },
                    "revisionId": {
                        "location": "querystring",
                        "locationName": "revisionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "policy",
                    "revisionId"
                ],
                "members": {
                    "policy": {},
                    "revisionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42FRKVBAFQ25IK24YT4MNWOLHVSIHGCG7IDWMQVQMVEIQT67FWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWJX2LV6YEB2NJZZ6DYC7Q6HSXYR2HCNOHHIN42TFQ27EL4YROSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLOEUKG5VPXWHFG3K2AJGIMMW6AWVLDN4JHIAWJNDOHX3QMOHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NBJBTDXO4DSLVGK2RCMPOFXMPSLHTQX5QEGE4J6M26YS4DUTGWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLVEFSYGE4JBOTOEGB6AGDTUREH222J4HWSJCX4QWYJ6H5B72XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQMVIU25AAIURI75VX5Z3PL7D5BJPATV65R35YOQMIRMJ563TODA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KDTWE6MFTEMBM72GWUJRDIIF5S22WSQFIXNCZF2ZMEBJ7QNXVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "SubmitFeedback": {
            "http": {
                "requestUri": "/internal/profilingGroups/{profilingGroupName}/anomalies/{anomalyInstanceId}/feedback",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "anomalyInstanceId",
                    "profilingGroupName",
                    "type"
                ],
                "members": {
                    "anomalyInstanceId": {
                        "location": "uri",
                        "locationName": "anomalyInstanceId"
                    },
                    "comment": {},
                    "profilingGroupName": {
                        "location": "uri",
                        "locationName": "profilingGroupName"
                    },
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42FRKVBAFQ25IK24YT4MNWOLHVSIHGCG7IDWMQVQMVEIQT67FWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWJX2LV6YEB2NJZZ6DYC7Q6HSXYR2HCNOHHIN42TFQ27EL4YROSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLOEUKG5VPXWHFG3K2AJGIMMW6AWVLDN4JHIAWJNDOHX3QMOHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NBJBTDXO4DSLVGK2RCMPOFXMPSLHTQX5QEGE4J6M26YS4DUTGWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLVEFSYGE4JBOTOEGB6AGDTUREH222J4HWSJCX4QWYJ6H5B72XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQMVIU25AAIURI75VX5Z3PL7D5BJPATV65R35YOQMIRMJ563TODA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
[...]
