{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2014-06-30",
        "endpointPrefix": "cognito-identity",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Cognito Identity",
        "serviceId": "Cognito Identity",
        "signatureVersion": "v4",
        "targetPrefix": "AWSCognitoIdentityService",
        "uid": "cognito-identity-2014-06-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
        ]
    },
    "operations": {
        "CreateIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolName",
                    "AllowUnauthenticatedIdentities"
                ],
                "members": {
                    "IdentityPoolName": {},
                    "AllowUnauthenticatedIdentities": {
                        "type": "boolean"
                    },
                    "AllowClassicFlow": {
                        "type": "boolean"
                    },
                    "SupportedLoginProviders": {
                        "shape": "S5"
                    },
                    "DeveloperProviderName": {},
                    "OpenIdConnectProviderARNs": {
                        "shape": "S9"
                    },
                    "CognitoIdentityProviders": {
                        "shape": "Sb"
                    },
                    "SamlProviderARNs": {
                        "shape": "Sg"
                    },
                    "IdentityPoolTags": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DeleteIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityIdsToDelete"
                ],
                "members": {
                    "IdentityIdsToDelete": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UnprocessedIdentityIds": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityId": {},
                                "ErrorCode": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DeleteIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DescribeIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {}
                }
            },
            "output": {
                "shape": "Sv"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DescribeIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "GetCredentialsForIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    },
                    "CustomRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Credentials": {
                        "type": "structure",
                        "members": {
                            "AccessKeyId": {},
                            "SecretKey": {},
                            "SessionToken": {},
                            "Expiration": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "GetId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "AccountId": {},
                    "IdentityPoolId": {},
                    "Logins": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {}
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "GetIdentityPoolRoles": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "Roles": {
                        "shape": "S1c"
                    },
                    "RoleMappings": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "GetOpenIdToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Token": {}
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "GetOpenIdTokenForDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Logins"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    },
                    "TokenDuration": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Token": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "GetPrincipalTagAttributeMap": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderName"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "ListIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "MaxResults"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "HideDisabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "Identities": {
                        "type": "list",
                        "member": {
                            "shape": "Sv"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "ListIdentityPools": {
            "input": {
                "type": "structure",
                "required": [
                    "MaxResults"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPools": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityPoolId": {},
                                "IdentityPoolName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "LookupDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityId": {},
                    "DeveloperUserIdentifier": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "DeveloperUserIdentifierList": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "MergeDeveloperIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceUserIdentifier",
                    "DestinationUserIdentifier",
                    "DeveloperProviderName",
                    "IdentityPoolId"
                ],
                "members": {
                    "SourceUserIdentifier": {},
                    "DestinationUserIdentifier": {},
                    "DeveloperProviderName": {},
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "SetIdentityPoolRoles": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Roles"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "Roles": {
                        "shape": "S1c"
                    },
                    "RoleMappings": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "SetPrincipalTagAttributeMap": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderName"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "UnlinkDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "IdentityPoolId",
                    "DeveloperProviderName",
                    "DeveloperUserIdentifier"
                ],
                "members": {
                    "IdentityId": {},
                    "IdentityPoolId": {},
                    "DeveloperProviderName": {},
                    "DeveloperUserIdentifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "UnlinkIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "Logins",
                    "LoginsToRemove"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    },
                    "LoginsToRemove": {
                        "shape": "Sw"
                    }
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "UpdateIdentityPool": {
            "input": {
                "shape": "Sk"
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S9": {
            "type": "list",
            "member": {}
        },
        "Sb": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ProviderName": {},
                    "ClientId": {},
                    "ServerSideTokenCheck": {
                        "type": "boolean"
                    }
                }
            }
        },
        "Sg": {
            "type": "list",
            "member": {}
        },
        "Sh": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sk": {
            "type": "structure",
            "required": [
                "IdentityPoolId",
                "IdentityPoolName",
                "AllowUnauthenticatedIdentities"
            ],
            "members": {
                "IdentityPoolId": {},
                "IdentityPoolName": {},
                "AllowUnauthenticatedIdentities": {
                    "type": "boolean"
                },
                "AllowClassicFlow": {
                    "type": "boolean"
                },
                "SupportedLoginProviders": {
                    "shape": "S5"
                },
                "DeveloperProviderName": {},
                "OpenIdConnectProviderARNs": {
                    "shape": "S9"
                },
                "CognitoIdentityProviders": {
                    "shape": "Sb"
                },
                "SamlProviderARNs": {
                    "shape": "Sg"
                },
                "IdentityPoolTags": {
                    "shape": "Sh"
                }
            }
        },
        "Sv": {
            "type": "structure",
            "members": {
                "IdentityId": {},
                "Logins": {
                    "shape": "Sw"
                },
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                }
            }
        },
        "Sw": {
            "type": "list",
            "member": {}
        },
        "S10": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1c": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1e": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "Type"
                ],
                "members": {
                    "Type": {},
                    "AmbiguousRoleResolution": {},
                    "RulesConfiguration": {
                        "type": "structure",
                        "required": [
                            "Rules"
                        ],
                        "members": {
                            "Rules": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Claim",
                                        "MatchType",
                                        "Value",
                                        "RoleARN"
                                    ],
                                    "members": {
                                        "Claim": {},
                                        "MatchType": {},
                                        "Value": {},
                                        "RoleARN": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "S1s": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S4": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S8": {
            "type": "list",
            "member": {}
        },
        "Sa": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ProviderName": {},
                    "ClientId": {},
                    "ServerSideTokenCheck": {
                        "type": "boolean"
                    }
                }
            }
        },
        "Sf": {
            "type": "list",
            "member": {}
        },
        "Sj": {
            "type": "structure",
            "required": [
                "IdentityPoolId",
                "IdentityPoolName",
                "AllowUnauthenticatedIdentities"
            ],
            "members": {
                "IdentityPoolId": {},
                "IdentityPoolName": {},
                "AllowUnauthenticatedIdentities": {
                    "type": "boolean"
                },
                "SupportedLoginProviders": {
                    "shape": "S4"
                },
                "DeveloperProviderName": {},
                "OpenIdConnectProviderARNs": {
                    "shape": "S8"
                },
                "CognitoIdentityProviders": {
                    "shape": "Sa"
                },
                "SamlProviderARNs": {
                    "shape": "Sf"
                },
                "IdentityPoolTags": {
                    "shape": "Sg"
                }
            }
        },
        "Su": {
            "type": "structure",
            "members": {
                "IdentityId": {},
                "Logins": {
                    "shape": "Sv"
                },
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                }
            }
        },
        "Sz": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1b": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1d": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "Type"
                ],
                "members": {
                    "Type": {},
                    "AmbiguousRoleResolution": {},
                    "RulesConfiguration": {
                        "type": "structure",
                        "required": [
                            "Rules"
                        ],
                        "members": {
                            "Rules": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Claim",
                                        "MatchType",
                                        "Value",
                                        "RoleARN"
                                    ],
                                    "members": {
                                        "Claim": {},
                                        "MatchType": {},
[...]
