{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2014-06-30",
        "endpointPrefix": "cognito-identity",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Cognito Identity",
        "serviceId": "Cognito Identity",
        "signatureVersion": "v4",
        "targetPrefix": "AWSCognitoIdentityService",
        "uid": "cognito-identity-2014-06-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
        ]
    },
    "operations": {
        "CreateIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolName",
                    "AllowUnauthenticatedIdentities"
                ],
                "members": {
                    "IdentityPoolName": {},
                    "AllowUnauthenticatedIdentities": {
                        "type": "boolean"
                    },
                    "AllowClassicFlow": {
                        "type": "boolean"
                    },
                    "SupportedLoginProviders": {
                        "shape": "S5"
                    },
                    "DeveloperProviderName": {},
                    "OpenIdConnectProviderARNs": {
                        "shape": "S9"
                    },
                    "CognitoIdentityProviders": {
                        "shape": "Sb"
                    },
                    "SamlProviderARNs": {
                        "shape": "Sg"
                    },
                    "IdentityPoolTags": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "DeleteIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityIdsToDelete"
                ],
                "members": {
                    "IdentityIdsToDelete": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UnprocessedIdentityIds": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityId": {},
                                "ErrorCode": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "DeleteIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "DescribeIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {}
                }
            },
            "output": {
                "shape": "Sv"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "DescribeIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "GetCredentialsForIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    },
                    "CustomRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Credentials": {
                        "type": "structure",
                        "members": {
                            "AccessKeyId": {},
                            "SecretKey": {},
                            "SessionToken": {},
                            "Expiration": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "GetId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "AccountId": {},
                    "IdentityPoolId": {},
                    "Logins": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {}
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "GetIdentityPoolRoles": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "Roles": {
                        "shape": "S1c"
                    },
                    "RoleMappings": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "GetOpenIdToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Token": {}
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "GetOpenIdTokenForDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Logins"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    },
                    "TokenDuration": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Token": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "GetPrincipalTagAttributeMap": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderName"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "ListIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "MaxResults"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "HideDisabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "Identities": {
                        "type": "list",
                        "member": {
                            "shape": "Sv"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "ListIdentityPools": {
            "input": {
                "type": "structure",
                "required": [
                    "MaxResults"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPools": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityPoolId": {},
                                "IdentityPoolName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "LookupDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityId": {},
                    "DeveloperUserIdentifier": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "DeveloperUserIdentifierList": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "MergeDeveloperIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceUserIdentifier",
                    "DestinationUserIdentifier",
                    "DeveloperProviderName",
                    "IdentityPoolId"
                ],
                "members": {
                    "SourceUserIdentifier": {},
                    "DestinationUserIdentifier": {},
                    "DeveloperProviderName": {},
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "SetIdentityPoolRoles": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Roles"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "Roles": {
                        "shape": "S1c"
                    },
                    "RoleMappings": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "SetPrincipalTagAttributeMap": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderName"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "UnlinkDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "IdentityPoolId",
                    "DeveloperProviderName",
                    "DeveloperUserIdentifier"
                ],
                "members": {
                    "IdentityId": {},
                    "IdentityPoolId": {},
                    "DeveloperProviderName": {},
                    "DeveloperUserIdentifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "UnlinkIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "Logins",
                    "LoginsToRemove"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    },
                    "LoginsToRemove": {
                        "shape": "Sw"
                    }
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "UpdateIdentityPool": {
            "input": {
                "shape": "Sk"
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S9": {
            "type": "list",
            "member": {}
        },
        "Sb": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ProviderName": {},
                    "ClientId": {},
                    "ServerSideTokenCheck": {
                        "type": "boolean"
                    }
                }
            }
        },
        "Sg": {
            "type": "list",
            "member": {}
        },
        "Sh": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sk": {
            "type": "structure",
            "required": [
                "IdentityPoolId",
                "IdentityPoolName",
                "AllowUnauthenticatedIdentities"
            ],
            "members": {
                "IdentityPoolId": {},
                "IdentityPoolName": {},
                "AllowUnauthenticatedIdentities": {
                    "type": "boolean"
                },
                "AllowClassicFlow": {
                    "type": "boolean"
                },
                "SupportedLoginProviders": {
                    "shape": "S5"
                },
                "DeveloperProviderName": {},
                "OpenIdConnectProviderARNs": {
                    "shape": "S9"
                },
                "CognitoIdentityProviders": {
                    "shape": "Sb"
                },
                "SamlProviderARNs": {
                    "shape": "Sg"
                },
                "IdentityPoolTags": {
                    "shape": "Sh"
                }
            }
        },
        "Sv": {
            "type": "structure",
            "members": {
                "IdentityId": {},
                "Logins": {
                    "shape": "Sw"
                },
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                }
            }
        },
        "Sw": {
            "type": "list",
            "member": {}
        },
        "S10": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1c": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1e": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "Type"
                ],
                "members": {
                    "Type": {},
                    "AmbiguousRoleResolution": {},
                    "RulesConfiguration": {
                        "type": "structure",
                        "required": [
                            "Rules"
                        ],
                        "members": {
                            "Rules": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Claim",
                                        "MatchType",
                                        "Value",
                                        "RoleARN"
                                    ],
                                    "members": {
                                        "Claim": {},
                                        "MatchType": {},
                                        "Value": {},
                                        "RoleARN": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "S1s": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S4": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S8": {
            "type": "list",
            "member": {}
        },
        "Sa": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ProviderName": {},
                    "ClientId": {},
                    "ServerSideTokenCheck": {
                        "type": "boolean"
                    }
                }
            }
        },
        "Sf": {
            "type": "list",
            "member": {}
        },
        "Sj": {
            "type": "structure",
            "required": [
                "IdentityPoolId",
                "IdentityPoolName",
                "AllowUnauthenticatedIdentities"
            ],
            "members": {
                "IdentityPoolId": {},
                "IdentityPoolName": {},
                "AllowUnauthenticatedIdentities": {
                    "type": "boolean"
                },
                "SupportedLoginProviders": {
                    "shape": "S4"
                },
                "DeveloperProviderName": {},
                "OpenIdConnectProviderARNs": {
                    "shape": "S8"
                },
                "CognitoIdentityProviders": {
                    "shape": "Sa"
                },
                "SamlProviderARNs": {
                    "shape": "Sf"
                },
                "IdentityPoolTags": {
                    "shape": "Sg"
                }
            }
        },
        "Su": {
            "type": "structure",
            "members": {
                "IdentityId": {},
                "Logins": {
                    "shape": "Sv"
                },
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                }
            }
        },
        "Sz": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1b": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1d": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "Type"
                ],
                "members": {
                    "Type": {},
                    "AmbiguousRoleResolution": {},
                    "RulesConfiguration": {
                        "type": "structure",
                        "required": [
                            "Rules"
                        ],
                        "members": {
                            "Rules": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Claim",
                                        "MatchType",
                                        "Value",
                                        "RoleARN"
                                    ],
                                    "members": {
                                        "Claim": {},
                                        "MatchType": {},
                                        "Value": {},
                                        "RoleARN": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "Sr": {
            "type": "structure",
            "members": {
                "IdentityId": {},
                "Logins": {
                    "shape": "Ss"
                },
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                }
            }
        },
        "Ss": {
            "type": "list",
            "member": {}
        },
        "S18": {
            "type": "map",
[...]
