{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2014-06-30",
        "endpointPrefix": "cognito-identity",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Cognito Identity",
        "serviceId": "Cognito Identity",
        "signatureVersion": "v4",
        "targetPrefix": "AWSCognitoIdentityService",
        "uid": "cognito-identity-2014-06-30",
        "download_location": [
            "https://d2ziyq7zksuzai.cloudfront.net/1690924662887/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
        ]
    },
    "operations": {
        "CreateIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolName",
                    "AllowUnauthenticatedIdentities"
                ],
                "members": {
                    "IdentityPoolName": {},
                    "AllowUnauthenticatedIdentities": {
                        "type": "boolean"
                    },
                    "AllowClassicFlow": {
                        "type": "boolean"
                    },
                    "SupportedLoginProviders": {
                        "shape": "S5"
                    },
                    "DeveloperProviderName": {},
                    "OpenIdConnectProviderARNs": {
                        "shape": "S9"
                    },
                    "CognitoIdentityProviders": {
                        "shape": "Sb"
                    },
                    "SamlProviderARNs": {
                        "shape": "Sg"
                    },
                    "IdentityPoolTags": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "DeleteIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityIdsToDelete"
                ],
                "members": {
                    "IdentityIdsToDelete": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UnprocessedIdentityIds": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityId": {},
                                "ErrorCode": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "DeleteIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "DescribeIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {}
                }
            },
            "output": {
                "shape": "Sv"
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "DescribeIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "GetCredentialsForIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    },
                    "CustomRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Credentials": {
                        "type": "structure",
                        "members": {
                            "AccessKeyId": {},
                            "SecretKey": {},
                            "SessionToken": {},
                            "Expiration": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "authtype": "none",
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "GetId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "AccountId": {},
                    "IdentityPoolId": {},
                    "Logins": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {}
                }
            },
            "authtype": "none",
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "GetIdentityPoolRoles": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "Roles": {
                        "shape": "S1c"
                    },
                    "RoleMappings": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "GetOpenIdToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Token": {}
                }
            },
            "authtype": "none",
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "GetOpenIdTokenForDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Logins"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    },
                    "TokenDuration": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Token": {}
                }
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "GetPrincipalTagAttributeMap": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderName"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://d1naxcrxd07icq.cloudfront.net/js/insightsExplorer_Prod_v2460b9632e2dd73ca46b6a6141110c339b41b76a.gz.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "ListIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "MaxResults"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "HideDisabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "Identities": {
                        "type": "list",
                        "member": {
                            "shape": "Sv"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "ListIdentityPools": {
            "input": {
                "type": "structure",
                "required": [
                    "MaxResults"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPools": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityPoolId": {},
                                "IdentityPoolName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://d1naxcrxd07icq.cloudfront.net/js/insightsExplorer_Prod_v2460b9632e2dd73ca46b6a6141110c339b41b76a.gz.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "LookupDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityId": {},
                    "DeveloperUserIdentifier": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "DeveloperUserIdentifierList": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "MergeDeveloperIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceUserIdentifier",
                    "DestinationUserIdentifier",
                    "DeveloperProviderName",
                    "IdentityPoolId"
                ],
                "members": {
                    "SourceUserIdentifier": {},
                    "DestinationUserIdentifier": {},
                    "DeveloperProviderName": {},
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {}
                }
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "SetIdentityPoolRoles": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Roles"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "Roles": {
                        "shape": "S1c"
                    },
                    "RoleMappings": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "SetPrincipalTagAttributeMap": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderName"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://d1naxcrxd07icq.cloudfront.net/js/insightsExplorer_Prod_v2460b9632e2dd73ca46b6a6141110c339b41b76a.gz.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d1naxcrxd07icq.cloudfront.net/js/insightsExplorer_Prod_v2460b9632e2dd73ca46b6a6141110c339b41b76a.gz.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "UnlinkDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "IdentityPoolId",
                    "DeveloperProviderName",
                    "DeveloperUserIdentifier"
                ],
                "members": {
                    "IdentityId": {},
                    "IdentityPoolId": {},
                    "DeveloperProviderName": {},
                    "DeveloperUserIdentifier": {}
                }
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "UnlinkIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "Logins",
                    "LoginsToRemove"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    },
                    "LoginsToRemove": {
                        "shape": "Sw"
                    }
                }
            },
            "authtype": "none",
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d1naxcrxd07icq.cloudfront.net/js/insightsExplorer_Prod_v2460b9632e2dd73ca46b6a6141110c339b41b76a.gz.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "UpdateIdentityPool": {
            "input": {
                "shape": "Sk"
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S9": {
            "type": "list",
            "member": {}
        },
        "Sb": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ProviderName": {},
                    "ClientId": {},
                    "ServerSideTokenCheck": {
                        "type": "boolean"
                    }
                }
            }
        },
        "Sg": {
            "type": "list",
            "member": {}
        },
        "Sh": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sk": {
            "type": "structure",
            "required": [
                "IdentityPoolId",
                "IdentityPoolName",
                "AllowUnauthenticatedIdentities"
            ],
            "members": {
                "IdentityPoolId": {},
                "IdentityPoolName": {},
                "AllowUnauthenticatedIdentities": {
                    "type": "boolean"
                },
                "AllowClassicFlow": {
                    "type": "boolean"
                },
                "SupportedLoginProviders": {
                    "shape": "S5"
                },
                "DeveloperProviderName": {},
                "OpenIdConnectProviderARNs": {
                    "shape": "S9"
                },
                "CognitoIdentityProviders": {
                    "shape": "Sb"
                },
                "SamlProviderARNs": {
                    "shape": "Sg"
                },
                "IdentityPoolTags": {
                    "shape": "Sh"
                }
            }
        },
        "Sv": {
            "type": "structure",
            "members": {
                "IdentityId": {},
                "Logins": {
                    "shape": "Sw"
                },
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                }
            }
        },
        "Sw": {
            "type": "list",
            "member": {}
        },
        "S10": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1c": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1e": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "Type"
                ],
                "members": {
                    "Type": {},
                    "AmbiguousRoleResolution": {},
                    "RulesConfiguration": {
                        "type": "structure",
                        "required": [
                            "Rules"
                        ],
                        "members": {
                            "Rules": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Claim",
                                        "MatchType",
                                        "Value",
                                        "RoleARN"
                                    ],
                                    "members": {
                                        "Claim": {},
                                        "MatchType": {},
                                        "Value": {},
                                        "RoleARN": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "S1s": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S4": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S8": {
            "type": "list",
            "member": {}
        },
        "Sa": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ProviderName": {},
                    "ClientId": {},
                    "ServerSideTokenCheck": {
                        "type": "boolean"
                    }
                }
            }
        },
        "Sf": {
            "type": "list",
            "member": {}
        },
        "Sj": {
            "type": "structure",
            "required": [
                "IdentityPoolId",
                "IdentityPoolName",
                "AllowUnauthenticatedIdentities"
            ],
            "members": {
                "IdentityPoolId": {},
                "IdentityPoolName": {},
                "AllowUnauthenticatedIdentities": {
                    "type": "boolean"
                },
                "SupportedLoginProviders": {
                    "shape": "S4"
                },
                "DeveloperProviderName": {},
                "OpenIdConnectProviderARNs": {
                    "shape": "S8"
                },
                "CognitoIdentityProviders": {
                    "shape": "Sa"
                },
                "SamlProviderARNs": {
                    "shape": "Sf"
                },
                "IdentityPoolTags": {
                    "shape": "Sg"
                }
            }
        },
        "Su": {
            "type": "structure",
            "members": {
                "IdentityId": {},
                "Logins": {
                    "shape": "Sv"
                },
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                }
            }
        },
        "Sz": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1b": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1d": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "Type"
                ],
                "members": {
                    "Type": {},
                    "AmbiguousRoleResolution": {},
                    "RulesConfiguration": {
                        "type": "structure",
                        "required": [
                            "Rules"
                        ],
                        "members": {
                            "Rules": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Claim",
                                        "MatchType",
                                        "Value",
                                        "RoleARN"
                                    ],
                                    "members": {
                                        "Claim": {},
                                        "MatchType": {},
                                        "Value": {},
                                        "RoleARN": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "Sr": {
            "type": "structure",
            "members": {
                "IdentityId": {},
                "Logins": {
                    "shape": "Ss"
                },
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                }
            }
        },
        "Ss": {
            "type": "list",
            "member": {}
        },
        "S18": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1a": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "Type"
                ],
                "members": {
                    "Type": {},
                    "AmbiguousRoleResolution": {},
                    "RulesConfiguration": {
                        "type": "structure",
                        "required": [
                            "Rules"
                        ],
                        "members": {
                            "Rules": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Claim",
                                        "MatchType",
                                        "Value",
                                        "RoleARN"
                                    ],
                                    "members": {
                                        "Claim": {},
                                        "MatchType": {},
                                        "Value": {},
                                        "RoleARN": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}