{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2014-06-30",
        "endpointPrefix": "cognito-identity",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Cognito Identity",
        "serviceId": "Cognito Identity",
        "signatureVersion": "v4",
        "targetPrefix": "AWSCognitoIdentityService",
        "uid": "cognito-identity-2014-06-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5A6LRLUETPMU2TRIVDDJDRLOH6KUES26KX3DJS7FSTLIKUJRCC5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/D4CP6FIBRCYNQRRWZLWJM3FTO3XJPXK5FAW3JF36SVHHWGI7ZGNQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1706307031707/main_en.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HBZUFYLOMR4ZFN4TWCTCVG63LPGKALHR7GQOZ4IB2UKTIVDCODLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BBCB64Q7MMFNGOMM2ZOD64IJ44QVTNHB6ZZFMN74WXD2CLHUKDJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QGNQUOMWKILYWANFVIHLDSWYDZI2KWUNQW7CCKC6GLJM6M7IMYOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
        ]
    },
    "operations": {
        "CreateIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolName",
                    "AllowUnauthenticatedIdentities"
                ],
                "members": {
                    "IdentityPoolName": {},
                    "AllowUnauthenticatedIdentities": {
                        "type": "boolean"
                    },
                    "AllowClassicFlow": {
                        "type": "boolean"
                    },
                    "SupportedLoginProviders": {
                        "shape": "S5"
                    },
                    "DeveloperProviderName": {},
                    "OpenIdConnectProviderARNs": {
                        "shape": "S9"
                    },
                    "CognitoIdentityProviders": {
                        "shape": "Sb"
                    },
                    "SamlProviderARNs": {
                        "shape": "Sg"
                    },
                    "IdentityPoolTags": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6LRLUETPMU2TRIVDDJDRLOH6KUES26KX3DJS7FSTLIKUJRCC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D4CP6FIBRCYNQRRWZLWJM3FTO3XJPXK5FAW3JF36SVHHWGI7ZGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1706307031707/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBZUFYLOMR4ZFN4TWCTCVG63LPGKALHR7GQOZ4IB2UKTIVDCODLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBCB64Q7MMFNGOMM2ZOD64IJ44QVTNHB6ZZFMN74WXD2CLHUKDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGNQUOMWKILYWANFVIHLDSWYDZI2KWUNQW7CCKC6GLJM6M7IMYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "DeleteIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityIdsToDelete"
                ],
                "members": {
                    "IdentityIdsToDelete": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UnprocessedIdentityIds": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityId": {},
                                "ErrorCode": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6LRLUETPMU2TRIVDDJDRLOH6KUES26KX3DJS7FSTLIKUJRCC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D4CP6FIBRCYNQRRWZLWJM3FTO3XJPXK5FAW3JF36SVHHWGI7ZGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1706307031707/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBZUFYLOMR4ZFN4TWCTCVG63LPGKALHR7GQOZ4IB2UKTIVDCODLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBCB64Q7MMFNGOMM2ZOD64IJ44QVTNHB6ZZFMN74WXD2CLHUKDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGNQUOMWKILYWANFVIHLDSWYDZI2KWUNQW7CCKC6GLJM6M7IMYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "DeleteIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6LRLUETPMU2TRIVDDJDRLOH6KUES26KX3DJS7FSTLIKUJRCC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D4CP6FIBRCYNQRRWZLWJM3FTO3XJPXK5FAW3JF36SVHHWGI7ZGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1706307031707/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBZUFYLOMR4ZFN4TWCTCVG63LPGKALHR7GQOZ4IB2UKTIVDCODLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBCB64Q7MMFNGOMM2ZOD64IJ44QVTNHB6ZZFMN74WXD2CLHUKDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGNQUOMWKILYWANFVIHLDSWYDZI2KWUNQW7CCKC6GLJM6M7IMYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "DescribeIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {}
                }
            },
            "output": {
                "shape": "Sv"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6LRLUETPMU2TRIVDDJDRLOH6KUES26KX3DJS7FSTLIKUJRCC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D4CP6FIBRCYNQRRWZLWJM3FTO3XJPXK5FAW3JF36SVHHWGI7ZGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1706307031707/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBZUFYLOMR4ZFN4TWCTCVG63LPGKALHR7GQOZ4IB2UKTIVDCODLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBCB64Q7MMFNGOMM2ZOD64IJ44QVTNHB6ZZFMN74WXD2CLHUKDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGNQUOMWKILYWANFVIHLDSWYDZI2KWUNQW7CCKC6GLJM6M7IMYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "DescribeIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6LRLUETPMU2TRIVDDJDRLOH6KUES26KX3DJS7FSTLIKUJRCC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D4CP6FIBRCYNQRRWZLWJM3FTO3XJPXK5FAW3JF36SVHHWGI7ZGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1706307031707/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBZUFYLOMR4ZFN4TWCTCVG63LPGKALHR7GQOZ4IB2UKTIVDCODLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBCB64Q7MMFNGOMM2ZOD64IJ44QVTNHB6ZZFMN74WXD2CLHUKDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGNQUOMWKILYWANFVIHLDSWYDZI2KWUNQW7CCKC6GLJM6M7IMYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "GetCredentialsForIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    },
                    "CustomRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Credentials": {
                        "type": "structure",
                        "members": {
                            "AccessKeyId": {},
                            "SecretKey": {},
                            "SessionToken": {},
                            "Expiration": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6LRLUETPMU2TRIVDDJDRLOH6KUES26KX3DJS7FSTLIKUJRCC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D4CP6FIBRCYNQRRWZLWJM3FTO3XJPXK5FAW3JF36SVHHWGI7ZGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1706307031707/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBZUFYLOMR4ZFN4TWCTCVG63LPGKALHR7GQOZ4IB2UKTIVDCODLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBCB64Q7MMFNGOMM2ZOD64IJ44QVTNHB6ZZFMN74WXD2CLHUKDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGNQUOMWKILYWANFVIHLDSWYDZI2KWUNQW7CCKC6GLJM6M7IMYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "GetId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "AccountId": {},
                    "IdentityPoolId": {},
                    "Logins": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {}
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6LRLUETPMU2TRIVDDJDRLOH6KUES26KX3DJS7FSTLIKUJRCC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D4CP6FIBRCYNQRRWZLWJM3FTO3XJPXK5FAW3JF36SVHHWGI7ZGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1706307031707/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBZUFYLOMR4ZFN4TWCTCVG63LPGKALHR7GQOZ4IB2UKTIVDCODLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBCB64Q7MMFNGOMM2ZOD64IJ44QVTNHB6ZZFMN74WXD2CLHUKDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGNQUOMWKILYWANFVIHLDSWYDZI2KWUNQW7CCKC6GLJM6M7IMYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "GetIdentityPoolRoles": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "Roles": {
                        "shape": "S1c"
                    },
                    "RoleMappings": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6LRLUETPMU2TRIVDDJDRLOH6KUES26KX3DJS7FSTLIKUJRCC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D4CP6FIBRCYNQRRWZLWJM3FTO3XJPXK5FAW3JF36SVHHWGI7ZGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1706307031707/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBZUFYLOMR4ZFN4TWCTCVG63LPGKALHR7GQOZ4IB2UKTIVDCODLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBCB64Q7MMFNGOMM2ZOD64IJ44QVTNHB6ZZFMN74WXD2CLHUKDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGNQUOMWKILYWANFVIHLDSWYDZI2KWUNQW7CCKC6GLJM6M7IMYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "GetOpenIdToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Token": {}
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6LRLUETPMU2TRIVDDJDRLOH6KUES26KX3DJS7FSTLIKUJRCC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D4CP6FIBRCYNQRRWZLWJM3FTO3XJPXK5FAW3JF36SVHHWGI7ZGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1706307031707/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBZUFYLOMR4ZFN4TWCTCVG63LPGKALHR7GQOZ4IB2UKTIVDCODLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBCB64Q7MMFNGOMM2ZOD64IJ44QVTNHB6ZZFMN74WXD2CLHUKDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGNQUOMWKILYWANFVIHLDSWYDZI2KWUNQW7CCKC6GLJM6M7IMYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "GetOpenIdTokenForDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Logins"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    },
                    "TokenDuration": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Token": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6LRLUETPMU2TRIVDDJDRLOH6KUES26KX3DJS7FSTLIKUJRCC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D4CP6FIBRCYNQRRWZLWJM3FTO3XJPXK5FAW3JF36SVHHWGI7ZGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1706307031707/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBZUFYLOMR4ZFN4TWCTCVG63LPGKALHR7GQOZ4IB2UKTIVDCODLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBCB64Q7MMFNGOMM2ZOD64IJ44QVTNHB6ZZFMN74WXD2CLHUKDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGNQUOMWKILYWANFVIHLDSWYDZI2KWUNQW7CCKC6GLJM6M7IMYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "GetPrincipalTagAttributeMap": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderName"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://d1naxcrxd07icq.cloudfront.net/js/insightsExplorer_Prod_ve4dfc139ffb65f30c0a015139afc530eff2e0103.gz.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6LRLUETPMU2TRIVDDJDRLOH6KUES26KX3DJS7FSTLIKUJRCC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D4CP6FIBRCYNQRRWZLWJM3FTO3XJPXK5FAW3JF36SVHHWGI7ZGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1706307031707/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBZUFYLOMR4ZFN4TWCTCVG63LPGKALHR7GQOZ4IB2UKTIVDCODLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBCB64Q7MMFNGOMM2ZOD64IJ44QVTNHB6ZZFMN74WXD2CLHUKDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGNQUOMWKILYWANFVIHLDSWYDZI2KWUNQW7CCKC6GLJM6M7IMYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "ListIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "MaxResults"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "HideDisabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "Identities": {
                        "type": "list",
                        "member": {
                            "shape": "Sv"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6LRLUETPMU2TRIVDDJDRLOH6KUES26KX3DJS7FSTLIKUJRCC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D4CP6FIBRCYNQRRWZLWJM3FTO3XJPXK5FAW3JF36SVHHWGI7ZGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1706307031707/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBZUFYLOMR4ZFN4TWCTCVG63LPGKALHR7GQOZ4IB2UKTIVDCODLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBCB64Q7MMFNGOMM2ZOD64IJ44QVTNHB6ZZFMN74WXD2CLHUKDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGNQUOMWKILYWANFVIHLDSWYDZI2KWUNQW7CCKC6GLJM6M7IMYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "ListIdentityPools": {
            "input": {
                "type": "structure",
                "required": [
                    "MaxResults"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPools": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityPoolId": {},
                                "IdentityPoolName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6LRLUETPMU2TRIVDDJDRLOH6KUES26KX3DJS7FSTLIKUJRCC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D4CP6FIBRCYNQRRWZLWJM3FTO3XJPXK5FAW3JF36SVHHWGI7ZGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1706307031707/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBZUFYLOMR4ZFN4TWCTCVG63LPGKALHR7GQOZ4IB2UKTIVDCODLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBCB64Q7MMFNGOMM2ZOD64IJ44QVTNHB6ZZFMN74WXD2CLHUKDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGNQUOMWKILYWANFVIHLDSWYDZI2KWUNQW7CCKC6GLJM6M7IMYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6LRLUETPMU2TRIVDDJDRLOH6KUES26KX3DJS7FSTLIKUJRCC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D4CP6FIBRCYNQRRWZLWJM3FTO3XJPXK5FAW3JF36SVHHWGI7ZGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1706307031707/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBZUFYLOMR4ZFN4TWCTCVG63LPGKALHR7GQOZ4IB2UKTIVDCODLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBCB64Q7MMFNGOMM2ZOD64IJ44QVTNHB6ZZFMN74WXD2CLHUKDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGNQUOMWKILYWANFVIHLDSWYDZI2KWUNQW7CCKC6GLJM6M7IMYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "LookupDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityId": {},
                    "DeveloperUserIdentifier": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "DeveloperUserIdentifierList": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6LRLUETPMU2TRIVDDJDRLOH6KUES26KX3DJS7FSTLIKUJRCC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D4CP6FIBRCYNQRRWZLWJM3FTO3XJPXK5FAW3JF36SVHHWGI7ZGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1706307031707/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBZUFYLOMR4ZFN4TWCTCVG63LPGKALHR7GQOZ4IB2UKTIVDCODLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBCB64Q7MMFNGOMM2ZOD64IJ44QVTNHB6ZZFMN74WXD2CLHUKDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGNQUOMWKILYWANFVIHLDSWYDZI2KWUNQW7CCKC6GLJM6M7IMYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "MergeDeveloperIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceUserIdentifier",
                    "DestinationUserIdentifier",
                    "DeveloperProviderName",
                    "IdentityPoolId"
                ],
                "members": {
                    "SourceUserIdentifier": {},
                    "DestinationUserIdentifier": {},
                    "DeveloperProviderName": {},
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6LRLUETPMU2TRIVDDJDRLOH6KUES26KX3DJS7FSTLIKUJRCC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D4CP6FIBRCYNQRRWZLWJM3FTO3XJPXK5FAW3JF36SVHHWGI7ZGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1706307031707/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBZUFYLOMR4ZFN4TWCTCVG63LPGKALHR7GQOZ4IB2UKTIVDCODLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBCB64Q7MMFNGOMM2ZOD64IJ44QVTNHB6ZZFMN74WXD2CLHUKDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGNQUOMWKILYWANFVIHLDSWYDZI2KWUNQW7CCKC6GLJM6M7IMYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "SetIdentityPoolRoles": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Roles"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "Roles": {
                        "shape": "S1c"
                    },
                    "RoleMappings": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6LRLUETPMU2TRIVDDJDRLOH6KUES26KX3DJS7FSTLIKUJRCC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D4CP6FIBRCYNQRRWZLWJM3FTO3XJPXK5FAW3JF36SVHHWGI7ZGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1706307031707/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBZUFYLOMR4ZFN4TWCTCVG63LPGKALHR7GQOZ4IB2UKTIVDCODLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBCB64Q7MMFNGOMM2ZOD64IJ44QVTNHB6ZZFMN74WXD2CLHUKDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGNQUOMWKILYWANFVIHLDSWYDZI2KWUNQW7CCKC6GLJM6M7IMYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "SetPrincipalTagAttributeMap": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderName"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://d1naxcrxd07icq.cloudfront.net/js/insightsExplorer_Prod_ve4dfc139ffb65f30c0a015139afc530eff2e0103.gz.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6LRLUETPMU2TRIVDDJDRLOH6KUES26KX3DJS7FSTLIKUJRCC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D4CP6FIBRCYNQRRWZLWJM3FTO3XJPXK5FAW3JF36SVHHWGI7ZGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1706307031707/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBZUFYLOMR4ZFN4TWCTCVG63LPGKALHR7GQOZ4IB2UKTIVDCODLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBCB64Q7MMFNGOMM2ZOD64IJ44QVTNHB6ZZFMN74WXD2CLHUKDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGNQUOMWKILYWANFVIHLDSWYDZI2KWUNQW7CCKC6GLJM6M7IMYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6LRLUETPMU2TRIVDDJDRLOH6KUES26KX3DJS7FSTLIKUJRCC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D4CP6FIBRCYNQRRWZLWJM3FTO3XJPXK5FAW3JF36SVHHWGI7ZGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1706307031707/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBZUFYLOMR4ZFN4TWCTCVG63LPGKALHR7GQOZ4IB2UKTIVDCODLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBCB64Q7MMFNGOMM2ZOD64IJ44QVTNHB6ZZFMN74WXD2CLHUKDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGNQUOMWKILYWANFVIHLDSWYDZI2KWUNQW7CCKC6GLJM6M7IMYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "UnlinkDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "IdentityPoolId",
                    "DeveloperProviderName",
                    "DeveloperUserIdentifier"
                ],
                "members": {
                    "IdentityId": {},
                    "IdentityPoolId": {},
                    "DeveloperProviderName": {},
                    "DeveloperUserIdentifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6LRLUETPMU2TRIVDDJDRLOH6KUES26KX3DJS7FSTLIKUJRCC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D4CP6FIBRCYNQRRWZLWJM3FTO3XJPXK5FAW3JF36SVHHWGI7ZGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1706307031707/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBZUFYLOMR4ZFN4TWCTCVG63LPGKALHR7GQOZ4IB2UKTIVDCODLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBCB64Q7MMFNGOMM2ZOD64IJ44QVTNHB6ZZFMN74WXD2CLHUKDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGNQUOMWKILYWANFVIHLDSWYDZI2KWUNQW7CCKC6GLJM6M7IMYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "UnlinkIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "Logins",
                    "LoginsToRemove"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    },
                    "LoginsToRemove": {
                        "shape": "Sw"
                    }
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6LRLUETPMU2TRIVDDJDRLOH6KUES26KX3DJS7FSTLIKUJRCC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D4CP6FIBRCYNQRRWZLWJM3FTO3XJPXK5FAW3JF36SVHHWGI7ZGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1706307031707/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBZUFYLOMR4ZFN4TWCTCVG63LPGKALHR7GQOZ4IB2UKTIVDCODLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBCB64Q7MMFNGOMM2ZOD64IJ44QVTNHB6ZZFMN74WXD2CLHUKDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGNQUOMWKILYWANFVIHLDSWYDZI2KWUNQW7CCKC6GLJM6M7IMYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6LRLUETPMU2TRIVDDJDRLOH6KUES26KX3DJS7FSTLIKUJRCC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D4CP6FIBRCYNQRRWZLWJM3FTO3XJPXK5FAW3JF36SVHHWGI7ZGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1706307031707/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBZUFYLOMR4ZFN4TWCTCVG63LPGKALHR7GQOZ4IB2UKTIVDCODLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBCB64Q7MMFNGOMM2ZOD64IJ44QVTNHB6ZZFMN74WXD2CLHUKDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGNQUOMWKILYWANFVIHLDSWYDZI2KWUNQW7CCKC6GLJM6M7IMYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "UpdateIdentityPool": {
            "input": {
                "shape": "Sk"
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6LRLUETPMU2TRIVDDJDRLOH6KUES26KX3DJS7FSTLIKUJRCC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOGFKNQ3KS75VQDNMIWJP6CUX5JL4X3Z7H62OL3IMHG7T2BUCTOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D4CP6FIBRCYNQRRWZLWJM3FTO3XJPXK5FAW3JF36SVHHWGI7ZGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1706307031707/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBZUFYLOMR4ZFN4TWCTCVG63LPGKALHR7GQOZ4IB2UKTIVDCODLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBCB64Q7MMFNGOMM2ZOD64IJ44QVTNHB6ZZFMN74WXD2CLHUKDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGNQUOMWKILYWANFVIHLDSWYDZI2KWUNQW7CCKC6GLJM6M7IMYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S9": {
            "type": "list",
            "member": {}
        },
        "Sb": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ProviderName": {},
                    "ClientId": {},
                    "ServerSideTokenCheck": {
                        "type": "boolean"
                    }
                }
            }
        },
        "Sg": {
            "type": "list",
            "member": {}
        },
        "Sh": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sk": {
            "type": "structure",
            "required": [
                "IdentityPoolId",
                "IdentityPoolName",
                "AllowUnauthenticatedIdentities"
            ],
            "members": {
                "IdentityPoolId": {},
                "IdentityPoolName": {},
                "AllowUnauthenticatedIdentities": {
                    "type": "boolean"
                },
                "AllowClassicFlow": {
                    "type": "boolean"
                },
                "SupportedLoginProviders": {
                    "shape": "S5"
                },
                "DeveloperProviderName": {},
                "OpenIdConnectProviderARNs": {
                    "shape": "S9"
                },
                "CognitoIdentityProviders": {
                    "shape": "Sb"
                },
                "SamlProviderARNs": {
                    "shape": "Sg"
                },
                "IdentityPoolTags": {
                    "shape": "Sh"
                }
            }
        },
        "Sv": {
            "type": "structure",
            "members": {
                "IdentityId": {},
                "Logins": {
                    "shape": "Sw"
                },
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                }
            }
        },
        "Sw": {
            "type": "list",
            "member": {}
        },
        "S10": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1c": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1e": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "Type"
                ],
                "members": {
                    "Type": {},
                    "AmbiguousRoleResolution": {},
                    "RulesConfiguration": {
                        "type": "structure",
                        "required": [
                            "Rules"
                        ],
                        "members": {
                            "Rules": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Claim",
                                        "MatchType",
                                        "Value",
                                        "RoleARN"
                                    ],
                                    "members": {
                                        "Claim": {},
                                        "MatchType": {},
                                        "Value": {},
                                        "RoleARN": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "S1s": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S4": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S8": {
            "type": "list",
            "member": {}
        },
        "Sa": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ProviderName": {},
                    "ClientId": {},
                    "ServerSideTokenCheck": {
                        "type": "boolean"
                    }
                }
            }
        },
        "Sf": {
            "type": "list",
            "member": {}
        },
        "Sj": {
            "type": "structure",
            "required": [
                "IdentityPoolId",
                "IdentityPoolName",
                "AllowUnauthenticatedIdentities"
            ],
            "members": {
                "IdentityPoolId": {},
                "IdentityPoolName": {},
                "AllowUnauthenticatedIdentities": {
                    "type": "boolean"
                },
                "SupportedLoginProviders": {
                    "shape": "S4"
                },
                "DeveloperProviderName": {},
                "OpenIdConnectProviderARNs": {
                    "shape": "S8"
                },
                "CognitoIdentityProviders": {
                    "shape": "Sa"
                },
                "SamlProviderARNs": {
                    "shape": "Sf"
                },
                "IdentityPoolTags": {
                    "shape": "Sg"
                }
            }
        },
        "Su": {
            "type": "structure",
            "members": {
                "IdentityId": {},
                "Logins": {
                    "shape": "Sv"
                },
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                }
            }
        },
        "Sz": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1b": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1d": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "Type"
                ],
                "members": {
                    "Type": {},
                    "AmbiguousRoleResolution": {},
                    "RulesConfiguration": {
                        "type": "structure",
                        "required": [
                            "Rules"
                        ],
                        "members": {
                            "Rules": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Claim",
                                        "MatchType",
                                        "Value",
                                        "RoleARN"
                                    ],
                                    "members": {
                                        "Claim": {},
                                        "MatchType": {},
                                        "Value": {},
                                        "RoleARN": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "Sr": {
            "type": "structure",
            "members": {
                "IdentityId": {},
                "Logins": {
                    "shape": "Ss"
                },
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                }
            }
        },
        "Ss": {
            "type": "list",
            "member": {}
        },
        "S18": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1a": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "Type"
                ],
                "members": {
                    "Type": {},
                    "AmbiguousRoleResolution": {},
                    "RulesConfiguration": {
                        "type": "structure",
                        "required": [
                            "Rules"
                        ],
                        "members": {
                            "Rules": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Claim",
                                        "MatchType",
                                        "Value",
[...]
