{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2014-06-30",
        "endpointPrefix": "cognito-identity",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Cognito Identity",
        "serviceId": "Cognito Identity",
        "signatureVersion": "v4",
        "targetPrefix": "AWSCognitoIdentityService",
        "uid": "cognito-identity-2014-06-30",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
        ]
    },
    "operations": {
        "CreateIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolName",
                    "AllowUnauthenticatedIdentities"
                ],
                "members": {
                    "IdentityPoolName": {},
                    "AllowUnauthenticatedIdentities": {
                        "type": "boolean"
                    },
                    "AllowClassicFlow": {
                        "type": "boolean"
                    },
                    "SupportedLoginProviders": {
                        "shape": "S5"
                    },
                    "DeveloperProviderName": {},
                    "OpenIdConnectProviderARNs": {
                        "shape": "S9"
                    },
                    "CognitoIdentityProviders": {
                        "shape": "Sb"
                    },
                    "SamlProviderARNs": {
                        "shape": "Sg"
                    },
                    "IdentityPoolTags": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DeleteIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityIdsToDelete"
                ],
                "members": {
                    "IdentityIdsToDelete": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UnprocessedIdentityIds": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityId": {},
                                "ErrorCode": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DeleteIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DescribeIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {}
                }
            },
            "output": {
                "shape": "Sv"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DescribeIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "GetCredentialsForIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    },
                    "CustomRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Credentials": {
                        "type": "structure",
                        "members": {
                            "AccessKeyId": {},
                            "SecretKey": {},
                            "SessionToken": {},
                            "Expiration": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "authtype": "none",
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "GetId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "AccountId": {},
                    "IdentityPoolId": {},
                    "Logins": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {}
                }
            },
            "authtype": "none",
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "GetIdentityPoolRoles": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "Roles": {
                        "shape": "S1c"
                    },
                    "RoleMappings": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "GetOpenIdToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Token": {}
                }
            },
            "authtype": "none",
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "GetOpenIdTokenForDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Logins"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    },
                    "TokenDuration": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Token": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "GetPrincipalTagAttributeMap": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderName"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "ListIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "MaxResults"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "HideDisabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "Identities": {
                        "type": "list",
                        "member": {
                            "shape": "Sv"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "ListIdentityPools": {
            "input": {
                "type": "structure",
                "required": [
                    "MaxResults"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPools": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityPoolId": {},
                                "IdentityPoolName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "LookupDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityId": {},
                    "DeveloperUserIdentifier": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "DeveloperUserIdentifierList": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "MergeDeveloperIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceUserIdentifier",
                    "DestinationUserIdentifier",
                    "DeveloperProviderName",
                    "IdentityPoolId"
                ],
                "members": {
                    "SourceUserIdentifier": {},
                    "DestinationUserIdentifier": {},
                    "DeveloperProviderName": {},
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "SetIdentityPoolRoles": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Roles"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "Roles": {
                        "shape": "S1c"
                    },
                    "RoleMappings": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "SetPrincipalTagAttributeMap": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderName"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "UnlinkDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "IdentityPoolId",
                    "DeveloperProviderName",
                    "DeveloperUserIdentifier"
                ],
                "members": {
                    "IdentityId": {},
                    "IdentityPoolId": {},
                    "DeveloperProviderName": {},
                    "DeveloperUserIdentifier": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "UnlinkIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "Logins",
                    "LoginsToRemove"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    },
                    "LoginsToRemove": {
                        "shape": "Sw"
                    }
                }
            },
            "authtype": "none",
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "UpdateIdentityPool": {
            "input": {
                "shape": "Sk"
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S9": {
            "type": "list",
            "member": {}
        },
        "Sb": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ProviderName": {},
                    "ClientId": {},
                    "ServerSideTokenCheck": {
                        "type": "boolean"
                    }
                }
            }
        },
        "Sg": {
            "type": "list",
            "member": {}
        },
        "Sh": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sk": {
            "type": "structure",
            "required": [
                "IdentityPoolId",
                "IdentityPoolName",
                "AllowUnauthenticatedIdentities"
            ],
            "members": {
                "IdentityPoolId": {},
                "IdentityPoolName": {},
                "AllowUnauthenticatedIdentities": {
                    "type": "boolean"
                },
                "AllowClassicFlow": {
                    "type": "boolean"
                },
                "SupportedLoginProviders": {
                    "shape": "S5"
                },
                "DeveloperProviderName": {},
                "OpenIdConnectProviderARNs": {
                    "shape": "S9"
                },
                "CognitoIdentityProviders": {
                    "shape": "Sb"
                },
                "SamlProviderARNs": {
                    "shape": "Sg"
                },
                "IdentityPoolTags": {
                    "shape": "Sh"
                }
            }
        },
        "Sv": {
            "type": "structure",
            "members": {
                "IdentityId": {},
                "Logins": {
                    "shape": "Sw"
                },
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                }
            }
        },
        "Sw": {
            "type": "list",
            "member": {}
        },
        "S10": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1c": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1e": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "Type"
                ],
                "members": {
                    "Type": {},
                    "AmbiguousRoleResolution": {},
                    "RulesConfiguration": {
                        "type": "structure",
                        "required": [
                            "Rules"
                        ],
                        "members": {
                            "Rules": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Claim",
                                        "MatchType",
                                        "Value",
                                        "RoleARN"
                                    ],
                                    "members": {
                                        "Claim": {},
                                        "MatchType": {},
                                        "Value": {},
                                        "RoleARN": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "S1s": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S4": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S8": {
            "type": "list",
            "member": {}
        },
        "Sa": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ProviderName": {},
                    "ClientId": {},
                    "ServerSideTokenCheck": {
                        "type": "boolean"
                    }
                }
            }
        },
        "Sf": {
            "type": "list",
            "member": {}
        },
        "Sj": {
            "type": "structure",
            "required": [
                "IdentityPoolId",
                "IdentityPoolName",
                "AllowUnauthenticatedIdentities"
            ],
            "members": {
                "IdentityPoolId": {},
                "IdentityPoolName": {},
                "AllowUnauthenticatedIdentities": {
                    "type": "boolean"
                },
                "SupportedLoginProviders": {
                    "shape": "S4"
                },
                "DeveloperProviderName": {},
                "OpenIdConnectProviderARNs": {
                    "shape": "S8"
                },
                "CognitoIdentityProviders": {
                    "shape": "Sa"
                },
                "SamlProviderARNs": {
                    "shape": "Sf"
                },
                "IdentityPoolTags": {
                    "shape": "Sg"
                }
            }
        },
        "Su": {
            "type": "structure",
            "members": {
                "IdentityId": {},
                "Logins": {
                    "shape": "Sv"
                },
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                }
            }
        },
        "Sz": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1b": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1d": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "Type"
                ],
                "members": {
                    "Type": {},
                    "AmbiguousRoleResolution": {},
                    "RulesConfiguration": {
                        "type": "structure",
                        "required": [
                            "Rules"
                        ],
                        "members": {
                            "Rules": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Claim",
[...]
