{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-04-18",
        "endpointPrefix": "cognito-idp",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Cognito Identity Provider",
        "serviceId": "Cognito Identity Provider",
        "signatureVersion": "v4",
        "targetPrefix": "AWSCognitoIdentityProviderService",
        "uid": "cognito-idp-2016-04-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YT36SENBGSNGKPOJ3GI6MMWGG7JHH2MNG4P2OEL7O6XAA2XUVQZA/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZZBR7PA5PQAEVWFLKWDC3GREMTMW5XJFYLIHCQTC7JD4UGRNIT6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZHG4NKFJL5BA73O7ZPBWHVW6RN7MDQJ567EE2LA3JFQZUSJ3FJIA/707f3fa0fdd5e510dd67b2df9df3704e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
        ]
    },
    "operations": {
        "AddCustomAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "CustomAttributes"
                ],
                "members": {
                    "UserPoolId": {},
                    "CustomAttributes": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT36SENBGSNGKPOJ3GI6MMWGG7JHH2MNG4P2OEL7O6XAA2XUVQZA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZBR7PA5PQAEVWFLKWDC3GREMTMW5XJFYLIHCQTC7JD4UGRNIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHG4NKFJL5BA73O7ZPBWHVW6RN7MDQJ567EE2LA3JFQZUSJ3FJIA/707f3fa0fdd5e510dd67b2df9df3704e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "AdminAddUserToGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username",
                    "GroupName"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "GroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT36SENBGSNGKPOJ3GI6MMWGG7JHH2MNG4P2OEL7O6XAA2XUVQZA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZBR7PA5PQAEVWFLKWDC3GREMTMW5XJFYLIHCQTC7JD4UGRNIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHG4NKFJL5BA73O7ZPBWHVW6RN7MDQJ567EE2LA3JFQZUSJ3FJIA/707f3fa0fdd5e510dd67b2df9df3704e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "AdminConfirmSignUp": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "ClientMetadata": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT36SENBGSNGKPOJ3GI6MMWGG7JHH2MNG4P2OEL7O6XAA2XUVQZA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZBR7PA5PQAEVWFLKWDC3GREMTMW5XJFYLIHCQTC7JD4UGRNIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHG4NKFJL5BA73O7ZPBWHVW6RN7MDQJ567EE2LA3JFQZUSJ3FJIA/707f3fa0fdd5e510dd67b2df9df3704e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "AdminCreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "UserAttributes": {
                        "shape": "Sj"
                    },
                    "ValidationData": {
                        "shape": "Sj"
                    },
                    "TemporaryPassword": {
                        "shape": "Sn"
                    },
                    "ForceAliasCreation": {
                        "type": "boolean"
                    },
                    "MessageAction": {},
                    "DesiredDeliveryMediums": {
                        "type": "list",
                        "member": {}
                    },
                    "ClientMetadata": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "User": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT36SENBGSNGKPOJ3GI6MMWGG7JHH2MNG4P2OEL7O6XAA2XUVQZA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZBR7PA5PQAEVWFLKWDC3GREMTMW5XJFYLIHCQTC7JD4UGRNIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHG4NKFJL5BA73O7ZPBWHVW6RN7MDQJ567EE2LA3JFQZUSJ3FJIA/707f3fa0fdd5e510dd67b2df9df3704e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "AdminDeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT36SENBGSNGKPOJ3GI6MMWGG7JHH2MNG4P2OEL7O6XAA2XUVQZA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZBR7PA5PQAEVWFLKWDC3GREMTMW5XJFYLIHCQTC7JD4UGRNIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHG4NKFJL5BA73O7ZPBWHVW6RN7MDQJ567EE2LA3JFQZUSJ3FJIA/707f3fa0fdd5e510dd67b2df9df3704e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "AdminDeleteUserAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username",
                    "UserAttributeNames"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "UserAttributeNames": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT36SENBGSNGKPOJ3GI6MMWGG7JHH2MNG4P2OEL7O6XAA2XUVQZA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZBR7PA5PQAEVWFLKWDC3GREMTMW5XJFYLIHCQTC7JD4UGRNIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHG4NKFJL5BA73O7ZPBWHVW6RN7MDQJ567EE2LA3JFQZUSJ3FJIA/707f3fa0fdd5e510dd67b2df9df3704e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "AdminDisableProviderForUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "User"
                ],
                "members": {
                    "UserPoolId": {},
                    "User": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT36SENBGSNGKPOJ3GI6MMWGG7JHH2MNG4P2OEL7O6XAA2XUVQZA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZBR7PA5PQAEVWFLKWDC3GREMTMW5XJFYLIHCQTC7JD4UGRNIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHG4NKFJL5BA73O7ZPBWHVW6RN7MDQJ567EE2LA3JFQZUSJ3FJIA/707f3fa0fdd5e510dd67b2df9df3704e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "AdminDisableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT36SENBGSNGKPOJ3GI6MMWGG7JHH2MNG4P2OEL7O6XAA2XUVQZA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZBR7PA5PQAEVWFLKWDC3GREMTMW5XJFYLIHCQTC7JD4UGRNIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHG4NKFJL5BA73O7ZPBWHVW6RN7MDQJ567EE2LA3JFQZUSJ3FJIA/707f3fa0fdd5e510dd67b2df9df3704e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "AdminEnableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT36SENBGSNGKPOJ3GI6MMWGG7JHH2MNG4P2OEL7O6XAA2XUVQZA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZBR7PA5PQAEVWFLKWDC3GREMTMW5XJFYLIHCQTC7JD4UGRNIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHG4NKFJL5BA73O7ZPBWHVW6RN7MDQJ567EE2LA3JFQZUSJ3FJIA/707f3fa0fdd5e510dd67b2df9df3704e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "AdminForgetDevice": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username",
                    "DeviceKey"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "DeviceKey": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT36SENBGSNGKPOJ3GI6MMWGG7JHH2MNG4P2OEL7O6XAA2XUVQZA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZBR7PA5PQAEVWFLKWDC3GREMTMW5XJFYLIHCQTC7JD4UGRNIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHG4NKFJL5BA73O7ZPBWHVW6RN7MDQJ567EE2LA3JFQZUSJ3FJIA/707f3fa0fdd5e510dd67b2df9df3704e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "AdminGetDevice": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceKey",
                    "UserPoolId",
                    "Username"
                ],
                "members": {
                    "DeviceKey": {},
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Device"
                ],
                "members": {
                    "Device": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT36SENBGSNGKPOJ3GI6MMWGG7JHH2MNG4P2OEL7O6XAA2XUVQZA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZBR7PA5PQAEVWFLKWDC3GREMTMW5XJFYLIHCQTC7JD4UGRNIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHG4NKFJL5BA73O7ZPBWHVW6RN7MDQJ567EE2LA3JFQZUSJ3FJIA/707f3fa0fdd5e510dd67b2df9df3704e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "AdminGetUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Username"
                ],
                "members": {
                    "Username": {
                        "shape": "Sd"
                    },
                    "UserAttributes": {
                        "shape": "Sj"
                    },
                    "UserCreateDate": {
                        "type": "timestamp"
                    },
                    "UserLastModifiedDate": {
                        "type": "timestamp"
                    },
                    "Enabled": {
                        "type": "boolean"
                    },
                    "UserStatus": {},
                    "MFAOptions": {
                        "shape": "Sw"
                    },
                    "PreferredMfaSetting": {},
                    "UserMFASettingList": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT36SENBGSNGKPOJ3GI6MMWGG7JHH2MNG4P2OEL7O6XAA2XUVQZA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZBR7PA5PQAEVWFLKWDC3GREMTMW5XJFYLIHCQTC7JD4UGRNIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHG4NKFJL5BA73O7ZPBWHVW6RN7MDQJ567EE2LA3JFQZUSJ3FJIA/707f3fa0fdd5e510dd67b2df9df3704e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "AdminInitiateAuth": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "ClientId",
                    "AuthFlow"
                ],
                "members": {
                    "UserPoolId": {},
                    "ClientId": {
                        "shape": "S1j"
                    },
                    "AuthFlow": {},
                    "AuthParameters": {
                        "shape": "S1l"
                    },
                    "ClientMetadata": {
                        "shape": "Sg"
                    },
                    "AnalyticsMetadata": {
                        "shape": "S1m"
                    },
                    "ContextData": {
                        "shape": "S1n"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChallengeName": {},
                    "Session": {},
                    "ChallengeParameters": {
                        "shape": "S1t"
                    },
                    "AuthenticationResult": {
                        "shape": "S1u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT36SENBGSNGKPOJ3GI6MMWGG7JHH2MNG4P2OEL7O6XAA2XUVQZA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZBR7PA5PQAEVWFLKWDC3GREMTMW5XJFYLIHCQTC7JD4UGRNIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHG4NKFJL5BA73O7ZPBWHVW6RN7MDQJ567EE2LA3JFQZUSJ3FJIA/707f3fa0fdd5e510dd67b2df9df3704e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "AdminLinkProviderForUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "DestinationUser",
                    "SourceUser"
                ],
                "members": {
                    "UserPoolId": {},
                    "DestinationUser": {
                        "shape": "S13"
                    },
                    "SourceUser": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT36SENBGSNGKPOJ3GI6MMWGG7JHH2MNG4P2OEL7O6XAA2XUVQZA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZBR7PA5PQAEVWFLKWDC3GREMTMW5XJFYLIHCQTC7JD4UGRNIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHG4NKFJL5BA73O7ZPBWHVW6RN7MDQJ567EE2LA3JFQZUSJ3FJIA/707f3fa0fdd5e510dd67b2df9df3704e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "AdminListDevices": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "Limit": {
                        "type": "integer"
                    },
                    "PaginationToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Devices": {
                        "shape": "S24"
                    },
                    "PaginationToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT36SENBGSNGKPOJ3GI6MMWGG7JHH2MNG4P2OEL7O6XAA2XUVQZA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZBR7PA5PQAEVWFLKWDC3GREMTMW5XJFYLIHCQTC7JD4UGRNIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHG4NKFJL5BA73O7ZPBWHVW6RN7MDQJ567EE2LA3JFQZUSJ3FJIA/707f3fa0fdd5e510dd67b2df9df3704e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "AdminListGroupsForUser": {
            "input": {
                "type": "structure",
                "required": [
                    "Username",
                    "UserPoolId"
                ],
                "members": {
                    "Username": {
                        "shape": "Sd"
                    },
                    "UserPoolId": {},
                    "Limit": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Groups": {
                        "shape": "S28"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT36SENBGSNGKPOJ3GI6MMWGG7JHH2MNG4P2OEL7O6XAA2XUVQZA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZBR7PA5PQAEVWFLKWDC3GREMTMW5XJFYLIHCQTC7JD4UGRNIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHG4NKFJL5BA73O7ZPBWHVW6RN7MDQJ567EE2LA3JFQZUSJ3FJIA/707f3fa0fdd5e510dd67b2df9df3704e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "AdminListUserAuthEvents": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AuthEvents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "EventId": {},
                                "EventType": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "EventResponse": {},
                                "EventRisk": {
                                    "type": "structure",
                                    "members": {
                                        "RiskDecision": {},
                                        "RiskLevel": {},
                                        "CompromisedCredentialsDetected": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "ChallengeResponses": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "ChallengeName": {},
                                            "ChallengeResponse": {}
                                        }
                                    }
                                },
                                "EventContextData": {
                                    "type": "structure",
                                    "members": {
                                        "IpAddress": {},
                                        "DeviceName": {},
                                        "Timezone": {},
                                        "City": {},
                                        "Country": {}
                                    }
                                },
                                "EventFeedback": {
                                    "type": "structure",
                                    "required": [
                                        "FeedbackValue",
                                        "Provider"
                                    ],
                                    "members": {
                                        "FeedbackValue": {},
                                        "Provider": {},
                                        "FeedbackDate": {
                                            "type": "timestamp"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT36SENBGSNGKPOJ3GI6MMWGG7JHH2MNG4P2OEL7O6XAA2XUVQZA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZBR7PA5PQAEVWFLKWDC3GREMTMW5XJFYLIHCQTC7JD4UGRNIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHG4NKFJL5BA73O7ZPBWHVW6RN7MDQJ567EE2LA3JFQZUSJ3FJIA/707f3fa0fdd5e510dd67b2df9df3704e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "AdminRemoveUserFromGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username",
                    "GroupName"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "GroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT36SENBGSNGKPOJ3GI6MMWGG7JHH2MNG4P2OEL7O6XAA2XUVQZA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZBR7PA5PQAEVWFLKWDC3GREMTMW5XJFYLIHCQTC7JD4UGRNIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHG4NKFJL5BA73O7ZPBWHVW6RN7MDQJ567EE2LA3JFQZUSJ3FJIA/707f3fa0fdd5e510dd67b2df9df3704e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "AdminResetUserPassword": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "ClientMetadata": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT36SENBGSNGKPOJ3GI6MMWGG7JHH2MNG4P2OEL7O6XAA2XUVQZA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZBR7PA5PQAEVWFLKWDC3GREMTMW5XJFYLIHCQTC7JD4UGRNIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHG4NKFJL5BA73O7ZPBWHVW6RN7MDQJ567EE2LA3JFQZUSJ3FJIA/707f3fa0fdd5e510dd67b2df9df3704e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "AdminRespondToAuthChallenge": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "ClientId",
                    "ChallengeName"
                ],
                "members": {
                    "UserPoolId": {},
                    "ClientId": {
                        "shape": "S1j"
                    },
                    "ChallengeName": {},
                    "ChallengeResponses": {
                        "shape": "S2y"
                    },
                    "Session": {},
                    "AnalyticsMetadata": {
                        "shape": "S1m"
                    },
                    "ContextData": {
                        "shape": "S1n"
                    },
                    "ClientMetadata": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChallengeName": {},
                    "Session": {},
                    "ChallengeParameters": {
                        "shape": "S1t"
                    },
                    "AuthenticationResult": {
                        "shape": "S1u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT36SENBGSNGKPOJ3GI6MMWGG7JHH2MNG4P2OEL7O6XAA2XUVQZA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZBR7PA5PQAEVWFLKWDC3GREMTMW5XJFYLIHCQTC7JD4UGRNIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHG4NKFJL5BA73O7ZPBWHVW6RN7MDQJ567EE2LA3JFQZUSJ3FJIA/707f3fa0fdd5e510dd67b2df9df3704e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "AdminSetUserMFAPreference": {
            "input": {
                "type": "structure",
                "required": [
                    "Username",
                    "UserPoolId"
                ],
                "members": {
                    "SMSMfaSettings": {
                        "shape": "S31"
                    },
                    "SoftwareTokenMfaSettings": {
                        "shape": "S32"
                    },
                    "Username": {
                        "shape": "Sd"
                    },
                    "UserPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT36SENBGSNGKPOJ3GI6MMWGG7JHH2MNG4P2OEL7O6XAA2XUVQZA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZBR7PA5PQAEVWFLKWDC3GREMTMW5XJFYLIHCQTC7JD4UGRNIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHG4NKFJL5BA73O7ZPBWHVW6RN7MDQJ567EE2LA3JFQZUSJ3FJIA/707f3fa0fdd5e510dd67b2df9df3704e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "AdminSetUserPassword": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username",
                    "Password"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "Password": {
                        "shape": "Sn"
                    },
                    "Permanent": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT36SENBGSNGKPOJ3GI6MMWGG7JHH2MNG4P2OEL7O6XAA2XUVQZA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZBR7PA5PQAEVWFLKWDC3GREMTMW5XJFYLIHCQTC7JD4UGRNIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHG4NKFJL5BA73O7ZPBWHVW6RN7MDQJ567EE2LA3JFQZUSJ3FJIA/707f3fa0fdd5e510dd67b2df9df3704e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "AdminSetUserSettings": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username",
                    "MFAOptions"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "MFAOptions": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT36SENBGSNGKPOJ3GI6MMWGG7JHH2MNG4P2OEL7O6XAA2XUVQZA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZBR7PA5PQAEVWFLKWDC3GREMTMW5XJFYLIHCQTC7JD4UGRNIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHG4NKFJL5BA73O7ZPBWHVW6RN7MDQJ567EE2LA3JFQZUSJ3FJIA/707f3fa0fdd5e510dd67b2df9df3704e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "AdminUpdateAuthEventFeedback": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username",
                    "EventId",
                    "FeedbackValue"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "EventId": {},
                    "FeedbackValue": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT36SENBGSNGKPOJ3GI6MMWGG7JHH2MNG4P2OEL7O6XAA2XUVQZA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZBR7PA5PQAEVWFLKWDC3GREMTMW5XJFYLIHCQTC7JD4UGRNIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHG4NKFJL5BA73O7ZPBWHVW6RN7MDQJ567EE2LA3JFQZUSJ3FJIA/707f3fa0fdd5e510dd67b2df9df3704e.js",
[...]
