{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2014-06-30",
        "endpointPrefix": "cognito-sync",
        "jsonVersion": "1.1",
        "serviceFullName": "Amazon Cognito Sync",
        "serviceId": "Cognito Sync",
        "signatureVersion": "v4",
        "protocol": "rest-json",
        "uid": "cognito-sync-2014-06-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/J2YPAAGASWYU6BHUJYT6NHRZNITT5GRZXWRF2H6ZA3NYJSK7MR6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZFWQ64TAJQZNBJDDT3Q2COGP7RKNYSLEBRNTK7IBSDTHFZD4RVYA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2NPG2SOUZZ56S3LXLJZ644JGISQJI4JM3G7APCS626GH6YIHBJ6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
        ]
    },
    "operations": {
        "BulkPublish": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/bulkpublish",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YPAAGASWYU6BHUJYT6NHRZNITT5GRZXWRF2H6ZA3NYJSK7MR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFWQ64TAJQZNBJDDT3Q2COGP7RKNYSLEBRNTK7IBSDTHFZD4RVYA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NPG2SOUZZ56S3LXLJZ644JGISQJI4JM3G7APCS626GH6YIHBJ6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "DeleteDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Dataset": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YPAAGASWYU6BHUJYT6NHRZNITT5GRZXWRF2H6ZA3NYJSK7MR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFWQ64TAJQZNBJDDT3Q2COGP7RKNYSLEBRNTK7IBSDTHFZD4RVYA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NPG2SOUZZ56S3LXLJZ644JGISQJI4JM3G7APCS626GH6YIHBJ6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "DescribeDataset": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Dataset": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YPAAGASWYU6BHUJYT6NHRZNITT5GRZXWRF2H6ZA3NYJSK7MR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFWQ64TAJQZNBJDDT3Q2COGP7RKNYSLEBRNTK7IBSDTHFZD4RVYA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NPG2SOUZZ56S3LXLJZ644JGISQJI4JM3G7APCS626GH6YIHBJ6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "DescribeIdentityPoolUsage": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolUsage": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YPAAGASWYU6BHUJYT6NHRZNITT5GRZXWRF2H6ZA3NYJSK7MR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFWQ64TAJQZNBJDDT3Q2COGP7RKNYSLEBRNTK7IBSDTHFZD4RVYA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NPG2SOUZZ56S3LXLJZ644JGISQJI4JM3G7APCS626GH6YIHBJ6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "DescribeIdentityUsage": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityUsage": {
                        "type": "structure",
                        "members": {
                            "IdentityId": {},
                            "IdentityPoolId": {},
                            "LastModifiedDate": {
                                "type": "timestamp"
                            },
                            "DatasetCount": {
                                "type": "integer"
                            },
                            "DataStorage": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YPAAGASWYU6BHUJYT6NHRZNITT5GRZXWRF2H6ZA3NYJSK7MR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFWQ64TAJQZNBJDDT3Q2COGP7RKNYSLEBRNTK7IBSDTHFZD4RVYA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NPG2SOUZZ56S3LXLJZ644JGISQJI4JM3G7APCS626GH6YIHBJ6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "GetBulkPublishDetails": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/getBulkPublishDetails",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "BulkPublishStartTime": {
                        "type": "timestamp"
                    },
                    "BulkPublishCompleteTime": {
                        "type": "timestamp"
                    },
                    "BulkPublishStatus": {},
                    "FailureMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YPAAGASWYU6BHUJYT6NHRZNITT5GRZXWRF2H6ZA3NYJSK7MR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFWQ64TAJQZNBJDDT3Q2COGP7RKNYSLEBRNTK7IBSDTHFZD4RVYA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NPG2SOUZZ56S3LXLJZ644JGISQJI4JM3G7APCS626GH6YIHBJ6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "GetCognitoEvents": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/events",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Events": {
                        "shape": "Sq"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YPAAGASWYU6BHUJYT6NHRZNITT5GRZXWRF2H6ZA3NYJSK7MR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFWQ64TAJQZNBJDDT3Q2COGP7RKNYSLEBRNTK7IBSDTHFZD4RVYA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NPG2SOUZZ56S3LXLJZ644JGISQJI4JM3G7APCS626GH6YIHBJ6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "GetIdentityPoolConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "PushSync": {
                        "shape": "Sv"
                    },
                    "CognitoStreams": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YPAAGASWYU6BHUJYT6NHRZNITT5GRZXWRF2H6ZA3NYJSK7MR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFWQ64TAJQZNBJDDT3Q2COGP7RKNYSLEBRNTK7IBSDTHFZD4RVYA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NPG2SOUZZ56S3LXLJZ644JGISQJI4JM3G7APCS626GH6YIHBJ6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "ListDatasets": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Datasets": {
                        "type": "list",
                        "member": {
                            "shape": "S8"
                        }
                    },
                    "Count": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YPAAGASWYU6BHUJYT6NHRZNITT5GRZXWRF2H6ZA3NYJSK7MR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFWQ64TAJQZNBJDDT3Q2COGP7RKNYSLEBRNTK7IBSDTHFZD4RVYA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NPG2SOUZZ56S3LXLJZ644JGISQJI4JM3G7APCS626GH6YIHBJ6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "ListIdentityPoolUsage": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolUsages": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Count": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YPAAGASWYU6BHUJYT6NHRZNITT5GRZXWRF2H6ZA3NYJSK7MR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFWQ64TAJQZNBJDDT3Q2COGP7RKNYSLEBRNTK7IBSDTHFZD4RVYA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NPG2SOUZZ56S3LXLJZ644JGISQJI4JM3G7APCS626GH6YIHBJ6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "ListRecords": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/records",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "LastSyncCount": {
                        "location": "querystring",
                        "locationName": "lastSyncCount",
                        "type": "long"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "SyncSessionToken": {
                        "location": "querystring",
                        "locationName": "syncSessionToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Records": {
                        "shape": "S1c"
                    },
                    "NextToken": {},
                    "Count": {
                        "type": "integer"
                    },
                    "DatasetSyncCount": {
                        "type": "long"
                    },
                    "LastModifiedBy": {},
                    "MergedDatasetNames": {
                        "type": "list",
                        "member": {}
                    },
                    "DatasetExists": {
                        "type": "boolean"
                    },
                    "DatasetDeletedAfterRequestedSyncCount": {
                        "type": "boolean"
                    },
                    "SyncSessionToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YPAAGASWYU6BHUJYT6NHRZNITT5GRZXWRF2H6ZA3NYJSK7MR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFWQ64TAJQZNBJDDT3Q2COGP7RKNYSLEBRNTK7IBSDTHFZD4RVYA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NPG2SOUZZ56S3LXLJZ644JGISQJI4JM3G7APCS626GH6YIHBJ6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "RegisterDevice": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/identity/{IdentityId}/device",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "Platform",
                    "Token"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "Platform": {},
                    "Token": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeviceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YPAAGASWYU6BHUJYT6NHRZNITT5GRZXWRF2H6ZA3NYJSK7MR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFWQ64TAJQZNBJDDT3Q2COGP7RKNYSLEBRNTK7IBSDTHFZD4RVYA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NPG2SOUZZ56S3LXLJZ644JGISQJI4JM3G7APCS626GH6YIHBJ6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "SetCognitoEvents": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/events",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Events"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "Events": {
                        "shape": "Sq"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YPAAGASWYU6BHUJYT6NHRZNITT5GRZXWRF2H6ZA3NYJSK7MR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFWQ64TAJQZNBJDDT3Q2COGP7RKNYSLEBRNTK7IBSDTHFZD4RVYA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NPG2SOUZZ56S3LXLJZ644JGISQJI4JM3G7APCS626GH6YIHBJ6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "SetIdentityPoolConfiguration": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "PushSync": {
                        "shape": "Sv"
                    },
                    "CognitoStreams": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "PushSync": {
                        "shape": "Sv"
                    },
                    "CognitoStreams": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YPAAGASWYU6BHUJYT6NHRZNITT5GRZXWRF2H6ZA3NYJSK7MR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFWQ64TAJQZNBJDDT3Q2COGP7RKNYSLEBRNTK7IBSDTHFZD4RVYA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NPG2SOUZZ56S3LXLJZ644JGISQJI4JM3G7APCS626GH6YIHBJ6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "SubscribeToDataset": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/subscriptions/{DeviceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName",
                    "DeviceId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "DeviceId": {
                        "location": "uri",
                        "locationName": "DeviceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YPAAGASWYU6BHUJYT6NHRZNITT5GRZXWRF2H6ZA3NYJSK7MR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFWQ64TAJQZNBJDDT3Q2COGP7RKNYSLEBRNTK7IBSDTHFZD4RVYA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NPG2SOUZZ56S3LXLJZ644JGISQJI4JM3G7APCS626GH6YIHBJ6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "UnsubscribeFromDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/subscriptions/{DeviceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName",
                    "DeviceId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "DeviceId": {
                        "location": "uri",
                        "locationName": "DeviceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YPAAGASWYU6BHUJYT6NHRZNITT5GRZXWRF2H6ZA3NYJSK7MR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFWQ64TAJQZNBJDDT3Q2COGP7RKNYSLEBRNTK7IBSDTHFZD4RVYA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NPG2SOUZZ56S3LXLJZ644JGISQJI4JM3G7APCS626GH6YIHBJ6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        },
        "UpdateRecords": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName",
                    "SyncSessionToken"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "DeviceId": {},
                    "RecordPatches": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Op",
                                "Key",
                                "SyncCount"
                            ],
                            "members": {
                                "Op": {},
                                "Key": {},
                                "Value": {},
                                "SyncCount": {
                                    "type": "long"
                                },
                                "DeviceLastModifiedDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "SyncSessionToken": {},
                    "ClientContext": {
                        "location": "header",
                        "locationName": "x-amz-Client-Context"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Records": {
                        "shape": "S1c"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YPAAGASWYU6BHUJYT6NHRZNITT5GRZXWRF2H6ZA3NYJSK7MR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFWQ64TAJQZNBJDDT3Q2COGP7RKNYSLEBRNTK7IBSDTHFZD4RVYA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NPG2SOUZZ56S3LXLJZ644JGISQJI4JM3G7APCS626GH6YIHBJ6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADCLZOSOHOUR2YDLYW6OQHJIU7SQX7WVICXJZZFJN46B4WTPUY7A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G6FJX3VG57JUU52KV4FAL2G5RDTH55DUS45OBPSRQBCO76YQLOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4PG3OGKKH27ENGUX5GQV27VRW3WKB5DLWXK6TO4AD5PRLR3MJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZGNPDSHYPVQQQGVFJID5LR2ANYH3EXYDC3RWE7CX3IA2EBZOGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7XHIPO3GNGKO7INBBKBABW27WE7KDXXMYTKLCXVMIKLBHQDO2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6HOJLRRUQEURQXZIFFP75RRHTSVQACBAQPRBV5LCK6CJVMO5OA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHEOIMRZWO7XWLEXDWHKQQ4SHDGRVCUQHWM4ZJZVNKODEHAEKCUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5N6TCS3ZKXLLRENZOQTHZRQ6EN5ZIYYLXHQRK26H6Z46BUIAUOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT2N4GR2VBZX7ZZIFKXJZ5YRHSGOBFFTWYWPJRZ5EE6SIMNNJFIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6T5BRK53HV74C4PD7ROLIDZFW5OSWBAR6GLU7S7QZJ3IWQUTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KY7EQTZTYBCWHUJLM3IBPUBGM3GABH3ZIO5SWR3W7GD3NAI3ZTTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGWIR6BRMCUP5ENKCHIHXSIRSPO6NZTUKAXXDUO7W6233ZYVK24Q/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3FNH43IA2TFWSE2S6D2MKCYTVBEGUBSJ356EMP7ITYM65C5WMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFZ3NSC2SKJAIKIYNM7GGJINA4PGBRERUSMHL2WLLRZGWOFDAUA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S8": {
            "type": "structure",
            "members": {
                "IdentityId": {},
                "DatasetName": {},
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                },
                "LastModifiedBy": {},
                "DataStorage": {
                    "type": "long"
                },
                "NumRecords": {
                    "type": "long"
                }
            }
        },
        "Sg": {
            "type": "structure",
            "members": {
                "IdentityPoolId": {},
                "SyncSessionsCount": {
                    "type": "long"
                },
                "DataStorage": {
                    "type": "long"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                }
            }
        },
        "Sq": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sv": {
            "type": "structure",
            "members": {
                "ApplicationArns": {
                    "type": "list",
                    "member": {}
                },
                "RoleArn": {}
            }
        },
        "Sz": {
            "type": "structure",
            "members": {
                "StreamName": {},
                "RoleArn": {},
                "StreamingStatus": {}
            }
        },
        "S1c": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Key": {},
                    "Value": {},
                    "SyncCount": {
                        "type": "long"
                    },
                    "LastModifiedDate": {
                        "type": "timestamp"
                    },
                    "LastModifiedBy": {},
                    "DeviceLastModifiedDate": {
                        "type": "timestamp"
                    }
                }
            }
        }
    },
    "examples": {}
}