{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2014-06-30",
        "endpointPrefix": "cognito-identity",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Cognito Identity",
        "serviceId": "Cognito Identity",
        "signatureVersion": "v4",
        "targetPrefix": "AWSCognitoIdentityService",
        "uid": "cognito-identity-2014-06-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
        ]
    },
    "operations": {
        "CreateIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolName",
                    "AllowUnauthenticatedIdentities"
                ],
                "members": {
                    "IdentityPoolName": {},
                    "AllowUnauthenticatedIdentities": {
                        "type": "boolean"
                    },
                    "AllowClassicFlow": {
                        "type": "boolean"
                    },
                    "SupportedLoginProviders": {
                        "shape": "S5"
                    },
                    "DeveloperProviderName": {},
                    "OpenIdConnectProviderARNs": {
                        "shape": "S9"
                    },
                    "CognitoIdentityProviders": {
                        "shape": "Sb"
                    },
                    "SamlProviderARNs": {
                        "shape": "Sg"
                    },
                    "IdentityPoolTags": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "DeleteIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityIdsToDelete"
                ],
                "members": {
                    "IdentityIdsToDelete": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UnprocessedIdentityIds": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityId": {},
                                "ErrorCode": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "DeleteIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "DescribeIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {}
                }
            },
            "output": {
                "shape": "Sv"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "DescribeIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "GetCredentialsForIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    },
                    "CustomRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Credentials": {
                        "type": "structure",
                        "members": {
                            "AccessKeyId": {},
                            "SecretKey": {},
                            "SessionToken": {},
                            "Expiration": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "GetId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "AccountId": {},
                    "IdentityPoolId": {},
                    "Logins": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {}
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "GetIdentityPoolRoles": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "Roles": {
                        "shape": "S1c"
                    },
                    "RoleMappings": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "GetOpenIdToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Token": {}
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "GetOpenIdTokenForDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Logins"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    },
                    "TokenDuration": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Token": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "GetPrincipalTagAttributeMap": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderName"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "ListIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "MaxResults"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "HideDisabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "Identities": {
                        "type": "list",
                        "member": {
                            "shape": "Sv"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "ListIdentityPools": {
            "input": {
                "type": "structure",
                "required": [
                    "MaxResults"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPools": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityPoolId": {},
                                "IdentityPoolName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "LookupDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityId": {},
                    "DeveloperUserIdentifier": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "DeveloperUserIdentifierList": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "MergeDeveloperIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceUserIdentifier",
                    "DestinationUserIdentifier",
                    "DeveloperProviderName",
                    "IdentityPoolId"
                ],
                "members": {
                    "SourceUserIdentifier": {},
                    "DestinationUserIdentifier": {},
                    "DeveloperProviderName": {},
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "SetIdentityPoolRoles": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Roles"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "Roles": {
                        "shape": "S1c"
                    },
                    "RoleMappings": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "SetPrincipalTagAttributeMap": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderName"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "UnlinkDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "IdentityPoolId",
                    "DeveloperProviderName",
                    "DeveloperUserIdentifier"
                ],
                "members": {
                    "IdentityId": {},
                    "IdentityPoolId": {},
                    "DeveloperProviderName": {},
                    "DeveloperUserIdentifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "UnlinkIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "Logins",
                    "LoginsToRemove"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    },
                    "LoginsToRemove": {
                        "shape": "Sw"
                    }
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "UpdateIdentityPool": {
            "input": {
                "shape": "Sk"
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S9": {
            "type": "list",
            "member": {}
        },
        "Sb": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ProviderName": {},
                    "ClientId": {},
                    "ServerSideTokenCheck": {
                        "type": "boolean"
                    }
                }
            }
        },
        "Sg": {
            "type": "list",
            "member": {}
        },
        "Sh": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sk": {
            "type": "structure",
            "required": [
                "IdentityPoolId",
                "IdentityPoolName",
                "AllowUnauthenticatedIdentities"
            ],
            "members": {
                "IdentityPoolId": {},
                "IdentityPoolName": {},
                "AllowUnauthenticatedIdentities": {
                    "type": "boolean"
                },
                "AllowClassicFlow": {
                    "type": "boolean"
                },
                "SupportedLoginProviders": {
                    "shape": "S5"
                },
                "DeveloperProviderName": {},
                "OpenIdConnectProviderARNs": {
                    "shape": "S9"
                },
                "CognitoIdentityProviders": {
                    "shape": "Sb"
                },
                "SamlProviderARNs": {
                    "shape": "Sg"
                },
                "IdentityPoolTags": {
                    "shape": "Sh"
                }
            }
        },
        "Sv": {
            "type": "structure",
            "members": {
                "IdentityId": {},
                "Logins": {
                    "shape": "Sw"
                },
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                }
            }
        },
        "Sw": {
            "type": "list",
            "member": {}
        },
        "S10": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1c": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1e": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "Type"
                ],
                "members": {
                    "Type": {},
                    "AmbiguousRoleResolution": {},
                    "RulesConfiguration": {
                        "type": "structure",
                        "required": [
                            "Rules"
                        ],
                        "members": {
                            "Rules": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Claim",
                                        "MatchType",
                                        "Value",
                                        "RoleARN"
                                    ],
                                    "members": {
                                        "Claim": {},
                                        "MatchType": {},
                                        "Value": {},
                                        "RoleARN": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "S1s": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S4": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S8": {
            "type": "list",
            "member": {}
        },
        "Sa": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ProviderName": {},
                    "ClientId": {},
                    "ServerSideTokenCheck": {
                        "type": "boolean"
                    }
                }
            }
        },
        "Sf": {
            "type": "list",
            "member": {}
        },
        "Sj": {
            "type": "structure",
            "required": [
                "IdentityPoolId",
                "IdentityPoolName",
                "AllowUnauthenticatedIdentities"
            ],
            "members": {
                "IdentityPoolId": {},
                "IdentityPoolName": {},
                "AllowUnauthenticatedIdentities": {
                    "type": "boolean"
                },
                "SupportedLoginProviders": {
                    "shape": "S4"
                },
                "DeveloperProviderName": {},
                "OpenIdConnectProviderARNs": {
                    "shape": "S8"
                },
                "CognitoIdentityProviders": {
                    "shape": "Sa"
                },
                "SamlProviderARNs": {
                    "shape": "Sf"
                },
                "IdentityPoolTags": {
                    "shape": "Sg"
                }
            }
        },
        "Su": {
            "type": "structure",
            "members": {
                "IdentityId": {},
                "Logins": {
                    "shape": "Sv"
                },
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                }
            }
        },
        "Sz": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1b": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1d": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "Type"
                ],
                "members": {
                    "Type": {},
                    "AmbiguousRoleResolution": {},
                    "RulesConfiguration": {
                        "type": "structure",
                        "required": [
                            "Rules"
                        ],
                        "members": {
                            "Rules": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Claim",
                                        "MatchType",
                                        "Value",
                                        "RoleARN"
                                    ],
                                    "members": {
                                        "Claim": {},
                                        "MatchType": {},
                                        "Value": {},
                                        "RoleARN": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "Sr": {
            "type": "structure",
            "members": {
                "IdentityId": {},
                "Logins": {
                    "shape": "Ss"
                },
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                }
            }
        },
        "Ss": {
            "type": "list",
            "member": {}
        },
        "S18": {
            "type": "map",
[...]
